[2020-05-12 21:02] matti commented on #4131
and I (or my co-worker) was able to repro this today again just by changing the skaffold version back to 1.8.0 (thanks to asdf-vm.com)

[2020-05-12 21:15] yuwenma commented on #3828
Is there a way to specify the cluster name? From the examples/generate-pipeline, it seems that the skaffold image doesn't need the cluster to be specified.
https://github.com/GoogleContainerTools/skaffold/blob/master/examples/generate-pipeline/expectedPipeline.yaml#L31

[2020-05-12 21:16] briandealwis commented on #4088
I've dug into it more and now understand my original reason for this issue.  The problem can be seen when running `skaffold debug` on [`examples/hot-reload/python`](https://github.com/GoogleContainerTools/skaffold/examples/hot-reload/python) where the Python image fails with

    /usr/local/bin/python: No module named flask

The problem is that `skaffold debug` sets `PYTHONUSERBASE` to the [debug-

[2020-05-12 22:17] tstromberg opened #4161 "undefined artifact type: {DockerArtifact:<nil> BazelArtifact:<nil> JibArtifact:<nil> KanikoArtifact:0xc0003150e0 BuildpackArtifact:<nil> CustomArtifact:<nil>}"
Thanks @tejal29 I tried changing the kaniko-secret to match the hard-coded one and it works.
However, I encountered a new issue. Here's the error code
[code]

I did specified an artifact KainkoArtifact in my skaffold.yaml
[code]
Wondering it complains that the artiact type is not defined. @nkubala @tejal29

_Originally posted by @yuwenma in https://github.com/GoogleContainerTools/skaffold/issues/3

[2020-05-12 22:17] tstromberg commented on #4161
I'll see about improving this error message.

[2020-05-13 00:10] balopat commented on #4094
This currently fails on kubectl 1.18:

[code]

[2020-05-13 01:55] halfmatthalfcat commented on #4161
I ran into this because `cluster: {}` wasn't defined as well

[2020-05-13 04:56] dgageot commented on #4161
yes, I think what it's trying to tell you is that kaniko type of artifact is not supported by the `local` builder, which is the default builder if none is set.

[2020-05-13 05:00] dgageot commented on #4094
Strange, it does work for me with these settings:

[code]

Pretty sure it worked with `1.18.0` when I tested it the first time. Could that be something that wasn't already in `v1.18.0-alpha.0.1568+ff8cf507dc5476-dirty`. I mean, that's a development version.

[2020-05-13 06:13] ashconnell opened #4163 "Change the default behavior to forward ports?"
### Expected behavior
Running `skaffold dev` would bind user-defined port-forwarding by default - OR - allow you to configure it to be bound automatically without the need for the `--port-forward` argument.

### Actual behavior
I couldn't find a way to do this. Additionally, I tried defining them in a profile that auto-activates but the ports still don't forward without adding the `--port-forward`

[2020-05-13 07:01] dgageot commented on #4163
`--port-forward` has to be set to true manually, on the command line. Is that `pointless`, I don't know... It used to be on by default but people found that too intrusive.

[2020-05-13 07:27] dgageot commented on #4094
@balopat I've just tested with 1.8.0 and it works too. The issue seems to come from your alpha version if kubectl. I'll let you close this issue if that's the case.

[code]

[2020-05-13 07:39] ashconnell commented on #4163
I wonder if the reason they find it intrusive was due to auto port forwarding as opposed to the user defined port forwards.

I'm curious how people are developing applications if they can't access them.

The two common examples i assume are Websites and API's

Websites need to a port forwarded so that you can view it in the browser while developing.

API's need the port forwarded so the website ca

[2020-05-13 07:58] dgageot commented on #4163
For eg, users that develop with Docker Desktop have automatic port forwarding so they don't need skaffold to start its own.

[2020-05-13 13:41] thclark commented on #3946
I'm experiencing the same, and thought an additional MRE would be helpful. In my case running postgres:

### skaffold.yaml:
[code]

### k8s/postgres.yaml
[code]

Run without the `status-check=false` workaround, the logs say:
[code]

[2020-05-13 14:54] matti opened #4164 "skaffold dev --default-repo removes service colors from the output"
version 1.9.1 (also tested with 1.8.0)
[code]
![image](https://user-images.githubusercontent.com/3893/81828383-6bf7bf00-9542-11ea-9e54-7ff877aa4c45.png)

[code]
![bin_amp_and_Lens](https://user-images.githubusercontent.com/3893/81828292-508cb400-9542-11ea-9b8c-2b49b356b98a.png)

[2020-05-13 15:02] pre commented on #4140
There is also a related bug: if you have a namespace defined in your current context of kube-config, skaffold sync will fail for assets deployed not in this exact namespace. See https://github.com/GoogleContainerTools/skaffold/issues/1668#issuecomment-595752550

These practically mean that (at for me) skaffold needs to be wrapped around a script like this: https://github.com/GoogleContainerTools/s

[2020-05-13 15:37] etanshaul opened #4166 "Java deployment doesn't stabilize when using `skaffold debug` and buildpacks"
Skaffold `1.9.1`
Using the Cloud Code Java sample: https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/java/java-hello-world

Building using buildpacks (snippet from `skaffold.yaml`):
[code]

Outcome when running `skaffold debug`:
Hangs on
[code]

Note: running in `skaffold dev` mode + buildpacks works fine and the app starts.

<details><summary>Debug level output</summary>
<p>

[2020-05-13 15:38] etanshaul commented on #4166
@briandealwis fyi

[2020-05-13 15:45] etanshaul opened #4167 "Multi-artifact Java project fails to build with buildpacks"
Skaffold `1.9.1`

Running `skaffold dev`

Using Cloud Code guestbook sample consisting of a backend and a frontend artifact:
https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/java/java-guestbook

skaffold.yaml artifacts section:
[code]

Build fails:
[code]

<details><summary>Verbose output;</summary>
<p>

[code]

</p>
</details>

Am I misconfiguring the project?

[2020-05-13 15:51] etanshaul commented on #4167
closing. my fault - forgot to configure the `context`.

[2020-05-13 16:35] prary opened #4168 "check-schema-changes has confusing error when released schema is modified"
Was fixing my stale PR  [https://github.com/GoogleContainerTools/skaffold/pull/3346](PR) which earlier failed on `make checks` for some import disorder. Merged latest master code and ran ```make checks``` which again failed on ```hack/check-schema-changes.sh```. I am bit confused how master builds are passing. Tried with fresh cloned code on master branch but failing on the ```hack/check-schema-ch

[2020-05-13 20:20] tejal29 commented on #1276
@mxey, so yiu are using `skaffold dev` to just build your images.
As part of your development workflow, you dont want to deploy them to a cluster?

Just curious,
How do developers test (other than unit test and container structure tests) the built container application? do you use any other tools to deploy?

[2020-05-13 21:28] briandealwis commented on #4166
Oh nice find.  The cause is that we've changed the command line to:
[code]

For buildpacks-created images, `debug` rewrites the configured process command-line and passes it to the CNB launcher as

    /cnb/lifecycle/launcher -- <rewritten command line>

The launches then executes the command line directly after processing any environment changes.  But in the Java case, we don't rewrite the comman

[2020-05-13 23:41] balopat commented on #4158
As I'm thinking about this, maybe it is a good idea to fail the first build on _infrastructure_ errors. This would require us to start to differentiate a bit more smarter around error types - which is actually something @tejal29 started already.

[2020-05-13 23:52] angry-cellophane opened #4175 "volume structures (mountPath, persistentVolumeClaim) must be lower-case to avoid unmarshal error"
Follow-up to the issue reported in the comments of this question - https://github.com/GoogleContainerTools/skaffold/issues/3883

### Expected behavior
Skaffold parses the config and builds the image.

### Actual behavior
Fails to parse the config

[code]

### Information

- Skaffold version: v1.9.0-25-gd7d0e8713-dirty
- Operating system: Ubuntu 18.04.4 LTS
- Contents of skaffold.yaml:

[code]

###

[2020-05-13 23:53] angry-cellophane commented on #4175
There is an open PR in go-yaml to support json tags https://github.com/go-yaml/yaml/pull/564

[2020-05-14 00:43] #3922 closed

[2020-05-14 01:05] ashconnell commented on #4163
FWIW I would prefer `skaffold dev` to:

1. By default forward no ports
1. If there are user defined ports in the `skaffold.yaml` file then forward them (if you don't want them don't add them)
1. If autoPortForwarding (or some other field) is true in `skaffold.yaml` then forward ports for all services automatically (if you don't want this don't enable it)

All of this helps to create a simple workf

[2020-05-14 08:50] roccolangeweg opened #4177 "Skaffold Local Build says no space left on device"
### Expected behavior
When running `skaffold dev` with a local builder to have the image built succesfully when there is enough space left in the docker disk (10GB free).

### Actual behavior

When building the following error occurs:

[code]

When running `docker build .` the image is built succesfully.

There is plenty of disk space available (30GB+) and Docker also has 10GB free on the disk.

#

[2020-05-14 09:37] roccolangeweg commented on #4177
Just did another test, and even after factory resetting Docker for Mac there is still the same error.

[2020-05-14 11:43] dgageot commented on #4168
@prary This fails because your PR makes changes to a schema that was already released. You cannot change anything in `pkg/skaffold/schema/latest/config.go b/pkg/skaffold/schema/latest/config.go`. It requires to create a new schema, which @tejal29 just did.

[2020-05-14 11:44] dgageot commented on #4164
I can reproduce. Let me take a look

[2020-05-14 11:45] #4166 closed

[2020-05-14 12:23] thclark commented on #4163
Oh my god! Finally! I could no figure out for the life of me why I couldn't access any of my services.

Yup, absolutely second @ashconnell - if skaffold aims to be simple enough for junior developers (and senior developers like me :cry: ), rather than devops engineers, I think this'd be helpful as a default. Because I was looking at all the files in my `k8s` directory and going "But the ports are

[2020-05-14 13:08] limbuu commented on #4106
+1

[2020-05-14 14:09] thclark opened #4179 "skaffold run --command (or exec) helpful for developers"
### Scenario

The (related) possibility of a `skaffold exec` command has been discussed before (eg in #252 ) but in that case it added little, and was kind of discussed in the abstract.

I feel like there are some a concrete use cases for a `run --command` or `exec` style addition to the CLI, which causes skaffold to
- start services in a cluster
- with one of them started with an arbitrary comman

[2020-05-14 14:30] etanshaul opened #4180 "Go app buildpack failure: can't load package"
Not sure if I'm misconfiguring buildpacks here..

skaffold `1.9.1`

Using the Go Cloud Code hello-world sample: https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/golang/go-hello-world

skaffold.yaml (identical to the sample, with extra buildpack config):
[code]

Running `skaffold dev` or `skaffold debug`
-> Build failure

`Failure: can't load package: package hello-world: unkno

[2020-05-14 14:33] etanshaul commented on #4180
@dgageot @briandealwis fyi. Am I doing something silly here?

[2020-05-14 15:07] lautaro-eb commented on #3124
Is it not a good idea to omit swap files by default?

[2020-05-14 15:19] dgageot commented on #4180
I think the problem is twofold. Nothing serious:
 + Buildpacks can't build your app, the same way `go build .` can't. You have to say in which package your entrypoint is since it's not in the root package. This is done with `GOOGLE_BUILDABLE=cmd/hello-world/main.go` envvar.
+ If the sample was using go 1.14, you'd have a clearer message. Something like:
[code]
With older versions of Go, we get a d

[2020-05-14 15:24] briandealwis commented on #4180
We could even check if there are any .go files in `GOOGLE_BUILDABLE` and warn, can't we?

[2020-05-14 15:27] dgageot commented on #4180
Yes.

[2020-05-14 21:14] briandealwis commented on #3712
I support this request.  I use jobs to run checks, and I'm fortunate that the `gcr.io/cloud-builders/kubectl` image includes a number of useful tools such that I can just script them directly within the job's yaml definition:

[code]

But because I didn't create this as an image, Skaffold doesn't show logs.

Skaffold annotates the actual k8s object — it has a run-id, it has `skaffold.dev/tail = tr

[2020-05-14 23:46] balopat commented on #4158
I realized that this is a bit more subtle: one issue that we'll have to resolve if we go down this route: currently skaffold assumes that everything was built & deployed once at least as a _baseline_, then every file change triggers only an _incremental_ change on top of that.

Now, if we want to change this behavior, that means that we'll need to keep track of which artifacts hasn't been built ye

[2020-05-15 00:28] #4164 closed

[2020-05-15 06:23] dgageot commented on #4131
I'm going to close that issue because the fix was not released in v1.9.1. However, it is in master branch. v1.9.1 was the cherry-picking of a single PR, not the one that fixes this.

[2020-05-15 06:23] #4131 closed

[2020-05-15 06:25] dgageot commented on #4129
@briandealwis yes, it's caused by `pflags` strange behaviour. Any idea how we could fix that on the Skaffold side?

[2020-05-15 10:55] stanislav-zaprudskiy commented on #4139
Some additional environment information:
* iTerm Build 3.3.9 / Terminal Version 2.10 (433)
* Bash
[code]

[2020-05-15 11:04] stanislav-zaprudskiy commented on #4140
Would setting to deploy only in a valid context work? You can achieve this via profiles activation - https://skaffold.dev/docs/environment/profiles/#activation. We just set up all deployments inside the profiles section, which gets activated only when in a proper context (`docker-desktop`, `microk8s`, etc) is used by kube-config.

[2020-05-15 17:16] balopat commented on #4160
Here is the thought how we could do this:

I would improve the testing framework so that

- Every integration test must state a timeout in seconds how long they should run for maximum (including error scenarios!), e.g. 10s, 30s, 60s
- An "enumeration" mode would enable to collect tests instead of running them, so that the scheduler can collect all the tests and their required maximum timeout accor

[2020-05-15 17:37] balopat commented on #4160
[code]

[2020-05-15 18:10] briandealwis commented on #4129
See #4089. I’ve started on a fix for pflags, but it’s a laborious chore.

[2020-05-15 18:20] davidfernandezm opened #4191 "Sync is not working with helm and jib"
### Expected behavior

Synced files should work

### Actual behavior

No watching or syncing happening, no files going into the pod

### Information

- Skaffold version: 1.9.1
- Operating system: Mac OS X Catalina 10.15.4
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project: I cannot reproduce easily in the current pro

[2020-05-16 01:29] balopat opened #4198 "Kind image loading is broken in TestDev_WithKubecontextOverride"
Kind loading is broken in `TestDev_WithKubecontextOverride` - it cannot be called on its own.

[code]

I'm thoroughly puzzled still why it can pass with other tests around / before it.
My best bet is that somehow artifact caching makes it skip the `kind load` - but I couldn't reliably reproduce it yet locally.

[2020-05-16 01:54] #4160 closed

[2020-05-16 05:34] pierreyves-lebrun commented on #4149
I am having a hard time figuring out what you mean so let me explain how I develop applications and you can do the same.

Originally I used to install all project dependencies and tooling locally. So in the case of a node project I would install all node modules and VSCode extensions on my laptop.

To be noted that I already was using Docker but still node modules needed to be installed locally as

[2020-05-17 00:06] dranes commented on #4175
I ran into this issue too but looking around found this other issue
https://github.com/go-yaml/yaml/issues/320#issuecomment-359259319

Basically, from the documentation, they stated:

so you could lowercase your fields and it should work, for example:

[code]

I wrote down two tests to observe this behavior that at this time I don't know if it is a bug or intended.

Failing Test:
https://travis-ci

[2020-05-17 10:14] vishal-biyani commented on #4090
I have been able to reproduce this with GKE cluster too and using all following ways to set a default-repo and I can clearly reproduce this issue even with Skaffold version 1.9.1

- Set default-repo in global config
- Set default-repo in Kube context config
- Set default repo variable when calling scaffold command

One interesting thing when I cancel deploy after realizing the problem is these two

[2020-05-18 16:21] dgageot commented on #4191
ping @GoogleContainerTools/java-tools-build will jib know that `lombok.config` is a dependency?

[2020-05-18 16:23] dgageot commented on #4180
I'm going to close this issue here. I've opened two issues on the buildpacks themselves:
https://github.com/GoogleCloudPlatform/buildpacks/issues/29 and https://github.com/GoogleCloudPlatform/buildpacks/issues/30

[2020-05-18 16:23] #4180 closed

[2020-05-18 16:28] loosebazooka commented on #4191
Thats interesting. How is the jib build configured? Can you run `./gradlew :<project>:_jibSkaffoldFilesV2 ` to see which files jib-skaffold is trying to watch? <-- `lombok.config` should be in here?

[2020-05-18 19:27] dgageot commented on #4094
Let's close the issue

[2020-05-18 19:27] #4094 closed

[2020-05-18 19:56] dgageot commented on #4161
@tstromberg did you get a chance to work on this one?

[2020-05-18 20:00] dgageot commented on #4139
@stanislav-zaprudskiy Hitting a key only triggers something if there's a file change. Did you change files?

[2020-05-18 20:44] #4005 closed

[2020-05-18 20:59] #3316 closed

[2020-05-18 20:59] tstromberg commented on #4140
Thanks for opening this!

I also agree with @dgageot on this one. Never point your default to production, otherwise you will invariably mutate production accidentally. This goes not only for skaffold, but for any tool that interacts with a cluster.

Someone will invariably shoot themselves in the foot with the defaults some day, but forcing a specific context would make skaffold more confusing for

[2020-05-18 20:59] #4140 closed

[2020-05-18 21:01] tstromberg commented on #3642
I too saw this when working on the helm deployer, and stopped short of fixing it because my PR was getting complicated. I'll take a look at fixing this.

[2020-05-18 21:03] tstromberg commented on #3565
Closing because we haven't heard back. Please comment when you get a chance to update this.

[2020-05-18 21:03] #3565 closed

[2020-05-18 21:04] tstromberg commented on #3685
Closing because we haven't heard back. Please comment when you get a chance to update this.

[2020-05-18 21:08] tstromberg commented on #4177
Hey @roccolangeweg - I'm pretty sure this is a minikube environment issue, which is fine because I work on that project too. Can you share the output of:

* `minikube version`
* `minikube profile list`
* `minikube ssh "df -k / /var /data"
* `kubectl get no -A`

Thanks!

[2020-05-18 21:12] tstromberg commented on #4168
I think we can make the error message here clearer.

[2020-05-18 21:13] shadiramadan commented on #4140
No problem @tstromberg, @dgageot.  I made this ticket out of me having a quick panic when I was about to run a skaffold command and thought to myself- how does it know which context to use?

I ended up explicitly setting the `kubeContext` field that @stanislav-zaprudskiy  pointed out to `minikube`.

I'm trialing skaffold as I want to drop docker-compose and have our team develop on k8s directly.
I

[2020-05-18 21:15] tstromberg commented on #4161
Yes, but my PR to fix it wasn't exactly ideal, so I'm continuing to work on it.

[2020-05-18 21:20] tstromberg commented on #4132
The meat of the error is:

`unauthorized: You don't have the needed permissions to perform this operation, and you may have invalid credentials. To authenticate your request, follow the steps in: https://cloud.google.com/container-registry/docs/advanced-authentication`

Does this command work for you?

`docker pull gcr.io/chelseamarket/p/java-hello-world:latest`

[2020-05-18 21:21] tstromberg commented on #3871
@petr-buchin - any  luck?

[2020-05-18 22:30] tstromberg commented on #4090
FWIW, I tried to reproduce locally but the instructions are incomplete:

[code]

Yielded:

`failed to build: couldn't build "fission": dockerfile "/private/tmp/repro/cmd/fission-bundle/Dockerfile.fission-bundle" not found`
`

I decided to just grab the entire repo and try again:

[code]

and things seemed to run successfully, though I did see the same warnings:

[code]

The warning makes be suspic

[2020-05-18 23:41] WilliamB17 opened #4218 "Support for GitHub Package repository (does not support pull by digest)"
I use [Github Package](https://github.com/features/packages) as registry for Docker.

In the documentation of Github, [here](https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-docker-for-use-with-github-packages), it says:

and in the Skaffold documentation, [here](https://skaffold.dev/docs/pipeline-stages/taggers/), it says:

I understand Skaffold's

[2020-05-19 02:58] matthewmichihara commented on #4132
[code]

That worked. Had a discussion with @briandealwis about this and the issue seems to be that I don't have `ImagePullSecrets` configured for this D4D cluster (https://blog.container-solutions.com/using-google-container-registry-with-kubernetes) so this is probably not a Skaffold bug, but I thought I'd keep this issue open for discussion. Feel free to close if you think there's nothing to be d

[2020-05-19 06:18] dgageot commented on #4218
@WilliamB17 did you have an issue with Github Package? Skaffold does push using `IMAGE_NAME:VERSION`. When it references those images in the Kubernetes yaml files, it uses the `IMAGE_NAME:VERSION@SHA` form though. Which should be totally ok.

[2020-05-19 06:26] vishal-biyani commented on #4090
Hi @tstromberg Thanks for trying it out - but there the logs are actually misleading. In the same log, you can see below (Which is also visible in your log):

[code]
And no release is deployed at all, but finally, Skaffold job exits with exit code 0.

[2020-05-19 06:31] dgageot commented on #4132
Yeah, this is not a Skaffold bug. I wonder what Skaffold could do better though. @matthewmichihara any idea?

[2020-05-19 08:24] WilliamB17 commented on #4218
@dgageot Yes, in Github's documentation it says that you can't push and pull with `SHA`. The image is pushed on the Github registry, however in my cluster k8s I can't pull the image. I've tried this locally and I can't pull an image with a digest.

[2020-05-19 08:58] dgageot commented on #4218
@WilliamB17 Could you share the logs that make you think this is the issue? I have the feeling that the problem might be different. See https://kubernetes.io/docs/concepts/containers/images/#using-a-private-registry to understand how Kubernetes pulls images from private registries.

[2020-05-19 10:01] pre commented on #3685
@tstromberg the issue still exists. Here’s instructions for reproducing it: https://github.com/GoogleContainerTools/skaffold/issues/1668#issuecomment-595752550

That other issue was closed earlier for some reason but the problem is the same.

I can open a new issue if that’s needed but i think all the required info is in https://github.com/GoogleContainerTools/skaffold/issues/1668#issuecomment-595

[2020-05-19 11:00] davidfernandezm commented on #4191
`lombok.config` is just an example of file that should be synced to the container. It could've been any txt or similar. I run a regular `skaffold dev` like the above, and the file never reaches the container, neither nothing gets printed in the logs. I scanned many issues around here.

I will try and test your command @loosebazooka and come back

[2020-05-19 11:02] davidfernandezm commented on #4191
When using JIB with Skaffold, can't I do then manual sync? all the files should be included as JIB dependencies so skaffold watches them? Could this be the issue?

[2020-05-19 14:38] matthewmichihara commented on #4132
Haven't really thought this through but could Skaffold set up this `ImagePullSecret` for me? Or would you say that is not Skaffold's responsibility

[2020-05-19 15:08] WilliamB17 commented on #4218
For give an example I use [this](https://github.com/WilliamB17/kuard).
the Docker image is pushed [here](https://github.com/WilliamB17/kuard/packages).

<img width="1273" alt="Screenshot 2020-05-19 at 16 54 30" src="https://user-images.githubusercontent.com/17731120/82342876-6f7fc000-99f2-11ea-850a-9d2c4fdde64f.png">
<img width="1262" alt="Screenshot 2020-05-19 at 16 54 09" src="https://user-image

[2020-05-19 18:54] #4198 closed

[2020-05-19 19:12] briandealwis opened #4225 "dev should not error out on introduced error to skaffold.yaml"
Follow-on to #4158: skaffold dev shouldn't error out on a typo to `skaffold.yaml`.  I made a mistake while uncommenting and forgot to uncomment a line to produce an invalid yaml:
[code]

and Skaffold then exited.

[2020-05-19 21:02] nkubala opened #4226 "Release v1.10.0"

[2020-05-19 21:17] nkubala opened #4228 "Add option to ignore labels in `skaffold render`"
we should add the ability to exclude runner-specific labels from the rendered manifests. some of these are nice to have as metadata on pods created during development, but aren't very useful for rendered manifests that get committed to git repos. we can still leave the `app.kubernetes.io/managed-by` label.

`skaffold render --no-labels`

[2020-05-19 21:26] pcracknell opened #4229 "skaffold dev --port-forwarding with multiple profiles does not forward all ports"
### Issue
I am creating port forwarding schemes for multiple profiles but noticed it doesn't forward any but the last profile. Notice the example below using a modified version of the microservice example within master. I'm aware of [issue 2733](https://github.com/GoogleContainerTools/skaffold/issues/2733) and can confirm it is fixed in the version I have. I believe this is a different issue.

###

[2020-05-19 22:14] #4226 closed

[2020-05-20 02:11] paultiplady commented on #4179
This is one of the use-cases that is fairly awkward to support in skaffold currently. I've just implemented a solution for Django migrations so I thought I'd share the hoops I had to jump through for context.

For a long time I've been using initContainers to run my DB migrations in Django. You don't want to use initContainers in your main workload Deployment, because you could have multiple repli

[2020-05-20 06:35] shashang29 commented on #3946
I had the same problem. For me it turned out my secret pod wasn't running. I created a secret object again and everything worked fine. I hope this helps in someway

[2020-05-20 07:04] alewis001 commented on #4228
Seeing as my question in slack prompted this, the least I can do is have a go at contributing it :)

I've not done any development in Go before but I'll do my best to get this done soon; it helps that it's marked as "good first issue", that gives me some confidence ;)

[2020-05-20 08:06] giladsh1 commented on #3946
@shashang29 thanks for the input!
can you please explain WDYM by secret pod?

[2020-05-20 12:10] MarcoSchaar opened #4231 "How to combine kubectl and helm deployments during init?"
Hi
while playing with some deployment setup question came up:

How could be kubectl and helm deployment combined in on skaffold.yaml, especially during init phase?
any example is appreciated.
regards
Marco

[2020-05-20 12:16] MarcoSchaar commented on #4231
btw. while testing new release 1.10. at windows:
skaffold-windows-amd64.exe is not working

[2020-05-20 12:53] KptMarchewa opened #4232 "Using kustomize buildin in kubectl breaks compatibility with kustomize 3.X features"
### Expected behavior

Skaffold will continue working with kustomize 3.X features if I have kustomize binary in PATH.

### Actual behavior

Skaffold forces using outdated kubectl version of kustomize

### Information

- Skaffold version: version 1.10
- Operating system: OS X 10.15.4

This problem with buildin kustomize is relevant to me
https://github.com/kubernetes-sigs/kustomize/issues/1373#issu

[2020-05-20 13:32] niklasbuechner commented on #4232
I have unfortunately the same problem. We have been using kustomize `v3.5.4` which now fails. Is there a workaround available?

[2020-05-20 14:49] KptMarchewa commented on #4232
@niklasbuechner my workaround is to downgrade to 1.9.1.

[2020-05-20 14:50] pcracknell opened #4234 "v1.10.0 binaries released for macOS & Windows are actually ELF 64-bit binaries (Linux)"
I am trying to run v1.10.0 release on Mac

### Expected behavior
Execute skaffold and be presented with help information

### Actual behavior
`bash: ./skaffold-darwin-amd64: cannot execute binary file`

### Information

- Skaffold version: v1.10.0
- Operating system: Mac OSX 10.14.6

### Steps to reproduce the behavior

1. Follow release [instructions](https://github.com/GoogleContainerTools/skaff

[2020-05-20 14:53] ncthbrt opened #4235 "v1.10.0 on Windows: The specified executable is not a valid application for this OS platform"
After downloading the v1.10.0 [win amd64 binary](https://storage.googleapis.com/skaffold/releases/v1.10.0/skaffold-windows-amd64.exe), I attempted to run it via the cli as per usual, and received the following error message:

[code]
I downloaded a fresh binary again to ensure that it wasn't simply a network issue, and got the same problem

[2020-05-20 14:55] ncthbrt commented on #4234
I'm experiencing a similar issue on Windows as well (#4235 )

[2020-05-20 16:21] loosebazooka commented on #4191
yeah unfortunately the way sync works, even in manual mode (@dgageot?) is that only files that are watched can be sync'd.

There are some workarounds here, but do require you to track the files in the `build.gradle`(not necessarily include them in the build thought)

The `skaffold` config block in the `jib` block allows you to kinda modify what information jib presents to skaffold.

so you could d

[2020-05-20 16:58] alewis001 commented on #4228
@nkubala I have a branch where I've made some progress (hopefully you'll see it as progress): [alewis001/skaffold/feature-4105](https://github.com/alewis001/skaffold/tree/feature-4105)

This change filters the skaffold.dev labels for the kustomize deployer.

I tried to keep the changes as isolated as possible to avoid too many things having to know that the what the `no-labels` flag is, and whethe

[2020-05-20 17:14] tstromberg commented on #4149
I'm not sure I entirely agree here: Skaffold can be quite useful when run remotely, and can be run from within a Kubernetes cluster.

I totally agree that this is where the future of software development is heading, and I think Skaffold can definitely help enable it. This is likely why for instance, Google Cloud SHell includes Skaffold.

At the moment, Skaffold is taking a more neutral building-bl

[2020-05-20 17:19] tstromberg commented on #3843
I looked through #3929 and don't see how it would fix this issue?

[2020-05-20 17:21] tstromberg commented on #4179
Adding for discussion.

[2020-05-20 17:24] tstromberg commented on #3116
Has anyone seen this recently?

I can't determine if this is a bug -- in that Skaffold doesn't read certificates from Jib -- or a documentation issue, where we need to provide clearer docs as to how to plumb custom certificates into Skaffold.

[2020-05-20 17:32] tstromberg commented on #4234
Thank you for the heads up. I'll attempt to reproduce.

[2020-05-20 17:32] tstromberg commented on #4235
Thank you for the heads up. I'll attempt to reproduce.

[2020-05-20 17:33] tstromberg commented on #4232
/cc @balopat

[2020-05-20 17:36] paultiplady commented on #4179
FWIW, I think that adding first-class Skaffold support for running repeated k8s Jobs might be a better/more flexible way of solving this usecase than doing a `kubectl exec`, since in principle your Job might want to run in a different container, and mount different secrets/configmaps. But just adding a field to the Skaffold profile to specify which pod:container should be the exec target could wor

[2020-05-20 17:41] tstromberg commented on #4235
This is the same issue as #4234

[2020-05-20 17:41] #4235 closed

[2020-05-20 17:42] tstromberg commented on #4234
This also affects Windows.

[2020-05-20 17:43] tstromberg commented on #4231
@MarcoSchaar - The latter is #4234

[2020-05-20 17:50] joberdick commented on #3798
This does feel wrong to default to force. Can we atleast get a way to over-ride via skaffold.yaml?

I dont want to have to tell all of our dev teams to add the --force=false command. If we have it exposed in the skaffold.yaml that we can let folks copy, its less of pain on the end user.

[2020-05-20 17:52] nkubala commented on #4232
i broke this in https://github.com/GoogleContainerTools/skaffold/pull/4183. i'm going to revert this change for now and do a hotfix release until we can figure out how to properly address this. sorry for the inconvenience 😞

[2020-05-20 18:36] lucacasonato commented on #4218
I can reproduce this. You can not pull from GitHub Package Registry using a the `...@sha256...` syntax.

[2020-05-20 18:50] #4232 closed

[2020-05-20 19:04] lboudard commented on #4088
@briandealwis, encountering same issue on our end,  do you have any wokraround this?
having set PYTHONPATH env to site-packages doesn't seem to help
Thanks!

[2020-05-20 19:15] chanseokoh commented on #4218
Not being able to pull using a digest is the [current limitation of GitHub Packages](https://github.community/t5/GitHub-API-Development-and/Cannot-pull-docker-image-from-Github-Package-Registry-by-digest/m-p/33018#M3127) that is giving hard time to many people.

[2020-05-20 19:32] dgageot commented on #4218
That seems so unreal that they don't support that. It's a core feature of
Docker

On Wed, May 20, 2020 at 9:15 PM Chanseok Oh <notifications@github.com>
wrote:

[2020-05-20 19:37] #4234 closed

[2020-05-20 20:07] #2753 closed

[2020-05-20 20:24] briandealwis commented on #4229
Profiles support two methods for adding/changing/removing content: [via _replacement_](https://skaffold.dev/docs/environment/profiles/#override-via-replacement) and [via _patching_](https://skaffold.dev/docs/environment/profiles/#override-via-patches).  Your example is using the _replacement_ strategy, and so only one profile is "winning".  In fact, notice from your logs that only `leeroy-app` is

[2020-05-20 20:24] #4229 closed

[2020-05-20 22:08] MoogyG opened #4240 "Using "skaffold dev" inside gcr.io/k8s-skaffold/skaffold for local developement"
To ensure that all developers of my team use the same version of skaffold, I would like to use the official container for local developement with minikube.

Using a local version of skaffold (1.7.0) with `skaffold dev` works fine on my machine, every deployment is running.

When I try `docker run -v /var/run/docker.sock:/var/run/docker.sock -v "$(pwd):/src" -v "$HOME/.kube:/root/.kube" -v "$HOME/.

[2020-05-20 22:44] tstromberg commented on #4240
Can you run `kubectl describe` on the deployments to show where it is trying to pull the pods from?

The output of `skaffold dev` would also be helpful to understand where the images are being published to.

[2020-05-20 23:48] #2806 closed

[2020-05-21 03:56] briandealwis commented on #4088
You can decorate the pod / pod-template by hand.

To cause `debug` to skip the pod, add an annotation like the following:

      annotations:
        debug.cloud.google.com/config: "{}"

To enable Python debugging using `ptvsd`, add `ptvsd` to your requirements.txt, and then amend your k8s manifest to invoke `ptvsd` with your app.  You can use `skaffold debug -v debug` to see the amended manifests

[2020-05-21 06:19] MoogyG commented on #4240
Here is the result when using `skaffold dev` :

[code]

And here when using the docker container :

[code]

Finally, here is the output from `skaffold dev` :
[code]

[2020-05-21 14:02] rudolphjacksonm commented on #3479
I'm running into the same issue on my end. I can push images to ACR fine oddly enough, and that's after logging in to the container registry using the Azure CLI:
[code]
What I can't do for some reason is pull images from ACR. Running Skaffold in debug mode doesn't tell me much more about why the credentials aren't working:
[code]

[2020-05-21 15:16] no1melman commented on #3831
Happy to jump on zoom calls and that to talk through it

[2020-05-21 15:59] tstromberg commented on #4175
@dranes - Thank you for the workaround and root causing!

I believe this will be considered a documentation bug rather than a code bug, but I've added the discuss label so that we can chat about it next week.

[2020-05-21 16:03] #3171 closed

[2020-05-21 16:04] tstromberg commented on #3171
There is a lot going on in this issue - so if folks are still running into problems similar to this, please open a new issue containing a reproduction case and logs from the latest version of skaffold.

Thank you for sharing your experience!

[2020-05-21 16:05] tstromberg commented on #3124
@lautaro-eb - For many users, yes. From Skaffold's standpoint though, we cannot assert by file extension alone that something is a swap file or not. If it works for you, please add it to the .dockerignore.

[2020-05-21 16:08] chanseokoh commented on #3124
What's the recommendation for Jib uses who don't have .dockerignore?

[2020-05-21 16:25] tejal29 commented on #3946
We recently change the default status check deadline from 10 mins to 2 mins when we turned status check on by default.
Can you please update your `skaffold.yaml` and add [`statusCheckDeadlineSeconds`](https://skaffold.dev/docs/references/yaml/#deploy-statusCheckDeadlineSeconds)  to `deploy` config section to increase the status check deadline?

[2020-05-21 16:45] giladsh1 commented on #3946
@tejal29 thank you for the proposal.
I assume this will work, however it doesn't fix the init-containers logs streaming to the console, which is unfortunate.
I will test and reply soon

[2020-05-21 17:59] tstromberg commented on #3843
I tested this at head, but and it seems to be fixed now:

`cd examples/helm-deployment-dependencies`
`skaffold run -n triage-party`
`skaffold delete -n triage-party`

Please add a comment if you are still seeing this with the most recent Skaffold release.

[2020-05-21 18:00] #3843 closed

[2020-05-21 18:03] davidfernandezm commented on #4191
Thanks a lot @loosebazooka. I am very close to get something working properly, main issues atm with your workaround:

- I can't use 'auto' in Skaffold sync, this is a WAR project and it's not support (obscure error message)
- I am trying with 'manual' and it's fine for a single file. But with all the 'auto-xxx' (I press key to trigger, to make sure it is actioned while I watch) to false and for fo

[2020-05-21 18:19] tstromberg commented on #4240
Are you running the `docker run` command from inside of a minikube VM, or directly from the host? If from the host, my theory is that your dockerized `skaffold dev` incantation is pushing images to the host Docker daemon, and not the Docker daemon inside of minikube.

This is specifically due to:

`  Warning  Failed     18s (x2 over 35s)  kubelet, minikube  Failed to pull image "nginx:4301fa8e0daf

[2020-05-21 18:44] sujit-kamireddy opened #4243 "skaffold build fails if the artifact context is a substring of Docker"
* I have a simple hello-world app with a Dockerfile in a folder named 'Dock', directly under root directory. e.g. ${workspaceFolder}/Dock/Dockerfile

### Expected behavior
When I run skaffold build --filename skaffold.yaml, build should pass.

### Actual behavior
Getting the below error. It seems skaffold is looking for the Dockerfile at the wrong location (in the root folder as opposed to ${works

[2020-05-21 19:06] tstromberg commented on #4243
This sounds very very unusual. Good find!

[2020-05-21 19:39] loosebazooka commented on #4191
So in this case, do you mean you're changing the `.java` files? is the `KVP/**/*.class` path populated by some external build process that you are triggering?

Hrmm... maybe we should clean this up. Thanks for the feedback

[2020-05-21 19:39] tstromberg commented on #4090
Running `env TAG=213 ../skaffold/out/skaffold run --default-repo gcr.io/triage-party  -v debug` (against master), I see some messages that do indicate that there may be some confusion within skaffold on how to handle the combination of helm and default-repo:

[code]

That said, it does eventually proceed to:

[code]

I see a lot of pods that have issues pulling, but it seems it's because they are

[2020-05-21 20:33] yolkov commented on #3559
On the contrary, I would increase the priority, because we have to change our pipeline everywhere to specify the desired image. Without this bug, all pipelines will be universal skaffold deploy-p profilename. And because of the bug, we have to add -t myrepo/serviceA:fake for each service etc.
This is very inconvenient, breaks the flexibility.

[2020-05-21 22:24] chanseokoh commented on #3479
Can't reproduce. I'm using the latest `skaffold` and `az` on Linux. I logged in using `az`, and Docker CLI and Skaffold work as expected. Nothing special needed to make Skaffold work.
[code]
However, unlike the original comment, I'm not using a credential helper (i.e., no `credHelpers` or `credsStore` in `~/docker/config.json`).
[code]

I am deploying to OpenShift (CodeReady Containers) which pull

[2020-05-22 03:53] whyvez commented on #4081
I've hit the same issue trying to use Skaffold to build and deploy an Argo WorkflowTemplate.

[2020-05-22 04:53] vishal-biyani commented on #4090
Hi @tstromberg Thanks for taking a look again. The debug log is here: https://github.com/GoogleContainerTools/skaffold/issues/4090#issuecomment-629773876

The reason it fails with ImagePullBackOff is the image URL should have been `gcr.io/triage-party/fission` but as  you can see in the Helm arguments - default-repo is missed: `--set image=fission`. So default-repo you passed on CLI is never passe

[2020-05-22 07:33] rudolphjacksonm commented on #3479
Oddly enough the issue disappeared on my end. I'm still getting an error regarding gcloud creds at the beginning of the pipeline, but otherwise this seems to be behaving 🤷

[2020-05-22 08:18] davidfernandezm commented on #4191
Thanks for taking the time @loosebazooka,

`KVP/**/*.class` is indeed populated by IntelliJ IDEA compiling Java code.

Let me try to ellaborate the use case and see if I could use skaffold as a single tool for it:

- I run `skaffold dev` so the overall JIB build is observed and triggered manually (not on source changes). So when a batch of changes (in java files, in significant amount of parts of

[2020-05-22 13:25] pre opened #4246 "Skipping deploy due to sync error: copying files: didn't sync any files"
### TL;DR

Skaffold Sync depends on the current namespace in $KUBECONFIG. When you develop locally with `skaffold dev` and switch the current namespace in $KUBECONFIG as part of the dev flow, Skaffold Sync becomes unreliable.

This issue has been reported earlier but issues were just closed without a fix:
- https://github.com/GoogleContainerTools/skaffold/issues/3685
- https://github.com/GoogleCon

[2020-05-22 14:59] loosebazooka commented on #4191
It sounds like you're doing everything right.  I think I need to try this out locally to maybe figure out what's going on. Developers on holiday for the next 4 days, so might be slow.

[2020-05-22 23:17] MoogyG commented on #4240
You are right, the problem comes from the command `minikube docker-env` used internally by skaffold to connect to the minikube docker daemon, I got this warning :

[code]
It seems to be unsolvable, thanks anyway.

[2020-05-22 23:17] #4240 closed

[2020-05-23 15:31] vptimmy opened #4250 "skaffold dev times out after 5 minutes running on osx"
### Expected behavior
skaffold dev runs until completed

### Actual behavior
skaffold stops *exactly* after 5 minutes every time.

### Information
Using a macBookPro (2017) osx 10.15.4.  Consistently on any skaffold dev deployment it stops with error:
[code]
![Screen Shot 2020-05-23 at 10 42 18 AM](https://user-images.githubusercontent.com/25960940/82734351-7e16f180-9ce8-11ea-9790-d7fcec0db40a.png

[2020-05-23 17:04] matti opened #4251 "skaffold cache check fails if :latest tag is not found"
[code]

skaffold: 1.10.1

[2020-05-23 17:07] matti commented on #4251
after I push any image as latest then it says:

[code]

and builds the image

[2020-05-23 17:21] costinm opened #4252 "Documentation for older versions"
The doc seems to match the latest version - I found no link to the older versions, nor indication in the doc on when each keyword was added, and info about keywords that existed in prior versions and was removed.

Some tools are bundled with old version - like 1.7. At least v1 doc should be maintained and accessible.

[2020-05-23 18:23] foobarbecue commented on #3905
I also need this feature, because I need a CRD to be set up before I install resources of that kind. Adding namespace creation abilities to skaffold wouldn't help me. Either option 1 or 2 would be great.

[2020-05-23 18:25] matti opened #4253 "concurrent skaffold dev processes fail with RPC port conflicts"
start two skaffold dev processes concurrently:

[code]

[code]

the other one will exit because it fails to bind.

workaround:
[code]

[2020-05-23 18:26] foobarbecue commented on #4081
@whyvez, I have exactly the same problem. Did you find a workaround?

[2020-05-23 23:39] arvtiwar commented on #4177
@roccolangeweg please try "minikube delete" and recreate will solve this issue or add more memory to your minikube VM. hope this will help

[2020-05-24 14:19] namalk commented on #1771
Docker version 19.03.9, build 9d98839

  "--network=host"  is the only solution.

[2020-05-25 10:10] pre commented on #4251
Could be that the `latest` is a misleading message - it could be that the repository `eu.gcr.io/myproject/second` does not exist yet and pushing anything as `latest` creates the repository.

Is the error different if you create the repository by pushing any tag (eg `lolcat`)  into `second`?

[2020-05-25 11:32] geritol commented on #3582
The problem with that solution is that other stuff eg. `There is a new version (x.x.x) of Skaffold available.` will get written to the outfile.

[2020-05-25 21:16] matti commented on #4251
Nope, the repository has existed for months. After I pushed a random image as :latest it started to work

[2020-05-26 03:27] briandealwis opened #4255 "hack/new_version.sh: schemas/main.go: r.Values undefined (type HelmRelease has no field or method Values)"
Creating a new version currently fails:
[code]

The failure happens as `hack/versions/cmd/new/version.go` [copies the `upgrade.go` and `upgrade_test.go` from the previous schema version](https://github.com/GoogleContainerTools/skaffold/blob/ac5d0b0751b759ff8044783ffad84ba91d1d6b55/hack/versions/cmd/new/version.go#L59-L67) (v2beta3 in this case), but v2beta3's upgrade-related files [involved handli

[2020-05-26 03:40] briandealwis commented on #4253
@matti you can specify a port with the ` --rpc-port` and `--rpc-http-port` command-line options.

We try to select a port near the default port, but there is a race condition between checking for the availability of a port vs actually binding to that port.  We should probably have some retry logic that will bind to a random port via port `0` if the original attempt fails.

[2020-05-26 03:49] briandealwis commented on #4251
@matti could you please attach your `skaffold.yaml` here? Or do you have a small self-contained example?

[2020-05-26 04:02] briandealwis commented on #4250
@vptimmy you'll have better luck asking such questions on kubernetes community support channels.  You haven't provided very much detail here — we don't even know what k8s manifests you're trying to deploy.

I'd suggest checking your Job status with `kubectl describe`, and ensure that it does not have a `activeDeadlineSeconds` field.

You should also need to check your cluster logs.  You haven't sa

[2020-05-26 04:05] briandealwis commented on #4246
I haven't tried to reproduce your issue yet, but have you tried using Skaffold's `--kube-context` and `--kubeconfig` options to pin to a specific context?

      --kube-context='': Deploy to this Kubernetes context
      --kubeconfig='': Path to the kubeconfig file to use for CLI requests.

[2020-05-26 07:23] dgageot opened #4257 "Support Buildpacks project.toml"
It should be possible to configure a buildpacks build through the `project.toml` file.

[2020-05-26 10:04] pre commented on #4246
I tested passing `--kube-context` and `--kubeconfig` to  Skaffold. They have no effect in this problem (Skaffold was already using the correct Kubeconfig with the correct kubecontext).

* $KUBECONFIG points to correct file and is set by the script which runs Skaffold.
* Both examples above represent a full Kubeconfig.
* $KUBECONFIG has only one context which is defined by Minikube (full example ab

[2020-05-26 13:13] vptimmy commented on #4250
Thanks.  Just for an update I have made changes to tcp keep alive settings and the job runs longer.  I believe this to be a osx networking issues.

[code]

I am using Docker.  Here is the describe for the pod.
[code]

I appreciate the help and will now close this ticket.  Once I solve the issue will provide more information.  Hopefully I can save someone else the time and misery of fighting this.

[2020-05-26 13:30] lukebond commented on #4081
Perhaps an additional field in the skaffold yaml file, deploy section, that specifes some path in the YAML document where the image is referenced, e.g. for me it's spec/template/spec/containers[0].image, which happens to be the same as a deployment but given it's a CRD skaffold won't know that of course.

[2020-05-26 13:57] whyvez commented on #4081
I ran into a very similar problem in Kustomize. In Kustomize you pass in a configuration that lets you define a reference to specific features such as images using a JSON path for a custom Kind.

Here is an example of defining a reference for an Argo WorkflowTemplate.
[code]

Kustomise example:
https://github.com/kubernetes-sigs/kustomize/blob/766500508c99815598cdf1a8899cedbbb7ee8c32/examples/tran

[2020-05-26 15:25] loosebazooka commented on #4191
So when recreating this I had to do a few things to get it to work in the way I think you want it to work. (I was using a springboot sample with springboot-devtools, but this should work for wars if configured similarly)

skaffold.yaml
[code]

So when I do an intellij build, the intellij compiled classes are sent over to the remote container. I used strip to get the classes to go to the right plac

[2020-05-26 15:28] briandealwis commented on #4246
Oh I see.  Skaffold uses `kubectl` under the hood for many operations: you can see these commands by running `skaffold ... -v debug`.  Each invocation will use the value of the kube-context as defined at that time.

Frequently changing your Kubernetes context definition seems to me to be against the purpose of a Kubernetes context, and increases operational risk.  Instead, define separate Kubernet

[2020-05-26 15:49] briandealwis commented on #4243
Aha: the culprit is line 38:
https://github.com/GoogleContainerTools/skaffold/blob/5444e54062a7771a88edf4588765bf4aed04bc17/pkg/skaffold/docker/dependencies.go#L33-L42

This code is trying to be too clever.  I'm not sure allowing an absolute path is a good thing in the first place.

[2020-05-26 17:13] balopat opened #4259 "Should Event API follow CNCF's Cloud Events"
We should reconsider standardizing our Event API to follow CNCF's https://cloudevents.io/ standard.

Benefits: better alignment with the space, standardized format which aligns better with best practices
Cons: IDEs will need to restructure their clients

Thoughts?

[2020-05-26 19:40] briandealwis commented on #3760
@nkubala where did the `main.go` come from?  The Dockerfile?  We could process the ADD/COPY references from the Dockerfile and warn if they aren't satisfied, but many Dockerfiles seem to use `COPY . <dir>`.

[2020-05-27 02:48] pierreyves-lebrun commented on #4149
Thanks for sharing your thoughts.

I completely agree with what you are saying here, that is all good.

The point I am trying to make is that Skaffold assumes developers are going to iterate on the code outside of the containers it is going to deploy. The issue is that an increasing number of developers cannot afford to do that because their development environment lies in the very containers Skaf

[2020-05-27 08:08] pierreyves-lebrun opened #4261 "Typescript sample project"
Are there any guidelines for setting up a TypeScript project based on Skaffold?

I am especially interested in how to setup VSCode for debugging my TypeScript project.

[2020-05-27 09:38] #4243 closed

[2020-05-27 17:36] smhendrickson opened #4268 "Allow default dev cleanup mode to be set in skaffold.yaml"
Currently `skaffold dev` defaults to `cleanup=true`.

There are occasions when I'd like to modify this behavior for all users of a specific project profile. The simplest way to do that would be a `cleanup` setting in `skaffold.yaml`.

The CLI flag would still override the setting in `skaffold.yaml`.

After discussion in office hours, we determined this feature might be useful but could be confusin

[2020-05-27 20:39] briandealwis commented on #4250
@vptimmy so this looks like the remote Kubernetes API Server has closed the watch connection, which Skaffold uses for monitoring new pods or containers.  This timeout is controlled by [`kube-apiserver`](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/)'s `--min-request-timeout`.  Some clusters let you change this value; Minikube, for example, can change this to an

[2020-05-27 22:09] briandealwis commented on #4250
From your log, that message is coming from your deployed container, and not from Skaffold.  I'm guessing from the name `integration` that it is performing some kind of integration test and monitoring the Kubernetes API Server?
[code]

[2020-05-27 23:53] ianthpun opened #4271 "skaffold config list description is wrong"
### Expected behavior

`skaffold config list` should return something like:

[code]

### Actual behavior
`skaffold config list` is returning:

[code]

### Information

- Skaffold version: v1.10.1
- Operating system: Catalina

[2020-05-27 23:55] vptimmy commented on #4250
I believe this is an osx issue.  My windows machine can run `skaffold dev` for a a very long time.  However my osx laptop would only run `skaffold dev` for 5 minutes.

I asked my teammates to share what their `sysctl net.inet.tcp | grep keep` results were.  I got this from all of them:

[code]

Mine was:
[code]

Since modifying my tcp keepidle value things are behaving as expected.  I have no idea

[2020-05-28 00:18] ianthpun commented on #4271
i think the easiest solution would be to remove in the description that the default behavior of `skaffold config list` should not show global configs, since its currently described as `List all values set in the global Skaffold config"`.

Now that I look at it, both `set/unset` have the `global skaffold config` part in their description too, even though it is only set as a global config with a `--

[2020-05-28 01:35] briandealwis commented on #4250
I run macOS too and my keep idle is 7200000 too.  Glad to hear it was an easy fix!

[2020-05-28 01:35] #4250 closed

[2020-05-28 12:27] davidfernandezm commented on #4191
I managed to get this working using your workaround, thanks a lot @loosebazooka. I am going to gather feedback from the team (specially frontend due to their workflows) and see if works for everyone. I will then close this issue. I think this is a nice workaround that would probably be outlined in the File Sync docs?

[2020-05-28 13:02] MarcoSchaar opened #4274 "KubeContext not aligned for kubectl and helm"
Hi,
I've read already similar issue #4140 but somehow observing such issue

### Expected behavior
works similar at windows with docker-desktop environment

skaffold run --profile <...> --kube-context "clustername" --kubeconfig config
skaffold run --profile <...> --kube-context clustername --kubeconfig config
skaffold run --profile <...> --kubeconfig config

### Actual behavior
kubectl or helm cann

[2020-05-28 15:58] briandealwis commented on #4274
Hi @MarcoSchaar.  Just so I'm clear, you're reporting that the Helm deployer is using the skaffold.yaml-supplied `kubeContext:` value rather than the context supplied on the command-line with `--kube-context`?  If so, I'm unable to reproduce this.

Could you run with `-v debug` and attach your log?  I have my default context set to a remote cluster, my `kubeContext:` to a non-existant cluster, and

[2020-05-28 18:00] nkubala commented on #4259
seems a bit heavyweight, but I wouldn't mind standardizing around a spec that we don't have to maintain. it would make building on top of our API much more robust too. I don't consider restructuring the IDE clients too much of a blocker here since it would be a one time change. would like to see a POC for this

[2020-05-28 18:14] nkubala commented on #3760
@briandealwis yeah the file patterns are extracted from the Dockerfile ADD/COPYs. what you suggested is actually exactly what we do at runtime during the build, but I suppose trying to be smart and matching source files at init runtime could work? in fact I think `COPY . <dir>` could be useful for us since `<dir>` is probably exactly what we want to use for the generated build context in the skaff

[2020-05-28 22:32] ankumar opened #4276 "Links not loading ..."
<img width="669" alt="Screen Shot 2020-05-28 at 3 26 35 PM" src="https://user-images.githubusercontent.com/658791/83200293-dcccd880-a0f7-11ea-9731-67ad59eed8d3.png">

### Expected behavior

Visited this site the first time ...

### Actual behavior

Screenshot attached

### Steps to reproduce the behavior

Mac/Browsers: Chrome & Safari, **loads fine on mobile**

Links:
1. https://skaffold.dev/
2. h

[2020-05-29 06:39] pre commented on #4246
It seems that this issue report was not understood correctly.

To summarise:
* This problem report is about `skaffold dev`.
* The cluster is Minikube running on developer's personal machine (not a shared cluster).
* Skaffold is using a dedicated $KUBECONFIG provided by Minikube.
* There is only one Kubernetes context in $KUBECONFIG used by Skaffold (the one provided Minikube).
* Developer is using

[2020-05-29 06:43] pre commented on #4246
fyi @dgageot  - earlier you seemed interested about fixing this issue and I felt that you understood that there is a problem. Please see the TL;DR section and re-evaluate whether this problem is something that should be fixed or not.

The issue is that frequently developers just bang their head on the wall wondering why Skaffold Sync fails with error `Skipping deploy due to sync error: copying fil

[2020-05-29 06:47] MarcoSchaar commented on #4274
Hi @briandealwis

when running command like this

[code]

debug log:

level=info msg="Skaffold &{Version:v1.10.1 ConfigVersion:skaffold/v2beta4 GitVersion: GitCommit:931a70a6334436735bfc4ff7633232dd5fc73cc1 GitTreeState:clean BuildDate:2020-05-20T20:25:27Z GoVersion:go1.14.2 Compiler:gc Platform:linux/amd64}"
level=info msg="applying profile: <profile>"
level=debug msg="overlaying profile on confi

[2020-05-29 10:43] dgageot commented on #4246
I'll see why I can do

[2020-05-29 14:20] binarymason opened #4277 "Helm release errors out on filesystem write because of labeling issue"
### Expected behavior
skaffold should add labels to pods that exist from a helm release.

### Actual behavior
First skaffold is warning because it is trying to add label to pod that does NOT exist.

Then, filesystem writes will cause helm release to crash. I get this error:

### Information

- Skaffold version: v1.10.1
- Operating system: Ubuntu 20.04 LTS
- Contents of skaffold.yaml:

[code]
- Scr

[2020-05-29 14:24] MarcoSchaar commented on #4274
not sure whether it could be related to
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/helm.go#L327

if no context is set per default

[2020-05-29 15:02] MarcoSchaar commented on #4274
could be reproduced local as well
- rename the .kube/config file
- run skaffold with ref to renamed

[2020-05-29 16:12] #2245 closed

[2020-05-29 16:18] balopat commented on #4276
That is very odd, can you share the certificate details that you see? And - if you don't mind - your location where you're trying to access it?

From California it looks like this:

![image](https://user-images.githubusercontent.com/635073/83281708-58c53000-a18d-11ea-9f90-70ecf03eac76.png)

[2020-05-29 16:25] briandealwis commented on #4274
Oh!  That's a great find.

We should be running `helm version --client` since we only care about the client-side version.  But the version checking code has a comment:
https://github.com/GoogleContainerTools/skaffold/blob/6b744d51365f69244979d61c5b3e23f9a730e72a/pkg/skaffold/deploy/helm.go#L464

Helm 2 supports `--client` [back to 2.14.0](https://v2-14-0.helm.sh/docs/helm/#helm-version).  I don't

[2020-05-29 16:32] briandealwis commented on #4277
Thanks for the report!  The upgrade error should be fixed by #3274, which will be in the next release.

Duplicate of #2245

[2020-05-29 16:32] #4277 closed

[2020-05-29 20:23] MoogyG opened #4279 "`skaffold delete` ignoring namespace argument using Helm"
I am using skaffold 1.8.0.

I want a default namespace for my helm chart in development, so I use
[code]

Everything goes well, the chart is uninstalled if I exit `skaffold dev` or running `skaffold run` and then `skaffold delete`.

But in my CI, I need a namespace for every branch so I use `skaffold run -n my-namespace-ci-6gh81g` (the suffix is the commit sha), and the chart is created in this na

[2020-05-29 21:12] briandealwis commented on #4251
I've been unable to reproduce this @matti.

[2020-05-29 21:24] nkubala commented on #4228
@alewis001 I took a look at your branch and I think you're on the right track. definitely open a PR and we can have a deeper look at the design and make sure everything looks good! and yes tests please :)

[2020-05-29 21:27] nkubala commented on #2898
@grantstephens I think that makes sense, would you mind submitting a small design proposal for this before you open a PR? I'm happy to review it when you do, I just want to make sure the design fits before you start writing a bunch of code that would be at risk of needing changes.

[2020-05-29 21:41] briandealwis commented on #4279
Odd as #3914 ensured `--namespace` was added to the `helm delete` for Skaffold 1.8.0.  And I see Skaffold 1.8.0 passing it in my testing.

Could you include the logs of running `skaffold ... -v debug`?
And could you please try with the latest release (1.10.1)?

[2020-05-31 13:39] abhisheks-infracloud commented on #3855
I am also facing the same issue while using local registry in KIND with skaffold in GitHub actions. Images are loaded into nodes but pods are not able to pull the images with image name - localhost:5000 registry url.

[2020-05-31 19:04] MoogyG commented on #4279
Here is the debug for the command `skaffold dev -n my-namespace-ci-test -v debug` using skaffold 1.8.0 :

[code]

We can see that the namespace used for helm install is good (`my-namespace-ci-test` instead of `my-namespace`) :
[code]
But not for the deletion :
[code]

[2020-05-31 20:50] GwonsooLee commented on #4279
I think it's because, according to the code, when deploying helm `opt.namespace` is checked first.
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/helm.go#L363-L367

But when cleaning up releases, the namespace of the release is checked.
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/helm.go#L229-L234

I think it should be like thi

[2020-05-31 21:29] GwonsooLee commented on #4279
@briandealwis `--namespace` feature added works with `build & deploy` command but not working with `dev` command..

I think it's because, according to the code, when deploying helm opt.namespace is checked first.
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/helm.go#L363-L367

But when cleaning up releases, the namespace of the release is checked.
https://github.

[2020-06-01 15:57] davidfernandezm commented on #531
I am observing this with low activity, also with `skaffold dev`. I am running `v1.9.1` and it's just tailing logs from one pod. It's also watching for changes in a folder to sync (manual FileSync). Any pointers on how to reduce CPU usage?

![Screenshot 2020-06-01 at 16 55 37](https://user-images.githubusercontent.com/61430492/83427528-c8a31700-a428-11ea-9b73-af5aa8ee1def.png)

[2020-06-01 16:46] dsb012 commented on #3116
Yes, I am still seeing this. This is using Jib in Ubuntu. My base image is successfully pulled by Jib from my private repo as I've added it's cert to cacerts. The skaffold built image is built and pushed successfully.  The Maven build is successful but is then followed by a fatal error from skaffold:
FATA[0016] failed to build: build failed: building [.........]: build artifact: getting image: Get

[2020-06-01 16:48] balopat opened #4282 "Report pod events when deployment fails to stabilize"
When deployments fail to stabilize, the root cause might be in the pod events.
We should report these as well.

Currently skaffold does not show these errors, and it requires K8s knowledge to understand what's happening.

Repro in minikube

1. `kubectl taint nodes minikube key=value:NoSchedule`
1. `skaffold dev` on the microservices example

The output is from Tejal's PR https://github.com/GoogleC

[2020-06-01 16:54] balopat opened #4283 "Deployment status-check is misleading on our pod-only getting-started"
We have only a **pod** in our getting-started example. This can cause some oddness with status-check which only looks at **Deployments**: the deployment seems to succeed even if the pod is pending! It looks like logging is broken, until user runs `kubectl get pods`.

Repro in minikube

1. `kubectl taint nodes minikube key=value:NoSchedule`
1. `skaffold dev` on the getting-started example

The outp

[2020-06-01 16:56] balopat commented on #4276
As I don't see a large number of replies here, I'm going to assume that this was a temporary error somewhere - maybe in Firebase?. Closing out. Please let us know if it comes up again!

[2020-06-01 16:56] #4276 closed

[2020-06-01 17:16] balopat commented on #1273
I'd reopen this, as the lack of signal here doesn't mean it would help a lot of people.

[2020-06-01 18:34] briandealwis commented on #4081
#4249 brought in support for whitelisting based on group-kinds.  It's not extensible.

[2020-06-01 18:44] giladsh1 commented on #3946
@tejal29 I may be wrong, but I think this flag is only relevant when using kustomize, which I'm not...

[2020-06-01 20:28] briandealwis commented on #4252
In the meantime, you can check out the corresponding release and run `make preview-docs` to view the docs locally.

[2020-06-01 20:31] briandealwis commented on #4251
@matti do your images use ONBUILD?  Could you provide any details on your project?

[2020-06-01 20:50] tstromberg commented on #4218
With discussed this issue offline today, and agree with @chanseokoh 's observation: the inability for the GitHub Package repository to reference images by digest is breaking many applications. It's not up to Skaffold to workaround this restriction.

We've had some similar conversations with other users to improve Skaffold integrating with tag-based workflows, so it may be possible that we accident

[2020-06-01 21:51] gsquared94 opened #4285 "Add nightly integration tests against Linux, Windows and OSX"
Issue added after talking to @nkubala about missing cross environment nightly integration tests.

[2020-06-01 23:21] chanseokoh commented on #3039
@asegretto I think your last error (which is a different type of error from your earlier one in https://github.com/GoogleContainerTools/skaffold/issues/3039#issuecomment-608546305) is when Minikube's internal Docker daemon is trying to access `XXX/xaas/amazon-node@...`. If that's the case, it's no wonder having `/etc/docker/certs.d/` on your local machine doesn't do any good. What's the output of

[2020-06-01 23:28] balchua commented on #3039
My take, if there is a way to specify `skip-tls-verify` somewhere in skaffold, that will be an option i will choose.
But definitely turned off by default.

So it is a conscious decision from the user to take the necessary risk.

[2020-06-01 23:41] jkleckner commented on #2350
Limiting to client-side templating and helm3 is probably fine if this makes it simpler.

[2020-06-02 00:56] chanseokoh commented on #3039
If you are not interested in using self-signed certs, Skaffold does have the flag [`--insecure-registry`](https://skaffold.dev/docs/environment/image-registries/), which will try turn off TLS verification entirely at various points. Depending on where you are seeing the cert failure, this flag may work.

Also note that there are different root causes mixed in this issue thread, and you need to be

[2020-06-02 00:57] bs1 opened #4286 "remoteManifests doesn't seem to work"
### Expected behavior
Use skaffold on a pre-existing manfiest

### Actual behavior
`skaffold run`, works the first time, but fails updating the image on subsequent runs.

### Information

- Skaffold version: version...
v1.10.1

- Contents of skaffold.yaml:
(modified from the getting-started example)
[code]

### Steps to reproduce the behavior

1. apply a modified  `k8s-pod.yaml` with already built

[2020-06-02 05:19] AndiDog commented on #1781
#4237 should have reopened this.

Could you please describe the problem which caused revert, and the behavior you want to achieve eventually (support both built-in and tool on PATH, which one wins, do you support something like `deploy:kustomize:kustomizePath`/SKAFFOLD_KUSTOMIZE_PATH, etc.)?

[2020-06-02 06:20] polds opened #4287 "skaffold run w/ kaniko can't get the image after it's been pushed on a private repo"
### Expected behavior

Skaffold run to be able work locally and from gitlab's ci.

### Actual behavior

Very similar to #3319.

**Note**: This works locally! I think Gitlab is missing a docker config somehow that it's not logging.

Is there a magical location that Skaffold looks for docker credentials? I've tried `~/.docker/config.json` and `/kaniko/.docker/config.json`

I think the failure I'm se

[2020-06-02 07:22] stanislav-zaprudskiy commented on #4139
This is indeed true - there should be some changed files for manual trigger to work. Thank you for explanation!.

[2020-06-02 07:22] #4139 closed

[2020-06-02 08:06] polds commented on #4287
Interestingly enough I was able to get it working by removing the manual creation of the docker credentials file. I'm not sure why that was breaking it, but it was.

[2020-06-02 08:06] #4287 closed

[2020-06-02 08:40] HofmannZ commented on #2448
@nkubala That sounds great, anywhere I can find a spec draft? 🚀

[2020-06-02 10:23] lukebond commented on #4081
Thanks @briandealwis; I think you're saying that there is already a feature that lists what gets substituted with a new image, and it isn't extensible so we can't use it.

What we're hoping for is a new feature that allows us to extend it. Does the project have any interest in implementing this? I wouldn't mind contributing a PR for it but without some input from the team on the desired approach i

[2020-06-02 13:09] dalbani commented on #4033
I'm very much interested in having such documentation. Because at that point I have no idea where to start from. Where's this "provided Docker image" by the way?

[2020-06-02 14:06] dalbani commented on #4033
Oh, I found it, nevermind: https://skaffold.dev/docs/install/ and then the Docker tab.

[2020-06-03 02:09] #3343 closed

[2020-06-03 08:50] MarcoSchaar commented on #4274
related issue, when using dedicated kubeconfig and kube-context

[code]

[2020-06-03 14:22] dsb012 commented on #3116
Disregard my comment above setting SSL_CERT_FILE addresses this.

[2020-06-03 15:03] amorabito commented on #2350
Skaffold is great, this feature would be very helpful!

[2020-06-03 16:09] grantstephens commented on #2898
Sure, but I don't think I'm going to have time to do it anytime soon. Is there a template for the design proposal?

[2020-06-03 17:13] nkubala commented on #2898
https://github.com/GoogleContainerTools/skaffold/blob/master/docs/design_proposals/design-proposal-template.md

[2020-06-03 17:16] nkubala commented on #3124
ref https://github.com/GoogleContainerTools/skaffold/issues/20

[2020-06-03 17:45] nkubala commented on #3497
@raul1991 at the time you were right, however we've renamed this field in the skaffold.yaml to `artifactOverrides` to make this more clear, and changes `values` to `setValues`:

[code]

[2020-06-03 19:55] balopat opened #4288 "Expose metrics about the pipeline"
We could measure and expose metrics for the skaffold pipeline both locally and in CI/CD pipelines.

This can enable our users to see metrics around build times, deploy times, number of failures, etc. that organizations can use to improve their development loops in a data-driven fashion.

Locally this could be on the event API, as a /healthz or /streamz json response.
Details needs to be worked out

[2020-06-03 22:13] nkubala commented on #3442
@jlewi if this can be accomplished through annotations then I don't see why we couldn't support this, in fact there's a PR open right now that might give you what you need: https://github.com/GoogleContainerTools/skaffold/pull/4280.

[2020-06-04 14:50] fredleger commented on #1405
Just run into the same issue today. So far it seems related to the fact you have transient workload like an init job or a test job (which is now created by default with helm create) that is triggered through helm hooks and deleted **before** skaffold run finish.

Does that make any sense to you ?

[2020-06-04 17:03] briandealwis opened #4289 "container-structure-test fails on cached images"
## Expected behavior

Skaffold's tests should either be skipped for cached artifacts OR they should work against cached artifacts.

(What's odd is that the tests are skipped if all artifacts are found in the cache.)

### Actual behavior

Currently Skaffold's structure-tests fail for artifacts found in the artifact cache as it uses the naked image name instead of the image tagged with a digest.

(a

[2020-06-05 02:58] briandealwis commented on #4081
I apologize @lukebond, I fell behind on email and missed this.

What I meant was … (trying to remember) … we have an implementation for whitelisting group-kinds that can be labelled/annotated with Skaffold-specific metadata and that can be image-substituted.  So providing your group-kind follows the convention of using an `image:` field  to reference container images, then adding the group-kind [t

[2020-06-05 05:49] simonoff commented on #4149
I have a few thing to think.
Is a possibility to run specific commands.
For example:

I want to create a migration file in rails.
Right now without two-way sync we are using docker-compose. With two-way is possible to run command inside pod. But what if we be able to run command with specific container/pod environments and after sync changes back?

Like `skaffold cmd -p development -c rails-contai

[2020-06-05 19:15] #4279 closed

[2020-06-05 20:04] tejal29 commented on #1726
Closing this in favor of #3768

[2020-06-05 20:04] #1726 closed

[2020-06-05 20:11] tejal29 opened #4293 "[skaffold init] Support multiple kustomizations with heirarchy in kustomize projects"
This is follow up from Pr #3925

From review comments looks like we need to follow up on
1. Generating skaffold config when multiple kustomization yamls are present especially cases like
https://github.com/GoogleContainerTools/skaffold/pull/3925#discussion_r416194788

[2020-06-06 02:36] GodaProjects commented on #1771
I am having the same issue with the same version of docker. Does not build with bridge network. Only builds with host network. But docker run seems fine (containers are able to access internet). Is this a known issue?

[2020-06-06 06:25] javier-b-perez opened #4295 "Make IMAGE_REPO, IMAGE_NAME, IMAGE_TAG available in build.artifacts[i].docker.buildArgs"
### Expected behavior

[code]

[code]

### Actual behavior

[code]

### Information

- Skaffold version: v1.10.1

### Steps to reproduce the behavior

1. `git clone https://github.com/javier-b-perez/skaffold-tags-demo.git`
2. `skaffold build --default-repo=gcr.io/my-project -t demo`

### Workaround

1. Update skaffold.yaml
[code]

2. Build builder
[code]

3. Build app
[code]

[2020-06-06 06:27] javier-b-perez commented on #3343
Created new issue to track this for docker build-args https://github.com/GoogleContainerTools/skaffold/issues/4295

[2020-06-06 06:28] javier-b-perez commented on #3229
I don't think that https://github.com/GoogleContainerTools/skaffold/issues/3343 fixed the issue.
I created a new one https://github.com/GoogleContainerTools/skaffold/issues/4295 with a repo to reproduce and documented workaround.

[2020-06-06 23:48] erulabs commented on #3133
2x this very much. In addition, when migrating to using skaffold when previously using kustomization (for example), one needs to re-name services to avoid the immutable field errors. Using an annotation would make migration to skaffold much easier.

[2020-06-07 09:20] #4274 closed

[2020-06-07 12:47] saul-gush commented on #3951
I am experiencing the same error with microk8s in a VM:

See: https://microk8s.io/docs/registry-built-in (section: What if MicroK8s runs inside a VM?)

kubectl describe pod:

`rpc error: code = Unknown desc = failed to resolve image "192.168.1.139:32000/localhost_32000_test-graph2@sha256:e85c19ceb7ad6fae0b5eb6ab30d08e923e6711d5a4d417520bb6a544e9db26a1": no available registry endpoint: failed to do

[2020-06-08 15:47] briandealwis commented on #1771
@GodaProjects This sounds like an issue with your local configuration rather than a Skaffold issue.

[2020-06-08 17:37] ahmetb commented on #2807
FWIW this came up in `kubens` project as well: https://github.com/ahmetb/kubectx/issues/240 If it helps, I'm suspecting this might be happening because how `kubectl` parses a kubeconfig file vs how it's parsed from client-go. My guess is that it loses the path to kubeconfig file, so stuff like token persister don't work.

https://github.com/kubernetes/kubernetes/blob/70132b0f130acc0bed193d9ba59dd1

[2020-06-08 19:09] #1759 closed

[2020-06-08 19:19] ddlees opened #4301 "[BUG] nil pointer dereference from k8s oidc provider"
### Expected behavior

When invoking `skaffold run` against a target cluster protected by the OIDC protocol I would expect a clearer error message when the id token in my KUBECONFIG for that cluster has expired.

### Actual behavior

`skaffold run` consistently returns this stack trace:

[code]

### Information

- Skaffold version: v1.10.1
- Operating system: macOS
- Contents of skaffold.yaml: Not

[2020-06-08 20:13] nkubala commented on #3216
we haven't been able to reproduce this one on our team and it's been stale for a bit, so I'm going to close. @prary if you or anyone else runs into this again, please feel free to reopen!

[2020-06-08 20:13] #3216 closed

[2020-06-08 20:16] gsquared94 commented on #1405
Reopening the issue

[2020-06-08 20:16] tejal29 commented on #3799
Unfortunately we won't be to get this soon. Downgrading this to P3.

[2020-06-08 20:17] briandealwis commented on #4058
It doesn't look like skaffold is doing any deletions from @ijaouani's log

[2020-06-08 20:17] nkubala commented on #3756
I'm going to change this to a feature request since I think this would be addressed by the addition of modules in skaffold, but I'd like to keep it open to track.

[2020-06-08 20:17] briandealwis commented on #3910
@balopat could you try reproducing again?

[2020-06-08 20:22] briandealwis commented on #3454
Closing.  Will re-open if new information comes to light.

One thing to be aware of: there was a problem with Skaffold (with Go actually) around mixed-case filepaths in case-insensitive filesystems, such as typically seen on Darwin (#4108).  This was fixed in Skaffold 1.10.1.

[2020-06-08 20:22] #3454 closed

[2020-06-08 20:24] briandealwis commented on #3218
Closing.  Will re-open if new information provided.

[2020-06-08 20:24] #3218 closed

[2020-06-08 20:26] nkubala commented on #3828
@yuwenma I think this issue was resolved right? #4161 is tracking the other issue that you ran into in the process.

[2020-06-08 20:31] gsquared94 commented on #3793
@balopat I also couldn't find the "vendor" directory filtering anywhere other than buildpack. Can you link the file?

[2020-06-08 20:31] tejal29 commented on #3831
@no1melman Please join skaffold-users@. We have a bi-weekly community office hours. More information here https://github.com/GoogleContainerTools/skaffold#community

[2020-06-08 20:34] yuwenma commented on #3828
Yes, feel free to close the issue @nkubala

[2020-06-08 20:51] gsquared94 commented on #3797
@johnlu655 please take a look at @briandealwis's answer. Closing the issue for now.

[2020-06-08 20:51] #3797 closed

[2020-06-09 02:24] tomgeorge commented on #3530
I have gotten to about the point where you are.  I think the problem is that from inside the cluster, the default (external) route is unknown, and generally the images are resolved via the service URL `image-registry.openshift-image-regsitry.svc:5000`.  So it needs to push to one URL, and set the image reference to another internal URL.  I'm not sure if there is a way to do that in skaffold.

[2020-06-09 02:44] sammym1982 opened #4302 "Questions related to 'skaffold deploy'"
I looked all over but didn't find any sample which explains how I should be passing the --images parameter to the `skaffold deploy` command. My service skaffold.yaml looks something like below and I have a scenario where I need to just execute the deploy stage with passing in the prebuilt images. What is the format for the --images parameter.

Secondly, Is it possible to control only to deploy sub

[2020-06-09 05:20] sammym1982 commented on #4302
Found answer for first one. I needed to pass multiple -i parameters. Something like `-i svc1:tag -i svc2:tag` .

I am still looking for following though:

[2020-06-09 08:17] davidfernandezm commented on #531
Can anyone reopen this issue or point to a more recent one? In the 2018 Macs the fans are at full speed when leaving `skaffold dev` monitoring logs

[2020-06-09 13:40] dspitzer opened #4305 "Global Configuration"
After reading the "Global Configuration" documentation I'm confused:

- What format should that global configuration file have? Yaml?
- How do I specify for which context it is valid?
- Are only the options listed in the table valid for this config file?
- Why is the example a cli statement?

[2020-06-09 16:17] LEQADA commented on #2468
@balopat @corneliusweig is it possible now to set a custom maven settings.xml file?

[2020-06-09 17:35] kylewolfe commented on #3311
Sorry for the delay. Testing from master today:
[code]

[2020-06-09 17:51] erikkrieg commented on #3442
Is it known when #4280 will be released?

[2020-06-09 18:43] chanseokoh commented on #3530
@tomgeorge for that matter, maybe you can try `hostAliases` in Kubernetes to?

[2020-06-09 18:44] chanseokoh commented on #3530
@tomgeorge for that matter, maybe you can try [`hostAliases`](https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/) in Kubernetes?

[2020-06-09 23:22] nkubala commented on #3442
@erikkrieg yep! barring any delays it'll go out with v1.11.0 on thursday afternoon here on the west coast.

[2020-06-10 23:24] #4046 closed

[2020-06-11 00:01] #4285 closed

[2020-06-11 01:12] RetWolf commented on #4288
Would love to see some data around build/deploy times to help monitor performance improvements, catch regressions, etc. On that note, artifact or manifest level metrics would be nice (if possible).

Also was thinking about an event or way of tracking errors that users run into. It would be helpful to be able to aggregate issues/errors from many users into one central location for diagnosing and pr

[2020-06-11 02:10] RetWolf commented on #3905
Hey @briandealwis I'd like to chime in with support for the second option you proposed. I also have the need to setup a few CRDs before deploying resources and would like to be able to do so in an automated fashion using Skaffold. The current workaround is to just manually apply the CRDs before using Skaffold.

I'm not familiar with the Skaffold code base, would you be able to offer any insight on

[2020-06-11 03:03] briandealwis commented on #3905
@RetWolf the model itself is found in [`pkg/skaffold/schema/latest/config.go`](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/latest/config.go) as the types [`DeployConfig` and `DeployType`](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/latest/config.go#L402-L427).  These deploy specs are turned into something executable in [`pkg

[2020-06-11 08:45] robertgates55 opened #4310 "Skaffold push always HTTPS despite insecure-registry flags"
I'm running a local registry, which is by default insecure:
`docker run -d --name registry.localhost -v local_registry:/var/lib/registry --rm -p 5000:5000 registry:2`

I'm definitely able to resolve the registry (eg my /etc/hosts mappings are all good), however passing:
[code]

Gives me:
[code]

### Expected behavior

At the very least, I'd have expected it to try and push to the http endpoint -

[2020-06-11 14:14] tstromberg commented on #4161
I'm working on this today. My goal is to elicit an error message similar to:

`The `kaniko` builder is not available for `local` builds. To use it, please add a 'cluster' stanza to the 'build' section of your configuration.

For more information, please see https://skaffold.dev/docs/pipeline-stages/builders/`

[2020-06-11 20:06] nkubala opened #4314 "Release v1.11.0"

[2020-06-11 20:17] #4161 closed

[2020-06-11 20:41] RetWolf commented on #3905
I've hacked together a proof of concept for staged deployments, with the API looking something like this:
[code]

This would be backwards compatible with the existing top-level helm, kubectl, and kustomize options being ran before any existing stages, and pipelines can run without the existence of stages entirely making them an opt-in feature. (or vice-versa, with pipelines only using stages and n

[2020-06-11 20:47] #4314 closed

[2020-06-11 21:51] cliffburdick commented on #2981
@balopat @dgageot this problem appears to have come back for skaffold run --tail in 1.11.0. Is it possible the fix was only applied to deploy mode and run still has it?

[2020-06-11 22:26] erulabs opened #4317 "Incorrect version of skaffold pushed to 1.11.0 release for windows-amd64"
### Expected behavior

v1.11.0

### Actual behavior

v1.10.1

### Information
It seems like the incorrect binary was pushed to the 1.11.0 tag for windows? I have not checked builds for other O/Ses but will probably be able to find out in a few hours.

Edit: It appears to be simply the wrong binary v1.11.0 in all cases. Presumably @nkubala might want to know about this. Might be a nice new github a

[2020-06-11 23:28] mackenzie-orange commented on #4317
It's hard to tell, but it seems like 1.11.0 for windows didn't release at all. It errors when I try to run it against examples using `apiVersion: skaffold/v2beta5`, which suggests that it does not know how to parse that schema.

[2020-06-12 06:04] dgageot commented on #2981
@cliffburdick we had to revert the fix for https://github.com/GoogleContainerTools/skaffold/issues/1753 because it created other bigger issues

[2020-06-12 07:46] stanislav-zaprudskiy commented on #4317
The same issue for darwin version:
[code]

[2020-06-12 14:02] cliffburdick commented on #2981
@dgageot thanks for the update

[2020-06-12 14:06] steinwelberg commented on #4317
The same for the linux version

[2020-06-12 16:28] kylewolfe commented on #3311
@Xan2063 Can you elaborate on this? I'm unfamiliar with a tail option anywhere.

[2020-06-12 17:06] Xan2063 commented on #3311
From the cli docs for skaffold dev
--tail=false: Stream logs from deployed objects (true by default for `skaffold dev` and `skaffold debug`)

https://skaffold.dev/docs/references/cli/

[2020-06-12 17:10] kylewolfe commented on #3311
Thanks for that!

It just so happened that I tested with `sync` at first. After removing sync and running `skaffold dev --tail=false`, it's still attempting to read at the cluster scope.

[2020-06-12 17:12] Xan2063 commented on #3311
You should also add your namespace with -n to the Skaffold call

[2020-06-12 17:25] kylewolfe commented on #3311
Thanks again.

Confirmed works with `skaffold --tail=false -n <namespace>`. Also confirmed that sync attempts to list pods at cluster scope.

[2020-06-13 16:14] Aadil-Nabi commented on #3946
I was facing the some other issue in minikube. I manually deleted the cluster. Once I created a new cluster I started facing the same issue **could not stabilize within 2m0s: context deadline exceeded.**. because I forgot to create a secret in the cluster.
next, I created a secret using the below command, and it started working fine.
**kubectl create secret generic jwt-secret --from-literal=JWT_KE

[2020-06-15 10:25] amitm02 opened #4320 "Does "google cloud build" support pull and pushing the private Dockerhub repo"
Does "google cloud build" supports pull from and push to a private Dockerhub repo?
I did not find anything in the documentation regarding how to set it up..

[2020-06-15 14:14] deedubs opened #4321 "New flag --repo-prefix to backfill --default-repo functionality"
### Expected behavior

Previously I had been using `--default-repo` more like `--repo-prefix` this all came to a grinding halt when I attempted to use the below `skaffold.yaml`.  When I ran it with

I expected to see:

[code]

### Actual behavior

[code]
### Information

- Skaffold version: v1.10.1
- Operating system: Linux
- Contents of skaffold.yaml:

[code]
### Proposal

We introduce a new flag

[2020-06-15 16:13] alewis001 opened #4322 "Render does not fully overwrite output file if it already exists"
### Expected behavior
The contents of the file `<path>/<file>.yaml` reflects the exact output of the command `skaffold render --output <path>/<file>.yaml`. If the file already exists, the file's content is fully overwritten.

### Actual behavior
The `render` command is only overwriting the bytes inside the file, not the entire file.

I.e. If the current file is bigger (X bytes) and the output from

[2020-06-15 16:17] alewis001 commented on #4322
Looking at `kustomize.go`, the `Render` function I _think_ could be changed to this instead:
[code]

[2020-06-15 17:11] nkubala commented on #4317
@erulabs thanks for pointing this out and thanks everyone for verifying on other platforms. I accidentally uploaded the wrong binaries when doing the release last week, which of course had to happen after the last two botched releases as well....it should be fixed now, but I'm quite unhappy with the amount of manual steps in our release process and how much possibility for human error there is. we

[2020-06-15 17:11] #4317 closed

[2020-06-15 17:15] nkubala opened #4324 "Fully automate release process"
our release process has way too many manual steps, which introduces all kinds of possibilities for human error (e.g. https://github.com/GoogleContainerTools/skaffold/issues/4317). some improvements we could make:

* use labels on all PRs to categorize them as "New Features", "Fixes and Improvements", "Docs Updates", or "None". we could then have a bit of logic to filter on each of these in our rel

[2020-06-15 17:40] gsquared94 commented on #4324
PR #4325 should fix point 2 and 3 above.

[2020-06-15 18:07] balopat commented on #4282
I tested the fix, and though it works, but it's missing the taint info:

[code]

[2020-06-15 19:21] erulabs commented on #4317
Not a biggie @nkubala - we appreciate the hard work! Thank you!

[2020-06-15 19:54] nkubala commented on #4271
this is really a documentation issue more than anything, but I think we could consider changing the name we use to refer to this config as well.

the issue is that we called this the "global config" to distinguish it from the skaffold.yaml config - those are project level settings, whereas the ones in the "global" config are machine/environment specific. however, we tied those to kubernetes contex

[2020-06-15 19:59] nkubala commented on #4301
hmm, strange that client-go is panicing here but this is a pretty bad error message either way. funny that this is happening because we're trying to validate the auth before attempting the deploy so we can surface a better error message 😄

[2020-06-15 20:19] nkubala commented on #3909
closing this since we have application logs being surfaced from the pods now.

[2020-06-15 20:19] #3909 closed

[2020-06-15 20:30] tejal29 commented on #4282
Is could be because of https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/diag/validator/pod.go#L192

Maybe we need to think more on
1. Should we report all diagnostics info?
2. Or just one.

[2020-06-15 20:53] nkubala commented on #4095
@dgageot have you seen this recently? I've never seen this error, was it happening in CI or local?

[2020-06-15 20:55] nkubala commented on #3871
@petr-buchin let us know if you get a chance to repro this one, we haven't seen any more evidence of this so I'm inclined to close it since it's getting stale.

[2020-06-15 20:57] nkubala commented on #3479
I'm going to close this since it sounds like the issue may have disappeared, and we weren't able to repro it on our end. if anyone is still encountering this with newer versions of skaffold please feel free and reopen.

[2020-06-15 20:57] #3479 closed

[2020-06-15 20:57] tejal29 commented on #4022
Currently we don't have an event for Portforward completed.
We do have a an event for `DevLoopEvent ` complete which can indicate when an entire devloop is complete which is sent after following phases are complete
1. Build,
2. Deploy,
3. Status check - if `--status-check` is true
4. port forwarding complete - if `--port-forward` is true.

Can you try that ?

[2020-06-15 20:58] gsquared94 commented on #4177
Closing this for now; can be reopened if recreating the minikube cluster did not do the trick.

[2020-06-15 20:58] #4177 closed

[2020-06-15 20:58] nkubala commented on #4301
this error also looks suspiciously like the one from https://github.com/GoogleContainerTools/skaffold/issues/3047

[2020-06-15 20:59] briandealwis commented on #2464
@tvvignesh or @jpetazzo — would you be able to run `skaffold dev -v trace`?

[2020-06-15 21:04] briandealwis commented on #2448
We're still iterating over the draft, and hope to have something soon.

[2020-06-15 21:23] tejal29 commented on #3798
@TBBle You add the `--force` flag right now to the helm config `flags.install` config like this.
[code]

[2020-06-15 21:58] nkubala commented on #4106
when we shut down https://github.com/GoogleContainerTools/skaffold/pull/1458 last year, I think we were a bit closed-minded on our stance to templating as a whole, in that we were strictly against it in skaffold. over time, I think our opinion on this has relaxed: there are scenarios in which introducing environment variables into the skaffold pipeline can still fit in with our principles on the t

[2020-06-15 21:58] TBBle commented on #3798
No, other way round: skaffold is adding `--force` implicitly, and it doesn't work with Helm v3. So it should be off be default.

If anyone wants to use it they could pass `--force` on the command line like we have to pass `--force=false` now. It still won't work for most non-trivial charts charts, but the option already exists in case someone finds a use for it, or has a chart with no immutable fi

[2020-06-15 22:26] matthewmichihara opened #4327 "`skaffold fix` only seems to work with the latest schema version"
[code]

I think these lines are assuming we're always upgrading to the latest version, instead of version given by `--version`: https://github.com/GoogleContainerTools/skaffold/blob/master/cmd/skaffold/app/cmd/fix.go#L70-L72

[2020-06-15 22:38] nkubala commented on #4163
I think we probably want to keep the default the way it is right now (port forwarding OFF by default), but I also understand that it isn't great UX to have to provide the `--port-forward` flag just to get any forwarding to happen. I'd be ok adding a `portForward` or `autoPortForward` boolean to the `deploy` section of the skaffold.yaml to give devs a "happy path" for running `skaffold dev` with th

[2020-06-15 22:45] nkubala commented on #531
@davidfernandezm wow, that's quite high. have you tried running with a different watcher? `skaffold dev --trigger=polling` may fix your issue temporarily. i'd love to know more about your project though, is the folder that you're watching for sync really big?

[2020-06-16 05:10] ashconnell commented on #4163
I'm all for this improvement :P

Every time i come back to a skaffold project i run `skaffold dev` and then stumble around remembering whether it was `--forward-ports` or `--port-forwarding` or something just to get the dev environment up.

Much better to have this configuration in the code itself!

[2020-06-16 09:21] tvvignesh commented on #2464
@briandealwis Oops! I changed my workflow since I had raised this issue (I use remote clusters for development and with skaffold the image has to be built everytime and pushed to remote registry causing the approach to be unsustainable). Now, I use telepresence locally to proxy during development and use Skaffold in CI/CD pipelines and thus, I don't have any such images locally to reproduce and te

[2020-06-16 09:26] runefs opened #4328 "Skaffold complains about the docker file being outside the docker build context"
### Expected behavior
That skaffold has no more restrictions on the location of the dockerfile than docker build has
### Actual behavior
Skaffold complains that the dockerfile is outside the build context
### Information

[code]

### Steps to reproduce the behavior
any setup where the docker file is outside of the specified context

[2020-06-16 09:27] dgageot commented on #4095
@nkubala our integration tests use the previous version.

[2020-06-16 11:10] mythio opened #4329 "Caching mechanism for NodeJS packages"
Can we have a caching mechanism to cache the node packages?
Everytime we make changes to `package.json`, sakffold rebuilds the package and then installs the dependecies again. Instead of installing again, can we use a cache or something to fasten this step?

[2020-06-16 17:27] nkubala commented on #1781
@AndiDog the reason my "fix" didn't work is because the bundled version of kustomize in kubectl is apparently outdated, so some functionality that users are depending on wasn't there and their deploys were broken.

I think the right behavior in an ideal world would be to always use a binary on the PATH over kubectl's kustomize if it exists - that way users can have an escape hatch if they want to

[2020-06-16 17:46] davidfernandezm commented on #531
Thanks a lot for your response @nkubala. There's one folder being watched that has around 5000 files, it's my suspicion that's the culprit. I will try the polling trigger to see if that has any effect.

This is how my `skaffold.yml` profile looks like:
[code]

[2020-06-16 18:37] nkubala commented on #2056
i'm gonna reopen this one since i do think it's still a valid use case. doubtful that our team will have any time to prioritize it anytime soon so i'll mark it as P3, but if anyone wants to submit a PR contributions certainly welcome here.

[2020-06-16 18:53] nkubala commented on #1781
cc @briandealwis ref https://github.com/GoogleContainerTools/skaffold/pull/4183#issuecomment-640679742

[2020-06-16 18:54] nkubala commented on #3831
@no1melman just FYI our next office hours is wednesday 06/24 at 9:30 AM PST!

[2020-06-16 20:29] #4036 closed

[2020-06-16 21:26] tejal29 opened #4331 "Add new protos for suggestions or actionable error messages to Event API"
In PR #4045, we added framework to parse the last error and convert it to actionable error messages.

This is follow up of this work.
We need to add protos for IDEs to consume suggestions.

[2020-06-16 21:29] tejal29 opened #4332 "Add actionable error messages for all error codes defined so far"
A bunch of distinct error codes are defined [here](https://skaffold.dev/docs/references/api/grpc/#statuscode)
This issue to add actionable error messages for all these error codes.

[2020-06-17 03:36] #4322 closed

[2020-06-17 06:33] dgageot opened #4335 "`skaffold init` should detect Polyglot Maven projects"
Polyglot Maven allows using alternative representations for the pom.xml file, including YAML, Groovy, Scala, and more. The interpreter is pulled in via a .mvn/extensions.xml file.

[2020-06-17 12:35] no1melman commented on #3831
Yup I should be there.

[2020-06-17 15:27] davidfernandezm commented on #531
@nkubala thanks a lot for your suggestion, it fixed the CPU issue... now it's like standing at 20% (has been running for 3h). Still want to confirm, but could you point to some doc or explanation of the differences between `manual, polling, notify` and why `manual` goes crazy with CPU?

Thanks a lot again!

[2020-06-17 19:03] MatthewZito commented on #3571
@dungahk

Yeah, I'm just running `skaffold dev` as-is given I have similarly declarative configs. Thank you very much for posting your fix - I, too, was using kubectl as an alias and suspect I would've squandered an hour debugging had I not stumbled across your comment.

[2020-06-17 19:10] sammym1982 commented on #4302
Yes that should work I guess. I will give a try.

It would be good to take the images as parameter to `skaffold deploy` command just like 'skaffold build' has '--build-artifacts' option

`-b, --build-image=[]: Choose which artifacts to build. Artifacts with image names that contain the expression will be built only. Default is to build sources for all artifacts`

[2020-06-17 21:02] tejal29 commented on #3905
@RetWolf, Thanks for jumping in

Not sure if we need detailed config for specifying dependencies.
`Kubectl` and `kustomize` natively support [resource creation order](https://kubectl.docs.kubernetes.io/pages/app_management/apply.html).

The issue here, supporting deploy order amongst multiple skaffold deployers.
The solution you proposed might be overkill. WDYT?

I think, relying on deploy list or

[2020-06-17 21:02] tejal29 commented on #3311
Thanks @kylewolfe for confirming. Closing this issue now.

[2020-06-17 21:07] tejal29 commented on #4305
@dspitzer Thank you for your feedback.
Would it help if we add a sample config in the docs https://skaffold.dev/docs/design/global-config/

To answer your question:
1. Global config is a yaml file typically placed at ~/.skaffold/config
2. Ideally, you should not write the config but use the command  `skaffold config set` to set config value.
`skaffold config set --global local-cluster true`

[2020-06-17 21:08] Xan2063 commented on #3311
I would not close this issue as the missing sync and tail feature is pretty annoying...

[2020-06-17 21:12] briandealwis opened #4340 "Custom builder command-line is not shown"
### Expected behavior

`skaffold xxx -v debug` usually shows the executed commands.

### Actual behavior

[code]

I guess I can look at the `skaffold.yaml` and figure it out, but it would be useful to see the actual command-line.

### Information

- Skaffold version: head
- Operating system: macOS
- Contents of skaffold.yaml:

[code]

[2020-06-17 21:17] tejal29 commented on #4305
![image](https://user-images.githubusercontent.com/1534539/84951427-457af580-b0a5-11ea-86ff-239e518a3a45.png)

[2020-06-17 21:19] kylewolfe commented on #3311
Yes. I think those both need tracked. Without those, I'm still not going to adopt skaffold.

[2020-06-17 21:28] tejal29 commented on #4305
@dspitzer To answer your questions,
* What format should that global configuration file have? Yaml?
yes. This is a yaml file

* How do I specify for which context it is valid?
context here refers to your `kubect context` which is usually created using `kubectl config` command. See this for more information https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-cluste

[2020-06-17 21:36] tejal29 commented on #4302
@sammym1982 you do something like this
`skaffold build -b <image> --file-output <>` and then
`skaffold deploy --build-artifacts`

The file specified at `--build-artifacts`  should be a json file of this format.
https://github.com/GoogleContainerTools/skaffold/blob/master/cmd/skaffold/app/flags/build_output.go#L36

or

[code]
where
`imageName` is the image to be deployed
`tag` is the tag for the im

[2020-06-17 21:36] #4302 closed

[2020-06-17 21:53] tejal29 commented on #4295
@javier-b-perez Unfortunately the pr #3974 linked in #3229 only added the `IMAGE_REPO`, `IMAGE_NAME` and `IMAGE_TAG` to kaniko builder.

We need to do similar thing for docker builder [here](https://github.com/GoogleContainerTools/skaffold/blob/59fb6ff27d79bdfec22ab4d4f0c381dbe11da826/pkg/skaffold/build/local/docker.go#L65)

[2020-06-17 22:01] tejal29 commented on #4286
@bs1 I am not able to reproduce your example.

`skaffold run`  runs the pipeline and does not force recreation of objects if they are already up and running.

Can you use `--force=true` and try again?

[2020-06-17 22:07] tejal29 commented on #4268
Thanks for creating an issue. This seems like a reasonable request.

Skaffold config describes a pipeline e.g. what to build, what to deploy and using which deployer.
So far, it does not control the skaffold behavior and CLI args or Global Config is the way to to do this.
We do not have per project config setting. I remember @corneliusweig once had this idea of per project skaffold global config o

[2020-06-17 22:08] tejal29 commented on #3991
The plugins have a found a way to over come this issue by keeping a record of all events seen so far.

[2020-06-17 22:19] tejal29 commented on #3946
@giladsh1, we now integrated pod health check with `--status-check`.

On latest master,  you can now see why a deployment is pending.

On your example,
[code]
I will look into why the init container logs are not present.

@thclark your example, we can see the persistent volume claim being not present.

[code]

This experience is better in v1.11.0 and we will continue to improve this.

[2020-06-17 22:20] tejal29 commented on #3946
Changing the priority from p1 to p2 since we are not surfacing errors to the users.

[2020-06-17 22:36] tejal29 commented on #4261
We dont have anything right now. Team will definitely look into it.

[2020-06-17 22:41] tejal29 commented on #4288
@RetWolf We have a new `metaEvent` which captures types of builder.
Its missing the timings information. However, it should be easy to add them here
https://skaffold.dev/docs/references/api/grpc/#proto.Metadata

Let us know what you think.

Thanks
Tejal

[2020-06-17 22:43] tejal29 commented on #4320
The GCB docs mentions detailed steps on this https://cloud.google.com/cloud-build/docs/interacting-with-dockerhub-images

I have not tried this but as far as i know, this is possible.

[2020-06-17 22:43] tejal29 commented on #4320
Please re-open if you have additional questions.

[2020-06-17 22:50] tejal29 commented on #4329
Thanks for bringing this up @mythio.

Are you using `npm ci` or `npm install` in your Dockerfile?
When you say, "skaffold rebuilds the package and then installs dependencies again", does it also fetch the dependencies or used already fetched dependencies which are cached locally in ~/.cache folder?

Please describe your project setup, skaffold.yaml and minimal Dockefile,  we will be happy to assis

[2020-06-17 23:01] tejal29 commented on #4090
@vishal-biyani We recently renamed `values` in helm config to more appropriate `artifactOverrides`
https://skaffold.dev/docs/references/yaml/#deploy-helm-releases-artifactOverrides

The confusion here could have been, the `image` appears in `setValues` as well as `values`.

Can you please change your config to
[code]

[2020-06-17 23:04] tejal29 commented on #4090
Additionally, looking at your dockerfile, i would suggest remove the `Dockerhub`

[code]

[2020-06-17 23:09] tejal29 commented on #2981
This is now working on master
[code]

[2020-06-17 23:09] #2981 closed

[2020-06-17 23:12] tejal29 commented on #3970
reducing the priority since the IDEs are not seeing this anymore.

[2020-06-18 01:22] bs1 commented on #4286
I can recreate the behavior with the same steps outlined. Nothing changes when using `--force=true`. But maybe I'm misunderstanding something?  my expectation isn't to create k8s resources with the `run` since I'm assuming a pre-existing pod (the step 1). I'm only expecting that it gets updated with the built image.

[2020-06-18 04:02] tstromberg commented on #1312
Any update? The priority on this seems unusually high compared to the progress seen here so far.

[2020-06-18 04:18] tejal29 commented on #4310
@robertgates55 i was not able to reproduce your issue.
I did the following
[code]

This ran a registry
[code]
I ran `skaffold build` like you mentioned on latest skaffold 1.11.0 version.
[code]
and the command was successful
[code]

[2020-06-18 04:31] tejal29 commented on #4310
Setting `local-cluster` false, i can reproduce this error

[code]

[2020-06-18 05:39] gsquared94 commented on #4324
PR merge inadvertently closed the issue. Point 1 is still pending.

[2020-06-18 06:09] mythio commented on #4329
This is my Dockerfile

[code]

When I disable my internet connection, and run skaffold, `npm` says `npm ERR cb() never called`.
This is my `skaffold.yaml` file
[code]

[2020-06-18 09:52] dgageot commented on #4129
@briandealwis can this be closed?

[2020-06-18 10:41] amitm02 commented on #4320
All the steps mentioned in  [link](https://cloud.google.com/cloud-build/docs/interacting-with-dockerhub-images) are for using cloud build manually. e.g consturcting manually a yaml/json config file for cloud build request.
Not something that can be used with Skaffold as far as I know.

[2020-06-18 11:08] #4305 closed

[2020-06-18 14:55] MarcoSchaar opened #4347 "kube-context / kubeconfig not applied"
### Expected behavior

commands should be equal or at least one should be stable

[code]

### Actual behavior

kube-context is rarely taken and deployment is not always working as expected

### Information

- Skaffold version: v1.11.0
- Operating system: debian-stable
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. rename .kube/config file
2. `skaffold run --profile <

[2020-06-18 16:39] matthewmichihara opened #4348 "[FR] Different skaffold exit codes"
It looks like `skaffold init` can fail in a few ways.

1. Project has no Kubernetes resources. `skaffold init` fails with `one or more Kubernetes manifests are required to run skaffold` and exit code `1`.
2. Project has no build configuration (no Dockerfile). `skaffold init` fails with `one or more valid builder configuration (Dockerfile or Jib configuration) must be present to build images with s

[2020-06-18 16:52] #4282 closed

[2020-06-18 17:34] nkubala commented on #3789
we run tests against helm 3 now

[2020-06-18 17:34] #3789 closed

[2020-06-18 21:59] tejal29 commented on #4310
@dgageot I followed the code to figure out if there is a way to pass `insecureRegistries` to local docker daemon api client. The only way to found to load insecure registries was to create a `/etc/docker/daemon.json` file
https://docs.docker.com/registry/insecure/#deploy-a-plain-http-registry

Is my investigation on the right track?

@robertgates55 do you have insecure registry configured like thi

[2020-06-18 22:03] tejal29 commented on #3679
Thanks @GavinOsborn. Just wanted to update that the team is trying to get their hands on windows machine and reproduce this. Due to the new norms, i am not able to my login into windows desktop at work.
We will keep you posted.

[2020-06-18 22:38] GavinOsborn commented on #3679
Thanks for the update.

This isn't the first time I've heard both you and the minikube teams talk about the struggles of getting access to Windows devices.

Have you explored the idea of using a cloud vm?

[2020-06-19 00:24] balopat commented on #167
@VVKot can you have a look at this design doc: http://tinyurl.com/skaffold-modules? I would love to have your opinion.

[2020-06-19 00:24] balopat commented on #2448
@HofmannZ here's the design doc: http://tinyurl.com/skaffold-modules, all comments are welcome!

[2020-06-19 00:25] balopat commented on #3756
@LeoDupont would you mind giving feedback on the design for modules? The design doc is here: http://tinyurl.com/skaffold-modules. Thank you!

[2020-06-19 00:25] balopat commented on #3881
@giladsh1 do you mind commenting on the design doc for modules: http://tinyurl.com/skaffold-modules? Thank you!

[2020-06-19 00:26] balopat commented on #3118
@AndiDog do you mind giving us some feedback on the design doc for modules? http://tinyurl.com/skaffold-modules Thank you!

[2020-06-19 00:26] balopat commented on #3889
Hi @m1o1 - can you comment on http://tinyurl.com/skaffold-modules whether it satisfies your use case? Thank you!

[2020-06-19 00:27] balopat commented on #889
@bryanlarsen do you mind commenting on the design doc for modules and artifact dependencies here: http://tinyurl.com/skaffold-modules? Thank you!!

[2020-06-19 00:27] balopat commented on #3247
@robertgates55 can you comment on whether http://tinyurl.com/skaffold-modules would satisfy your requirements? Thank you!

[2020-06-19 00:54] #4129 closed

[2020-06-19 02:38] legopin opened #4351 "skaffold debug with nodejs duplicates ENV values"
### Expected behavior
When running skaffold debug with NodeJS application deployed by kustomize, I expect the env variables from overlays will not be duplicated or overwritten

### Actual behavior
The resulting deployed pod template had duplicate ENV variables.

For `valueFrom: secretKeyRef` the additional blank ENV variable actually overwrites the previous value.

![Screen Shot 2020-06-19 at 10 3

[2020-06-19 06:37] tejal29 commented on #4321
Team agrees, default-repo is confusing and leads to unexpected image name substitution.
Feel free to jump on this.
We can add a new flag `--repo-prefix` and deprecate the old flag.

[2020-06-19 06:38] simonoff commented on #4106
Interesting.... we need such feature too!

[2020-06-19 06:42] simonoff commented on #2492
Guys! Such feature is a must have for full local development inside Kubernetes. I have reviewed the ways how to implement it - and only one way looks is better for me - inject a sidecar container which will do such sync. In similar way how the devspace doing it. What do you think?

[2020-06-19 06:48] tejal29 commented on #4328
Thanks for the issue @runefs. The issue here when skaffold creates a build context tar, it tars up the `Dockerfile` outside of context at path `../` and hence you see the following error from docker daemon
[code]

https://github.com/GoogleContainerTools/skaffold/blob/d402799901c8c7b92fa670a38590e89bf2fd6de0/pkg/skaffold/docker/context.go#L29

The right thing to do here is if `Dockerfile` is not in

[2020-06-19 07:16] tejal29 commented on #4347
@MarcoSchaar i was able to reproduce your issue on master
[code]

I did some debugging and looks like this line returns a empty config in spite of path being set
https://github.com/GoogleContainerTools/skaffold/blob/85cfd0b20002c9aa85adccee4dc457325669db96/pkg/skaffold/kubernetes/context/context.go#L105

This will take some debugging effort.

[2020-06-19 07:19] tejal29 commented on #4351
Thanks for all the files and example to reproduce.

[2020-06-19 08:00] nitkon opened #4354 "Skaffold should handle multi-build execution contexts(local vs cluster vs gcb)"
### Expected behavior
Skaffold supports multi-build execution contexts(local, cluster, gcb) in a single Skaffold.yaml.
For example, if there are two artifacts, one to be built with Kaniko in a cluster and another one to be built with jib locally, Skaffold should support it.

### Actual behavior
Skaffold errors out.
[code]
### Information

- Skaffold version: v1.11.0-39-gd32eec1b8
- Operating syste

[2020-06-19 08:51] #4327 closed

[2020-06-19 08:53] dgageot commented on #4348
@tejal29 Do you have an idea on how to implement this with what you've already done on errors? Otherwise, I'm happy to give it a shot

[2020-06-19 08:54] dgageot commented on #4340
Fixed with https://github.com/dgageot/skaffold/commit/8348922a27564fea7d4e5910a9389b9341e91e5a

[2020-06-19 08:54] #4340 closed

[2020-06-19 09:00] dgageot commented on #4351
cc @briandealwis

[2020-06-19 09:34] dgageot commented on #3910
I'm going to close this one because we can't reproduce

[2020-06-19 09:34] #3910 closed

[2020-06-19 09:54] #2351 closed

[2020-06-19 09:54] #3272 closed

[2020-06-19 11:59] k opened #4356 "Add optional 'render' stage"
This is a feature request. I like the `skaffold render` command, but currently I am using it in a script to pipe helm output to a file and then apply a subset of the rendered manifests with kubectl based on the images that were built.

What would be better is if I could add a render step using helm to output the manifests natively in skaffold, then use the kubectl deployer with my custom flags tha

[2020-06-19 13:03] whitleykeith commented on #3801
Any update on this?

[2020-06-19 14:55] amitm02 commented on #4320
@tejal29
I dont have premission to reopen the issue.

[2020-06-19 15:01] matthewmichihara commented on #4327
thanks for the quick fix!

[2020-06-19 15:49] #4289 closed

[2020-06-19 15:55] tejal29 commented on #4356
@k i am not sure i understand what you mean by "render manifests natively in skaffold".

`skaffold render` uses the `helm template` command to render manifests.
https://github.com/GoogleContainerTools/skaffold/blob/fddc9544364b83766343219925bb9e819a043f79/pkg/skaffold/deploy/helm.go#L252

Do you mean, skaffold should first  only *render* using `helm template` and then deploy using `kubectl` deploy

[2020-06-19 15:57] tejal29 commented on #4354
@nitkon yes currently skaffold either supports local or cluster builds. Both mixed is not supported right now.

[2020-06-19 16:20] tejal29 commented on #4320
Hey Amit,
Thanks for clarifying you meant within skaffold a GCB build.
Currently, with GCB builder, pushing to docker hub is not supported with the default docker builder.
However, you can use [kaniko](https://github.com/GoogleContainerTools/kaniko/) which allows you to pass your [docker secret](https://skaffold.dev/docs/references/yaml/#build-cluster)

Here is an example of GCB kaniko cluster bui

[2020-06-19 16:28] tejal29 commented on #4095
@dgageot @nkubala do we plan to work on this in near future? This issue is out of SLO and if we don't plan to work on this, i can reduce the priority to p2

[2020-06-19 16:50] m1o1 commented on #3889
@balopat Sure I'll check it out tonight and comment. Thanks!

[2020-06-19 17:06] dgageot opened #4358 "Updating pack to 0.11.2 break gcb integration"
I tried to update the `k8s-skaffold/pack` image to pack 0.11.2. This breaks gcb integration. Every build fails with this error:

[code]

It looks like if we set the builder as `trusted`, the build doesn't fail

[2020-06-19 17:09] dgageot commented on #4095
The problem is only with our integration tests. Skaffold works well with kind 0.8.0. So, yes, changin gto P2

[2020-06-19 17:26] k commented on #4356
Yes thats exactly what I mean. We don't use helm to deploy so the helm deployer tries to do a helm install which fails because the manifests already exist in the cluster @tejal29

[2020-06-19 17:30] dgageot commented on #4358
See https://github.com/buildpacks/pack/issues/702

[2020-06-19 17:46] smhendrickson commented on #4268
Thanks Tejal!

In our work case yes, each server is deployed with a different skaffold.yaml. Although for that case a global config would likely be sufficient.

Things change if I broaden the scope to personal projects. My personal site is deployed with skaffold. I'd want a different set of default configurations for that compared to what I use for work.

This is mitigated for me because I have a

[2020-06-19 19:16] k commented on #4356
@tejal29 Will pre and post deploy hooks support helm/kustomize?

[2020-06-19 19:39] briandealwis commented on #4351
Thanks for the test case @legopin!

[2020-06-19 21:13] tejal29 commented on #3679
@GavinOsborn skaffold tried to terminate the `kubectl port-forward` process by cancelling the child process's context which on windows, might does not kill the process.

@gaghosh is helping me run this on their personal machine.
We will try to see if this patch to explicitly terminate the process fixes the issue
[code]

[2020-06-19 21:21] tejal29 commented on #2745
Reopening issue.

[2020-06-19 21:46] tejal29 commented on #3883
@frayer and @adjavaherian As  @dranes mentioned in #4175 the right way to configure `volumeMounts` is to use lower case `mountpath` and `readonly`

[code]

[2020-06-19 21:46] tejal29 commented on #3883
Closing this issue now. Please comment if it does not fix your issue

[2020-06-19 21:46] #3883 closed

[2020-06-19 22:15] corneliusweig commented on #2468
@LEQADA These flags only refer to Skaffold configuration.

[2020-06-19 22:26] corneliusweig commented on #4268
Would it be sufficient to have dedicated config for different kubectl contexts? Because the global configuration already supports that.

When we dropped the idea of per-project configurations, we ran into problems, because it is not obvious how to identify a project across machines of many developers. In the end nobody had a strong use-case which could not be solved another way. So the technical c

[2020-06-19 22:47] balopat opened #4361 "building artifacts multiple ways is hard to configure"
Today, if you want to switch _all_ your builder types to kaniko from local docker, you'll have to repeat all your artifacts. This is cumbersome so people resort to using YamlAnchors. E.g. https://github.com/ForgeRock/forgeops/blob/master/skaffold.yaml

A smaller example:

[code]

Issues with our current config reflecting in repetition are:
- `kaniko.image`, `kaniko.flags`, etc. are only available

[2020-06-19 22:56] smhendrickson commented on #4268
I think configuring per kube context is a nice intermediate between no control and too much complexity.

If a user *really* needs different defaults for a single cluster they can still get that control by duplicating kube contexts.

Would we want to allow defaulting any flag, or just the cleanup flag?

[2020-06-19 22:57] tejal29 commented on #4175
Thanks @dranes.
@tstromberg i added some docs here https://github.com/GoogleContainerTools/skaffold/pull/4362

[2020-06-19 23:34] gsquared94 commented on #3679
I could verify that it's because the `kubectl port-forward` processes are not getting terminated.
![image](https://user-images.githubusercontent.com/39389231/85185849-aabc1b80-b24a-11ea-88f3-8f9578e83995.png)
@tejal29 I tried this patch but it didn't fix the issue. I'm gonna keep digging.

[2020-06-20 00:14] tejal29 commented on #3679
I am not sure if this will work, but kaniko does this to ensure all children are killed
https://github.com/GoogleContainerTools/kaniko/blob/2fc8a7f4bcd4f91052c7defd80f90631b9e2b4cb/pkg/commands/run.go#L113

[2020-06-20 06:36] RetWolf commented on #3905
@tejal29 Today I learned that kubectl and kustomize natively support resource creation order! Thanks for that link. I'd agree that the solution I came up with is a bit overkill, I'll have to take another look at my current config and implementing deploy order amongst multiple deployers.

[2020-06-20 06:39] RetWolf commented on #4288
I can take a look at implementing this as well, thank you for the link. The metaEvent stuff looks good.

[2020-06-20 23:19] petr-buchin commented on #3871
Hi @nkubala, I am very sorry for not getting back to you sooner.
I was no able to reproduce this issue using newest Skaffold build, so I think this issue can be closed for now. I'll reopen it if there will be any issues with sync later.

[2020-06-20 23:19] #3871 closed

[2020-06-21 08:39] #4168 closed

[2020-06-21 09:30] amitm02 opened #4366 "PVC get deleted on clean up (when bound by a Deployment)"
I've used minio as part if the deployment in Skaffold. [link](https://github.com/helm/charts/tree/master/stable/minio)

The helm value of the minio: persistence.enabled is set to true, and a PVC is created for its data.
However the PVC get terminated and data is lost when ctrl-c is pressed on Skaffold run.
I don't think Skaffold should event cleanup and delete PVCs.

I can see Skaffold add a clean

[2020-06-21 21:22] smhmayboudi commented on #167
@ahmetb do you have any dependency which shares between your services? if yes, how do you manage them? I have two microservices which I add the reddis as a dependency to both helm charts and I am trying to run then with one skaffold file. However when the second one goes up, it deletes the first one !?

[2020-06-22 02:10] briandealwis opened #4368 "Support file-watching on a per-artifact basis"
Some language runtimes, like the JVM, support dynamic code replacement during debugging (known by different terms such as _live-edit_, _hot-swap_, _hot-reload_).  For such language runtimes, `skaffold dev`'s rebuild-and-redeploy (aka _file watching_) on a source change causes the corresponding container to be torn down and any processes being debugged to be restarted.  This is disorienting and ann

[2020-06-22 02:38] briandealwis commented on #3905
@tejal29 I think the resource creation order is only true for kustomize?  There's still the ordering of Skaffold's deployers (e.g., kubectl vs helm).

[2020-06-22 02:46] #4351 closed

[2020-06-22 08:21] sw360cab commented on #3905
I am experiencing what I think is a similar issue.
My `skaffold` file includes a CRD creation (for Traefik). In order to have that custom resources available when skaffold will create resources based on them, I placed explicitly the manifest (for CRD) as first one. However skaffold (kubectl) exits with error, it is complaining that names of some resources are unknonwn (exactly the ones that I expe

[2020-06-22 12:22] TomaszKlosinski commented on #2495
This breaks my RBAC. How do I suppose to let me people use skaffold and not grant them permissions to list everything in the cluster?

/open

[2020-06-22 12:26] TomaszKlosinski commented on #2495
This breaks my RBAC. We have a namespace for each developer and we share skaffold.yaml within the git repo. Everybody suppose to work in his own namespace, but without access to the cluster-wide deployments. How can make it work just with current context namespace (like it did in previous version of skaffold)?

[2020-06-22 14:30] wstrange commented on #4361
Would something like this make sense:

[code]

Then
[code]

Or at the profile level
[code]

[code]

[2020-06-22 14:31] nitkon commented on #4354
@tejal29: The need for this feature emerged when the user wanted to use Skaffold to build security-sensitive Java artifacts built using jib on-prem and build other non-java artifacts using remote Kaniko cluster builds.

[2020-06-22 15:30] mjgallag commented on #3905
The latest release of `kustomize`, `v3.6.1`, doesn't appear to solve the `CRD` issue:
[code]
[code]

[2020-06-22 16:08] briandealwis commented on #3905
#2645 was the impetus for respecting the order of the manifests as listed in the `skaffold.yaml`.

[2020-06-22 18:07] briandealwis opened #4370 "Skaffold helps build debuggable containers"
Builds from certain language runtimes would benefit from being informed of whether the build is for debugging or development vs production.  For example, Go builds for debug should be built with `-gcflags='-N -l'` to disable optimizations.

[2020-06-22 18:43] felixtran39 opened #4371 "FR: Ability to combine tagging policies"
This is a feature request.

I would like to expand on Skaffold's tagging policies by adding a new one which is able to combine pre-existing tagging policies together. For example, I want to be able to combine dateTime and gitCommit as my tagging policy and have it follow this template "{dateTime}-{gitCommit}".

[2020-06-22 19:03] gsquared94 commented on #3679
So it seems that on windows running `kubectl portforward` creates a child process that binds to the port and doesn't terminate when we terminate the parent process unlike in macos where a single process does that. I've tried a few ways including the above but those didn't work. I tried [job objects](https://docs.microsoft.com/en-us/windows/win32/procthread/job-objects) in a sample app and that wor

[2020-06-22 19:52] tejal29 commented on #4366
Thanks @amitm02.  Skaffold naively applies all clean-up label for all the resources deployed by it.
You could use `--cleanup=false` to not clean up all resources along with your dev command.

However, to know more about your use case,
1. Do you expect the PVC to be created only if its not present? Is this part of app setup?
2.Across dev loops is it ok to use the same data?

If PVC creation is one

[2020-06-22 20:27] tejal29 commented on #4286
Thanks @bs1.
I am curious,
[code]
The remote manifests should point to a url like
[code]

[2020-06-22 20:29] tejal29 commented on #4356
@k, to understand you use case better, can you please share some part of your helm charts or skaffold logs `-v=debug`.

As far as we think,`helm template > manifests.yaml | helm install` should suffice. We would love to hear specific cases where it does not.

[2020-06-22 20:30] balopat commented on #4361
What you are suggesting is logically sound and follows the "referencable builder" concept that you kind of introduced using YamlAnchors. However, it introduces a new feature: the ability to specify different builders _per artifact_.

Do you have a use case for that? Based on the forgerock yaml it seems you either want to build all artifacts with docker or all of them with kaniko. Would the hybrid

[2020-06-22 21:14] bs1 commented on #4286
interesting, that's not my expectation from the [docs](https://skaffold.dev/docs/references/yaml/#deploy-kubectl-remoteManifests), or the [source](https://github.com/GoogleContainerTools/skaffold/blob/60ffad7ce133e65ec18bdeb382bfabf388aec047/pkg/skaffold/deploy/kubectl.go#L182):
[code]

[2020-06-22 21:52] wstrange commented on #4361
We don't really have a use case for a builder per artifact. I got carried away with a bit of bike shedding!

A referencable builder per profile (with a default if omitted) would be quite nice. It would save repeating the builder spec on each profile.

[2020-06-22 23:29] gsquared94 commented on #3656
We've already added nightly integration tests against minikube for ubuntu and macos on Github Actions. Would that suffice to close this issue @medyagh ?

[2020-06-23 01:40] gsquared94 commented on #3656
cc. @tstromberg

[2020-06-23 01:58] #3679 closed

[2020-06-23 11:08] amitm02 commented on #4366
There seem to be inconsistent behaviour regarding how Skaffold treat PVC when it is created via StatefulSet "volumeClaimTemplates"..

I've added a @stable/mongodb helm subchart to the deploy. if I set it to run as standalone, via:
[code]
[PVC template standalone](https://github.com/helm/charts/blob/master/stable/mongodb/templates/pvc-standalone.yaml)
Then the PVC is created on "Skaffold dev" and i

[2020-06-23 17:22] #4331 closed

[2020-06-23 18:44] tejal29 commented on #4348
@dgageot i have done no work in `skaffold init` error codes. Please feel free to take this.

[2020-06-23 19:08] j-windsor opened #4377 "Unclear what needs to be done to cause skaffold init --analyze detect buildpack entrypoint for Python"
### Expected behavior

Cloud Code python samples (k8s and Cloud Run) do not work out of the box with skaffold buildpack builders, and it is unclear how a python project needs to be architected to cause skaffold to detect buildpacks as a builder.

It looks like this is a more general GCP buildpacks issue as well. https://github.com/GoogleCloudPlatform/buildpacks/issues/45

### Information

- Skaffo

[2020-06-23 19:11] dgageot commented on #4377
Buildpacks need both a `requirements.txt` that indicates that it's a Python project and a `Procfile` that indicates the entrypoint. `skaffold init` mimics that behaviour and requires those two files. That's not convenient but we can't really do better right now. We'd have to improve the buildpacks so that they sometimes guess the python entrypoint.

[2020-06-23 19:14] dgageot commented on #4377
A behaviour that is better with Buildpacks alone is that if you run a build in a Python project that only has a `requirements.txt` but no `Procfile`, it should give you a clear error message. `skaffold init` doesn't

[2020-06-23 19:17] j-windsor opened #4378 "skaffold init --analyze builder detection for Java heuristic needs improvement"
### Expected behavior

The Cloud Code java Cloud Run sample does not work out of the box with skaffold buildpack builders, and it is unclear how a Java project needs to be architected to cause skaffold to detect buildpacks as a builder.

https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/java/java-cloud-run-hello-world
For example, if I leave everything as is, Docker and Jib are

[2020-06-23 19:20] dgageot commented on #4378
This is indeed a bug

[2020-06-23 19:39] j-windsor commented on #4377
I feel like we could at least put the requirements in documentation somewhere if it is not already.

[2020-06-23 20:17] #4025 closed

[2020-06-24 00:29] peterlin741 opened #4382 "Request for `--format json` flag in `skaffold schema list`"
`skaffold schema list` currently only returns a line by line output. It would be nice to have a flag to return the results in a json format, to help with parsing, and to avoid unintentional breakages, should the output format change.

[2020-06-24 07:30] Djiit commented on #346
Hey, I'll be happy to help review any document on this. Using Skaffold on Gitlab CI right now and looking for optimizations.

[2020-06-24 08:18] dgageot opened #4386 "`make checks` is failing on master branch"
Fails with this error:

[code]

[2020-06-24 09:02] #4386 closed

[2020-06-24 09:26] StarpTech opened #4388 "docker.pkg.github.com: unable to pull images with @sha256 tag in image name"
# Expected behavior

`skaffold run` produces an invalid image tag that can't be pulled on Kubernetes. I use Github Packages as docker registry.

[code]

### Actual behavior

Produced error:

[code]

After removing the part `@sha256:` my deployments work and all images are pulled correctly.

### Information

- Skaffold version: v1.11.0
- Operating system: Ubuntu
- Contents of skaffold.yaml:

[code]

[2020-06-24 13:29] #4382 closed

[2020-06-24 14:56] peterlin741 commented on #4382
Thanks for the quick response david!

[2020-06-24 16:40] tstromberg commented on #4371
Thank you for the feature request. I'm flagging this for discussion next week.

[2020-06-24 16:41] tstromberg commented on #2273
Marking this as help wanted.

I had initially looked into do things, but I ended up passing secrets in via environment variables instead of the Docker build feature.

[2020-06-24 16:44] tstromberg commented on #2492
@simonoff - sidecars seem like a very reasonable appproach.

[2020-06-24 16:55] tstromberg commented on #4388
This is unfortunately a restriction of docker.pkg.github.com:

https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-docker-for-use-with-github-packages

Marking as dupe of #4218

[2020-06-24 16:55] #4388 closed

[2020-06-24 17:03] tejal29 opened #4389 "Refactor `Errors.Problem` as per code review comments here"
Refactor,

`type problem` to implement a method `Matches` which does the following.
[code]
https://github.com/GoogleContainerTools/skaffold/pull/4383

[2020-06-24 17:03] StarpTech commented on #4218
Is it so hard to prepare a PR which address this limitation behind a flag? I will try to do it. Any @tstromberg hints?

[2020-06-24 17:32] nkubala commented on #1312
the design for this is being actively worked on. I think it's fine to leave this as P1

[2020-06-24 17:36] nkubala commented on #531
@davidfernandezm glad to hear that fixed your issue! we have some brief documentation on the trigger types at https://skaffold.dev/docs/workflows/dev/ under "File Watcher and Watch Modes", but this could definitely be improved. I don't have time to do this right now but if you'd like to become a contributor feel free and throw some improvements together :)

FYI it's not `manual` that goes crazy, i

[2020-06-24 17:50] amitkarpe commented on #4033
Hi @nkubala ,

Where I can add example/docs for "running skaffold in docker"?
Following location for examples will be right for this?
https://github.com/GoogleContainerTools/skaffold/tree/master/examples

[2020-06-24 18:19] nkubala commented on #3831
@no1melman would be great if you could provide a sample project that we can test this out on!

[2020-06-24 18:46] nkubala commented on #4268
I think we should try and scope this down as much as possible, skaffold already has wayyy too many flags just getting thrown around so I don't want to add to the problem :)

to me this makes sense to set on a per-context basis, since that's usually tied to different environments where you'd like to be either cleaning up or not, so I think we should add this to the global config. @smhendrickson are

[2020-06-24 18:49] nkubala commented on #3801
I think this would actually be solved through artifact modules: the idea would be that you could set the dependency image as a child module of the parent, and that would guarantee the build order and also guarantee that the base image is built first so it doesn't reach out to a registry. does that sound like it would solve your use case?

you can have a look at the design for this feature here: ti

[2020-06-24 19:12] #3970 closed

[2020-06-24 19:12] #3991 closed

[2020-06-24 21:07] nkubala commented on #4231
hey @MarcoSchaar, skaffold supports multiple deployers specified in the skaffold.yaml so there's no reason in theory why you couldn't combine kubectl and helm deployments together. just specify each component along with its configuration in your skaffold.yaml as a separate deployer and things should just work:

[code]

as for `skaffold init`, we only support automatically bootstrapping single depl

[2020-06-24 21:46] #4378 closed

[2020-06-24 21:53] balopat commented on #2154
This is still an open issue. Nothing has been done about it, I haven't finished setting up a kokoro process for it.

[2020-06-24 22:26] tejal29 commented on #4228
closed by https://github.com/GoogleContainerTools/skaffold/pull/3567

[2020-06-24 22:26] #4228 closed

[2020-06-24 22:31] #4293 closed

[2020-06-25 01:31] tejal29 opened #4391 "Review comments from PR #4390"
Due to time crunch, and some flakiness in CI, i didnt have enough time to review this refactor.
This is place holder bug to review #4390 and address any changes.

[2020-06-25 09:51] thomas-riccardi commented on #2273
@tstromberg how would you envision asking host-specific data (the secret paths) to the skaffold user?

[2020-06-25 15:43] smhmayboudi commented on #167
Deploy multiple microservice is not working with helm in the case which chart needs the same dependency. skaffold changes the meta types of the 1st microservice dependency and the second microservice with the same dependency wants to update and it is not working.
1st dep app.kubernetes.io/managed-by=skaffold-v...
2nd dep app.kubernetes.io/managed-by=Helm

[2020-06-25 18:08] tejal29 commented on #4332
Most of these have been fixed by #4383 and #4393

[2020-06-25 18:08] #4332 closed

[2020-06-25 22:14] j-windsor opened #4397 "`debug` detect direct processes with `/bin/sh -c ...`"
### Expected behavior

Similar to what was done in #4345, but the general case that works for docker builds as well.

### Actual behavior

Debug events are not sent when the Dockerfile CMD or ENTRYPOINT contains `/bin/sh -c ...`

Something like
[code]

### Information

- Skaffold version: version 4c2ea7c
- Operating system: macOS 10.15.4

[2020-06-25 22:22] briandealwis commented on #4397
We'd see this with a normal dockerfile like:
[code]

which will be turned by Docker into
[code]

Handling `/bin/sh -c` as an entrypoint launcher like in @j-windsor's example is really no different.

[2020-06-26 07:04] MarcoSchaar opened #4399 "helm does not perform upgrade"
### Expected behavior
deploy and upgrade helm charts worked fine with version 1.10.1 and api v2beta4

### Actual behavior
helm does not perform an upgrade with version 1.11 / 1.12 and api v2beta5

### Information

- Skaffold version: 1.11 / 1.12
- Operating system: any
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. compare with version 1.10.1
2. `skaffold run --profi

[2020-06-26 07:14] MarcoSchaar commented on #4399
could be related to
https://github.com/GoogleContainerTools/skaffold/pull/4294

[2020-06-26 09:15] dgageot commented on #4377
I wonder if we could change the way `skaffold init` works for Python projects and assume a project with only a `requirements.txt` is a valid Python project. When the user first builds that project, it would fail if there's no `Procfile` but at least, the message would clearly state what needs fixing.
It would maybe be more aligned with users' expectations.
@briandealwis wdyt?

[2020-06-26 09:21] dgageot opened #4401 "Change default values/Remove `-XX*` flags from `skaffold init`"
I wonder if it would be safe to enable `--XXenableBuildpacksInit`,  `--XXenableJibInit`, `--XXenableJibGradleInit`,  `--XXenableNewInitFormat` by default for `skaffold init`?

What would be the impact of that?

Could some of those flags even be removed?

[2020-06-26 12:48] dgageot commented on #4347
The code that handles kube-context and kubeconfig is very convoluted. And for sure, it's buggy. I'm taking a look at how we can fix it

[2020-06-26 13:08] dgageot commented on #4347
It's a giant mess.

Those parameters can be set with env var, command line arguments, in skaffold.yaml and by profiles. Profiles can be activated based on kubecontext... So they could in theory change the kubecontext based on the kubecontext...

Also, the survey link is displayed based on kubecontext. But this often ignores the values passed on the command line and in the skaffold.yaml...

[2020-06-26 13:10] dgageot commented on #4347
I think we should deprecated the `kubecontext` field in `skaffold.yaml`. This can't really work because we rely on the actual kubecontext for many things BEFORE we even parse skaffold.yaml

[2020-06-27 20:39] torsten-liermann commented on #2357
@dsyer thank you for the workaround. Shouldn't skaffold set a value for $ IMAGE? If I try your example, nothing happens with the string $ IMAGE. What is still missing? Thanks

[2020-06-27 21:00] torsten-liermann commented on #2357
@balopat @dsyer I'm trying Dave's example with Skaffold 1.12 on Windows. But the $ IMAGE variable is not replaced. Does anything have to be configured for this? Thx.

[2020-06-28 12:24] michielswaanen commented on #3295
Same issue here.
After stopping `skaffold dev` not a single pod, service or deployment is deleted.
![image](https://user-images.githubusercontent.com/32015956/85947421-e3df4480-b94a-11ea-99bf-d4f58e9b94b5.png)

Anyone has some more information?

Also tried running `skaffold dev --no-prune=false --cache-artifacts=false`, didn't do anything.

[2020-06-28 14:33] loosebazooka commented on #2357
If you don't have any special requirements like this, try the springboot devtools example which uses auto sync: https://github.com/GoogleContainerTools/skaffold/tree/master/examples/jib-sync

[2020-06-28 17:13] torsten-liermann commented on #2357
Thanks,  I know jib. Your example is not clear. If you change HelloController.java, the entire build will be run.

[2020-06-28 20:32] samstarling opened #4404 "Example with sharing library code between services?"
I've been trying to work out how I can get skaffold to build several Go services in a monorepo which share some code between each other (proto definitions, and a couple of libraries).

[You can see the repo with my example code (described below) on GitHub](https://github.com/samstarling/monorepo-test). The repository looks like this:

[code]

In my Dockerfile, I have something like this:

[code]

[2020-06-29 05:39] vishal-biyani commented on #4090
Thank you @tejal29 - the pointers were helpful to get to a working state with Kind for me. There is some change needed on my side in Fission but I will take it forward from here - thanks a lot for your help.

[2020-06-29 05:39] #4090 closed

[2020-06-29 07:21] #4095 closed

[2020-06-29 07:34] dgageot commented on #4301
Duplicate of #3047

[2020-06-29 07:34] #4301 closed

[2020-06-29 12:00] Mor-Walkme commented on #4399
Adding "upgradeOnChange: true" to skaffold.yaml solved the issue for me

[2020-06-29 12:17] dgageot commented on #4401
@matthewmichihara wdyt?

[2020-06-29 12:52] MarcoSchaar commented on #4399
Thanks @Mor-Walkme
that helped for me as well.
somehow behavior has changed.

[2020-06-29 12:52] #4399 closed

[2020-06-29 13:44] torsten-liermann commented on #2357
Addendum because I am not allowed to edit my old post: Devtools does not work with webflux, at least as far as the remote update is concerned. [issue](https://github.com/spring-projects/spring-boot/issues/13092)

[2020-06-29 14:25] adjavaherian opened #4409 "Question about node selectors, affinity and tolerations"
I'm looking at a few different docs and examples and I can't seem to find a succinct example of applying a toleration or selector when defining a kaniko arg spec.  Basically, I want to schedule kaniko pods (via skaffold) with tolerations for taints which are in place on some nodes.  I'm wondering if this is even possible?

### Information

- Skaffold version:  > v1.4
- Operating system: k8s

[2020-06-29 15:08] dsyer commented on #2357
I don't think you need remote updates for skaffold though (that's kind of the point of skaffold sync - it handles all of that), so the issue you linked to isn't really relevant. There is another issue that is relevant: https://github.com/spring-projects/spring-boot/issues/21424 (more to do with the buildpack than Spring Boot as such).

[2020-06-29 15:24] robertgates55 commented on #3247
Sorry for the delay - finally had time to get through the design doc, and yeah - that's exactly what I was after and would satisfy the requirements!

[2020-06-29 15:30] matthewmichihara commented on #4401
Would need to confirm for sure with testing, but on the IntelliJ side, I think all of those should be safe to to enable by default and remove except for `--XXenableJibGradleInit`.

For `--XXenableJibGradleInit`, we assume it is false and only set it to true if the right conditions are met, so enabling it by default would require a change on the plugin side.

[2020-06-29 15:43] loosebazooka commented on #2357
If you are using maven, this is a problem with maven unfortunately. They don't do incremental builds very well.
Gradle, while it may have its own issues, does the incremental compile much much better.

@dsyer's solution is nice for maven users since the IDE will do the right thing incrementally compiling. Maybe we can improve auto sync to use the outputs from the IDE too.

[2020-06-29 15:48] briandealwis commented on #4404
Your `context` needs to point to the root of your project.  It's ok to have several artifacts point to the same location: it's the `image` name that must be distinct between artifacts.

For the `docker` builder, Skaffold effectively invokes
[code]

where `{context}` defaults to `.` and `{docker.dockerfile}` defaults to `Dockerfile`.

[2020-06-29 15:58] chanseokoh commented on #2357
@torsten-liermann as @dsyer pointed out, I don't think the remote update feature of Devtools makes sense with Skaffold. You should let Skaffold sync and update files and have Devtools reload them, instead of manually updating server-side files through the remote update of Devtools.

[2020-06-29 16:53] torsten-liermann commented on #2357
@loosebazooka

I referred to the configuration of skaffold in the example with maven. It is not necessary for skaffold to start a build if the java code is changed.

[2020-06-29 16:59] dsyer commented on #2357
Indeed. That's why I used `target/classes` in the sync configuration. Skaffold will copy the compiled code over if the IDE or command line dumps it in `target/classes`.

[2020-06-29 17:02] torsten-liermann commented on #2357
@chanseokoh

I just wanted to mention remote update of Devtools that it doesn't work with webflux apps. I didn't know before. Maybe a bit helpful at the moment: it offers a way to restart the app remotely.
I would like to use buildpacks with skaffold, but as noted by Dave, it doesn't work at the moment.

[2020-06-29 17:09] nkubala commented on #4033
@amitkarpe I think this particular example would be better as a docs page, maybe either https://skaffold.dev/docs/quickstart/ or https://skaffold.dev/docs/tutorials/. the content for these pages lives at https://github.com/GoogleContainerTools/skaffold/tree/master/docs/content/en/docs

[2020-06-29 17:29] #3771 closed

[2020-06-29 17:29] #3793 closed

[2020-06-29 17:31] #4348 closed

[2020-06-29 17:45] balopat opened #4410 "Add gcloud as a way to install skaffold in the docs"
We should add the Cloud SDK as a way to install skaffold.

`gcloud components install skaffold`

[2020-06-29 17:47] #4253 closed

[2020-06-29 18:22] briandealwis commented on #4377
It does feel like `init` should provide a list of caveats + suggested remedies for prospective artifacts.

[2020-06-29 19:39] anikm1987 commented on #3047
Hi,
Are you able to run it with AKS? I am facing the similar issue with kubecontext. I am able to execute normal commands. K get pods

Any help will be highly appreciated.
Thanks
Aniket

[2020-06-29 21:42] ivanporty opened #4411 "skaffold diagnose fails when Minikube is current cluster/context and is in stopped state."
Setup:
* Have Minikube set up as a current cluster and context
* Pause it
* Make sure no Docker is running
* Go to a valid Skaffold supported project
* Run `skaffold" diagnose --yaml-only`
* Results in an unexpected error:
[code]

The same sequence works with any other cluster, started/stopped Minikube and doesn't require Docker to be present.

This issue results in a unsupported builders UI for C

[2020-06-30 00:20] smhendrickson commented on #4268
Sgtm, I can take this one. With scope in mind, I'll just add a CleanupDefault into the global [ContextConfig](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/config/global_config.go#L28).

I am having trouble getting the repo to build correctly after running `hack/new_version.sh`. If there are any gotchas for this please lmk, otherwise I will drop by the slack when I have

[2020-06-30 00:33] felixtran39 opened #4412 "Cluster serviceaccount not changing"
### Expected behavior
Successfully builds the desired image and pushes it to container registry.
### Actual behavior
Throws the following error:
`[build-and-push] Building [gcr.io/yuwenma-gke-playground/demo-backend]...
[build-and-push] couldn't build "gcr.io/yuwenma-gke-playground/demo-backend": creating kaniko pod: pods is forbidden: User "system:serviceaccount:pl:default" cannot create resource

[2020-06-30 02:58] tejal29 opened #4413 "[docs]Clean up protos docs on skaffold.dev"
https://skaffold.dev/docs/references/api/grpc/ docs are messed up.
The enum codes documentation is no longer rendering correctly.

[2020-06-30 06:18] dgageot commented on #4411
Can't reproduce with minikube v1.9.2

[2020-06-30 06:26] dgageot commented on #4411
Can't reproduce either with minikube v1.11.0 or older versions of Skaffold. @ivanporty which version of minikube are you using?

[2020-06-30 06:32] dgageot commented on #4413
@tejal29 do you have a sample of what's wrong and what it used to look like?

[2020-06-30 14:49] etanshaul commented on #4167
@briandealwis @dgageot reopening as I'm running into issues building this same project using buildpacks:

skaffold.yaml build config:

[code]

output:
[code]

[2020-06-30 14:57] etanshaul commented on #4167
again my mistake. the context is configured incorrectly again..

for the record, here is what I saw in the UI;
<img width="392" alt="Screen Shot 2020-06-30 at 10 56 01 AM" src="https://user-images.githubusercontent.com/1735744/86141737-676e7200-bac0-11ea-8f5e-1630b66bb104.png">

And I incorrectly chose the parent `pom.xml` instead of the correct one for the service. @matthewmichihara just FYI on t

[2020-06-30 14:57] #4167 closed

[2020-06-30 15:12] ivanporty commented on #4411
v1.10.1

[2020-06-30 15:18] ivanporty commented on #4411
It seems my Minikube was in some paused/stopped non-standard mode although what it printed hints to stopped more.
[code]

After I stop explicitly, it started working.
[code]

 Once stopped and restarted, it doesn't reproduce anymore, although I would not expect skaffold diagnose to fail anyway.

[2020-06-30 15:27] dgageot commented on #4411
I can't reproduce the error. However, I was able to make skaffold hang for multiple seconds with those commands:

[code]

[2020-06-30 15:33] ivanporty commented on #4411
I saw same with `dev` command as well while Minikube was in this mysterious state:

<img width="1371" alt="Screen Shot 2020-06-30 at 11 31 36 AM" src="https://user-images.githubusercontent.com/11686100/86145853-76a3ee80-bac5-11ea-9a7d-e543619ff835.png">

[2020-06-30 15:37] dgageot commented on #4411
OK, I found out how to reproduce that "mysterious" state:

Start minikube and then reboot your machine. The k8s context will still be set to `minikube` (unlike when you manually run `minikube stop`) so `skaffold diagnose --yaml-only` will indeed fail.

[2020-06-30 16:04] nkubala commented on #4410
I have a branch that I was putting finishing touches on for this, thanks for reminding me :)

[2020-06-30 16:09] dgageot commented on #4411
@ivanporty Got a fix

[2020-06-30 18:59] nkubala commented on #346
@tvvignesh yeah that sounds great

[2020-06-30 21:06] briandealwis opened #4417 "`init` should detect and configure Java multimodule projects for Buildpacks"
### Information

This is a follow-up to #4167, and GoogleCloudPlatform/buildpacks#57.

Invoking `skaffold init` within a multi-module Java project should ideally produce several artifacts, with but with the context set to the root of the multimodule build and `GOOGLE_BUILDABLE` set for each of the different projects.

But currently in the cloud-code-samples - java-guestbook](https://github.com/Goo

[2020-06-30 22:00] fsladkey opened #4418 "Skaffold commands fail when Minikube cluster (v1.12.0-beta.0) is the current context."
# Skaffold commands fail when Minikube cluster (v1.12.0-beta.0) is the current context.

Ran into this issue today after updating to the latest version of the Cloud SDK which has minikube version v1.12.0-beta.0.

# Expected behavior

Running `skaffold dev` runs or shows a meaningful error

### Actual behavior

`skaffold dev` exits immediatly with the error
[code]

running `eval $(minikube -p minik

[2020-06-30 22:25] balopat commented on #4418
I believe the issue is on the minikube side: https://github.com/kubernetes/minikube/issues/8615

[2020-07-01 01:18] cpvandehey opened #4419 "Debug ports should be configurable"
### Expected behavior
I am using python and the MS `ptvsd` package. It works well with skaffold and VSCode, but it does not scale well in a platform setting with regards to debugging multiple services at once. `skaffold` is smart enough to dynamically find different ports when a developer launches more than once project, but the port selected for debugging should be configurable to keep consistenc

[2020-07-01 02:20] briandealwis commented on #4419
Thanks for the feedback @cpvandehey!  How were you thinking this configuration would look like?  What should happen if the debug port is unavailable?  Should `debug` abort, or select a random port?

[2020-07-01 02:31] briandealwis commented on #4409
Ho @adjavaherian.  We added the ability to add [tolerations](https://skaffold.dev/docs/references/yaml/#build-cluster-tolerations) to the `cluster` environment (for Kaniko) in Skaffold 1.12.

[2020-07-01 02:31] #4409 closed

[2020-07-01 03:23] cpvandehey commented on #4419
[In the skaffold.yaml docs](https://skaffold.dev/docs/references/yaml/) there is a section called `portForward`. I assume that a section right below this called `debugPortForward` would be intuitive and easy.

Yeah, I have some opinions here. Most apps that allow specific port selection error out when another process is hanging onto the port. I suggest following that pattern.

BTW, I can certainly

[2020-07-01 04:21] briandealwis commented on #4412
Hi @felixtran39.  I'll note that your [`TaskRun` doesn't include a `serviceAccountName`](https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#specifying-serviceaccount-credentials):

I suspect that your `build-and-push` task is running Skaffold as the `pl:default` serviceAccount.  Skaffold defines a pod to run Kaniko, and the `build.cluster.serviceAccount` is copied into this Kaniko p

[2020-07-01 09:27] dgageot commented on #4418
I'll add a fix to skaffold to workaround this issue

[2020-07-01 12:27] dgageot commented on #4358
There's a PR on the pack's side https://github.com/buildpacks/pack/pull/715

[2020-07-01 12:29] dgageot commented on #4347
@nkubala I think this is actually a P1. wdyt?

[2020-07-01 12:39] dgageot commented on #3711
@balopat @tstromberg could you tell us how `minikube cache add` would be required or better?

[2020-07-01 12:42] dgageot commented on #3073
I'm going to close this one. Not sure this is still an issue. Since then, Skaffold now fails on a failed `minikube docker-env`

[2020-07-01 12:43] dgageot commented on #1017
@nkubala do you think this can be closed?

[2020-07-01 12:45] dgageot commented on #1276
What about a `skaffold build --watch` command?

[2020-07-01 12:49] dgageot commented on #1312
Closing in favour of more generic #1441

[2020-07-01 12:49] #1312 closed

[2020-07-01 12:52] dgageot commented on #3653
Haven't seen this one for some time

[2020-07-01 12:52] #3653 closed

[2020-07-01 12:52] dgageot commented on #3719
Haven't seen this one for some time

[2020-07-01 12:52] #3719 closed

[2020-07-01 13:51] dgageot commented on #2842
Closing in favour of broader #4401

[2020-07-01 13:51] #2842 closed

[2020-07-01 13:52] dgageot commented on #3010
@tejal29 can we close this one?

[2020-07-01 13:54] dgageot commented on #3633
Closing in favour if #4255

[2020-07-01 13:54] #3633 closed

[2020-07-01 16:10] craig-seeman opened #4429 "Run/Dev/Delete command not accepting multiple profiles correctly"
### Expected behavior
Using the run/dev/delete command with multiple profiles selected (Example:`skaffold delete --profile=foo,bar,baz`) should delete all 3 profiles entered in with the flag.

Expected simulated run:
[code]
### Actual behavior
Skaffold delete while using the profile flag seems to only select the last listing in the string.

[code]

### Information

- Skaffold version: v1.12.0
- Op

[2020-07-01 16:25] craig-seeman commented on #4429
Actually now that I am looking at this again - it appears that run and dev are also doing this?

[2020-07-01 16:35] yolkov opened #4431 "Remote helm charts should be upgraded by default"
We use Skaffold, not only for local development, but also for CI/CD.
[code]

After [this issue](https://github.com/GoogleContainerTools/skaffold/issues/2245) Skaffold changed the behavior for remote Charts without the configuration option "upgradeOnChange: true" it will not deploy anything even if you change only values, and the Chart itself remains the same version.

### Expected behavior
1. Defa

[2020-07-01 16:56] #4413 closed

[2020-07-01 16:58] #4411 closed

[2020-07-01 17:30] dgageot opened #4432 "Docker Hub has enabled rate limit -> CI is failing a lot"
Integration tests are failing a lot because of 429 errors coming from the Docker hub.

See https://docs.docker.com/docker-hub/download-rate-limit/

Here's an example: https://travis-ci.com/github/GoogleContainerTools/skaffold/jobs/356484962

[2020-07-01 17:46] dgageot commented on #4432
[log.txt](https://github.com/GoogleContainerTools/skaffold/files/4859490/log.txt)

[2020-07-01 17:56] binman-docker commented on #4432
Hey David, long time no see! I'm not sure how Travis handles their infrastructure; if they use a small handful of public IPs for all of their worker nodes, that may explain why you're hitting this. If the worker node has it's own public IP that would mean your builds are pulling a bunch of images, which is probably unlikely.

Either way, the fix should be pretty simple. The pull request just needs

[2020-07-01 17:59] dgageot commented on #4432
Thanks @binman-docker.
I guess they do have a small handful of public IPs.
The one issue that we have is that all of our PRs to skaffold come from forks so none of them can have login/pwd injected

[2020-07-01 18:04] dgageot commented on #4432
https://docs.travis-ci.com/user/ip-addresses/

[2020-07-01 18:30] tejal29 commented on #4418
Should be fixed by #4421

[2020-07-01 18:42] binman-docker commented on #4432
Ah yeah we're dealing with similar issues regarding forks in Github Actions.

Give us a couple hours to dig into it. We'll get you unblocked (at least temporarily) ASAP.

[2020-07-01 19:21] #4418 closed

[2020-07-01 19:45] gsquared94 commented on #4370
I can take a stab at this

[2020-07-01 20:39] binman-docker commented on #4432
Hey @dgageot - we've temporarily added Travis IPs to an override list so you should be good now.

Our product team will reach out to the folks at Travis to work on a more long-term solution.

[2020-07-01 23:30] cpvandehey opened #4437 "Python Debugger Should Support debugpy and ptvsd"
### Expected behavior
Currently `ptvsd` is the only DAP supported by `skaffold` for python apps. Microsoft is deprecating `ptvsd` for `debugpy` -- [debugpy link](https://github.com/microsoft/debugpy). `debugpy` has a lot of the bug fixes revolving around debugging multiprocess python applications that `ptvsd` does not have ([the press release is here](https://visualstudiomagazine.com/articles/2020

[2020-07-02 02:43] briandealwis commented on #4437
Needs to be coordinated with GoogleContainerTools/container-debug-support

[2020-07-02 02:56] briandealwis commented on #4429
Hi @craig-seeman — as mentioned in the documentation, [Skaffold's profiles override by replacement, not addition](https://skaffold.dev/docs/environment/profiles/). Since your three profiles all define `deployer.kubectl.manifests`, the last profile wins. To get additive behaviour, you need to use patching-profiles.

[2020-07-02 02:57] #4429 closed

[2020-07-02 04:07] felixtran39 commented on #4412
@briandealwis Thank you. This helped me fix the bug!

[2020-07-02 04:07] #4412 closed

[2020-07-02 05:18] dgageot commented on #4432
Awesome! Thanks @binman-docker and @jeanlaurent

[2020-07-02 07:22] jk2K opened #4438 "[feature request] json path support wildcard"
### Expected behavior
add build arg `REPO_FROM` to all artifact

like

[code]

### Actual behavior
error

applying profiles: applying profile "development": invalid path: /build/artifacts[*]/docker/buildArgs

### Information

- Skaffold version: version... 5df17d6,
- Operating system: ... macOS 10.14.6
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
[code]

[2020-07-02 07:31] jk2K commented on #4438
same to kubernetes-sigs/kustomize#1493

[2020-07-02 07:46] #3047 closed

[2020-07-02 07:47] dgageot commented on #2807
I'm going to close this issue because there's great probability that it was fixed with #4436.
If the issue is still here, please reopen.

[2020-07-02 07:47] #2807 closed

[2020-07-02 14:36] lee-baines opened #4439 "'file name too long' error with configmap kustomize patch when running skaffold dev(only)."
### Expected behavior
Skaffold dev lists the files to watch then proceeds with deployment.

### Actual behavior
Skaffold dev actually throws a `file name too long` error, when listing the configmap file to watch, that includes the strategicPatchMerge config.  Reducing the amount in the patch will allow it to work.

### Information

- Skaffold version: 1.12.0
- Operating system: MacOS High Sierra 1

[2020-07-02 14:39] lee-baines commented on #4439
log output with -v debug
[code]

[2020-07-02 14:42] wstrange commented on #4439
`skaffold run` works fine, so this issue appears to be related to `skaffold dev` functionality and the way it constructs kustomize file watchers.

[2020-07-02 15:29] briandealwis commented on #4439
So the problem seems to be that your [`kustomize/overlay/7.0/small/kustomization.yaml`](https://github.com/ForgeRock/forgeops/blob/master/kustomize/overlay/7.0/small/kustomization.yaml#L2-L4) includes directories in its `resources`:
[code]

According to the `kustomize` reference, [`resources` should be a list of files](https://kubectl.docs.k8s.io/pages/reference/kustomize.html#resources):

Did thi

[2020-07-02 15:43] briandealwis commented on #4439
Ah, according to the docs, [`kustomization.yaml`'s `patchesStrategicMerge` must be a list of files](https://kubectl.docs.k8s.io/pages/reference/kustomize.html#patchesstrategicmerge):

You can't inline text unfortunately.

[2020-07-02 15:57] lee-baines commented on #4439
Ok thanks, that explains why it thinks its a file name.  Thanks for your help

[2020-07-02 15:58] dgageot commented on #4439
inline texts are supported by Kustomize. Not by Skaffold. I'm going to work on a patch

[2020-07-02 15:59] briandealwis commented on #4439
@dgageot's sleuthing revealed that kustomize [added support for inline patches in v3.2.0](https://github.com/kubernetes-sigs/kustomize/pull/1505/files).

[2020-07-02 16:12] briandealwis commented on #4088
Not forgotten.

[2020-07-02 16:43] briandealwis commented on #4419
@cpvandehey Have you tried adding an explicit `portForward` for these debug ports?  I can't think of any reason why this wouldn't work.  Skaffold uses `kubectl port-forward` under the hood and the actual connection is established on-demand.

[2020-07-02 17:04] cpvandehey commented on #4419
This does work, but `skaffold debug` needs to pass these ports in the start command as well!

This is what happens in the python command:
"python". "-m", "ptvsd", "--listen", "0.0.0.0:SOMEDEBUGPORT"

[2020-07-02 17:37] #4439 closed

[2020-07-02 18:21] wstrange commented on #4439
Thanks for the quick turn around!

[2020-07-02 20:17] briandealwis commented on #4397
Bumping priority since it's holding back some of the cloud-code-samples

[2020-07-02 21:17] cpvandehey commented on #4437
Let me know if I need to file this ticket somewhere else or notify anyone

[2020-07-02 21:51] ItsLeeOwen commented on #1441
the use case I'm looking for is in regards to secret management, initially for local developer environment to avoid using a script or makefile in front of `skaffold dev` to run a command such as `kubectl create secret generic base --from-env-file=.env`

[2020-07-03 06:06] siuyin commented on #3951
I had the same problem running skaffold v1.12.0 against microk8s and a local registry at localhost:5000.

The problem was not skaffold but with kubernetes / microk8s. The clue for me was was it was unable to pull the image, pushing was OK.

The fix is given here: https://microk8s.io/docs/registry-private
look for the section (I changed "10.141.241.175:32000" to "localhost:5000" for my case)
+++
We

[2020-07-03 09:01] lee-baines commented on #4439
Yes thanks for sorting this

[2020-07-03 09:27] MarcoSchaar opened #4441 "how to define volumes and volumeMounts e.g. for kaniko"
Hi,

some Questions regarding documentation /examples:

based on Pod yaml definition, how to define volumes in Cluster section and volumeMounts for kaniko?

when "skipTLS: false", where to define the CA for successful verification?

[2020-07-03 10:02] #4410 closed

[2020-07-03 10:41] mprinc commented on #1470
My understanding is that your

[code]

is a problem, as with the `COPY . .` command you OVERWRITE the just built containerized `node_modules` folder with your host `node_modules` folder.

Try to
1. be more explicit with copying, or
2. remove host node_modules or
3. add `node_modules` folder to the `.dockerignore` file

Let me know if that helps

[2020-07-03 11:29] davidfernandezm commented on #531
I'd love to become a contributor, but I am still learning Go basics. I am actually reading the code and learning a lot. Congrats on such great product to speed up K8s and cloud adoption in dev environments.

[2020-07-03 11:30] MarcoSchaar commented on #4441
maybe related to https://github.com/GoogleContainerTools/skaffold/issues/4175

[2020-07-03 11:48] MarcoSchaar commented on #4441
as per #3883 and others
found out that it should be lower case for volumeMounts like this
[code]

but for volumes it not clear
[code]

secret or configMap not known in "v1.Volume"

[2020-07-03 12:31] AmetPreply commented on #3559
I also started to migrate our old 0.30 skaffold to the 1.12.0, everything works fine except this with images addition. Thank you for prioritizing.

[2020-07-03 19:49] briandealwis commented on #4419
`debug` tries to use the same debug ports as is normally used by the language runtime support:

  - go/dlv: port 56268
  - jvm: port 5005
  - nodejs: port 9229
  - python/ptvsd: 5678

A different port will only be used if there is another container in the same pod using the port, and `debug` uses [a stable algorithm to find the next port](https://github.com/GoogleContainerTools/skaffold/blob/fc51e

[2020-07-03 19:53] briandealwis commented on #4441
There's some work in progress in #4362 — please take a look and provide feedback!

[2020-07-03 20:23] briandealwis commented on #4438
I agree that it would be nice.  Unfortunately [JSON Patch](http://jsonpatch.com/)'s [`path` element](https://tools.ietf.org/html/rfc6902#section-4) is defined as a [JSON Pointer](https://tools.ietf.org/html/rfc6901), which is explicitly intended for selecting a _specific_ value in a JSON document and doesn't support wildcards.

[2020-07-03 20:37] briandealwis commented on #4437
GoogleContainerTools/container-debug-support#42

[2020-07-03 20:41] anikm1987 opened #4443 "Unable to run skaffold in linux system with Azure Kubernetes service"
Executed command `skaffold dev --port-forward -vdebug` not working. Getting below error -
[code]

### Information

- Skaffold version: version...
v1.12.0
- kubectl version
[code]

- Operating system: ...
#21~18.04.1-Ubuntu
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
skaffold dev --port-

[2020-07-03 21:04] anikm1987 commented on #4443
Hi,
I ran the sample code as well and got the similar error

#Downloading the sample app
#Clone the Skaffold repository:
git clone https://github.com/GoogleContainerTools/skaffold
# Change to the examples/getting-started in skaffold directory.
cd skaffold/examples/getting-started

skaffold dev --default-repo ccoehp.azurecr.io -vdebug
INFO[0000] starting gRPC server on port 50051
INFO[0000] startin

[2020-07-03 22:34] MattShirley commented on #2492
This feature would also be helpful to me.

My scenario is similar to the other posts. I have a Python/Django application and want to generate database migrations, which requires an active connection to the database.

[2020-07-04 00:48] #4397 closed

[2020-07-04 06:13] shantanugadgil commented on #3559
In my opinion using Skaffold in the CICD pipeline was a mistake (hindsight 20/20).

One has to dance around Skaffold's config and missing cmd line paramater parsing capabilities waaay too much.

Using the `docker build`, `docker tag` commands get things done waaay quicker.

It seems (I could be wrong), that the `run` and `dev` seems to be the most used options, hence the other options don't get so

[2020-07-05 02:57] briandealwis commented on #4443
Duplicate of #2807 which we're hoping is fixed by #4436.  This was just committed a few days ago, so you'll need to build from HEAD to give it a try.

[2020-07-05 14:08] anikm1987 commented on #4443
Hi,
Thanks  for the information. How can I build from HEAD to give it a try? Can you please help me with some steps?

[2020-07-05 14:42] anikm1987 commented on #4443
Hi,
I am able to do using
sudo apt install linuxbrew-wrapper
brew install skaffold --HEAD

But if is there any other step without installing brew then please let me know.

Also now I can see it is getting deployed properly. The issue is fixed now.
Is there any plan for next release with this fix soon?

[2020-07-06 09:06] MarcoSchaar opened #4444 "feature request: use different build image name"
Hi,

we use for kaniko in skaffold.yaml
[code]

but in deployment.yaml
[code]
error in our case

[code]

is it possible or would it make sense to support such approach?

kind regards
Marco

[2020-07-06 13:20] fouadkada opened #4445 "skaffold does not reload golang code"
### Expected behavior

When code change, a code reload is made and the changed code reflects in the output.

### Actual behavior

by running skaffold with verbosity DEBUG, I can see that skaffold detected some file changed but the result of the code doesn't appear as if the changes were applied.

### Information

- Skaffold version: 1.12.0
- Operating system: Ubuntu 20.04 with minikube 1.11and kub

[2020-07-06 18:30] samstarling commented on #4404
Thanks Brian – this worked perfectly, it makes a lot more sense now!

[2020-07-06 18:30] #4404 closed

[2020-07-06 20:37] briandealwis commented on #4445
I believe you are accessing your service via the service port-forward (port 3000)?  I've noticed a staleness issue around services and deployments too, but I think it's working as intended by k8s.  Basically Skaffold pushes the built container and redeploys the deployment; k8s notices the change and starts the new container, and then tears down the old container.  But until the old container is te

[2020-07-06 22:40] cpvandehey commented on #4419
I agree with your analysis. This **is** what I believe should be configurable. The defaults are fine when you work with one project and one project only. It does not scale well when you'd like each project to have an independent and specific debug port that you can configure VScode to use within each repo (potentially even committing the `.vscode/` directory to make it even more standard for teamm

[2020-07-06 22:41] gsquared94 commented on #4088
@briandealwis if you're not prioritizing this, we can downgrade the priority

[2020-07-06 22:47] nkubala commented on #4431
@yolkov thanks for the issue, and sorry we made your life harder with this change. this is a bit tough because for `skaffold dev`, I think we made the right choice here - upgrading remote charts by default seems a bit cumbersome, especially if you want to iterate on one piece of your application while keeping your remote dependencies like databases, etc. untouched. helm itself [doesn't actually do

[2020-07-06 22:47] nkubala commented on #3010
I think this can be closed. please reopen if there's more work to be done here.

[2020-07-06 22:47] #3010 closed

[2020-07-06 22:49] nkubala commented on #3768
after investigating what would go into supporting this, at the moment it doesn't look like it's technically feasible in a way that would provide any value given the current support for helm applications in skaffold. i'm going to close it for now, but we can revisit if we ever make big changes to the way we configure and deploy helm apps.

[2020-07-06 22:49] #3768 closed

[2020-07-06 22:51] nkubala commented on #4371
@felixtran39 seems reasonable to me.

[2020-07-06 23:03] nkubala commented on #1017
sure. i still think this would make a cool PoC, but realistically it's not gonna happen soon.

[2020-07-06 23:03] #1017 closed

[2020-07-06 23:18] dahovey commented on #4431
Hi @yolkov, I definitely agree with your `P.S.`.

@nkubala I don't have any hard opinions on this. I didn't use skaffold for CI/CD, so unfortunately, didn't work thru these scenarios. I guess I lean toward your second option. If `upgradeOnChange` is `nil`, and using `skaffold dev` then remote is used determine value of `upgradeOnChange` (as it is now), but if using `skaffold deploy` then when `upg

[2020-07-07 02:04] briandealwis commented on #4444
The build-image is the link between the artifacts that are built and the k8s manifests.  Skaffold rewrites the image references to the tagged images before deploying the manifests.  If we don't use the build-image, we'd need some other way to link the uses of an image with its corresponding artifacts.

That said, we have some support for placing the image elsewhere, like `--default-repo`, and we p

[2020-07-07 06:36] lallinger-arbeit commented on #4088
For anyone stumbling across this using OpenShift: You may not remove the securityContext! Just add the default servicaccount of the namespace you are using to the anyuid SCC.
In addition to briandealwis solution i needed to specify ptvsd==5.0.0a8 in the requirements.txt to make it work.
For easy use also specify this in the ports section of the python service:
[code]

My working launch.json for VS

[2020-07-07 06:53] legopin commented on #1441
There is a different tool supported by skaffold you can use to solve this use case -- `kustomize`'s secret generator.
It allows for secrets to be generated from local files, and allows you to customize local vs production variants in deployment files.

https://kubernetes-sigs.github.io/kustomize/guides/plugins/builtins/#_secretgenerator_

[2020-07-07 07:05] MarcoSchaar commented on #4444
Thanks for reply.
another question ...
is there any other option to use "--destination" inside the kaniko pod instead of artifact image name?

[2020-07-07 07:49] fouadkada commented on #4445
After more testing, I feel that the problem is with intellij.
During a debug session, using the "develop on kubernetes" configuration provided by the cloud code plugin it seems that there's no rebuild happening after code changes.

If you take this repository for example [skaffold_test](https://github.com/fouadkada/skaffold_test) and run it in the CLI using `skaffold dev` then whenever code change

[2020-07-07 16:24] matthewmichihara opened #4447 "Fetching the gcr.io/buildpacks/builder:v1 image should not require being logged in to gcloud"
macOS 10.15.5

In https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/java/java-hello-world with a modified `skaffold.yaml` that uses buildpacks as the builder (shown below), I tried to run `skaffold dev` and got an error fetching the `gcr.io/buildpacks/builder:v1` image due to not being logged in to `gcloud`. I expected this to not require being logged in.

From @dgageot: `Skaff

[2020-07-07 16:43] viglesiasce opened #4448 "Add support for Cloud Build Custom Workers via workerPool option to googleCloudBuild"
### Expected behavior
Defining the artifact config (`build.googleCloudBuild.workerPool`) runs the Cloud Build in the appropriate worker pool.

### Actual behavior

At the moment the configuration is not implemented.

### Information

- Skaffold version: latest
- Operating system: any
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Create a custom worker pool
2. Config

[2020-07-07 18:02] dgageot commented on #4447
So, here's what happens:
+ `pack`'s code is trying to pull the image
+  I guess you have `gcloud` configured as a `credHelper` in `~/.docker/config.json`
+ But `gcloud` is not logged in

Since `gcloud` is configured as a credential helper, it's normal that docker tries to generate credentials and it's normal that it fails.

You should see the exact same behaviour if you run `docker pull gcr.io/bui

[2020-07-07 18:05] matthewmichihara commented on #4447
yes i think you are right --

[code]

[2020-07-07 18:06] dgageot commented on #4447
I'm afraid there's not much we can do

[2020-07-07 18:11] matthewmichihara commented on #4447
Any insight on if there's anything we can change on our end here? From what I understand, for many other cases, having `gcloud` as the credential helper is needed so that we can do things like push built images to `gcr.io` or deploy to GKE clusters.

[2020-07-07 18:23] ivanporty commented on #4447
What would happen if gcloud not installed at all on the machine? Will docker be able to pull the buildpacks image then?

[2020-07-07 18:26] ivanporty commented on #4447
@dgageot Would you say gcloud credential helper could improve itself here? For public images (which I assume buildpack image is publicly available to anyone pulling it), should they require authentication at all?

[2020-07-07 18:38] dgageot commented on #4447
The issue is on docker’s side. It eagerly fetches the authentication
information based on the image prefix and the helpers declared for that
prefix.

On Tue 7 Jul 2020 at 20:27 Ivan Porty <notifications@github.com> wrote:

[2020-07-07 19:10] jmah-cc opened #4449 "Gaps in Cloud Run locally output"
From cloud-code-vscode-internal created by [vincentjocodes](https://github.com/vincentjocodes): GoogleCloudPlatform/cloud-code-vscode-internal#2680

Repro steps
1) New Application: Cloud Run
2) Select the Node.js example
3) Run `Run on Cloud Run Emulator`
4) See that there are gaps in the output:

![image](https://user-images.githubusercontent.com/13400593/86640419-24fcd780-bf8f-11ea-82d1-cb3f2fd3

[2020-07-07 19:31] jmah-cc opened #4450 "gLinux Skaffold outputs many deployment in progress events, which floods VSCode logs"
From cloud-code-vscode-internal created by [j-windsor](https://github.com/j-windsor): GoogleCloudPlatform/cloud-code-vscode-internal#2682

![Screen Shot 2020-07-06 at 3 09 52 PM](https://user-images.githubusercontent.com/554839/86654559-e40ac000-bf9a-11ea-89a9-d76d52c84d34.png)
![Screen Shot 2020-07-06 at 3 10 08 PM](https://user-images.githubusercontent.com/554839/86654567-e53bed00-bf9a-11ea-89e7

[2020-07-07 22:37] tejal29 opened #4454 "[examples] Fix examples for generate pipeline to use `latest` skaffold image"
On an internal forum, it was discovered the [expectedPipeline.yaml](https://github.com/GoogleContainerTools/skaffold/blob/master/examples/generate-pipeline/expectedPipeline.yaml#L78) points to an image which does not exist.

When writing this test, i remember we wanted to override the version in [generate_pipeline_test.go](https://github.com/GoogleContainerTools/skaffold/blob/0e5458ad8af98658b303d

[2020-07-07 22:39] tejal29 commented on #4454
To give more context, with `skaffold generate-pipeline`, in the generated `pipeline.yaml` image tag is the skaffold version.
In order to make sure the tests don't fail in integration pipeline(version is computed based on git commit), we use the `PIPELINE_SKAFFOLD_VERSION` env variable.

[2020-07-08 00:38] zubinchopra commented on #3479
This resolved the error for me

[https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration#configure-acr-integration-for-existing-aks-clusters](https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration#configure-acr-integration-for-existing-aks-clusters)

[2020-07-08 10:55] #4448 closed

[2020-07-08 18:30] gsquared94 commented on #4443
@anikm1987 you can find that in our [documentation](https://skaffold.dev/docs/install/) on how to install the latest bleeding edge binary

[2020-07-08 18:31] gsquared94 commented on #4443
closing since duplicate of  #2807

[2020-07-08 18:31] #4443 closed

[2020-07-08 22:07] briandealwis commented on #4445
The behaviour you’re observing is working as intended.

Cloud Code’s debugging uses `skaffold debug`, not `skaffold dev`. Although they are similar, `debug` deliberately disables Skaffold’s file-watcher as it leads to puzzling and frustrating situations where debug sessions are torn down as containers are rebuilt and redeployed from seemingly innocuous changes.

We’re looking to exposing ways to a

[2020-07-09 09:52] matti opened #4455 "skaffold deploy to support -t for tags"
skaffold.yaml:

[code]

If I have already built the images I need to provide `--image` for every artifact:

[code]

So if `skaffold deploy` supported `-t` like other commands, then this would become just:

[code]

and the `skaffold deploy ...` command wouldn't need to know the artifacts.

[2020-07-09 09:53] matti commented on #4455
Somewhat related to #922

[2020-07-09 17:16] briandealwis opened #4456 "Control API should offer a shutdown command"
Currently IDEs (and others) have to kill the Skaffold process to stop `dev` or `debug`.  It would be useful to offer the ability to stop the process using the control API for consistency.

[2020-07-09 18:14] nkubala opened #4457 "Support parent/child "module" spec inlined in a single skaffold.yaml"
We should add support for specifying child modules of a parent within one skaffold.yaml.

From https://tinyurl.com/skaffold-modules:

[code]

[2020-07-09 19:14] gsquared94 commented on #4455
This seems like a reasonable ask. However there seem to already be a few different ways of passing info from build to deploy. We'll probably need to be a bit more consistent.

[2020-07-09 19:26] nkubala commented on #3960
i think i'm having a bit of trouble understanding how skaffold fits into the picture here. if skaffold is deploying the container that has your development environment in it (that you're presumably connecting to via SSH or remote VSCode), then are you also using skaffold inside of that deployed container as well? it seems to me like you'd want to build the development image (with skaffold inside o

[2020-07-09 19:28] nkubala commented on #4179
this will be solved by the addition of pre- and post- stage hooks, which we're finalizing a design for right now. we'll send the design out publicly for review as soon as it's ready, and we'll likely target the end of the year for shipping the feature, though this is subject to change.

[2020-07-09 19:30] cpvandehey commented on #4419
Please confirm if the issue makes sense. I can certainly provide more specific examples

[2020-07-09 19:39] nkubala commented on #4149
this is a dupe of https://github.com/GoogleContainerTools/skaffold/issues/3960 (which I just left a small comment on), so let's move the conversation here.

@pierreyves-lebrun can you help me understand what this would look like from skaffold's perspective? I think I understand the problem you're trying to solve - eliminate the need to configure a local development environment in favor of using a

[2020-07-09 19:39] nkubala commented on #4149
also @simonoff, we have a design in the works for running commands inside of deployed pods/containers, so stay tuned for that. there's another open feature request for two-way sync, so we can follow up on the conversation around that over there.

[2020-07-10 13:43] briandealwis commented on #4419
I'm reluctant to introduce a `debug`-specific configuration option when there is a mechanism that already works.

What would make more sense to me is to add support for `portForward` to target a container-port by _name_ or port number.  The `debug` ports are all named by the underlying debug protocol (`jdwp`, `dab`, `devtools`, `dlv`).

BTW: are you using [Cloud Code for VSCode](https://cloud.goog

[2020-07-10 15:39] zepatrik opened #4459 "DIGEST_HEX2 gets wrongly parsed with local docker registry"
### Expected behavior

`DIGEST_HEX2` should contain the digest.

### Actual behavior

We're using a local docker registry and therefore tag the image with `localhost:5000/artifacts/backoffice`.
Skaffold seems to determine `DIGEST_HEX2` by splitting at the first colon, which in our case leads to the following `EnvVarMap`:

[code]

Instead of splitting at the first colon, skaffold should probably sp

[2020-07-10 15:58] zepatrik commented on #4459
After digging further into skaffold's code, I understood a bit better what I did wrong:

1. `DIGEST_HEX` is deprecated and all those other numbers aswell. At first I thought `DIGEST_HEX2` is the replacement and 2 is the version, but it is an index.
1. Looks like `docker.ParseReference` also has a problem with the colon in the image name, otherwise there would be more fields in the map, e.g. `IMAGE

[2020-07-10 15:58] #4459 closed

[2020-07-10 17:40] cpvandehey commented on #4419
Perhaps I'm not making a clear enough point or I am misunderstanding how this works. Let me be a tad more verbose. Thanks for your patience and willingness to understand this!

You're 100% right that it works, but the DX is not quite there. It works well with one project running in debug mode. You can always expect it to claim a port on the running pod, forward it to local host on port `5678` (_or

[2020-07-10 20:32] briandealwis commented on #4419
Just to be clear, my suggestion is this:

  1. Assuming the [general practice](https://cloud.google.com/kubernetes-engine/docs/concepts/pod#pod_usage_patterns) for structuring Kubernetes applications, you have your containers in separate pods (more on multiple containers in a pod below, however).  Since each pod has an independent port-space, `debug` will allocate a port, which is usually port 567

[2020-07-10 20:38] cpvandehey commented on #4419
Ah. This example makes sense. Thank you for writing that out and for your patience!

--

I just finished watching a cloud code demo at NEXT. I'm leaning towards just setting it up now.

[2020-07-10 20:38] cpvandehey commented on #4419
We can close this as there are multiple workarounds. Thanks again

[2020-07-10 20:38] #4419 closed

[2020-07-11 18:59] #4447 closed

[2020-07-11 20:12] bennidhamma commented on #719
I'm seeing this in my environment, fwiw.

[2020-07-12 11:00] joekendal commented on #3685
Console
[code]
Config
[code]

[2020-07-13 13:22] briandealwis opened #4461 "Publish Skaffold API proto libraries"
We should publish easy-to-consume API libraries generated from our proto definition for downstream consumers:
  - could publish a Java library on Maven Central?
  - an npm package suitable for use from Typescript

[2020-07-13 13:53] AmetPreply opened #4462 "Is there a way to pass a helm binary path for skaffold?"
Hi.
I've migrating HELM 2 to 3, and want to say to the skaffold to use `/usr/bin/helm3` for deploying new releases instead of `/usr/bin/helm`.

Is there a way to pass a helm binary path for skaffold (maybe it's undocumented feature)? Or the only way is to replace binary file with `sudo cp /usr/bin/helm3 /usr/bin/helm`?

Version:
v0.33.0

[2020-07-13 14:31] briandealwis commented on #719
@bennidhamma could you please open a new issue and reference this issue?  This issue is pretty old and there have been a number of changes to labels, etc.  Please also include comparisons of the duplicate pods in terms of its label and annotation structures.

[2020-07-13 14:35] bobby-richard-sed commented on #4058
Any updates on this? We are experiencing the same problem on Windows machines across multiple terminals.

[2020-07-13 17:40] briandealwis opened #4463 "`debug` should use existing containerPort definitions in selecting debug port"
`debug` currently selects a port that is as close to the default used by each language runtime's debugger.  We should examine the container's `containerPort`s for an existing definition and use that port if found.

.  The Kubernetes API defines the [`containerPort.name`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#containerport-v1-core) as being `IANA_SVC_NAME`, and must b

[2020-07-13 17:47] briandealwis opened #4464 "`port-forward` should be able to select ports by service name"
Currently port-forwards are established by specifying the remote port as an integer.  Since `containerPorts` can be defined with a [`name`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#containerport-v1-core), and referenced by [`Service` definitions by name (`targetPort`)](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#serviceport-v1-core), we should a

[2020-07-13 19:14] gsquared94 commented on #4462
There is currently no way to pass this information in Skaffold. You could try adding an `alias helm` to `/usr/bin/helm3`.
Closing this issue as it is not actionable by Skaffold.

[2020-07-13 19:14] #4462 closed

[2020-07-13 19:38] gsquared94 commented on #3702
#3343 added `IMAGE_REPO` and `IMAGE_TAG`. It seems that `IMAGE_NAME` isn't available in the helm deployer even though it's mentioned in our [documentation](https://skaffold.dev/docs/environment/templating/). The workaround for now would be to use `"{{.IMAGE_REPO}}:{{.IMAGE_TAG}}"`

[2020-07-13 19:56] nkubala commented on #4268
@smhendrickson our new version script has some issues that we unfortunately haven't been able to address yet. did you get unblocked here? i think a new version got cut last week but i can't remember

[2020-07-13 20:13] tejal29 commented on #4455
We decided to add this feature. Removing the discuss label

[2020-07-13 20:23] tejal29 commented on #4439
Welcome!

[2020-07-13 20:27] tejal29 commented on #531
Thanks @davidfernandezm!

[2020-07-13 20:29] tejal29 commented on #4191
Thanks @davidfernandezm. We will work on adding docs

[2020-07-13 20:34] tejal29 commented on #4286
Thanks, we will try to make that clear in the docs.

[2020-07-13 20:39] tstromberg commented on #2169
Adding an update because this has so many upvotes: I believe @nkubala tried to implement this a few weeks ago, but found it difficult to complete. I'll let him comment with the details.

[2020-07-13 20:39] tstromberg commented on #2464
Closing because we have no way to reproduce. If you run into this issue, please include the output of `skaffold dev -v trace`. Thank you!

[2020-07-13 20:39] #2464 closed

[2020-07-13 20:40] nkubala commented on #3855
sorry this one got a bit lost, but yes I agree this is entirely reasonable and we should fix this in skaffold. we're forcing a `kind load` but we should enable local registries, I think @maximegaillard's idea is probably the easiest way to support this. sig-cluster-lifecycle also has a proposal for communicating this back up: https://github.com/kubernetes/enhancements/pull/1757. we could use this

[2020-07-13 20:40] tejal29 commented on #3401
We agreed on the solution in PR https://github.com/GoogleContainerTools/skaffold/pull/4126#issuecomment-632313932

[2020-07-13 20:42] nkubala commented on #3755
closing this due to inactivity, but if anyone sees this again please reopen!

[2020-07-13 20:42] #3755 closed

[2020-07-13 20:43] nkubala commented on #3610
bumping the priority again, I think we should try and get to this in the next few milestones. if anyone is interested in helping out here, it would be appreciated :)

[2020-07-13 20:54] tejal29 commented on #3841
@jeusdi and @rrichardson to answer your questions

yes. Kaniko is supposed to build the image.

Kaniko also pushes the image.

However, skaffold tries to fetch the remote digest and this decision needs to be revisited. I am going to bump this priority to p2.

[2020-07-13 20:57] tstromberg commented on #4218
@StarpTech - As far as I know, changing Skaffold to pull based on tag rather than digest is not going to be a trivial change. @dgageot likely has a more authoritative opinion.

According to https://github.community/t/cannot-pull-docker-image-from-github-package-registry-by-digest/14342/9 this shortcoming will be fixed shortly on the GitHub side.

[2020-07-13 20:59] tstromberg commented on #2273
I honestly don't have a clue. @dgageot - Any ideas on how we should make these Docker features compatible with Skaffold users?

[2020-07-13 21:04] bitsofinfo commented on #3702
the lack of variables everywhere applied with consistency is sorely lacking in general.

[2020-07-13 21:04] StarpTech commented on #4218
@tstromberg thanks for the review.

[2020-07-13 21:34] bs1 commented on #4286
What is the intended behavior then?

[2020-07-13 21:37] joekendal commented on #3685
This was resolved with:
[code]

[2020-07-13 22:59] nkubala commented on #2277
@horacimacias you're right that definitely would be possible, and in all likelihood the route we'd want to take when implementing this. as @balopat mentioned we'd need to extract all of this behavior into an interface that would be fulfilled by the custom scripts, and as he also mentioned this is definitely not a small undertaking.

we definitely hear the requests for this, and would love to see i

[2020-07-13 23:23] nkubala commented on #2169
I took a stab at addressing both this and #1269 in one go, which in retrospect was too much at once. for this issue the implementation would be a lot simpler if we just treated retagging/repushing as a separate phase, since builders like jib and kaniko build directly to the registry.

deploying to multiple clusters is a different beast entirely and i think out of scope for this issue.

[2020-07-14 21:12] #3873 closed

[2020-07-14 22:04] briandealwis opened #4470 "status-check diagnostics can be puzzling"
Trying with the Cloud Code samples, I sometimes see output like the following:
[code]

A few thoughts on improvements:
  - The `container install-nodejs-support in error:` doesn't include the error, perhaps because we clip the empty log?  But then the log didn't have anything to show.  We should describe what we determined to show the container is in error.
    - Aha: the error is from this condit

[2020-07-14 23:04] #4470 closed

[2020-07-14 23:21] #4454 closed

[2020-07-15 00:50] GavinOsborn commented on #4356
It sounds like @k and I have similar setups.
We use something that looks like `helm template | kubectl apply -f -` in our deployment pipelines to avoid installing `tiller` in our cluster. A bit of light Googling suggests this pattern isn't that uncommon either.

It would be nice if we could support this workflow with skaffold also for local development to catch edge cases that differ between the h

[2020-07-15 06:45] dgageot commented on #4449
I don't really understand why this issue in opened on Skaffold. Do you have clues that make you think this happens because of Skaffold? As far as I can tell, none of the output comes directly from Skaffold.

[2020-07-15 07:00] chanRoot commented on #1961
does skaffold-jib provide <b>skipTLS</b> label or other things  to deploy app on k8s cluster with private docker registry? my registry use harboor and didn't use public cert.i have successfully built and deployed app on `minikube` with jib  which use `allowInsecureRegistries`  in `pom.xml`.

[2020-07-15 07:07] dgageot opened #4473 "Upgrade pack to v0.12.0"