[2021-05-21 17:37] dhodun commented on #5889
We have 15 different sub modules

First one (on build)
DEBU[0008] Running command: [kubectl --context my_context get -f - --ignore-not-found -ojson]

Last one:

DEBU[0041] Running command: [kubectl --context my_context apply -f -]

Teardown is also serial in nature. Tagging may be, I can't tell from debug line. I can say when I've had to retag all my images, it definitely goes one by one and takes

[2021-05-21 18:13] briandealwis opened #5892 "Write out artifact cache at completion of each successful build"
@dhodun noted that when build a suite of artifacts, the artifact cache only seems to be updated after all builds complete successfully.  So after fixing the error, each artifact is then rebuilt even if it had been successfully built previously.  This matters when using a remote build.

We should write out the artifact cache after each successful build.

[2021-05-21 20:33] kschaab opened #5893 "skaffold inspect profiles list does not take a skaffold file specification"
Running `skaffold inspect profiles list ~/source/scratch/guestbook-modules/skaffold.yaml` errors out:

[code]

This command should take a filespec as a target for the command as users can configure their launch/run configurations with a file spec for skaffold commands.  Same for `skaffold inspect modules list`.

[2021-05-21 20:51] kschaab commented on #5893
--filename works, thanks @MarlonGamez

[2021-05-21 20:51] #5893 closed

[2021-05-21 20:52] sujit-kamireddy commented on #5867
We will be taking up our feature in H2. It will be great if we can get it by July/August time frame.

[2021-05-21 22:19] #5421 closed

[2021-05-23 03:36] briandealwis commented on #5639
Duplicate of #5639 (code and doc refs are there)

[2021-05-23 03:36] #5639 closed

[2021-05-24 16:23] dsaydon90 opened #5897 "run skaffold with non root user"
I'm currently running my `minikube` with non root user on my ubuntu 20.04 with: `minikube start --driver=none`
But when I'm trying to run `skaffold` with non root user it's asking for sudo password

### Expected behavior

Ability to run `skaffold` without sudo permissions

- Skaffold version:  `v1.24.1`
- Operating system:  `Ubuntu 20.04.2 LTS`
- Installed via:  `skaffold.dev`

### Steps to reprod

[2021-05-24 17:06] tejal29 opened #5898 "skaffold diagnose is broken for CR debug workflow."
@etanshaul mentioned in Gchat, `skaffold diagnose` used in CR debug flow is broken.

Steps to reproduce:
1) Move skaffold.yaml to a directory other than root for repo.
2) Run `skaffold.yaml`

![image](https://user-images.githubusercontent.com/1534539/119382980-a3ca3400-bc77-11eb-925d-a85c6277836c.png)

Thanks
Tejal

[2021-05-24 17:15] tejal29 commented on #5898
Also, if `--yaml-only` flag is passed the skaffold.yaml is incorrect
![image](https://user-images.githubusercontent.com/1534539/119384074-0243e200-bc79-11eb-9070-b2781f48c3f9.png)

[2021-05-24 19:28] tejal29 commented on #5898
@etanshaul Have a branch ready  [here](https://github.com/GoogleContainerTools/skaffold/tree/fix_diag)
[code]

[2021-05-24 20:41] tejal29 commented on #5889
@briandealwis Would this be ok to target in H2? is there an ETA for this?

[2021-05-24 22:29] jonchenn opened #5899 "Skaffold version shows git commit instead of numbered version"
### Expected behavior

Returns 1.24.1 when running `skaffold version`

### Actual behavior

[code]

### Information

- Skaffold version: 1.24.1, but it shows 5ed2556
- Operating system:
- Installed via: Homebrew (On MacOS Big Sur, v11.3.1)

### Steps to reproduce the behavior

1. brew install skaffold
2. `skaffold version`
3. It shows "5ed2556"

[code]

[2021-05-24 22:30] jonchenn commented on #5899
@viglesiasce @dhodun  FYI

[2021-05-24 23:37] torenware commented on #5871
Housekeeping issue: a fix this issue landed as #5884. It's now passing tests, and includes a unit test that actually exercises the templating feature in the docker workflow.

[2021-05-24 23:53] tejal29 commented on #5898
@briandealwis Please review #5900

[2021-05-25 02:56] #5898 closed

[2021-05-25 03:16] briandealwis commented on #5871
@torenware I should have looked at the code to verify this issue 🤦

goimports is a standard Go addition: https://pkg.go.dev/golang.org/x/tools/cmd/goimports; I hadn't heard of gci until this PR.

[2021-05-25 03:33] torenware commented on #5871
Hey, learn something new every day, yeah?  I think VS Code may invoke this as I'm set up.

[2021-05-25 10:43] irvifa commented on #5830
Hi @briandealwis what do you mean by overriding the resulting image?

[2021-05-25 17:01] bpvcode opened #5904 "Tests are ignoring profile when try to configure tests using profiles"
### Expected behavior
Should accept flag `-p` as i am configuring tests using profiles, like says in - `skaffold/examples/custom-tests/README.md`

### Actual behavior
Command:
skaffold test -p test --build-artifacts=tags.json

ERROR:
unknown shorthand flag: 'p' in -p
See 'skaffold test --help' for usage

### Information

- Skaffold version: 1.24.1
- Operating system: Pop!_OS 20.04
- Installed via:

[2021-05-25 17:41] tejal29 commented on #5758
@marlon-gamez do you want to close this issue and create a new issue for the remaining tasks?

[2021-05-25 17:46] aaron-prindle commented on #5812
@tejal29 was able to extend key expiry date as a solution here.  Closing.

[2021-05-25 22:50] #5879 closed

[2021-05-26 02:08] chris13524 opened #5907 "Schema'd Dockerfiles fail parsing"
### Expected behavior

Arbitrary syntax should be valid when the `# syntax` directive is enabled.

### Actual behavior

Given a `Cargo.toml` like this:

[code]

And this `skaffold.yaml`:

[code]

You get this error:

[code]

If you comment out `env = { RUST_LOG = "info" }` from `Cargo.toml` then run `skaffold run` then the build will work.

I believe this test case was missed by #5441.

I'm not fa

[2021-05-26 04:33] briandealwis commented on #5830
Skaffold supports a `--default-repo` flag that will cause the image to be built in a different registry or repository than what is specified in the `skaffold.yaml`.  So the builder needs to allow Skaffold to instruct it to build and push the image to a specific image location.

[2021-05-26 13:53] briandealwis opened #5909 "Custom builder contract should include `--skip-tests`"
The [`custom` builder contract](https://skaffold.dev/docs/pipeline-stages/builders/custom/#custom-build-script-locally) should include an environment variable to convey the value of the `--skip-tests` flag.

[2021-05-26 14:43] kle-dev commented on #167
is it possible to prior the order here ? first build the first path after that the second path and then the last path? I dont know why but in my case it would build something like first path/to/file3.yaml then path/to/file4.yaml, then path/to/file2.yaml and then path/to/file1.yaml

[2021-05-26 19:14] torenware commented on #5871
Thanks!

[2021-05-26 20:10] briandealwis commented on #5899
We used to submit updates to Homebrew, but they switched to picking up our releases automagically.  And indeed, their Skaffold page shows that [they've already picked up Skaffold v1.25.0](https://formulae.brew.sh/formula/skaffold), which was just released late last night:
<img width="248" alt="Screen Shot 2021-05-26 at 4 08 52 PM" src="https://user-images.githubusercontent.com/202851/119724410-acb

[2021-05-26 20:53] briandealwis commented on #5907
#5441 was to avoid erroring on Dockerfiles that use some buildkit extensions.

For now I think you're better off using the `custom` builder to invoke Docker directly.  Our `docker` builders  assume a relatively well-formed `Dockerfile`  as they parse the `Dockerfile` to obtain information such as from `ADD` and `COPY`.  I'm honestly not sure what we can do in this situation.

[2021-05-26 20:56] briandealwis commented on #5897
Could you run with `-v debug` and attach the log here?  That will include the external commands being invoked.  Skaffold doesn't invoke `sudo` or `su`, but clearly something is invoking it and the logs should help track that down.

[2021-05-26 22:05] briandealwis commented on #5445
This is difficult: `render` shouldn't actually apply changes to the cluster, but then using `helm install` or `helm upgrade` would change the cluster.

[2021-05-27 07:13] rccrdpccl commented on #5445
There is no need to run `helm install/upgrade`: by running `helm dependencies update` helm will just download all dependencies, but not interact with the cluster. Then `helm template`  could be run as it is currently done.

[2021-05-27 11:18] netaskd commented on #5339
@MarlonGamez seems the bug is still here.
[code]
[code]

[2021-05-27 11:18] alewis001 commented on #5339
Hi, I'm using 1.24.1 and I believe I'm seeing both this issue and one related. I can at least reproduce the error message as describe in this issue.

The environment in which I'm seeing this issue is within Gitlab Pipelines. When it runs the `skaffold deploy` command as part of the pipeline, it's doing so using a Kubernetes Service Account that is restricted to a specific namespace. That namespace

[2021-05-27 15:48] #5904 closed

[2021-05-27 16:49] aaron-prindle commented on #5812
There is still some current work being done regarding extending the key expiration date.  @tejal29 is also changing the release pipeline to re-create keys, see #5910

[2021-05-27 17:19] #5807 closed

[2021-05-27 17:50] sivakku opened #5914 "Node JS (Hello World) iterative debugging fails on the first attempt in iterative development"
From cloud-code-vscode-internal created by [sivakku](https://github.com/sivakku): GoogleCloudPlatform/cloud-code-vscode-internal#4671

- Download K8, Node JS(Hello world) application.
- Set minikube as current context.
- Choose debug on K8 from cloud status bar.
- Put a breakpoint at line 32 in index.js
- You hit breakpoint.
- Make a code change at line 35 to error message "Internal Server Error t

[2021-05-27 17:52] sivakku commented on #5914
@tejal29 - Creating a tracking issue on your side, the iterative debugging on plugins is waiting to be released and waiting on this issue.

[2021-05-27 20:11] chris13524 commented on #5907
I will use the custom builder, thanks!

#5441 says it fixed #5398 which specifically is using with the [`cargo-wharf-frontend`](https://github.com/denzp/cargo-wharf/blob/master/cargo-wharf-frontend/README.md) BuildKit frontend as an alternative to the regular Dockerfile syntax. The test cases it added also are testing non-Dockerfile syntax.

Iterating further on this issue, I'm thinking that #5441

[2021-05-27 20:24] briandealwis commented on #5914
@quoctruong @sivakku Isn't this a dupe of #5704 and fixed with #5804?

[2021-05-27 21:22] #5621 closed

[2021-05-27 21:59] MarlonGamez opened #5916 "Update `MetadataEvent` in API V2"
### Information
The metadata event will be updated to include more useful information for consumers of this event type through the event API

[2021-05-27 22:03] MarlonGamez commented on #5916
Whoops, closing in favor of #5843

[2021-05-27 22:03] #5916 closed

[2021-05-29 02:09] briandealwis commented on #2536
Skaffold v1.25.0 incorporates PR #5903, which allows Docker builds on GoogleCloudBuild to cache from the previous build by including the artifact image in the `cacheFrom`.
[code]

This change does require using a tag-policy that won't change between builds, like the misnamed `sha256` or an environment-based tag.

There are some subtleties involved in Docker image caching, particularly in the order

[2021-05-29 02:09] #2536 closed

[2021-05-29 03:39] briandealwis commented on #5492
Closing again: #5505 is to investigate why `SanitizeImageName()` isn't called.

[2021-05-29 03:39] #5492 closed

[2021-05-29 11:25] dsaydon90 commented on #5897
it seems that it was an issue on my pc that minikube from some reason requested for `sudo` probably due to left overs from old `minikube` installations.
The related command was: `/usr/local/bin/minikube docker-env --shell none -p minikube --user=skaffold`
After re-install the `mikube` it didn't ask sudo for the command above

The only thing that might help on this scenario from the `skaffold` leve

[2021-05-29 11:25] #5897 closed

[2021-05-30 01:20] briandealwis commented on #5887
This looks straightforward.

[2021-05-30 01:23] briandealwis commented on #5386
Will re-assess priority in assigned milestone.

[2021-05-30 01:43] briandealwis commented on #5339
It looks like Helm `Deploy()` isn't treating the Helm release's namespace field as templated.
https://github.com/GoogleContainerTools/skaffold/blob/054953092f59bfa3c126e4f8623d7282c1f711b4/pkg/skaffold/deploy/helm/deploy.go#L142-L147

It should be using [`releaseNamespace()`](https://github.com/GoogleContainerTools/skaffold/blob/054953092f59bfa3c126e4f8623d7282c1f711b4/pkg/skaffold/deploy/helm/uti

[2021-05-30 01:44] briandealwis commented on #5338
I think this has the same cause as #5339.

[2021-05-30 01:50] briandealwis commented on #5334
@othercorey does this still happen with Skaffold v1.25.0?  Following @alewis001's comment, could you please share your `~/.skaffold/config`?

[2021-05-30 03:18] briandealwis commented on #5357
We use both kubectl and client-go.

[2021-05-30 03:53] briandealwis commented on #5339
I tried to reproduce this issue using the Skaffold [`example/helm-deployment`](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/helm-deployment) example with the following patch:
[code]

But it all seemed to work fine for me.  @netaskd @TheYkk @alewis001 can you please try reproducing with the newly released Skaffold v1.25.0 and include the results of logging with `-v debug`?

[2021-05-31 02:18] briandealwis commented on #5880
Fixed by #5883

[2021-05-31 02:18] #5880 closed

[2021-05-31 18:21] briandealwis commented on #5339
I suspect this was fixed with #5723 (released in v1.23.0) which simplified checking the deployment.

[2021-05-31 19:07] briandealwis commented on #5358
@noahschumacher I can't find any reports of macOS ever emitting `Error: ENOSPC: System limit for number of file watchers reached` — this seems specific to Linux systems using `inotify`, and many people encounter it using react as you're describing.  I think you're seeing this error from within your Docker container, which is not under Skaffold's control.

[2021-06-01 06:04] irvifa commented on #3904
HI @yuwenma do we have documentation on how to use this through the Skaffold?

[2021-06-01 06:20] quater opened #5923 "Kaniko artifact build fails when image is pushed to an insecure container registry"
This problem was previously reported to the Kaniko project with GitHub issue https://github.com/GoogleContainerTools/kaniko/issues/1191. As of the feedback received with the aforementioned issue, this problem is caused by Skaffold.

### Expected behavior

The Docker image build with Kaniko completes without error when pushing to an insecure Docker registry that got deployed to the Minikube instanc

[2021-06-01 11:17] alewis001 commented on #5339
Thanks, I'll try to get this tested with 1.25.0 today.

Which bit was fixed in 1.23.0 as both of the issues I ran into (this one and -n appears to not be passed down to the helm status check after deploy) were seen with 1.24.1?

[2021-06-01 13:27] alewis001 commented on #5339
Attached is a run where there is only a namespace set in the default `deploy` section of skaffold.yaml and `-n targetnamespace` on the deploy command line. As the `-n` works for the actual deployment part of the `deploy` command I would have expected the status check to work but that's where it fails with the error message:

`could not fetch deployments: deployments.apps is forbidden: User "system

[2021-06-01 13:50] alewis001 commented on #5339
Here's the output with `{{.NAMESPACE}}` in the skaffold.yaml; same behaviour.

[skaffold-1.25.0-ns-command-line-NAMESPACE_VAR.txt](https://github.com/GoogleContainerTools/skaffold/files/6576679/skaffold-1.25.0-ns-command-line-NAMESPACE_VAR.txt)

[2021-06-01 18:49] yuwenma commented on #3904
@irvifa You can try out these interactive codelabs:
- [01 kpt validation](https://github.com/GoogleContainerTools/skaffold/tree/master/codelab/01_kpt-validate)
- [02 kpt deploy](https://github.com/GoogleContainerTools/skaffold/tree/master/codelab/02_kpt-deploy)

And check [this reference](https://skaffold.dev/docs/references/yaml/#deploy-kpt) for full features

[2021-06-01 22:12] #5887 closed

[2021-06-02 00:12] aaron-prindle commented on #5923
@quater thanks for the detailed issue here.  I was able to reproduce both issues (`no such host` @ HEAD and `dial tcp 127.0.0.1:443: connect: connection refused` with the suggested /etc/hosts entry) using something similar to what you posted above.

Can you explain a bit as to how **configuring an alternative Docker Registry URL** would fix this issue?  We would like to make the use case above wor

[2021-06-02 02:29] aaron-prindle commented on #5756
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/5854

[2021-06-02 02:29] #5756 closed

[2021-06-02 09:40] irvifa commented on #5830
Yes I think they provide the option as an optional parameter on this [part](https://github.com/schmitch/sbt-jib/blob/0380f32c280f9ffd5bc4d7e369fa7eb776826afe/src/main/scala/de/gccc/jib/JibPlugin.scala#L51).

[2021-06-02 15:04] briandealwis opened #5925 "`docker build --secret` does not support `dst`"
Our Docker builder's [`secret` object](https://skaffold.dev/docs/references/yaml/#build-artifacts-docker-secret) takes a `dst` field (#4731), but it is not supported by `docker build --secret`: that field is actually specified from within the `Dockerfile`.

### Expected behavior

Using a filled in `secret` should succeed:
[code]

### Actual behavior
[code]

### Information

- Skaffold version: 1.2

[2021-06-02 15:55] briandealwis commented on #5855
The underlying problem is: how does `dev` clean up after the change?

One way to address this would be to download a local copy of the remote manifest and apply changes to that manifest. On cleanup, we redeploy this original manifest.

[2021-06-02 16:42] gsquared94 commented on #5855
do you mean in-between dev-loops or at the end of the `skaffold dev` process?

I thought this is what it is doing today.
https://github.com/GoogleContainerTools/skaffold/blob/f95999ffad973fce7f3a9fbd2d96354fc2eb0749/pkg/skaffold/deploy/kubectl/kubectl.go#L306-L311

[2021-06-02 19:32] briandealwis commented on #5830
What I mean is that there needs to be a command-line option for overriding the destination image.  For example, Jib allows [using `-Dimage=xxx` on the command-line](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#quickstart):
[code]

And we use this as part of the Skaffold support:
https://github.com/GoogleContainerTools/skaffold/blob/f95999ffad973fce7f3a9fbd2d96354fc2eb07

[2021-06-02 19:53] tejal29 commented on #5914
I can't reproduce this on v1.25.0
Probably #5804 fixed this issue.

See details here. https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/4671#issuecomment-853327431

@quoctruoung can you please mention what is the expected behavior?

[2021-06-02 20:06] tejal29 commented on #5914
From Chat,

hey tejal so i think the flow is like this

[code]

However currently it is like this
[code]

[2021-06-02 20:06] tejal29 commented on #5914
@tejal29 to paste the skaffold actual event stream and then expected.

[2021-06-02 21:16] dhodun opened #5928 "Non Parallel Re-Tagger Sequence"
### Expected behavior
Re-tagging existing images in my GCR repo could/should be in parallel

### Actual behavior

It seems to be serialized, I'm not 100% sure if its because each container belongs in its own config / module or always behaves this way

### Information

- Skaffold version: 1.24.1
- Operating system: MacOS
- Installed via: curl
- Contents of skaffold.yaml:

Each Docker container, bui

[2021-06-02 22:12] ldco2016 opened #5930 "exiting dev mode because first deploy failed: 4/12 deployment(s) failed"
### Expected behavior

I was expecting for my application to boot up.

### Actual behavior

I got a lot of `context deadline exceeded` for four different deployments and instead of booting up the app I got the error: `exiting dev mode because first deploy failed: 4/12 deployment(s) failed`

### Information

- Skaffold version: `v1.9.1`
- Operating system: MacOS Mojave 10.14.5
- Installed via: Home

[2021-06-02 22:26] tejal29 commented on #5914
Event stream

Before making the change:
[code]
<details>

[code]
</details>

If you see, there is a debugging event when a new pod is created. This is because the debug container manager is listening for events with a pod selector. We need to stop the debug container like we do for PortForwarder and then start again at the end of each loop.
PR coming  up

[2021-06-03 00:29] misterikkit opened #5933 "`skaffold dev` stuck in infinite build loop"
TL;DR I think `.build.artifacts.custom.dependencies.ignore` is not working as intended, causing extraneous rebuilds.

### Expected behavior
Running `skaffold dev` should only rebuild + redeploy when I make code changes.

### Actual behavior
`skaffold dev` is triggering on unexpected fsnotify events generated by the build process.

### Information

- Skaffold version:
  v1.25.0
- Operating system:

[2021-06-03 00:50] misterikkit commented on #5933
From my read of the skaffold code, I don't believe that leading `./` in ignore patterns should have any difference, since all those patterns go through `filepath.Join` early on. I have not confirmed this experimentally though...

[2021-06-03 05:53] #5914 closed

[2021-06-03 15:48] dthomastx commented on #3944
I managed to get it down to a single file which looks to be a filename-length issue:
`./src/app/<filename>` is 201 characters long
`C:\fullpath` is 261
`/fullpath/` is 259
Which makes sense that the tar limit is 256 and I have a file with 3 less characters which is ok. Anyway...

Is there a way to make this error a bit clearer?

Thanks

[2021-06-03 18:18] aaron-prindle commented on #5930
In attempting the repro steps above I am seeing:
[code]

Can you verify that these containers build & deploy properly w/o skaffold?  Is there any additional setup required to repro this?

**Additionally can you try using the latest release of skaffold and see if this error still occurs?
https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.25.0
**
Currently you are using 1.9.1 which was

[2021-06-03 19:01] ldco2016 commented on #5930
I needed to run `kubectl create secret generic..` commands for `JWT_KEY` and for `STRIPE_KEY` as well. It is working now.

[2021-06-03 19:01] #5930 closed

[2021-06-03 22:16] mantelllo commented on #4246
Hello, @nkubala! The same issue with v1.25.0. Fortunately, the workaround still works :slightly_smiling_face:
[code]

[2021-06-03 23:08] aaron-prindle commented on #5933
Thanks for the detailed report here!  Do you happen to have a small app or repo setup w/ a skafflold.yaml that the skaffold team could use to reproduce this? Additionally to verify that the ignore directives are working as expected initally, can you compare the values for `a.Dependencies.Ignore`:
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/custom/dependencies.go

[2021-06-03 23:30] misterikkit commented on #5933
I didn't get the time to convert this into a repro app.

If that's so, then the root cause is very likely user error. As mentioned above, I am running a variety of code generators across a dozen different artifacts, and it felt like I was in the infinite loop no matter what my ignore rules.

What I ended up doing was to write a script that scans my codebase for generated files and updates skaffold

[2021-06-04 02:21] tejal29 commented on #5739
Moving this out of current milestone.

[2021-06-04 02:48] tejal29 commented on #5214
Trying to reproduce this error

1) Ran skaffold dev with a repo which i don't have push access to.
[code]

I see suggestions for fixing the auths.

2) Ran skaffold dev without default repo
[code]

I wish we had the error logs.

That said, there is another bug. The below debug log lines are confusing.
[code]

[2021-06-04 09:11] filippomc opened #5943 "Artifact dependencies don't work if a default value is set"
Following https://skaffold.dev/docs/tutorials/artifact-dependencies/ we can define a base image dependency as a build argument.
Unfortunately this mechanism doesn't work if a default value is specified to the build argument, as the default argument takes precedence over the skaffold assignment.
Having a default value is useful in my case because the images are also built on testing pipelines that

[2021-06-04 10:47] irvifa opened #5945 "Skaffold override image for CustomResource"
This is a feature request.

### Expected behavior

Opt-in behavior of allowing  image "injection" for the custom resources.

### Actual behavior

As of now, there's no mechanism of allowing image "injection" for the custom resources.

[2021-06-04 12:32] gsquared94 commented on #5666
I think that this should be fixed now with the `context` field in the `test` definition https://skaffold.dev/docs/references/yaml/#test-context. Tried the repro and it failed

[2021-06-04 14:37] mehmetsalgar opened #5946 "skaffold ist not able to DEBUG from IntelliJ with a Java Project which is deployed with Helm"
### Expected behavior
I am using Google Cloud Code Plugin with IntelliJ to deploy and debug my Spring Boot  application in kubernetes (docker-desktop/kubernetes) with skaffold/JiB/Helm.

Project correctly deploys to Kubernetes/Docker Desktop but not able to DEBUG over IntelliJ.

I started a discussion about it in Stackoverflow

[Stackoverflow Diskussion](https://stackoverflow.com/questions/6768707

[2021-06-04 17:07] aaron-prindle commented on #5945
@irvifa can you add a little more detail here regarding how this would be used by users.  From the feature request information above I'm not quite sure what is being recommended here, thanks

[2021-06-04 17:13] aaron-prindle commented on #5946
Thanks for the detailed issue report here.

@briandealwis do you have any ideas what the issue might be here?  There are `skaffold` debug logs for this error posted here (from the stackoverflow question):
https://stackoverflow.com/questions/67687071/skaffold-debug-and-missing-java-tool-options#comment119693504_67687071

and a full sample app to repro here:
https://github.com/GoogleContainerTools/s

[2021-06-04 17:24] tejal29 commented on #1516
Added to Epic #5584

[2021-06-04 17:27] tejal29 commented on #5285
closing this as the question is answered and user got their workflow working.

[2021-06-04 17:27] #5285 closed

[2021-06-04 17:29] MarlonGamez commented on #4898
@tejal29 did you ever have an update on this?

[2021-06-04 17:30] tejal29 commented on #4980
Closing this due to inactivity. Please ping if this is still an issue.

[2021-06-04 17:30] #4980 closed

[2021-06-04 17:32] briandealwis commented on #4149
Thanks all for the feedback here.  I'm going to close this out as we have a request tracked for two-way sync in #2492, and having separate dockerfiles for dev/debug in #5844.  Please feel free to open more focused issues for specific features.

[2021-06-04 17:32] #4149 closed

[2021-06-04 17:43] tejal29 commented on #4930
Closing this due to inactivity. We have plans to get user logs for unknown errors and we could probably take a look at it again.

[2021-06-04 17:43] #4930 closed

[2021-06-04 17:44] briandealwis commented on #5089
It seems like we may be better off integrating with [Windows Package Manager](https://devblogs.microsoft.com/commandline/windows-package-manager-1-0/).

[2021-06-04 17:45] gsquared94 commented on #5086
@MarlonGamez any update on this?

[2021-06-04 17:46] briandealwis commented on #4839
Closing for now; happy to re-open if there are further discussions.

[2021-06-04 17:46] #4839 closed

[2021-06-04 17:47] gsquared94 commented on #4401
any update on this?

[2021-06-04 17:52] briandealwis commented on #4789
This seems like a bug.  Perhaps our profile application should look at the `oneOf` marker and nil out other values.

[2021-06-04 17:54] tejal29 commented on #3690
Will be part of docs improvement epic.

[2021-06-04 17:56] irvifa commented on #5945
Hi @aaron-prindle I put some context on the description, I hope it will be clearer now

[2021-06-04 17:58] tejal29 commented on #4785
quarterly bug scrub update:
/cc @nkubala to look at this as part of new logger redesign in #5813 and #5936

[2021-06-04 17:59] tejal29 commented on #5095
This is no longer an issue as the user mentioned.

[2021-06-04 17:59] #5095 closed

[2021-06-04 18:03] briandealwis commented on #5209
This is an interesting idea.  The Google Cloud SDK includes a _dispatcher_ kubectl which looks at the cluster version and hands-off to corresponding `kubectl`.

But hard-coding a path into the `skaffold.yaml` would make it difficult to switch between clusters (e.g., from a local microk8s to GKE).

We could consider making this an option in the global configuration file (`~/.skaffold/config`) as a

[2021-06-04 18:03] #5209 closed

[2021-06-04 18:04] tejal29 commented on #5460
Closing this as the issue user has not provided a reproducible example for team to take a look at.
@jimmywan If this is still an issue and please comment.

[2021-06-04 18:04] #5460 closed

[2021-06-04 18:06] tejal29 commented on #2475
Though this is a reasonable feature request, the team does not have bandwidth to take a look at this at this moment.
Would love help from community to get this done.
If anyone is interested, please comment on the issue  or better submit a [design proposal ](https://github.com/GoogleContainerTools/skaffold/blob/master/docs/design_proposals/design-proposal-template.md)and the team can help you getti

[2021-06-04 18:06] #2475 closed

[2021-06-04 18:07] tejal29 commented on #5210
closing this due to inactivity.

[2021-06-04 18:08] nkubala commented on #5103
@robertgates55 we've since implemented an [`InputDigestTagger`](https://github.com/GoogleContainerTools/skaffold/pull/5192) that I believe accomplishes exactly what you're looking for here (though we're still lacking documentation on this feature and are planning on adding it soon).  I'm going to close this issue because I think it addresses your use case (including the artifact dependencies issue

[2021-06-04 18:08] #5103 closed

[2021-06-04 18:08] briandealwis commented on #5189
Closing due to inactivity.  We can re-open if someone wishes to take this work on.

[2021-06-04 18:08] #5189 closed

[2021-06-04 18:10] tejal29 commented on #5022
closing due to inactivity. We also have an actionable error message now.

[2021-06-04 18:10] #5022 closed

[2021-06-04 18:14] tejal29 commented on #3267
Unfortunately, kaniko needs to run as root. There isn't a way to run it with restricted PSP

[2021-06-04 18:14] #3267 closed

[2021-06-04 18:17] briandealwis commented on #5144
We're working on providing Skaffold hooks (#1441) which would provide a way to install the claim outside of Skaffold's normal cleanup.

[2021-06-04 18:18] briandealwis commented on #5144
Duplicate of #4366

[2021-06-04 18:18] #5144 closed

[2021-06-04 18:18] briandealwis commented on #4859
Closing due to inactivity; will re-open if someone wishes to make a contribution.

[2021-06-04 18:18] #4859 closed

[2021-06-04 18:19] j-windsor opened #5947 "`skaffold inspect build-env add googleCloudBuild add` does not include options to set `logging` and `logStreamingOption` fields and others"
### Expected behavior
The logging field is set under googleCloudBuild in the skaffold.yaml

### Actual behavior
Command errors saying the logging option in unrecognized.

### Information

- Skaffold version: 1.25.0
- Operating system: macOS 11.4
- Installed via: skaffold.dev

### Steps to reproduce the behavior

1. Run `skaffold inspect build-env add googleCloudBuild add --logging GCS_ONLY`

[2021-06-04 18:34] nkubala commented on #4938
skaffold bundles up files to sync using `tar` and sends them up to the containers using `kubectl exec`, but that's the extent of what it actually does - we don't (can't) explicitly tell the container to restart. I don't believe this is an issue with skaffold (and it seems like the original issue was solved), so I'm going to close this issue for now, but please feel free and reopen if there is stil

[2021-06-04 18:34] #4938 closed

[2021-06-04 18:34] briandealwis commented on #5439
Bumping to p1: discussed with @nkubala and there are a few issues here:
  - if we do backoff to a different tagger, it should not be silent
  - we should not backoff to the `sha256` tagger since it actually overwrites `latest` which is almost certainly not what anybody would want.  The new `inputDigest` is the better choice since it's virtually certain to not conflict with any other tags.

[2021-06-04 18:37] briandealwis commented on #5609
Closing as this is essentially a duplicate of #3461.

[2021-06-04 18:37] #5609 closed

[2021-06-04 18:46] aaron-prindle commented on #5947
@tejal29 are you familiar w/ what the correct fix here is?  Currently GoogleCloudBuild has a number of fields here:
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/v2beta16/config.go#L290-L361

That are not in the set of flags for `skaffold inspect build_env add googleCloudBuild`:
https://github.com/GoogleContainerTools/skaffold/blob/master/cmd/skaffold/app/cmd/ins

[2021-06-04 18:48] aaron-prindle commented on #5947
@gsquared94 are you familiar w/ what the correct fix here might be, is it updating the flags in `inspect_build_env.go`?  I can implement the fix, just not quite sure what the behavior should be or if there is a more generic way to update the flags here.

[2021-06-04 19:07] briandealwis commented on #5499
@isengartz would it be possible to try to reproduce with Skaffold v1.25.0, our latest release?  And if it does still happen, could you try some earlier releases to help pinpoint which change might be causing your issue?

[2021-06-04 19:08] briandealwis commented on #5599
`test` accepts (and indeed, requires) such a list with `--build-artifacts`.

[2021-06-04 19:08] #5599 closed

[2021-06-04 19:08] briandealwis commented on #5449
Closing as we haven't seen this is a while.  Will re-open if it recurs.

[2021-06-04 19:08] #5449 closed

[2021-06-04 19:10] briandealwis commented on #5249
Closing as this last fix seems to have finally done the job.

[2021-06-04 19:10] #5249 closed

[2021-06-04 19:52] tejal29 commented on #4022
We have plans to improve `skaffold test` later in the year.
this could also been done via hooks #1441 that @gsquared94 is implementing.

@gsquared94 do you have an idea if post deploy hooks will run after port-forwarfing is stable ?

[2021-06-04 19:53] aaron-prindle commented on #5943
@briandealwis are you familiar w/ where these values are parsed initially?  I see that for the example/repro in the issue here that `from` is being set to `mydefaultvalue` via:
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/docker/parse.go#L381-L391

but I'm not sure I'm still trying to understand where the values for the `nodes` are initialized

[2021-06-04 19:57] tejal29 commented on #4906
@marlon-gamez Should we close this or do we have plans to implement the remaining tasks?

[2021-06-04 20:00] tejal29 commented on #4431
@yolkov Currently `[upgradeOnChange`](https://github.com/GoogleContainerTools/skaffold/blob/3c7ce0ad726d64aa6139423afdb67cc7fe3e6c14/pkg/skaffold/schema/v2beta5/config.go#L554) is set to false for remote helm charts. It would be an easy config change to change it to true in your skaffold.yaml file.
`skaffold fix` updating to `true`, might break other use cases like `dev`.  Its always a tough decsi

[2021-06-04 20:00] #4431 closed

[2021-06-04 20:03] tejal29 commented on #4911
Skaffold status check phase now stream logs if available from a failed container.
If status check passes, then logs will streamed for all containers since before the deploy time.

Closing this issue now as we wont be able to support the Feature request.

[2021-06-04 20:03] #4911 closed

[2021-06-04 20:33] aaron-prindle commented on #5943
As a workaround/short-term-hack one option could be to pass in `docker build --build-arg base=mydefaultvalue` when using your non-skaffold code paths.

[2021-06-04 20:43] #5214 closed

[2021-06-04 20:48] #5842 closed

[2021-06-04 21:39] #5862 closed

[2021-06-04 21:43] #5925 closed

[2021-06-04 22:42] tejal29 opened #5950 "Application logs are showing twice on stdout and new v2/applicationLogs endpoint."
Steps to reproduce.

1) On latest master
[code]

2) Add a  log line to the frontend in the `handler` function.
[code]

3. See the dev iteration kick off and then curl http://localhost:9000/
4. You will see log lines on std out
[code]

5) you will also see 2 events for the same pod.
[code]

[2021-06-04 22:51] tejal29 commented on #5950
Verifying if this happens on older version.

With version v1.24.0, i see the same issue.
[code]

Verified the application log end point was not implemeneted then
[code]

[2021-06-04 23:37] #5834 closed

[2021-06-06 10:30] hamza-lahlou opened #5954 "Skaffold.yaml is not being parsed correctly"
### Expected behavior

### Actual behavior
parsing skaffold config: error parsing skaffold configuration file: unable to parse config: yaml: unmarshal errors:
  line 16: field manifest not found in type v2alpha3.KubectlDeploy
### Information

- Skaffold version: e6711d8-dirty
- Operating system: Ubuntu 20.04.02 LTS
- Installed via: skaffold.dev
- Contents of skaffold.yaml:
-

[code]

### Steps to

[2021-06-06 14:37] nombresin commented on #5499
@briandealwis using latest release, it builds instantly without any further waiting !

[2021-06-06 14:37] isengartz commented on #5499
@briandealwis Using latest release , it builds instantly without further waiting !!

[2021-06-06 21:21] angry-cellophane commented on #5954
Should it be manifest**S**, not manifest?

[2021-06-07 10:30] irvifa commented on #5830
I don't think it support a command like option for overriding image at this moment. I tried to confirm this through the issue though. I also notice that the credentials helper for gcr also not implemented yet on the sbt-jib, which I'll probably need for my use case.

[2021-06-07 13:51] briandealwis opened #5955 "Add an integration test for `gcloud code` compliance"
Skaffold is used under the hood by `gcloud code dev` and `gcloud code export`.  We should have an integration test that verified that we have not broken that functionality.

[2021-06-07 16:53] ekuefler opened #5957 "Output of `render` is corrupted with error messages"
### Expected behavior

If something goes wrong during `skaffold render`, it should print a message to stderr/stdout and exit with a non-zero status code if the problem is fatal.

### Actual behavior

Error messages are included in the actual output file and `render` returns a zero exit code.

### Information

- Skaffold version: v1.25.0
- Operating system: Linux
- Installed via: skaffold.dev

The

[2021-06-07 16:55] aaron-prindle commented on #5738
In discussions offline, it seemed that this would involve modifying `findKnownImages` or `loadImages` here:
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/runner/v1/load_images.go#L93

I took an inital stab here:
https://github.com/GoogleContainerTools/skaffold/pull/5956/files

but now I see that `loadImages` is only called currently for kind and k3d when they use their

[2021-06-07 17:48] filippomc commented on #5943
Thanks @aaron-prindle yes agree it can be easy enough to workaround but not sure it's really a new secondary feature to support valid Dockerfile syntax.
It can lead to subtle behaviour because the default value in a realistic setup with images already built it doesn't break anything right away: just takes the version tagged as default unexpectedly so totally missing the purpose of Skaffold build d

[2021-06-07 18:07] tejal29 commented on #5499
Thanks @isengartz. Closing this issue now. Please comment if you see this again.

[2021-06-07 18:07] #5499 closed

[2021-06-07 18:08] aaron-prindle commented on #5933
Did the programmatic rules you generated end up working for you and stop the infinite build loop issue?  Perhaps the skaffold team should add a feature request for supporting shell style `**` globs to make this easier in the future

[2021-06-07 18:13] nkubala commented on #5549
summary of AIs from out of band discussion:
* (short term) copy dockerhub busybox image withe ARM64 support
* code change to switch over from our own image to dockerhub image
* remove references to `gcr.io/k8s-skaffold/skaffold-helpers`

[2021-06-07 18:32] briandealwis commented on #5407
PR coming up…

[2021-06-07 19:23] aaron-prindle commented on #5947
Talked offline, the issue that is that some flags were not added (see above comment).  I have self-assigned and am working on fix

[2021-06-07 19:33] aaron-prindle commented on #5738
Talked offline, this will go in after https://github.com/GoogleContainerTools/skaffold/issues/5773 which @briandealwis is currently working on

[2021-06-07 19:39] tejal29 commented on #5812
Unfortunately, we will have to create a new teams project to get a longer expiry field.
Trying to this in sustainability Sprint.

[2021-06-07 19:54] briandealwis opened #5959 "GCP integration tests should not push to gcr.io/k8s-skaffold"
Our integration tests push images to gcr.io/k8s-skaffold.  We should instead push to a new Artifact Registry bucket and leave gcr.io/k8s-skaffold alone.

[2021-06-07 20:07] Nightreaver opened #5960 "skaffold zsh command completion ends with `ShellCompDirectiveNoFileComp`"
### Steps to reproduce

- using zsh
- using `source <(skaffold completion zsh)` to load command completion
- hitting [TAB] during commands should print the actual commands, without ( I guess ) the ShellComp... output which can also be tabbed through

### Expected behavior

hitting [TAB] during commands should print only available commands/options

### Actual behavior

hitting [TAB] during commands

[2021-06-07 23:50] ananyasaxena opened #5966 "Skaffold not waiting for deployments to stabilize"
**Note:** The Skaffold team are unable to reproduce this issue. If you see this issue, please attach a trace from running with `-vtrace` or provide a sample repository.**
----

### Expected behavior & Actual behavior
On version 1.23.0, skaffold would wait for deployments to stabilize correctly
[code]
After v1.24.0, it doesn't seem to be waiting for deployments to stabilize
[code]

### Information

[2021-06-08 04:57] #5947 closed

[2021-06-08 12:24] MarcoSchaar opened #5967 "kaniko push-retry"
dear supporting team,
kaniko provides e.g. a flag like `--push-retry`

how to pass this flag into kaniko build section in yaml as per
https://skaffold.dev/docs/references/yaml/#build-artifacts-kaniko ?

- Skaffold version: 1.25
- Operating system: any

[2021-06-08 12:31] taisph commented on #4947
This is still an issue with skaffold v1.25.0. I'll see if I can find time to create a new issue.

[2021-06-08 13:01] jt-helsinki opened #5968 "Sync only monitors pre-configured namespaces"
### Expected behavior

When a file in a watched directory changes the file is built into an image, the image is deployed into the cluster.

### Actual behavior

Running `skaffold run` works. As does the initial build/deploy of the `skaffold dev` command. The cluster is all up and running and it looks good. The correct image versions (as generated by Skaffold) are being used.

The problem happens w

[2021-06-08 15:14] yhrn opened #5970 "Profile deploy field doesn't replace default deploy field"
### Expected behavior
Given a `skaffold.yaml` similar to the one below, minus the profile patch, I would expect `skaffold render -p my-profile` to use Kustomize to render manifests from `yet-another-dir` because the [documentation](https://skaffold.dev/docs/environment/profiles/#override-via-replacement) states:

### Actual behavior
`skaffold render -p my-profile` tries to render using `kpt fn run

[2021-06-08 15:45] briandealwis opened #5971 "Buildpacks build fails on Apple M1: no matching manifest for linux/arm64/v8"
Our buildpacks examples fail when building from an Apple M1:
[code]

This error happens as Skaffold does not maintain a list of trusted builders, and so all builders are marked as untrusted. With an untrusted builder, the pack library will not use the builder's embedded `lifecycle` binary and [instead attempts to run the lifecycle from a separate image](https://github.com/buildpacks/pack/blob/e53a

[2021-06-08 16:20] tejal29 commented on #5358
Will try to reproduce this in this week.

[2021-06-08 16:22] tejal29 commented on #5954
yes, that is correct @angry-cellophane `v2aplha3` is under active dev and you may encounter a lot of unstabilities.

[2021-06-08 16:23] #5954 closed

[2021-06-08 16:29] tejal29 commented on #5967
@MarcoSchaar, you could submit a [PR](https://github.com/GoogleContainerTools/skaffold/pull/4900) like this to support a new kaniko flag.

Please follow https://github.com/GoogleContainerTools/skaffold/blob/master/DEVELOPMENT.md#making-a-config-change to add a config for `--push-retry` e.g. `pushRetry`.

[2021-06-08 16:31] tejal29 commented on #5970
@yhrn Since Skaffold supports multiple deployers now, you would need the patch to remove.

That being said. we have some issue with re-designing profiles and making it more easier.

[2021-06-08 16:33] yhrn commented on #5970
That makes sense but then I think the documentation needs to be updated accordingly.

[2021-06-08 16:41] tejal29 commented on #5966
@ananyasaxena Can you please add some trace logs?
Could it be that your application stabilized quickly?

[2021-06-08 17:53] tejal29 opened #5975 "[PM] Skaffold Debug Helper arm64 images have amd64 binaries"
Relevant issue: https://github.com/GoogleCloudPlatform/cloud-code-samples/issues/721

Relevant [DOc](https://docs.google.com/document/d/1Z1sxpNJ5YNYTs7vHLdw2H2rLnvBEucWq322lib9-sLk/edit?resourcekey=0-sT0T-6Fg2WL2hhODO9S7wQ#heading=h.12depar5iy3d):
Error
[code]

Tasks:
- [ ] Create an error code for "exec format error" error
- [ ]  Switch to Github Actions and add ARM64 tests
-  [ ] Fully automate

[2021-06-08 18:31] briandealwis commented on #5231
[code]

[2021-06-08 18:46] #5407 closed

[2021-06-08 21:06] briandealwis opened #5979 "Skaffold should guard against invalid tags"
A user on the `#skaffold` channel was encountering a puzzling error:

[code]

The use is using the git-tagger and must have a version tag with a colon. We should verify that the generated tag is a valid tag.

[2021-06-08 21:12] Snehil03 opened #5980 "skaffold build throws error : applying default repo to "test-api:test-api:0.1.0-d69db0d": invalid reference format"
### Expected behavior
skaffold build should build the artifact and push those images to the repositrory.

### Actual behavior

skaffold build -p $TARGET --default-repo $DOCKER_REGISTRY --file-output ./dist/artifacts.json
Generating tags...
applying default repo to "test-api:test-api:0.1.0-d69db0d": invalid reference format

### Information

- Skaffold version: 1.25.0
- Operating system: linux-alpi

[2021-06-08 21:13] #5785 closed

[2021-06-08 21:17] Snehil03 commented on #5980
[code]

[2021-06-08 22:49] ananyasaxena commented on #5966
@tejal29

[code]

Nope, I can see it taking time on the k8s dashboard and also using v1.23.0 waits correctly for it to stabilize

[2021-06-09 00:06] tejal29 commented on #5980
@Snehil03 closing this as dupe of #5979.

[2021-06-09 00:06] #5980 closed

[2021-06-09 09:20] chermed commented on #1441
Another use case is when we use a package manager to manage the dependencies of a project, before building the image we need to generate the locked file to use

Example using python  and poetry: launch` poetry export -f requirements.txt` before each build

[2021-06-09 11:11] nitinkansal1984 opened #5984 "unable to find git commit: running [git describe --tags --always]\n - stdout: \"\"\n - stderr: \"fatal: Not a valid object name HEAD"
I am running skaffold in AWS codepipeline to build a microservice.

 - asa -> time="2021-06-09T11:00:25Z" level=debug msg="generating tag: unable to find git commit: running [git describe --tags --always]\n - stdout: \"\"\n - stderr: \"fatal: Not a valid object name HEAD\\n\"\n - cause: exit status 128"

### Expected behavior

### Actual behavior

### Information

- Skaffold version:
- Operating s

[2021-06-09 11:40] nitinkansal1984 commented on #5984
Below are the 2 steps I am using in my buildspec.yaml.

      - skaffold config set default-repo $REPOSITORY_URI
      - skaffold run -f skaffold.yaml

Below is the skaffold.yaml I am using:

apiVersion: skaffold/v2beta17
kind: Config
build:
  artifacts:
  - image: emailservice
    context: src/emailservice
  - image: productcatalogservice
    context: src/productcatalogservice
  - image: recommen

[2021-06-09 14:40] grmoon opened #5985 "Adding cluster profiles to existing skaffold files not working"
### Expected behavior

Profile with `cluster` build environment is added to skaffold file.

### Actual behavior

Profile with `cluster` build environment is not added to skaffold file.

### Information

[code]

### Steps to reproduce the behavior

1. clone java hello world sample in cloud code
2. run `skaffold inspect build-env add cluster -f skaffold.yaml --profile test2`

[2021-06-09 15:31] briandealwis opened #5986 "Update proto toolchain"
Our toolchain in `hack/proto/Dockerfile` is rather behind, but a simple update of versions doesn't work as the .pb.go files aren't generated.

- update protoc to 3.17.3: if we used a debian image (`golang:1.15` instead of `-alpine`) then we could use the downloaded protoc, but debian's `jq` is 1.5
- update grpc-gateway to v2 — the protoc-gen-swagger has been renamed to protc-gen-openapiv2, but it

[2021-06-09 17:05] #5737 closed

[2021-06-09 17:45] aaron-prindle opened #5988 "Migrate CI From Travis to Github Actions"
Currently skaffold has the following PR tests running on Travis and Github Action CI systems:

Travis:
  - kind full integration test - `make integration-in-kind`
  - k3d full integration test - `make integration-in-k3d`
  - windows go test - `go test -short -timeout 60s ./...`
  - osx quicktest - `make quicktest`

Github Actions: (as of #5976):
  - minikube full integration test - `make integrati

[2021-06-09 17:46] aaron-prindle commented on #5988
@briandealwis do you have any opinions on whether it would be beneficial to migrate our tests over?  I can create a draft PR and get some information about flakes and speed

[2021-06-09 17:55] #5985 closed

[2021-06-09 18:42] aaron-prindle opened #5989 "Add ARM64 Github Actions test"
Currently our Travis & Gihub Actions test only test AMD64.  We should add specific testing around ARM64 in our Github Actions.

@briandealwis to add any additional information/requirements here.

[2021-06-09 18:49] #2202 closed

[2021-06-09 20:05] tejal29 commented on #5984
@nitinkansal1984 you are using a git tagging policy but skaffold is unable to run the following command.
[code]

I see some stackoverflow threads to solve this issue.  Can you try using these?
https://stackoverflow.com/questions/41582949/how-to-resolve-stderr-fatal-not-a-valid-object-name-head-in-jenkins

[2021-06-09 20:16] j-windsor opened #6100 "Python debugging entrypoint rewrite incorrect if it contains parenthesis."
**Description of the issue**:
on `skaffold debug` was getting the error `> [contacts-85bf9984d6-hlfkp contacts] /bin/sh: 1: Syntax error: "(" unexpected`, so I escaped the parenthesis, which fixed `debug`, but caused `dev` to error with `> [contacts-8668d9cdbb-f9xch contacts] Failed to parse 'create_app\\(\\)' as an attribute name or function call`. It seems like the rewrite of the entrypoint duri

[2021-06-09 21:41] davidcunningham opened #5997 "Environment variable templated valuesFile using relative path to files"
### Expected behavior
Expect to use absolute or relative path based on the set environment variable.

### Actual behavior
Any environment variable passed into valuesFile is being appended onto current working directory.

### Information

This is working as expected on v1.20.0 but is not working in v1.26.0. This is in a multi-config / modules setup. The base skaffold.yaml calls 10+ module skaffold

[2021-06-09 22:05] aaron-prindle commented on #5988
From talk offline, seems these are things to consider as well:
- How much would we have to pay out for an equivalent amount of Github Actions vs Travis assuming we moved over

[2021-06-09 22:10] j-windsor opened #5998 "Can't change build environment to `local` using `skaffold inspect build-env add`"
### Expected behavior
`skaffold inspect build-env add local` is a command, as all other build environments are supported here.

### Actual behavior
`skaffold inspect build-env add local` is *not* a command

### Information

- Skaffold version: 1.25.0
- Operating system: macOS 11.4
- Installed via: skaffold.dev

### Steps to reproduce the behavior

1. `skaffold inspect build-env add local`

[2021-06-09 23:07] aaron-prindle commented on #5988
From initial investigation, the pricing is more confusing than I initially expected.  It definitely would make sense to stop the kind and k3d tests on Travis though to reduce our flakiness while also minimizing the CPU time used by Github Actions (only do our minikube+linux tests there)

[2021-06-10 02:09] uncvrd commented on #5358
Hi all - I would like to mention that I am encountering this issue as well with a NodeJS project. For what it's worth, I completely removed file sync from my `skaffold.yaml` and I still see a:

[code]
As soon as my project starts running after the pods are deployed.

My build artifact looked like this:

[code]

For reference I added what my sync looked like above.... sync focuses on anything insid

[2021-06-10 04:50] aaron-prindle opened #5999 "Fix Current Skaffold Performance Tests/Dashboards Hosted in GCE"
Currently Skaffold has some performance tests/dashboard hosted in GCE that have been broken since late Feb 2021.  This bug tracks fixing those tests/dashboards

[2021-06-10 04:51] aaron-prindle commented on #5999
Related to #5789

[2021-06-10 04:51] gsquared94 commented on #5998
fixed in https://github.com/GoogleContainerTools/skaffold/pull/5944

[2021-06-10 04:51] #5998 closed

[2021-06-10 10:28] jt-helsinki commented on #5968
I did some more digging and this appears to be am issue with the way Skaffold handles namespaces. If helm creates teha namespace, skaffold does not handle this well.

For example, if I take the Skaffold `jib-sync` example and change the `pod.yaml` to:

[code]
and try to run `skaffold dev` the same sync error is shown.

under the `deploy` section of the skaffold.yaml, if I specify the helm namesapc

[2021-06-10 13:21] nitinkansal1984 commented on #5984
I don't see this issue is related to git version. I am using git latest version in runtime of build.

[2021-06-10 13:25] jordivilaseca commented on #5811
Fix pushed in https://github.com/GoogleContainerTools/skaffold/pull/5912. Thanks for fixing that!

[2021-06-10 13:25] #5811 closed

[2021-06-10 13:54] briandealwis commented on #5989
I have been enabling buildkit to do multiple platform builds.  That won't be necessary and should greatly simplify the tests setup (no hoops necessary to enable Buildkit).

The `.travis.yml` basically:
- installs Skaffold, container-structure-test, kind, and kubectl
- specifically runs some go tests (may no longer be necessary https://github.com/GoogleContainerTools/skaffold/issues/5666)
- runs a

[2021-06-10 14:09] grmoon opened #6000 "Skaffold build-env example in help documentation does not work"
The documentation shown by `skaffold build-env add local --help` suggests that

`skaffold inspect build-env add local --profile local --push true --useBuildkit true -f skaffold.yaml`

is a valid invocation of the command, but it's not. Boolean flags either need to use `=` or have no value at all (e.g. `--push` or `--push=true`). The invocation suggested in the example doesn't work.

### Expected b

[2021-06-10 14:13] gsquared94 opened #6001 "Boolean flags cannot be set without specifying `=` between flag name and flag value"
For boolean flags that are instantiated against [`BoolOrUndefined`](https://github.com/GoogleContainerTools/skaffold/blob/840f9b2581560e31c7883acda33dc839ce7a940e/pkg/skaffold/config/types.go#L60) type, it only works if the flags are specified as:
[code]
and doesn't work if specified as:
[code]

[2021-06-10 14:14] briandealwis commented on #5855
At the end of the dev process.

From this bug, it seems we have issues with both during and after the process.

[2021-06-10 14:21] gsquared94 commented on #6001
Closing after discussing:

I think the original GNU longflags proposal (which used a +!) required the use of an =, and it does seem the safest option

[2021-06-10 14:21] #6001 closed

[2021-06-10 17:06] #6000 closed

[2021-06-10 18:25] aaron-prindle opened #6003 "Add Full Windows CI Test To Minikube"
Currently skaffold's Windows CI jobs run the following:
- ` - go test -short -timeout 60s ./...` [https://github.com/GoogleContainerTools/skaffold/blob/master/.travis.yml#L88](see code here)

It would be good to have a more comprehensive windows test as currently the tests do not build the skaffold binary or test our integration test scenarios (eg: `make integration-tests`)

[2021-06-10 18:32] tejal29 commented on #5423
Fixed by #5785

[2021-06-10 18:32] #5423 closed

[2021-06-10 18:37] tejal29 commented on #5843
I feel this is done @marlon-gamez. Closing this. Please re-open if anything needs to be addressed.

Closed by #5916 and #5918

[2021-06-10 18:37] #5843 closed

[2021-06-10 18:53] tejal29 commented on #5673
Moving this to july end milestone since we need to finish it by then.
Can you add individual tasks for this EPIC?

[2021-06-10 18:55] tejal29 commented on #5813
Converting this to EPIC. If you could break this task down in individual tasks and pull those in individual sprints, that would be great.

[2021-06-10 18:57] tejal29 commented on #5758
Closing this. Please create individual issues for the remaining tasks.

Looks like using Kaniko is a good to have feature but not required.

[2021-06-10 18:58] tejal29 opened #6004 "FR: Suggest using Kaniko instead of GCR for M1 users."
Left over form #5758

[2021-06-10 18:59] tejal29 commented on #5797
@tejal29 to add more description.
Should be done by Jul-1 milestone to make sure we can achieve the target date of july end for skaffold render.

[2021-06-10 19:54] tejal29 commented on #5366
This should be fixed by #5941

If not, we will re-open again.

[2021-06-10 19:54] #4857 closed

[2021-06-11 05:20] sammym1982 commented on #5739
@tejal29 is there a workaround we can use to make skaffold work with minikube and containerd runtime until this is fixed, given this is now pushed out.

[2021-06-11 09:29] afbjorklund commented on #5739
If you _don't_ want to use "minikube image build" but you do want to support using containerd instead of dockerd, then you need to integrate BuildKit yourself... But the default container runtime used is still Docker, and while it is - the old method should still work.

Here are the needed steps (and I guess you can see why there was a need for a simpler abstraction for it):
https://minikube.sigs.

[2021-06-11 12:21] fischor commented on #3890
The issue still persist for me. When using `docker push <registry>/<image>:<tag>` or `docker pull`, it works fine, since I have added the registry to my `~/.docker/daemon.json`:

[code]

My `skaffold.yaml` file looks like this:

[code]

Results in the following error:

[code]

Setup:
- Mac OS Cataline 10.15.7
- Docker Desktop 3.2.2 (Docker Engine v20.10.5)
- Skaffold 1.260.0

[2021-06-11 16:30] aaron-prindle commented on #5999
Related to #5788

[2021-06-11 16:33] aaron-prindle commented on #4979
@ekupershlak do you have an small sample repo that this can be reproduced in available?  Thanks.

[2021-06-11 16:41] aaron-prindle commented on #5999
Was able to get those up and running again w/ original dev's help, now need to verify that this breakage does not repeat and root cause how it occurred.  The issue was that the systemd timer we setup to run the skaffold metrics test was somehow disabled/never-enabled which led to the test never being run.  The fix was doing the following on the `skaffold` VM in the relevant test project:
[code]

[2021-06-11 16:44] aaron-prindle commented on #4979
Can somewhere here verify that the suggested solution - adding a runtime validation on listed files, is acceptable?  Will this break any expected behavior?  Additionally if someone does glob matching on a directly, does there have to be files in that dir (a single blob match)?  Thanks

[2021-06-11 16:48] gsquared94 commented on #5966
@ananyasaxena is it possible to provide a small example to reproduce your issue? I think PR #6010 might help here, but I need a way to test it. Otherwise you can build my branch from source or wait for it to be merged to use the `master` branch build to verify if that fixes it.

[2021-06-11 16:54] ananyasaxena commented on #5966
@gsquared94 I'll try building from your branch, if I run into any challenges I'll just wait for the merge and release to test this out and report back.

[2021-06-11 19:15] briandealwis opened #6011 "Improve status check handling for GKE Autopilot clusters"
Can we improve the status check reporting when deploying to a GKE Autopilot cluster — informing the user that the cluster/node is being scaled up to accomodate the new job?
[code]

If the pod is not scheduled, we could look at the events to see if there was a `TriggeredScaleUp` event.

[2021-06-11 20:20] tejal29 commented on #6011
sounds like a nice feature. Is there a way we could detect if its a autopilot cluster?

[2021-06-11 20:59] bruno-lopes opened #6012 "Docker images with Java 8 JDK"
### Expected behavior

I would like to be able to select a Docker image of Skaffold, example: v1.26.0 with Java 8 JDK (I have to use it with legacy systems)

### Actual behavior

The image has JDK 11 installed. Is it possible to have it with Java 8 JDK ?

### Information

- Skaffold version: v1.24.0
- Operating system: Linux

[2021-06-12 20:15] polmabri commented on #3890
I experience the same issue:

`could not push image "172.24.0.2:5000/<path>:81eba75-dirty": Get https://172.24.0.2:5000/v2/: http: server gave HTTP response to HTTPS client`

`docker push` and skaffold + kaniko with same registry works.

Setup:
- Linux Mint (Ubuntu 20.04)
- Docker 20.10.7
- Skaffold v1.26.0

[2021-06-14 06:12] nitinkansal1984 commented on #5984
@tejal29 @jakehow @schmurfy Can someone please direct me to some other reference link? I am testing this with AWS ECR. Did someone tested it AWS ECR already?

[2021-06-14 06:25] quater commented on #5923
@aaron-prindle thank you looking into this.

We would like to have a local development Skaffold profile that uses Minikube where we build the Docker images with Kaniko and those images are getting pushed to the Docker registry running on the same Minikube instance. The problem described above is encountered when a developer runs Skaffold as part of `Cloud Code`, the Kaniko build runs successfully

[2021-06-14 08:07] gsquared94 opened #6013 "`deploy-secret.sh` failing for `master` builds"
`deploy-secret.sh` runs for each master build and as such very quickly depletes the maximum number of service account keys allowed.
List of build failures: [go/failed-gcb-builds-internal](http://go/failed-gcb-builds-internal)

https://github.com/GoogleContainerTools/skaffold/blob/59edbda57ae7d2f5d0b53c075497bca480f555f5/deploy/cloudbuild.yaml#L4-L8

[2021-06-14 12:57] JacekDuszenko commented on #5817
Hey, I'd like to take a stab at implementing this :) I will most likely add another yaml property that accepts additional arguments as a list. What do you reckon? @marlon-gamez Could you assign me to this task please?

[2021-06-14 15:19] chris13524 commented on #5529
We desire this feature as well. We are using the [NATS Helm chart](https://github.com/nats-io/k8s/tree/master/helm/charts/nats) and it uses a `StatefulSet` which Skaffold doesn't check for its status.

[2021-06-14 15:59] gsquared94 commented on #6003
I had tried this once before, and stopping trying due to following issues I ran into (at that time):
- Docker for Windows has separate license requirements.
- Neither Github Actions nor Travis provided a windows runner with a Docker daemon. They only had the docker CLI
- HyperV was the only minikube driver on Windows and GCP didn't provide VMs with HyperV. So couldn't use custom runners.

[2021-06-14 17:45] aaron-prindle opened #6015 "Add Full Integration Test MacOSX CI Job To Skaffold"
Currently skaffold's MacOSX CI jobs run the following:

- `make quicktest` [https://github.com/GoogleContainerTools/skaffold/blob/master/.travis.yml#L81](see code here)
It would be good to have a more comprehensive MacOSX test as currently the tests do not test our full integration test scenarios (eg: make integration-tests)

[2021-06-14 18:08] #6013 closed

[2021-06-14 18:16] chris13524 commented on #5529
Reading the use case for healthchecks [here](https://skaffold.dev/docs/workflows/ci-cd/#waiting-for-skaffold-deployments-using-healthcheck), I will add that our use case is using Skaffold for E2E tests. It would be convenient to be able to wait for Skaffold to emit the HTTP API field for `forwardedPorts` so that we know the workloads are ready to be tested. Currently we are waiting for `forwardedP

[2021-06-14 18:21] MarlonGamez commented on #5817
hey @JacekDuszenko , thanks for that! I think that sounds like a good idea, could be similar to some of the `args:` fields like https://skaffold.dev/docs/references/yaml/#build-artifacts-bazel-args

[2021-06-14 20:16] jrowinski3d commented on #4310
Just like to add without creating a new **issue** but I too am having this issue. We have skaffold running in CI(Jenkins) where we are pushing our containers through a k8s service. Call it `artifactory-artifactory:8081`.

Regardless of setting environment variables, settings in the skaffold.yaml or passing via cli it continually sets itself to `https`

[code]

Inside our k8s cluster:

[code]

Skaf

[2021-06-14 20:28] jan25 commented on #5387
This seems interesting, could I give it a try and open a PR?

[2021-06-14 20:58] aaron-prindle commented on #4979
Talked w/ @nkubala offline, adding notes here:

we do some pre-run config validation, mostly related to modules e.g. making sure all configs have unique names, etc. most of this lives in https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/parser/config.go

[...] probably start here to find the entrypoints where you could add more validation around inputs, etc.

and for globs

[2021-06-14 21:20] nkubala commented on #5365
@ngodzik sorry for the super late reply here. did you ever try using a [custom builder](https://skaffold.dev/docs/pipeline-stages/builders/custom/) to run something like `go vet` or something similar? you should be able to use this to run some go validation before doing your `go build`.

[2021-06-15 03:23] nitinkansal1984 commented on #5984
I can see images are being pushed to ECR with untagged. Each time it is creating new image. This is small microservice I am running. Instead of creating respective image, it keeps on creating all the images on each commit. Please suggest !
![image](https://user-images.githubusercontent.com/31030410/121917216-89551900-cd52-11eb-807f-a16def0a1b40.png)

[2021-06-15 05:38] #5427 closed

[2021-06-15 09:43] gsquared94 commented on #5966
my PR was merged so you can also try with the _bleeding edge_ version (https://skaffold.dev/docs/install/)
For macOS:
[code]

[2021-06-15 11:14] gsquared94 commented on #5984
You can try changing the `tagPolicy` to `inputDigest` and setting `tryImportMissing` in the build-env definition:
[code]

This way, the tag generated for each artifact won't change unless there is a source code change for that specific artifact (due to `inputDigest` tagger). And the build will be skipped if skaffold is able to pull an image with the same tag (due to `tryImportMissing` setting).

[2021-06-15 11:58] nitinkansal1984 commented on #5984
is this fine?
  tagPolicy:
    inputDigest: {}
  local:
     tryImportMissing: true
     useBuildkit: false
     concurrency: 5

[2021-06-15 11:59] nitinkansal1984 commented on #5984
@gsquared94
![image](https://user-images.githubusercontent.com/31030410/122048655-338a7a80-cdff-11eb-83d8-c3db07644531.png)

[2021-06-15 12:25] nitinkansal1984 commented on #5984
I am getting one more error this time.
unable to stream build output: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit. Please fix the Dockerfile and try again..

[2021-06-15 13:01] gsquared94 commented on #5984
that's the docker rate-limiting error. https://www.docker.com/increase-rate-limits Are you sure you're not using DockerHub images anywhere?

[2021-06-15 14:08] briandealwis commented on #5946
Sorry for the delay.  There are some mismatches between your Helm chart and the `skaffold.yaml` that prevent Skaffold from affecting your image.  Here's what I fixed:
- In your `skaffold.yaml`, your `artifactOverrides` is using `image` as the key but your chart is using `images` (note the `s`).
- Your chart is referencing the built image using a `.repository` / `.tag` split.  Skaffold's default `f

[2021-06-15 14:08] #5946 closed

[2021-06-15 14:31] nitinkansal1984 commented on #5984
what in case I want images to be pulled from both dockerhub and ECR?

[2021-06-15 20:03] yazbekhe opened #6018 "skaffold custom test does not run before pushing the image"
### Expected behavior
the skaffold custom test run before pushing the image to registry

### Actual behavior
the skaffold custom test run after pushing the image to registry

### Information
as stated by the doc that the difference between custom test and the structure test, is that custom test run in the testing phase which is before tagging and pushing. but my test does not return the expected r

[2021-06-15 20:04] briandealwis opened #6019 "panic on nil dereference in debugging.ContainerManager"
I've encountered the following panic a couple of times with `skaffold debug` when trying to dig into #5946.

[code]

### Information

- Skaffold version: HEAD and 1.26.1
- Operating system: macOS

[2021-06-15 20:10] briandealwis commented on #6019
Originally filed in #6016

[2021-06-15 20:34] #6019 closed

[2021-06-16 08:31] nitinkansal1984 commented on #5984
I moved all the images to aws ECR to avoid any issue with rate limiting. I am back to original issue. When I did run skaffold run it has built all the images and this time it generated a tag as "2f5688692f20a8e21953f2cc08b44f89266d527904d4ad937af5762c90e52505" But my kubernetes manifest is still pointing to latest image.
Below is my current settings:
![image](https://user-images.githubusercontent.

[2021-06-16 09:56] gsquared94 commented on #5960
able to repro on master branch.

[2021-06-16 10:06] gsquared94 commented on #6018
The documentation at https://skaffold.dev/docs/pipeline-stages/testers/custom/ doesn't seem to suggest that `test` will block image push. The `test` phase is between the `build` and `deploy` phases. The `build` phase consists of building, tagging and pushing the image. So this is working as intended.

You could try converting the builder to a `custom` builder ([docs](https://skaffold.dev/docs/pipe

[2021-06-16 10:06] #6018 closed

[2021-06-16 10:11] gsquared94 commented on #6012
I've added this to our triage discussion. Will update.

[2021-06-16 10:11] gsquared94 commented on #6003
added priority to appease `triage-party`. Change as needed.

[2021-06-16 10:31] nitinkansal1984 commented on #5984
I could make it work.  Now it is creating image for the one for which code is committed. The only thing left is:
During every commit, it is redeploying all the kubernetes manifests instead of just rolling out the one for which image is built. Please suggest !

[2021-06-16 12:57] gsquared94 commented on #5984
I think kubernetes should handle unchanged manifests. Even then you could try adding the flag `--add-skaffold-labels=false` ?

[2021-06-16 15:05] yazbekhe commented on #6018
@gsquared94
thanks for your reply, but as by the doc you have mentioned, the tagging is after the testing and not before.  so would you please clarify for me, what is the difference between the custom and the structure test?

![image](https://user-images.githubusercontent.com/37967987/122244299-c6c0c000-ce92-11eb-8157-06d7c7f9e1d9.png)

[2021-06-16 15:59] gsquared94 commented on #6018
The custom and structure tests are part of the same `Test` phase in skaffold. Custom runs a user provided script while structure tests are https://github.com/GoogleContainerTools/container-structure-test.

The test in the above diagram probably refers to the test component of some builders like `jib`

[2021-06-16 16:00] levtomer66 opened #6025 "Some hashes may cause git clone to fail"
getRepoDir function return a hash created by repo and ref, for some combinations it may return "-" (dash) as first sign in the hash.
this hash then concatenates to the command of git clone:
https://github.com/GoogleContainerTools/skaffold/blob/34e85a6accc810a2ce7db2a55c775695e0414e74/pkg/skaffold/git/gitutil.go#L132

git clone command fails because "-" interpolates as a start of a command **flag**

[2021-06-17 02:36] cage1016 opened #6028 "gcr.io/k8s-skaffold/pack 0.19.0 support"
### Expected behavior

[GoogleCloudPlatform/buildpacks: Builders and buildpacks designed to run on Google Cloud's container platforms](https://github.com/GoogleCloudPlatform/buildpacks#using-with-google-cloud-build) mention that instance by using the pack builder image provided by the Skaffold project. buildpacks/pack release [v0.19.0 ](https://github.com/buildpacks/pack/releases/tag/v0.19.0) 19 d

[2021-06-17 03:04] briandealwis commented on #6011
I've been told that looking at the pod events should show _cluster autoscaling_ or _node auto provisioning_ events.  Both are briefly described here:

https://cloud.google.com/architecture/best-practices-for-running-cost-effective-kubernetes-applications-on-gke

[2021-06-17 05:13] aaron-prindle opened #6029 "Support shell style ** globs for file `ignore:`"
Feature request to support shell stype ** globs for selecting files for `ignore:`.  Feature identified as reducing friction for large projects in #5933, specifically those with large numbers of generated files.

[2021-06-17 11:57] gsquared94 commented on #5665
this should be fixed in https://github.com/GoogleContainerTools/skaffold/pull/5677

[2021-06-17 11:57] #5665 closed

[2021-06-17 12:00] gsquared94 commented on #5666
Fixed in https://github.com/GoogleContainerTools/skaffold/pull/5677

[2021-06-17 12:00] #5666 closed

[2021-06-17 12:34] nitinkansal1984 commented on #5984
Thanks @gsquared94. Sometime my kubernetes manifest are failed to run at first attempt, there restart the container as part of deployment and restart policy. It took longer than expected to come. Skaffold failed meanwhile and reported pipeline execution as failed.
I added a parameter in the deploy section "statusCheckDeadlineSeconds: 900" to let it wait for 900 seconds. But it is not honored. Any

[2021-06-17 12:39] gsquared94 commented on #5984
@nitinkansal1984 can you paste your current `skaffold.yaml` along with the output of running with the `-v DEBUG` flag?

[2021-06-17 12:45] nitinkansal1984 commented on #5984
![image](https://user-images.githubusercontent.com/31030410/122398495-9282f780-cf97-11eb-9c5d-6df0a35aa89e.png)

This issue comes only when my deployment on kubernetes takes time or container restarted within pod (as part of restart policy). Other time when everything comes fine at first time, then I don't see this issue. But statuscheckdeadlinesecond is not being honored. That is for sure.

FYI I

[2021-06-17 12:59] gsquared94 commented on #5984
`StatusCheckDeadlineSeconds` can be ignored for non-recoverable errors or deployment errors. Is it possible to share the logs?

[2021-06-17 13:01] nitinkansal1984 commented on #5984
&gt; [cartservice-789d56dd48-ll6rh server]    at &lt;Program&gt;$.&lt;Main&gt;$(String[] args)
--
211 | - deployment/cartservice failed. Error: container server terminated with exit code 139.
212 | - deployment/shippingservice is ready. [1/12 deployment(s) still pending]
213 | - deployment/checkoutservice is ready.
214 | 6/12 deployment(s) failed
215 | &nbsp;
216 | [Container] 2021/06/17 12:59:42

[2021-06-17 18:27] briandealwis opened #6030 "Skaffold should provide a mechanism to include remote modules in-tree"
For some deployment scenarios, it is useful to be able to run tests post-delivery, such as by using `skaffold test`.  As these tests likely reference resources (e.g., scripts) within the application, the user (or a tool) might zip up the workspace as a snapshot fo the application to be able to run these tests separately.

This can breaks when an application uses remote modules as our current modul

[2021-06-17 18:43] aaron-prindle opened #6032 "Add Code to not run Github Actions on docs-only changes, possibly something more general to stop actions from running on a PR altogether"
Currently the Github Actions in the skaffold repo run on docs only changes.  Travis is setup to not do this but this functionality was not ported over.  This bug tracks adding either:
- Similar logic taken from Travis to halt job execution on Github Actions
- Add label based "stop execution" of the Github Action (more general, possibly more cumbersome as job might run once before label is applied)

[2021-06-17 18:55] bruno-lopes commented on #3770
It also occurs in test stage:

[code]

Also it seems that the tests aren't running.

[2021-06-17 19:37] tejal29 opened #6034 "Status check does not warning events for a pod"
When running `skaffold dev` on triage party status check was stuck on
[code]

[code]
kubectl describe po/triage-party-745965494-pk2fg  -n triage-party

  Normal   Pulling         91s (x8 over 2m38s)  kubelet            Pulling image "triageparty/triage-party"
  Warning  Failed          91s (x8 over 2m38s)  kubelet            Error: secret "triage-party-github-token" not found
[code]

[2021-06-17 22:20] tejal29 opened #6036 "Logs not tailed when deployed resources are in namespace."
On triage party with skaffold built on head, logs for pods deployed in a namespace are not showing up.

[code]

To check logs, i need to
[code]

[2021-06-17 22:21] tejal29 commented on #6036
/cc @nkubala Do you have idea if this due to recent refactor or was always the case.

[2021-06-17 22:27] tejal29 commented on #6036
Steps to reproduction
1. add namespace to kubernetes.yaml like https://github.com/google/triage-party/blob/master/deploy/kubernetes/deployment.yaml#L19
2. run `skaffold dev`

[2021-06-17 22:59] tejal29 commented on #6036
I realized this was due to my misconfiguration.
The deployment.yaml had a misconfigured image name
[code]
The image name in the `skaffold.yaml` was
[code]

After changing this to `tparty`, My dev loop still failed
[code]

Looking at `kubectl get pods` output I only see 1 pod.
[code]
The pod `triage-party-7f8c4bf578-w5gmj` is probably from previous run?
[code]

Now, i am stuck in `Watching for chan

[2021-06-17 23:03] tejal29 commented on #6036
After making a forced code change, I still can't see pod logs. :(

[code]

[2021-06-17 23:25] aaron-prindle commented on #6032
See https://github.com/GoogleContainerTools/skaffold/pull/6039 for validation that this works.  You can see in the Github Actions on the PR there that the linux tests indeed succeed immediatly when a docs only change is made

[2021-06-18 00:17] halvards opened #6040 "Enable hidden schema changes"
It'd be great to establish a mechanism for making backwards compatible schema changes as part of a series of small PRs that implement a feature.

This will allow the PRs to be merged continuously, rather than all at the end.

Currently, if there's a Skaffold release part-way through a series of PRs for a feature, schema changes will be visible in user documentation even if the feature isn't ready

[2021-06-18 01:00] halvards opened #6041 "Add ko builder"
Tracking issue for the effort to add the `ko` builder.

See the [design proposal](../blob/master/docs/design_proposals/ko-builder.md) for further details.

Related: #5611, #1958

[2021-06-18 01:21] halvards commented on #6041
Related PRs in [google/ko](https://github.com/google/ko):

- [Enable embedding of ko publish #348](https://github.com/google/ko/pull/348)
- [Add flag and PublishOption for destination repo #351](https://github.com/google/ko/pull/351)
- [Enable setting the working dir for the go tool #365](https://github.com/google/ko/pull/365)
- [Add support for Go build flags #340](https://github.com/google/ko/pu

[2021-06-18 12:47] mehmetsalgar commented on #5946
Hi,

first of all thx for your input, with your point I was able to bring my PoC running with JAVA_TOOL_OPTIONS and debug but my real project is little bit more complex then initial version of the PoC, which has more one Charts inside of the Helm definitions. 2 Charts that setting up Java Projects whic are depending another chart for a configmap.

And while there are nested modules, JAVA_TOOL_OPTI

[2021-06-18 18:37] matthewmichihara opened #6045 "Application logs ordering"
The IDEs are working on new logging UI that displays the phases of a build as a tree. The ordering of nodes in the tree depend on the events received from skaffold and we would like application logs to appear last in the tree.

We expect that application logs will come in last from the skaffold  API (after other phases in the build like port forwarding). However, this is not always the case as see

[2021-06-20 12:16] mvs24 commented on #5144
Ok, great. Waiting for that

[2021-06-20 23:32] marckhouzam commented on #5960
I've taken the liberty to investigate this issue. It turns out that skaffold sets both stdout and stderr to the same output stream in a `PersistentPreRun`.  This causes a problem for Cobra's `__complete` command which outputs a debugging line on stderr which is normally ignored, but since this line appears on stdout for skaffold, it appears as a (invalid) completion.

Skaffold does this here https

[2021-06-21 11:02] robertgates55 opened #6047 "Build concurrency with bazel builds"
Am interested in guidance on how best to use skaffold to run our CI builds. We're moving to using bazel for our artifact builds, and I was interested in how concurrency would be handled by the bazel server. It appears skaffold invokes multiple bazel builds, and bazel server only allows these to be run one at a time. Eg if I set `concurrency: 4` and run skaffold build with 4 bazel artifacts, I get

[2021-06-21 14:53] briandealwis commented on #5946
@mehmetsalgar the structure of your `poc-helm-gc-parent.zip` archive does not match the structure in your description: there is only a single chart that is referenced by both your poc-helm-gc1 and poc-helm-gc2.

[2021-06-21 17:09] #6032 closed

[2021-06-21 18:13] gsquared94 commented on #3905
update: this is getting prioritized in Q3

[2021-06-21 18:14] aaron-prindle commented on #5668
Closing now as this issue is related to kubectl.  Feel free to re-open if there is more to add here or some work skaffold side.

[2021-06-21 18:14] #5668 closed

[2021-06-21 18:14] MarlonGamez commented on #5691
@drewpca was using `--cleanup=false` able to help you with this issue? Do you think we should special case this situation and add helpful tips to our output for this?

[2021-06-21 18:16] briandealwis commented on #5216
Sounds similar to #5855.

[2021-06-21 18:17] briandealwis commented on #3890
Re-opening though needs reproduction.

[2021-06-21 18:17] tejal29 commented on #5634
@coolpalani I missed the fact you use `kubectl edit` to edit the deployment.
Skaffold does not re-concile changes made to resources on the cluster to deployment.yaml You will have to make these changes in the declared manifests.

Can you not add the following to the deployment spec?
[code]

[2021-06-21 18:18] tejal29 commented on #5634
Closing this since, skaffold can't do anything here. Please re-open if required.

[2021-06-21 18:18] #5634 closed

[2021-06-21 18:18] nkubala commented on #5419
hey @fdruillennec, thanks for the response. we haven't had a chance to repro this issue yet but at first glance it does seem like a bug - kaniko should be receiving creds from your docker config and plumbing those through to the pod, but it doesn't look like that's happening correctly.

any chance you're running on a GKE cluster? if so, common practice is to use either [workload identity](https://

[2021-06-21 18:21] MarlonGamez commented on #5067
@shuvozula I think we would try to fix this issue for both port forwarding and logging if we got to it. However, we're currently not heavily prioritizing this issue within our team. PRs always welcome!

[2021-06-21 18:23] aaron-prindle commented on #5866
@agmsb friendly ping.  Is there anything that skaffold team can do to help here?  Additionally if it is helpful feel free to submit a "Draft" type PR which might be easier to iterate on w/ the skaffold team while the docs are in more of a WIP state.

[2021-06-21 18:24] tejal29 commented on #5112
Thanks @newtoniumx3
Deploy order is something skaffold will consider after https://github.com/GoogleContainerTools/skaffold/blob/master/docs/design_proposals/new-render-and-deploy.md lands.

[2021-06-21 18:24] nkubala commented on #169
@fzyzcjy and others, update from the team: we're actively working through a redesign of the way we handle "rendering" of kubernetes resources vs. creation of these resources on a cluster, detailed in [this design proposal](https://github.com/GoogleContainerTools/skaffold/blob/master/docs/design_proposals/new-render-and-deploy.md). these changes should make it more clear how Helmfile should interac

[2021-06-21 18:25] aaron-prindle commented on #5608
Related issue #6029 regarding `**` support

[2021-06-21 18:25] gsquared94 commented on #5687
closing as out-of-scope

[2021-06-21 18:25] #5687 closed

[2021-06-21 18:27] MarlonGamez commented on #5907
@chris13524 thanks for the suggestions! I think this needs to be discussed a bit further within the team, so I'll bring up your points and see what kind of conclusion we can come to around this :)

[2021-06-21 18:28] aaron-prindle commented on #4846
@pagmoro friendly ping.  Were you able to try to latest skaffold release and verify if this issue is still occuring?

[2021-06-21 18:29] briandealwis commented on #6012
Hi @bruno-lopes.  Many newer Maven plugins no longer work with JDK 8.  Our `gcr.io/k8s-skaffold/skaffold` image is already too hefty.

I can think of a few alternatives:
- You could create your own image using `gcr.io/k8s-skaffold/skaffold` as a base image and install a Java 8 JDK and configure toolchains.
- You could create your own image using your JDK of choice and install Skaffold there.  The

[2021-06-21 18:52] aaron-prindle commented on #5638
@nkubala has picked up this feature-request, updating for triage-party

[2021-06-21 19:12] gsquared94 commented on #5176
seems like a dupe of https://github.com/GoogleContainerTools/skaffold/issues/5334

[2021-06-21 20:45] aaron-prindle opened #6050 "Add additional manifest validation support for non-kubectl deployers (helm, kpt, etc.)"
#4979 required adding a validation step for `kubectl` manifests to verify that they exist.  This bug tracks the additional work of adding this same validation for files referenced in helm, kpt, etc. based rendering/deploying

[2021-06-21 21:09] mehmetsalgar commented on #5946
Sry, I made a mistake with markdown, I corrected that..

Java projects are poc-helm-parent/poc-helm-gc1 and poc-helm-parent/poc-helm-gc2.

Corresponding Helm charts are poc-helm-parent/poc-helm-gc/charts/poc-helm-gc1, poc-helm-parent/poc-helm-gc/charts/poc-helm-gc2, poc-helm-parent/poc-helm-gc/charts/poc-ssl..

[2021-06-22 04:45] aaron-prindle commented on #5789
TODOs:
- [ ] add profiler to skaffold
- [ ] run profiler in cron based tests

[2021-06-22 14:17] JacekDuszenko commented on #5817
Hey @MarlonGamez, @znorris! I implemented the change and submitted a PR in  #6055. Feel free to take a look and review. Thanks

[2021-06-22 15:47] JacekDuszenko opened #6057 "Newest config version infromation link in the development docs is invalid."
In a DEVELOPMENT.md  "making a config change" docs section there are two expired URLs that should point to to the newest schema config:
https://github.com/GoogleContainerTools/skaffold/blob/master/DEVELOPMENT.md#making-a-config-change

### Expected behavior
Hyperlinks lead to a valid file and a valid line: https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/latest/v1/c

[2021-06-22 15:48] JacekDuszenko commented on #6057
I'll take care of the issue and submit a PR shortly, please assign me to the task :)

[2021-06-22 16:05] JacekDuszenko commented on #6057
I fixed the issue in : https://github.com/GoogleContainerTools/skaffold/pull/6058

[2021-06-22 17:03] tejal29 commented on #5966
@ananyasaxena is this a still an issue?

[2021-06-22 17:04] #6057 closed

[2021-06-22 17:24] tejal29 commented on #4725
unfortunately this will not be part of this v1.27.0 release.  We are going to take a look at redeisning profiles in skaffold v3 config.
We will probably take a look then

[2021-06-22 18:11] ananyasaxena commented on #5966
@gsquared94  @tejal29 I used https://storage.googleapis.com/skaffold/builds/latest/skaffold-linux-amd64 but still ran into the same issue
[code]

[2021-06-22 18:33] briandealwis commented on #6045
I don't think you should be assuming any kind of ordering between events, beyond `build` &lrarr; `deploy`.  When Skaffold status-checks are disabled, the port-forwards may happen a bit of time after the app has started logging.

You can batch up events in the IDE, but IMHO the eventing mechanism should present events as they are raised.

[2021-06-22 18:35] aaron-prindle opened #6060 "Skaffold should offer a command-line flag to cause execution to be performed alongside the Skaffold config file."
(taken from design doc by @briandealwis)

### Introduction
Skaffold has a mismatch between the execution models of:
the root module vs dependent modules
the command-line and the IDEs
We see issues such as https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/379 / https://github.com/GoogleContainerTools/skaffold/issues/5355, and more.

### Background / Motivation
- Skaffold normally reso

[2021-06-22 18:40] aaron-prindle commented on #6060
Adding @maggieneterval @ekupershlak @plumpy for partnership tracking

[2021-06-22 18:42] aaron-prindle commented on #6060
@maggieneterval can you add perhaps a log snippet, example, etc. with an example of the issue you are seeing currently and verify that the `-F` flag design above would fix the issue?  Just want to make sure this will fix the issue.  Thanks

[2021-06-22 19:51] aaron-prindle opened #6062 "Add feature for `skaffold diagnose` to be able to output relative paths (vs absolute paths)"
Currently `skaffold diagnose` only supports outputting file paths that are absolute paths.  This is an issue as absolute paths can change depending on machine, environment etc. can might make the output for `skaffold diagnose` not hermetic/reproducible for the same working-dir and skaffold.yaml.  Example output for `examples/microservices`:
[code]

From the above the `context:` and `manfiest:` pat

[2021-06-22 19:52] aaron-prindle commented on #6062
Adding @maggieneterval @ekupershlak @plumpy for partnership tracking

[2021-06-22 21:39] #4401 closed

[2021-06-22 23:18] viglesiasce opened #6067 "Allow tests to be run on any image change"
### Expected behavior
When defining tests allow the image reference to be either empty or not provided. This would cause tests to run on every iteration. I'd like to be able to setup remote modules with shared tests steps but at the moment you can't do that because the module would have to explicitly call out an image.

### Actual behavior
Image field must be set in the test section so tests canno

[2021-06-23 07:56] sambonbonne opened #6069 "Port forward: multiple localPort for a same resource"
What I'm trying to do: forward a service port to two hosts ports so I have `localhost:XXX` and `localhost:YYY` binded to the same resource and port.

### Expected behavior

Being able to set the same `portForward` rule two times with just a different `localPort` (but same `namespace`, `resourceType`, `resourceName` and `port`).

### Actual behavior

Skaffold forwards only the first entry.

### Inf

[2021-06-23 18:05] actraiser commented on #1441
My use case is the generation of dynamic Typescript types for GraphQL schemas. The process of creating this types.d.ts is simply running a cli command on the host. The command parses all schema files and the typescript definition file is being generated on the host and with that synced to the docker container - which is not half bad.

But ideally that cli command to generate the types.d.ts file wo

[2021-06-23 19:24] gsquared94 commented on #1441
Thanks all for bearing with us while this issue kept getting reprioritized. We'll start working on this from next month.
Linking the [design](https://tinyurl.com/skaffold-hooks) that was reviewed a while ago but open to any new feedback.

[2021-06-23 20:06] cheslijones opened #6072 "Recently started getting "Too many open files..." spinning up cluster on Apple M1"
### Expected behavior

That my project would be deployed and spin-up without any issues.

### Actual behavior

It is safe to say, I think, that this is isolated to Apple Silicon.

I get all of these "Too many open files..." warnings, the deployment slows down to snails crawl, other messages related to "failed to port forward <service> is taken, retrying..." and then eventually it acts like it star

[2021-06-23 20:58] #6025 closed

[2021-06-23 21:28] matthewmichihara commented on #6045
Seems reasonable. We'll try adding logic to the IDEs to position the application logs node where we want it.

[2021-06-23 21:28] #6045 closed

[2021-06-23 22:09] #5817 closed

[2021-06-23 22:10] drewpca commented on #5691
I already knew the fix, so I wasn't trying to diagnose my setup more. I'd rather focus on how skaffold can help me follow the chain of errors until I got to the right logs.

Here's a separate mistake I made the other day: my Dockerfile had `CMD ["/opt/entrypoint.sh"]` but entrypoint.sh was not chmod executable. `skaffold -v` debug showed me this:
[code]
but without -vdebug, the problem was again m

[2021-06-23 22:17] JacekDuszenko commented on #5979
Hey @briandealwis, I wanted to take a stab at this task here, but am not sure where in the codebase this tag verification should happen. Could you please elaborate more on this? Pointing the place in code would be really helpful as well. Thanks!

[2021-06-24 01:38] cheslijones commented on #6072
Actually did manage to get all of those messages to go away, but now I'm getting these errors:

[code]
Looks like I'm actually getting this on Linux and WSL2 as well, so maybe some other issue.

I did the following and the messages went away on the M1:
- Docker Desktop arm64 (required can't use amd64)
- Enabled `kubectl` in Docker desktop
- VS Code - Intel
- Installed `brew` while in VS Code -Inte

[2021-06-24 04:22] gsquared94 commented on #6067
from discussion: the intention in an ongoing skaffold dev session is to have a single run of a `custom` test when `n` artifacts get rebuilt and not a run against every built artifact (what was attempted in #6070).

[2021-06-24 13:00] gsquared94 opened #6074 "Port forward not working for multiple `deploy` stanzas or `multi-config` projects"
From `master` branch, on `examples/getting-started` run:
[code]

### Expected behavior
Single port-forward request per service successful.

### Actual behavior

Skaffold keeps trying to port-forward and gets stuck in a loop

[code]
### Information

- Skaffold version:
- Operating system:
- Installed via:
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repos

[2021-06-24 13:02] gsquared94 commented on #6074
cc. @tejal29 @nkubala
I think this could be a regression from the recent refactors to `portforwarder` and `podselector`.

[2021-06-24 13:39] gsquared94 commented on #4354
This can now be done with skaffold's [support of multiple configs ](https://skaffold.dev/docs/design/config/#multiple-configuration-support) where one config defines the artifacts to be built locally with jib while another config defines the artifacts to be built in kaniko.

Resolving.

[2021-06-24 13:39] #4354 closed

[2021-06-24 15:53] #4347 closed

[2021-06-24 15:53] #5334 closed

[2021-06-24 17:27] briandealwis commented on #5986
I suspect this `jq` malarkey can be handled by setting some [specific options in the proto](https://stackoverflow.com/a/52654286/600339).  I'm not clear what the title/description issues were in the generated swagger though.

This is where the proto is turned into the swagger implementation:
https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-openapiv2/internal/genopenapi/templat

[2021-06-24 17:52] briandealwis commented on #6072
I don't think this is a Skaffold problem: I run Skaffold on an M1, admittedly with fewer containers, and I don't see this issue.

It's worth poking around with `lsof` and try to find out which processes have an inordinate number of open files.
[code]

And check your `sysctl` values too:
[code]

Ah, now that I'm writing this, I do remember having this problem with my older MBP.  For some reason, my

[2021-06-24 18:45] tejal29 commented on #5966
Thanks for confirming @ananyasaxena. I will look into this

[2021-06-24 20:10] cheslijones commented on #6072
What version of `skaffold` are you using on your M1? `arm64` or `amd64`?

I found that installing the `skaffold-darwin-amd64` version inside either the `i386` or `arm64` terminal does get it working and I'm actually able to work. It is really slow to spin up though. Installing `skaffold-darwin-arm64` in either `i386` or `arm64`... yeah, just isn't working for me for some reason.

It looks like my

[2021-06-25 10:52] gsquared94 opened #6078 "Specifying a `kubeContext` in the skaffold config doesn't work if current context is set to a local cluster"
Using this modified `skaffold.yaml` from the `<repo>/examples/getting-started` project:

[code]

with my current kubecontext set to a local `kind` cluster.

### Expected behavior
`skaffold dev` builds the image, pushes it to the remote registry and then deploys to the remote cluster `gke_gaghosh-project-1_us-central1-c_fc1
` specified in the `skaffold.yaml` file.
### Actual behavior
[code]
### Inf

[2021-06-25 11:11] gsquared94 commented on #5334
@othercorey, @aariacarterweir  this is fixed in #6024

I've created https://github.com/GoogleContainerTools/skaffold/issues/6078 for the issue: if you specify a remote `kubeContext` field in the `skaffold.yaml` file but have current context (or `--kubecontext` flag) pointing to a local cluster, while also not setting `build.push` to true, then `skaffold` incorrectly chooses to not push the built i

[2021-06-25 12:09] netaskd1 commented on #5571
@tejal29 could we rise the bug?

[2021-06-25 12:10] netaskd commented on #5571
@tejal29 could we rise the bug?

[2021-06-25 17:02] tejal29 commented on #5812
New project created.  Waiting for internal team to respond

[2021-06-25 17:13] alanjcastonguay opened #6079 "Buildkit secret references to credential files in developer home directory"
### Expected behavior

I am using BuildKit's fancy secret feature to build a docker container for a python app depending on a private python package. My local `pip.conf` contains credentials to a private registry holding that python package. Natively I can `pip install ...`. Or when building a docker container I can do something like this in a build script:

[code]

I have not figured out how to p

[2021-06-25 17:17] alanjcastonguay commented on #6079
I see in https://skaffold.dev/docs/pipeline-stages/builders/docker/ and https://skaffold.dev/docs/environment/templating/ that passing in `buildArgs` works, though I think this is usage is discouraged, to avoid shipping credentials.

[2021-06-25 17:31] alanjcastonguay commented on #6079
I am not sure what the equivalent would be for the other builders (eg Kaniko). Create a kubernetes secret holding the credentials? How is this supposed to work in general?

[2021-06-25 19:54] tejal29 commented on #3559
@Avi612 please use
1) `skaffold build --output output.json`
2) `skaffold deploy -a output.json`

[2021-06-26 15:22] cheslijones commented on #6072
OK, gave [the link you provided](https://gist.github.com/tombigel/d503800a282fcadbee14b537735d202c) a shot.

At `20000`, I got the same errors though less frequent and ultimately the cluster failed to load due to:

[code]

So I increased it to `524288` that caused my computer to crash the first time. The second time Terminal crashed. So maybe there is a value somewhere in the middle that might cle

[2021-06-28 14:41] briandealwis opened #6091 "Dockerfile file analysis should support Buildkit's `RUN --mount`"
_(From the [`#skaffold` Slack channel](https://kubernetes.slack.com/archives/CABQMSZA6/p1624662175123800))_

Buildkit supports [`run --mount=type=bind,source=xxx,target=yyy`](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/syntax.md#run---mounttypebind-the-default-mount-type) which behaves similar to a `COPY xxx yyy`.  The `type=bind` can be omitted as this is the default mou

[2021-06-28 15:29] chanced commented on #6091
This ended up being my work around for now:

[code]
Which still provides go's build caching while also triggering skaffold.

[2021-06-28 16:18] briandealwis opened #6092 "Can't run GCB skaffold profile with artifact registry image repository"
Skaffold cannot guess project ID from an Artifact Registry image.  We missed this in #5053.

### Expected behavior

`skaffold dev` with an Artifact Registry image should succeed.

### Actual behavior

[code]

### Information

- Skaffold version: HEAD

[2021-06-28 16:23] #5399 closed

[2021-06-28 16:46] #6092 closed

[2021-06-28 16:53] #5456 closed

[2021-06-28 17:37] tejal29 opened #6095 "[Flake]TestDebug/buildpacks"
Test flake 'TestDebug/buildpacks`,

Failed build: https://travis-ci.com/github/GoogleContainerTools/skaffold/jobs/519829681#L662

[2021-06-28 18:16] #6074 closed

[2021-06-28 20:39] MarlonGamez opened #6096 "Identify and close issues related to init by testing projects in https://github.com/viglesiasce/skaffold-starting-points"
Use https://github.com/viglesiasce/skaffold-starting-points to identify issues and friction with `skaffold init`.

This issue will be used to track issues for individual samples that are identified

[2021-06-28 20:42] MarlonGamez opened #6097 "Implement way to solicit user feedback/issues when encountering errors"
### Expected behavior

### Actual behavior

### Information

- Skaffold version:
- Operating system:
- Installed via:
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
3. ...

[2021-06-28 20:46] MarlonGamez opened #6098 "Implement fixes for misconfigurations in user k8s manifests"
Get information on top 2 misconfiguration issues and implement mitigations/fixes for those cases

[2021-06-28 20:49] MarlonGamez opened #6099 "Implement way to emit information related to non standard workloads deployed with skaffold"
Ex: information about upcoming docker deployer

[2021-06-28 22:57] #6100 closed

[2021-06-29 04:59] aaron-prindle opened #6102 "Implement fixes for misconfigurations in user skaffold.yaml"
Implement top 2 recommendations for misconfigurations in their skaffold.yaml

[2021-06-29 05:00] aaron-prindle opened #6103 "[FR] Implement fixes for misconfigurations in user Dockerfile"
Implement top 2 recommendations for misconfigurations in users dockerfile

[2021-06-29 11:57] bruno-lopes commented on #6012
@briandealwis, thanks! I have opted to create my own image using a specific JDK as you suggested.

[2021-06-29 17:32] nkubala opened #6107 "[FR] Deploy to Docker"
Implement a new `Deployer` in skaffold, which deploys containers directly to Docker and requires no Kubernetes cluster.

[2021-06-29 18:45] #4979 closed

[2021-06-29 19:35] pipe01 commented on #4328
Any progress on this?

[2021-06-29 22:06] tejal29 commented on #5812
New metrics project set up done!

[2021-06-29 22:06] #5812 closed

[2021-06-30 10:27] dnovvak opened #6113 "Helm release is not updated if chart version has changed in skaffold config file"
### Expected behavior
The command `skaffold deploy --skip-render` upgrades a release to a new version of a chart if `deploy.helm.releases.[].version` has changed.

### Actual behavior
The command `skaffold deploy --skip-render` does nothing if `deploy.helm.releases.[].version` has changed.

### Information

- Skaffold version: 1.27.0
- Operating system: Windows 10
- Installed via: binary downloade

[2021-07-01 08:03] gsquared94 opened #6119 "Improve workflow documentation on https://skaffold.dev/"
Tracking issue:

- [ ] Add better developer workflow docs for skaffold CLI
- [ ] Add developer workflow with Cloud Code in Skaffold documentation

[2021-07-01 08:59] gsquared94 opened #6120 "Enabling Cross-platform builds with Skaffold"
# Enabling Cross-platform builds with Skaffold

## Local build environment
The local build environment delegates to the individual artifact builder to decide the list of supported platforms.
- [x] Docker builder supports cross-platform
- [x] Custom builder supports cross-platform and multi-platform
- [x] Jib supports cross-platform and multi-platform
- [x] ~~Buildpacks builder only supports `linux

[2021-07-01 12:12] srntqn commented on #5855
@briandealwis hi! Do you have any plans to fix this behaviour?

Got this problem using skaffold v1.27.0 and GKE.

[2021-07-01 12:55] gsquared94 commented on #6030
you can override the remote module download location using the flag `--remote-cache-dir` so you can have it downloaded to zip target. I think that addresses this issue, WDYT?

[2021-07-01 17:26] #5774 closed

[2021-07-01 19:05] tejal29 commented on #6028
@briandealwis do you have any idea?

[2021-07-01 19:34] tejal29 commented on #6047
@robertgates55 unfortunately like you mentioned concurrent bazel builds wont work with current implementation.

It will take some effort to re-think how we can support concurrent builds for bazel. Right now the team does not have the bandwidth to look into this.

I like the idea of `bazel build //src/artifact1:artifact1.tar //src/artifact2:artifact2.tar //src/artifact3:artifact3.tar //src/artifact

[2021-07-01 19:36] tejal29 commented on #6113
/cc @marlon-gamez to link this on his epic.

[2021-07-01 19:38] tejal29 commented on #5592
@pcurewitz friendly ping on if @nkubala's suggestion fixes your issue.

Reducing the priority since its out of SLO and no comment from the user.

[2021-07-01 19:42] tejal29 commented on #5571
@netaskd Sorry for the delay. I will try to investigate it in next Sprint.

[2021-07-01 19:44] tejal29 commented on #5975
@briandealwis and @aaron-prindle are any of you working on "Switch to Github Actions and add ARM64 tests - P0" ?

[2021-07-01 19:50] tejal29 commented on #6072
Thanks @cheslijones for bringing this issue.  I am going to keep this open for now.

[2021-07-01 19:58] tejal29 commented on #4432
@nkubala shd we close this now or atleast reduce the priority to p1 if we are not actively working on it.

[2021-07-01 19:59] aaron-prindle commented on #5975
Github Actions does not currently support ARM64 images.  They allow you to register your own machines which can have an arm64 label.  As such, this has to be done on Travis atm which @briandealwis is working on here:
https://github.com/GoogleContainerTools/container-debug-support/pull/80

[2021-07-01 20:02] tejal29 commented on #2357
Reducing priority since its been an year since last comment.

[2021-07-01 20:03] tejal29 commented on #4461
@briandealwis we decided to not do prioritize this for internal deploy debug success metrics effort as it would be hard a lot of work for very little gain.
Closing this. please feel free to re-open

[2021-07-01 20:03] #4461 closed

[2021-07-01 20:05] tejal29 commented on #1269
V3 schema has a proposal to specify additional taggers for an artifact. Lets defer this until then,

[2021-07-01 20:05] tejal29 commented on #1269
#TODO @tejal29 to create a epic and add this in

[2021-07-01 20:06] tejal29 commented on #1269
Relates to #5857

[2021-07-01 20:07] tejal29 commented on #2317
Thanks @dhodun We will definitely share stuff internally once we have v3 schema ready

[2021-07-01 20:09] tejal29 commented on #2492
Sorry folks, reducing the priority for this as we don't have plans to work on this next quarter.

[2021-07-01 20:10] tejal29 commented on #3711
dupe of #5773

[2021-07-01 20:10] #3711 closed

[2021-07-01 20:12] tejal29 commented on #3321
/cc @gsquared94 to add example with multiple deployers with CRDs etc. I don't think we still support multiple deployers of same type right?

[2021-07-01 20:13] tejal29 commented on #3321
Subtaks for #5857

[2021-07-01 20:14] tejal29 commented on #3737
Reducing priority for the feature.

[2021-07-01 20:21] tejal29 commented on #6103
Nice! thanks for creating this issue.  The first one we want to recommend is:
1) If Dockerfile exists at root of the project with  `Copy . .` exists, flag it.  Reason being
   - It watches all `.git`, `.vscode`, `.idea` and
   - If user still wants to add `Copy . .` prompt user to add these files in `.Dockerfileignore`

2) TODO - suggest another.

Can you also add an issue to track a DD for recomm

[2021-07-01 20:22] tejal29 commented on #5867
Sounds good @sujit-kamireddy. Scheduled it for mid Aug release.

[2021-07-01 20:26] tejal29 commented on #5836
/cc @ekupershlak /cc @aaron-prindle Can we extend the existing `skaffold inspect ` command to do this?
Decreasing the priority to p2 for q3-21

[2021-07-01 20:27] tejal29 commented on #5878
Reducing the priority to p2 for q3

[2021-07-01 20:29] tejal29 commented on #5800
Reducing priority for this for h2

[2021-07-01 20:30] tejal29 commented on #5835
Reducing priority for q3 as this feature wont be consumed in Q3 (mostly in q4)

[2021-07-01 20:40] aaron-prindle opened #6122 "[DD] Design recommendation system (command, log-output, etc.) for recommending config fixes to skaffold users"
Tracking issue for designing a recommendation system to output config recommendations to skaffold users, for example:
- Configuration improvements/fixes for a user's Dockerfiles w/ skaffold - #6103
- Configuration improvements/fixes for user's skaffold.yaml - #6102
- Configuration improvements/fixes for k8s #6098

Questions design doc should answer:
- is it going to be a command?
- will skaffold a

[2021-07-01 20:41] aaron-prindle commented on #6103
Added tracking issue for DD for recommendation system here - #6122

[2021-07-01 20:48] tejal29 commented on #5813
Can we close this now?
/cc @nkubala

[2021-07-01 20:50] tejal29 commented on #5216
Reducing the priority since we don't have it planned for q3.

[2021-07-01 20:50] etanshaul opened #6123 "Skaffold process takes a long time to terminate after ctrl-c"
Skaffold 1.27.0 (also noticed in earlier versions)
Deployment to GKE
Skaffold yaml: https://github.com/GoogleCloudPlatform/cloud-code-samples/blob/master/java/java-hello-world/skaffold.yaml
Command run: `skaffold dev --default-repo=my-repo`

**Expected:**
After skaffold prints the log lines that the resources were deleted:

[code]

The process should end.

**Actual**
Skaffold prints those lines ab

[2021-07-01 20:50] #5333 closed

[2021-07-01 20:51] tejal29 commented on #4680
verify if this is still an issue

[2021-07-01 20:52] tejal29 commented on #4670
Closing this since with newer VSC output, this is not a problem

[2021-07-01 20:52] #4670 closed

[2021-07-01 20:53] tejal29 commented on #5442
@GoogleContainerTools/skaffold-team We need to find a an owner for this.

[2021-07-01 20:56] #3813 closed

[2021-07-01 20:56] tejal29 commented on #3813
This is now implemented.

[2021-07-01 21:14] tejal29 commented on #5336
dupe of #5733

[2021-07-01 21:14] #5336 closed

[2021-07-01 21:20] tejal29 commented on #6123
I think the time spent is in pruning/cleaning images.
Can you try running with `--no-prune=true` which will skip pruning of images to make sure that us the culprit

[2021-07-01 21:22] tejal29 commented on #5471
Subtask of #5442

[2021-07-01 21:23] tejal29 commented on #5445
Subtask of #5442

[2021-07-01 21:24] tejal29 commented on #5338
/cc @gsquared94 Do you know if this was fixed with your change to kubecontext flag?

[2021-07-01 21:24] ekupershlak commented on #5836
/cc @maggieneterval  I think so, as long as `skaffold inspect` is considered a supported and stable API.

[2021-07-01 21:28] tejal29 commented on #6069
I think we have a map for service, port. You are trying to port forward the same port on two local ports.

Don't think we support it well.

[2021-07-01 21:36] tejal29 commented on #6041
Thanks for creating the issue!

[2021-07-01 21:39] tejal29 commented on #5691
Thanks for filing this issue. Sorry status check did not surface this issue.

[2021-07-01 21:42] etanshaul commented on #6123
even with `--no-prune=true` it still takes a long time to terminate after Skaffold prints:

[code]

[2021-07-01 21:44] etanshaul commented on #6123
According to the [docs](https://skaffold.dev/docs/pipeline-stages/cleanup/#image-pruning), I should have seen prune related log lines right?

[code]

But in reality, I have never seen those (despite never having issued `--no-prune=true`.

[2021-07-01 21:46] tejal29 commented on #4956
This can be closed now as its part of render v2 work #5673

[2021-07-01 21:46] #4956 closed

[2021-07-01 21:49] tejal29 commented on #6119
In order to measure the impact of docs, we need to make sure Hats feedback on docs improvement is reduced.

Added subtask on scheduling a Hats Coding session for the team.

[2021-07-01 22:00] tejal29 commented on #6123
Thanks for confirming. I will investigate this.

[2021-07-01 22:13] tejal29 commented on #6122
Thanks!!

[2021-07-01 22:16] tejal29 commented on #5975
Ah ok! Sounds good.

[2021-07-01 22:17] tejal29 commented on #5370
This is now available. Shd we close this?

[2021-07-01 22:17] #5370 closed

[2021-07-01 23:50] tejal29 commented on #6123
Attaching debug logs.  Looks like the cleanup took 6.25 seconds.
[code]

Need to investigate more and add more debug logs for clean up phase.

[2021-07-01 23:52] tejal29 commented on #6123
/cc @aaron-prindle Was wondering if we could use any of your work to determine this?

[2021-07-02 00:06] etanshaul commented on #6123
I should turn on debug logs too to test. It took closer to 30 seconds for cleanup for me (this was on GKE)

[2021-07-02 06:21] dsyer commented on #2357
That's disappointing, since there is still a problem and an opportunity. Time passing does not really change the priority and almost everything needed is in the thread above (I say "almost" because there is a new feature in Boot that makes it necessary to also add `spring.devtools.restart.enabled=true` to the system properties). There's a full example here: https://github.com/dsyer/inner-loop-boot

[2021-07-02 15:38] gsquared94 commented on #3321
I would recommend trying out [kpt](https://github.com/GoogleContainerTools/kpt) deployer that can handle a lot of these scenarios about the right order of deploys. Here's an example how: https://github.com/GoogleContainerTools/skaffold/tree/master/codelab/02_kpt-deploy

**Alternately,**

Since you know the exact order that the deploy needs to be applied you can also do:
_skaffold.yaml_:
[code]

[2021-07-02 18:23] ekuefler opened #6126 "`skaffold render` sometimes exits early"
### Expected behavior

`skaffold render` should finish its build and write its output file before exiting.

### Actual behavior

Rarely, the `skaffold` process appears to exit (with a 0 status code) while the build is still in progress, without writing any output.

### Information

- Skaffold version: v1.25.0
- Operating system: Linux (via Google Cloud Build)
- Installed via: skaffold.dev
- Conten

[2021-07-03 05:27] viglesiasce commented on #6067
Ack. That sounds right to me.

[2021-07-04 14:41] AleksandarFaraj opened #6128 "pseudo-empty string "<no value>" returned by setValueTemplate when undefined environment variable"
For undefined environment variables setValueTemplates returns pseudo-empty string "" with 10 length and no whitespace, where value is: \<no value\> but not visible in output when rendering the template

In helm outputs empty string "q{{ .Values.envName }}p" visually "qp". actually "q\<no value\>p".
It is not considered empty. {{empty .Values.envName}} === false
It is not falsy for {{ default 'def'

[2021-07-05 10:42] irvifa opened #6129 "feat: Adding configuration field for image default repository on skaffold yaml"
**Kind**
This is a feature request.

**Background**
As of now, image repository handling support [default-registry](https://skaffold.dev/docs/environment/image-registries/) that can be used in three ways:

- Using the `--default-repo` flag
- Setting SKAFFOLD_DEFAULT_REPO environment variable
- Using global config `skaffold config set default-repo <myrepo>`

As user, I think it'll be good to provid

[2021-07-05 15:43] yolkov commented on #4431
/reopen

This is not convenient, to prescribe a senseless option in all our services, in all environments for each release we need to add
upgradeOnChange: true, because all ours chart is remote

[2021-07-05 15:49] yolkov commented on #4431
For each service, we have from one to 8 releases of various charts, this is multiplied by different environments (preprod, staging, testing). Accordingly, we multiply this by the entire number of services. Where for each release we have to add this option, just because someone did not understand how the charts work and committed incorrect default values.

[2021-07-05 18:54] briandealwis opened #6134 "`build --push=false` may still try to push"
With #5708, we added a new `--push` flag to override the `build.local.push` value set in the `skaffold.yaml`.  But `--push=false` still seems to push when I don't have a `~/.kube/config`:
[code]

It looks like `builder.NewBuilder()` needs some additional configuration:
https://github.com/GoogleContainerTools/skaffold/blob/823896bdd7464d79886664b32f56948957ea5f65/pkg/skaffold/build/local/types.go#L

[2021-07-05 20:30] briandealwis commented on #6079
Skaffold doesn't support expanding environment variables like `$HOME` in the `skaffold.yaml`.

For now you can use the [`custom` builder](https://skaffold.dev/docs/pipeline-stages/builders/custom/) and invoke docker directly.  Something like the following should do the trick:
[code]

[2021-07-05 20:31] briandealwis commented on #6079
Maybe Skaffold could support expanding `~` notation for pathnames.

[2021-07-05 20:45] briandealwis commented on #5338
I can't reproduce this issue.  Closing: can re-open if it can be reproduced in the latest version.

[2021-07-05 20:45] #5338 closed

[2021-07-05 20:54] briandealwis commented on #6126
When you look at these logs from GCB, do they have the full log?

During a code-review, we noticed that there was a possibility [that the build logs can be skipped](https://github.com/GoogleContainerTools/skaffold/pull/6005#discussion_r650240772).   @gsquared94 has a refactor in flight which will greatly improve this.

[2021-07-05 20:56] briandealwis commented on #6129
Duplicate of #2317

We do intend to fix this.

[2021-07-05 20:56] #6129 closed

[2021-07-05 21:12] briandealwis commented on #6128
This `<no value>` is the default behaviour of Go templates.  But I agree it's odd.  It can be changed with the [`missing=zero` option](https://golang.org/pkg/text/template/#Template.Option).

[2021-07-05 21:15] alanjcastonguay commented on #6079
That's a good option, thanks.

[2021-07-05 21:24] briandealwis commented on #6128
@nkubala @viglesiasce any thoughts on changing our templates to replace missing values with an empty string instead of Go's default of `<no value>`?

[2021-07-05 21:25] briandealwis commented on #2357
@dsyer so it seems like there are several approaches for configuring for a Spring Boot app, and those approaches may need to be periodically updated as Spring Boot changes.  Using a custom builder is insufficient as the builders aren't able to configure sync rules or provide dependencies to be monitored.

A user could probably get by with some judicious use of YAML anchors, but that doesn't enable

[2021-07-05 21:44] briandealwis commented on #5968
The problem here is that the `podSyncer` is created very early on with the known namespaces, and is never updated with the namespaces obtained from the Helm deployment.
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/sync/provider.go#L47

[2021-07-06 11:39] HariSekhon opened #6137 "skaffold apply - support manifests on stdin, similar to kubectl apply -f -"
### Expected behavior

[code]

### Actual behavior

[code]

### Information

- Skaffold version: 1.27.0
- Operating system: Mac
- Installed via: Homebrew

[2021-07-06 13:25] briandealwis commented on #5997
I can think of a few approaches:
  1. Rewrite the templates to insert our own custom function: `{{.VALUES_FILE}}`&rarr `{{.VALUES_FILE | absolutify}}`. That seems rather error prone.
  2. Create an `ExpandEnvTemplate` variant to expand and absolutify paths.

[2021-07-06 14:06] dsyer commented on #2357
Not sure what the several approaches are, or what the differences are between builders and sync rules. A sensible first step would be simply to support Spring Boot where it is now (2.5) by adding a system property. Could it be enabled with a flag in the `skaffold.yaml`, with a sensible default? I don't know how it works really.

[2021-07-06 15:20] briandealwis commented on #6137
@HariSekhon could you provide some motivation behind this request?  `skaffold render | skaffold apply` is the same as `skaffold deploy`.  The intention of `skaffold apply` was to allow Gitops-style management where the output of `skaffold render` is saved and committed to a repository.

[2021-07-06 15:42] HariSekhon commented on #6137
It would give more flexibility in Skaffold CLI usage, chaining and testing, and more aligned with replacing direct calls of `kubectl apply -f -` which allows for external piped manifest generation.

[2021-07-06 16:07] briandealwis commented on #4328
The implementation in #4425 was becoming fairly complex.  This isn't a high-priority item for the team at the moment.

[2021-07-06 16:29] briandealwis commented on #2357
@dsyer your example [above](https://github.com/GoogleContainerTools/skaffold/issues/2357#issuecomment-598837796) uses a custom builder, whereas your [`inner-loop-boot-k8s`](https://github.com/dsyer/inner-loop-boot-k8s#skaffold) example uses buildpacks.  I'm surprised that `--auto-sync` does anything in the buildpacks case as there will be no sync-rules provided in the paketo-built images.

Does th

[2021-07-06 17:37] briandealwis commented on #6030
SGTM.  FYI @ekupershlak

[2021-07-06 17:37] #6030 closed

[2021-07-06 17:48] briandealwis commented on #5979
I'm sorry @JacekDuszenko, I missed your request.  I think this tag issue could happen for any of the tag policies, so I think the right place is in [`tag.GenerateFullyQualifiedImageName()`](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/tag/tag.go#L37).

[2021-07-06 18:57] wind57 commented on #3559
@tejal29 you sure about `--output`? isn't it `--file-output`?

[2021-07-06 20:08] ilyakazm commented on #6069
If I want to map two ports of the same service, how I can do that (if it's possible at all)? I.e.
[code]

[2021-07-07 07:15] dsyer commented on #2357
No, that's in addition, otherwise the launcher detects that it is running a jar file and doesn't include restart.

I don't think it does (do anything). You have to add sync rules manually in `skaffold.yaml`. I see that as inconvenient, but not too bad since it doesn't affect the k8s resources that go to production.

As for the custom builder - I only used that in the example above because the buil

[2021-07-07 13:09] levtomer66 opened #6142 "kubectl URL manifests aren't working on dependencies"
### Expected behavior
Successfully deploy URL manifests

### Actual behavior
invalid skaffold config: skaffold config named "/Users/USERNAME/dep1/skaffold.yaml" referenced file "/Users/USERNAME/dep1/https:/exmaple.com/deployer.yaml" that could not be found. Verify that file "/Users/USERNAME/dep1/https:/exmaple.com/deployer.yaml" referenced in config "/Users/USERNAME/dep1/skaffold.yaml" exists and

[2021-07-07 16:34] gsquared94 opened #6145 "Provide flag to turn off syncing remote modules"
The remote modules schema supports the field `sync` to turn off auto-syncing the downloaded remote modules at the start of every skaffold process. There should also be an overriding flag to this effect.

https://skaffold.dev/docs/references/yaml/#requires-git-sync

[2021-07-07 16:37] ekupershlak commented on #6145
Would it also be possible to fail if (somehow) the cache does not contain the file? e.g. with a `--cached-only` flag

/cc @maggieneterval

[2021-07-07 20:14] MarlonGamez opened #6148 "Clean up output when using `--timestamps`"
Output when using `--timestamps` should remain clean and informative while providing timestamps with output, but the current implementation makes things messy, as it uses a logrus writer that provide unnecessary information and makes things a bit messy.

Some example output
[code]

The `level=info` on each line is unecessary

[2021-07-07 20:51] yuwenma opened #6154 "Flake TestGracefulBuildCancel is flaky"
### Expected behavior
Run `go test github.com/GoogleContainerTools/skaffold/pkg/skaffold/build/misc` can always give consistent results.

### Actual behavior
Run `make quicktest` multiple times, `github.com/GoogleContainerTools/skaffold/pkg/skaffold/build/misc` sometimes pass and sometimes fail.

### Information
[code]

- Skaffold version: running against [master](https://github.com/GoogleContaine

[2021-07-07 21:03] #5960 closed

[2021-07-07 21:52] jmentzer722 commented on #1753
@dgageot @balopat Is it possible to revisit/reopen this issue since #4097 was reverted due to causing other issues.
We recognize this is probably not a popular use case, but we are currently stuck using a fairly old version at the moment.
Can the capability to only listen to pods with a specific RunID be added and controlled by some configuration option so that the default behavior is unchanged?

[2021-07-07 22:27] yuhuishi-convect opened #6156 "Feature request - add dry run option to skaffold delete"
### Expected behavior

Can we add a "dry run" option to `skaffold delete`, to give an overview on what are the resources that are going to be deleted?
Or alternatively, can we add a user prompt before the actual deletion happens?

Got this idea after accidentally deleting a namespace that contains workloads belonging to other services in one `skaffold delete` run.

### Actual behavior

### Informa

[2021-07-08 00:43] nkubala commented on #6128
I'm assuming Go chose to use `<no value>` intentionally, probably to ensure that parsed templates referencing unset values don't fail silently on an empty string. that said, there are plenty of valid cases where users actually *want* that behavior, especially when falling back on default values - case in point here. I'm fine changing the way we handle this in skaffold.

[2021-07-08 15:22] okgolove opened #6162 "Integrate helm diff plugin"
### Expected behavior
Be able to see [helm diff plugin](https://github.com/databus23/helm-diff) output before `helm upgrade`
It can be an option in skaffold.yaml `deploy.helm.releases.showDiff` or something like that.

### Actual behavior
Helm deploy works fine but there is no way to run `helm diff upgrade etc` during `skaffold deploy` process

### Information

- Skaffold version: v1.27.0
- Operat

[2021-07-08 17:42] maximilize commented on #4310
I have the same issue, the only working solution for me was to modify the docker config as described here: https://docs.docker.com/registry/insecure/

[2021-07-08 18:14] aaron-prindle commented on #6062
From past convos, it seems that skaffold diagnose outputting relative paths for `test.custom.command` is what is required for the partnership effort and that is currently the default.  @maggieneterval feel free to close this or add more information here on whether this is necessary.  Thanks!

[2021-07-08 18:30] tejal29 opened #6166 "To ask helm users to fill a new helm deployer specific survey"
TODO fill more.

[2021-07-08 18:31] tejal29 commented on #6166
Add a framework to show surveys for particular usages,

[2021-07-08 19:46] #6148 closed

[2021-07-09 09:50] martyphee opened #6173 "Trying to use pipeline line but the same image is being deployed to each pod (two app project, different images)"
### Expected behaviour
Each app is started with the correct image

### Actual behaviour
Apps are started with the same image

### Information

- Skaffold version: 1.27
- Operating system: macOS, 10.15.7
- Installed via: brew

From the kubernetes UI
![image](https://user-images.githubusercontent.com/754870/125059737-9213e300-e0a3-11eb-8899-7f3c97ae539d.png)

Root skaffold file
[code]

./blog-api/sk

[2021-07-09 15:01] dimovnike opened #6174 "Env param is not passed to kaniko pod."
Env param is not passed to kaniko pod.
To debug this i used a modified kaniko image that prints env vars before the build. The image is working otherwise when used directly with a cloudbuild.yaml

### Expected behavior

The vars must be passed to the pod.

### Actual behavior

The vars are not passed to the pod.

### Information

- Skaffold version: v1.27.0
- Operating system: ubuntu 20.04
- Insta

[2021-07-09 15:41] dimovnike commented on #6174
I begin to suspect that GCB doesn't use pods and may be that's why the vars are not passed however i need to passs more GCB related things like availableSecrets and secretEnv. Is there a way to add these to via skaffold?

[2021-07-09 18:07] aaron-prindle commented on #6062
Closing as the current output for `skaffold diagnose` for field `test.custom.command` does no path replacement and this is acceptable for partner teams assuming users use relative paths in their `test.command.command`

[2021-07-09 18:07] #6062 closed

[2021-07-10 02:18] briandealwis commented on #6142
Hi @levtomer66.  We don't support specifying manifests using a URL.  I've marked this as a feature request.

[2021-07-10 03:10] briandealwis opened #6182 "Travis build cache leads to build hangs"
Seeing build setup hangs more frequently now on Travis.  Here's an [example](https://api.travis-ci.com/v3/job/523337529/log.txt) of a failing build:
[code]

The workaround is to delete all of the [repo cache](https://app.travis-ci.com/github/GoogleContainerTools/skaffold/caches), but I needed to do it twice today!

I didn't take a screenshot of the cache state, but certainly when there is a proble

[2021-07-10 03:13] briandealwis commented on #5656
Example of a failing build: https://api.travis-ci.com/v3/job/523337169/log.txt

[2021-07-11 13:41] briandealwis opened #6184 "Try downgrading config when unknown (too new) version"
Cloud Shell users who try our examples hit `unknown api version` errors for several days after our release as Cloud Shell’s Skaffold installation lags. This isn’t a great experience.

Here are three approaches:

1. What if we tried reloading the config but using our latest known confit? Chances are that most configs will load just fine.
2. What if we stop updating the apiVersion in the examples ex

[2021-07-11 21:22] tejal29 commented on #6166
Design at #6185

[2021-07-12 02:58] briandealwis commented on #6173
Please try running with `-vdebug` and attach the output log after removing any identifiable information.  This will show the `helm` command-lines being run with the various variable substitutions.  Note that as you're not specifying `artifactOverrides`, _Skaffold will not be providing the image names to Helm_.  The `blog-api` image name is coming from either your values file, is embedded within yo

[2021-07-12 02:59] briandealwis commented on #6162
Our planned _hooks_ functionality will allow you to integrate such tools.  Please monitor #1441 for details.

[2021-07-12 03:00] #6162 closed

[2021-07-12 09:05] AleksandarFaraj commented on #5102
+1 on this

[2021-07-12 14:58] wizardels commented on #6173
So I think the problem here is if we have it in one file like so:
[code]

The `{{.DIGEST}}` gets used for both deployments. Is there any workaround for this?

[2021-07-12 16:30] smacktoid commented on #1771
I just wanted to +1 this issue and add a comment for my use case.

The service I'm working on is written in Python. When building the docker image for it we install some packages using `pip install`. Some of these packages are hosted on a package repository hosted within our corporate network. The docker daemon can't resolve this host unless we use --network=host.

I've been experimenting with ska

[2021-07-12 20:52] #6174 closed

[2021-07-12 20:52] #5709 closed

[2021-07-12 20:55] tejal29 opened #6189 "Retire kube context based global config"
With Multimodule feature, skaffold can now deploy to  multiple contexts.

We need to re-evalute loading global config based off active context.

[2021-07-12 23:45] ekuefler commented on #6126
The logs I linked are everything that GCB has. It behaves as if Skaffold exited with a 0 status code without printing any error messages, so if there's a case where some log output can be skipped that might be in play here.

[2021-07-13 06:55] tejal29 opened #6195 "Add error code and actionable message for minikube guest status error code"
While testing I had restarted my docker desktop.

[code]

[2021-07-13 14:14] briandealwis opened #6198 "Create tests to validate embedded commands"
Skaffold shows command lines to help users accomplish certain tasks.

For example, we ask the user to run `skaffold survey` to take the HaTS survey:
https://github.com/GoogleContainerTools/skaffold/blob/8d0a32f6fd7a6a361e9143567ed406750d633c0a/pkg/skaffold/survey/config.go#L68-L72

We also include Skaffold command lines in our examples

https://github.com/GoogleContainerTools/skaffold/blob/8d0a32f

[2021-07-13 14:17] dimovnike opened #6199 "Passing availableSecrets and secretEnv to kaniko in GCB"
When building with GCB directly we can instrruct GCB to mount a secret in the kaniko pod. This is achieved by using availableSecrets and secretEnv keys in yaml. Is there a way to pass these directly from skaffold?

below is an example of an buildconfig.yaml:

[code]

[2021-07-13 15:12] santinoncs commented on #4929
how did you manage to see that 504 error?

[2021-07-13 16:09] zinderic commented on #4929
The cancelled context triggers cleanup so I was in parallel exporting the logs by running `kubectl logs` on all the new kaniko pods. It took a bit of scripting and several reruns of the build but I managed to eventually get that log just before the pod was removed.

This will probably be easier in debug environment of kaniko specifically crafted to provide something like dlv and intercept this pro

[2021-07-13 18:02] HariSekhon opened #6200 "Skaffold not respecting Kustomize patchesStrategicMerge even though it appears fine in straight kustomize build"
### Expected behavior

Apply Kubernetes manifests as `kustomize build` shows, including the service account annotation added via patchesStrategicMerge in `kustomization.yaml` and visible in `kustomize build` output.

### Actual behavior

Doesn't respect `kustomization.yaml` patchesStrategicMerge on the serviceaccount annotation for GKE workload identity integration.

If I put the annotation in the

[2021-07-13 18:05] HariSekhon commented on #6200
I think this works if I switch the paths in `skaffold.yaml`, as I need to watch both directories for changes, if I change the base, I was `skaffold dev` to re-apply it:

skaffold.yaml:
[code]

[2021-07-13 18:43] #6128 closed

[2021-07-13 19:01] briandealwis commented on #4564
Still happening
[code]

[2021-07-13 19:11] dgageot commented on #4564
Some things never change :-)

On Tue 13 Jul 2021 at 21:06 Brian de Alwis ***@***.***> wrote:

[2021-07-13 21:58] tejal29 commented on #6123
Digging in some more,
1) clean up for kubectl deployer on minikube context,  took 6 seconds
[code]

2) clean up for app deployed via helm took 2 seconds
[code]

[2021-07-14 02:17] briandealwis opened #6203 "`skaffold init --generate-manifests` failing to generate manifests for Jib project"
### Actual behavior

[code]

### Expected behavior

Expected to have Kubernetes manifests generated.

Workaround: `skaffold init --generate-manifests --XXenableBuildpacksInit=false` is successful.

It looks like this logic in `defaultBuildInitializer.resolveBuilderImages()` to call `generateArtifactInfos()` needs to happen regardless of the number of builders.
https://github.com/GoogleContainerToo

[2021-07-14 03:23] tejal29 commented on #6166
Only Pr remaining is #6197 which is not required but good to go in this release

[2021-07-14 03:23] #6166 closed

[2021-07-14 08:54] gsquared94 commented on #6040
I think if there's no path from config root to the newly introduced struct then it doesn't show up in the user documentation.
For instance, I've added `BuildHooks` struct excluded from the `yaml` parser:
https://github.com/GoogleContainerTools/skaffold/blob/eee8a212420bf87cc9cbcc4ab77b68e28c8c8956/pkg/skaffold/schema/latest/v1/config.go#L860-L861

It doesn't show up on the docsite https://skaffold

[2021-07-14 09:23] HariSekhon opened #6205 "Skaffold dev - don't exit if deployment is broken"
### Expected behavior

Expect the dev mode watcher to stay running while I fix manifests until the deployment stays working.

### Actual behavior

Skaffold exits out if the deployment fails to pass the container status / health check.

This means I have to continually re-run `skaffold dev` each time I change the manifests until I get it working, somewhat defeating the purpose of the dev mode, as i

[2021-07-14 10:06] cm-trityum commented on #6079
@briandealwis could you kindly help me to convert this skaffold cfg file to use the custom builder as you suggested?

[code]

I tried myself but I couldn't figure out a proper way to do it  :(
Thanks in advance
C.

[2021-07-14 10:21] gsquared94 commented on #5159
@taisph can you try with the `v1.27.0` or newer release? We made a series of fixes in this area and https://github.com/GoogleContainerTools/skaffold/issues/4347 was also closed due to it.

[2021-07-14 10:50] gsquared94 commented on #6173
If there are multiple images being built then the variables become  `{{.IMAGE}}`, `{{.IMAGE2}}`,`{{.DIGEST}}`, `{{.DIGEST2}}`, etc.
I think this is unintuitive and the order of artifacts to figure out the numbering isn't stable either. I'll create another bug for that.

The correct way to do this would be to follow the approach suggested in the [documentation](https://skaffold.dev/docs/pipeline-st

[2021-07-14 10:58] gsquared94 opened #6207 "Helm template variable naming strategy neither intuitive nor stable"
Related: https://github.com/GoogleContainerTools/skaffold/issues/6173
Skaffold creates environment variables `IMAGE_NAME`, `IMAGE_TAG`, `IMAGE_REPO`, `DIGEST`, and `IMAGE` that can be templated in various places in the `helm` deploy stanza.

If there are multiple images being built then it names them `IMAGE_NAME`, `IMAGE_NAME2`, `IMAGE_NAME3`, etc.
These numbers are not assigned stably from one ru

[2021-07-14 11:08] gsquared94 commented on #6207
One approach could be to prefix template variables with the `artifact name`.
For the `skaffold.yaml` file:

[code]

This change for `helm` would need to be made here:
https://github.com/GoogleContainerTools/skaffold/blob/27271dfcaab56c38ecf41f4b7158101d44c454b6/pkg/skaffold/deploy/helm/args.go#L67-L76

[2021-07-14 13:20] halvards commented on #6040
Perfect, thanks @gsquared94! This matches the implementation plan for the ko builder.

[2021-07-14 13:20] #6040 closed

[2021-07-14 14:22] briandealwis commented on #6173
From the evidence presented so far, the most plausible explanation is that your charts are misconfigured and your `blog-web-web` deployment is mistakenly referencing the `blob-api` container:

- Your `skaffold.yaml` does not specify a tag-policy.  Skaffold will build images and tag them using a tag derived from the gitCommit tag, which is unlikely to match what you're specifying with `{{.DIGEST}}`

[2021-07-14 17:12] briandealwis opened #6209 "Allow configuring iterative-status-checks in the skaffold.yaml"
Related: #6115, #5774

We should allow users to configure `--iterative-status-checks` in the `skaffold.yaml`.

Alternatively, we should change the default to always be enabled, such that users have to disable it.

[2021-07-14 17:36] aaron-prindle commented on #6123
In attempting this, I have seen the following times on repeated runs on GKE:

Skaffold v1.27.0 `Cleanup completed in *`
- 6.25 seconds
- 2.54 seconds
- 740.321245ms
- 848.830373ms

[code]

In trying an older Skaffold version:

Skaffold v1.19.0 `Cleanup completed in *`:
- 3.756 seconds
- 786.376282ms
- 8.567 seconds
- 8.645 seconds

[code]

[2021-07-14 19:04] aaron-prindle opened #6212 "Skaffold Should Be Able To Distinguish When Running in CI vs. Dev"
Currently skaffold is unable to distinguish when it is being run by a user for dev purposes vs run in a CI system.  It would be helpful for skaffold to distinguish how it is being used for metrics, functionality (disable prompts), etc.

[2021-07-14 19:05] aaron-prindle commented on #6212
Research from @viglesiasce done offline:

CI env variables that are commonly set in CI systems:
GitLab: CI https://docs.gitlab.com/ee/ci/variables/predefined_variables.html
GitHub Actions: CI https://docs.github.com/en/enterprise-server@2.22/actions/reference/environment-variables
Jenkins: JENKINS_URL https://www.jenkins.io/doc/book/pipeline/jenkinsfile/#using-environment-variables
 Cloud Build: B

[2021-07-14 19:06] cherudim commented on #5161
I had the same issue, this is my environment:

OS X Catalina (10.15.7)
kubectl 1.20 (from homebrew)
skaffold 1.27.0 (from homebew)

Command + output:
$ skaffold -p pricing deploy
Tags used in deployment:
Starting deploy...
running [kubectl --context the-context get -f - --ignore-not-found -ojson]
 - stdout: ""
 - stderr: ""
 - cause: signal: killed

Resolved by downloading the latest kubectl (1.21

[2021-07-14 20:22] aaron-prindle commented on #6123
I believe this variability is due to kubectl having a variable time for this output.  All below trace information comes from skaffold v1.28.0 using https://github.com/GoogleCloudPlatform/cloud-code-samples/blob/master/java/java-hello-world/skaffold.yaml app code.  With this same app I see variable cleanup times on different runs:
- 834.261ms
- 1539.967ms (1.5 seconds)
- 14001ms (14 seconds)

Trace

[2021-07-14 20:23] aaron-prindle commented on #6123
Will investigate more why kubectl.Delete:
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/kubectl/kubectl.go#L461

varies so much for the same project & skaffold config

[2021-07-14 20:37] aaron-prindle commented on #6123
Using kubectl `--wait=false` flag:
eg: `kubectl delete --wait=false -f foo.yaml`

I am consistently seeing the Cleanup_kubectl.Delete phase taking ~400-600ms.  From 3 consecutive runs:
- 609ms
- 638ms
- 408ms

![image](https://user-images.githubusercontent.com/1951658/125689619-8895efe3-504d-41c2-b32f-769551f9bd9d.png)

[2021-07-14 20:40] aaron-prindle commented on #6123
I will submit a PR w/ this change, post on the PR or issue here if there are any objections/issues-with-skaffold in changing cleanup to do this.  Currently I do not believe there are any downsides with not having skaffold wait for the deletes and the UX is better (users not hanging for what can be ~10s for delete to finish)

[2021-07-14 20:47] etanshaul commented on #6123
The alternative (not making a judgment on which is better, but just pointing it out) might be just to have skaffold print something to at least let the user know that it is waiting for the cleanup to actually finish. As it stands today, it looks like it's done and skaffold is hanging.

[2021-07-14 22:03] taisph commented on #5159
Still doesn't load images into the kind cluster and now port forwarding seems to have issues as well.

[code]

Switching the kubectl context back to the local cluster makes skaffold work as expected. Explicitly using `--kube-context` with skaffold dev also seems to work - something I haven't used before. But having the context set in `skaffold.yaml` under `deploy.kubeContext` alone does not.

[2021-07-14 22:06] taisph commented on #4947
This seems to be fixed in skaffold v1.27.0. Thank you. ❤️

[2021-07-15 06:29] aariacarterweir opened #6216 "--tail=false no longer works on dev"
### Expected behavior
`--tail=false` running on dev should disable logs

### Actual behavior
`--tail=false` running on dev outputs logs

### Information

- Skaffold version: 1.28.0
- Operating system: OS X Big Sur 11.4
- Installed via: Homebrew
- Contents of skaffold.yaml:

[code]

[2021-07-15 06:57] headcr4sh opened #6217 "Skaffold releases - `.sha256` files contain `out/` prefix"
### Expected behavior

When downloading a Skaffold release from and the corresponding `SHA256` checksum file from [GitHub](https://github.com/GoogleContainerTools/skaffold/releases), I expect no `out/` prefix in the checksum files.

### Actual behavior

The `SHA256` checksum files on the release page assume that the file to be checked is located in a (relative) sub-folder called `out`.

### Inform

[2021-07-15 12:50] DGollings opened #6219 "Skaffold Dev Mode sync appears broken in v1.28.0"
### Expected behavior

Edit a file, file gets synced

### Actual behavior

Very little, simply doesnt sync. Verbose didn't help
`Skipping deploy due to sync error: copying files: didn't sync any files `
(nothing to do with namespaces as mentioned in other issues)

(a hint, although I assume DEVMODE should handle that: manual kubectl cp fails with a permission denied as buildpacks are afaik read on

[2021-07-15 19:04] aaron-prindle opened #6223 "[Flake] Kokoro CI Tests has flaky test - TestRunGCPOnly/kaniko_microservices"
Currently our Kokoro CI Tests has a flaky test - TestRunGCPOnly/kaniko_microservices.  Here is a snippet of the error that occurs:
[code]

 Full logs of run w/ the error:
 https://source.cloud.google.com/results/invocations/68283a2e-80e6-4c08-ba22-378ce6be1efd/targets/skaffold%2Fpresubmit/log

[2021-07-15 19:04] MarlonGamez opened #6224 "`ApplicationLogEvent`s should only have colored text if skaffold is using a `colorableWriter`"
`ApplicationLogEvent`s are currently being sent out with colored messages regardless of whether or not colored output is being displayed by skaffold. This should change depending on what skaffold is outputting.

[2021-07-15 19:26] aaron-prindle commented on #6223
Rerunning the tests passed for the PR here (confirming that it is a flake)

[2021-07-15 20:10] #6123 closed

[2021-07-15 22:58] kadern0 commented on #6207
Hi @gsquared94, I've been looking into this issue and I like your idea although there is something I might be missing. You refer to `artifact name` but then you use `artifact image`  in the example (I guess they're synonyms in this context, right?) . According to the documentation and also my use cases, the artifact image doesn't look like "foo" or "bar" but something more like:
[code]
This would

[2021-07-16 02:42] #5967 closed

[2021-07-16 04:02] andy-caruso commented on #5957
If it's relevant to the fix, both the major and minor version check output errors referencing [minor version](https://github.com/GoogleContainerTools/skaffold/blob/f280aa8325283a0f080989acef120c5597ebc4b7/pkg/skaffold/kubectl/version.go#L71)

[2021-07-16 14:38] gsquared94 opened #6233 "Multiple invocations of `PodInterface.List` and `DeploymentInterface.List` methods throughout the codebase."
Calls to `PodInterface` and `DeploymentInterface`'s `List` method can be expensive for clusters with many resources. Skaffold makes this call multiple times in the course of a single devloop, some of them being:
- to get pods for syncing source changes
- to get pods to port-forward
- to get deployments of status-checking

We need to investigate other event driven approaches to avoid making these c

[2021-07-16 21:13] #5813 closed

[2021-07-16 21:15] nkubala commented on #4432
we've mitigated this for now, so let's close this until we start seeing it again

[2021-07-16 21:15] #4432 closed

[2021-07-16 21:26] shawnzhu commented on #4081
@briandealwis I added a design proposal under #6236 to collect comments. (Although I can hack the `visitor.go` to support short term need w/ a few lines of change but realized this could be a general problem to fix)

[2021-07-16 21:50] etrikp commented on #6216
Interesting, I'm seeing the exact opposite with 1.28.0. In skaffold 1.27.0 logs were working fine in dev mode by default, and in 1.28.0 I am unable to see any logs at all with either --tail=false or --tail=true

[2021-07-16 22:01] nkubala commented on #1753
@jmentzer722 sorry this never got reopened. we're currently in the process of making some major changes to our helm deployer, which will allow us to reimplement the change in #4097 that would fix this issue. i'll reopen this for now, and once we've shipped the changes to the helm deployer we can pick this issue back up.

[2021-07-16 22:49] erulabs commented on #6219
Same situation - both sync and log tailing appears broken in 1.28.0

For example, the config:
[code]

works fine in 1.27, but broken in 1.28 (same config except schema version changed to skaffold/v2beta19 when using 1.28). Both log tailing and file synching.

[2021-07-16 23:00] nkubala commented on #6219
@DGollings thanks for opening, I'm able to reproduce this using our `getting-started-kustomize` example. investigating now, for now I'd suggest downgrading to `v1.27.0` until we can fix the issue and get a hotfix out.

[2021-07-17 00:12] nkubala commented on #6219
another update: this issue is being caused by https://github.com/GoogleContainerTools/skaffold/pull/6170, which changed the way we aggregate namespaces during a dev run. the effect here is that it's causing `""` to be ignored as a namespace, which is valid in kubernetes land and translates to `default`. so until we get a fix out there are two options:
1) specify a **non-default** namespace to depl

[2021-07-17 10:22] okgolove commented on #2255
It seems [this PR](https://github.com/GoogleContainerTools/skaffold/pull/6136) resolves the issue

[2021-07-17 17:17] somnistudio commented on #5966
Same problem here

`Waiting for deployments to stabilize...
Deployments stabilized in 3.306427ms`

after i upgrade from v1.27.0 to v1.28.0

[2021-07-18 01:02] hambone01 commented on #4246
Same issue with v1.28.0

[2021-07-18 02:44] #6217 closed

[2021-07-18 18:03] MaxVale46 commented on #6072
Hi all.
Hoping it will help, i have the same problem on a MacBook Air (M1, 2020).

### Information

Skaffold version: `1.28.0`
Operating system: `maxOS Big Sur (Version 11.4)`
Installed via: `skaffold.dev`

Contents of skaffold.yaml:

        apiVersion: skaffold/v2beta16
        kind: Config
        deploy:
          kubectl:
            manifests:
              - ./infra/k8s/*
        build:

[2021-07-19 08:38] srntqn commented on #5855
I guess, the problem here is not only with images referenced by digest:
 https://github.com/GoogleContainerTools/skaffold/blob/7a2ba7760078f30fa959e7eb81487ebdabb74876/pkg/skaffold/kubernetes/manifest/images.go#L107-L110

 I've removed it from source code, rebuild skaffold binary and was able to update images using `skaffold run` and GKE.

 But if I use `--default-repo` option the problem appears

[2021-07-19 13:12] Spartaques opened #6240 "portForward not work"
### Expected behavior

Port Forwarding should work by default with command:

skaffold dev -p local --port-forward

### Actual behavior

Port forwarding not work. And i ca'nt find a way i can do this.

### Information

- Skaffold version:
- Operating system:
- Installed via:
- Contents of skaffold.yaml:

skaffold version:

v1.28.0

helm version:

version.BuildInfo{Version:"v3.6.3", GitCommit:"d5063

[2021-07-19 13:40] Spartaques commented on #6240
I also tries to use portForward manually, but it not works

`apiVersion: skaffold/v2beta19
kind: Config
metadata:
  name: riup
profiles:
  - name: local
    build:
      artifacts:
        - image: riup-core
          context: ./services/riup_core
          docker:
            dockerfile: Dockerfile.dev

    deploy:
      helm:
        releases:
          - name: riup-core
            chartPath: r

[2021-07-19 14:36] j2udevelopment commented on #5216
@briandealwis I am also curious why this is expected behavior.  For reference we primarily use the helm deployer and we can no longer simply skaffold run and have the image overwritten.  This is cause a great deal of confusion as it appears to be a regression. We'll be rolling our version back until we can hear more about this

[2021-07-19 17:48] nkubala opened #6242 "Skaffold doesn't track default namespace when not explicitly provided"
### Expected behavior
Skaffold does normal logging, port forwarding, syncing, etc. when deploying to a default namespace (aka no namespace provided)

### Actual behavior
If no namespace is provided, Skaffold does not track the default namespace. As a result, any component that relies on a `PodSelector` to retrieve its resources to operate on does not function. This seems to only apply to `kustomiz

[2021-07-19 17:49] nkubala commented on #6240
@Spartaques thanks for the issue! We're aware of this problem having widespread effects in version `1.28.0` - we're working on a hotfix for this now, but in the meantime, we're recommending downgrading to a previous version while we work to fix the issue.

I'll close this issue so we can track in https://github.com/GoogleContainerTools/skaffold/issues/6242. Stay tuned there, and sorry for the inco

[2021-07-19 17:49] #6240 closed

[2021-07-19 17:50] nkubala commented on #6219
I'm going to close this issue to consolidate related issues and track in https://github.com/GoogleContainerTools/skaffold/issues/6242 - please tune in there for updates!

[2021-07-19 17:50] #6219 closed

[2021-07-19 23:03] j-windsor opened #6248 "`skaffold init --generate-manifests --force` does not have a way to non-interactively specify exposed ports"
### Expected behavior
The command allows for a flag (perhaps `--port-forward=[]` where a non-interactive user (aka a Cloud Code user) can specify ports for each of the images that will be built.

### Actual behavior
The command outputs port 8080 in each of the manifest files and skaffold.yaml port forwards section regardless of what the actual exposed port is. The user should have an opportunity t

[2021-07-19 23:17] j-windsor opened #6249 "`skaffold init --analyze --generate-manifests` does not emit images"
### Expected behavior
Since I have expressed my interest to generate the manifests with the `--generate-manifests` flag, I should see the `images` object in the output with the expected image names after the manifests are output, so I can properly specify the `--artifact` flag on my next call to `skaffold init --artifact=object --generate-manifests`.

[code]

### Actual behavior
[code]
### Informa

[2021-07-20 00:01] j-windsor opened #6251 "`skaffold init --analyze --compose-file docker-compose.yaml` writes k8s yaml files"
### Expected behavior
Typically, the `--analyze` flag does not actually commit anything to the filesystem. The same thing should occur here. The stdout output looks good and should remain the same.

### Actual behavior
kompose runs and outputs yaml files to the cwd in addition to outputting the correct stdout contents.
![Screen Shot 2021-07-19 at 4 59 33 PM](https://user-images.githubusercontent.c

[2021-07-20 01:26] wind57 commented on #5159
It seems I hit the same exact issue, see here, for example: https://stackoverflow.com/questions/68414470/skaffold-miss-configuration-or-how-to-set-up-a-simple-helm-example

No matter what I do:

- `deploy.kubeContext`
- `--kube-context ...`

things do not work.

[2021-07-20 08:46] michielswaanen commented on #4366
Any update on this issue? Would love to see the option to ignore specific Kubernetes resources from being deleted once you exit Skaffold.

[2021-07-20 13:43] MarcoSchaar opened #6254 "invalid skaffold config with v1.27.0"
Hi
I'm facing some issues while trying to run existing builds with updated version v1.27.0

### Expected behavior
successful operation like with v1.26.0

### Actual behavior
[code]
### Information

- Skaffold version: 1.27.0
- Operating system: alpine 3.14
- Installed via: skaffold.dev
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the samp

[2021-07-20 16:17] #6145 closed

[2021-07-20 17:39] briandealwis commented on #6242
Re-opening: will close once v1.28.1 is released.

[2021-07-20 18:14] nkubala commented on #6242
[v1.28.1](https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.28.1) has now been published. Closing this issue now

[2021-07-20 18:14] #6242 closed

[2021-07-20 18:40] j-windsor commented on #6248
@briandealwis mentioned that buildpacks assumes that the app is running on port 8080, so since there is a precedent set for this, we might be able to do the same. In this case, Cloud Code would just have a text blurb saying that it will assume the app is running on 8080.

[2021-07-20 19:27] j-windsor opened #6255 "Kompose dependency is not included in skaffold, Cloud SDK"
Cloud Code is using a model where we get our dependencies from Cloud SDK. Skaffold has a dependency on Kompose, but Kompose is not bundled with Skaffold or included in Cloud SDK. Therefore, Cloud Code has no good way to use Skaffold commands that are dependent on Kompose.

@briandealwis asked me to file this issue so we can discuss possible solutions. Changes may be made in Skaffold, Cloud Code, o

[2021-07-20 20:25] briandealwis commented on #6255
Possible solutions I can think of:
- we link in kompose rather than use a binary
- we take responsibilty for packaging kompose with gcloud
- we push the responsibility for packaging kompose to Cloud Code

Or Cloud Code accepts that docker-compose.yaml -> k8s is not a priority issue.

[2021-07-20 21:26] yuwenma opened #6257 "Backport skaffold main features (v2.27+) to v2 branch"
### Information

Skaffold [v2] is the featured branch for the next skaffold CLI. It is branched from 00b14d170f0b6fc6805b88f0c4d6c71b3cbbca96, which is a few commits [backward to v1.27.0](https://github.com/GoogleContainerTools/skaffold/compare/00b14d170f0b6fc6805b88f0c4d6c71b3cbbca96...v1.27.0)

Before releasing the v2 branch, we shall backport the features added after v1.27.0 to this branch.

[2021-07-20 21:46] sivakku commented on #6255
How does gCloud handle packaging that doesn't involve any internal google teams?

[2021-07-20 23:29] yuwenma opened #6258 "[v2] Deprecate and remove "RenderOnly""
The "RenderOnly" is a flag used in deployment process to skip actual deployment and only output the manifests in stdout. This flag and corresponding logic shall be removed once rendering and deployment are completely separated.

[2021-07-21 06:06] gsquared94 commented on #6258
In the short term can we just have our code interpret `skaffold deploy --render-only ...` as `skaffold render ...` and output a very visible warning that this flag is deprecated and will be gone by `x` date. Following the usual deprecation protocol?

[2021-07-21 06:54] michielswaanen opened #6259 "Handling multi-folder namespace creation (+ easy reproduction)"
### Expected behavior

Once I run `skaffold dev` all resources should be created and added to the custom namespace `application-local`.

### Actual behavior

Like you can see on the screenshot, the namespace gets created but not recognized by some other resources.

![image](https://user-images.githubusercontent.com/32015956/126435795-6534dbc1-2580-4a1d-8eea-5c6ef349499d.png)

Now I must run `skaff

[2021-07-21 09:23] vk496 opened #6260 "How to deploy before the requirements"
Hello, I would like to know if I could deploy helm releases before the requirements. My problem is that my multiple requirements depends on a running Traefik pod to auto configure themselves.

### Expected behavior
Deploy helm chart (traefik) before the requirements

### Actual behavior
Requirement are deployed first

### Information

- Skaffold version: v1.25.0
- Operating system: Linux 5.10
- In

[2021-07-21 15:11] briandealwis commented on #5968
The change in #6135 was lost in the refactoring in #6170.

[2021-07-21 16:32] tejal29 opened #6262 "Test flake `TestRunTail/nodejs`"
[code]

[2021-07-21 18:15] briandealwis opened #6264 "git remote repos does not detect master vs main"
The [remote repository config docs](https://skaffold.dev/docs/design/config/#remote-config-dependency) suggest that:

This does not seem to work with the `examples/remote-multi-config-microservices/skaffold.yaml`:
https://github.com/GoogleContainerTools/skaffold/blob/8c34f1e734a962b988529cc6e6d3a662b001001a/examples/remote-multi-config-microservices/skaffold.yaml#L3-L11
[code]

Workaround: specify

[2021-07-21 21:58] foobarbecue commented on #3909
I'm using skaffold to deploy Argo Workflows, and it doesn't really work because two of the deployments experience CrashLoopBackOff during normal setup until the mysql deployment is ready. I've read that this is standard practice for k8s -- rather than make deployments dependent on each other you just let them keep trying to start up. skaffold is exiting thinking these pods have failed when in fact

[2021-07-21 22:20] foobarbecue commented on #3905
In the meantime, can someone explain what the order is now? Is it essentially randomized every run?

[2021-07-21 23:25] chris13524 commented on #5907
There is a new proposal for a BuildKit feature here that I think would address this idea: https://github.com/moby/buildkit/issues/2269

[2021-07-22 15:42] azhao155 commented on #6216
/assign @azhao155

[2021-07-22 17:42] demisx opened #6271 "ContainerHook can not be resolved error"
I've noticed that `skaffold.yaml` throws this error now in VS Code on the first line `apiVersion: skaffold/v2beta19`:

[code]

- Skaffold version: v1.28.1
- Operating system: MacOs Big Sur 11.4
- Installed via: Homebrew
- Contents of skaffold.yaml:

[code]

[2021-07-22 18:26] briandealwis opened #6273 "kubectl should use `--dry-run=server`"
This issue proposes to:
1. switch the `kubectl` deployer to use `--dry-run=server` rather than the current default of `--dry-run=client`
2. expose this dry-run setting as a flag in the `skaffold.yaml`.

`--dry-run=server` is very useful for clusters like GKE Autopilot that perform additional validation, including erroring on settings that violate its constraints.

In case this causes deployments t

[2021-07-22 19:02] nkubala commented on #6262
seeing this pretty frequently. strangely, it seems to only flake on the `TestRunTail` but not `TestRunTailDefaultNamespace`, the exact same test but running without a uniquely created namespace.

[2021-07-22 19:13] nkubala commented on #6262
thinking about this more, this is the only example we're running in this test that doesn't have a recurring log output. my guess is that the logs are attaching **after** the log line we're looking for (`Example app listening on port 3000!`), so it's never seeing this log line and timing out.

this example would be weird to update since no real app would print `listening on port XXX` in a loop, and

[2021-07-22 21:22] #6262 closed

[2021-07-22 22:19] #5656 closed

[2021-07-23 08:17] #6173 closed

[2021-07-23 12:22] kahunacohen opened #6278 "Skaffold Docs Re. Tags"
I think the documentation is very unclear about the tagging process, unless I am missing something. I am happy to issue PRs for docs; I am also a technical writer. E.g. in the [quickstart](https://skaffold.dev/docs/quickstart/):

"skaffold dev watches your local source code and executes your Skaffold pipeline every time a change is detected. skaffold.yaml provides specifications of the workflow -

[2021-07-23 15:04] briandealwis commented on #6254
@MarcoSchaar from that error, your `skaffold.yaml` does not seem to have a `deploy:` section setup and so Skaffold's default is being used instead.  The [`kubectl` defaults](https://skaffold.dev/docs/pipeline-stages/deployers/kubectl/#configuration) are the equivalent of:

[code]

[2021-07-23 15:07] briandealwis commented on #6255
I think a team needs to commit to providing and updating it.  For example, the GKE team maintains the kubectl binaries.

[2021-07-23 15:16] briandealwis commented on #6259
Try ordering your resources so that `.infrastructure/local/namespace.yml` comes first: see #2645 for details.
[code]

[2021-07-23 15:16] #6259 closed

[2021-07-23 15:18] briandealwis commented on #6260
You should invert the dependency so that your services and frontend require this config that deploys traefik.

[2021-07-23 15:18] #6260 closed

[2021-07-23 15:22] briandealwis commented on #6271
Does this cause an error with the auto-complete or hover help?

We're in the process of rolling out hooks (#1441) and we haven't exposed the some of the objects into the schema.  Our schema generator doesn't trace object definitions to see if they're accessible.  Generally these problems are short-lived.

Related: #6040

[2021-07-23 15:41] briandealwis commented on #6278
Hi @kahunacohen!  We welcome all improvements, particularly to the docs!

Ah this is confusing.  Minikube has its own Docker Daemon that it uses for its cluster.  Skaffold has special support for configuring that daemon for the builds as it results in much faster builds and deployments.  You should be able to see your properly tagged image with:
[code]

No: Skaffold transforms in-memory representa

[2021-07-23 15:42] demisx commented on #6271
No, both, autocomplete and hover work. It just renders the `skaffold.yaml` file name red and reports an error:

![Screen Shot 2021-07-23 at 8 40 12 AM](https://user-images.githubusercontent.com/4452412/126807042-8b129abf-5971-4188-8963-3d499bc50cd3.gif)

[2021-07-23 17:03] nkubala opened #6281 "Docker deployer should attempt to reattach to lost containers"
From: https://github.com/GoogleContainerTools/skaffold/pull/6265#discussion_r675230138

https://pkg.go.dev/github.com/docker/docker/client?utm_source=godoc#Client.ContainerWait

We should implement a way for Skaffold to attempt to reattach to a lost container, and additionally emit an event and a warning to users that a container has been lost. This should also remove the container from being trac

[2021-07-23 17:23] nkubala opened #6282 "Docker deployer should surface information about the active Docker daemon"
From: https://github.com/GoogleContainerTools/skaffold/pull/6265#issuecomment-885314901

We should try and surface some information about the active docker daemon when creating local containers so users know where to find these containers. We could even consider special casing `minikube` if we see `MINIKUBE_ACTIVE_DOCKERD` or equivalent env vars set on the host.

[2021-07-23 21:56] MarlonGamez commented on #6249
With this issue, and https://github.com/GoogleContainerTools/skaffold/issues/6251, it's clear that we have a few issue with mixing flags when it comes to init. I'll try to take a look and see how we can untangle these features.

[2021-07-23 21:57] MarlonGamez commented on #6251
Left a similar comment on https://github.com/GoogleContainerTools/skaffold/issues/6249, but it's clear we have some untangling that needs to happen with our flag features. I'll be looking into these

[2021-07-23 21:58] MarlonGamez commented on #6248
Seems we need to design and expose some sort of API to allow non interactive use of `--generate-manifests` I'll look into this and be in contact @j-windsor

[2021-07-23 22:00] MarlonGamez commented on #6224
Fixed by #6226, which branched off of #6225, but was accidentally merged first, and so contained the changes for this issue

[2021-07-23 22:00] #6224 closed

[2021-07-23 22:16] MarlonGamez commented on #6233
seems like this warrants discussion so adding to `triage/discuss`

[2021-07-24 17:50] kahunacohen commented on #6278
I see, boy that is confusing. Still I have a few more questions:

### Tags

I don't understand this. We tag images for the same reason we do `git tag`, right? In order to "freeze" and label an image. We can pull it down and be assured it is a pointer to known state. Why does running `skaffold dev` require tagging the image?

### In-memory Artifacts

OK, so why do the docs say when enumerating what

[2021-07-24 17:59] kahunacohen commented on #6278
Ah, I see in terms of not pushing I found in a github issue that I need to add build.local.push=true in skaffold.yaml. I will note that in docs.

[2021-07-25 08:57] ZeroVocabulary opened #6285 "Skaffold not working with namespace manifests, skaffold dev inconsistent deployment/cleanup."
### Expected behavior
When providing a namespace manifest (kubectl), and mentioning that namespace in skaffold.yaml (deploy.kubectl.defaultNamespace), skaffold should create the namespace and deploy the rest of the kubectl manifests.
Namespace manifest below:
[code]

### Actual behavior
Skaffold does not properly use namespace manifests, however it does try to:
[code]

When using skaffold deploy a

[2021-07-25 09:00] ZeroVocabulary commented on #6285
## Design suggestions

I can't tell whether support for namespace manifests is intentional or accidental.

### If namespace manifests are supported
It would be nice to be able to use the namespace within that skaffold deployment (right now skaffold just tells you it does not exist, even though you instructed skaffold to create it). As far as I know there isn't any way to create a namespace if it d

[2021-07-25 17:22] demisx commented on #6072
We've also ran into this issue where my colleague on Apple M1 laptop sees this error and I, who is on MacBook Pro (15-inch, 2018)/2.2 GHz 6-Core Intel Core i7, does not. This is what he sees after starting skaffold on  Apple M1:

[code]

[code]

The issue seems to go away if my colleague deletes the `node_modules/` directory. It's like skaffold is trying to watch the entire `node_modules/` on M1,

[2021-07-25 17:39] demisx commented on #5358
Could this be related https://github.com/GoogleContainerTools/skaffold/issues/6072?

[2021-07-26 07:08] MarcoSchaar commented on #6254
Thanks for reply. @briandealwis
I would rather bet that the issue is not with deploy section.
it might be something related to `tput colors` command that works fine locally but some issue occurs in a container environment.
version v1.26.0 works in both

[2021-07-26 07:43] albertocavalcante commented on #4361
Is this use case planned to be supported? Thanks

[2021-07-26 15:07] kahunacohen commented on #6278
When I took kaunacohen/ out of skaffold.yaml and set the default repo to include my user name that seemed to work.

[2021-07-26 16:05] kahunacohen opened #6292 "skaffold build hangs when pushing to docker hub"
### Expected behavior
Running `skaffold build` with skaffold.yaml's `build.local.push` set to `true` should push to the image repo as specified in default-repo.

### Actual behavior
skaffold hangs when trying to push.

### Information

- Skaffold version: 1.28.1
- Operating system: Mac OSX
- Installed via: skaffold.dev

### Contents of skaffold.yaml:

[code]

### Contents of web-deployment.yaml:

[2021-07-26 18:07] #6264 closed

[2021-07-26 20:12] ynouri commented on #4328
Not sure what's going on under the hood, but in our case enabling [BuildKit](https://docs.docker.com/develop/develop-images/build_enhancements/) with `useBuildkit: true` seems to help.

[code]

[2021-07-26 20:34] MarlonGamez commented on #6205
hey @HariSekhon, hopping in here to say that this is something we'd like to work on soon. We can't give a delivery date right now but we just wanted to give that update

[2021-07-26 20:35] MarlonGamez commented on #6233
Possible solution mentioned by @gsquared94 :
Global cache that is updated based off events emitted from kubernetes API, use these incoming events to keep updating our cache to track resource states

[2021-07-26 21:53] foobarbecue commented on #5210
I have this same issue, and it's a show-stopper for me. Please re-open.

[2021-07-27 00:50] #5368 closed

[2021-07-27 11:54] MarcoSchaar commented on #6254
dear support team,
my bad ...
switching from command ´skaffold run --profile <profile>`  to `skaffold build --profile <profile>` helped to get successful build with v1.28.1

[2021-07-27 15:26] MateusAmin commented on #3890
Not sure what's going on but it was working with my local registry and now it is not. No upgrade.

[2021-07-27 17:51] nkubala commented on #6255
my view is that skaffold has already set the precedent that we provide integrations with external tools but don't distribute them ourselves, so I can only imagine this being solved by either 1) Cloud Code handling the dependency management for Kompose, or 2) simply not handling the dependency management for this tool and requiring users to install it themselves. for this feature in particular I'm

[2021-07-27 19:03] #6254 closed

[2021-07-27 19:11] gsquared94 commented on #6254
thanks for the update @MarcoSchaar.

[2021-07-27 19:14] #6216 closed

[2021-07-27 19:47] aaron-prindle commented on #6292
I am able to reproduce the error `denied: requested access to the resource is denied` with a setup specifying the repo in the images (eg: aaronprindle/hello-k8s:tag).  I was however able to get this setup working correctly though using `--default-repo=aaronprindle` and I did not get the hang mentioned:
[code]

Full logs with successful build and push:
https://gist.github.com/aaron-prindle/c93e1e66

[2021-07-27 19:49] etanshaul opened #6307 "Clearer indication of skipped builds in logging V2 API"
When building multiple containers, Skaffold will abort builds when one container fails.

The V2 API currently outputs build sub-task log event like the following for the aborted container:

"Building [container-name]"...

Which leads to an exeperience like this in cloud code:
![image](https://user-images.githubusercontent.com/1735744/127218128-f25ea9d9-5495-4905-a79f-2fc1d1aab7e1.png)

This makes

[2021-07-27 20:00] aaron-prindle commented on #6292
I am not sure what might be different in our setups/steps-here but I did notice that the push seemed to take a longer using skaffold.  Perhaps it was not hanging but there was a large slowdown?  Can you verify that this is hanging on your setup vs takes X minutes?

[2021-07-27 20:34] jhiester commented on #4246
I'm also having this issue with v1.28.1

[2021-07-27 22:00] briandealwis opened #6312 "`dev --port-forward` with user-defined ports may result in services being allocated random ports"
Seen in Skaffold HEAD, but present back to v1.24.0.

@dhodun has a multi-module app with two services configured by user-defined port-forwards (UDPFs) with specific local ports.  The UDPFs look like:
[code]

He reported an odd situation where `skaffold dev --port-forward` with would frequently set one of the services that should be bound to port 8887 was sometimes being bound to port 4503.  As I w

[2021-07-27 22:00] briandealwis commented on #6312
I think a solution is to remove the use of the goroutine in the ResourceForwarder:
https://github.com/GoogleContainerTools/skaffold/blob/55f5860137ef74c8e7d935835a2dd59b98a6f63d/pkg/skaffold/kubernetes/portforward/resource_forwarder.go#L128-L134

[2021-07-27 23:47] nkubala opened #6314 "Implement `skaffold delete` for Docker deployer"
If the skaffold process is forced to quit without time to cleanup, it will leave behind containers and sometimes a network in the local docker daemon. In this case `skaffold delete` should be able to sift through the local daemon and find containers and networks it created, and remove them.

[2021-07-28 06:19] kahunacohen commented on #6292
@aaron-prindle thank you. Yes this also works for me when I set the default repo via the command line.

Questions:

1. I thought the repo meant docker.io, but I guess it really means the docker username, in my case kahunacohen. Is the default place it pushes docker hub? If you want to push it to another place like google's container registry, is that a different setting than default-repo?
2. What

[2021-07-28 13:00] kahunacohen commented on #6292
OK I think you can close this. I guess it was a slow connection on my machine.  I had other tags of this image up there, but for some reason the first time building with skaffold it seemed to take a long time to push, maybe there are some layers that go in to the skaffold tagged image?

Anyway, now it works as expected. I just let it push for >5 mins and it worked.

[2021-07-28 15:59] artemkoru opened #6316 "Skaffold 1.28.1 doesn't override kubecontext via SKAFFOLD_KUBE_CONTEXT"
### Expected behavior

When I set the SKAFFOLD_KUBE_CONTEXT environment variable, I expect that the value `deploy.kubeContext` in skaffold.yaml to be ignored and skaffold will deploy my application to the kubecontext that is set in the SKAFFOLD_KUBE_CONTEXT variable. This works fine in versions <= 1.26.0.

### Actual behavior

Skaffold ignores SKAFFOLD_KUBE_CONTEXT environment variable and uses th

[2021-07-28 17:08] dhodun commented on #6312
Ya, I was seeing it happen every time. When i just ran the service in question with `-m service-name` the port was allocated as expected, so it wasn't a port contention issue.

when i drop `--port-forward` from the command, it works just fine.

[2021-07-28 17:36] aaron-prindle commented on #6292
It is a repo because the docker specification is that any path without a url prefix is by default the `docker.io` registry, some more information here - https://docs.docker.com/registry/introduction/#understanding-image-naming

Similar to the above, the the docker spec is that the default image registry is `docker.io` so it is prefixed on images w/ no registry specified.  To use another registry,

[2021-07-28 17:36] #6292 closed

[2021-07-28 20:17] aaron-prindle commented on #6316
@artemkoru thanks for the detailed report here.  I was able to reproduce the bug mentioned for v1.28.1 and you are correct this is a recent regression (v1.26.0 did work properly here).  Additionally I wanted to clarify, the skaffold.yaml file in the repo should have `kubeContext: kubecontext-1` set for the repro case (currently I think it is a type but it says `  kubeContext: kubecontext-2`.  As i

[2021-07-28 21:42] glennpratt opened #6321 "Dependency image dependences command is executed in the parent working directory."
Dependencies from another directory or a git repository appear to run the custom

### Expected behavior

Successful deployment of dependency and parent.

### Actual behavior

[code]

### Information

- Skaffold version: v1.28.1
- Operating system: macOS 11.5
- Installed via: homebrew
- Contents of skaffold.yaml:

[code]

[code]

See example repo linked below.

### Steps to reproduce the behavior

[2021-07-28 23:14] nkubala opened #6327 "Implement hooks runner for Docker deployer"
Currently, hooks are implemented by `kubectl exec` into pods for a deployment. We'll need to implement a new hook runner for running `docker exec` into a running container, and configure these to run during the correct phases.

[2021-07-29 05:34] artemkoru commented on #6316
@aaron-prindle You are right, I made a mistake. Fixed! Thanks for your comment.

[2021-07-29 09:10] gsquared94 commented on #6316
@aaron-prindle you're correct, #6024 is the culprit. Raised #6331 to fix this.

[2021-07-29 16:22] #6316 closed

[2021-07-29 21:03] drewpca opened #6334 "'unnamed config' reads like an error, but it's not one"
I'm getting this:

invalid skaffold config: source: /tmp/tmpvy0il893, unnamed config at index 0: invalid image "gcr.io/google.com:cloudrun-dev3/codedev": invalid reference format

The concatenated error [suggests](https://en.wikipedia.org/wiki/Garden-path_sentence) that what's invalid is that my "config" is "unnamed", but I see from the code that it's just wrapWithContext trying to say which confi

[2021-07-29 23:29] hkdeman commented on #5739
Any estimates on when this is being released? Thank you for the great work :)

[2021-07-30 00:05] spowelljr commented on #5739
I created a PR that will autostart buildkit, so once it's merged and released `minikube image build` with containerd should easily work without requiring the steps @afbjorklund outlined above.

https://github.com/kubernetes/minikube/pull/12076

[2021-07-30 01:03] hkdeman commented on #5739
That's great news :) Would it also work similarly for cri-o runtime in minikube? (skaffold dev command doesn't work right now with cri-o runtime - hoping this release would resolve that)

[2021-07-31 10:28] ZeroVocabulary commented on #6285
I found out how to do namespace manifests. You add them first, before everything else:
[code]
The namespace will be deleted when using skaffold delete, and will not have issues with skaffold dev (the namespace will be deleted properly).

[2021-07-31 11:00] ZeroVocabulary commented on #6285
I thought skaffold dev always cleaned up properly, and namespace manifests were causing an issue, but I did the same without namespace manifests:
https://github.com/ZeroVocabulary/skaffold-namespace-manifests-inconsistency/tree/main/test1

There are 2 deployments being made, "nginx" in a namespace that does not exist, and "nginx2" in the default namespace (it does exist). When using skaffold dev,

[2021-07-31 15:52] weltonrodrigo opened #6336 "logs are not printed with --tail when kubeContext is set and its different from current-context"
### Expected behavior

Running ```skaffold run --tail``` with `deploy.kubeContext` set should print logs after deployment stabilization.

### Actual behavior
No log is printed.

[code]

[code]
### Information

- Skaffold version:  v1.28.1
- Operating system: Macos 11.4
- Installed via: homebrew
- Contents of skaffold.yaml: v1.28.1

[code]

### Steps to reproduce the behavior

[code]

[code]

# Not

[2021-08-02 16:32] nkubala commented on #2255
closed via #6136

[2021-08-02 16:32] #2255 closed

[2021-08-02 16:49] nkubala commented on #3944
@dthomastx we could probably add some checks to this code to validate filename lengths before adding and either skip or error out.

https://github.com/GoogleContainerTools/skaffold/blob/6f64e5bb554916c35f2fda71ecec1b535f44805d/pkg/skaffold/util/tar.go#L104

feel free to open a separate issue to track, or if you're feeling ambitious submit a fix yourself!

[2021-08-02 16:57] nkubala commented on #5387
@jan25 I'd actually recommend holding off on this for the time being - we're working on some major changes to the way we [handle rendering and deploying in skaffold](https://github.com/GoogleContainerTools/skaffold/blob/main/docs/design_proposals/new-render-and-deploy.md), which will directly influence how we handle things like helm post-rendering.

[2021-08-02 20:09] nkubala commented on #1771
ref https://github.com/GoogleContainerTools/skaffold/issues/5638

[2021-08-02 20:12] nkubala commented on #5966
@ananyasaxena @somnistudio we haven't been seeing this in any of our testing, so it seems like this might be specific to your project setups. would either of you be able/willing to provide a small sample project for us to reproduce this issue?

[2021-08-02 22:43] nkubala opened #6344 "Expose option to suppress output from hooks runner"
From https://github.com/GoogleContainerTools/skaffold/pull/6337#discussion_r681211816:

As is, output from executing hooks scripts will **always** be surfaced to users, even when the logs for individual phases are suppressed. We should either:
* tie the output of the hooks to the associated phase (e.g. pre-/post-deploy hooks tied to the `deploy` phase; or,
* add an option to explicitly suppress ou

[2021-08-02 23:03] nkubala commented on #6271
strange, I see the schema definition in in both the `v2beta19` config definition and the generated `v2beta19.json` schema. so it looks like it got unhidden before we released v1.28.1 - not sure why it's throwing this error.

regardless, as @briandealwis said above these problems do generally resolve themselves. @demisx if you're managing your own skaffold binary (rather than having cloud code do i

[2021-08-02 23:15] foobarbecue commented on #5210
Glad to see that it has been re-opened. Some more context for me: I use skaffold to set up https://github.com/argoproj/argo-workflows and that fails because argo-server and another pod normally fail a couple of times while mysql is starting up. I've managed to add an init container to the argo pods to make them wait for mysql as a workaround, but it would be much cleaner if I could disable skaffol

[2021-08-03 00:01] nkubala commented on #6285
@ZeroVocabulary thanks for the issue! there are two things going on here that I see.

1) providing both a manifest that creates a namespace for you (we'll call it `namespace.yaml`) and then attempting to use the created namespace in a subsequent deployment (your nginx deployment, let's call it `nginx.yaml`) is a totally valid use case, but one that creates effectively a race in skaffold. skaffold

[2021-08-03 00:18] ZeroVocabulary commented on #6285
Yes I used that solution, its in one of the above comments. I didn't need multiple files though, I just did it like this:
[code]
And the skaffold dev cleanup bug isn't actually related to namespaces, it happens whenever the kubectl deployment fails.
I'll close this issue, thank you!

[2021-08-03 00:18] #6285 closed

[2021-08-03 10:18] gsquared94 opened #6347 "[Doc site] Schema reference for latest config version not loading"
https://skaffold.dev/docs/references/yaml/?version=v2beta20 not loading the schema for the latest config version

![image](https://user-images.githubusercontent.com/39389231/127999567-5b3fa6c6-94a2-4ae7-9f99-38aea040537a.png)

[2021-08-03 14:47] yuwenma opened #6348 "Upgrade CI to Go 1.16"
### Expected behavior
`os.WriteFile` should be supported.

### Actual behavior
Travis CI reports  `undefined: os.WriteFile`

### Information
Travis CI runs on Go1.15 and cannot support some Go1.16  features like `os.WriteFile`.
This disallow us to develop on Go1.16 and misses some cool features https://golang.org/doc/go1.16

[2021-08-03 16:20] #5855 closed

[2021-08-03 16:25] afbjorklund commented on #5739
The script mentioned is the interim measure, until we can upgrade to buildkit 0.9.0 which _finally_ has proper support for systemd socket-activation* so that BuildKit will start automatically...

\* http://0pointer.de/blog/projects/socket-activation.html

For the cri-o container runtime we are using "podman build", and the support for that should _already_ be included (using the same socket-activa

[2021-08-03 17:40] misterikkit opened #6350 "`dependencies.ignore` should support ** globs"
### Expected behavior
Specifying an ignore pattern like `"**/zz_generated*"` should ignore any files whose name begins with `zz_generated` anywhere in my source tree.

### Actual behavior
Skaffold uses `filepath.Match` which supports single-segment globs `*` but not `**` globs that would match any number of segments. The result is that I must write ignore rules that look like this:

[code]

### In

[2021-08-03 17:40] misterikkit commented on #5933
Yes. I also had to add ignore rules for the temporary folders that gomock generates at various depths of my source tree (depending on where mocks get generated).

I filed the feature request in https://github.com/GoogleContainerTools/skaffold/issues/6350

[2021-08-03 17:40] #5933 closed

[2021-08-03 18:36] tejal29 opened #6351 "Sync pre-hooks and post hooks with Event API v2"
Please investigate pre-hooks and post-sync hooks with V2 skaffold logging api.
Run it in intellij or VSC latest build.

[2021-08-03 20:11] ekuefler commented on #6126
Our team is still seeing this issue somewhat regularly in our build. I'm happy to provide direct GCB links privately if they would help.

[2021-08-03 20:51] hkdeman commented on #5739
@afbjorklund thank you for the info! I tried to do the custom skaffold script but was having issues running it with "skaffold dev" command. I was unable to find related issues online. It would be of great help if you can describe steps on how to create a custom skaffold.yml file for image builds with cri-o runtime that work in harmony with "skaffold dev" command. I get this issue right now when ru

[2021-08-03 20:58] toyi opened #6352 "Error after building (Kaniko) and pushing an image to a Gitlab private repository"
Hello,

New to Skaffold here, I'm having a hard time building an image for a private Gitlab repository using Kaniko.
Since it works well using Kaniko alone, I presume the problem is from Skaffold.
The image is indeed built and pushed, but an error still appears at the end. This error could be related to https://github.com/GoogleContainerTools/skaffold/issues/4287 (almost the same error message).

[2021-08-03 21:03] ivanporty opened #6353 "Ensure skaffold doesn't prompt for surveys when deploying in non-interactive mode"
Output with verbose logging:
[code]

[2021-08-03 21:30] #6353 closed

[2021-08-03 21:33] afbjorklund commented on #5739
If I understand correctly, the build script (wrapping minikube) would look something like:

[code]

Otherwise you would have to use "minikube podman-env" and teach skaffold to run podman.

And then do the same for buildkit and buildctl, which was why we did the `build` wrapper...

[2021-08-03 21:50] hkdeman commented on #5739
That makes sense :)

For me, Skaffold dev doesn't start the custom build; it errors out directly with the previously mentioned exception.

I will try to find a way to trigger custom build even with non-docker runtimes, and may be it will trigger the custom build. Then I would be able to use the "minikube image build" functionality.

Thank you for the help though! much appreciated :)

[2021-08-03 22:07] aaron-prindle commented on #6350
Related: https://github.com/GoogleContainerTools/skaffold/issues/6029

[2021-08-03 22:23] sivakku commented on #6255
The Option (2) is also on the table, in terms of priority this is KR100 committed for Q3 for both plugins and skaffold.

(a) We can do at Plugins level but that means the effort is duplicated across CCIJ and VSCode. if someones needs to make this project scriptable and work in CI then it needs to happen at skaffold level. (i see increased ask of deploying the project through automatable deployment

[2021-08-03 22:42] misterikkit commented on #6350
Off, that's not related. It's a dupe. Sorry I lost track of the original (:

[2021-08-03 22:42] #6350 closed

[2021-08-03 23:05] davecardwell commented on #6347
There is a JavaScript error when processing the v2beta20 schema fetched from https://skaffold.dev/schemas/v2beta20.json:

The problem occurs at line 99 below when `refName` evaluates to `"ContainerHook"` in this code:
https://github.com/GoogleContainerTools/skaffold/blob/1e3da21af7add15c2a36e707a27b84a2cf3787b3/docs/content/en/docs/references/yaml/main.js#L95-L99

The corresponding definition for

[2021-08-03 23:46] aaron-prindle opened #6355 "Add command/functionality to skaffold to verify whether tests will run for a given skaffold.yaml"
For projects that use skaffold as a dependency it can be helpful to understand what tests a skaffold.yaml have defined and are applicable for a given profile,etc.  This bug tracks extending `skaffold inspect` command to inspect the complete skaffold config (aggregated from all relevant `skaffold.yaml` files) to verify if a test will occur.

[2021-08-03 23:51] aaron-prindle commented on #6355
Adding @maggieneterval @ekupershlak @plumpy for partnership tracking

[2021-08-04 03:07] #5971 closed

[2021-08-04 08:19] afbjorklund commented on #5739
This is the same bug as in #5494, skaffold is calling `minikube docker-env` in the "config" phase...

Even if the cluster is not running Docker at all, like when using CRI-O or containerd as the CRI.

It seems that docker is hard-coded for minikube, even when using a separate custom build script:

https://github.com/GoogleContainerTools/skaffold/blob//v1.29.0/pkg/skaffold/docker/client.go#L107

Th

[2021-08-04 08:26] afbjorklund commented on #4654
There is a `minikube image load` command now that you can use instead, that doesn't copy and record the image in the cache.

As a bonus, it also works with other container runtimes.

[2021-08-04 13:32] toyi commented on #6352
I just found https://github.com/GoogleContainerTools/skaffold/issues/5571 which seems to be related.
Without even docker installed, if I just put the credentials in `~/.docker/config.json`, it works.

However, I still think it should not be the case.

@tejal29 Just tagging you, since you are already working on this topic in https://github.com/GoogleContainerTools/skaffold/issues/5571, you might be

[2021-08-04 14:41] MrLuje opened #6361 "Skaffold dev fails when user cannot list deployments at cluster scope"
### Expected behavior

Running **skaffold dev** should work without issue if I have the required permissions on the deployed namespace

### Actual behavior

Skaffold complains about missing permissions at cluster level to check the deployement, whereas it should only check the it at namespace level

### Information

- Skaffold version: 1.28.1
- Operating system: Windows10 + WSL2
- Installed via: H

[2021-08-04 17:21] nkubala commented on #6361
@MrLuje thanks for the issue. this does indeed look like an issue with the computed namespaces we operate on when doing a status check. we'll try and get to this one, but if you're feeling up to sending a fix, contributions are of course always welcome.

[2021-08-04 17:24] nkubala commented on #6199
@dimovnike this isn't currently possible in skaffold as we don't expose that field from the `cloudbuild.yaml` into the `skaffold.yaml` GCB schema, but it could be added.

[2021-08-04 20:31] nkubala commented on #5176
@braderhart can you confirm this is still an issue on the latest version of skaffold (or any version later than v1.27.0)? it seems that this has been fixed in https://github.com/GoogleContainerTools/skaffold/pull/6024 but I want to be sure before closing this issue.

[2021-08-04 20:42] nkubala commented on #5210
@foobarbecue thanks for the context. I think probably what we should do here is expose a `allowPodRestart` flag or something similar that backs off the status check when it sees a failure, to give the pods time to go through some restart cycles before actually calling the deployments failed.

[2021-08-04 21:00] hkdeman commented on #5739
@afbjorklund there is way to get the "skaffold dev" command running now? Have to wait for the docker dependencies to be removed? Also, any estimations on when it might happen? (if it might happen at all) This is pretty major for us as CRI-O has become a crucial part and skaffold was already a big part of our app development cycle. If there is anyway, we can get the command running with different r

[2021-08-04 21:39] j-windsor opened #6363 "json schemas reference an undefined `ContainerHook` definition"
In schema json files for versions v2beta19, v2beta20, and v2beta21, there is a reference to an undefined `ContainerHook` definition.

For example,  in v2beta21:
https://github.com/GoogleContainerTools/skaffold/blob/47e12af41159acd46f82626038b4fe99d0666a64/docs/content/en/schemas/v2beta21.json#L3134

[2021-08-05 07:30] afbjorklund commented on #5739
The only way (to make docker-env work) would be to start the Docker daemon: `minikube ssh -- sudo systemctl start docker`
We **don't** want to make it (env) fail silently, since without the variables docker would default to running every command locally...

Other than that, since you want to run CRI-O, I suppose you could replace "docker-env" with "podman-env" in your Skaffold ?
That way it wouldn

[2021-08-05 15:34] #5509 closed

[2021-08-05 15:36] #5763 closed

[2021-08-05 15:36] #6312 closed

[2021-08-05 19:47] #6334 closed

[2021-08-05 22:17] hkdeman commented on #5739
@afbjorklund I tried the podman-remote commands you sent and that makes sense but not sure if I understand how this allows "skaffold dev" command to run? I did the unmasking and docker start but when running "skaffold dev", it still errors. I might not be sure how this works fully yet, let me do some research on my side. Thank you for the help though!

Also, what did you mean by: "you could replac

[2021-08-05 23:06] #6307 closed

[2021-08-06 11:51] gsquared94 commented on #6355
IMO could be added to [go/mutate-skaffold-configs](http://go/mutate-skaffold-configs)

[2021-08-06 11:57] afbjorklund commented on #5739
Since Skaffold _always_ calls "docker-env", you might be able to replace the string with "podman-env":

https://github.com/GoogleContainerTools/skaffold/blob/v1.29.0/pkg/skaffold/docker/client.go#L187

[code]

But you also have to replace "docker" with "podman" in your PATH, or it will try to run things locally...
(I'm not even sure this is possible, since Skaffold uses `github.com/docker/docker/c

[2021-08-06 12:00] afbjorklund commented on #5739
If you are using containerd, there is currently no minikube alternative to "docker-env" and "podman-env".
You have to set up ssh tunnels and env variables manually, if you want to run `ctr` and `buildctl` remotely:

https://minikube.sigs.k8s.io/docs/handbook/pushing/#6-pushing-directly-to-in-cluster-containerd-buildkitd

containerd upstream says that if you wanted something user-friendly, you shou

[2021-08-06 12:32] gsquared94 opened #6371 "incorrect json schema generation"
### Expected behavior
Any new structs added to `config.go` will create corresponding correct json schema definition on running `make generate-schemas`.

### Actual behavior
If struct `Foo` is used in two structs, as:

[code]
then the generated json doesn't include the definition for `Foo`.

This caused #6363, #6347
### Information

[2021-08-06 12:58] yuwenma opened #6373 "Modify the skaffold v2 render prompt behavior"
Per offline discussion with @briandealwis , this is what we believe the appropriate behavior when prompting a message in render.
- if the hydration dir exists and is empty => no prompt
- if the hydration dir exists and there is content but no Kptfile => exit: this doesn't look right
- if the hydration dir exists and there is content and Kptfile => prompt to remove ?

[2021-08-06 12:58] yuwenma commented on #6373
cc @briandealwis

[2021-08-06 14:10] verbanicm commented on #6371
@gsquared94 You can specify skipTrim to prevent the parser from removing the Foo ref in the output

[code]

[2021-08-06 14:47] yuwenma opened #6374 "[v2] Support multi-module"