[2020-12-10 20:57] jycamier opened #5133 "Skaffold debug mode inconsistency with helm deployment strategy"
In my project, I decide to have a `skaffold.yaml` file configuration which is not called like that. It's just `test.yaml`.
Thanks to `--filename` option, I can do it.

However, with the helm deployment strategy on debug mode, you add the helm's options `--post-renderer` which is
`/usr/local/bin/skaffold` but without `--filename` option and you cannot.

### Expected behavior

I would like to use de

[2020-12-11 04:33] tvvignesh opened #5136 "Skaffold dev with HPA setup in the cluster"
Originally filed here with all details: https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/350

I am not sure if this is a bug or an intended behavior, but when I use Cloud Code with Skaffold in my cluster with HPA enabled, I see that new replicas are created every time I do `Run on Kubernetes` even when `targetAverageUtilization` is not reached and takes close to 5-6 minutes to scale

[2020-12-11 16:51] tejal29 commented on #5132
There are two things we need to do here.
1. Ignore helm test templates during deploy.
2. Integration helm tests in testing phase

/cc @nkubala

[2020-12-11 16:55] j2udevelopment commented on #5132
No problem!  Let me know if I can provide any further input

[2020-12-11 17:57] tejal29 commented on #5136
Thanks @tvvignesh

[2020-12-11 18:34] #5123 closed

[2020-12-11 19:15] etanshaul opened #5140 "Buildpack auto sync performs a full re-build on first change"
Tested using skaffold `1.17.2`

1) Clone the Cloud Code Go hello-world k8s sample: https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/golang/go-hello-world
2) Configure your build to use buildpacks:
[code]
3) Run skaffold dev
4) Make a change in `main.go`

**Expected**: Skaffolds auto-sync for buildpacks would automtically sync the change without performing a full container rebu

[2020-12-11 19:40] abbycar commented on #5140
+1 here's a [video](https://drive.google.com/file/d/1--BCPMmLOLYRn7LCS0HuhVJffNU6HcTg/view?usp=sharing&resourcekey=0-EjNvKzxhinhziZgMrIDicw) of the same behavior

[2020-12-11 20:25] tejal29 commented on #5108
Thanks @tvvignesh.
Not sure wht this is happening.
would you mind sharing the artifact context dir?
I looked into the code, and we try to match the relative to the `artifact.context`  and maybe that is why it fails to recognize.

[code]

[2020-12-11 21:44] #4881 closed

[2020-12-11 22:38] #5133 closed

[2020-12-11 23:11] tvvignesh commented on #5108
@tejal29 Hi. My Skaffold file is same as in this issue: https://github.com/GoogleContainerTools/skaffold/issues/5136#issue-761888061 where context is set to `.` Is that what you were asking for?

[2020-12-12 06:35] ErmakovDmitriy opened #5143 "Build fail: minikube containerd - docker-env error"
I tried to build my project using minikube, skaffold and kaniko.
Kaniko is used because I tried to use minikube with containerd (not Docker). The main reason is that the Kubernetes team has plans to deprecate Dockershim.

### Expected behavior
Correct build and dev deploy.

### Actual behavior
Error:
[code]

### Information
I thought that there is some error in my skaffold.yaml so I tried to build

[2020-12-12 11:19] DGollings commented on #5095
had the 'same' issue, although slightly different (and for reasons I don't entirely understand)

[code]
`skaffold dev --default-repo localhost:32000 -p dev` = error (the testdata image shows up twice to be built)
`skaffold dev --default-repo localhost:32000` = fine

I understand that dev (activation microk8s dev) -p dev is very, uhm, dev. But I've had various results over time/skaffold versions wh

[2020-12-12 13:51] mvs24 opened #5144 "Persistent volumes and skaffold"
This is my deployment with persistent volume:
[code]
### Expected behavior
I want after skaffold exits the data stored in PVC to come back

### Actual behavior
I have created a Persistent volume and persistent volume claim with mongodb, but after exit skaffold the data in the database is completely lost. What can we do to keep data after skaffold exits.

[code]

[2020-12-13 16:15] tonsV2 commented on #169
I think it such a shame this was rejected. For a small app I often have a helm chart for the frontend, the backend and one for some kind of storage. With the use of helmfile I can keep track of which versions I have deployed to which environments.

I think the above setup is a fairly common and it would be great if it was supported by skaffold.

When I see comments as the one by @dlorenc I get the

[2020-12-13 19:14] pagmoro commented on #4846
Looks like I missed your comment too - let me try this and revert back

[2020-12-13 21:14] shibumi commented on #169
@tonsV2  I think you misunderstood @dlorenc 's comment. @dlorenc said:

He did not mean that Helmfile will be deprecated with Helm 3. He meant that the Helm 3 support for skaffold has higher priority than helmfile support for skaffold.

... at least that's how I read this.

[2020-12-14 00:49] sev3ryn opened #5145 "Skaffold fails building images with docker buildkit commands since v.1.17.0"
### Expected behavior
Building images with docker Buildkit directives  - works
[code]
### Actual behavior
build fails
[code]
### Information

- Skaffold version: issue exists in versions since 1.17.0
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

Dockerfile:
[code]
skaffoldv1.16.0 build   - works
skaffoldv1.17.0 build   - fails

[2020-12-14 04:51] tonsV2 commented on #169
@shibumi That's perfectly understandable and perhaps I'm lacking some insight but I don't see why this can't be developed in parallel.

My current issue is that I have values (username/password for the database) in my helmfile project which is shared by my database and my backend.

I love Skaffold but as soon as my projects grows beyond a single chart I can't use it without changing my code only f

[2020-12-14 08:12] shibumi commented on #169
@shibumi That's perfectly understandable and perhaps I'm lacking some insight but I don't see why this can't be developed in parallel.

Uhm time? I guess they just have not enough man power to do it in parallel. Question is if they want to do it at all.. and the closed issue suggests otherwise. Would be interesting to know why.

[2020-12-14 10:57] gordonbondon commented on #5145
We're hitting the same issue. It was probably introduced by this PR https://github.com/GoogleContainerTools/skaffold/pull/4943

[2020-12-14 13:46] sev3ryn commented on #5145
oh, how come I haven't found that issue - thanks. Closing as duplicate

[2020-12-14 13:46] #5145 closed

[2020-12-14 20:55] tejal29 commented on #5144
@mvs24
Skaffold cleans-up all deployments after the dev loop ends. You can run `skaffold dev --cleanup=false`.  however that would mean your application also keeps running after you quit `skaffold dev`

[2020-12-14 20:58] tstromberg commented on #4747
is this still a thing?

[2020-12-14 21:00] tstromberg commented on #5143
FWIW, this should be a relatively high priority, as minikube is expected to switch the default runtime in Q1.

[2020-12-14 21:25] tejal29 commented on #5143
@ErmakovDmitriy We don't support running minikube with containerd yet.  However, that said, there is a skaffold bug here. For kaniko builder, skaffold should not shell `minikube docker-env` command.

[2020-12-14 21:34] briandealwis commented on #4807
@IsaacPD [did some more digging](https://github.com/GoogleContainerTools/skaffold/issues/4815#issuecomment-730514811):

[2020-12-14 23:01] nkubala commented on #5113
@msonnleitner the tag skaffold generates is actually available using `{{.IMAGE_TAG}}`. this was added in https://github.com/GoogleContainerTools/skaffold/pull/4278 and shipped with `v1.11.0`.

[2020-12-14 23:01] #5113 closed

[2020-12-14 23:04] nkubala commented on #4747
yeah we still don't do this by default, but we could consider switching the default value if we're confident in this feature.

[2020-12-14 23:07] tejal29 commented on #5140
@briandealwis i am going to look into this as a starter bug for buildpacks :)

[2020-12-15 00:14] PriyaModali opened #5147 "Split build_deploy.go into individual files - build.go, test.go, and deploy.go"
Split build_deploy.go into individual files - build.go, test.go, and deploy.go

Functionality of these three commands is in a single file called build_deploy.go. They need to be split into individual files.

[2020-12-15 00:20] PriyaModali opened #5148 "Cleanup the term 'artifact' in skaffold docs"
We should try not to use the term artifact in our docs if we can avoid it. It's not really a concept that has meaning outside of skaffold, so it's fine to use in code (e.g. for function names) but we shouldn't use it when talking about real concepts in docs.

[2020-12-15 00:50] jkleckner commented on #3386
If this helps someone else, I think this happened when a `skaffold debug ...` with a helm deployer was interrupted with ctrl-C maybe twice and the helm uninstall didn't complete.

Running `helm list --all-namespaces` didn't show it but a `helm list --all-namespaces -a` did show that it was in an "uninstalling" state.

Runninig `helm  delete -n ns release-name` cleared it up.

[2020-12-15 06:13] PriyaModali opened #5149 "Split build and test into separate functions"
Right now Build & Test are merged together in a single function.
We need to separate these functions.

[2020-12-15 06:15] PriyaModali opened #5150 "Add an example for test command"
We need to consider adding new examples for the test command.

[2020-12-15 06:24] msonnleitner commented on #5113
That variable exists, however I could not get it to work in `appVersion`.

So basically it seems that

- `appVersion` takes ENV variables like `FOO`
- `appVersion` does not take `IMAGE_TAG`
- `IMAGE_TAG` works in `setValueTemplates`

[2020-12-15 16:26] wojtek-viirtue commented on #4445
@briandealwis Is there a way to specifically opt-in for the file-watcher when running a `skaffold debug` ?  I think it's pretty common to know to restart a debugging session after a code change given "staleness".

Currently, I have to stop skaffold and restart after a code change and then restart the debugging session anyway.

One can work around this for now by running `skaffold dev` and bake the

[2020-12-15 17:44] mvs24 commented on #5144
I tried --cleanup=false but didnt have success. I found another way running my databases locally, but hope you find a way of implementation for skaffold to not remove pvc after we exit skaffolf.
Thank you.

[2020-12-15 18:01] briandealwis commented on #5103
@robertgates55 you can use the [`gitCommit` tagger's](https://skaffold.dev/docs/references/yaml/#build-tagPolicy-gitCommit) `TreeSha` or `AbbrevTreeSha` variants to get the _sub-tree hash_ of the artifact directory.  This sub-tree hash is not the same as the commit that changed it, but it does uniquely identify the contents.

[2020-12-15 18:10] tejal29 commented on #5140
Some notes from my debugging on command line

1. First error i see, is `.swp` file is being detected as modified which triggers the re-build.
[code]

[2020-12-15 18:17] tejal29 commented on #5140
2. For IDEs, i see `.idea` folder files are detected as changed

[code]

[2020-12-15 18:34] briandealwis commented on #2475
So you can configure Docker so that `docker build` [uses buildx by default](https://docs.docker.com/buildx/working-with-buildx/#set-buildx-as-the-default-builder) with `docker buildx install`.  If you combine that with [`useDockerCLI: true`](https://skaffold.dev/docs/references/yaml/#build-local-useDockerCLI) then you'll be using `buildx`.

Adding support for `--cache-to` is a bit more difficult.

[2020-12-15 18:49] briandealwis commented on #4347
I think we also poorly support `KUBECONFIG`, which can be a list of `:`-separated file names.

[2020-12-15 21:09] gsquared94 commented on #4747
minikube's `profile list` command latency was a concern to not do this immediately. I've opened a PR to keep the flag but enable it by default. Will do away with the flag if there are no issues reported.

[2020-12-15 23:17] #5050 closed

[2020-12-16 04:01] briandealwis commented on #4445
@wojtek-viirtue yes, this ability was added in #4089.  You can use `skaffold debug --auto-build=true --auto-deploy=true`, and if your builds are set up for it `--auto-sync=true` too.

[2020-12-16 04:08] wojtek-viirtue commented on #4445
@briandealwis Thank you!

[2020-12-16 08:06] tonsV2 commented on #169
@mumoshu wanted to contribute the plugin so I doubt that it's time

[2020-12-16 09:05] taisph opened #5159 "Skaffold dev stopped loading built images into local kind cluster since 1.17.1"
### Expected behavior

`skaffold dev` loads built images into local kind cluster before deploying.

Using skaffold 1.17.0:

[code]

### Actual behavior

`skaffold dev` skips the load.

Using skaffold 1.17.2:

[code]

### Information

- Skaffold version: 1.17.1 and 1.17.2
- Operating system: Ubuntu 20.04.1 LTS
- Contents of skaffold.yaml:

[code]

Tested with empty skaffold config and `kind-disable

[2020-12-16 12:25] robertgates55 commented on #5103
Yep - thanks - that's clearly closer, and I realised it soon after creating this ticket!

Interestingly though, as we've also started using skaffold artifact dependencies, this approach starts to fall down:

[code]

If we use artifactDependencies to build `common` and then consume the result within `svc1` and `svc2`; then a change in `common` won't cause the `TreeSha` tags of `svc1` or `svc2` to c

[2020-12-16 19:44] briandealwis commented on #5159
Hi @taisph — could you please rerun with `-vdebug` to produce debugging logs?

[2020-12-16 19:48] briandealwis commented on #5159
And could you please include your ~/.skaffold/config too?

[2020-12-16 20:17] IsaacPD commented on #5054
Hey @cheslijones could you try agin with the changes after #5124? Hopefully that clears some of it up, I'd love to see what changes there are if any.

[2020-12-16 20:22] briandealwis commented on #5148
Artifact are containers that were built via Skaffold.  So they do represent something distinct.

[2020-12-16 20:29] briandealwis commented on #4966
@orbb92 were you able to try running with `--debug`?

[2020-12-16 20:29] briandealwis commented on #4966
(Will re-open if we hear more.)

[2020-12-16 20:29] #4966 closed

[2020-12-16 20:44] briandealwis commented on #4955
Closing as I tested Skaffold v1.17.2 with kind and I see images being detected.  @ghost please let us know if you're still seeing issues.

[2020-12-16 20:44] #4955 closed

[2020-12-16 20:45] briandealwis commented on #4949
Moving to p3.

[2020-12-16 20:52] briandealwis commented on #4942
I too am unable to reproduce this.

@DhruboB is it possible that you have some of your manifests in a file that isn't matched by `k8*.yml`?  Could you include the logs of running Skaffold with `-vdebug` and verify that the rendered manifests look as you expect?

[2020-12-16 20:56] briandealwis commented on #4886
Keeping priority as it's assigned to a milestone.

[2020-12-16 21:22] briandealwis commented on #4878
Closing as should be fixed with #5053.  At least your sample code seems to work fine with pkg/skaffold/docker/ParseReference:
[code]

[2020-12-16 21:22] #4878 closed

[2020-12-16 21:57] gsquared94 commented on #4949
This is already implemented. Sorry forgot to update the issue.

[2020-12-16 21:57] #4949 closed

[2020-12-16 23:05] dindurthy commented on #5109
That's it. Oof, I should have tried that given that kubectl and kustomize are sibling keys. Makes perfect sense. Thanks so much.

[2020-12-16 23:05] #5109 closed

[2020-12-17 10:00] vinceferro opened #5161 "MacOS Big Sur killing skaffold process -- violates CPU wakes limit"
### Expected behavior
Skaffold run should deploy correctly
### Actual behavior
The process gets killed by the OS, i can see warnings in the console saying skaffold is waking up the CPU too often

[code]
### Information

- Skaffold version: v1.17.2
- Operating system: macOS BigSur 11.1
- Contents of skaffold.yaml: company policy, won't share :(

[2020-12-17 10:53] wheelsandmetal opened #5162 "tryImportMissing always building new image, despite pull suceeding"
I'm trying to use `tryImportMissing` to import images from a remote registry rather than building them locally

I'm seeing this in the `-vdebug` logs

[code]
after which it goes on and attempts to build the image. However if I stop it early I can see that it successfully pulled the image to my local docker.

I'm wondering if there is a missing `return found{hash: hash}` [here](https://github.com/G

[2020-12-17 13:50] spingel opened #5163 "skaffold render does not support templates in helm valueFiles"
### Expected behavior

skaffold build and skaffold render use consistent command line arguments for helm.

### Actual behavior

[code]

### Information

- Skaffold version: 1.17.2 (brew installed)
- Operating system: Mac OS X 10.15.7
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Run skaffold render with a skaffold.yaml that uses templates in deploy/helm/releases/val

[2020-12-17 15:30] sam46 opened #5164 "skaffold can't detect use of image in custom kuberenetes resource"
I'm using the strimizi kafka operator to deploy a [KafkaConnect resource](https://strimzi.io/docs/operators/latest/using.html#proc-kafka-connect-config-str) with custom container image.

### Expected behavior
A kafka connect pod running (or at least successfully pulling the specified image).
Manually building the image then `kubectl apply`ing the resource works!

### Actual behavior
I get
[code]
d

[2020-12-17 17:20] PriyaModali opened #5167 "Add test command to devloop"
Currently, Dev loop includes Build, Sync, & Deploy.

We need to add the newly added [test](https://github.com/GoogleContainerTools/skaffold/pull/5118) command to the dev loop.

[2020-12-17 21:54] briandealwis commented on #4947
I saw this same behaviour with `kind`: I had deployed the `getting-started` into a different namespace, and yet it was being latched onto by Skaffold.  Will try to reproduce.

[2020-12-17 22:00] briandealwis commented on #4846
Any luck @pagmoro ?

[2020-12-17 22:32] mr-bjerre commented on #4088
is it possible to debug FastAPI applications?

[2020-12-18 02:43] briandealwis commented on #4088
@mr-bjerre Python offers many corner cases when configuring for debugging 😢   In the mean time, you can configure your image to start your app manually using `ptvsd` or `debugpy`, and then modify your resource's podspec to include an annotation like the following (modified appropriately to match your container configuration):
[code]

`skaffold debug` will honour and propagate those settings to the

[2020-12-18 04:23] briandealwis commented on #4785
So the problem is that on subsequent dev iterations, [we mute the logs prior to redeploy](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/runner/dev.go#L64) and then [unmute the logs after the deployment is complete](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/runner/dev.go#L133) (which includes [waiting for status checks](https://github.com/

[2020-12-18 04:29] pagmoro commented on #4846
Here you go .. I was waiting to see if I could figure this out with my collegues. Looks like its still expecting docker daemon in local box ?

     $ ./ske1 build -p local
    Generating tags...

    containerregistry-#########/container-sandbox/####/#####-container-lab-1 -> containerregistry-#########/container-
    sandbox/####/######-container-lab-1:latest
    Creating docker config secret [bui

[2020-12-18 04:30] briandealwis commented on #4825
I can't reproduce this with Skaffold at HEAD.  @yuwenma would you be able to try this again with Skaffold v1.17.2?

[2020-12-18 04:45] briandealwis commented on #5161
Very odd @vinceferro!  Could you provide some more details please?  Does this happen immediately on every run, or just sometimes?  What were you doing?  Could you include some debug logs (`skaffold ... -vdebug`)?

This error message isn't new to Big Sur — I found several references to _"violating a CPU wakes limit"_ going back to 2018.  [One report](https://github.com/docker/for-mac/issues/4020#is

[2020-12-18 04:52] briandealwis commented on #5164
Closing in favour of #4081.

Duplicate of #4081

[2020-12-18 04:52] #5164 closed

[2020-12-18 04:53] briandealwis commented on #5164
Duplicate of #4081

Closing in favour of #4081.

[2020-12-18 04:58] pagmoro commented on #4846
Posting the latest skaffold.yaml as a refresher - Also confirmed I'm connected to remote cluster

    apiVersion: skaffold/v2beta5
    kind: Config
    build:
       artifacts:
         - image: containerregistry-#########/container-sandbox/####/#####-container-lab-1
           kaniko:
             initImage: containerregistry-#########/container-release/managedbaseimages/lrh/targz:7-stable

[2020-12-18 05:05] briandealwis commented on #5163
`--values` is the same as `-f`
[code]

It looks like the Helm deployer's `Render()` is attempting to [add its own args construction](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/helm/deploy.go#L264-L266) plus calling `constructOverrideArgs()` which [handles templating the values file](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/depl

[2020-12-18 06:42] mr-bjerre commented on #4088
@briandealwis thanks for getting back quickly.

I actually tried your hot reload example with the edits you provided in an earlier comment but without any luck.

Does there exist some documentation on the annotation that you are suggesting?

[2020-12-18 10:50] mr-bjerre commented on #4088
Ah wait I put the annotations on root metadata and not in the template metadata. Now the application works but

1. vscode does not apply the correct runtime (autocompletion is using my local python runtime)
2. breakpoints in vscode are ignored
3. no hot reloading

Is that expected?

[code]

[2020-12-18 11:07] vinceferro commented on #5161
hi @briandealwis, it happens as soon a little after the deploy phase starts, on the execution it's at this stage:
```kubectl --context test-us-west-2 --namespace web-preprod get -f - --ignore-not-found -ojson```
The command is a simple skaffold run. The project is composed by many different deployments, configuration maps, secrets deployed together.
I've looked at the activity monitor, I saw spike

[2020-12-18 23:19] vladdy commented on #1692
I have another use case where the app instance goes beyond kubernetes as it requires some AWS resources (i.e, KMS keys, IAM roles for service accounts). Having Terraform as a deployer or some kind of hook to run it along with existing deployers would make it possible to use skaffold in such development requirements.

[2020-12-18 23:59] PriyaModali opened #5171 "Update skaffold proto to support test command in the dev loop"
Skaffold proto doesn't currently have support for test.

These updates are a prerequisite for adding test command to the dev loop (tracked by https://github.com/GoogleContainerTools/skaffold/pull/5166).

[2020-12-19 04:01] briandealwis commented on #5161
There's a lot of work happening in parallel according to your logs.  Could you try making Skaffold run the build sequentially by  altering your `skaffold.yml` to set [`build.local.concurrency`](https://skaffold.dev/docs/references/yaml/#build-local-concurrency) to 1 and see if that makes a difference?

Did this happen with previous versions of Skaffold?  Did you only notice this with the update to

[2020-12-19 06:53] PriyaModali opened #5173 "Rename BuildAndTest() method to Build()"
Rename BuildAndTest() method to Build().

Current implementation of skaffold has test & build merged into a single method.

Testing phase involves splitting build and test and moving test to a separate command. This renaming is part of separating them.

[2020-12-20 03:30] briandealwis commented on #5159
Using your `skaffold.yaml` on 1.17.2, I see:
[code]

The other thing to check: what version of `kind` do you have installed?  I'm running:
[code]

[2020-12-20 04:17] briandealwis commented on #4846
@pagmoro is there any chance you could try this on Skaffold v1.17.2?  I've been unable to reproduce as I think this codepath was made more robust with #4896.

[2020-12-20 18:44] cheslijones opened #5175 "Can't access Database Pod using skaffold dev --port-foward in WSL2 from browser"
### Expected behavior

The app is running in the `docker-desktop` cluster Docker Desktop for Windows ships with. The `ingress-nginx` controller is accepting traffic on `localhost`. I'm able to access and interact with the app at `localhost` normally.

The database is running on port `5432` so trying to connect to it using pgAdmin. Trying to access with `localhost:5432`. Also tested the API running

[2020-12-21 05:00] braderhart opened #5176 "Build pushing images for local cluster in 1.17.2"
### Expected behavior
The following worked previously, where it would not automatically push the images.

[code]

### Actual behavior
It is now pushing images, unless I explicitly set `push` to `false`:

[code]

### Information

- Skaffold version: `1.17.2`
- Operating system: `Linux a2432sds 5.9.14-arch1-1 #1 SMP PREEMPT Sat, 12 Dec 2020 14:37:12 +0000 x86_64 GNU/Linux`
- Contents of skaffold.yam

[2020-12-21 08:57] taisph commented on #5159
[code]

[code]

[code]

[code]

[2020-12-21 09:13] taisph commented on #5159
Seems like the kubectl current context must match the context specified in deploy.kubeContext in the skaffold config since 1.17.1. If kubectl context is different, images are not loaded.

[2020-12-21 15:07] pagmoro commented on #4846
I'll update on this in the new year (the people involved are on vacation) - hopefully that version fixes this issue.

[2020-12-21 15:27] othercorey commented on #5176
I had to revert to 1.16.0 to get my images to push to remote repository at all.

[2020-12-21 17:35] #5163 closed

[2020-12-21 20:43] #5162 closed

[2020-12-21 20:51] briandealwis commented on #5175
Hi @cheslijones.  It's hard to tell what's going on.  Could you please include the output of running `skaffold` with `-v debug`?

Skaffold tries to use the same port as the remote service, but it may be unable to if there is already something listening on that port.  The output logs should include details as to what each service has been mapped to locally.

[2020-12-21 21:12] briandealwis commented on #5176
Hi @othercorey.  Do you have any settings for `local-cluster` in your `~/.skafold/config` file?  Could you include the output of running with `-v debug`?

There were some changes to this with #5012, but when I run with `docker-desktop`, I see push-images being set to false:
[code]

[2020-12-21 21:34] #5072 closed

[2020-12-21 22:34] braderhart commented on #5176
@briandealwis  Check this out:

[code]

[2020-12-21 22:40] braderhart commented on #5176
Because of this I also believe it is ignoring `useBuildkit: true` in my example above. To confirm I would likely need to downgrade to v1.6.0 and see if there is anything in the `-v debug`, but I don't see anything in the current `-v debug` indicating it is being used and the stdout from the build has changed significantly from v1.6.0 that leads me to that conclusion.

[2020-12-22 02:06] #5173 closed

[2020-12-22 03:21] cheslijones commented on #5175
Closing. Tried on a different computer, setup from scratch and was able to access the DB running in the cluster via `--port-forward`. Something is apparently not configured on this other computer.

[2020-12-22 03:21] #5175 closed

[2020-12-22 12:50] uvegla opened #5178 "Dockefiles using BuildKit feature Build Cache Mounts cannot be parsed"
### Expected behavior
Dockerfiles using BuildKit feature [Build Cache Mounts](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/syntax.md#run---mounttypecache) can be parsed by Skaffold.

### Actual behavior
If the Dockerfile contains a layer with for example `RUN --mount=type=cache,id=my-cache,target=/mnt/cache ...` then Skaffold fails in the Build stage with an error message

[2020-12-22 15:54] IsaacPD commented on #5178
This should have just been fixed with #5052, so by v1.18.0 or the next release this should be out, or you can use the bleeding edge version described here https://skaffold.dev/docs/install/

[2020-12-22 15:54] #5178 closed

[2020-12-22 16:39] thalford185 opened #5179 "Profiles with two activation criteria can cause patches to run twice"
### Expected behavior
Patches should run only once when the profile is activated.

### Actual behavior
Patches can run twice when the profile has two activation criteria.

In the example provided this causes a duplicate artifact definition.

### Information

- Skaffold version: v1.17.2
- Operating system: Ubuntu Server 16.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

[2020-12-22 21:23] amirsamary commented on #1766
I would also like to disable rebuilding the image during dev. I have a setup where the frontend is Angular and is working great with the sync feature.

But the backend is a database. I use skaffold to build the images for the database as well as deploying them on Kubernetes. The database has source code as well that is added to the Dockerfile during build. During development, I am using VSCode whi

[2020-12-22 21:55] amirsamary opened #5180 "Provide a way of disabling image building during dev profile"
Hi!

First of all: Great tool! I am evaluating it to use on an important project in my company and share it with our community of developers as a suggestion of tool for using our tech on Kubernetes.

### Expected behavior

Some technologies provide their own way of synching changes from the host machine into the container. For example, when using InterSystems IRIS and its VSCode plugin, one can sa

[2020-12-22 23:55] gsquared94 commented on #5180
Are you saying that Skaffold is rebuilding the backend image when you're only making non-backend related code changes? Or is it detecting the right changes and rebuilding it but you'd like to turn that off, even during `skaffold dev`?

Ideally if you're only making scoped changes to the frontend app then Skaffold should not rebuild backend everytime it rebuilds frontend. If that's happening it cou

[2020-12-23 02:24] euriostigue opened #5183 "Broken Check Cache Stage with Minikube and Buildkit"
### Expected behavior
[code]

### Actual behavior
[code]

The Dockerfile:
[code]

### Information

- minikube v1.16.0
- Skaffold version: v1.17.2
- Operating system:
[code]
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

After upgrading from skaffold v1.16 to v1.17.2, the hashing for cached images is broken. The same combination of Dockerfile, skaffold.yaml and build.sh

[2020-12-23 04:02] amirsamary commented on #5180
No. Everything works great with the frontend. Synchronization is just perfect and we enjoy it pretty much. It does not trigger the rebuild of the backend.

I just wanted to explain that we are making good use of Skaffold and we enjoy it a lot.

But there is this other piece of the application (the backend) where the synchronization feature is just not needed **during the dev profile**. When we are

[2020-12-23 05:15] gsquared94 commented on #5180
Got it. Glad you're finding the tool useful. We currently don't have a way to selectively disable file change monitoring per artifact. You could try running multiple instances - `skaffold dev` against the `frontend` service and `skaffold dev --autoBuild=false --autoSync=false` against the `backend` service.

I'll close this issue as a duplicate of https://github.com/GoogleContainerTools/skaffold/i

[2020-12-23 05:15] #5180 closed

[2020-12-23 13:39] zamai commented on #5183
Same thing is happening to me.
extract of my Dockerfile:
[code]
fails with:
[code]

docker version:
[code]

Skaffold 1.17.2

Downgrading to Skaffold 1.16.0 resolved the issue.

[2020-12-23 13:43] amirsamary commented on #5180
Is it at least in the roadmap?

I will try the autoBuild=false flag. Seems to be what I need since I don’t need any building whatsoever while running on the dev profile. I can build it with the build profile first, then start the dev profile with autoBuild=false.

But I would like to know if you think such a feature is ever coming to Skaffold?

Kind regards,
AS

Sent from my iPhone

[2020-12-23 15:34] amirsamary commented on #5180
Interesting. I can not find this flag: --autoBuild=false

Which version are you referring to?

I think that would be just perfect for me right now. I do hope though, that you guys consider adding a flag to the build.image API to prevent auto builds during dev.

Kind regards,
Amir Samary

[2020-12-23 17:43] Rio commented on #4445
I've run into the `--auto-*` flags just now. Any particular reason they're hidden? Are they not the recommended way to enable this typo of functionality?

[2020-12-23 19:05] #5179 closed

[2020-12-23 19:42] cmamigonian opened #5185 "Built image not showing when running "docker images""
I am unable to prune an image built using skaffold on my local machine, as running `docker images` after building does not show the built image.

### Expected behavior

After running `skaffold build/run` I should be able to run `docker images` and see the resulting image.

### Actual behavior

I do not see the built image

### Information

- Skaffold version: 1.17.2
- Operating system: CentOS 7.4

[2020-12-23 20:18] wojtek-viirtue commented on #4445
I agree with @Rio, it would be great if this was part of the `skaffold debug --help` output

[2020-12-24 01:24] gsquared94 commented on #5185
If the cluster is minikube then `skaffold` actually builds the image inside minikube's docker daemon. You can configure your environment to point at minikube's docker daemon by running `eval $(minikube -p minikube docker-env)`. Then `docker images` should show the built image.

[2020-12-24 01:35] gsquared94 commented on #5180
Oops! the flag is `--auto-build` and `--auto-sync`

[2020-12-24 01:42] gsquared94 commented on #5180
We do intend to have this feature eventually.

[2020-12-24 04:30] briandealwis commented on #5159
That sounds like you're hitting #4428.

[2020-12-24 06:16] quoctruong opened #5188 "Skaffold not using correct minikube binary in WSL2"
### Expected behavior
Skaffold should use `minikube` instead of `minikube.exe` when invoked inside WSL2 on Windows.

### Actual behavior
Skaffold using `minikube.exe` instead of `minikube` (see logs).

### Information

- Skaffold version:
[code]
- Operating system: WSL2 (Ubuntu 20.02) in Windows

### Steps to reproduce the behavior

1. Clone a Cloud Run Sample using Cloud Code for VSCode in WSL2.

[2020-12-24 06:17] quoctruong commented on #5188
@medyagh who may have more insights.

[2020-12-24 13:06] cmamigonian commented on #5185
Ah, makes sense. Thank you!

[2020-12-24 13:06] #5185 closed

[2020-12-24 14:34] msonnleitner opened #5189 "Set kustomize cross-cutting options using skaffold"
I have created an issue in kustomize about setting `namePrefix` und `nameSuffix` using the CLI: https://github.com/kubernetes-sigs/kustomize/issues/3390 However, kustomize's philosophy is that everything should be specified in files and not in CLI switches or env variables.

When using kustomize with skaffold though, this assumption no longer holds since skaffold needs to overwrite the image at le

[2020-12-24 17:10] dimkr commented on #5183
Same issue, same symptoms, Ubuntu 18.04 with `docker-ce` and any skaffold 1.17.x. 1.16.0 works.

[2020-12-24 17:18] dimkr commented on #5183
Probably fixed by #5052 and a duplicate of #5178 among others.

[2020-12-24 17:28] sherif84 commented on #3461
+1

this is a much needed feature for us too . our use case is below :

in our environment we have 2 image repos . dev.repo.com and lab.repo.com which are mirrors of each other . due to some networking restrictions , developers can only push to dev.repo.com and the k8s cluster in the lab can only pull from lab.repo.com .

[2020-12-24 21:47] 1Const1 commented on #4347
Hello. Have the same issue. Is there any way to work with different Kubernetes configs that located not in the one default directory?

if i use just --config /myfolder/.kube/config
than i get an error :
Error creating REST client config in-cluster: unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined

if i use --kubeconfig /myfolder/.kube/con

[2020-12-28 09:39] vinceferro commented on #5161
Same, I've tried with concurrency 1 but still no luck deploying. I think it started happening with skaffold v1.17.2, but really a lot changed.. For some reasons, with skaffold dev it doesn't happen to get the sigkill.. Mistery 😅

[2020-12-28 09:49] vinceferro commented on #5161
It was kubectl version, I downgraded it from v1.20 to v1.7.4!
Now I wonder if that is uniquely an issue with kubectl or the issue is combined with skaffold..

[2020-12-28 21:15] mr-bjerre commented on #4246
I'm having this issue as well if I'm setting namespace in `kustomization.yaml`. Then the sync doesn't work AND I don't get any stdout to my console.

Any fixes available?

[2020-12-28 21:32] no1melman commented on #2475
I think any way we can add extensibility to the API so we can leverage these features would be great. `AdditionalFlags` sounds great, I understand not creating specialised fields.

[2020-12-28 21:48] pre commented on #4246
There’s no fix, but I’ve been using the workaround I posted in the issue description. It works well, although it’d be nice if skaffold sync would not get broken when the namespace is changed.

[2020-12-28 23:32] euriostigue commented on #5183
My issue was resolved by using the bleeding edge release.

I'm going to close this issue because no action needs to be taken.

[2020-12-28 23:32] #5183 closed

[2020-12-29 15:58] IsaacPD commented on #5188
This should already be addressed in https://github.com/GoogleContainerTools/skaffold/pull/5124, we noticed this behavior seemed wrong and have removed it, it's in the bleeding edge version and will be included in the next release.

[2020-12-29 15:58] #5188 closed

[2020-12-29 16:01] IsaacPD opened #5195 "Determine which specific flags used to upload to metrics"
This issue is to determine which flags (e.g. "--port-forward") we want to keep track of in our metrics when keeping track of errors and commands used.

There are 4 different error metrics to consider:
- "errors": the least specific error metric that tracks all errors
- "errors/unknown": For unknown skaffold errors
- "deploy/unknown": For unknown deploy errors
- "build/unknown": For unknown build e

[2020-12-29 16:06] IsaacPD commented on #5089
Do we have a windows machine available to use for creating the installer? I have got some code that is able to create an installer using https://github.com/mh-cbon/go-msi but it requires a windows machine to use https://wixtoolset.org/

The installer can:

- Install to a user specified directory
- Add that directory to the user's PATH
- Uninstall skaffold and remove that directory from their path

[2020-12-30 09:24] vladimirfx opened #5197 "Gradle Jib build requires Docker command to build into Minikube"
### Expected behavior
Skaffold dev works on developer machine without Docker command and configured daemon connection.
### Actual behavior
As stated in docs (https://skaffold.dev/docs/quickstart/) Skaffold can use Minikube docker daemon with Jib to build local images. But Skaffold uses jibDockerBuild Gradle task witch requires local docker command (https://github.com/GoogleContainerTools/jib/tree/

[2021-01-01 18:19] abejide001 commented on #4661
I am having this error as well
`exiting dev mode because first build failed: unable to stream build output: Get https://registry-1.docker.io/v2/: dial tcp: lookup registry-1.docker.io on 192.168.49.1:53: read udp 192.168.49.2:56139->192.168.49.1:53: i/o timeout. Please fix the Dockerfile and try again..`
Please assist on how I can fix this

[2021-01-03 18:05] MoSattler commented on #4347
Same issue over here. I am super new to k8s and skaffold, but please let me know if I can help in any way to reproduce this.

[2021-01-04 16:31] rubenhensen opened #5200 "Log tailing shows chart name when using Helm"
### Expected behavior
When deploying a Helm chart the log tail should be [the pod name and container name if they’re not the same](https://skaffold.dev/docs/pipeline-stages/log-tailing/).
### Actual behavior
The log tail becomes the helm chart name, which makes different applications deployed with the same helm chart indistinguishable. e.g.:
[code]

### Information

- Skaffold version: version v1.

[2021-01-04 18:08] john-terrell opened #5201 "Building with Kaniko and private in-cluster registry fails to push: Authentication Required"
### Expected behavior
Skaffold is able to successfully push to the private registry.

### Actual behavior
Attempting to run a Kaniko build with an in-cluster registry fails to push (our private in cluster registry URL changed to \<local registry\> in the below:

[code]
### Information

- Skaffold version: v1.17.2
- Operating system: macOS Big Sur
- Contents of skaffold.yaml:

[code]

Secrets:
[cod

[2021-01-04 19:27] briandealwis commented on #5161
@vinceferro thanks for the update.  1.7.4 is pretty old, so you might be better off using the version corresponding to your kubernetes cluster.

I've since upgraded my personal laptop to Big Sur, and I'm unable to reproduce this problem with the officially provided [`kubectl` 1.20.0](https://kubernetes.io/docs/tasks/tools/install-kubectl/).  Could you let us know:
  - Which kubernetes distribution

[2021-01-05 18:53] gsquared94 opened #5204 "Relative paths in `skaffold.yaml` are interpreted relative to cwd instead of the file directory"
Relative paths defined in the `skaffold.yaml` file is interpreted relative to the cwd. It should be relative to the file.
This necessitates that CWD needs to be the directory of the skaffold.yaml for everything to work.
However, by common intuition and also to support multiple/distributed/remote skaffold configs the relative paths need to be relative to the file in which they are defined.
See belo

[2021-01-06 00:38] gsquared94 commented on #5204
Closing after discussing with @briandealwis  and @nkubala that this is the expected behavior.

[2021-01-06 00:38] #5204 closed

[2021-01-06 01:38] PriyaModali opened #5206 "Add skipTest boolean to Tester itself to avoid flag check in devloop"

[2021-01-06 07:52] taylortails opened #5207 "Regression: v1.17 skaffold run -> Unknown flag: mount"
I use the experimental Dockerfile syntax to enable a 'mount' to cache artifacts downloaded from maven central.

skaffold works in v1.16 - but breaks in v1.17 - I guess because of new dependency calculation code.

### Expected behavior

`skaffold run` should work as v1.16

### Actual behavior

[code]

### Information

- Skaffold version: v1.16 works, v1.17.0 doesn't, v1.17.2 doesn't
- Operating sys

[2021-01-06 09:17] MoSattler commented on #1692
Same here - a terraform deployer would be immensely helpful

[2021-01-06 09:30] chulkilee commented on #5201
Per https://github.com/GoogleContainerTools/kaniko/blob/master/README.md#pushing-to-different-registries it seems like you have to mount the docker config json in kaniko pod. Did you set [`build.cluster.dockerConfig`](https://skaffold.dev/docs/references/yaml/#build-cluster-dockerConfig) in skaffold?

(I'm also figuring this out... :wink: )

[2021-01-06 19:23] john-terrell commented on #5201
@chulkilee - You're amazing!   That was the fix!   I created a secret as specified in that kaniko link and scaffold was able to push to the registry.

[2021-01-06 19:24] john-terrell commented on #5201
I'm closing this issue based on the info from @chulkilee.   I think this does warrant an addition to the scaffold documentation to make this requirement clear.

[2021-01-06 19:24] #5201 closed

[2021-01-06 20:25] briandealwis commented on #5207
I think this has been fixed by #5052 as I can't reproduce at HEAD but can reproduce with 1.17.2.  Please try the bleeding-edge build at https://skaffold.dev/docs/install/

[2021-01-06 20:57] briandealwis commented on #5197
I suspect you're hitting a Jib compatibilty issue with Gradle 6.8 RC4, as this works fine with Gradle 5.5 (see below).  To get more information you can try running:
[code]

There appears to be some other compatibility issues with Jib and 6.8 RC4 (https://github.com/GoogleContainerTools/jib/issues/2966). Cc'ing @GoogleContainerTools/java-tools-build

[code]

[2021-01-06 21:41] taylortails commented on #5207
you are correct, the error does not occur in bleeding-edge b5ccab5. Thanks.

[2021-01-06 21:41] #5207 closed

[2021-01-06 21:55] chanseokoh commented on #5197
Unfortunately, Jib currently requires the docker CLI command (https://github.com/GoogleContainerTools/jib/issues/1997), as it runs `docker load` to push an image to a Docker daemon.

I don't think this is true. It seems that you can [download a `docker` client binary for MacOS](https://docs.docker.com/engine/install/binaries/#install-client-binaries-on-macos).

[2021-01-06 23:34] crimeminister opened #5209 "Expose name of kubectl command as configuration option"
From looking at the source it appears that the name of the `kubectl` command is [hard-coded](https://github.com/GoogleContainerTools/skaffold/blob/ff33ac0a47dde7bc035eec1be8ae1fce01fa97d9/pkg/skaffold/kubectl/cli.go). Would it be possible to expose this name as a configuration option? This should allow for easy usage of `kubectl`-alikes like [microk8s](https://microk8s.io/) that have non-standard

[2021-01-07 08:16] Seb-C opened #5210 "Skaffold fails when a container's status code is 1"
I have different pods that depends on mysql to start.
Each one of those pods implements the proper `readinessProbe` and `livenessProbe` to check the status of the pod.
If the application cannot start, the container stops with `exit 1` because connecting to MySQL is necessary to get the application to work.
Since there is no management of dependencies in kubernetes, the recommended way to handle th

[2021-01-07 10:52] vladimirfx commented on #5197
@briandealwis No we have no issues with Gradle compatibility and Jib (docker-less builder) is require Docker CLI for jibDockerBuild task.
@chanseokoh You are right - on MacOS Docker CLI can be installed simply. Thank you for correction.

It seems that this issue is more documentation issues than functional. Skaffold depends on Jib witch states itself as docker-less build solution... Skaffold + Jib

[2021-01-07 11:03] vladimirfx commented on #5197
To reproduce try to build https://github.com/GoogleContainerTools/skaffold/tree/master/examples/jib-gradle without Docker CLI:

[code]

[2021-01-07 11:15] vladimirfx commented on #5197
As workaround Jib issue https://github.com/GoogleContainerTools/jib/issues/1997 :
1. Use `jibBuildTar` output and loads it into Docker daemon by mean of Docker API.
Or
2. Skaffold may download (or bundle) platform dependent Docker CLI binary and pass it as `jib.dockerClient.executable` config param.

What do you think about it?

[2021-01-07 15:35] vinceferro commented on #5161
hey @bryanlarsen, just to give you more context, this is only happening with our fairly big application, with other smaller one this isn't happening.
Here's the answers:
- kubernetes 1.17+ / v1.17.12-eks-7684af, EKS managed kubernetes cluster
- the problematic one from brew, the working one from google's hosted binaries https://storage.googleapis.com/kubernetes-release/release/v1.17.4/bin/darwin/a

[2021-01-07 17:26] cheslijones commented on #5054
@IsaacPD Sorry for the delay, I'm circling back around to this.

I have the following setup:
- Minikube v1.16.0: `minikube --driver=docker` which is installed directly in WSL2 and running with a `minikube ip` of `192.168.49.2`
- Skaffold v1.17.2: also installed directly in WSL2
- Docker Desktop for Windows
- Enabled integration with WSL2 and specific this WSL2 instance

When I go to spin it up sti

[2021-01-07 22:13] #5149 closed

[2021-01-08 01:29] tstromberg opened #5214 "skaffold emits unhelpful error: `Build Failed. Check your GCR project.`"
To reproduce:

* Use new machine without gcloud installed or any credentials configured
* `gh repo clone tstromberg/triage-party`
* `cd triage-party`
* `skaffold dev -v trace`

Output:

[code]

This final error message, `Build Failed. Check your GCR project.`, isn't entirely useful:

* The actual problem is never shown. I suspect this was related to authentication, but maybe it's a networking erro

[2021-01-08 01:32] tstromberg commented on #5214
/cc @tejal29 @nkubala

[2021-01-08 10:40] gjcarneiro commented on #5095
I had this when activating the same profile twice (once per env. var, another time from command-line option).  Solved by not activating same profile twice.

[2021-01-08 14:03] briandealwis commented on #5197
How did I forget that Jib uses `docker load`!? 🤦

[2021-01-08 14:26] briandealwis commented on #5189
Skaffold calls out to `kustomize` to perform the deployment.  I'm not a Kustomize expert but from what I understand these dev-settings would typically be done through a Kustomize overlay.  You can then map these overlays to corresponding Skaffold profiles.  @nkubala may have other ideas too.

[2021-01-08 19:59] msonnleitner commented on #5189
It is true that this is typically done with overlays, but some tools, such as ArgoCD still provide an option to override that:
https://argoproj.github.io/argo-cd/user-guide/kustomize/

[2021-01-08 21:32] nkubala commented on #5210
@Seb-C this does sound like a bad experience. are you saying that skaffold *immediately* fails when one of the containers exits with error code 1, not after waiting the allotted 60 seconds for the status check?

would you be able to provide a small k8s manifest to reproduce this issue?

[2021-01-08 21:37] nkubala commented on #5209
@crimeminister interesting request. one issue with this is that we rely on several utilities of `kubectl` for various things in skaffold (e.g. port forwarding, pod logging, etc.) and we wouldn't be able to guarantee that whatever binary a user provides fulfills that spec. out of curiosity, have you tried replacing `kubectl` in your `PATH` with your alternative and trying skaffold on that? i'm wond

[2021-01-08 21:39] nkubala commented on #5200
@rubenhensen thanks for bringing this up, we should definitely change this.

[2021-01-08 21:52] nkubala commented on #5189
i'm not sure this is true. we do overwrite the image, but only to substitute newly-built tags, or to apply a previously specified default repo value. everything about the image name is known before runtime.

i guess i'm not totally sure the difference between specifying these settings in a `skaffold.yaml` vs. a `kustomization.yaml`? you're still embedding the values in a config file somewhere in a

[2021-01-08 22:48] pagmoro commented on #4846
I am unfortunately getting the same error with v1.17.2

DEBU[0004] FIXME: Got an status-code for which error does not match any expected type!!!: -1  module=api status_code=-1
copying sources: uploading build context:

[2021-01-09 00:40] msonnleitner commented on #5189
Well I thought I might use that for feature branches, i.e. do a Skaffold deployment for branches which might not be known in advance. So if I had a branch `feature/foo`, then I might want to have `namePrefix : foo`.

For comparison, with Helm it is possible to set the release name using a templated field and using the release name in the Helm chart to set Kubernetes resources based on the release

[2021-01-11 15:31] spmason opened #5216 "remoteManifests don't replace image on deployment if digest specified on existing deployment"
### Expected behavior

When using `remoteManifests`, if the deployed manifest contains an image digest then the image is not replaced with the one built by skaffold

### Actual behavior

The image is not replaced and a warning `WARN[0002] image [foo] is not used by the deployment` is printed

### Information

- Skaffold version: v1.17.2
- Operating system: MacOS Mojave
- Contents of skaffold.yaml:

[2021-01-11 22:01] cmamigonian opened #5218 "Is there a skaffold "debug" image that includes a shell?"
Basically this is just a question to see if `skaffold` has a "debug" image that comes with a shell so that someone can attach to a container and subsequently run `skaffold <cmd>`.  I thought I had seen somewhere that there was, but I can't find that statement again.  This is particularly useful for using `skaffold` in Jenkins CI in Kubernetes where a stage's steps has to be run in a shell.

[2021-01-12 00:22] go-nelango commented on #5085
@gsquared94 will this fix be in the next skaffold release?

[2021-01-12 03:50] crimeminister commented on #5209
I'll give it a shot and see what (if anything) blows up. Now you've got me curious as to just how compliant some of the alternative `kubectl` implementations are w.r.t. the original. Custom scripts sound like an interesting avenue for future exploration, thanks for mentioning the eventual possibility.

[2021-01-12 04:07] gsquared94 commented on #5085
@go-nelango yes, it should be part of the next release.

[2021-01-12 17:59] cmamigonian commented on #5218
Man I'm pretty dumb.  I thought I had checked if the basic `k8s-skaffold/skaffold` image had a shell and found it didn't, but double checking it clearly does.

[2021-01-12 17:59] #5218 closed

[2021-01-13 18:46] redborian opened #5228 "Excessive line breaks in output logs"
![image](https://user-images.githubusercontent.com/6260897/104495220-55e84580-558c-11eb-83aa-456b7706bd41.png)

### Expected behavior
The output logs do not contain excessive line breaks

### Actual behavior
The output logs contain excessive line breaks

### Information

- Skaffold version: v1.17

### Steps to reproduce the behavior

1. Perform a deployment in Cloud Code and observe the logs emitt

[2021-01-14 05:55] Seb-C commented on #5210
@nkubala I am sorry but I don't really have time to prepare an environment to show this. I expect that you can reproduce this just with a defined `statusCheckDeadlineSeconds` and a deployment whose container returns a non-zero exit code.

[2021-01-14 16:34] briandealwis opened #5231 "Travis tests fail with toomanyrequests"
Docker rate limiting seen on kind, but k3d too:
[code]

`kind` is straightforward to configure to use Travis' undocumented registry mirror.  `k3d` fails in odd ways.

[2021-01-14 16:41] briandealwis commented on #5231
[code]

Hmm but also seeing this error in in our [`checks`](https://api.travis-ci.com/v3/job/471791803/log.txt):
[code]

Maybe we should be less specific on image version tags?

[2021-01-15 03:47] briandealwis commented on #5231
Travis' registry-1.travis-ci.com appears to be a pull-through cache as [the lists of image tags for common images](https://api.travis-ci.com/v3/job/471858091/log.txt) seems very large.

[2021-01-15 15:37] #5074 closed

[2021-01-18 17:42] demisx commented on #5093
I am still having this issue in `v1.17.2`. Has the fix been released yet?

[2021-01-18 17:44] demisx opened #5241 "Close v1.17.2 milestone"
It appears to be completed and released.

[2021-01-18 18:13] rhyas commented on #1269
It's been over a year now since this got put in a milestone, yet it's still open. Is this ever going to be a thing? Or maybe some other less documented way of doing multiple tags been implemented that should be referenced here?

[2021-01-19 14:06] jon-butterworth opened #5242 "Artifact build order"
I can't seem to find a definitive answer for the default build order of resources in a profile.

[code]
I want to ensure that `BASE-IMAGE` is always built first, as it's used as `FROM` in the `Dockerfile` for `APP1` & `APP2`.

I've tried using `requires` but am blocked by using v1 - there doesn't seem to be solid documentation surrounding what is available in v1 and more importantly, the changes n

[2021-01-19 14:19] robinbryce opened #5243 "Is it possible to disable image push for a single image ?"
Feature or guidance request

Is it possible to disable image push for a single image ?

We are trying to build an ephemeral base image using this new feature:

https://skaffold.dev/docs/tutorials/artifact-dependencies/

And then have most of the subsequent images in the build be FROM the alias.

But we do not want to take the (significant) hit of pushing that image to our repo

[2021-01-19 14:29] Edblakejitsuin opened #5244 "push dependencies"
### Expected behavior

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
3. ...

[2021-01-19 14:29] #5244 closed

[2021-01-19 17:54] tejal29 opened #5245 "FL - Investigate "STATUS_CHECK_UNKNOWN_EVENT" when nodes could be scheduled."
More info:
https://docs.google.com/document/d/17ynp09-cpsBqD5zxm-3GYTQRpY4zWoHOBnzSPH8X1YA/edit#

[2021-01-19 18:06] #5005 closed

[2021-01-19 18:27] drewpca commented on #5005
Thanks, gunadhya!

[2021-01-19 18:37] tejal29 commented on #5106
Sorry this spilled my attention.
I will try to see if we can make this happen this release.
/cc @gsquared94 , @nkubala , @marlon-gamez @IsaacPD any takers?

[2021-01-19 18:41] MarlonGamez commented on #5106
@tejal29 I can work on this 👍 do we have an idea of what the default timeout should be set to?

[2021-01-19 18:50] tejal29 commented on #5106
The default time should be 10 mins which is the default for deployments to stabilize.
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#failed-deployment

[2021-01-19 18:56] tejal29 commented on #4692
We have now reduced unknowns to 23% of all failure that happen or 3% of total sessions

[2021-01-19 18:59] tejal29 opened #5246 "Come up with a design document to reduce Unknowns error in skaffold."
As per #4692,

In v1.17.2 we have reduced unknowns from 68% to 23%.
Unknowns are still 1/4 of all failure reasons and we need more insights on how we could reduce these unknowns.

@briandealwis will be working on this.

[2021-01-19 18:59] tejal29 commented on #4692
Closing this in favor of https://github.com/GoogleContainerTools/skaffold/issues/5246

[2021-01-19 18:59] #4692 closed

[2021-01-19 21:40] mlb6 commented on #5093
Having the issue as well. #5052 is merged to master but not tagged yet. You can downgrade to [v1.16.0](https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.16.0) to make it work.

[2021-01-19 22:59] gsquared94 commented on #5228
These messages are outputted to the event API. I don't think we add the excessive line breaks in Skaffold. Does  https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/pull/3915 fix this?

[2021-01-20 04:30] briandealwis opened #5248 "Maven builds sometimes fail with connection resets"
Seen on Travis surprisingly often:
[code]

Similar complaints abound on the internet.  Suspicion is that Maven Central's CDN times out connections resulting in a connection reset.

Some relevant reading:
- [WAGON-545](https://issues.apache.org/jira/browse/WAGON-545) and [WAGON-603](https://issues.apache.org/jira/browse/WAGON-603)
- actions/virtual-environments/issues/1499

[2021-01-20 16:05] IsaacPD commented on #5242
On the skaffold.dev site there is a reference for what is available for all versions of the skaffold.yaml at https://skaffold.dev/docs/references/yaml/ and for specifically v1 you can see https://skaffold.dev/docs/references/yaml/?version=v1

If you want to update your skaffold.yaml to v2  you can use the command
[`skaffold fix`](https://skaffold.dev/docs/references/cli/#skaffold-fix) to update to

[2021-01-20 16:11] IsaacPD commented on #5228
@gsquared94 That issue you linked is in a private repo so we can't see it 😓

[2021-01-20 16:18] briandealwis opened #5249 "Flake: TestDebug/helm time out"
Seeing periodic failures of `TestDebug/helm`.  It looks like the actual `debug` deployment is in progress but 1min is not sufficient.  It seems surprising that the last log `Deployment` message is at 10:34 but the `kubectl get deploymens.app` is at 11:23 — why did nothing else happen in the time.

[code]

[2021-01-20 16:49] briandealwis commented on #5249
Ah `TestDebug` uses our [`GetPod()`](https://github.com/GoogleContainerTools/skaffold/blob/dafb4152be74c7cd7d363790f2099f2b6f057ac3/integration/debug_test.go#L98) and [`GetDeployment()`](https://github.com/GoogleContainerTools/skaffold/blob/dafb4152be74c7cd7d363790f2099f2b6f057ac3/integration/debug_test.go#L105) helpers to get the corresponding objects.  `GetClient()` eventually called out `WaitFo

[2021-01-20 17:10] pagmoro commented on #4846
Hi @briandealwis - just checking if you got a chance to take a look?

[2021-01-20 17:22] IsaacPD opened #5253 "`skaffold schema get` and `skaffold credits` don't work when secret credentials exist"
`skaffold credits` and `skaffold schema get` fail and don't work as intended when a metrics credential secret is provided during the `make` process. Basically a repeat of https://github.com/GoogleContainerTools/skaffold/issues/3428

### Expected behavior
`skaffold schema get skaffold/v1` prints the schema for `skaffold/v1`
### Actual behavior
`skaffold schema get skaffold/v1` prints

[code]
### In

[2021-01-20 18:50] IsaacPD commented on #5253
Strangely `skaffold credits -d dir` when working also doesn't write directory to `dir` but instead to `dir/..` as can be seen here https://github.com/GoogleContainerTools/skaffold/blob/dafb4152be74c7cd7d363790f2099f2b6f057ac3/cmd/skaffold/app/cmd/credits/export.go#L44

[2021-01-20 18:50] #5106 closed

[2021-01-20 19:34] briandealwis commented on #5241
Done!

[2021-01-20 19:34] #5241 closed

[2021-01-20 19:49] briandealwis commented on #5242
Although the Skaffold config format shows version `v2beta10`, it's not really a beta but rather a limitation of using the Kubernetes Resource Model approach of versioning.

By way of background: Skaffold's config adopted KRM as it seemed appropriate for a Kubernetes-oriented tool, plus it supported using other tools in the Kubernetes ecosystem to manage or synthesize `skaffold.yaml` files (e.g., u

[2021-01-20 19:49] #5242 closed

[2021-01-20 20:06] briandealwis opened #5255 "Flake: error looking up sevice account in `kind`"
Seen in a `kind` run:

[code]

<details>
<summary>full log</summary>

[code]

</details>

[2021-01-20 21:04] briandealwis commented on #5161
I'm baffled — your debug log only shows `kubectl` being executed a single time.  And it doesn't explain why Skaffold is being killed.

I'll leave this open in case others have a similar issue and can shed some light.

[2021-01-20 21:04] LeDominik opened #5257 "Registry synonym"
I have the situation that on OpenShift (and this seems to be normal here) that there's two URL's for an image. These "image streams" show two urls: Image Repository (what I need in my K8S yaml's) and Public Image Repository (what I use in Skaffold / jib /...). Different hostname/port but same path. Now of course skaffold tells me that it doesn't know the image that is in the YAML because it's not

[2021-01-20 21:18] briandealwis commented on #5054
@cheslijones could you run `skaffold dev --port-forward -vdebug` so that we get more verbose debugging logs?

It looks to me like Skaffold isn't actually building to `minikube`.  Where are you running minikube from?

[2021-01-20 21:57] briandealwis commented on #5228
This text is generated from events raised by Skaffold, and those event messages do not include newlines.  The newlines are being added within CC-VSC.

https://github.com/GoogleContainerTools/skaffold/blob/e6b27a55bd2b092e412ca68fee1de15257575705/pkg/skaffold/event/event.go#L546-L555

[2021-01-20 21:58] #5228 closed

[2021-01-20 22:07] briandealwis commented on #5054
Oh and `kubectl config get-contexts` would be helpful too.

[2021-01-20 22:43] #1273 closed

[2021-01-21 01:46] #5253 closed

[2021-01-21 03:32] briandealwis commented on #5249
Hurray, the logs finally reveal the problem:
[code]

(Why doesn't this happen locally!?)

[2021-01-21 08:37] TBBle opened #5259 "Profile patch with invalid `op` reports "invalid path" instead of "invalid op""
### Expected behavior

An invalid `op` in the `profile.patches` list should complain that the op is invalid, i.e.,

[code]

### Actual behavior

An invalid `op` in the `profile.patches` list complains that the *path* is invalid, i.e.

[code]

It wasn't until I went to look at the spec after about a half-hour of trying to rewrite, rephrase, or simply respell the path, and then hunting through Skaff

[2021-01-21 08:44] TBBle commented on #5259
The fix should be simple enough. Instead of [making up an error if *anything* is wrong with the patch attempt](https://github.com/GoogleContainerTools/skaffold/blob/v1.17.2/pkg/skaffold/schema/profiles.go#L234-L236), perhaps skaffold should propagate [the error we got from yamlpatch](https://github.com/GoogleContainerTools/skaffold/blob/v1.17.2/pkg/skaffold/schema/profiles.go#L250-L262) and show t

[2021-01-21 09:40] robinbryce commented on #5243
If it helps with the architecture, having tagged an image as "don't push" we would consider it an error for our kubernetes manifests to try and use that image. So "ephemeral" would be just as good for us.

[2021-01-21 14:23] polly95 opened #5260 "Pruning now working when custom base image is used"
I have a Dockerfile that uses a custom base image. The custom base image used is based on another custom base image.
That is there are three locally built images with the following dependency: final_image <- custom_image2 <- custom_image1 <- docker_base_image

Everything builds and deploys properly, but during pruning it fails to prune the custom base images, but it prunes the final ones.

### Exp

[2021-01-21 15:14] briandealwis opened #5261 "Flake: TestInitCompose"
Flake seen on Travis:

[code]

The panic isn't very useful since it's showing the test runner, not the actual Skaffold instance being tested.

[2021-01-21 15:33] JovanShandro opened #5263 "Error when running skaffold dev: docker build error invalid reference format"
I am trying to use skaffold for development and after running skaffold init, the following skaffold.yaml file was generated:

[code]

Whenever  I run skaffold dev I keep getting the following error:
[code]

I am using an ubuntu machine and minikube for creating the cluster.
Any idea what could be causing this error?

Thank you!

[2021-01-21 15:39] briandealwis opened #5264 "Flake: TestDiagnose/bazel times out"
[TestDiagnose/bazel](https://api.travis-ci.com/v3/job/473483182/log.txt) failure.  What's odd here is that from the output ("Ran in 2 minutes ...") the test seems to have succeeded, but goroutine 270 seems to indicate that it's still executing an external command.

Is it possible this test is running in parallel? (though wouldn't there be a log statement for the command?)

[code]

[2021-01-21 16:32] JovanShandro commented on #5263
I figured what was causing the issue. My fault.

[2021-01-21 16:32] #5263 closed

[2021-01-21 17:35] briandealwis opened #5265 "Flake: kokoro failed "unknown blob""
Seen on Kokoro:
[code]

[2021-01-21 18:39] IsaacPD opened #5266 "`skaffold credits -d dir` writes to "dir/../skaffold-credits" and not "dir""
### Expected behavior
[code]
### Actual behavior
[code]
### Information

- Skaffold version: version v1.17.2
- Operating system: macOS & Windows

### Steps to reproduce the behavior

1. skaffold credits -d ~/credits
2. ls ~/credits
3. ls ~/skaffold-credits

[2021-01-21 19:01] briandealwis commented on #5248
Still [being seen](https://api.travis-ci.com/v3/job/473945864/log.txt):
[code]

[2021-01-21 19:33] briandealwis commented on #5248
[Maven Wagon HTTP defaults](https://github.com/apache/maven-wagon/blob/master/wagon-providers/wagon-http-shared/src/main/java/org/apache/maven/wagon/shared/http/AbstractHttpClientWagon.java):
- `maven.wagon.http.retryHandler.class` = `standard`
- `maven.wagon.http.retryHandler.requestSentEnabled` = `false`
- `maven.wagon.http.retryHandler.count` = 3

The default retry handler (`DefaultHttpRequestR

[2021-01-21 21:16] briandealwis commented on #5264
In `TestDiagnose/jib-multimodule` this time [log](https://api.travis-ci.com/v3/job/473985115/log.txt).  There's no `Ran in` this time, so at least the hang looks "normal".
[code]

[2021-01-22 00:33] kodeninja commented on #4669
@tstromberg @nkubala

Any workaround for this (with `v1.17.2`)? I leverage skaffold in a CI for deployments, and am facing the same issue. The deployment takes about 3-3.5 minutes to complete, but skaffold borks after 2 minutes, causing the CI deploy job to fail, even though the actual deployment is successful 😒.

[code]

[2021-01-22 01:51] kodeninja commented on #4669
Hmm... adding `spec.progressDeadlineSeconds: 540` in the deployment yaml _seems_ to be working. Need to test more.

[2021-01-22 17:18] briandealwis commented on #5261
Seen [again](https://api.travis-ci.com/v3/job/474341999/log.txt) and [again](https://api.travis-ci.com/v3/job/474341999/log.txt).  These are both on k3d.

[2021-01-22 17:19] briandealwis commented on #5261
And [again](https://api.travis-ci.com/v3/job/474341999/log.txt)! (k3d again, though I can't think of why that should matter.)

[2021-01-22 17:29] briandealwis commented on #5248
Placing the following into `<top-level>/.mvn/jvm.config` seems to do the trick:
[code]

From [stack-traces](https://stackoverflow.com/q/42024619/600339) the connection reset is raised in a `java.net.SocketException `, so if using the `default` retry-Handler (which isn't actually the default) will require explicitly specifying the `maven.wagon.http.retryHandler.nonRetryableClasses` property.

[2021-01-22 19:57] #5266 closed

[2021-01-22 20:40] briandealwis commented on #5261
🤦  The timeout is coming from the top-level `go test -timeout 20m`, not the individual test: our tests are taking too long.

[code]

Apparently time to rebalance these test partitions.

[2021-01-22 21:05] dsutphin opened #5278 "v1.18.0 Release "our design document" broken link"
The "our design document" link goes to https://github.com/GoogleContainerTools/skaffold/blob/v1.18.0/tinyurl.com/skaffold-multi-configs which is invalid.

[2021-01-22 22:15] IsaacPD commented on #5278
Thanks, Good catch! I just edited it, as i'm sure you are aware the proper link should be https://tinyurl.com/skaffold-multi-configs

[2021-01-22 22:15] #5278 closed

[2021-01-23 01:36] briandealwis commented on #5216
This behaviour is intentional @spmason, but we're looking to make this behaviour configurable.

[2021-01-23 01:44] briandealwis commented on #5260
@gsquared94 it looks like we might need to apply a toposort to the images for pruning/cleanup.

[2021-01-23 03:21] aliwatters opened #5283 "[SOLVED] skaffold with microk8s fails with "Could not connect to cluster microk8s due to... x509: certificate signed by unknown authority""
### Expected behavior
examples work with microk8s

### Actual behavior
they don't (for me)

### Information
[code]

- Contents of skaffold.yaml:
examples/getting-started/skaffold.yaml

[code]

### Steps to reproduce the behavior

Try to get started with skaffold, hitting lots of issues. So I went back to basics and tried to get the examples running:

1. cloned https://github.com/GoogleContainerToo

[2021-01-23 04:38] briandealwis commented on #5248
Still happening in the buildpacks tests ([log](https://api.travis-ci.com/v3/job/474501268/log.txt) from #5279)

[2021-01-23 05:07] briandealwis commented on #5283
Skaffold doesn't use microk8s's own kubectl.   Have you exported your microk8s configuration using `microk8s config` ([reference](https://microk8s.io/docs/working-with-kubectl))?  Does `kubectl get all` work?

[2021-01-23 05:10] briandealwis commented on #5283
#3571 has some details on what others needed to do for microk8s.

[2021-01-23 14:29] waaghals commented on #4033
As I was struggling quite a bit with running skaffold from docker. I will share my findings as I'm sure it will be helpful for others.
My example uses minikube but I expect configuration for other clusters to be similar.

This all gets rather complicated real quick. But my goal is to create a bash alias which will be sourced in bash. This way I can be sure that all the developers run the exact sam

[2021-01-23 14:59] aliwatters commented on #5283
Thank you Brian -- yes -- kubectl has been working great with k8s setup, `kubectl get all` etc.

But I am running an alias of kubectl as detailed here; https://github.com/GoogleContainerTools/skaffold/issues/3571#issuecomment-578559978 -- appreciate the lead :)

Will report back with what works.

[2021-01-23 15:07] aliwatters commented on #5283
That was faster than I'd hoped! -- I also hadn't exported config, looks to be working now I've done that.

[code]

[2021-01-23 15:08] #5283 closed

[2021-01-23 15:35] aliwatters opened #5284 "Skaffold Snap (ubuntu linux et al) -- old version in snapcraft.io"
### Expected behavior
On ubuntu (and other) linux installations.

`$ snap install skaffold` -- should install the latest stable version of skaffold

### Actual behavior
Currently installs a version from March 2019, v0.25.0

### Information

https://github.com/tuapuikia/skaffold-snap -- is this the publisher? (dates line up)

https://snapcraft.io/skaffold -- the snap page.

A `snapcraft.yaml` in th

[2021-01-24 04:02] onpaws opened #5285 "Enabling Kaniko on the included nodejs example project appears to break hot reload"
Not sure if what I'm seeing is a bug, please redirect me to the right place as appropriate.

I'm trying to track down why introducing Kaniko[1] to the example [nodejs] project appears to break hot reload.

### Steps to repro

1. Edit the [example]'s skaffold.yaml: under the `build` section [add] a `cluster:` stanza (I found I had to make a few add'l edits - complete **skaffold.yaml** below)
2. Wit

[2021-01-25 03:02] go-nelango commented on #5085
Thanks @gsquared94 ! When is the new version expected to be available in gcloud?

[2021-01-25 09:36] spmason commented on #5216
Do you know the reasons for this @briandealwis ? I couldn't find any discussion about it

I'd think that at least in the case of `remoteManifests` there's a case that Skaffold should always overwrite the deployed image..

[2021-01-25 14:34] briandealwis commented on #5042
Found a Go program, [`makefat`](https://github.com/randall77/makefat), for producing multi-arch ("fat") binaries for macOS/Darwin.

[2021-01-25 14:51] briandealwis commented on #5257
Duplicate of #3461

[2021-01-25 14:51] #5257 closed

[2021-01-25 15:40] LeDominik commented on #3461
I want to highlight form duplicate #5257 that I've experienced the issue with 2 repo-names as well. This seems to be standard behaviour on OpenShift's "image stream" registry... you upload to the externally reachable one but pull from the exclusively internal service.

[2021-01-25 16:41] briandealwis commented on #5159
Could you include your full debug logs please @taisph?  Does it make a difference if you remove the `kubeContext`?

[2021-01-25 17:08] briandealwis commented on #4815
Closing as this is not a Skaffold issue.

[2021-01-25 17:08] #4815 closed

[2021-01-25 17:09] briandealwis commented on #4867
@gsquared94 do you foresee any issue if we change (or strictly define) the order of application of profiles?

[2021-01-25 17:16] briandealwis commented on #4875
@yuwenma Looking at the code, I don't see where specifying the `secretName` would make any difference:

https://github.com/GoogleContainerTools/skaffold/blob/cc1fe7eea752d4b7151b2eff635eaa12b491dd57/pkg/skaffold/build/cluster/secret.go#L122-L134

And the default secret name is set on startup:
https://github.com/GoogleContainerTools/skaffold/blob/cc1fe7eea752d4b7151b2eff635eaa12b491dd57/pkg/skaffol

[2021-01-25 17:46] gsquared94 commented on #4867
we recently fixed this to only apply each profile once.

I don't think it'd cause any issue other than maybe break someone if their somehow relying on the current apply order. 🤷🏾‍♂️

[2021-01-25 19:12] MarlonGamez opened #5289 "hack/new_version.sh doesn't properly update skaffold config files if they aren't named "skaffold.yaml""
### Expected behavior
Running `hack/new_version.sh` updates all skaffold configs in `integration/examples`

### Actual behavior
Config files not named `skaffold.yaml` don't get updated

### Information
This was noticed on https://github.com/GoogleContainerTools/skaffold/pull/5279, as a few config files weren't updated. This seems to be because of this piece of code in `hack/versions/cmd/new/versio

[2021-01-25 19:17] gsquared94 commented on #4669
@kodeninja  you can also update this property directly in the `skaffold.yaml`:
[code]
we've also changed the default to 10 minutes in the latest release.
Closing as the original issue is fixed.

[2021-01-25 19:17] #4669 closed

[2021-01-25 20:09] gsquared94 commented on #5176
@braderhart  I'm wondering if the profile isn't being applied correctly. Can you try embedding this `build` stanza directly in the main pipeline instead of using a profile and see if you still encounter this issue?
[code]

[2021-01-25 20:40] gsquared94 commented on #5285
Can't say I understand `nodejs` that much but from the [`packages.json`](https://github.com/GoogleContainerTools/skaffold/blob/v1.18.0/examples/nodejs/backend/package.json) file I can see that nodemon is only used in the `development` runtime:
[code]
You've commented out the `buildArgs` section in your `skaffold.yaml` so the image is being build with `ENV=production`:
[code]

Can you uncomment tha

[2021-01-25 21:16] yuwenma commented on #4875
This issue happens when the skaffold build is run via gitlab CI which has its own machines to run the builds. So I guess running multiple-builds are possible? Does skaffold expect to support the gitlab CI use cases? If that's of low priority, I think we can close this issue now.

[2021-01-25 21:43] medyagh opened #5292 "site: enable offline search remove ads in results"
Skaffold Search shows google ads in the results

![Screen Shot 2021-01-25 at 1 42 42 PM](https://user-images.githubusercontent.com/4564227/105769912-6052f980-5f13-11eb-98d3-4c52b2cdd41c.png)

[2021-01-25 21:48] briandealwis opened #5293 "use minikube context annotations in ~/.kube/config"
[minikube 1.17.0](https://github.com/kubernetes/minikube/releases/tag/v1.17.0) now includes [annotations on the context and cluster elements](https://github.com/kubernetes/minikube/pull/10126) in the `~/.kube/config` that identify it as minikube:

[code]

We should use these details in our is-minikube test and eventually can cut out the old-style `minikube profile list`.

[2021-01-25 21:50] #5171 closed

[2021-01-25 22:35] briandealwis commented on #5176
And can you include your `~/.skaffold/config` too please?

[2021-01-25 22:38] #5292 closed

[2021-01-25 23:10] #5289 closed

[2021-01-25 23:35] fsladkey opened #5296 "Errors passing JSON --artifact to skaffold init in version 1.18.0"
## Errors passing JSON --artifact to skaffold init in version 1.18.0

Hey Skaffold folks, just ran into this after upgrading and wondering if it's a mistake on my part, a bug or perhaps the expected format has changed.

### Expected behavior
When running `skaffold init` with `--artifact` flag with JSON, the command should create a `skaffold.yaml` file.

Command:
`skaffold init --force --artifact='

[2021-01-26 00:55] onpaws commented on #5285
Thanks for the prompt reply, and also for trying to tackle `nodejs`! :)

Yes, thanks for noticing that. It was actually deliberate, turns out leaving that uncommented results in
[code]

[2021-01-26 01:04] nkubala commented on #1269
@rhyas this one is in our backlog milestone right now, which is our (not so clear) way of signaling that this issue is valid and would be a great addition, but we don't have the bandwidth to prioritize it right now.

I think this would be possible with our new [multiple config](http://tinyurl.com/skaffold-multi-configs) feature which just shipped with v1.18.0 - you could create a config stanza for

[2021-01-26 01:08] nkubala commented on #5243
@robinbryce this isn't currently possible in our artifact model, but in theory wouldn't be so difficult to add, and definitely would be useful for building base images with skaffold. we likely won't be able to prioritize this right now though, but we would always be grateful for a contribution!

[2021-01-26 01:11] nkubala commented on #5218
😄

[2021-01-26 01:17] onpaws commented on #5285
I also tried to introduce the same `buildArgs` to the `cluster` section, which if I understand right is the intended way to pass build args into Kaniko's builder? It didn't fix the issue, yet.

[code]

Going to read this next and try to grok things a bit better https://github.com/GoogleContainerTools/skaffold/blob/ff33ac0a47dde7bc035eec1be8ae1fce01fa97d9/docs/design_proposals/sync-auto-support.md#

[2021-01-26 01:22] nkubala commented on #4445
@Rio the flags were originally hidden so we could continue work on the feature and make sure the user experience was up to par before we advertised them, but they should be working as intended now and I think we should unhide them.

[2021-01-26 01:31] nkubala commented on #169
we're trying to better understand Helm usage especially as it relates to skaffold, so I'm going to reopen this issue to continue the conversation.

in an ideal world we'd like to be able to extend our deployer interface to expose a spec which can be implemented by new (and potentially community-contributed) deployers. naturally I think if we're supporting Helm, then Helmfile could likely implement

[2021-01-26 01:50] nkubala commented on #5144
this is an interesting use case, and one skaffold doesn't really have a great answer for.

our support for [multiple configs](https://tinyurl.com/skaffold-multi-configs) might help here. you could configure your deployments in two separate deployment YAMLs, invoke the PVC one using `skaffold run --module skaffold-pvc.yaml`, and then iterate on the application one using `skaffold dev --module skaff

[2021-01-26 01:59] nkubala commented on #4839
@StarpTech not necessarily, I'm still trying to wrap my head around your question. I think part of it centers around the debate between client-side vs. cluster-side tooling for development, which is very nuanced and is rooted a lot in the type of actions your development workflow is centered around.

for iterative application development, client-side tooling makes sense - you're developing on your

[2021-01-26 02:08] nkubala commented on #5296
this does seem like a regression, though I'm not entirely sure which change caused it. cc @MarlonGamez any ideas?

[2021-01-26 02:11] nkubala commented on #5085
I think their release cadence is weekly on Thursdays? I should have their code updated to the new binary tomorrow so whenever their next release goes out.

[2021-01-26 04:22] treyhyde commented on #3218
i just ran into this after update to .19.

There is some app that continually adds gcr entries in my .docker/config.json... I don't have the gcr helper..
Got some warning from skaffold that it was skipping my helpers because the google cloud helper wasn't on my path.  I don't care much about that since I use ECR.   Deleted gcr entries from the config and skaffold works fine again to pull ECR image

[2021-01-26 06:52] gsquared94 commented on #5285
Gotcha. I still feel strongly about the `NODE_ENV` not being set to `development`. Does explicitly setting that in the [Dockerfile](https://github.com/GoogleContainerTools/skaffold/blob/efd0c52a28caa21bdc3e3f9ce3bbc18c42c94418/examples/nodejs/backend/Dockerfile#L8) work any different?

[code]

[2021-01-26 11:23] onpaws commented on #5285
Turns out your intuition was right 👍

<details>
<summary>logs after editing Dockerfile with ARG ENV=development</summary>

[code]

The critical bit is once we get
[code]
then after editing 'Hello World' to e.g. 'Hi World' and saving, this time, voila:
[code]
</details>

Great job, many thanks!

If you have a moment could you please speak a bit to the way this works?
Sounds like the hot reload conn

[2021-01-26 17:35] briandealwis commented on #5296
`git bisect` reports that it was caused by #5120.

[2021-01-26 17:49] IsaacPD commented on #5296
Ah that looks like it's me then, I'll take a look at what it could be.

[2021-01-26 17:58] MarlonGamez commented on #5296
@IsaacPD Looks like the issue is just that the flag add method needs to be defined as StringArrayVar. With #5120 it's getting auto set to StringSliceVar which is causing the issue

[2021-01-26 18:04] shibumi commented on #169
@nkubala  Hi, thanks for reopening this issue.

We are deploying all of our resources via Helm/Helmfile. Our build chain looks as follows right now.
We have dedicated project repositories. These repositories either contain one helm chart with a values file or they contain a helmfile for creating several helm charts at once. For this we have a self-build tekton pipeline that checks out each reposit

[2021-01-26 19:21] briandealwis opened #5300 "Go-based examples break with debug"
`container-debug-support` updated Delve to 1.5.1 which raised the [minimum Go version supported](https://github.com/go-delve/delve/pull/2133) to Go 1.13 (there was nothing noted in the release notes).  As a result, debugging programs using Go 1.12 now break.

### Expected behavior

`cd examples/getting-started && skaffold debug` should work

### Actual behavior

[code]

[2021-01-26 19:38] kervel opened #5301 "skaffold dependency resolving (for file sync) is not recursive"
### Expected behavior

I use skaffold with multiple artifacts that are dependent one on another. In the "parent" artifact, the dockerfile contains an ADD statement. The parent artifact is not actually used, its just some common stuff that gets pushed to all child artifacts that then are used in a helm chart.

I'd like to sync my files directly to the "children".

### Actual behavior

Skaffold dete

[2021-01-26 20:57] #5296 closed

[2021-01-26 21:01] #4517 closed

[2021-01-26 21:22] gsquared94 opened #5302 "[multi-config skaffold] Implement referencing Git repos as dependencies"
Issue to track feature from [`multi-config support`](http://tinyurl.com/skaffold-multi-configs):

The required skaffold config can live in a remote git repository
[code]

[2021-01-26 21:44] briandealwis commented on #5284
Thanks @aliwatters.  We're looking to produce signed binaries (#2154), so I don't think having separately-produced binaries in Snapcraft would be desirable.  But their Github action might work well for us as a publishing step.  Would you be interested in taking a stab?

[2021-01-26 21:47] briandealwis commented on #5197
Closing since this is really a [Jib issue](https://github.com/GoogleContainerTools/jib/issues/1997). Skaffold doesn't download executables.

[2021-01-26 21:47] #5197 closed

[2021-01-26 21:53] gsquared94 commented on #5285
I think it's actually contingent on using `nodemon`. From this [`packages.json`](https://github.com/GoogleContainerTools/skaffold/blob/v1.18.0/examples/nodejs/backend/package.json) it seems to only run `nodemon` when run in `development` mode. It does not have anything to do with the builder you use, Kaniko or Docker.

While the image used to start the container is static you can do all sorts of t

[2021-01-26 21:53] IsaacPD opened #5303 "release skaffold metrics"
Release skaffold metrics to our users and inform them of what telemetry we are collecting.

[2021-01-26 22:19] MarlonGamez commented on #3905
Hi all, just wanted to give a quick update on this issue. We're currently working through some broad sweeping changes in skaffold and are figuring out how to address this issue properly. We'd really like to have a good working solution for user's needing this functionality, and will try to keep updated on this. Thanks for being patient :)

[2021-01-26 22:24] fsladkey commented on #5296
Thanks everyone!

[2021-01-26 23:26] MarlonGamez commented on #4641
Leaving a quick update on this: We're still trying to figure out the broader story for deploy in skaffold and how CRDs tie into that. We're hoping to have some improvements soon once we decide upon how we want things to work with some upcoming changes. Thanks for being patient with this

[2021-01-27 01:48] briandealwis commented on #5255
[Another occurrence on a `kind` run](https://api.travis-ci.com/v3/job/476660223/log.txt).  In the test log I notice:
[code]

And indeed, there are no `k8s/*.yaml`.  That's the default for the `kubectl` deployer:
https://github.com/GoogleContainerTools/skaffold/blob/8848703c9da3b977e091d49465c7bbc29e64d662/integration/testdata/debug/skaffold.yaml#L31-L35

[2021-01-27 02:16] briandealwis commented on #5255
Ah yes:
[code]

[2021-01-27 02:51] #5255 closed

[2021-01-27 07:56] vladimirfx commented on #5197
Can it be mention in Skaffold docs?
New users will not wast time for adapting its projects if Docker is not available.

[2021-01-27 09:03] tonsV2 commented on #169
Helmfile is to Kubernetes as docker-compose is to Docker. I use it to deploy a collection/stack of helm charts.

The credentials for those charts are interpolated from environment variables. I use direnv for the purpose.

So if I want to install the helm chart without helmfile I'll have to copy in the credentials thus have uncommitted, or ignored, files laying around in the project which leads to

[2021-01-27 09:35] shibumi commented on #169
@tonsV2 thanks for your comment. I just want to add that the helmfile environments are the major advantage of helmfile over helm. With helm it is possible to have multiple value files, but managing these is very toilsome. With environments we are able to use gotemplating on different environments for different usecases (stage cluster, minikube, production cluster, different customers, etc). This w

[2021-01-27 09:51] tonsV2 commented on #169
@shibumi Yes, with helmfile I can have different versions of my charts running in different environments which is a very fundamental and crucial use case.

The stack for my a small server of mine can be found [here](https://github.com/tonsV2/nuc-stack).

[2021-01-27 12:41] shibumi commented on #169
@tonsV2  ah ok interesting. We go even one step further and we merge different environments in each other. This way we do not repeat the same values all the time that are being shared between environments.

[2021-01-27 14:53] briandealwis commented on #5264
The overall suite of tests are taking too long (https://github.com/GoogleContainerTools/skaffold/issues/5261#issuecomment-765672504).

Duplicate of #5261

[2021-01-27 14:53] #5264 closed

[2021-01-27 14:55] briandealwis commented on #5300
TIL: the `golang:N-alpine` images don't include a C compiler (unlike `golang:N`), and using `go build -gcflags=all="-N -l"` calls out to the C compiler.  Thus our debug-related tests fail if they use the `-alpine` images.

[2021-01-27 15:10] briandealwis commented on #5249
Our integration tests use a helper function `WaitForPodsReady()` to ensure pods are in a running state:
https://github.com/GoogleContainerTools/skaffold/blob/f8ede65b15208323d3c7442230caf2d963991f8f/integration/util.go#L170-L173

This checks the pod _phase_, but doesn't check the pod readiness.  You can see in the `skaffold-helm-779c78f5ff-8wcqd ` pod trace above that  `phase: Running` but the pod

[2021-01-27 15:11] briandealwis commented on #5035
Closing this as I haven't seen such a flake in a while.  Will re-open if it recurs.

[2021-01-27 15:11] #5035 closed

[2021-01-27 16:08] briandealwis commented on #5249
Funnily enough, we have a few calls to `WaitForPodsReady()` with no arguments, which doesn't actually wait:
https://github.com/GoogleContainerTools/skaffold/blob/f8ede65b15208323d3c7442230caf2d963991f8f/integration/util.go#L176-L179

[2021-01-27 16:16] loosebazooka commented on #5197
We can probably change the error message in jib a little to indicate the docker cli is required.

[2021-01-27 16:42] tonsV2 commented on #169
@shibumi Do you have an example?

[2021-01-27 17:20] shibumi commented on #169
@tonsV2 just add other value files to the list. Applied to your helmfile for example:

[code]

This will read two values files from the base environment and your current environment and merge them together.

[2021-01-27 18:26] tonsV2 commented on #169
@shibumi Thanks! Now I understand :-)

[2021-01-27 19:03] yrashish opened #5309 "Add an example of spring boot application with Skaffold"
Let me know if it makes sense to have an example of a spring boot java application that will be built (probably using jib maven plugin) and deployment to Kubernetes cluster using skaffold.

[2021-01-27 19:15] gjcarneiro commented on #4366
I have the same issue.  I would like to add a PVC to a postgres DB, so that data is retained by postgres even across a system reboot.  Because it is expensive to compute (takes a couple of hours each time).  To that end, it would be useful if skaffold would create the PVC, normally, maybe even update it if it detects changes in the source yaml, but not delete it when I hit Ctrl-C.

[2021-01-27 21:32] MarlonGamez opened #5310 "--generate-manifests should prompt users for which images they'd like to create kubernetes manifests for"
### Expected behavior
Skaffold should prompt users to see which images they'd like to have skaffold create manifests for.

### Actual behavior
Skaffold assumes it should create manifests for all images.

[2021-01-27 21:41] mvs24 commented on #5144
Thank you for the response @nkubala. I will experiment with this in a later point of time.

[2021-01-28 03:42] briandealwis commented on #5301
@gsquared94 this seems an interesting idea

[2021-01-28 08:40] tejal29 commented on #5303
This now closed with #5314

[2021-01-28 08:40] #5303 closed

[2021-01-28 10:24] taisph commented on #5159
There's a lot of potentially sensitive information in those debug logs so I'll have to figure out how to anonymize them first before adding it here in full.

Removing the `kubeContext` setting would make it deploy on any active context, unless I misunderstood the question. That's the exact opposite of what I want to happen.

Anyway, I just discovered that if I keep running `skaffold dev` it will a

[2021-01-28 12:59] mentos1386 opened #5317 "Helm setValueTemplates IMAGE_NAME not reflecting artifactOverrides selection"
### Expected behavior

Expecting that `setValueTemplates` for Helm Delpoyment `{{.IMAGE_REPO}}` and `{{.IMAGE_TAG}}` would reflect values for image set with `artifactOverrides`. This was introduced with the following PR https://github.com/GoogleContainerTools/skaffold/pull/4278.

### Actual behavior

It reflects the values of first image in `build.artifacts` array. If we want to actualy access the

[2021-01-28 13:34] Richard87 opened #5318 "Feature request: Port forward for all ready resources"
I don't want skaffold to wait for all resources to be ready before starting to port-forward

This would make it easier to troubleshoot broken builds in our case :)

### Expected behavior
Open port-forwarding when resource is ready

### Actual behavior
Waits for all resources to be ready before port-forwarding

### Information

- Skaffold version: 1.18
- Operating system: Fedora 33

[2021-01-28 18:21] #5310 closed

[2021-01-28 20:44] tejal29 commented on #5051
This should be closed now.

[2021-01-28 20:44] #5051 closed

[2021-01-28 20:49] tejal29 commented on #4797
@whyvez would you be up for making these changes?

[2021-01-28 20:50] tejal29 commented on #5066
closing this as this now implemented.

[2021-01-28 20:50] #5066 closed

[2021-01-29 14:31] cjheppell opened #5320 "Allow using host docker daemon instead of minikube's"
### Expected behavior

I want to be able to use my host docker daemon to build my docker images, instead of minikube's docker daemon.

For more context, I want to use my host docker daemon and then push to Minikube's registry addon, as the minikube cluster is running with constrained resources, so building my docker images in minikube takes an extremely long time. It's quicker for me to build on m

[2021-01-29 14:39] aliwatters commented on #5284
Sure -- I'm far from an expert in either skaffold or snapcraft, but I'm happy to try to make this work.

Note: the  https://github.com/tuapuikia/skaffold-snap/blob/master/snapcraft.yaml was just bumped to v1.18.0

The build step is

[code]

So hangs off the binaries produced in this project.

But the publish step hasn't happened (must be manual) -- https://snapcraft.io/skaffold -- still on v0.25

[2021-01-29 15:10] norenstrakh-r7 commented on #3898
so what was the solution?

[2021-01-29 15:26] m1o1 commented on #3898
Ah this was a while ago, and I can't remember the exact details. Sorry, I should have added more info. Some things you can try if you haven't already: use "values" instead of "setValues", or escape the commas.

[2021-01-29 17:36] gsquared94 commented on #5140
@tejal29 are you still working on this; or should we lower the priority (exceeded the threshold for P1s)?

[2021-01-29 19:40] tstromberg commented on #5320
IMHO, I think this makes sense as a direction to go toward as a default in the future, particularly with the container migration.

[2021-01-29 20:00] #5300 closed

[2021-01-31 17:31] cjheppell commented on #5320
For those who want to use the **local docker daemon** with a minikube context until this is resolved, the following _awful hack_ works for me:

[code]

It creates a `minikube` executable script which just exits immediately, and then puts that at the front of the `PATH` for skaffold's environment. This allows skaffold to use your minikube context from the kubectl config, but prevents skaffold from

[2021-02-01 11:41] kervel commented on #5301
https://github.com/Kapernikov/skaffold/tree/test-fix-5301 works for me (but no unit tests, or relevant go experience)

[2021-02-01 15:45] IsaacPD opened #5326 "Flake: TestDebug/buildpacks"
Seeing failures of TestDebug/buildpacks semi-regularly. I wasn't abe to deduce anything myself from the logs, I'm thinking it could potentially be a timeout, but I really have no idea.

<details>
<summary>Failed Logs</summary>

[Link to raw logs](https://api.travis-ci.com/v3/job/479190774/log.txt)

[code]

</details>

[2021-02-01 16:02] aliwatters opened #5327 "Error: container <image-name> is waiting to start: <image with missing tag> can't be pulled"
[code]

### Expected behavior
Image should be pulled/available and everything should work

### Actual behavior
deployment fails -- is this user error?

https://github.com/aliwatters/dkc-mutli-k8s/tree/feature-skaffold-minimal (minimal branch)

### Information

I'm hitting this error on a unbuntu 20.04 installation, with microk8s and skaffold.

[code]

I'm logged into docker.

Full error is

[code]

[2021-02-01 17:47] MarlonGamez commented on #5320
Hey @cjheppell , thanks for opening this issue. This seems pretty reasonable, I'll bring it up with our team to see if we can dedicate a bit of time to adding this functionality. In the meantime, PRs are welcome :) I'll update this once I have some more info

[2021-02-01 17:52] MarlonGamez commented on #5318
Hi @Richard87, thanks for opening up this issue! This definitely seems like a reasonable request, and I'll discuss it with our team. It seems like it would require a bit of restructuring about how things are currently done within skaffold, but I'll update here once I have more information :)

[2021-02-01 17:59] MarlonGamez commented on #5309
Hi @yrashish, thanks for opening up an issue for this :)

I believe our example in https://github.com/GoogleContainerTools/skaffold/tree/master/examples/jib provides a basic example of this. Please let me know if that fits what you have in mind. Are you suggesting that we create a more complex example?

[2021-02-01 18:10] MarlonGamez commented on #5301
Hey @kervel, thanks for opening this and doing some investigation yourself :) If you don't mind, I think opening a PR with what you've written would be awesome! We can take a look at it and help write tests or anything if needed

[2021-02-01 18:14] MarlonGamez commented on #5302
@gsquared94 adding a priority to make tp happy, please change it as you see fit :)

[2021-02-01 19:16] gsquared94 opened #5329 "Add metric for feature usage"
Tracking issue for adding metrics for:
- Artifact dependency in build definitions
- Config dependency in `skaffold.yaml`

[2021-02-01 19:59] MarlonGamez commented on #5326
Seems like the debug annotation isn't getting properly set when transforming the applied manifest. Here's the formatted output:
[code]

I poked around the code related to this but couldn't really pinpoint a reason for this to be happening, but I'm still not an expert on how debug works. Tagging @briandealwis as he might have some more context. I'm not sure if we've run into this test failure a lot

[2021-02-01 20:50] MarlonGamez commented on #5167
@PriyaModali closing this since it seems to be done in #5190. Please reopen if you think it should be!

[2021-02-01 20:50] #5167 closed

[2021-02-01 20:54] MarlonGamez commented on #5150
Agreed! @PriyaModali will you be working on this?

[2021-02-01 21:27] MarlonGamez commented on #2492
@tejal29 I noticed this is assigned to you. Do you think we'll get to this in an upcoming milestone? If not I think we should bump the priority down

[2021-02-01 21:30] tejal29 commented on #4825
@yuwenma can you verify this?

[2021-02-01 21:37] MarlonGamez commented on #5318
Hey again, could you expand a bit more on your use case and how this functionality would help you? Does disabling the status check phase in skaffold by using `--status-check=false` help things?

[2021-02-02 03:14] aliwatters commented on #5284
Note: will need the google login of the publisher of the snap added as a secret to this repo.

[code]

[code]

[2021-02-02 03:31] PriyaModali commented on #5206
This issue has been fixed in #5190.

[2021-02-02 03:31] #5206 closed

[2021-02-02 03:49] PriyaModali opened #5331 "Add skaffold Config changes for the new custom tester"

[2021-02-02 03:51] PriyaModali opened #5333 "Supporting custom tests in Skaffold"
This is a tracking issue for implementing new custom tester:
- [x] Supporting custom tests in Skaffold design doc (tracking issue - #5568)
- [x] Create a test factory to support multiple test types in Skaffold (tracking issue - #5379) (pr - #5378)
- [x] Design and implement custom tester functionality in skaffold (tracking issue - #5395) (pr - #5451)
- [x] Make necessary config changes to support

[2021-02-02 08:20] Richard87 commented on #5318
Hi! I was not aware of `--status-check=false`, I'll enable it and see what happens next time something breaks :)

For example, if there is a problem with the database schema, our web-app doesn't go "ready", therefore port-forwarding doesn't start, and it gets much harder to connect to the database to fix the issue, and sometimes, Skaffold gives up and deletes all resources before I finish fixing t

[2021-02-02 08:26] Richard87 commented on #5318
Hmm, `--status-check=false` did bring it up without deleting the deployments, *but* no port-forwarding worked.

I got a whole bunch of `port forwarding service-eportal-db-richard-3306 got terminated: output: error: unable to forward port because pod is not running. Current status=Pending`

[2021-02-02 10:02] codeclown commented on #3909
I may be doing something wrong, but here's a problem with the current workflow:

1. Running a helm chart via skaffold, everything going great
2. Save a file which triggers skaffold to rebuild image and deploy
3. Last edit to file caused an instant termination of the updated image, so the pod goes to CrashLoopBackOff
4. Skaffold is stuck with the message "waiting for rollout to finish: 1 old replic

[2021-02-02 13:53] yrashish commented on #5309
Thanks, @MarlonGamez  I think that example covers mostly what I was trying to propose. Are there any other examples that are currently missing or maybe you would like to add an example to the repository?. I can take that up. What about a Quarkus example with Skaffold?

[2021-02-02 14:47] othercorey opened #5334 "[1.17+] Build does not push images to remote repository"
### Expected behavior
Check for tag in remote repository and push images.

### Actual behavior
Builds and tags images but does not push. Helm upgrade fails trying to pull image that doesn't exist.

### Information

- Skaffold version: 1.17+
- Operating system: Windows 10
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. skaffold run -p test

This has been working up to

[2021-02-02 17:43] yuwenma commented on #4825
This issue still exists. Just FYI, this only happens when using skaffold image in a gitlab-CI (skaffold image is called in an encapsulated environment) . You can follow [this guide](https://github.com/GoogleCloudPlatform/solutions-modern-cicd-anthos/tree/app-delivery) to reproduce.

The gitlab-CI is no longer a priority for the modern  anthos CICD though. If gitlab-CI is not a typical skaffold use

[2021-02-02 18:04] IsaacPD commented on #5326
I'm also noticing that on merged commit's the test is only failing on `k3d integration partition 1` but on PRs it's failing on both without fail
[code]

[2021-02-02 19:24] briandealwis commented on #4875
Could you expand on this @yuwenma ? This would seem to only cause a conflict when they occur in the same namespace?

[2021-02-02 19:41] tejal29 opened #5335 "Instrument skaffold for getting some performance metrics."
Instrument skaffold for getting some performance metrics.

[2021-02-02 19:57] gsquared94 commented on #5302
:work_started

[2021-02-02 19:59] briandealwis commented on #5042
Support for darwin/arm64 requires using Go 1.16beta1. We currently build with _cgo_ so that our file-watcher can take advantage of [_rjeczalik/notify_](https://github.com/rjeczalik/notify)'s native capabilities (FSEvents, inotify, etc). We use a Docker-provided cross-building image (https://hub.docker.com/r/dockercore/golang-cross), which includes SDKs (toolchains, headers, and libraries) for Linu

[2021-02-02 20:25] briandealwis commented on #5326
I've been hitting these issues with the fixed `waitForPods()` fix in #5308.  I discovered that the buildpacks python test is breaking due to a change that was masked by this `waitForPods()` returning too early.

[2021-02-02 20:58] MarlonGamez commented on #5309
We're still trying to figure out how we want to go about adding new examples and sample projects from our community. I'll try to get a better answer for you later today about how we can go about doing this :) we'd definitely love more community examples like what you're proposing!

[2021-02-02 21:11] MarlonGamez commented on #5327
hi @aliwatters, thanks for opening this issue. I was able to reproduce this issue using your provided repo on MacOS as well. I'll look into this and see if I can find what's up :)

[2021-02-02 22:14] aliwatters commented on #5284
Note: hello world repo for snap published via github action is here: https://github.com/aliwatters/snapcraft-hello -- publishes to https://snapcraft.io/aliwatters-hello

[2021-02-02 23:07] MarlonGamez commented on #5327
Hey again @aliwatters, I used this microk8s documentation to solve this issue: https://microk8s.io/docs/registry-images

Essentially what is happening is that microk8s doesn't by default know about the image built by your local docker daemon, so you'll have to import it into microk8s. I was able to do so using the following commands:
[code]

I also had to run `microk8s enable dns`, however you mig

[2021-02-03 03:02] briandealwis opened #5336 "`debug` failing to recognize GCP Buildpacks .NET core images"
### Expected behavior

`skaffold debug` is able to debug .NET Core images produced by GCP Buildpacks.

### Actual behavior

[code]

### Steps to reproduce the behavior

Happens with `TestDebug/buildpacks`.

[2021-02-03 03:03] briandealwis commented on #5326
Buildpacks Python is failing due to #4088

Buildpacks .NET is failing as the image isn't being recognized (#5336):
[code]

[2021-02-03 03:27] briandealwis commented on #5336
GCP Buildpacks' dotnet buildpack was recently changed to [perform `cd xxx` prior to launching the app](https://github.com/GoogleCloudPlatform/buildpacks/blob/cdf192c8aeb5de4fa6587ec485f010d5cc832deb/cmd/dotnet/publish/main.go#L167).  `debug` doesn't parse shell statements to this level.

[2021-02-03 04:51] streamnsight commented on #2745
same issue here with the `runId` causing problems with Jobs, and causing resources to be re-created when they shouldn't.

I haven't followed the whole story, but I'm curious to understand what the purpose of the `runId` is in the first place? it was added to solve some problem, but it's causing many others.
The global override of the `runId` works, but then why even have a `runId` in the first pla

[2021-02-03 10:52] TheYkk opened #5338 "Skaffold not using specified namespace"
### Expected behavior
Skaffold should deploy helm chart to specified namespace.

### Actual behavior
Skaffold gets namespace from my kubeconfig and its trying to deploy that namespace not my specified namespace.
I was using skaffold v1.17.2 and I upgraded v1.19.0 then skaffold is not worked.
I used `skaffold fix`
### Information

- Skaffold version: v1.19.0
- Operating system: ubuntu:20.04
- Conte

[2021-02-03 11:05] TheYkk opened #5339 "Skaffold namespace from environment"
### Expected behavior
Skaffold should get namespace from environment

### Actual behavior
[code]

I was using skaffold v1.17.2 and I upgraded v1.19.0 then skaffold is not worked.
I used `skaffold fix`
### Information

- Skaffold version: v1.19.0
- Operating system: ubuntu:20.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. skaffold fix
2. skaffold dev

[2021-02-03 14:32] aliwatters commented on #5327
Thank you Marlon!

Yes -- this worked -- and I now understand what is happening!

[code]

I pasted the multipass command blindly and `transfer failed: instance "microk8s-vm" does not exist` -- so would just have to adjust that. But `skaffold dev` worked at that point.

Images are in my local docker repository
[code]

I would love to contribute to this -- but I'm right at the very edge of my skill

[2021-02-03 15:35] aliwatters commented on #5327
Raised a draft PR -- is the general approach correct?

https://github.com/GoogleContainerTools/skaffold/pull/5340

(need to fix a config bug, add tests and confirm the internal command used by microk8s to import)

[2021-02-03 16:35] dan-j opened #5341 "skaffold deploy does not honour --default-repo flag"
### Expected behavior

I've upgraded to v1.19, I'm not 100% which version from and running into the following issue:

[code]

I expect the image to be deployed be `eu.gcr.io/my-registry/my-image:v1.0.0`

### Actual behavior

The image deployed is `my-image:v1.0.0`

### Information

I've verified this working as expected on v1.17.0, but not sure which exact release it was last functioning.

- Skaff

[2021-02-03 16:36] dan-j commented on #5341
I've never contributed to this project before but love it. If somebody can point me in the right direction I don't mind looking at fixing it

[2021-02-03 18:20] briandealwis opened #5342 "Flake: docker hub requiring authentication"
Suddenly having a rash of failures on Travis trying to pull images from Docker Hub.  Assuming they're transient.

[code]

and

[code]

[2021-02-03 18:33] briandealwis opened #5343 "Flake: docker hub requiring authentication"
Suddenly having a rash of failures on Travis trying to pull images from Docker Hub.  Assuming they're transient.

[code]

and

[code]

[2021-02-03 19:05] #5195 closed

[2021-02-03 19:09] IsaacPD commented on #5343
duplicate of #5342

[2021-02-03 19:09] #5343 closed

[2021-02-03 19:31] briandealwis commented on #5342
This seems to happen only with k3d…  k3d would fail when I tried bringing in the travis registry-mirror mirroring.  Will take a look again.

[2021-02-03 19:45] nkubala commented on #4874
@yuwenma with the new render design we're working on, i think this issue is obsolete. i'll close it for now, but feel free and reopen if you think it's still relevant.

[2021-02-03 19:45] #4874 closed

[2021-02-03 20:57] MarlonGamez commented on #5327
Thanks so much! The general approach looks good :) We can move our discussion to your PR for now

[2021-02-03 21:32] MarlonGamez commented on #5335
Commenting to keep tp happy 👍🏼

[2021-02-03 23:30] #4261 closed

[2021-02-03 23:48] IsaacPD opened #5348 "Add metrics for debug/iterations"
### Expected behavior
Metrics for debug iterations are exported and collected
### Actual behavior
Only metrics for dev iterations are being collected as can be seen here

https://github.com/GoogleContainerTools/skaffold/blob/e66f04c0b3cbfab040fd33833e84000e467a43df/pkg/skaffold/instrumentation/export.go#L201-L203

[2021-02-04 00:01] IsaacPD opened #5349 "Use Status Code name instead of number in our error metrics"
### Expected behavior
Metrics have error labels that show the name of the error e.g.`error : OK` and `error : DEPLOY_LIST_MANIFEST_ERR`

### Actual behavior
error labels only use the number e.g `error : 0` or `error : 1014`

https://github.com/GoogleContainerTools/skaffold/blob/e66f04c0b3cbfab040fd33833e84000e467a43df/pkg/skaffold/instrumentation/export.go#L152

[2021-02-04 03:47] othercorey commented on #5334
I am working it, but it will take me a few days to setup. I won't be able to provide an AWS ECR account though, so if it's somehow only happening with that repository, then will have to do further testing.

[2021-02-04 15:56] briandealwis commented on #5342
On [Kokoro too](https://source.cloud.google.com/results/invocations/e9e27982-7372-4b06-912a-1241c8721f4f/targets/skaffold%2Fpresubmit/log).

[2021-02-04 18:24] briandealwis commented on #5042
Error seen on start:
[code]

This seems to have no effect.

[2021-02-04 20:38] IsaacPD opened #5352 "Export the platform type in skaffold metrics"
### Expected behavior
Can categorize user launches by the platform type (gcb, local, cluster)
### Actual behavior
Data is not visible in Cloud Monitoring

[2021-02-04 21:25] j-windsor opened #5355 "Using helm with `skaffold -f path/to/skaffold.yaml` throws error expecting skaffold.yaml in cwd"
From https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/379
Creating on behalf of Cloud Code user @dsaydon90
### Expected behavior
When running `skaffold -f path/to/skaffold.yaml`, the command knows where to find the skaffold yaml file because it is specified in the args.

### Actual behavior
User gets error searching for skaffold in the cwd: `skaffold config file skaffold.yaml not fo

[2021-02-04 22:10] #5352 closed

[2021-02-04 22:15] briandealwis opened #5356 "Make gcr.io/k8s-skaffold/skaffold multi-architecture"
Our Skaffold helper image(s) should be built as a multi-architecture image with minimally support for:
  - linux/amd64
  - linux/arm64

Other architectures left as a bonus prize.

[2021-02-04 23:55] streamnsight opened #5357 "exec.go:271] constructing many client instances from the same exec auth config can cause performance problems during cert rotation and can exhaust available network connections; 2886 clients constructed calling xxx"
I'm hitting this issue:

https://github.com/kubernetes/client-go/issues/803

with skaffold dev or debug

with 1000's of clients created very quickly when tracking changes on 4 deployments.

### Expected behavior
no warning messages

### Actual behavior
100's or warnings all over the logs. very noisy in the actual deployment logs

### Information

- Skaffold version: v.1.19.0
- Operating system: OS

[2021-02-05 01:13] noahschumacher opened #5358 "Ignore Files/Folder From Being Watched"
### Expected behavior
I want to exclude a folder and its contents from being watched by Scaffold. I only want to watch files in a specific folder  (`src/`) so that when I make changes to files in this folder the app re-compiles but does NOT rebuild.

### Actual behavior
I am attempting to use Scaffold for development with my React App. For on the fly development locally we can simply run `npm inst

[2021-02-05 11:11] AManMustHaveACode commented on #5338
you cloud remove namespace from kubeconfig and try it again

[2021-02-05 19:02] MarlonGamez commented on #5358
hey @noahschumacher, thanks for opening up this issue. Skaffold is supposed to respect your `.dockerignore` file, but I think our logic that searches for that file may be flawed. Would you be able to tell me a little bit about your file structure and where your `.dockerignore` is relative to other files/directories like your `Dockerfile` and `../app`?

[2021-02-05 19:16] MarlonGamez commented on #5355
Thanks for opening this @j-windsor! Does this fail from the start? I tried locally and it seems to work, but in the linked issue it looks like it works initially and breaks once it gets to helm related logic. I think this might be an issue with our helm debug related code

[2021-02-05 19:19] briandealwis commented on #5355
Should update `exiting dev mode` to use the run-mode so it is properly `exiting debug mode`.

[2021-02-05 19:31] noahschumacher commented on #5358
Hi @marlon-gamez thanks for the speedy reply. My file structure is as follows:
[code]
I know that my `.dockerignore` file is working properly and ignoring the `node_modules` (not copying over) by inspecting the image contents with an `ls -al`. However since I am rebuilding the `node_modules` folder with the `npm install` command perhaps it is not being ignored by the file watcher? Potentially it i

[2021-02-05 19:59] MarlonGamez commented on #5339
Hey @TheYkk, thanks for opening this issue :) Could you please post the rest of your output from skaffold as well? It will help pintpoint where the error is coming from

[2021-02-05 20:05] MarlonGamez commented on #5338
Thanks for opening this issue @TheYkk, It looks like skaffold is using your kubectl namespace over the namespace specified in the skaffold.yaml. I'll discuss this issue with the team and see what we want to do about this. In the meantime, can you try what @AManMustHaveACode suggested and see if that helps with your issue?

[2021-02-05 20:06] TheYkk commented on #5339
[code]

[2021-02-05 20:09] TheYkk commented on #5338
Yes @AManMustHaveACode suggestion is worked. But skaffold should overwrite this

[2021-02-05 21:20] #5042 closed

[2021-02-05 23:56] j-windsor commented on #5355
@dsaydon90 might be able to answer your question. It looks like it fails when it gets to the helm logic.

[2021-02-06 18:58] andrskom commented on #2757
Hi! I would like to help with this issue.
What is the best way in your opinion, should I use `Namespace` from `SkaffoldOptions` struct or create a new option.

The second one looks better in my opinion, because we can separate the process of the building and the process of the deployment.

Please let me know your decision.

[2021-02-07 15:45] imerkle opened #5362 "helm deploys before kubectl"
### Expected behavior

[code]
`kubectl` should run first then `helm`. i.e whichever is first and not alphabetically asc
### Actual behavior
`helm` runs first so `mynamespace` doesn't exists therefore fails

### Information

- Skaffold version: 1.19.x
- Operating system: ubuntu
- Contents of skaffold.yaml:

above

### Steps to reproduce the behavior

above

[2021-02-07 19:37] msonnleitner opened #5363 "invalid skaffold.yaml causes skaffold to crash"
`skaffold dev`

### Expected behavior

### Actual behavior

### Information

- Skaffold version: 1.19.0
- Operating system: tried with MacOS, Linux
- Contents of skaffold.yaml:

[code]

[2021-02-08 17:32] ngodzik opened #5365 "How to process "replace" in go.mod files ?"
I am struggling to use replace in go.mod files with Skaffold and Golang, to work easily with local module changes (without tagging)

could it work with Skaffold files sync ?

or should I look more into Kubernetes volumes so that I can run the "skaffold dev" command again each time I change such an external file ?

are there good practices to work with go modules local replacements and Skaffold ?

[2021-02-08 17:47] #5349 closed

[2021-02-08 19:10] tejal29 commented on #3168
Lets confirm with the IDE teams before removing them

[2021-02-08 19:13] tejal29 opened #5366 "Remove error codes for container creating status"
Currently, there is an error code attached to container creating.
This is not an error but should be shown as a  message.

[2021-02-08 19:18] MarlonGamez opened #5367 "status check related event protos contain duplicate information in the actionableErr field"
### Expected behavior
actionableErr field of the ResourceStatusCheckEvent should only be populated if something goes wrong with the deployment.

### Actual behavior
actionableErr field gets populated with non error information such as container created status and message.

[2021-02-08 19:18] #5367 closed

[2021-02-08 19:23] tejal29 commented on #4857
This is kind of related to #5366
Like "Container Creating", "Container Restarting", "pod initializing" should also be not shown as errors.

[2021-02-08 19:24] tejal29 commented on #5367
duplicate of #4857

[2021-02-08 19:25] MarlonGamez opened #5368 "Implement API v2"
### Tasks to complete for API v2
- [x] Create new proto definitions
- [x] Update server package to use newly defined service
- [x] Create functions to wrap/create these protos
- [x] Wire helper functions in to main skaffold code

[2021-02-08 19:28] tejal29 opened #5369 "Create an application Log event endpoint"
1. Create application log event endpoint.
2.  Create an application log event as per the definition
[code]

3. All application logs will be available via this end point..

[2021-02-08 19:32] MarlonGamez opened #5370 "Create a skaffold log event endpoint"
1. Create skaffold log event endpoint.
2.  Create an skaffold log event as per the definition
[code]

3. All skaffold logs will be available via this end point

[2021-02-08 19:33] tejal29 opened #5371 "remove deprecated `err` in all v1 protos."
In Jun  2020, we introduced `actionalErr` proto and deprecated `err`.
Its been 6 months and hence, remove the field from all proto defs.
https://github.com/GoogleContainerTools/skaffold/blob/master/proto/skaffold.proto#L172

[2021-02-08 19:34] tejal29 opened #5372 "Document V2 event api"
Add docs for v2 event api

[2021-02-08 19:37] tejal29 opened #5373 "Create an skaffold Log event endpoint"
1. Create skaffold log event endpoint.
2. Create an application log event as per the definition
[code]
3. All logs generated by skaffold will be available via this end point with their loglevel.

[2021-02-08 20:09] kervel commented on #5301
Hello @MarlonGamez , i cleaned it up a bit and the PR is above. I guess a simple unit test would be enough for this, but i have no idea where to create it. the non-recursive DependenciesForArtifact doesn't seem to have one otherwise i could use that as a starting point.

[2021-02-08 20:41] MarlonGamez commented on #5334
For now, if you could provide the output from `skaffold run`, that would be helpful too. We might be able to get some information about what's happening from that

[2021-02-09 02:04] gsquared94 commented on #5301
Thanks @kervel for opening this issue. I wanted to summarize what we discussed about this in our triage meeting:
- The artifact dependency feature doesn't allow the child artifact to inherit sync rules from the parent artifact (by design).
- When a file change occurs for a parent artifact it triggers a rebuild for that artifact and all other children artifacts derived from it. In your description

[2021-02-09 08:01] shuvozula commented on #5067
Hi @gsquared94 , I'm having a similar problem tailing logs from containers whose images weren't built by Skaffold. Specifically, in my situation, I'm pulling an image from a private docker registry which gets pulled down using `imagePullSecrets`, which builds and starts the pod successfully. But when running `skaffold dev --port-forward`, I don't see any logs from that pulled image.

Its only when

[2021-02-09 08:22] kervel commented on #5301
Hello @gsquared94

* First remark: agree with this. this is also not what i want to do with the patch/PR. Actually, the sync rules only act within the discovered dependencies of a file (or: a sync rule has no effect if it acts on files that were not detected as a dependency)

* Second remark: sorry, i wasn't clear. My bug report and PR only affect file sync nothing else, the builds work fine. If i

[2021-02-09 12:09] malins commented on #5113
Hello @msonnleitner,

have you been able to solve this? I'm also trying to get the built tag into my helm chart as appVersion, but I'm failing.

Thank you,
Manuel

[2021-02-09 12:13] msonnleitner commented on #5113
Hi @malins
I haven't been able to solve that

[2021-02-09 17:57] nkubala commented on #4825
this doesn't seem to be a common issue, and since we're not focusing on this area right now i'm going to close this issue. if anyone starts running into this and has further information, please feel free and reopen!

[2021-02-09 17:57] #4825 closed

[2021-02-09 18:53] tejal29 commented on #5335
hmm should definitely look into skaffold rules and code here https://github.com/google/triage-party

[2021-02-09 18:53] tejal29 commented on #5335
Started working on adding traces to skaffold and collecting data.

[2021-02-09 19:09] briandealwis opened #5376 "`skaffold` image should be multiplatform and built for linux/arm64 too"
Our `gcr.io/k8s-skaffold/skaffold` image should be available as a linux/arm64 image too.

[2021-02-09 19:50] sunil31925 opened #5377 "Skaffold Customized script"
![skaffold_customized script](https://user-images.githubusercontent.com/12955434/107419726-1b6bbd00-6ae6-11eb-8c9d-2ec51dbc8fc8.JPG)

[2021-02-09 19:53] sunil31925 commented on #5377
![skaffold_customized script](https://user-images.githubusercontent.com/12955434/107420191-9fbe4000-6ae6-11eb-9413-8518c22e3d61.JPG)

[2021-02-09 20:37] sunil31925 commented on #5377
How to Make configurable base on instance i wan to spin 12 instance of my app with different param mention above. Please help me where do i need to customization to mage this kind of change

[2021-02-09 23:51] nkubala commented on #5333
commenting to make triage party happy

[2021-02-09 23:51] nkubala commented on #5331
commenting to make triage party happy

[2021-02-09 23:52] #5147 closed

[2021-02-10 00:19] PriyaModali opened #5379 "Create a test factory to support multiple test types"
Today Skaffold test supports only structure tests.
 The code needs to be re-factored to support multiple test types.

[2021-02-10 02:41] nkubala commented on #5377
hey @sunil31925, I don't think this is something that skaffold handles. you might consider looking into a tool like https://kustomize.io/, which handles environment parameterization among other things. good luck!

[2021-02-10 02:41] #5377 closed

[2021-02-10 02:43] nkubala commented on #5370
commenting to make triage party happy

[2021-02-10 02:43] nkubala commented on #5368
commenting to make triage party happy

[2021-02-10 02:45] nkubala commented on #5365
@ngodzik not sure I quite understand your question. are you trying to develop on a library and use that as a local dependency to another project? if you can provide more information about your project we might be able to better help you.

[2021-02-10 02:48] nkubala commented on #5363
@msonnleitner thanks for the issue, I verified your repro and this is definitely a bug

[2021-02-10 02:59] nkubala commented on #5358
@noahschumacher thanks for the update. Skaffold is supposed to omit the contents of your `.dockerignore` from the files it monitors, but it seems like it isn't doing that so there might be a bug. can you share the contents of your `.dockerignore` file? I want to try and reproduce this - bonus points if you can provide a small repository we can clone to track it down 😄

[2021-02-10 03:00] nkubala commented on #5379
commenting to make triage party happy

[2021-02-10 03:01] nkubala commented on #5362
@imerkle thanks for the issue, this is a duplicate of https://github.com/GoogleContainerTools/skaffold/issues/3905. we're definitely aware of the friction this is causing, and are working on some proposals on how to address it. stay tuned for updates!

[2021-02-10 03:01] #5362 closed

[2021-02-10 03:07] nkubala commented on #5357
oof that error is uglyyyy. I wonder if that's something they intend to fix on their end....we could consider swallowing that error but it seems like a band-aid. the error doesn't seem all that useful though 🤷‍♂️

[2021-02-10 03:14] nkubala commented on #5317
@mentos1386 thanks for the issue. the least we could do here is improve our documentation on how these values are surfaced - this is tricky though, since `{{.IMAGE_NAME}}` is really a singular thing. i'm not sure the best way we should handle surfacing multiple images apart from appending numbers to the end of the variable name (what we're doing now). what would you like to see instead?

[2021-02-10 07:11] othercorey commented on #5334
I omitted the docker image build logs.

Here is the build output with v1.19:

[code]

Here is the build output with v1.16:

[code]

[2021-02-10 14:04] briandealwis opened #5380 "TestExpectedBuildFailures/jib_is_too_old silently hangs if no JVM found"
Seen on macOS/arm64: `go test ./integration -test.run TestExpectedBuildServer/jib_too_old` hangs if there is there is no JVM installed.  macOS provides a `/usr/bin/java` that selects an installed JVM from `/Library/Java/JavaVirtualMachines`.  Attempting to invoke `mvn` for the jib tests hangs for some reason.

[2021-02-10 16:53] HarshadK15 opened #5381 "Force build docker container each time?"
Hello,

Is there a way we can force Skaffold to build the docker container each time, instead of skipping the build process if there are no changes to the container?

[2021-02-10 17:08] streamnsight commented on #5357
@nkubala maybe Skaffold shouldn't create so many clients. I'm not sure how it works but it seems like something that may need to be fixed in Skaffold, no?

[2021-02-10 17:49] PriyaModali opened #5382 "Add distinct error codes for test failures"
Skaffold should return distinct error codes for test failures.

The fix will be implemented in two phases
1. Adding error codes for existing structure test failures (tracker - #5384, pr - #5385)
2. Adding error codes for newly added custom test failures (tracker - #5431, pr - ##5501)

[2021-02-10 17:51] PriyaModali opened #5383 "Create an example for CustomTest command"

[2021-02-10 18:57] #5302 closed

[2021-02-10 19:17] gsquared94 commented on #5301
@kervel would be great if you could provide that minimal example.

[2021-02-10 21:33] kervel commented on #5301
ok here is the (tiny) example, see attached zip file:

it contains a common base image "base" , and two derived images "d1", "d2". the base image has an index.html that links to a world.html but the world.html is defined by d1/d2. this simulates something generic + something specific.

now i do (using microk8s with registry enabled)
[code]
this should enable syncing.

with the standard skaffold:
*

[2021-02-10 23:06] PriyaModali opened #5384 "Add distinct error codes for structure test failures"

[2021-02-11 00:08] #5384 closed

[2021-02-11 11:29] gioppoluca commented on #3905
+1 on this

[2021-02-11 12:09] dimovnike opened #5386 "Skaffold pipes logs from foreign pods"
When the same helm chart is used in multiple skaffold instances it will pick logs from all pods deployed by this chart.

### Expected behavior

Skaffold should pick logs from pods that it deployed.

### Actual behavior

Picks logs from all pods deployed by this chart.

### Information

- Skaffold version: 1.19.0
- Operating system: Ubuntu focal

NOTE: I also tried setting SKAFFOLD_LABEL to differe

[2021-02-11 13:54] gioppoluca opened #5387 "add the post-render option to the helm deploy"
This is a request for implementing the --post-render flag in helm to be able to execute things like:
`helm install mychart stable/wordpress --post-renderer ./path/to/executable`
In particular the aim is to use kustomize as a followup of the helm.

### Expected behavior
a key to be added to the helm's deploy
### Actual behavior
No such option
### Information

- Skaffold version: NA
- Operating syst

[2021-02-11 16:08] noahschumacher commented on #5358
@nkubala the contents of my `.dockerignore` is just:
[code]
I will try and put together a quick repo for reproducibility but since this issue isn't blocking our current dev I might not get to it for a few days or so. If you are trying to reproduce perhaps using this `package.json` would help?
[code]

[2021-02-11 18:42] gsquared94 opened #5388 "Artifact workspace and other `filepath` type fields not being set correctly in configs imported as dependencies"
Consider the directory:
[code]
where `./skaffold.yaml` is:
[code]
and `./foo/skaffold.yaml` is:
[code]
### Expected behavior
If I run `skaffold diagnose --yaml-only`, I expect:

[code]

### Actual behavior
I actually get:

[code]

The `build.context` isn't resolved to the absolute path for the config `cfg2` that's imported as a dependency in `./skaffold.yaml`

[2021-02-11 20:19] gsquared94 commented on #5341
Thanks for opening this issue. This seems to be a case where our documentation doesn't match the behavior so I'll take that as a bug. The `--images` flag is setting [this](https://github.com/GoogleContainerTools/skaffold/blob/d956d4465c2eacf6a75e85f964363d1533ecff30/cmd/skaffold/app/cmd/deploy.go#L33) variable. If you navigate to its usage it's being merged with the list of skaffold built artifact

[2021-02-11 20:23] gsquared94 commented on #5341
I misdiagnosed this issue. Adding `needs-reproduction` back

[2021-02-11 20:28] #5388 closed

[2021-02-11 23:25] #5348 closed

[2021-02-11 23:32] nkubala commented on #5387
@gioppoluca thanks for the issue, and agreed we should expose this field in the helm deployment configuration.

[2021-02-11 23:46] nkubala commented on #5386
@dimovnike thanks for the issue. i'm able to reproduce something similar using our `helm-deployment` example but i want to make sure it's the same issue.

when i run two parallel `skaffold dev` runs, the first one to finish does a `helm install`, and the second does a `helm upgrade` since the release is already found. both are backed by the same underlying pod in kubernetes, so the logs come from

[2021-02-11 23:47] nkubala commented on #5381
@HarshadK15 thanks for the question, i think you're looking for `--cache-artifacts=false`. this will override skaffold's local build cache on every detected change.

hope this is what you were looking for! feel free to reopen if this doesn't solve your problem.

[2021-02-11 23:47] #5381 closed

[2021-02-11 23:48] nkubala commented on #5382
commenting to make triage party happy

[2021-02-11 23:48] nkubala commented on #5383
commenting to make triage party happy

[2021-02-11 23:54] nkubala commented on #4875
i don't fully understand this issue but it feels to me like a race condition between two parallel skaffold runs trying to create/read the same kaniko secret. if this is the case i think we could always just generate a random name for the kaniko secret and plumb that through in the pod spec right?

in any case, this is a low priority issue so we've dropped it to P3. we can keep it around for poster

[2021-02-12 05:34] PriyaModali opened #5395 "Design and implement custom tester functionality in skaffold"

[2021-02-12 08:38] dimovnike commented on #5386
In my case, not only the helm releases have different names but also the pods they deploy. To reproduce this you need 2 skaffold setups that use the same helm chart but deploy it under different release name.

Otherwise, when running in different namespaces it works as expected but there is sometimes need to keep multiple versions of a service in the same namespace (the same chart under different

[2021-02-13 18:27] arash16 opened #5396 "Unexpected base-path for required skaffold's helm.setValues"
### Expected behavior
From a root ```skaffold.yaml``` file, I have imported (requires section) another ```skaffold.yaml``` file inside a deeper directory. Within that child ```skaffold.yaml```, I have used helm to describe my deployments. within helm's release configuration, I tried to set ```valuesFiles``` property to a file alongside this ```skaffold.yaml```.

Here I expected file-path to be rel

[2021-02-13 20:53] dan-j commented on #5341
https://github.com/dan-j/skaffold-issue-5341

[2021-02-14 02:36] MateusAmin opened #5398 "Regression: Skaffold Restricts Buildkit to Dockerfile Frontend on PR 4943"
### Expected behavior

Skaffold builds [cargo-wharf](https://github.com/denzp/cargo-wharf) as it works fine with:
[code]

### Actual behavior

Skaffold throws the error that I get with Docker without buildkit.

### Information

- Skaffold version: apiVersion: skaffold/v2beta12
- Operating system: Ubuntu
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

You will need Rust i

[2021-02-14 02:52] MateusAmin commented on #5398
This is a regression. I had another project that *was* working with the following yaml:

[code]

[2021-02-14 03:02] MateusAmin commented on #5398
Master at 4b3c30f does not work.

[2021-02-14 03:31] MateusAmin commented on #5398
https://github.com/GoogleContainerTools/skaffold/pull/4943/files#diff-85fdef4518d9c7469686554659688345240af15ec54bfe5c56e61fe467e97e66R81

This may be the culprit. Checking.

[2021-02-14 03:59] MateusAmin commented on #5398
Last working commit binary: https://storage.googleapis.com/skaffold/builds/efe6601c6c3aed5858d0c1f8cad65bab7de3f857/skaffold-linux-amd64

Last working release binary: https://storage.googleapis.com/skaffold/releases/v1.16.0/skaffold-linux-amd64

[2021-02-15 16:04] dsaydon90 commented on #5355
In my case, I had to run `skaffold` from the root of the project and adding `-f Kubernetes/skaffold.yaml`  since `skaffold` is not respecting relative path from the `skaffold.yaml` and from some reason it uses the root project instead

[2021-02-15 16:22] dsaydon90 opened #5399 "helm overrides wrong position"
When I use helm `overrides` the flag position of `-f skaffold-overrides.yaml` should come after the end of all the `valuesFiles`

### Expected behavior
`-f skaffold-overrides.yaml` should be at the end, like this:
[code]

### Actual behavior
`-f skaffold-overrides.yaml` comes before ` -f Kubernetes/api/dev-values.yaml` which results without any actual override like expected, see log:
[code]

### I

[2021-02-15 16:38] dsaydon90 commented on #5399
workaround can be done with `setValues`
[code]

But for values like this annotation `kubernetes.io/ingress.class` it's not possible because  I'm getting the error:
[code]

[2021-02-16 16:13] Avi612 opened #5401 "skaffold deploy --images should able overwrite image even if overlays/deployment.yaml is defined"
### Expected behavior
skaffold deploy -p <profile> --images=sample-app-prod  --namespace=test-dev
for deployment it should use the image we specified in above command irrespective of deployment.yaml/skaffold.yaml

### Actual behavior
skaffold deploy -p prod --image=sample-app-prod --namespace=test-dev
You either need to:
run [skaffold deploy] with [--images TAG] for each pre-built artifact
or [ska

[2021-02-16 18:16] MarlonGamez commented on #5371
@tejal29 should we actually modify the v1 proto definitions? Or is this just a change to be made for the v2 definitions?

[2021-02-16 18:37] Avi612 commented on #3559
I have updated skafflod version v1.20.0 to use skaffold deploy -p dev --image=sample-app-python

[code]

should also be able to overwrite images even if overlays/deployment.yaml  is defined
This is very inconvenient, breaks the flexibility to overwrite the image and deploy image on different env's in CI/CD pipeline.

[2021-02-16 19:01] MarlonGamez commented on #5370
starting on this

[2021-02-16 19:01] MarlonGamez commented on #5369
starting on this

[2021-02-16 19:17] gsquared94 commented on #5301
Thanks for the example project. This does improve on the existing logic. Added some comments to the PR.

[2021-02-16 22:49] tejal29 commented on #5140
This is a P1 but i havent been actively working on it.

[2021-02-16 23:04] Avi612 commented on #3559
We have been tracking this issue because we have similar use case and I have tested the following with Skaffold version v1.20.0 
Skaffold deploy -p dev --image=**image2**
 
we still get the same error:
[code]
 
**Expectations:**
It should overwrite  the images provided in skaffold.yaml with the image provided in  --images over the command line
 
On top of the above scenario we have following use c

[2021-02-17 00:38] othercorey commented on #5334
I created a test repository with a repro. However, you have to change the AWS ECR repository to something you have access to.

https://github.com/othercorey/skaffold-5337

This fails to push with `--kube-context` CLI option and `local: push:` in skaffold.yaml. My understanding is one of these should trigger the remote push.

## skaffold 1.19

[code]

## skaffold 1.16

[code]

[2021-02-17 04:07] gsquared94 opened #5404 "Providing a url to `-f` flag doesn't work with remote configs"
### Expected behavior
Run:
[code]
Skaffold uses the url provided as the main config and downloads any remote configs specified in that file.
### Actual behavior
Skaffold fails with the error:
[code]
### Information

- Skaffold version: v1.20.0
- Operating system: ...
- Contents of skaffold.yaml:
https://raw.githubusercontent.com/gsquared94/skaffold-remote-configs-demo/main/skaffold.yaml

[2021-02-17 05:13] satazor opened #5406 "Do not run `helm upgrade` if there are no changes"
When running `skaffold run`, skaffold seems to call `helm upgrade` for every entry in `helm.releases`. This means that new revisions are created for all these helm releases, even ones that were not changed. This ends up polluting the Helm history and makes things slower.

I've created this issue to suggest adding a new feature that allow calling [`helm-diff`](https://github.com/databus23/helm-diff

[2021-02-17 16:19] #5401 closed

[2021-02-17 17:25] ivanporty commented on #3545
I believe this is fixed with `BUILD_PUSH_ACCESS_DENIED` error code reported now by Skaffold event API? Should we close and marked as fixed?

[2021-02-17 18:02] briandealwis opened #5407 "Buildpacks builder should support mounting read/write volumes"
Pack 0.15.0 supports mounting read-writable volumes.  This would be very handy for mounting a user's Maven's `~/.m2` or other shared resources.

[code]

We should add the ability for users to specify a source and mount point, and whether the mount should be read-only or read-write.

[2021-02-18 13:05] johanjk opened #5411 "Tagger fails when building artifact with multiple tags"
Using the new [multiple config](http://tinyurl.com/skaffold-multi-configs), building two different tags of one artifact is now semantically possible, _as suggested by @nkubala in https://github.com/GoogleContainerTools/skaffold/issues/1269#issuecomment-767212603_.

Issue is, the tagger overrides each tag of artifacts with the same name, with the last seen tagPolicy.

### Expected behavior
[code]

[2021-02-18 17:57] gsquared94 opened #5412 "Create specific error codes for various skaffold config parsing errors"
Issue to track adding config parsing errors with specific error codes and actionable errors where applicable.

[2021-02-18 18:00] gsquared94 opened #5413 "Add control API to get list of all modules reachable from a target `skaffold.yaml` file"
Provide a control API to get the list of valid module names that can be provided as input to `--module` flag.
Required for integration with Cloud Code IDEs.

[2021-02-18 19:05] MarlonGamez commented on #5339
Thanks for that! I've made the team aware of the issue and I'll update this as we get a fix

[2021-02-18 20:29] mentos1386 commented on #5317
@nkubala Issue is that `{{.IMAGE_NAME}}` is not deterministic in scope of one `kind: Config` as it's value is dependent on order of how this config is included/merged/required by others.

Which means you cannot safely use it, without taking in to the account the whole scope of all configs that required for some action.

This makes usage with micro service architecture hard, if not impossible. When

[2021-02-18 22:16] satazor opened #5414 "Helm: uninstall: Release not loaded"
### Expected behavior

Calling `skaffold delete` a second time, after a previous failed `skaffold delete` should not fail with `uninstall: Release not loaded` when using Helm.

### Actual behavior

If a previous run of `skaffold delete` fails (e.g.: network error) and some Helm releases were uninstalled and some were kept, the second run of `skaffold delete` fails with  `uninstall: Release not loa

[2021-02-18 22:17] briandealwis commented on #3545
I don't think the patterns currently in `pkg/skaffold/errors/err_map.go` will match the Jib-Maven error shown above.

[2021-02-19 00:58] #5404 closed

[2021-02-19 06:05] #5379 closed

[2021-02-19 06:16] satazor opened #5417 "Run helm concurrently"
This a feature request to add `concurrency` (default being `1`) to the helm deployer, just like we have for some builders.

Currently, helm releases are deployed sequentially , which is slow if a given `skaffold.yaml` has many releases. It would be awesome if we could run these concurrently, to speed up the process.

[2021-02-19 15:58] MarcoSchaar opened #5418 "support for helm oci"
Hi
is there something planned to implement support for

https://helm.sh/docs/topics/registries/#enabling-oci-support

that a given helm chart is pulled from e.g. registry before deployment?
cheers
Marco

[2021-02-19 16:40] fdruillennec opened #5419 "kaniko - in cluster - pull initImage and Image from a private registry"
### Expected behavior

The initContainer and executor images are pulled well from a private registry.

### Actual behavior

At work, I cannot pull docker images directly from gcr.io. A internal remote registry is required with authentication.
In the file skaffold.yaml, I set the 2 fields image and initImage with the internal registry prefix to pull the executor and busybox images.

When Kubernetes

[2021-02-19 17:01] MateusAmin commented on #5398
One could fix this without removing the docker file verification by skipping the verification on detection of:

https://docs.docker.com/develop/develop-images/build_enhancements/#overriding-default-frontends

It seems it must be in the first line and container a "#" "syntax" "=" ordered triplate that you could check for.

So at line 80 here:
https://github.com/GoogleContainerTools/skaffold/blob/63

[2021-02-19 17:03] briandealwis opened #5420 "Skaffold should validate input file with our JSON schemas"
### Expected behavior

`skaffold build -f skaffold.yaml` should warn on invalid input `skaffold.yaml`.

### Actual behavior

Skaffold does not validate the yamls, and may instead crash (#5363)

----

<details>
<summary>hack to validate skaffold.yaml from a schema file</summary>

[code]
</details>

[2021-02-19 17:09] briandealwis opened #5421 "Skaffold schema objects are not marked as type=object"
Our JSON schema type definitions are not marked as `"type": "object"` and so array references etc can be filled in with numbers or other values.  For example, the following is deemed to be valid:

[code]

Our [schema generator](http://github.com/GoogleContainerTools/skaffold/blob/master/hack/schemas/main.go) needs to add a `type` field to the generated objects.

[2021-02-19 17:10] briandealwis commented on #5363
It doesn't show up as an error when validating against our JSON schema definitions:
  - our [PortForwardResource](https://github.com/GoogleContainerTools/skaffold/blob/master/docs/content/en/schemas/v2beta13.json#L2370) doesn't mark any fields as being required. So using `portForward: [{}]` is ok too.
  - our object definitions don't mark themselves as `"type":"object"` and so allow `null`, or int

[2021-02-19 21:57] #4999 closed

[2021-02-19 23:04] tejal29 commented on #5373
duplicate of #5370

[2021-02-19 23:04] #5373 closed

[2021-02-19 23:51] MarlonGamez opened #5422 "Have skaffold emit TaskEvent protos"
Skaffold should emit the new TaskEvent protos for API v2

[2021-02-19 23:52] MarlonGamez opened #5423 "Have skaffold emit various SubtaskEvent protos"
Skaffold should emit the new SubtaskEvent protos for API v2

- [x] [build](https://github.com/GoogleContainerTools/skaffold/issues/5726)
- [x] [test](https://github.com/GoogleContainerTools/skaffold/issues/5784)
- [x] [deploy](https://github.com/GoogleContainerTools/skaffold/issues/5782)
- [x] [statuscheck](https://github.com/GoogleContainerTools/skaffold/issues/5785)

[2021-02-20 02:02] glouischandra opened #5424 "Status Check misleading error"
### Expected behavior
Clear error message from status check about image access instead of user cancelled

### Actual behavior
Received STATUSCHECK_USER_CANCELLED

### Information

- Skaffold version: v1.19.0
- Operating system: Linux Goobuntu
![image](https://user-images.githubusercontent.com/3677364/108579574-6783e200-72dc-11eb-914e-b2eed1918fc7.png)

- Contents of skaffold.yaml:

[code]

### Ste

[2021-02-20 14:51] briandealwis opened #5425 "Debug docs should warn about re-entrancy with probes"
We encountered a situation where ~a breakpoint was placed on the calling path of~ a user was stopped in a breakpoint.  This pod had a liveness probe that called back into the app. Because the server was blocked due to the debug session in progress, and liveness probes have a timeout of 1 second, the probe was deemed to have failed and k8s restarted the container.
[code]

it makes sense that a deve

[2021-02-20 16:49] cgorman commented on #5396
I've got the same issue. Seems related to #5388?

[2021-02-20 18:16] briandealwis opened #5427 "Skaffold reports pod is ready based on phase not readiness state"
In CC-VSC, I saw in the output:
[code]

So pod/nodetodo-deployment-5dcbd4795b-94sqb appeared to be running.  But `kubectl` disagrees:
[code]

Eventually the output view added:
[code]

I suspect our status checks are reporting the pod phase and ignoring the ready state — the same problem as in #5308.

(This caused some head-scratching trying to understand why the app wasn't running properly.)

[2021-02-20 23:42] alexkoepke opened #5428 "users can't run Quickstart docs in Cloud Code Shell until gcloud skaffold update version goes through."
### Expected behavior

Go to https://skaffold.dev/docs/quickstart/

### Actual behavior

[code]

### Information

- Skaffold version: `v1.19.0`
- Operating system: Google Cloud Shell
- Contents of skaffold.yaml:
[code]

### Steps to reproduce the behavior

1. Go to https://skaffold.dev/docs/quickstart/
2. Click the "Open in Cloud Shell" Button
3. Run `skaffold dev`

[2021-02-22 06:42] PriyaModali opened #5431 "Add distinct error codes for custom test failures"

[2021-02-22 09:53] ricardo-larosa opened #5434 "make test fails in M1 macs"
### Expected behavior
`make test` passes

### Actual behavior
`make test` fails
Go lint fails in M1 macs
[code]

### Information

- Skaffold version: latest
- Operating system: darwin/arm64

[2021-02-22 15:55] yuwenma commented on #3904
The kpt deployer is added to skaffold (stable version) and I think we can mark this issue done. Future changes related to render v2 is orthogonal to this request.

[2021-02-22 15:55] #3904 closed

[2021-02-23 13:31] taisph commented on #5159
Still an issue with skaffold v1.19.0.

[2021-02-23 14:25] sev3ryn opened #5439 "if git is not installed skaffold silently falls back to sha256 tagPolicy"
When git is not installed skaffold silently falls back to sha256 tagPolicy ignoring gitCommit tagPolicy

### Expected behavior

FAILURE: git not installed. Can't use specified tagPolicy

### Actual behavior

Silent fallback to sha256 tagPolicy. Images tagged with IMAGE_TAG is set to latest

### Information

- Skaffold version: 1.20.0
- Operating system: all
- Contents of skaffold.yaml:

[code]

##

[2021-02-23 15:27] uvegla opened #5440 "Cannot parse configuration files with multi line strings using literal style"
### Expected behavior
Skaffold can parse yaml files that contain multi line stings using the [literal style](https://yaml.org/spec/1.2/spec.html#id2795688) with empty lines in them. (Or see [this](https://yaml-multiline.info/) for a nicer explanation.)

### Actual behavior
Skaffold fails to parse yaml files with multi line strings using literal style with empty lines in them.

### Information

- S

[2021-02-23 19:00] #5434 closed

[2021-02-23 20:59] #5363 closed

[2021-02-23 21:05] #5329 closed

[2021-02-23 23:01] aleeve commented on #3905
Thanks for a great tool! Here is a really silly workaround for the CRD case. One can add a phony build artifact 🙈

  - image: phony
    custom:
      buildCommand: kubectl apply -f crd.yaml && echo FROM alpine | docker build -t phony -
      dependencies:
        paths:
          - crd.yaml

[2021-02-23 23:20] tejal29 commented on #5421
@tstromberg this bug is showing as p2 violation. It was created 4 days ago.
![image](https://user-images.githubusercontent.com/1534539/108921020-92c34580-75ea-11eb-934c-b1cc5a9cdded.png)

[2021-02-23 23:25] tejal29 commented on #5210
This is expected. skaffold dev exits if first deployment fails.
A container failing with exit code 1 is non recoverable error and hence status check phase fails.

This kind of relates to our idea of making 1st devloop not exit.

[2021-02-23 23:25] tejal29 commented on #5210
duplicate of #4953

[2021-02-23 23:30] tejal29 commented on #5398
Regressions should be a high priority issue. @gsquared94 Can i nominate you to investigate the issue and adjust priority if its expected ?

Thanks
Tejal
/cc @PriyaModali

[2021-02-23 23:35] tejal29 commented on #5259
Thanks @TBBle for opening an issue with fixes.
Please let us know on how we could help you get the change in faster.

[2021-02-23 23:41] tejal29 commented on #5414
@satazor sounds like a great idea. Helm deployer code is here needs some attention to exclude the error message you just listed.
Would you be up for adding this?

[2021-02-23 23:42] tejal29 commented on #5417
sounds like a good idea. Can you give us more details on
1) how many helm charts do you have?
2) If one fails, do you envision the already deployed ones being cleaned up?

[2021-02-23 23:45] tejal29 commented on #5318
For user usecase i think it makes sense to port-forward as resources are ready.

Thanks for the request @Richard87 . We will try to bundle it with #4832

[2021-02-23 23:50] tejal29 commented on #5358
Thanks @noahschumacher for the package.json

[2021-02-24 00:15] tejal29 commented on #5399
@dsaydon90 this bug is enough. there 2 issues
1) `-f skaffold-overrides.yaml` and `-f valuesFiles` collide.  - is skaffold_overrides.yaml your skaffold.yam file?
2) We are not escaping the `setValues` correctly and hence the issue.

[2021-02-24 01:25] Seb-C commented on #5210
@tejal29 I disagree with closing this ticket. This is a different issue than the first dev loop problem you linked.

A container failing is restarted by k8s until it works, this is the recommended way to do it.

Currently, starting the first dev loop is impossible, independently of any code issue. Even if my pod is still in starting status in k8s, skaffold fails it.

I expect Skaffold to handle my

[2021-02-24 01:48] tejal29 opened #5442 "[Epic] Improve Helm support"
Hey team,

This is epic for our helm3 revamp support.

[2021-02-24 01:49] tejal29 commented on #5418
We are thinking of revamping helm support for skaffold.  We could definitely explore this.

We are tracking all helm support requests here #5442
/cc @nkubala

[2021-02-24 01:51] tejal29 commented on #5417
relates to #5442

[2021-02-24 01:52] tejal29 commented on #5081
relates to #5442
Please check if this is already implemented

[2021-02-24 01:58] tejal29 commented on #5439
Thanks @sev3ryn. team will try to reproduce this.

[2021-02-24 02:00] tejal29 commented on #5440
@uvegla Sorry for issue. We did make some changes to parsing yaml recently. Team will try to reproduce this issue,

[2021-02-24 02:06] tejal29 commented on #5428
Thanks a lot @alexashley for opening this issue and brining this to our attention.
Looks like we have an error in our co-ordinating skaffold release with skaffold version in Google Cloud Shell.

This should be resolved when we make our internal change to upgrade skaffold version in gcloud lands which happens around Tuesday.
However, that said team definitely needs to fix this down time and come up

[2021-02-24 02:09] tejal29 commented on #5424
Thanks @glouischandra for opening this issue.
looks like there were multiple resource checks happening.
As one of them failed, pending status checks are cancelled. I do have checks in place to report the actual error instead of cancelled.

[2021-02-24 02:10] tejal29 commented on #5424
Is this bug required for auto GKE ?

[2021-02-24 03:29] briandealwis opened #5443 "Skaffold should strip or warn on `imagePullPolicy: always` when deploying to local cluster"
@VeerMuchandi showed me a hard-to-diagnose situation where he was building and deploying to a local minikube cluster, but was encountering pull errors from the cluster:
[code]

We verified that the images were present in Minikube's docker daemon.

It turns out the deployment had an `imagePullPolicy: always`.

Should we emit a warning when deploying a built image?  Or perhaps this should cause an e

[2021-02-24 04:03] satazor commented on #5414
@tejal29 I think you forgot to link "here". I can look into this yes. However, I have not wrote any Go code but I will give it a try :D

[2021-02-24 04:03] Seb-C opened #5444 "[Meta] Reopen issue wrongly marked as duplicate"
### Expected behavior

The issue is considered and opened to discussion.

### Actual behavior

The issue was marked as duplicate and closed.

### Information

My issue #5210 was wrongly marked as a duplicate with #4953 and closed.

#4953 is about the development loop not starting if the code fails
#5210 is about the conditions that determines that the deployment is failed.

Currently, Skaffold is

[2021-02-24 04:07] satazor commented on #5417
1. We have a mono-repository with currently 7 micro-services a two gateways (graphql and downloads). So it's a total of 9 helm releases, but it will likely increase in the future, as the product we are developing grows.

2. Good question. I would say that to not cleanup / revert, but it could maybe be an option? Currently, if a helm installation/upgrade fails, the deployment process stops.

[2021-02-24 04:17] othercorey commented on #5334
Is there any more debug output I can provide? What triggers the check for a remote repo?

[2021-02-24 06:37] tejal29 commented on #5419
The initImage just runs the kaniko container to mount local source code into the pod.
It expects a `tar` to be there which `busybox` has.
you want to use the `dockerConfig` which points to a docker config file like this
[code]

[2021-02-24 06:41] tejal29 commented on #5210
@Seb-C Can you please re-run with `--status-check=false`. Skaffold turns status check on by default. To opt out of status check you can use the above flag.
The disadvantage of disabling status check is, in case you have port-froward flag enabled, or user defines resources, skaffold will attempt to port-forward those even if they are not ready.

Hope that answers your questopn

[2021-02-24 06:44] tejal29 commented on #5444
Reopening the previous issue and closing this.
Skaffold team uses https://github.com/google/triage-party open source tool which notifies the team if original author commented on a closed issue.
Hence i went ahead a closed your issue #4953. :)

[2021-02-24 06:44] #5444 closed

[2021-02-24 06:46] tejal29 commented on #5396
should be fixed as part of #5442

[2021-02-24 06:54] tejal29 commented on #5396
@cgorman looks like @gsquared94 fixed the issue on master. You can try the latest binary or wait for our next release v1.21.0
the latest binaries in skaffold can be found at `gs://skaffold/builds/latest`

you will need to use the gsutil commend to
e.g. for amd64 mac os binary.
[code]

[2021-02-24 08:02] tejal29 commented on #4977
I am going to close this issue since, i also wasn't able to reproduce this.
Please comment if this issue still exists.

[2021-02-24 08:02] #4977 closed

[2021-02-24 08:29] dsaydon90 commented on #5399
Hi @tejal29 ,
In my case `skaffold_overrides.yaml` is not override my `skaffold.yaml` because the `skaffold-overrides.yaml` only contains the values under the `overrides` key from my `skaffold.yaml` file (see above), so in this case it will not override my helm values file `Kubernetes/api/dev-values.yaml` due to the flag position (see above). In `helm`, the latest `-f <values file>` wins and for t

[2021-02-24 09:10] Richard87 commented on #5318
So, port-forwarding starts as soon as the requested resource is ready, or will it wait until all resources are ready?

[2021-02-24 09:52] rccrdpccl opened #5445 "Skaffold render does not update helm dependencies"
### Expected behavior

when running `skaffold render` with helm deploy, I would expect the render to include helm dependencies. If not possible, it would be good to have a switch to only update deploy dependencies

### Actual behavior

when running `skaffold render` with helm deploy, no dependencies are update, incurring in an error when the command is run from a fresh checkout (for example from C

[2021-02-24 10:13] aariacarterweir commented on #5334
I'm seeing this too on GHCR. I've narrowed it down to using the `--kube-context` flag to a remote cluster, but having your current context in kubectl set to a local one.

[2021-02-24 18:24] tejal29 commented on #5406
Thanks @satazor Sounds like a great perf improvement.
#5442

[2021-02-24 18:28] tejal29 commented on #169
#5442

[2021-02-24 18:30] tejal29 commented on #5445
adding #5442

[2021-02-24 21:10] briandealwis opened #5449 "Flake: pod could not tolerate taint `node.cloudprovider.kubernetes.io/uninitialized`"
See in a [test on Travis](https://api.travis-ci.com/v3/job/485635048/log.txt) using k3d v3.4.0:
[code]

Elsewhere shows the Pod status:
[code]

[2021-02-24 21:35] arash16 commented on #5396
I still have this issue with latest binary.
I used skaffold-linux-amd64

[2021-02-24 22:44] blitzd opened #5450 "Installing Skaffold Docs macOS ARM64 binary url is incorrect"
has:

`curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-darwin-amd64 && \`

and should probably be:

`curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-darwin-arm64 && \`

Same issue for the bleeding edge build...

[2021-02-24 22:57] briandealwis commented on #2184
Right now an artifact can be ignored by adding an annotation to the resource's metadata like the following:
[code]

[2021-02-24 22:59] briandealwis commented on #2184
Usecase: running a react serving front-end within Kubernetes https://nirajsonawane.github.io/2020/04/25/Deploy-React-Spring-Boot-MongoDB-Fullstack-application-on-Kubernetes/

The react serving container runs NPM but is not debuggable.

[2021-02-25 00:36] tejal29 commented on #5450
Its fixed on our latest master docs https://skaffold-latest.firebaseapp.com/docs/install/

I ended up running the trigger to publish docs on skaffold.dev
its not fixed on https://skaffold.dev/docs/install/

[2021-02-25 00:36] #5450 closed

[2021-02-25 03:42] Seb-C commented on #5210
@tejal29 Thank you for your answer.
I tried to reproduce the problem to try your solution, but my stack changed a lot since I first opened this issue and I am now unable to reproduce it.
I believe it is either because I switched to helm (which may handle the status checks differently) or updated Skaffold (I think an issue related to the status check timeout has been resolved).

[2021-02-25 04:34] gsquared94 commented on #5396
I can confirm I can repro this locally. It is a new bug and I have not made any fix related to this recently. Looking with priority.

[2021-02-25 07:07] #5398 closed

[2021-02-25 07:30] gsquared94 commented on #5440
The issue was introduced along with this instrumentation package [PR](https://github.com/GoogleContainerTools/skaffold/pull/5100) which was trying to figure out field names by marshalling the struct and slicing the string.

[2021-02-25 09:19] rccrdpccl opened #5454 "skaffold render does not render helm secrets"
### Expected behavior
When running `skaffold render` with the option `useHelmSecrets: true` we should see decrypted secrets.

### Actual behavior
Secrets are rendered as crypted values (as helm secrets plugin is not executed)

### Information

- Skaffold version: 1.20.0
- Operating system: Linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. https://github.com/rccrdp

[2021-02-25 09:50] arash16 opened #5455 "Multi-Skaffold project warns about helm problem not replacing image names"
I have a root skaffold that ```requires``` multiple other ```skaffold.yaml``` files. If I comment out all ```requires``` except one of them, everything works fine. But when I ```requires``` multiple ```skaffold.yaml``` files, skaffold gives following warnings:

[code]

### Information

- Skaffold version: 1.20.0
- Operating system: Linux Mint 19
- Contents of skaffold.yaml:

#### skaffold.yaml
[co

[2021-02-25 11:00] omninonsense opened #5456 "Provide context when reporting required config errors"
### Expected behavior

Give more context when reporting errors inside required modules.

An example of what the message might look like for the `path` option:

[code]

When using the Git option it could be

[code]

And so on, you get the idea.

I'm not sure if it makes sense to also provide a list of named parent configs (ie dependants) so people know where the dependency comes from, but I've not

[2021-02-25 17:33] m1o1 opened #5459 "helm remote deploy fails when "required" by another config"
- Skaffold version: version: **v1.20.0**
- Operating system: **Windows 10**

Scenario 1:

If I skaffold run with this, it successfully installs the ingress-nginx helm chart:
`skaffold.yaml`:
[code]
---
Scenario 2:

If I want to put this nginx config in a different skaffold config like so:
`skaffold.yaml`:
[code]
`skaffold/nginx.yaml`:
[code]
then it fails with this error:
[code]
It seems like in t

[2021-02-25 17:38] tstromberg commented on #5143
It's worth noting that since this issue was originally opened, minikube added a `minikube image load` command that may be more efficient than the older `cache` implementation: https://minikube.sigs.k8s.io/docs/commands/image/

[2021-02-25 17:57] m1o1 commented on #5459
I'm guessing this is related to the [Multiple working directories](https://docs.google.com/document/d/1dA1549Rj9xfAt5sHh-wHng1MQT1A9SOylLt4xEjctGk/edit#) of the design doc for multi-config skaffold.

Also, in the `chartPath` and `valuesFiles` below, the path is somewhat unintuitive since it's relative to the top-level skaffold file (or maybe where I'm running skaffold from), not the config that it

[2021-02-25 18:33] tejal29 commented on #5411
Thanks @johanjk for raising this issue.
/cc @gsquared94 i am trying to dig up the design doc here to see if we did have this use case in mind. Team will assign an owner soon.

[2021-02-25 19:04] briandealwis commented on #5424
This looks like a permission problem @glouischandra.  Are you deploying to a cluster in `glouischandra-test`?  If not, you need to configure registry credentials for the cluster to access your image.  Or you make your registry public.

[2021-02-25 19:07] briandealwis commented on #3905
🤯

[2021-02-25 19:14] #5396 closed

[2021-02-25 19:14] tejal29 commented on #5424
Yes the "image can't be pulled" is the underlying  issue for resource check failure. The "final" status-check failure reason should not be "STATUSCHECK_USER_CANCELLED" but report correctly "STATUSCHECK_IMAGE_PULL_ERR"

[2021-02-25 19:40] tejal29 commented on #5424
Note: not a high priority but good to fix this issue since chances of seeing this bug are high given cluster could run out of capacity and not scale in time when deploying app.

[2021-02-25 19:43] gsquared94 commented on #5411
I'm surprised our schema validation didn't catch this; the artifact image name _need_ to be unique across the skaffold configurations in a single session. It is used as a dictionary key in numerous places.

[2021-02-25 21:02] jimmywan opened #5460 "File-sync in infer mode does not detect changes with context including parent directory"
### Expected behavior
Ideally: file sync works
Optionally: halt and output warning that file sync will not work, as configured.

### Actual behavior
skaffold runs, but silently doesn't detect the file changes.

### Information
- skaffold version v1.20.0
- Docker version 20.10.3, build 48d30b5
- minikube v1.13.1 on Ubuntu 18.04

[code]

### Steps to reproduce the behavior

 - Run `skaffold dev`
 -

[2021-02-25 22:37] othercorey commented on #5334
Comparing v1.16.0 to v1.17.0, the only really relevant change I can find is the options refactor:

https://github.com/GoogleContainerTools/skaffold/pull/4986

[2021-02-26 05:37] #5440 closed

[2021-02-26 08:13] artemkoru opened #5463 "[1.20.0] Skaffold deploy command incorrectly replaces artifacts (docker images)"
### Expected behavior

I have set the environment variable `SKAFFOLD_DEFAULT_REPO` to `cr.yandex/crpjbnso4f901c9oq7rp` and when I run the command: `skaffold deploy -i nginx-image -t sometag`, I expect to get the docker-image name `cr.yandex/crpjbnso4f901c9oq7rp/nginx-image:sometag` in my kubernetes resources.

It works fine in skaffold v1.17.2, but in v1.20.0 I have the problem described below.

#

[2021-02-26 11:01] omninonsense commented on #4246
I've made a PR to (hopefully) address this. However, in case the PR gets rejected—it is a bit shabby—here is a more permanent workaround for minikube users that doesn't require hacking/wrapping/aliasing anything.

When starting minikube (for the first time or consecutively) you can pass it `--namespace=`. This has a similar effect as the workaround mentioned in https://github.com/GoogleContainerTo

[2021-02-26 15:58] briandealwis commented on #3649
@jahredhope I put together a small example of using `docker buildx` in #5426, similar to what you've shown here.  But I don't see any issue like what you're describing here.

Could the issue be that you weren't setting a node-selector or -affinity on your cluster?

[2021-02-26 19:17] tstromberg opened #5465 "https://storage.googleapis.com/skaffold/releases/latest/VERSION says "docs_fix""
This should say v1.12.0, but says `docs_fix`:

[code]

[code]

Looking at the releases bucket, we may have accidentally run the release script on a release named `docs_fix`?

[code]

[2021-02-26 19:28] tejal29 commented on #5465
That was me, trying to push doc_fix changes to master.
I will fix that.

[2021-02-26 19:38] tejal29 commented on #5465
things to do
1) tag and push v1.20.0 image to latest
2) Change the tag regular expression [here](https://pantheon.corp.google.com/cloud-build/triggers/edit/690f6c14-f349-42bc-b9d6-91567dc94261?folder=&organizationId=&project=k8s-skaffold) to be more restrictive
3) `https://storage.googleapis.com/skaffold/releases/latest/VERSION` shd say v1.20.0
4) remove `https://storage.googleapis.com/skaffold/re

[2021-02-26 19:51] gsquared94 commented on #5459
@m1o1 I believe you've run into  #5396. We've fixed it via #5452. Is it possible to try out against our unreleased binary here and let us know if that worked for you?

For windows:
[code]

[2021-02-26 20:00] nkubala commented on #5334
i'm investigating this one now to see what changed, our logic to determine whether a cluster is local or not is a bit tangled. while i'm doing that though, @othercorey the section of your skaffold.yaml for specifying `push` isn't actually doing anything:

[code]

instead, if you change it to
[code]
it should force a push.

still does seem like something has changed related to cluster detection, so

[2021-02-26 20:10] tstromberg commented on #5465
`curl https://storage.googleapis.com/skaffold/releases/latest/VERSION` now shows v1.20.0.

[2021-02-26 20:14] tejal29 commented on #5465
thanks for confirming @tstromberg

[2021-02-26 20:19] tejal29 commented on #5465
Verification notes: latest binaries are now set to v1.20.0 binaries.
[code]

[2021-02-26 20:32] tejal29 commented on #5465
Release trigger only matches release tags
![image](https://user-images.githubusercontent.com/1534539/109351755-a232d080-782e-11eb-9e3a-7c7590c915b3.png)

[2021-02-26 20:46] #5465 closed

[2021-02-26 21:09] tejal29 commented on #5159
Reproduction notes
1. kind version & skaffold version
[code]
2. skaffold example `cd skaffold/examples/getting-started`
[code]
3.  running `skaffold dev` - I see skaffold loading images
[code]

[2021-02-26 21:26] tejal29 opened #5466 "Warning moved to debug log."
While debugging #5159, i saw the following log lines in debug mode
[code]

The below log line sounds like a warning i need to pay attention to. https://skaffold.dev/docs/pipeline-stages/taggers/#how-tagging-works  given me some information but no information on what to do to remove this warning.
[code]

I propose,  we either
1) remove this debug information and say something more explicit
[code]
2

[2021-02-26 21:31] othercorey commented on #5334
Thank you, I will try it out. I think that was probably from following the skaffold.xml docs which omits the false default.

https://skaffold.dev/docs/references/yaml/#build-local-push

[2021-02-26 21:38] tejal29 commented on #5159
@taisph i am not able to reproduce this for v1.20.0.
I will try for skaffold v1.19.0

[2021-02-26 22:16] tejal29 commented on #5159
ok, i was finally able to reproduce this bug.
Here is the complete skaffold.log https://gist.github.com/tejal29/70492f02e6de2f8b16376f49c933dd0f
[code]

[2021-02-26 22:33] MarlonGamez commented on #5386
Hey @dimovnike, I was able to reproduce this using our skaffold helm-deployment example. I think the issue here is the way that we're selecting pods with our log aggregator. Currently it seems that we simply select pods based off the image being deployed.
https://github.com/GoogleContainerTools/skaffold/blob/27d1de28da11a8676c6f9913affce066e807083f/pkg/skaffold/kubernetes/log.go#L316-L328
So, we'r

[2021-02-26 22:36] briandealwis commented on #5355
I tried to reproduce this as best I could given the descriptions here and in https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/379.  The underlying issue is that Skaffold resolves files and directories relative to the current working directory (which in this case is the VSCode workspace location), not to the location of the `skaffold.yaml`, with one exception: files and directories r

[2021-02-26 22:46] briandealwis commented on #5355
One thing to note: we did have a bug that was fixed in #5138 with Skaffold v1.18.0 that would have affected use of `skaffold debug` with Helm when the `skaffold.yaml` was located outside of the current directory.

[2021-02-26 23:01] j-windsor commented on #5355
I see in issue https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/376 that you were actually using our Cloud Code managed dependencies at the time running skaffold v1.17.2, so #5138 might be the fix that you are looking for.

[2021-02-26 23:04] gsquared94 commented on #5455
able to repro

[2021-02-26 23:22] jahredhope commented on #3649
@briandealwis , that example looks great!
Unfortunately, I've moved on from deploying to arm and it would require significant work to recreate where I was back then.

It makes sense that the piece I was missing was using selector/affinity, though I'm not exactly sure what that looks like in the resulting spec.

I'm happy to assume that this issue is resolved as you've said you've tried it and it w

[2021-02-26 23:22] #3649 closed

[2021-02-27 10:15] dsaydon90 commented on #5355
Hi @j-windsor , I have used the latest version of skaffold on that time `v1.19.0` by running skaffold from the command line.
You right that cloud code installed for me an old version under the cloud code cache directory  (it's not part of PATH) which not relevant when running skaffold manually.

[2021-02-27 18:27] mateusbds commented on #2492
It would be really cool if we had this feature. Is it going to be added anytime soon?

[2021-03-01 00:35] m1o1 commented on #5459
Oh yeah that might be the same issue. I tried to download that exe but got:
[code]
I tried `gsutil cp gs://skaffold/builds/latest/skaffold-windows-amd64 ./skaffold.exe` which got an exe but when running `skaffold run` I got: `parsing skaffold config: unknown api version: "skaffold/v2beta12"`

skaffold version (of the one I downloaded): 3a09ff2

[2021-03-01 00:47] m1o1 commented on #5459
Hmm no luck with the latest (827139d):

`$workingDir/skaffold.yaml`:
[code]

`$workingDir/skaffold/infra.yaml`:
[code]

[2021-03-01 14:55] fdruillennec commented on #5419
I add that part to my skaffold.yaml but didn't help.

In the file .docker/config.json, there is an auth entry to the private gcr remote registry.

kaniko pod failed when it tried to pull the init image: Init:ErrImagePull (no basic auth credentials)

[2021-03-01 15:21] fdruillennec opened #5469 "Templated Fields - image"
In the schema version v1, we were able to template the whole name of the artifact as:
[code]

In the schema version v2beta12, the template is only used for the docker tag.

Is there still a way to template the name of the artifact and not just the tag after ":" ?

[2021-03-01 16:20] m1o1 opened #5470 "Field to disallow remote clusters"
Requesting this feature after asking about this in the skaffold slack.

I would like to have an option in the `skaffold.yaml` which disallows running against any remote clusters (recursively, including any "required" sub-skaffold configs), similar to the restrictions that [Tilt](https://docs.tilt.dev/choosing_clusters.html#remote) puts in place by default. A field that ensures noone on the team ca

[2021-03-01 19:47] briandealwis commented on #2202
With Delve's DAP finishing up, we'll need to support this soon.  Rather than trying to maintain IDE-compatibility tables, I think it's best if the IDEs specify a list of supported protocols.  For example, CC-VSC could run:
[code]

whereas CC-IJ would run:
[code]

cc: @quoctruong @etanshaul @petlin

[2021-03-01 19:54] etanshaul commented on #2202
how timely! I just wrote up: https://docs.google.com/document/d/1Dj52OayWFFa_3dBSzvt3-xWFIGLvm0oyGswRW4oV0KI, so I think we can converge on this.

[2021-03-01 20:03] etanshaul commented on #2202
one thing that is missing from my above design is multiple protocol support (good catch)

I also like how you differentiate between DAP and _everything else_.

How do you figure this? Do you mean because JB has to manually specificy all of the individual protocols?

[2021-03-01 21:39] isengartz commented on #4058
I get the same issue using `v1.20.0` installed with choco . Tested it at `Webstorm Terminal` / `Git Bash` / `PowerShell` / `CMD` . None of deployments get deleted after pressing `Ctrl + C`

[2021-03-01 21:46] gsquared94 commented on #4058
can you try downloading the binary directly? I've seen other issues around Chocolatey
[code]

[2021-03-01 23:21] isengartz commented on #4058
Yeap it works perfectly using the binary directly !

[2021-03-02 01:09] satazor opened #5471 "error adding label to runtime object: patching resource default jobs.batch"
### Expected behavior

I have a helm chart that create a k8s job:

[code]

When using `skaffold run` or `skaffold dev`, I would expect no warnings.

### Actual behavior

The deployment goes well, however the following warning is printed:

[code]

This is happening because helm deletes the job once it succeeds, because we have the `helm.sh/hook-delete-policy: hook-succeeded` annotation. Skaffold tr

[2021-03-02 04:30] briandealwis opened #5473 "skaffold should offer a `clean`"
Certain builders create files in the local workspace.  The `jib` builder, for example, invokes Maven or Gradle which create files in a `target` or `build` directory (respectively).  The `bazel` builder creates special symlinks in the root of the workspace, and it's possible that `custom` builders might also create files or directories.

It should be possible to run `skaffold clean` to ensure the e

[2021-03-02 14:14] dsaydon90 commented on #5399
Hi @tejal29 , do you need more information ?
by quick review, need to make those lines
https://github.com/GoogleContainerTools/skaffold/blob/827139dccb7eea76578db30bec40376ddc9de689/pkg/skaffold/deploy/helm/args.go#L88-L101

run before the following lines

https://github.com/GoogleContainerTools/skaffold/blob/827139dccb7eea76578db30bec40376ddc9de689/pkg/skaffold/deploy/helm/args.go#L167-L169

this

[2021-03-02 16:23] Miles-Ahead-Digital opened #5477 "how to tag the image with "latest" and gitversion?"
Hi,

how can I tag my images with two tags:
- latest
- gitversion

??
Best regards
Stefan

[2021-03-02 18:39] gsquared94 commented on #5411
Closing this issue, we've added an explicit validation to disallow same image names. This failure was expected.

[2021-03-02 18:39] #5411 closed

[2021-03-02 20:00] tejal29 opened #5478 "Add `--user=skaffold` flag to all minikube command invokations."
In minikube v1.8.0,  minikube team added a flag `--user` to audit commands.

We should use this flag, if user is on v1.8.0

[2021-03-02 20:34] Miles-Ahead-Digital opened #5479 "Syntay to handover multiple image in "--images=: A list of pre-built images to deploy""
Hi,
i want to use the parameter --images=
in a skaffold shell command to hand over 2 images.
What is the exact syntax? I can get it only working for one...
Best regards
Stefan

skaffold deploy -p gke -i 'image1 image2' -t latest

does not work...

[2021-03-02 20:37] piotrblasiak opened #5480 "Logs not tailing from spring boot & buildpack"
### Expected behavior

The spring boot app should tail logs.

### Actual behavior

Logs do not get tailed.

### Information

- Skaffold version: v1.20.0
- Operating system: macOS 11.2.1 (Big Sur)
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Clone https://github.com/piotrblasiak/skaffold-test
2. skaffold dev

[2021-03-03 00:28] aariacarterweir commented on #5334
Interestingly when doing a local build, if your current-context is set to a remote context, it actually runs the push which is consistent with what i found before.

[2021-03-03 04:19] tejal29 commented on #5395
@PriyaModali  Is there a separate issue for adding events in Test Phase?

[2021-03-03 04:40] satazor commented on #5414
@tejal29 this seems to be the place where I can detect the error and ignore it: https://github.com/GoogleContainerTools/skaffold/blob/ef6ec476d0f6160af0a634271ecc44203ccf3c93/pkg/skaffold/deploy/helm/deploy.go#L245

Is it correct?

[2021-03-03 04:55] gsquared94 commented on #4457
Closing as obsolete. Equivalent feature implemented via [config dependencies](https://skaffold.dev/docs/design/config/#configuration-dependencies)

[2021-03-03 04:55] #4457 closed

[2021-03-03 04:57] #4747 closed

[2021-03-03 11:09] relloyd commented on #4870
Thanks for raising this @briandealwis. I agree the feature is needed as I need a streamlined way to debug `main()`.

[2021-03-03 18:06] briandealwis commented on #5460
@jimmywan could. you please include your `skaffold.yaml` (at least the artifact definition), your project's file layout, and the output that you're seeing from Skaffold?

An artifact's `context` is a directory that contains the artifact files, but your example is pointing to a file (presuming from the name).  When I try to reproduce, Skaffold raises an error:
[code]

I would hazard that in your ca

[2021-03-03 18:40] prokher opened #5484 "Helm chart containing NOTES.txt leads to the "error parsing object from string: collecting namespaces: reading Kubernetes YAML:...""
### Expected behavior

Helm charts with NOTES.txt file should work well and does not produce any extra errors in the log.

### Actual behavior

Using Skaffold with Helm chart with NOTES.txt (containing just "Hello world!") leads to the error:
[code]

Removing NOTES.txt from the char fixes the issue.

### Information

- Helm's NOTES.txt file: https://helm.sh/docs/chart_template_guide/notes_files/
-

[2021-03-03 19:04] #1665 closed

[2021-03-03 19:05] briandealwis opened #5485 "internal server error on helm install should be system error"
@PriyaModali saw an _Internal server error_ when deploying a Helm chart in Kokoro, but Skaffold mis-attributes the error as a user error (DEPLOY_HELM_USER_ERR):

[code]

### Expected behavior

### Actual behavior

### Information

- Skaffold version:
- Operating system:
- Installed via:
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sam

[2021-03-03 19:52] briandealwis commented on #5480
Thank you for the report @piotrblasiak — this is a bug.  Looking into it now.

[2021-03-03 20:04] briandealwis commented on #5480
So we create our log aggregator before we deploy.
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/runner/dev.go#L239-L252

But it's the [deploy](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/runner/deploy.go#L85) step that examines the manifests and extracts the relevant namespaces, and then [updates the runContext with the found namespaces](ht

[2021-03-03 20:06] briandealwis commented on #5480
Downgrading priority as this doesn't seem to be a regression, just undesirable.

[2021-03-03 20:06] briandealwis commented on #5480
@piotrblasiak a workaround is to explicitly instruct Skaffold to use the `backend` namespace:
[code]

[2021-03-03 20:07] piotrblasiak commented on #5480
Ok, thanks. So is this actually not a bug then and should I ask the buildpack maintainers to fix something?

[2021-03-03 20:25] piotrblasiak commented on #5480
Sorry but adding -n backend gives another error:

 - Error from server (NotFound): error when creating "STDIN": namespaces "backend" not found
 - Error from server (NotFound): error when creating "STDIN": namespaces "backend" not found
exiting dev mode because first deploy failed: kubectl apply: exit status 1

[2021-03-03 22:19] jimmywan commented on #5460
Apologies, that was 100% a cut/paste error on my part. It did look something a lot more like your example. I'll try to get a better example put together and edit the original.

[2021-03-03 22:34] briandealwis commented on #5480
It's not a bug with the Paketo Buildpacks: definitely a Skaffold bug.

Skaffold doesn't create the namespace: you'll need to create it beforehand.

[2021-03-03 22:54] briandealwis commented on #5479
@Miles-Ahead-Digital specify the `-i` for each image:
[code]

The underlying problem is that the [flags.Images type](https://github.com/GoogleContainerTools/skaffold/blob/master/cmd/skaffold/app/flags/image.go#L39-L67) implements the pflag.Value interface and not the pflag.SliceValue interface.

[2021-03-04 04:22] briandealwis commented on #5355
@dsaydon90 where are you launching Skaffold from (what is the cwd)?

Your Helm snippet references a directory named `project` in the `chartPath` and `valuesFiles`:
[code]

but I don't see that directory mentioned in your directory structure:

[2021-03-04 04:41] briandealwis commented on #5471
This is the same as #1405.

[2021-03-04 05:39] #4718 closed

[2021-03-04 07:27] Gikkman commented on #4347
I think this is something that should be looked at pretty soon. It is quite confusing as it is right now, and at least for us, it does produce some problems when we try to share deployment procedures between developers. Having to either have people hard-code kubecontext in their skaffold file or have everyone go through the process of adding entries in their .kube/config file is more work that I w

[2021-03-04 18:31] briandealwis opened #5489 "Skaffold API should support acting as a client and connect to a gRPC server"
It would be useful for Skaffold to allow connecting to an API listener (e.g., an IDE).  Currently consumers of the API have to try to connect repeatedly until Skaffold picks up the phone, and they risk missing some key event.

[2021-03-04 19:49] PriyaModali opened #5492 "Custom build example is currently broken"
Custom build example is currently failing. See the attached error .

![image](https://user-images.githubusercontent.com/2431844/110021317-6b9dff80-7cdf-11eb-86d8-06852de96322.png)

[2021-03-04 22:13] j-windsor opened #5493 "`skaffold init --analyze --XXenableJibInit` never exits if JDK not installed"
### Expected behavior
command exits not showing jib build as an option

### Actual behavior
command never exits

### Information

- Skaffold version: v1.20.0
- Operating system: macOS 11.2 (M1 mac)
- Installed via: Cloud Code

### Steps to reproduce the behavior

1. ensure JDK is not installed
2. open [Cloud Code java hello world sample](https://github.com/GoogleCloudPlatform/cloud-code-samples/tr

[2021-03-05 05:44] fengye87 opened #5494 ""invalid skaffold config" error with multi-node minikube cluster"
1. create a multi-node minikube cluster using `minikube start --nodes 2`
2. run `skaffold dev`

### Expected behavior

It should work as expected

### Actual behavior

It failed with following message:

[code]

### Information

- Skaffold version: v1.20.0
- Operating system: CentOS 7
- Installed via: skaffold.dev

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffo

[2021-03-05 06:09] fengye87 commented on #5494
The cause of this problem is that `minikube docker-env` is not supported with multi-node clusters. So we may need a way (a flag maybe?) to let skaffold treat multi-node minikube clusters as non-minikube clusters, and rely on a Docker registry for the build-push-deploy process just like canonical k8s clusters.

[2021-03-05 15:46] PriyaModali opened #5496 "Disable artifact caching in integration tetsts"
Integration tests are passing with cached artifacts even when the actual tests are broken.

For example:
Custom build test is broken (https://github.com/GoogleContainerTools/skaffold/issues/5492). But it is still passing in the integration tests as it is able to find the cached artifact.

Integration tests should run with `--cache-artifacts=false`

[2021-03-05 17:57] MarlonGamez commented on #5492
As far as I'm aware, it looks like the custom builder example should work, however, it seems like this piece of code from https://github.com/GoogleContainerTools/skaffold/pull/4952 isn't being applied?

https://github.com/GoogleContainerTools/skaffold/blob/2e55bec5dbf2afad231ea15620d5857dcc310279/pkg/skaffold/docker/reference.go#L83-L97

[2021-03-05 18:48] briandealwis opened #5497 "Reduce build- and test-time dependencies on Docker Hub"
Our builds and tests still fail occasionally with TOOMANYREQUESTS from Docker Hub.

We can get around some of these issues by:
  - rationalize our build-and test-time images
  - configuring Travis to use mirror.gcr.io as a mirror.
  - copy key images, such as `golang:alpine`, into our own registry.

It might be worth setting up our own pull-through registry mirror.

[2021-03-06 06:35] ossm1db opened #5498 "The simple-artifact-dependency example fails in multi-stage build"
The simple-artifact-dependency example is used to minimally reproduce an issue I experienced with dependency. Note that only two modifications are made to the app/Dockerfile. No other changes are made to any other file in the example.

Change
`FROM $BASE`
to
`FROM $BASE AS foo`
and add
`FROM foo AS bar`
to the end of the file
### Expected behavior
[code]
### Actual behavior
[code]
### Information

[2021-03-06 12:52] isengartz opened #5499 "Checking cache takes ages and rebuilds the whole image after each change"
Whenever I start `skaffold dev` or whenever I do a change locally skaffold outputs `Checking Cache...` which last for 10 mins !!
After that it outputs `Not found. Building` and builds the whole image again ! I'm working on this project for the last 8 months and I didnt have any issues until I removed the old version of skaffold ( I dont remember which one ) and installed the latest ( v1.20.0 ) via

[2021-03-06 16:04] briandealwis commented on #5456
@gsquared94 do you think you might be able to tackle this?

[2021-03-06 16:15] briandealwis commented on #5176
@braderhart do you have any other contexts defined?

[2021-03-06 17:28] briandealwis commented on #5498
@gsquared94 do we do anything special for the artifact-dependencies handling?

[2021-03-06 17:37] briandealwis commented on #5494
And `--detect-minikube=false` doesn't work if the cluster is named `minikube`.  We have some rework to do with Minikube's support for `containerd` too (#5143), and here's another item to add to the list.

As a workaround you should be able to run:
[code]

[2021-03-06 17:40] briandealwis commented on #5493
Noticed in #5380 too.  This isn't easily detectable as `/usr/bin/java` exists.  I suppose we could see if `JAVA_HOME` is set, and otherwise run `java -version` and see if it fails.

[2021-03-06 17:42] briandealwis commented on #5484
@prokher would you be able to submit a patch?

[2021-03-06 17:45] briandealwis commented on #5477
See the docs on [_Taggers_](https://skaffold.dev/docs/pipeline-stages/taggers/).  The oddly-named `sha256` tagger will use `latest`, and the `gitCommit` tagger offers several variants.

[2021-03-06 17:45] #5477 closed

[2021-03-06 18:19] j-windsor commented on #5493
Yeah I ran into this issue while testing on M1 Mac and could repro on Intel Mac. The stalling `skaffold init` causes the Cloud Code skaffold setup UI to stall out and it is unusable. It also stalls out on `skaffold debug` or `skaffold dev` when Jib is selected as the builder but JDK is not installed.

[2021-03-07 03:41] briandealwis commented on #5469
@fdruillennec this ability was removed to implement the [`customTemplate` tagger](https://skaffold.dev/docs/pipeline-stages/taggers/#customtemplate-uses-a-combination-of-the-existing-taggers-as-components-in-a-template) (#4371).  Users could get similar behaviour with the use of `--default-repo`.

Would you mind describing how you used these templates?

[2021-03-07 03:50] briandealwis commented on #5471
cc: @nkubala

[2021-03-07 03:54] briandealwis commented on #5470
You could also consider using moving the sensitive clusters to a separate kube-config file that you pull in as required with the `KUBECONFIG` environment variable.

[2021-03-08 02:52] briandealwis commented on #5499
It sync'd for me out of the box (`-v info` shows more logging information):
[code]

What files did you edit?  Is it possible that your editor is placing temp files alongside the file being edited?  These temp files can lead to rebuilds.

[2021-03-08 03:03] briandealwis commented on #5499
I forgot to add that checking the cache is fast for me:
[code]

Could you please try running with `-vdebug` so that we can see what else is going on?

[2021-03-08 07:34] PriyaModali opened #5503 "Add Skaffold proto updates for auto test trigger"
Proto changes for adding a new auto test trigger

[2021-03-08 09:25] iben12 commented on #4771
Although I have exactly the opposite use case (I don't want the tag, just the digest), I'd like to comment the below statement.

That is true, but as it is pointed out [here](https://github.com/kubernetes-sigs/kustomize/issues/3682#issuecomment-791606244) in this case the tag itself it completely ignored. If digest is present, pull works even with a non-existent tag. So it's really no use to inclu

[2021-03-08 13:47] m1o1 commented on #5470
Yes that could help, but it's a bit difficult to enforce on the team. The clusters are not super sensitive (just dev clusters) but they are deployed in a different way. So I think most on the team would want to be able to access it with their default contexts.

Also, I've done something kinda similar myself, but there were times I've lost track of which shell I have open has which KUBECONFIG set.

[2021-03-08 14:55] taisph commented on #5159
@tejal29 I don't even see the "Loading images into kind cluster nodes..." message here and for me it just skips directly to deployment most of the time when kubectl is pointing at a different context than skaffold is configured to use. As soon as I switch kubectl context to match skaffold, it performs the loading images step seemingly every time.

This goes for skaffold v1.20.0 as well.

I've look

[2021-03-08 15:36] isengartz commented on #5499
Hello , I was changing `.ts` / `.tsx` files . The `.idea` folder is outside of the service folder so there is no way that it would affect each service .

This is what happens when I start the project with `skaffold dev -vdebug`

[code]
The issue seems to be this `time="2021-03-08T16:57:35+02:00" level=debug msg="Could not import artifact from Docker, building instead (import of missing images disa

[2021-03-08 16:05] briandealwis opened #5504 "Artifact hashing should incorporate the builder"
In #5492, our custom builder example wasn't actually being built as the artifact was resolved in the artifact cache (same files, same name).  We should also incorporate more details into the artifact hash, such as the artifact builder type, to prevent such false positives.

[2021-03-08 17:34] nkubala commented on #2202
seems like a small price to pay for the flexibility this grants, otherwise we're going to have to coordinate on both sides every time a new debug protocol is added.

my only question is, what happens when two separate protocols for the same language are provided? we can't use both at the same time, so would we select arbitrarily or fail out?

[2021-03-08 17:37] #5496 closed

[2021-03-08 18:43] PriyaModali opened #5505 "Investigate why SanitizeImageName isn't being called"
`SanitizeImageName` isn't being called which is causing the custom test to fail with `ko:` images.

We need to investigate why SanitizeImageName isn't being called.

[2021-03-08 19:30] briandealwis commented on #4564
Had this last week:
[code]

[2021-03-08 19:58] briandealwis commented on #4564
Seems to me that the registry may actually take some time to startup.

[2021-03-08 19:58] gsquared94 commented on #5498
yes, in [`parse.go`](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/docker/parse.go) when calculating rebuild dependencies by parsing the Dockerfile.

[2021-03-08 20:19] dan-j commented on #5334
I've just experienced the same issue in the same way that @aariacarterweir posted. Explicitly setting kube context before running skaffold works as expected.

[2021-03-08 20:40] fhaifler opened #5509 "Skaffold should recognize helm versions without "v" prefix"
When having a helm distribution which reports it's versions without the "v" prefix (e.g. 3.5.2 instead of v3.5.2) skaffold execution fails with error.

### Expected behavior
Skaffold deploys without an issue.

### Actual behavior
E.g. `skaffold run`  fails to parse helm version and exits.

### Information

- Skaffold version: v1.20.0
- Operating system: openSUSE Tumbleweed 20210307
- Installed via

[2021-03-08 20:48] tstromberg commented on #5376
Dupe of https://github.com/GoogleContainerTools/skaffold/issues/5356 ?