[2018-10-14 05:40] Place1 commented on #459
@WilliamDenniss i've implemented a basic version of this for the kubectl deployer on my fork in case you're interested: https://github.com/Place1/skaffold/blob/master/pkg/skaffold/deploy/kubectl/rollout_status.go

It simply finds all the deployment, daemonset and statefulset manifests and executes a `kubectl rollout status <type> <name>` on each. It blocks the completion of skaffold until they're

[2018-10-14 21:53] r2d4 opened #1157 "container-structure-test is a dependency to run the example"
The instructions in the readme will fail for users that don't have it

[2018-10-15 07:51] corneliusweig opened #1158 "Skip pushing layers when working with docker daemon running in an LXC container"
### Expected behavior
I am using a local kubernetes installation in LXC. This is similar to minikube in that I build docker images directly in my docker daemon. Citing the documentation:

When running `skaffold build`, it should know that I am building the containers directly in my local docker daemon and images should not be pushed.

### Actual behavior
Skaffold tries to push the docker images to

[2018-10-15 10:01] dkirrane opened #1159 "getting jibMaven dependencies: unable to stat file C:\\demos\\my-demo\\pom.xml\r:"
Trying out the skaffold-jib support but hitting the following:
[code]

### Expected behavior
Build, deploy and

### Actual behavior

### Information

- Skaffold version: version: `v0.16.0`
- Operating system: `Windows 10` running from latest GitBash terminal
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. create simple spring boot 2 app (version `2.0.5.RELEASE`)
2. ad

[2018-10-15 10:29] dkirrane opened #1160 "getting digest: UNAUTHORIZED: \"access to the requested resource is not authorized\"""
Trying out the skaffold-jib support but hitting the following:

[code]

### Expected behavior
skaffold build completes sucessfully

### Actual behavior
UNAUTHORIZED error

### Information

- Skaffold version: version: `v0.16.0`
- Operating system: Windows 10 using latest GitBASH
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. create simple spring boot 2 app (version `

[2018-10-15 12:00] dgageot commented on #1159
ping @GoogleContainerTools/java-tools

[2018-10-15 12:00] dgageot commented on #1160
ping ping @GoogleContainerTools/java-tools

[2018-10-15 12:08] radityasurya opened #1161 "Sync is not working on UWSGI"
### Expected behavior
The skaffold only updates the changed files without rebuilding everything

### Actual behavior
The skaffold rebuild the whole steps

### Information

The project is a flask project and running with UWSGI
[code]

- Skaffold version: v0.16.0
- Operating system: MacOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. run `skaffold dev`
2. change a lin

[2018-10-15 12:10] dgageot commented on #1161
@radityasurya Could you run with `-v debug`? Maybe that'll provide insights on what's going on

[2018-10-15 12:11] dgageot commented on #1161
@radityasurya Skaffold might detect a change on a file that's not a `.py` file. So it decides to rebuild the whole image. By running with `-v debug`, you should be able to see which file change is detected.

[2018-10-15 12:19] dgageot opened #1162 "In dev mode, print which file change was detected, in debug mode"
Printing which file change produced which image rebuild would be useful

[2018-10-15 12:29] radityasurya commented on #1161
@dgageot I saw the file is changing but it is also detecting ONBUILD process from docker image

[code]

[2018-10-15 12:41] briandealwis commented on #1159
`C:\\demos\\my-demo\\pom.xml\r` &larr; looks like a carriage return has been appended!

[2018-10-15 12:45] briandealwis commented on #1160
@dkirrane how have you authenticated to your nexus registry?  via `docker login`, or via `~/.m2/settings.xml`?  See the following section for [authentication with Jib](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#authentication-methods).

[2018-10-15 12:50] dgageot commented on #1162
This is done already

[2018-10-15 12:50] #1162 closed

[2018-10-15 13:37] dgageot commented on #1161
So, the code doesn't support syncing files that are arbitrarily nested.
`sync: static/*.py -> /dest` will match `static/file.py` but not `static/a/b/file.py`

[2018-10-15 13:42] radityasurya commented on #1161
So, a workaround for me is adding watcher per directories like this:

[code]

[2018-10-15 13:57] coollog commented on #1159
Ah yes, since we only [split the Maven dep listing on `\n`](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/jib/jib.go#L39), on Windows, the Java line endings may be `\r\n`. Options include:

- Having windows users set line ending to `\n` via for e.g., `-Dline.separator=$'\n'`
- Changing out dep list processing to first replace all `\r\n` with `\n`

[2018-10-15 14:20] Alirun opened #1164 "UNAUTHORIZED: "Requested repository does not match bearer token resource: my-project/my-image""
### Expected behavior

- Image built using `Google Cloud Build`
- Image pushed to`Google Cloud Repository`
- Image tagged with `latest` and `commitHash` tags

### Actual behavior

- Image built using `Google Cloud Build`
- Image pushed to`Google Cloud Repository`
- Image tagged with `latest`
- Image wasn't tagged with `commitHash` tags due to error:

[code]

### Information

- Skaffold version: 0.

[2018-10-15 14:40] loosebazooka commented on #1160
It seems like this is step where skaffold is setting the tag. @coollog ? Skaffold's registry client might need auth info to the registry.

[2018-10-15 14:41] loosebazooka commented on #1159
Shouldn't golang's readline handle this correctly?

[2018-10-15 15:28] cedrickring opened #1165 "ACR runner can't be interrupted"
Add ability to interrupt ACR runner with Ctrl + C

[2018-10-15 15:35] cedrickring commented on #1165
Duplicate of #

[2018-10-15 15:39] r2d4 commented on #1161
Sync path patterns should be passed through ExpandPathsGlob to support the same syntax as they represent in the Dockerfile.

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/util/util.go#L70

[2018-10-15 15:43] radityasurya commented on #1161
@r2d4 so it is not possible to pass multiple patterns?

[2018-10-15 15:52] r2d4 opened #1166 "Sync map can be inferred from artifact Dockerfile"
We already parse the source in a dockerfile's COPY and ADD, but we should also capture the destination.

[code]
So that instead of writing this:
[code]

Users could write this
[code]

However, there are many corner cases to watch out for. COPY can take multiple arguments to copy to the same destination folder, and there are rules of when the destination must be inferred as a directory or not.

Ove

[2018-10-15 15:54] r2d4 commented on #1161
@radityasurya you can continue to do what you did above.

I was just responding a possible way for sync patterns to support `**/*.py`, which should catch arbitrary nested directories.

[2018-10-15 19:49] briandealwis commented on #1159
I'll take this — I have to fix #1152 for the same thing.

[2018-10-15 20:12] corneliusweig commented on #1158
Alright, I just read the code and found a workaround: if I simply call my kubectl context `docker-for-desktop` when working with my lxc kubernetes, then pushing the image is skipped.

However, I would very much prefer to make this configurable and not bind this behavior to a magic kubectl context name.

[2018-10-15 22:06] balopat commented on #1153
Thanks for the suggestion, can you please elaborate on benefiting use cases?

[2018-10-16 11:43] smoll commented on #1156
Looks like it works if the image name is defined at a top level `image`, e.g.

[code]

but not if under some `parent`, e.g.

[code]

I don't know any Go but the code looks straightforward, so I'm going to try to take a crack at making this configurable, such that you can specify an arbitrary key mapping in `skaffold.yml`:

[code]

[2018-10-16 16:25] r2d4 opened #1170 "Wait utils should switch to event based watchers instead of polling"
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kubernetes/wait.go

Should use a watcher like:

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kubernetes/watcher.go

This will be more efficient and responsive.

[2018-10-16 17:56] dgageot commented on #1170
+1000 on that. I wanted to do it today.

[2018-10-16 17:57] dgageot opened #1171 "kaniko integration test is flaky"
[code]

[2018-10-16 21:53] r2d4 opened #1172 "Add artifact.push default to global config"
Currently the push/don't push default value is set by the logic

[code]

This makes sense to be configurable on a per context basis.

Would address https://github.com/GoogleContainerTools/skaffold/issues/1158 and other local clusters that aren't magically named minikube or docker-for-desktop.

[2018-10-16 22:58] balopat commented on #1010
we deleted the root skaffold.yaml :)

[2018-10-16 22:58] #1010 closed

[2018-10-16 23:15] corneliusweig commented on #1158
So even if image pushing becomes configurable, something is still awry. When I do the workaround and name my kubectl context `docker-for-desktop`, then `skaffold dev` does not work as expected.
For example when running example _hot_reload_ with, the pods are created and started but immediately stopped:
[code]

Looks like the PodWatcher in `pkg/skaffold/kubernetes/log.go` cannot be correctly initia

[2018-10-16 23:17] r2d4 commented on #1010
👋 😄

[2018-10-16 23:47] nkubala commented on #511
@priyawadhwa I definitely think using the global config is the right approach here, but skaffold supports activating multiple profiles at once so that wouldn't work here.

One thing we could do is allow users to "name" their contexts, e.g. `skaffold config set name test_context` (since every config entry is paired with a specific kubectl context). Then we could support a CLI flag for users to spec

[2018-10-16 23:49] ahmetb commented on #511
@nkubala I recommend not inventing an indirection to kubectl context names. kubectl has a command to rename the context, people who need to type things can reuse that. Similarly, for GKE clusters, we assume people script things out, so a simple env var like KUBE_CONTEXT can solve it.

[2018-10-17 06:50] #1145 closed

[2018-10-17 07:53] radityasurya commented on #622
+1

[2018-10-17 13:15] bhack commented on #997
I think that we could a shortcuts also for having a shell interaction. See https://github.com/GoogleContainerTools/skaffold/issues/913#issuecomment-427644045

[2018-10-17 16:08] r2d4 opened #1173 "Add a React example with file-sync"
Changes to javascripts files should be synced and applications behavior should be immediately reflected in the application. This would show a powerful feature of skaffold. It should follow the same pattern as https://github.com/GoogleContainerTools/skaffold/tree/master/examples/hot-reload

[2018-10-17 21:19] balopat opened #1174 "ACR runner needs integration test"
We merged the ACR runner without an integration test. We should figure out a way to make it work on our infrastructure.
@dgageot @r2d4

[2018-10-18 08:35] dgageot opened #1176 "Add a local builder that uses Kaniko"
The idea is to use kaniko locally, without the Docker daemon, to build images.

[2018-10-18 13:48] radityasurya commented on #502
Still seeing this on v0.16.0

[2018-10-18 17:13] r2d4 commented on #1176
What would this be useful for? skaffold in a container?

[2018-10-18 17:14] dgageot commented on #1176
Skaffold on Linux for eg
Le jeu. 18 oct. 2018 à 19:13, Matt Rickard <notifications@github.com> a
écrit :

[2018-10-18 18:38] balopat opened #1177 "port forwarding does not respect SKAFFOLD_NAMESPACE"
Repro:

1.  `SKAFFOLD_NAMESPACE` set to a non default namespace
2. run the microservices example with `skaffold dev`

[code]

[2018-10-18 21:45] RoryShively opened #1178 "[Proposal] Add useHelmSecrets option to helm config"
**I'm rewriting this because it hasn't received enough attention. I originally had proposed to add plugins to the helm config but my proposed implementation was quite complicated. This new proposal has been greatly simplified**

I created a PR for helm-secrets that will make integration with skaffold easier.
https://github.com/futuresimple/helm-secrets/pull/67

We can create a config option that w

[2018-10-18 22:51] nkubala opened #1179 "[Proposal] Artifact-level builders/deployers"
This is an idea we've been toying with for a little while, so I wanted to write up a proposal to make the discussion public and get feedback.

We're considering introducing the idea of builders and deployers on a per-artifact basis, as a way to support using multiple different implementations within a single skaffold workflow. Additionally, this change will make it more clear what combinations of

[2018-10-19 00:52] dlorenc commented on #1179
I love the breakdown. My only comment is to try to figure out a better word than "build context", since context is terribly overloaded, even within "build".

But I have no better suggestions. :(

[2018-10-19 01:17] r2d4 commented on #1179
* Is there any data to back this up? Issues, bug reports?
* Currently some heterogeneous build combinations are supported, e.g. bazel + docker + jib. How many skaffold configuration files use multiple builders? That would be a good indication of how many users might use this feature.
* Using deployers together is already supported and splitting them out by artifact wouldn't do much except make use

[2018-10-19 04:11] #1159 closed

[2018-10-19 14:32] thomas-riccardi opened #1180 "File Sync format specification: maybe don't have user data in the key part"
#1039 added a `key: value` map under `sync` in the skaffold format.
The key is a local glob pattern, the value is the destination directory.

Example:
[code]

Coming from k8s it is unusual to have user data as keys; it surprised me.

Digging into k8s design doc, we have:
https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#lists-of-named-subobjects-preferred-ov

[2018-10-19 14:53] corneliusweig opened #1181 "Skaffold should work with kubernetes server version 1.12"
### Expected behavior
Skaffold should also work with kubernetes server version 1.12.
### Actual behavior
When using skaffold with a kubernetes server version 1.12, it deploys the resources, immediately deletes them, and dies with the following fatal error:

[code]

### Information

- Skaffold version: 0.16.0
- Operating system: Linux
- Kubernetes version: 1.12
- Contents of skaffold.yaml: one of t

[2018-10-19 15:57] nkubala commented on #1179
I assume you're talking about the motivation for this. This originally stemmed from a few things: the issue about builders building all artifact types (#953), which sparked #954 to validate existing combinations before running skaffold; and also, the discussion around making the skaffold config "beta", which I argued shouldn't happen until we've though a little more about the config structure in t

[2018-10-19 16:33] r2d4 commented on #1179
You can achieve the same exact behavior with only 7 lines. The end result is the exact same for the user.
[code]

This is possible today.

This needs to be qualified: what is not supported today is building with a combination of local, managed, and cluster builders.

If it were me implementing this feature, I'd want to have a concrete example of why you'd need this, because I don't think its a leg

[2018-10-19 19:01] dlorenc commented on #1179
I'd like to see one main thing here - a decoupling of the two overloaded concepts. The two concepts are:

- where the build happens
- how it is specified

For an example of why I find this confusing today, here's an example yaml:

[code]

[2018-10-19 19:37] r2d4 commented on #1179
This is not correct and I think you're a bit confused. The YAML you provided is not skaffold YAML.

This is the correct YAML
[code]

The execution environment is separated from the artifact representation today. The only issue is that we don't validation the artifact type/execution platform specification.

You might want to take a look at the annotated YAML to get a better idea of the configuratio

[2018-10-19 19:45] dlorenc commented on #1179
Sorry, copy paste error. Here's what I ran:

[code]

This panics at HEAD.

[2018-10-19 19:47] dlorenc commented on #1179
It doesn't really change the point though - `googleCloudBuild` in config represents both the location and the strategy - Dockerfile.

[2018-10-20 00:55] balopat commented on #1179
I'm going to try to unpack the feature comparison as well:

| Feature | Benefit | Use case | Current | Proposed |
| ------- | -------- | ------- | -------- | ------ |
| per artifact builder | **more readable config + modularity** | unclear - maybe distributed build of large projects? | not supported | supported |
| 1 builder for all artifacts | less config | most use cases | supported | supported

[2018-10-21 13:35] brpaz commented on #252
I know this issue has been closed, but just my 2 cents.
I think abstract kubectl commands like exec, logs etc in skaffold makes perfect sense.  During development  I want the process to be simplest as possible for new devs. .I dont want them to have to kwown when to use  skaffold commands and kubectl commands. With docker-compose its  just one comamnd for everything. you dont have to know the lowe

[2018-10-21 19:11] Morriz opened #1183 "support --tiller-namespace"
Some of us put tiller in another namespace with `--tiller-namespace`. Is that configurable in `skaffold.yaml`?

[2018-10-21 21:54] Morriz opened #1184 "helm deploy not resulting in a patched release"
### Expected behavior
When I make a change to my helm package, I expect skaffold to update my deployment image with it's generated tag
### Actual behavior
`tag` stays at `latest`
### Information
I use the standard helm image notation:

[code]
- Skaffold version: 0.16.0
- Operating system: osx
- Contents of skaffold.yaml:

[code]
adding
[code]
did not make a change

[2018-10-22 15:14] alewis001 opened #1185 ""Error processing base image warning" repeated frequently"
### Expected behavior
No warning message, or at least only one.

### Actual behavior
The following message is repeated on the STDOUT constantly.

`WARN[0008] Error processing base image for ONBUILD triggers: getting remote config: MANIFEST_UNKNOWN: "manifest unknown". Dependencies may be incomplete. `

### Information

If I downgrade to skaffold v0.15.1 the issue goes away; or I should say that at

[2018-10-22 17:16] ahmetb opened #1187 "Ability to takeout the processed kubernetes YAML file"
I think "skaffold build" command should allow doing something like:

[code]

So I can actually decide whether I want to apply the `manifests.yaml` myself. Similarly, I can use `out.json` to parse out the built artifacts and store their names/tags for my own purposes.

Right now, "skaffold {build,run}" outputs aren't very usable. There should be a contract for those willing to parse output –or flag

[2018-10-22 17:56] r2d4 commented on #1187
This is somewhat of what I envisioned https://github.com/GoogleContainerTools/skaffold/issues/726 providing. But this is a great idea.

[2018-10-22 18:00] balopat commented on #1135
I believe it's important to enable rich editing support for discoverability purposes.
Also publishing a schema in theory should be possible from our go structs describing the pipeline.

Concern: It's a little bit weird to use JSON Schema or Open API given that they are meant for describing RESTful APIs, but I don't have a better suggestion.

If I squint, we could pass in a "skaffold yaml" message

[2018-10-22 18:05] etanshaul commented on #1135
@balopat I totally would share your concern about Open API. But given that we just need a JSON schema (which has no ties to RESTful API definition), does that alleviate the concern? Maybe I missed your point?

To clarify for those who haven't reviewed the internal doc: The example I mention about Open API is just an implementation detail used by the IntelliJ Kubernetes plugin. The actual validatio

[2018-10-22 18:11] balopat commented on #1179
@dlorenc `googleCloudBuild` represents only the location - but currently we only support Docker artifacts.

[2018-10-23 00:59] eaceaser opened #1189 "Port Forwarder races with Helm chart deployment"
Starting the logger and the port forwarder after the deployment is race-y with the events fired from the deployment. The logger seems to be more resilient as its less picky about what events it picks up.

### Expected behavior
Skaffold detects helm chart containers when they come up and port forwards appropriately.

### Actual behavior
When a container comes up quickly, the port forwarder isn't st

[2018-10-23 01:02] eaceaser commented on #1177
Ran into a similar manifestation of this issue, where the namespace is being set in a helm chart release -- this isn't threaded through into the port-forward command either.

[2018-10-23 09:16] hpio opened #1191 "Skaffold unable to push to private docker registry when using docker login"
After upgrading from Skaffold 0.14.0 to 0.16.0. **docker login** authentication no longer works and results in the following error when pushing to a private docker registry
[code]
[code]

Everything works as expected when using `gcloud auth configure-docker`

### Expected behavior
`docker login` should succed and Skaffold should be able to push to a private docker registry
### Actual behavior
Skaf

[2018-10-23 12:04] jagan1333 opened #1192 "Filewatching based on git repository"
### Expected behavior

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. ...
2. ...

[2018-10-23 15:43] r2d4 commented on #1192
ref https://github.com/GoogleContainerTools/skaffold/pull/806

[2018-10-23 15:49] balopat commented on #992
Another idea: I just remembered using https://infinitest.github.io/ back in the day and it was working pretty well for me while doing TDD in an IDE setting.

[2018-10-23 15:54] r2d4 opened #1193 "Runner should have single pod watcher"
Currently we open up separate watches on the same set of pods for both the logger and the port-forwarder. There should only be one.

Logger
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kubernetes/log.go#L66-L105

Port-forwarder
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kubernetes/port_forward.go#L121-L162

[2018-10-23 15:56] r2d4 commented on #1189
Thanks for opening up the issue and investigating it. PRs happily accepted :)

I think this makes sense as long as we move it after the build results are registered in the image list for the port-forwarder to match upon.

As a slightly related topic, the logger and the port-forwarder pod watcher should be merged. I thought I had opened up an issue before tracking this, but I couldnt find it so I o

[2018-10-23 16:21] balopat commented on #1192
I think this is a great idea, we have to flesh out the details but I'd be open to put it on the roadmap.

[2018-10-23 17:34] balopat commented on #1183
Thank you for opening this issue! This is not supported yet, but it shouldn't be too bad to add support (see [namespace support](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/helm.go#L193)). See  PR's are more than welcome!

[2018-10-23 18:05] balopat opened #1195 "skaffold init --docker-compose"
I would love to see helping out docker-compose users getting started on k8s via skaffold and kompose.
We could hook up the `skaffold init` flow with a docker-compose.yaml and use kompose to generate the right skaffold.yaml. Based on @r2d4's previous PoC (https://github.com/GoogleContainerTools/skaffold/pull/674) this should be doable.

Any concerns, thoughts?

[2018-10-23 18:15] balopat opened #1196 "Release 0.17.0"
Get the next release out this Thursday.

Please comment issues that are blockers/pre-requisites for this release.

[2018-10-23 18:16] balopat commented on #1196
#1146

[2018-10-24 09:07] dgageot opened #1197 "[jibGradle] compilation errors end `skaffold dev`"
Compilation errors on a `jibGradle` artifact will exit from the `skaffold dev` loop. What happens is that the code that computes the list of files to watch (`./gradlew _jibSkaffoldFiles`) exits with an error because it needs to compile the code first.

We should find a way to list the files without compiling the code or at least without failing.

[2018-10-24 09:07] dgageot commented on #1197
ping @GoogleContainerTools/java-tools

[2018-10-24 09:11] dgageot opened #1198 "[jibGradle] fatal error when ctrl-c-ing `skaffold-dev`"
When I interrupt `skaffold dev` by pressing ctrl-c, deployments are deleted as expected but the skaffold process ends with a fatal error related to jib:

[code]

[2018-10-24 09:12] dgageot commented on #1198
ping @GoogleContainerTools/java-tools

[2018-10-24 15:15] briandealwis commented on #1197
https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/src/main/java/com/google/cloud/tools/jib/gradle/JibPlugin.java#L155

[2018-10-24 15:35] briandealwis commented on #1197
Just about to try… (posted that prematurely)

[2018-10-24 16:09] briandealwis commented on #1197
So it avoids compiling for a simple project, but on a multi-module project is still causes the deps to be compiled.

[code]

[2018-10-24 17:46] balopat commented on #1179
This slack user is asking for the ability to run only a single "subproject" from a multiproject setup: https://kubernetes.slack.com/archives/CABQMSZA6/p1540399150000100

An artifact oriented setup could help with that, as we can organize all the necessary k8s yamls as well under the artifact including those that might be dependencies of the subproject but do not contain the image name of the artif

[2018-10-24 18:32] briandealwis commented on #1197
Removing the dependency on the assemble task seems to do the trick.

[2018-10-24 20:37] gintautassulskus opened #1199 "Processing only a subset of defined artifacts"
It would be great if `scaffold` supported processing only a subset of defined artefacts. Suppose I have the following gradle multi-project build structure:

[code]

How do I process only a subset of projects, e.g. `b-1` and `b-2` under `microservices-b`?
@balopat suggested `skaffold dev --artifacts b-1,b-2` could potentially do the trick.

I am new to `skaffold`, therefore, at the moment I am not

[2018-10-24 21:25] cliffburdick opened #1200 "Container Printing Truncated in Dev Mode"
I have an application that catches a SIGINT, and displays some information before exiting. Kubernetes specifies that docker sends a SIGTERM to the container before killing it, so I'm catching that as well. However, skaffold dev seems to catch the SIGINT and cease to print any new information from the container. It might be useful to have a grace period (like kubernetes) where we can optionally spe

[2018-10-25 08:02] cedrickring commented on #1176
Something similar to [run_in_docker.sh](https://github.com/GoogleContainerTools/kaniko/blob/master/run_in_docker.sh) ?

[2018-10-25 13:45] faheem-cliqz commented on #296
Any luck getting this fixed, or there is support already :)

[2018-10-25 16:15] briandealwis commented on #1197
This will be fixed in Jib 0.9.14.

[2018-10-25 16:18] briandealwis commented on #1198
I guess there was a `_jibSkaffoldFiles` running, and so it was killed off.  This is likely "fixed" by #1197 /
https://github.com/GoogleContainerTools/jib/pull/1189 in that the `_jibSkaffoldFiles` will complete more quickly.

[2018-10-25 17:39] briandealwis commented on #1198
Would it make sense to use something like the [`kubernetes.IsTerminatedError()`](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kubernetes/port_forward.go#L211) to return `nil`?

[2018-10-25 18:20] balopat opened #1203 "[proposal] Move ArtifactType -> artifact.type, BuildConfig.BuildType -> build.location"
## Background

We have three places in our pipeline config where we use "inline oneOf" fields currently: `BuildConfig.BuildType`, `DeployConfig.DeployType`, `Artifact.ArtifactType` They are "oneOf" fields - our DIY "union types" - choices are represented as fields and we validate against multiple choices runtime. They are "inline" as these "choice fields" become part of the parent element.

e.g.:

[2018-10-25 19:20] RoryShively commented on #1178
I created a PR for helm-secrets that will make integration with skaffold easier.
https://github.com/futuresimple/helm-secrets/pull/67

All that needs to change in the skaffold code is pkg/skaffold/deploy/helm line 110
[code]
Adding secrets to the args

As long as the user has helm-secrets from this (fork)[https://github.com/RoryShively/helm-secrets/tree/skaffold] (pending merge) then everything wi

[2018-10-25 20:48] gintautassulskus opened #1205 "skaffold dev fails to push image to minikube with non-default profile"
### Expected behavior

`skaffold dev` fails to deploy docker artifacts to minikube with a non-default profile.
`skaffold deploy` seems to be working as expected.

### Information

- Skaffold version: v0.16.0
- Operating system: macOS 10.14
- Contents of skaffold.yaml: `getting-started` example

### Steps to reproduce the behavior

FAILING:
1. minikube start --profile custom
2. cd skaffold/examples

[2018-10-25 22:02] balopat commented on #1203
After chatting with @r2d4 - this _would_ be a deviation from the k8s pattern.

Here's the K8S API guidance for unions:
https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#unions

And the example of Volume. fields:
https://kubernetes.io/docs/concepts/storage/volumes#emptydir
https://github.com/kubernetes/api/blob/master/core/v1/types.go#L44

[2018-10-25 22:03] gintautassulskus commented on #511
I am facing this limitation as well not being able to work on two separate projects residing on different minikubes.

Both an environment variable and a cli flag would be ideal. I would prefix the env var to avoid potential clashes, e.g.
[code]
or
[code]

[2018-10-26 11:29] dlorenc commented on #1179
Thanks for the explanation @balopat - to make sure I understand, you're basically saying that googleCloudBuild does not actually imply Dockerfile based builds, it's just that that is currently the only supported option?

I think in that case the issue is probably with kaniko then, which will always only ever support Dockerfile based build strategies

[2018-10-26 16:03] balopat commented on #1179
Exactly.

Right, that's why we were thinking: `on-cluster + dockerfile` is the contract kaniko is the implementation.

Agreed. OCI Image, ContainerImage, DockerImage would be better than artifact.

Yes plus I also incorrectly conflated another idea into artifacts in my head: submodules/services/subcomponents - i.e. you have to build and then deploy an independent component. That is not a correct m

[2018-10-26 16:08] dlorenc commented on #1179
Great points - I think the main benefit is that things like projectId for gcb wouldn't have to live in the skaffold.yaml. I think that will be key for the other goal of being able to clone and run any repo without changing the configs.

With kaniko we're already sort of using a separate file for config - the kubeconfig file. It contains the cluster and namespace to run kaniko in.

I agree it's mor

[2018-10-26 18:06] r2d4 opened #1210 "Support in-cluster Kubernetes client"

[2018-10-26 18:52] #1196 closed

[2018-10-26 20:47] #1210 closed

[2018-10-27 04:18] Place1 commented on #543
I've been maintaining a small fork that addresses some of the things in this issue. It allows you to:

https://github.com/Place1/skaffold#things-ive-added
1. use environment variables for `buildArgs`
2. use environment variables and templates for the kubectl deployer
3. rollout status for deployments, statefulsets and daemon sets (#459)

It looks a bit like this: https://github.com/Place1/skaffold

[2018-10-27 15:08] aleksamagicka opened #1214 "Skaffold fix fails when overwriting existing file on Windows"
### Expected behavior
The file is overwritten with new configuration.
### Actual behavior
λ skaffold fix > skaffold.yaml
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x18 pc=0x1216574]

goroutine 1 [running]:
github.com/GoogleContainerTools/skaffold/cmd/skaffold/app/cmd.NewCmdFix.func1(0xc0422d3b80, 0x1ff16f0, 0x0, 0x0)
        /go/src/gi

[2018-10-27 16:01] gintautassulskus opened #1215 "skaffold.yaml misconfiguration throws SIGSEGV without an error message"
Running `skaffold dev` on `exapmples/skaffold-helm` with a bad configuration throws a SIGSEGV error without giving a clue on what has cused it.

Configuration errors should be expected and handled gracefully.

### Expected behavior
An informative error output, ideally pointing to the line that has caused the error.

### Actual behavior
$ skaffold dev
[code]
### skaffold.yaml

[code]

### Informati

[2018-10-27 18:18] alewis001 commented on #1185
Doing a bit more digging... The issue appears to be specifically with the tagged versions of `jboss/wildfly`; however, just using `jboss/wildfly` does not cause the error message. `14.0.1.Final` and `latest` are meant to be equivalent but setting the version in the docker file causes the error message whilst omitting it doesn't.

[2018-10-28 07:06] rvrignaud opened #1216 "Skaffold panic when run with empty skaffold.yaml"
### Expected behavior
When run with an empty skaffold.yaml, I expect skaffold to output an error

### Actual behavior
Skaffold crashes for most command dev, run, fix.

[code]

### Information

- Skaffold version: version : v0.17.0
- Operating system: macOS
- Contents of skaffold.yaml: empty file

### Steps to reproduce the behavior

1. touch skaffold.yaml
2. skaffold run

[2018-10-28 07:08] rvrignaud commented on #1214
Same behavior on macOS X

[2018-10-28 09:30] dlorenc commented on #1195
+1 to doing that in init.

[2018-10-28 09:41] dlorenc commented on #1192
Is this the same usecase as what @priyawadhwa is working on now?

[2018-10-28 10:30] kameshsampath opened #1217 "changing default minikube context"
/kind quesiton

Is it possible to set `localCluster` via config ? I want to set that to make avoid pushing done for my local cluster.

[2018-10-29 16:05] aleksamagicka commented on #1216
Same on Win 7 x64 Ultimate

[2018-10-29 17:34] priyawadhwa commented on #1192
Yup, if the intention is to run "skaffold run" whenever code is merged then the pipeline I'm working on will accomplish this.

[2018-10-29 18:01] dlorenc commented on #1192
Thanks, Priya! Do you have a separate bug/issue for that?

[2018-10-29 18:10] priyawadhwa opened #1218 "FR: Use skaffold to set up a pipeline to watch a remote repository"
This pipeline will use managed services like GCB to watch a Github repo for changes and run "skaffold run" whenever code is merged in a remote repository.

[2018-10-29 18:11] priyawadhwa commented on #1192
Just opened #1218 to track it! :)

[2018-10-29 18:18] jagan1333 commented on #1192
Thanks a lot guys !

On Mon, Oct 29, 2018, 11:46 PM priyawadhwa <notifications@github.com> wrote:

[2018-10-29 18:48] balopat commented on #1203
After some discussions within the team I'll close this. If someone feels strongly about this please reopen/comment.

[2018-10-29 18:48] #1203 closed

[2018-10-29 18:53] balopat commented on #1192
@jagan1333  what was your exact scenario here?
@priyawadhwa is working on a GCB based setup: git push -> github GCB app -> GCB builds and deploys to your cluster.
I thought this use case was for local setup: skaffold dev -> a new git watcher sees a change, pulls it down locally, merges things if necessary -> builds as usual -> deploys as usual

[2018-10-29 18:56] balopat commented on #1217
I think this is a dupe of https://github.com/GoogleContainerTools/skaffold/issues/1205.
This is not possible yet, but should be very doable. PRs always welcome :)

[2018-10-29 20:25] nkubala opened #1219 "Add port forwarding options to global config"
We should add port forwarding options into the global config, so users don't have to provide the `--port-forward=false` flag on every run. This would make sense on a per-context basis as well. e.g.

[code]

ref #1038

[2018-10-29 21:11] dlorenc commented on #1154
+1

[2018-10-29 21:13] dlorenc commented on #1192
@balopat - you're right that they're sightly different. I'd be interested in understanding some of the reasons users would prefer one to the other.

[2018-10-29 22:20] bhack commented on #252
@brpaz I was trying to collect some of the requirements with a similar scope at https://github.com/GoogleContainerTools/skaffold/issues/913. Please add your feebacks there if you want.

[2018-10-30 14:05] bryanlarsen opened #1222 "Feature Request: expanded glob support for sync"
AFAICT, the cool new sync feature uses path/filepath#Glob for it's globbing.    That function is very limited: no support for matching the separator (aka recursive matching), no support for 0 or 1 matches, et cetera.   Would it be possible to use a more featureful globbing package?

[2018-10-30 15:48] bryanlarsen commented on #1161
@r2d4, I don't see any support for '**' in util.go#ExpandPathsGlob; it uses path/filepath#Glob.   And also, like @radityasurya whenever I try to use multiple sync patterns, I always get an image rebuild.

[2018-10-30 16:14] r2d4 commented on #1222
The sync feature should respect the same exact syntax as the Dockerfile I think.

We already parse the dockerfile COPY and ADD glob patterns in https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/docker/parse.go#L213-L257

I'm pretty sure applying that code to the sync patterns should work.

Somewhere along the lines util.ExpandPathsGlob was used there, but we should have one

[2018-10-30 16:14] r2d4 commented on #1222
That would give us https://docs.docker.com/engine/reference/builder/#copy style matching.

[2018-10-30 16:29] bryanlarsen commented on #1222
According to your linked docs, that's also only filepath.Match.   I've currently got ten subdirectories in my source directory, so to synchronize both .ts & .tsx from those 10 and the root I'd need 22 rules, afaict.  https://github.com/GoogleContainerTools/skaffold/issues/1161 is limiting my testing of that.    That's not a huge deal, but if anybody creates a new directory and forgets to add that

[2018-10-30 18:27] r2d4 opened #1224 "Labeling doesn't work for hardcoded namespace"
[code]

WARN[0047] error adding label to runtime object: patching resource /something: pods "something" not found

[2018-10-30 18:31] r2d4 opened #1225 "Port Forward with client-go"
https://github.com/kubernetes/client-go/blob/dcf16a0f3b52098c3d4c1467b6c80c3e88ff65fb/tools/portforward/portforward.go

Instead of shelling out to kubectl

[2018-10-30 22:42] priyawadhwa commented on #1081
Hey @albertkang, #940 was merged and kubectl v1.12.0 should be in all skaffold images v0.16.0+

I'll go ahead and close this issue, please comment or open another if you run into any more issues.

[2018-10-30 22:42] #1081 closed

[2018-10-31 21:11] balopat commented on #222
Jib is now implemented as a builder. Closing.

[2018-10-31 21:11] #222 closed

[2018-10-31 21:33] #1198 closed

[2018-10-31 21:41] #1154 closed

[2018-10-31 21:42] #1157 closed

[2018-10-31 21:51] balopat commented on #526
As the JIB builder is the recommended approach now, I'll close this issue. Please reopen/comment if you have other ideas.

[2018-10-31 21:51] #526 closed

[2018-10-31 22:02] balopat commented on #1183
Nice, thank you for the tip @rootd00d!

[2018-11-01 18:49] nagonzalez commented on #543
@Place1  I'd love to give your fork a shot but I'm unable to get it to work. Below are steps I took to build. Am I missing something?

build steps:
[code]

skaffold.yml:
[code]

[2018-11-02 02:06] phongnd39 opened #1231 "Print out generated manifest when deploy using Kustomize deploy"
/kind question
Why does version 0.17.0 print out the generated manifest by Kustomize to the console when deploying?
This behavior does not happen in version 0.16.0 or before.
i saw this in the source code: https://github.com/GoogleContainerTools/skaffold/blob/3428417e53bf3af2077f4c50369319a0ce7c2632/pkg/skaffold/deploy/kustomize.go#L97

### Expected behavior
Do not print out generated manifest by

[2018-11-02 14:35] tcrossrfid commented on #1071
Appears broken in skaffold 0.16.0, fixed in 0.17.0

[2018-11-03 01:10] Place1 commented on #543
@nagonzalez here's how I run skaffold.
1. clone the repo into `~/go/src/github.com/Place1/skaffold`
2. `cd ~/go/src/github.com/Place1/skaffold/cmd/skaffold`
3. `go build ./skaffold.go`
4. use the build binary `./skaffold`

[2018-11-03 03:15] taylorKonigsmark opened #1232 "Using Skaffold on Ubuntu Subsystem errors when building"
### Expected behavior
When I have a Docker Engine Running on Windows 10 with an Ubuntu subsystem, I would expect that Skaffold can build and push to the engine on Windows 10
### Actual behavior
I get an error saying:

`WARN[0000] cleanup: creating runner: creating runner: parsing skaffold build config: getting docker client: Error getting docker client: unable to parse docker host `"localhost:2375

[2018-11-05 11:00] Place1 commented on #543
perhaps https://github.com/kontena/mortar cloud be used as a deployer. it seems to satisfy most of the features being raised in this issue.

[2018-11-05 14:58] bryanlarsen commented on #1161
I also tried using

[code]

And that triggers a rebuild rather than a sync on every change.

[2018-11-05 17:54] priyawadhwa commented on #1232
Hey @taylorKonigsmark, I searched the error and it looks like it may be coming from [here](https://github.com/moby/moby/blob/master/client/client.go#L376) in the Docker code -- this [issue](https://github.com/openshift/source-to-image/issues/871#issuecomment-385062169) seems similar, could you see if setting the DOCKER_HOST environment variable fixes the issue?

[2018-11-06 02:27] davidstanke opened #1235 "release notes for v0.17.0 report wrong config version"
The [release notes for version 0.17](https://github.com/GoogleContainerTools/skaffold/releases/tag/v0.17.0) say: "This release comes with a config change, use `skaffold fix` to upgrade your config to `v1alpha4`."

...actually, the output of v 0.17.0's `skaffold fix` renders version `v1alpha5`

[2018-11-06 10:13] jbauerrfid commented on #1071
Issue appears also on Ubuntu with 0.16.0.
The following command fixed it:
[code]

[2018-11-06 14:01] dgageot opened #1236 "skaffold init produces yaml with empty `kind`"
[code]
[code]

[2018-11-06 14:20] dgageot commented on #1216
Fixed with #1221

[2018-11-06 14:20] #1216 closed

[2018-11-06 14:23] dgageot commented on #1214
Thanks to #1216, it's not crashing anymore. Now, it produces an empty `skaffold.yaml`

[2018-11-06 14:30] mohade09 opened #1238 "scaffold Dev:"
@skaffold dev -v debug doesn't work with sample example

- Skaffold version: v0.17.0
- Operating system: Mac OS 10.13.5
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

[2018-11-06 16:51] r2d4 opened #1239 "skaffold version should output config version"
I'm not sure which config versions correspond to which skaffold versions anymore

[2018-11-06 16:53] r2d4 opened #1240 "skaffold global config is not versioned"
I don't think its an issue yet but it probably should have a version

[2018-11-06 16:56] r2d4 opened #1241 "optionally store "global config" as CRD on cluster"
since the global config contains context, therefore cluster, specific configuration, we should be able to store that information on the cluster itself

[2018-11-06 17:01] #1236 closed

[2018-11-06 17:02] r2d4 commented on #1235
ref #1239. It's not clear which config versions correspond to which skaffold versions

[2018-11-06 17:48] nkubala commented on #1238
Hey @mohade09. If you change the `image` field in your artifact, it won't match up with the image referenced in `k8s-pod.yaml` (`gcr.io/k8s-skaffold/skaffold-example`), and the deployment will fail; skaffold never built `gcr.io/k8s-skaffold/skaffold-example`, it built `debadatta/skaffold-example`, so kubernetes can't find the image to deploy.

[2018-11-06 17:48] #1238 closed

[2018-11-06 19:35] r2d4 opened #1242 "default repo does not behave as expected"
**default repo:** gcr.io/default
**skaffold yaml:** gcr.io/explicit/test

**expected:** gcr.io/default/test
**actual:** gcr.io/default/gcr.io/explicit/test

[2018-11-06 19:48] dlorenc commented on #1242
cc @nkubala

I thought this was actually how default repo was supposed to work for gcr. (It's basically what ko does as well).

[2018-11-06 19:59] nkubala commented on #1242
yeah this is expected behavior. if the provided image name has the default-repo as a prefix, e.g.

**default repo**: `gcr.io/default`
**skaffold yaml**: `gcr.io/default/test`
**result**: `gcr.io/default/test`

then nothing will happen, but otherwise skaffold will simply concatenate the default repo onto the provided image name. this is how we can solve running the examples without changing any con

[2018-11-06 20:05] r2d4 commented on #1242
That is only valid on GCR, most registries don't accept nested image names. Why not just take the path.Base of it?

[2018-11-06 20:10] nkubala commented on #1242
For registries that aren't GCR, we escape the base image name to make it valid, e.g.

**default repo**: `aws_account_id.dkr.ecr.region.amazonaws.com`
**skaffold yaml**: `gcr.io/k8s-skaffold/skaffold-example`
**result**: `aws_account_id.dkr.ecr.region.amazonaws.com/gcr_io_k8s-skaffold_skaffold-example`

If we took the path.Base, we could potentially end up with collisions.

[2018-11-06 21:12] stevesea opened #1243 "SIGSEV if invalid chartPath in Helm deployment"
### Expected behavior

`skaffold dev` builds via jib-maven and autodeploys via helm

### Actual behavior

`skaffold dev` crashes with SIGSEV

[code]

### Information

- Skaffold version: v0.17.0
- Operating system: mac osx
- Contents of skaffold.yaml:

[code]

after a little digging, realized that my chartPath is invalid -- i should have used `chart/svc` rather than `charts/svc`

### Steps to repr

[2018-11-06 22:16] balopat commented on #1235
Hmmm...I must have messed up the release of 0.17.0.
Let me double check the mess I created.

[2018-11-06 23:13] balopat commented on #1235
OK. so 0.17.0 should have worked with v1alpha4 as the state was `latest=v1alpha4` on HEAD before the release. That's why we have currently v1alpha4 in the examples folder and the release notes is consistent with this intent as well.

However, in a moment of confusion I merged David's PR at release day #1146 before the release - preparing for the next schema version with `latest=v1alpha5` - which s

[2018-11-06 23:33] r2d4 commented on #1242
skaffold tags with git metadata by default so there shouldn't be any collisions

in fact, you actually want collisions sometimes. user intent is to have an identifier for the image, not to nest registry/project.

The analogy is a fork of a repository on github.
It's not `github.com/r2d4/github.com/GoogleContainerTools/skaffold`, its `github.com/r2d4/skaffold`

[2018-11-07 00:03] dlorenc commented on #1242
Would the following collide?

**Two images in the skaffold yaml:**
gcr.io/app1/frontend
gcr.io/app2/frontend

**default repo:**
gcr.io/project

Can you elaborate on what you mean about user intent and identifier? I personally like the nesting because it shows the full context of where the image came from originally.

[2018-11-07 00:45] balopat commented on #1235
There are no schema changes [since 0.17.0](https://github.com/GoogleContainerTools/skaffold/compare/v0.17.0..72d69cf7dff262b9c13ecb3fda39d8481883e142)!

I'm going to create a PR to update the examples + the changelog to `v1alpha5`.

[2018-11-07 01:54] ianlewis commented on #1111
@bugbuilder Yah, it basically happens with all objects that have a generated name

[2018-11-07 08:06] #1235 closed

[2018-11-07 10:50] mohade09 commented on #1238
Hi My K8s-pod.yaml also have same image repo details
apiVersion: v1
kind: Pod
metadata:
  name: getting-started
spec:
  containers:
  - name: getting-started
    image: debadatta/skaffold-example

[2018-11-07 11:00] mohade09 commented on #1238
Hi @nkubala My K8s-pod.yaml also have same image reference

apiVersion: v1
kind: Pod
metadata:
  name: getting-started
spec:
  containers:
  - name: getting-started
    image: debadatta/skaffold-example

[2018-11-07 15:44] harrisjoseph opened #1245 "Allow port-forwarding to services instead of pods"
Some existing issues with port-forwarding could be resolved by port-forwarding to a k8s service instead of pods
* Trying to port-forward from privileged ports on the host
* Port clashing between different pods
  * Especially problematic if you can't configure the port on your application
Issue https://github.com/GoogleContainerTools/skaffold/issues/969 mentions these

You shouldn't have to change

[2018-11-07 18:02] dgageot opened #1246 "`skaffold fix` is losing test configuration"
Run `skaffold fix` on a configuration with a `Test` section and it will be lost

[2018-11-07 18:05] dgageot opened #1247 "Jib errors when dev mode is interrupted with ctlr-c"
There are still errors when `skaffold dev` is interrupted with ctrl-c.
 + Sometimes because the gradle or maven command is killed with a signal.
 + Sometimes because it fails because the context is already cancelled.

[2018-11-07 18:08] dgageot opened #1249 "Port-forwarding works with only one port"
It seems that the code that loops on ports to be forwarded, blocks on the first port.
@r2d4 can you confirm?

[2018-11-07 21:07] nkubala commented on #1238
Sorry, I responded before we knew about the config issue from the latest release. My guess is that's what you're running into, but if you post more information about the error you're getting we can tell you for sure.

[2018-11-08 07:19] #1239 closed

[2018-11-08 13:45] dgageot commented on #1187
Could it be a `skaffold run --dry-run` that outputs the manifests to stdout?

[2018-11-08 16:32] r2d4 commented on #1187
How about “skaffold show build” to output what would be built + tags and “skaffold show deploy” to output what would be applied. “skaffold show” would return both?

[2018-11-08 18:04] #1249 closed

[2018-11-08 19:55] balopat opened #1256 "Release 0.18.0"

[2018-11-08 20:09] balopat opened #1257 "Support old config versions automatically besides `skaffold fix`"
Currently old versions can be upgraded with `skaffold fix`. Besides 'fixing' Skaffold should support older config versions automatically and just print out a warning message.

[2018-11-08 21:09] balopat commented on #1243
Thank you, for filing this, yes, we should fail more gracefully in this case instead of panic.

[2018-11-08 21:52] #1246 closed

[2018-11-08 22:41] #1256 closed

[2018-11-08 22:45] balopat commented on #1238
hi @mohade09, can you try to pull the latest master version for your examples? That will update them to v1alpha5. There was an inconsistency with the examples and the latest release. See https://github.com/GoogleContainerTools/skaffold/pull/1244

[2018-11-08 23:30] balopat commented on #960
I thought it would be simply adding the httpHeader (the last arg) here: https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/docker/client.go#L126

[2018-11-08 23:31] balopat commented on #960
or ` WithHTTPHeaders(httpHeaders)` if we want to switch to the new version

[2018-11-08 23:57] balopat commented on #960
+ we should watch for a `SKAFFOLD_DOCKER_USER_AGENT=true` (by default true if empty) env var to control the behavior

[2018-11-09 09:58] vmaubert opened #1261 "Jib example doesn't build"
### Actual behavior

The jib example doesn't build. The basic example (examples/getting-started) works well. My console logs :

[code]

### Information

- Skaffold version: v0.18.0
- Operating system: Fedora 29
- I have a local registry (localhost:5000)

Thank you :-)

[2018-11-09 13:36] ss-vdav-debug opened #1262 "[Proposal] - Allow passing custom GCB build config (KMS, secrets, steps, config)"
While trying to review the possibility to implement the development workflows with Skaffold,
I found that currently there is no secure way to pass encrypted credentials.

For many companies it is required to be able to follow KMS based key decryption
https://cloud.google.com/cloud-build/docs/access-private-github-repos

### Expected behavior

### Actual behavior

### Information

- Skaffold versio

[2018-11-09 18:17] balopat opened #1263 "Write up what alpha/beta/GA means for skaffold"

[2018-11-09 18:48] balopat commented on #1261
Thank you for filing this issue!

It's odd that the jib build finishes successfully but then we fail - if I have to guess, it looks like something around the push with jib is not working with the default-repo setup

/cc @loosebazooka @coollog @briandealwis

[2018-11-09 18:51] saturnism opened #1264 "skaffold init for Java applications"
### Expected behavior
`skaffold init` on a Java project (with Maven or Gradle) will produce the default `skaffold.yaml` with the  corresponding Jib builder configuration.

### Actual behavior
`skaffold init` requires Dockerfile to be present and fails with:
`FATA[0001] one or more valid Dockerfiles must be present to run skaffold; please provide at least one Dockerfile and try again `

However, Do

[2018-11-09 18:52] saturnism commented on #1264
/cc @balopat @coollog @loosebazooka @dgageot

[2018-11-09 18:55] loosebazooka commented on #1261
I wonder if it has something to do with communicating with the local registry (since we ask it for the digest). Can you tell us some more about the local registry?

[2018-11-09 18:55] dgageot commented on #1264
That's a duplicate of https://github.com/GoogleContainerTools/skaffold/issues/1093 but I'm going to keep your ticket because it's more detailed :-)

[2018-11-09 18:55] dgageot commented on #1093
Duplicate of https://github.com/GoogleContainerTools/skaffold/issues/1264

[2018-11-09 18:55] #1093 closed

[2018-11-09 18:59] coollog commented on #1197
This should be fixed now - shall we close?

[2018-11-09 19:01] coollog commented on #1160
Yea, this looks to be a discrepancy between the auth info that Skaffold uses vs the auth info that Jib uses. @dkirrane - which authentication method are you using with Jib? (credential helper, `settings.xml`, or Docker login?)

[2018-11-09 19:03] coollog commented on #1134
I haven't seen that personally - I just sometimes have both in example projects to show using Maven and Gradle. I think this autodetect would be useful for `init` as well #1264 so that init creates the `skaffold.yaml` with the right artifact configuration.

[2018-11-09 19:04] #1096 closed

[2018-11-09 20:03] vmaubert commented on #1261
@loosebazooka It's a simple docker registry launched with `docker run -d -p 5000:5000 registry:2`. I pushed another image inside it without any problem.

Maybe this could help you :

[code]

I don't understand the name **jib__087e74d83f207d1cd326fc12cd7e0110bb02da61**, I expected something like **localhost:5000/gcr_io_k8s-skaffold_skaffold-jib** :-/

Thank you for your help :-)

[2018-11-09 20:29] coollog commented on #1261
Hi @vmaubert , could you share with us your `skaffold.yaml`?

Since it looks like you're using minikube, Skaffold tells Jib to actually build to the Docker daemon, so it isn't building directly to your local registry as you might have wanted it to. The `jib__087e74d83f207d1cd326fc12cd7e0110bb02da61` is a unique image tag that Jib generates when it builds to the Docker daemon so that it can retag i

[2018-11-09 20:34] vmaubert commented on #1261
Hi @coollog , my `skaffold.yaml` is this [one](https://github.com/GoogleContainerTools/skaffold/blob/master/examples/jib/skaffold.yaml). I just cloned the skaffold repository, I didn't change anything.

[2018-11-09 20:43] coollog commented on #1261
Did you happen to change the image to your own (like `localhost:5000/skaffold-jib`) in both the `skaffold.yaml` artifact image and the k8s yaml ([`web.yaml`](https://github.com/GoogleContainerTools/skaffold/blob/master/examples/jib/k8s/web.yaml))?

Regardless, it looks to me like the issue here is that Jib built to the minikube docker daemon but Skaffold is trying to resolve the image on your loca

[2018-11-09 20:52] vmaubert commented on #1261
Yes, exactly the same error :-/

[2018-11-09 21:07] nkubala commented on #1257
In addition to. We'll leave the fix command around in case users want to permanently update their configs.

[2018-11-09 21:29] briandealwis commented on #1261
I tried that (`eval $(minikube docker-env); skaffold dev -v debug --default-repo localhost:5000`) and it worked too.

[2018-11-09 21:54] coollog commented on #1261
Ah right, Skaffold automatically makes the image as a repo under `localhost:5000`.

[2018-11-09 22:11] coollog commented on #1264
Some options for when there might be a mix of Dockerfiles and Maven/Gradle.

- default to Dockerfile if present, choose between Dockerfiles if multiple
- default to Maven/Gradle if `pom.xml/mvnw`/`build.gradle/gradlew` detected, choose between Maven/Gradle if both present
- survey with choices for use Dockerfile, jibGradle, or jibMaven

I think we should go with the survey with all the choices sin

[2018-11-09 22:15] loosebazooka commented on #1264
I like the survey idea.

Is skaffold init designed to only work for single artifacts at the moment? I imagine it would get pretty complex pretty fast if it started searching for one or more artifacts to configure.

[2018-11-10 02:17] balopat opened #1265 "Skaffold Event API"
Expose lifecycle events through gRPC/HTTP endpoint through what subscribers can get notified.

This would alleviate the need to parse logs for events like:
- build started for artifact
- build finished for artifact
- build error for artifact
- deployment started
- deployment finished

The main use case has IDEs as consumers.

[2018-11-10 10:44] vmaubert commented on #1261
Hi @briandealwis ,

I see a lot less stuff than you with `-v debug`:
[code]

I also tried  `eval $(minikube docker-env); skaffold dev -v debug --default-repo localhost:5000`and it works !!! So, Skaffold doesn't automatically use the good docker deamon, is it the expected behavior?

[2018-11-11 16:07] pehlert commented on #1222
This might be a slightly different approach to it, but I think it's the only feasible approach for deeply nested projects. What do you think? https://github.com/GoogleContainerTools/skaffold/pull/1266

[2018-11-11 23:40] taylorKonigsmark commented on #1232
Hey, thanks for referencing this!

This solution worked for me that was referenced in the other issue

[2018-11-11 23:40] #1232 closed

[2018-11-12 03:34] shashankkoppar commented on #1238
@balopat
I am up to date with master branch
[code]
Now i am just trying to build a skaffold binary in local,
[code]
After then, i wanna just try an example
[code]
But i still get this error.
Could you please help me out?

[2018-11-12 18:05] pehlert commented on #1161
@bryanlarsen: What do you think about introducing bash glob syntax instead?

[code]

This would already be covered by my merge request here:
https://github.com/GoogleContainerTools/skaffold/pull/1266

[2018-11-12 21:49] briandealwis commented on #1261
@vmaubert I just tried repeating the example and it's now failing on my side in the same way.  I must have made a mistake in configuring my tests previously.

This actually makes sense: Skaffold is (currently) not passing any environment to the Jib build requests, and so Jib just picks up the surrounding environment.  A workaround for now is to explicitly set the `DOCKER_*` variables before starti

[2018-11-12 23:44] nkubala commented on #1197
Closing this now, please reopen if anyone sees any related issues.

[2018-11-12 23:44] #1197 closed

[2018-11-13 18:18] ranginuitrot commented on #184
As it happens, I'm also working with Jenkins X, but I'd like to be able to use environment variables as docker build args (and anywhere else?). My main use case is providing a PyPi repo url with embedded credentials. Something like this would be ideal:
[code]

[2018-11-13 23:08] balopat commented on #1171
Is this still happening?

[2018-11-13 23:12] balopat commented on #891
This should be fixed by #940

[2018-11-13 23:12] #891 closed

[2018-11-13 23:14] balopat commented on #1243
This is a dupe of #1215.

[2018-11-13 23:14] #1243 closed

[2018-11-13 23:15] balopat commented on #1191
@hpio  is this still an issue?

[2018-11-13 23:17] balopat commented on #1242
This is how the feature was designed, so I'm going to go ahead and close this.

[2018-11-13 23:17] #1242 closed

[2018-11-13 23:33] balopat commented on #1222
@r2d4 can you elaborate why is this?

[2018-11-14 10:17] danielllek opened #1268 "skaffold dev causes segmentation violation with replicas>1"
`skaffold dev` tries to forward traffic from 0.0.0.0:8080 to multiple pods.
In reality forwards traffic to one pod and dies from time to time with SIGSEGV.

### Expected behavior
Pick only one pod and don't cause segmentation fault.

### Actual behavior
`skaffold dev` tries to forward traffic from 0.0.0.0:8080 to multiple pods (which is not possible without some load balancing)
In reality forwards

[2018-11-14 14:22] bryanlarsen opened #1269 "Multiple or per artifact tagPolicy's"
### Use Case

We're developing a service that creates Kubernetes Job's.  Both the service and the job are under very active development.

Both the image for the service and the image for the job are listed in skaffold's "artifacts" section.  Only the service artifact is referenced in the k8s manifests, the manifest for all jobs are dynamically generated by the service

If tagPolicy is set to gitCo

[2018-11-14 14:41] dkirrane commented on #1160
with job I'm using `settings.xml`
[code]

[2018-11-14 15:47] dkirrane commented on #1160
Also, I've update to skaffold `v0.18.0`
I tried switch to `wincred` credential helper (`docker-credential-wincred.exe`) as below

[code]

`mvn compile jib:build` is successful but `skaffold build` fails with same error.

Is there some setting I'm missing to setup auth for skaffold?

[2018-11-14 18:03] wstrange commented on #1185
Also seeing this on v0.18.0

[2018-11-14 20:43] #1257 closed

[2018-11-15 11:40] dgageot commented on #969
One easy way to shoot oneself in the foot is to run `skaffold run` both on Docker Desktop and on GKE.

Ports used by the local deployment will prevent the remote deployment to be forwarded locally. I don’t think there was any error message in the console and if there were, they need to be way more visible. This is not easy since error messages are hidden by application logs.

[2018-11-15 11:46] dgageot opened #1271 "Profile auto-activation"
Profiles could be made more powerful with some kind of auto-activation.
In Maven, profiles can be activated automatically based on some configuration.
I think we should implement this feature too. Here are a few use cases:
 + Activate a profile based on local/remote
 + Activate a profile based on the context
 + Activate a profile based on the command: skaffold dev|run

[2018-11-15 11:54] dgageot opened #1272 "Support hybrid deployments"
At every conference, people ask me if Skaffold supports hybrid deployments. When a set of components is too big to fit locally, they want to run some components locally and some remotely.
+ It could be that they want to run a service locally (no container involved) and connect it to a remote cluster.
+ Or they want to run a few components (in k8s) locally connected to a many more components remote

[2018-11-15 11:58] dgageot opened #1273 "Transparent `skaffold init`"
When no skaffold configuration is found on disk, maybe we could run `skaffold init` in memory and use that.
I think it would be a very simple way of getting started with Skaffold and also a good way of supporting things like compose files transparently.
We’d, of course, print a warning to explain what’s going on and which configuration Skaffold is using.

[2018-11-15 12:04] dgageot opened #1274 "Feature discoverability"
A nice feature I saw on JenkinsX is that after a command runs, il displays (in very visible green) additional commands the users might want to try.

I loved that. It increases feature discoverability!

Examples we could implement:
 + After `skaffold run`, it could say “why not try `skaffold run --tail` that’ll print the logs of what’s deployed”
 + When `skaffold init` succeeds, it could mention `s

[2018-11-15 12:33] dgageot opened #1275 "Kaniko caching"
Skaffold should auto-configure Kaniko to leverage caching.

[2018-11-15 12:43] mxey opened #1276 "Support pipelines without deploy step"
I'd like to standardize my CI pipelines on Skaffold (for consistency, and because `skaffold dev` that automatically runs tests is useful). I can already use Skaffold without building anything, if I just want to deploy some resources.  However, it's not possible to leave out a deployer, because there's always the default kubectl deployer.

The workaround I came up with is using an empty manifest fi

[2018-11-15 12:45] dgageot opened #1277 "No feedback on first Bazel build"
Before a Bazel build runs for the first time, Skaffold will list its dependencies by running a `bazel query` command. That can take a lot of time with zero feedback.

[2018-11-15 16:17] bickfordb opened #1278 "Add support for kustomize "--transform-config""
Kustomize recently added a feature `--transformer-config` to configure the set of transformations to apply to resources when rendering Kustomize manifests.  It would be great to have this flag exposed by skaffold.

This might look the following:

[code]

[2018-11-15 17:08] #960 closed

[2018-11-15 17:21] umbertix opened #1279 "[Question] Conditional db"
I'm quite new to the hole world of Kubernetes, orchestration and docker in general so pleaes let me know if I'm barking at the wrong tree.

My questions is actually very straight forward. Is there any way to build/add a db during the `skaffold dev` but not during the `skaffold run`? Basically I would like to have a local pod during development for the database but take advantage of managed DB like

[2018-11-15 17:48] balopat commented on #1195
I think this will cover these two with #1273

/cc #727
/cc #517

[2018-11-15 17:49] balopat commented on #727
closing in favor of #1195 and #1273.

[2018-11-15 17:49] #727 closed

[2018-11-15 17:49] balopat commented on #517
closing in favor of #1195 and #1273.

[2018-11-15 17:49] #517 closed

[2018-11-15 17:53] balopat commented on #1271
cc https://github.com/GoogleContainerTools/skaffold/issues/488 for the last point

[2018-11-15 18:34] balopat commented on #1238
@shashankkoppar  weird!! :)
can you please post the results of the following from the root of your repo?

`git status`
`out/skaffold version -o '{{.}}'`
` cat examples/getting-started/skaffold.yaml`

Thanks

[2018-11-15 19:49] balopat commented on #1161
I'll close this now as the bug is fixed.
Let's continue the discussion in #1222 and #1266.

[2018-11-15 19:49] #1161 closed

[2018-11-15 20:37] umbertix commented on #1279
Thx for pointing me out this option. Looks like what I need. Thx for the quick answer

[2018-11-15 20:37] #1279 closed

[2018-11-15 22:38] balopat opened #1283 "[Proposal] Introduce v1beta1 config + remove ACR builder"
I propose removing the ACR builder.

**Reason**: The ACR builder currently doesn't have integration tests, as we don't have the infrastructure to support it yet. Our current thinking around non-Google cloud builder integrations (e.g #1207) is that we will enable the community to contribute them through "a plugin model". This "plugin model" is still unclear - first candidate was the Knative Build C

[2018-11-15 22:53] dlorenc commented on #1283
+1

[2018-11-15 23:11] nkubala commented on #1283
I'm a +1 on this as well.

I do think that it's important we figure out what the entrypoint is for contributing external "plugin" builders and deployers sooner rather than later, because we shouldn't discourage skaffold usage with other cloud providers. That said, I think this particular change went in a little too hastily so we should roll it back until we decide what our strategy is moving forwa

[2018-11-16 00:40] balopat commented on #361
@afrittoli we introduced the `--default-repo` flag that users can store in their own files as well outside of the skaffold.yaml using `skaffold config`. It seems to me that that solves this use case. Let me know if that's not the case. Otherwise I'd like to close this issue.

[2018-11-16 18:10] #1195 closed

[2018-11-19 10:44] mxey commented on #1278
https://github.com/kubernetes-sigs/kustomize/pull/544

[2018-11-19 16:50] dgageot commented on #1283
+1

[2018-11-19 16:50] dgageot commented on #1283
This'll also close this issue: #1165

[2018-11-19 16:56] #1275 closed

[2018-11-19 16:57] priyawadhwa opened #1294 "Pin kaniko image to version once release happens"
cc #1287

[2018-11-19 19:51] nathanph commented on #588
I think I'd like to see a `log` section in the `skaffold.yaml`.

Some things that have annoyed me in no particular order are:
- Missing important logs from the start of a helm deployment.
- Logging in containers/pods that I don't want it to.
- Not logging in containers/pods that I want it to.
- Helm pod names being really long.

[2018-11-19 19:55] coollog commented on #1160
I believe skaffold actually fetches auth from the Docker config in order to retag the image with the skaffold tagging method. Therefore, you would need to either do a `docker login` with your credentials or edit your Docker config to use your `wincred` credential helper. I believe you may want to set the `credsStore`:

[code]

@GoogleContainerTools/java-tools We might want to look into potentially

[2018-11-20 18:39] jakefeasel commented on #1185
Work around this annoying message with this command:
[code]

[2018-11-20 20:52] NorthIsUp opened #1296 "skaffold dev fails to pass the image to container-structure-test correctly"
I'm trying to use the test phase and something is failing when passing the image to container-structure-test.

### Expected behavior
`skaffold dev` successfully runs tests

### Actual behavior
`skaffold dev` test fails with the error `Error: error setting env vars: Error creating container: no such image`

### Information

- Skaffold version: v0.18.0
- container-structure-test version: v1.5.0
- Op

[2018-11-20 23:22] balopat opened #1299 "Document JIB maven and gradle on the new site"
ref #1060

[2018-11-21 09:26] yurchenkosv opened #1301 "Helm section ignores templating"
### Expected behavior
Skaffold will inject tag in helm values, so with new skaffold run, k8s will pull new image.
It can be achieved  by adding templating into helm section like this:
[code]
### Actual behavior

Helm using same tag as  tagPolicy define.
If I using image with tag latest, k8s will not pull new image, because of image with tag latest already present on machine (k8s node) and I cannot

[2018-11-21 13:07] hpio commented on #1191
Hi @balopat ,
as stated in the issue everything works with `gcloud auth configure-docker` and since updating my pipeline I haven't tried using `docker login`.

[2018-11-21 20:46] r0bj opened #1307 "kaniko build: pod already in terminal phase: Failed"
### Expected behavior

Using example from `examples/kaniko-local` works as expected.

### Actual behavior

Running `examples/kaniko-local` generates error (GCP project name redacted):

[code]

### Information

- Skaffold version: v0.18.0
- Operating system: GKE 1.11.2-gke.18

[2018-11-22 06:14] #1283 closed

[2018-11-22 13:09] dgageot opened #1311 "User defined port-forwarding"
It would be useful to let the developer remap ports to be forwarded locally, say when they want to work on deeper level components that are using the same port.

[2018-11-22 13:15] dgageot opened #1312 "Support post-sync hooks"
When a local file is synced into a running container, it would be useful to run a command inside the container., either to tell the running process to reload that file or to perform some post-processing such as minification.

[2018-11-22 13:19] dgageot opened #1313 "How could a production cluster reject yamls applied by `skaffold dev`?"
It’s super dangerous that developers can deploy to production from `skaffold dev` just because they forgot to switch the kube context.

Is there a way to reject yamls coming from `skaffold dev` in production?

I first thought of an admission controller that would recognize the labels applied by Skaffold but then I remembered those labels are applied afterwards.

[2018-11-23 14:21] danielllek commented on #1268
Hmmm, I can't reproduce it too on 0.18.0.

[2018-11-23 14:40] ksbeking opened #1315 "Specifying Dockerfiles locations and docker build arguments"
### Expected behaviour

Not an issue. Is an idea for a feature. It would be nice to be able to specify context and the docker file separately. It would be nice in the config file to have the ability to specify docker build arguments and the location of the Dockerfiles.

It might exist, I could not find it in the docs.

### Actual behaviour

Does not have the feature

### Information

- Skaffold ve

[2018-11-23 15:45] aleksamagicka commented on #1315
You can specify Docker `[buildArgs](https://github.com/GoogleContainerTools/skaffold/blob/master/examples/annotated-skaffold.yaml#L49)` in skaffold.yaml.

[2018-11-24 06:41] aleksamagicka opened #1316 "Skaffold updates, then rollbacks deployment"
### Expected behavior

Skaffold should propagate changes to Kubernetes (see `leeroy-app` output below).

### Actual behavior

Skaffold propagates new changes in Kubernetes, and then reverses them via DeploymentRollback. Does not happen with `leeroy-app`.

### Information

- Skaffold version: v0.18.0 (Kubernetes v1.10.0)
- Operating system: Windows 7 x64 Ultimate
- Contents of skaffold.yaml:

[code

[2018-11-24 11:05] garethr opened #1317 "Output encoding issues on Windows render text harder to read"
### Expected behavior

When running skaffold on Windows, either in powershell or in CMD:

* Skaffold would show colour output, or
* Skaffold would not show encoding characters in output

### Actual behavior

Skaffold output is not colorised, but encoding characters are shown, making the text hard to read:

[code]

### Information

- Skaffold version: v0.18.0
- Operating system: Windows 10

[code]

[2018-11-25 07:58] #1316 closed

[2018-11-25 07:59] aleksamagicka commented on #1316
Sorry. My bad :man_facepalming:

I had
[code]

in my k8s config.

[2018-11-25 13:46] bholemt opened #1318 "Add GIT_COMMIT and DIGEST_HEX to tagPolicy envTemplate"
Wish to use something like -
  tagPolicy:
    envTemplate:
      template: "{{.IMAGE_NAME}}:dev-{{ printf \"%.8s\" .GIT_COMMIT }}-{{ printf \"%.8s\" .DIGEST_HEX }}"

Sure it can be passed through command line but so can anything else.

Or a tag prefix option in gitCommit would also be great.

[2018-11-26 09:57] dicarlo2 opened #1319 "Skaffold expects bazel output dirs to be symlinked to workspace directory"
### Expected behavior

`skaffold dev` with `build --symlink_prefix=/` in `.bazelrc` should look for built artifacts in the correct folder.

### Actual behavior

Looks for it in `./bazel-bin`:

[code]

### Information

- Skaffold version: 0.18.0
- Operating system: macOS

### Steps to reproduce the behavior

See expected behavior

[2018-11-26 14:06] netcho opened #1320 "Skaffold retriggers pipeline when helm chart is inside the main directory"
### Expected behavior
Running "skaffold dev" command with helm configured as deployment method would build the artifacts, deploy and then watch for changes. The helm chart directory is in the same directory as the skaffold.yaml

### Actual behavior
Running "skaffold dev" with the helm chart directory in the same place as skaffold.yaml produces an infinite loop of building, deploying.

### Informat

[2018-11-26 17:15] priyawadhwa commented on #1315
@ksbeking you can also specify the path to the Dockerfile [here](https://github.com/GoogleContainerTools/skaffold/blob/master/examples/annotated-skaffold.yaml#L45) and the context [here](https://github.com/GoogleContainerTools/skaffold/blob/master/examples/annotated-skaffold.yaml#L41). Is that what you were looking for?

[2018-11-27 10:12] jamielennox opened #1321 "Port Forward doesn't work as pods not 'modified'"
### Expected behavior

When using skaffold dev I have port forwards established to the pods.

### Actual behavior

No port forwards are created

### Information

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb773071ce452e33fb66339d", GitTreeState:"clean", BuildDate:"2018-06-06T15:22:13Z", GoVersion:"go1.9.6", Compiler:"gc", Platform:"darwin/a

[2018-11-27 10:15] jamielennox commented on #1321
Adding @r2d4 as the author of that patch.

[2018-11-27 11:28] dicarlo2 opened #1322 "Bazel query should specify --output"
### Expected behavior

`skaffold dev` with a bazel target should watch files

### Actual behavior

it does not

### Information

- Skaffold version: v0.18.0
- Operating system: macOS

### Steps to reproduce the behavior

1. `clone https://github.com/GoogleContainerTools/skaffold.git`
2. `cd examples/bazel`
3. `echo "query --output=label_kind" > .bazelrc`
4. `skaffold dev`

[2018-11-27 17:50] balopat opened #1325 "Release 0.19.0"
Release 0.19.0

- [x] create release notes
- [x] create tag & upload binaries to Github

Other:
- [x] https://github.com/GoogleContainerTools/skaffold/issues/1263

[2018-11-27 22:45] balopat commented on #1322
Thank you for the issue! Should be relatively simple to add `--noworkspace_rc` to our bazel query.

[2018-11-27 22:57] balopat commented on #1318
Thank you for filing the issue, @bholemt, doesn't the [`gitCommit` tagpolicy](
https://github.com/GoogleContainerTools/skaffold/blob/master/examples/annotated-skaffold.yaml#L10) cover your use case?

[2018-11-27 23:07] priyawadhwa commented on #1222
Fixed by #1266

[2018-11-27 23:07] #1222 closed

[2018-11-27 23:08] priyawadhwa commented on #1320
Refer to #20

[2018-11-27 23:17] priyawadhwa commented on #934
@skamansam I'm going to go ahead and close this issue, please comment or re-open if you're still running into this bug.

[2018-11-27 23:17] #934 closed

[2018-11-27 23:59] nkubala commented on #1269
Having multiple tags per artifact I think would be confusing, because Skaffold would have to choose which one to use in the manifests. I don't necessarily hate having a per-artifact tagger though: if no tag policy is set for an artifact, it could fall back to the top-level tag policy in the build stanza, and of course if that one isn't set we'd use the default.

[2018-11-28 00:05] nkubala commented on #1313
Hmm, could we do something like blacklisting kube contexts in the global config? Something like
`skaffold config add blacklist <context>` or `skaffold config blacklist` (to blacklist the current context).

Then skaffold can quickly check the current context against the list of blacklisted contexts, and refuse to run.

[2018-11-28 02:29] balopat opened #1327 "Define default-repo in the concepts docs"
This would be beneficial both currently + in the new site.

[2018-11-28 10:31] bholemt commented on #1318
Would like to have a prefix option. Eg dev-#commitid-sha256-#sha

[2018-11-28 10:33] bholemt opened #1328 "Purge helm release option on skaffold delete"
In case of change in helm template, one needs to helm delete --purge. Otherwise helm upgrade tries to reuse the template from the old delete release. Wish this option is available somehow with skaffold delete.

[2018-11-28 12:11] dgageot commented on #1313
@nkubala That's something that could work. Something cluster-side would protect the production environment even if users forget to edit their blacklist

[2018-11-28 15:30] enriched commented on #360
I don't know if there is a smarter/more efficient way to do this, but I ended up using this for a helm chart with a lot of different images that I wanted to easily set the tag and registry for CD purposes.

More variables could be added to the coalesce if there were other places where values would be stored. And instead of passing in a string variable as the second part of the list, it could be a

[2018-11-28 16:11] dgageot commented on #789
Here's another use case:

@ltouati is trying to use a different Dockerfile for `dev` and `prod`. The only way to do that currently is to redefine the whole `artifacts` sections in a profile.

He ended up using https://github.com/jkozera/j2skaffold

[2018-11-28 18:07] hypnoglow commented on #789
Docker images built by skaffold injected in k8s manifests templated by helm deployed by skaffold templated by jinja. Seems legit 🤪

[2018-11-28 19:37] nkubala commented on #1313
Yeah, my only concern with that is that by nature skaffold is more of a client side tool, so it feels a little weird to delve into running something by default in a cluster, especially a production cluster. Maybe not the end of the world though.

We could provide a small "protector" image that skaffold deploys to a user's cluster, that protects against all deployments coming from skaffold (through

[2018-11-29 00:49] nkubala commented on #183
Hey @jstrachan, sorry this never got much attention. I'm not sure this fits into skaffold's design paradigms at least right now. It doesn't have any analogues for the other deploy strategies (what would a `skaffold release` or `skaffold commit` look like for kubectl, or GCB?), and I'm not sure we want to add anything helm-specific. Is this something that you're still actively interesting in seeing

[2018-11-29 01:07] nkubala commented on #491
@clanstyles is this still an issue for you?

[2018-11-29 01:12] nkubala commented on #490
We've updated the error handling and yaml parsing for our config, and we have schema generation in the works right now. The only piece of this left to do would be to auto-generate the annotated-skaffold.yaml from the config structs.

[2018-11-29 06:08] dgageot commented on #1313
Clearly not top priority but I like the idea of `skaffold protect-cluster`

[2018-11-29 17:51] cliffburdick commented on #1106
@balopat any updates on this one? If you can point me to roughly where the code is that handles this, I might be able to take a look.

[2018-11-29 17:53] balopat commented on #936
I'm thinking that skaffold _could_ help with this - it would be super convenient if the docker cacheFrom would pull the image - given the state of CI systems. I just ran into this myself, and it's annoying.
Skaffold could check the existence of the `cacheFrom` images in the local docker daemon and if it's not there pull it.

[2018-11-29 18:01] dgageot commented on #936
big +1 on that

[2018-11-29 18:31] nkubala commented on #1199
Closing this as a dupe of #521

[2018-11-29 18:31] #1199 closed

[2018-11-29 19:30] nkubala commented on #588
I'm a +1 on a `log` section in the config as well. Probably makes sense to have a container whitelist rather than a blacklist. Anybody interested in sending a PR?

[2018-11-29 19:36] nkubala commented on #654
This should be fixed through https://github.com/GoogleContainerTools/skaffold/pull/807

[2018-11-29 19:36] #654 closed

[2018-11-29 19:37] nkubala commented on #657
Fixed through https://github.com/GoogleContainerTools/skaffold/pull/1098

[2018-11-29 19:37] #657 closed

[2018-11-29 19:43] nkubala commented on #731
I haven't tested it personally, but Kaniko's ECR support *should* fix this issue. Going to close for now, please reopen if anyone sees any issues with it.

[2018-11-29 19:49] nkubala commented on #776
We're doing this for our release tags now.

[2018-11-29 19:49] #776 closed

[2018-11-29 19:50] #1263 closed

[2018-11-29 19:54] #501 closed

[2018-11-29 21:13] #1078 closed

[2018-11-29 21:46] nkubala commented on #1009
To what extent was this addressed by https://github.com/GoogleContainerTools/skaffold/pull/1053? Can we close this?

[2018-11-29 21:49] maximbaz commented on #1301
Am I right to assume that even if I use `sha256: {}` as `tagPolicy`, I should still be able to use `{{ .DIGEST }}` and others in the helm section, like so?

[code]

Also, I can't seem to grasp what's the difference between:

[code]

and

[code]

Does anyone know?

[2018-11-29 22:15] nkubala commented on #1174
ACR runner has been removed.

[2018-11-29 22:15] #1174 closed

[2018-11-29 22:21] nkubala commented on #666
ref https://github.com/GoogleContainerTools/skaffold/issues/588

[2018-11-29 22:23] nkubala commented on #1071
closing as this should be fixed in v0.17.0

[2018-11-29 22:23] #1071 closed

[2018-11-29 22:41] nkubala commented on #1317
Hey @garethr, thanks for the issue. I think this should be fixable by setting the console mode before formatting the output to the terminal (see [here](https://stackoverflow.com/questions/51680709/colored-text-output-in-powershell-console-using-ansi-vt100-codes) for more details). In the meantime, there's a section in the answer there about setting the mode globally in Powershell, which should wor

[2018-11-30 00:18] nkubala commented on #1307
@r0bj v0.19.0 just went live. Could you install the latest release and see if this issue is fixed?

[2018-11-30 00:34] nkubala commented on #1178
I'm a +1 on this. @RoryShively would you like to send a PR?

[2018-11-30 00:36] nkubala commented on #672
This was fixed through #985!

[2018-11-30 00:36] #672 closed

[2018-11-30 00:38] nkubala commented on #1151
ref #996

[2018-11-30 07:53] #1325 closed

[2018-11-30 07:55] dgageot commented on #1315
@ksbeking I'm going to assume that this is already possible and close the issue. Feel free to reopen it in case we misunderstood you!

[2018-11-30 07:55] #1315 closed

[2018-11-30 08:01] #1009 closed

[2018-11-30 08:02] dgageot commented on #1006
This feature was actually removed from the beta because it didn't work. Not sure we should reintroduce it though.

[2018-11-30 12:18] r0bj commented on #1307
@nkubala I have similar issue with version v0.19.0:
[code]

[2018-11-30 12:44] dgageot commented on #1277
I'm going to close this one. With recent version of Bazel a message that says:
`Starting local Bazel server and connecting to it...`

At least I know something is going on!

[2018-11-30 12:59] dgageot commented on #1215
I'm going to close this ticket since the bug can't be reproduced with the latest release (0.19)
Please reopen in case I'm wrong.

[2018-11-30 12:59] #1215 closed

[2018-11-30 13:12] bryanlarsen commented on #1269
@nkubala you already appear to generate multiple tags per artifact.  For example, my latest container got tagged with both "a593b5ad6a6362a5cc19907a7a79ec14:latest" and "dev:20cea37-dirty-a2b9536".   I'm not sure what the former tag is and why you've created that tag, but it's obviously not causing confusion in your codebase.

But as you mentioned, a per-artifact tagger is probably cleaner.

[2018-11-30 14:10] dgageot commented on #1106
Hi @cliffburdick, can you reproduce with skaffold 0.19?

[2018-11-30 14:49] dgageot commented on #1185
@jakefeasel @wstrange I've a fix here: #1342 If you want to give it a try

[2018-11-30 14:56] dgageot commented on #1307
I can reproduce. Let me investigate

[2018-11-30 15:09] dgageot commented on #1307
No, In fast I can't repro. My error was unrelated.

[2018-11-30 15:16] wstrange commented on #1185
Thanks @dgageot - I will probably wait until the next release ;-)

[2018-11-30 15:46] cliffburdick commented on #1106
I will git it a try David. Thanks

On Fri, Nov 30, 2018 at 6:10 AM David Gageot <notifications@github.com>
wrote:

[2018-11-30 15:52] cliffburdick commented on #1106
@dgageot yes, the problem still happens. My container prints 89 lines in about 50ms before completing, and skaffold showed no output on 0.19. kubectl logs shows all the output.

[2018-11-30 16:30] cliffburdick commented on #1106
@dgageot sure, I'll try that now and report back.

[2018-11-30 16:30] dgageot commented on #1191
I'm going to close this one because it works now that you use the proper authenticator

[2018-11-30 16:30] #1191 closed

[2018-11-30 17:03] cliffburdick commented on #1106
@dgageot that worked! will this be merged into 0.20?

[2018-11-30 17:53] dgageot commented on #1106
Excellent, I'll try to make sure it goes in

[2018-11-30 18:50] #1185 closed

[2018-11-30 19:05] nkubala commented on #1006
I was never really convinced by the implementation we had. I still personally think we should consider doing this either on an artifact level or a "component" or "module" level rather than just deploying everything twice. I'll close this issue and we can discuss somewhere else if/when the time comes.

[2018-11-30 19:05] #1006 closed

[2018-11-30 19:11] nkubala commented on #1320
Closing this as a dupe of #20

[2018-11-30 19:11] #1320 closed

[2018-11-30 19:16] nkubala opened #1346 "Make `helm dep build` configurable"
ref #116

`helm dep build` can mess up projects with dependencies configured manually through symlinks or whatever. We should add a flag to skip the dep build before doing a helm deploy.

[2018-11-30 19:16] nkubala commented on #116
@bholemt I opened a new issue to track adding a flag to make that configurable.

[2018-11-30 19:35] #1319 closed

[2018-11-30 19:35] #812 closed

[2018-11-30 19:38] rootd00d opened #1347 "Doesn't detect changes to subcharts"
Skaffold seems to not detect changes to subcharts.  I've created an umbrella chart, and am using subcharts for various sites & services.  In 'dev' mode, changing the contents of a subchart in "charts" ought be detected & deployed.

### Expected behavior

Modifying a subchart in "charts" should trigger a redeploy.

### Actual behavior

Seemingly, nothing.

### Information

- Skaffold version: v0.18

[2018-11-30 21:11] dgageot commented on #1322
Fixed with #1339

[2018-11-30 21:11] #1322 closed

[2018-11-30 21:24] dgageot opened #1349 "Deploying a Bazel artifact to a remote cluster requires Docker"
The bazel builder produces a tarbal that's Docker loaded before it's pushed. When working with a remote cluster, we should push directly, without using Docker (Same as with Jib plugin)

[2018-11-30 22:11] r0bj commented on #1307
Log from kaniko container:
[code]

[2018-11-30 22:44] briandealwis commented on #1265
IDEs would also like to control Skaffold, such as to disable file-watch/rebuilding for a particular artifact.  This is necessary for Java projects, for example, that have alternative mechanisms for replacing content (JDWP).

[2018-11-30 22:46] nkubala commented on #1158
ref https://github.com/GoogleContainerTools/skaffold/issues/1172

[2018-11-30 22:46] dgageot commented on #546
@jstrachan @bsuh any update on this one?

[2018-11-30 22:47] nkubala commented on #1158
yeah there's a lot of weirdness surrounding the "magic" cluster naming. I think the right answer is to have artifact specific push settings in the global config, and then eliminate as much of the `minikube` or `docker-for-desktop` named cluster special casing as we can.

[2018-11-30 22:49] nkubala commented on #1217
This will also be possible once we support push configuration in the global config.

[2018-11-30 22:52] nkubala commented on #1347
@rootd00d thanks for the issue. Can you provide your `skaffold.yaml`? I'm wondering if this is an issue with the file watcher, or with the way that we handle helm redeploys.

[2018-11-30 23:03] valery-vitko opened #1350 "Windows to Linux file sync does not properly sync files in subfolders"
### Expected behavior

When running skaffold on Windows with file sync set up for a folder structure, it should sync all files properly.

### Actual behavior

Sync creates files with backslashes, e.g. file `src\app.ts` in the `/usr/src/app/` instead of `app.ts` in the `/usr/src/app/src/`:

[code]

### Information

- Skaffold version: v0.19.0
- Operating system: Windows 10 Build 17134
- Contents of

[2018-12-01 00:45] bsuh commented on #546
I switched jobs and am not using skaffold currently.

[2018-12-01 08:53] dgageot commented on #1106
Fixed with #1344

[2018-12-01 08:53] #1106 closed

[2018-12-01 14:46] alewis001 commented on #1185
Thanks @dgageot. I too will wait for the next release :)

[2018-12-02 06:47] ahmadnurus opened #1352 ""skaffold deploy" should not run build before"
After upgrading skaffold to v0.19.0 `skaffold deploy` run build before

### Expected behavior

when run `skaffold deploy` it should deploy without running build before. like v0.18.0

[code]

### Actual behavior

In skaffold v0.19.0 `skaffold deploy` run build before deploy

[code]

### Information

- Skaffold version: v0.19.0
- Operating system: MacOS 10.14.1
- Contents of skaffold.yaml:

[code]

[2018-12-02 12:19] ahmadnurus opened #1353 "Support kubectl deploy using manifest from url"
### Expected behavior

Sometimes we need to deploy using manifests that doesn't exist in the local machine. like someone only provides the manifest in remote repository, snippet or gists. it would be better if skaffold support deploying using manifest from url.

This might look the following:

[code]

and we don't need to execute `kubectl apply -f https://gist.githubusercontent.com/someone/somesni

[2018-12-03 06:42] loispostula commented on #859
Hello @nkubala I've just took the time to replicate in skaffold 0.19.0-2 And this is fixed :) awesome

[2018-12-03 06:42] #859 closed

[2018-12-03 10:34] matti opened #1358 "Support port-forward address bind with skaffold dev"
In Kubernetes 1.13

https://github.com/kubernetes/kubernetes/pull/46517

usecase: run `skaffold dev` in google cloud shell (needs 0.0.0.0 binding)

[2018-12-03 12:20] dgageot commented on #1177
I'm going to close this one. I can't reproduce it and it seems it was fixed by c55e88a7a24e57cbdb061bc6f0fe4810d3c7235a

[2018-12-03 12:20] #1177 closed

[2018-12-03 13:00] dgageot commented on #1278
@bickfordb I'm going to close this one since it's being removed from kustomize. Sorry

[2018-12-03 13:00] #1278 closed

[2018-12-03 13:02] dgageot commented on #461
I'm going to close this one because, now, we print all the commands that Skaffold runs

[2018-12-03 13:02] #461 closed

[2018-12-03 15:41] matti commented on #1358
well google cloud shell + skaffold won't work currently anyway because of https://github.com/kubernetes/minikube/issues/3392

[2018-12-03 18:10] rootd00d commented on #1347
Does the version of the subchart need to be incremented in order to trigger a redeploy?

[code]

[2018-12-03 18:13] dgageot commented on #1296
@nkubala have you tried to reproduce. I heard similar feedback

[2018-12-03 18:23] dgageot commented on #1069
@tvanhees have you tried with Skaffold 0.19? It would be good to know if this is still there.

[2018-12-03 19:13] r0bj commented on #1307
@priyawadhwa I've tried on two different clusters, one on GKE and second on bare metal - both with the same results. I didn't notice any connectivity issues on those clusters.

Test with the same url which is failing:
[code]

[2018-12-04 06:05] xeor commented on #1272
This would make skaffold much more attractive for us as well.. I'm probably ending up using telepresence or kubefwd, but want something more.. (not sure what I want, but this issue seamed promising 👍)

[2018-12-04 07:06] balopat opened #1360 "Port forwarding fails on changes in skaffold.yaml"
Port forwarding clashes with itself when `skaffold dev` restarts triggered by a change in skaffold.yaml.

[code]

It is due to "orphaned" kubectl port-forward processes.

[2018-12-04 09:01] #1224 closed

[2018-12-04 14:59] #1274 closed

[2018-12-04 18:18] priyawadhwa commented on #1272
@xeor, would it be useful for you if skaffold could forward remote services to your local computer via telepresence for you?

[2018-12-04 18:27] tmc opened #1363 ""skaffold test"?"
I wanted to start a discussion around whether or not skaffold should have a test subcommand.

Both bazel and helm have this concept and one could imagine jibMaven and jibGradle adding these.

[2018-12-04 20:45] tmc commented on #248
Should there be another issue for local parallelism?

[2018-12-05 10:02] fikriauliya commented on #543
My issue is similar to @cpoole :
- The generated Docker image for development and production should differ
- The development docker run the app in development mode (faster compile)
- The production docker needs more complex build (longer compile). Currently we offload this process to CloudBuild (configured in `cloudbuild.yaml`)

I wish Skaffold can:
- Have different build mode based on environment

[2018-12-06 02:24] DylanArnold opened #1365 "Sync does not sync new directories"
### Expected behavior
- Creating a new directory when sync is enabled should create the directory in the target container
- (`Syncing 1 files for example:xxxxx` should appear in the console when a new directory is created)
- This is a problem if you subsequently create a file inside the directory. It will not sync the file because the target directory does not exist, resulting in an error

### Act

[2018-12-06 04:45] bholemt commented on #1328
I need to catch up on Go. Let me try but will need time.

[2018-12-06 15:06] csantanapr opened #1369 "Docs for knative usage?"
@dgageot Is there some doc or example on how to use it with knative?

Are there any docs or better yet an example on how to use with knative with the recent PR merged #851

[2018-12-06 17:27] arminbuerkle opened #1370 "Panic on CRD with image of type "map[interface {}]interface {}""
When using skaffold deploy, in my case without even building an image, on a CRD that has the keyword `image`  but as type `map[interface {}]interface {}` skaffold panics.

I have tried using skaffold deploy on a [prometheus-operator CRD](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/0prometheus-operator-0prometheusCustomResourceDefinition.yaml#L928).

[2018-12-07 17:45] balopat opened #1373 "introduce v1beta2"
We need to upgrade the latest version to v1beta2.
the [config changing new PRs](https://github.com/GoogleContainerTools/skaffold/pulls?q=is%3Apr+is%3Aopen+label%3Aconfig-change) should rebase to this.

[2018-12-07 20:59] cpoole commented on #543
@fikriauliya I fixed my issue with docker args
set the local_build arg to true by default and then in your run block do the following:
[code]

and in our jenkins build we pass local_build false

[2018-12-08 03:10] pscarey commented on #1313
I don't think the issue is just about `skaffold dev`, but also `skaffold deploy` and any other cluster changing commands.

My opinion is that protection of production clusters from accidental (or intentional) damage should be achieved via Kubernetes user accounts and `helm`/`tiller` SSL. (i.e. existing permissions systems). Regardless of `skaffold` usage or not, your average developer should not h

[2018-12-08 23:35] balopat commented on #1369
Hi, that PR was not merged, it got closed as knative Build/Task is going through a lot of changes. Currently we don't support knative, but we are definitely planning to provide integration multiple ways.

[2018-12-08 23:38] csantanapr commented on #1369
My bad @balopat didn’t notice it was not merged. Now it make sense I was not able to find docs.

Yes I agree that now build have switched over a different architecture with Knative-pipeline, I think is safe to take another stab that is much stable now.

Thanks for the quick reply 👍🏻

[2018-12-08 23:38] #1369 closed

[2018-12-08 23:47] balopat opened #1377 "Streaming build context in cluster builds for faster rebuilds in skaffold dev"
During `skaffold dev` even for moderate sized frontend apps docker rebuilds can be very slow. I mean the large contexts for example due to npm_modules in a react app. I propose creating a streaming context option using Kaniko. This would have to save the resending of the context and instead would only filesync changes to a PV (for example) that Kaniko would use as a starting layer.
@nkubala @priya

[2018-12-08 23:55] #1373 closed

[2018-12-09 03:46] #1350 closed

[2018-12-09 16:33] haf opened #1378 "First impressions"
This is a review of the initial experience using you tool to manage this for dev:

 - one API service
 - one backend batch service
 - one data database: eventstore
 - one metrics database: influxdb
 - prometheus

The first experience is one of an MVP that ticks the most important box; a quick getting started doc that actually works. That said, the quick start seems to have displaced the architectu

[2018-12-09 18:05] jakolehm commented on #543
@Place1 I heard rumours that @jnummelin is working on mortar support.

[2018-12-10 05:50] #227 closed

[2018-12-10 05:50] #498 closed

[2018-12-10 05:50] #519 closed

[2018-12-10 05:50] #628 closed

[2018-12-10 05:50] #629 closed

[2018-12-10 05:50] #1327 closed

[2018-12-10 09:56] gevans22 opened #1379 "Skaffold failing to sync with helm"
### Expected behavior
Skaffold using Helm  should sync the same as with Kubectl.

### Actual behavior
Skaffold-dev with helm loads the cluster and the helm charts but does not sync properly when updating the project files. Has been tried with a node.js backend server and a front-end application.

Error received is "WARN[0090] Skipping deploy due to sync error: copying files: couldn't sync all the

[2018-12-10 18:40] priyawadhwa commented on #1377
I think this could work, when a file change is made we could spin up a pod with an init container and a container. Through the init container we could sync the changed file to the PV, and then the container could run kaniko?

It's would be pretty similar to how the local kaniko builder works right now, except we'd be syncing individual files instead of a tarball of the build context.

[2018-12-10 20:11] tmc opened #1380 "Add parallel local image building."
#248 added parallel building to gcb+kaniko, but not local builds.

### Expected behavior
That local builds use InParallel

### Actual behavior
Local builds use InSequence

[2018-12-10 22:42] yeahphil commented on #785
Looked like #1284 would fix this, but after trying it, it doesn't. Unfortunately, Helm doesn't understand the --tls flag in commands like `helm dep build`, so we can't just set that flag globally and be done with it.

Proper helm TLS support looks like it will mean adding the argument in helm.go to every command that supports it as needed.

There's an easier way: helm supports configuring all aspe

[2018-12-11 05:30] pscarey commented on #1378
Not a maintainer/affiliated, but just my 2 cents. We picked up `skaffold` this last week & have had a very different experience.

We manage this by using a helm chart with a `requirements.yaml`, and with local copies of subcharts. We can toggle the requirements with the `condition` option, allowing us to enable certain things only in prod/dev (using `skaffold`'s `profile` settings). Helm doesn't p

[2018-12-12 00:03] stasiek opened #1388 "[proposal] Kubernetes cluster management"
First of all Great Thanks for Your work on the project!
I would find it useful if I could set up cluster with Skaffold. For example the loadbalancer, urlMapper, a static IP?

I understand it's beyond the fast rebuild-deploy functionality most would use Skaffold for, but it would mostly eliminate need for `kubectl` usage and under version control leave history of changes.

Using @balopat's words

B

[2018-12-12 07:21] gbates101 opened #1389 "envTemplate.template ignored on skaffold dev"
Not sure if I'm missing something obvious, but...

### Expected behavior
When image is tagged during `skaffold dev`, the `envTemplate.template` definition under `tagPolicy` section should be used.
### Actual behavior
When image is tagged during `skaffold dev`, the `envTemplate.template` definition is ignored completely, and a \<random-hash\>:latest tag is used instead. Even on repeat runs, it will

[2018-12-12 16:12] #1370 closed

[2018-12-13 02:50] imroc opened #1391 "Please upgrade kaniko"
I want to use kaniko to build images without previledged in localDir, not the gcsBucket, but the default build packs in current jenkins-x version, the skaffold.yaml use the apiVersion `skaffold/v1alpha2`, which do not support this configuration in `skaffold/v1beta1`:
[code]

[2018-12-13 03:05] #1391 closed

[2018-12-13 03:06] imroc commented on #1391
sorry for the wrong place, this should be a jenkinx-x issue

[2018-12-13 04:00] imroc commented on #1307
I got the same issue, this is my output:
[code]

[2018-12-13 04:00] shavo007 opened #1392 "Failed to pull image on docker with mac"
### Expected behavior
Run the pod on kubernetes

### Actual behavior
Fails to pull image

### Information

- Skaffold version: version v0.19.0
- Operating system: osx
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

kubectl describe pod <podname>
[code]

I have a multi phase build for my api. my k8s deployment is running two containers (graphql-api, postgres)
postgres sta

[2018-12-13 16:48] cliffburdick opened #1393 "--tail Option Doesn't Work In Deploy Mode"
### Expected behavior
--tail behaves identically in run and deploy mode

### Actual behavior
Option doesn't work in run mode

### Information
[code]
Skaffold.yaml:
[code]

Kubernetes manifest:
[code]

### Steps to reproduce the behavior

1. Use skaffold run --tail and verify output works on pod
2. Run the same configs, but with skaffold deploy --tail and observe no output
3. kubectl log shows outp

[2018-12-13 19:44] priyawadhwa commented on #1393
Hi @cliffburdick, sorry but I was unable to reproduce this issue. I tried with the [getting-started](https://github.com/GoogleContainerTools/skaffold/tree/master/integration/examples/getting-started) example and the [test-dev-job](https://github.com/GoogleContainerTools/skaffold/tree/master/integration/examples/test-dev-job) example to see if it was an issue with Kubernetes Jobs, but they both dis

[2018-12-13 19:46] priyawadhwa commented on #1392
Hey @shavo007, I'm not sure if this is a skaffold bug -- it seems like there's a network connection in your cluster?

[2018-12-13 19:49] cliffburdick commented on #1393
Hi @priyawadhwa, I will try that. Although, I switched to using the --images flag, and it started working. I'm wondering if you don't pass --images and just change run to deploy it doesn't work?

[2018-12-13 19:55] priyawadhwa commented on #1393
I tried it with and without the --images flag, and it worked both times for me!

[2018-12-13 20:02] cliffburdick commented on #1393
@priyawadhwa which version were you using? I'm on the stock 0.19 image, but I noticed some changes to runner.go have been made since then.

[2018-12-13 20:59] priyawadhwa commented on #1393
I tried with both v0.19.0 and building the binary @ HEAD

[2018-12-14 00:44] shavo007 commented on #1392
hi @priyawadhwa , i can definitely run on my local k8s cluster directly
https://github.com/shavo007/graphql-playground/tree/master/api#kubernetes

the problem is when using skaffold

postgres spins up but not my api

[code]

i am not sure if its an issue with my docker file using multi phase build or two containers running within the same pod?

[code]

[code]

[2018-12-14 02:26] imroc opened #1394 "can't push image to other registry"
If push image to the registry other than gcr or acr, kaniko need mount docker `config.json` to `/kaniko/.docker/config.json`, and skaffold do not support this configuration, the `pullSecretName` config is the GCP credidential, not docker config

[2018-12-14 13:15] ahmadnurus commented on #1352
Any update?

[2018-12-15 01:03] faraazkhan commented on #20
+1 This feature is kind of important, but also there may be some default optimizations that can go within skaffold, for example right now, simply adding a file to the git index with `git add` triggers a rebuild in skaffold, which is wasteful to say the least.

[2018-12-15 01:57] bzub commented on #1394
For now it's possible to work around this issue with a `PodPreset` defined in the namespace where kaniko runs. Details to enable that [here](https://kubernetes.io/docs/concepts/workloads/pods/podpreset/#enable-pod-preset).

### Example
Create a k8s `Secret` out of `~/.docker/config.json`
[code]
`kubectl -n kaniko apply` the following manifest:
[code]

[2018-12-15 11:03] bzub commented on #1394
I'd recommend opening this again unless there's already an issue for this. My comment was just a workaround.

[2018-12-16 07:21] paultiplady opened #1395 "Add support for Kustomize deployer mutations"
### Expected behavior

It should be possible to configure the namespace of the kustomization dynamically.

### Actual behavior

It appears there is no way to configure the namespace dynamically in a Kustomization.

### Information

A common pattern for deploying k8s apps is to use a namespace per deploy. Another alternative is to use name prefixes inside a single namespace.

Both of these options

[2018-12-16 17:18] paultiplady commented on #1395
I raised this over at the Kustomize project a while ago and got some good suggestions: https://github.com/kubernetes-sigs/kustomize/issues/164

Maybe the answer is just "use the kustomize CLI to preprocess the YAML appropriately", but wondering if you have different ideas.

[2018-12-17 15:23] bhack opened #1396 "NoDockerfile"
How we could use [`NoDockerfile`](https://github.com/GoogleContainerTools/skaffold/blob/master/cmd/skaffold/app/cmd/init.go#L48) with `sync:` key? Is it possible?

[2018-12-17 16:06] dgageot opened #1397 "Support Jib artifacts on GCB"
Currently, the GCB builder only supports Docker artifacts. It should also support Jib

[2018-12-17 19:18] #1365 closed

[2018-12-18 22:32] priyawadhwa commented on #1396
Hey @bhack, just to clarify, do you want to be able to sync files into a container which is deployed by but not necessarily built via skaffold?

[2018-12-18 23:21] bhack commented on #1396
Yes. I.e. It was built by CI

[2018-12-19 22:46] balopat opened #1403 "CLI reference generation should be more automated"
context: https://github.com/GoogleContainerTools/skaffold/pull/1400#pullrequestreview-186776781
The CLI reference is generated but it is pretty manual. Let's fix this:
1.) there should be a travis time check to make sure the generation was done
2.) the generation should be `make gen-cli-reference`

[2018-12-20 11:23] r0bj opened #1404 "error adding label to runtime object: patching resource: the server could not find the requested resource"
### Expected behavior

skaffold deploys workload without warning.

### Actual behavior

skaffold deploys workload with warning:
[code]

### Information

- Skaffold version: v0.19.0
- Operating system: macOS 10.14.2
- Contents of skaffold.yaml:

[code]

- Contents of prod.yaml:
[code]

Similar behaviour is with cluster scoped workloads like `ClusterRole`, `ClusterRoleBinding`.

### Steps to reprodu

[2018-12-20 11:39] r0bj opened #1405 "error adding label to runtime object: patching resource: deployments.apps not found"
### Expected behavior

skaffold properly deploys workload (and add labels) without warning.

### Actual behavior

skaffold deploys workload with warning and without adding labels.

### Information

- Skaffold version: v0.19.0
- Operating system: macOS 10.14.2
- Contents of skaffold.yaml:

[code]

- Contents of test.yaml:

[code]

Note: namespace `prod` is used in this manifest.

### Steps to repro

[2018-12-20 16:55] r2d4 commented on #1405
There was an issue where labeling was not namespace aware. I'm not sure if I've upstreamed the patch

[2018-12-20 18:38] tariq-islam opened #1407 "[feature request] Add support for remote Kubernetes manifests"
### Expected behavior
Specify a remote URI for a manifest, or a set of manifests (akin to specifying a wildcard pattern) so that skaffold can utilize manifests for deployment that may not be locally available.

### Actual behavior
Skaffold currently expects all deployment manifests to be locally available on the file system, with the exception of remoteManifests which looks at pre-deployed resourc

[2018-12-20 20:47] balopat opened #1409 "Release 0.20.0"

[2018-12-20 22:13] balopat opened #1411 "Create a detailed architecture diagram"
The diagram should describe how the skaffold CLI, the builder and deployer binaries interact and work with the pods for port forwarding and logging. It's component focused instead of workflow - hence it's a bit different view compared to the current diagram we have.

[2018-12-20 22:22] balopat opened #1412 "Add best practices docs around setting up infrastructure around the app"
Besides the app there are usually other infrastructure pieces that projects want to deploy, e.g.:
- databases + init scripts (how to seed with data)
- caches
- message queues
- monitoring solutions (elk/graphana/prometheus)

We should document/point to a couple of recommended directions and how they tie back to Skaffold.

[2018-12-20 22:26] balopat opened #1413 "Add better docs on routing to services"
We should cover/point to best practices/alternative approaches how one can access a service that is deployed by skaffold.

[2018-12-20 22:41] balopat commented on #480
With the default repo functionality at least the last row is done - Image registries.

[2018-12-20 23:05] balopat commented on #1378
@haf, thank you so much for the detailed feedback!

This is in scope - as long as you can deploy these things to Kubernetes, you should be able to spin it up with Skaffold.

Added https://github.com/GoogleContainerTools/skaffold/issues/1411 for architectural diagram.

Can you elaborate on this a bit more, I'd be curious to understand your workflow more: what do you mean by k8s repo and local dev r

[2018-12-20 23:19] balopat commented on #1407
This is a dupe of https://github.com/GoogleContainerTools/skaffold/issues/1353, closing

[2018-12-20 23:19] #1407 closed

[2018-12-21 07:52] haf commented on #1378
Thanks for your reply,

Agree; that would be very hard to get correct. This problem is exacerbated on macOS because xhyve is deprecated (but had working mounts) and hyperkit doesn't give you working minikube mounts; but is recommended.

[2018-12-21 07:54] haf commented on #1378
It may be related to that k8s requires a manual pod delete for it to replace the active image. I have a few stateful sets to provision today, so I'll look into it and report back more specifics.

[2018-12-21 15:34] haf commented on #1076
When does it port-forward?

[2018-12-22 01:01] ahmadnurus commented on #1353
/close fixed https://github.com/GoogleContainerTools/skaffold/pull/1408

[2018-12-22 01:01] #1353 closed

[2018-12-22 08:13] matti opened #1419 "mortar deployer"
Please have a look at https://github.com/GoogleContainerTools/skaffold/pull/1382

Mortar (https://github.com/kontena/mortar) solves many problem mentioned for example in https://github.com/GoogleContainerTools/skaffold/issues/543

[2018-12-23 07:44] robbert229 opened #1420 "Skaffold should support configuration options for normal docker credentials"
### Expected behavior
I should be able to use Skaffold to push to private docker registries.

### Actual behavior
Authentication with normal private docker registries doesn't function. Skaffold doesn't provide the configuration hooks to allow me to configure kaniko to push to my private registry. I would like to be able to pass down docker credentials to the kaniko instance, but currently there is

[2018-12-27 06:33] #1409 closed

[2018-12-28 10:34] stefancocora opened #1432 "The html and pdf documentation from the releases page is missing from the GCE bucket"
### Expected behavior
The html and pdf docs from the release page should exist in the GCE storage bucket.

### Actual behavior
In `v0.20.0` the docs are missing from the GCE storage bucket. Here is the log output for the html version, I've omitted the pdf version for brevity ( it too is missing from the GCE bucket )
[code]

### Information

- ~~Skaffold version: version...~~ N/A
- ~~Operating syst

[2018-12-28 18:10] gabrie30 commented on #70
This should be added to the Readme.

[2018-12-29 18:06] gottfrois commented on #1269
I would also be interested in tag policy per artifacts. Our use case is using multiple docker stages, I would like to tag each stages different to pull them later on new builds to benefit from them as cache:

[code]

I would like to create a tag with the `branch` env variable to be pulled on next build and used as cache to speed up next docker build.
My Dockerfile uses 3 different docker stages `b

[2019-01-02 06:43] bholemt commented on #543
if docker build arg command can pick values up from environment, then why shouldn't skaffold. skaffold should support all arguments to docker build in the same standard manner.  why try to reinvent the whole thing and plug in one more tool? .env file is also another new way of doing the same thing. it doesn't work for private keys.

[2019-01-02 18:52] r2d4 opened #1434 "Use Istio Servicegraph for dependencies if present"
Feature Request:

If present, use the Istio service graph to create an in-process dependency map of k8s services. With a configuration toggle, skaffold could restart/redeploy dependent services.

1. Fetch servicegraph
2. If a dependency changes - (rebuild or redeploy) and `cascade: true` (or some other option) and istio servicegraph installed, then redeploy (or restart?) all dependent services.

[2019-01-03 11:33] balchua commented on #1392
Can you check if your image is in docker hub?  I suspect that it is not.  You can actually see that your image tag is da972dd-dirty-ca0890b.

What i do is that i instruct skaffold not to push, by indicating that its a local build.
[code]
I think skaffold uses some context to determine if it requires to push or not.  If the context is minukube it doesn't do that.
But since you are using docker for

[2019-01-04 00:47] shavo007 commented on #1392
hi @balchua  the docker image exists in docker hub but not that tag
https://hub.docker.com/r/shanelee007/graphql/tags

that image tag i believe is generated by skaffold locally

i am running `skaffold dev` which should be just local?

more info in the repo here https://github.com/shavo007/graphql-playground/tree/master/api#skaffold if you want to replicate

[2019-01-04 02:20] johnistan opened #1435 "add --dry-run option to skaffold run"
Feature Request:

When build new releases with complicated value files it would be nice to be to calculate and print the full manifest without actually deploying it to a cluster.

something like: `skaffold run -p prod --dry-run`

[2019-01-04 07:58] hach-que opened #1436 "Skaffold needs to support arbitrary mutations to manifests"
Skaffold's file sync only seems to work with pods, which isn't very useful since I'd assume most folks use deployments in production (and we want to keep the environment as close as possible between our local development and production clusters).

I've also tried using `hostPath` mounts, but neither Skaffold's kubectl nor kustomize support allow interpolating environment variables into that Kubern

[2019-01-04 08:05] balchua commented on #1392
I can't test this right now, but can u try this skaffold config?

[code]

[2019-01-04 09:41] balchua commented on #1392
I look at your deployment manifest, you useimagePullPolicy: Always which will definitely fail if the image is not pushed to the registry.  Use imagepullpolicy IfNotPresent. You should be good to go.

[2019-01-04 23:18] balopat commented on #1432
Thanks for filing this - this is actually something that we don't publish anymore and I should have just removed the links from the release description.

[2019-01-04 23:22] balopat commented on #1432
I updated the release notes.

[2019-01-04 23:22] #1432 closed

[2019-01-07 00:00] redborian commented on #1135
Not sure if this is helpful, but I wrote a tool to convert the go yaml-annotated types to json schema.
More details here: https://github.com/redborian/go-yaml-to-jsonschema

[2019-01-07 04:50] shavo007 commented on #1392
all good @balchua , that works now. thanks ;-)

see commit change here https://github.com/shavo007/graphql-playground/commit/ccc241009e1407dc8f58cccc29654d2df7225dcb

it might be worth noting that in the docs?

also i know from best practices, that imagePullPolicy should be Always. Its probably not a good idea if you are running locally `skaffold dev` and need to change your manifest for that reas

[2019-01-07 12:11] balchua commented on #1392
First of all, great that you got it right.  From my experience running kube is that i want to start the pod faster.  If you have a large image, every time you start that container it will always look up to the registry and pull it.

I personally feel that imagePullPolicy: IfNotPresent is the best practice.

ImagePullPolicy is well documented in kubernetes.

[2019-01-07 19:40] adrienjt opened #1441 "Support pre-post hooks for build, deploy and sync"
Hi, in my workflow, I need to run some commands before I run skaffold. In CI/CD, I wrapped skaffold in a script, but it's a pain for developers to remember to run a script before running `skaffold run` ~or `skaffold dev`~ or for me to maintain a wrapping CLI (EDIT: and `skaffold dev` doesn't work, see use case below). The developer experience would be improved if skaffold supported pre-build/pre-d

[2019-01-07 23:45] shavo007 commented on #1392
Ye, i had a look at the doc before. It states:

`Note: The caching semantics of the underlying image provider make even imagePullPolicy: Always efficient. With Docker, for example, if the image already exists, the pull attempt is fast because all image layers are cached and no image download is needed.
`

I remember when I took the kubernetes CKA exam, i read many places to set to `Always`

But i

[2019-01-08 12:01] balchua commented on #1392
Maybe a PR to update the documentation just to highlight this thing.  Or you can close as you wish. Thanks again

[2019-01-09 11:46] matti opened #1444 "deploys overlap easily with skaffold dev"
I think skaffold needs better cleanup logic, because it's often confusing to see logs from previous deploy.

Here is a quick script I wrote to fix my specific use. It ensures that all pods are deleted.

[code]

[2019-01-09 13:54] thomas-riccardi commented on #992
Unit-tests also produce artifacts: tests reports (tests results, timings, code coverage (xml, html), linters warnings stats...)
Gotchas:
- Tests reports are useful also when tests failed (we probably can't just use a new type of builder to build "test reports" artifacts *and* properly fail on error).
- When/how to execute unit-tests ? It can be executed during the build, but then we cannot produce

[2019-01-09 13:59] thomas-riccardi commented on #992
Multi-artifacts verification is indeed some kind of integration test, so we should reuse the deployers, but the workflow is more complicated, notably if we tag/push images to mark them as validated (for example using a release-candidate docker image registry before multi-artifact verification, then a different registry for real deployment).
We also don't want to deploy on the final/real deployment

[2019-01-09 14:05] thomas-riccardi commented on #503
Other relative paths should probably be changed to be relative to the `skaffold.yaml` file:
- #387
- #501
- probably more

cf https://github.com/GoogleContainerTools/skaffold/issues/387#issuecomment-384860695

[2019-01-10 03:05] #1392 closed

[2019-01-11 10:18] dgageot opened #1447 "Docker Desktop Kubernetes name was changed"
Latest Edge of Docker Desktop `(Version 2.0.1.0 (30090))` changed the name of its Kubernetes context to `docker-desktop`. It used to be `docker-for-desktop`.

Because of that, Skaffold can't detect that it's running with a local cluster.

[2019-01-11 17:34] #1447 closed

[2019-01-12 10:09] dgageot commented on #456
This was implemented in https://github.com/GoogleContainerTools/skaffold/pull/1428

[2019-01-12 10:09] #456 closed

[2019-01-12 10:12] dgageot commented on #1176
Let's close this one for now

[2019-01-12 10:12] #1176 closed

[2019-01-13 16:39] NicklasWallgren opened #1460 "tagging image: UNAUTHORIZED"
Expected behavior
Pulls image down and starts pods/etc.

Actual behavior
[code]

Information
I have run gcloud docker -a as well as can pull image locally with no issue.

Content of skaffold.yml
[code]

I configured docker credentials through docker-credential-gcr configure-docker before running skaffold.

[2019-01-14 16:25] haf commented on #969
This is still seemingly failing for statefulset.

[2019-01-14 16:50] haf commented on #1378
The staging environment is just a replica with a similar setup to production. I've got very similar yaml files for both of those, but for dev they are slightly different from the other two environments. I suppose a solution to this would be to state 'use helm with a variable file'.

We've verified this works now, thanks.

It's still "pending" for mee to validate whether hyperkit successfully mount

[2019-01-14 19:18] #1360 closed

[2019-01-14 20:14] WoLfulus commented on #1352
I'm having problems with this too. It breaks my pipeline.

- I use `skaffold build` to build and push images
- Test the images normally with `docker run...`
- Deploy charts (in my case).

Deploy rebuilding the images (and pushing them again) invalidates my previous tests

[2019-01-14 22:55] nkubala commented on #1435
A "true" dry run isn't currently possible, because image tag resolution is dependent on build results for some tagging strategies (mainly, the checksum tagger). If we don't care about skipping the image build (and pushing them to whatever remote) then in theory this should be possible now, but if we wanted to take it a step further, we could remove the checksum tagger and decouple the tagging step

[2019-01-14 23:34] ahmetb commented on #1187
Sorry for not replying earlier, these are good ideas.

Some form of reliable process to take out either the build artifacts and/or the compiled manifest would be very interesting.

[2019-01-15 11:39] kolotaev opened #1467 "Skaffold 0.20 local bazel build process doesn't respect compilation mode"
Skaffold's v0.20.0 local bazel build process now always takes `bazel-bin` folder from 'bazel info' and doesn't respect compilation mode specified as an argument to an artifact's build spec.

For my system it always takes `/private/var/tmp/_bazel_John/7d101f4ca99a2dca3757570c24be95af/execroot/io_mycompany_superrepo/bazel-out/darwin-fastbuild/bin`, which is correct for fastbuild, but not for `dbg` m

[2019-01-15 13:49] cabrinoob opened #1470 "Permission denied through skaffold"
Hi, I'am using the version 0.20.0.

I have a strange behavior with the `build` stage. Here is my Dockerfile :

[code]

When I build this Dockerfile using my local Docker, it works without any problem.
But, If I launch a `skaffold dev` the build fails with this error :

[code]

I have a permission denied through Skaffold that I don't have through my local docker.

The only workarround I have found

[2019-01-15 18:56] michaelfig commented on #1181
I'm getting the same error with 1.13.  Is there anything I can do?  I really want to run skaffold in my on-prem cluster, but this issue is really biting me.

[2019-01-15 19:02] michaelfig commented on #1181
I can confirm that upgrading the client libraries to 1.12.0 does *not* fix the issue.

[2019-01-15 20:12] michaelfig commented on #1181
I found this issue was caused by my user not having permission to list pods at the cluster scope.

A working, but incomplete fix, is found at #1473.

[2019-01-16 11:57] #1460 closed

[2019-01-16 14:00] thomas-riccardi opened #1476 "Broken link to references/config in documentation"
Since 7e01037252e20aa8b0d49a161ecd20e2074f2917 https://skaffold.dev/docs/references/config doesn't exist anymore: it was replaced by https://github.com/GoogleContainerTools/skaffold/blob/master/examples/annotated-skaffold.yaml directly.

But there are still links to https://skaffold.dev/docs/references/config which are now broken:
[code]

Maybe it would be simpler to add back `references/config` w

[2019-01-17 02:18] pscarey commented on #1405
Experiencing a similar issue:

[code]

Lots of other similar errors when installing Istio. We have a helm chart which installs our apps in the `default` namespace, and Istio installs in `istio-system`, under the same chart.

For our case, I believe this is caused by lines 150-155 of `pkg/skaffold/deploy/label.go`:

[code]

I believe the logic should be the other way round, i.e. use the `res.Namesp

[2019-01-17 11:18] thomas-riccardi opened #1479 "Error in documentation for `deploy.kubectl.manifests`: wrong default value"
The documentation for `deploy.kubectl.manifests` says the default value is `kubectl`. This is probably wrong.

https://github.com/GoogleContainerTools/skaffold/blame/8fdb68b46afe6c1912c105198bd17e6a93e72628/docs/content/en/docs/how-tos/deployers/_index.md#L44

[2019-01-17 15:47] WoLfulus commented on #1272
This is something I'm really interested too. I'm looking for a way to run locally only the projects I'm working on, and yet, make it connect to its dependencies on the cluster (without they being fully exposed on the internet).

Any suggestions on how to make this work?

@xeor I saw telepresence too, did it work for you?

[2019-01-17 19:10] etanshaul opened #1480 "Add ability to pass in additional ports to port-forward"
As discussed offline, adding for tracking purposes:

It would be useful to be able to pass in a flag to the Skaffold execution with ports for Skaffold to port-forward in addition to those specified as container ports.

One use-case is for configuring debugging. In order to attach a debugger, it is necessary to port-forward the debug port. With this feature, tools like IDEs could then automate this

[2019-01-17 21:21] nkubala opened #1481 "Release v0.21.0"

[2019-01-17 23:40] #1481 closed

[2019-01-17 23:53] priyawadhwa commented on #1321
Hey @jamielennox I think this issue should have been fixed by #1433

Would you be able to try this again with the latest release and see if the issue still exists? Thanks!

[2019-01-18 00:01] priyawadhwa commented on #1480
Hey @etanshaul , is it necessary for this to be a flag, or would a skaffold.yaml field work as well? Initially I preferred the flag but I forgot that the pod and container name may need to be passed in as well :sweat_smile:

[code]

[2019-01-18 07:52] NicklasWallgren commented on #1481
Great, when will the binaries be updated?

https://github.com/GoogleContainerTools/skaffold/releases/tag/v0.21.0
https://skaffold.dev/docs/getting-started/#installing-skaffold

[2019-01-18 13:11] mxey opened #1484 "skaffold deploy should not automatically re-create resources"
### Expected behavior

`skaffold deploy` when encountering an immutable field should fail with an error.
(`skaffold dev` can continue to automatically re-create)

### Actual behavior

`skaffold deploy` deletes and recreates the resource automatically, because it always uses `kubectl apply --force`. This leads to downtime of workloads.

### Information

- Skaffold version: v0.20.0
- Operating syste

[2019-01-18 16:12] etanshaul commented on #1480
hi @priyawadhwa - ah yes you are right. Ideally, there would be both options. For the use-case I have in mind, we'd pass them in as a flag so that it doesn't have to be a permanent part of the user's configuration but simply something that they IDE automatically configures at run-time when running in debug mode.

However, I do recognize that expressing this as a CLI flag isn't very pretty so we co

[2019-01-18 17:12] r2d4 commented on #1480
Why not specify the debugger port in the deployment YAML? That seems like the right way to expose this feature. Adding it there is basically a no-op. From the API docs:

`ports`
List of ports to expose from the container. Exposing a port here gives the system additional information about the network connections a container uses, but is primarily informational. Not specifying a port here DOES NOT p

[2019-01-18 17:15] r2d4 commented on #1481
@NicklasWallgren binaries are uploaded on every PR and every commit. You can get them here

https://github.com/r2d4/skaffold/blob/606a4ad95e121fde3475a54efe8121fe3a8467dc/docs/published-artifacts.adoc

It seems like this document was deleted during the cutover to the new site. cc @balopat

[2019-01-18 17:31] etanshaul commented on #1480
@r2d4 Actually I think you are right that specifying the ports in `skaffold.yaml` would have no benefit over specifying them in the deployment.

My original thought process was that minimizing the configuration burden on the user for setting up debugging in the IDE would be something worthwhile. However, if you don't think exposing this as a skaffold flag is the right way to go then there are othe

[2019-01-18 17:47] xeor commented on #1272
yea. Think I'm going for telepresence.. Haven't really started to use it a lot tho. Looks nice

[2019-01-18 19:19] priyawadhwa commented on #1480
I'm not sure if there are any precedents to passing in this much data via the CLI. I suppose the flag could look something like `pod/container:port`, so for the example above you'd have to pass in `--port getting-started/hello-world:8080 --port getting-started/hello-world:9000`

but, if we end up adding support for users to specify what local ports they want to map to, it would have to look like t

[2019-01-18 19:46] dgageot commented on #1470
Hi @cabrinoob on which OS do you see this happening?

[2019-01-18 19:54] #1479 closed

[2019-01-18 19:54] #1476 closed

[2019-01-18 20:17] dgageot commented on #1467
Hi @kolotaev, is there a chance you can try out https://github.com/GoogleContainerTools/skaffold/pull/1487?

[2019-01-18 20:35] dgageot commented on #1397
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/1478

[2019-01-18 20:35] #1397 closed

[2019-01-18 21:33] cabrinoob commented on #1470
@dgageot  : Oh sorry, I missed that : Windows 10

[2019-01-18 21:36] dgageot commented on #1470
I have the feeling that it's related. Docker and file permissions has always been complicated. I'm gonna have to try and reproduce that on a windows machine.

[2019-01-18 23:44] nkubala commented on #1481
@NicklasWallgren we're having an issue with our CI system right now, so the build is broken and the binaries haven't been updated yet. We're looking into it and should have the v0.21.0 binaries uploaded soon.

[2019-01-18 23:45] nkubala commented on #1173
@foodaka if you're seeing issues with file sync with react, could you open a separate issue? if there's a bug there we'll want to track that separately.

[2019-01-19 01:02] #1035 closed

[2019-01-19 01:03] #1467 closed

[2019-01-19 02:41] clehene opened #1490 "Getting started throws unknown api version: 'skaffold/v1beta3'"
### Expected behavior

Getting started example should work out of the box

### Actual behavior
[code]
### Information

- Skaffold version: version v0.20.0
- Operating system: osx
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. brew install skaffold
2. git clone https://github.com/GoogleContainerTools/skaffold
3. cd skaffold/examples/getting-started
4. skaffold dev

[2019-01-19 12:04] dgageot commented on #1490
I'm sorry, this is because we had a problem when releasing v0.21 that supports `skaffold/v1beta3`. Should be fixed next week

[2019-01-19 17:07] clehene commented on #1490
@dgageot  - I did notice I was running 0.20 so checked out the corresponding commit

It failed with a permission problem for gcr.io. I'll make a PR for the getting started doc.

Thank you

[2019-01-19 23:22] dgageot commented on #1181
@michaelfig Could you create a new ticket that describes the issue? and close this one?

[2019-01-19 23:35] dgageot commented on #464
I'm going to close this one. It's now a fatal error

[2019-01-19 23:35] #464 closed

[2019-01-19 23:38] dgageot commented on #572
I'm going to close this one. When builders become plugins, it will up to the community to provide more buiders.

[2019-01-19 23:38] #572 closed

[2019-01-19 23:38] dgageot commented on #241
I'm going to close this one. When builders become plugins, it will up to the community to provide more builders.

[2019-01-19 23:38] #241 closed

[2019-01-19 23:41] dgageot commented on #27
I'm going to close this one because we haven't seen issues about that. @r2d4 please reopen in case you think there's still an issue

[2019-01-19 23:41] #27 closed

[2019-01-19 23:42] dgageot commented on #61
Let's close this one since #733 is here to implement pruning

[2019-01-19 23:42] #61 closed

[2019-01-19 23:43] dgageot commented on #138
I'm going to close this one. When builders become plugins, it will up to the community to provide more builders.

[2019-01-19 23:43] #138 closed

[2019-01-19 23:47] dgageot commented on #195
Let's close this one. It's possible to enable this feature by using `useDockerCLI:true` on the local builder and #568 is here to implement that in the GCB builder

[2019-01-19 23:47] #195 closed

[2019-01-19 23:48] dgageot commented on #491
Let's close this one

[2019-01-19 23:48] #491 closed

[2019-01-19 23:50] dgageot commented on #139
Duplicate of #346

[2019-01-19 23:50] #139 closed

[2019-01-19 23:54] dgageot commented on #1200
@cliffburdick have you tried with more recent version of Skaffold. I remember fixing a similar problem

[2019-01-19 23:59] dgageot commented on #1160
Fixed with #548

[2019-01-20 15:45] dgageot opened #1496 "Image reference parsing is broken in v0.21.0"
This [commit](https://github.com/GoogleContainerTools/skaffold/commit/227c4a902318f686f8da1360b6dc3a64180859e5) broke the ONBUILD analysis and make it impossible to build and push images to the Docker hub.

That means that `v0.21.0` (that's not really released) is broken.

[2019-01-20 15:56] dgageot commented on #1394
@priyawadhwa Is that fixed with #1466?

[2019-01-20 16:05] dgageot commented on #1042
This is now documents on skaffold.dev

[2019-01-20 16:05] #1042 closed

[2019-01-20 16:06] dgageot commented on #1069
I'm going to close this one. @tvanhees feel free to reopen in case the issue is still there.

[2019-01-20 16:06] #1069 closed

[2019-01-20 16:09] dgageot commented on #953
I'm going to close this one.
 + The issue to track Bazel support in GCB is [here](https://github.com/GoogleContainerTools/skaffold/issues/362)
 + Supporting non-Docker artifacts in Kaniko is a non-goal

[2019-01-20 16:09] #953 closed

[2019-01-20 16:11] dgageot commented on #1205
Hi @gintautassulskus Is this something you still experience with Skaffold v0.20.0?

[2019-01-20 16:11] dgageot commented on #1164
Hi @Alirun Is this something you still experience with Skaffold v0.20.0?

[2019-01-20 16:14] Alirun commented on #1164
@dgageot Haven't tried, because I was using older version of Skaffold in Jenkins-X build image

[2019-01-20 20:56] tjerkw commented on #1328
I think the --force flag for "helm upgrade" also solves this, right?

https://github.com/helm/helm/pull/2280

[2019-01-20 21:05] dgageot commented on #1420
Fixed with #1466

[2019-01-20 21:05] #1420 closed

[2019-01-20 21:07] dgageot commented on #1394
yes, I think #1466 fixed that. Let's close this issue. And, please, feel free to reopen in case the problem still exists.

[2019-01-20 21:07] #1394 closed

[2019-01-21 02:43] shavo007 opened #1503 "sync issue for local dev"
### Expected behavior
Sync files and reload the application without rebuilding docker image

### Actual behavior

Error complains does not match any sync pattern

[code]

### Information

- Skaffold version: version v0.20.0
- Operating system: macOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
https://github.com/shavo007/graphql-playground/tree/master/api#run-locally

[2019-01-21 13:10] yeDor commented on #1245
Vote for this feature because of solving the problem "Port clashing between different pods"

[2019-01-21 15:58] dgageot commented on #1503
Hi @shavo007, I tried to replace `'/**/*.js': .` with `'**/*.js': .` and now, it works

[2019-01-21 16:02] dgageot commented on #1503
@shavo007 Can you close this issue if that solves the problem for you too?

[2019-01-21 16:30] dgageot commented on #1083
I'm going to close this one. Since we apply labels after the manifests are deployed, we would lose the logs for resources that are not yet labelled.

[2019-01-21 16:30] #1083 closed

[2019-01-21 22:49] gintautassulskus commented on #1205
Hi, @dgageot, give me a day or two and I will get back to you.

[2019-01-21 23:33] shavo007 commented on #1503
awesome @dgageot  thanks. ill test it later today

[2019-01-21 23:33] #1503 closed

[2019-01-22 18:38] #936 closed

[2019-01-22 18:39] #1277 closed

[2019-01-22 19:00] gintautassulskus commented on #1205
Hi @dgageot, the issue persists with Skaffold v0.20.0. Aa a matter of fact, `skaffold deploy` no longer works producing the same error as `skaffold dev`.

[2019-01-22 19:12] etanshaul commented on #1480
@priyawadhwa this reminds me, currently there is no way to specify a `localPort` is there? This is important in the case of multi-service applications where, for example, multiple java containers in different pods expose jdwp on `5005` (and so would need to be mapped to different local ports to avoid collisions).

@briandealwis @patflynn

[2019-01-22 19:14] priyawadhwa commented on #1480
@etanshaul that's correct, I recently merged #1474 which will map colliding ports to a random local port, but right now there's no way for the user to specify what that local port should be.

[2019-01-22 19:21] etanshaul commented on #1480
aha. I think in this case it makes it to expose more user control over the port-forwarding either via configuration in skaffold.yaml, or at command execution time via a flag (more convenient for our use-case, but will defer to you) like you suggested (`pod/container:localPort:port`). This way IDE debuggers have control over the port mapping done by Skaffold. wdyt?

[2019-01-22 19:40] #1496 closed

[2019-01-22 19:57] #954 closed

[2019-01-22 22:11] etanshaul commented on #1480
wrt to my last comment: the other option is to expose the local ports chosen by Skaffold through the (in progress) event API work. @nkubala

[2019-01-22 22:23] nkubala opened #1509 "Release v0.21.1"

[2019-01-22 23:03] stevesea commented on #1313
As a  work around for devs accidentally doing this to production/staging envs... I stick an invalid namespace in the helm deployment section of skaffold.yaml:

[code]

Then the developer has to run like `skaffold dev -n <namespace>`

[2019-01-22 23:04] etanshaul opened #1511 "Ability to prevent redeploy-on-change in Skaffold dev mode to support debugging"
When debugging in Java, source changes should attempt to be propagated over the debugger protocol. Having Skaffold redeploy-on-change will kill the debug session. This issue it to track adding a mechanism to disable Skaffold's redeploy-on-change to support this use-case.

[2019-01-22 23:17] #1509 closed

[2019-01-23 06:32] dgageot opened #1513 "fsNotify based trigger had to be reverted"
Since it's using CGO, it broke the release mechanism.

[2019-01-23 07:22] dgageot opened #1514 "Support client-side helm templates"

[2019-01-23 07:36] #1349 closed

[2019-01-23 07:40] dgageot commented on #1490
Should be good now, the version that's released supports v1beta3

[2019-01-23 07:40] #1490 closed

[2019-01-23 08:49] ymotongpoo opened #1516 "Change the explanation of "default repo" setting in the doc to reflect actual implementation"
### Expected behavior
Describe that 3rd default-repo config option described in the doc depends on kubectl context, not global.
https://skaffold.dev/docs/concepts/#image-repository-handling

### Actual behavior
It's documented as "skaffold’s global config", which is misleading. (Though `~/.skaffold/config` is global to all command call, the default repo setting is not "global")

### Information

-

[2019-01-23 15:03] kwngo opened #1517 "Skipping build step if image already exists"
Is there a way to skip the build step in `skaffold dev` if the image already exists and Dockerfile hasn't changed (in my case locally)? Or is it necessary for skaffold to do its stuff.

[2019-01-23 16:08] etanshaul commented on #1511
seems like this is already be supported via `--watch-image none`?

[2019-01-23 18:06] dgageot opened #1519 "[release process] Publish Cloud Build statuses on GitHub"
Currently Cloud Build builds every commit and PR but keeps the statuses secret.

[2019-01-23 18:09] patflynn opened #1520 "Provide API for pausing/resuming skaffold watch and triggering Skaffold build/run by IDEs."
This needs to be fleshed out by IDE teams but the rough idea is:

1) IDEs sometimes don't want skaffold to rebuild/push on change such as when debugging with java hotswap. (hotswap can reload changes without restarting and a debug session would be broken if skaffold repushed)
2) IDEs are pretty good at watching project inputs for change, potentially the IDE could orchestrate when it's the right ti

[2019-01-23 18:31] priyawadhwa commented on #1480
Cool, it seems like the flag makes most sense for the IDE use case, so I'll start prototyping it and see how it looks!

[2019-01-23 18:41] priyawadhwa commented on #1519
The [GCB Github App](https://cloud.google.com/cloud-build/docs/run-builds-on-github), which we could run on every PR to make sure the images can be built before merging.

[2019-01-23 19:55] michaelfig opened #1521 "Skaffold needs to work within namespace RBAC restrictions"
### Expected behavior

`skaffold dev` works when the user only has access to the namespace specified in their `$HOME/.kube/config`.

### Actual behavior

Skaffold fails with a fatal error.

[code]

### Information

- Skaffold version: v0.20.0
- Operating system: darwin-amd64
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Create a new namespace, and a user who only ca

[2019-01-23 20:00] michaelfig commented on #1181
Created #1521.  Thank you, @corneliusweig for finding that the problem was with the Pod watcher.

I can confirm that skaffold works fine with kubernetes 1.13 with the PR mentioned in the new issue.

[2019-01-24 02:13] briandealwis commented on #1480
I think the command-line flags might hit some issues with deployments with replicas, or containers that are referenced from multiple manifests.

Also how will the iDE figure out pod names (`pod/container:localPort:port`) for deployments? The PodSpecs are usually unnamed, and the resulting pods have the deployment name with some hashes.

[2019-01-24 02:32] etanshaul commented on #1480
Is this a common practice? Regardless, these are are valid issues with this approach that we need to think through, or consider the alternative approach of using an event api.

[2019-01-24 03:58] rmrfself commented on #1490
Still the same error, i tried in the same env.

[2019-01-24 05:45] dgageot commented on #1181
Thanks a lot!

[2019-01-24 05:45] #1181 closed

[2019-01-24 10:23] OlivierDupre opened #1524 "Skaffold needs to support additional builders: Cri-O, Cri-Containerd, ..."
### Expected behavior
Being able to build with "new" container engines. e.g. Cri-O & Cri-Containerd, Rkt and even Frakti.

### Actual behavior
Docker, Jib & Bazel are the 3 builders currently supported.

Thanks for considering this.

[2019-01-24 11:27] alewis001 opened #1525 "Skaffold sync fails if RBAC does not let user list pods at cluster scope"
### Expected behavior
`skaffold dev` syncs the files in the pod(s) it is watching without requiring the user to have cluster level access.

### Actual behavior
Please note: This may be related to #1521 but thought I'd raise it as a separate issue just in case it's not as simple as that.

When changing a file that is "sync-able" the following error is reported:

`WARN[0093] Skipping deploy due to s

[2019-01-24 12:56] dgageot commented on #1524
Hi @OlivierDupre, I'm afraid those are container runtimes, not container builders. It's what you'd use to run container rather than what you'd use to build containers.

Could you be more specific about your use case?

[2019-01-24 13:15] bhack commented on #348
There are two vscode issues to follow about remote scenarios if you are interested:
https://github.com/Microsoft/vscode/issues/35671
https://github.com/Microsoft/vscode/issues/29194

[2019-01-24 13:19] jehos opened #1526 "build fail when using remote dockerd"
### Expected behavior

build complete when using remote dockerd

### Actual behavior

build failed

#### First try:

I'm using remote `dockerd`,
at first try, build failed because skaffold.exe seems like cannot read TLS setting.
(normally docker should read ~/.docker/*.pem cert file when enable `DOCKER_TLS_VERIFY=1`)

[code]

so, I did disable TLS setting on dockerd

#### Second try:

[code]

* re

[2019-01-24 13:38] jehos commented on #1526
Oh, `"... is not a valid repository/tag: invalid reference format"` error is from my fault.

`  - image: registry.******.***/api:latest` -> `  - image: registry.******.***/api`

It works!

[2019-01-24 13:38] #1526 closed

[2019-01-24 14:33] iancrowther commented on #1490
same conditions, same error

[2019-01-24 14:51] dgageot commented on #1490
Which version of Skaffold are you using?

[2019-01-24 15:10] iancrowther commented on #1490
ok using "apiVersion: skaffold/v1beta2" seems to have gotten me moving

v0.20.0
OSX - Installed via Brew

[2019-01-24 17:38] etanshaul opened #1528 "local port mapping with replicas collision"
Skaffold version `v0.21.1`

Setup:
I have a single service deployment with more than 1 replica with a single containerPort:

[code]

Expected (since https://github.com/GoogleContainerTools/skaffold/pull/1474 was merged and released) that Skaffold would map each replica to a different port on the machine.

Instead skaffold (attempts to) map each to `8081`:
[code]

So only one pod ends up being mapp

[2019-01-24 18:14] priyawadhwa commented on #1528
Nope this looks like a bug -- I'll check it out.

[2019-01-24 19:22] #1528 closed

[2019-01-25 15:25] patflynn commented on #1299
@balopat
@loosebazooka

Should we assign this to someone on the jib team?

[2019-01-25 16:07] dgageot commented on #134
Fixed by #1530

[2019-01-25 16:07] #134 closed

[2019-01-25 20:56] #1120 closed

[2019-01-26 20:47] corneliusweig commented on #1205
Hi @gintautassulskus , with the current master you can configure `skaffold config set --global local-cluster true`, so that image pushing will always be skipped. Does that solve your problem?

See #1355

[2019-01-26 20:49] corneliusweig commented on #1158
Resolved by #1355

[2019-01-26 20:49] #1158 closed

[2019-01-26 20:52] corneliusweig commented on #1172
@r2d4 #1355 keeps the special cases for known local contexts, but makes the artifact.push behavior configurable in the global config. Does that resolve this issue?

[2019-01-26 21:35] corneliusweig commented on #1484
IMHO this should best be solved by a new flag to `run/deploy`, because some will want to force a successful deployment, even if it means to re-create some resources. For example, one could add a flag `force-deployment` with the following defaults for skaffold sub-commands:

|command|force-deployment default|hidden|
| --- | --- | --- |
|dev|true|true|
|run|false|false|
|deploy|false|false|

[2019-01-27 10:30] dgageot opened #1536 "Support Profile patches"
It's currently hard to change only a single field with profiles.

For example if one wants to change the `Dockerfile` for one of the artifacts in that yaml:

[code]

then, the a profile has to duplicate all the artifacts definition:

[code]

It would be nice if profiles supported patches like that:

[code]

And if the default `op` is `replace` then we'd write:

[code]

[2019-01-27 20:06] dgageot opened #1537 "Some integration tests run in default namespace"

[2019-01-27 20:33] dgageot opened #1538 "Helm integration test fails with `namespaces "skaffold6plvk" not found`"
All the helm integration tests fail with `Error: UPGRADE FAILED: failed to create resource: namespaces "skaffold6plvk" not found`.
What is strange is that it's always complaining about the same namespace.

[2019-01-27 20:36] dgageot commented on #1538
I ran `helm reset --force` and then `helm init` and now tests fail with `Error: configmaps is forbidden: User "system:serviceaccount:kube-system:default" cannot list configmaps in the namespace "kube-system"`

[2019-01-28 05:46] dgageot commented on #1538
Had to run `helm delete skaffold-helm --purge`

[2019-01-28 05:46] #1538 closed

[2019-01-28 20:11] kwngo commented on #1379
Anyone have any idea what issue might be? I'd be willing to put together a patch with a bit of guidance

[2019-01-28 21:10] patflynn commented on #1299
@balopat
@loosebazooka
@tadcordle

friendly ping :)

[2019-01-28 21:31] loosebazooka commented on #1299
Oh right, yeah, @TadCordle can probably own this for now, as he'll be doing the jib optimizations.

[2019-01-29 01:09] #921 closed

[2019-01-29 10:35] dgageot opened #1545 "Default repository alternative implementation"
I'd like to talk about an alternative implementation for `default repository` handling.

I currently don't use that feature for multiple reasons:
 + It's a piece of configuration that's not visible in the `skaffold.yaml` or `annotated-skaffold.yaml`. This makes it hard to discover and explain.
 + If I use it with Skaffold examples, it gives me silly images names like `gcr.io/dga-demo/gcr.io/k8s-sk

[2019-01-29 16:50] briandealwis commented on #1480
I had a crazy idea: could the IDEs and Skaffold communicate across a gRPC channel?  gRPC can be [bidirectional](https://grpc.io/docs/guides/concepts.html#bidirectional-streaming-rpc) and this could be a mechanism to provide both an Event API (#1265) and a Command API.

[2019-01-29 18:01] gintautassulskus commented on #1205
Hi @corneliusweig, at the moment I am unable to test the use case as we are reworking our deployment system.
As long as one can deploy a demo app to the minikube with a custom profile this issue can be resolved.

[2019-01-29 23:15] balopat commented on #1444
Hi @matti does this happen even when you shutdown skaffold cleanly? Unclean shutdowns can result in the cleanup hook not having the chance to cleanup. In this case `skaffold delete` should help too. Have you tried that?

[2019-01-29 23:18] balopat commented on #1484
Hi, thanks for opening this issue!
I'm okay with a new flag, say `--force`.
PR's are welcome ;)

[2019-01-29 23:20] balopat commented on #1513
I'm looking into this to figure our release process out to get fsnotify back

[2019-01-29 23:46] balopat opened #1548 "Redesign Docker as a builder plugin on the GCB ExecutionEnvironment"

[2019-01-29 23:50] balopat opened #1549 "Implement Kaniko as a builder plugin in InCluster ExecutionEnvironment"

[2019-01-29 23:51] balopat opened #1550 "Implement jibMaven/jibGradle as a builder plugin on local ExecutionEnvironment"

[2019-01-29 23:51] balopat opened #1551 "Plugin system for builders"
## Proposal
We propose creating a plugin system for Skaffold builders that would enable language and framework specific builders as well as cloud vendor plugins to be built and maintained outside of the skaffold repository.

## Motivation
We had multiple instances of builder proposals where we thought that it was a great idea to have it in the product but we didn’t want to commit creating the test

[2019-01-29 23:53] priyawadhwa opened #1552 "Implement Docker as a builder plugin in local ExecutionEnvironment"

[2019-01-29 23:53] priyawadhwa opened #1553 "Implement Bazel as a builder plugin in local ExecutionEnvironment"

[2019-01-29 23:54] balopat opened #1554 "Document everything related to builder plugins"
Docs should cover:

* builder plugin infrastructure
* how to create a builder plugin
* how to distribute a builder plugin

[2019-01-29 23:56] priyawadhwa opened #1555 "Figure out builder plugin distribution"
Open Questions/Things to make sure we include:
* Versioning between manifests
* How to handle the case in which a new skaffold upgrade no longer corresponds with the builder plugin version installed
* Clear error messages and guidance for unsupported architectures
* The manifest should point to source code, or explain how a user can build the plugin binary themselves

Currently looking at krew or

[2019-01-29 23:59] balopat opened #1556 "Skaffold RPC"
This issue is the epic for Skaffold Event API + Skaffold Control API exposed over gRPC.

[2019-01-30 00:00] corneliusweig commented on #1484
I'll look into this :)

[2019-01-30 03:13] bhack commented on #1396
Another use case is where I checkout the code from the initcontainer but then I want to sync local changes without commit and restarting the pod.
So it is mainly a sync mode where images are built somewhere else or initial code is provisioned by git.

[2019-01-30 08:01] matti commented on #1444
umm, yeah - but the problem I'm describing is that after skaffold has noticed changes it should not show logs from old containers.

[2019-01-30 08:13] #1261 closed

[2019-01-30 09:33] chenlein opened #1558 "Sync does not sync the file in folder"
### Expected behavior
**a.txt can be synchronized, but b.txt can't.**

Structure of my project:
[code]

However, when my modifed a.txt and b.txt, the following message show on STDOUT:
[code]

Dockerfile:
[code]

### Actual behavior
All of the txt file should be synced
### Information

- Skaffold version: v0.21.1
- Operating system: macOS 10.14.3 Darwin Kernel Version 18.2.0
- Contents of skaffold.

[2019-01-30 09:38] dgageot opened #1559 "Homebrew is still serving v0.20"

[2019-01-30 10:51] prary opened #1560 "Namespace field missing in watcher.go"
### Expected behavior
Running Skaffold  in Dev mode, it should monitoring the code base and create a new kaniko image with changes and push to cluster.
### Actual behavior
Skaffold breaking with message
error initializing pod watcher

### Information
This is happening due to namespace field missing in following file.
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kuberne

[2019-01-30 14:12] haf commented on #1378
I think we can close this, since there's nothing more I have to add in here.

[2019-01-30 14:12] #1378 closed

[2019-01-30 14:16] haf opened #1564 "[feature req] Opt-out of port forwarding"
### Expected behavior
In a micro-service architecture, with a lot of small services listening on the same port number, port forwarding to a globally unique IP (like that of minikube) causes collisions.

**I'd like to be able to opt out of port-forwarding** in `skaffold.yaml`. Right now I cannot (that I've found)

Furthermore, and out of scope for this issue; it would be more sane for us to port-fo

[2019-01-30 14:38] briandealwis commented on #1559
I'll take this.

[2019-01-30 14:38] dgageot commented on #1559
Until now, it was automatically updated somehow

[2019-01-30 14:43] briandealwis commented on #1559
From the repository history it seems like real people do it:
[code]

[2019-01-30 14:50] briandealwis commented on #1559
https://github.com/Homebrew/homebrew-core/pull/36557

[2019-01-30 16:48] dgageot commented on #1564
@haf you can use `skaffold dev --port-forward=false` or `SKAFFOLD_PORT_FORWARD=false skaffold dev`

[2019-01-30 16:52] dgageot opened #1565 "Provide additional flags for Maven/Gradle"
It would be useful to set additional flags at the artifact level that would be passed to gradle or maven.
For eg, if one wants to skip tests.

Something like:
[code]

[2019-01-30 16:59] dgageot opened #1566 "Make notify based trigger the default"
We should try to make the `notify` trigger the default and if it fails fallback on `polling`

For eg, places where it could fail:
 + https://github.com/GoogleContainerTools/skaffold/pull/1562/files#diff-c1405ced371c63a910bff1e1d46de15bR155
 + Maybe https://github.com/GoogleContainerTools/skaffold/pull/1562/files#diff-c1405ced371c63a910bff1e1d46de15bR165

That would provide the best performance but

[2019-01-30 18:06] haf commented on #1564
@haf Thanks, I worked around this lacking feature with that flag, in fact. However, we want 'happy path' via `skaffold dev` without flags, so it's still a relevant feature IMO.

[2019-01-30 18:13] nkubala commented on #1564
we could add a field to the skaffold global config to control port forwarding on a per-context or global basis. see https://github.com/GoogleContainerTools/skaffold/pull/1355

`skaffold config set port-forward false` or `skaffold config set port-forward false --global`

[2019-01-30 21:19] nkubala commented on #1172
Fixed by #1355

[2019-01-30 21:19] #1172 closed

[2019-01-30 21:23] colonelpopcorn opened #1567 "Checksum mismatch - windows binary"
### Expected behavior
Expect the checksum for the windows binary to match the published version

### Actual behavior
[code]

### Information

Failing Builds:
[Travis](https://travis-ci.org/fishworks/fish-food/builds/486613716)
[Circle CI](https://circleci.com/gh/fishworks/fish-food/261)

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to repro

[2019-01-30 23:45] #296 closed

[2019-01-31 00:02] corneliusweig commented on #1564
@nkubala I don't think that addresses the 'happy path' behavior as @haf suggested. Another option would be to disable port-forwarding by default and make it an opt-in feature instead of an opt-out feature.
Was there a particular reason to enable it by default?

[2019-01-31 00:09] hach-que commented on #20
We use .dockerignore to ignore some development symlinks, and skaffold tries to walk them and fails on this line https://github.com/GoogleContainerTools/skaffold/blob/master/vendor/github.com/karrick/godirwalk/walk.go#L197, even though it builds just fine in Docker. It would be great if Skaffold could honor existing .dockerignore files.

[2019-01-31 04:37] kwngo commented on #1379
Turns out my issue wasn't a bug, I was just missing some configuration in `deployment.yaml`. In my case, I needed to pass `values.global.image`, which will be of format `base-image:<sha256>`, to `deployment.yaml` using {{ $.Values.global.image }}

[code]

[2019-01-31 07:56] edbergavera commented on #1490
Same issue here installed via Homebrew. The workaround is using v1beta2. Thanks @iancrowther

[2019-01-31 14:34] dgageot commented on #1559
Thank you @briandealwis. It's been merged

[2019-01-31 14:34] #1559 closed

[2019-01-31 14:50] dgageot opened #1570 "Skaffold should check for updates when the skaffold yaml has a wrong version"
Sometimes, users have an outdated version of Skaffold and try to run it on recent examples.
they get this error:

[code]

It would be super useful to then run a version check and tell the user if a more recent version is available, which version and a link to the installation instructions.

[2019-01-31 18:00] dlorenc commented on #1545
I'd still like to see a way for skaffold to auto-assume a default repo so things "just work" for most users without them having to change anything in a skaffold.yaml.

[2019-01-31 18:24] michaelfig commented on #1525
I can verify that I had this issue in v0.21.1, and that it is fixed by #1473, which has been merged into master.

I'm just waiting to be able to retest #1521 and this issue against an official release.

[2019-01-31 19:11] kwngo opened #1571 "Sync error message when container can't be found"
To make it easier to debug, there should be some sort of error or debug message at https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/sync/sync.go#L154 to tell user that the image they're trying to sync can't be found.

[2019-01-31 20:18] corneliusweig commented on #1564
@haf That command would change your global `~/.skaffold/config` file.

I don't think port-forwarding of services instead of pods is better per-se. It depends on what one actually tries to debug. I don't like your suggested marker annotations, though. It's too complicated and it would leak tooling annotations into your business code. There has to be a better way.

[2019-01-31 22:03] #1513 closed

[2019-01-31 22:18] balopat opened #1572 "Release v0.22.0"

[2019-01-31 22:49] #1572 closed

[2019-02-01 05:34] #1271 closed

[2019-02-01 05:34] #1536 closed

[2019-02-01 05:59] dgageot opened #1578 "Homebrew should serve v0.22.0"

[2019-02-01 12:31] alewis001 commented on #1525
Hi. I can confirm that with 0.22.0 I no longer see the error messages so I'll close this issue.

On a separate note, I don't see my updated file (a war) appearing in the running container but I'll do a bit more digging and raise a separate issue if necessary.

[2019-02-01 12:31] #1525 closed

[2019-02-01 12:38] corneliusweig commented on #1545
I'd also like to raise why the substitution logic currently replaces `/` with `_`. This seems to be a bit restrictive, because it means that images cannot be organized in folders when using the substitution mechanism.

[2019-02-01 13:52] dgageot opened #1580 "Better `skaffold help` output"
`skaffold help` says:

[code]

Our doc says:

[code]

I think it would be nice to organize the output of `skaffold help` like our documentation.
By default, cobra can't manage command groups but it should be possible to twist his arm like kubectl does.

[2019-02-01 13:57] alewis001 opened #1581 "Use Dockerfile file paths when using Sync"
### Desired Behavior
Files matching the sync pattern are copied to their locations as defined in the Dockerfile.

E.g.

`Dockerfile`:
[code]

In my particular case, as OpenLiberty supports dynamic updates of the `server.xml` and any wars deployed to it, I believe it would be useful to have the sync feature be able to copy those files to the active container based on their location as specified in

[2019-02-01 14:52] turip opened #1582 "DOCKER_TLS environment variable is not honored"
### Expected behavior

I would expect skaffold to work the same way as docker regarding the DOCKER_TLS flag: If it is set but no other TLS flag is set then TLS is still enabled but no actual certificate verification is done or needed.

(Note: this setup protected using VPN or the traffic is never leaving our AWS VPC so we are not too concerned about issues with self signed certificates)

#### Back

[2019-02-01 15:50] briandealwis commented on #1578
I'll take this, since I'm now set up.

[2019-02-01 16:07] briandealwis commented on #1578
Homebrew/homebrew-core#36625

[2019-02-01 16:44] briandealwis commented on #1578
Fixed; this can be closed.

[2019-02-01 18:09] dgageot commented on #1578
You rock!

[2019-02-01 18:09] #1578 closed

[2019-02-01 18:10] dgageot commented on #1567
ping @balopat

[2019-02-01 18:20] briandealwis opened #1583 "Skaffold own-text colours are hard to read"
Skaffold's output text is coloured dark blue which is very difficult to see on black.

![screen shot 2019-02-01 at 1 11 25 pm](https://user-images.githubusercontent.com/202851/52141525-04a34d80-2624-11e9-9adb-0cfe1a006006.png)

It would be nice to at least make this value configurable?

### Information

- Skaffold version: 0.22.0
- Operating system: macOS 10.14

[2019-02-01 20:58] ev-dev commented on #1173
Would skaffold file sync apply to the typical react development model with HMR?

Development modes in most common react starters/boilerplates have the transpile step via babel involved (ie. react-scripts in create-react-app). I would think that the file watcher listening within the node container running during dev would have trouble receiving signals for file changes in the same way as running on

[2019-02-01 21:10] nkubala commented on #1480
@briandealwis you read my mind, see https://github.com/GoogleContainerTools/skaffold/pull/1574 for a first draft. this will likely become the start of a full control API

[2019-02-01 21:37] ev-dev commented on #1173
One way to get Skaffold + React HMR working would be to modify the default behavior of the HMR mechanism to use polling. I believe in most setups the default is to attempt to use various implementations of detecting file-system changes per OS.

If you are using create-react-app there's a convenient environment variable, CHOKIDAR_USEPOLLING found in their docs at https://facebook.github.io/create-r

[2019-02-01 21:45] ev-dev commented on #1173
Also just noticed that @foodaka was speaking about issues with `skaffold dev` not registering changes to local files so everything I commented about might not apply 😖

[2019-02-01 21:56] cpoole opened #1585 "upgrading old config fails with unsupported type error"
### Expected behavior
my file should correctly parse and update

### Actual behavior
parsing fails but file is valid and works if we just manually change the apiVersion.

### Information

- Skaffold version: 0.21.0 to 0.22.0
- Operating system: linux - ubuntu 18.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

run skaffold fix and the following is printed:
[code]

but

[2019-02-01 22:01] everflux opened #1586 "Custom kaniko image is ignored"
### Expected behavior
When specifying build.kaniko.image it is possible to choose a custom image instead of the default gcr.io/kaniko-project/executor:v0.7.0@sha256:0b4e08...  image.

### Actual behavior
The default image is always used.

### Information

- Skaffold version: v.0.22.0
- Operating system: linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. skaffold ru

[2019-02-02 14:38] albertkang opened #1589 "GCP cloud build quota"
### Expected behavior
We should be able to execute multiple pipelines in our CI.

### Actual behavior
We have 8 services in our skaffold file and the images are built using Google Cloud Build. However, when we have concurrent jobs in our pipeline we are getting `Error 429: Quota exceeded for quota metric 'cloudbuild.googleapis.com/get_requests' and limit 'GetRequestsPerMinutePerProject' of service

[2019-02-03 01:18] r2d4 commented on #1581
+1 ref https://github.com/GoogleContainerTools/skaffold/issues/1166

[2019-02-04 09:01] valentin-safetyculture opened #1592 "Pulling cache-from images returns error when image not exists"
### Expected behavior
Pulling cache-from images logs warning, ignores the absence image and build process continues.

### Actual behavior
When you want to use a built image itself as a cache and this is the first build, this image does not exists yet. So `skaffold run` throws this error:
[code]

related PR: https://github.com/GoogleContainerTools/skaffold/pull/1495

### Information

- Skaffold ver

[2019-02-04 16:06] dgageot opened #1594 "port-forwarding in `skaffold dev` is basically broken"
Now that we track for port collision, `skaffold dev` will use a new port **each time** a pod is redeployed.

For example:
 + The first time I deploy a pod that's on port `8080`, it will be exposed on local port `8080`
 + When I make a file change, it's redeployed and exposed on port `4503`
 + Then `4504`...

[2019-02-04 17:07] cmoad commented on #1594
Also experiencing this after trying 0.22.0. Old behavior would maintain the exposed service port. Now that only happens on the first deploy and all subsequent deploys change to a different port as described above.

[2019-02-04 17:45] #1586 closed

[2019-02-04 19:49] r2d4 opened #1595 "Add a registry source for kaniko"
https://github.com/GoogleContainerTools/skaffold/tree/master/pkg/skaffold/build/kaniko/sources

Instead of uploading to GCS and requiring yet another credential, store the context in the registry by pushing a single layer image and retrieving the context by pulling/untar

[2019-02-04 20:38] briandealwis opened #1596 "Builders should respect --skip-tests"
`skaffold dev --skip-tests` only skips the container structure tests.  Feedback from users is that it is useful to be able to skip tests with Jib, especially when the local IDE runs tests against changed files.

[2019-02-05 04:29] khrisrichardson opened #1597 "kaniko --no-push flag fails build when getting non-existent digest"
### Expected behavior

Whereas the following configuration does not attempt to get the digest:

[code]

The following configuration should likewise circumvent the behavior introduced in #1428

[code]

### Actual behavior

[code]

### Information

- Skaffold version: v0.22.0
- Operating system: N/A
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. add the `--no-push` fla

[2019-02-05 05:37] khrisrichardson commented on #1597
I should mention that the rationale for this request is atypical.

Until knative build pipeline is a little more fully baked, I have been known to abuse targets within a multi-stage Dockerfile to perform tasks (unit tests, static analysis, etc.) unrelated to the "official" image that is eventually deployed.

If knative build pipeline makes the v0.4 cut, it will be plausible to migrate those tasks

[2019-02-05 17:00] nathanph opened #1605 "Dockerfile dependencies improperly computed"
It seems like there is a regression in how Skaffold discovers the dependencies for a Dockerfile.

### Expected behavior
With `skaffold-v0.21.1`:
[code]

### Actual behavior
Note that none of the correct dependencies were discovered.
[code]

### Information

- Skaffold version: `skaffold-v0.22.0`
- Operating system: `Ubuntu 18.04 x64`
- Contents of skaffold.yaml:

Sorry, I'm probably not able to pr

[2019-02-05 18:05] #1592 closed

[2019-02-05 18:44] nkubala commented on #1092
Fixed with #1591

[2019-02-05 18:44] #1092 closed

[2019-02-05 20:39] nkubala commented on #1352
@ahmadnurus sorry for the radio silence here. this is something we've been discussing the best way to address for a few months now, and have plans to tackle this quarter. in it's current form `skaffold deploy` isn't super useful, so we're aiming to fix that by essentially restructuring to have `skaffold build` + `skaffold deploy` = `skaffold run`.

[2019-02-05 20:53] balopat opened #1608 "Docs preview should merge upstream master"
Generating the docs preview for PRs should contain the latest master code merged into the branch. If there are conflicts, it should fail.

[2019-02-05 21:03] nkubala commented on #348
@bhack sorry there hasn't been a lot of clarification from the team here, and thanks for all the ideas and input! we're currently working on a number of features to make native IDE integration possible, including schema generation for syntax highlighting of skaffold resources and a full control API exposed over gRPC. you can track these individual features with the `ide` label on issues in the rep

[2019-02-05 21:18] bhack commented on #348
Cause you had an initial vscode plugin my feedbacks was almost oriented to vscode and all the features requested for remote interaction cause soon or later you need to interact with pod remote resources for debugging etc..

[2019-02-05 22:08] corneliusweig commented on #1405
Seems to be fixed in master. Release 0.22.0 still has the issue, though.

[2019-02-05 22:11] corneliusweig commented on #1404
Seems to be fixed in master. Release 0.22.0 still has the issue, though (same as #1405)

[2019-02-05 23:14] nkubala commented on #1560
hey @prary, do you mean version `0.11`? this would be a pretty old version of skaffold, if so can you try upgrading? otherwise, could you paste your skaffold.yaml here? I'm not seeing this issue on version 0.22.0.

[2019-02-06 00:08] nkubala commented on #1396
this could be another use case for having a manual sync trigger exposed through a control API. ref https://github.com/googlecontainertools/skaffold/issues/1520

[2019-02-06 00:39] r2d4 commented on #10
Ksonnet is deprecated 🎉

[2019-02-06 00:39] #10 closed

[2019-02-06 11:03] fpighi opened #1611 "Kaniko builder TarGz fails when Dockerfile is in sub-directory"
I've started using Skaffold very recently, so it might be something I'm doing wrong. Please correct me if so.

### Expected behavior

Kaniko build works with `examples/microservices/skaffold.yaml`.

### Actual behavior

Kaniko builder tar.gz path handling seems to be wrong when the context is not the same directory as the workspace.

The failure is as follows on my machine:

[code]

Note the path

[2019-02-06 11:24] fpighi commented on #1611
Additional note:
I reverted to `v0.20.0` and that version seems to be working fine.

[2019-02-06 13:04] dgageot commented on #1605
@nathanph Thank you for the bug report!

`v0.22.0` introduced what is supposed to be a fix to dependencies calculation when a `target` is specified on a Docker artifact. So it's expected that the list of dependencies could be different than what you had with `v0.21.1`.

However, if you think there's nonetheless a bug, it would be super useful if you could share the `Dockerfile`. Would that be poss

[2019-02-06 15:05] wstrange commented on #1611
I am seeing a similar issue with googleCloudBuild.

It only works if the Dockerfile is in the same directory as skaffold.yaml. If I specify a context: docker/  it looks like the path calculations append the context: directory twice.  The tar command fails with:

`/Users/redacted/tmp/forgeops-init/cicd/ig/docker/docker/Dockerfile .  no such file or directory`

FWIW, I am using a profile. I have tri

[2019-02-06 15:12] wstrange opened #1612 "googleCloudBuild fails when Dockerfile is in sub-directory"
I suspect this is the same issue as https://github.com/GoogleContainerTools/skaffold/issues/1611

`skaffold build -p gcb` fails with:

`FATA[0000] build failed: building [gcr.io/engineering-devops/sk-ig]: uploading source tarball: uploading targz to google storage: creating tar gz: lstat /Users/warren.strange/tmp/forgeops-init/cicd/ig/docker/docker/Dockerfile: no such file or directory`

### Infor

[2019-02-06 15:26] dgageot commented on #1611
Yes, I'm sure I broken something. Let me take a look.

[2019-02-06 16:31] dgageot commented on #1605
@nathanph Never mind, I found the bug. The new code for not handling all the possible cases.
I'm on it

[2019-02-06 17:35] nathanph commented on #1605
Great! Thanks @dgageot!

Let me know if you end up needing the Dockerfile and I can PM it to you somehow.

[2019-02-06 18:03] dgageot commented on #1612
Sorry. A fix is coming soon. Until then, you can rollback to using Skaffold v0.20.0.

[2019-02-06 18:03] dgageot commented on #1611
Sorry. A fix is coming soon. Until then, you can rollback to using Skaffold v0.20.0.

[2019-02-06 18:06] briandealwis opened #1615 "`skaffold dev` does not work with remote Helm charts"
### Expected behavior

`skaffold dev` should deploy a remote chart and remove it on quit, but it fails.
`skaffold run` works.

### Actual behavior

[code]
### Information

- Skaffold version: v0.22.0
- Operating system: macOS 10.14
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. `skaffold dev`

[2019-02-06 18:25] RoryShively commented on #1178
@nkubala Yeah. Sorry about the late reply, I'll get you something by the end of the day hopefully

[2019-02-06 20:21] #1570 closed

[2019-02-06 21:28] priyawadhwa commented on #1594
This issue should have been fixed by #1616 -- we'd recommend using skaffold built from master, or using v0.21.0 until v0.23.0 comes out next week with the fix!

[2019-02-06 22:27] laander commented on #1615
Seems like you're right, the `chartPath` seems to be used only for walking the file system.
https://github.com/GoogleContainerTools/skaffold/blob/96ac37e30ee94b3f015a5eda14c7e7b1d99b0a34/pkg/skaffold/deploy/helm.go#L91

Ideally, Skaffold should support Helm repositories (locally or remote), defaulting to the official Helm Hub.

[2019-02-06 22:29] laander commented on #1615
On the hand, if you're using Helm for releases, you'd probably want to create your own chart and then add `redis` as a dependency in `requirement.yaml`. Then I would assume it works as intended.

[2019-02-07 00:02] RoryShively commented on #1178
@nkubala Just submitted a first draft
https://github.com/GoogleContainerTools/skaffold/pull/1617

- Placed useHelmSecrets option in latest schema
- prepended "secrets" to args for helm deployment if useHelmSecrets selected

[2019-02-07 03:32] rahulwa opened #1619 "Feature Request: Allow docker build arg to pick values up from the environment values also"

[2019-02-07 15:20] cogfor commented on #1615
@briandealwis Thanks making my question on Slack an issue here.

@laander That would make sense when actually deploying the full stack. However, during development we prefer to bring up several microservices as separate Helm charts for testing and iterating.
Also, as a user it doesn't make sense the same Skaffold config works with `skaffold run` but fails with `skaffold dev`.

[2019-02-07 16:16] roychowdhuryrohit-dev commented on #1262
I would skaffold to use the local cloudbuild.yaml instead of it's own stanza as Google Cloud Build supports additional options and tags.

[2019-02-07 19:20] #1611 closed

[2019-02-07 19:20] #1612 closed

[2019-02-07 19:41] briandealwis commented on #1589
It looks like the GCB `RetryDelay` is set to 1 second:

https://github.com/GoogleContainerTools/skaffold/blob/5c835ed66deaa94795ce6dff635f5ffb2db9c1d6/pkg/skaffold/build/gcb/types.go#L51-L52

[2019-02-07 20:59] michaelfig opened #1623 "Allow specifying an explicit image tag"
### Expected behavior

Specifying an explicit image tag will be used by Skaffold.  See the `skaffold.yaml` below.

I have a PR for this change: #1622

The rationale is that I want to make a staged `./Dockerfile` that depends on the `./docker/**/Dockerfile` to create build and install base images that are pushed to the build registry so that builder processes can also find them there as a cache:

[

[2019-02-07 22:35] corneliusweig opened #1624 "Multiline docker ENV commands are not correctly handled"
### Expected behavior
Skaffold correctly builds dockerfiles with multiline ENV commands.

### Actual behavior
Skaffold fails with
[code]
### Information

- Skaffold version: master
- Operating system: Linux

### Steps to reproduce the behavior
1. preparation:
[code]

2. `skaffold.yaml`:
[code]

3. `Dockerfile`:
[code]

4. `skaffold build` fails, whereas `docker build .` works fine

[2019-02-07 22:37] corneliusweig opened #1625 "Handle multiline docker ENV commands correctly"
### Expected behavior
Skaffold correctly builds dockerfiles with multiline ENV commands.

### Actual behavior
Skaffold fails with
[code]
### Information

- Skaffold version: master
- Operating system: Linux

### Steps to reproduce the behavior
1. preparation:
[code]

2. `skaffold.yaml`:
[code]

3. `Dockerfile`:
[code]

4. `skaffold build` fails, whereas `docker build .` works fine

[2019-02-07 22:48] nkubala commented on #1567
@colonelpopcorn are you installing skaffold with brew? I can't quite tell from the logs in your Travis build but it looks like you might be

[2019-02-07 23:27] #1605 closed

[2019-02-08 01:40] #1625 closed

[2019-02-08 01:47] michaelfig commented on #1623
As @balopat explained, this works as expected with:

[code]

[2019-02-08 01:47] #1623 closed

[2019-02-08 02:24] michaelfig commented on #1173
@ev-dev, I have a PR that fixes the HMR working... instead of just `kubectl cp`-ing the file into place, also run a `kubectl exec ... touch $dst` so that inotify/dnotify detect that the file changed.  This makes chokidar work without need for `CHOKIDAR_USEPOLLING`, and all just works as expected (for my testing, at least).

You can have a look at #1627.

[2019-02-08 09:13] dgageot commented on #1624
Hi @corneliusweig, It's been fixed yesterday. Can you please retry master version?

[2019-02-08 12:40] corneliusweig commented on #1624
Duplicate of #1625 . Got a server error when submitting the issue, so apparently it was created twice.

[2019-02-08 12:40] #1624 closed

[2019-02-08 13:47] sniederm commented on #167
I would also love to see such a feature in Skaffold. Right now I have 5 different microservices each running as a single pod/service. I want to re-build and re-deploy only the service those source code has changed. So I have to keep open 5 terminals in dev mode. Would be great if we could have Skaffold to monitor multiple pipelines with multiple [image + deployment] sets within one process or moni

[2019-02-08 15:42] SMR39 opened #1629 "[Builder] Support for SBT builder"
Allow Skaffold to also to build with SBT https://github.com/sbt/sbt.

[2019-02-08 18:02] priyawadhwa commented on #1629
Hey @SMR39 , we're currently working on implementing a builder plugin model in skaffold, which would allow users to write plugins for whatever builder they wish to use. Once that's ready this should definitely be possible, you can track the main issue for it at #1551!

[2019-02-08 21:05] colonelpopcorn commented on #1567
It's actually being installed with a tool called gofish. It aims to be a cross platform package manager. I was trying to add skaffold to their package repository when I ran into this issue with the checksum listed on the release pages for windows. I'm pretty sure it's just the checksum for Windows because the ones for Linux and Darwin were fine, but I could be wrong. Are the checksums for linux, m

[2019-02-09 01:08] gbates101 opened #1633 "skaffold dev fails on COPY when targeting a certain stage by name"
### Expected behavior
`skaffold dev` should support COPY statements when building a multistage dockerfile at a certain target.

### Actual behavior
[code]

### Information
I upgraded from 0.21.1 to 0.22.0 hoping I could resolve some file globbing issue I'm having with defining my sync map (really wish there was better documentation on how it works), and my Dockerfile now fails to build on any COPY

[2019-02-09 06:05] ev-dev commented on #1173
Ah that's a much better idea! good stuff @michaelfig 👍

[2019-02-09 06:32] dgageot commented on #1633
@gbates101 this is fixed in master branch. Sorry for the regression. Until it's released, you can try v0.20.0

[2019-02-09 06:32] #1633 closed

[2019-02-09 23:33] corneliusweig commented on #1166
@r2d4 For docker, this is a pretty good idea. But what about the other artifact types here? I guess the whole concept of sync does not really make sense for `jib`, but what about `bazel`? At the moment, a sync can be configured for all artifact types, therefore we would also need a way to infer file destinations for `bazel`. Or should image sync for artifacts other than `docker` be disallowed?

[2019-02-10 04:32] michaelfig opened #1638 "build sha256 artifact image without a tag pushes all tags"
(The #1634 PR fixes this issue.)

### Expected behavior

When using the `sha256` `tagPolicy`, and supplying an artifact image without a tag, only the built artifact should be pushed:

[code]
Successfully built 16811c9a3d62
Successfully tagged michaelfig/skaffold-sha-latest:latest
The push refers to repository [docker.io/michaelfig/skaffold-sha-latest]
sha256:37352cb52fd6f3b823e187b530aaba2f2a3faf5

[2019-02-10 08:15] dgageot commented on #1638
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/1634

[2019-02-10 08:15] #1638 closed

[2019-02-10 08:18] dgageot commented on #1404
Duplicate of #1405

[2019-02-10 08:18] #1404 closed

[2019-02-10 08:20] dgageot commented on #1524
I'm going to close this one.

We're currently working on implementing a builder plugin model in skaffold, which would allow users to write plugins for whatever builder they wish to use. Once that's ready this should definitely be possible, you can track the main issue for it at #1551!

[2019-02-10 08:20] #1524 closed

[2019-02-10 08:24] dgageot commented on #1225
I'm going to close this one. We don't have a problem right now to fix

[2019-02-10 08:24] #1225 closed

[2019-02-10 08:28] dgageot commented on #630
This is implemented

[2019-02-10 08:28] #630 closed

[2019-02-10 08:36] dgageot commented on #1566
Before we do make that trigger the default, we need to make sure it works well with a LOT of files.
 + [x] On windows, it seems ok as it is. Is uses `readdcw` and doesn't need CGO.
 + [ ] On linux, it uses `inotify`, doesn't need CGO. We just need to test how it behaves.
 + [ ] On OSX, it can either use `kqueue` or `fsevents`. The last one requires CGO and give better results.

cc @balopat

[2019-02-10 08:45] dgageot commented on #1566
We might be able to use https://github.com/mitchellh/gox to cross compile

[2019-02-11 16:26] r2d4 commented on #1166
Sync works for all artifact types actually. Internally each builder provides a dependency map of files for the watch controller. Docker does that by parsing the dockerfile, bazel runs a bazel query, and I’m not sure what the jib implementation is.

Sync actually only works on the files in that list anyways. The syntax has much room for improvement though.

[2019-02-11 20:47] corneliusweig commented on #1166
Sure, sync works for all artifact types. Sorry for being so unclear about this here.
What I meant to say is that your suggested way to infer the destination path for the files to sync only works for Dockerfiles and not for the other artifact types. I had a short glance if the other artifact types do support something comparable, but I couldn't find anything. Therefore your suggested destination in

[2019-02-11 21:40] r2d4 commented on #1166
The new signature would be `DependenciesForArtifact -> map[string][]string`. I think thats reasonable information to ask from the builder implementations.

* Jib could easily return a dependency map (I think it just maps certain directories to a prefixed directory in the container) @coollog WDYT? Jib should be able to tell us where the jar gets put.

* Bazel, not so sure... DependenciesForArtifact

[2019-02-12 00:27] r2d4 opened #1639 "Single exec command for sync"
### Expected behavior
Sync should only make one exec call per sync round

### Actual behavior
Sync makes a call per copy and a call per delete

### Information

Step 1: Bunch the delete operations into a single exec command
Step 2: Replace `kubectl cp` command with

- Tar (in Go) all files-to-be-copied with the correct destination path
- Exec a single `cp sync.tar / && tar -xvf /sync.tar && rm /sy

[2019-02-12 01:24] balopat opened #1640 "Fix issues with React HMR"
Based on https://github.com/GoogleContainerTools/skaffold/issues/1173#issuecomment-455584865 the React HMR sometimes does not pick up file changes.

[2019-02-12 01:30] balopat commented on #1173
Added a separate issue to denote HMR related issues. This issue should be about the React example with filesync.

[2019-02-12 03:10] michaelfig commented on #1639
#1641 implements steps 1 and 2.

[2019-02-12 12:35] encuentratuheroedigital opened #1643 "Error when I try to deploy with subchart"
### Expected behavior
Deploy my chart and subchart
### Actual behavior
I'm getting the following error:

Helm release skaffold-helm not installed. Installing...
Hang tight while we grab the latest from your chart repositories...
...Unable to get an update from the "local" chart repository (http://127.0.0.1:8879/charts):
	Get http://127.0.0.1:8879/charts/index.yaml: dial tcp 127.0.0.1:8879: connect

[2019-02-12 14:35] sniederm opened #1645 "Skip pipeline with error if manifest doesnt exist"
### Expected behavior
When a deploment manifest file defined in skaffold.yml: deploy.kubectl.manifests[] doesn't exist, I would expect an error to be thrown and the pipeline to be skipped.

### Actual behavior
The full build  is executed, then finally I get an output one could assume everything was deployed fine but its not the case:
Build complete in 33.280387096s
Starting test...
Test complete i

[2019-02-12 23:34] priyawadhwa commented on #1645
Hey @sniederm thanks for submitting this issue! Perhaps instead of an error, we could log a warning. Would you be interested in submitting a PR for this?

[2019-02-13 13:01] ahaeber opened #1649 "Fail building with Azure Container Registry"
I'm trying to use Skaffold together with Jib and a AKS Kubernetes cluster. However, it fails when building the image and Skaffold attempts to tag the image.

 I guess that the issue is related to our private Azure Container Registry (ACR) and Docker authentication with it.

### Expected behavior
`skaffold build` should build and push the image.

### Actual behavior
Fails with the following log:

I

[2019-02-13 19:52] #1645 closed

[2019-02-13 19:55] jomarinb commented on #1619
I'm currently using `envsubst` as a workaround.

[code]

[2019-02-14 05:59] #1565 closed

[2019-02-14 11:32] muniyalr opened #1650 "tagging-with-environment-variables: Updated code not deployed"
### Expected behavior
In the example provided, `tagging-with-environment-variables`
i have exported FOO as local
`export FOO=local`
`skaffold dev`

When file changes are done to main.go with
`		fmt.Println("Hello world 3!")`
Still seeing the output with
[code]
### Actual behavior
Still not getting the updated code output, It is building the new images but not using the updated code

[code]
### Inf

[2019-02-14 15:47] soullivaneuh opened #1651 "Microk8s connection issue"
I'm trying Skaffold but I'm stuck at the beginning, it does not seem to detect my microk8s instance

Maybe some configuration is required but I can't found anything on the documentation about this.

### Expected behavior

[code]

### Actual behavior

[code]

### Information

- Skaffold version: v0.22.0
- Operating system: `Linux sweetnexy 4.18.0-15-generic #16-Ubuntu SMP Thu Feb 7 10:56:39 UTC 201

[2019-02-14 15:53] Soullivaneuh commented on #1651
Right, it does not seem to be a microk8s connectivity issue as it works with a manual file creation.

Then, I don't understand the error message. :smile:

[2019-02-14 21:59] priyawadhwa commented on #1650
Hi @muniyalr, I tried to reproduce this but skaffold is working as expected for me.

After you make the change, if you run `kubectl get pod getting-started`, does it show that the pod was restarted?

[code]

[2019-02-14 22:14] balopat commented on #1651
Hey @Soullivaneuh, thanks for opening this issue.
The `skaffold init` command doesn't generate yet kubernetes manifests - although it probably will in the future. The error you're getting shows that there are no K8s manifest files, currently you'll have to manually create them: see for example the k8s-pod.yaml in the [getting-started](https://github.com/GoogleContainerTools/skaffold/tree/master/ex

[2019-02-14 22:15] balopat opened #1654 "release v0.23.0"

[2019-02-14 23:00] muniyalr commented on #1650
Thanks @priyawadhwa. It does not show the pod was restarted. I will try to check on another mac. May be something i am missing in the setup

[code]

[2019-02-14 23:18] priyawadhwa commented on #1650
You could also try updating your version of kubectl (we recommend >= 1.12) and see if that fixes it!

[2019-02-14 23:20] muniyalr commented on #1650
I tried on another laptop also, same the pod was not restarted.

[code]

I could `getting-started` example working properly, i change the code, new image is built and i can see the updated messages, but with `tagPolicy`, i am not able to see it picking the new image.  Please suggest if i am missing something here

[2019-02-14 23:21] muniyalr commented on #1650
Below is my kubectl version

[code]

[2019-02-14 23:54] Soullivaneuh commented on #1651
Hi @balopat, thanks for the answer! :-)

I'm not sure what is the goal of the `k8s-pod.yaml` file here.

Before testing Skaffold, I just setup a helm chart project and it worked fine without it.

BTW, I did manually setup the skaffold configuration file:

[code]

And it works fine, except the `ADD` directive of my `Dockerfile` being not updated, but I think it's an another configuration issue...

[2019-02-15 00:10] #1548 closed

[2019-02-15 02:12] WoLfulus opened #1657 "Default repo substitution doesn't work with the examples"
### Expected behavior

Values from the examples matches the return value from `SubstituteDefaultRepoIntoImage` function

### Actual behavior

The last two examples doesn't return the same value.

Example 3 returns `gcr.io/k8s-skaffold/gcr.io/k8s-skaffold/skaffold-example1` instead of `gcr.io/k8s-skaffold/skaffold-example1`
Example 4 returns `gcr.io/k8s-skaffold/myimage/gcr.io/k8s-skaffold/skaffold

[2019-02-15 03:36] lazydevleo commented on #526
I have an microservice app with docker image being built by fabric8 maven plugin and I deploy to K8. Will this be supported by Skaffold currently or in the planned roadmap ? This would make the skaffold just a breeze

[2019-02-15 04:11] WoLfulus opened #1658 "Experimental GUI is broken on Windows"
### Expected behavior

Show some experimental gui (I'm aware it's experimental) - just reporting

### Actual behavior

[code]

### Information

- Skaffold version: 23
- Operating system: Windows 10 Pro
- Contents of skaffold.yaml: any

[2019-02-15 11:57] muniyalr commented on #1650
@priyawadhwa with update of skaffold to v0.23.0, its working as expected, i can see that pods are restarted and new messages being displayed
[code]

[2019-02-15 16:15] briandealwis commented on #1299
I'm taking a stab at this.

[2019-02-15 17:03] briandealwis commented on #1299
- [ ] create example multi-module projects too.
- [ ] document GCB + Jib

[2019-02-15 17:54] dgageot commented on #1654
\o/

[2019-02-15 17:54] #1654 closed

[2019-02-15 20:01] balopat commented on #1658
Thanks for filing this!
We'll look into this soon.
cc @dgageot

[2019-02-15 20:05] balopat commented on #1657
Thanks for filing the issue!
What is your default-repo setting?

[2019-02-15 20:08] balopat commented on #1651
Ah I see, I understand the problem better.
This might be a bug with `skaffold init` not handling helm charts. Can you create a small reproduction that we can try out?

[2019-02-15 23:41] balopat commented on #922
cc @tejal29

[2019-02-15 23:57] WoLfulus commented on #1657
I wasn't using skaffold at the time I saw this. I just compiled the code and invoked it with the given examples on the website.

I was trying to replicate the behaviour in JavaScript because I'm working on a project that needs the image name that matches what skaffold generates. BTW: It would be nice to have a way to specify the FQIN for each container (skipping taggers)

[2019-02-16 00:02] Soullivaneuh commented on #1651
@balopat Here you go: https://github.com/Soullivaneuh/skaffold-issues/tree/issue-1651

Just clone this branch and run `skaffold init`.

[2019-02-16 00:19] soullivaneuh opened #1663 "Skaffold does not do any port-forwarding"
### Expected behavior

As the documentation says, a port-forwarding should be done base on my exposed port container.

### Actual behavior

It does not a thing about that:

[code]

But it works with your helm example.

### Information

- Skaffold version: 0.23.0
- Operating system: Linux sweethome 4.18.0-15-generic #16-Ubuntu SMP Thu Feb 7 10:56:39 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- Content

[2019-02-16 00:38] casret opened #1664 "Skaffold v0.23 log tail unreadable"
### Expected behavior

During a skaffold dev, I should be able to see the log output.  Before 0.23 it was printing in black.

### Actual behavior

Now, it is printing in a light color which is almost indistinguishable with my background (solarized light).  I tried passing --color 30, but that only affects some of the status messages, not the log output.

### Information

- Skaffold version: 0.23
-

[2019-02-16 21:14] Soullivaneuh commented on #1615
Do anybody has a workaround to make it working waiting the fix?

[2019-02-16 21:14] dkirrane commented on #1160
@briandealwis - I'm still hitting this issue on skaffold `v0.23.0`. I'm obviously missing something but not sure what...

`~/.docker/config.json`
[code]

The projects `pom.xml` has Jib
[code]

I've logged into Nexus
[code]

Skaffold build is successful until this final line
[code]

I can see the credentials for Nexus stored in Windows Credentials Manager

[2019-02-16 21:34] soullivaneuh opened #1665 "Configure other helm repository than the official helm hub"
## The need

There is currently no way to configure any repository under the helm section.

Plus, I tried this config:

[code]

And:

[code]

But skaffold does not find the gitlab chart.

## The proposal

I propose to add the possibility to setup helm repositories on the Skaffold configurations.

I see two possible ways:

1. Adding the `repository` key for each release as [Helm does](https://githu