[2019-02-16 22:08] Pozo commented on #1663
I confirm this. When I rolled back to v0.22.0 it seems to work.

[2019-02-16 22:51] soullivaneuh opened #1666 "Describe how to manually test configuration after build"
I'm trying to handle #1665 right now, but I'm facing at a problem: What should I put on my `apiVersion` to make it working with my new one?

I tried `skaffold/latest`, `latest`, `*`... nothing work. And if I go back to the last version it simply ignore my new configuration field.

Maybe it's easier to know but it's not obvious for go newbies like me who want to add some little contributions... :wi

[2019-02-16 22:57] Soullivaneuh commented on #1663
@Pozo Did you test it on my issue branch? I just built v0.22.0 and it does not change a thing. :thinking:

[2019-02-17 13:41] WoLfulus opened #1668 "Skaffold v0.23.0 + Windows 10 regression: didn't sync any files"
### Expected behavior

Sync files when it changes

### Actual behavior

Did not sync files. Always shows "didn't sync any files"

### Information

- Skaffold version: v0.23.0
- Operating system: Windows 10
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Update to v0.23.0 from v0.22.0
2. Sync stops working

[2019-02-18 03:31] incfly opened #1669 "Get started doc should mention changing the `skaffold.yaml` to your own GCP project"
https://github.com/GoogleContainerTools/skaffold/blob/master/examples/getting-started/skaffold.yaml#L5

Uses a hardcoded gcp project, which will fail at client side when trying `Get Started` tutorial.

[2019-02-18 04:46] f0rmiga commented on #1301
@yurchenkosv @maximbaz

The documentation related to this is here https://skaffold.dev/docs/how-tos/deployers/#deploying-with-helm.

Use `setValueTemplates` instead of `setValues`.

@nkubala I don't think this issue is a bug.

[2019-02-18 15:05] briandealwis commented on #1669
Maybe we should change the docs to use the `-d` option, and use it as an opportunity to explain how to push to alternative locations without having to amend the `skaffold.yaml`.

[2019-02-18 16:14] dkirrane commented on #1160
/reopen

[2019-02-18 16:15] dkirrane commented on #1160
/re-open

[2019-02-18 17:52] dkirrane opened #1670 "helm deploy not working"
### Expected behavior
I expected skaffold to set the helm values `image.repository` and `image.tag`

### Actual behavior
[code]

### Information

- Skaffold version: v0.23.0
- Operating system: Windows 10 using GitBASH
- Contents of skaffold.yaml:

*I've tried a few taggers nothing seems to work*
[code]

### Steps to reproduce the behavior

1. Created helm chart using the Helm convention for Image

[2019-02-18 18:30] dkirrane commented on #1670
Found my issue.

I needed to use `setValueTemplates` instead of `values`. This worked

[code]

[2019-02-18 18:30] #1670 closed

[2019-02-18 22:04] Soullivaneuh opened #1671 "ZSH completion load: can only be called from completion function"
### Expected behavior

ZSH completion loading.

### Actual behavior

[code]

### Information

- Skaffold version: v0.23.0
- Operating system: Linux sweethome 4.18.0-15-generic #16-Ubuntu SMP Thu Feb 7 10:56:39 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- Contents of skaffold.yaml: Not related.

### Steps to reproduce the behavior

1. `source <(skaffold completion zsh)`

[2019-02-19 11:49] dkirrane commented on #1160
Hi all, looks like this needs to /reopen

I've found that Skaffold doesn't work with `wincred` docker-credential-helper. However it works with `gcr`.

When using `wincred` the error: `getting digest: UNAUTHORIZED: \"access to the requested resource is not authorized\"`

**Workaround**:

1. `docker logout nexus.mycompany.com`
2. remove `wincred` from `~/.docker/config.json`
3. `docker login nexus.m

[2019-02-19 16:09] balopat commented on #1160
Reopening, thank you for looking into deeper!

[2019-02-19 18:14] priyawadhwa commented on #1666
Hey @Soullivaneuh the current api version is `skaffold/v1beta5`, which should work if you're building @ HEAD.

Agree that some better documentation around this would be useful!

[2019-02-19 18:22] priyawadhwa commented on #1668
Hey @WoLfulus, I tried to repro this with our [hot reload](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/hot-reload) example and it worked as expected. Could you provide the skaffold.yaml you tried?

[2019-02-19 18:30] jonjohnsonjr commented on #1160
This is probably a bug with how we interact with wincred or the default cred helper. I don't have a windows machine, so it's hard for me to debug, but I would expect it to work. We create a cred helper from `credsStore` here:
https://github.com/google/go-containerregistry/blob/bada66e31e55b96029f4e456f8eb107f58319629/pkg/authn/keychain.go#L128-L131

Which then calls this:
https://github.com/google

[2019-02-19 20:30] corneliusweig commented on #1671
I guess that's my fault. I didn't realize that zsh completion was utterly broken in cobra, when I enabled it. Would a static zsh completion file be fine for the time being? There is an open PR in cobra which will fix this, but it's been quiet for some time now :(

[2019-02-19 21:30] balopat commented on #1669
In fact `--default-repo` should be used. It is currently only explained here: https://github.com/GoogleContainerTools/skaffold/tree/master/examples

[2019-02-20 12:45] tjerkw commented on #239
For my the prepulling of cacheFrom images also fails for private registries:

[code]

I think this is related?

[2019-02-20 15:52] dkirrane opened #1677 "Feature: Support regex in profile activation via kubeContext"
It would be good to auto-activate a Skaffold profile based on a kubeContext regex.

e.g. My clusters (both gke & on-prem) have names like the following:

-  `gke_my-team_europe-west2-a_my-dev-cluster`
-  `gke_my-team_europe-west2-a_my-sanity-cluster`
- `kubernetes-admin@dev`
- `kubernetes-admin@sanity`

I want to run the gke profile below when my kube context matches a GKE cluster name (using rege

[2019-02-20 16:51] balopat commented on #480
GCB projectId can be left empty as it is guessed from the image name, so that should be portable as well.

[2019-02-20 18:46] loosebazooka commented on #1565
Sorry to re-open this. But is there a reason this cannot be solved using profiles? Allowing arbitrary strings on the command line could potentially break the build in unpredictable ways?

[2019-02-20 18:47] jonaseck2 commented on #1668
Can confirm, compiled tag v0.22.0 works, master and release 0.23.0 doesn't

v0.23.0:
Syncing 1 files for some_node_app:d7db341f059c1ea8eaf66d3c0c41593e724860471c7fa2bf84486ad16c28775a
Watching for changes every 1s...

Files aren't updated in the image at all

v.0.22.0
Syncing 1 files for some_node_app:03050b781def4228b6b64f6865293434c633d24393f395448df4bee9d1e309d7
Watching for changes every 1s...

[2019-02-20 22:37] priyawadhwa commented on #1663
@Soullivaneuh I checked out your branch and replaced the image name with my GCR project. Looks like this is happening because skaffold builds the image as `gcr.io/priya-wadhwa/sweetforeign_web:latest@sha256:006f9aa59e6f68781481559cccab095f55750ee44d4931f13470cf185d0038f4`, but helm deploys as `gcr.io/priya-wadhwa/sweetforeign_web:latest`, so our pod selector thinks the images are different and doe

[2019-02-21 04:22] FX-HAO commented on #922
I can't agree with this, i use `build` and `deploy` in different pipelines. Sometimes I just need to build the image and then I can decide if we should deploy it.

[2019-02-21 11:36] #1650 closed

[2019-02-21 15:07] balopat opened #1681 "JSON schema for core and community builder plugin properties"

[2019-02-21 15:58] #1669 closed

[2019-02-21 22:13] #1553 closed

[2019-02-22 11:28] jeffshadap commented on #1668
Skaffold v0.23.0 doesn't sync files . However v0.22.0 works fine
Tested with  [nodejs example](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/nodejs)

[2019-02-22 13:22] WoLfulus commented on #1615
I had the same issue yesterday. Any plans to support this?

[2019-02-22 16:34] lukebond commented on #753
This issue is still present in the current version (0.23.0). If not using GCS or GCR then the secret isn't needed, but you're still required to have it. We work around it by adding a dummy secret (e.g. value = "test"), but it would be nice to be able to drop it altogether.

[2019-02-22 17:19] dgageot opened #1688 "Activating a profile triggers a warning"
[code]

This is because the code that merges profiles into main configuration doesn't handle some recent fields that are pointers, such as `ExecutionEnvironment *ExecutionEnvironment`.

[2019-02-22 19:19] balopat commented on #1668
@jeffshadap
@jonaseck2
are you both testing on Windows?

[2019-02-22 19:26] #1552 closed

[2019-02-22 21:39] balopat opened #1689 "Self cleanup for builder plugin processes when the main skaffold process dies"
Skaffold builder plugin processes are left hanging if there is an unclean shutdown.
They should clean themselves up (maybe heartbeat to skaffold?)

[2019-02-23 05:21] cflynn07 opened #1691 "skaffold fails to sync with helm"
### Expected behavior
static files sync to container without a rebuild when updated on disk

### Actual behavior
skaffold fails to sync files, prints warn log

### Information

- Skaffold version: v0.23.0
- Operating system: macOS 10.14 (18A391)
- Contents of skaffold.yaml:

[code]

- error message from skaffold dev -v debug:
[code]

- complete repository with helm chart/templates and skaffold.yam

[2019-02-23 09:41] swoldanski commented on #1668
Maybe this will be helpful:

Linux environment. I see that problem when my context namespace differ from a namespace defined for Helm chart, for example:

[code]
Case 1:
- there is no namespace defined in `skaffold.yaml`,
- there is `test` namespace defined in `skaffold.yaml`
Result:
- sync working as expected

Case 2:
- there is namespace defined in Helm Chart with a different name then in contex

[2019-02-23 09:59] swoldanski commented on #1663
@Soullivaneuh It is not a bug at all. I fall in the same trap.

Take a time to look at Helm example https://github.com/GoogleContainerTools/skaffold/tree/master/examples/helm-deployment

To make it work you have to change your `deployment.yaml` and `values.yaml` as well:

[code]

After this change, your Chart will use proper image build by skaffold for deployment and port forwarding should work as

[2019-02-23 21:49] bzub opened #1692 "[Deploy] Add Terraform Deployer"
I'm working on a Deployer implementation for [Terraform](https://www.terraform.io/) modules and would like to get early input for the design. Initial proposal follows. Questions and comments are highly encouraged!

# Skaffold Terraform Deployer

Uses `terraform` cli to deploy Kubernetes resources via Terraform module(s).

## Use Cases / Goals

- Rapid development of apps in an environment where Te

[2019-02-25 03:29] jeffshadap commented on #1470
I'm having the same problem on Windows 10

[2019-02-25 05:28] jeffshadap commented on #1668
Yes on Windows 10

[2019-02-25 16:47] azaiter commented on #731
Although Kaniko has ECR support, the pod template is made for Google Container Registry, as in https://github.com/GoogleContainerTools/skaffold/blob/cff3918df8c165f2c4bb17b07f3ed50222f6a63c/pkg/skaffold/build/kaniko/sources/sources.go#L66 kaniko secret should be adjusted to a volume mount under `/root/.aws/aws-secret` instead of google's GOOGLE_APPLICATION_CREDENTIALS environment variable (maybe a

[2019-02-25 16:48] azaiter commented on #731
@nkubala could you kindly re-open this issue? thanks!

[2019-02-25 17:48] jonaseck2 commented on #1668
Nope: MacOs Mojave 10.14.3

everything running in the default namespace

[2019-02-25 17:53] #1671 closed

[2019-02-25 20:26] Soullivaneuh commented on #1671
@corneliusweig Sorry for the respond time and thanks for the fix! As it works, it's already a good news! :+1:

[2019-02-26 07:41] martinhoefling commented on #1564
In my opinion, a feature that opens a bunch of ports in a surprising way should be explicitly opted in. Here are two examples what happened in our team already:

A local service (webpack dev server) on port 8080 was functional / bound depending on the startup order of `skaffold dev` and webpack.

A second k8s service with same port 8080 was introduced in the dev setup masking the port forwarding o

[2019-02-26 07:45] turip commented on #1582
So it turns out that if you want to use remote docker over ssl, and your remote does not mandate Client SSL verification, then it will work with skaffold and docker using the following approach:

[code]

This works because:
- DOCKER_HOST: used by both docker cli (that's called from skaffold) and skaffold
- DOCKER_TLS: required by the docker cli to support HTTPS remotes
- DOCKER_CERT_PATH: required

[2019-02-26 07:45] #1582 closed

[2019-02-26 15:06] laander commented on #1668
Same here, no syncing after the update. Here's the console output (no error messages):
[code]

[2019-02-26 19:37] laander commented on #1691
Might be a duplicate of https://github.com/GoogleContainerTools/skaffold/issues/1668 although reports in the other issue doesn't mention any errors (`Skipping deploy due to sync error: copying files: didn't sync any files`)

[2019-02-26 22:37] balopat opened #1695 "Don't require reconnection during config change"

[2019-02-26 22:37] balopat commented on #1695
For Skaffold RPC config change requires a bit more thought:
- on config change we shutdown the server? How will the IDE know that it needs to reconnect? Can we keep the server alive? I think that would be beneficial.
- `ConfigurationChanged` probably should be another event

[2019-02-26 22:52] balopat opened #1696 "Add Event API support for build/run/deploy"

[2019-02-26 22:53] nkubala commented on #1657
@WoLfulus thanks for pointing this out. opened a PR to fix the regex.

[2019-02-26 22:53] balopat commented on #1696
Context: https://github.com/GoogleContainerTools/skaffold/pull/1574
Ideas to enable IDE integration for short lived commands:

* flip the server/client roles - the caller of skaffold could pass in one (or more) RPC server endpoint(s) that Skaffold RPC could connect as a client to and _push_ notifications to. This connection step would be the first thing - and could ensure that build/deploy/delete/

[2019-02-26 23:09] balopat opened #1698 "Add `DeploymentCleanedUp` event to Event API"

[2019-02-26 23:10] balopat commented on #1698
It would be great to know on the IDE side when the deployment is cleaned up properly.

[2019-02-27 00:39] balopat commented on #1692
Hi @bzub, thank you for opening this. We are thinking about how Skaffold could help in setting up the infrastructure around a deployment. However the Deployer interface does not seem like the best place to start in my mind, it was meant to be for a Kubernetes (maybe Knative in the future) specific application deployment that for example should be triggered every time there is a source code change

[2019-02-27 02:25] cpoole commented on #1511
seems like this is also satisfied with the `--trigger manual` arg to skaffold dev

[2019-02-27 17:58] balopat commented on #1696
Another option: hold back execution until at least configured number of clients connected to the RPC server for `GetEvents()`

[2019-02-27 18:26] balopat opened #1703 "Detailed Event API + Control API documentation on proto"
Will fix also #1954, #1511

[2019-02-27 19:47] briandealwis opened #1704 "Builders should be able to provide a sync-map"
It would be useful for builders to be able to provide a sync-map.

_(Updated: I had my example projects mixed up:)_
For example, Maven web projects (`.war` files) normally place web resources, such as html/css/images, in `src/main/webapp`.  As part of the Maven build process, these files are processed  into `target/<artifactId>-<version>/` (`target` is location where Maven normally places build-ti

[2019-02-27 20:13] cflynn07 commented on #1691
I'm able to use skaffold in the project by using kubectl instead of helm for local development

[2019-02-28 06:44] rcoh commented on #543
It would be nice if you could define the environment variables in the profile rather than having to pass them in. Ideally I could just do `skaffold run --profile staging` but I think instead I need to maintain to different sets of environment variable files and use them appropriately to get access to the env var templating?

[2019-02-28 13:48] s-irvine opened #1705 "Kaniko build and push to an insecure registry completes successfully but skaffold errors anyway"
### Expected behavior

A Skaffold driven Kaniko build should complete successfully even if the image has been pushed to an insecure registry.

### Actual behavior

Skaffold errors on pulling the digest for the new image after it has been pushed. The image has been pushed successfully as it can be found in the registry but Skaffold assumes the registry uses HTTPS so the manifest pull fails:

[code]

[2019-02-28 15:33] haf commented on #336
yes, I think this is a skaffold issue since these images can be pulled with `docker pull ...` on the host

[2019-02-28 16:14] rlotufo opened #1706 "Cannot get job redeployed using helm"
This issue is similar to https://github.com/GoogleContainerTools/skaffold/pull/940

The only difference is that the problem still occurs if using helm instead of kubectl. The problem seems to be that it is not possible to update a Job with a different image, so a solution might be to use `--force` when calling helm upgrade, similar to what was done to solve issue #940

https://codecov.io/gh/Google

[2019-02-28 16:18] faxg commented on #1668
Same here .. no sync of changed files (despite CLI message).
docker-for-desktop on MacOS 10.14.2
no contexts defined in skaffold.yaml
no default repo (unset)

[2019-02-28 16:20] #1657 closed

[2019-02-28 16:23] WoLfulus commented on #1657
Thank you!

[2019-02-28 16:47] haf commented on #1158
Also, do you have any idea as to why when running minikube with kvm or virtualbox, the docker daemon isn't properly configured to have access? And even if adding a service-account _json_key to the docker daemon in the virtual machine / guest, skaffold is not allowed to do the `pull`, but will reuse images from the guest docker daemon when those have been pulled manually.

I'm commenting on this PR

[2019-02-28 18:35] patnaikshekhar commented on #1668
I'm facing the same issue with skaffold running on windows syncing js files. The files seem to be going to the root folder instead of the WORKDIR.

[2019-02-28 20:00] balopat commented on #1706
What version of kubectl are you using?

[2019-02-28 21:05] rlotufo commented on #1706
`Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-04T04:48:55Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11", GitCommit:"637c7e288581ee40ab4ca210618a89a555b6e7e9", GitTreeState:"clean", Bu

[2019-02-28 22:23] nkubala opened #1708 "Release v0.24.0"

[2019-03-01 00:16] bzub commented on #1692
Hi @balopat, I'm glad you brought this up. My use-case is limited to deploying Kubernetes resources via the [Kubernetes Terraform Provider](https://www.terraform.io/docs/providers/kubernetes/). Any examples of using this proposed deployer would reflect that theme.

That said, I had not intended on enforcing this as a restriction in the deployer. It is possible to use the `terraform` `--target` fla

[2019-03-01 00:23] bzub commented on #1692
From a design perspective, deploying other infrastructure with this deployer could actually be fairly intuitive. Assuming this deployer tracks what Kubernetes resources it creates accurately, and deletes those resources from a cluster accurately, when a user does a `skaffold deploy` again their non-Kubernetes resources would not be re-applied, since Terraform will detect that only the Kubernetes s

[2019-03-01 00:59] balopat opened #1710 "Extract skaffold init functionality into a map response"
Skaffold init detects Dockerfiles and image names from k8s manifests and then asks the user to map them together.
For IDE integration purposes it would be beneficial to expose the inital lists of Dockerfiles and imagenames (potentially with pre-matching based on heuristics).

[2019-03-01 01:24] balopat opened #1711 "Flaky test for TestDev"
TestDev keeps flaking out with a timeout. We should fix it, it's demoralizing.

[2019-03-01 03:48] Ken-LiuL opened #1712 "Skaffold ignores errors in Dockerfiles"
### Expected behavior
Give an error information when there are errors in the Dockerfile:
![image](https://user-images.githubusercontent.com/7971987/53615200-d1021600-3c17-11e9-9f46-feebb19081f1.png)

### Actual behavior
No explicit information showed

![image](https://user-images.githubusercontent.com/7971987/53615211-deb79b80-3c17-11e9-8947-f46048e8b143.png)

- Skaffold version: v0.23.0
-  Operat

[2019-03-01 14:22] haf opened #1714 "Private registries in guest OS:es auth fails"
ref: https://github.com/GoogleContainerTools/skaffold/pull/1355

![screenshot 2019-03-01 at 15 21 55](https://user-images.githubusercontent.com/193115/53644005-cd7d8780-3c35-11e9-96e0-994746643adc.png)

[2019-03-01 17:56] nkubala commented on #1711
The problem could be that we start up Skaffold, then immediately change a file to kick off a dev cycle, but Skaffold may not have had time to start up the watcher before we changed the file, so it never gets picked up and a rebuild/redeploy never happens.

[2019-03-01 19:32] #1708 closed

[2019-03-01 22:30] tejal29 commented on #1651
running skaffold init with debug options reveals, that helm config files are not supported yet and interpreted as normal k8 config files

[code]

[2019-03-01 23:11] priyawadhwa commented on #1691
Hey @cflynn07 I just merged #1709 which may have solved this problem -- could you see if you still get this error with the lastest released version [v0.24.0](https://github.com/GoogleContainerTools/skaffold/releases/tag/v0.24.0)?

[2019-03-02 15:21] gbates101 commented on #1663
@swoldanski I'm experiencing the same behavior without using helm. My app port forwards just fine from 0.22.0-, but as soon as I upgrade to 0.23.0+ it stops. I would expect skaffold to auto port-forward with the following yaml:

[code]

Again, skaffold auto port-forwards fine with this yaml in <= 0.22.0, but not > 0.22.0.

[2019-03-03 14:36] janwillies opened #1719 "skaffold with kaniko permission failure on aws ecr"
When using skaffold with kaniko on aws ecr I'm getting a `401` *after* the push to the repo is finished.

[code]
### Expected behavior
skaffold should continue after pushing to the ecr repo

### Actual behavior
after successfully pushing to ecr skaffold exits with an error

I have kaniko setup up to build with gitlab-ci on the same ec2 nodes and it works fine, the kaniko configuration also looks t

[2019-03-04 01:26] balopat commented on #1265
Fixed by #1574.

[2019-03-04 01:26] #1265 closed

[2019-03-04 03:15] scottwilson312 opened #1720 "logs only show when pod is just created and as its being terminated"
### Expected behavior
Expect to see all the output of kubectl logs
### Actual behavior
I only see the output for the first seconds of the pod. Then the output of skaffold dev goes silent until I make a code change, at that point in time, logs from the old pod will briefly start showing up before its killed.

### Information

- Skaffold version: 24
- Operating system: Ubuntu 18.04
- Contents of ska

[2019-03-04 04:55] azaiter commented on #1719
I ran to this issue myself, kaniko pod is actually succeeding and pushing to ECR. But your local docker is not able to get image digest from ECR, can you check that your local dockerconfig has access to ECR?

[2019-03-04 05:43] balopat commented on #1150
This is implemented in #1632.

[2019-03-04 05:43] #1150 closed

[2019-03-04 07:32] janwillies commented on #1719
exactly that was the issue, thanks @azaiter. I don't even need to have docker running, it's just that an ` $(aws ecr get-login --no-include-email)` was missing.

I guess it's needed for skaffold to get the latest hash?

[2019-03-04 07:41] azaiter commented on #1719
It's just what kaniko runner returns based on the image tag, it's just happen to use local docker for that.
See: https://github.com/GoogleContainerTools/skaffold/blob/cff3918df8c165f2c4bb17b07f3ed50222f6a63c/pkg/skaffold/build/kaniko/run.go

[2019-03-04 08:00] janwillies commented on #1719
Thx. Apparantly it doesn't even need local docker, just the registry login details

[2019-03-04 08:00] #1719 closed

[2019-03-04 11:30] janwillies opened #1721 "v0.24.0 unable to sync files when a `WORKDIR` is specified"
with `v0.24.0` I'm unable to sync files when a `WORKDIR` is specified in the Dockerfile.

Dockerfile:
[code]

before sync
[code]
after sync
[code]
This happens regardless of skaffold configuration:

[code]
[code]

when I revert #1709 `WORKDIR` is ignored and I have to specify the full path in `skaffold.yaml`:
[code]

but it works.

related #1691

[2019-03-05 00:18] tejal29 opened #1726 "[Proposal] Add Helm support to `skaffold init`"
In issue #1651, @soullivaneuh tried running `skaffold init` in his code base which uses `helm` deployer.
He discovered a bug, where `skaffold init` ran into an error.
See details [here](https://github.com/GoogleContainerTools/skaffold/issues/1651#issuecomment-468834029)

This Proposal is to support all the deploy tools that skaffold supports which are `helm`, `kubectl` and `kustomize` in `skaffold

[2019-03-05 00:19] tejal29 commented on #1651
Proposal to support helm and other supported deploy tools added herehttps://github.com/GoogleContainerTools/skaffold/issues/1726

[2019-03-05 07:21] #1560 closed

[2019-03-05 09:42] cflynn07 commented on #1691
Still seeing the issue.
- checked out the code in my repo at `dc5115181f030e769ae192f9ecf6aecb8dcec8d2`
- ran `skaffold dev -v debug`
- Made a trivial change to a file
- Observed the error in my logs:

[code]

[2019-03-05 09:47] cflynn07 commented on #1691
Still seeing an issue
- checked out the code in my repo at `dc5115181f030e769ae192f9ecf6aecb8dcec8d2`
- ran `skaffold dev`
- Made a trivial change to a file
- skaffold dev exited with an error

[code]

[2019-03-05 14:22] #1712 closed

[2019-03-05 14:50] #1721 closed

[2019-03-05 14:52] #1710 closed

[2019-03-06 10:27] dee-me-tree-or-love commented on #1691
Same issue when using `kubectl` for deployment.
Running `skaffold v0.24.0` with `minikube version: v0.33.1` with `--vm-driver kvm2`.

- ran `skaffold dev -v debug`
- made a trivial change
- getting same error as @cflynn07

[code]
---

My `skaffold.yaml`:
[code]
The `lotr-quotes` manifest:
[code]

[2019-03-06 10:28] NicklasWallgren opened #1732 "Build and push to an insecure registry completes unsuccessfully"
### Expected behavior
A Skaffold driven build should complete successfully even if the image is pushed to an insecure registry.

### Actual behavior
Skaffold errors on building/pushing  the new image.

[code]

Works fine using jib directly.
[code]

### Information
- Skaffold version: 0.24

- ~/.docker/deamon.json
[code]

- Skaffold configuration
[code]

- Authentication
[code]

- Jib configuration

[2019-03-06 12:47] pre opened #1733 "Running multiple instances of skaffold no longer possible"
### Expected behavior

Have two projects with `A/skaffold.yml` and `B/skaffold.yml`.

Expected: running `skaffold dev` in both directories A and B would work. This used to work in an earlier version still in January 2019.

### Actual behavior

Running `skaffold dev` for project A will work as expected, but `skaffold dev` for project B will fail.

The error message is:

`FATA[0000] creating runner:

[2019-03-06 13:42] dee-me-tree-or-love commented on #1691
In fact in my case reverting to `v0.23.0` solves the problem...

[2019-03-06 14:39] dgageot opened #1734 "sync is broken on local cluster"
Sync is broken when images have not been pushed.

The code now tries to retrieve the remote image to check the working dir.
Because the image was never pushed, this fails hard.

[2019-03-06 16:15] andsens opened #1737 "skaffold labels erroneously added to CRD validation schema metadata field"
I am trying to get cert-manager up and running with skaffold+kustomize, but am running into an issue with skaffold adding labels to a CRD manifest. `kustomize build . | kubectl apply -f -` works fine, so I
think this is skaffold itself. Either it modifies the manifest or kustomize gets some additional flags.

### Expected behavior

The manifest validates.

### Actual behavior

skaffold errors out

[2019-03-06 16:18] andsens opened #1738 "skaffold says all is well even when there were validation errors"
While examining the error from #1737 I noticed that skaffold said all was fine and that the deployment completed, even though the manifest failed to validate.

### Expected behavior

skaffold returns with a non-zero exit code when manifest validation fails.

### Actual behavior

skaffold return with 0 and actually says "Deploy complete"

### Information

- Skaffold version: 0.24.0
- Operating syst

[2019-03-06 16:20] andsens commented on #1737
I'm having trouble figuring out what the actual manifest looks like. Is there a way to do a dry-run with skaffold and retrieve the generated manifest?

[2019-03-06 16:57] matti commented on #1733
[code]
seems to work.

[2019-03-06 18:19] tejal29 commented on #1738
Thanks @andsens for this bug report.  Just to confirm,  `kubectl deploy` end up deploying any other resources?

[2019-03-06 18:26] tejal29 commented on #1733
cc @nkubala  who might have a better idea since this seems relevant to the Event API work he did.

[2019-03-06 18:33] tejal29 commented on #1737
@andsens. Right now, there isnt. But this is good feature to have.
However, you can run `skaffold deploy -v=debug` to see the generated manifests on the command line.

[2019-03-06 18:35] andsens commented on #1738
The log is from the manifest in the gist, which only contains the one resource. I haven't actually checked what happens when the manifests partially validate. Let me check on Friday and I'll report back.

[2019-03-06 18:38] tejal29 opened #1739 "Support `--render` options for skaffold deploy."
In #1737 @andsens mentioned, pointed out a use case where users would want to inspect `skaffold deploy` generated manifests.

I am thinking this would also be required for

### Expected behavior
when you run skaffold with `--dryrun` flag, all the manifests it generates should be dumped in `./out` directory.

### Actual behavior
Right now, users need to run skaffold with `-v=debug` flag to grab the

[2019-03-06 18:41] tejal29 commented on #1732
@NicklasWallgren i am new to the project and want to understand if this use case was supported in the previous versions of `skaffold` or this is a new feature request?

[2019-03-06 18:48] aasm-moura commented on #1734
same here!

`FATA[0034] calling final callback: sync: retrieving working dir for hub-api:b5f8168bb1bc595174f01810d8e3cc47cf9bc22404b4253e2baf77baf63b83c1: retrieving remote config: UNAUTHORIZED: "authentication required"`

[2019-03-06 18:52] tejal29 commented on #1704
This sounds reasonable. Just to get more details, the workflow would be,
- a user changes a class file or a static resource,
- The builder plug complies and puts the binaries in some location.
- skaffold dev should then detect these new binaries  and deploy the new changes.

Is that right?

[2019-03-06 18:53] NicklasWallgren commented on #1732
I'm not sure really. I have tried versions 0.20 and 0.24. I thought it would work out-of-the-box since both `jib` and `docker daemon` are configured to allow insecure registries.

I'm using a simple `microk8s` registry.

[2019-03-06 19:09] priyawadhwa opened #1740 "Improve artifact caching"
Based on the following feedback from @dgageot, there are a few things we can do to make artifact caching better:

TODO:
- [x] Even if there is no local daemon, check if images exist remotely
- [x] Include filenames in hash
- [x] Sort dependencies
- [x] Loop on all images only once (#1743)
- [x] Don't create a function/file for the hasher
- [ ] skaffold cache command to add images built by others t

[2019-03-06 19:11] nkubala commented on #1739
now that we've separated out the tagging interface and gotten rid of the "unstable" taggers, this should be possible. dry run mode for `skaffold build` would give the user the images skaffold would have built, though for `skaffold deploy` we'll need to rethink it (or possibly just address https://github.com/GoogleContainerTools/skaffold/issues/922 first).

dry run mode for `skaffold run` would pro

[2019-03-06 19:33] tejal29 commented on #1732
ok. Thanks. @balopat might have better idea.

[2019-03-06 19:33] nkubala commented on #1726
if I'm understanding correctly there would be different implementations of the `Initializer` interface, e.g. `HelmInitializer`, `KubectlInitializer`, etc. how would we know which one to invoke for a given project? we'd need some heuristic on how to determine if we're in a helm project, kustomize project, etc. maybe it's as easy as checking to see if there's a `kustomization.yaml` or a `Chart.yaml`

[2019-03-06 19:44] #1734 closed

[2019-03-06 19:49] tejal29 commented on #1726
That is correct, i was going to rely on files present.

I was thinking of that too. I do like that idea. Adding a hint on command like would help resolve conflicts.
But it should not be necessary.

That is correct, however determining the list Dockerfiles logic should remain the same irrespective of the Deploy Tool unless i am missing something. Hence it is not part of the Initializer Interface.
T

[2019-03-06 20:05] briandealwis commented on #1732
I hit this too with Jib trying to push to a registry hosted within the cluster with k3s.io. #1705 hit the same issue with Kaniko.

[2019-03-06 20:08] nkubala commented on #1733
@pre thanks for the issue. I opened a PR that will fix this, but in the meantime you can use @matti's workaround to keep running skaffold.

[2019-03-06 23:12] tejal29 commented on #1733
@nkubala Can you point us to the workaround? is it same as using --rpc-port flag?

[2019-03-06 23:24] balopat opened #1746 "flake: kaniko_local"
We need much better logging and error message and also determine what causes the flake:

https://source.cloud.google.com/results/invocations/065518a2-8914-41b2-8a05-c2694218975c/targets/runtimes-common%2Fskaffold%2Fpresubmit/log

[code]

[2019-03-06 23:26] balopat commented on #1711
Still failing: https://source.cloud.google.com/results/invocations/272de578-6f42-4afc-a960-919289372a80/targets/runtimes-common%2Fskaffold%2Fpresubmit/log

[2019-03-07 00:39] nkubala commented on #1733
@tejal29 yeah specifying another rpc port fixes it. the previous logic to choose a new port if the provided/default one is already in use was busted.

[2019-03-07 00:56] tejal29 commented on #1738
no problem!

[2019-03-07 10:17] WakeupTsai opened #1748 "helm deploy failed: matching build results to chart values: no build present for <image>"
I'm trying to run the helm chart example, but seems the skaffold doesn't install the helm chart, and delete it directly.

[code]

[2019-03-07 10:36] kasperisager opened #1749 "Skaffold crashes when building Docker image using Minikube Docker daemon with buildkit"
When building (using `skaffold dev`) the following image with Buildkit enabled, Skaffold crashes:

[code]

### Expected behavior

The image is built successfully.

### Actual behavior

Skaffold crashes with the following error:

[code]

### Information

- Skaffold version: v0.24.0
- Operating system: macOS 10.14.3
- Contents of skaffold.yaml:

[code]

[2019-03-07 10:39] kasperisager commented on #1749
[code]

[2019-03-07 13:32] kasperisager commented on #1749
This seems to happen only when the first line of a given Dockerfile is not `FROM ...` such as:

[code]

Or simply:

[code]

This also triggers the crash:

[code]

[2019-03-07 14:14] dee-me-tree-or-love commented on #1691
Most likely is related to https://github.com/GoogleContainerTools/skaffold/issues/1734
And hopefully is transitively fixed :+1:

[2019-03-07 14:20] dgageot commented on #1749
@kasperisager I couldn't  reproduce any of those with docker 18.09.2.
Have you tried to build those images directly with buildkit?

[2019-03-07 14:52] dgageot commented on #1711
I think I finally fixed it with #1750

[2019-03-07 15:12] kasperisager commented on #1749
They build just fine when using `docker build`, the issue only appears when run through Skaffold.

[2019-03-07 15:32] kasperisager commented on #1749
Recreation here: https://github.com/kasperisager/skaffold-demo. Strangely enough, it only happens with `svc/foo/Dockerfile` and not `svc/bar/Dockerfile` even though the two are basically identical 😕

[2019-03-07 15:40] kasperisager commented on #1749
Interestingly enough, the issue sometimes persists even after removing everything before the initial `FROM ...`. I'm really out of my depth here 🙈

[2019-03-07 15:44] kasperisager commented on #1749
This may actually be related to my setup. I use a separate Docker machine to build images (created with `--engine-opt experimental=true`) and then deploy to Minikube. If I stop Minikube, but leave the Docker machine running, everything seems to work consistently when building images.

[2019-03-07 15:44] dgageot commented on #1749
Can't reproduce with your sample either...

[2019-03-07 15:49] kasperisager commented on #1749
That seems to be it:

[code]

[2019-03-07 15:51] kasperisager commented on #1749
Wild guess: Could it be that Skaffold is trying to pull the image ID from the Minikube Docker env rather than the CLI Docker env, which is used when Buildkit is enabled?

[2019-03-07 18:46] nkubala commented on #1691
@dee-me-tree-or-love any chance you could try building from HEAD and seeing if your issue is fixed?

[2019-03-07 19:02] wstrange commented on #733
A `skaffold prune` , or equivalent would be really sweet...

[2019-03-07 19:43] tejal29 commented on #1748
@WakeupTsai , i think the meaningful error is last line,
`skaffold dev` command failed to deploy due to error below and then tried deleting it since `skaffold dev` does a clean up before exiting. Does that make sense?
[code]
Can you provide your helm Charts config or point us to your code?

[2019-03-07 21:16] briandealwis commented on #1704
Hmm, thinking some more, this is more complex than I thought!  (And my example above was wrong: I've edited it.)

Here's the workflow as a Java developer:

1. the user changes some file or static resource such as `src/main/webapp/index.html`
2. _skaffold dev_ detects the change and starts the build:
    - the normal part of the maven build copies and interpolates the file into `target/artifact-ver

[2019-03-07 21:29] nkubala commented on #1720
@scottwilson312 thanks for the issue. I'm unable to reproduce both on v0.24.0 and building from HEAD. what terminal are you using? could you try running one of the examples in the repo and see if you get the same issue?

[2019-03-07 21:48] cliffburdick opened #1753 "--tail In Deploy Mode Mixes Outputs"
### Expected behavior
Independent outputs from two processes

### Actual behavior
If I run two skaffold commands in separate windows with the deploy mode and --image, the output of one spills onto the other screen, and both are seen. This behavior does not occur with run --tail.

### Information

- Skaffold version: v0.24.0
- Operating system: Ubuntu 18.04
- Contents of skaffold.yaml:

[code]

###

[2019-03-07 23:49] nkubala commented on #1705
@s-irvine thanks for the issue. this is indeed a bug and we're looking into the right way to fix it. I know your issue was first, but there's a bit more discussion on #1732 and this is not a Kaniko-specific issue so I'm going to close this as dupe.

[2019-03-07 23:49] #1705 closed

[2019-03-07 23:58] nkubala commented on #1732
@NicklasWallgren thanks for the issue and @briandealwis thanks for linking the other issue. this is happening because of the way we retrieve the remote image reference once we've pushed an image with skaffold to retrieve the remote digest: since we're not telling go-containerregistry that our registry is insecure, it assumes it's not and defaults to https, which fails.

the quick and easy fix to t

[2019-03-07 23:58] #1733 closed

[2019-03-08 00:02] jonjohnsonjr commented on #1732
There are some heuristics for matching insecure registries based on hostname and IP. If you can control the registry name, you can signal to go-containerregistry that you want it to be insecure by using the `.local` tld. I'd certainly be interested in supporting all the docker-y ways to override the insecure registry setting, I just haven't had time to plumb that through everywhere. I know there's

[2019-03-08 00:19] nkubala commented on #1567
@colonelpopcorn sorry the long delay here. I checked the checksums for v0.20.0 and everything looks fine to me:

[code]
Maybe gofish is using a different hashing algorithm, or possibly downloading the wrong binary for Skaffold? Sorry I can't be more help, but I'll close this for now.

[2019-03-08 00:19] #1567 closed

[2019-03-08 01:41] tbarrella opened #1759 "Custom annotations for Kaniko pods?"
### Feature request
It would be helpful to add custom annotations to Kaniko pods through skaffold.yaml. Does this seem like something Skaffold should support/would it seem like a welcome addition?

In general, it may also be nice to be able to specify labels and/or parts of the Kaniko pod spec as well, like resource usage. I know it's possible to attach default resource request/limits to pods in a

[2019-03-08 01:46] WakeupTsai commented on #1748
I run the example code `scaffold/examples/helm-deployment`. By the way, I can install the helm chart manually.
[code]

[2019-03-08 02:12] WakeupTsai commented on #1748
After a few tests, I found the problem is caused by `values` in `skaffold.yaml`. But I don't know why this happens.

[code]

[2019-03-08 07:46] kasperisager commented on #1749
To sum up: https://github.com/GoogleContainerTools/skaffold/issues/1749#issuecomment-470526097 was a red herring and so was Buildkit for that matter. The steps to reproduce seems to be:

1. Create and start a Minikube cluster
2. Create and start a Docker machine
3. Connect to the Docker machine (`eval $(docker-machine env <name>)`)
3. Enable `useBuildkit` or `useDockerCLI` in Skaffold
4. Run `skaf

[2019-03-08 09:34] andsens commented on #1738
@tejal29 no other resources seem to deploy. I tested by adding this pod.yaml
[code]

I tried adding `pod.yaml` both before and after `crd.yaml` in `kustomization.yaml` with the same result. The output was identical to the one above.

When removing `crd.yaml` from `kustomization.yaml` the pod deploys as expected of course :-)

[2019-03-08 09:41] andsens commented on #1737
Yup, found the issue with `-v=debug`:
[code]

In the original it looks like this:
[code]

[Full debug output](https://gist.github.com/andsens/d97f368c3c8b3bea05405339f311574a).

[2019-03-08 11:07] davidbancor commented on #1691
Using the latest build from https://storage.googleapis.com/skaffold/builds/latest/skaffold-darwin-amd64 solved this issue for me 👍

[2019-03-08 12:49] tjerkw commented on #1358
Yeah i need this too, callbacks to the running kubernetes in dev mode are not working from outside services (like payment callbacks). I fix it now by manually also running "kubectl port-forward --address 0.0.0.0"

[2019-03-08 17:05] briandealwis commented on #1732
Jib currently requires the user to explicitly allow using insecure registries (non-https).

It looks like the [dockerd](https://docs.docker.com/engine/reference/commandline/dockerd/) defaults to allowing insecure registries only for 127.0.0.0/8:

[2019-03-08 19:19] #1711 closed

[2019-03-08 20:06] ivanporty opened #1762 "For Windows manual download/install instructions, mention rename to skaffold.exe"
Mac and Linux instructions explicitly rename downloaded file into `skaffold`, whereas Windows instruction never mentions this. See https://skaffold.dev/docs/getting-started/

[2019-03-08 20:43] balopat commented on #1726
Did you consider adding the Initializer as part of the `Deployer` interface?

[2019-03-08 22:12] tejal29 commented on #1759
@tbarrella want to know more what would this custom annotations be used for?

[2019-03-08 22:16] tejal29 commented on #1704
Ah. got it.
Was wondering if we can use existing [syncs](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/v1beta6/config.go#L477) as a POC by adding directory "taget/**" manually in the config for a jib artifact and making sure this works.

The way sync works right now, it only read Artifact.Sync Map which is read from the config [here](https://github.com/GoogleCont

[2019-03-08 22:20] tbarrella commented on #1759
This came to mind for me specifically to specify IAM roles for Kaniko pods using kube2iam or kiam. Potentially if https://github.com/GoogleContainerTools/skaffold/issues/731 were resolved, credentials could be provided via `kaniko-secret`, although I'd prefer avoiding creating and distributing those credentials

I didn't think too hard about how else they might be used

[2019-03-08 23:43] priyawadhwa opened #1765 "PROPOSAL: Reorganize pkg/skaffold directory"
This proposal will outline a process for reorganizing the skaffold pkg directory so that it's cleaner & better organized with respect to plugin builders.

**Current Directory Structure**

The current directory structure looks like this (I removed packages that won't be changing):
[code]

Issues with the current structure:
- We have `bazel`, `build/bazel`, and `plugin/builders/bazel` directories, a

[2019-03-09 00:30] ayyazzafar opened #1766 "How to exclude files from being rebuilt?"
### Expected behavior
I want to disable rebuild behavior for typescript (.ts) files.
I want it to watch only .js files do hot reload and ignore .ts files
### Actual behavior
Currently whenever I make any change in typescript, then it rebuilds the whole docker image.
Without typescript, live reload for .js files work very well. But with typescript it rebuild everytime that takes a lot of time.
###

[2019-03-09 00:49] balopat opened #1767 "flake: TestDevSync"
https://source.cloud.google.com/results/invocations/6a06d995-25be-4c50-8091-c2e0f98ab350/targets/runtimes-common%2Fskaffold%2Fpresubmit/log
[code]

[2019-03-09 00:54] tejal29 commented on #1726
I did not consider as from the code it felt like the Deployer Interface was very specific to how to deploy.
The constructor had details on command line args etc which were populated from the skaffold config.
e.g.
[code]
Most of this information like workingDir, Kubectl context and default are not part of the [latest.DeployConfig](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/ska

[2019-03-09 00:58] balopat commented on #1766
Thanks for filing the issue @ayyazzafar!
Can you share your Dockerfile as well for better understanding?
Do I understand correctly that TS files are COPY-d into the Docker image, they are transpiled to Javascript files?
It seems like you want to disable **rebuilding** for TS files, right?
One workaround could be to actually add TS files to the sync group, have you tried that?

[2019-03-09 01:54] ayyazzafar commented on #1734
@aasm-moura did you get any solution for this issue? I am also facing same problem.

[2019-03-09 02:16] ayyazzafar commented on #1766
Hello @balopat !
Thank you so much for quick response.
Here is my Docker code:

`FROM node:8.15.0-jessie
ENV PORT=8080
EXPOSE 8080
COPY . .
RUN npm install
RUN npm run build
CMD [ "npm", "run", "watch-node" ]
`

And now I did not try sync group. How can I add files to sync group?

[2019-03-10 01:39] ayyazzafar commented on #1766
@balopat  I would be really thankful for you to answer my above questions.

[2019-03-10 01:40] cpoole commented on #1749
I have the same issue running on linux

[2019-03-10 08:39] dgageot commented on #1767
I hate this test. I thought I fixed it

[2019-03-10 10:23] dgageot commented on #1767
It's super strange, it seems to timeout during the build...

When the test is killed, it fails on `/go/src/github.com/GoogleContainerTools/skaffold/integration/sync_test.go:38`. It's stuck on the `select` in `RunSkaffoldNoFail`

[2019-03-10 11:28] sniederm opened #1768 "annotated-skaffold.yaml missing since v0.24.0"
### Expected behavior

The best docs reference to the skaffold.yaml was in https://github.com/GoogleContainerTools/skaffold/blob/master/examples/annotated-skaffold.yaml

### Actual behavior

Since tag v0.24.0 this file is gone, but a lot of external resources refer to this location. All of them now get a 404. And its not clear where the reference documentation now can be easily found.

You should

[2019-03-11 06:31] dnmahendra opened #1769 "Hot reload crashes the skaffold dev"
[code]

### Expected behavior
Skaffold should watch and hot reload the source code changes
### Actual behavior
Skaffold crashes immediately after changing the code.
### Information

- Skaffold version: v0.24.0
- Operating system: MacOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. You can clone the project here, https://github.com/dnmahendra/skaffold-example
2. You

[2019-03-11 08:53] dgageot commented on #1768
Hi @sniederm, this piece of documentation has been moved to https://skaffold.dev/docs/references/yaml/

I'm going to push an empty `annotated-skaffold.yaml` with this information

[2019-03-11 08:55] dgageot commented on #1769
This should be fixed in master branch with https://github.com/GoogleContainerTools/skaffold/pull/1735
Could you give it a try?

[2019-03-11 09:35] romil-punetha opened #1771 "Pass --network=host during docker build"
When using skaffold build during jenkins, the docker build is failing because the containers aren't able to connect to the internet. However, I tried ssh-ing into the machines and ran docker build --network=host and it worked. Is there any provisioning to provide the --network flag to skaffold build ?

### Expected behavior
skaffold build should succeed.

### Actual behavior
The build is failing a

[2019-03-11 12:19] dnmahendra commented on #1769
Yes, sync doesn't crash now. But some reason it doesn't serve the changed code. I need to restart skaffold to see the changes.

[2019-03-11 16:27] zhlangsas opened #1774 "`skaffold dev` fails if multiple instances use the same port number in different namespaces"
### Expected behavior
In v0.24.0, multiple instances of `skaffold dev` should work (worked fine in v0.23.0) when different services in different namespaces have the same port number

### Actual behavior
First instance of `skaffold dev` starts fine, but subsequence deployments using `skaffold dev` in a different namespace using the same port number fails with `FATA[0000] creating runner: creating r

[2019-03-11 17:57] #1768 closed

[2019-03-11 18:00] priyawadhwa commented on #1766
Hey @ayyazzafar , you can add files to the sync group by making this change to your skaffold.yaml:

[code]

[2019-03-11 18:58] aasm-moura commented on #1734
@ayyazzafar we have disabled the sync until the new skaffold release.

[2019-03-11 19:00] nkubala commented on #1737
yeah, we probably shouldn't be doing this. we're using the k8s dynamic client to apply labels to all k8s objects created with skaffold, but this won't work for CRDs. we'll need to figure out a way to determine if an object was created with a CRD and skip labeling if it was.

[2019-03-11 20:11] balopat commented on #1726
Thank you so much for digging into this. I agree that keeping the first approach (separate `Initializer` interface and implementation) is cleaner.

[2019-03-11 20:13] #1537 closed

[2019-03-11 20:52] dgageot opened #1778 "flake: TestRun/docker_plugin_in_gcb_exec_environment"
https://source.cloud.google.com/results/invocations/5acf8356-67ca-45aa-90a7-4a97d6735eab/targets/runtimes-common%2Fskaffold%2Fpresubmit/log

[2019-03-11 22:50] nkubala commented on #1774
hey @zhlangsas, this is fixed with https://github.com/GoogleContainerTools/skaffold/pull/1752. this will be released with v0.25.0 this week, but in the meantime if you need a workaround you can build from HEAD or downgrade to v0.23.0.

[2019-03-11 22:50] #1774 closed

[2019-03-11 23:00] nkubala commented on #1765
this looks great. one other thing I'd like to see here is separation of client and server code for the native plugins. I know the interface receiver for the methods should tell me what's what, but this can sometimes get confusing when working with them which component I'm actually modifying. apart from that I'm a big fan of this

[2019-03-11 23:13] nkubala commented on #1301
@f0rmiga thanks for digging into that. @yurchenkosv I'm gonna close this issue for now, if you try the recommended change and you're still experiencing issues please reopen.

@maximbaz the `values` stanza points skaffold to the helm values file, which usually contains multiple values which helm will set on install.  the `setValues` provides skaffold a list of value pairs which it will pass to helm

[2019-03-11 23:13] #1301 closed

[2019-03-11 23:39] priyawadhwa commented on #1765
@nkubala thanks for the feedback! I've added that to the list of requirements.

[2019-03-12 00:22] balopat opened #1781 "Remove kustomize requirement if kubectl version > 1.14"
[kustomize got merged into kubectl](https://github.com/kubernetes/enhancements/issues/633) we should remove the dependency if we detect kubectl version that is greater or equal to 1.14.

[2019-03-12 05:14] raphaelvigee opened #1783 "Multi stage build error"
### Expected behavior

Build the image

### Actual behavior

Fails with:

    FATA[0001] build failed: building [containers.XXX.com/YYY/frontend]: build artifact: An image does not exist locally with the tag: containers.XXX.com/YYY/frontend

### Information

- Skaffold version: 0.24.0
- Operating system: MacOS
- Contents of skaffold.yaml:

[code]

- Dockerfile
[code]

- Full log
[code]

### Steps

[2019-03-12 05:17] ericp96 commented on #1514
This would be very helpful when developing node containers that exist in a helm environment.

[2019-03-12 05:38] dgageot opened #1784 "flake: TestGetState"
https://source.cloud.google.com/results/invocations/c96e8a2a-7c2b-41f0-a6b4-d39db8d368f7/targets/runtimes-common%2Fskaffold%2Fpresubmit/log

[2019-03-12 07:26] kasperisager commented on #1749
Did a little digging and the offending lines seem to be:

https://github.com/GoogleContainerTools/skaffold/blob/96ac37e30ee94b3f015a5eda14c7e7b1d99b0a34/pkg/skaffold/docker/client.go#L68-L70

This I could work around by changing the name of the default Minikube context to something like `local`. However, Skaffold would then attempt to push the image as it no longer thought the context was local.

[2019-03-12 09:30] paulohac commented on #1734
Still facing the same issue with the latest release 0.24.0

[2019-03-12 14:26] stfnsch commented on #1769
I had the same issue with the sync crashing and the current master branch build fixed it for me.
But I have the same issue as @dnmahendra. I can see a file which is synced from say "./src/app/test.js" is copied to "./test.js" in the working directory of the pod - the syncing currently does not respect the subdirectories.

[2019-03-12 14:35] stfnsch commented on #1769
I had the same issue with the sync crashing and the current master branch build fixed it for me.

But the sync process is not working correctly with subdirectories. I can see a file from say "./src/app/test.js" is copied to "./test.js" in the working directory of the pod. However, I expect the file to be placed within the exact same subdirectory.

[2019-03-12 17:34] rangelfinal commented on #1076
The Testers "How-to Guide" links to this issue: https://skaffold.dev/docs/how-tos/testers/
As this issue is currently closed, is there a open issue for this documentation?

[2019-03-12 17:35] priyawadhwa commented on #1769
@stfnsch sync patterns should match Docker COPY rules, so to copy a file into a specific subdirectory you'll have to specify it like this in the skaffold.yaml:

[code]

We recently found a bug in this & fixed it in the latest release, which may be why your files are being synced to unexpected (but, hopefully, now correct) locations.

[2019-03-12 17:47] stfnsch commented on #1769
@priyawadhwa Thanks for your answer. So, if I have a javascript application with say 10 subdirectories (src/app/module1/, src/app/module2/, src/app/module3/, ...), do I need to setup the sync pattern for each of these directories to have the files synced to correct locations?

[code]

Or is there a simpler way for this? What I don't like is that you have to add a sync pattern every time you create

[2019-03-12 17:52] priyawadhwa commented on #1769
@stfnsch unfortunately that's correct, you'll need a sync pattern for each module to sync to the correct location.

If you specify a relative path in the sync file, it will be preprended by the current working directory of the image to generate an absolute path. You could simplify the skaffold.yaml a bit by changing the working directory in the image to `/src/app` in the Dockerfile:

``` WORKINGDI

[2019-03-12 18:10] stfnsch commented on #1769
@priyawadhwa Thanks for clearing that up. I understand that this approach is required to match the rules of Docker COPY. However, I think this is not the best solution if you consider frameworks like Angular where we have one subdirectory for each component. Are there plans to include a more straightforward solution for syncing files which are spread over lots of subdirectories?

As a workaround I

[2019-03-12 18:13] stfnsch commented on #1769
@priyawadhwa Thanks for clearing that up. I understand that this approach is required to match the rules of Docker COPY. However, I think this is not the best solution if you consider frameworks like Angular where we have one subdirectory for each component. Are there plans to include a more straightforward solution for syncing files which are spread over lots of subdirectories?

[2019-03-12 22:08] tejal29 opened #1787 "Fix cache test to not rely on current context"
Skaffold Build Cache tests ```github.com/GoogleContainerTools/skaffold/pkg/skaffold/build/cache``` fails on master at or above **b0f4b0315aa947dd26e32e6bfdce294e18b0eecf** if kubeconfig context is set to minikube.

### Expected behavior
`go test  ./...` should pass irrespective of what the current context is set to in user's development environment

### Actual behavior
[code]

### Information

- S

[2019-03-12 23:09] tejal29 commented on #1738
Thanks @andsens. Someone from the team will pick it up once triaged.

[2019-03-13 13:44] akatsero commented on #1734
I'm encountering the same issue on 0.24.0.

[2019-03-13 16:39] balopat commented on #1135
Is there any work left here or can we close this?

[2019-03-13 16:40] dgageot commented on #1135
Let's close it

[2019-03-13 16:40] #1135 closed

[2019-03-13 16:40] etanshaul commented on #1135
yep. thanks for the help with this @balopat and @dgageot

[2019-03-13 16:41] redborian commented on #1135
For reference, the generated schema is located here: https://github.com/GoogleContainerTools/skaffold/tree/master/docs/content/en/schemas

[2019-03-13 16:55] #1787 closed

[2019-03-13 17:05] briandealwis commented on #1737
I think the code that's doing this is [`ManifestList`'s `SetLabels()`](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/kubectl/labels.go#L25), which is called from Kustomize:

https://github.com/GoogleContainerTools/skaffold/blob/163f2e893148b8e66be1ab503831f7d334799279/pkg/skaffold/deploy/kustomize.go#L133

This isn't the same as the labeller used in Helm.

[2019-03-13 17:21] balopat commented on #1173
@foodaka do you still see the HMR issue?

[2019-03-13 18:13] adrian-gl commented on #1734
same me :(

[2019-03-13 22:17] balopat commented on #1564
related to #1245

[2019-03-14 00:15] corneliusweig opened #1794 "test bug: Cache test depends on global config"
### Expected behavior
The test should be independent of any global configuration settings.

### Steps to reproduce the behavior
0. `git checkout master`
1. `skaffold config set local-cluster -k cluster1 true`
2. `go test github.com/GoogleContainerTools/skaffold/pkg/skaffold/build/cache`

[2019-03-14 00:17] sujit-kamireddy opened #1795 "Skaffold init --analyze should do the same validations as skaffold init."
### Expected behavior
When there are no valid DockerFile or kubernetes manifests in the directory, skaffold init --analyze should provide errors as skaffold init does.
Ex:
FATA[0000] one or more valid Dockerfiles must be present to run skaffold; please provide at least one Dockerfile and try again
FATA[0000] one or more valid kubernetes manifests is required to run skaffold

### Actual behavior
Sk

[2019-03-14 09:29] dgageot commented on #1794
This was fixed by #1788

[2019-03-14 09:29] #1794 closed

[2019-03-14 17:56] khobbits commented on #1663
Also recently upgraded (0.24.0) and have noticed that it doesn't seem to port forward any more.

[2019-03-14 21:03] etanshaul opened #1798 "Add portName to event api portEvent"
`portEvent`s from the Event API currently look like this:

[code]

In order for clients to distinguish between forwarded application ports vs forwarded debug ports, we should add portName to this event (which is prefixed with a debug identifier). This `debug` identifier will be added to the portName as part of the `skaffold debug` PR: https://github.com/GoogleContainerTools/skaffold/pull/1702

[2019-03-14 22:30] Place1 commented on #1262
This sounds related to #543

[2019-03-15 08:19] Torsten85 commented on #1769
@priyawadhwa so there is no way of syncing a complete path with folder structure? We work on very large projects with 50+ directories in `./src` and way more subdirectories inside. If something like `sync: 'src: 'src'` is not possible, we can't use skaffold any longer.

[2019-03-15 16:28] chanseokoh opened #1803 "Initialize Artifact.Workspace to "." by default in plugin case too"
For the plugin case, it's an empty string without `context: .`, failing a build: https://github.com/GoogleContainerTools/skaffold/pull/1792#discussion_r265727050

I'll put up a PR shortly.

[2019-03-15 17:19] #1803 closed

[2019-03-15 17:54] balopat opened #1805 "release v0.25.0"

[2019-03-15 19:05] hakimlilo opened #1806 "helm timeout flag not working on install"
### Expected behavior
success (should install within the timeout)
### Actual behavior
[code]

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]
[code]
### Steps to reproduce the behavior

1. composed the skaffold file

2. ran : ```skaffold dev -v debug```

[2019-03-15 19:22] michaelfig opened #1807 "How to sync subtrees in 0.25.0?"
### Expected behavior

I want to sync subtrees like:

[code]

In 0.23.0, I could accomplish this simply with:

[code]

### Actual behavior

0.25.0 (and 0.24.0) strips all path information from the destination files, so they all get collapsed and synced directly to `/usr/src/app/` (and not subdirectories of it).  This is due to PR #1709.

I would argue that PR #1709 broke working use-cases, because

[2019-03-15 20:54] #1585 closed

[2019-03-15 22:08] cpoole commented on #1749
I'm pretty sure the issue comes from the combo of minikube and the local docker CLI.

In local docker CLI mode the image does not get built by the daemon in minikube and therefore does not exist in that daemon's context. And since the kubecontext is minikube it automatically does not push it to a registry

So there are two workarounds:
- add push:true to the config and push the image to a registry

[2019-03-15 22:20] davidarich commented on #1807
Loving Skaffold so far, but ran into this same issue. For my current project, I had to generate 64 lines of sync rules. Unfortunately the need to manage a large list of sync rules doesn't seem like a maintainable solution for my team. We're using PHP and in most cases sync is preferred over an image rebuild, simply due to speed. I suspect other users working with interpreted languages may have a s

[2019-03-15 23:12] g-harel commented on #1170
I've just opened a [draft PR for this issue](https://github.com/GoogleContainerTools/skaffold/pull/1811). I still need to run/write some tests, but I'd love some early feedback on the approach.

[2019-03-16 01:17] TheSabby commented on #1807
This issue seems like it was fixed: #1722

Update to skaffold v0.25.0 and try again.

[2019-03-16 01:32] michaelfig commented on #1807
@TheSabby 0.25.0 has the same issue.  #1722 was for an unrelated fix, only causing problems when `WORKDIR` was specified.  I've edited this issue to specify 0.25.0.

[2019-03-16 12:12] corneliusweig commented on #1807
@michaelfig Would #1812 solve your issue too?

[2019-03-16 13:05] corneliusweig commented on #1564
@martinhoefling I'm not so sure that a configuration for port forwarding is viable. After all, the skaffold pipeline config defines artifacts which may have many replicas. IMHO port assignment should happen automatically.

However, I'm all for disabling the surprising port forwarding by default. I also like the idea to forward services, because it opens other possibilities for debugging. Maybe we

[2019-03-16 13:14] corneliusweig commented on #1706
Should be fixed by #1568

[2019-03-16 13:29] corneliusweig commented on #1639
@r2d4 Do you really think combining copy & delete (step3) would achieve much? It would not be trivial to combine both, because copy needs to read the tar from stdin, whereas delete does not. Probably not worth the complexity..

[2019-03-16 13:47] corneliusweig commented on #1558
@chenlein Can you check again with a more recent version of skaffold?

[2019-03-16 13:48] corneliusweig opened #1814 "Sync does not work in containers without the tar command"
### Expected behavior
Changed files are synced to the container. The example below does not make much sense, but it does also affect distroless containers.

### Actual behavior
Sync fails with
[code]

### Information

- Skaffold version: >0.24

### Steps to reproduce the behavior
Based on the examples/getting-started example
1. Modify Dockerfile to
[code]
2. Modify skaffold.yaml
[code]
3. `skaffol

[2019-03-16 13:55] corneliusweig commented on #1814
A way out is obviously to offer a fallback from the tar-optimized copy to a single-file copy. I would like to fix this, and I can think of two options:
1. try an opportunistic tar-sync. If that fails, change the syncer from to single-file for the rest of this skaffold session. This has the advantage of not adding yet another configuration option which users don't really want to bother about. On th

[2019-03-16 14:26] michaelfig commented on #1807
@corneliusweig The #1812 PR is a terrific idea!  I have to test it in my environment, but will do that and if it works for me, close the #1813 PR.

Looking forward to comments from the code owners.

[2019-03-16 16:30] michaelfig commented on #1807
Having reviewed #1812, I think it's a good direction, but too much of a breaking change (ditching sync maps entirely).  I still propose #1813 as a more incremental approach.

[2019-03-17 10:51] corneliusweig commented on #1814
So I just tried the fallback version but it will not work, because `kubectl cp` also builds a tar :roll_eyes:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/cp/cp.go#L245

I also had a look at the distroless images from https://github.com/GoogleContainerTools/distroless/ and it looks like they do not package any executable like `cat` or `tar` (that's what they are made for, a

[2019-03-18 01:28] jiraguha opened #1815 "with skaffold dev, the forwarded ports change on the code changes"
Hi,

Adopting skaffold dev for java dev, I am experiencing an issue similar to  #1594

Each time I make a change in my java code, all ports that are forwarded are incremented by 1.

### Information

- Skaffold version: v0.25.0
- Operating system: Mac OS X 10.14.3 x86_64
- Contents of skaffold.yaml:

[code]
### Steps to reproduce the behavior

- When I run `skaffold dev`, I have: 8081 -> 8081
- On

[2019-03-18 13:02] dgageot opened #1819 "Cache check output is sometimes mingled"
Quite rare but the codebase clearly runs check in parallel without synchronising the output:

[code]

[2019-03-18 14:29] hakimlilo commented on #1806
I added the '=' operator in [--timeout=1800] in both arguments and it worked

[2019-03-18 14:44] corneliusweig commented on #1814
Looks like this is completely blocked until `kubectl` implements a fallback that works without `tar` in the container.

[2019-03-18 16:05] r2d4 commented on #1639
Agreed @corneliusweig

[2019-03-18 16:05] #1639 closed

[2019-03-18 17:54] priyawadhwa commented on #1805
Done!

[2019-03-18 17:54] #1805 closed

[2019-03-18 17:55] priyawadhwa commented on #1806
@hakimlilo glad you were able to get this to work! I'm going to go ahead and close this issue, please comment or open another if you run into any more problems.

[2019-03-18 17:55] #1806 closed

[2019-03-18 18:31] dgageot opened #1822 "https://skaffold.dev/docs/references/yaml/ is broken on safari"
The page refuses to load 9 times out of 10. Used to work...

[2019-03-18 19:57] dgageot commented on #1307
See failing integration test: https://source.cloud.google.com/results/invocations/aea79c06-1e63-44e8-a0bd-4363aa61d39a/targets/runtimes-common%2Fskaffold%2Fpresubmit/log

[2019-03-18 20:13] priyawadhwa commented on #1307
I'm wondering if this could be related to this bug in kaniko --

https://github.com/GoogleContainerTools/kaniko/issues/613

If so, it could potentially be fixed by changing the base image to `golang:1.10`

[2019-03-18 20:15] dgageot commented on #1307
Which base image?

Le lun. 18 mars 2019 à 21:13, priyawadhwa <notifications@github.com> a
écrit :

[2019-03-18 20:21] priyawadhwa commented on #1307
Actually I made a mistake, nevermind!  From the logs above I thought kaniko was building upon `gcr.io/google-appengine/golang`, but it looks like in our integration tests the [Dockerfile](https://github.com/GoogleContainerTools/skaffold/blob/master/integration/examples/kaniko/Dockerfile#L1) actually pulls `golang:1.10.1-alpine3.7`

[2019-03-18 21:24] balopat opened #1823 "helm integration tests flake"
Sometimes helm release `skaffold-helm` stays in the cluster breaking subsequent integration tests as helm release names have to be globally unique regardless of namespace (see [design reason for this](https://github.com/helm/helm/issues/2060#issuecomment-287164881)).

As @tejal29 recommended, we should create a separate release name for each test - which can be achieved by leaving the release name

[2019-03-18 21:58] #1691 closed

[2019-03-18 22:32] tejal29 commented on #1704
@briandealwis were you able to give this try?

[2019-03-18 22:58] #1795 closed

[2019-03-19 03:18] siddhardhan commented on #1296
Similar use case as reported above - but I am using kaniko to build the image on minikube and then trying to run container structure test cases. It is failing with below errors:

==================================
====== Test file: test.yaml ======
==================================
=== RUN: Root
--- FAIL
Error: error setting env vars: Error creating container: no such image

=== RUN: app
--- FAIL

[2019-03-19 06:17] #1819 closed

[2019-03-19 14:06] williamlord commented on #1353
I think this has regressed after v0.21.0.

[2019-03-19 17:34] #1822 closed

[2019-03-19 19:53] #1807 closed

[2019-03-19 22:28] priyawadhwa commented on #1597
Hey @khrisrichardson, thanks for pointing out this bug! We recently deprecated the flags section of kaniko, instead opting to have flags as explicit fields in the kaniko type.

So, we'd want to add
[code]

to the [KanikoArtifact](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/latest/config.go#L555) type, and append the flag as an argument to kaniko [here](https://

[2019-03-19 22:29] nkubala commented on #1589
hey @albertkang, thanks for the issue. I want to try and reproduce this issue, but before I do could you tell me what the quota is set to on your project? navigate to `console.cloud.google.com`, go to the `IAM -> Quotas` page, check out the Cloud Build API section and find `Build and Operation Get requests`. since the quota you're hitting is on a per minute (not per second) basis I suspect you mig

[2019-03-19 22:36] balopat commented on #1615
Thanks for filing this, this should definitely be working - PRs are welcome!
It is odd that `run` works and `dev` doesn't. I want to understand that first :)

[2019-03-19 22:38] balopat commented on #1619
Hi @rahulwa can you provide more information about your use case?

[2019-03-19 22:38] priyawadhwa commented on #1815
Hey @jiraguha could you provide more information regarding your project (the contents of your k8s yamls would be helpful), or more specifically are pods recreated upon every code change?

We recently updated the port forward [key](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kubernetes/port_forward.go#L244) to include pod name, so if a pod is being recreated upon every

[2019-03-19 22:40] balopat commented on #1640
#1627 closed this. Please reopen if you see issues with it.

[2019-03-19 22:40] #1640 closed

[2019-03-19 22:47] balopat commented on #1643
Hi,

1. can you please describe your current directory structure?
2. can you try with `skaffold run` (we have another bug that might be related)
3. the best would be if you could provide a simple repro via a github repo? That would help us a lot!

Thanks

[2019-03-19 22:47] priyawadhwa commented on #731
For this to work, we could add a `PullSecretMountPath` field to [ClusterDetails](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/latest/config.go#L238), and then mount in that path in the generated pod [here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/kaniko/sources/sources.go#L73).

Would anyone be interested in submitting a PR

[2019-03-19 22:48] nkubala commented on #1615
this is an issue with skaffold starting the file watcher in `dev` mode but not in `run` mode. it attempts to use the chart path as an actual path on the host filesystem when computing the dependencies, which fails. since skaffold won't be able to tell if a provided chart path is remote or not, we can fix this by adding a simple `remote: true` flag in the skaffold.yaml.

[2019-03-19 22:52] balopat opened #1836 "Seemingly we are not validating colliding "oneOf" fields under artifact"
Based on #1649  - there is an example that does not fail with the following:

[code]

where jibMaven and docker should never be able to coexist on the same artifact.

[2019-03-19 22:59] balopat commented on #1649
1. First note: See #1836 - it is a bit confusing that you have both docker and jibMaven specified. It looks like you are building based on a Dockerfile (jib does not need a Dockerfile!).
2. can you upgrade to v0.25.0 and see if it is better?
3. we need a bit more information on this to be able to reproduce - a sample code in a github repo would be very useful

[2019-03-19 23:00] nkubala commented on #1665
@soullivaneuh thanks for the issue, and sorry we didn't get around to responding before you opened a PR. my issue with your second design (specifying the repositories on the deploy level) is that skaffold won't know for a given chart which repository it lives in, so it will be forced to check each one and hope that it gets a hit. these should be specified on the release level, and skaffold will ha

[2019-03-19 23:36] corneliusweig opened #1837 "Sync: subtree sync needs documentation"
### Information
PR #1813 introduced the triple-star syntax for the sync map:
[code]
Its purpose is to recreate the directory structure under foo at the destination (see also #1807).

This feature needs some documentation. But where should it be documented?

**EDIT** The syntax may be changed. See #1844 and #1847.

[2019-03-20 03:44] rahulwa commented on #1619
I want to use same dockerfile for different environments (staging, production) [this case is easily handled through  skaffold profiles] and some variables are even different in same environment(like some base links in reacts assets, even though react supports these variables through environment, I cannot pass it through dockerfile because skaffold doesn’t handle it). Hope it makes sense.

Anyway i

[2019-03-20 06:50] tejal29 opened #1839 "Fix skaffold build output templating"
While reproducing #922 i discovered "--output" flag does not work as documented.

### Expected behavior
`skaffold build -o` should work as documented.
### Actual behavior
Running `skaffold build -o` does not work without `--quiet` flag present.
The help does not mention this.

The help also mentions,
[code]
The default value is incorrect. it should be `{{range .Builds}}{{.ImageName}} -> {{.Tag}}{{

[2019-03-20 06:54] tejal29 commented on #1839
Another observation, after giving the right command and template,
[code]
We see the "Completed in *"  line written to the output which is incorrect.
If we want to pipe this file to `skaffold deploy`  this line should go away.

[2019-03-20 06:58] tejal29 commented on #922
My Implementation plan right now is
1. First fix `skaffold build --output` so that we can write the produced build artifact.
2. Support `skaffold deploy` to consume this output
3. Finally add support for git tagger or env tagger for `skaffold build` to tag images built.

[2019-03-20 09:53] stephentt-me opened #1842 "strconv.Atoi parsing "11+" invalid syntax"
# Reproduce step

After run:
[code]
Output:
[code]
Action still execute successful as normal.

My `kubectl version` output:
[code]

`kubectl` installed by `gcloud`

- Skaffold version: `v0.25.0`
- Operating system: `Arch Linux 4.19.29-1-lts`

# Expect

I don't know is this normal or an exception not being catch? So I just report here.

[2019-03-20 12:00] pepjo commented on #922
Is this issue linked to this one: https://github.com/GoogleContainerTools/skaffold/issues/1352 ?

[2019-03-20 12:34] soullivaneuh commented on #1665
Thanks for the answer.

I don't think is true as the repository is targeted by the first work of the path name like `gitlab/gitlab` which the first target the `gitlab` repository key.

I am right?

[2019-03-20 17:59] #1842 closed

[2019-03-20 19:00] tejal29 commented on #1352
hmm i can add this as another task to verify when fixing #922

[2019-03-20 19:58] tejal29 commented on #922
So with the changes as described [above](https://github.com/GoogleContainerTools/skaffold/issues/922#issuecomment-474710200) this is how the workflow will look like
1. First run skaffold build
[code]

( Note: untill we support git tagger or env tagger artifacts listed in build.out with be digest based)
2. Now deploy
[code]
Note: `--build-artifacts` is a new flag to skaffold deploy.

@dgageot  and

[2019-03-21 01:24] balopat opened #1849 "locally on Mac the TestGetStateHTTP and TestGetStateRPC are failing"
`REMOTE_INTEGRATION=false go test -v github.com/GoogleContainerTools/skaffold/integration -timeout 15m -run TestGetStateHTTP`

results in

[code]

while it passes on kokoro...weird.

[2019-03-21 01:41] balopat commented on #1837
well - the best place would be https://skaffold.dev/docs/how-tos/filesync/ but it's lacking a bit of documentation still :)

[2019-03-21 01:43] balopat commented on #1837
Also, I'm not fully convinced about triple star just yet...it's so non-standard...not that globs have any kind of standard (especially with docker's lack of ability to do preserved subtrees https://github.com/moby/moby/issues/15858), but I feel like we are adding to the confusion with triple star.

[2019-03-21 05:49] jasonwc commented on #1734
Just ran into the same thing on edge:

[code]

[code]

[2019-03-21 06:17] #1173 closed

[2019-03-21 08:59] corneliusweig commented on #1837
Should be put on hold until #1844 is settled.

[2019-03-21 10:47] tjerkw commented on #1663
I can confirm this, port forwarding is broken in skaffold version v0.25.0

[2019-03-21 12:45] NicklasWallgren opened #1851 "Profile patching - Invalid memory address or nil pointer dereference"
Running `skaffold deploy -p <profile>` throws a SIGSEGV error without giving a clue on what has caused it.

Configuration errors should be expected and handled gracefully.

### Expected behavior
An informative error output, ideally pointing to the line that has caused the error, if any.

### Actual behavior
skaffold deploy -p dev

[code]

### Information

- Skaffold version: 0.25
- MacOS
- Content

[2019-03-21 14:45] Rio commented on #1815
I just started using skaffold yesterday and I'm running into the same issue.
Here is my deployment and service as spit out by kustomize, nothing fancy:
[code]

[2019-03-21 14:50] Rio commented on #1815
For completeness skaffold.yaml:
[code]

[2019-03-21 14:53] pebcakerror opened #1852 "Nodejs Skaffold local development to prod process"
https://github.com/GoogleContainerTools/skaffold/blob/e8ba04530b9849bacc40539c00688f4a6da6bacd/examples/nodejs/backend/package.json#L7

https://github.com/GoogleContainerTools/skaffold/blob/e8ba04530b9849bacc40539c00688f4a6da6bacd/examples/nodejs/backend/Dockerfile#L5

The Dockerfile appears to run the app with nodemon to achieve the live reloading . Wouldn't this same container be used in prod? W

[2019-03-21 18:26] nkubala opened #1853 "Health check from plugin RPC servers to skaffold main process"
ref https://github.com/GoogleContainerTools/skaffold/pull/1848

We should implement some sort of heartbeat/health check from the skaffold plugin RPC servers, so that in the event that the skaffold main process dies unexpectedly, the plugin servers can know to shut themselves down and avoid having abandoned processes on the host.

[2019-03-21 18:27] nkubala commented on #1853
whoops, didn't know we already had an issue for this: https://github.com/GoogleContainerTools/skaffold/issues/1689

closing as dupe

[2019-03-21 18:27] #1853 closed

[2019-03-21 19:22] nkubala opened #1854 "Event API v2"
This is a design proposal for a redesign of the skaffold event API. The goal here is to retain 100% of the functionality that already exists in skaffold, while make the code significantly cleaner and easier to maintain.

Currently there are two major pain points with the event API:
1) calling code is clunky, ugly, and not very portable
2) event handler is racey and generally not concurrency-friend

[2019-03-21 20:21] tejal29 commented on #1837
@balopat dont' worry @corneliusweig  is taking that in to consideration in the design proposal something we can discuss later.

[2019-03-21 20:21] tejal29 commented on #1837
Sorry, closed by accident

[2019-03-21 20:31] Miouge1 commented on #1184
A `helm get values myrelease` shows that the `image.repository` and `image.tag` values are not passed when `imageStrategy` is set `helm: {}`

[2019-03-21 20:33] balopat opened #1856 "Logging issue with plugins"
After merging #1848 I found that there are issues at Ctrl+C time:

[code]

I'll dig into this soon:

1. we should tie the log level on the client and the server side to the `-v` level
2. have to understand the order of events more - this looks like a premature socket closure that shouldn't happen

[2019-03-21 20:50] briandealwis commented on #1704
I realized I had my thinking inverted on this: sync only makes sense for files that *don't* require any transformation.  As the user can configure arbitrary plugins to copy and process files, our builders can't really know what files are suited to be sync'd: only the user can know.

So I think the existing sync map is as good as it gets for the Jib cases.

[2019-03-21 21:02] #1732 closed

[2019-03-21 23:38] sujit-kamireddy opened #1859 "Provide an api to get the supported build and deploy types"
As the build type for the default profile defaults to local when no build types are specified, it is hard to figure out whether the build type is local or if a new build type is added.

Ex: Lets say in the future, a new build type 'abc' is introduced along with local, googleCloudBuild and kaniko. How do we figure out if the build type is abc or its defaulted to local?
build:
   abc: {}

Can we hav

[2019-03-22 01:42] balopat commented on #1859
interesting idea - wouldn't the schemas help? do we really need to implement an API for this?

[2019-03-22 05:50] #1798 closed

[2019-03-22 06:54] chenlein commented on #1558
@corneliusweig Yes, this issue has been fixed. I checked with v0.25.0 Release, it works good, thank you!

[2019-03-22 06:54] #1558 closed

[2019-03-22 08:57] dgageot opened #1862 "Env variables are missing in CLI reference doc"
This page used toi show env variables for each flag.

[2019-03-22 09:31] dgageot commented on #1851
Hi @NicklasWallgren, thank you for reporting that issue. I'm going to fix it.
For the record, it comes from paths with a trailing slash, like in `path: /build/artifacts/0/image/`.
Since you want to change the image name, it should be `path: /build/artifacts/0/image`

[2019-03-22 09:33] dgageot commented on #1767
This one hasn't failed in a long time

[2019-03-22 09:33] #1767 closed

[2019-03-22 09:45] dgageot commented on #1784
This one hasn't failed in a long time

[2019-03-22 09:45] #1784 closed

[2019-03-22 09:47] dgageot commented on #441
I'm going to close this one because all of them are covered (except skaffold completion that I'll cover with unit tests)

[2019-03-22 09:47] #441 closed

[2019-03-22 13:23] reste85 commented on #502
Also in the v0.25.0

[2019-03-22 17:33] balopat opened #1867 "go 1.12.1 issue on mac/Travis timeout"
This is impacting almost every PR.
For example: https://travis-ci.org/GoogleContainerTools/skaffold/jobs/509855275#L53

[code]

[2019-03-22 17:41] #1851 closed

[2019-03-22 20:24] tjk commented on #1649
2) At v0.25, it just shows that it is an auth error (in `remoteImage` looks like?) better:

[code]

[2019-03-22 23:42] balopat commented on #1867
after some epic testing - I excluded the red herring: it is NOT the notify library that's causing the issue but something in the pollTrigger:

https://travis-ci.org/GoogleContainerTools/skaffold/builds/510160792

[code]

[2019-03-23 00:31] balopat commented on #1867
It seems a timeout is 2 minutes because it is the -timeout=60s + 1minute from here: https://github.com/golang/go/blob/release-branch.go1.12/src/cmd/go/internal/test/test.go#L544-L549

[2019-03-23 00:45] #1867 closed

[2019-03-23 01:42] lsowen commented on #1594
This behaviour seems to be happening again in `v0.25.0`.

[2019-03-23 05:58] #1862 closed

[2019-03-23 06:18] paultiplady opened #1872 "[feature request] multiple Kustomizations"
Some kustomize workflows may involve multiple kustomizations, e.g. as suggested in https://github.com/kubernetes-sigs/kustomize/issues/168, having one kustomization for a db migration, followed by another for the main deploy.

More generally, since it's supported to have multiple helm releases in the helm deployer, by analogy it seems we should support a list of kustomizations in the kustomize dep

[2019-03-23 06:19] paultiplady commented on #1872
I'm imagining something like

[code]

[2019-03-23 18:49] g-harel commented on #1170
@dgageot I believe this issue can be closed after #1811

[2019-03-24 07:07] dgageot commented on #1170
Thank you!

[2019-03-24 07:07] #1170 closed

[2019-03-24 10:20] bhack commented on #1076
For filesync is it documented if it is possible to use with `NoDockerfile` https://github.com/GoogleContainerTools/skaffold/issues/1396?

[2019-03-25 06:54] sujit-kamireddy commented on #1859
I think the problem will persist with the schemas as well. How can we differentiate between a build type such as local, googleCloudBuild, abc (a new build type) vs some property on build by looking at the schema?

[2019-03-25 15:57] briandealwis opened #1876 "Maven multimodule projects should not require pom changes to switch between minikube and a remote cluster"
Building `examples/jib-multimodule` fails out of the box when using Minikube:
[code]

Unlike single-module projects, the Skaffold-Jib support for Maven multimode projects requires that each module be bound to an appropriate Jib build goal in the `package` phase.  But the appropriate Jib build goal depends on whether Skaffold is building images directly to a local docker daemon for _local_ clusters

[2019-03-25 16:15] NicklasWallgren commented on #1851
@dgageot Great, thanks.

[2019-03-25 17:17] casret commented on #1852
We use the kustomize deployer, and override the CMD to use nodemon in our development overlay.

[2019-03-25 22:16] jiraguha commented on #1815
Hi @priyawadhwa,

You can find all my project and the k8s [here](https://github.com/jiraguha/color-service). You will see, basically, It's something I have generated with kompose.

Yes the pods are recreated:
[code]
Yes maybe, the pod name should not be in the key as with java every everything is rebuilt.

Br,
JP

[2019-03-25 23:51] balopat commented on #1740
`allow caching to work with remote builds (gcb, in-cluster via kaniko)` + jib - jib currently always rebuilds:

[code]

[2019-03-26 00:54] sujit-kamireddy commented on #1859
I find the buildType property in the schema can be used for this purpose. Thanks.

[2019-03-26 00:54] #1859 closed

[2019-03-26 01:05] wstrange commented on #528
More generally - it would be nice to be able to run multiple deployers from the same skaffold.

In my case, I want to run both helm and kustomize deployers

[2019-03-26 07:41] pulse14 commented on #1837
Is there a way to do sync subtrees with v0.25.0 ?

[2019-03-26 11:04] corneliusweig commented on #1837
@pulse14 Yes, as of v0.25.0 you can do for example
[code]
This will sync all py-files below `src` and recreate the folder structure _below_ `src` at `dest`. The syntax might change in future.

[2019-03-26 13:48] pepjo commented on #922
I am trying to understand the need for this when trying to deploy with an image that has already been built:
[code]

Our current planned use case is:
1. If someone triggers a pull request `skaffold build` should be triggered in CI (creating and pushing an image with the git commit as the tag)
2. When the pull request is merged CI would run `skaffold deploy` to deploy the image that we already crea

[2019-03-26 14:13] briandealwis opened #1877 "`debug` should support Kustomize deployer"
Follow-on work from #1702

[2019-03-26 15:54] 747823 commented on #1837
@corneliusweig That syntax does not work for me in v0.25.0, the files are all copied to the root of the dest folder without the folder structure preserved. Is there a separate issue open for this?

[2019-03-26 15:54] pulse14 commented on #1837
I agree. I have `'packages/server/***/*.js': ./`. The container workdir is `/app/packages/server/`.
When I edit `packages/server/src/index.js` it syncs it to `/app/packages/server/index.js`.
When I edit `packages/server/src/somefolder/somefile.js` it triggers a rebuild.

[2019-03-26 16:07] 747823 commented on #1837
@pulse14 @corneliusweig Nevermind, I see that the pull request to add `***` was only merged after v0.25.0 was released. Maybe update your comment to say that you will be able to do that in the next release.

[2019-03-26 17:33] #1839 closed

[2019-03-26 20:09] tejal29 commented on #922
The first thing we are going to address is deploy should be able to consume build output and its easier if we first implement a `build.out` based approach.

@pepjo we mention your use case in follow up ideas where `skaffold deploy` can infer tags from git or an env variable.

[2019-03-26 20:15] pepjo commented on #922
Thanks, I did not see that particular part of the comment. Thanks for the answer.

[2019-03-26 20:25] corneliusweig commented on #1837
@747823 :man_facepalming: you are right, sorry for that confusion!

[2019-03-26 20:43] corneliusweig commented on #1872
@paultiplady https://github.com/kubernetes-sigs/kustomize/issues/168 talks about running kustomize twice with different `kustomization.yaml`. If there are two kustomizations in one deployer, how should Skaffold know which of the two kustomizations should be applied? If the answer is "both", why not have one kustomization including the others?
As far as I understand your problem, I think the right

[2019-03-26 21:06] #1346 closed

[2019-03-26 21:21] nkubala commented on #1849
this should be fixed by https://github.com/GoogleContainerTools/skaffold/pull/1860

[2019-03-26 21:30] tejal29 opened #1880 "[Idea] Track retries/sleep in skaffold integration tests."
In PR for fixing flakes, i saw we increased the [number of retries](https://github.com/GoogleContainerTools/skaffold/pull/1860/files/cf948314638783119949d448bd5ead6596b22143#r268897376).
Retries are great, but sometimes they mask unstable code.
We should try and collect metrics when such re-tries happen or increased sleep. It could be a good way to understand code unstability.

[2019-03-26 22:28] corneliusweig commented on #1854
Sounds much cleaner, but it is not completely equivalent. For example, artifact build currently also emits an `InProgress` event just before starting a build. In your new approach, this will no longer be possible, because events are emitted in the caller once all builds are complete. Therefore: has the `InProgress` event a relevant use-case?

[2019-03-26 22:57] balopat commented on #1753
Thank you for opening this!

`skaffold run` builds the image and generates a long tag including digest.
Currently `skaffold deploy` works a bit weird as it builds the image as well if you don't pass in `--image`. If you pass in `--image` that is used as a pod selector - so if this selector matches multiple pods skaffold will tail logs from both pods.

Question: what is the exact command you are ru

[2019-03-26 23:21] nkubala commented on #1749
@cpoole yep you're on it. I think the real fix is for skaffold to figure out if we're running against minikube, and if we are to pull in the minikube docker env and stick that onto the CLI calls we make. this shouldn't be too difficult of a change, if anyone in this thread is interested in sending a PR :)

[2019-03-26 23:28] cpoole commented on #1749
@nkubala I'm interested in submitting a PR. I looked over this the other week. But the issue I came to is that the docker daemon in 18.06 does not support buildkit unless the `--experimental` flag is enabled

I ended up forking minikube and installing 18.09 https://github.com/kubernetes/minikube/blob/7e6c68811654e0b2482b12fb6a700998e94f835d/deploy/iso/minikube-iso/package/docker-bin/docker-bin.mk#

[2019-03-26 23:29] nkubala commented on #1766
this will actually require that we add a sync "blacklist" to the config.
[code]

we've been debating whether or not it makes sense to allow syncing `**/*` though, since this could potentially allow users to accidentally sync source files and bypass the watcher. we'll also need to figure out how this will interact with inferring sync maps from the dockerfile, if we go that route.

[2019-03-26 23:30] corneliusweig commented on #1836
I'd like to take this on.

[2019-03-26 23:35] nkubala commented on #1749
mmm yeah these are two separate issues I think. even if you had 18.09 installed in minikube, it still wouldn't work with skaffold because of the way we're calling docker in buildkit mode. I think there's an issue with 18.09 in minikube which is why it's not installed, @balopat might have more info. as far as buildkit over a remote daemon goes, I have no idea :)

for now, if you want to fix the iss

[2019-03-26 23:49] cpoole commented on #1749
ok, I'll take a stab at fixing on the skaffold side. I'll integration test locally with my own minikube iso

[2019-03-27 04:15] cliffburdick commented on #1753
Hi @balopat, the --image tag is just the name of my image, which is something like my.domain.com/project:b4fdee where b4fdee is just a randomly-generated value we gave it when creating the image. Are you suggesting I should tag the image with another value before launching, even though it's the same image? Or is there a different way to tail besides the image name?

[2019-03-27 13:20] corneliusweig commented on #1771
This sounds more like an EKS configuration issue, than a problem in Skaffold. Besides, could you provide some debug log output?

[2019-03-27 13:24] corneliusweig commented on #1769
@Torsten85 Subtree sync is already in the current master, also see #1837 for details.

[2019-03-27 13:31] corneliusweig commented on #1766
@nkubala Bypassing the watcher should not happen with the current implementation. The sync map pattern is only matched against events coming from the watcher. However, excludes is a good point. I think I'll add this as an open question to the sync design proposal.

[2019-03-27 14:06] romil-punetha commented on #1771
The output log is that the yarn install on my jenkins job fails to fetch files from the repository due to connectivity issue. I tried `apt-get update` inside the docker container and that failed for the same reason. I used `docker build --network` and everything worked fine.
I'm using jenkins-x and the build happens in containers. However, the build containers mount the docker.sock from the instan

[2019-03-27 14:13] corneliusweig commented on #1771
Have you tried adjusting the mtu inside your containers? Using a too large mtu can lead to black-hole connections, if ICMP mtu discovery is blocked.

[2019-03-27 16:19] tdickman opened #1884 "sha256 tagpolicy uses `latest` as tag"
### Expected behavior
Image is tagged with sha256 hash causing the deployment to create new pods when changes are made.

### Actual behavior
Image is tagged with `latest`, so new pods are not created when changes occur.

### Information

- Skaffold version: v0.25.0
- Operating system: ubuntu
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Create a project that uses he

[2019-03-27 18:41] #1762 closed

[2019-03-27 19:17] balopat commented on #1649
Are you on windows using wincred?
(trying to figure out if it's related to
https://github.com/GoogleContainerTools/skaffold/issues/1160#issuecomment-465253686)

[2019-03-27 19:17] balopat commented on #1649
Ah ignore me - I see you are on  Fedora Core 29

[2019-03-27 21:10] briandealwis commented on #1876
The following does work for a multimodule project with a dependency
[code]

The downside is that it does install built artifacts into the local repository.  But that shouldn't be a big deal for local builds.

[2019-03-27 21:39] corneliusweig commented on #1884
While it is odd that the image is tagged as `latest`, there must be a misunderstanding about `skaffold run`.
The `run` command builds, tests, and deploys, then exits. There is no file watching. On the other hand, the `dev` command, watches for file changes and re-deploys. Can you try if this solves your problem?

[2019-03-27 21:55] tdickman commented on #1884
Sorry if the OP was confusing. I tried using both the `dev` and `run` commands. The OP was specifically speaking about the workflow:

* Run `skaffold run`
* Make code changes
* Run `skaffold run` again

When I do this, the second `skaffold run` doesn't trigger new pods to be created since the deployment has the same docker tag (`latest`). Another user on slack mentioned running into the same issue

[2019-03-27 23:01] balopat opened #1887 "release v0.26.0"

[2019-03-27 23:05] #1887 closed

[2019-03-28 02:08] thangbn opened #1889 "Get generated image tag value from build command to use in deploy command"
I'm using helm with skaffold for development. My skaffold config:
[code]
my **values-dev.yaml**
[code]
How to I inject generated tag value based on timestamp policy into **values-dev.yaml** when i do **skaffold deploy**:

[2019-03-28 10:40] bhack commented on #1396
Any news about this?

[2019-03-28 12:00] bhack commented on #1137
Check also https://github.com/ernoaapa/kubectl-warp

[2019-03-28 12:14] bhack commented on #1137
See also upstream https://github.com/kubernetes/kubectl/issues/551

[2019-03-28 16:46] bartdeboer opened #1890 "Add 'skaffold watch' command"
It would be nice if we could run the build and watcher separately ('skaffold dev' but without the build step using a previously built image). This would also allow for custom deploy scripts before hooking the watcher into it:

[code]

[2019-03-28 22:19] corneliusweig commented on #1884
So I just tried this, but I cannot reproduce the bug. Unfortunately, the current helm examples are not very useful to try this out, but could you give #1891 a try?
Take the updated _helm-deployment_ example, do `skaffold run`, make some code changes to the static assets, and run `skaffold run` again. For me, the second `run` _does_ deploy updated containers. Can you confirm that?

Note: to check o

[2019-03-28 23:53] corneliusweig commented on #1889
Have a look at the [helm-deployment](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/helm-deployment) example.

In other words, you are missing the `image` in your helm `releases` spec:

[code]

[2019-03-29 00:51] thangbn commented on #1889
ok thanks

[2019-03-29 00:51] #1889 closed

[2019-03-29 09:30] venkatk-25 opened #1892 "Generalizing Container Registry config for Cluster builds( Kaniko )"
This proposal is to generalize the Registry configuration for kaniko pod, so that in future registries supported by kaniko can be supported seamlessly.

## Current Scenario:
Kaniko supports 2 types of registries GCR and Docker, with former being mandatory always.
The implementation itself is repository specific and not extensible as we need to keep adding more logic for every new type of repositor

[2019-03-29 10:09] venkatk-25 commented on #1892
@balopat @tejal29 @priyawadhwa
Taking a stab at combining 2 existing PRs and my other requirement of having to configure proxy support in kaniko pod.
https://github.com/GoogleContainerTools/skaffold/pull/1728 by me
https://github.com/GoogleContainerTools/skaffold/pull/1700 by @azaiter

[2019-03-29 12:07] azaiter commented on #1892
Thank you @venkatk-25 for opening this proposal up. I think this scheme would be sufficient to cover all major registries that I can think of. It looks like for the sake of simplicity, you've used a string map for environment variables declaration. What about using an array of [v1 EnvVar type](https://github.com/GoogleCloudPlatform/freshpod/blob/master/vendor/k8s.io/api/core/v1/types.go#L1693)? Th

[2019-03-29 12:15] sniederm opened #1893 "Feature request: Allow absolute paths for dockerfile parameter"
When specifying the `dockerfile` parameter in skaffold.yaml, this path seems to be always relative to the Docker build context, even if it starts with `/`. This is how I understand the docs:
https://skaffold.dev/docs/references/yaml/

Also a short test showed me that is working like this.

But the official -f flag from Docker - which has the same functionality - isn't relative to the Docker build

[2019-03-29 14:06] corneliusweig commented on #1893
You are right, the dockerfile needs to be inside the context right now. This is mainly because the docker context needs to be tar'ed and be sent to the builders (which may be in the cloud and not local). Allowing absolute dockerfiles will be intricate. Is there an important use-case you need to address with that?

Btw, the Skaffold code is not fully consistent. For example, when parsing dockerfile

[2019-03-29 14:18] sniederm commented on #1893
Right now, I have all of my Dockerfiles outside of the build context in a central "build" folder. So I have to write a workarround to copy them first into each build context and then build.

Nothing big, but effort. Makes it a bit more complicated for me than building with Docker directly. I would love to build always using Skaffold :-)

[2019-03-29 15:33] quentusrex commented on #948
@nathkn Any chance to clarify a bit further the approach that worked for you?

[2019-03-30 04:44] Hudsonzp opened #1896 "Skaffold doesn't display changes until restarting"
### Expected behavior
Upon skaffold syncing a file, I can refresh my browser and see the changes made to the application.
### Actual behavior
Even though the file syncs and appears to be going into the proper image, no changes can bee seen until skaffold is interrupted and restarted.  Most times it's 1-2 changes behind (example in steps to reproduce).

### Information
- Skaffold version: v0.26.0
-

[2019-03-30 04:46] Hudsonzp commented on #1896
Happy to provide any other files or setup information.  It's such a weird issue.

[2019-03-30 06:25] martinsoender commented on #1896
I'm experiencing the same issue.

[2019-03-30 10:31] corneliusweig commented on #1896
@Hudsonzp Can you make sure that you are syncing to the correct destination? Currently the way how the pattern '**/*.js' works is that it does not recreate subdirectories at the destination. In other words, it puts all matched files flat into the dest directory.
Please try the (currently undocumented #1837) pattern '***/*.js' to achieve directory syncing. Does that solve your issue?

[2019-03-30 21:33] corneliusweig commented on #1893
I just realized, that Skaffold can also use the local docker CLI instead of the docker go library. The docker CLI does not care where the Dockerfile is located. To enable it, change your pipeline config as follows:
[code]

@.maintainers is this a feature that should be documented?

[2019-03-31 04:10] Hudsonzp commented on #1896
Worked like a charm @corneliusweig.  I swapped the pattern for py, scss, js, and my css files.  First try I could refresh the page and intended changes. We can close this ticket.

Thanks for your help!

[2019-03-31 04:10] #1896 closed

[2019-03-31 21:26] lsowen commented on #1815
I was having the same issue.  It was because the pod name was changing, because I was using a deployment.  I switched to using a pod directly (so that the pod name was static) and now the port forwarding remains static as well.

However, it would be super useful if I could use a `Deployment`, as it would make the local environment more closely match the production environment.

[2019-04-01 11:15] corneliusweig commented on #407
@r2d4 I'm going to work on this. Do you think it needs a design proposal?

[2019-04-01 11:41] corneliusweig commented on #407
Just nit-picking: git still uses sha-1

[2019-04-01 17:43] venkatk-25 commented on #1892
@azaiter, thought of it but since the schema didn't use the kube types anywhere, so wasn't sure but yes it makes perfect sense

[2019-04-01 20:37] tejal29 commented on #1892
@venkatk-25 this is great and good candidate to put it in docs/design_proposals

[2019-04-01 21:40] balopat opened #1900 "json schema generator incorrectly assumes that `inline` fields are `oneOf` fields"
For example:

https://github.com/GoogleContainerTools/skaffold/blob/master/docs/content/en/schemas/v1beta7.json#L1016 theoretically should be just a simple list of properties instead of the `anyOf` section.

[2019-04-01 21:41] balopat opened #1901 "HelmFQNConfig is not used anywhere"
What is the `HelmFQNConfig` good for? Can we just remove it?

[2019-04-01 22:34] dgoldssfo commented on #1664
Me, too. Same problem.

[2019-04-01 23:02] #733 closed

[2019-04-01 23:47] tejal29 commented on #1901
It was introduced in commit acc1927b17c949d880766f952599426ef0fdb66d
[code]
Later in commit, 6e72f8463 @bivas changed the default.
[code]
Looks like, this should be oneof fields i.e. either set to "fqn" or "helm"

[2019-04-01 23:50] tejal29 commented on #1901
Its part of `ImageStrategy` which is optional.

[2019-04-02 00:58] jonjohnsonjr commented on #731
IIUC, kaniko is using k8schain on-cluster, so this getting fixed (soon) should help: https://github.com/google/go-containerregistry/issues/355

[2019-04-02 04:25] tejal29 commented on #1852
Thanks @pebcakerror for creating this issue.
We should definitely add examples for nodejs which mentions @casret's suggestions and document other alternatives.

[2019-04-02 12:48] venkatk-25 commented on #1892
@tejal29 its not clear whether the proposal should be file in  docs/design_proposals or description in PR from README. Can you clarify it, so I can create it accordingly.

[2019-04-02 15:06] balopat commented on #1901
Thank you @tejal29 - yeah I think it should be a `oneOf` field. I'll change it in #1904 - as it turns out, due to the #1900 bug, the schema was actually correct for `ImageStrategy`.

[2019-04-02 15:07] #1901 closed

[2019-04-02 15:27] #1664 closed

[2019-04-02 15:36] venkatk-25 commented on #1892
raised PR https://github.com/GoogleContainerTools/skaffold/pull/1906

[2019-04-02 17:47] hach-que opened #1907 "Ctrl-C on Windows does not perform cleanup"
### Expected behavior

Ctrl-C should cleanup resources when Skaffold exits.

### Actual behavior

Ctrl-C just causes Skaffold to exit immediately.

### Information

- Skaffold version: version v0.26.0
- Operating system: Windows 10
- Contents of skaffold.yaml: n/a due to private work, but this should replicate on any skaffold.yaml

### Steps to reproduce the behavior

1. `skaffold dev --port-forwa

[2019-04-02 17:58] balopat opened #1908 "Remove inline structs from schemas"
Currently an inline struct from the config gets listed in the top level definitions of the schemas, for example [`BuildType`](https://github.com/GoogleContainerTools/skaffold/blob/master/docs/content/en/schemas/v1beta7.json#L546).
There are potentially two types of `inline`  structs: `oneOf` and regular.

The regular `inline` structs should be just merged on the schema level into the surrounding s

[2019-04-02 19:45] casret commented on #1837
I'm really curious about what the use case is for the current way ** works?  I just don't see when you would want to flatten out a directory like that.

[2019-04-02 20:54] nkubala commented on #1769
@corneliusweig is correct, subtree sync works today in v0.26.0. you should be able to do something like
[code]
and files should end up in their subdirectories where you'd expect. @dnmahendra @Torsten85 @stfnsch can you try on your projects and see if things are working for you?

[2019-04-02 20:57] #1900 closed

[2019-04-02 21:06] #1836 closed

[2019-04-02 21:48] balopat opened #1909 "Create a simple docs test for Yaml reference page"
I just ran into an issue that I luckily caught manually, but would be nice to detect if it happens: a schema issue caused a javascript error in `docs/content/en/docs/references/yaml/main.js` and that caused an empty page - but no tests were broken!

I would want to see a test that runs with check-docs - querying the http://localhost:1313/docs/references/yaml/ page should return some specific conte

[2019-04-02 22:20] corneliusweig commented on #588
@nkubala I'd like to pick up the new log section for custom pod selectors. My current idea is to have a new top-level config section like
[code]
When unset, it needs to default to
[code]
so that all skaffold-deployed artifacts are log-tailed.

[2019-04-02 22:23] corneliusweig commented on #1205
@gintautassulskus can you give this another try? If the issue is solved, you could close this.

[2019-04-02 22:24] corneliusweig commented on #1583
@briandealwis does the `--color` option solve this for you?

[2019-04-02 22:47] nkubala commented on #1571
@kwngo are you still seeing this issue? haven't heard other reports of this so if you provide an example we can try and repro it.

[2019-04-02 22:47] corneliusweig commented on #1183
@Morriz #1284 added the possibility to pass arbitrary flags to helm. Can you try with

[code]

[2019-04-02 22:50] nkubala commented on #1619
@rahulwa that sounds reasonable, it shouldn't be too difficult to plumb env vars through to the docker build args. would you be interested in sending a PR?

[2019-04-02 22:50] tejal29 commented on #1643
@encuentratuheroedigital Is this still an issue? please provide us with more info

[2019-04-02 22:50] balopat commented on #1396
hey @bhack, is this for super large images, e.g. machine learning use case? Why can't you just rebuild the image?

We will need some time to get consensus on this as it doesn't seem like something core to skaffold workflows. I am not convinced yet: the user would have to specify all the watched dependencies, introduce "prebuilt" images to the dev workflow, that you have to pass in, multiple users

[2019-04-03 06:17] bhack commented on #1396
Yes generally is for large images for machine learning generally built from Ci.

[2019-04-03 06:30] moshid commented on #1771
I'm having the same issue, when skaffold build during jenkins the container have no internet access and fail. I ended up using `docker build --network=host` instead of skaffold but I was wondering if anyone found a solution for this?

[2019-04-03 07:44] romil-punetha commented on #1771
@corneliusweig How to adjust mtu?

[2019-04-03 09:52] corneliusweig commented on #1771
@romil-punetha e.g. https://mlohr.com/docker-mtu/

[2019-04-03 17:22] balopat opened #1915 "Test schema validity"
I would like to see all our schemas to be validated JSON Schemas - potentially using https://github.com/xeipuuv/gojsonschema

This should be a simple test in hack/schemas/main_test.go.

[2019-04-03 18:13] nkubala opened #1916 "Improve documentation on port forwarding"
https://skaffold.dev/docs/how-tos/portforward/ only has minimal documentation on how port forwarding is done by skaffold. we should expand on this to detail

* how skaffold chooses ports
* when port forwarding is done
* how to disable/enable it
* where skaffold tracks open ports
* add info about how port forwarding works in getting started documentation

ref #1076

[2019-04-03 18:15] nkubala opened #1917 "Improve documentation on testing phase"
https://skaffold.dev/docs/how-tos/testers has no documentation, we should add at least a brief explanation on how skaffold runs tests and the what tests it supports.

ref #1076

[2019-04-03 18:16] nkubala commented on #1076
scoped this down to a few individual issues.

[2019-04-03 18:16] #1076 closed

[2019-04-03 18:24] bhack commented on #1396
@balopat I.e. see kube warp use case:
`https://itnext.io/introducing-kubectl-warp-live-develop-code-in-kubernetes-9846c16d4bec`
But it still has many limitation:
https://github.com/ernoaapa/kubectl-warp/issues/11
https://github.com/ernoaapa/kubectl-warp/issues/10

And upstream:
https://github.com/kubernetes/kubectl/issues/551

So currently doesn't exist any solution when images are already pushed

[2019-04-03 19:11] bhack commented on #1396
Probably one of the few tool that support these use cases is https://devspace.cloud/docs/cli/development/synchronization

[2019-04-03 22:22] balopat commented on #789
I'd like to check-in on this issue -  do [patches in profiles](https://skaffold.dev/docs/how-tos/profiles/#override-via-patches) help with these issues or not? @hypnoglow did you try patches?

[2019-04-04 02:32] tbarrella opened #1918 "Failing to authenticate for pod deletion at the end of long Kaniko builds"
### Expected behavior
`skaffold run` with a Kaniko build step completes in the same way after upgrading the Skaffold binary from v0.25.0 to v0.26.0

### Actual behavior
`skaffold run` started to fail to delete the Kaniko pod at the end of an otherwise successful build in at least some cases, and I was able to confirm that it's related to the version upgrade by reverting to v0.25.0. It seems to fai

[2019-04-04 05:56] Renz2018 commented on #1815
I was having the same issue.

[2019-04-04 06:01] tejal29 opened #1919 "script hack/new_version.sh does not work on mac"
### Expected behavior
hack/new_version.sh should work on mac.

### Actual behavior
I ran in to error when running the script.
[code]
### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. ...
2. ...

[2019-04-04 08:57] stfnsch commented on #1769
@nkubala It is working nicely! I really like this sync option. However, I think there is a small difference in terms of performance/speed between:

[code]

and:

[code]

[2019-04-04 11:20] corneliusweig opened #1920 "`yamltags.ProcessStruct` is insufficient"
### Information
`yamltags.ProcessStruct` was intended to set defaults in the schema and validate tags such as `required` and `oneOf`. However, in its current shape, it only processes structs and child fields which are structs. This means that config fields of kind `slice` or `Ptr` are not processed. This means that validation of `yamltags=required` is currently broken.

This is also the reason why

[2019-04-04 13:40] briandealwis opened #1921 "Sync does not work for Skaffold-Jib"
For Maven and Gradle, `src/main/resources` is a standard location for placing static files.  But attempting to enable sync files from `src/main/resources` fails with Skaffold+Jib.
[code]

### Expected behavior

The `README.md` file should be sync'd.

### Actual behavior

I have `~/go/src/github.com/GoogleContainerTools/skaffold` linked to `~/Projects/GPE/repo-skaffold`, and normally do my builds f

[2019-04-04 14:34] #1908 closed

[2019-04-04 18:55] nkubala commented on #1769
interesting, how small are we talking? :smile: i'd love to see some performance benchmarking around both sync and the watcher.

it's worth mentioning that sync is currently going through a potential redesign from @corneliusweig, see #1844 for the full proposal and discussion. for now I think this issue is resolved though, so I'll close it.

[2019-04-04 18:55] #1769 closed

[2019-04-04 19:13] chanseokoh opened #1924 "Test broken (./test.sh)"
[code]

Running `make generate-schemas` generates `docs/content/en/schemas/v1beta8.json`:

[code]

With the generated file, `make test` runs OK. I see this file has been removed in past commits. Should this be revived?

[2019-04-04 20:21] balopat commented on #1924
can you rebase to the latest master?

This looks like a merge error to me that was fixed with https://github.com/GoogleContainerTools/skaffold/pull/1922/file.

[2019-04-04 20:50] chanseokoh commented on #1924
Resolved after merging. Thanks!

[2019-04-04 20:50] #1924 closed

[2019-04-05 10:06] corneliusweig commented on #1837
@casret As discussed in #1844 the flattening will most likely be fixed with some other sync improvements ;)

[2019-04-05 10:20] corneliusweig commented on #1921
@briandealwis I encountered a similar problem in https://github.com/GoogleContainerTools/skaffold/pull/1905#issuecomment-478973309. This seems to be a general problem when working with absolute paths out of different sources (jib/Skaffold here, git/Skaffold in my case). However, Skaffold's convention for absolute paths is to use `filepath.Abs()` which does not expand symlinks. I think we should tr

[2019-04-05 13:13] corneliusweig commented on #1919
@tejal29 I guess this is because BSD sed mandates a backup suffix for the `-i` option. I cannot check this, but try `-i''` instead, thus explicitly advising sed to not create backups. Does that fix the sed errors?
Btw, the `goimports` error looks like it is not installed?

[2019-04-05 15:12] balopat opened #1925 "Enable contributors to run integration tests locally/on their projects"
Except for the cloud specific tests - e.g. GCB builder - most of the integration tests should be runnable on a minikube + docker setup. It would be very useful for all of these to be moved off of GKE clusters so that contributors can run them too locally or potentially even on travis.

[2019-04-05 20:43] briandealwis commented on #1921
I agree @corneliusweig.  Usually symlinks aren't expanded, so `filepath.Abs()` is the right thing.

[2019-04-06 15:00] gintautassulskus commented on #1205
@corneliusweig, the issue persists.

It seems that `skaffold dev` deploys only to default `minikube` profile. Even if I change the minikube profile via kubectl to another one, e.g. `custom`, `skaffold` still uses `minukube`.
I am not aware of any `skaffold` parameter to set target minikube profile.

[2019-04-06 17:11] remzisenel commented on #1771
Having the same issue.
skaffold.yaml used in build step:
https://gist.github.com/remzisenel/be6bbd52b43941ffba185ead8dc4adde
jenkinsfile used in buikd:
https://gist.github.com/remzisenel/3de44d740745d10d9675cf94b883f44d

When I use skaffold build -f skaffold.yaml, there is only the loopback interface within the container. However, when I use docker build --network=host . I have the regular interfa

[2019-04-06 19:26] tuapuikia opened #1928 "kaniko local build"
### Expected behavior
Kaniko build the image and push to docker hub
### Actual behavior
Skaffold exit with following error.
FATA[0017] build failed: building [xxx/skaffold-example]: kaniko build for [xxx/skaffold-example]: modifying kaniko pod: copying and extracting buildcontext to empty dir: exit status 2
### Information

- Skaffold version: v0.26.0
- Operating system: Ubuntu 18.04
- Kubectl ver

[2019-04-06 19:29] tuapuikia commented on #1928
DEBU[0001] Checking base image golang:1.10.1-alpine3.7 for ONBUILD triggers.
DEBU[0001] setting Docker user agent to skaffold-v0.26.0
DEBU[0005] Checking base image alpine:3.7 for ONBUILD triggers.
DEBU[0007] Found dependencies for dockerfile: [main.go]
Storing build context at /tmp/context-93e7dc544fca29084786ca936a177376.tar.gz
INFO[0007] Waiting for kaniko-8w8lp to be initialized
DEBU[0009] Run

[2019-04-07 08:38] tuapuikia commented on #1928
If I use the cat and kubectl exec. I can extract the tar to remote pod.

 cat /tmp/test.tar.gz | kubectl exec -i busybox-7999f69f9d-6j2bz -n default -- tar -xzf - -C /tmp/

[2019-04-08 09:41] corneliusweig commented on #1205
@gintautassulskus Have you made sure, that you are using the docker daemon from minikube and set the context as local? Iow
[code]
If this is still not working, can you please provide further information from the following commands:
[code]

[2019-04-08 18:54] corneliusweig commented on #1771
@remzisenel Can you check what interfaces are set up when using `docker build --network=bridge`? This should be the default for docker, but what you are observing looks more like `--network=none`.

Can you also check if the network setting is configured in `/etc/docker/daemon.json`, or via arguments for the docker daemon (`pgrep -a dockerd`).

[2019-04-08 19:15] moshid commented on #1771
It is an EKS configuration issue they disabled the bridge network. Take a look at: https://github.com/awslabs/amazon-eks-ami/issues/183

[2019-04-08 20:05] corneliusweig commented on #1771
@moshid Thanks for demystifying that :man_facepalming:

So right now there is no way to pass this flag from skaffold to docker. You can do a very dirty hack to inject the flag: put this file as `docker` somewhere on your path:
[code]
Then use the CLI docker in skaffold by
[code]

[2019-04-08 21:42] balopat opened #1929 "Add a bot to close issues with low activity"

[2019-04-08 21:54] tejal29 commented on #1925
@balopat  this can be part of the OKR Epic.

[2019-04-08 21:57] #1849 closed

[2019-04-08 21:59] balopat commented on #1692
Hi @bzub - for now I would put this idea on hold and close this issue. We thought about this, and are not convinced that this belongs to the scope of Skaffold. If we see a lot of demand, we can reopen it.

[2019-04-08 22:01] dgageot commented on #1517
I'm going to close this one because it's implemented with `--cache-artifacts=true`

[2019-04-08 22:01] #1517 closed

[2019-04-08 22:04] dgageot commented on #362
Let's close this issue because it has been inactive for a long time and we don't plan on implementing it in the short time.

[2019-04-08 22:04] #362 closed

[2019-04-08 22:05] tejal29 commented on #1890
@bartdeboer Sounds like you want pull in some code which is not part of your local development? Is that true?
If not, can you provide an example of what the the custom deploy script looks like?

Right now, we need more information in order to decide if this should be part of skaffold.

[2019-04-08 22:15] gintautassulskus commented on #1205
The following sequence of commands:
[code]
Yields the following infinitely repeating pair of messages

[code]

Does it work on your machine when you execute the given set of commands, @corneliusweig?

[2019-04-08 22:15] nkubala commented on #1920
@corneliusweig this seems fine to me, as long as we're pretty confident nobody is trying to use `yamltags=default`. how did you check to see if it's being used? validation is the more important part of this anyway.

[2019-04-08 22:19] corneliusweig commented on #1920
@nkubala I checked using regexp, for example `git grep 'yamltags.*default'`. This only yields matches in the tests :)
Yeah, and validation is pretty broken right now, because `required` is not validated.

[2019-04-08 22:21] nkubala commented on #1920
👍 sounds good! PR definitely welcome :)

[2019-04-08 22:22] corneliusweig commented on #1929
Can we have a special label that the bot assigns to issues it closes automatically? That way we can easily search for auto-closed issues.

[2019-04-08 22:23] corneliusweig commented on #1919
@tejal29 nit: the title gotta be wrong: does __not__ work on mac?

[2019-04-08 22:24] tejal29 commented on #731
@azaiter Going to link this issue to #1892 which will solve this problem.

[2019-04-08 22:29] balopat commented on #1126
We don't have this anymore on skaffold.dev, closing.

[2019-04-08 22:29] #1126 closed

[2019-04-08 22:31] tejal29 commented on #1704
Changing this to upcoming as #1844  mentions this will be implemented later.

[2019-04-08 22:34] nkubala commented on #1919
@corneliusweig I tried `sed -i''` and got the same error....my unix foo is pretty weak today so i'm not totally sure what's going on here 🤷‍♂️

[2019-04-08 22:38] tejal29 commented on #1852
@balopat this is good issue to link under the EPIC "Document end to end solutions"

[2019-04-08 22:39] balopat commented on #1771
Thank you for filing this, and for the workarounds!
I think this is a good candidate to implement as a pass through arg to the docker command / docker client (using the `NetworkMode` setting on `ImageBuildOptions`). Which can be of value `bridge`, `host`, `none` - wouldn't support `container:<name|id>`.

[2019-04-08 22:42] tejal29 commented on #1919
Thanks @corneliusweig and @nkubala

[2019-04-08 22:43] nkubala commented on #1893
@corneliusweig that flag is mentioned in https://skaffold.dev/docs/how-tos/builders/ and https://skaffold.dev/docs/references/yaml/, though it's not the most exposed documentation. if you find a place that you think it would fit better feel free and open a PR!

it is a bit of a strange UX to not support absolutely dockerfile paths, but as @corneliusweig said it would be non-trivial to support. @sn

[2019-04-08 22:45] nkubala commented on #1929
+1 for that suggestion.

[2019-04-08 22:47] casret commented on #1890
Even without the custom deploy script use case, it would be great to separate the activities of deploying, watching/syncing and destroying.  I hit a situation where I have to restart `skaffold dev` every day and then having it stop and restart the environment is painful (especially if there are some very expensive builds that happen only when you first start up).  Some examples:
- When changing ne

[2019-04-08 22:58] corneliusweig commented on #1893
Oh by "feature" I meant the combination  absoluteDockerfile+dockerCLI. I think the doc for useDockerCLI by itself is just fine.

[2019-04-08 23:21] balopat opened #1930 "[epic] Redesign default-repo behavior"
Based on user feedback the default-repo behavior is confusing, for example the prefixing logic creates surprising image names that people care about and underscore replacement might lose structure that people are interested in.

This issue is an epic that represents the work to redesign the default-repo behavior:
- collect requirements / user feedback
- create design proposal
- implement the desig

[2019-04-08 23:25] balopat opened #1931 "integration"

[2019-04-08 23:25] #1931 closed

[2019-04-08 23:26] balopat opened #1932 "Come up with a plan for Windows/Mac integration tests"
Currently we don't have any continuous integration for Windows/Mac.
This issue is finished when we have a design doc and came to consensus around the next steps.

[2019-04-08 23:29] balopat opened #1933 "Test out running integration tests using kind/minikube + docker on TravisCI"
https://docs.travis-ci.com/user/docker/

https://github.com/kubernetes/minikube
https://github.com/kubernetes-sigs/kind
https://github.com/rancher/k3s

[2019-04-08 23:29] balopat opened #1934 "Test out running integration tests using kind/minikube + docker on AppVeyor"
https://stefanscherer.github.io/setup-windows-docker-ci-appveyor/

https://github.com/kubernetes/minikube
https://github.com/kubernetes-sigs/kind
https://github.com/rancher/k3s

[2019-04-08 23:37] balopat opened #1935 "Create a manual release process for CGO=1 enabled Mac binary"

[2019-04-08 23:38] balopat opened #1936 "Automate the CGO=1 binary release"

[2019-04-08 23:50] bartdeboer commented on #1890
@tejal29 In my particular use case I was experimenting with my own dynamic yaml solution where parameter placeholders get replaced (a poor mans version of kustomize). I would like to standardize some of my deployment configurations and be able to reuse them for different projects. I was also trying to include my own custom tagging scheme. It seems this is currently only possible if the dynamic sys

[2019-04-08 23:58] balopat commented on #1918
Hi @tbarrella, thanks for filing this, I'm not sure yet that this is Skaffold related. I wonder if you can provide a bit more debugging:
- can you compare logs from your credential executor between 25 and 26?
- can you change the TTL on the tokens to be shorter lived? then you could iterate faster / reproduce more reliably

[2019-04-09 00:04] balopat commented on #1890
To alleviate the build pain - did you try `--artifact-cache=true`?

This is interesting, can you elaborate?

Yeah, port forward is a bit unstable still, we will actively work on fixing this this quarter :/

This should be a separate issue opened up as well, very useful feedback!

[2019-04-09 00:26] balopat commented on #1749
@cpoole any news on this one? Yeah this does look a bit like a rabbit hole type of thing :)
docker in minikube will be upgraded: https://github.com/kubernetes/minikube/issues/3519
I have not tried yet buildkit on minikube - but based on my limited experimentation with buildkit it might not be that trivial to setup - any experience/pioneering can be valuable!

[2019-04-09 00:29] balopat commented on #1890
I would be wary of opening up Skaffold to become a generic file-watcher - that can introduce a flood of use cases that we don't necessarily want to support, also I think all the pain you mentioned are real issues - we should fix those rather than creating an escape route.

[2019-04-09 00:35] balopat commented on #1893
Yes, I think we should mention this in https://skaffold.dev/docs/how-tos/builders/#dockerfile-locally-with-docker

@sniederm - would this solve your problem?

[2019-04-09 00:43] tejal29 commented on #1872
I agree with @corneliusweig, you could create variants using overlays like this?
https://github.com/kubernetes-sigs/kustomize#2-create-variants-using-overlays

I am moving this issue to Backlog for now.

[2019-04-09 00:47] balopat opened #1937 "Document end-to-end GitOps solutions"
Document solutions that walk the user through best practices from dev, testing and production deployment using GitOps using Skaffold.

[2019-04-09 01:27] tejal29 commented on #825
Moving this to Upcoming as  don't think anyone is working on this. This would be a small change but a large impact. We can have a design-proposal for it.

[2019-04-09 07:37] sniederm commented on #1893
Now I have the copy workaround in place. Havent tried it yet, but the workaround mentioned by you guys looks good to me. Will give feedback as soon as I refactored that part. Thanks!

[2019-04-09 08:42] Morriz commented on #1183
Tnx @corneliusweig! I have not been into skaffold for a while now...but I might soon :)

[2019-04-09 09:41] mukesh-panigrahi opened #1938 "Multiple parallel skaffold run jobs fail due to kaniko secret already exists error"
I did a setup in GKE where i am running skaffold build jobs using kaniko and kustomize.
The jobs runs successfully when one job runs at a time in the same cluster.
When a second skaffold build job runs from a second pod, I get below error:-
Once the first job finishes, the second failed job runs successfully.

### Expected behavior
It should create a secret with random prefix name and execute succ

[2019-04-09 15:18] mukesh-panigrahi commented on #1938
updated the skaffold.yaml file as below
[code]
and updated the skaffold version to 0.26.
It seems to be working as of now.
will test it for few more days

[2019-04-09 21:40] corneliusweig commented on #1183
So if anybody can confirm this is working, this issue can be closed.

[2019-04-09 22:07] dgageot opened #1942 "Error message could be better when `skaffold.yaml` is not found"
Error message could be better when `skaffold.yaml` is not found

[code]

 + It thinks the version of skaffold is maybe too old.
 + It says it couldn't find `skaffold.yml` when the default config filename is `skaffold.yaml`
 + It should tell the user to run `skaffold init` (using tips color)

[2019-04-09 23:06] corneliusweig commented on #1909
I don't think this check can be part of check-docs. The page generates the table from the `schema.json`, so that cURLing it will be useless. In addition, the table rendering is not complete when doing a simple request with [headless chrome](https://developers.google.com/web/updates/2017/04/headless-chrome).

I think the most reliable way to test this, is to write some javascript tests which take t

[2019-04-10 09:32] NicklasWallgren commented on #1732
@balopat Can we reopen this issue, since the PR was reverted?

[2019-04-10 12:40] botwhytho commented on #1594
I can confirm this behavior is still around in `v0.26.0`. I reverted to `v.0.23.0` and the problem is indeed fixed on that version. Adding some tests around this would be great so this regression doesn't occur again.

Port forwarding during `skaffold dev` is a great value add for developers and can't really get more adoption from developer teams if this feature is broken. Too bad I'm having to sta

[2019-04-10 13:14] corneliusweig commented on #1396
@bhack Have a look at https://github.com/vapor-ware/ksync. Sounds similar to kube-warp, but maybe it solves your problem better.

[2019-04-10 13:53] bhack commented on #1396
@corneliusweig I've already commented at https://github.com/kubernetes/kubectl/issues/551#issuecomment-477568741 about ksync.

[2019-04-10 17:26] ekimia commented on #825
sweet!

[2019-04-10 17:32] balopat opened #1943 "Create an ImageManager type"
With `insecureRegistries`, `prune` we solved plumbing through configuration through arguments of one-off methods that are scattered around the codebase. These should be collected into an `ImageManager` that can handle and retrieve image information may it be on the local daemon or remote registry.

* Probably this should be instantiated at the beginning in the runner.
* Probably `skaffold debug` w

[2019-04-10 18:14] tejal29 commented on #825
@ekimia, Design proposals welcomed! :+1:  Feel free to submit one as per https://github.com/GoogleContainerTools/skaffold/tree/master/docs/design_proposals

[2019-04-10 18:28] nkubala commented on #1732
@NicklasWallgren got the fix merged today. we'll be releasing it tomorrow, but if you want to build from master and try it out let us know!

[2019-04-10 18:52] NicklasWallgren commented on #1732
@nkubala Works great, thanks :)

[2019-04-10 21:53] corneliusweig opened #1945 "Do's and Don'ts for contributors"
### tl;dr;
It would be helpful to have some more guidelines how to interact with the core team.

### Unanswered questions
After several PRs for the Skaffold project, I realized that I still don't know the best practices how to interact with the core team. So I compiled a list of questions:

- Should I generally use @-mentioning sparingly to avoid constant noise, or is it fine?
- After addressing r

[2019-04-11 06:10] srikhi opened #1946 ""golang:1.10.1-alpine3.7 as builder" is not a valid repository/tag"
52d894fca6d4
Step 2/6 : COPY main.go .
 ---> Using cache
 ---> 427740175423
Step 3/6 : RUN go build -o /app main.go
 ---> Using cache
 ---> 75b1a59f6dac
Step 4/6 : FROM alpine:3.7
 ---> 6d1ef012b567
Step 5/6 : CMD ["./app"]
 ---> Using cache
 ---> 8eab54e5f764
Step 6/6 : COPY --from=builder /app .
 ---> Using cache
 ---> 148f44243c47
Successfully built 148f44243c47
MBP:getting-started xxx$

skaffo

[2019-04-11 06:17] srikhi commented on #1946
- Issue seems to show when I use minikube on MacOs and the Dockerfile as builder
- Things worked just fine when I use GKE cluster setup
- Things work fine in local minikube if I do not use as builder option in Dockerfile

[2019-04-11 15:05] srikhi commented on #1946
it seems the issue was coming from some sort of conflict when running docker-for-desktop and minikube.

[2019-04-11 15:05] #1946 closed

[2019-04-11 20:36] balopat commented on #1945
Thank you for filing this @corneliusweig - first of all, it is great that you took the courage to show your side of the experience as our contributor and start the conversation around it. We do care about having a great community and to be frank, we are still learning how to juggle managing the community with developing features. There is a constantly increasing amount of information that we have

[2019-04-11 20:37] arshbot opened #1948 "If not in relevant namespace, skaffold dev does not port-forward or tail logs in macOS"
### Expected behavior

When `deployment.yaml` is configured properly and has containerPorts set, running `skaffold dev` should tail the logs and show the relevant port is listening.

[code]

### Actual behavior

On macOS, it seems it is absolutely required that the current namespace must be the same as the pods being run, or else the kubectl commands to tail logs and port-forward will silently fai

[2019-04-11 20:46] tbarrella commented on #1918
Hello, and thank you! I don't know if I can do these directly or very quickly (this is on hosted Kubernetes with an external identity provider), but am trying to get help with this now

[2019-04-11 22:07] nkubala commented on #1854
@corneliusweig thanks for the feedback. `InProgress` should still be covered by the runner, whenever a build is kicked off it will trigger the event. Then it will handle the event triggering for each build artifact once the builds are complete. see https://github.com/GoogleContainerTools/skaffold/pull/1949 for a more detailed explanation

[2019-04-11 22:07] #1854 closed

[2019-04-11 22:41] corneliusweig commented on #1205
@gintautassulskus I can't reproduce your error. The steps I took:

1. Start minikube with `minikube start -p custom`
2. Set up docker on host with `source <(minikube docker-env -p custom --shell zsh)`
3. `cd skaffold/examples/getting-started`
4. `skaffold dev`

More information:
- `skaffold version` -> v0.25.0
- `env | grep docker -i`
[code]
- `kubectl config current-context` -> `custom`
- `miniku

[2019-04-12 06:36] prary opened #1950 "Skaffold sync failure"
I am running skaffold 24 version. I am using skaffold sync(with sync command same as in version 26), its failing with exit status 2.

### Expected behavior
I should be able to directly sync the modified file to running pod.

### Actual behavior
Returning exit code 2.

level=warning msg="Skipping deploy due to sync error: copying files: exit status 2"

### Information

- Skaffold version: 24
- Oper

[2019-04-12 12:32] mdujmovits commented on #1884
You have to use the sha256 digest of the container like this, it's not a tag like 'latest', it's a docker feature:
[code]

[2019-04-12 13:17] briandealwis commented on #1950
@prary please try a later version of Skaffold: I think you're hitting #1721 which was fixed with #1722 for v0.25.0.

On the mailing list, @prary showed:
[code]

Note that the `tar` is missing `-C /`.

[2019-04-12 15:33] prary commented on #1950
Hi brain,
I have added that missing change also but still facing the issue, in some time from now I will share the screenshot for the same.

[2019-04-12 16:42] prary commented on #1950
Hi @briandealwis
here are the running logs attached.

` time="2019-04-12T06:11:27Z" level=debug msg="Running command: [kubectl exec simplehttp-68cd855688-hfzz6 --namespace 103000-prash-dev -c simplehttp -i --     tar xmf - -C / --no-same-owner]"
134 time="2019-04-12T06:11:28Z" level=warning msg="Skipping deploy due to sync error: copying files: exit status 2"
`

[2019-04-12 17:11] tejal29 opened #1951 "Release v0.27.0"
### Expected behavior
Please release v0.27.0 with following changes:

Features:

* Add support for pushing/pulling to insecure registries [#1870](https://github.com/GoogleContainerTools/skaffold/pull/1870)
* ctx->runCtx [#1940](https://github.com/GoogleContainerTools/skaffold/pull/1940)
* Minor doc updates [#1923](https://github.com/GoogleContainerTools/skaffold/pull/1923)
* feat: specify the reso

[2019-04-12 17:11] briandealwis commented on #1950
@prary I'm guessing from your `FROM` line that your base image is RHEL7, so I tried reproducing using `centos:7` and a (simple python HTTP server example](https://www.acmesystems.it/python_http), but using a Docker build from Skaffold v0.26.0. And it worked fine:
[code]

My suspicion is that your built container image isn't quite right.  What happens if you try running the image locally something

[2019-04-12 17:35] dgageot commented on #1658
@balopat I'm going to remove this experimental UI. We'll see if we can do something better in the future

[2019-04-12 17:41] #1951 closed

[2019-04-12 17:49] prary commented on #1950
Hi @briandealwis ,

This is the error i am getting on running above command

[code]

[2019-04-12 18:04] briandealwis commented on #1950
Does this work too?
[code]

And what happens if you try running the same `kubectl exec` as Skaffold is trying to do?

(Oh, can you show us your `deploy.yml` file too?)

And just to confirm, is this image `273de95a8e5f` the same Kaniko-built image from Skaffold, or is it something you built locally with `docker build .`?

[2019-04-12 18:17] briandealwis commented on #1950
Oh, we're not logging the output of the `kubectl exec` commands:
https://github.com/GoogleContainerTools/skaffold/blob/6e9c61df6336540325b927071d62947b261a77bf/pkg/skaffold/sync/kubectl/kubectl.go#L73-L78

[2019-04-12 18:20] prary commented on #1950
My deploy.yaml file

`---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: simplehttp
spec:
  selector:
    matchLabels:
      app: simplehttp
  replicas: 1
  template:
    metadata:
      labels:
        app: simplehttp
    spec:
      containers:
      - name: simplehttp
        image: someurl.net/docker-sandbox/kube/pythonserver
        ports:
        - containerPort: 8080
      secu

[2019-04-12 18:29] prary commented on #1950
I have attached copy.stdout = stderr but could not find any luck.

[2019-04-12 18:35] briandealwis commented on #1950
Thanks for uploading the deploy.yml.  I wanted to check that you weren't overriding the container's entrypoint.

Is it possible to try using the kaniko image?  If you're building against a remote cluster, you should be able to use the Skaffold-reported image reference (in your email you showed `someurl.com/docker-sandbox/kube/pythonserver:8ea12bf@sha256:9444b85`).  If you're using Minikube, you ca

[2019-04-12 18:43] briandealwis commented on #1950
If I make the following change:
[code]

and then deliberately introduce an error into the `kubectl exec` command, then I see an error message on the output:
[code]

[2019-04-12 20:00] nhartner commented on #1815
Also running into this issue and wondering it's being considered a bug that will be fixed

[2019-04-12 20:28] saturnism opened #1954 "Feature Request - Support trigger file"
Currently Skaffold triggers rebuild/redeploy on every file change and may be too frequent.  Add a mode to rather watching all files, watch only one specified trigger file to kick off rebuid/redeploy.

[2019-04-12 21:19] dgageot opened #1955 "Profile can't be auto-activated for `skaffold debug` command"
Profiles can be auto-activated on the skaffold command that runs.

For eg, this configuration changes the list of k8s manifests when using `skaffold run`
[code]

If a profile is set to auto-activate with the `debug` command, this currently has no effect.

[2019-04-13 02:27] dgageot commented on #1925
I don't understand. It's currently the case.

[2019-04-13 10:30] gintautassulskus commented on #1205
@corneliusweig, finally, it worked. I had to use `eval $(minikube docker-env -p custom)` instead of `source <(minikube docker-env -p custom --shell zsh)`, otherwise `env | grep docker -i` returned nothing.

The only diff from yours:
[code]

[2019-04-13 10:30] #1205 closed

[2019-04-13 12:25] corneliusweig opened #1957 "Add documentation for non-standard local setups"
### Current situation
Skaffold has a great out-of-the box experience for standard local setups, such as `minikube` and `docker-for-desktop`. However, when somebody leaves the standard path, there are some steps to take that new users may struggle with (e.g. #1205).

### Example
When using minikube with a profile:
1. Start minikube with `minikube start -p my-custom`
2. Set up docker env on host to

[2019-04-13 12:25] corneliusweig commented on #1205
@gintautassulskus Maybe you want to chime in on #1957

[2019-04-13 13:01] masonlr commented on #1663
Am experiencing this issue with v0.27.0. `containerPort` port forwarding is working with build artefacts defined in the skaffold yaml, but not with additional containers defined in the k8s manifests yaml.

[2019-04-13 13:44] slowr commented on #1928
I have similar issue but with exit status 1
[code]
I am using microk8s cluster and pointing to the local registry (my storage provisioner is working correctly).

[2019-04-13 13:52] prary commented on #1950
Hi @briandealwis ,

I re-run with stdout and stderr  with your way, i got this error.

[code]

Should I raise the request for enabling stdout ans stderr, in the mean time?

[2019-04-13 17:09] prary commented on #1950
hi @briandealwis ,

time="2019-04-13T17:07:52Z" level=debug msg="Running command: [kubectl exec simplehttp-7b995fbff5-l4qvl --namespace prashant -c simplehttp -i --     tar xmf - -C / --no-same-owner]"
320 tar: Removing leading `/' from member names
321 tar: app.py: Cannot open: File exists
322 tar: Exiting with failure status due to previous errors
323 command terminated with exit code 2
324 time

[2019-04-14 18:43] evankanderson opened #1958 "Support for `ko`?"
I'd like to be able to use `ko` to build binaries with Skaffold

### Expected behavior

There are some docs about how to use `ko` with `skaffold`.

### Actual behavior

No docs.

### Information

- Skaffold version: head / current docs
- Operating system: Windows

/kind feature-request

[2019-04-14 20:53] cliffburdick commented on #1753
@balopat did you need more information from me? I think this could be fixed outside of Skaffold, but I don't know if this is something you'd consider a valid use case.

[2019-04-14 23:10] corneliusweig commented on #1945
First, thanks a lot for your clarifications, I hope this will make it into some official contributing document in the repo!

Just to answer the question about labels: despite being a collaborator, I cannot modify labels.

About squash merge: I think this is handled differently in the core team :smiley: . Me personally, I find it a pity if commits are always squashed. For small PRs it sure is fine

[2019-04-15 07:06] prary commented on #1950
Hi @briandealwis ,

something not working in my cluster, getting the same error if i explicitly do cp to the running pod.

[a_ansible@master1 out]$ kubectl cp app.py prashant/simplehttp-5585bb97d4-b6vgv:/
tar: app.py: Cannot open: File exists
tar: Exiting with failure status due to previous errors
command terminated with exit code 2

[2019-04-15 08:35] prary commented on #1950
Ok I found the problem, my pod is running in nonroot user say uid 200 and  skaffold is copy to root location( which I should configure to the user directory)

[2019-04-15 09:36] prary commented on #1950
Hi @briandealwis ,

kubectl cp is failing when the app.py is in used. If we copy to some other location like /tmp, in that case cp is successful otherwise it throws the file exist error.

[2019-04-15 11:32] corneliusweig commented on #1950
@prary Are you, by any chance, using windows containers?

[2019-04-15 12:27] prary commented on #1950
@corneliusweig
no,not using windows container

[2019-04-15 14:29] briandealwis commented on #1950
That makes total sense @prary. I totally missed the `runAsUser`:

[code]

I think you could use Skaffold's `kustomize` support to remove the `securityContect` at deploy-time, perhaps as part of Skaffold profile?

[2019-04-15 14:32] briandealwis commented on #1950
The other solution is to build your container as user 199, so app.py is owned by the running user. I think the kustomize solution is better though.

[2019-04-15 14:34] briandealwis commented on #1950
I wonder if Skaffold can detect or warm about this situation. The builders could communicate which user(s)  were used in the build, and that could be compared to the UID in the `runAsContext`. But it seems fragile.

[2019-04-15 16:19] prary commented on #1950
Hi @briandealwis ,

what's your opinion about it, if app.py is being used then pod refuse to replace that file. If you copy app.py to /tmp location or other place then copy succeed i.e no root user error. Is this due to non-root user issue or **due to pod not replacing the file being used** (this would not be the case), just wanted to  confirm?

Thanks

[2019-04-15 16:41] briandealwis commented on #1950
@prary do you mean you adjust your Dockerfile to `COPY app.py /tmp` or to set the `WORKDIR /tmp`? I'd be surprised if that works since the `app.py`'s owner would still be root and the directory sticky bit on `/tmp` should prevent UID 199 from overwriting `/tmp/app.py`.

[2019-04-15 16:42] jimanvlad opened #1961 "x509: certificate signed by unknown authority"
### Expected behavior
[code]
The error in the title shouldn't occur if repo is added to the insecure registries.

### Actual behavior

### Information

- Skaffold version: 0.27
- Operating system: macOS
- Contents of skaffold.yaml:

[code]
### Steps to reproduce the behavior

1. Run skaffold with the attached yaml

kaniko.flags is also deprecated so there is no way to use kaniko's [--skip-tls-veri

[2019-04-15 17:17] prary commented on #1950
@briandealwis , you are right it didnt work when I tried earlier today.

[2019-04-15 18:02] #1920 closed

[2019-04-15 19:51] #1955 closed

[2019-04-15 21:11] Alos opened #1962 "I would like to have a way to toggle the cleanup step"
### Expected behavior
I can add a configuration change to my skaffold.yaml to stop the cleanup process that deletes my services while in development more.
### Actual behavior
Skaffold cleans up and deletes my services and deployments.
### Information

- Skaffold version: v0.26.0
- Operating system: macOS

### Steps to reproduce the behavior
Use Skaffold with Cloud Code. Start development mode. Aft

[2019-04-15 22:11] Alos opened #1963 "Skaffold version in brew is old"
### Expected behavior
Skaffold's latest version should be available in brew
### Actual behavior
Only version 0.26.0 is available

- Operating system: MacOS

[2019-04-15 23:42] sunnygoel8 commented on #69
yes, install using chocolatey package manager for windows platform.

`choco install skaffold`

[2019-04-15 23:57] balopat commented on #1958
Thanks for opening this! Yes, this came up before, I'd love to see `ko` integrated. One tricky bit is that `ko` is a builder and a deployer at the same time, but probably we can work something out.

We are working on the extensibility model for skaffold builders currently, so things are a bit up in the air, as soon as that settled, we will be able to fit `ko` in theoretically.

[2019-04-16 00:01] balopat commented on #1963
Thanks for opening this, yes, this slipped through the cracks in our last release! (we should automate this :))

[2019-04-16 00:03] balopat commented on #1963
https://github.com/Homebrew/homebrew-core/pull/38956 this should fix it

[2019-04-16 00:03] #1963 closed

[2019-04-16 01:02] balopat commented on #1961
Thanks for filing! This should be relatively straightforward to create a field for and passing it to kaniko. PRs are welcome!

[2019-04-16 01:09] balopat commented on #1957
This sounds great! How about a "Minikube and Docker for Desktop" section under  https://skaffold.dev/docs/concepts"?

[2019-04-16 01:50] evankanderson commented on #1958
There is a `ko publish` mode which performs build and yaml replacement but
does not perform an apply.

On Mon, Apr 15, 2019, 4:57 PM Balint Pato <notifications@github.com> wrote:

[2019-04-16 07:54] clmnt-wisepops opened #1964 "[v0.27.0] Skaffold fix panic"
### Expected behavior
Skaffold fix should update skaffold.yaml file

### Actual behavior
Panic on run

### Information

- Skaffold version: v0.27.0
- Operating system: MacOS 10.14.4
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. `skaffold fix`

[code]

[2019-04-16 10:00] jimanvlad commented on #1961
Not 100% sure this is a feature request, as https://github.com/GoogleContainerTools/skaffold/pull/1870 should have already allowed insecure registries to be used.

[2019-04-16 12:57] MisterTimn commented on #1964
+1 encountering the same issue after updating skaffold and trying to fix my .yaml

[2019-04-16 15:09] redborian opened #1966 "CloudBuild uses application default credentials ONLY"
CloudBuild without application default credentials throws error
[code]

### Expected behavior
Check if active account is set. If so, use it. If not, try using application default creds

### Actual behavior
Trying to use application default creds even though there is an active account set.

### Information

- Skaffold version: 0.26.0
- Operating system: Windows (Repros on any OS)
- Contents of skaf

[2019-04-16 18:55] RAbraham opened #1967 "Environment variables and profile"
Hi,
How do I specify environment variables in `skaffold`?

My Flask app loads environment specific settings based on a `ENVIRONMENT` environment variable. e.g.

[code]

Is there a way of using `skaffold` profiles and specify something like below in my `skaffold.yaml`:

[code]

If you know of something simpler, please let me know

[2019-04-16 20:51] corneliusweig opened #1968 "Add documentation for insecure registries"
Commit 26ae49f15a2376176d88276f58e1708ff828b81f introduced a new global configuration `insecure-registries []string` to enable http communication with insecure registries. This needs some documentation, for example in https://skaffold.dev/docs/concepts/.

[2019-04-16 21:57] corneliusweig commented on #1964
That one goes on me :(
Looks like the `Node` struct has some unexported fields which are accessed via reflection.

[2019-04-16 22:16] #1921 closed

[2019-04-16 22:18] #1942 closed

[2019-04-16 22:38] balopat commented on #1938
can you confirm that the secret works for both sessions even if it's different secrets? I'm worried that this shouldn't work, AFAIK we do not create unique secret names.

[2019-04-16 22:42] nkubala commented on #1954
+1 to this, we're discussing different enhancements to the way skaffold triggers builds.

it might make sense to configure this on a per-artifact basis as well, since different artifacts might represent different "areas of the code" which might have separate triggers. this could live in the skaffold.yaml and look something like

[code]

we're also considering adding a way for users to switch to ma

[2019-04-16 22:55] balopat commented on #1961
Ahhh, fair enough - I misunderstood, you're right, this is more of a bug / gap for kaniko. We should pass the `--insecure-registry` list to kaniko. Would you like to submit a PR for this fix?

[2019-04-16 23:02] nkubala commented on #1962
@Alos thanks for the issue. this is possible today using skaffold directly by passing the `--cleanup=false` flag to `skaffold dev`. it's up to the cloud code team to expose the feature to users :) we had a sync today and we're working on the best way to do that (i.e. the default behavior for cloud code users), so stay tuned for updates from them!

[2019-04-16 23:02] #1962 closed

[2019-04-16 23:06] corneliusweig commented on #1964
Seems I was not the only culprit :relieved:
Fixing the unexported field access is straightforward (see #1971). However, the whole schema upgrade is broken, because it relies on json serialization and `vendor/github.com/krishicks/yaml-patch/node.go:7` does not serialize well, because it results in a `Node` with `raw=nil` content. This is later dereferenced, causing a segfault. So upgrades with prof

[2019-04-16 23:43] balopat commented on #1968
+1 - concepts sounds like the right place - it can fit nicely under the image registries section.

[2019-04-17 00:04] tbarrella commented on #1918
I eventually found https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/133 after which I tried the v0.4.0-alpha.3 release of aws-iam-authenticator... which seems to have fixed the issue! Sorry for the noise

Excited to get to use 0.27.0 now...

[2019-04-17 00:04] #1918 closed

[2019-04-17 09:59] corneliusweig commented on #1964
I was confused.. This is another problem in the current master. The problem above has been much older, but will be fixed with #1971.

[2019-04-17 10:46] jimanvlad commented on #1961
My go is pretty rusty so won't be able to send a PR.

[2019-04-17 14:24] dsutphin opened #1972 "v0.27.0 SHA256 Checksums Not Included With Release"
Previous Skaffold releases have included SHA256 checksums. But v0.27.0 does not have these. Would it be possible to have them added?

[2019-04-17 17:27] tjk commented on #1890
It looks like the option is actually `--cache-artifacts`... why isn't this enabled by default?

[2019-04-17 17:29] priyawadhwa commented on #1594
Hey @arshbot -- I suspect this is happening because "pod name" was re-added to the port-forwarding key in #1780, so every time a pod is recreated it's assigned to a new port.

I'm not sure if removing it will work because I don't want to re-introduce the race condition that PR was meant to fix. I'll go ahead and reopen this issue, our team is going to look at fixing port-forwarding soon & we will

[2019-04-17 17:51] nkubala commented on #1890
@tjk we didn't enable it by default because the feature is relatively new, so we wanted to give it some time to work out the kinks. it will likely become the default in the (potentially near) future.

[2019-04-17 18:10] #1957 closed

[2019-04-17 19:43] #1917 closed

[2019-04-17 20:14] casret commented on #1890
--cache-artifacts does help quite a bit (70 seconds to 10, though doesn't seem to work with jib).

The network problem thing is if I'm connected to my cluster over wired and I unplug, or if I have to switch wifi networks, skaffold will stop.  Our setup is slightly non-conventional in that we use GKE in development as well.

[2019-04-17 21:37] #1968 closed

[2019-04-17 21:46] balopat commented on #1766
@nkubala - well - in the workaround I was suggesting, I was using the sync group as a blacklist for rebuild!!  :) it is a bit of a hack as you technically don't need the TS files in the container, but it can stop from rebuilding. If you add JS files to sync too - it will hot sync both.

[2019-04-17 21:47] balopat commented on #1766
I changed the title as it was misleading.

[2019-04-17 21:50] tejal29 commented on #1972
Done! Thanks @dsutphin for bringing this to our attention.
https://github.com/GoogleContainerTools/skaffold/releases/tag/v0.27.0 should have them

[2019-04-17 21:50] #1972 closed

[2019-04-18 00:41] tejal29 opened #1975 "Fix incorrect documentation for running integration test"
### Expected behavior
DEVELOPMENT.md instructions should be in sync with the current Makefile and point to correct command.

### Actual behavior
The development guide does not point to right instructions for running integration tests.
We should also explain how to run REMOTE_INTEGRATION=true for those who have access to int test cluster.
Explain `make integration-in-docker` for non google contribu

[2019-04-18 04:58] #1964 closed

[2019-04-18 06:02] tjk commented on #1961
I took a quick stab at this (https://github.com/GoogleContainerTools/skaffold/pull/1977) but have no idea if this even solves the issue -- running it to see if it works and adding a test would be wonderful! :)

[2019-04-18 07:32] prary opened #1978 "Skaffold not streaming all the kaniko logs"
Hi,

I have a issue which i opened in kaniko repository, but I think this should fall in skaffold also.

here is the link
[Issue597](https://github.com/GoogleContainerTools/kaniko/issues/597)
Please go through the above issue.

Below are the possible approach to stream all the error logs before image builder container dies.

Skaffold should have extra configuration lets say podGracePeriodSecond, w

[2019-04-18 09:56] kchygoe opened #1979 "skaffold docker doesn't tag correctly"
When I run `skaffold run` on CircleCI with the image of `gcr.io/k8s-skaffold/skaffold`, following error occurs.

* Case 1
For the following,
[code]
Error is
[code]

* Case 2
For the dateTime tagging,
[code]
Error is
[code]
I guess the cause is required files/command are not in built docker image.
https://github.com/GoogleContainerTools/skaffold/blob/master/deploy/skaffold/Dockerfile

### Expected

[2019-04-18 10:01] sbhardwaj-mt opened #1980 "skaffold not working with kind and docker for mac"
### Expected behavior.
skaffold deployment with helm should be able to pull the images that are build during development phase.

### Actual behavior
skaffold deployment with helm is not able to pull the images that are built during development mode at the run time in pod

### Information

- Skaffold version: version... 0.27.0
- Operating system: ... Mac OSx 10.14.2
- Contents of skaffold.yaml:

[c

[2019-04-18 10:23] corneliusweig commented on #1980
Skaffold does not recognize the kubernetes context created by kind as local by default. Kind uses rather generic context names, like `kubernetes-admin@1`, so that it would be questionable for Skaffold to treat contexts matching `kubernetes-admin@\d+` as local by default.

Try to configure your kubernetes context as local, see https://skaffold-latest.firebaseapp.com/docs/concepts/#local-development

[2019-04-18 13:04] sbhardwaj-mt commented on #1980
kind was by default running on context name with kubernetes-admin@kind.
we tried  skaffold config set -k 'kubernetes-admin@kind' local-cluster true.
and redeployed but we are getting the same error.

`Warning  Failed     13s (x2 over 30s)  kubelet, test-control-plane  Failed to pull image "wait-for-it": rpc error: code = Unknown desc = Error response from daemon: pull access denied for wait-for-it

[2019-04-18 13:13] corneliusweig commented on #1980
@sbhardwaj-mt Have you also set up the docker environment as described in the docs?

[2019-04-18 14:11] corneliusweig commented on #1980
@sbhardwaj-mt do you by any chance set an
`imagePullPolicy`? And could you also show the pod manifest?

[2019-04-18 15:17] balopat commented on #1979
Thank you for finding this! Yes your analysis seems right - the skaffold image doesn't have the right binaries.

1.) we should add `git` and the timezone specific files to the image
2.) we should cover this in integration tests

[2019-04-18 15:36] balopat commented on #1925
@dgageot - which part is the current case?

1. if we can run integration tests locally with minikube then we should document it clearly in the development.MD, currently it says:
[code]
I guess you can set the default-repo to yours and that would push to wherever - but I would be surprised if everything would be seamless - maybe I'm wrong - can you shed some light on how to run `make integration` o

[2019-04-18 15:45] balopat commented on #1880
I'm down for this but I think we need more understanding if it's worth it: instability in our code vs in the  the test setup / infrastructure (i.e network errors)?
Can you dig in a bit deeper here to explain what are the risky cases you would like to mitigate?

[2019-04-18 16:00] balopat commented on #1967
Skaffold does not support specifying env vars, and it would be tricky as well - what if the k8s manifests have multiple pods specified - should we pass those in everywhere?

As I understand you want to set these env vars at runtime, right? You can set those env vars in the [pod spec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#podspec-v1-core). Now, how to have different p

[2019-04-18 16:01] balopat commented on #1967
I think this would be useful to document though - it seems like a common enough problem that people might run into.

[2019-04-18 16:14] balopat commented on #1966
Thanks for filing this!

1. Active user

What do you mean by active account set? The active user logged in for gcloud?

We are using google's client library under the hood that follows the standard ADC flow: https://github.com/GoogleContainerTools/skaffold/blob/master/vendor/golang.org/x/oauth2/google/default.go#L77

I guess skaffold could detect an auth error and then ask if the user wants to run

[2019-04-18 16:20] balopat opened #1981 "Skaffold filesync should test explicitly for `tar` executable in the container before syncing"
When there is no `tar` in the developed image filesync fails with a mysterious `exit status 2` error.
This can be ambiguous (see #1950) to debug.

Skaffold should:

1. check explicitly for tar
2. if no `tar` return an explicit error

[2019-04-18 16:21] balopat commented on #1950
Thanks for debugging with us @prary, keep us posted!
I added an issue in the meantime to #1981 to have better error messages.

[2019-04-18 16:30] briandealwis commented on #1981
Just a note that #1950 did have `tar` available but the permissions on the files prevented the files from being updated.  What complicated the diagnosis was that [skaffold doesn't log the output of the tar command](https://github.com/GoogleContainerTools/skaffold/issues/1950#issuecomment-482673031). (and sorry, I should have opened an issue for that.)

My naive attempt to follow [the approach in `

[2019-04-18 17:14] tjk commented on #1961
@jimanvlad would you be able to try my patch?

(I'm done changing it just not sure how to set stuff up to verify it fixes the issue.)

[2019-04-18 18:48] corneliusweig commented on #1981
@briandealwis There is also #1960 from @prary concerning the log output from `tar` when sync fails.

[2019-04-18 19:43] nkubala commented on #1666
should be fixed by https://github.com/GoogleContainerTools/skaffold/pull/1982

[2019-04-18 19:44] nkubala commented on #1665
@soullivaneuh ah I see, yeah I think that makes sense. take a stab at it in your PR and we'll see how it looks :)

[2019-04-18 20:44] #1484 closed

[2019-04-18 20:47] nkubala commented on #1925
setting the default-repo to your own and pointing kubectl to your cluster allows you to run integration tests locally no problem. i've been doing it for months. i'm confused what the problem is here?

[2019-04-18 22:14] tejal29 commented on #922
#1986  fixes one of the subtasks for "Verify #1352 still exists and if it does, do not run skaffold build in skaffold deploy"

[2019-04-18 22:21] nkubala commented on #1594
@priyawadhwa pod name is not necessary, I should have thought about it a bit more. this will be addressed with some of the upcoming port forwarding improvements.

[2019-04-18 22:44] balopat opened #1988 "Revert plugin infrastructure"
After lengthy discussions we decided to move away from the plugin model for builders and rather enable a lightweight extension model.

The cost of the a full-blown plugin model in terms of complexity, loss of functionality (schemas) and developer time would in the end benefit only a small fraction of potential and current skaffold users. We will support a selected few builders that are coming down

[2019-04-18 22:49] balopat commented on #1689
Closing due to https://github.com/GoogleContainerTools/skaffold/issues/1988

[2019-04-18 22:49] #1689 closed

[2019-04-18 22:49] balopat commented on #1856
Closing due to https://github.com/GoogleContainerTools/skaffold/issues/1988

[2019-04-18 22:49] #1856 closed

[2019-04-18 22:50] balopat commented on #1555
Closing due to https://github.com/GoogleContainerTools/skaffold/issues/1988

[2019-04-18 22:50] #1555 closed

[2019-04-18 22:51] balopat commented on #1554
Closing due to https://github.com/GoogleContainerTools/skaffold/issues/1988

[2019-04-18 22:51] #1554 closed

[2019-04-18 22:51] balopat commented on #1550
Closing due to https://github.com/GoogleContainerTools/skaffold/issues/1988

[2019-04-18 22:51] #1550 closed

[2019-04-18 22:51] balopat commented on #1551
Closing due to https://github.com/GoogleContainerTools/skaffold/issues/1988

[2019-04-18 22:51] #1551 closed

[2019-04-18 22:51] balopat commented on #1549
Closing due to https://github.com/GoogleContainerTools/skaffold/issues/1988

[2019-04-18 22:51] #1549 closed

[2019-04-18 23:56] balopat commented on #1950
Okay - after rereading the posts - my first thought would be to make the file/dirs writable by the user 199 for development rather than a iterating with a root in dev. If you iterate with a root user, you might get access to files that are not realistic and get surprised later... Explicitly chmod-ing the files/dirs for sync seems like a smaller scale divergence between dev / prod.

[2019-04-18 23:56] balopat commented on #1981
Ah cool - I guess I will close this in favor for #1960. Thanks!

[2019-04-18 23:56] #1981 closed

[2019-04-19 00:05] priyawadhwa commented on #1988
Plan for reverting code:

- [ ] remove bazel plugin because it's pretty self contained #1989
- [ ] remove docker plugin, which will remove almost all of the plugin code since GCB is tied to it as well
- [ ] remove executionEnvironment and plugin fields from config, will require a config change
- [ ] make sure any additional cleanup is done (constants, documentation, integration test cases, etc)

[2019-04-19 02:56] prary commented on #1950
@balopat, so issue is because of non-root user, I ran this with root user then sync worked fine.

[2019-04-19 03:22] demisx opened #1991 "Allow logs to be excluded from skaffold dev output (by regexp or by pod)"
Is it possible to not stream logs from some pods in the `skaffold dev` output? I have an HA PostgreSQL in the cluster (Stolon) and its pods are constantly writing stuff to the log. When skaffold merges everything and outputs it to the terminal, there is so much scrolling stuff that it becomes pretty much unusable. I would like to exclude some pods from `skaffold dev` merged log output, if possible

[2019-04-19 06:13] thejasn opened #1992 "Skaffold not able to parse image name from git commit when commit is numeric."
### Expected behavior

Should parse git commit (8202758) as string and not as a numeric constant.

### Actual behavior

Failed to apply default image tag "docker08.helpchat.in:5000/nuclei-billpayment-forward:8.202758e+06": couldn't parse image reference "docker08.helpchat.in:5000/nuclei-billpayment-forward:8.202758e+06": invalid reference format

### Information

- Skaffold version: version: v0.23

[2019-04-19 10:12] prary commented on #1978
@balopat what's your suggestion with this approach, I don't know whether we can do something similar with other image builder.

[2019-04-19 17:22] balopat commented on #1991
Hi, thank you for filing this! @corneliusweig has design proposal outstanding for better log handling #1911. I'd expect that to solve your issue.

[2019-04-19 18:03] corneliusweig commented on #1991
Indeed this is exactly the problem that #1911 addresses

[2019-04-19 18:04] RAbraham commented on #1967
Thank you very much for that insight. I'll look into `kustomize`. I can close this but I see you have labelled this for documentation so I'll keep it open but feel free to close this if you have another ticket.

[2019-04-19 19:48] tibbon commented on #543
Definitely need this. Is there anything something needs to help make this happen?

[2019-04-19 20:16] tejal29 opened #1995 "Skaffold delete help shows some options which don't make sense."
### Expected behavior
`delete` should only have relevant args.

### Actual behavior
Some of the args for `delete` don't make sense e.g. "--skip-tests", "cache-artifacts", "cache-file".
We should fix this.
[code]

some of the delete args are incorrect, we should fix it :)
### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to repro

[2019-04-20 11:04] corneliusweig commented on #1837
Superseded by #1994

[2019-04-20 11:04] #1837 closed

[2019-04-20 14:53] demisx opened #1996 "Unable to connect to the server: EOF"
Hi,

I am new to this tool and I really like it. One issue I keep running into that prevents me from using it is that after I start `skaffold dev` and let it run for a few minutes, I start getting `Unable to connect to the server: EOF` when trying to run any `kubectl` command. I do not see anything awkward in the skaffold streaming logs, but my app and k8s stop responding. When I ^C skaffold, I am

[2019-04-20 15:10] demisx commented on #1996
To clarify, it looks like the app is still running and responding when I start seeing the `Unable to connect to the server: EOF` error. It's just anything that involves connecting to k8s server fails, e.g.:

[code]

[2019-04-21 06:08] u5surf commented on #1995
I think we should only change a suitable flag function  instead of `AddRunDevFlags`.

https://github.com/GoogleContainerTools/skaffold/blob/37baddd42a0f59664cfdc1600ee61329ee7c11b1/cmd/skaffold/app/cmd/delete.go#L37

https://github.com/GoogleContainerTools/skaffold/blob/37baddd42a0f59664cfdc1600ee61329ee7c11b1/cmd/skaffold/app/cmd/cmd.go#L151

[2019-04-22 06:43] sbhardwaj-mt commented on #1980
@corneliusweig we had set imagePullPolicy to IfNotPresent
but we didn't set source <(minikube docker-env -p my-profile). Since we are not running it through minikube, can you let me know what env variables should I set for docker-env with kind??

[2019-04-22 09:54] corneliusweig commented on #1980
@sbhardwaj-mt My bad, `kind` is already using the correct docker and no extra setup is necessary.
But I have no trouble getting skaffold to run with `kind`. These are the steps I take:
1. Start `kind` with `kind create cluster`. This creates a kubeconfig file one context named `kubernetes-admin@1`. It also reminds me of setting the `KUBECONFIG` env variable, so
2. Set up the `KUBECONFIG` env varia

[2019-04-22 15:30] panitaxx opened #1998 "skaffold cloudbuild ignores gitignore"
### Expected behavior

Cloudbuild builds should files in ignore .gitignore

### Actual behavior

It uploads .git and uploads node_modules.

Sometime they are ignored sometimes they aren't. I have another project with same .gitignore and no .dockerignore file  in which .git and node_modules dirs are not uploaded. I provided a sample repo in which everything is ignore notwithstanding the contents of

[2019-04-22 16:09] redborian commented on #1966
We use active user from `gcloud auth list`. Although I understand that Skaffold prefers ADC, it would be if you can expose a way to let Skaffold know which account to use.

[2019-04-22 18:33] stevenpall commented on #543
@Place1 I just ran into the variable substitution in `buildArgs` issue and came across your fork which attempts to add this functionality. Unfortunately, I'm unable to actually run your version of skaffold after compiling it. I get the following errors running `skaffold dev` or `skaffold run`:
[code]
Running `skaffold fix`, I get
[code]
I thought this might be due to my `skaffold.yaml` `apiVersion

[2019-04-22 23:18] Place1 commented on #543
I was really keen to push this upstream but I got rejected. Here’s a link
if you want to read why. I still think the features would be great but I
understand their (skaffold’s) goals.
https://github.com/GoogleContainerTools/skaffold/pull/892

On Tue, 23 Apr 2019 at 4:33 am, Steven Pall <notifications@github.com>
wrote:

[2019-04-23 07:06] #1995 closed

[2019-04-23 07:44] dgageot commented on #1992
@thejasn I'm not sure I understand how to reproduce this issue. I have a few questions for you:
 + Is the profile needed to reproduce?
 + Where does `VERSION` come from? Is it an env variable? What's its value?

[2019-04-23 08:19] dgageot opened #2002 "Should all Skaffold labels be prefixed with `skaffold-`?"
Skaffold applies custom labels to every resource that it deploys.

I think that every label that it applies should be prefixed with `skaffold-` to avoid conflicts with user labels.

[2019-04-23 08:24] dgageot opened #2003 "profiles should be shown last on https://skaffold.dev/docs/references/yaml/"
I tried to make sure the `skaffold.yaml` reference (https://skaffold.dev/docs/references/yaml/) shows the most used configuration sections first. However, I should have written a test for that because the order has changed.

It used to show sections in that order `build`, `test `, `deploy`, `profiles`.
It's now `profiles`, `build`, `test `, `deploy`.

Maybe the order of other sub sections has chan

[2019-04-23 08:49] dgageot opened #2004 "Support Knative Serving and Cloud Run on GKE"
Because of the way Skaffold references Docker images, it currently can't work with Knative Serving or Cloud Run on GKE.

See https://github.com/knative/serving/issues/3865

[2019-04-23 10:13] jimanvlad commented on #1961
Sure, where can I get a macOS binary from?

[2019-04-23 11:53] dgageot opened #2005 "v1beta8 broke schema validation in Cloud Code for VSCode"
When `v1beta8` of the schema was introduced, `SkaffoldPipeline` was renamed `SkaffoldConfig`. That breaks the validation in Cloud Code for VSCode.

If I manually change the name back to `SkaffoldPipeline` in `~/.vscode/extensions/googlecloudtools.cloudcode-0.0.7/schema/skaffold/v1beta8.json`, it fixes the issue.

[2019-04-23 15:55] ojhughes opened #2007 "Support Buildpacks.io as a builder"
[Buildpacks.io](buildpacks.io) provides an [API](https://github.com/buildpack/libbuildpack) and [specification](https://github.com/buildpack/spec) for building OCI compliant images direct from source code, without needing a Dockerfile.

I would be interested in contributing a Skaffold builder integration for [Buildpacks.io](buildpacks.io) if this fits within the scope of the project?

[2019-04-23 16:39] Red-Five opened #2008 "Google Cloud Build Question"
(Using latest stable Google Cloud Code plugin on latest stable VS Code)

Does the skaffold googleCloudBuild support using cloudbuild.yaml?

I'm new to skaffold and attempting to build an existing app that has a cloudbuild.yaml. It doesnt appear there is a way to reference the cloudbuild.yaml file from the skaffold.yaml

I'm guessing it might be necessary to fully reproduce all the cloudbuild steps

[2019-04-23 17:40] balopat commented on #2008
Hi @Red-Five,
the GCB builder builds a Dockerfile or JIB artifact and publishes an image.
Skaffold _generates_ a single step Cloud Build build definition (~ "cloudbuild.yaml" ) and uses the GCB API to submit the build.
It does not do any deployment or anything else.
I hope this clears it up! Thank you for trying out skaffold!

[2019-04-23 17:47] priyawadhwa opened #2009 "Add CustomArtifact to local builder to support arbitrary build scripts"
Add a CustomArtifact artifact type to the local builder so that users can build images with their own build scripts, and thus with whatever builder they desire.

[code]

WIP #1999

TODO:
- [ ] consider a distribution method for custom builders

[2019-04-23 17:55] Red-Five commented on #2008
@balopat Thanks.

So for the example cloudbuild.yaml
https://github.com/forseti-security/forseti-security/blob/dev/install/docker/cloudbuild.yaml
We have 3 steps
Build a base image, main image and optional unit test suite step.

Is there an example somewhere showing how to do the same via Skaffold?

(I am attempting to set up a development environment for Google Forseti Security that allows for co

[2019-04-23 18:37] nkubala commented on #2002
seems like a good idea to me.

[2019-04-23 18:47] #1979 closed

[2019-04-23 20:05] tjk commented on #1961
I just built this but might be issues sine I just used `go build` (gzipped):

[skaffold.gz](https://github.com/GoogleContainerTools/skaffold/files/3109366/skaffold.gz)

[2019-04-23 22:18] #1880 closed

[2019-04-23 22:26] tejal29 commented on #2005
We discussed this with the VS code team before merging this in.
See https://github.com/GoogleContainerTools/skaffold/pull/1899#issuecomment-479580673 for history.
I think we should have collaborated better for the team to also do a VS code plugin release.

[2019-04-23 22:28] balopat commented on #1950
I marked this as a documentation issue.
We should document this in under Sync that if there might be permission issues that should be resolved via separate dev/prod profiles.

[2019-04-23 22:34] balopat commented on #1996
Very interesting. Thank you for filing!
When you get into this mode - can you please do a `ps ax | grep skaffold` and `ps ax | grep kubectl` outputs? It would be interesting to see if there is any leakage that hogs the API server on k8s. It seems to me that that is a good place to start.

[2019-04-23 22:43] balopat commented on #1998
Hey, thanks for filing this issue!
GCB builder definitely does not take .gitignore in account.
The way it works:
 - it calculates the files required for your Dockerfile build (we call them `dependencies`) - and it honors .dockerignore when it does this!!
- it tars up the dependencies and sends it as the build context to the GCB build which is just a single step cloudbuild.yaml that calls `docker b

[2019-04-23 22:44] balopat commented on #2002
+1

[2019-04-23 22:45] tejal29 commented on #2007
Hey @ojhughes Thank you for your issue.
The team is right now working on a proposal to add a light weight Custom Builder Extension Model.
Once the extension model is out, this will be possible to do.
Do we have issue #2009. Let visit this once we have that in

[2019-04-23 22:48] panitaxx commented on #1998
Thanks for your answer. I did add a dockerignore file. IMHO if the skaffold tool is going to support cloudbuild It should use the .gitignore file as this is used when  doing gcloud build submit and it is easier to adapt your code to use this tool.  Just a suggestion.

[2019-04-23 22:52] balopat commented on #2005
Yeah, this is unfortunate - I think we should raise an issue/PR on cloud-code instead here though. Closing this for now.

[2019-04-23 22:57] balopat commented on #2007
Actually buildpacks.io is something that we've been thinking about to add as a core builder but it's not fully decided yet, we need to get buy-in in our larger org. In case we pull the trigger on this it would be fantastic to have your help in the implementation! Thank you!

[2019-04-24 00:13] balopat commented on #2008
This is an interesting use case for Skaffold but you'll have to use Skaffold as a cloud build step. We publish an image: ` docker run gcr.io/k8s-skaffold/skaffold:latest skaffold version` that you can use as part of your pipeline to deploy your app to GKE. You will also need a step to get the cluster credentials using gcloud and save it to the workspace.

[2019-04-24 01:59] demisx commented on #1996
Sure. This is what I see:

[code]

Once this happens, it may still respond to `kubectl get all` again, sometimes with partial output, but then it starts showing that "Unable to connect to the server: EOF" message again. Then this cycle may repeat again. It feels like skaffold is choking k8s server.

[2019-04-24 06:00] tossmilestone opened #2010 "Deploy with kubectl support absolute manifest path"
### Expected behavior
Deploy using kubectl support absolute manifest file path. Then we could run skaffold anywhere without considering the relative path of the manifest file.

### Actual behavior
Deploy using kubectl use a relative path to the directory where skaffold is running.

### Information

- Skaffold version: v0.27.0
- Operating system: Linux

[2019-04-24 07:28] kchygoe commented on #1979
Thank you for the quick response!

[2019-04-24 09:02] dgageot commented on #2005
I'm reopening the issue because it'll require changes to Skaffold. I'll make sure `SkaffoldPipeline` is renamed `SkaffoldConfig` everywhere, even on older schema versions.

[2019-04-24 16:23] #2005 closed

[2019-04-24 22:14] daniyalj commented on #1738
running into the same issue. Im deploying rbac-manager with skaffold with the following:

[code]

01-rbac-manager.yaml is [here](https://github.com/reactiveops/rbac-manager/blob/master/deploy/all.yaml)

error is:
[code]

[2019-04-24 22:28] daniyalj commented on #1737
running into the same issue. Im deploying rbac-manager with skaffold with the following:

[code]

01-rbac-manager.yaml is [here](https://github.com/reactiveops/rbac-manager/blob/master/deploy/all.yaml)

error is:
[code]

[2019-04-24 22:29] daniyalj commented on #1737
Skaffold is creating labels in my crd:

[code]

[2019-04-24 22:51] nkubala commented on #1992
@thejasn `docker08.helpchat.in:5000/nuclei-billpayment-forward:8.202758e+06` is getting rejected because `8.202758e+06` is not a valid docker image tag (`+` is an illegal character). this tag is likely not being generated by skaffold, it looks like something you're passing in to the `{{.VERSION}}` field in your env template. can you double check this?

[2019-04-24 23:20] afanrasool commented on #1615
Running into the same issue. Can we use remote helm charts with Skaffold at all for deployment? If yes, can anybody please post an example here?

[2019-04-24 23:28] demisx opened #2019 "Fails to clean up on Ctrl+C"
Not sure if I am doing something wrong, but my skaffold no longer wants to clean up when I stop the process. According to the dry run, it's creating resources instead of deleting them (please see below).

### Expected behavior
Skaffold shuts down gracefully removing created containers and images.

### Actual behavior
This error message is written in the log, skaffold exits leaving running containe

[2019-04-25 11:03] mukesh-panigrahi commented on #1938
Only one secret gets created for the first job, and at the same time if other job starts it starts creating another secret of same name (which should not..if there is already a secret present and should use it) and that is where it gets failed. The issue still remains same in 0.26 as well.

Planning to use 'pullSecretName', hope it doesn't have any related issues with it.

[2019-04-25 14:45] jimanvlad commented on #1961
Hi,

I used your provided binary and added:
[code]
to the `build` section, but it still failed:
`error pushing image: failed to push to destination artifactory.xx.xx.com/data/project:e2e157f-dirty: Get https://artifactory.xx.xx.com/v2/: x509: certificate signed by unknown authority
`

[2019-04-25 15:59] ivanporty opened #2021 "Add option to always use terminal color escape sequence"
For now, Skaffold seems to check if TTY is attached and only uses colored formatting if it is. For  Cloud Code IntelliJ IDE output, we run in non-TTY mode but still support escape sequences in the console view. If we can have a flag to always enable them, that could make console output prettier for IJ/JetBrains developers.

[2019-04-25 21:09] tjk commented on #1961
I need to figure out a way to test this myself but in the meantime, if you could try something like `watch -n1 'ps aux | grep kaniko'` and copy paste the kaniko command it runs maybe? I imagine for some reason or another the arguments are not being passed to kaniko command... but I'm really out of my element -- I'll try to set up a repro myself if I find time.

[2019-04-25 22:11] corneliusweig commented on #2004
This issue has been fixed on knative side.

[2019-04-25 22:22] balopat opened #2028 "Release v0.28.0"

[2019-04-25 22:41] corneliusweig commented on #2002
Does that count as a breaking change?

[2019-04-25 23:38] tejal29 opened #2031 "Not all flags should be set from environment Variables."
Currently in code, skaffold visits all flags registered for a command and then checks if a corresponding env variable is set for the flag name [here](https://github.com/GoogleContainerTools/skaffold/blob/782c111a2ab1347a99e07cc8093f090f2b5517d8/cmd/skaffold/app/cmd/cmd.go#L124)

This is incorrect for flags which accept multiple values.
E.g.:
For `insecure-registry`, users might set their env varia

[2019-04-26 13:14] jimanvlad commented on #1961
Hi,

This is what gets sent:

[code]

[2019-04-26 13:28] corneliusweig commented on #2031
Is it really more important to avoid possible user errors, than staying consistent? I love the current state where it is really consistent that all flags can be set by env vars. This is also important for the IDE integration, because you cannot add flags but it will be possible to set env vars (https://github.com/GoogleCloudPlatform/cloud-code-intellij/issues/2497).

As to the `--insecure-registry

[2019-04-26 14:05] corneliusweig commented on #2031
@tejal29 So I fixed the multi-valued env vars problem (see above). Maybe this one should be closed if #2032 is accepted?

[2019-04-26 14:08] corneliusweig commented on #2021
This will probably not be useful for end-users. Should such a flag be hidden?

[2019-04-26 14:48] corneliusweig commented on #1998
@panitaxx To me it would feel like an abuse of `.gitignore` when using it as an additional `.dockerignore`. Just imagine somebody has assets in his workingdir which he does not want in git (-> `.gitignore`), but nevertheless are important for his docker build (-> NOT `.dockerignore`). Semantically, `.gitignore` does git stuff, whereas `.dockerignore` does docker stuff.

The node examples in the Sk

[2019-04-26 15:01] panitaxx commented on #1998
I feel is more something of developer experience. If I am using cloudbuild and it uses gitignore and dockerignore then when I incorporate to my workflow skaffold I expect cloudbuild in skaffold to work like cloudbuild outside skaffold. Also it would be maintaining another file with little differences (like dockerignore most of the time has to add .git).

[2019-04-26 15:02] tjk commented on #1961
I will try to set up kaniko this weekend since I've wanted to play with it and will try to get back to you by then to avoid wasting your time. :)

[2019-04-26 15:03] jimanvlad commented on #1961
Your help is greatly appreciated and I'm happy to test any further changes :)

[2019-04-26 16:34] priyawadhwa commented on #1998
@panitaxx based on the [docs](https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore) it looks like cloudbuild only respects the .gcloudignore file (which can pull in contents from a .gitignore). Is that what you're doing?

[2019-04-26 17:07] #2021 closed

[2019-04-26 18:10] #2028 closed

[2019-04-26 18:23] thejasn commented on #1992
@nkubala The `VERSION` comes from the git commit hash, as mentioned in the tag policy. So once in a while whenever the entire commit hash is only numerical it gets converted to the scientific notation and this introduces the `+` character.

[2019-04-26 19:52] #2010 closed

[2019-04-27 04:31] panitaxx commented on #1998
After reading the docs of gcloud build submit (they are a little bit confusing), it seems gcloud builds submit  uses a default  .gcloudignore that includes the  .gitignore contents in the build, therefore in a transient way respecting .gitignore. I also made a small test to proof this.  So in the DX aspect is the same if you add something to .gitignore it will be ignored by gcloud build submit com

[2019-04-27 15:27] sretlawd commented on #2009
Would it make sense to allow arguments to be passed to the buildCommand?  Maybe make it an array, or run the command with sh -c?

I'm playing with this a bit, and a good starting point seemed to be to replicate stock behavior with a simple docker build/push like:

[code]

I'm building multiple artifacts/images in the same skaffold.yaml, so something like:

[code]

But l don't see any way to get th

[2019-04-27 20:43] ketaanhshah commented on #1581
Hey guys, I am building a Docker container with Open Liberty and I used the following in my DockerFile to copy the Azure Cert for HTTPS.

# Add the Azure Certificate for Redis to enable HTTPS connection.
COPY azurewebsites.cer /opt/ol/wlp/output/defaultServer/resources/security/
WORKDIR /opt/ol/wlp/output/defaultServer/resources/security/
RUN keytool -noprompt -importcert -file azurewebsites.cer -

[2019-04-27 21:05] alewis001 commented on #1581
Hi,

Have you got a file called azurewebsites.jks? I think the default in OL the
file is called key.jks. does it work if you swap azurewebsites.jks for
key.jks in the keytool command?

Cheers

On Sat, 27 Apr 2019, 21:43 ketaanhshah, <notifications@github.com> wrote:

[2019-04-27 21:10] ketaanhshah commented on #1581
Thank you Alex, No I only downloaded the Azurewebsites.cer (as Base64) from browser and then thought running the following should help me generate the .jks file and I thought I can give it a name Azurewebsites.jsk. Am I doing something completely wrong here?

I am trying to generate an Open Liberty Docker container and using it in Azure web-app and whcih has to talk to another Azure web api (https

[2019-04-27 22:00] ketaanhshah commented on #1581
hey Alex,
I think that was it I had to use key.jks and it resolved my issue, Thank you !

[2019-04-27 22:02] alewis001 commented on #1581
Great, glad it worked!

Just in case it helps and as this doesn't really have anything to do with
Skaffold, you'd probably be best asking questions on either the Openliberty
Google Group or their Stackoverflow: https://openliberty.io/support/

Cheers

On Sat, 27 Apr 2019 at 23:00, ketaanhshah <notifications@github.com> wrote:

[2019-04-27 22:11] ketaanhshah commented on #1581
Thank you Alex, your POST above was GREAT HELP to me! I will make sure to post questions on appropriate forums but your DOCKER FILE post above helped me tons! Have a great weekend!

[2019-04-29 08:59] avloss commented on #1594
Thank you for taking note of this issue - I just want to make sure you understand the magnitude of this error for independent developers. This issue makes local development of Microservices with tools like Postman practically unfeasible - I've reverted to `0.23.0` for local development. While much praised "Cloud Code" needs a more recent version. So currently I have TWO versions of `skaffold` loca

[2019-04-29 10:46] jsdevtom commented on #1161
@radityasurya

I think so. This syncs and doesn't rebuild as expected:
[code]

This syncs but always rebuilds the docker image
[code]

[2019-04-29 13:40] kwngo commented on #1566
What's the progress looking like on this? Anything we can do to help?

[2019-04-29 15:44] jsdevtom commented on #1222
@radityasurya

I believe the cause of this is this function: https://github.com/GoogleContainerTools/skaffold/blob/0bd43a4dc36da9f2cc34dc6f31f714dcc76c6b19/pkg/skaffold/sync/sync.go#L178-L189

Notice how it returns only one `tripleStarPattern`. @priyawadhwa Shouldn't it be possible to determine multiple `tripleStartPattern`s? Like this:

[code]

[2019-04-29 16:05] jsdevtom commented on #1222
For anyone else strugling with this issue, this work around (syncing all the things) works for me:
[code]

[2019-04-29 17:33] priyawadhwa commented on #2009
@sretlawd thanks for the feedback! The context is definitely something skaffold could pass in as an environment variable.  We've also been thinking about ways to reuse the same build script with minimal duplication. We considered environment variable substitution, which would look something like this:

[code]
where skaffold would pass in `env` to the build script. WDYT?

[2019-04-29 17:40] sretlawd commented on #2009
That’d be perfect!  At the moment I’m just working around it by using $IMAGE_NAME and “local conventions”.

Other than that, love the custom builder, I’m able to use an in-cluster buildkitd for my builds and push them to ECR, and it was all pretty easy.

[2019-04-29 18:00] priyawadhwa commented on #1222
Hey @jsdevtom I wasn't able to reproduce this bug, could you provide the repo you're using, or a sample repo? For me, multiple triple star patterns are working as expected, and from the code it looks like multiple triple star patterns can be added to the map.

[2019-04-29 22:52] #1771 closed

[2019-04-30 10:15] jsdevtom commented on #1222
@priyawadhwa This is definitely reproducible on a project I am working on (but am not willing to share). But when I try it with the [react-reload example project](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/react-reload), I am unable to reproduce, I will see if I can narrow the problem down on the project I am working on.

[2019-04-30 10:17] jsdevtom commented on #1222
please feel free to close until I am able to reproduce

[2019-04-30 10:54] dkirrane opened #2038 "[Deploy] Add debug option to print Helm command used for deployment"
It would be good to add an option that prints the helm command used for deployment.

Currently debug output only just gives this.

This would be good to helm debug issues with helm deployments.

[code]

[2019-04-30 10:57] dkirrane commented on #2038
I should also add if skaffold is creating a values.yaml to pass to helm install then the location of that file should also be logged

[2019-04-30 10:58] corneliusweig commented on #2038
I think it would even be worthwhile to print the commands whenever Skaffold delegates to another program, like `docker`, `kustomize`, `kubectl` and so on. Maybe this can be implemented in `RunCmd`?

[2019-04-30 11:06] dkirrane opened #2039 "[Deploy] Add `helm repo update`"
I'm using helm to deploy the Elasticsearch chart that's then used by my application.

I think for this use-case it would make sense for Skaffold to support running these Helm commands. So allow setting the repo as part of the skaffold.yaml in Helm deploy section
[code]

[2019-04-30 14:33] MisterTimn opened #2040 "No logs after 'skaffold dev' (Jib build, Helm deployment)"
### Expected behavior
Run skaffold dev and receive stream of the logs for the deployed pods.
### Actual behavior
After running skaffold dev there's no logs shown, '-v debug' gives following every 1s:
[code]
### Information

- Skaffold version: version 0.28.0
- Operating system: Arch Linux (Manjaro)
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Set up skaffold projec

[2019-04-30 15:58] tdickman opened #2042 "Force rebuild if copy fails due to crashing pod"
### Expected behavior

Skaffold should rebuild the containers if the copy command fails.

### Actual behavior

Skaffold fails to copy objects if a pod is crashing, and I have to manually restart skaffold to get the application working properly.

For example: The copy command will fail if one of the containers is crashing due to a typo in my code. If I attempt to fix this issue, the copy command wi

[2019-04-30 16:10] briandealwis opened #2044 "Can `skaffold debug` support npm run-scripts"
`skaffold debug` supports configuring NodeJS applications for debugging providing their the container entrypoint or command is `node` or `nodemon`.  But some apps, like our own `examples/nodejs` use `npm run xxx` to run a script: (https://github.com/GoogleContainerTools/skaffold/blob/11f8a1bc593906c6cb00b696b4317e85b8a48d05/examples/nodejs/backend/Dockerfile#L5
which itself executes `nodemon`:
htt