[2020-09-30 21:56] nkubala commented on #4825
i just tried this out on the getting-started example and it seems to be working fine:

[code]

`"image <image> is not used by the deployment` is thrown when skaffold can't find an image name from a build artifact in your manifests, which often happens when either you didn't correctly set your default repo, or there's a typo in your image. can you double check these?

[2020-09-30 23:23] IsaacPD commented on #4766
Hey @Djiit,

I just want to clarify some things,

From what I've gathered a tag is in fact output when ```local.push: false``` is set and ```skaffold build``` is run. If we look at the example Gaurav gave

<details>
<summary> example</summary>
<details>
  <summary>skaffold2.yaml</summary>

[code]
</details>
produces:
<details>
  <summary>tags.json</summary>

[code]
</details>
</details>

the tag i

[2020-10-01 04:10] justicezyx opened #4841 "Skaffold insists on recognize kind cluster as local despite overridden config"
[code]

### Expected behavior
skaffold treat cluster as non local

### Actual behavior
skaffold still demands image present locally

### Information

- Skaffold version: v1.12.1
- Operating system: Linux yzhao-lt 5.4.0-47-generic #51-Ubuntu SMP Fri Sep 4 19:50:52 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- Contents of skaffold.yaml: N/A

[2020-10-01 05:31] toby-1-kenobi commented on #4837
My workaround has been to push the base image to an online repository and use it from there

[2020-10-01 09:35] mr-bjerre opened #4842 "Skaffold rebuilds all images on every run (GitHub Action) - also the unaffected ones"
I wish to have a GitHub Action that deploys all services in GKE if the service has been changed (either in manifest, source code or dependency). I wish that the action uses cache for the building.

The action looks like this

[code]

while my `skaffold.yaml` looks like this

[code]

### Expected behavior

I'd expect the above action to only rebuild affected images

### Actual behavior

The above a

[2020-10-01 09:36] mr-bjerre commented on #4811
Closing in favour of #4842

[2020-10-01 09:36] #4811 closed

[2020-10-01 09:36] Djiit commented on #4766
Hey @IsaacPD,

Thanks for clarifying. I initially thought this was a digest.

My expected workflow is the following :
- Run `skaffold build` with `local.push: false`. I usually output a JSON file for future use.
- Extract the tag from the JSON file
- Use the tag to e.g. run a Trivy scan, or re-tag the image based on some external logic.
- Push the image myself if needed.

[2020-10-01 09:59] noobG commented on #4842
Dealing with the same thing here

The easy (but bad) solution is just to tag all images with :latest, e.g.:
[code]
...and then using cacheFrom: image:latest

This will override your past images and loses the commit identifier, but it does make caching work - this is a non-starter for me, so I tried:

1) Manually fetching my images and then using variable substitution to dynamically add the image t

[2020-10-01 13:20] briandealwis commented on #4573
Duplicate of #2317

[2020-10-01 13:20] #4573 closed

[2020-10-01 19:05] pagmoro opened #4846 "skaffold build fails in specific Linux box with - copying sources: uploading build context:"
This issue seems very similar to issue [3944](https://github.com/GoogleContainerTools/skaffold/issues/3944) , but doesn't help. It appears that any additional logging that was added as part of [3944](https://github.com/GoogleContainerTools/skaffold/issues/3944) does not cover my scenario.
Note that the same build works on windows and some other Linux machines (with same os version), but fails on t

[2020-10-02 00:02] go-nelango opened #4847 "Some FAILED skaffold events do not return error code"
Skaffold devloop events with status == 'Failed' are expected to have a non-null error code. If failed events are missing the error code, failure_reason defaults to UKNOWN_ERROR in IDE metrics (and this is parsed as failure_phase = UKNOWN and failure_reason = ERROR in cloudcode.skaffold.session.end). Could you please investigate why failed events might be missing error code?

The above case makes u

[2020-10-02 10:30] ricardo-larosa opened #4848 "Skaffold will always return error adding artifacts to cache when builds are not local"
### Expected behavior
Cache is populated with built artifacts avoiding rebuilding images every time
Related to https://github.com/GoogleContainerTools/skaffold/issues/4842 and https://github.com/GoogleContainerTools/skaffold/issues/4753

### Actual behavior
[code]
### Information

- Skaffold version: v1.14/v1.15
- Operating system: linux/macos
- Contents of skaffold.yaml: Any configuration with no

[2020-10-02 10:45] erwanriou opened #4849 "unable connect Kubernates minikube"
[code]

### Expected behavior
To run succefully the build
### Actual behavior
Failing on not been able to connect the minikube IP
### Information

- Skaffold version: v1.15.0
- Operating system: Ubuntu 18.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

[2020-10-02 11:38] erwanriou commented on #4849
Ok fixed it by myself. For this i had to

[code]

[2020-10-02 15:59] gsquared94 commented on #4849
Skaffold assumes minikube cluster to be already running. It is possible that the minikube cluster was in a [stopped](https://minikube.sigs.k8s.io/docs/commands/stop/) or [paused](https://minikube.sigs.k8s.io/docs/commands/pause/) state. If you continue facing this issue you could try the `unpause` or `start` commands accordingly.

[2020-10-02 17:31] #4848 closed

[2020-10-02 23:19] StarpTech commented on #4842
I faced the same issue. Running the github action multiple times results in multiple builds of the same image. It never produces the same `sha256` tag.

[2020-10-02 23:31] StarpTech commented on #4842
I run `skaffold run` with debug mode and found some interesting logs.

[code]

The whole issue can be resolved by setting `tryImportMissing` 😄

[code]

Why isn't it true by default?

[2020-10-03 01:09] go-nelango opened #4851 "STATUSCHECK_IMAGE_PULL_ERR for an image that was pushed to repo in build phase"
In my skaffold dev session, build phase succeed and images were pushed to the repo, but deployment failed with STATUSCHECK_IMAGE_PULL_ERR.

### Expected behavior
Images should pulled successfully from the repo as they were just pushed to it in the build phase.

### Actual behavior
Deployment phase with STATUSCHECK_IMAGE_PULL_ERR.
**Logs (summary):**
[code]

### Information

- Skaffold version: v1.

[2020-10-03 01:10] go-nelango commented on #4851
**Details logs:**
[code]

[2020-10-04 08:35] MichielS-1848709 commented on #4807
Hey @briandealwis , so I tried installing the bleeding edge version via Docker, but for some reason it won't work.
It's probably something stupid that I don't know about... Things I tried:
- Previous versions → won't work
- Searched online → nothing found

![image](https://user-images.githubusercontent.com/32015956/95010809-9e5aa380-062c-11eb-9a95-1804642f1408.png)

I'm using Git Bash (Windows 10

[2020-10-04 11:48] briandealwis commented on #4807
You’ll need to download the bleeding edge: running it from docker won’t be the same.

I was thinking a vidéo might be helpful as we can see exactly what your environment looks like. We can’t reproduce your situation. There’s something different about your environment.

[2020-10-04 13:10] ricardo-larosa opened #4852 "Remove warning message "The additionalFlags field in kaniko is deprecated""
Recently kaniko v1.0.0 https://github.com/GoogleContainerTools/kaniko/releases/tag/v1.0.0
Introduced flags like: `--snapshotMode=redo`, `--use-new-run` and `--snaphotMode=ful` which introduces significant optimizations that are not possible to be activated via environment variables

For this reason deprecating `additionalFlags` for kaniko builds should be put on hold and to avoid confusion the war

[2020-10-04 14:12] MichielS-1848709 commented on #4807
Installed skaffold version `1.15.0` via Choco, colors are working, the `CTRL+C automatic delete` doesn't work yet.

[2020-10-04 17:18] tvvignesh commented on #3254
@tstromberg Thanks for the tip regarding the format. It was failing randomly without `https://` prefix. Had a question. kubectl v1.19+ introduced proxy-url flag (https://github.com/kubernetes/client-go/issues/351) to allow specifying proxy via config and it works great with kubectl. However, skaffold and some other tools fails with timeout like below:

`exiting dev mode because first deploy failed

[2020-10-04 19:08] StarpTech opened #4854 "Improve `skaffold render` output"
### Expected behavior

`skaffold render` should indicate that the process has started. It would be great to see a loading indicator.

### Actual behavior

No output until the render process is done.

### Information

- Skaffold version: v1.15.0
- Operating system: Windows

### Steps to reproduce the behavior

1. skaffold render -p app

[2020-10-04 19:12] Schachte commented on #2432
I'm also interested in this feature. Any thoughts on reconsidering?

[2020-10-04 19:20] StarpTech commented on #4854
I just checked the PR

`skaffold render --lout` solve it! I'd enable it by default.

[2020-10-05 18:40] ekupershlak opened #4856 "Accept render output in `skaffold deploy`"
Using `skaffold render` to produce a static configuration that can later be deployed (and redeployed) is useful in delivery workflows. However, there is currently no way to provide a rendered manifest to `skaffold deploy`.

### Expected behavior
`skaffold deploy` can be run with a previously rendered manifest

[2020-10-05 18:54] tstromberg commented on #4849
As it says "Connection Refused", my interpretation is that the IP is online (hence the guest), but that the apiserver is not listening at the port. As a minikube dev, this means one of 3 possibilities, in order of likelihood:

* minikube exited during startup. For instance, a user hit Ctrl-C or minikube had a startup error
* The apiserver had invalid flags configured for it, and was in a crash-loo

[2020-10-05 19:04] viglesiasce commented on #4856
As a stop gap you could set up a re-deployment profile and use `skaffold deploy -p re-deploy`

[code]

[2020-10-05 19:14] go-nelango commented on #4851
@tejal29 looks like I might not have permission to assign. But this is the issue where your hypothesis was that registry project id and cluster project id are different. I can confirm that the hypothesis is correct.

[2020-10-05 19:16] go-nelango commented on #4847
@tejal29 FYI

[2020-10-05 19:35] nelango opened #4857 "Track multiple pod statuses and only report the meaningful pod error status"
POD_INITIALIZING is a failure reason reported in status check sub-phase. Instead of capturing the pod status at time limit, Skaffold could track multiple pod statuses and only report the meaningful pod error status

[2020-10-05 19:36] go-nelango commented on #4857
Note: this failure reason is <2% of error breakdown, so may not be a high priority

![image](https://user-images.githubusercontent.com/68573204/95123791-5b213300-0707-11eb-8f5f-6a94d8ac017e.png)

[2020-10-05 19:36] go-nelango commented on #4857
@tejal29 FYI

[2020-10-05 20:01] blaggacao opened #4858 "Image Repository Handling"
### Expected behavior

`--default-repo='x.y.z'` would transform `z.y.x/image-name` into `x.y.z/image-name`.

### Actual behavior
`--default-repo='x.y.z'` transforms `z.y.x/image-name` into `x.y.z/z.y.x_image-name`.

### Information

While this is ok if one's entire deployment workflow is managed through skaffold, it starts to break things once one wants to use skaffold during dev and up until shit

[2020-10-05 20:11] tejal29 commented on #4854
Thanks @StarpTech for posting the solution.

[2020-10-05 20:11] #4854 closed

[2020-10-05 20:14] tejal29 commented on #4564
we haven't seen this recently. Keeping it open!

[2020-10-05 20:14] tejal29 commented on #4539
adding a comment to keep it open.

[2020-10-05 20:14] nkubala commented on #4820
thanks for opening @achedeuzot, this does indeed look like a bug. we shouldn't be trying to reach out to the local docker via the CLI here.

[2020-10-05 20:16] briandealwis commented on #4257
Access to project.toml include/exclude was private and coudn't be accessed.  Need to check if fixed in pack 0.13.1 (#4757)

[2020-10-05 20:17] tejal29 commented on #4849
@erwanriou can you please provide us with `minikube logs` next time you encounter this issue?

[2020-10-05 20:20] nkubala commented on #4815
thanks for opening @mattpodolak. we just closed an identical issue not long ago 😄 https://github.com/GoogleContainerTools/skaffold/issues/4058

cc @gsquared94 any idea? could you try reproing on your windows machine?

[2020-10-05 20:24] nkubala commented on #4785
hmm, i wonder what the right UX is here. definitely a motivating use case for having multiple output "streams" (one for application logs, one for status updates from the readiness probe, etc.)

[2020-10-05 20:24] briandealwis commented on #4797
I think the solution identified in #3468 (https://github.com/GoogleContainerTools/skaffold/issues/3468#issuecomment-679362348) should fix this issue too.

[2020-10-05 20:26] nkubala commented on #4335
don't see any reason why we can't do this. cc @MarlonGamez

[2020-10-05 20:27] tejal29 commented on #4839
@StarpTech Thank you for your question.  This is a deep question and i was wondering if it possible for you to come to our next Community office hours to discuss?https://docs.google.com/document/d/1mnCC_fAI3pmg3Vb2nMJyPk8Qtjjuapw_BTyqI_dX7sk/edit#heading=h.whkfbnrrqifx

The next meeting is on Wed 28th at 9:30 am PST.

[2020-10-05 20:30] StarpTech commented on #4839
Hi @tejal29, thank you. I'll try to participate.

[2020-10-05 20:44] MarlonGamez commented on #4821
Hi @dfernandezm , thanks for opening this issue! I'm currently wondering what could be done about this. It seems like we're simply running in to the hard limit that's defined by your OS (more context [here](https://www.in-ulm.de/~mascheck/various/argmax/)).

Perhaps the kubectl call could be split into multiple calls based off the user's ARG_MAX or equivalent for other OS's?

Would it be possible

[2020-10-05 20:53] blaggacao opened #4859 "Improve contract for Custom Build Scripts (parsed IMAGE)"
### Expected behaviour

The contract for custom builds should do preliminary parsing of the `IMAGE` variable.
Since it is relatively complicated to reliably do so in custom scripts, [especially in bash](https://stackoverflow.com/questions/39671641/regex-to-parse-docker-tag).

### Actual behaviour

The contract does not include parsed components of `IMAGE`.

### Information

https://skaffold.dev/do

[2020-10-05 20:57] tejal29 commented on #4824
ah @jearangoo I don't think we resolve environment variables in keys. It would be easy to fix here to resolve the template for the key value along with the value.

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/helm/helm.go#L659

[2020-10-05 20:59] tejal29 commented on #4858
@blaggacao We are aware of this issue.
We have a PR #4150 in progress to address this.
We will try to get this in ASAP.

[2020-10-05 21:07] blaggacao commented on #4858
@tejal29 Oh nice, I was thinking of ways to abstractly reproduce, so non-withstanding here is my take:

- Have deployment registry on authoritative.registry.example.com
- construe deployments with `image: authoritative.registry.example.com/my-image` - the canonical way
- Manage a temporary host entry with (e.g. with `hostctl`) so that `authoritative.registry.example.com` -> `169.254.0.5` (link-loc

[2020-10-05 21:25] briandealwis commented on #4842
`tryImportMissing` is disabled by default as it can be faster to rebuild than download, especially if you have a slow connection to your registry.

I think this issue will be fixed with #4850 providing you to save and restore your Skaffold cache file.  Normally it's saved in `~/.skaffold/cache` but it can be set with the `--cache-file path/to/cache/file`.

[2020-10-05 21:34] briandealwis commented on #4837
Minikube has its own Docker Daemon.  When you build with a minikube cluster, Skaffold uses the Minikube Docker daemon under the hood:
[code]

Your local Docker daemon is usually a unix socket at `/var/run/docker.sock`, whereas Skaffold is using the Docker daemon at `tcp://192.168.99.101:2376`.  We should make it a bit more clear that we're using the Minikube Docker daemon.

Try the following to se

[2020-10-05 21:44] briandealwis commented on #4807
Unfortunately ^C and signals seems to be [a common problem with "alien programs" with mintty](https://github.com/mintty/mintty/wiki/Tips#inputoutput-interaction-with-alien-programs) (https://github.com/mintty/mintty/issues/684).  We don't have the bandwidth to support such setups.

[2020-10-05 21:44] #4807 closed

[2020-10-05 22:21] IsaacPD commented on #4766
@Djiit No problem, if i'm not mistaken it might also be possible to accomplish your workflow with skaffold already by utilizing an external build script instead as described [here](https://skaffold.dev/docs/pipeline-stages/builders/custom/) or [here](https://skaffold.dev/docs/tutorials/custom-builder/). Of course with that your build options will likely have to move into that script.

I hope this

[2020-10-05 22:33] tejal29 commented on #4391
This is now addressed. I went through all the comments and there is no action item

[2020-10-05 22:33] #4391 closed

[2020-10-06 03:01] briandealwis commented on #4823
`serviceAccount` was introduced with `skaffold/v2beta3`.  Just bump your `apiVersion` and all should be fine.

[2020-10-06 03:01] #4823 closed

[2020-10-06 04:44] dfernandezm commented on #4821
Hi @MarlonGamez, thanks for the attention. I can definitely try.

Would it be enough the following?

- Manifests of sample app (whoami?)
- Folder with thousands of files
- Skaffold yaml with profile that syncs that folder so it shows the issue

I won't be able to provide a testing kubernetes cluster, is that ok?

Also, even I am quite a newbie in Go, I'll be glad to help with a fix if pointed in t

[2020-10-06 08:39] Djiit commented on #4766
Hey @IsaacPD, thanks for the links. I'll have a look at it.

[2020-10-06 08:39] #4766 closed

[2020-10-06 10:14] StarpTech opened #4861 "How to deploy render result by `skaffold render`"
### Expected behavior

I want to practice GitOps with skaffold.
`skaffold deploy` should provide an argument to deploy the output of `skaffold render`

For example:

[code]

### Actual behavior

`skaffold deploy` only allows deploying a build artifact. The rendering process is triggered a second time and I have no chance to manipulate/validate the manifests before they are deployed.

[code]

### I

[2020-10-06 10:46] StarpTech commented on #4861
Do I understand correctly that I need to do this:

[code]

[2020-10-06 18:40] tvvignesh commented on #3254
Not sure, but I guess skaffold is using an old kubectl binary. Probably upgrading to latest version v19.2+ might fix the issue ^^

[2020-10-06 20:53] aurelien-baumann-lacapitale opened #4862 "Debug doesn't work with Helm on Windows"
### Expected behavior

The following command : `C:\ProgramData\chocolatey\lib\skaffold\tools\skaffold.exe debug --filename skaffold.yaml --rpc-port 50051 --port-forward=true --enable-rpc=true` should work on Windows 10 with helm deployer.

### Actual behavior

The command produces the following error:

[code]

### Information

- Skaffold version: v1.15.0
- Helm version: v3.3.4
- Operating system:

[2020-10-06 20:54] briandealwis opened #4863 "SKAFFOLD_GO_GCFLAGS should not be quoted"
### Expected behavior

`skaffold debug` provides `SKAFFOLD_GO_GCFLAGS` to be used in Dockerfiles to build and link Go apps in a form suitable for debugging (as per diff below).  But the resulting binaries are still optimized.

[code]

### Actual behavior

Note the crazy quoting going on with `SKAFFOLD_GO_GCFLAGS`, and `-N -l` is not applied to the actual compile command.
[code]

Skaffold is single

[2020-10-06 21:26] tvvignesh commented on #346
@nkubala I will make a gist and share it with you this week. If that is good enough, you can use it for the docs.

[2020-10-06 21:28] erwanriou commented on #4849
hey, it just happen again, i tried to launch a different project with skaffold so here are the logs inside minikube:

[code]

i will use the method i did last time to fix it

[2020-10-06 21:42] erwanriou commented on #4849
I tryed them but didn't work it seems.

[code]

I still had the same error. I will investigate further to understund how i could fix it last time

[2020-10-06 21:52] matthewmichihara opened #4865 "`skaffold dev` runs tests that don't exist"
[code]

1. Clone https://github.com/GoogleCloudPlatform/cloud-code-samples
2. `cd java/java-hello-world`
3. Change `Hello World!` to `Goodbye World!` in `src/main/java/cloudcode/helloworld/web/HelloWorldController.java`
4. Run `skaffold dev`. It fails as expected, because the tests are looking for `Hello World!`

<details>

[code]
</details>

5. Delete all the tests. `rm -rf src/test`.
6. Run `ska

[2020-10-07 00:46] mattpodolak commented on #4815
I'm also facing this issue using Command Prompt

[2020-10-07 01:01] erwanriou commented on #4849
Ok i really fixed it and found the issue:

We want to use the driver docker to make this work. As you can see in the previous logs it was switching on the virtualbox driver that doesn't work corretly and is not stable with skaffold its seems. So i started investigate why the driver would not work with docker since i am using linux.

The reason was because i installed docker with snap and just remo

[2020-10-07 09:04] mr-bjerre commented on #4842
Great with the `tryImportMissing`!

How do you suggest to use cache file together with GitHub Actions for instance?

[2020-10-07 11:12] briandealwis commented on #4842
It looks like the [cache action](https://docs.github.com/en/free-pro-team@latest/actions/guides/caching-dependencies-to-speed-up-workflows#using-the-cache-action) would work?

[2020-10-07 13:53] briandealwis commented on #4821
@dfernandezm could you describe what was going on at the time?  Skaffold has a file-system event debouncer that should try to wait for a quiet period before perfoming a sync.  It looks like Skaffold is trying to delete hundreds of .class files.  Why did these class files disappear?

[2020-10-07 15:47] briandealwis opened #4867 "Order of applying profiles is undefined"
Skaffold's docs do not define the order in which profiles are applied.  The implementation [applies profiles](https://github.com/GoogleContainerTools/skaffold/blob/ff33ac0a47dde7bc035eec1be8ae1fce01fa97d9/pkg/skaffold/schema/profiles.go#L42) in a somewhat surprising manner:

  - auto-activated profiles (provided that they are not `!` from the command-line), in the order listed in the skaffold.yaml

[2020-10-07 16:05] gsquared94 commented on #4815
@nkubala I don't have my windows machine. The VM approach doesn't work anymore

[2020-10-07 16:18] briandealwis commented on #4477
Or maybe we need a way to say ignore minikube and build with the local docker daemon.

[2020-10-07 16:26] briandealwis commented on #3461
@nkubala why did you remove `area/private-registry`?  That seems pertinent here.

@jponge: does `skaffold dev`'s re-deploy step actually take effect?  Because your k8s manifest doesn't reference the image as known to Skaffold, I don't see how it can update the image digest in your deployment, and so k8s won't actually redeploy.

It seems we may need the ability to add registry aliases?

[code]

[2020-10-07 16:30] briandealwis commented on #4861
I thought `render` was considered a terminal operation and that you'd use `kubectl apply -f render-result/release.yaml`. Thoughts @GoogleContainerTools/skaffold-team ?

[2020-10-07 16:53] chris-hammond opened #4868 "vm-driver-none fallback detection"
It looks like minkube changed the error code returned when trying to run `minikube docker-env` using `--vm-driver='none'` from 64 to 51. (Why??!!) For obvious reasons, this breaks skaffold when used with minikube in this configuration.

### Expected behavior
When using `skaffold deploy` with older versions of minikube (e.g. v1.12.3) running `--vm-driver='none'`, the following message is displayed:

[2020-10-07 17:18] briandealwis commented on #4862
Are you using bash on Windows?

As part of the support, we recursively invoke Skaffold to apply some filters to the Helm-rendered output.  We write out the list of the built artifacts to pass into this recursed `skaffold`.

[2020-10-07 17:20] briandealwis commented on #4861
We had some discussion about this, and we think this is similar to #4856.

Duplicate of #4856

[2020-10-07 17:20] #4861 closed

[2020-10-07 17:22] briandealwis commented on #4852
@tejal29 is `--use-new-run` expected to be a permanent flag?  Should we try to turn that into an explicit field?  Or will it disappear at some point?

[2020-10-07 17:25] briandealwis commented on #4859
We do something similar with Helm deployer's [`imageStrategy`](https://skaffold.dev/docs/references/yaml/#deploy-helm-releases-imageStrategy).

[2020-10-07 17:30] briandealwis commented on #4858
Closing — we'll continue discussion on #4150.
Duplicate of #4150

[2020-10-07 17:39] briandealwis commented on #4851
This is the same as #4132 — you need to authorize your cluster to pull from the other project by creating an ImagePullSecret.

Duplicate of #4132

[2020-10-07 17:39] #4851 closed

[2020-10-07 17:50] briandealwis commented on #4831
@eox-dev were you able to find any more information?

[2020-10-07 17:55] briandealwis commented on #4840
Could you include your `./scripts/build.sh` please?

[2020-10-07 17:56] aurelien-baumann-lacapitale commented on #4862
Hey @briandealwis!

I tried with both cmd.exe and git bash and it produced the same results 😔

The path to the built artifacts seems wrong, I tried to find out where it is generated in the code, without success.
I'll give it a bit more time later if I can.

Until then any ideas are welcome 👍🙂

[2020-10-07 18:01] #4858 closed

[2020-10-07 18:01] briandealwis commented on #4840
Just to be more specific: that error indicates that either:
  1. your custom builder (the `./scripts/build.sh`) isn't fulfilling the [custom builder contract](https://skaffold.dev/docs/pipeline-stages/builders/custom/) and building the image to the given $IMAGE, or
  2. skaffold doesn't have permission to contact / query the image destination (the registry or local docker daemon — it's unclear wha

[2020-10-07 18:07] nushkovg commented on #4840
[code]
Here is the build script. I have tried adding a step in the travis script which uses this exact command and it works that way, but for some reason doing it in Skaffold leads to an error. I also assume it has something to do with the travis docker daemon, but I am not quite certain what it could be.

[2020-10-07 18:07] briandealwis commented on #4839
Or you might want to post to the [`skaffold-users` mailing list](https://groups.google.com/forum/#!forum/skaffold-users).

[2020-10-07 18:16] briandealwis commented on #4849
Thanks for letting us know!

(fyi @tstromberg @medyagh @priyawadhwa @sharifelgamal)

[2020-10-07 18:16] #4849 closed

[2020-10-07 18:50] briandealwis commented on #4865
This is a Maven issue: you'd see the same error if you ran `mvn package`.  Maven doesn't clean out `target/classes` or `target/test-classes`

[2020-10-07 18:50] #4865 closed

[2020-10-07 19:07] briandealwis commented on #4862
@aurelien-baumann-lacapitale the relevant code [is here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/helm/helm.go#L385-L395).  Would you mind running `skaffold debug -v debug ...` and post the full redacted logs here?

[2020-10-07 19:32] briandealwis commented on #4840
I should have looked at your travis build log:
[code]

You need to tweak your build.sh.

[2020-10-07 19:34] briandealwis opened #4870 "`debug` should make suspending on start to be configurable"
`debug` currently configures containers to be in a _continue mode_ where the containers run without suspending.  It can be useful for users to be able to connect to their containers immediately on execution, such as to debug a `main()` or `init()` method.

_Proposal:_ `debug` should look at the container and/or pod for a _suspend_ option and if present, then configure the pod to suspend on start (

[2020-10-07 19:39] aurelien-baumann-lacapitale commented on #4862
Here it is.
I had to replace some private names, hope it's ok:

[code]

[2020-10-07 20:46] matthewmichihara commented on #4865
playing devils advocate here - if skaffold is supposed to optimize my dev loop, doesn't this feel like a bug?

In a normal dev loop, if a test is failing, one reasonable thing to do is delete the test and then try to rebuild/retest/redeploy.

[2020-10-07 21:07] aurelien-baumann-lacapitale commented on #4862
Also running these commands in cmd.exe:

[code]

outputs:

[code]

[2020-10-07 21:11] briandealwis commented on #4862
So there should be a `SKAFFOLD_CMDLINE` environment variable listed in the `EnvVarMap` shown before running `helm install --post-renderer .../skaffold.exe ...`, but clearly it has been defined given the error message from `skaffold filter --help`.

The problem is that the backslashes in the Windows path name passed to `skaffold filter --build-artifacts` are being interpreted by the use of `shell.S

[2020-10-07 21:22] aurelien-baumann-lacapitale commented on #4862
Oh I get it...

It doesn't sound like good news as github.com/kballard/go-shellquote seems to be used in a pretty hot place of the codebase 🤭

Is there something I can to do to help?

[2020-10-07 21:23] aurelien-baumann-lacapitale commented on #4862
Ok you code faster than I type comments 🤠

[2020-10-07 21:30] #4841 closed

[2020-10-08 02:17] #4863 closed

[2020-10-08 02:31] briandealwis commented on #4865
My point is that the following fails in the same way:
[code]

Note that you deleted *all* the tests.  In similar situations, I would comment out the test, and never delete the test.

[2020-10-08 08:18] msgongora commented on #4555
@zoulux as per [doc](https://skaffold.dev/docs/references/yaml/),

so sounds to me like **buildArgs** is not what you are looking for. Try **flags** instead

[code]

[2020-10-08 08:23] dfernandezm commented on #4821
@briandealwis thanks for your reply. There is a build happening, affecting thousands of files, the build is 'cleaning' and recreating the files in that folder. This process takes 10-20 seconds in total, during which Skaffold tries to sync and fails.
I remember all this syncing was working at some point, this is why it was implemented like this, but it's possible there are more files now.

[2020-10-08 14:26] briandealwis commented on #4821
Do you think this sync is happening mid-way during your rebuild?  If so, you could try using `--trigger=manual` to control rebuilding using the keyboard (basically: Skaffold waits for an <kbd>Return</kbd> to perform rebuilds/redeploys/syncs).

I think Skaffold should support alternative sync strategies, such as using rsync or mutagen, but that's a longer-term change.

[2020-10-08 14:44] briandealwis commented on #4856
So this essentially means: ignore the manifests listed in the `skaffold.yaml` and instead pipe in the manifest provided on the command-line into the deployer?  Skaffold shouldn't apply any of its transforms to the output (digestifying image references according to the build artifacts, and adding labels/annotations).

This means that we assume the deployer can take and safely re-render previously-r

[2020-10-08 16:49] #4784 closed

[2020-10-08 18:37] tejal29 commented on #3267
@prary Do you have an example of how the PSP should be configured ?

[2020-10-08 18:38] tvvignesh commented on #3267
Hi. I am still seeing this error when trying to deploy on a cluster with restricted PSP set with no root privileges - I am using this PSP with no changes - https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/policy/restricted-psp.yaml

and I get this error:

<img width="693" alt="Capture" src="https://user-images.githubusercontent.com/1165845/95499849-846de780-09c3-11eb

[2020-10-08 18:48] itamarlev commented on #313
I might be related to something different altogether
I used this solution from the git side and it worked like magic
https://stackoverflow.com/questions/1580596/how-do-i-make-git-ignore-file-mode-chmod-changes
git config core.fileMode false

[2020-10-08 20:11] yuwenma opened #4874 "`skaffold render` should accept tagged images"
### Expected behavior
skaffold render should be able to update the new tag to the image.

For example, if the old tag is 2020-09-28_0000 and the new tag is 2020-09-28_1111 , [this change](https://screenshot.googleplex.com/Bjvokr4Qikn4RfW.png) should happen in deployment.yaml files.

### Actual behavior
Skaffold does not update but attach the new tag (See [here](https://screenshot.googleplex.com/5j

[2020-10-08 20:15] #4335 closed

[2020-10-08 20:19] yuwenma opened #4875 "`skaffold build` fails unpredictably with secret “docker-cfg”"
`skaffold build` uses [a hard-coded secret “docker-cfg”](https://github.com/GoogleContainerTools/skaffold/blob/b9bb604094b00c8824a4ea2359a975e15dfd9db6/pkg/skaffold/constants/constants.go#L50) as the default docker build. When  `.build.dockerConfig.secretName` is not provided, this default secret is supposed to be created. However, this fails unpredictably in either ways:

If `.build.dockerConfig.

[2020-10-08 20:20] yuwenma commented on #4875
@nkubala @tejal29

[2020-10-08 20:25] yuwenma opened #4876 "`skaffold render` in “remote” digest-source mode pulls cluster name instead of the tag"
### Expected behavior
According to the doc, `skaffold render --digest-source=remote` is supposed to "[resolve the digest of images by tag from the remote registry](https://skaffold.dev/docs/references/cli/)".

### Actual behavior
When running skaffold in gitlab CI, skaffold does not resolve the digest from the remote registry but uses the cluster name as the tag. See [result](https://screenshot.go

[2020-10-08 20:26] yuwenma opened #4877 "`skaffold render` in “remote” digest-source mode pulls cluster name instead of the tag"
### Expected behavior
According to the doc, `skaffold render --digest-source=remote` is supposed to "[resolve the digest of images by tag from the remote registry](https://skaffold.dev/docs/references/cli/)".

### Actual behavior
When running skaffold in gitlab CI, skaffold does not resolve the digest from the remote registry but uses the cluster name as the tag. See [result](https://screenshot.go

[2020-10-08 20:26] yuwenma commented on #4877
@nkubala

[2020-10-08 20:29] yuwenma opened #4878 "skaffold is not fully compatible with google artifact registry and container registry URLs"
Skaffold uses an external library[ to parse the app image](https://github.com/GoogleContainerTools/skaffold/blob/b4ba29aaba9e443e16b020a2057cfb96e8bc1d57/pkg/skaffold/docker/reference.go#L19). This library could not recognize google artifact registry and container registry images if both tag and digest are given.

### Information

- Skaffold version: v1.14

### Steps to reproduce the behavior
run

[2020-10-08 20:32] yuwenma commented on #4876
@nkubala

[2020-10-08 20:35] #4877 closed

[2020-10-08 20:42] yuwenma opened #4879 "`kpt fn config` should also be watched by skaffold file watcher ( trigger a new deploy)"

[2020-10-08 20:43] yuwenma opened #4880 "remove the prefix to the file names in tmp sink dir"

[2020-10-08 20:43] yuwenma opened #4881 "Add codelab to introduce kpt deployer"

[2020-10-08 20:46] yuwenma opened #4882 "Better formatting kpt errors (new lines)"
The kpt error message should be better displayed like splitting into new lines.

See below example

[code]

[2020-10-08 20:47] yuwenma opened #4883 "Add links to kpt to introduce `kpt live apply` "inventory" thing"
This is to give user more guidance on how to use kpt in skaffold. We should link the corresponding kpt document in the skaffold reference for users' convenience.

[2020-10-08 20:48] yuwenma opened #4884 "Check the pre-installed kpt version to make sure it satisfy the basic requirements."
kpt is not GA yet. This checks the preinstalled kpt version and make sure it is compatible with skaffold.

[2020-10-08 20:51] yuwenma opened #4885 "Validate the kpt deployer config at the beginning of each command"
Current kpt deployer validates its skaffold config when the config is going to be used. We shall always do sanity check at the very beginning (Dev, Render, Cleanup, Deploy or Build) even if the config is not used in the specific commands.

[2020-10-08 22:13] nkubala opened #4886 "Control API receiving deploy intent before build causes dev loop to softlock"
### Expected behavior
When dev loop is running with `auto-build` and `auto-deploy` both set to false, if a rebuild is necessary and a deploy intent is issued by the user **before the build intent**, this intent should be ignored by the server and `needsDeploy` should still be `true`.

### Actual behavior
When a change is made to an already-deployed application, the intents are reset on the runner.

[2020-10-08 22:25] dfernandezm commented on #4821
This is a good point, maybe a manual trigger would work for backend engineers (lots of automated deletion, batched builds) while leaving frontend with polling (immediate changes)

[2020-10-08 22:27] briandealwis commented on #4835
We've been reluctant to support templating for a number of reasons.  As we've seen from Helm, templated files can be very hard to reason about as what you see is not necessarily what you get.  Our skaffold.yaml is a KRM-compliant resource that can be used with other KRM-related tools like kustomize (KRM = Kubernetes Resource Model), which would be lost.

You might consider looking at kustomize to

[2020-10-08 22:28] briandealwis commented on #4846
Are you sure your cluster has access to your registry?

[2020-10-09 00:54] briandealwis commented on #4821
@dfernandezm  what kind of builder are you using? A `jib` builder or a `custom` builder?

[2020-10-09 02:10] briandealwis commented on #4846
Any ideas @tejal29?

[2020-10-09 02:15] briandealwis commented on #2745
@nkubala still on track for 1.16.0?

[2020-10-09 02:27] briandealwis commented on #4310
@robertgates55 could you please confirm whether you actually have a hostname setup for `registry.localhost`?  Or could you show the result of `curl -i registry.localhost:5000`?

[2020-10-09 02:37] zoulux commented on #4555
Thank you, Let me test it.

[2020-10-09 02:40] briandealwis commented on #3610
I think `default-repo` should only be applied to the `cacheFrom` if the image repository matches that of a defined artifact.  After all, there may be a reason to have the cache be pulled from some other repository.

[2020-10-09 02:55] briandealwis commented on #4868
This was changed with https://github.com/kubernetes/minikube/pull/9126

[2020-10-09 03:18] zoulux commented on #4555
@msgongora It is not ok.

[2020-10-09 03:36] briandealwis commented on #4842
@mr-bjerre did you have a chance to try the cache-action?

[2020-10-09 03:39] briandealwis commented on #4793
@oo00spy00oo could you please attach your logs from running with `skaffold dev -v debug`?  I'm wondering if the sync is being attempted but is failing, and so the image is being rebuilt.

[2020-10-09 04:45] msgongora commented on #4555
Please be mindful that **--cache-dir** is not intended to generate cache but to consume it. To generate cache you need to use **warmer** tool as [documented](https://github.com/GoogleContainerTools/kaniko/#caching) Unfortunately skaffold doesn't provide such feature out of the box, so you will need to implement something in order to generate the cache into a persistent volume.

[2020-10-09 06:41] zoulux commented on #4555
I am very said.

[2020-10-09 08:48] StarpTech commented on #4842
Try this. Keep in mind that this doesn't work for local builds. If you delete images from your registry the cache is no longer stable.

[code]

[2020-10-09 09:04] mr-bjerre commented on #4842
Thanks for the suggestions !

Question before trying it out: I only have to add that additional step suggested by @StarpTech in GitHub actions? I'll leave everything else as stated on my original post? I.e. the `skaffold.yaml` as well?

[2020-10-09 09:21] StarpTech commented on #4842
@mr-bjerre yes. The action must be inserted before calling skaffold.

[2020-10-09 09:27] gsquared94 opened #4888 "Image pruner operations fail if the context was cancelled or timed out during build or deploy."
The type `pruner` in `prune.go` uses the same `context.Context` that are used by build or deploy. As such if the user hits `Ctrl+C` to cancel the build or deploy sometimes they get the error message:
[code]
which is returned from the docker api client that `pruner` calls with a cancelled context.

[2020-10-09 09:30] gsquared94 commented on #4888
@ilya-zuyev I think it's from https://github.com/GoogleContainerTools/skaffold/pull/4792
Specifically in `pkg/skaffold/build/local/local.go`:
[code]

[2020-10-09 11:13] noobG commented on #4835
In my case it would definitely be easier to reason about variable substitution, but I can see how maybe that would depend on the context and that you try to guide people toward certain practices - I'll just assume my perspective is missing some context :-)

kustomize does seem like it'd do the job - I'll run with that

[2020-10-09 11:13] #4835 closed

[2020-10-09 12:34] mr-bjerre commented on #4842
It works !! I'm kinda mind blown by that magic - thanks a lot!

[2020-10-09 13:27] bruno-lopes commented on #3890
@nkubala, thanks for your response. I'm using Skaffold v1.15.0, and I have the same problem. I tried the following methods:

- Set insecure registries with global config:
   ```skaffold config set insecure-registries XXX.XXX.XXX.XXX```
- Set insecure registries with key insecureRegistries in skaffold.yaml (build block):
[code]
- Set insecure registries in command line
```skaffold dev --insecure-re

[2020-10-09 13:37] bruno-lopes commented on #3890
Now I saw this:

https://github.com/GoogleContainerTools/skaffold/issues/3951#issuecomment-679384031

[2020-10-09 15:00] ekupershlak commented on #4856
The intention of this FR is to seperate the rendering and deployment operation, so that the render from a deployer with non-trivial logic (e.g.kpt) can still be applied. I would expect some of th details from the original skaffold.yaml to be needed (i.e. which deployer to use) though perhaps this could be included in the manifest.

I'm not well versed in the details of helm - could you elaborate a

[2020-10-09 16:36] StarpTech opened #4889 "Update docs on behaviour of tryImportMissing"
### Expected behavior

A code change in the docker image should produce a different hash and cause a rebuild of the image.

### Actual behavior

Skaffold reports that the image **could be found** remotely. I double-checked it.

### Information

- Skaffold version: v1.15.0
- Operating system: Windows

[code]

Github workflow

[code]

[2020-10-09 17:06] StarpTech commented on #4889
The reason is `tryImportMissing: true` in combination with the skaffold cache. Is it possible that the digest isn't respected here?

[2020-10-09 17:09] jponge commented on #3461
The problem is exactly that Skaffold and the K8s resources reference the image with a different prefix

[2020-10-09 17:09] jponge commented on #3461
Aliases could be a solution

[2020-10-09 17:25] ilya-zuyev commented on #4888
Yep, that's me.
/assign

[2020-10-09 17:25] ilya-zuyev commented on #4888
/assign

[2020-10-09 17:25] ilya-zuyev commented on #4888
Yep, that's me. Thanks!

[2020-10-09 17:29] StarpTech commented on #4889
Oh, `sha256` is the `latest` tag. That means skaffold tries to check if an image with the tag `latest` already exists. Due to the fact we have always a latest tag skaffold won't rebuild the image. This means `tryImportMissing` is not predictable with the `sha256` tagging strategy and should produce an error.

https://github.com/GoogleContainerTools/skaffold/blob/d9cf47da6aa179cc9b47e433b386491120f

[2020-10-09 17:32] StarpTech commented on #4842
@mr-bjerre keep an eye to https://github.com/doctama/doctama/blob/master/skaffold.yaml

[2020-10-09 17:33] StarpTech commented on #4842
keep an eye to https://github.com/GoogleContainerTools/skaffold/issues/4889

[2020-10-09 18:13] #4862 closed

[2020-10-09 18:45] briandealwis commented on #4889
Do you have a `.dockerignore` file?

Can you include your build logs, ideally with `-v debug`?

[2020-10-09 18:46] StarpTech commented on #4889
Yes, but there are no changes between the runs.

Not yet.

[2020-10-09 18:47] briandealwis commented on #4889
Yes, `tryImportMissing` won't be useful with the sha256 tagging strategy.

[2020-10-09 18:49] StarpTech commented on #4889
You mean incompatible?

[2020-10-09 19:28] gsquared94 opened #4891 "[Build Artifact Dependency] Handle proper image cache invalidation."
PR https://github.com/GoogleContainerTools/skaffold/pull/4828 introduces the notion of defining dependencies between artifacts. However it doesn't handle invalidating the cache properly.

For example: If user defines `artifact1` and `artifact2` where `artifact2` is a required artifact for `artifact1` then if there's a file change in `artifact2`'s workspace that invalidates the cache of `artifact2`

[2020-10-09 19:32] gsquared94 opened #4892 "[Build Artifact Dependency] Handle proper devloop rebuild and redeploy."
PR https://github.com/GoogleContainerTools/skaffold/pull/4828 introduces the notion of defining dependencies between artifacts. However it doesn't properly handle app rebuilds during an ongoing `skaffold dev` or `skaffold debug` run.

For example: If user defines `artifact1` and `artifact2` where `artifact2` is a required artifact for `artifact1` then if there's a file change in `artifact2`'s work

[2020-10-09 21:17] briandealwis commented on #4889
No, just what you've observed above.

Skaffold's `build --cache-artifacts` uses a hash of the the artifact's source to see if an image may already exist. Having built an artifact, Skaffold adds the source hash with the corresponding built image's digest to `~/.skaffold/cache`.  On the next `skaffold build`, Skaffold will re-hash the workspace and check for a matching image digest in the `~/.skaffo

[2020-10-09 21:25] StarpTech commented on #4889
Thanks for the clarification but I only want to point out that the use of `tryImportMissing` with `sha256` (tagging policy) doesn't work, even worse it produces a positive/false of your deployment.

[2020-10-10 00:19] tejal29 commented on #3367
I am seeing this error again for a sample project i am running with this dockerfile

[code]
error:
[code]

This is also reason where users see `proto.StatusCode_DEVINIT_REGISTER_BUILD_DEP` /cc @briandealwis and @nelango

[2020-10-10 01:34] tejal29 opened #4895 "Collect & Report warning errors seen and ignored during a skaffold dev loop."
There are some scenarios where we are spitting warning and proceeding with the dev/run flow.
e.g.
1.  a bunch of users are seeing error when listing dependencies on a `ONBUILD` instruction e.g.  #3367

I am working on a PR to spit treat these as warning and continue registering other build dependencies.
It would be interested to capture if a user encountered such warnings and see if we these are v

[2020-10-10 06:30] tejal29 opened #4897 "skaffold port-forwarding does not throw error when port forwarding is not successful."
I spend 3 hours trying to debug why my ruby application is not working on localhost:8080

Being new to ruby and trying [someone's else code ](https://github.com/chillu/github-dashing) using skaffold (written by us), i immediately blamed the code and went down this rabbit hole to debug ruby code.

The actual error was, i had  configured port-forwarding incorrecty.
My deployment name was "github-das

[2020-10-10 06:55] tejal29 opened #4898 "[sync"
### Expected behavior

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
3. ...

[2020-10-10 12:22] sdwolfz commented on #3367
[code]

:point_up: may be the old ruby version? assuming that image was built a long time ago. Anyway, my issue went away when upgrading the docker version in out `CircleCI` jobs, so it might be a different issue you are facing, with the same symptoms. Might I suggest you open a new issue instead, and close this one again? I'll be unsubscribing from this thread as my problem was fixed.

[2020-10-10 17:00] tvvignesh commented on #346
Hi. Have written a small doc about this trying to elaborate each step of the process. You can find it here: https://docs.google.com/document/d/1JLsgL2ooHNL_n2bufFVpnbMIkhJRtlf5F3V6Es98O8Q/edit?usp=sharing

Please feel free to use it if it makes sense. Haven't done much of formatting - just wanted to focus on the content.

**CC:** @nkubala @tstromberg @tejal29 @briandealwis @dgageot

[2020-10-10 17:54] briandealwis commented on #346
Thanks @tvvignesh, we'll give it a look soon!

[2020-10-11 22:02] FBurner opened #4901 "HTTPS port fowarding not working"
Im using a reverse proxy on ssl

portforward not works for ssl port 443

portForward:
  - resourceType: deployment
    resourceName: reverse-proxy
    port: 443

if i add local por with another port than 443 t it works perfectly
and nothing is listening localy on 443

- Skaffold version: 1.15.0
- Operating system: ubuntu
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
1.

[2020-10-12 02:04] briandealwis commented on #4878
I suspect we should use `go-containerregistry`'s `go-containerregistry/pkg/name.ParseReference()`.

[2020-10-12 02:05] briandealwis commented on #4901
What problem do you see?  Could you please include your Skaffold logs (redacting any internal information)?

[2020-10-12 09:42] #4868 closed

[2020-10-12 14:06] chanseokoh commented on #3367
`ruby:2.3.0` seems to be an old image pushed with the deprecated manifest v2 schema 1. Apparently Docker Hub doesn't auto-convert it to schema 2.
[code]

[2020-10-12 14:16] dfernandezm commented on #4821
This app uses a customised job build, which in turn fires a gradle build with multiple steps, one of them does a custom clean task very time that deletes all those files. On top of that, IntelliJ IDEA may clear them too. I have to still test the option of the manual trigger, but that'd be a workaround.

[2020-10-12 23:08] tejal29 commented on #346
Thanks @tvvignesh for sharing your example.

[2020-10-12 23:29] tvvignesh commented on #346
The main issue with Kaniko is the privileges it needs on a cluster with restricted PSP. I have switched away from Docker to using Buildah - there are some bugs with buildah but they will be fixed soon. Wanted to use skaffold with Buildah and Helm in my CI pipeline. Have currently parked that exercise since I was going nuts on what to go for 😅 I will do it some other time. Currently, I have switche

[2020-10-13 10:05] thomas-riccardi opened #4903 "Documentation: Font Awesome search icon placeholder broken"
![image](https://user-images.githubusercontent.com/1730297/95846468-bd071b80-0d4b-11eb-9705-fef4be1223c7.png)

The `font awesome 5 free` web font is somehow not used in the search dom element, so the placeholder isn't substituted.

(changing the font-weight to 900 does make it work, but it's not necessary on upstream docsy demo site https://example.docsy.dev/ ; I stopped the investigation there).

[2020-10-13 17:08] tejal29 commented on #4793
This could be related to https://github.com/GoogleContainerTools/skaffold/issues/4898

[2020-10-13 18:07] AndiDog commented on #2475
@balopat @nkubala Mind reopening this? I see huge benefits from support buildx and its `--cache-to` feature: as opposed to plain `DOCKER_BUILDKIT=1` execution, buildx can [upload the cache](https://github.com/moby/buildkit#export-cache) for all parts of a multi-stage build and would therefore save lots of time (and the environment).

[2020-10-13 18:51] code-is-art opened #4904 "Add status-check option to the skaffold.yaml"
Would like to request that status-check be included in the skaffold.yaml for ease of development. I currently updated to the latest version from a very old version and was confused as to why I had to look at my k8s logs to find out what had happened to my pods until I discovered that the current version of skaffold has status-check set to true by default. I believe this is just fine but now I have

[2020-10-13 20:37] tejal29 opened #4905 "[Exploration] Hook up buildah with custom builder."
Inspired by @tvvignesh discussion [here](https://github.com/GoogleContainerTools/skaffold/issues/346#issuecomment-707395438) we should look documenting an example for buildah as a custom builder.

[2020-10-13 20:39] tejal29 commented on #346
Thanks @tvvignesh for this honest feedback. We will discuss this internally and update you.
Our goal is to provide one tool that developers use from dev to production and you bring up interesting points.

If not kaniko, skaffold should be able to integrate smoothly with buildah. I opened an investigation here https://github.com/GoogleContainerTools/skaffold/issues/4905

Again thanks and stay tuned

[2020-10-13 21:42] broady commented on #4753
Any way to remove the "priority/awaiting-more-evidence" tag? I don't think anything's waiting on me?

[2020-10-13 22:41] MarlonGamez opened #4906 "[Epic] Improve experience using skaffold init"
This will serve as a top-level tracker for open issues related to skaffold init as of 2020/10/01

- [ ] #4417 - `init` should detect and configure Java multimodule projects for Buildpacks
- [X] #4335 - `skaffold init` should detect Polyglot Maven projects
- [x] #3814 - [FR] support setting artifact.context in skaffold init
- [ ] #3770 - skaffold init shows a list of warnings for templated image na

[2020-10-13 23:25] tejal29 commented on #4692
We have an issue #4645 which @PriyaModali  is working on to reduce Deploy_UNKNOWN.
@go-nelango, can you add some data on
1. BUILD_UNKNOWN by builders?
2. DEPLOY_UNKNOWN by deployers?

[2020-10-13 23:32] nkubala opened #4908 "Configure port-forwarding in `skaffold init`"
we might be able to use some heuristics to detect if users have ports they want forwarded in their applications and set that up for them in `skaffold init`. for example, if a k8s deployment YAML has a `containerPort` declared, it might be nice to automatically forward this to the local host.

[2020-10-14 01:37] nkubala commented on #4874
the reason we designed skaffold this way is so users wouldn't get themselves into an unpredictable situation when deploying with skaffold. if a user provided a manifest with an existing tag and ran `skaffold run`, skaffold might build and deploy a different image than the one they expected (with the provided tag before running), which could produce some unexpected and potentially dangerous results

[2020-10-14 06:48] broady commented on #4753
I updated my Docker Desktop version and now get this error instead:

[code]

I added some log statements:

[code]

[2020-10-14 14:44] briandealwis commented on #4753
Hmm, this works for me too (Win 10 version 2004, OS Build 19041.450, Skaffold v1.15.0).

[2020-10-14 15:13] chanseokoh commented on #4753
@broady what do `docker version` and `docker info` say?

[2020-10-14 15:27] levibostian opened #4911 "Logs from `skaffold dev` before container in the ready state"
### Expected behavior

When I run `skaffold dev`, I expect STDOUT and STDERR logs from my container to be displayed *before* my container is in the ready state.

### Actual behavior

I build expressjs nodejs apps that I deploy to k8s. The way that my application is setup is...
1. I have my k8s readiness and liveness checks setup to send a HTTP request to my nodejs application. Expect a 200 back fr

[2020-10-14 15:48] broady commented on #4753
[code]

[2020-10-14 16:31] chanseokoh commented on #4753
[code]
From these errors, at least it seems like you can connect to the docker socket from Skaffold after you upgraded Docker.

I speculated that the "page not found" error response from the daemon might be because of API version mismatch between the client and the server (e.g., hitting a wrong endpoint, hence "page not found"). But obviously, your server and client are using the same version, so

[2020-10-14 16:44] broady commented on #4753
I stopped all my running containers, ran docker system prune --all -force
and get the same error.

[2020-10-14 16:51] broady commented on #4753
But now, strangely, pack is failing. So it's no longer only failing under Skaffold:

[code]

[2020-10-14 18:38] MarlonGamez opened #4912 "FR: skaffold init --force should do it's best to automatically resolve builder/image pairs"
When running `skaffold init --force` on a project with multiple images and builders, it would be nice if skaffold didn't error out because it can't resolve the pairings
[code]

It would be nice to have skaffold make some decision automatically, even if that means just pairing things in order of the lists that skaffold uses to keep track of the builders/images.

What would be really nice is it skaf

[2020-10-14 19:49] briandealwis opened #4913 "Output logs from `--mute-logs` contain ANSI sequences"
Our [colour output formatter functions](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/color/formatter.go#L104-L122) don't check that the given output is the same as the [output used to determine if it's a terminal and supports colour](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/color/formatter.go#L39).  So when we log output using `--mute-l

[2020-10-14 20:10] #4852 closed

[2020-10-14 20:29] nkubala commented on #4820
ok @achedeuzot I was finally able to reproduce this. there are a few things going on here so let me try and break it down:

first, there are a few reasons why a user might want to run their docker builds through the CLI vs the API client, but the main one I can think of is running buildkit builds (which aren't supported through the docker API), though if there are others I'd love for anyone to poi

[2020-10-14 21:24] nkubala commented on #2432
@Schachte we recently added functionality to use kubectl's built-in kustomize when the standalone binary isn't present on the host, which might enable you to use our `kustomize` deployer without having a hard dependency on `kustomize` itself. have you given this a shot?

[2020-10-14 21:26] nkubala commented on #3890
@bruno-lopes glad you were unblocked. it's not really clear to me if there's anything we can/should be doing for this in skaffold, since we generally try and stay hands-off of app settings on the host aside from skaffold itself.

i'm going to close this issue for now, but please reopen if anyone thinks there's work to be done on our end!

[2020-10-14 21:27] nkubala commented on #2745
mmmm i'll try and get my PR back open this week, otherwise i'll bump the milestone.

[2020-10-14 22:34] tejal29 commented on #4692
Handled BUILD_UNKONWN -> docker connectivity issues here #4914

[2020-10-15 00:37] go-nelango commented on #4692
Please note charts below are based on IntelliJ metrics from 9/1/2020 to 9/30/2020 with skaffold version v1.13.2 and higher.
Vscode is currently not reporting Skaffold Metaevent and we are fixing it.

1. BUILD_UNKNOWN by builders
![image](https://user-images.githubusercontent.com/68573204/96059730-97f5d400-0e43-11eb-880d-664dc1efdc36.png)

2.DEPLOY_UNKNOWN by deployers
![image](https://user-images.

[2020-10-15 08:18] mr-bjerre commented on #4842
I might have closed this a little too early. Now my images are no longer being cached. I'm getting the following message in the post cache step in my Github Action.

[code]

My actions file look like this

[code]

In `skaffold.yaml` I do *not* set `tryImportMissing` and the `tagPolicy` is `gitCommit`.

[2020-10-15 11:48] gsquared94 commented on #4856
AFAIK `helm` doesn't support [^1] taking a rendered manifest and re-rendering like the ask in #4874. So we can't have this as a deploy level feature without it working for all deployers. But isn't it just `kubectl apply -f`? How does skaffold enrich a rendered manifest in the deploy pipeline any better than what could be achieved by applying the manifests directly?

[^1]: Might change with the hel

[2020-10-15 14:18] MarcoSchaar opened #4916 "question: integrated Tests"
Hi
are there any plans to integrate some more tests

in https://skaffold.dev/docs/references/yaml/#test

according to examples in:

https://github.com/GoogleContainerTools/container-structure-test

kind regards
Marco

[2020-10-15 14:43] briandealwis commented on #4870
[Request on StackOverflow](https://stackoverflow.com/questions/60187746/skaffold-debug-with-node-brk)

[2020-10-15 15:11] briandealwis commented on #4856
@ekupershlak It would help me to understand to have a concrete example (even if just a toy).  I too wondered how what you're asking for is different from `kubectl apply -f < your-previous-yaml` or `kpt apply your-previous-yaml`.  More specifically, what do you expect Skaffold to do?

Re: Helm: I only meant that Helm doesn't really have a notion of _ignore-the-chart-and-use-this-yaml-instead_.

[2020-10-15 15:13] gsquared94 commented on #4903
I couldn't figure much out other than if you delete [this](https://github.com/GoogleContainerTools/skaffold/blob/846b759142aa1b778113ffb42af4483d5cd604dc/docs/layouts/partials/hooks/head-end.html#L13) line:
[code]
then it shows up correctly:
![image](https://user-images.githubusercontent.com/39389231/96149561-18413580-0f27-11eb-9307-953c940a0bc5.png)
 but `far fa-gem` goes missing:
![image](https:

[2020-10-15 15:15] pagmoro commented on #4846
@briandealwis  - Yes , same build with same credentials on same cluster works from windows box. So far it is not reproducible on other Linux boxes. The error seems very abrupt and not helpful.

[2020-10-15 15:21] gsquared94 commented on #4906
<details>
  <summary>👍</summary>
making a comment to appease triage party</details>

[2020-10-15 15:22] ekupershlak commented on #4856
@briandealwis Let me try to provide a sample workflow:
* Use `skaffold render` to produce a manifest and store it
* Use `skaffold deploy` to deploy this manifest
* Some time later, use `skaffold deploy` to deploy the manifest to revert to that state

The intetion of this FR is to enable using skaffold as part of a workflow. Otherwise I need to inspect `skaffold.yaml` to determine what deployer to

[2020-10-15 15:41] briandealwis commented on #4856
Ah, ok.  So having the manifest be processed, either by Skaffold or by kpt (for example), is not required.

@yuwenma: what would we do with kpt?  Would we use `kpt live apply`?
@nkubala: what would we do with Helm?  Just use `kubectl apply`?

Maybe we should call this `skaffold redeploy` :-) I wonder if it should support a `--build-artifacts` to update a previous rendered manifest.  Maybe that sho

[2020-10-15 15:59] StarpTech commented on #4842
`fixed` was a bad example. If you hit the cache with the same key the cache isn't updated. In order to create a good cache key, we need something like a lock file but we haven't because the artifact is generated after each build.

[2020-10-15 16:00] StarpTech commented on #4842
@briandealwis exactly but this will only cache the build with the same sha and the most recent not very efficient.

[2020-10-15 18:12] #4889 closed

[2020-10-15 19:24] yuwenma commented on #4856
@briandealwis
[`kpt live apply`](https://googlecontainertools.github.io/kpt/reference/live/) can understand and apply the rendered manifest just like `kubectl`. The main difference is that it does a more accurate apply since it keeps track of the previous resource statuses.

[2020-10-15 20:19] briandealwis commented on #4846
Huh, this sounds like it might be a line-ending issue.  There are a number of tools that fail to handle carriage returns.  [We hit such an error recently](https://github.com/GoogleCloudPlatform/buildpacks/issues/56) ([fix](https://github.com/GoogleCloudPlatform/cloud-code-samples/pull/371/files)), which was baffling!

Can you please check that your files have expected line endings?

[2020-10-15 23:19] dan-j opened #4918 "Access denied for gcr.io/gcp-dev-tools/duct-tape/go"
### Expected behavior

`skaffold debug` successfully runs pods

### Actual behavior

`skaffold debug` starts my pods with the `initContainer` as expected, but get `Init:ImagePullBackOff` for the `gcr.io/gcp-dev-tools/duct-tape/go` image.

### Information

I don't think this is an issue with skaffold, but with the docker registry skaffold depends on.

I have the image locally as confirmed with `doc

[2020-10-16 07:03] #4892 closed

[2020-10-16 08:19] MarcoSchaar commented on #4916
found out, that tests should be defined in a separate yaml file

[2020-10-16 08:19] #4916 closed

[2020-10-16 15:59] briandealwis commented on #2282
A user asked about this on the `#skaffold` channel.  Skaffold now supports k3d (k3s in docker, #2753) which supports loading images from the local docker daemon via a `k3d image import` command.  The [underlying implementation in k3d](https://github.com/rancher/k3d/pull/91) uses `docker save` to export an image to a tar ball and then loads the tarball into containerd using the `ctr` CLI tool.

The

[2020-10-16 16:18] pagmoro commented on #4846
Thanks - seemed promising but did not help. The only 2 files I have are the Dockerfile and skaffold.yaml. Removed extra line from the end and checked for any special characters. One thing I should mention is /tmp on the box is non-executable. Would that make a difference? I also tried pointing TMPDIR and TMP variables to a different dir in my home. No difference.

[2020-10-16 16:27] tstromberg commented on #4520
Yesterday, a 5-hour outage for image access would have likely been prevented if this issue was solved. Escalating the priority.

[2020-10-16 16:57] gsquared94 opened #4922 "[Build Artifact Dependency] Implement required artifact resolution in individual builders"
Related: https://github.com/GoogleContainerTools/skaffold/issues/4713

This is a tracking issue to implement artifact dependency resolution in the individual builders:

- [x] Local Docker
- [x] Local Buildpacks
- [x] Local Jib
- [x] Custom
- [x] Kaniko
- [x] GCB Docker
- [x] GCB Buildpacks
- [x] GCB Jib
- [x] GCB Kaniko

[2020-10-17 00:17] dan-j commented on #4918
This seems to be fixed now.

[2020-10-17 00:17] #4918 closed

[2020-10-19 17:30] thebigredgeek commented on #733
This seems to still be an issue?

[2020-10-19 19:26] nkubala commented on #1008
thinking about this a bit more, I'm not sure this makes a lot of sense. apart from validating that skaffold is configured correctly, `skaffold run --cleanup` creates resources and immediately tears them down, which is basically a noop. it's true that developers who aren't familiar with skaffold/k8s could incur some costs by running skaffold on a project without cleaning up, but since the default v

[2020-10-19 19:26] #1008 closed

[2020-10-19 20:39] briandealwis commented on #4753
@broady did _Clean / Purge data_ or _Reset to factory defaults_ make a difference?

[2020-10-19 21:37] Exchizz opened #4925 "No logs from container when using "skaffold dev --kubeconfig k8sconfig""
### Expected behavior
Skaffold deploys pod and shows stdout from the container

### Actual behavior
Skaffold deploys the pod but does _not_ show stdout from the cont
### Information

- Skaffold version: v1.15.0-22-ga549c7a1d-dirty
- Operating system: Ubuntu 18.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Clone skaffold repository
2. Create "k8sconfig"-file conta

[2020-10-19 21:46] briandealwis commented on #4846
I took a deeper look…

[code]

The `DEBU[0005] Running command: [kubectl` and `uploading build context` is coming from Skaffold and corresponds to the following code:
https://github.com/GoogleContainerTools/skaffold/blob/a549c7a1dd25fb9e75ef1dd8b59dce940f33f944/pkg/skaffold/build/cluster/kaniko.go#L103-L105

From the `uploading build context: ` error string, `kubectl exec` is failing, but this out

[2020-10-19 22:22] #4516 closed

[2020-10-19 23:12] MarlonGamez commented on #4847
Commenting just to let whoever sees this know that we're hoping to prioritize this this quarter! :)

[2020-10-20 00:05] dalvizu commented on #4771
Hi, sorry for the late reply.

Thanks! It looks like dockers documentation is ambiguous on this so good to know there's a better reference.

You're correct. My mistake. This is a behavior we've observed but there is no ticket open on it that i can find. We need to open one. We have about 12TB of images in our registry so we might be a bit atypical users of artifactory.

Correct!

This is probably

[2020-10-20 07:13] #4806 closed

[2020-10-20 09:20] mr-bjerre commented on #4842
The suggestion from @briandealwis seems to be working perfectly. Thanks.

[2020-10-20 09:20] #4842 closed

[2020-10-20 14:38] gsquared94 opened #4927 "[Event API] Add build skipped events"
Currently we log BuildStarted, BuildCancelled, BuildFailed, BuildSucceeded events. We should additionally log the BuildSkipped event that maps to an artifact image found in skaffold cache

[2020-10-21 14:02] pagmoro commented on #4846
Here's what I get:

DEBU[0002] Running command: [kubectl --context ################@##################### exec -i kaniko-fskxx -c kaniko-init-container -n build-dev -- tar -xf - -C /kaniko/buildcontext]
DEBU[0002] FIXME: Got an status-code for which error does not match any expected type!!!: -1  module=api status_code=-1
panic: FIXME: time to panic

github.com/docker/docker/errdefs.FromStatusCode(

[2020-10-21 16:11] #4891 closed

[2020-10-21 18:31] whereswaldon opened #4928 "Private dependency authentication problems without docker"
I'm doing containers and kubernetes from Fedora Linux. Instead of `docker`, I use `podman` because docker doesn't support cgroupsv2.

I am unable to use `skaffold` due to a strange authentication error. It is trying to pull a docker image from a private Artifactory registry, if that helps.

### Expected behavior

`skaffold dev` correctly runs on my system given that I am authenticated to my contai

[2020-10-21 20:39] tejal29 opened #4929 "Diagnose Kaniko pod failures."
A user reported via [slack](https://kubernetes.slack.com/archives/CABQMSZA6/p1603309658143900) that they were not able to get more information on why the kaniko pod failed.
Skaffold tries to fetch the pod logs, however, the pod could fail even before logs. Hook with `diag` pkg to monitor the kaniko pod and report error events to use when no logs are available.

If `skaffold` binary is run on a con

[2020-10-21 20:49] MarlonGamez commented on #4904
I think this is pretty reasonable, and seems easy enough to implement. PRs welcome! :)

[2020-10-21 21:28] MarlonGamez commented on #4911
Hi @levibostian! Thanks for opening up this issue. I'm trying to reproduce this following the steps you provided, however, I seem to be running into issues running `npm run dev:setup`. Not sure if I'm missing something simple or not.
Here's my output from running the command:
[code]

When running `cat` on the log file, here's what I see:
[code]

[2020-10-21 21:57] levibostian commented on #4911
Hey there, @MarlonGamez. Thanks for checking it out!

`npm run dev:setup` will get databases up and running and then begin skaffold dev.

It looks like skaffold dev didn't execute. Once it begins to execute, you are where I need you to be. `cat /tmp/app_dev.log`. That's where the dev setup script performs STDOUT and STDERR output to.

[2020-10-21 22:37] cpvandehey commented on #4437
Any update @briandealwis ?

[2020-10-22 16:58] tejal29 opened #4930 "Add skaffold "InternalError" to describe an internal error."
There could be cases where due to builds happening in parallel we have now added complex structs like `sync.Map`.
When loading, storing updating these structs,  an internal error can happen at any point.
e.g.  take adding a block of  code for #4896

[code]
Ideally, the cached value should successfully be of type `dependency`. However, inorder to prevent a runtime error, the check for type conversi

[2020-10-22 22:18] MarlonGamez commented on #4857
Perhaps we should create some sort of Epic like tracker for this issue along with #4847 and #4692? Since they are all related to failures when using skaffold?

[2020-10-23 00:56] dfang opened #4931 "got ERROR: (gcloud.auth.docker-helper) on local build"
[code]

### Expected behavior
no this error if code changes when `skaffold dev`

### Actual behavior

It hangs at first line for a couple of minutes, here is my docker config.json

[code]

### Information

- Skaffold version: v1.15.0
- Operating system: macOS 10.15.7
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1.  https://github.com/GoogleContainerTools/skaffold/tree

[2020-10-23 01:21] dfang commented on #4931
when i change

[code]
to

[code]

it runs fast, but i see a line of log `DEBU[0000] Running command: [/usr/local/bin/minikube profile list -o json] `,  that confused me

[code]

[2020-10-23 06:09] dfang commented on #4931
after some debugging, the problem is here,
https://github.com/docker/cli/blob/75c1bb1f33d7cedbaf48404597d5bf9818199480/cli/command/image/build.go#L364

if i comment out this line, and L204, `skaffold build` and `skaffold dev` will run without any hesitation

[2020-10-23 08:34] shibumi commented on #169
Hi I would like to see this feature in skaffold, too.

[2020-10-23 08:55] dfang commented on #4931
possible fix here is:

1.  check if it's local build and push set to false,  if it's true, skip GetAllAuthConfigs

a [builder](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/local/local.go#L40) has information about  if it's local, and push false settings, however it's hard to get builder in [image.go](https://github.com/GoogleContainerTools/skaffold/blob/12d64a2f7

[2020-10-23 11:14] dfang commented on #4931
this issue is related to https://github.com/GoogleContainerTools/skaffold/issues/4724

both `useBuildkit: true` and `useDockerCLI: true` in `skaffold.yaml` will skip ` authConfigs, _ := DefaultAuthHelper.GetAllAuthConfigs(ctx) `

since buildkit's goal is to separate out docker build experience into a separate project, allowing different users to collaborate on the underlying technology and reuse a

[2020-10-23 11:21] dfang commented on #4724
[BuildKit has been integrated to docker build since Docker 18.09] (https://docs.docker.com/develop/develop-images/build_enhancements/), the latest stable version of docker for mac on my desktop is 2.4.0.0, the docker engine is 19.03.13

hi @dgageot  how is going with your PR on this?  if you're busy, i can work on it as a learning process ...

[2020-10-23 18:02] MarlonGamez commented on #4930
I think this would be helpful. Would give us a better idea of where to immediately look when trying to debug something

[2020-10-23 19:22] broady commented on #4753
it did not. should I close this bug out? Looks like if there is a bug, it's probably in cmd/pack, not skaffold.

[2020-10-23 20:11] MarlonGamez commented on #4931
Hi @dfang , thanks for opening this and looking into it so deeply!

We currently have a PR in the works that might help with this issue. https://github.com/GoogleContainerTools/skaffold/pull/4597
I wonder if only computing select auth would give much of a speed up for you

[2020-10-23 20:24] briandealwis commented on #4753
Yeah, let's close it given that several of us tried and were able to build successfully.  You might try recreating your WSL2 instance, or uninstalling and reinstalling Docker.  But at this point I'm just gesticulating wildly while trying to come up with a useful suggestion.

[2020-10-23 20:24] #4753 closed

[2020-10-23 21:00] briandealwis opened #4934 "Define new event to summarize debugging status for container images"
`skaffold debug` merely issues a warning to the console on encountering a container that cannot be configured for debugging.  This warning is easily missed.  Users find having a container not appear to be debuggable is puzzling.

Skaffold should issue an event to report when a container cannot be configured for debugging.  Initial thoughts are that there should be a single event summarizing the de

[2020-10-23 21:15] nkubala opened #4935 "`skaffold build` panics when Dockerfile has empty `FROM` instruction"
### Expected behavior
Skaffold surfaces a helpful error that tells me what is broken in my Dockerfile

### Actual behavior
Skaffold panics:

[code]

### Information

- Skaffold version: v1.15.0
- Operating system: OS X
- Contents of skaffold.yaml: Any of our examples

### Steps to reproduce the behavior

1. pick an example with a dockerfile. remove the `FROM` line and replace it with just `FROM` (

[2020-10-23 21:45] briandealwis opened #4936 "Enable Docker BuildKit by default"
With Docker Desktop 2.4.0.0, BuildKit is now enabled by default (release notes for [_Docker Desktop for Windows_](https://docs.docker.com/docker-for-windows/release-notes/) and [_Docker Desktop for Mac_](https://docs.docker.com/docker-for-mac/release-notes/)):

If Docker is confident enough in its use, then we should enable it by default too!

[2020-10-23 21:46] briandealwis commented on #4724
@dfang: #4597 is on the cusp of being committed.

Skaffold has allowed using BuildKit for a while with:
[code]

Let us know how it works for you!  I opened #4936 to consider making it the default option.

[2020-10-23 21:49] tstromberg commented on #4931
Should this be closed in preference to #4724 ?

[2020-10-23 21:58] #4729 closed

[2020-10-24 02:29] dfang commented on #4931
yes, here is how i chceked:

[code]

[2020-10-24 02:29] #4931 closed

[2020-10-24 16:06] ranihorev opened #4938 "Sync detects changes correctly but not restarting the container (locally)"
I'm running Skaffold locally with minikube in dev mode, and I'd like the container to update once I make changes in my source code. Skaffold detects and syncs the changes as expected but for some reason, it doesn't rebuild and re-run the image.
I also tried using the polling trigger but there was no difference.

Am I doing anything wrong?

Here is an example of the log I'm seeing:

[code]

Notes:

[2020-10-24 23:39] johanronn77 commented on #4938
I have the same problem but running on Windows 10. Following this issue.

[2020-10-25 05:50] dfang commented on #4730
/assign

[2020-10-25 07:42] DhruboB opened #4942 "Ambiguous warning : "WARN[0064] image [gcr.io/wired-benefit-XXXXX/demoapp] is not used by the deployment""
### Expected behavior
Stated warning should be NOT be displayed.
### Actual behavior

Every time I make a change and trigger a re-deployment, I get an error like:

Yet the image is modified with the updated change, so I'm not sure what the error is indicating,

### Information

- Skaffold version: version... v1.15.0
- Operating system: ... MacOS Catilina 10.15.16
- Contents of skaffold.yaml:

[cod

[2020-10-25 14:04] dfang opened #4944 "set GOPATH in Makefile"
### Expected behavior

`make install` or `make integration`  succeeds,
don't need to set GOPATH in bash_profile or run `GOPATH=~/go make install` like this

### Actual behavior
failed because of permission

[code]

### Information

- Skaffold version: v1.15.0-30-gf4e04d1e3-dirty
- Operating system:  macOS 10.15.7

### Steps to reproduce the behavior

1. unset GOPATH in your shell
2. `make install`

[2020-10-25 22:46] drillprop commented on #4938
I'm also experiencing this issue on windows 10.  Somewhere on Stackoverflow I found that if you change `- src/**/*` to `- src/***/*` it should fix the problem, but unfortunately - it doesn't.

[2020-10-26 06:48] aryanPatilhm2 commented on #4261
Hii @pierreyves-lebrun, did you find any way to debug the typescript app through Skaffold?? Currently, I am mounting the container's build folder to my local build folder. But it's not the correct way.

[2020-10-26 08:55] gsquared94 commented on #4934
We currently have a `debuggingContainerEvent` that has a status of either `Started` or `Terminated`.
[code]

I think it'd suffice to introduce a `Failed` status.
[code]

and the implementation is just to add it beside the `WARN` log message we current issue [here](https://github.com/GoogleContainerTools/skaffold/blob/1f3f2045e262c2f43806a91f6fa6a04160c19ed2/pkg/skaffold/debug/transform.go#L237):
[

[2020-10-26 09:25] taisph commented on #4911
I'd also expect to see the log even if a deployment fails using `skaffold dev`. It would save me from doing the same `kubectl get pods`, `kubectl logs <pod name>` dance whenever that happens.

[2020-10-26 09:56] taisph opened #4947 "Skaffold dev uses older deployment pod state as new deployment error"
### Expected behavior

While `skaffold dev` is running, a new deployment should not be marked as failed if a previous deployment is in backoff state or exits with an error when terminated.

### Actual behavior

As seen below, `pod/my-service-v1-6d576c8f74-48qhc` is the new pod created by the new deployment cycle where the two previous attempts are in backoff mode. The older deployments are termina

[2020-10-26 13:43] pierreyves-lebrun commented on #4261
I had to give up as Skaffold team doesn’t understand the concept of development containers.

In comparison, alternative solutions such as Okteto or Devspace support it pretty much  out of the box:
https://okteto.com/blog/remote-kubernetes-development/
https://devspace.sh/cli/docs/introduction

[2020-10-26 15:50] ranihorev commented on #4938
Update: I was running gunicorn web server and for some reason, it was blocking skaffold from rebuilding. Once I switched to another web server, everything was back to normal.

I'll leave the issue open for the other comments.

[2020-10-26 16:22] gsquared94 opened #4949 "`SKAFFOLD_GO_GC_FLAGS` and others should be available in Kaniko and docker-in-gcb builders also"
Currently skaffold passes `SKAFFOLD_GO_GC_FLAGS`, `SKAFFOLD_RUN_MODE` into the docker builder as build args. It should also propagate these values to the Kaniko and docker-in-gcb builders.

[2020-10-26 16:26] anshlykov opened #4950 "User-defined port forwarding resources ignore the namespace flag"
### Expected behavior

if the namespace is not explicitly set in the configuration file for the port forwarding resource and the `--namespace` flag is set then scaffold uses namespace from the flag
### Actual behavior

Skaffold uses `default` or current namespace

### Information

- Skaffold version: v1.15.0
- Operating system: macOS
- Contents of skaffold.yaml: `integration/examples/microservices

[2020-10-26 18:32] briandealwis commented on #4934
Hmm... that `debugEvent` event was [originally defined as an operation event around launch-time status](http://github.com/GoogleContainerTools/skaffold/blob/master/docs/design_proposals/debug-events.md).  I was initially enthusiastic at your suggestion, but in writing up what would need to be changed, I think it makes more sense to piggy-back on the deployEvent and define new status codes for a `d

[2020-10-26 18:55] maxhillaert opened #4951 "Skaffold render --namespace not setting helm namespace in resulting manifests"
### Expected behavior

`skaffold render -a=images.json --namespace=foobar `

should result in
[code]
being expanded with namespace:  foobar

### Actual behavior

namespace: default

### Information

- Skaffold version: 1.15.0
- Operating system: windows
- Contents of skaffold.yaml:

[code]

[2020-10-26 18:56] #4944 closed

[2020-10-26 19:13] nkubala commented on #733
@thebigredgeek that issue was fixed in https://github.com/GoogleContainerTools/skaffold/pull/4792, which will go out with our v1.16.0 release hopefully later this week

[2020-10-26 19:42] tejal29 commented on #4846
@pagmoro Thanks for the sending the detailed report.
I do have a AI to #4929 which will should help bring forward,
- pod events,
- pod failures
etc.
I will try to reproduce this scenario locally.

[2020-10-26 19:43] tejal29 commented on #4912
Adding a comment to keep triage party happy!

[2020-10-26 19:51] tejal29 commented on #4911
@taisph I see a of FR here
1. Skaffold should stream logs for pods "not ready" as there could be interesting things to look at.

We are looking into this. The only reason, we don't have it right now is because the statuscheck output and log output get interleaved.

and a bug.
1. If a pod did fail readiness check, skaffold should show failed logs. I feel status check phase has logic in place to gra

[2020-10-26 19:53] tejal29 commented on #4904
making triage-party happy!

[2020-10-26 19:54] tejal29 commented on #4847
We have few PRs already implemented. This is still a P1 for us.

[2020-10-26 19:56] tejal29 commented on #3367
@chanseokoh we have a a Pr in progress #4896 to not error but ask users to manually docker pull and proceed.

[2020-10-26 20:36] tejal29 commented on #4437
@briandealwis looks like this should be closed now?

[2020-10-26 20:39] nkubala commented on #4613
FWIW i also use zsh and i've never seen this issue myself.

to clear our triage queue, i'm going to close this issue out for now since it's unclear we have anything to do here. @drewp if you happen to dig in more and think this is a skaffold issue, please feel free and reopen.

[2020-10-26 20:39] #4613 closed

[2020-10-26 20:41] tejal29 commented on #4857
@MarlonGamez makes sense. #4692 is kind of an epic. I added a epic label to it.

[2020-10-26 20:42] nkubala commented on #169
@shibumi if you had the ability to run an arbitrary pre-deploy script, would you be able to shell out to `helmfile` and do some necessary pre-processing, then let skaffold use `helm` to handle the rest?

realistically i'm not sure we'll be adding native `helmfile` support to skaffold any time soon, but we'll likely have pre/post- stage hooks added in the next 6 months.

[2020-10-26 20:50] briandealwis commented on #4437
Not yet: I've added debugpy to the duct-tape images (still needs to be regenerated), but I need to fix `debug` to reference debugpy now.

[2020-10-26 21:23] shibumi commented on #169
@nkubala I don't know how helmfile works in detail, but I don't think this will work. As far as I am aware helmfile does not generate a helm configuration. Helmfile directly calls helm as subprocess.

How difficult would be a PR for helmfile? I think I could try this, I contributed to other CNCF projects in the past.

[2020-10-26 22:44] nkubala commented on #4856
I think this only poses a problem with helm. we'd have to be careful since the output of `helm template` is not deterministic as chart dependencies can change. it's true that `skaffold render` for a project configured with helm will spit out some hydrated kubernetes manifests, but telling skaffold to deploy those manifests when the default configuration is setup with helm bypasses some of the rele

[2020-10-27 01:34] dfang commented on #4158
@balopat  there might be `ImagePullBackOff` errors too.

i've to run `skaffold dev --no-prune=true --cleanup=false`  when developing on local.

in prototype stage, i intend to keep images on local, do not push to any registry. no need to prune and cleanup

maybe just set  default value for `--no-prune` and `--cleanup` to `true`, `false`

or save these configs to  `~/.skaffold/config` like this:

[

[2020-10-27 01:42] dfang commented on #4936
@briandealwis @tejal29

i see errors like `buildkit not supported by daemon` in integration tests on my pr,

if buildkit not supported by daemon, fallback to docker apiclient  ?

[2020-10-27 13:09] briandealwis opened #4953 "Make dev's fail on first build and deploy be configurable"
From Tais P. Hansen on skaffold-users@:

...

We've discussed this previously, and it does seem like this should be configurable behaviour.

[2020-10-27 13:44] zmarouf opened #4954 "AbbrevCommitSha tagPolicy not respected with 50+ images"
### Expected behavior
skaffold build with an AbbrevCommitSha tagPolicy tags all the images with the abbreviated commits.

### Actual behavior
Some of the images get tagged with "latest" when there are more than 50 images to process.
![image](https://user-images.githubusercontent.com/4321056/97309837-dfe61380-18a5-11eb-9c00-dd7b104dd0ee.png)

### Information

- Skaffold version: 1.15.0
- Operating

[2020-10-27 13:50] zmarouf commented on #4954
The sweet spot seems to be 50 since when I comment out everything after local/zmarouf/30 I don't get that issue anymore.

[2020-10-27 15:34] ghost opened #4955 "Skaffold reloads unchanged, existing image again into the cluster"
### Expected behavior

Skaffold should not load already loaded image. In my case that's the image `eu.gcr.io/tools-org-veroo/party-service:d46578239dd325395e15e8ab16a2c499616a15e662ed196c18549e8d2bea38b6`.

### Actual behavior

Skaffold does load image `eu.gcr.io/tools-org-veroo/party-service:d46578239dd325395e15e8ab16a2c499616a15e662ed196c18549e8d2bea38b6` anew.

### Information

* Skaffold versi

[2020-10-27 15:54] tejal29 commented on #4953
@balopat  and me had briefly discussed this #4158 during cloud run skaffold integration. We also tried it out in our long working prototype branch.

I was also thinking this could be useful for increasing the skaffold session success rate especially for BUILD compilation errors.

[2020-10-27 15:57] tstromberg commented on #4521
Increasing priority because otherwise we risk a 3rd post-mortem on this issue. This should be completed by Nov 15 (30 days from event).

[2020-10-27 16:19] nkubala commented on #4820
going to close this issue as i'm not sure there's an actual fix to do in skaffold at the moment. if anyone has a differing opinion please comment and reopen!

[2020-10-27 16:19] #4820 closed

[2020-10-27 16:25] nkubala commented on #4936
yeah a while back i tried to figure out how to enable buildkit on the docker daemon in travis, but failed.

i'm fine enabling buildkit by default in skaffold, but we should still keep around the `useBuildKit` field to disable it when we need to.

[2020-10-27 17:02] briandealwis commented on #4520
Sorry for the delay on this.  Was trying to figure out what should happen with the container-debug-support repo.

[2020-10-27 18:19] tejal29 commented on #2679
closed due to this https://github.com/GoogleContainerTools/skaffold/pull/4057 and  #3945

[2020-10-27 18:19] #2679 closed

[2020-10-27 18:54] tejal29 commented on #4925
@Exchizz for the investigation.
You could be right.
We have noticed that that `--kubecontext` flag is not respected in #4477

[2020-10-27 20:56] tejal29 commented on #4955
@ErolPeel Skaffold does not check if an image is already present in the cluster.
You can add the command you mentioned above here https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/runner/load_images.go#L42

would you be up for the submitting a PR to do so?

[2020-10-27 21:01] tejal29 commented on #4954
@zmarouf thanks for creating this issue. This should definitely not happen.
Only think i could think of is, skaffold computes tag in a different subroutine and maybe we are hitting some concurrency limit.

[2020-10-27 21:02] tejal29 commented on #4954
here is the code which generates tags https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/runner/build_deploy.go#L157

[2020-10-27 21:10] tejal29 commented on #4951
@maxhillaert Thanks for filing this issue.
I dont think we have wired up namespace on command line with `helm render` command.
Skaffold respects the `Namespace` in `helm.Release` struct.

Skaffold should definitely respect the command line flag.

[2020-10-27 21:13] tejal29 commented on #4953
@briandealwis I am moving the discussion to #4158 and close this bug

[2020-10-27 21:13] #4953 closed

[2020-10-27 21:14] tejal29 commented on #4158
From #4953, we should provide a flag to configure this behavior.

[2020-10-27 21:54] yuwenma opened #4956 "Run kpt as a pipeline"
#### Description
Current kpt implementation is not using kpt as a pipeline: It heavily relies on directory read/write operations and stores configs in tmp file. To further support kpt fn pipeline and make it less brittle when things go wrong in the middle of the conceptional pipeline, kpt shall rely less on the tmp directory to store config intermediate statuses and obey the following structure:

[2020-10-27 23:01] tejal29 commented on #4950
This is definitely a bug and we will be the following before [creating](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kubernetes/portforward/resource_forwarder.go#L48) a port forwarding manager

1. update the resource spec with namespace if len of namespace is 1 and namespace is not "default"
2. if len(namespaces) >1, collect all PortForwardResource with namespace not s

[2020-10-27 23:04] joseret opened #4957 "skaffold should not watch all files in your workspace where custom dependency config is not set."
### Expected behavior
Trying to use a custom script to run unit tests and then proceed to use jib to build the image.  I would not expect it to be looping forever.

### Actual behavior
build script is looping
### Information

- Skaffold version: v1.15.0
- Operating system: Mac OSX 10.15.7
- Contents of skaffold.yaml:

[code]
[code]
### Steps to reproduce the behavior

1.  just have a local standar

[2020-10-27 23:04] tejal29 commented on #4947
Skaffold fetches pods/services based on the `label` which is new for every dev iteration.
This should not happen and needs some investigation.

[2020-10-27 23:15] tejal29 commented on #4942
I can reproduce this on my end by using the k8 manifest you have.
Looks like there is an issue where we replace Manifests for yaml containing multiple manifests.

Reproduction Steps:
1. Replace the manifest in examples/getting-started/k8s-pods.yaml with the one in the bug. (use your own gcr project)

/cc @IsaacPD

[2020-10-27 23:39] tejal29 commented on #4957
Hi @joseret,

Looks like, skaffold is watching all you workspace as dependencies and detecting a build change. This is because, if dependencies is not provided, skaffold will watch[ all files](https://github.com/GoogleContainerTools/skaffold/blob/b4c29e0bf68319635af40f53043e59e4854a58d3/pkg/skaffold/schema/defaults/defaults.go#L207) in your workspace.
Sorry this is not documented anywhere.

Can yo

[2020-10-27 23:43] tejal29 commented on #4957
A better approach here is to not watch anything at all.
When no files are watched, prompt user,
[code]

`skaffold.yaml` is watched and hence edit to skaffold.yaml should trigger a build/deploy cycle.

[2020-10-27 23:47] tejal29 commented on #4935
This is nearing slo! Not going to reduce priority as its in progress

[2020-10-27 23:48] tejal29 commented on #4088
This is nearing slo  am wondering if we further reduce the priority if not actively worked upon.

[2020-10-27 23:49] tejal29 commented on #3610
This is nearing SLO and was wondering if anyone one is interested in taking this.
@GoogleContainerTools/skaffold-team

[2020-10-27 23:54] joseret commented on #4957
Thanks, that worked.  I missed that log

[2020-10-27 23:54] #4957 closed

[2020-10-27 23:59] tejal29 commented on #4286
understood. Thanks @marlon-gamez.
When replacing image, we try to match `gcr.io/my-proj/getting-started:v1.10.0-49-gdc44de4d4-dirty` which does not get matched to with built image name `gcr.io/my-proj/getting-started`

[2020-10-28 00:00] #4286 closed

[2020-10-28 00:02] tejal29 commented on #4286
So, the right way to do this is update the remoteManifest as `gcr.io/my-proj/getting-started`

[2020-10-28 00:26] dfang commented on #4954
@zmarouf

[code]

[code]

[code]

[2020-10-28 01:01] zmarouf commented on #4954
@dfang Interesting!
![image](https://user-images.githubusercontent.com/4321056/97377613-cb386880-1903-11eb-9acd-9f18e1c98c7d.png)
I'll rollback and check.

[2020-10-28 01:03] zmarouf commented on #4954
![image](https://user-images.githubusercontent.com/4321056/97377987-9b3d9500-1904-11eb-8db6-1f47c5a28f42.png)
Doesn't seem to fix it on my machine.
![image](https://user-images.githubusercontent.com/4321056/97378066-c922d980-1904-11eb-959b-0510d2ed7346.png)
Surprisingly, it hangs too.

[2020-10-28 01:06] zmarouf commented on #4954
I just checked and it happens even if the docker daemon is unavailable.

[2020-10-28 01:40] dfang commented on #4954
i got this if quit docker for mac

[code]

[2020-10-28 02:05] zmarouf commented on #4954
I tried compiling.
Without a daemon, I still get latest and it hangs at random points.

[code]

[code]

[code]

[2020-10-28 02:06] zmarouf commented on #4954
Ok. I believe it's env var related.
It works fine if I run:
[code]

[2020-10-28 02:30] zmarouf commented on #4954
@dfang Could you please check to see if you have /home defined in your PATH variable somewhere?
I feel like I'm going crazy

[2020-10-28 02:35] dfang commented on #4954
i got two versions of skaffold.

[code]

if you believe it's related to the PATH variable, you can unset PATH and try with full path

[2020-10-28 03:17] zmarouf commented on #4954
My point was more that it expects to see /home in the PATH variable somewhere like PATH=/home:/usr/bin

Running without a PATH variable doesn't work as skaffold looks for the "sh" binary.
Giving it only PATH=/bin for sh to work also doesn't work on my machine.

[2020-10-28 03:28] dfang commented on #4954
i don't have /home in my path

[code]

[2020-10-28 03:37] zmarouf commented on #4954
It fails for me if I use your PATH while changing your user id to mine.
There must be some other variable that comes into play.
Does it work if you run it with `env -i` and only PATH and HOME variables?
Like so?
[code]

[2020-10-28 04:14] dfang commented on #4954
@zmarouf

[code]

[2020-10-28 04:55] tejal29 commented on #4938
Thanks for updating @ranihorev
When you mention, you expected skaffold to rebuild, did you mean restart the container?

From the logs, look like skaffold did the right thing by syncing the `src/logger.py` file directly into the running container and not rebuilding the container image.
[code]

[2020-10-28 05:09] tejal29 commented on #3855
Another relevant issue #4955 but not completely related. When implementing #4955 it would be great to consider use of local registry.

[2020-10-28 05:22] tejal29 commented on #4555
hey folks, sorry for jumping in late on this thread.

@msgongora is right `--cache-dir` is a way to consume the base images and not generate. to cache the base images, you can run the kaniko warmer image.

Kaniko for now support caching intermediate layers via remote cache.

You can use `docker run` command to warm up the base image cache like [this](https://github.com/GoogleContainerTools/kaniko/

[2020-10-28 05:32] ranihorev commented on #4938
Yes, restart the container, not rebuild (my bad), as it's now doing since I replaced gunicorn

[2020-10-28 05:33] tejal29 commented on #169
Thanks @shibumi, we are working on custom deploy script similar to [Custom Build Script](https://skaffold.dev/docs/pipeline-stages/builders/custom/)
We are a bit hesitant of adding native helmfile support since we don't have a clear ownership model for community plugins.

However, #2277 could achieve the same. Would you be interested in writing a design proposal for that?

[2020-10-28 05:34] tejal29 commented on #169
closing this as  #2277 could help address this.

[2020-10-28 05:39] tejal29 commented on #3849
@mabey01 seeing this issue with kaniko makes sense. kaniko builds images on cluster.  If you want to enable caching, you can use `--cache-repo=gcr.io/project` it will cache intermediate layers and push them to remote cache `gcr.io/project`.
Next time, kaniko builds the image, it will check if the layer exists on remote cache.
With kaniko, remote cache is not synced with local skaffold cache.

Hope

[2020-10-28 05:48] zmarouf commented on #4954
Ok. Things are getting weirder.
The real issue is the fact that the tagging routine seems to fork once per image
I see 80+ occurrences of `git rev-list -1 HEAD --abbrev-commit` and 50+ of `git status . --porcelain]`
On my current session and with the number of containers I'm running this leads to file descriptor exhaustion
[code]

So I guess one solution would be to compute the tag once per build

[2020-10-28 05:55] tejal29 commented on #3951
Looks like the resolution for this issue to configure insecure-registries in local docker daemon ~/.docker/daemon.json as skaffold does not communicate these settings on first push.

[2020-10-28 05:55] #3951 closed

[2020-10-28 06:32] tejal29 commented on #4246
@pre Sorry for the delay in any updates.

Totally agree. I was wondering what we could do to fix this issue.
Skaffold uses `kubectl cp <pod>--namespace <podNs> -c` command to copy the sync file.
Ideally, if even you switch context within skaffold dev iterations, `--namepsace` flag should point the pod in the deployed namespace.
I saw an old bug where if kubectl context namespace is set, `--namespa

[2020-10-28 07:08] dfang commented on #4936
@nkubala how is it going with [enable buildkit on the docker daemon in travis](#4746) ?  without this, integration tests can't pass

[2020-10-28 09:00] ErolPeel commented on #4955
As far as I can see, Skaffold checks, whether an image is already in the cluster or not: https://github.com/GoogleContainerTools/skaffold/blob/5c9b6e7b61af7eaabf2222edbb8c9184316267f8/pkg/skaffold/runner/load_images.go#L63
And as far as I can tell this function is called for both k3d and kind.
Or am I missing something?

[2020-10-28 09:14] ErolPeel commented on #3855
Is the local registry used with Minikube?

[2020-10-28 12:59] bernhardvollnhofer commented on #3855
Yes, it seems so.

[2020-10-28 15:31] tejal29 commented on #4938
got it! Thanks @ranihorev.

[2020-10-28 15:33] tejal29 commented on #1441
/cc @gsquared94

[2020-10-28 15:39] tejal29 commented on #4814
Removing needs-reproduction since we don't have enough data to reproduce.
@oo00spy00oo Can you please share your pom.xml?

[2020-10-28 17:31] gsquared94 commented on #1441
@carlskii, you should be able to run your go binaries or any executable. Skaffold doesn't provide any special runtime so it just runs on your machine and/or the deployed containers.
The design doc is [here](https://github.com/GoogleContainerTools/skaffold/blob/master/docs/design_proposals/lifecycle-hooks.md)

[2020-10-28 18:18] #4880 closed

[2020-10-28 18:43] tejal29 commented on #2745
Keeping the priority same though it's making triage uhappy.

[2020-10-28 18:44] tejal29 commented on #3559
Keeping the priority same as this added to our next milestone.

[2020-10-28 18:45] #4520 closed

[2020-10-28 18:48] tejal29 commented on #4847
This should be addressed by #4926

[2020-10-28 18:49] tejal29 commented on #4847
Closing for now but lets re-open if we see more such cases in v1.16.0

[2020-10-28 19:32] briandealwis opened #4963 "Use Skaffold version as user-agent"
Skaffold should use the [Skaffold user-agent](https://github.com/GoogleContainerTools/skaffold/blob/96426d2c3208def43cb20c4d33444d8f07ce5eaa/pkg/skaffold/version/version.go#L60-L62) when performing the Skaffold update check.  We already provide this user-agent when working with docker (#1260) and making calls to GCB (#582).

Having the Skaffold version would allow us to know whether we can turn do

[2020-10-28 20:16] yolkov commented on #4431
@nkubala any update?
Due to this error, we are not updating the skaffold. Although it already has the features we need and fixed bugs in new releases.

[2020-10-28 20:27] #4951 closed

[2020-10-28 20:57] tejal29 commented on #4928
i see a relevant bug https://github.com/containers/podman/issues/4357 which looks fixed. Maybe we need to update container deps or @whereswaldon you need to update podman on you end.

[2020-10-28 20:58] tejal29 commented on #4796
It part of upcoming milestone. keeping the priority as is.

[2020-10-28 21:08] #4879 closed

[2020-10-28 21:17] IsaacPD commented on #4897
https://github.com/GoogleContainerTools/skaffold/blob/5444e54062a7771a88edf4588765bf4aed04bc17/pkg/skaffold/kubernetes/portforward/entry_manager.go#L113-L125

That message is always printed out unconditionally despite whatever happens in ```b.entryForwarder.Forward(ctx, entry)```

https://github.com/GoogleContainerTools/skaffold/blob/27a2d2518afd9a231f2e483e9d20f7f4f2d8ab20/pkg/skaffold/kubernetes

[2020-10-28 22:45] orbb92 opened #4966 "Skaffold syncing problem: unable to upgrade connection: container not found"
Hello

I am new to microservice and I've  built my first application using docker, Kubernetes, and skaffold.
I'm using typescript to build the services.

I'm using skaffold dev for the development of the application, and I created all YAML files and it seems that all good.

the problem is that when I run skaffold dev, the syncing isn't good. it stops after a few updates and I cant see the updates.

[2020-10-28 23:02] #4884 closed

[2020-10-28 23:22] tejal29 opened #4967 "Document Artifact dependency feature for dockerfile artifacts."
We announcing the artifact dependency support in release notes , but just realized the docs are missing on how to use this feature.

Lets add a tutorial or an explanation on how to configure this for dockerfile artifacts.
- explain the example.
- Add a new feature here in this [matrix](https://skaffold.dev/docs/references/deprecation/#skaffold-features).
   ( Reach out to @tejal29 on the excel whi

[2020-10-29 02:03] #4837 closed

[2020-10-29 03:49] briandealwis commented on #4814
Also the log output from running with `-v debug` would be helpful too.

[2020-10-29 09:19] hermanbanken opened #4970 "Documentation reference of skaffold.yaml is empty"
Probably a mistake in the rendering, but https://skaffold.dev/docs/references/yaml/ is now completely unusable. It used to contain an annotated YAML structure of all configuration options, right?

![Screenshot 2020-10-29 at 10 31 01](https://user-images.githubusercontent.com/791189/97550394-ed002100-19d1-11eb-8e94-f82268131929.png)

[2020-10-29 09:30] hermanbanken commented on #4970
area/docs

[2020-10-29 09:32] hermanbanken commented on #4970
I was taking a look and noticed this in the source. Is that supposed to be autofilled using JavaScript?
[code]

[2020-10-29 11:53] gsquared94 commented on #4934
@tejal29, @briandealwis, did we arrive at a consensus about this ?

[2020-10-29 18:15] gsquared94 commented on #4954
perhaps you're running into [this](https://wilsonmar.github.io/maximum-limits/)?

[2020-10-29 18:25] gsquared94 commented on #4954
Perhaps the cause for confusion is that we fallback to the `latest` tagger if the original tagger fails. Maybe we should error out if the tagger is explicitly set. I think we currently do this because `git` tagger is the default and we don't want to fail the operation if someone doesn't define any tagger explicitly.

[2020-10-29 23:10] tejal29 commented on #4966
@orbb92 Sorry to hear `sync` is working as expected.
We will try to reproduce the error on our samples.

If you happen to have your debug logs handy, please feel free to add those.
`-v=trace`

[2020-10-29 23:35] tejal29 commented on #4261
@pierreyves-lebrun Sorry we were unable to get your request earlier.
We are a small team trying our best to make container development easy for developers for all.
There is a possibility we lack support for some languages however that does not demonstrate the overall ability of the team to understand the given space.

We welcome constructive feedback and appreciate if you have any.

Please refer t

[2020-10-29 23:49] tejal29 commented on #4970
Sorry about this.
We will work on fixing this ASAP

[2020-10-29 23:50] tejal29 commented on #4970
/cc @gsquared94 did you mention this in today's standup?

[2020-10-30 01:38] #4970 closed

[2020-10-30 04:52] zmarouf commented on #4954
Definitely sounds like it. I'll try tweaking those settings and I'll figure out a way to monitor this on my machine. It was a bit of a head-scratcher :)

What do you think about computing the tag only once instead of per image? Correct me if I'm wrong, but we currently can't override the setting for individual images so it would make sense to just do that work once?

[2020-10-30 06:15] SubhakarKotta opened #4976 "Helm wait=true waits for indefinitely and timedout"
### Expected behavior
Skaffold build indefinitely waits when the flag wait=true. This was happening for remote repositories.
### Actual behavior

Starting deploy...
Helm release ambassador not installed. Installing...
manifest_sorter.go:192: info: skipping unknown hook: "crd-install"
manifest_sorter.go:192: info: skipping unknown hook: "crd-install"
manifest_sorter.go:192: info: skipping unknown h

[2020-10-30 06:40] dfang commented on #4954
i didn't change these limits,

[code]

[2020-10-30 07:53] hermanbanken commented on #4970
In order to prevent such issues in the future, is it an idea to add something new [1]/[2]? Now the whole spec was down, while only a few examples were broken.

1. test that checkes that the table can be filled from that spec
2. include a try-catch at least a little bit higher in the logic, to partially mitigate broken examples

[2020-10-30 07:58] hermanbanken commented on #4970
I don't know where to put that. I see that no testing is in place for Hugo yet.

Maybe either:
- Add a 'check' step to https://github.com/GoogleContainerTools/skaffold/blob/master/deploy/docs/build.sh#L25
- Add a firebase predeploy check step
- Add a GitHub Action workflow that tests https://github.com/GoogleContainerTools/skaffold/blob/master/docs/content/en/docs/references/yaml/main.js

[2020-10-30 10:16] gsquared94 commented on #4954
I'd have to take a look at how GitTagger exactly works but I'm guessing the reason it computes the tag for every artifact is that those artifacts could be in different git repos (perhaps quite unlikely)?

[2020-10-30 10:44] prary opened #4977 "Skaffold Binary for darwin"
Make cross failing for darwin os fails with error.

### Expected behavior
Should build the darwin binary

### Actual behavior
Fails
### Information
docker version 1.13.1
golang 1.15.0
centos vm
Error Logs
[code]

- Skaffold version: v1.16.0
- Operating system: linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. run make cross It will pass for linux but fails for dar

[2020-10-30 11:41] dfang opened #4978 "Skaffold checking cache hangs due to network"
[code]
### Expected behavior

### Actual behavior
it hangs here

### Information

- Skaffold version:

[code]
- Operating system: macOS 10.15.7
- Docker version: 2.4.0.0
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1.
[code]
2. `skaffold build -v debug`

[2020-10-30 12:34] dfang commented on #4978
after upgrade to 1.16, the same logs but add these lines.

[code]

now i know it's network problem, so i set HTTP_PROXY, HTTPS_PROXY to http://127.0.0.1:8118 (my local shadowsocks proxy),

[code]

clearly the gcloud auth helper still needs to be improved

[2020-10-30 12:50] CodeCutterUK commented on #4081
Did this get submitted as a design proposal, or otherwise addressed?

[2020-10-30 13:08] dfang commented on #4978
after unset proxy, i got this error

[code]
parsing ONBUILD instructions ? i don't have ONBUILD instructions in my Dockerfile

[2020-10-30 14:35] briandealwis commented on #4081
No, not yet @CodeCutterUK.  Would you be interested?

[2020-10-30 14:59] CodeCutterUK commented on #4081
@briandealwis I'll certainly take a look and see if I can see a design that would work. My specific use case is being able to (re)deploy openfaas schemas

[2020-10-30 18:43] ekupershlak opened #4979 "`skaffold render` exits normally when no inputs are found"
### Expected behavior

Running `skaffold render --digest-source=none` using a skaffold.yaml that has no inputs exits with a non-zero 0.

### Actual behavior

skaffold exits with a code of 0.

[code]

### Information

- Skaffold version: v1.16.0
- Operating system: Ubunutu
- Contents of skaffold.yaml: https://github.com/GoogleContainerTools/skaffold/blob/master/examples/getting-started/skaffold.yam

[2020-10-30 19:18] tejal29 commented on #4970
skaffold.dev is now fixed!

[2020-10-30 19:25] tejal29 commented on #4976
@SubhakarKotta are you trying `skaffold deploy` instead of `skaffold build`

Looks like, skaffold is timing out installing the remote chart.
[code]

Also, looks there are some issue with helm chart  https://github.com/helm/charts/issues/21690#Helm-fails-to-create-CRDs
 `manifest_sorter.go:192: info: skipping unknown hook: "crd-install"`

[2020-10-30 22:00] efaure opened #4980 "Debug mode in a namespace with resource quota"
### Expected behaviour

Expected: be able to use debug mode in a namespace with resource quota

### Actual behaviour

Skaffold log when running `skaffold debug`

[code]

The corresponding event with `kubectl get events`

[code]

This error may be due to the fact that there is no resource request defined at the initContainers level.
[code]

In documentation, there is information on how to define re

[2020-10-31 02:05] #4935 closed

[2020-10-31 02:06] #4967 closed

[2020-10-31 06:47] SubhakarKotta commented on #4976
This is an expected info and this was happening with other remote chart as well. But when I install the remote chart manually without using skaffold I doesn't see any error.

[2020-10-31 15:23] DennisVis opened #4981 "Deploy - KPT - kustomizeVersionRegexP does not support non-Zulu BuildDate"
### Expected behavior
Kustomize versions with a non-Zulu BuildDate and a supported version number should be accepted by the KPT deployer.

### Actual behavior
All `kustomize version` outputs that do not contain a Zulu time for the BuildDate field are treated as invalid by the KPT deployer:
[code]

### Information
- Skaffold version: v1.16.0
- Operating system: MacOS
- Kustomize version: v3.8.5

##

[2020-11-01 01:45] yuwenma commented on #4981
Thanks for catching the issue and the quick fix, Dennis!

(Do you mind letting me know how you get the kustomize version? I'm wondering why the kustomize version info is different 🤣.

Your catch really reminds me that in case the users may want to build the kustomize themselves, we actually can further loosen the kustomize version regex. I'll upload a new PR soon.

[2020-11-01 13:29] DennisVis commented on #4981
I think a warning would be a solid approach here.

I discovered another discrepancy between the version expected by the KPT deployer and the output of my Kustomize instance; the `kustomize/` prefix. I hadn't even considered the case of users building their own version. So there's already quite a few edge cases to consider.

Doing a sanity check resulting in a warning, stating the minimum version r

[2020-11-02 09:45] yuwenma opened #4984 "Confusing user error: error deleting inventory object ...not found"
skaffold cleanup should check the existence of the inventory in the cluster before the deletion.

This error is a no-op but causes user confusions.
### Information

- Skaffold version: v1.15.0

[2020-11-02 09:46] yuwenma opened #4985 "Wrong error: "error deleting inventory object configmaps 'inventory-XXX' not found""
skaffold cleanup should check the existence of the inventory in the cluster before the deletion.

This error is a no-op but causes user confusions.
### Information

- Skaffold version: v1.15.0+

[2020-11-02 17:45] tejal29 commented on #4979
@ekupershlak It does make sense to error out in this case.
However, by design we always set kubectl deployer as default deployer.

We had a bunch of discussion here https://github.com/GoogleContainerTools/skaffold/pull/4172 to change that default.
However, the team felt we shd keep this as is.

We could error out when kubectl deployer does not end up finding any manifests in the default location.

[2020-11-02 17:50] tejal29 commented on #4978
@dfang Skaffold tries to parse "dockerfile" to find "OnBUILD" instruction to compute dependencies.
In this case, the error messaging isn't correct. The error is when fetching base image "gcr.io/distroless/base"

[2020-11-02 17:51] tejal29 commented on #4985
closing this as dupe of #4984

[2020-11-02 17:51] #4985 closed

[2020-11-02 17:52] tejal29 commented on #4977
@prary Are you using the  `deploy/cross/Dockerfile`

[2020-11-02 17:53] #3661 closed

[2020-11-02 17:55] tejal29 commented on #4980
@efaure Thanks for opening this issue. The fact that the warning event `FailedCreate` did not show up as part of `status-check` phase is an issue.  This seems like a bug and we will look into it.

For the feature request you mentioned,
I am not very well aware of  `ResourceQuota`. If a `ResourceQuota` exists all containers need to declare in their spec the `resources.requests` which are within the

[2020-11-02 18:02] cpvandehey commented on #4437
Thank you all. Let me know how I can follow the relevant release for this.

[2020-11-02 18:07] efaure commented on #4980
@tejal29 Thank you for your response.

For `ResourceQuota`, from my understanding, if one is defined at the namespace level, before launching a  container, Kubernetes check that requests and limits of this container will not lead to exceed constraint at namespace level.
In order to do this check, Kubernetes require to have requests (and limits if needed) for each containers.

For init containers,

[2020-11-02 18:09] ekupershlak commented on #4979
I think the error when no deployer is specified is a bit different - something like:
[code]
I agree that this should probably be an error (`k8s/*.yaml` isn't actually in any of my config, so it's an unexpected error message).

I think that I'm describing a slightly different case - I'm proposing treating any case where no manifests are found as an error. Consider the following `skaffold.yaml`.

[c

[2020-11-02 18:22] #4897 closed

[2020-11-02 21:11] briandealwis commented on #4674
Oops, sorry @vdsharma: this has been fixed.

[2020-11-02 21:11] #4674 closed

[2020-11-02 21:45] tejal29 commented on #4966
Thanks for the detailed logs.

I have a couple of questions.
1. your deployment.Spec.Replicas for `auth-deploy` is set to 1, however i see 2 pods `auth-depl-6695948f77-nm26d ` and `auth-depl-77bc586b59-7mb4h`.
Do you have a deployment from previous `skaffold run` or `skaffold dev` running?

Looks like the container `auth` wasn't not found for deployment `auth-depl-6695948f77-nm26d `.
Maybe it is r

[2020-11-02 21:49] tejal29 commented on #4898
hmm interesting. Let me try that and report back.

[2020-11-02 22:11] tejal29 commented on #4874
This issue is approaching SLO. Any takers @marlon-gamez @nkubala @yuwenma @gsquared94 @IsaacPD

[2020-11-02 22:59] IsaacPD commented on #4874
I'll try and get a fix available

[2020-11-02 23:47] #3766 closed

[2020-11-03 00:21] dfang commented on #4978
@tejal29 Yes, i debugged on that,  my Dockerfile use multibuilds, the second FROM is  'gcr.io/distroless/base'.

i'm developing on local at the time,  push set to false, it should not check auth

[2020-11-03 05:55] tejal29 commented on #3685
From the error logs mentioned by @joekendal looks like this is possible dupe  of #4966. I am going to close this issue since we tracking it there.

[2020-11-03 05:55] #3685 closed

[2020-11-03 05:56] tejal29 commented on #4966
@orbb92 Can you please specify the platform i.e. windows or linux.

[2020-11-03 06:00] tejal29 commented on #4955
you are correct. i didn't look further in the code :)

[2020-11-03 06:47] pre commented on #4966
Might be related: https://github.com/GoogleContainerTools/skaffold/issues/4246

@orbb92 did you happen to change the namespace of your current context in $KUBECONFIG while Skaffold was running?

[2020-11-03 07:29] Richard87 commented on #4908
I second this.

I am trying to use Skaffold to launch all my microservices at once, and if one fails, it makes troubleshooting harder then it needs to be, because of no port-forwarding before all services are up, and because Skaffold deletes all services when one fails.

[2020-11-03 10:29] orbb92 commented on #4966
windows

[2020-11-03 10:33] orbb92 commented on #4966
no, I even tried to delete all containers, that didn't help.
one thing I noticed is that with js files it works as it should work, I made another project using js and it was perfect

[2020-11-03 10:46] orbb92 commented on #4966
I made another restart to the pods,
here is the logs
`NAME                               READY   STATUS    RESTARTS   AGE
auth-depl-6f87f667cc-q7njm         1/1     Running   0          34s
auth-mongo-depl-86774b995d-ccfbf   1/1     Running   0          34s`

here is another log for the dev

`[auth] Connected to MongoDb
[auth] Listening on port 5000...
time="2020-11-03T12:42:30+02:00" level=debug

[2020-11-03 12:15] aryanPatilhm2 opened #4991 "Pull all images only using Skaffold"
Hii... It's not an issue. But just wanted to know is there any way in Skaffold to pull all images only which defined in helm configuration. Just like docker-compose pull? I checked the documentation but I didn't find any. I know Skaffold pulls images while starting the app. But I wanted to pull the images only so that my app can start instantly after all images pulled. Is there any way?

Thanks...

[2020-11-03 12:54] prary commented on #4977
yes @tejal29 using make cross which is building this file

[2020-11-03 14:01] vdsharma commented on #4674
Thanks! @briandealwis

[2020-11-03 18:11] steren opened #4993 "Website says: "fl Search this site...""
![image](https://user-images.githubusercontent.com/360895/98024037-98d3b300-1dbc-11eb-8377-3cdac7ebe702.png)

I guess "fl" is a typo?

[2020-11-03 18:20] tejal29 commented on #4993
Thanks @steren definitely a typo

[2020-11-03 18:22] tejal29 commented on #4993
Can you please mention which page you see this ?
i don't see it on skaffold.dev
![image](https://user-images.githubusercontent.com/1534539/98025425-80fd2e80-1dbe-11eb-9c52-20579293d80b.png)

[2020-11-03 18:26] tejal29 commented on #4991
@aryanPatilhm2 Skaffold does not have a command to only pull images.
have you looked at crane which is a command line tool to interact with remote images.
https://github.com/google/go-containerregistry/blob/master/cmd/crane/doc/crane.md

Installation https://github.com/google/go-containerregistry/blob/master/cmd/crane/README.md

Skaffold uses the go-containerregistry api

[2020-11-03 19:10] chanseokoh commented on #4993
![image](https://user-images.githubusercontent.com/10523105/98028953-d0525780-1ddc-11eb-878e-7229f669830d.png)

Every page. It's from these `&#xf002` which is supposed to be a magnifying glass icon.

![image](https://user-images.githubusercontent.com/10523105/98028628-60dc6800-1ddc-11eb-95b5-20886447d826.png)

Note two instances of `placeholder="&#xf002 Search this site…"` below:

[code]

I think

[2020-11-03 19:17] IsaacPD commented on #4942
@DhruboB Do you have a tag present in the image used in your K8s manifest? I was able to reproduce the behavior exactly as described by doing the following with one of the example projects.

1. cd examples/getting-started && skaffold render --output=k8s-pod.yaml
2. skaffold dev
-- Warning shows up
3. Make change to main.go
-- Re build/deploy happens but changes are not reflected

[2020-11-03 19:23] IsaacPD commented on #4993
I believe you are correct, I had not even noticed that there was supposed to be a search icon there. Some browsers seem to render it differently as for me on Chrome it only shows a blank space. And on Safari the magnifying glass is there. Which browser are you using?

[2020-11-03 19:29] chanseokoh commented on #4993
I an using Chrome on my corp laptop (Linux). Honestly I've seen this "fl" for maybe more than a year, but I was too lazy to report before @steren did.

[2020-11-03 19:53] IsaacPD commented on #4874
I have not actually been able to reproduce the behavior as described here. I tried it on the examples/getting-started project

1. skaffold render
-- Outputs ```gcr.io/isaacpd-test/skaffold-example:1277ddcd3b1e840c76abe71d1d35fd1716a0cb87be41fa145a3e12ec0f2e2eb8``` for the image name
2. Copy the output for the image name into k8s-pod.yaml
[code]
3. skaffold render again

All that I see in the outpu

[2020-11-03 21:08] #4950 closed

[2020-11-03 23:36] #4645 closed

[2020-11-04 05:22] DhruboB commented on #4942
No my K8s manifest does not have any tag/version present ... as given in the issue description.

Note, I do not have the issue anymore, when I use multiple k8s manifest files for each section i.e. deployment , service and hpa without using ---. You can also try once from your end to verify.

[2020-11-04 11:35] yuwenma opened #4995 "An experimental command to auto convert kustomize deployer to kpt"
Users can run `skaffold config kpt [--filename]` to convert their skaffold.yaml from using kustomize deployer to kpt deployer.

--filename refers to the skaffold.yaml, by default, it should be ./skaffold.yaml

Difficulties:
1. kpt needs to convert the kustomize configs to a kpt command/fn, some of which are not supported yet
2. kpt may need to change the kustomize directory if multiple kustomize m

[2020-11-04 11:41] yuwenma opened #4996 "An experimental command to auto convert kubectl deployer to kpt"
Users can run `skaffold config kpt [--filename]` to convert their skaffold.yaml from using kubectl deployer to kpt deployer.

--filename refers to the skaffold.yaml, by default, it should be ./skaffold.yaml

Difficulties:
1. kubectl supports `kubectl apply [--flags]`, `kubectl [--global flags]` and `kubectl create [flags]`. These may be incompatible with kpt or may have potential issues. we should

[2020-11-04 15:57] ErolPeel commented on #4261
Is there just no example project for TypeScript, or is debugging with TypeScript in general currently not possible?

[2020-11-04 18:09] briandealwis commented on #4996
`skaffold config` is already used for defining configuration values in the `~/.skaffold/config` file.  But maybe it could be added to `skaffold fix`, or we could have a `skaffold update`?

We could put the unknown kubectl args in comments:
[code]

[2020-11-04 20:23] briandealwis opened #4999 "Add codelab that shows how to configure an arbitrary base image for a CNB stack"
Using an arbitrary image as a base image for buildpacks is finicky.  This issue proposes to create a tutorial demonstrating Skaffold's artifact dependencies to create a consumable base image for a buildpacks image.

----

Buildpacks uses two images when building an application image:
  - A _run image_ serves as the base image for the resulting application image.
  - A _build image_ acts as the hos

[2020-11-04 20:27] tejal29 commented on #3879
So, in this case. we cant to run test even if artifact is found in the cache.
1. Separate `BuildAndTest` to do `Build` and then `Test`

[2020-11-05 14:54] no1melman commented on #4936
By any chance, will any of this included being able to send args to the Buildkit, like using the inline caching and all that

[2020-11-05 18:34] #4981 closed

[2020-11-05 21:06] IsaacPD commented on #4942
Turns out that I am unable to reproduce this in the way you described so it would be helpful if you could provide some more details on how you encountered this issue. Like what git tagger you used? or maybe could you try reproducing it again?

[2020-11-05 21:34] #4888 closed

[2020-11-06 06:56] #4786 closed

[2020-11-06 07:06] gsquared94 commented on #3879
This will work:

[code]

[2020-11-06 18:35] LukeeeeBennett opened #5004 "Enable kaniko with Google Cloud Build?"
I am unsure of how to enable kaniko with Google Cloud Build.

I have read the documentation at https://skaffold.dev/docs/pipeline-stages/builders/

I see reference to kaniko nodes for in-cluster configs. I also see a reference to `kanikoImage` for Google Cloud Build configs, but looking at the extractor used in cloud build logs, it is not using kaniko.

Happy to update documentation when more info

[2020-11-06 20:29] tejal29 commented on #4993
:) no worries @chanseokoh. you forced me to log into corp laptop. But yes now i can see the "fi"

![image](https://user-images.githubusercontent.com/1534539/98411862-ab075880-202b-11eb-9429-e8ddb503c49d.png)

[2020-11-06 22:33] drewpca opened #5005 "humanize time in "stabilized in 5.23494327s""
https://github.com/GoogleContainerTools/skaffold/blob/331da68e249ff6db83038f64513da33fd944ecd5/pkg/skaffold/runner/deploy.go#L160

My preference would be for it to say "5.2 seconds" since 0.1 sec is enough precision for this step. I don't care if it switches to stuff like "821 milliseconds" for short times.

[2020-11-06 23:07] tejal29 commented on #5005
From the chat root,

[code]

[2020-11-07 20:37] LukeeeeBennett commented on #240
I have been getting this same issue with an error about inotifiy watchers. Ingress log shows the no space left error specifically for `/var/lib/containers`. On minikube in virtualbox on mac os.

I've looked and tried a number of approaches to increase the max watchers but none have worked.

[2020-11-08 10:33] shaxbee opened #5007 "Skaffold deploy does not load images into local kind cluster"
### Expected behavior

`skaffold deploy` should load images into local kind cluster.

### Actual behavior

`skaffold deploy` does not load images.
`skaffold run` and `skaffold dev` do load images.

### Information

- Skaffold version: 1.16.0
- Operating system: macOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. clone https://github.com/shaxbee/todo-app-skaffold
2.

[2020-11-08 13:00] jhonToni opened #5008 "Skaffold with helm deploy error: "Error: ImagePullBackOff""
### Expected behavior

### Actual behavior
Kubernetes not find Docker image after Skaffold helm deploy.

Kubernates error message:

`Failed to pull image "firenet/notes-service": rpc error: code = Unknown desc = Error response from daemon: pull access denied for firenet/notes-service, repository does not exist or may require 'docker login': denied: requested access to the resource is denied
`
###

[2020-11-08 17:10] jhonToni commented on #2481
I have a similar problem:
The image name is `example/gateway` but into the local registry there is `example_gateway`.
How can I obtain `example/gateway` into the registry ?

My config:

[code]

[2020-11-08 17:38] #5008 closed

[2020-11-09 04:55] Yuhuishishishi opened #5011 "Pin namespace for certain resources even when -n option is used"
### Expected behavior
I want to pin the namespace for source resources even when the `-n` option is used for `skaffold dev -n <SOME_NAME_SPACE>`

For example, I have an istio authorization policy that needs to be deployed to the `default` namespace. At the same time, my other resources need to go to another custom namespace <CUSTOM_SPACE>.

*manifests/security.yaml*
[code]
So I would like to use `

[2020-11-09 10:03] shaxbee commented on #3855
We could also have heuristic checking if image name refers to localhost-like address to disable loading images for both k3d/kind.

[2020-11-09 11:52] shaxbee commented on #3855
@tstromberg Raised PR for this with unit tests, tested locally, works like charm, run/dev is much faster now!

[2020-11-09 13:42] gsquared94 commented on #4999
I tried to create this example app but I immediately ran into
[code]
and with a little digging [found](https://github.com/GoogleCloudPlatform/buildpacks/blob/8b275117f7c4decdecdd080082f89317dfdb88a0/builders/gcp/base/stack/parent.Dockerfile#L19) maybe the `gcr.io/buildpacks/builder:v1` stackid is `google`. Couldn't find any image on the `gcr.io/buildpacks` registry that supports this stack.

So I

[2020-11-09 14:31] briandealwis commented on #4999
Oops, that's a good point: our buildpacks don't (yet) support the `io.buildpacks.stacks.bionic` 🤦

[2020-11-09 14:31] briandealwis commented on #4999
Use the `google` stack instead.

[2020-11-09 20:47] nkubala commented on #5004
take a look at https://github.com/GoogleContainerTools/skaffold/tree/master/examples/gcb-kaniko, you should be able to adapt that skaffold config to your project.

going to close this issue for now, but feel free and submit an update to the docs if you think we should make this more visible!

[2020-11-09 20:47] #5004 closed

[2020-11-09 21:15] briandealwis commented on #4847
Closing, but @tejal29 will reopen if required.

[2020-11-09 21:15] #4847 closed

[2020-11-09 21:43] #4824 closed

[2020-11-09 21:46] MarlonGamez commented on #4624
bumping the priority on this as I don't think our team has the bandwidth to push this through right now. PRs welcome!

[2020-11-10 15:07] ItsLeeOwen commented on #167
if `skaffold dev servicea serviceb` supported specifying services to build/deploy similar to `docker-compose up servicea serviceb`  that'd be really useful.

[2020-11-10 15:53] IsaacPD commented on #4993
Oddly I noticed that the magnifying glass does initially appear for me on Chrome/Firefox on Mac for a split second before it goes back to an empty space/"fl". By continuously refreshing it was easier to notice it appearing and then disappearing.

[2020-11-10 17:39] MarlonGamez commented on #3678
Closing this as the root cause here is better captured by https://github.com/GoogleContainerTools/skaffold/issues/4912

Feel free to reopen if you feel otherwise!

[2020-11-10 17:39] #3678 closed

[2020-11-10 20:02] askmeegs opened #5015 "Enabling buildkit in skaffold.yaml results in cache key error"
### Expected behavior

Added `useBuildkit: true` to skaffold.yaml. Expected to not have to make any other changes / for `skaffold build` to run successfully, and faster than before.

### Actual behavior

Builds fail with cache key errors:

[code]

[code]

Reference: https://github.com/GoogleCloudPlatform/microservices-demo/issues/431

### Information

- Skaffold version: `v1.14.0`
- Operating syst

[2020-11-10 22:27] briandealwis commented on #4793
Closing, but will re-open if @oo00spy00oo can provide more detail.

[2020-11-10 22:27] #4793 closed

[2020-11-10 23:37] IsaacPD commented on #4993
I managed to make the magnifying glass appear within my browser by changing the font used for that element from "font awesome 5 free" to "FontAwesome"

https://github.com/GoogleContainerTools/skaffold/blob/29d522ff1895036793245cb439246b56e4e64f05/docs/layouts/partials/navbar.html#L36

The code that is responsible for the search bar is that above but I cannot find this "search-input.html" partial f

[2020-11-10 23:37] #4993 closed

[2020-11-10 23:39] IsaacPD commented on #4903
I managed to make the magnifying glass appear within my browser by changing the font used for that element from "font awesome 5 free" to "FontAwesome"

https://github.com/GoogleContainerTools/skaffold/blob/29d522ff1895036793245cb439246b56e4e64f05/docs/layouts/partials/navbar.html#L36

The code that is responsible for the search bar is that above but I cannot find this "search-input.html" partial f

[2020-11-11 06:13] #4903 closed

[2020-11-11 10:09] no1melman commented on #2475
This would be great to re-open for that exact issue above - we've tested using `docker buildx build` using the caching and it works a treat, it would shave literally hours off of our builds and would be a massive boon to our work

[2020-11-11 10:22] no1melman opened #5018 "Docker Buildx Integration"
Hi, I would like to propose we re-open this [issue](https://github.com/GoogleContainerTools/skaffold/issues/2475), or start again here.

`buildx` caching options are super powerful (because they do remote caching) and will massively cut down our build times, as the common thing you see in mono-repos is that not every area is changed in a PR

I've asked `buildx` if layer caching is remotely cached

[2020-11-11 15:12] briandealwis commented on #5018
Thanks @no1melman. `buildx` is still marked [as being experimental](https://docs.docker.com/engine/reference/commandline/buildx/).  It supports a number of options, such as `--platforms`, and not all flags are supported by the different drivers (the `--cache-from` is not supported by the default docker driver).   I think we'll  need to wait before trying to incorporate it into the `skaffold.yaml`.

[2020-11-11 15:37] briandealwis commented on #5015
This is a Moby/Containerd/Docker issue: https://github.com/moby/buildkit/issues/1271.  You may be running an older version of Docker that does not have a newer containerd client?  (I'll note that if you are using Minikube, Skaffold builds using Minikube's Docker daemon, not your local Docker daemon.)

If you can't upgrade your Docker daemon, it seems the workarounds are to prepull your images with

[2020-11-11 15:38] #5015 closed

[2020-11-11 16:12] briandealwis commented on #5011
The only workaround for now is to deploy your authorization-policy separately.

Maybe Skaffold should look for and respect a `skaffold.dev/immutable=true` annotation.

[2020-11-11 16:21] briandealwis commented on #5007
Could you please include your deploy logs, particularly with verbose output?
[code]

[2020-11-11 18:53] #4913 closed

[2020-11-11 19:14] IsaacPD commented on #4815
I was able to reproduce it on my windows machine by following the steps @mattpodolak posted. I'm using skaffold v1.15 on Windows 10 Pro.

[2020-11-11 20:05] IsaacPD commented on #4815
It is now happening that when I press Ctrl+C the program just terminates with no "Cleaning up..." message. And with ```-v trace``` I still do not see any logs after pressing Ctrl+C

[2020-11-11 21:35] nkubala commented on #240
@LukeeeeBennett this could be related to your minikube docker daemon getting filled up from images on your host. can you try running a `docker system prune` and see if you're still getting that error?

[2020-11-11 23:25] #3814 closed

[2020-11-12 06:34] #3879 closed

[2020-11-12 12:08] LukeeeeBennett commented on #240
You're absolutely right. Looks like running my stack locally is going to be a big challenge. Maybe move to remote dev cluster. Not sure how it works with multiple contributors but will google.

[2020-11-12 13:06] gsquared94 commented on #4922
Closing via #5003

[2020-11-12 13:06] #4922 closed

[2020-11-12 13:07] gsquared94 commented on #4713
Completed

[2020-11-12 13:07] #4713 closed

[2020-11-12 14:17] no1melman commented on #5018
I know it is still marked as experimental, but I linked the question that I asked the buildx guys, it seems that on your point about `supported by the default docker driver` they've got some kind solution for that which is contained in the issue.

I don't think after about a year of it being experimental  that it would be that bad to incorporate, most code is experimental right 🤣

I will definitel

[2020-11-12 18:11] drewpca opened #5022 "'resources failed to complete their deletion' should include resource types"
Current message:
[code]

The resource list should include types (pv and pvc, in this case) since resource names are namespaced by type.

(To provoke that message, I had a service with 'pvc/webcam-data' and a second service that was mounting that volume. The first service won't transition to `skaffold dev` mode while the second one is up.)

[2020-11-12 18:22] tejal29 commented on #5022
This message is coming directly from kubectl :( i am afraid.

[2020-11-12 18:38] nkubala commented on #240
i'd bet you can find a way to make it work locally :) if you have the resources try increasing the VM size for minikube, there's a launch option for that. also, skaffold should be trying to prune its own images on your host when running with minikube so that could also help. otherwise, you could try and get more aggressive with profiles in your skaffold.yaml to move out images you won't be develop

[2020-11-12 21:42] #4607 closed

[2020-11-12 22:37] lukasmrtvy commented on #3841
Can anyone confirm, that this use case is not working in Skaffold ?
- kaniko builder
- minikube
- no external registries

I am getting this error and I am not sure if its even possible to do without external registries:
[code]

Isnt it possible to do something like this ( via scaffold ):
- minikube addons enable registry
- kubectl port-forward service/registry -n kube-system 5000:80
- curl http://

[2020-11-13 03:13] briandealwis commented on #4966
@orbb92 could you please share your `package.json`?

[2020-11-13 15:14] orbb92 commented on #4966
yeah here it is
`{
  "name": "auth",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "start": "ts-node-dev src/index.ts"
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "dependencies": {
    "@types/cookie-session": "^2.0.39",
    "@types/express": "^4.17.3",
    "@types/jsonwebtoken": "^8.3.8",
    "@types/mongoose": "^5.7.8",
    "cookie-session":

[2020-11-13 16:30] briandealwis opened #5025 "Local cluster detection doesn't respect `--kubeconfig`"
### Expected behavior

When using `skaffold dev --kubeconfig=xxx`, where xxx is a file with the minikube context, Skaffold should pick up that minikube is a local cluster.

### Actual behavior

[code]

This fails as we try to push the image to Docker Hub as `docker.io/library/skaffold-example`.

### Information

- Skaffold version: HEAD
- Operating system: macOS

[2020-11-13 16:46] briandealwis commented on #5025
`context.GetCurrentConfig()` is getting called before `context.ConfigureKubeConfig()` is initialized by the runner.
[code]

[2020-11-13 16:52] briandealwis commented on #5025
Duplicate of #4347

[2020-11-13 16:52] #5025 closed

[2020-11-13 16:55] briandealwis commented on #4925
Our local cluster detection doesn't respect `--kubeconfig` either but this is #4347.

@tejal29 #4477 is different in that we're not validating the provided kube-context and as `''` is not matched as a local cluster then builds are happening in the local docker daemon rather than the minikube hosted daemon.  In this case, we seem to have code invoking subcommands with `--context` but not also passi

[2020-11-13 16:56] briandealwis commented on #4347
Re-opening: #4477 is a different issue: there, we're not validating the provided kube-context and as `''` is not matched as a local cluster then builds are happening in the local docker daemon rather than the minikube hosted daemon.

[2020-11-13 17:01] briandealwis commented on #4347
Problem here is that `context.GetCurrentConfig()` — which sets a global singleton — before `context.ConfigureKubeConfig()` is initialized by the runner.  We should move the update check into the runner?
[code]

[2020-11-13 18:37] briandealwis commented on #4925
Duplicate of #4347 — we do invoke `kubectl` with the configured kube config files, but our update-check is causing our kubernetes configuration to be initialized too early.

[2020-11-13 18:37] #4925 closed

[2020-11-13 19:11] briandealwis commented on #4977
I can't reproduce this @prary — I tried on several machines and the builds ran to completion.

[2020-11-13 19:25] briandealwis commented on #4978
In this case, we're checking the base image to see if it has ONBUILD instructions.  An image may have an ONBUILD that copies additional files into place, and so it's then necessary to factor those files into the cache-digest computation to see determine if any source files have changed.

You can disable artifact caching checks with `--cache-artifacts=false`.

[2020-11-13 19:29] briandealwis commented on #4928
@whereswaldon did updating podman help?

[2020-11-13 19:36] briandealwis commented on #3367
Closing this: go-containerregistry will not support these old manifests, and using a more modern docker to build and push images solves this issue.

[2020-11-13 19:36] #3367 closed

[2020-11-14 13:42] LukeeeeBennett opened #5029 "How to sync node_modules"
Sometimes I need to link an npm package for developing multiple packages that depend on each other locally. (https://docs.npmjs.com/cli/v6/commands/npm-link)

I can't seem to get file sync to work with node_modules updates from packages symlinks. I can confirm that the files in node_modules are updating but they are not being synced.

I have tried

[code]

Dockerfile

[code]

[2020-11-16 11:08] mattcopas opened #5030 "Feature: Support custom deploy scripts"
It would be quite useful to allow "custom" deploy scripts (instead of limiting to kubectl/helm/kustomize)

My use case:

I want to use Skaffold for a [Knative](https://knative.dev/) setup.

Currently I have to work out the yaml for whatever Knative component I want to use - that works but is slightly cumbersome.

It would be nicer to allow custom deploy scripts (similar to custom build scripts), s

[2020-11-16 11:48] aboyett commented on #4431
Another user perspective here:

My team provides (company internal) charts with opinionated defaults for a given language framework. Developers who don't want to take on the maintenance overhead of maintaining their chart(s) can reference our remote charts from skaffold.yaml instead.  Upgrading from skaffold 1.9.1 to 1.16.0 caused a breaking change as services deployed via skaffold (using remote c

[2020-11-16 15:52] pabardina commented on #4815
Hello, I am facing the same problem using skaffold v1.16. I got the 'cleaning up...' and nothing happens

[2020-11-16 18:08] jketcham commented on #3219
I'm running into this as well. Until there's some fix for this in skaffold, I've removed references to my stateful set in my skaffold config (so I just manually update that now).

[2020-11-16 18:34] MarlonGamez commented on #5030
Hi @mattcopas, thanks for opening this issue :) It looks like this is a dupe of #2277, so I'm going to close this in favor of it.
Please feel free to share your use case in comments of that issue, or reopen this issue if you feel that there is enough of a difference in the request to justify it being on its own

[2020-11-16 18:34] #5030 closed

[2020-11-16 19:08] briandealwis commented on #5029
Hi @LukeeeeBennett.  I'm not entirely clear what commands you're running and where.  Your `package.json` would be helpful.

I think you're expecting that Skaffold's sync will copy updated files from your `/cache/node_modules` into `/app/node_modules`?  Note that `sync` copies changed files from your _local machine_. But your docker build is occurring within a container, and changes within the cont

[2020-11-16 19:28] briandealwis commented on #4966
From your logs, it looks like the files are being copied across.  But something happens that caused your container to terminate, and hence the sync-errors.

Please try modifying your start script to `ts-node-dev --debug src/index.ts` and see if you get any further information.  But I really expect that you would see an error message from your application if there was some kind of crash.

So my sus

[2020-11-16 19:35] briandealwis commented on #3841
@lukasmrtvy I believe you will hit #3461 in that situation.

[2020-11-16 19:37] nkubala opened #5031 "Add community.skaffold.dev for community-contributed examples"
it would be great to have a central location for community-contributed examples of complex or non-standard workflows using skaffold. we obviously can't imagine every single scenario, so a low friction way for people to submit their setups could be very helpful for other skaffold users looking for inspiration.

[2020-11-16 22:35] #346 closed

[2020-11-16 22:45] nkubala commented on #4874
alright, out of curiosity i dug into this one again and was also unable to reproduce. i did run into a few inconsistencies which i think we should track in separate issues, since they're not exactly related to this specific issue.

@yuwenma would you be able to provide more detailed repro instructions? did you use any additional flags on the call to `skaffold render`? did you manually update your

[2020-11-16 23:44] nkubala commented on #4979
yeah this seems like something we could just validate at runtime. feels like if files are specified in the skaffold.yaml that don't exist we should give an error saying so.

[2020-11-16 23:46] nkubala commented on #4839
@StarpTech did you ever get any good responses or examples that might be worth sharing here?

[2020-11-17 02:22] #4978 closed

[2020-11-17 14:47] briandealwis commented on #4840
Closing as this does not seem to be a Skaffold bug.

[2020-11-17 14:47] #4840 closed

[2020-11-17 14:48] briandealwis opened #5032 "Add option for custom builder for Skaffold to push image"
### Background
Certain external builders, such as [the Spring Boot image builder](https://docs.spring.io/spring-boot/docs/2.3.0.RELEASE/maven-plugin/reference/html/#goals-build-image), are difficult to integrate with Skaffold as they build to the local Docker daemon only, and pushing is left as a separate step to be done with a `docker push`.

As a result, users of such builders must define custom

[2020-11-17 15:20] StarpTech commented on #4839
Hi, @nkubala not yet but I tried both ways. Do you have any concrete questions?

[2020-11-17 16:57] anshlykov opened #5033 "GitTagger generates an invalid tag if there are uncommitted changes"
### Expected behavior

Skaffold generates a valid image tag, even if there are uncommitted changes.

### Actual behavior

Skaffold generates an invalid image tag.

[code]

### Information

- Skaffold version: v1.16.0
- Operating system: macOS
- Contents of skaffold.yaml:

[code]

[2020-11-17 17:02] pabardina commented on #4815
I did more tests... And I discovered something weird. I got the problem using Skaffold v1.16 installed by chocolatey. But I tried building Skaffold on my VM or using the binary from GitHub and it is working like a charm.

I guess there is a problem with the chocolatey build?

[2020-11-17 22:33] nkubala opened #5035 "Flake: TestDebug (buildpacks)"
[code]

[2020-11-17 22:45] #5033 closed

[2020-11-18 00:01] IsaacPD commented on #4815
Yeah just confirming @pabardina findings, I was also using the chocolatey build and just tested with the binary on github and it all works as expected so far.

+1 to potential issue with the chocolatey build

[2020-11-18 00:21] IsaacPD commented on #4815
Interestingly just by taking out the binary from C:/ProgramData/chocolatey/lib/skaffold/tools and copying/executing it locally it worked just fine for me. Somehow the mechanisms of how chocolatey executes commands from C:/ProgramData/chocolatey/bin get in the way and prevent skaffold from cleaning up.

[2020-11-18 12:10] LukeeeeBennett commented on #5029
@briandealwis I would like to sync the local `node_modules/@scope` directory with the container `/app/node_modules/@scope`. Then if I make changes to a local `node_modules/@scope` package (common if you are using `npm link` / `yarn link`) it will be synced from my local node_modules to the container as it rebuilds in the linked location.

Currently, my node_modules dependencies arent included in b

[2020-11-18 17:54] jlewi commented on #4175
Is there any work around for dealing with configmaps?

I think one use case for configmaps is supporting ECR (#731); with ECR we want to mount in a creds.json file.

[2020-11-18 20:00] briandealwis commented on #5029
Can you `kubectl exec -it` into the remote container and look at the contents of the `node_modules/@scope` directory?

I haven't dug into this, but our sync implementation builds a tar file under the hood and then untars on the remote.  I suspect that the tar file is including the verbatim sym-links.  We could change this to resolve to actual files that are outside of the artifact context.

[2020-11-18 22:20] gnarea commented on #992
It's likely I haven't run into cases where the functionality proposed here would've been handy, but I don't see myself using it:

- Helm already supports tests, and they're run automatically after the deployment. This works great in skaffold and with `wait: true`. (You don't _need_ Helm for this anyway; I'd imagine a good old k8s job will do)
- I don't want skaffold or any other tool to run my uni

[2020-11-18 22:26] gnarea commented on #4022
I think the feature proposed here offers a better way to run a functional test suite in CI, and I don't see myself using `skaffold test` for the reasons here: https://github.com/GoogleContainerTools/skaffold/issues/992#issuecomment-729993870

As a workaround, I'm having to run `skaffold run` and then manually call `kubectl port-forward` for each port I need to access from the tests: https://github

[2020-11-19 00:17] #4464 closed

[2020-11-19 11:01] thomas-riccardi commented on #992
To add to the discussion, we have several potential use cases. I'm not sure which would be the best to add support for directly in skaffold (or more generally which should or should not be done in general):
- unit tests: may depend on extra resources than just the docker image that will end-up in production (run on different image?); need to access the test reports (not just the process return cod

[2020-11-19 17:11] IsaacPD commented on #4815
From looking at https://github.com/chocolatey/shimgen/issues/32 it seems that my suspicions are justified in that this is not directly a result of skaffold behavior. The choco shim that runs skaffold.exe sends sigkill which just nukes skaffold.

[2020-11-19 18:17] tstromberg opened #5040 ""make" builds wrong platform when run on arm64"
`GOARCH` is hard-coded as amd64.

When run on an Amazon arm64 machine, `make` builds the wrong architecture:

`GOOS=linux GOARCH=amd64 CGO_ENABLED=1 go build -gcflags="all=-N -l" -tags "osusergo netgo static_build release" -ldflags " -X github.com/GoogleContainerTools/skaffold/pkg/skaffold/version.version=v1.16.0-42-g45585e059 -X github.com/GoogleContainerTools/skaffold/pkg/skaffold/version.buildD

[2020-11-19 18:35] tstromberg opened #5042 "Publish macOS/arm64 binaries"
NOTE: No released version of Go supports macOS/arm64 as of this date, but v1.16 will. https://github.com/golang/go/issues/38485 has some details on how to get started with making builds from the go trunk source code.

We may have to do something about code-signing on macOS/arm64

[2020-11-19 20:33] nkubala commented on #4991
this could also potentially be accomplished with a pre-build hook once we support that. you could use a script to get the images from your helm config and pull them before running the build.

i'll close this for now, but please reopen if you feel the need!

[2020-11-19 20:33] #4991 closed

[2020-11-20 01:28] IsaacPD opened #5044 "Allow referencing previous skaffold.yaml versions in the docs"
Currently on each release http://skaffold.dev/docs/references/yaml/ is updated to include the newest api version for skaffold.yaml removing any way to see configurations for previous versions. It would be nice to see the previous versions from outside of the development environment.

[2020-11-20 04:23] jlewi opened #5045 "Are DockerHub rate limits going to be a problem for the busybox container"
Docker announced new rate limits:
See https://docs.docker.com/docker-hub/download-rate-limit/

When using skaffold to fire off a kaniko job I hit this rate limit.

[code]

It looks like the Kaniko pod that skaffold is firing off includes a busybox container which is hosted in DockerHub.

Would it make sense to use a container hosted in GCR instead to avoid any potential issue with DockerHub rate l

[2020-11-20 10:07] taisph commented on #4876
Could the result be extracted from the Google-employee system? I may have run into a similar issue but it's difficult to tell with the information hidden away.

[2020-11-20 14:25] whereswaldon commented on #4928
Embarrassingly, I believe this came down to a trailing comma in my docker config. I'm pretty sure that this is resolved now. Will reopen if the problem recurs and I can't see a syntax error.

[2020-11-20 14:25] #4928 closed

[2020-11-20 16:10] gnarea opened #5047 "Support user preferences, such as Kubernetes context and port forwarding"
I'm always running skaffold with `skaffold dev --kube-context=minikube --port-forward`. It'd be great if could have a config file at the root of the repository or in my home directory (or both), which allowed me to override the default values for those arguments.

[2020-11-20 17:55] ncri commented on #2492
@wstrange How would you do this? Do you have a full example? I don't see the option to use a label when in the cp examples (`kubectl cp --help`)

[2020-11-20 18:12] wstrange commented on #2492
Apologies - our shell script gets the pod name first using the label selector (in our case there is only pod in dev) - then we invoke `cp`

[2020-11-20 18:44] ncri commented on #2492
@wstrange Ah, got it, thanks.

[2020-11-20 21:18] shaxbee opened #5049 "Regression causing --mount option to break skaffold build"
### Expected behavior

Dockerfile with `# syntax = docker/dockerfile:1-experimental` and `RUN --mount=<value> <cmd>` no longer works on master.

### Actual behavior

Dockerfile with `dockerfile:1-experimental` syntax should work.

### Information

- Skaffold version: master
- Operating system: macOS

### Steps to reproduce the behavior

Added test case to [pkg/skaffold/docker/dependencies_test.go]

[2020-11-20 22:01] shaxbee commented on #5049
After commenting out the code in pkg/skaffold/docker/parse.go it passes the dependency check but fails at build.
Running latest stable release that does not happen though, wonder if it could be related to [pkg/skaffold/build/docker/docker.go#L49](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/docker/docker.go#L49), there used to be check for buildkit there.

[2020-11-20 22:49] #5044 closed

[2020-11-20 23:56] tejal29 opened #5050 "Add skaffold test command."
Add a separate Skaffold test command, which
- does nothing for now.
-  prints the command help,
- inherits the common flags.

[2020-11-20 23:59] tejal29 opened #5051 "Separate `BuildAndTest` into separate `Build` and `Test` function"
Separate `BuildAndTest` into `Build` And `Test` functionality.

The `Test` should get invoked in the new `test` command flow. #5050

[2020-11-22 04:40] BThvedt commented on #4966
I'm having the exact same issue on windows .. with a very similar setup - might even be doing the exact same course! Searching for a solution, If I see or figure it out something useful I'll defiantly post it

[2020-11-23 04:39] BThvedt commented on #4966
In my case, turns out my problem was using docker toolbox for windows. It worked fine up until I tried to use skaffold to watch a typescript file.
After I switched to docker desktop for windows I no longer had the problem. Of course the switch was a bit of a pain I had to update my windows subsystem for linux from my old version 1 to 2, re download ubuntu for windows, reconfigure my shell console,

[2020-11-23 09:56] juckerf commented on #3401
are there any plans from the skaffold-team to continue work on this feature?

[2020-11-23 14:25] cheslijones opened #5054 "WSL2 using --vm-driver=docker for minikube results in "container <name> is waiting to start... <image> can't be pulled""
Testing once again in WSL2 to see if it is actually usable yet with `docker` + `kubectl` + `minikube` + `skaffold` which has been a bit of fools errand for over a year now. Using Ubuntu 20.04 in WSL2. This works perfectly fine in macOS with `hyperkit` and Linux with `kvm`.

# Expected behavior

[code]

It should build the `client` image and deploy to cluster in `minikube`.

### Actual behavior
[co

[2020-11-23 21:36] MarlonGamez commented on #4175
thanks @jlewi for opening a PR to fix this :) We'll try to get that in quickly

[2020-11-24 18:28] go-nelango commented on #4934
@briandealwis is there an ETA on this so we can assign the right milestone on IDE-side bug?

[2020-11-24 21:29] #5040 closed

[2020-11-24 21:43] MarlonGamez commented on #5049
@shaxbee thanks for opening this! I'll take a look at your PR

[2020-11-24 21:55] MarlonGamez commented on #5047
Hey @gnarea, thanks for opening this issue :)
We do support setting the kubecontext for the deploy phase in the skaffold.yaml under `deploy.kubeContext`, but I do agree that it should be an option in the global config as well. Please let me know if that helps with that issue!

I believe that we are also planning on updating the default port-forwarding behavior to enable it if the user has specifie

[2020-11-24 22:00] MarlonGamez commented on #5054
hi @cheslijones, thanks for opening up this issue! It looks like we have some work to do to make the windows version work as it should. I'm going to bring this up with our team next week to see what we can do about this

[2020-11-25 10:01] bynare opened #5061 "COPY not working when Dockerfile in subdirectory"
### Expected behavior
`skaffold build` succeeds.

### Actual behavior
An error is encountered:
`getting hash for artifact "django": getting dependencies for "django": file pattern [requirements.txt] must match at least one file`
### Information

- Skaffold version: v1.17.0
- Operating system: ubuntu 20.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

`subdir/Dockerfile

[2020-11-25 10:37] bynare commented on #5061
Apologies, I think I abused the `dockerfile` field, instead of using `context` to specify `subdir`, i.e
[code]
:D

[2020-11-25 10:37] #5061 closed

[2020-11-25 17:11] afickley5 opened #5062 "Skaffold build failing on AWS Linux 2 machine using custom buildCommand"
### Expected behavior

Running skaffold build results in a successfully-built container that can be deployed in the deploy section.

### Actual behavior

While `docker build .` results in a successfully-built image, `skaffold run`, `skaffold dev`, and `skaffold build` all fail on step 1/4 "FROM nginx:1.13.9-alpine"

`docker build .` (this runs successfully):

[code]

skaffold run (this fails):
[co

[2020-11-25 17:20] briandealwis opened #5063 "Artifact cache should hash base image digest too"
Skaffold doesn't rebuild an image when its base image changes.  An argument could be made resolving the base image could be expensive, except that we resolve the base image to check for ONBUILD directives (#4978).

[2020-11-26 00:53] PriyaModali opened #5066 "Add support for implementing new test command"
This is a tracking issue for implementing new test command:

- [x] Make a util to hold the common cmd functionality (tracking issue - https://github.com/GoogleContainerTools/skaffold/issues/5116) (pr - https://github.com/GoogleContainerTools/skaffold/pull/5117)
- [x] Add a new test command and make it functional (tracking issue - https://github.com/GoogleContainerTools/skaffold/issues/5050) (pr -

[2020-11-26 01:09] xenoterracide opened #5067 "dev doesn't seem to tail logs or forward ports"
truncated postgres logs

[code]

how I've been starting (killing with ctrl+c)

[code]
[code]
[code]

the actual pod

[code]

the port isn't forwarded
[code]

[code]

[2020-11-26 18:36] msonnleitner opened #5072 "Fail fast in Helm Templated fields"
### Expected behavior

There is a closed issue/PR https://github.com/GoogleContainerTools/skaffold/pull/2793 which implements fail fast behaviour a for a specific field: EnvTemplate. Therefore, for consistency other templated field might also fail fast for consistency.

### Actual behavior
When starting helm deployment without the given env variable using
`skaffold run`

it results in helm errors

[2020-11-27 04:58] maximerassi opened #5073 "Linux and Windows v1.17.0 asset is actually v1.15.0"
# Regarding the latest v.1.7.0 github release:
https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.17.0

# Issue
The binary for windows attached in the **assets** section of the release is still showing v1.15.0.
[code]
However the direct googleapis.com downlink listed in the notes looks fine.
[code]

[2020-11-27 14:26] briandealwis opened #5074 "context directories with backslashes on Windows do not work"
From [StackOverflow](https://stackoverflow.com/q/65027759/600339) where a user was attempting to build a project from `skaffold init` on Windows

### Expected behavior
`skaffold init` generated a `skaffold.yaml` with paths containing backslashes.  Such paths should cause no problems as YAML does not interpret backslashes in an unquoted scalar, and Skaffold should accept backslash paths on Windows.

[2020-11-27 17:21] fredleger commented on #3610
We also need this one. Let me describe the use case here.
We are building a front and backend nodejs app in a single repo style with lerna.
So it make sense to define 3 docker images in a multi-stage way:
- base image (where all the yarn install is done)
- front (which basically copy from base and build static pages)
- back (which also copy from base and build dynamic pages)

So it make perfectly

[2020-11-27 17:35] fredleger opened #5075 "Skaffold should provides a way to precise order of artifacts builds"
### Expected behavior

I thought i can build a thing like that with skaffold

[code]

### Actual behavior

Seems at skaffold take the artifacts in the alphabeticaly order (so backend - base - frontend)

### Information

- Skaffold version: 1.16.1
- Operating system: linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. `skaffold build`
2. check logs

[2020-11-27 21:03] rpunia7 opened #5076 "Support '--squash' option in 'docker build'"
### Background
docker 'build' supports '--squash' as an option which helps in reducing the size of docker image by squashing multiple layers into one
`--squash                  Squash newly built layers into a single new layer`

### Feature request
It'd be great if Skaffold support this too, so I played with Skaffold code by referencing below PRs and got '--squash' working

- [Support '--ssh' opti

[2020-11-27 22:24] othercorey commented on #5073
I can confirm this. `1.16.0` shows the right version but `1.17.0` release shows `1.15.0`.

The sha for `1.17.0` and `1.15.0` are the same.

[2020-11-27 22:26] othercorey commented on #5067
You have to specify `--port-forward` with `skaffold dev`

[2020-11-27 22:56] xenoterracide commented on #5067
no logs
[code]
no forward
[code]

[2020-11-29 09:13] gunadhya commented on #5005
Hi, I'd like to work on this issue.

[2020-11-30 04:31] jugaldb commented on #4661
@briandealwis Did you find any solution to this problem of yours, I guess the thing is that your last deployment with `skaffold dev` didnt clean up properly, although I am facing the same issue and running `skaffold delete` doesnt seem to work for me as well

[2020-11-30 11:27] foosinn commented on #5073
seems to be also true for the latest linux version:

[code]

[2020-11-30 16:44] briandealwis commented on #4661
@jugaldb please open a new issue as this issue doesn't mention clean up or `skaffold delete`.

[2020-11-30 16:54] jugaldb commented on #4661
No actually what I meant was I was facing the same issue as you were as mentioned in your error logs, but I don't know I re wrote my yaml file from scratch and it seemed to work, maybe some typo that I wasn't able to figure out

Just to be clear here, my issue was the same as yours  on startup

[2020-11-30 17:18] briandealwis commented on #4661
@AnimalInstinct I realized what the problem is here (and thank you @jugaldb for giving me a reason to look at this again).

In your `skaffold.yaml` you set `build.local.push = false`, causing Skaffold to build to your local daemon and to not push the image to a remote registry (in this case, `animalinstinct/auth` on Docker Hub).  But microk8s does not have access to your local Docker daemon and so

[2020-11-30 17:18] #4661 closed

[2020-11-30 18:33] #3855 closed

[2020-11-30 20:08] briandealwis commented on #4733
I've been seeing this on Travis with `k3d` and `kind`.

[2020-11-30 20:40] tejal29 opened #5081 "Stop supporting helm v3 beta version"
In one of the code review comments #5069, @briandealwis suggested, we could stop checking for helm 3 beta versions.

Investigate and address the issues with updating tests.

[2020-11-30 21:30] gsquared94 commented on #4814
Closing due to insufficient repro steps. @oo00spy00oo if you can provide the `pom.xml` we can revisit this.

[2020-11-30 21:30] #4814 closed

[2020-11-30 21:35] #4796 closed

[2020-11-30 21:44] briandealwis commented on #4876
@yuwenma you're right: it's related to not supporting Artifact Registry.  The Gitlab example uses Skaffold's `default-repo` setting which rewrites image references in such a way that it preserves the two-level structure as supported by Docker Hub, Quay, etc.  `default-repo` has special case support for GCR, which supports many levels, and #5053 brought in support for Artifact Registry.  So this sh

[2020-11-30 21:44] #4876 closed

[2020-11-30 22:34] briandealwis commented on #4846
@pagmoro I'm sorry, I missed this.  If you're willing to try another patch:

[code]

[2020-12-01 01:11] gsquared94 commented on #5054
@cheslijones I was able to get your project to work with a bunch of hacks. That's probably entirely Skaffold's fault and we'll try to fix them. For now, this is how I did it:
- **Using WSL2 backend for Docker and Ubuntu.**
- **Enable integration setting in the docker app**
![image](https://user-images.githubusercontent.com/39389231/100683785-e563cd00-332d-11eb-8ce7-35293c20aa3e.png)

- **Latest mi

[2020-12-01 01:27] gsquared94 opened #5085 "WSL detection logic for minikube binary is flawed"
Related #5054

If Skaffold detects execution to be within WSL [it always sets ](https://github.com/GoogleContainerTools/skaffold/blob/1ae3284a93ceab53d52723af861dfd6db708983e/pkg/skaffold/cluster/minikube.go#L99)the minikube binary name to `minikube.exe`. This isn't always the case since with WSL2 Docker integration we can launch `minikube start --driver=docker` directly from within the WSL.
The f

[2020-12-01 06:56] sujit-kamireddy opened #5086 "Extend skaffold init --analyze api to also list the supported deployers in a workspace"
Currently, "skaffold init --analyze" api returns the list of supported builders in a workspace.

Can 'skaffold init --analyze' api be extended to also return the list of supported deployers in a workspace?
Along with above, can 'skaffold init' api be extended to take a supported deployer along with a supported builder to generate the skaffold.yaml file?

IDEs can leverage this info to

1. Provide

[2020-12-01 12:17] zedfmario opened #5087 "Enabling using another container's network stack on build process"
Building docker images in a Jenkins-like environment running on a AWS EKS cluster secured with `kube2iam` requires the running pod to include an annotation. In our particular case, we share the docker daemon from the node with the running pod by mounting the socket as a volume. When `skaffold` builds a new image within this pod, it creates containers at node level due to the shared socket. Therefo

[2020-12-01 14:23] oradwell commented on #5073
@maximerassi can you modify the title to show that version for linux is also broken? perhaps something like "v1.17.0 release tagged as v1.15.0"

[2020-12-01 16:09] IsaacPD opened #5089 "Create an installer for windows to replace the use of chocolatey"
At the moment skaffold is not able to properly clean up because of the behaviour of chocolatey as tracked in #4815. This behavior is important to skaffold and should not be compromised to use chocolatey. In order to replace the functionality chocolatey provides a windows installer should be provided that accomplishes what chocolatey provides, namely installing to PATH and updating.

[2020-12-01 17:38] gsquared94 commented on #3247
We've released artifact dependency support in Skaffold with the v1.17.0 Release.
[Tutorial](https://skaffold.dev/docs/tutorials/artifact-dependencies/)

[2020-12-01 17:38] #3247 closed

[2020-12-01 17:51] tejal29 commented on #4980
Thanks @efaure. Sorry for the delay.
Looks like the solution here would be to copy the resource limit if the container def has a `ResourceQuota` to this interface.
https://github.com/GoogleContainerTools/skaffold/blob/e91c8e68df0d81025622c7743a5cff6fc782e77b/pkg/skaffold/debug/transform.go#L111

Thanks
Tejal.

[2020-12-01 17:56] gsquared94 commented on #889
With release [v1.17.0](https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.17.0) Skaffold now supports defining dependencies between artifacts.

@georgekarrv Take a look at the [microservices](https://github.com/GoogleContainerTools/skaffold/tree/v1.17.0/examples/microservices) example where two images share the same base image:
[code]
 For docker builder it automatically provides the

[2020-12-01 17:57] #889 closed

[2020-12-01 18:58] nkubala commented on #5073
hey all, we had an issue with our release automation that required a manual release for v1.17.0, which opened a window to introduce human error which I of course took advantage of :)

I believe I've fixed the uploaded binaries on the release page. @maximerassi @othercorey @foosinn if any of you can verify then I'll close this issue.

[2020-12-01 19:04] othercorey commented on #5073
I can confirm v1.17.0 shows correctly now on windows.

[2020-12-01 21:30] gsquared94 commented on #5075
The way to do this in Skaffold is to add a `requires` section to each artifact to set the dependency order. This feature is available `v1.16.0` onwards.

[code]

Can you try this and let us know if it solves the issue for you?

[2020-12-01 21:38] gsquared94 commented on #5073
I've checked and the linux binary is now 1.17.0 as well. Closing this issue.

[2020-12-01 21:38] #5073 closed

[2020-12-01 22:01] gsquared94 commented on #5089
Let's discuss in triage

[2020-12-02 05:04] gsquared94 commented on #5086
@marlon-gamez FYIP

[2020-12-02 05:43] gsquared94 commented on #5045
We've updated this image to `gcr.io/k8s-skaffold/skaffold-helpers/busybox`. Thanks!

[2020-12-02 05:43] #5045 closed

[2020-12-02 07:37] gsquared94 commented on #5067
It's an unfortunate limitation in Skaffold that it doesn't tail container logs for images it didn't build itself. To work around this you could try:
<details>
<summary>skaffold.yaml</summary>

[code]
</details>

<details>
<summary>Dockerfile</summary>

[code]
</details>

<details>
<summary>pod.yaml</summary>

[code]
</details>

Then we get the expected logs
[code]

[2020-12-02 09:11] Jrenk commented on #4947
I'm experiencing the same behavior with `skaffold dev`.

When skaffold tries to update one of my pods the deployment fails with following error message:

[code]

My whole application becomes unresponsive at this point.

*Information*
- Skaffold Version v1.17.0
- Operating System: Ubuntu 18.04.5 LTS

[2020-12-02 09:48] fredleger commented on #5075
hi @gsquared94 thanks for reaching back

will try it soon and let you know

[2020-12-02 10:47] robertgates55 opened #5093 "useBuildKit: true for docker builds not working since 1.17.0"
With a simple `skaffold.yaml`:
[code]

### Expected behavior
With v1.16.0, this invokes docker build with buildkit enabled:
[code]

### Actual behavior
With v1.17.0 and above, docker build is invoked with buildKit disabled, despite `build.local.useBuildKit: true`
[code]

### Information

- Skaffold version: 1.17.0 (and 1.17.1) - works on 1.16.0 and below
- Operating system: OSX (also reproduced on

[2020-12-02 10:54] AdemUstaReminiz commented on #5093
I'm having the same issue. Both in 1.17 and 1.17.1

[2020-12-02 11:24] yuwenma opened #5094 "update render doc to include kpt"
https://skaffold.dev/docs/pipeline-stages/deployers/

[2020-12-02 13:33] jlewi commented on #3904
How will skaffold.yaml and kpt setters interact if at all? For example, when skaffold builds/deploys a kpt package will it update setters to reflect the most recent values?

I often use skaffold and kpt together. I often use skaffold to build my images and then update my kpt package to use the newly built image.

I usually do this by having skaffold output the image and then using kpt + yq to set

[2020-12-02 14:23] robertgates55 opened #5095 "`panic: close of closed channel` with skaffold build since v1.16.0"
We have a relatively complex skaffold.yaml that builds multiple docker images as artefacts. Some are multistage, some single; and they use a range of context levels.

Since 1.16.0 `skaffold build` fails with a panic error midway through building. Our devs have rolled back to 1.15.0 while this bug exists.

### Expected behavior
All artefacts are built and tagged as expected. This works with 1.15.0

[2020-12-02 14:48] robertgates55 commented on #5095
This was _actually_ because of a duplicate artifact definition - which didn't used to error but now does!

[2020-12-02 15:27] IsaacPD commented on #5093
This looks like unintended behavior and I can confirm it on my side as well. This can be temporarily worked around by setting ```build.local.useDockerCLI: true``` in skaffold.yaml until a fix is merged.

[2020-12-02 15:50] briandealwis commented on #3461
[KEP-1755](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/generic/1755-communicating-a-local-registry#the--configmap) describes a mechanism for a cluster to expose information about a local registry.

[2020-12-02 17:16] #4525 closed

[2020-12-02 20:16] gsquared94 commented on #5062
@nkubala do we have an account to test on AWS?

[2020-12-02 20:24] nkubala commented on #5095
@robertgates55 thanks for filing! glad to see you found a resolution for your project config, but i'm going to reopen this because we should never be surfacing panics in skaffold!

[2020-12-02 20:34] nkubala commented on #5047
@gnarea i'm a little confused on the use case for setting the default kube context - can you not just set this as the active context on your machine before running skaffold? if you run `minikube start` or `kubectl config set current-context minikube`, then `skaffold dev` should give you what you want.

the global config is actually based entirely off of the active kube context - it's a bit unintui

[2020-12-02 22:03] xenoterracide commented on #5067
that should obviously change, but even though that might fix the problem...

that doesn't change that `skaffold dev --port-forward` does **NOT** forward the port

[2020-12-02 22:40] gsquared94 commented on #5067
I missed that part of the question. Since logging and port forwarding use the same [pod selector](https://github.com/GoogleContainerTools/skaffold/blob/0d17274d936798b08fe83e3640d5a11a3544d527/pkg/skaffold/runner/runner.go#L75) they both face this issue.

[2020-12-02 22:56] xenoterracide commented on #5067
that's fun... This wasn't really a question, it was obvious that things weren't working as the *documentation* said they should. I'd say the *documentation* needs updating to reflect this  and ultimately this really should be fixed for both.

 As it stands this project isn't particularly useful to me sadly, as I don't run containers this way in development, and I haven't found that the CI systems

[2020-12-03 00:23] gsquared94 opened #5099 "[Feature request] Port forwarding works for all deployed containers"
Related: #3712

Current pod selection logic for port-forwarding excludes images that aren't built by Skaffold. This is similar to log tailing and they both use the same [pod selector](https://github.com/GoogleContainerTools/skaffold/blob/0d17274d936798b08fe83e3640d5a11a3544d527/pkg/skaffold/runner/runner.go#L75).

Steps to repro: #5067

[2020-12-03 01:12] balibebas opened #5101 "Examples Page Linkrot"
In `README` find `examples` link, click it and experience the linkrot.

[2020-12-03 01:21] dindurthy opened #5102 "skaffold run --tail hangs after containers exit"
### Expected behavior
`cat skaffold.yaml | skaffold run --status-check=false --tail=True --force=true -f -`
Logs are tailed, and when the job -- which is the only pod being tailed -- exits 0, skaffold should also exit.

### Actual behavior
[code]

### Information

- Skaffold version: 1.16.0
- Operating system: Mac OS
- Contents of skaffold.yaml:

[code]

[code]

### Steps to reproduce the behavior

[2020-12-03 07:10] yuwenma commented on #3904
Hi Jeremy, skaffold and kpt setters are working independently right now, but we have plans to support what you need here. Basically, you would be able to define kpt setters as a config file and provide its path in skaffold.yaml kpt. For now, I think a bash script to automate the step would be most efficient.

[2020-12-03 09:08] robertgates55 opened #5103 "Custom tagging based on contributing files - eg digest-tagger"
Not an issue, but wanted to check the latest guidance on tagging.

We have a mono-repo setup containing multiple projects (`project1/`, `project2/`); producing multiple artifacts. We have one top-level skaffold.yaml referencing all of the artifacts.

## Desired outcome
If I change a file in `project1/` that is required by `project1/Dockerfile`, the resulting artifact gets a new tag. Otherwise, it

[2020-12-03 18:31] briandealwis commented on #4733
So I think the problem here is much simpler: the underlying skaffold instance is being blocked as its stdout buffer (a pipe) is full — we don't have anything reading off the process' output.

[2020-12-03 19:15] tejal29 opened #5104 "skaffold v1.17.1 installed from `brew` reports wrong version number."
@MarlonGamez brought this to my attention.

Marlon, was checking out the latest release to verify a feature. He noticed, the version number is wrong.`v1.7.1` vs `v1.17.1`

[code]

This could have been due to a manual error during release.
When doing the release, @tejal29 had mistakenly create a [release tag](https://docs.google.com/document/d/1wZQqP7If80Sv9_0WvqCtVLmLF2dqdD_t7V7LhyP_gtE/edit#headi

[2020-12-03 19:17] tejal29 commented on #5104
Steps to update brew
[code]

[2020-12-03 19:22] tejal29 commented on #5104
Also verified Cloud SDK skaffold mac binary. The version reported it correct.

[2020-12-03 19:27] IsaacPD commented on #5101
Are you referring to https://github.com/GoogleContainerTools/skaffold/blob/master/README.md?

[2020-12-03 20:01] tejal29 commented on #5104
https://github.com/Homebrew/homebrew-core/pull/66180

[2020-12-03 20:22] fsladkey opened #5106 "Consider extending default status check timeout"
## Consider extending default status check timeout

After discussing some deployments that (due to automatic cluster scaling) often took longer than the two minute status-check timeout, @tejal29 mentioned that because status checks now fail deployments immediately if they encounter an irrecoverable error, it may be desirable to extend the default status check timeout. Creating this issue for furth

[2020-12-03 21:09] MarlonGamez commented on #5086
hey @sujit-kamireddy, this seems pretty doable. I can't promise to get to it this quarter, but I can try to tackle it early Q1 if that works

[2020-12-03 22:48] #4733 closed

[2020-12-03 23:32] tvvignesh opened #5108 "Issue when interpreting paths during sync with skaffold"
### Expected behavior

Hi. I have setup skaffold to do file sync. While it works well, there is an issue when interpreting paths during sync.

For eg,

**This works:**

[code]

**This does not work:**

[code]

Where its the same path but with a `./` in front. So, the file does not get matched during sync:

<img width="346" alt="e1" src="https://user-images.githubusercontent.com/1165845/101101042-a

[2020-12-03 23:40] dindurthy opened #5109 "Skaffold with kustomize invokes multiple versions of the resources"
### Expected behavior
`skaffold dev` deploys kustomized version of the app

### Actual behavior
`skaffold dev` runs a `kubectl apply -f -` of the un-kustomized manifests, `kustomize build`, and then another `kustomize apply -f -`

I don't think this is `dev` specific, I think it's a `deploy` thing.

### Information

- Skaffold version: 1.16.0
- Operating system: MacOs
- Contents of skaffold.yaml:

[2020-12-04 00:46] sujit-kamireddy commented on #5086
@MarlonGamez , Q1 sounds good. Thank you.

[2020-12-04 14:23] balibebas commented on #5101
Bit of a strange question. But yes.

[2020-12-04 14:26] balibebas commented on #5101
Yes but it's not actually link rod it's just an empty examples directory. Pulling it up from the GitHub app on Android says nothing here.

[2020-12-04 18:08] coldis opened #5110 "New files are not synced to running container."
When a new file which matches the glob in sync.manual is created, it is not synced to the running container. Changes to existing files are synced as expected.

This behaviour first appears in 1.17

### Expected behavior
New files which match sync.manual are synced to the running container.

### Actual behavior
The new file is not picked up

### Information

- Skaffold version: >=1.17
- Operating s

[2020-12-04 18:08] coldis commented on #5110
Suspect MR: https://github.com/GoogleContainerTools/skaffold/pull/5016

[2020-12-04 18:25] IsaacPD commented on #5101
Just downloaded the app and tried it myself and am seeing the same thing. I suspect this is primarily an issue with the app since the link is correct and still valid. This is the link in the README.md https://github.com/GoogleContainerTools/skaffold/blob/master/examples for context.

[2020-12-04 18:26] gsquared94 commented on #5110
Another suspect: https://github.com/GoogleContainerTools/skaffold/pull/4896

[2020-12-04 18:39] IsaacPD commented on #5101
I tried using a non-relative link on my branch https://github.com/IsaacPD/skaffold/tree/android-gh-app-readme and still got the same issue in the app. I'm imagining links to code directories in repos are not exactly working properly in the app but that's my best guess.

I'll close this issue since it is not something under our control.

[2020-12-04 18:39] #5101 closed

[2020-12-04 23:17] fredleger commented on #5075
@gsquared94 Tried it and it work lije a charm
thxs for pointing that out

[2020-12-04 23:17] #5075 closed

[2020-12-05 00:51] MikaelSmith commented on #5029
I was seeing if this would work as well. In my case I have a `./web` directory that's part of the skaffold. I've set it up with `yarn link` in the dependency, and `yarn link @org/repo` in the skaffold project. The `node_modules/@org` looks like
[code]
which is itself a symlink to
[code]

When I then start `skaffold` and exec into the container, `/node_modules/@org` has
[code]

[2020-12-05 01:34] newtoniumx3 opened #5112 "require on a k8 service with no artifact"
I have an artifact several services with no artifacts and simply have k8s definitions.
The services are things such as postgres and mongodb. Naturally I need these to be up and running prior to my applications but right now I have no way to define this since the postgres and mongodb don't have an artifact.

Is there a way to specify dependency requirement with no artifacts and based on a k8 servic

[2020-12-05 13:05] msonnleitner opened #5113 "Templated fields, use generated tag for helm appVersion"
### Expected behavior

Support for using the generated tag to use in deployment, e.g. using that in the `appVersion`field of the helm deployment

### Actual behavior

Currently, the tag cannot (afaik) be used in that context.

### Information

- Skaffold version: v1.17.0
- Contents of skaffold.yaml:

[code]

[2020-12-05 14:20] afickley5 commented on #5062
Thanks for looking into this - providing an update here so folks don't spin their wheels.

After further investigating, it turns out that this is really an issue with Minikube on AWS Linux 2 WorkSpaces not being able to properly resolve some domain names (which was preventing Minikube's Docker daemon from reaching out and grabbing images). We worked around the issue by creating a squid proxy and w

[2020-12-05 14:20] #5062 closed

[2020-12-06 04:39] brightzheng100 opened #5114 "skaffold init: how to process after choosing the Dockerfiles?"
### Expected behavior

Choose the right Dockerfile(s) and proceed to generate the initial `skaffold.yaml` file.

### Actual behavior

After choosing the Dockerfile(s), I don't have a way to proceed.

### Information

- Skaffold version: `v1.7.1`
- Operating system: Mac
- Contents of skaffold.yaml: N/A

### Steps to reproduce the behavior

1. In an existing `kubebuilder` project, issue `skaffold in

[2020-12-06 07:56] martinseanhunt commented on #5110
I'm experiencing this too allthough strangely only on one artifact of 5 I have running in a  build

[2020-12-06 08:03] martinseanhunt commented on #5110
I just realised I was running 1.17.0 and upgrading to 1.17.1 seems to have solved this for me.

[2020-12-07 08:28] InsideGH commented on #5110
I experience this with 1.17.1 (running pop/ubuntu20.10 & minikube). However, going back to 1.16.0 I don't have any sync issues with newly created files.

[2020-12-07 11:33] ahmad-musleh opened #5115 "Skaffold v1.17.1 unable to stream build output when copying from directory of larger context"
### Expected behavior

[code]

This was using v1.16.0

### Actual behavior

[code]

### Information

- Skaffold version: version v1.17.0
- Operating system: Ubuntu 16.04.5 LTS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Install Skaffold `v1.17.0`
2. Create dir with the following tree structure:
[code]
where each `chart.yaml` contains the following:
[code]
and Dock

[2020-12-07 15:14] PriyaModali opened #5116 "Make a util to hold the common cmd functionality"
Make a util to hold the common cmd functionality:
1. Create a util to hold the common cmd functionality
2. Move vars to flags and add them the to common flags registry

[2020-12-07 19:01] tejal29 commented on #992
Thanks @thomas-riccardi We are working on a PRD and this seems very helpful.

[2020-12-07 19:02] tejal29 commented on #3401
@juckerf not yet. If you want to take a look into this, i can help you move forward.
Sorry for the delay.

[2020-12-07 19:04] tejal29 commented on #5101
Looks like @IsaacPD answered the question. Adding comment for triage party.

[2020-12-07 19:05] tejal29 commented on #5106
Thanks @fsladkey for opening the issue. I have added this in next milestone.

[2020-12-07 19:07] tejal29 commented on #5066
Thanks! Adding a comment to make triage party happy

[2020-12-07 21:04] tejal29 commented on #5110
@martinseanhunt 1.17.1 should also have the same issue.
@InsideGH you are right, 1.16.0 will address this issue.

[2020-12-08 00:15] tejal29 commented on #5115
Thanks @ahmad-musleh for the detailed issue.
I was able to produce this issue locally.

Looks like, this is due to "dockerfile path" being the key for caching dependencies.
Since `service_1`, `service_2` and `service_3` use the same dockerfiles.
The `GetDependency` when `CreateTarContext` is called returns cached values for both `service_1` and `service_2` artifact which is relative to `service_3`

[2020-12-08 00:26] tejal29 commented on #5115
Related to #5110

[2020-12-08 03:19] IsaacPD commented on #5085
I'm not too sure it even makes sense to fall back to "minikube.exe" ever if you're in WSL. The kube context locally would not be "minikube" if you were to run "minikube.exe" from within WSL and would simply not work. It may be best just removing this detection behavior entirely.

[2020-12-08 18:28] briandealwis commented on #3254
Or we might be linking with an older client-go?

[2020-12-08 19:42] tejal29 commented on #5102
@dindurthy, we have considered this use case where pods complete. Its a good to have feature.

[2020-12-08 19:46] tejal29 commented on #5114
@marlon-gamez since he has touched the code recently

[2020-12-08 19:52] MarlonGamez commented on #5114
Hi @brightzheng100, thanks for opening this. I'll try to see what's going on here asap

[2020-12-08 19:56] briandealwis opened #5122 "Hard to run integration tests within an IDE"
We assume that people run tests through `make integration`.  But @PriyaModali was trying to run an integration test from within her IDE but was encountering unexpected behaviour as her tests were using a stale Skaffold binary.

The issue is that the Skaffold launch helper looks for the `skaffold` binary in the `PATH`.  I added the ability to pull a particular binary using the `SKAFFOLD_BINARY` env

[2020-12-08 20:22] MarlonGamez commented on #5114
@brightzheng100 do you know how many images skaffold asked you to select a builder for?

[2020-12-08 20:26] gsquared94 commented on #5112
Unfortunately none of the supported deployers in `skaffold` currently provide manifest ordering. You might try the `kpt` deployer, IMO it does some common sense ordering and also has a custom ordering feature in the works (https://github.com/GoogleContainerTools/kpt/issues/756)

[2020-12-08 20:40] gsquared94 commented on #5109
I think that the explicit `kubectl` deploy stanza in your `skaffold.yaml` causes the _unkustomized_ deployment of your resources. Can you try removing them. Only defining the `kustomize` stanza should be sufficient to subsequently trigger a `kubectl` deployment of the _kustomized_ manifests.
Also take a look at the [getting started](https://github.com/GoogleContainerTools/skaffold/blob/master/exam

[2020-12-08 20:50] briandealwis commented on #4437
It looks like we can rewrite `gunicorn` command-lines as `python -m debugpy --listen :PORT -m gunicorn.app.wsgiapp`.

[2020-12-08 20:57] briandealwis commented on #5112
Note that Skaffold is happy to deploy arbitrary workload objects as long as there's a single artifact.  You can use an [`initContainer` to delay your app container from starting](https://github.com/GoogleCloudPlatform/cloud-code-samples/blob/master/python/python-guestbook/kubernetes-manifests/guestbook-backend.deployment.yaml#L20-L26), for example:
[code]

[2020-12-08 23:21] IsaacPD opened #5123 ""Deploy Docs controller" build step failing"
### Expected behavior
On each push to master all build triggers succeed
### Actual behavior
"Deploy docs controller on push to master" step is failing due to inconsistent vendoring when building the webhook [Dockerfile](https://github.com/GoogleContainerTools/skaffold/blob/master/deploy/webhook/Dockerfile).

### Information
<details>
<summary>Build Log</summary>

[code]
</details>

[2020-12-08 23:31] tejal29 commented on #5094
@yuwenma Can you please also add kind e.g. kind/docs and priority for the bugs created.
Unkinded and unprioritized bugs are caught by our triage filter.

Thanks
Tejal

[2020-12-08 23:32] tejal29 commented on #5116
@PriyaModali
Can you please also add kind e.g. kind/docs and priority for the bugs created.
Unkinded and unprioritized bugs are caught by our triage filter here https://skaffold-triage-party-eyodkz2nea-uc.a.run.app/s/daily

Thanks
Tejal

[2020-12-09 00:37] tejal29 commented on #5123
Can you please add labels kind/ and priority/ when creating bugs.

Unkinded and unprioritized bugs are caught by our triage filter [here](https://skaffold-triage-party-eyodkz2nea-uc.a.run.app/s/daily)

[2020-12-09 02:13] #5110 closed

[2020-12-09 02:13] #5115 closed

[2020-12-09 02:55] brightzheng100 commented on #5114
There is one that I'm trying.

You may easily reproduce it by going through these steps:

[code]

[2020-12-09 03:18] brightzheng100 commented on #5093
I'm not sure whether I'm encountering this issue but `skaffold dev` worked days back but now I get this:

[code]

I'm trying to enable `buildkit` support in `Dockerfile`:

[code]

[2020-12-09 16:21] keddyliu opened #5127 "Skaffold Quickstart cannot deploy onto OpenShift"
Skaffold is still pretty new to me, so please bear with me. Please let me know what I am missing.

### Expected behavior
The Skaffold Quickstart detailed on https://skaffold.dev/docs/quickstart/ should deploy on OpenShift.

### Actual behavior
It does not deploy on OpenShift, and instead gives an error saying it cannot connect to the Docker daemon.

### Information

- Skaffold version: v1.17.1
- O

[2020-12-09 16:37] tejal29 commented on #5104
Shd be closed by v1.17.2 release.
https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.17.2

[2020-12-09 16:38] #5104 closed

[2020-12-09 16:38] tejal29 commented on #5115
https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.17.2 is out!

[2020-12-09 16:38] tejal29 commented on #5110
Fixed it in https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.17.2

[2020-12-09 16:53] coldis commented on #5110
Thanks so much for the quick turnaround on this!

[2020-12-09 17:57] tejal29 commented on #5127
@keddyliu Thank you for being a skaffold user.
I found an old issue regarding the same -> #353.

Skaffold relies on following builders to build
1. Docker,
2. buildpacks,
3. jib,
4. cluster builder -> kaniko and GCB
5. bazel

and following deployer to deploy
1. kubectl,
2. kustmize,
3. helm

In issue, #353 there were some concerns about kubeclt not being able to deploy on openshift.

The issue you

[2020-12-09 17:59] tejal29 commented on #4577
@drewpca makes sense. Skaffold should attempt to parse dockerfiles instructions before reading them.
Definitely, something to look into for the team.

[2020-12-09 18:06] #5087 closed

[2020-12-09 18:25] tejal29 commented on #4577
Downgrading it to p3 as its not a priority right now

[2020-12-09 18:25] tejal29 commented on #4547
Downgrading it to p3 as its not a priority right now

[2020-12-09 18:43] MarlonGamez commented on #5114
Awesome, thanks for sharing this. I was able to reproduce it. It looks like the issue is coming from hitting enter after typing to filter. I'll try to work on a fix for this asap.

In the meantime, are you basically trying to end the process after you select those three dockerfiles? We don't have a way to support that, so I believe you'd have to choose the "None" option for the remaining images.

[2020-12-09 18:44] #5116 closed

[2020-12-09 18:49] tejal29 opened #5128 "Support Mutiple errors codes in Error Framework."
In #5088 @zedfmario added validation for docker network container.
In this PR, the validation process validates all fields and throws multiple errors.

Each of these errors could be distinct.

As of now, i could think  are two was to address this concern.
1. Should we drop having distinct error codes for schema validation and instead user an umbrella code `INIT_INVALID_SKAFFOLD_CONFIG` ?

e.g.
[co

[2020-12-09 19:04] #5085 closed

[2020-12-09 19:20] #5049 closed

[2020-12-09 19:20] #5093 closed

[2020-12-09 19:59] #4175 closed

[2020-12-09 21:03] #5076 closed

[2020-12-09 21:13] #5114 closed

[2020-12-09 23:07] yuwenma commented on #5094
Gotcha! Is there any doc i can read that describe how each label should be used? I was thinking of priorities but not sure what P0 P1 mean to OSS repo. And I guess I misused `area/doc` label in lieu of `kind/doc` 😅

[2020-12-10 03:12] DesistDaydream opened #5130 "skaffold cannot use docker buildkit"
### Expected behavior
skaffold should understand the Dockerfile file correctly

### Actual behavior
After I added the `.build.local.useBuildkit: true` field, I still couldn't process the buildkid syntax and reported an error
[code]
### Information

- Skaffold version: v1.17.1
- Operating system: Ubuntu 20.04.1 LTS | Cetnos8
- Contents of skaffold.yaml:

[code]

Dockerfile:
[code]

### Steps to rep

[2020-12-10 04:12] tjwebb commented on #5087
I ran into this issue when trying to run the getting-started example here: https://skaffold.dev/docs/quickstart/.

[2020-12-10 07:48] zedfmario commented on #5087
Hi @tjwebb

Sorry for the noise. I committed those changes by mistake. It was a local test.

Those lines shouldn't be there. Fixing it in #5131

[2020-12-10 13:24] zedfmario commented on #5128
Hi there,

How I see it, having an umbrella code describing that the error(s) belong to a config error, with a detailed explanation of all messages and suggestions should be good enough. In the end, all errors end up being a "Config Error", with both, messages and suggestions pointing towards the problems and the possible solutions.

[2020-12-10 14:06] briandealwis commented on #5087
@zedfmario's fix has been applied.

[2020-12-10 15:01] IsaacPD commented on #5130
This should have just been fixed with https://github.com/GoogleContainerTools/skaffold/pull/5052, so by the next release this should be out, or you can use the bleeding edge version described here https://skaffold.dev/docs/install/

[2020-12-10 15:01] #5130 closed

[2020-12-10 19:07] j2udevelopment opened #5132 "Helm deployer is looking for a Helm test pod by default resulting in confusing warning text"
Helm tests are awesome, but you opt-in to them by running the `helm test <my-release>` command when using the Helm CLI directly.  When using Skaffold's Helm deployer, it appears to be looking for the existence of a test pod, but at least on the surface doesn't appear to give us the ability to run a Helm test command.  This kind of causes a chicken-and-egg problem for a couple of reasons.
1) You ca