[2020-07-15 08:26] vinay1591 commented on #2114
@corneliusweig I tried the solution you provided. It created the helm chart but it never run, it does not create and pod which I want it to create one give schedule. While if instead of  `schedule: "{{ .Values.mySchedule }}"` if I write the schedule `schedule: "{{ */15 * * * * }}"` then it works.

[2020-07-15 09:10] dgageot commented on #4218
It would clearly not be easy!

[2020-07-15 09:19] dgageot commented on #3695
I'm going to close this issue because we have no way to reproduce right now.

[2020-07-15 09:19] #3695 closed

[2020-07-15 09:35] dgageot commented on #4156
I don't yet understand what's going on. Skaffold is not pushing nor tagging the image. This is all done by the `buildx.sh` script. Skaffold then retrieves the image's digest which should be the same no matter the platform. The k8s yaml then references the image by digest and for some reason, the wrong platform is picked up.

[2020-07-15 09:58] dgageot commented on #4156
I think the go-containerregistry code we use doesn't retrieve the digest for the manifest list but the one for one of the manifests.

[2020-07-15 09:59] dgageot commented on #4156
See https://github.com/google/go-containerregistry/issues/271

[2020-07-15 10:04] dgageot commented on #4156
We should maybe use `remote.Index` rather than `remote.Image`

[2020-07-15 13:55] Romeh commented on #2357
@balopat   i saw the skaffold sample for Spring dev tools , which was quite useful ,  just small question is it working the same in case of multi module spring boot application ?  as i suspect Spring boot dev tools class loader separation (restart and app class loader) will not work in that case as skaffold will sync the modules other than main application as jars in app libs folder not a plain cl

[2020-07-15 14:00] loosebazooka commented on #2357
That's a good question. I haven't really tested the mutlimodule stuff. But as far as general mutlimodule building goes, modules are not included at the class level (*.class) but at a package level (.jar).

Can you confirm it works locally for bootrun ?

[2020-07-15 17:14] #4358 closed

[2020-07-15 17:14] #4473 closed

[2020-07-15 17:32] j-windsor opened #4477 "skaffold build: --kube-context flag does not default correctly."
### Expected behavior
`skaffold build --kube-context=''` and `skaffold build` output the same thing, given that the [cli docs](https://skaffold.dev/docs/references/cli/#skaffold-build) specify that the default for this command is `--kube-context=''`.

### Actual behavior
`skaffold build` seems to take the active context as the kube-context and not `''` as documented.

When I am trying to deploy im

[2020-07-15 18:09] tejal29 commented on #4477
This could be related to #4347

[2020-07-15 18:20] tejal29 commented on #4477
@j-windsor Can you please paste the output of
[code]

I want to see if there are any global defaults set.

[2020-07-15 18:46] j-windsor commented on #4477
Note that this is the managed Skaffold in Cloud Code VSCode
[code]

[2020-07-15 20:20] nkubala commented on #4347
@dgageot sorry missed this, but yes I agree this is P1, this is quite an annoying UX

[2020-07-15 20:20] nkubala commented on #4401
@matthewmichihara @dgageot how can we coordinate that change? I'd love to pull the trigger on this if we can

[2020-07-15 20:24] nkubala commented on #3871
@petr-buchin thanks for following up, and yeah come back here if you see this issue again!

[2020-07-15 20:25] nkubala commented on #4288
@RetWolf let us know if you need any pointers on where to start for this

[2020-07-15 20:30] nkubala commented on #4022
@cpoole FWIW `skaffold test` is still in consideration as a potential phase, and I think you'd be able to accomplish what you need here with it.

cc #992

[2020-07-15 20:46] nkubala commented on #4449
i don't think this is coming from skaffold, all of these messages are coming from the event API which is being consumed by the client. i'm gonna close this, but reopen it if you still think it's something wrong on our end.

[2020-07-15 20:46] #4449 closed

[2020-07-15 21:14] briandealwis opened #4479 "Log resource kinds that are skipped during Skaffold's transformation"
Our allow-list of Kubernetes resources that we transform is useful, but it's puzzling when the user doesn't see their objects transformed.  We should at least log the list of object kinds that are skipped.

We'll likely want a block-list to ignore objects, like `Service` or RBAC objects, that commonly occur and that we don't affect.

[2020-07-15 21:33] matthewmichihara commented on #4401
I think last we chatted, @dgageot was gonna create a build with the flags enabled by default (except --XXenableJibGradleInit) to do some testing with in IJ/VSC.

[2020-07-16 13:05] woodcockjosh opened #4482 "Add option for helm deployments to create namespace"
Helm has the option `--create-namespace` and the option `--namespace`. Let's please add an option in the `skaffold.yaml` to use the option `--create-namespace`

### Expected behavior
Deploy succeeds

### Actual behavior
[code]

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Try to apply a skaffol

[2020-07-16 13:11] woodcockjosh opened #4483 "Autoload docker machine for minikube profile"
### Feature request
Please lets give the option to autoload a minikube profile. Everytime I open up a new terminal session I have to run
[code]
And I often forget

### Expected behavior
[code]
It just works

### Actual behavior
[code]
It uses the host's docker machine

[code]
It works

### Information

Example yaml
[code]

[2020-07-16 13:14] woodcockjosh commented on #4483
@tstromberg what are your thoughts on this?

[2020-07-16 14:16] RetWolf commented on #4288
@nkubala Hey Nick, apologies for the delay. A lot of my free time disappeared a few days after posting here so I haven't spent much time on this lately. Would you recommend adding these timings to `BuildMetadata`/`DeployMetadata` as `AdditionalEntry`s or as new fields on the `Metadata` messages themselves? Also, I noticed `DeployMetadata` doesn't have an additional field for key value pairs like `

[2020-07-16 14:58] yolkov commented on #4431
@nkubala

Yes, helm creates new releases every time, but this is only a change to the metadata (which is stored in helm's configmap). If the helm chart version does not change and the values do not change, the kubernetes entities created by the chart(deployment,statefullsets, services, ingress, configmap, etc) will not deploy again.

[2020-07-16 16:07] yolkov commented on #4431
For example:

[code]

run:
`skaffold dev -f skaffold-example.yaml`

in another console run:
`kubectl -n example-app get po -o wide -w`

[code]

then change skaffold-example.yaml
`echo >> skaffold-example.yaml`

Skaffold start re-deploy and for every release run helm upgrade ... , but all pods do not restarted

[2020-07-16 18:31] tejal29 commented on #3442
This is closed by #4280

[2020-07-16 18:31] #3442 closed

[2020-07-16 18:53] chanseokoh commented on #1961
@chanRoot this is unrelated to your question, but I'd like to point out that you probably don't want to set `allowInsecureRegistries` in Jib if you are using a self-signed certificate to connect to your private Docker registry. `allowInsecureRegistries` skips verifying whether your self-signed registry is secured; Jib will still be able to connect to your registry even if it doesn't use a self-sig

[2020-07-16 22:17] woodcockjosh commented on #500
I used to use the "values" parameter to set the value of the image which is contained in a child chart. I do this because that child chart is a re-usable component for all my apps. Now I have no way of using skaffold. This is very disappointing.

At a minimum, I have to be able to set the image like this:
[code]
My child chart cannot possibly access values set in the parent chart.

[2020-07-16 23:40] ashconnell opened #4486 "Image rewriting fails"
### Expected behavior

When using [Agones](https://agones.dev/site/docs/getting-started/create-fleet/) which introduces custom resource definitions (eg Fleet, Gameserver) the image specified should be rewritten the same as other pod specifications when using `skaffold dev` etc.

[code]

### Actual behavior

Inspecting via minikube dashboard shows that the pod Agones creates moves into an `ImagePul

[2020-07-17 05:05] TBBle commented on #500
Yeah, looks like `artifactOverrides` is misdocumented, and the key is supposed to be "the parameter used in `--set`", not "the parameter used in `values` files".

[2020-07-17 08:51] dgageot commented on #4486
@ashconnell The way Skaffold works right now is that it has an allow-list with all the kinds that can be transformed. This was added to avoid transforming every field named `image` on every random kind.

I think this is too restrictive since the only way to make Skaffold recognize a new kind is to release a new version.

I'll try to fix that. In the mean time, if you give me a list of all the kind

[2020-07-17 09:19] thclark commented on #4179
@nkubala I'm not quite sure how pre/post hooks would fix this. You could use a `pre` hook to always apply migrations when starting, which is useful... But I don't think this is quite what I'm getting at here in terms of the need to run a different actual command in the container?

[2020-07-17 09:24] dgageot opened #4489 "Allow-List of supported k8s kinds should be used only when applying labels"
The `imageReplacer`'s role is to replace image names in k8s yaml by fully qualified names. It does that by visiting the k8s resources, looking for `image` fields and replacing image names that it has a fully qualified name for.

Since #3833, we have an Allow-List that specifies which resource kinds can be transformed and we lost the possibility to replace `image` fields in any random Custom Resour

[2020-07-17 13:51] briandealwis commented on #4489
Our current approach is very indiscriminate: for the allowed resources, we change *every* occurrence of `image` or `label` (e.g., https://github.com/GoogleContainerTools/skaffold/issues/3219#issuecomment-627276814).

There are also cases where we munged immutable fields (#3219, #3133).

[2020-07-17 13:55] briandealwis commented on #4489
We can make the allowlist extensible by specifying G(V)Ks in the `skaffold.yaml`.

But perhaps rather than just listing G(V)Ks, what if we also allowed specifying a JSONPath-like syntax for identifying the specific fields to be rewritten?  This is really only important for images for CRDs that may specify images by some other field name.  (Assuming that we shouldn't be munging labels everywhere).

[2020-07-17 13:59] dgageot commented on #4489
If we were to not use the allow-list for replacing `image` names:
+ do you think it would better than what we have now?
+ do you think it would be more dangerous?

[2020-07-17 14:02] #4486 closed

[2020-07-17 14:07] briandealwis commented on #4489
Our `image` transforms seem safe: they should be no-ops unless we hit a reference to one of our artifact references.

I'd just like to have some knobs for users to tweak in case we're wrong.  Maybe a configurable blocklist would be sufficient?

[2020-07-17 14:09] dgageot commented on #4489
For me, a possible knob is just changing image names.

[2020-07-17 14:35] dgageot commented on #4489
wdyt?

[2020-07-17 15:45] gbates101 commented on #2217
I haven't confirmed whether or not this is working now, but I'm gonna go ahead and close this issue. We've significantly changed our dev setup and have dropped skaffold in the process, so I won't be much of a resource on confirmation, and it does appear that the issue is documented elsewhere (and maybe even fixed).

If anyone is still experiencing this issue, feel free to reopen it.

[2020-07-17 15:45] #2217 closed

[2020-07-17 19:10] briandealwis opened #4491 "Skaffold should error on an invalid `context` directory"
### Expected behavior

Noticed by [_Rune FS_ on StackOverflow](https://stackoverflow.com/questions/62404426/skaffold-cant-find-image-it-has-just-build): Skaffold does not raise an error on startup if an artifact has an invalid context directory, and instead produces a difficult to decipher error.

### Actual behavior

[code]

[code]

Try without the build-cache:
[code]

[2020-07-17 19:53] dalbani commented on #4033
Speaking of using the Docker image of skaffold, am I seeing this correctly or the image is huge?
A virtual size of 934.72 MB is for example reported for v1.12.1 on https://console.cloud.google.com/gcr/images/k8s-skaffold/GLOBAL/skaffold@sha256:0a475a9b6dead1f176af3fc30ff09e03d427f453fbf845504f0f5d971fc948f2/details?tab=info.
Where's the catch?

[2020-07-17 21:38] anikm1987 opened #4493 "WARN[0001] image [ccoehp.azurecr.io/database-client/postgres-psql] is not used by the deployment + ACR + AKS"
### Expected behavior
Warning should not come and Skaffold should use the image properly. Not sure if it is causing the issue while doing sync
### Actual behavior

### Information

- Skaffold version: version...
6b8b50a35 - Was running from HEAD version for the nil pointer issue fix
- Operating system: ...
Linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
Every deploy

[2020-07-17 21:40] anikm1987 commented on #4493
I doubt this is one of the reason why live sync is not working for me.

[2020-07-17 21:56] briandealwis commented on #3665
Well the dependencies requires invoking maven/gradle.  Otherwise you risk including the Maven `target` or Gradle `build` directories.  Those could be excluded though by the builder.

Perhaps the jib builder could save a "cache-state" file, though that's not great.

[2020-07-17 22:22] ashconnell commented on #4486
@dgageot Thanks for adding these, it works perfectly now.

Another option might be to inverse this to a Deny-List defined in user-land (via skaffold.yaml). That way all CRD's by default are supported. If you find skaffold is rewriting something it shouldn't, you just add it to your config.

Although i'm not sure what the original issues that lead to this are or how common they are, so.

Once again

[2020-07-17 23:20] bs1 opened #4494 "Add option to skaffold run similar to "skaffold build -b""
`skaffold build` has a `-b` option to "Build artifacts whose image name contains [the name]" . It would be useful to have a similar option in `skaffold run` to only run the "Build, test, deploy" pipeline for specified artifacts.

[2020-07-18 14:33] briandealwis commented on #4489
We have to consider the `-l` switch to add user labels too. This is also used by the IDEs.

[2020-07-18 14:42] dgageot commented on #4489
For labels, we could keep the allow list until we find better. The idea is to stop using that list to apply image names and collect namespaces.

[2020-07-20 15:10] briandealwis commented on #3905
If we go forward with this, we could also add a `cleanup` flag to control whether to delete the referenced elements.  This capability would be useful for creating persistent volume claims (#4366).

[2020-07-20 16:01] briandealwis commented on #4163
We could also add a `debug` option to allow forwarding debug ports (these are identified in the debug metadata added as an annotation).  That would avoid us magically port-forwarding all pod `containerPort`s when in debug mode (e.g., port 8080).

My suggested values would be:

  - "pods": all `containerPort`s
  - `services`
  - `user`: the `portForward`s listed in the `skaffold.yaml`
  - `debug`:

[2020-07-20 16:35] BottlecapDave opened #4498 "K3d support is broken with latest release"
k3d 3.0.0 support has officially been released https://github.com/rancher/k3d/releases/tag/v3.0.0. However, with that the k3d implementation is now broken.

### Expected behavior

Images are uploaded to cluster via `skaffold run`

### Actual behavior

[code]

### Information

- Skaffold version: 1.12.1
- Operating system: OSX
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavio

[2020-07-20 18:28] michielswaanen commented on #3295
@briandealwis So I tried running `skaffold dev -v debug` (I'm not sure if that's what you meant?). Nothing notably happened when I killed skaffold.
![image](https://user-images.githubusercontent.com/32015956/87972511-4d282280-cac7-11ea-8191-a079438ebaae.png)

[2020-07-20 18:41] briandealwis opened #4500 "Skaffold should not output version update messages when run from gcloud"
Users using gcloud shouldn't be advised to download a new copy from our website.

[2020-07-20 18:57] briandealwis commented on #4366
@amitm02 Kubernetes [doesn't remove PVCs when deleting StatefulSets](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-storage):

[2020-07-20 19:24] briandealwis commented on #4489
If we can do a configurable group-kind block-list — so that users can unbreak themselves — I'm good with it.

[2020-07-20 19:53] briandealwis opened #4501 "Notify user that file changes are ignored when auto-build/deploy/sync are disabled"
It can be confusing for the user to see that there are no reactions to file changes when auto-build/deploy/sync are disabled.  These are disabled by default with `skaffold debug`.

This has come up a few times on the `#skaffold` Slack channel.

[2020-07-20 20:39] #4491 closed

[2020-07-20 20:52] briandealwis opened #4502 "skaffold.yaml reference should support collapse/expand"
Our [skaffold.yaml](https://skaffold.dev/docs/references/yaml/) reference is extremely useful.  But some nodes have a sufficiently large number of children that it can be difficult to determine (i) an element's parent, and (ii) whether sub-options may actually be sibling options.  For example:

<img width="845" alt="Screen Shot 2020-07-20 at 4 51 33 PM" src="https://user-images.githubusercontent.c

[2020-07-20 20:54] briandealwis commented on #3712
I encounter this somewhat regularly https://github.com/GoogleContainerTools/skaffold/pull/2303#pullrequestreview-252503559

[2020-07-20 20:56] briandealwis commented on #3946
@giladsh1 Skaffold currently only logs images that it has built.  Your initContainer is using `busybox` and so its logs aren't shown.  This is filed as issue #3712.

Closing this issue as I believe the original issue is now fixed.

[2020-07-20 20:56] #3946 closed

[2020-07-20 20:59] briandealwis commented on #3712
A user in #3946 has an `initContainer` invoking shell scripts using the `busybox` image whose output is not logged.

[2020-07-20 21:54] tejal29 opened #4504 "Rethink how to display pod prefix for container Logs for a microservice application."
During Sean's demo during July chill,
- Sean mentioned having pods prefix in the logs is unnecessary.

We should re-think, what to do when
- only one  service is deployed and it contains only 1 container
- multi-service application with only 1 container

Thanks
Tejal

[2020-07-21 00:06] tstromberg opened #4505 "Scary "status failed with container in error: updated to In Progress" message"
Seen in a recent Cloud Code friction log (2020-07-15) (@steren):

[code]

Instead, it should probably say nothing.. as the deployment is in progress?

[2020-07-21 00:12] tstromberg opened #4506 "Hide survey link for embedded use cases"
Related to #4500 - Skaffold should not show the survey link when run from a non-interactive terminal.

For a related implementation note, minikube has a `--interactive=false` flag that IDE's set to avoid prompts and other features that are not relevant for embedded use cases. You could also support an environment variable.

[2020-07-21 02:57] wenzong commented on #4498
k3d release v3.0.0 change the CLI Usage. See [Important Notes & Breaking Changes](https://github.com/rancher/k3d/releases/tag/v3.0.0)

[code]

is now

[code]

maybe change this line?https://github.com/GoogleContainerTools/skaffold/blob/6a514741b5414a272c27d3df42f32edf439abad6/pkg/skaffold/runner/load_images.go#L45

[2020-07-21 03:25] briandealwis commented on #4505
Should fix that typo too!

[2020-07-21 03:38] briandealwis commented on #3295
@michielswaanen would it be possible to save that log, redact any sensitive information, and attach it here?

And could you please describe your setup? It looks many of your pods are from stateful sets — we’re the stateful sets removed?

Aside: that screenshot doesn’t look like it's run with `-v debug` as there should be much more logging output from Skaffold.

[2020-07-21 11:45] dgageot commented on #4504
For information:

Current output for a single pod
<img width="348" alt="Screenshot 2020-07-21 at 13 45 06" src="https://user-images.githubusercontent.com/153495/88051151-704ee280-cb58-11ea-88d7-b6cc22b2345f.png">

[2020-07-21 11:56] dgageot commented on #3905
Do we really want to change the yaml syntax now?

[2020-07-21 12:13] dgageot commented on #4504
And for the java-guestbook sample:
<img width="869" alt="Screenshot 2020-07-21 at 14 13 02" src="https://user-images.githubusercontent.com/153495/88053607-5911f400-cb5c-11ea-86c5-9b6775a122cb.png">

[2020-07-21 12:17] dgageot commented on #4504
Here's what I think could work:
+ Default to never showing the pod name
+ Add a `logs` section to the `skaffold.yaml` with a property to change that behaviour. Something like:

[code]

This new `logs` section would hold additional config in the future.

[2020-07-21 15:18] dgageot commented on #4505
The typo wasn't in the code :-)

[2020-07-21 15:21] #4506 closed

[2020-07-21 16:30] dgageot commented on #4504
Bumping the priority since it's a waste of screen real estate

[2020-07-21 16:31] dgageot commented on #4450
Bumping the priority since it's a waste of screen real estate

[2020-07-21 18:20] nkubala opened #4512 "Add configurable mode for suppressing verbose logs"
we should add a flag/config option to suppress logs from the different phases in skaffold in favor of just surfacing statuses. if a phase fails, we can surface the full logs.

[2020-07-21 18:23] nkubala opened #4514 "Add ability to suppress build logs when configured"
depends on #4512

wire up flag/config option to suppress build logs in favor of showing status.

[2020-07-21 18:25] nkubala opened #4515 "Add ability to suppress deploy logs when configured"
depends on #4512

wire up flag/config option to suppress deploy logs in favor of showing status.

[2020-07-21 18:26] nkubala opened #4516 "Add ability to suppress status check output when configured"
depends on #4512

wire up flag/config option to suppress status check output in favor of status.

[2020-07-21 18:27] nkubala opened #4517 "[Epic] Improve Skaffold's Logging and Output"
This is a top-level tracker for issues related to improving our surfaced logs and output.

- [x] Add configurable option to suppress logs - https://github.com/GoogleContainerTools/skaffold/issues/4512
- [x] Support suppressing build logs - https://github.com/GoogleContainerTools/skaffold/issues/4514
- [x] Support suppressing deploy logs - https://github.com/GoogleContainerTools/skaffold/issues/451

[2020-07-21 19:06] briandealwis opened #4518 "Service port-forwards torn down between redeploys even though service is unchanged"
On a redeploy during `dev`, the port-forwards for a service are torn down even though they are unchanged.  As a result, refreshing a browser after making a change can lead to a page load failure.port

[2020-07-21 20:56] ChaseMor opened #4519 "Skaffold sometimes doesn't deploy all services"
### Expected behavior
All services should deploy all the time

### Actual behavior
A fraction of the time, a service gets lost and doesn't deploy

### Information

- Skaffold version: version v1.12.0
- Operating system: Mac 10.15.5
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Use either the Cloud Code VS Code or IntelliJ extension
2. Create a new application using

[2020-07-21 21:30] tstromberg opened #4520 "Relocate Skaffold debug images from gcr.io/gcp-dev-tools"
gcp-dev-tools is not obviously associated with Skaffold

See http://go/gcp-dev-tools-acl-pm

----

Short-term plan:
  - [x] Publish helper images to both gcr.io/k8s-skaffold/skaffold-debug-support and gcr.io/gcp-dev-tools/duct-tape
  - [ ] Switch Skaffold to retrieve from gcr.io/k8s-skaffold/skaffold-debug-support

[2020-07-21 21:31] tstromberg opened #4521 "Provided non-GCR download path for Skaffold debug images"
To help us avoid a single-point-of-failure with GCR, and guarantee access from China.

This could be, for example, Docker Hub or GitHub.

Related: #2679

[2020-07-21 21:38] briandealwis opened #4522 "Stale responses with services from deployments"
When using `skaffold dev`, attempts to fetch from a service via the service port-forward often results in stale data for up to 3-5 seconds after an updated container image has been deployed to replace the old container.  We believe the Service favours directing incoming requests to the old container until it has been terminated.  This staleness is seen on the [cloud-code-samples](https://github.co

[2020-07-21 21:54] briandealwis commented on #4445
I've separated my theory on stale data from services to #4522 and retitled this issue.  It appears that @fouadkada is using `skaffold debug` under the hood.  We should be able to inform the user that file changes are ignored when the file-watcher is disabled as is the default with `debug`.

[2020-07-21 22:22] tejal29 commented on #4163
Note: This issue GoogleCloudPlatform/cloud-code-vscode-internal#2155 is p1 and we should probably also mark it as p1.

[2020-07-21 22:29] nkubala commented on #3798
hey all, I'm looking into this one now. based on the timeline for EOLing Helm 2, I'm inclined to simply change the default here, but I'm trying to understand and repro the issue before I do.

the flag was originally added in https://github.com/GoogleContainerTools/skaffold/pull/1568, which was addressing an issue where deployments were being overwritten everytime with `skaffold deploy` - a valid i

[2020-07-21 22:45] briandealwis opened #4523 "`skaffold debug` may fail if its helper images are inaccessible"
We recently had an outage where the Skaffold debug helper images could not be retrieved:
[code]

Fortunately `debug` does not configure the helper images with an `imagePullPolicy` and so from Kubernetes' default  [`imagePullPolicy: ifNotPresent`](https://kubernetes.io/docs/concepts/containers/images/#updating-images).  And so many users were unaware of the outage as the images were already present

[2020-07-21 22:46] #4523 closed

[2020-07-21 23:16] sivakku commented on #4519
@nkubala/@briandealwis - Can you triage and label it as july-chill? i can't edit Labels in this repository.

[2020-07-21 23:51] andrewhertog commented on #3798
@nkubala I'm running the following:
[code]

In troubleshooting this with some of my colleagues, we discovered that the issue was in helm 3.2 not in helm 3.1.1.
To reproduce, try with the bitnami/postgres helm chart and the default values. Run `skaffold dev` and then once its running and loaded, force a chart reload by changing one of the chart values.
The error only shows on a `helm upgrade --forc

[2020-07-22 00:04] felixtran39 opened #4525 "FR: git Tagger w/o "-dirty" suffix"
This is a feature request.

I would like git tagger to have an optional flag to not add a "-dirty" suffix even if the workspace has uncommitted changes. I have a tekton pipeline that inserts a skaffold file into an application repository (causing the workspace to have uncommitted changes) before running skaffold build, and would like to not have the "-dirty" suffix in my image tag.

[2020-07-22 00:18] gsquared94 commented on #3905
I like approach 1 since even though it's explicit, it's backward compatible without much effort

[2020-07-22 02:37] briandealwis commented on #4522
FWIW, accessing the service directly shows a similar gap. You can see at 22:26:55 EDT that the endpoint doesn't return a value.
[code]

[2020-07-22 03:31] GavinOsborn commented on #3798
Hey @nkubala,
I definitely don't set `clusterIP` in our services, no.
I'd be happy to try and put together a simple repro tonight.

For the absence of doubt, you are triggering a reload in your testing?
`skaffold dev` worked fine for me on the first build and deploy, it was rebuilds triggered by a change that caused this error.

[2020-07-22 03:33] briandealwis commented on #4522
Aha: https://github.com/kubernetes/kubectl/issues/881 _port-forward to Service always go to first pod_ points to some discussion on https://github.com/kubernetes/kubernetes/issues/15180:

[2020-07-22 03:42] briandealwis commented on #4518
I haven't tracked down where it happens, but it seems this behaviour is necessary as `kubectl port-forward service/xxx` just points to the first pod. https://github.com/kubernetes/kubernetes/issues/15180#issuecomment-457314694 notes:

[2020-07-22 03:50] briandealwis commented on #3905
I think there have been several themes where having multiple instances of the same deployer kind would be necessary (e.g., install a CRD, or configure a PV).  Is it possible to have `deploy` take either an object/map *or* array?

[2020-07-22 04:22] felixtran39 commented on #1276
Since we still want to support users who are using the default deployer, it would probably be best to support a command like `skaffold dev --no-deploy`. I'm curious about how drastic the concerns are regarding the `if-else` checks that need to be added. @tejal29 WDYT?

[2020-07-22 07:11] TBBle commented on #3798
I'm not setting explicit clusterIP, but it shouldn't be needed to reproduce this. The forced-update via `PUT` requires reading back the current version of the resource, modifying it, and the writing it, so the `clusterIP: ""` ends up there because it's there on the live version.

See https://github.com/helm/helm/issues/7082#issuecomment-575514155 and https://github.com/kubernetes/kubernetes/issues

[2020-07-22 07:47] dgageot commented on #4519
I couldn't reproduce that behaviour after many many tries.
Are you deploying to minikube or Docker Desktop?

[2020-07-22 08:01] dgageot commented on #4519
The one hint that's visible from Skaffold's output in IntelliJ is that the `java-guestbook-frontend` was already deployed to the cluster before Skaffold deploys everything.
<img width="335" alt="Screenshot 2020-07-22 at 09 55 03" src="https://user-images.githubusercontent.com/153495/88150338-8cf32500-cc01-11ea-8d28-afbb4c38685d.png">

[2020-07-22 08:31] ifitzpat commented on #3798
I've tried different versions of helm (3.0.3, 3.1.3, and 3.2.4) and all of them has the same issue. As above, using `--force` functions as a workaround.

[2020-07-22 08:46] dgageot commented on #4519
Here's what I think happens (but I couldn't reproduce):
 + Skaffold deploys the whole application
 + The `java-guestbook-frontend` object already existed, with at least one difference. So it has to be re-configured
 + By the time Skaffold queries for all deployed services, the `java-guestbook-frontend` is not part of the results. Probably because it's in progress of applying the reconfiguration.

[2020-07-22 09:59] dgageot commented on #4519
Thank you @ChaseMor for sharing the procedure that you used to reproduce:

 + Using VSCode (or IntelliJ), "Run on Kubernetes", to a **GKE cluster**
 + Wait for the port-forwarding information to be displayed
 + Check if the `service/java-guestbook-frontend` is forwarded
 + Stop the app
 + Try again until `service/java-guestbook-frontend` is not forwarded

[2020-07-22 10:28] dgageot commented on #4519
OK, I couldn't really reproduce the same issue but I still see a strange behaviour with the following steps:

 + Using VSCode, I deploy to a GKE cluster with "Run on Kubernetes"
 + Wait for the port-forwarding information to be displayed
 + All the services `service/java-guestbook-frontend` are forwarded correctly
 + **I open the cloud console and wait until the service has an external IP allocate

[2020-07-22 10:56] dgageot commented on #4519
I think what's happening is that the deletion phase of the first run is not yet fully done that the user runs a new deploy.

Because deleting a LoadBalancer service on GKE takes many seconds, half way through the second deploy, the deletion completes.

If it completes before Skaffold sets up port forwarding, no port forwarding message is shown for that service.

Now, how can we fix that?
 + It's n

[2020-07-22 13:39] briandealwis commented on #4519
Nice analysis.  Your flow makes sense: the service's name, type, selector, and ports are all the same — `apply` would just apply the label changes and return.

`kubectl delete`'s output is very sparse.  A status-check-like live-reporting of deletion status might be helpful.  I know I've sometimes had deletes sometimes take what feels like minutes, and I've ^C to get a move on.

[2020-07-22 14:02] briandealwis commented on #4522
And further confirmation:

[2020-07-22 15:03] philips opened #4529 "SIGSEGV on v1.12.1"
### Expected behavior

`skaffold dev` doesn’t crash

### Actual behavior

`skaffold dev` crashes after running for some time

### Information

- Skaffold version: v1.12.1
- Operating system: 18.04.4 LTS (Bionic Beaver)
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Sorry, private repo
2. `skaffold dev`
3. Crash (see below)

[code]

[2020-07-22 15:18] philips commented on #4529
This may be an issue with my digitalocean droplet. containerd is periodically sigsegv also.

[2020-07-22 15:43] #4529 closed

[2020-07-22 15:54] briandealwis commented on #4522
`kubectl`s [algorithm for selecting a pod from a resource](https://github.com/kubernetes/kubectl/blob/master/pkg/polymorphichelpers/attachablepodforobject.go#L32) gets the first pod

I see a couple of options here:
  1. tweak kubectl's service-to-pod selection algorithm;
  2. add support to `kubectl` to take configurable logic in selecting the corresponding pod;
  3. initiate port forwarding direc

[2020-07-22 16:59] MarlonGamez commented on #4512
Made a small PR for this but we realized we can just expand/repurpose the `--quiet` flag that currently exists for build. Going to close the PR

[2020-07-22 18:05] sivakku commented on #4519
Thanks @dgageot for analysis.

- Waiting for delete of older instance from user perspective is a little bit strained experience. This makes sense on production/staging but on minikube we might want rapid experience.
- For the newer run-id, why does it look at the older instance even if it has same configuration and decides the newer configuration based on it? We can look at GKE to reduce time to c

[2020-07-22 18:08] nkubala commented on #3798
ok, did some experimentation. after trying everything to repro on `v3.1.1`, I couldn't do it, so I upgraded to `v3.2.4`...and I immediately see the issue. no idea what changed there, but it seems like they may have inadvertently fixed the issue for one patch release and reverted it. so it's safe to say it still exists today.

I was also able to confirm that removing `--force` does fix the issue ju

[2020-07-22 18:15] GavinOsborn commented on #3798
I was worried this could get bogged down in unfortunate back compat conversations.

Great outcome 👏

[2020-07-22 18:32] #3798 closed

[2020-07-22 18:40] dgageot commented on #4519
@sivakku On minikube, the problem will not really happen. Deleting a LoadBalancer service is very quick. That's not the case on GKE.

[2020-07-22 20:22] gsquared94 commented on #3712
@briandealwis if you haven't started working on this already, then I can take it up.

[2020-07-22 20:53] briandealwis commented on #4522
Added some logging to `kubectl`'s `GetFirstPod()` to list the pods that are available when the new `kubectl port-forward` is issues for the service.  At this point, we've built and redeployed the modified image, and the pod container is running.  As can be seen below, the old pod (suffix `4vgkv`) has not yet been terminated.  These [pods are sorted in `attachablePodForObject()`](https://github.com

[2020-07-22 21:04] briandealwis commented on #4522
The `ActivePods` type, which defines the less-than operation, [notes](https://github.com/kubernetes/kubectl/blob/2b775f287352b3191b0e52cc4231941cd8e337bf/pkg/util/podutils/podutils.go#L123):
[code]

So it's unlikely that kubectl would accept a change to their sort.

[2020-07-22 21:16] nkubala commented on #4519
nice track down @dgageot. I think your fix makes sense, but I'm wondering if we need to wait for all resource deletions, or if the problem is really only with ones that take a long time to delete, i.e. LoadBalancer/Ingress. I doubt we would see this issue with pods/deployments

[2020-07-22 21:23] briandealwis commented on #4519
Note that a pod's termination grace period is normally 30 seconds, but can be set to an arbitrary integer, so it could be a while (and [potentially forever!](https://github.com/kubernetes/kubernetes/issues/84298)).  Note that this should only wait on objects marked as being deleted.  So the downsides is that this will introduce 1 more kubectl call  when there are no objects being delete.

[2020-07-22 21:26] dgageot commented on #4519
@briandealwis I think the downside is ok. Don't you think?

[2020-07-22 22:28] #500 closed

[2020-07-23 04:45] blaggacao opened #4535 "skaffold run/dev breaks when built with semver build metadata"
- Since skaffold's metdata label is based on a passed-through `skaffold version` tag,
- this implementation causes an issue once the version tag has semver's build metdata appended `+metadata`.
- This is because `+` does not match against `'(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?')` (the label name validation).

[code]

[code]

**[Spec v2.0.0](https://github.com/semver/semver/blob/master/semve

[2020-07-23 08:53] dgageot opened #4537 "TestMainUnknownCommand is flaky"
[code]

[2020-07-23 09:09] dgageot commented on #4535
This is being addressed by https://github.com/GoogleContainerTools/skaffold/pull/4499

[2020-07-23 09:11] #3133 closed

[2020-07-23 09:11] #4535 closed

[2020-07-23 09:42] #4537 closed

[2020-07-23 10:02] dgageot opened #4539 "TestMonitorErrorLogs is flaky"
[code]

[2020-07-23 10:25] dgageot opened #4542 "TestGetAvailablePort is flaky"
[code]

[2020-07-23 11:08] #4498 closed

[2020-07-23 12:23] dgageot commented on #4539
Still flaky

[2020-07-23 15:30] balopat opened #4547 "Unclear error messaging for failed pod startup"
I'm trying to run triage party with the IntelliJ Cloud Run support (minikube + skaffold).
I know my setup is wrong (no github token, etc.) but I wanted to see the "Cloud run emulation" telling me that - well instead I get

[code]

repro:

https://github.com/google/triage-party
![image](https://user-images.githubusercontent.com/635073/88305670-9db5a080-ccbe-11ea-85d3-32fb96db82c0.png)

![image](htt

[2020-07-23 15:31] balopat commented on #4547
Also, because my current context is not pointing to the cloud code minikube instance

[code]

[2020-07-23 15:50] bdraluca commented on #4058
Same issue for me, having to delete every time.

[2020-07-23 17:58] briandealwis opened #4549 "Terminated initContainers are not an error condition for status-checks"
When running the cloud-code-samples/java-guestbook example, the status checks is wrongly reporting that the backend pod is failing though it then reports the deployment is healthy.  It looks like it needs some special treatment for `initContainers`.  The overall status-check is healthy.

[code]

[2020-07-23 18:04] sivakku commented on #4519
Future dependent work items on Kubectl from David, to make it more paralleized.

- Detect apply on deleting resources: https://github.com/kubernetes/kubernetes/issues/93363
- Allow foreground deletion in kubectl: https://github.com/kubernetes/kubernetes/issues/93364
- kubectl wait --for=delete fails on 404: https://github.com/kubernetes/kubernetes/issues/93365
- A quick PR to clarify the type of c

[2020-07-23 18:08] kschaab commented on #4522
Can't we simply change our port forwarding logic to select pods rather than selecting them through the service match?  We are doing so much here already, doesn't skaffold know which pods are coming up and which are older already?  Can match pods based on these specs for the port forward rather than the service?

[2020-07-23 20:33] sarmad-abualkaz commented on #3311
I was seeing the same issue on skaffold version v1.12.1 - `starting logger: initializing pod watcher for "": unknown (get pods)` when my user RBAC is scoped to a single namespace as well.

I've been able to work around it by adding the namespace field under the helm release section:
[code]

With the above setup I'm able to watch logs and sync works as well.

It seems like installing the release ho

[2020-07-23 22:51] #3656 closed

[2020-07-23 23:12] sivakku opened #4553 "Port forward is delayed for 5-10 secs with error message err_empty_response"
Cloud Code Sample: Java (Cloud Run) on VSCode

### Expected behavior
Expect the succesfull message of showing the below page.

[code]
### Actual behavior
For 10 seconds:
![image](https://user-images.githubusercontent.com/16199637/88347253-32d88980-ccff-11ea-9cb1-0206695a8c3d.png)

### Information

- Skaffold version: v1.12.1
- Operating system: Mac OS

### Steps to reproduce the behavior

- Downlo

[2020-07-23 23:13] sivakku commented on #4553
@dgageot/@briandealwis - is this another port forward related one? this one came up as part of July chill ones.

[2020-07-23 23:22] nkubala commented on #3959
closed through https://github.com/GoogleContainerTools/skaffold/pull/3973

[2020-07-23 23:22] #3959 closed

[2020-07-23 23:55] briandealwis opened #4554 "Global config should only support `local-context` on a per kube-context basis"
@russwolf  somehow had his ~/.skaffold/config sert to make all cluster be non-local which led to very puzzling errors when attempting to develop against local clusters. He’s unsure how this setting was configured. And this particular setting seems of questionable value as a blanket setting, and should instead be set on a per-kube-context basis.

We should revisit the actual global config definitio

[2020-07-24 02:54] blaggacao commented on #3855
Same for k3d.

- `deploy.k3d.localRegistry`

[2020-07-24 03:42] zoulux commented on #4175
so `mountPath => mountpath`, persistentVolumeClaim ?

[2020-07-24 04:07] zoulux opened #4555 "kaniko cache error"
### Expected behavior
I wan map the cache to volume in kaniko build.

### Actual behavior

but i fund this error `field persistentvolumeclaim not found in type v1.Volume`.

### Information

- Skaffold version: skaffold/v2beta5 / v1.12.1
- Operating system:  mac
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `s

[2020-07-24 08:09] dgageot commented on #4542
Added more logs. Let's close this issue until it happens again

[2020-07-24 08:09] #4542 closed

[2020-07-24 11:36] briandealwis commented on #4522
Added a fourth option, which is essentially what @kschaab  is suggesting. Will try this today.

[2020-07-24 14:07] dgageot opened #4564 "TestBuildKanikoInsecureRegistry is flaky"
[code]

[2020-07-24 14:13] philips opened #4565 "skaffold build + GCE default service accounts is confusing!"
### Expected behavior

skaffold build works

### Actual behavior

[code]

### Information

- Skaffold version: v1.12.0
- Operating system: Ubuntu 20.04 on Google Cloud
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Use a google cloud machine
2. Try to use skaffold build without  GOOGLE_APPLICATION_CREDENTIALS

The problem is you have no idea where skaffold is getting

[2020-07-24 14:14] etanshaul commented on #4554
for the IDEs, can Skaffold surface a better error message in this case (where the cluster is configured as non-local, but the user has no default-registry set)?

[2020-07-24 17:56] tejal29 commented on #4522
is there a reason we don't mark the previous pods for deletion?

[2020-07-24 18:50] #4512 closed

[2020-07-24 19:12] briandealwis commented on #4549
This is fixed by #4472.

[2020-07-24 19:12] #4549 closed

[2020-07-24 20:40] Xan2063 commented on #3311
@sarmad-abualkaz Thanks for the hint, I will definitely try that in the next days!

[2020-07-25 03:12] briandealwis commented on #4522
If they come from deployments, it's up to the controller to handle.  In the [case above](https://github.com/GoogleContainerTools/skaffold/issues/4522#issuecomment-662690790), the old pod is still running and hasn't been deleted yet.

[2020-07-25 03:49] pierreyves-lebrun commented on #4149
Yes that is correct. I don't mind locally installing Skaffold by the way, that is acceptable to me.

Essentially two way sync, more specifically [this](https://okteto.com/blog/vs-code-remote-development-in-kubernetes/).

When I remote in a container and make changes, I need those changes to be synced back to my local file system.

I wasn't even thinking to go that deep. What I meant by "developmen

[2020-07-25 07:57] #4156 closed

[2020-07-25 08:37] simonoff commented on #4149
@nkubala yeah I can say the same. The stop moment now it that two-way sync is not working.
About local development in Kubernetes:
1 We running a multipass virtual machines with microk8s or k3s(new projects using it as it much faster and use less memory)
2 We running whole application in kubernetes with helm. The only difference from production that its includes an additional container in pod which

[2020-07-25 15:19] sarmad-abualkaz commented on #3311
I think I have a fix for this problem actually - I'm opening a PR soon, @nkubala I'm adding you as a reviewer, let me know if that's okay?

[2020-07-25 22:37] abatilo opened #4569 "Support k3d final 3.0.0 release"
Support for k3d was added while v3.0.0 was still being finalized:
https://github.com/GoogleContainerTools/skaffold/commit/20318e7da3cc4db222570a7dffae0bdb4ab52932#diff-f46605d3cb30bca934740c2ea7f5e3f7

It looks like k3d support was added for k3d `v3.0.0-beta.1`:
https://github.com/rancher/k3d/releases/tag/v3.0.0-beta.1

After this version, k3d removed the `k3d load` command for loading the docker

[2020-07-26 01:50] blaggacao commented on #3946
@briandealwis I built my initContainers, and neither _logs_ nor _status_ are shown:

[code]
with:
[code]

If I'm quick and happy enough, from a different terminal, I can get:
[code]

**Only if I'm quick enough** -> unusable.

[2020-07-26 02:36] blaggacao commented on #4569
https://github.com/GoogleContainerTools/skaffold/pull/4507

Missing a new release cut, I'd guess

[2020-07-26 02:46] blaggacao opened #4570 "Tail logs of StatefulSets not working"
Coming from https://github.com/GoogleContainerTools/skaffold/issues/3946#issuecomment-663925423

Neither `initContainer` nor normal `container` logs are tailed if they error out.

Please triage.

[2020-07-26 02:56] ssvinoth22 commented on #4555
I too have same issue.. could someone help on this issue on pvc

[2020-07-26 13:18] abatilo commented on #4569
Ah, awesome. So this is right around the corner. Awesome.

[2020-07-26 17:24] michielswaanen commented on #3295
@briandealwis Sorry it took me so long, but here you have some more information.

I did some testing and it looks like the automatic delete failure is not project-specific. I ran Skaffold on a different project that is much smaller (the absolute minimum for a k8s setup) and it still didn't do the automatic delete after I hit `ctrl + c`.

`skaffold delete` works like a charm, so no issues with the

[2020-07-26 21:29] alexkreidler opened #4571 "Add a no-cache option to the command line to allow one-off full rebuilds"
#2054 enabled support for the Docker `--no-cache` CLI flag in the `skaffold.yaml` file under each artifact.

However, my use case is that I want to select a subset of artifacts using `skaffold build -b="artifact-1"` and build them from scratch without a Docker (or BuildKit in my case) cache.

It would be great to have this as a CLI flag. I initially thought `--cache-artifacts=false` might do the t

[2020-07-27 08:24] #4519 closed

[2020-07-27 09:52] dgageot commented on #4569
It should be out before the end of the month :-) Let's close this issue

[2020-07-27 09:52] #4569 closed

[2020-07-27 13:30] #3311 closed

[2020-07-27 13:44] kylewolfe commented on #3311
Should we reopen this issue for the sync issue described earlier, or should a new one be opened for that?

[2020-07-27 14:14] sarmad-abualkaz commented on #3311
Tbh @kylewolfe I'm not seeing any sync issues anymore - I'm using sync with 3 different images and appears to work fine for me without cluster-wide RBAC (my RBAC is scoped to a single ns).

Just to confirm, by 'sync' you mean this setup?
[code]

[2020-07-27 15:02] briandealwis opened #4573 "skaffold.yaml should support configuring the default-repo"
Some users wish to be able to share deployment-related settings within their skaffold.yaml to be shared across team members.   The currently require new team members to run onboarding scripts to configure their ~/.skaffold/config files for cluster-conditional settings.  We already support specifying `insecureRegistries` and `local-context` (via `build.local.push`).  By including the `default-repo`

[2020-07-27 16:12] briandealwis commented on #4555
The volumes needs to reflect the `Volume` structure.  So something like:

[code]

As mentioned in #4175, ``cluster.volumes` and `artifacts.kaniko.volumeMounts` are actually kubernetes objects that don't have `yaml` tags and so require lower-casing the names.  On the bright side, it means `skaffold fix` actually exports all of the entries (as there are no `omitempty` tags found).

[code]

[2020-07-27 16:34] briandealwis commented on #4441
Apologies for letting this drop.  The Skaffold `cluster.volumes` and `artifacts.kaniko.volumeMounts` reuse object types from the Kubernetes definitions, but these definitions aren't annotated in a way that our YAML serialization libraries can use (#4175).  As a result, all of the keys under `cluster.volumes` and `artifacts.kaniko.volumeMounts` must be lower-case, and some features like object inli

[2020-07-27 16:34] #4441 closed

[2020-07-27 16:36] briandealwis commented on #4175
It also means that object inlining, such as used in [`volume.volumeSource.configMap.name`](https://godoc.org/k8s.io/api/core/v1#ConfigMapVolumeSource), doesn't work.

[2020-07-27 16:44] briandealwis commented on #4553
This is happening on first deploy, right?  That's a different situation to #4518 and #4522 where the delays are happening due to a redeploy (so there are old pods and new pods, and `kubectl` is choosing the old pod).

@sivakku what do you see on the Skaffold logs? (Please run with `-v debug`.)

[2020-07-27 17:48] nkubala commented on #4179
@thclark ok I see, so it seems like you're really trying to override/append the entrypoint of the resource you're creating. do you commonly do this by changing the args in the podspec in the actual k8s yaml? if so you might be able to just use a combination of kustomize and profiles to give yourself different "entrypoints" which are almost like different modes of deploying your app.

I also wonder

[2020-07-27 18:35] sivakku commented on #4553
Any first deploy after stoping Minikube. i will add logs.

[2020-07-27 18:35] thclark commented on #4179
I did something like that to try and get started, but you need the flexibility of doing it at the command line, or you end up with hundreds and hundreds of profiles (one for each command you might otherwise type in a cli).

It's not a consistent need... They need to be ad-hoc for this to be a tool for developers, as opposed to a tool to do devops with, where everything needs to e the opposite of a

[2020-07-27 19:01] tejal29 commented on #4522
got it.

[2020-07-27 19:11] sivakku commented on #4553
[code]

[2020-07-27 19:50] briandealwis commented on #4553
So here's what I think is going on:
  1. Skaffold's status checks monitor when the pod phase becomes `Running`: this means all containers are created, and one is still running.  Once the phase turns to `Running`, Skaffold will then initiate any port forwards.
  2. `gcloud`'s generated deployment defines pod template with a single container.  It does not define a liveness/readiness/startup probe.

[2020-07-27 22:24] drewpca opened #4576 "skaffold can't read minikube's version output"
tldr; skaffold ran "kubectl version --client" and minikube said "unknown flag: --client". I expected these tool versions to work together.

[code]

[code]

- Contents of skaffold.yaml: https://github.com/GoogleContainerTools/skaffold/blob/release/v1.2.0/examples/getting-started/skaffold.yaml

[2020-07-27 22:28] drewpca commented on #4576
A little more:
[code]
[code]

[code]

[2020-07-27 22:31] drewpca opened #4577 "crash in docker.readCopyCommand when new file appears"
skaffold dev (1.12.1) was running and refreshing on changes, and suddenly it crashed as follows. I think it was right when `ssh-keygen` had just created a new file, perhaps using an unconventional write pattern or making a file without 'read' perms.

Repro is awkward since I don't know a workaround for https://github.com/GoogleContainerTools/skaffold/issues/4576

[code]

[2020-07-28 02:59] briandealwis commented on #4577
Would you be able to share your Dockerfile?  This code is trying to parse `COPY` and `ADD` commands within the Dockefile to determine the source files/directories.  Something is confusing it.

[2020-07-28 03:07] briandealwis commented on #4576
You need to fix up your `kubectl` wrapper: you need to add `--` before the arguments, and the argument quoting isn't quite right.  Try this:

[code]

[2020-07-28 03:08] briandealwis commented on #4576
You can test your wrapper by running `kubectl --help`: it it's correct, you should see the kubectl help, whereas if it's wrong then you'll see minikube text instead.

[2020-07-28 03:10] #4576 closed

[2020-07-28 03:28] briandealwis commented on #4571
A broad `--cache=true/false` is an interesting idea!

[2020-07-28 03:35] briandealwis commented on #4483
I think this is a duplicate of #3668, which requests support for minikube profiles.

[2020-07-28 03:35] #4483 closed

[2020-07-28 03:40] briandealwis commented on #4494
Patches welcome!

[2020-07-28 03:52] briandealwis commented on #4493
The problem is that your deployment version is `extensions/v1beta1` which has long been deprecated (current version is `apps/v1`), and wasn't supported by Skaffold until just recently (#4478, not yet in a release).

Skaffold normally processes the configured Kubernetes resource manifests to rewrite images to reference the built versions.  Skaffold v1.8.0 introduced a feature to limit rewriting to

[2020-07-28 03:57] briandealwis commented on #3295
Seems to be a duplicate of #1907 and #4058.

[2020-07-28 05:50] michielswaanen commented on #3295
@briandealwis I've looked into the code and I saw that it's using `SIGINT` to determine if the process is getting killed or not. But Windows does not support `SIGINT`, could this be the cause?
https://stackoverflow.com/questions/813086/can-i-send-a-ctrl-c-sigint-to-an-application-on-windows

[2020-07-28 15:59] dimitry12 commented on #3951
With microk8s's registry on Ubuntu host and running skaffold on Mac, I was able to solve it by adding

[code]

to Mac's local `~/.docker/daemon.json`, which suggests to me that skaffold fails to communicate its `insecure-registries` (AKA `insecure-registry`) setting to Docker daemon.

[2020-07-28 16:15] matthewmichihara opened #4578 "Grouping port forward events"
In Cloud Code for IntelliJ, when we start a Skaffold dev session for one of the guestbook samples, we show events in the IntelliJ event log like this:
<img width="786" alt="Screen Shot 2020-07-28 at 8 59 14 AM" src="https://user-images.githubusercontent.com/79073/88690999-4b172280-d0ca-11ea-89a0-2568aca66de7.png">

The three highlighted event log items are generated from three individual Skaffold

[2020-07-28 16:18] matthewmichihara commented on #4578
@briandealwis - related to some of our earlier chats. Filed this to consolidate the thinking behind what's possible here.

[2020-07-28 16:33] dgageot commented on #3946
Hi @blaggacao, I'm going to try to fix your issue.

For now, what I can say is that when the application is **fine**, I can see the logs for both initContainers and normal containers. Is it the same for you?

[2020-07-28 16:54] tejal29 commented on #3946
This could need some debugging in the `diag` package.

[2020-07-28 17:25] briandealwis commented on #4553
Note that applying the following patch to the `gcloud code`'s generated `pods_and_services.yaml` ensures Skaffold's status-checks will wait for the application to actually open port 8080 before forwarding port 8080:

[code]

[2020-07-28 17:29] briandealwis commented on #4553
Filed internally as b/162327667.

[2020-07-28 20:50] blaggacao commented on #3946
:smile: I haven't got there yet. I assume it is.

Thank you, much appreciated. Then I'll be empowered to respond the above question, for sure.

[2020-07-28 21:12] blaggacao opened #4580 "container-structured-test output"
For a container-structure-test:

[code]

Instead of
<details>
<summary>ungrouped ouput</summary>

[code]

</details>

I think results grouped per file are preferable.
Final consolidated results are ok, though.

on `skaffold` `master`

[2020-07-29 03:37] zoulux commented on #4555
@briandealwis
the structure is ok，but the cache does not seem to take effect，It is still a remote cache rather than local

[2020-07-29 09:14] dgageot opened #4581 "Helm sample has an invalid k8s manifest with duplicated replicaCount"
This leads to strange behaviour such as not being able to apply a label on resources and not being able to check the deployment's status.

[2020-07-29 09:58] #4581 closed

[2020-07-29 13:39] briandealwis commented on #4578
I don't think there's much Skaffold can do here:
  - the user may have deployed deployments/replicasets with replicas
  - the user may have deployed some resource that a controller turns into (many) normal workload objects, and on the fly (e.g., knative)

All I can suggest is batching and rolling up events within some window of time.  Can you remove or replace events from this view?

[2020-07-29 13:47] briandealwis commented on #4555
@zoulux the kaniko docs mention that [you must include `--cache=true` too](https://github.com/GoogleContainerTools/kaniko#additional-flags):

[2020-07-29 13:54] briandealwis commented on #4580
@blaggacao this is a problem in https://github.com/GoogleContainerTools/container-structure-test — could you please open an issue there?

[2020-07-29 13:54] #4580 closed

[2020-07-29 15:19] aubrey-y commented on #4167
@etanshaul can you elaborate on what you did by configuring the context?

[2020-07-29 16:04] etanshaul commented on #4167
@aubrey-y sure!

[code]

Notice the update to the context fields to point to the relative path to each artifact.

[2020-07-29 19:24] briandealwis opened #4589 "status-checks should not disable logging"
The status checks are wonderful, but as they suppress the logs until the application jas stabilized, it's hard to diagnose problems.

![Screen Shot 2020-07-29 at 3 21 49 PM](https://user-images.githubusercontent.com/202851/88843506-3b253e80-d1af-11ea-9d47-e315e21fe035.png)

IMHO we should always log, and have the status check messages appearing inline.  We should continue to have port-forwarding r

[2020-07-29 19:27] tejal29 commented on #4589
@briandealwis we are pulling logs in status check for failed pods when containers are terminated.

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/diag/validator/pod.go#L119

Maybe we need to just do this for more container statuses.
Can you give me a reproducible test case?

[2020-07-29 19:48] gsquared94 commented on #3712
Assigning to @dgageot since he's working on #4586

[2020-07-29 19:57] dgageot commented on #4589
Also, the status check can't be interrupted by a code change. So if one breaks the code, it'll take a long time before a new deployment can be made.

[2020-07-29 20:16] tejal29 commented on #4589
This is only true for 1st skaffold dev. This is something me and @balopat discussed. We felt, we should make 1st `skaffold dev` interruptible.

[2020-07-29 20:27] tejal29 commented on #4589
I don't any errors :(
[code]

[2020-07-29 20:29] briandealwis commented on #4589
Change the ENTRYPOINT

    ENTRYPOINT ["node", "./node_modules/.bin/next", "dev", "-p", "8080", "--inspect=127.0.0.1:9229"]`

[2020-07-29 20:29] briandealwis commented on #4589
Oh and `skaffold debug`

[2020-07-29 20:30] tejal29 commented on #4589
yeah, i realized it was commented out in the dockerfile.

[2020-07-30 07:31] zoulux commented on #4555
@briandealwis
[code]

 kaniko-cache-claim like a nas , but the nas is empty

[2020-07-30 09:24] zoulux opened #4593 "how can build artifacts with multi progress"
### Expected behavior

the yaml have five artifacts ，build artifacts with multi progress

### Actual behavior

single progress sequential execution

### Information

- Skaffold version: skaffold/v2beta5 / v1.12.1
- Operating system: mac
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
3. ...

[2020-07-30 09:56] pie-r commented on #2448
Interested on this topic

[2020-07-30 11:10] pie-r commented on #1893
In my use case the solution was:
structure:
[code]

skaffold.yaml:
[code]

This allow a dockerfile, to take something from Repo2 for example:
Dockerfile.dev:
[code]

[2020-07-30 15:58] matthewmichihara commented on #4578
Thanks @briandealwis. That basically sounds like the current VSCode approach, where they batch port forward events within some time window. We've been hesitant to take this approach in IntelliJ as it feels error prone.

In IntelliJ, unfortunately we can't remove or replace events in the event logs, only append.

[2020-07-30 16:51] tejal29 commented on #2479
@igoooor this is not on our priority right now. Labelling as end of lifecycle.

[2020-07-30 16:52] #2479 closed

[2020-07-30 16:54] tejal29 commented on #1219
Team doesn't see the support for adding port forwarding options in global config right to be implemented soon.
Closing this for now. Please comment if you want to re-open.

[2020-07-30 16:54] #1219 closed

[2020-07-30 16:57] tejal29 commented on #2203
@briandealwis going through quarterly scrub and just wanted to make sure if this is still a priority.

[2020-07-30 16:58] tejal29 commented on #2679
work in progress.

[2020-07-30 16:58] tejal29 commented on #3915
This is complete. We have events from pod.

[2020-07-30 16:59] tejal29 commented on #3739
`diag` package has basic pod checks. Closing this!

[2020-07-30 16:59] #3739 closed

[2020-07-30 17:00] MarlonGamez commented on #2317
Hi! It's been a while since we've updated on this. Recently we've been talking about what we want to do with default-repo, as its functionality is currently confusing for a lot of users. I believe we're trying to hammer out those issues before we prioritize this, but we're definitely still looking into this :)

[2020-07-30 17:01] sbueringer commented on #2679
@tejal29
Isn't it already fixed here: https://github.com/GoogleContainerTools/skaffold/pull/3945
/cc @briandealwis

[2020-07-30 17:14] MarlonGamez commented on #3309
We've recently been discussing skaffold's UI/UX internally, and we're going to prioritize this more in the coming months.

@michaelbayday, do you have any update on what you've been working on? We'd love to see what your team has done :)

[2020-07-30 17:26] nkubala commented on #4514
closed with https://github.com/GoogleContainerTools/skaffold/pull/4528

[2020-07-30 17:26] #4514 closed

[2020-07-30 17:32] briandealwis commented on #4578
Ultimately Skaffold should be trying to push out its events in as close to real time as possible. You could use the devLoop event as an end event, especially when it is combined with the status-checks, which will wait until the system stabilizes.

[2020-07-30 18:12] vincentjocodes commented on #4450
@marlon-gamez @tejal29

Any updates on this? Thanks!

[2020-07-30 18:58] tejal29 opened #4599 "Check why statuscheck is not interruptible."
When implementing status check, for subsequent following dev iterations, if a file change occurs the previous context in which status check runs got canceled.
I had verified this on the [prototype](https://github.com/tejal29/skaffold/blob/prototype/pkg/skaffold/runner/dev.go) branch

The reason for this is,
- status check shares the same context as current dev iteration context.
- when a change is

[2020-07-30 19:01] nkubala commented on #20
hey everyone, this issue is one of our oldest still around! i'm not totally convinced based on the evidence here that this is a feature we **need** in skaffold, and our team likely won't be prioritizing it anytime soon. i'm going to mark it for closure now - that said, if anyone has evidence for why we need to build this in skaffold or examples of where we're falling short, please drop them in her

[2020-07-30 19:10] saturnism commented on #4573
+1, also see #2317

[2020-07-30 19:14] nkubala commented on #3248
@dgageot you think this is something we'll realistically do? seems like maybe more trouble than it's worth, and I've seen at least one person using buildkit through env vars recently

[2020-07-30 19:17] nkubala commented on #3824
we have some preliminary designs in the works for restructuring our output to be more consumable by different frontends. i'm gonna close this for now, but we'll open another issue for tracking when we have more concrete plans

[2020-07-30 19:17] #3824 closed

[2020-07-30 19:23] nkubala commented on #3780
@mleonhard thanks for the suggestion! identifying the common use cases is harder than you think for a tool like skaffold :) any suggestions for how to more usefully demonstrate features and functionalities in our docs would be greatly appreciated! our perspectives are sometimes shaded by working closely with some of these things every day.

[2020-07-30 19:23] #3472 closed

[2020-07-30 19:25] nkubala commented on #3468
cc @tejal29 do you know? also, is anyone interested in fixing this one?

[2020-07-30 19:28] dgageot commented on #3248
It's indeed a nice espace hatch in case of an issue in the docker builder.
I let you close it.

Le jeu. 30 juil. 2020 à 21:15, Nick Kubala <notifications@github.com> a
écrit :

[2020-07-30 19:36] nkubala commented on #1276
@felixtran39 yeah i think if we're going to support this we should do it through a flag, since we don't want to mess with the default behavior we have right now

[2020-07-30 19:43] nkubala commented on #3388
i'm not sure i understand the original issue here. `skaffold run --tail` is meant to do a `skaffold run`, with an attachment to the application logs to continue to monitor them after the resources are created. `kubectl logs -f` can be used to get a glimpse at pod logs after they're deployed, which is different than our log tailing. if `skaffold run --tail` exited after everything completed, then t

[2020-07-30 19:43] #3388 closed

[2020-07-30 20:17] briandealwis commented on #4477
I checked to see fi can build with Skaffold without any contexts or minikube and it worked fine:
[code]

[2020-07-30 20:20] briandealwis commented on #4477
So is the answer here really to change the documented default to show `--kube-context=<active-context>` instead?

[2020-07-30 20:23] briandealwis commented on #3879
TBH I'd prefer the tests to be run unless we run with `--skip-tests`.  The cached image may be from having run with `--skip-tests`.

[2020-07-30 20:24] briandealwis commented on #3879
Further point: our Jib builder does run the in-build tests unless run with `--skip-tests`.

[2020-07-30 21:29] #4522 closed

[2020-07-30 22:10] MarlonGamez commented on #4450
@vincentjocodes sorry, I'm actually not working on this now, but forgot to remove myself from assignees

[2020-07-31 01:48] blaggacao commented on #4569
End of month :tada: :smiley_cat:

[2020-07-31 02:39] mistahj67 commented on #4058
Bump! Bash shell, windows, skaffold dev doesn't delete. What's worse is if you portforward it appears to conflict on initializing skaffold dev again which causes a cascade of goroutine errors and the only solution is to skaffold delete between everytime.

[2020-07-31 02:39] briandealwis commented on #4310
@robertgates55 Apologies if this is a stupid question, but is `registry.localhost` a redacted host name, or did you actually set this up?  I ask as I get the same _Service Unavailable_ if I literally use `registry.localhost`:

[code]

[2020-07-31 03:00] briandealwis commented on #4329
@mythio I believe just a pain `docker build` will have the same problem unfortunately.

One approach that *might* work is to perform the [`npm install` at *run time* instead of at build time](https://itnext.io/npm-install-with-cache-in-docker-4bb85283fa12).  You'd need a persistent volume that you would mount to hold your NPM cache.  Your entrypoint would be something like `npm install && npm star

[2020-07-31 03:02] briandealwis commented on #4347
Reducing priority given current commitments.

[2020-07-31 03:20] briandealwis commented on #4356
As you're aware, @GavinOsborn, #3798 has been fixed by #4513 and should be in the next release (RSN).

We'd definitely appreciate some more details about @k's situation though.

[2020-07-31 03:25] briandealwis commented on #4437
Will get to this in August.

[2020-07-31 03:29] briandealwis commented on #4438
Downgrading priority as there's no easy solution here.

[2020-07-31 03:35] briandealwis commented on #4444
@MarcoSchaar the Kaniko `--destination` will be the artifact-image modulo the `--default-repo`.

That said, wWe are looking to simplify the `--default-repo` experience and would appreciate any input you may have either on this issue here or on #4321.

[2020-07-31 03:38] briandealwis commented on #4493
Closing as I believe we have identified the root cause and there is a fix in the next release.

[2020-07-31 03:38] #4493 closed

[2020-07-31 03:39] briandealwis commented on #3247
Expect to resume this work in August.

[2020-07-31 03:47] briandealwis commented on #4251
Closing, but happy to re-open if we can get an example to reproduce.  Running with `-v trace` and attaching the output would be very helpful.

[2020-07-31 03:47] #4251 closed

[2020-07-31 03:51] briandealwis commented on #4593
The [`skaffold.yaml`](https://skaffold.dev/docs/references/yaml/#build-local-concurrency) supports specify the desired concurrency of the build.  The builds will proceed in the background and the logs will be shown as each build completes.

[2020-07-31 03:51] #4593 closed

[2020-07-31 03:51] briandealwis commented on #4577
@drewpca would you be able to include your Dockerfile?

[2020-07-31 03:59] briandealwis commented on #4547
I wonder if the initial logs request failed due to using the wrong kube-context.

[2020-07-31 09:27] mythio commented on #4329
Hmmm... Even though it seems some extra steps, it works better than plain `docker build`

[2020-07-31 10:43] dgageot commented on #4599
Duplicate of #3908

[2020-07-31 10:43] #4599 closed

[2020-07-31 16:05] briandealwis commented on #4553
Closing as this isn't a Skaffold problem _per se_.

[2020-07-31 16:05] #4553 closed

[2020-07-31 16:18] briandealwis commented on #4058
@etanshaul thinks that terminating Skaffold from the Cloud Code IntelliJ's Terminal may be a semi-reliable way to trigger this problem.

@nkubala were you able to reproduce this?

[2020-07-31 16:19] briandealwis commented on #4058
@mistahj67 could you check to see if you have any `kubectl port-forward` instances hanging around?  Could you please attach logs of your second run with `-v debug`?

[2020-07-31 16:20] etanshaul commented on #4058
to clarify - I'm not sure if it's semi-reliable or if it is just a single data point (one user who was able to repro). But the fact that this user was able to repro from the IntelliJ integration, but not the CLI, might be something to go by. I will try and repro myself soon.

[2020-07-31 16:25] vincentjocodes commented on #4450
@marlon-gamez No problem, do you know if Tejal still taking this on?

[2020-07-31 17:15] briandealwis commented on #4500
Removing from chill: message should be suppressed in the IDEs with #4508.

[2020-07-31 17:23] briandealwis commented on #4505
I believe this was fixed with #4472.

[2020-07-31 17:23] #4505 closed

[2020-07-31 17:23] matthewmichihara commented on #4578
Interesting idea, will play around with using the devLoop event as a grouping end event.

[2020-07-31 17:37] #3642 closed

[2020-07-31 17:43] nkubala opened #4607 "Deprecate Helm 2 Support"
Helm 2 support will officially end on 11/13/2020. at this point, we should remove support for Helm 2 and assume version 3.0.0 or greater, which will help simplify or remove a lot of the special casing and version checking we have in the Helm deployer code.

https://helm.sh/blog/helm-3-released/
https://helm.sh/blog/2019-10-22-helm-2150-released/

[2020-07-31 17:57] #3915 closed

[2020-07-31 17:59] matthewmichihara commented on #4578
Did a little bit of experimenting with `skaffold dev --port-forward --status-check`, but it looks like the port-forwarding events come in *after* the completion `devLoopEvent` (see last few lines of this event log) --

[code]

[2020-07-31 18:05] tejal29 commented on #4450
Thanks @vincentjocodes for pinging me. I am going to re-evaluate all the output statuses and the frequency of when the events needs to shown.
e.g.
1. what statuses are important and worth notifying about
2. If we do identify nothing interesting happened, what is reasonable amount of time to wait until we show some output
3. do events also need to apply the same rule?

I am going to write some mock

[2020-07-31 18:25] briandealwis commented on #4329
One other thing, since your Dockerfile is actually really simple, you might consider using Skaffold's Buildpacks builder.  `skaffold dev` in particular has some nice integration with GCP Buildpacks to allow syncing and in-container rebuilding.

[2020-07-31 19:05] etanshaul commented on #4058
update: I _can_ reproduce this from Cloud Code IntelliJ on Windows, and reliably.

[2020-07-31 20:57] #4589 closed

[2020-07-31 21:28] briandealwis commented on #4058
So we've dug into this and IntelliJ ends up calling the Win32 `TerminateProcess()` function, which is the equivalent of POSIX `signal(..., SIGKILL)` and cannot be caught.

I found [the following discussion on gracefully terminating processes on WIndows](https://github.com/libuv/libuv/issues/1133) to be very useful.

[2020-07-31 21:41] #4450 closed

[2020-07-31 22:26] #4371 closed

[2020-08-01 03:36] briandealwis commented on #4132
I'm not sure if Skaffold is the right place for it, but it does feel like there should be a tool for creating the secret and patching the service account.

[2020-08-01 17:20] iMerica commented on #4218
Does anyone have a fork of Skaffold that doesn't pull by digest? I'm completely blocked by this.

[2020-08-01 23:07] drewp opened #4613 "'skaffold dev' can hang and ignore ctrl-c"
This should be timing out and erroring, but instead it hangs and ignores at least the first ctrl-c.

[code]

[code]

`docker build` is trying to resolve the host 'nonexist' but it just looks like `skaffold dev` has hung. I don't know what can easily be done about this, but docker has output `Step 1/1 : FROM nonexist:1234/foo` and skaffold has suppressed it, so maybe after a time skaffold could sta

[2020-08-02 05:53] vishal-biyani opened #4614 "Doc: Skaffold.yaml page not rendering"
### Expected behavior

Skaffold YAML reference page in docs site loads full YAML with reference of each section

### Actual behavior

It is only loading a line and not full YAML:

![image](https://user-images.githubusercontent.com/1167948/89116515-7b880380-d4b2-11ea-9366-2c4f8b0bf540.png)

### Information

The docs website
https://skaffold.dev/docs/references/yaml/

[2020-08-02 11:35] Namielusi commented on #4614
I found a workaround in case someone doesn't want to wait for a fix, the table renders if you revert to the `v2beta5` version.

1. Head to https://skaffold.dev/docs/references/yaml/ and open chrome dev tools
2. In the Sources tab, find index.html file
3. Using chrome [local overrides](https://developers.google.com/web/updates/2018/01/devtools#overrides), change the `date-version` attribute of the

[2020-08-03 03:00] lucasmaj opened #4615 "skaffold.yaml"
### Expected behavior
https://skaffold.dev/docs/references/yaml/ has content describing all the options for skaffold.yaml
### Actual behavior
https://skaffold.dev/docs/references/yaml/ is devoid of any information describing skaffold.yaml

[2020-08-03 04:03] lucasmaj opened #4616 "skaffold deploy (and even skaffold fix) validates existence of "build->artifacts->context""
### Expected behavior
Existence of "build->artifacts->context" path has no bearing on "deploy" (nor "fix", nor any other pipeline that does not need it, so "build" only???). When using "deploy" separately from "build", context path (which is used for "build") is not guaranteed  to exist during "deploy". Does "deploy" need context anyway?
### Actual behavior
Error thrown stating that context does n

[2020-08-03 14:21] gsquared94 opened #4617 "Skaffold nightly integration tests for linux and darwin are broken"
The bazel binaries for the linux and darwin images in github actions seem to have been updated and skaffold bazel integration tests are failing as a result.

https://github.com/GoogleContainerTools/skaffold/actions?query=workflow%3A%22release+%28linux%29%22
https://github.com/GoogleContainerTools/skaffold/actions?query=workflow%3A%22release+%28darwin%29%22

[2020-08-03 14:44] jelleklaver commented on #4615
Hi, I just noticed that it doesn't work too.

I suppose it is due to the following JS error:

[code]

Which points to the following code:
[code]

Haven't really looked into it and don't know the source of the variables, but it might be fixed by first checking if `definitions[refName]` exists?

[2020-08-03 14:57] davidfernandezm commented on #531
I don't know if this is the right place for this, but this is related to File Sync of thousands of files, which won't work at the moment. A block like this:

[code]

in our scenario is trying to sync 4000+ files and getting:

[code]
key part: `/usr/local/bin/kubectl: argument list too long"`

Is there any workaround for when such number of files need to be deleted/synced?

[2020-08-03 20:00] mythio commented on #4329
I am already using `skaffold dev` here.

[code]

[2020-08-03 20:21] nkubala commented on #4615
closing as a dupe of #4614, thanks for the info though! fix coming soon.

[2020-08-03 20:21] #4615 closed

[2020-08-03 20:33] ascheman opened #4620 ""skaffold completion" includes survey result command in output 🔥"
Since the latest update of Homebrew I always get an error / message when I start a new shell (`bash`):

[code]

This is due to the fact that at the end of `/usr/local/etc/bash_completion.d/skaffold` I find the following snippet:

[code]

I could already drill it down to this line of code: https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/survey/survey.go#L32 but do not have

[2020-08-03 20:41] ascheman commented on #4620
Looks like the file is generated calling `skaffold completion bash`. Unless the survey is disabled via `skaffold config set --survey --global disable-prompt true` the survey info is always appended to the end of each command output (even to the completion command).

[2020-08-03 23:42] kodeninja commented on #4620
I ended up _deleting_ the bash completion support for `skaffold`. Very annoying 😠...

[2020-08-04 02:27] toby-1-kenobi commented on #1315
The docs for this have all gone missing

[2020-08-04 02:59] jlewi commented on #3468
Workload identity also depends on being able to set the K8s service account in order to  control the GCP identity that is used.

On GKE/GCP it is increasingly common to disallow exporting of service account keys. So this is becoming a blocker.

[2020-08-04 03:11] jlewi commented on #3468
Per: GoogleContainerTools/kaniko#968 kaniko works just fine with workload identity. So the issue is just properly configuring the kaniko pod so that WI works. Specifically

1. Don't set GOOGLE_APPLICATION_CREDENTIALS
1. Make the K8s service account configurable

[2020-08-04 06:20] ascheman commented on #4620
You can just delete the three lines from the end of the file if you source it. Or you can just run `skaffold config set --survey --global disable-prompt true` (once) if you evaluate the `skaffold completion bash` output frequently to make it disappear.

Nevertheless, I hope it gets fixed with the next release.

[2020-08-04 12:33] Imerlith opened #4623 "Skaffold Jib build permission denied error on Mac"
### Expected behavior
Skaffold build or Skaffold dev builds docker image using jib and proceeds with a normal execution
### Actual behavior
When using jib as build type error is thrown:
`watching files for artifact "main-rest": listing files: getting jib-maven dependencies: initial Jib dependency refresh failed: failed to get Jib dependencies: starting command /Users/john/Projects/test-kub/modules

[2020-08-04 13:48] jpambrun commented on #4620
How can this even happen. This is so stupid. I have no words.

BTW, I don't know what "`skaffold config set --survey --global disable-prompt true` (once)" is supposed to do, but it isn't working.

[2020-08-04 14:25] chanseokoh commented on #4623
The root cause seems that Skaffold can't exec (as a fork) `mvnw`. Does `mvnw` have executable bits set? Can you run `.../modules/main-rest/mvnw compile` (rather than using `mvn` on your `$PATH`)?

[2020-08-04 17:13] tejal29 commented on #4620
Hey folks, we are really sorry for the inconvenience. This is your highest priority and we are looking fixing it.

[2020-08-04 17:14] dwctua opened #4624 "remove skaffold image validation for custom build"
For customized build, user is responsible for build and publish the image. Skaffold do not need to do the extra validation, or user should be able to disable it. Otherwise, user have to make the extra configuration to allow skaffold to access the image, for example, we need to make the registry public accessible.

### Expected behavior
Skaffold skip the validation for customized build

### Actual

[2020-08-04 17:58] tejal29 opened #4627 "Add an integration test for skaffold to update the survey prompt."
We need an integration test where
1. Skaffold config is empty
2. Run skaffold dev for the first time
3. Make sure the skaffold user survey prompt is shown
4. the survey prompt shown config is updated in the config.

[2020-08-04 19:01] Imerlith commented on #4623
Running `chmod +x mvnw` inside main-rest folder solved the problem. I guess i haven't run mvnw script on my mac before. Thanks for help @chanseokoh

[2020-08-04 19:01] #4623 closed

[2020-08-04 19:50] tejal29 opened #4630 "Follow up enabling survey prompt."
In #4629, we disabled survey prompt.
Please follow up enabling survey prompt after releasing v1.14.0.

TODO: Add this issue to feature v1.14.0 milestone.

[2020-08-04 20:12] nkubala commented on #4620
hey all, just want to give a little more detail into how this happened. this was absolutely not our intended behavior, but rather an unfortunate bug that manifested in a really bad way.

we made a [change](https://github.com/GoogleContainerTools/skaffold/pull/4306) to our survey prompt that was supposed to open it automatically in a browser window - **but only when the actual command was issued by

[2020-08-04 20:38] #4614 closed

[2020-08-04 20:59] jpambrun commented on #4620
Right. I understand and I apologize for the overly angry comment. Thanks for the detailed explanation.

[2020-08-04 21:39] nkubala commented on #4620
haha it's all good @jpambrun, it was stupid and in your place i'd be mad too 😆

[2020-08-04 21:44] nkubala commented on #4620
FYI v1.13.1 was just released that hotfixes this issue - https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.13.1

I'm going to leave this issue open since the PR to address the actual issue isn't merged yet (the hotfix just disables the survey entirely), but upgrading should do the trick for now. I'll try and get this bumped in homebrew ASAP

[2020-08-04 21:56] tstromberg opened #4632 "survey shows when SKAFFOLD_INTERACTIVE is false"
Based on chat with @medyagh - this may not already be the case.

I didn't see any mention of interactive checks within `ShouldDisplayPrompt()`

[2020-08-05 02:44] #4620 closed

[2020-08-05 13:12] thatguyjono94 opened #4633 "skaffold dev does not show live tail logs after running for a while"
### Expected behavior
running `skaffold dev` should live tail logs after running for a while
### Actual behavior
After multiple image rebuilds and changes to source code, I don't get live logs when the server receives HTTP requests.
### Information

- Skaffold version: 0b8bd59
- Operating system: macOS Catalina - version 10.15.5
- Contents of skaffold.yaml:

[code]

Here's the k8 deployment for th

[2020-08-05 16:44] gsquared94 commented on #4218
@iMerica unfortunately this is not a straight-forward fix and I doubt any of the maintainers have a fork that does this.

[2020-08-05 16:59] gsquared94 commented on #4616
Your expected behavior definitely sounds reasonable. I'll discuss in our weekly triage what, if anything, necessitated the existence of a build context always.

[2020-08-05 17:48] nkubala commented on #1315
@toby-1-kenobi should be fixed now

[2020-08-05 17:52] nkubala commented on #4288
@RetWolf probably depends on the number of messages you want to add here, but things like timings and failures seem important enough to warrant their own fields. as long as they're plumbed through correctly it shouldn't much matter which field they go in though

[2020-08-05 17:53] nkubala commented on #4482
seems reasonable to me. don't think we can prioritize this right now but contributions very much welcome

[2020-08-05 17:56] woodcockjosh commented on #4482
I will work on a PR in next couple of weeks

[2020-08-05 17:58] nkubala commented on #4565
ooh yeah I guess we shouldn't assume that the user has ADCs set up already 😬

[2020-08-05 17:59] philips commented on #4565
What is ADC?

[2020-08-05 18:01] nkubala commented on #4613
hmm, skaffold should still be catching the various ctrl+c signals and interrupting. are you by chance running on windows? we just shipped a fix to an issue with os.Interrupt on windows that might help here.

[2020-08-05 18:48] lucasmaj commented on #4616
Also would like to point out that this behavior was introduced in 1.13.0. Our workaround right now is to use v1.12.1.

[2020-08-05 18:51] drewp commented on #4613
linux and zsh. Might it be zsh? See my internal bug 156014480 where I had a related problem with gcloud.

[2020-08-05 19:05] nkubala commented on #4565
application default credentials. it's how the service account will resolve auth: https://cloud.google.com/docs/authentication/production

`gcloud auth application-default login` will set this up for you, or you can use `gcloud auth application-default print-access-token`.

[2020-08-05 19:08] philips commented on #4565
Got it. Yes, I am using this GCE machine just as a development machine only
so I don't ever want to use the machine credentials.

On Wed, Aug 5, 2020, 12:05 PM Nick Kubala <notifications@github.com> wrote:

[2020-08-06 15:34] thatguyjono94 commented on #4633
Is there a specific amount of time until log tailing stops working? Like a timeout that gets set? It seems like it's 10 hours or so from me until my pods don't redirect stdout to terminal.

[2020-08-07 02:52] blaggacao commented on #1441
Ahm... https://github.com/kubernetes/kubernetes/pull/70875#issuecomment-453369450 ?

If skaffold should ever be getting used on such popular repo, how could people be alerted that it's _actually_ a [task runner](https://github.com/casey/just) - for if to avoid `make` is of concern?

[2020-08-07 03:02] blaggacao opened #4637 "support jsonnet"
1. Maybe there is not enough user base.

2. But maybe it [rocks enough](https://jsonnet.org/articles/design.html) and that suffices.

3. Maybe skaffold even aims to be educational to [solve point 1](https://github.com/GoogleContainerTools/skaffold/stargazers). :wink:

Disclaimer: I'm a nix expression language user and [can assert comparisions](https://jsonnet.org/articles/comparisons.html).

Pleas

[2020-08-07 06:14] gsquared94 commented on #3702
Agree with the sentiment that skaffold's treatment of helm gets inconsistent in a few places and we definitely rely on the more experienced community members to help us identify and fix them.
I tried to investigate the code for this specific issue of helm release names not supporting image name templates like `IMAGE_NAME`, `IMAGE_REPO`, etc. It seems to have been deliberate so as not to break `ska

[2020-08-07 06:19] gsquared94 opened #4638 "Improve helm documentation around variable templating"
Related to #3702
Skaffold has a few different sections for the helm deployer and not all of them support all variables in templating. We need to be explicit in our documentation of this behavior. Some places the docs are outright incorrect.

[2020-08-07 07:01] gsquared94 commented on #4633
Thanks for reporting this. I did a quick scan of our code and didn't see anything that would look like us setting any timeouts or deadline on contexts for log tailing. Can you rerun `skaffold dev -v DEBUG --tail` and see if there's anything obvious in the logs? Otherwise if you can, share them with us. Otherwise share a small project that can repro this behavior.

[2020-08-07 07:04] gsquared94 commented on #4633
The pod watcher timeout is set to 100 yrs `(watcher.go)`
[code]

[2020-08-07 13:44] thatguyjono94 commented on #4633
Thanks @gsquared94 I will run it with that command. I realised that when skaffold rebuilds the image, log tailing starts working again. It just seems that when it's the same running pod (for over 10 hours) the log streaming does not show. It's hard to determine if the issue is my OS, Minikube or skaffold but I thought I'd start here.

[2020-08-08 19:45] betterclever commented on #3855
@nkubala I am creating a PR for this.

[2020-08-08 22:01] thatguyjono94 commented on #4633
Running in debug mode shows me that the underlying command is `kubectl --context minikube logs --since=3s -f api-66fdc779d4-b992n -c api --namespace kludge` when it sets up the log streaming.

When I ran this command individually it ran for 10 hrs before disconnecting (no message was given after dc). I still don't know what causes the underlying issue. Based on my research it could be the followin

[2020-08-09 13:46] TrurlMcByte opened #4640 "Is possible to just store build tag istread of real deploy?"
Can't find how to store image tag after build (or "image:tag") to ConfigMap on k8s (or something like this).
It's useful when developers working with some parts of project, which can be tested autonomic, but after it must be merged with large project (in one image). Currently it's build all subparts together in one image. It's take long time and not required, because most subparts changed rarely.

[2020-08-09 18:16] blaggacao opened #4641 "k.kubectl.WaitForDeletions does bail on new CRDs"
Unless switched off ...
[code]
... `WaitForDeletions` does perform `kubectl get` on the `manifests.Reader()`ed output.

**Given** the case, that `manifests.Reader()`ed output contains `CRD`s unbeknownst to the cluster, the call to `kubectl get` just bails without further due:

[code]

**However,** in the context of developing the k8s manifest of an application which include CRDs, one doe snot want

[2020-08-09 18:23] philips commented on #4641
This is a repo to reproduce: https://github.com/philips/crd-skaffold-issue

[2020-08-09 18:44] blaggacao commented on #4637
As an aside to `triage/discuss`: since jsonnet has a [fully spec compliant native go implementation](https://github.com/google/go-jsonnet), lifet-time maintenance costs might be extremely low, compared to the other supported moving targets, like kustomize or helm.

[2020-08-09 18:50] blaggacao commented on #4641
**work-around: `skaffold dev/run --wait-for-deletions=false`**

[2020-08-09 19:09] dgageot commented on #4641
I can't even use the work-around. If CRDs are unknown to the cluster, nothing works.

[2020-08-09 19:11] blaggacao commented on #4641
You're right, me neither.

[2020-08-10 01:17] blaggacao commented on #1441
Since I'm arguing against arbitrary task runs to be _included_ in skaffold for security dynamics ...

I'd suggest using [`just`](https://github.com/casey/just) as a task runner. It pretends to be one, and nobody would be tricked into thinking it does anything different but execute arbitrary commands.

Moreover, I very clearly hear the motivation to nudge developers into using the correct cli API o

[2020-08-10 01:27] blaggacao commented on #3756
@balopat I think the gitops case which values _hermetic evaluation_ and _no side effects_ (at the minimum for production) is under represented in this design document.

[2020-08-10 03:16] blaggacao commented on #3756
I have a very similar use case:

- Provide cert-manager in the `dev` profile which for an application is a run-time dependency
- I don't want to put the cert-manager under life-cycle management of skaffold for my `dev` profile, since it takes a while to set up, reportedly up to a minute.
- I rather want to have skaffold pre-deploy the cert manager (if it exists, just reconciling it)

This would be

[2020-08-10 03:29] thatguyjono94 commented on #4633
@gsquared94 I've posted an issue to kubernetes here https://github.com/kubernetes/kubernetes/issues/93819

Log streams get closed off eventually, should skaffold have a way of reconnecting dropped connections?

[2020-08-10 04:04] blaggacao opened #4642 "CI, locally"
- I like the idea of running container structure tests locally.

- In the same spirit, I also like the idea of running [integration tests locally](https://github.com/rancher/k3d/blob/8dd1ec61db6359f89346e5f033549658d0a8c74c/Makefile#L163-L165) \*

- Is there a place in the roadmap to clarify where skaffold's testing toolset might be heading?

\* You know, [home office](https://www.sallyscottages.c

[2020-08-10 11:38] hermanbanken commented on #4620
Same held for `skaffold render` btw, if users depend on that for GitOps via
[code]

that would fail because both the update check & survey output to stdout.

They should always output to stderr IMO! Just like any other bash command that produces machine readable output, the human readable output must be put to a different stream.

[2020-08-10 11:50] gsquared94 commented on #4578
The state API `/v1/state` also has all the port forward info:
[code]
Can this be used instead?

[2020-08-10 13:58] gsquared94 commented on #4578
Skaffold seems to be dispatching each event in its own goroutine which causes them to arrive out of order when time diff is small. We also are setting timestamp at the end instead of passing it along with the event request. Both of these combine to produce out of order events with incorrect timestamps.

[2020-08-10 14:29] MarcoSchaar commented on #4347
Hi @briandealwis
is there a chance for any next release to get a fix for this issue?

[2020-08-10 14:31] steinad commented on #4431
I ran into this when trying to upgrade a remote chart using skaffold. I updated the `version` field, and nothing happened, which is not what I was expecting. I had expected that I could just change the skaffold configuration, and have that change reflected.

[2020-08-10 19:45] MarlonGamez commented on #4613
@drewp Have you been able to determine if it's a zsh issue? It seems possible, especially if it's happening in other tools beyond skaffold as well

[2020-08-10 19:58] MarlonGamez commented on #4640
Hi @TrurlMcByte, When running `skaffold build`, you can use the `--file-output` flag to specify a file to write the image names and tags of the built images. You can also use go templates with `--output` to specify the format of the output.

Please let me know if that helps :) I'm not sure if I'm misunderstanding your question

[2020-08-10 21:23] tejal29 commented on #4641
@philips The last time had this issue, we advised the user to number the CRDs "01-crd.yaml", "02-resource.yaml". Kubectl respects the ordering.

Can you try that?

Thanks
Tejal

[2020-08-10 21:51] tejal29 opened #4645 "Skaffold- Could not connect to kubernetes cluster should report a distinct exit code."
Skaffold dev, deploy, should return an distinct error code when kubernetes cluster could not be reached.

"Unable to connect to Kubernetes cluster. Get "x.x.x.x"

Skaffold dev should not try to clean up when we exit due to the above error code.

[2020-08-10 23:12] nkubala commented on #1441
thanks for bringing this up @blaggacao. in some ways this is a necessary evil of providing an "escape hatch" for users to break out of the predefined pipeline stages in skaffold, since we can't really know what they're trying to do beforehand. unfortunately I don't think it's feasible for us to "invert" the control flow in skaffold to have another task runner ala direnv actually execute the pipeli

[2020-08-10 23:13] nkubala commented on #4637
@blaggacao thanks for opening this. I'm curious, what does your workflow using jsonnet look like? I'm wondering how you would see this integrated into the phases of the skaffold pipeline. are you using it to do deploys?

[2020-08-10 23:15] nkubala commented on #4633
we'd want to be careful that we can distinguish between a preliminary failure when first attaching the logger vs. a timeout later on, but I think it would be relatively straightforward to have an "error watcher" that lives inside the pod watcher, and kicks off a retry loop whenever it sees recurring failures from kubectl.

probably not something our team will prioritize in the near term, but contr

[2020-08-11 01:23] blaggacao commented on #4637
@nkubala I'm not currently using it, but - based on my very nice over-all experience with nix - I seriously considered during the last few days when I was hitting some limitations with `kustomize`. If I would give it a try, I'd try to mimic kustomize [multibase repo layout](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/multibases) and do overrides with jsonnet instead of kustom

[2020-08-11 01:36] blaggacao commented on #1441
Excellent! - It might make perfectly sense to call out to `just` from `skaffold` hooks and vice-versa, then. Mix and match! Great!

Might you (or is there) include(d) a way to signal to `skaffold dev` a dependency invalidation to trigger a rebuild - just in case I'd go down the route and leverage the arbitrarity-powers of `direnv` as a watcher? (eg. to - hypothetically - do jsonnet pre-rendering?)

[2020-08-11 01:48] blaggacao commented on #4637
Actually jsonnet language design - overall - might be a source for inspiration for the ongoing module design effort...
It's just hitting the nail! - Very powerful, _but_ looks unfamiliar: big downside. (I'm thinking of composing and manipulating skaffold.yaml with a kind of [skaffold.libsonnet](https://github.com/anguslees/kustomize-libsonnet/blob/master/kustomize.libsonnet) + good docs on how to

[2020-08-11 02:45] blaggacao opened #4647 "Watcher is sensitive during git transaction"
- My git workflow is based on https://www.git-town.com/
- When I do `git town sync`  a couple fo stashes unstashes are done (similar to what `pre-commit` does on unclean repos)
- ... you guessed it! `skaffold dev` is sensitive to such merely chore filesystem changes.

I propose to pause skaffold whatcher duing a git transaction.

See discussion on `direnv` for similar issue https://github.com/dire

[2020-08-11 03:31] blaggacao commented on #4570
I experienced this on a `StatefulSet`.

[2020-08-11 05:46] gravypod commented on #3309
@michaelbayday I was wondering what functions you would be targeting for this UI? If you're looking for inspiration I think https://tilt.dev/ may be a great source.

[2020-08-11 06:03] michaelbayday commented on #3309
We ended up running into issues with the rest API and decided to not build a tool. If anyone decides to get started, I'm happy to contribute.

[2020-08-11 08:37] gsquared94 commented on #4641
Another repo to reproduce: https://github.com/gsquared94/crd-skaffold-issue
I tried @tejal29's idea (which was reported working at https://github.com/kubernetes/kubernetes/issues/16448#issuecomment-454218437) but that failed with the same errors

[code]

I also tried listing out the files directly in the `skaffold.yaml`:
[code]
and even though that provided the files in order to `kubectl`:
`kubect

[2020-08-11 09:21] dgageot commented on #4641
Couple possible solutions:
+ allow multiple kubectl deployers to run in sequence. Hard to implement
right now.
+ change the kubectl deployer so that it takes a list of lists of
manifests. It would deploy/delete in multiple steps. Quite easy
+ teach the kubectl deployer to group manifests based on crd definition vs
crd usage. Lots of possible side effects

On Tue 11 Aug 2020 at 10:38 Gaurav <notifi

[2020-08-11 12:24] blaggacao commented on #4641
Please not there are actually two failures.

- waitForDeletions  --ignore-not-found doesn't ignore missing definitions
- "not found" on kubectl apply

[2020-08-11 12:42] bukowa opened #4648 "//./pipe/docker_engine: no such host"
### Expected behavior
Works
### Actual behavior
Does not.
### Information
Manually pushing built image works. This is private registry.

- Skaffold version: v1.13.1
- Operating system: Win10
- Contents of skaffold.yaml:
[code]
OR
[code]
### Steps to reproduce the behavior

1. `skaffold dev`
[code]

[2020-08-11 14:29] gsquared94 commented on #4648
If you're only trying to deploy a pre-built image then run `skaffold deploy --images registry.gitlab.com/X/Y` with the following `skaffold.yaml`:
[code]

If you also want to run `skaffold dev` then run `skaffold dev --default-repo=registry.gitlab.com/X` with the following `skaffold.yaml`:
[code]

[2020-08-11 19:43] briandealwis opened #4651 "Skaffold should default to auto-sync for supported builders"
I was trying to track down reports of people hitting 20-40s build times when iterating on changes using NodeJS buildpacks-based projects.  It turns out that we default to not enabling our fast dev-mode sync for buildpacks unless auto-sync is explicitly enabled:

[code]

I posit that virtually all developers using `skaffold dev` would want automatic syncing for builders that support it (Jib, Buildp

[2020-08-11 19:52] briandealwis commented on #4651
Auto-sync is enabled for Jib and Buildpacks when there is a `sync` block and no manual sync rules:
https://github.com/GoogleContainerTools/skaffold/blob/31c2b9b5582ab0c21dddcc7ea689c287084d2f67/pkg/skaffold/schema/defaults/defaults.go#L228-L239

[2020-08-11 21:06] briandealwis commented on #3309
@michaelbayday would you be able to open an issue around the REST API?

[2020-08-11 21:12] briandealwis commented on #4570
@blaggacao I believe this was fixed by #4472  in Skaffold 1.13.0.  Could you please test and verify if this issue is still present?

[2020-08-11 22:09] MarlonGamez commented on #4624
Hi @dwctua, when you get the chance, would you be able to share the error message you're seeing when trying to build and push without allowing skaffold access to the image registry? Thanks :)

[2020-08-11 23:34] dwctua commented on #4624
see error below after run skaffold dev
[code]

[2020-08-11 23:37] dwctua commented on #4624
I updated the skaffold.yaml. the build.sh can be an empty file. the ideal is let build.sh handle image build and push, but use skaffold as file watcher to trigger the build and re-deployment.

[2020-08-12 00:23] gravypod commented on #3309
If there's more active development in this is there a slack or discord
where everyone could get together to follow up on projects and ideas?

On Tue, Aug 11, 2020, 5:06 PM Brian de Alwis <notifications@github.com>
wrote:

[2020-08-12 14:53] briandealwis opened #4652 "Python debugging should detect and support debugging with WSGi containers"
Found when investigating https://github.com/GoogleCloudPlatform/cloud-code-samples/issues/385 where the Flask development server does not respond to SIGINT as sent by Kubernetes to gracefully shut down a container.  Gunicorn does properly handle SIGINT.  But `debug` does not handle launching Python WSGi servers to enable debugging, and it's not clear how it should be done.

Although gunicorn seems

[2020-08-12 14:55] briandealwis commented on #4652
It may be that if we provide a python wrapper script, similar to what [we do for NodeJS](https://github.com/GoogleContainerTools/container-debug-support/blob/duct-tape/nodejs/wrapper.go), and which seems to be the most robust solution to handle Python with modules (#4088), then we may be able to support WSGi containers for free.

[2020-08-12 15:39] briandealwis commented on #4616
This was introduced by #4492.

[2020-08-12 16:12] briandealwis commented on #4477
@j-windsor so this is a funny situation!  Your code is executing:

    const args = ['build', '--filename', skaffoldConfigPath, `--kube-context=''`];
    const buildProcess = await this.options.skaffoldClient.executeAsChildProcess(args, ...

This appears to using an `exec` of some form, rather than running this via a shell, and so the `''` is literally being passed through (since exec doesn't do s

[2020-08-12 17:41] briandealwis commented on #3309
We have the [#skaffold channel](https://kubernetes.slack.com/messages/CABQMSZA6/) on the Kubernetes Slack.

[2020-08-12 18:06] etanshaul opened #4653 "Running skaffold in debug mode shows `watching for changes`"
Watch mode is disabled for debugging. So this is an incorrect message.
[code]

[2020-08-12 18:06] etanshaul commented on #4653
@russwolf fyi. you were right about this.

[2020-08-12 18:19] briandealwis commented on #4648
This error seems to indicate an error in your Docker for Windows setup and is not caused by Skaffold (https://github.com/docker/for-win/issues/1825).  There are a number of possible solutions and workarounds listed in that bug, but trying _Settings > Reset > Reset to factory defaults..._ might be a good first step.

[2020-08-12 18:22] j-windsor commented on #4477
@briandealwis I think that fix could work! I understand the desire to keep skaffold `run == build && deploy`,and we are probably messing up that flow by trying to use skaffold as a builder for something other than k8s. We just simply need a way to build and push to gcr regardless of the current state of minikube.

[2020-08-12 19:01] nkubala commented on #4477
thanks for digging into this one @briandealwis, I think this is exposing several different issues actually:
* we should validate the kube context before we start the skaffold pipeline - i thought this was the case already, but seemingly there's a disconnect somewhere
* we should have a fallback in skaffold for when we do a `minikube docker-env` and things don't work correctly
* arguably, instead o

[2020-08-12 20:53] nkubala opened #4654 "Load images into minikube rather than replacing host's docker env"
currently in skaffold, if we detect a user has `minikube` as their active kubecontext, we run a `minikube docker-env` so that `docker` commands on the host machine build to minikube's docker daemon. this can cause issues if we're only trying to run a `skaffold build` while minikube is stopped - something that should be possible, but skaffold can't get around because it only knows to try and use mi

[2020-08-12 20:58] MarlonGamez commented on #3582
Closing this since it was resolved with #3586 :)

[2020-08-12 20:58] #3582 closed

[2020-08-13 01:30] briandealwis commented on #4651
This is important since `gcloud code dev` synthesizes a `skaffold.yaml` and does not currently have a `sync:{}` block.

[2020-08-13 02:40] briandealwis commented on #4651
Jib's auto-sync requires a bit of additional support in the image, such as using Spring Boot's DevTools or a server that supports reloading changed class files.  Since we can't guarantee that, we'll only enable it for Buildpacks.

[2020-08-13 04:50] #4651 closed

[2020-08-13 17:43] MarlonGamez commented on #4624
It looks like the error is coming from a caching related step of skaffold where we add a tag to the remote image. If you try to run skaffold with `--cache-artifacts=false`, does your issue still occur? I agree that skaffold shouldn't have to have access to the registry

[2020-08-13 17:46] MarlonGamez commented on #4647
Hi @blaggacao, thanks for opening this issue. This is something we noticed pretty recently as well, and we'd like to figure this out soon

[2020-08-13 17:56] MarlonGamez commented on #4642
Hi @blaggacao, thanks for opening up this issue. Having the ability to run integration tests locally through skaffold isn't currently a goal for our upcoming milestones, but it is definitely a story that we want to explore and expand upon in the upcoming quarters

[2020-08-13 19:00] nkubala commented on #1318
this should now be possible with the new custom template tagging strategy.

[2020-08-13 19:00] #1318 closed

[2020-08-13 20:41] nkubala commented on #4607
https://helm.sh/blog/helm-v2-deprecation-timeline/

[2020-08-13 20:57] dwctua commented on #4624
I'm still getting the same error by running command: skaffold run --cache-artifacts=false

[2020-08-13 22:06] tejal29 opened #4658 "check diag pod status message when err is nil."
From friction logs
[code]
My suspicion is
- error is nil in this case, however it still had a failure code or
- IDES are detecting success code as an error code.

[2020-08-14 02:14] AnimalInstinct opened #4661 "Skaffold won't run deployment, error: exiting dev mode because first deploy failed: 1/1 deployment(s) failed"
When i starting this deployment via
[code]
Everything works fine and i got allservices run smooth

But when i trying to run it via Skaffold it doesn't works:

[code]

### Information

- Skaffold version: v1.13.1
- Operating system: Ubuntu 20 Focal Fossa
- Docker version 19.03.11, build dd360c7
- Contents of skaffold.yaml:

[code]

auth-depl.yaml

[code]

### Steps to reproduce the behavior

1. a c

[2020-08-14 02:48] gsquared94 commented on #4653
Skaffold has a file watcher that aggregates file changes; build, sync and deploy either auto fire or fire on trigger from the API and take appropriate action on the accumulated file changes. In case of debug even though the auto build and auto deploy triggers are turned off, the file watcher continues monitoring the file system. That file watcher prints this `Watching for changes` message. But to

[2020-08-14 04:23] briandealwis opened #4662 ""DevInit Iteration N" log messages are confusing"
Skaffold's devLoopEvents have a message like

    DevInit Iteration 5 in progress
    DevInit Iteration 2 successful
    DevInit Iteration 0 failed with error code BUILD_UNKNOWN

These messages are reported by some IDEs and the _DevInit Iteration X_ is causing confusion.

I instead propose that these messages be changed to

    Update initiated due to file change
    Update successful
    Update f

[2020-08-14 04:31] zero-below opened #4663 "skaffold does not reload when a kustomize `component` is modified"
skaffold only monitors kustomize `resources` and `bases` for changes, not `components`.

[code]

- Skaffold version: v1.13.1
- Operating system: OSX Darwin Kernel Version 19.6.0

I believe this may be a small change at https://github.com/GoogleContainerTools/skaffold/blob/6994b45a9a02daf03deb739413071adc5bdbcb47/pkg/skaffold/deploy/kustomize.go#L259 -- but I haven't had a chance to dig further yet

[2020-08-14 06:51] MarcoSchaar opened #4665 "question to combined helm / kubectl deployment"
Hi
while switching from helm2 to helm3 I've noticed a change in deployment behavior

### Expected behavior (seen with helm2)
apply kubectl part first
deploy helm chart as 2nd

### Actual behavior
start with helm deployment
followed by kubectl part

### Information

- Skaffold version: 1.13.1
- Operating system: any
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. deplo

[2020-08-14 07:18] MarcoSchaar commented on #4665
could be related to https://github.com/GoogleContainerTools/skaffold/issues/4482
but found this work around
[code]

[2020-08-14 07:43] MarcoSchaar commented on #4482
found work around in this case (with helm3)
[code]

[2020-08-14 12:30] nitkon commented on #4354
@tejal29 @nkubala : Any update here? Thanks.

[2020-08-14 14:02] StarpTech opened #4667 "Skaffold deployment do not store CHANGE-CAUSE to rollout"
### Expected behavior

Skaffold should save the kubectl command that is making changes to the resource. This is done by the `--record` flag. More information: [checking-rollout-history-of-a-deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#checking-rollout-history-of-a-deployment)

### Actual behavior

[code]

[code]

### Information

- Skaffold version: 1.13.0
- Op

[2020-08-14 17:02] matthewmichihara commented on #4578
Thanks @gsquared94. With #4644, it looks like I can either:
- Use the `devLoopEvent` as an "end" event to batch port-fowarding events from the Events streaming API.
- Query the `state` API for all port-forwarding information on receiving a `devLoopEvent`.

[2020-08-14 17:37] tejal29 commented on #4516
As part of this work, Identify

- what statuses are important and worth notifying about
- If we do identify nothing interesting happened, what is reasonable amount of time to wait until we show some output
- do events also need to apply the same rule?

Previously, when designing status checks, we decided to show all new status updates every half secons.

after adding pod status health checks, the

[2020-08-14 17:55] tstromberg opened #4668 "Add final pod status to STATUSCHECK_POD_INITIALIZING output"
As noted by @russwolf:

[code]

This error message does not provide enough detail for post-mortem analysis. At a minimum, it needs to show the resulting pod states. Here is my naive suggestion. Instead of:

[code]

Show something like the output of `kubectl get` and `kubectl descr`

[code]

FWIW, I'd rather get something in ASAP and worry about the exact UX later. This information is critical for

[2020-08-14 17:55] tstromberg commented on #4668
/cc @tejal29 @nkubala

[2020-08-14 18:01] tstromberg opened #4669 "Increase default deployment timeout from 2m0s"
This  timeout is too short for many cases, especially if remote images need to be pulled in.

Seen here:

[code]

Based on my experience, 8-10 minutes is more suitable default. My apologies if this is something set by Cloud Code.

[2020-08-14 18:07] tstromberg opened #4670 "Periodically provide deployment state-change feedback"
Related to #4668 #4669

If we are going to increase the default timeout for Skaffold deployments, we need to keep the user apprised of state changes. To balance spam/verbosity, my recommendation is to update the user for related object state changes, but only if it's been 10 seconds since the previous state change for that object.

At the moment, this is all the user sees:

[code]

This is what I

[2020-08-14 18:16] tstromberg opened #4671 "DevInit Iteration 0 failed with error code OK (when connection is refused)"
Related to #4662

[code]

This should say something like:

[code]

[2020-08-14 18:16] tstromberg commented on #4671
/cc @tejal29 @nkubala

[2020-08-14 18:16] tejal29 opened #4672 "status check - error code Ok when kubernetes cluster's can't be connected."
Coming from friction log

When skaffold can't connect to cluster, the error code returned is "STATUSCHECK_SUCCESS".

My gut feeling is, when cluster can't be collected, no pods are retrieved.
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/status_check.go#L185

hence status code ok is passed https://github.com/GoogleContainerTools/skaffold/blob/6994b45a9a02daf03deb

[2020-08-14 18:17] tstromberg commented on #4671
Related: #4672

[2020-08-14 18:24] nkubala commented on #4669
no, I think this is our default. my only concern is that we don't have much feedback while the status checker is waiting, so to the user it just seems like it's hanging - this was my experience trying some things out yesterday even with the default set at 2. we should provide periodic updates if nothing else so the user knows that at least something is happening

[2020-08-14 18:24] nkubala commented on #4669
haha, just saw https://github.com/GoogleContainerTools/skaffold/issues/4670 :)

[2020-08-14 18:58] briandealwis commented on #4671
More of a dupe with #4662

[2020-08-14 19:11] MarlonGamez commented on #4624
Ah okay, thanks for trying it out. I'll bring this issue up in our team discussion soon 👍🏽

[2020-08-14 19:32] kschaab opened #4673 "Skaffold ignores SKAFFOLD_UDPATE_CHECK and SKAFFOLD_INTERACTIVE on error"
If you pass in SKAFFOLD_UPDATE_CHECK: 'false', SKAFFOLD_INTERACTIVE: 'false' and run skaffold dev it will output version upgrade details on failure.

### Expected behavior
SKAFFOLD_UPDATE_CHECK and SKAFFOLD_INTERACTIVE flags always suppress the skaffold update check.

### Actual behavior
SKAFFOLD_UPDATE_CHECK and SKAFFOLD_INTERACTIVE flags are ignored on failure.

### Information

- Skaffold versi

[2020-08-14 20:06] tejal29 commented on #4662
@briandealwis i think VSC plugin constructs this message from events api.  Created an issue here https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/2971

[2020-08-14 20:06] tejal29 commented on #4662
Keeping this open for book keeping.

[2020-08-14 20:23] vdsharma opened #4674 "Skaffold docker image gcr.io/k8s-skaffold/skaffold is using Java 8."
Skaffold docker image gcr.io/k8s-skaffold/skaffold:v1.13.1 is installing OpenJDK 8. It would be nice to upgrade it to a more recent versions of java. Is there any dependency on using only jdk 8 only?

[2020-08-14 20:46] nkubala commented on #4673
can you paste the exact error you're seeing? I'm unable to reproduce this locally. we do have a warning that your skaffold version might be too old if there's a parse error since some changes may not be backwards compatible, so maybe this is what you're seeing? we could probably remove this.

[code]

[2020-08-14 20:49] MarlonGamez commented on #4665
Hi @MarcoSchaar, I believe the order that skaffold executes deployers in is Helm -> Kubectl -> Kustomize. That's the order they are checked for in this function

https://github.com/GoogleContainerTools/skaffold/blob/6994b45a9a02daf03deb739413071adc5bdbcb47/pkg/skaffold/runner/new.go#L191-L214

and in this function, the array is just iterated over, calling each deployer's deploy function

https://g

[2020-08-14 21:00] MarlonGamez commented on #4667
Hi @StarpTech, thanks for opening this issue! This seems like a simple enough change to how we're calling kubectl commands. PRs welcome!

[2020-08-14 21:09] briandealwis commented on #4674
I believe the JDK is there to support building with Jib.  Is there some reason why you need a newer version available?

[2020-08-14 21:20] #4663 closed

[2020-08-14 21:39] nkubala commented on #4673
yeah i just tried again and this seems to be working as intended. @kschaab can you check to see how you're passing these values to skaffold?

[2020-08-14 21:46] MarlonGamez commented on #4661
Hi @AnimalInstinct, thanks for opening up this issue. When cloning the repo and running skaffold dev on my own machine, it seems to work.

Here's my machine info:
Skaffold v1.13.1
OS: MacOS 10.15.6
Docker v19.03.12
I'm also running with minikube as my context

I'm not completely sure what could be causing this issue on your machine. It seems to error after this message
`- pod/auth-depl-684dffdc59-

[2020-08-14 23:01] drewpca commented on #4576
https://github.com/kubernetes/minikube/issues/8857 for a proposal that lets us use a symlink name instead of a shell wrapper

[2020-08-15 01:46] briandealwis commented on #4661
@AnimalInstinct I don't have any experience with microk8s, but you might want to read through #3571 — some people noted that they had to run a separate `microk8s.kubectl config` step (https://github.com/GoogleContainerTools/skaffold/issues/3571#issuecomment-578566142).

[2020-08-15 04:41] AnimalInstinct commented on #4661
Thanks @briandealwis , i've got this issue with config before and found that thread you recommended and yes it is resolved another issue, but at the moment it is not crossed, in this case something wrong with container deploying and i can't find any reason why.

[2020-08-15 04:45] AnimalInstinct commented on #4661
Hi @MarlonGamez , yep i have clonning and running it on my Windows machine and it works smooth too, and yes it is definitely crossed with Microk8s and Ubuntu.

[2020-08-15 18:18] kschaab commented on #4673
That's the behavior I'm seeing, so I believe you can reproduce it.  Should an update warning show up when `SKAFFOLD_UPDATE_CHECK` is `false`?  Maybe I don't understand the function of `SKAFFOLD_UPDATE_CHECK`.  Our intent here is not to show this to users when they are having their dependencies managed for them as 1.13.1 is not available through the IDE extensions.  @russwolf .  It happens when ska

[2020-08-17 03:52] tejal29 commented on #4670
This is currently set to 0.5 second or 500 milliseconds.

[2020-08-17 06:27] #4665 closed

[2020-08-17 14:47] vdsharma commented on #4674
When using this image JIB builds can not be compiled for any java version above 8.

I like the fact that all tools are in a single image and it allows us to use this image in my local environment as well as CICD flow, rather than installing all the tooling on various environments and managing different versions of tools.

Upgrading Java will allow for compiling with higher versions of Java as well

[2020-08-17 14:53] briandealwis commented on #4667
I made some comments on @StarpTech's associated PR (#4675) that simply recording the `kubectl apply` command doesn't seem to be particularly useful: both `skaffold dev` and `skaffold deploy` end up running `kubectl apply -f - ...` and so there's [no real identifying information recorded](https://github.com/GoogleContainerTools/skaffold/pull/4675#issuecomment-674344318).

It would seem more useful

[2020-08-17 18:05] etanshaul opened #4680 "Connection refused message when deploying to stopped minikube cluster is confusing"
From friction log:
https://docs.google.com/document/d/1h2VKg3WZ9sHgNWXvmliq0UVJGUcdrbECSeYrjZYuVVw/edit

Minikube was in a stopped (or possibly paused) state. And Skaffold spit out:

[code]

Instead `connect: connection refused`, Skaffold could maybe provide a nicer message (since it should know if it is a local minikube cluster or not). Something very roughly like: `minikube cluster is not runnin

[2020-08-17 18:36] briandealwis opened #4681 "Proposal: trigger rebuilds on version control system changes"
Some users find that `skaffold dev` rebuilds too often: a file save is too fine a level of granularity.  Although we could introduce a debounce time, they also introduces lag as we can't differentiate between deep-thought and ready-to-go.

One thought was to instead use the version control system to provide a trigger: rebuild on commit.  For git, this could be as simple as monitoring `.git/HEAD`.

[2020-08-17 18:39] briandealwis commented on #4681
I realized that this can be prototyped with a combination of `skaffold dev --trigger=manual`, `curl` and the [Skaffold API's `/v1/execute`](https://skaffold.dev/docs/references/api/swagger/#/SkaffoldService/Execute), and something like [watchexec](https://github.com/watchexec/watchexec).

[2020-08-17 19:07] #4653 closed

[2020-08-17 19:45] briandealwis commented on #4681
I wonder if there's a way to simplify this so the user doesn't need to string these things together.  Even as simple as `skaffold dev --trigger=.git/HEAD`?

[2020-08-17 20:22] nkubala commented on #4671
closing this as a dupe of #4672

[2020-08-17 20:22] #4671 closed

[2020-08-17 21:08] tejal29 commented on #4668
This might be dupe of #4658
I will look into why events are are fetched when pods are initializing.

[2020-08-17 21:09] tejal29 commented on #4658
Maybe dupe of $4668

[2020-08-17 21:09] tejal29 commented on #4670
I would recommend switching it to 5 seconds instead of 10. What do you think?

[2020-08-17 21:49] ivanporty opened #4685 "Skaffold build hangs when Docker is running, but Docker Kubernetes failed"
Docker is in the following state in the system (Mac OS Catalina):
<img width="291" alt="Screen Shot 2020-08-17 at 5 16 07 PM" src="https://user-images.githubusercontent.com/11686100/90447554-8d23fa80-e0b1-11ea-9a90-ab17cbf4b6a1.png">

Running `skaffold build` on any simple project results in a hanging process (minutes) - I was not able to see any response from Skaffold. It also doesn't feel logica

[2020-08-17 21:51] ivanporty commented on #4685
Update: docker commands such as `docker images` hang too. Probably timeout is a good idea.

[2020-08-17 23:25] tyschroed opened #4687 "Skaffold not working in WSL 2 Ubuntu"
### Expected behavior
`skaffold dev` runs without error in WSL Ubuntu 18.04
### Actual behavior
Skaffold errors out with an invalid path error:

![image](https://user-images.githubusercontent.com/794198/90453655-0ddcf980-e0a6-11ea-9a83-be5dbd504dcf.png)

### Information

- Skaffold version: version 1.13.1
- Operating system: Ubuntu 18.04 running in WSL 2 on Windows 10

### Steps to reproduce the b

[2020-08-18 07:36] #4673 closed

[2020-08-18 08:35] gsquared94 commented on #4501
#4676 should fix this.

[2020-08-18 08:35] #4501 closed

[2020-08-18 09:07] gsquared94 commented on #4578
Great, I'm closing this issue for now. If you face any other challenges than feel free to reopen.

[2020-08-18 09:07] #4578 closed

[2020-08-18 11:06] #4672 closed

[2020-08-18 14:40] #4617 closed

[2020-08-18 15:29] #4662 closed

[2020-08-18 18:55] #4616 closed

[2020-08-18 19:16] MarlonGamez commented on #4670
It looks like this issue actually lies within the vscode cloud code plugin. Skaffold is providing messages to the plugin through it's event API such as:
[code]

And the plugin is only displaying the "entry" field and not the other messages within

[2020-08-18 19:17] go-nelango opened #4692 "Too many UNKNOWN/ERROR type failures for Skaffold events"
Large number of skaffold event errors are being reported as UKNOWN/ERROR. We need more descriptive error codes for Cloud Code metrics tracking and investigations.

Based on this dashboard https://dashboards.corp.google.com/edit/_dcb794d1_3a93_4405_8560_8230e2e5325d, we see:
![image](https://user-images.githubusercontent.com/68573204/90555858-da08df00-e14c-11ea-9d83-00b27dd0b851.png)

On vscode sid

[2020-08-18 19:25] go-nelango commented on #4692
@briandealwis @tejal29 @sivakku as FYI

[2020-08-18 20:35] tstromberg opened #4693 "Prune old images at beginning of dev loop"
I've seen an increasing number of friction logs where Skaffold users have filled up their local Docker for Desktop image storage.

I understand that we prune images on exit, but I suggest we also consider pruning at start-up. This may be either always, or if we detect that disk space is constrained (`docker system df`).

[2020-08-18 21:29] tejal29 commented on #4658
closing this as dupe #4668

[2020-08-18 21:29] #4658 closed

[2020-08-18 21:38] tejal29 commented on #3778
Maybe closed by https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/logfile.go#L40
https://github.com/GoogleContainerTools/skaffold/pull/4594/

[2020-08-18 22:31] tstromberg commented on #4693
NOTE: We should consider doing so as a background task as this may take a while to execute.

[2020-08-18 22:33] tstromberg opened #4695 "Warn if Docker daemon is out of space"
We've noticed across a couple of friction logs that strange things occur when the Docker daemon is out of space, particularly with minikube.

Before calling `docker build`, could we check `docker system df` to make sure there is adequate space, and warn the user if not? Alternatively, maybe we could consider this a trigger to prune images (#4693).

[2020-08-19 11:21] AnimalInstinct commented on #1896
I have same issue on Windows 10 ,  Skaffold v1.13.1
Trying to work with Nodejs

[code]

Looks like it is really buggy stuff i have experienced lots of issues with Skaffold, it soesnt works on Ubuntu and Microk8s at all, and it doesnt sync files in windows, a lot of issues was with Gcloud sync, looks like it is alpha or something like this

[2020-08-19 14:37] #4687 closed

[2020-08-19 16:57] blaggacao commented on #4570
Sorry, I think my bad, looks like it's working now, if not, I'm going a better scoped issue.

[2020-08-19 16:57] #4570 closed

[2020-08-19 17:18] kschaab opened #4700 "DevInit Iteration should be indexed starting at 1"
On running skaffold dev the event `DevInit Iteration 0 in progress` is reported to users.  It should start at 1.  From [friction log ](https://docs.google.com/document/d/1gX62_0G3OaVRwl8Do0WJs_co45ks0k9KYQuNpaNlJSU/edit?ts=5f3d59d6).
### Information

- Skaffold version: 1.13.0
- Operating system: MacOS 10.15.6
- Contents of skaffold.yaml: (N/A)

### Steps to reproduce the behavior

1. `skaffold de

[2020-08-19 18:00] briandealwis opened #4702 "`debug` should support debugging a Knative service"
I think it's a matter of rewriting the podSpec and configuring the [scale bounds](https://knative.dev/docs/serving/autoscaling/scale-bounds/) to min/max of 1.

[2020-08-19 18:25] briandealwis commented on #4700
We're dropping the iteration and changing the message: see #4662 / #4684.

[2020-08-19 18:25] #4700 closed

[2020-08-19 22:05] #4515 closed

[2020-08-21 04:12] lucasmaj commented on #4616
Confirming it is fixed in v1.13.2. Thank you!

[2020-08-22 07:30] gsquared94 opened #4709 "Deprecate flag `--minikube-profile` after #4701 is merged"
#4701 introduces many heuristics to detect a minikube cluster so we can do away with the `--minikube-profile` flag

[2020-08-22 11:27] tygriffin opened #4710 "Local image not used when adding release as a patch"
### Expected behavior
Pull local image

### Actual behavior
Attempts to pull remote image

### Information

- Skaffold version: v1.13.2
- Operating system: macOS Catalina 10.15.6
- Contents of skaffold.yaml:

[code]

I receive this warning:
[code]

Running `kubectl describe pod` reveals that the image is pointing to the remote repository, instead of overridden by the values config in the patch.
[c

[2020-08-22 11:40] #4710 closed, assigned to nobody

[2020-08-24 04:11] gsquared94 commented on #4457
I'll get started on this.

[2020-08-24 12:36] bdudelsack opened #4711 "Skaffold does not work with Helm v3.3"
Skaffold fails to parse the Helm binary version.

[code]

### Expected behavior

Skaffold should parse Helm version without a problem.

### Actual behavior

Skaffold fails to get Helm version because of missing patch version.

[code]

### Information

- Skaffold version: v1.13.2
- Operating system: Manjaro Linux

### Steps to reproduce the behavior

1. create a skaffold.yaml with Helm deployer
2.

[2020-08-24 15:14] briandealwis commented on #4667
The `kubernetes.io/change-cause` can be a literal string (`|`) and `kubectl rollout history` preserves and reports that output.

[2020-08-24 15:19] gsquared94 opened #4713 "Support defining build artifact dependency"
This is a tracking issue for supporting build artifact dependency as a precursor to supporting module dependencies as defined in https://tinyurl.com/skaffold-modules

[2020-08-24 15:46] briandealwis opened #4714 "Extract separate Helm binVer tests"
The Helm deployer tests implicitly perform version-parsing in `TestHelmDeploy()`.  This should be broken out into a separate test.

[2020-08-24 15:47] #4711 closed

[2020-08-24 17:43] tejal29 commented on #4692
Thanks @go-nelango for opening this issue.

[2020-08-24 20:32] nkubala commented on #2495
reopening this until we can verify our fixes are working as intended.

[2020-08-24 20:55] tejal29 commented on #4680
Thanks Ethan. We will look into this. I am raising the priority to p1 since this is commonly seen friction point.

[2020-08-24 20:57] jlewi commented on #3468
I just tried using the latest v2beta6 spec (https://skaffold.dev/docs/references/yaml/)
And [skaffold 1.13.2](https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.13.2)

It looks like we can set the K8s service account on the pod.

To disable GOOGLE_APPLICATION_CREDENTIALS; it looks like we could just add an if statement here
https://github.com/GoogleContainerTools/skaffold/blob/465295

[2020-08-24 20:59] MarlonGamez commented on #4286
@tejal29 , I believe that the way they're using remoteManifests is correct. From the source of the function that reads remote manifests:

@bs1, I believe that the behavior is that when deploying, this remote manifest will be applied as is. Skaffold won't make any modification to the manifest, and so in this case if the newly built image has a different image tag, the pod spec will be pointing to t

[2020-08-24 21:07] nkubala commented on #4347
@MarcoSchaar realistically i don't think we'll have a fix shipped with our 1.14.0 release, so we'll try and target 1.15.0.

i'm going to close this issue as a dupe of https://github.com/GoogleContainerTools/skaffold/issues/4477 since we moved the conversation there, but i promise we're not ignoring you!

[2020-08-24 21:07] tejal29 commented on #4624
@dwctua, skaffold needs to fetch the [remote digest](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/custom/build.go#L35) associated with the image to substitute all image names in the manifests.

One thing, we could do is, expose another environment variables where e.g. `IMAGE_REF` which custom builders can set for skaffold to fetch image remote id.

[2020-08-24 21:10] nkubala commented on #1441
your best bet here would be to try and use the control API, which allows you to interact with the dev loop and control individual build/sync/deploy actions manually. you can do this through REST or through a gRPC client: https://skaffold.dev/docs/design/api/

so you could have a little client that listens for `direnv` events, and then also has an outgoing client to your `skaffold dev` process that

[2020-08-24 21:27] briandealwis commented on #1405
@NotSoShaby @fredleger could you provide some more details on your reproduction cases?  It sounds like you might have a nice small test case?

[2020-08-24 21:30] dwctua commented on #4624
I like the environment variable, this will remove the dependency for docker registry. As side note, Skaffold is using both tag and digest, it is also causing issue in openshift.

[2020-08-24 21:36] briandealwis commented on #4058
@mistahj67 @bobby-richard-sed @bdraluca @ijaouani

Could you please try the most [recent release of Skaffold (1.13.2)](https://skaffold.dev/docs/install/) and try to reproduce?  If so please let us know exactly what your environment is:

  - if you're using a terminal within an IDE / Command window / PowerShell window
  - your command-line
  - how you're stopping Skaffold (Ctrl-C, red "stop" butto

[2020-08-24 21:40] tejal29 commented on #2536
v0.20.0 fixes this because, skaffold created the build step with output as `artifact.ImageName`
https://github.com/GoogleContainerTools/skaffold/blob/v0.20.0/pkg/skaffold/build/gcb/desc.go#L53

vs now, its tag computed for the artifact.
https://github.com/GoogleContainerTools/skaffold/blob/5a9227ce7dfd9709547d5d2c7ad9f896ee74bafc/pkg/skaffold/build/gcb/buildpacks.go#L62

The easy way would be add

[2020-08-24 21:45] briandealwis commented on #3269
I'm going to close this issue as the original question was answered and subsequent me-toos do not have sufficient detail to identify the problems being encountered.  If you're still encountering problems, please open new issues.

[2020-08-24 21:45] #3269 closed

[2020-08-24 21:48] nkubala commented on #3951
ah, ok I see. so if you had done a `docker build && docker push` on this configuration before adding that setting to your `daemon.json` file this would have failed, right?

skaffold doesn't communicate any settings to the docker daemon - nor does docker communicate any of its settings to skaffold, unfortunately. this is why we need the `insecure-registries` flag in the first place, so that the use

[2020-08-24 21:50] nkubala commented on #167
@smhmayboudi I believe your use case will be solved by the modules feature which we're actively working on - this should allow you to specify dependencies between artifacts, and have rebuilds and redeploys work as intended. check out the design doc linked in the above comment for details, and stay tuned for updates on that feature.

[2020-08-24 21:52] nkubala commented on #4555
cc @tejal29

[2020-08-24 22:26] MarlonGamez commented on #4354
hey @nitkon , while this isn't high on the skaffold team's priorities right now, this is something that I think is feasible. Skaffold supports multiple deployers through it's mux deployer, and I believe something similar could be done with our builders. Contributions welcome!

For reference:
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/deploy_mux.go

[2020-08-25 01:52] #4714 closed

[2020-08-25 13:26] avgojzack commented on #4058
I've been running into the same problems with clean-up on windows. Just tried 1.13.2 (chocolately install/upgrade didn't work, tried downloading a bad url) - I manually installed 1.13.2 and it ran great!

@briandealwis - thank you!!

[2020-08-25 13:45] avgojzack opened #4717 "Chocolately install/upgrade of Skaffold v1.13.2 fails"
The choco install/upgrade tries to download a file that does not exist. I happened to catch it on video, which you can see here:
https://www.youtube.com/watch?v=1NhVtWAhH2o

This is the file that it wants to download:
https://github.com/GoogleContainerTools/skaffold/releases/download/v1.13.2/skaffold-windows-amd64.exe

### Expected behavior
v1.13.2 should be installed up

### Actual behavior

###

[2020-08-25 13:47] avgojzack commented on #4717
Just ran it again and I can see it working now :shrug: I'll close

[2020-08-25 13:47] #4717 closed

[2020-08-25 13:51] briandealwis commented on #4058
@mistahj67 you mentioned:

If you can reproduce this, could you please open a new issue with output of what you're seeing?  I'd like to know more about these conflicts might be.

[2020-08-25 16:36] nkubala opened #4718 "Format port forward URL/port to make a visitable address"
currently the port forward logs provide something like:

[code]

when this is surfaced in a terminal/IDE, the user still needs to either copy+paste two separate items, or manually type the address+port into their browser. we can format these properly to make them a clickable link.

[2020-08-25 18:43] briandealwis commented on #4718
We could consider examining the service and containerPort definitions and apply some heuristics to see if it looks like an HTTP or HTTPS port and automatically synthesize a relevant URL:
  - service
    - if `service.spec.ports[].appProtocol` is `http` or `www` or `www-http` ([assigned protocol types](https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?sear

[2020-08-25 21:07] #2175 closed

[2020-08-26 06:56] RakhiModi commented on #2322
I am not using remote manifests, but still getting the same error.

[2020-08-26 12:17] amitm02 opened #4722 "How to enable caching when using cloud build option"
Is there a way to enable image layers cacheing when using the google cloud build option (https://skaffold.dev/docs/pipeline-stages/builders/docker/#dockerfile-remotely-with-google-cloud-build)?

[2020-08-26 13:45] mfrey777 commented on #4149
I  believe I am facing the same challenge than @pierreyves-lebrun.

I am developing an application with a Python/Flask backend and a Node/React frontend. I use "skaffold dev" to fire up the kubernetes and can then develop my app/replicate my code changes.

In an ideal world, I would like to be able to go to a new PC (with VS Code and Skaffold installed), pull my code from the github repo and conti

[2020-08-26 23:43] vincejo opened #4724 "Calls 'gcloud.auth.docker-helper' for local deploys"
### Expected behavior
When a Cloud Code VSCode K8s sample (with no `gcr.io` registry associations) is deployed to minikube with no `credHelpers` in Docker config defined, `gcloud.auth.docker-helper` isn't invoked.

### Actual behavior
It is invoked.

### Information

- Skaffold version: v1.13.1
- Operating system: macOS Catalina (Version 10.15.6)
- Contents of skaffold.yaml:

[code]

### Steps to

[2020-08-27 01:47] nkubala commented on #4717
weird, maybe it took some time to propagate 🤷

[2020-08-27 16:05] gsquared94 opened #4725 "Cannot define patches for properties that have been changed in newer versions"
From a user report on slack, consider the patch:
[code]
This is consistent for skaffold API version `skaffold/v1` but in newer versions `value` property of the helm deployer has been renamed to `artifactOverride`. This patch fails to get applied as it's not upgraded to the latest version properly unlike the regular `Pipeline` objects [do](https://github.com/GoogleContainerTools/skaffold/blob/maste

[2020-08-27 16:44] p3tecracknell opened #4726 "Render not displaying error message"
### Expected behavior
skaffold render
``
Error: UPGRADE FAILED: template: fail/templates/deployment.yaml:9:33: executing "fail/templates/deployment.yaml" at <include "fail.name" .>: error calling include: template: no template "fail.name" associated with template "gotpl"
deploying "fail": install: exit status 1
[code]
skaffold render
rendering manifests: exit status 1
[code]

### Steps to reproduc

[2020-08-27 18:24] gsquared94 opened #4727 "Parse error codes for `minikubeExec` commands"
Followup to discussion on https://github.com/GoogleContainerTools/skaffold/pull/4701
Most minikube commands provide specific error codes. We should parse then and report accordingly instead of just logging the `error` object

[2020-08-27 18:36] nkubala commented on #4681
haha i had a very similar idea to your second comment here in another comment somewhere. interesting idea to monitor the git refs though. one scenario i'm imagining though is

* you make some changes, and commit them
* skaffold triggers a build, and it fails
* you fix the changes, and now you commit them again...do you squash your last commit?

also, git is usually interacted with through the term

[2020-08-27 21:36] nkubala opened #4729 "`make integration-in-kind` leaves kind cluster running after creating it"
i prefer to run integration tests in kind because they're generally faster than running in plain docker, but the kind cluster gets left behind if i left skaffold create it, and eats up a ton of resources. we should teardown the cluster if we create it for integration tests.

[2020-08-27 21:43] nkubala opened #4730 "Local build shouldn't need to collect licenses"
i prefer to run `make install` when developing skaffold locally since it builds the binary with the necessary compiler flags and puts it on my path. however, this also generates the licenses files for every dependency, which takes 20-30 seconds. we should only be generating these licenses for our releases, not for local builds.

[2020-08-28 05:54] #3668 closed

[2020-08-28 11:44] gsquared94 opened #4733 "`TestDevPortForwardDeletePod` failing integration test against Minikube on Darwin"
<details><summary>Error log</summary>

[code]
</details>

Failed run: [here](https://github.com/GoogleContainerTools/skaffold/runs/1040946086)

[2020-08-28 14:08] briandealwis commented on #4733
`dev_test.go:253: timed out waiting for port forwarding event`

Looks like the build "hung" in some way as we should have seen a `deployEvent` too.  (The `gcloud.auth.docker-helper` errors are spurious: b/165805916.)

I restarted the job.  Let's see if it fails again.

[2020-08-28 18:11] tejal29 commented on #4722
yes @amitm02. you could use kaniko GCB build step.
Kaniko allows caching intermediate layers to speed up builds for dockerfile builds.
https://cloud.google.com/cloud-build/docs/speeding-up-builds

[2020-08-28 18:12] tejal29 commented on #4722
Here is an example on how to configure skaffold to use GCB kaniko https://github.com/GoogleContainerTools/skaffold/tree/master/examples/gcb-kaniko

[2020-08-28 18:33] tejal29 commented on #4726
Hey @p3tecracknell, sorry for the confusing behaviour. skaffold render definitely needs to be patched and how better behavior.

[2020-08-28 18:34] tejal29 commented on #3295
@michaelbeaumont i am going to close this as dupe of #4058. Can we move the discussion there?

[2020-08-28 18:34] #3295 closed

[2020-08-28 18:36] tejal29 commented on #4729
Is this from a user request or you are referring to skaffold integration tests.
I am wondering because  you recently did a user study.

[2020-08-28 18:40] michaelbeaumont commented on #3295
@michielswaanen I think you're meant here.

[2020-08-28 18:51] michielswaanen commented on #3295
Sure!

Thanks ;)

[2020-08-28 18:53] tejal29 commented on #4725
@gsquared94 if you are not planning to work on this soon, shd we decrease the priority.
This issue is out of SLO

[2020-08-28 19:13] #4668 closed

[2020-08-28 19:45] tejal29 commented on #2495
I verified this issue here on latest skaffold.
We had a bug were empty namespaces were added to `opts.Namespaces`
with this fix, https://github.com/GoogleContainerTools/skaffold/pull/4608 this does not happen anymore.

1. Create a user which can only deploy in "test" namespace.
``
kubectl config use-context employee-context
Switched to context "employee-context".

kubectl auth can-i list deploymen

[2020-08-28 19:45] #2495 closed

[2020-08-28 19:58] tejal29 commented on #4681
Not a fan of git commit message based trigger. Control API was built with this use in mind.  We should give this feature some love and publicity. A blog, tweet anything?

[2020-08-28 20:12] briandealwis commented on #4681
This came up when I was working on a different project where the build failed if there were dirty files in the tree.  It was really annoying to have the build fail because it was invoked too soon.  I should have just used `--trigger=manual`.

I'll close this — we can always re-open if someone else chimes in.

[2020-08-28 23:28] blaggacao opened #4737 "skaffold illegally "retags" images - help track down"
- I deleate all images from locak docker store
- Then I build with skaffold dev, I get this result in docker store:
[code]
[code]
- Then I stop skaffold and a run `skaffold dev` again, I get this result in docker store:
[code]
[code]

That means skaffold retags an image to _the other_. Consequently _the other_ images gets pulled into the deployment and boom.

[2020-08-28 23:33] blaggacao commented on #4737
Clearly the part that's wrong here is:

[code]

I'll dig a little into skaffold source and update: [HERE]

[2020-08-29 17:04] wpwoodjr commented on #3295
Not sure #4058 is the same issue, I reported this one as an issue under WSL, #4058 seems to be about bash shell.

[2020-08-31 05:43] amitm02 commented on #4722
Thanks @tejal29 , with the example you provided I was able to make it work.
I must admit, to my surprise and disappointment, even with caching, the builds were much slower than building locally on my laptop.

[2020-08-31 18:18] blaggacao commented on #4163
I thought fore more than one week now this was a bug. Glad that it's just friction, though. :smile:

[2020-08-31 18:48] nkubala opened #4746 "Enable BuildKit in Travis"
currently, we can't test buildkit builds in travis because the daemon doesn't support it. we should figure out how to enable it for all of our travis builds.

https://vladimir.varank.in/notes/2020/01/buildkit-multi-platform-travis-ci/

[2020-08-31 19:32] Hkyx commented on #1692
Hi @balopat ,

I got the same pretty usecase than Bzub but I understand the mindest behind terraform is not the same as skaffold is doing. So question, how to do work at hashicorp to get your live debugging into a kubernetes but keeping deploying with TF ?

[2020-08-31 19:59] nkubala opened #4747 "Enable minikube profile detection by default"
https://github.com/GoogleContainerTools/skaffold/pull/4745 hides the minikube profile detection behind a flag to ensure we don't break existing minikube users with non-standard profile names. once we're confident in this feature we can remove the flag and enable it by default.

[2020-08-31 20:09] milas opened #4748 "Panic with skaffold dev in 1.13.2"
This is happening in 1.13.2 as well as latest build (b642a69 as of issue time). It does NOT happen in 1.13.1.

Given the panic, it appears to have been introduced by #4676.

### Expected behavior
* Logs start streaming and containers run normally

### Actual behavior
* Logs start streaming
* After a moment or two, skaffold panics
[code]

### Information
- Skaffold version: 1.13.2 (also happens on

[2020-08-31 21:43] priyawadhwa opened #4749 "Try to get minikube client again on certs error"
We have an issue for skaffold + minikube, and the logs look like this:

[code]

As discussed w/ @nkubala and @medyagh, this bug is happening because skaffold runs $(minikube docker-env) at the beginning of the dev loop and stores the env variables in memory. However, if minikube's IP changes, then those env variables change as well.

If skaffold can try to get the minikube client again, and rerun

[2020-09-01 02:25] briandealwis commented on #4749
Out of curiosity, what can lead to the IP address change?

[2020-09-01 02:36] briandealwis commented on #4748
@gsquared94 can you take a look?  It looks like this creation of `pollTrigger` is missing initialization of `isActive`:
https://github.com/GoogleContainerTools/skaffold/blob/b91bfbe794d5cf01a8c4e8a3e6f8b445ce7702ba/pkg/skaffold/trigger/triggers.go#L268-L270

[2020-09-01 02:51] briandealwis commented on #4737
This is another need for custom builders, similar to #4624.

[2020-09-01 07:12] gsquared94 commented on #4748
@briandealwis you're right. This is the issue. Fixed it in #4750.

[2020-09-01 09:59] fredleger commented on #1405
Hello @briandealwis,

You can find a testbed to reproduce the issue here : https://github.com/fredleger/skaffold-issue-1405

# Steps

## create namespace

[code]

## check infos of test case

[code]

[code]

## deploy with skaffold helm strategy

[code]

# Results

[code]

[2020-09-01 12:19] survivant commented on #3073
I have the same problem today

PS C:\windows\system32> minikube version
minikube version: v1.12.3
commit: 2243b4b97c131e3244c5f014faedca0d846599f5-dirty

minikube start --vm-driver=hyperv

skaffold build -p dev
creating runner: creating builder: getting docker client: getting minikube env: running [minikube docker-env --shell none]
 - stdout: "* The control plane node \"\" does not exist.\n  - To

[2020-09-01 13:57] briandealwis commented on #3073
@gsquared94 this seems a motivator to make our [KubeContext into a proper struct](https://github.com/GoogleContainerTools/skaffold/pull/4701#discussion_r477891102) and move the `minikube docker-env` into the minikube detection.  That way if `minikube docker-env` fails, then we downgrade the a normal non-local cluster KubeContext.  WDYT?

[2020-09-01 14:48] gsquared94 opened #4751 "Refactor: Make kubeContext struct instead of string"
Refer: https://github.com/GoogleContainerTools/skaffold/issues/3073#issuecomment-684873558 and https://github.com/GoogleContainerTools/skaffold/pull/4701#discussion_r479339604
We are using `kubeContext` as a string currently. We'll benefit from converting it into a struct with methods.

[2020-09-01 17:17] priyawadhwa commented on #4749
Usually it happens on restart, if a user runs `minikube stop` and then `minikube start` again, but something like closing your laptop can also do it.

[2020-09-01 18:38] milas commented on #4748
I just built #4750 locally and can confirm I'm not getting a panic when starting up anymore 🎉

[2020-09-01 19:18] #4748 closed

[2020-09-02 09:11] broady opened #4753 "skaffold build: failed to connecto to docker socket"
### Expected behavior

App gets built

### Actual behavior

Error message:

[code]

### Information

- Skaffold version: v1.13.2
- Operating system: Ubuntu running inside WSL2 on Windows 10
- Contents of skaffold.yaml:

[code]

The pack command seems to get further:

[code]

Docker works fine:
[code]

[2020-09-02 20:17] nkubala commented on #3309
we're not currently working on this, for a few reasons:
* we've been focusing more heavily on UX - things like cutting down build logs, making sure error messages are clear, etc. I'd argue that without a good fundamental user experience, making a great UI is difficult.
* since we already have the Cloud Code IDEs as a frontend, we've been treating that as a "UI" in front of skaffold for the time be

[2020-09-02 20:20] nkubala commented on #4516
@tejal29 what follow up work needs to be done here?

[2020-09-02 20:23] nkubala commented on #4729
haha no this is just something i run into all the time with integration tests that annoys me :)

[2020-09-02 20:31] #3248 closed

[2020-09-02 20:33] nkubala commented on #531
@davidfernandezm interesting....never seen that one before haha. would you mind opening a new issue to track that?

[2020-09-02 20:35] nkubala commented on #4033
@dalbani unfortunately our Docker images are bigger than we'd like, because we bundle in all required dependencies for the different build/deploy combinations we natively support. we've considered offering "slim" versions of our images (which would only bundle "common" dependencies e.g. docker/kubectl), but haven't had a chance to do that yet.

[2020-09-02 20:35] nkubala commented on #4632
is this still an issue? @tstromberg @kschaab @medyagh

[2020-09-02 21:45] nkubala commented on #3778
indeed, we now support writing build logs for each image to a file using the `--mute-logs=build` flag. skaffold chooses a location to write these logs, usually somewhere in the `/var` directory. @petr-buchin is this good enough for you? we could consider making this location configurable as well

[2020-09-03 13:32] briandealwis commented on #4724
I asked @dgageot about this yesterday and he provided some insights:
  - `docker build` includes credentials from all listed helpers to provide to the daemon as part of the build context; he believes buildKit doesn't have this requirement as it's more conversational
  - Skaffold used to process the `Dockerfile` to identify the registries being used to only request the credentials required, but thi

[2020-09-03 13:52] briandealwis commented on #4685
@ivanporty just to be clear, you saw **no** output from skaffold in this situation?

It sounds like the API server socket must be open but nothing's responding.

If this happens again, could you run Skaffold with `debug`-level verbosity?  It would be helpful to know what is failing.

[2020-09-03 14:16] mr-bjerre commented on #3136
A quick follow up. Say I want to sync all `*.py` files in my container. Since I'm using docker multistage builds then I'll have to use manual sync. It isn't clear to me how I'd achieve this?

[2020-09-03 14:53] briandealwis commented on #4647
@blaggacao out of curiosity, how long does it take to do these operations?

I like the idea of being able to configure a block-file like `.git/index.lock`

You might try using the `manual` trigger or polling-based trigger and setting its interval:
[code]

[2020-09-03 14:58] briandealwis commented on #4642
People have been chiming in with feedback on #2561.  Feel free to add any thoughts you might have there.

[2020-09-03 14:58] #4642 closed

[2020-09-03 15:31] briandealwis commented on #4753
@gsquared94 I think you have a Windows box with WSL2 available?  Do you see this with [`examples/buildpacks`](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/buildpacks)?

[2020-09-03 15:55] briandealwis commented on #4444
Closing as this is working as intended.

[2020-09-03 15:55] #4444 closed

[2020-09-03 16:36] petr-buchin commented on #3778
@balopat @tejal29 @nkubala sure this is enough for me. Thank you very much for your work!

[2020-09-03 16:36] #3778 closed

[2020-09-03 16:41] vincentjocodes commented on #4724
@briandealwis Hi Brian, thanks for taking a look.

In regards to your comment:

I'm a bit confused because my docker config was empty without any helpers:

[code]

Does `docker-credential-gcloud/gcloud auth docker-helper` save configuration to another file that invokes the authentication request? Thanks.

[2020-09-03 17:23] gsquared94 commented on #4753
@briandealwis I don't have access to it right now unfortunately.

[2020-09-03 17:26] blaggacao commented on #4647
roughly between 5 to 20 seconds, depending on whether there is much to fetch.

That looks like a doable workaround with some chance of benefits, however I'm likely to just stop `skaffold` before doing those operations for the time being.

[2020-09-03 19:31] briandealwis commented on #4724
Ah, I realize my second bullet isn't clear: Skaffold used to request credentials for only the registries referenced, but was since reverted and follows `docker build`-style behaviour of requesting credentials from all configured credential helpers.  And further more, skaffold [helpfully adds `gcloud` as a credential helper for *.gcr.io](https://github.com/GoogleContainerTools/skaffold/blob/master/

[2020-09-03 19:40] dgageot commented on #4724
I’ve got an open PR to fix that. Not sure I’ll finish it though

On Thu 3 Sep 2020 at 21:32 Brian de Alwis <notifications@github.com> wrote:

[2020-09-03 23:55] broady commented on #4753
Oh and to clarify, I'm using [Docker Desktop's WSL2 backend](https://docs.docker.com/docker-for-windows/wsl/)

[2020-09-07 11:36] nushkovg commented on #3905
For anyone who needs this before its patched in the next release, I came up with a simple workaround for local development. I simply swapped the order of Kubectl and Helm in the [deployment code](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/runner/new.go#L195-L205) and built my own binary.

The configuration file now deploys the required CRDs first with kubectl, and th

[2020-09-07 15:01] smrutimandal commented on #3386
For broken deployments, try deleting the helm release, even if the release doesn't show up in listing.

`$ helm delete <release>`

[2020-09-08 09:19] frejsoya opened #4763 "Existing explicit progressdeadline in deployment spec of 600 seconds ignored and replaced with 120 seconds/2minutes"
Title says it all ;)

During an upgrade of skaffold to 1.14.0 we hit an issue with deployment status check timeout consistently being 2 minutes. Even when the deployment spec progressdeadline was *explicitly* set to 600. Trying to enforce the same value in skaffold.yaml, it was still 2 minutes

The issue is that whenever the deployment deadline is 600 seconds, no matter how explicit. Skaffold choo

[2020-09-08 13:49] briandealwis commented on #4329
@mythio sorry, I missed your previous reply.  Our supported builders (docker, buildpacks, kaniko) have different caching mechanisms.  Buildpacks uses an incremental caching mechanism, quite different from `docker build`, such that subsequent rebuilds can re-use the packages already downloaded from npm.  You can see an example of their use in [Skaffold's examples](https://github.com/GoogleContainer

[2020-09-08 13:49] #4329 closed

[2020-09-08 13:55] briandealwis commented on #3295
I've hidden the side-conversation from @michielswaanen's issue as it wasn't directly related to this issue.  @michielswaanen could you please open separate issues for what you've seen, if the problems still continue with the latest Skaffold?

[2020-09-08 14:07] briandealwis commented on #3295
@wpwoodjr I think your initial issue was caused by not disabling `--cache-artifacts` as [your followup](https://github.com/GoogleContainerTools/skaffold/issues/3295#issuecomment-559105503) shows a single image remaining.

Could you please describe how you're building and deploying images?  It looks like you're building locally with the Docker builder, and pushing the images to Docker Hub.  Where i

[2020-09-08 14:13] briandealwis commented on #1405
Our Helm deployer currently labels resources as a separate step after deploy.  Short-lived containers may have exited by the time our labeller starts to work.  It's a race condition and there is nothing we can do with our current labelling approach.

[2020-09-08 14:13] #1405 closed

[2020-09-08 14:32] woodcockjosh commented on #4482
Sorry haven't had time to work on this yet

[2020-09-08 14:39] briandealwis commented on #4763
Hi @frejsoya — the status-check time is governed by the [`skaffold.yaml`'s `statusCheckDeadlineSeconds:` value](https://skaffold.dev/docs/references/yaml/#deploy-statusCheckDeadlineSeconds).  We're planning to change it to reflect the Kubernetes defaults (#4669).

Duplicate of #4669

[2020-09-08 14:39] #4763 closed

[2020-09-08 14:43] frejsoya commented on #4763
Yeah i am aware. I even tried 600 seconds there, to no effect as it is magicallly replace by 2 minutes. I ended up putting in 599 :)

[2020-09-08 14:44] briandealwis commented on #4722
Closing as original question has been answered.

[2020-09-08 14:44] #4722 closed

[2020-09-08 18:39] drewpca commented on #4577
Came across an easier repro of the same panic. Just take a working setup such as examples/getting-started and append to Dockerfile a line that just says "COPY" (no args). This could happen e.g. if your editor autosaves while you're looking up the filename to copy. Here it is in skaffold v1.14.0:

[code]

[2020-09-09 11:07] Djiit opened #4766 "Missing tag in output file when local.push is false"
## Expected behavior

When I set `local.push: false`, Skaffold should not push the image, and output complete tags in a file with file-ouput option.

### Actual behavior

When I set `local.push: false`, Skaffold does not write the image tag (only SHA) in the output file

### Information

- Skaffold version: 1.14.0
- Operating system: macOS / same in a Alpine container.
- Contents of skaffold.yaml:

[2020-09-09 17:17] #4726 closed

[2020-09-09 18:09] tyschroed opened #4767 "Optional folders referenced by dockerfiles causes `skaffold dev` to ignore changes"
I believe this is related to #2433

### Expected behavior

We use a tool called [yalc](https://github.com/whitecolor/yalc) in local development to copy npm module changes in our environment without needing to publish to central repository (and avoiding symlink issues with containers). Packages are copied into a `.yalc` folder in the dependent application, that folder is copied in via our dockerfil

[2020-09-09 19:25] wpwoodjr commented on #3295
@briandealwis Sorry I'm not able to pursue this right now.  Thanks for the reply.

[2020-09-10 06:01] gsquared94 commented on #4753
I'll get to this as soon as I can get a device setup.

[2020-09-10 06:40] gsquared94 commented on #4767
currently the file watcher explicitly validates that the glob pattern has at least one existing match [here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/docker/parse.go#L187). I think the assumption was that the docker build would fail, but that isn't actually the case for wildcard copy commands.

[2020-09-10 09:56] gsquared94 commented on #4766
adding some details:

<details>
  <summary>Dockerfile</summary>

[code]
</details>
<details>
  <summary>skaffold1.yaml</summary>

[code]
</details>
produces:
<details>
  <summary>tags.json</summary>

[code]
</details>
<details>
  <summary>skaffold2.yaml</summary>

[code]
</details>
produces:
<details>
  <summary>tags.json</summary>

[code]
</details>

[2020-09-10 14:48] briandealwis opened #4769 "Support multiple sync rules"
Skaffold should allow configuring multiple sync blocks.  For example:
[code]

[2020-09-10 20:22] ivanporty commented on #4685
Good question, I don't remember exactly. I think something eventually printed, but it was very long wait.

[2020-09-11 15:02] dalvizu opened #4771 "Feature request: ability to remove sha256 or tag from generated docker image"
### Background.

We are JFrog artifactory users, and are facing a few issues with the assumptions that Skaffold requires: every image contains both `@sha256` selector *and* a docker tag. JFrog artifactory has a few limitations here:

First, Artifactory is only capable of keeping a single image per tag, so in effect the sha256 selector makes sure that if the image is **ever** updated outside of our

[2020-09-11 18:59] #4630 closed

[2020-09-11 19:03] nkubala opened #4773 "Support buildkit in GCB"
we don't currently expose any way to enable buildkit builds on GCB, but since we provide the ability to specify a custom docker image, there's no reason why they can't be supported. we should add an option to enable buildkit for GCB builds in the config.

[2020-09-14 03:22] d-honeybadger commented on #3136
This seems to do the trick:
[code]
Any subfolder paths are preserved with this `dest`. Here is an official skaffold example: https://github.com/GoogleContainerTools/skaffold/blob/master/examples/hot-reload/skaffold.yaml

[2020-09-14 05:45] gsquared94 commented on #4058
There have been no reports of this issue after #4609 and @avgojzack confirmed it working for them with v1.13.2. So I'm closing this issue, if there are any recurrences of similar behavior please we can create a new one.

[2020-09-14 05:45] #4058 closed

[2020-09-14 14:50] #4482 closed

[2020-09-14 17:25] keddyliu opened #4780 "Skaffold Quickstart not working in Google Cloud Shell"
### Expected behavior
The `skaffold dev` command should work as documented on https://skaffold.dev/docs/quickstart/ .

### Actual behavior
Running `skaffold dev` ends with the error message:
[code]

Running `skaffold dev --default-repo=""` ends with the error message:
[code]

### Information

- Skaffold version: v1.14.0
- Operating system: Google Cloud Shell
- Contents of skaffold.yaml:

[code]

#

[2020-09-14 18:43] briandealwis commented on #4780
Thanks @keddyliu for pointing out a rather glaring omission on that page!  You need to use `--default-repo=registry/repository` to identify the registry to host the built images.

For example, some of our tests use `--default-repo=gcr.io/k8s-skaffold/xxx` to reference our `k8s-skaffold` bucket on Google Container Registry.  The images will then be pushed to `gcr.io/k8s-skaffold/xxx/image:tag`, and

[2020-09-14 20:48] keddyliu commented on #4780
@briandealwis Thanks.

Now, after I run `minikube start` and then `skaffold dev`, during the `Extracting` step in `Step 1/7` of `Dockerfile` , I get an error message saying:
[code]
What's going on?

[2020-09-14 20:59] keddyliu commented on #4780
@briandealwis Actually, I reran `skaffold dev`, and it seems to work now. I do not know why things seem unstable. Thanks.

[2020-09-14 21:26] keddyliu commented on #4780
@briandealwis Now when I run `skaffold dev` , even when things deploy without errors, I still do not see the `Hello world!` or `Hello Skaffold!` print-outs that https://skaffold.dev/docs/quickstart/ mentions. What's going on?

[2020-09-14 22:09] Jimbly opened #4783 "Outputting ANSI/VT100 escape sequences erroneously on Windows"
![image](https://user-images.githubusercontent.com/774383/93142569-276c6380-f69b-11ea-938f-381374cc86d5.png)

It looks like Skaffold.exe is outputting escape sequences before enabling or checking for the feature.

Simplest fix is to add these lines (or similar) to your Windows build (will enable support on newer Windows versions and do nothing on older (XP/2K) Windows versions):
[code]
[MSDN refer

[2020-09-14 23:40] ilya-zuyev opened #4784 "Use go 1.15"
Golang 1.15 was released on Aug 11 2020.
Need to bump the version in go.mod

[2020-09-15 03:22] briandealwis commented on #4771
Hi @dalvizu.

Note that [Docker's spec for image references](https://github.com/docker/distribution/blob/0d3efadf0154c2b8a4e7b6621fff9809655cc580/reference/reference.go#L6) does accept both a tag and digest.

The Artifactory issue you linked to doesn't talk of speed differences?

I'm a bit confused about your situation though.  You mention:

If I understand correctly, you have your developers and

[2020-09-15 04:15] briandealwis commented on #4783
Skaffold's written in Go, so that code snippet won't work :-)

But the libraries we use under the hood are supposed to check for support.  Could you please tell us what version of Windows and Skaffold that you're using?

[2020-09-15 13:47] etanshaul opened #4785 "Logs are missed after code change"
copied from https://github.com/GoogleCloudPlatform/cloud-code-intellij-internal/issues/2584#

- Start a skaffold k8s session with an app that contains a readiness probe (the specific setup with a spring-boot app using Jib)
- Make a code edit

expected: logs continue streaming
actual: some of the application logs are not printed until the readiness probe passes (the theory); e.g. the spring boot st

[2020-09-15 13:52] Jimbly commented on #4783
Sure!  Just downloaded Skaffold yesterday, but from a screen share with a coworker a couple months ago, I know this was a problem then as well.

Windows 10 Pro v1909
[code]
Also reproduces in Powershell.

I get colors showing up if I manual execute that code above, or I run `docker` first (e.g. `docker | skaffold run`).

[2020-09-15 14:54] briandealwis commented on #4783
I can reproduce this.

[2020-09-15 15:20] gsquared94 commented on #4753
sorry it took a while to get to this. I was successful in running [`examples/buildpacks`](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/buildpacks) on a GCP windows VM on a minikube cluster. However it didn't have Docker Desktop's WSL2 backend and was using the default HyperV.

@broady is the `skaffold.yaml` that you posted the entire file? Can you try to clone the  [`examp

[2020-09-15 18:06] devi-sandireddy opened #4786 "Deploying to EKS gives an error"
[code]

Skaffold run or Skaffold deploy deploys the pods to EKS, but produces the following error

### Information

- Skaffold version: v1.14.0
- Operating system: mac or gitlab runner, same result
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1 skaffold run  ---default-repo XXX.dkr.ecr.us-east-1.amazonaws.com
3. skaffold deploy -a skaffold-build.jsaon

[2020-09-15 18:58] tejal29 commented on #4786
@devi-sandireddy Can you please provide error logs?

[2020-09-15 20:14] MarlonGamez commented on #4784
I can make a quick PR for this

[2020-09-15 20:18] yuwenma opened #4789 "The `profile.deploy` is overridden by the base `deploy`"
My skaffold.yaml uses a mixed kustomize (as the basic deployer defined in `.deploy`) and kubectl (as a profile deployer defined in `.profiles.X.deploy`)

### Expected behavior
`skaffold render -p X` should use the kubectl deployer defined in `.profiles.X.deploy`

### Actual behavior
`skaffold render -p X` uses the kustomize deployer defined in `.deploy`

### Information

- Skaffold version: skaffo

[2020-09-15 20:19] yuwenma commented on #4789
/cc @nkubala @MarlonGamez

[2020-09-15 20:54] MarlonGamez commented on #4789
When I try to recreate this in skaffold v1.14.0, running `skaffold render -p xxx` outputs the results of running render using both of the deployers, not just one. Here's my skaffold.yaml
[code]

[2020-09-15 20:58] yuwenma commented on #4789
@MarlonGamez Correct! What shall I do if only the profile deployer is expected? (in my example, the expectation is no `kustomize build`)

[2020-09-15 21:50] MarlonGamez commented on #4789
I'm not completely sure if there is a workaround for that right now. My closest guess would be that you need to create a completely different skaffold.yaml file and specify that using `skaffold render -f other_skaffold.yaml`

This solution is really clunky :/ I'll try and see if there's a better way

[2020-09-15 22:17] ilya-zuyev opened #4791 "Skaffold panics if Dockerfile contains 'COPY' line"
Skaffold panics when a dockerfile it parses contains a line with "COPY" with no args. Such dockerfile is incorrect, but it should not lead to crash.

### Expected behavior
A well-formatted error message describing the dockerfile issue
### Actual behavior
[code]
### Information
[code]
I'm using the "skaffold/examples/getting-started" project with modified Dockerfile
[code]

[code]

[2020-09-16 08:41] oo00spy00oo opened #4793 "Skaffold always builds a new image when no file has been changed!"
Listing files to watch...
 - [REDACT]
Generating tags...
 - [REDACT] -> [REDACT]:v1.0.3-44-ga3593b2-dirty
Checking cache...
 - [REDACT] Not found. Building

### Expected behavior
In case sync mode is enabled, we should have an option to disable auto-build mode when changing the content of any files!

### Actual behavior:
Skaffold always builds the new image while I didn't change anything in my pro

[2020-09-16 16:52] MarlonGamez commented on #4789
@yuwenma I think you should be able to remove the kustomize stanza using profile patches https://skaffold.dev/docs/environment/profiles/#override-via-patches

Your skaffold.yaml would look something like this with a patch to remove the kustomize deploy
[code]

[2020-09-16 16:57] MarlonGamez commented on #1008
This issue is quite old, but I just wanted to update it and say that we should have a fix soon for this in #4601 :)

[2020-09-16 19:35] briandealwis opened #4796 "Debug needs to work with CNB Platform v0.4 and the new launcher style"
Debugging a buildpacks image with pack v0.13 now uses lifecycle 0.9.1, which introduced a [new launcher-style (RFC 45)](https://github.com/buildpacks/rfcs/blob/main/text/0045-launcher-arguments.md).

Previously images were built with the `ENTRYPOINT=/cnb/lifecycle/launcher` and used `CNB_PROCESS_TYPE` to determine the process to launch.  But it meant running these images with arguments like `docke

[2020-09-16 21:06] freme commented on #3951
Thank you - that was the missing link :+1:

[2020-09-17 12:01] whyvez opened #4797 "Skaffold build using Kaniko on GKE"
I'm using Skaffold with a Kaniko build step on GKE and am wondering why the need for the `kaniko-secret`.

If I'm in GKE and the default SA used has permissions to push to my GCR repo why do I need to also supply SA keys via the kaniko-secret?

I see that things are working without the secret if Workload Identity is enabled but what about clusters not yet migrated to Workload Identity? https://git

[2020-09-17 12:02] #4791 closed

[2020-09-17 12:46] zzxwill commented on #500
Only your answer is right, thanks!

[2020-09-17 22:48] #4780 closed

[2020-09-18 04:07] briandealwis commented on #4780
@keddyliu It's hard to diagnose without either a screenshot or full output of what you're seeing.  The `examples/getting-started` app does little more than repeatedly print _Hello world!_:
https://github.com/GoogleContainerTools/skaffold/blob/9fb4e816a0e3bfe1e2409902a9940af34c2dd7a3/examples/getting-started/main.go#L8-L14

Could you try re-running Skaffold with `skaffold dev -v debug` and attach t

[2020-09-18 17:02] #4455 closed

[2020-09-18 18:28] keddyliu commented on #4780
[skaffold_output.txt](https://github.com/GoogleContainerTools/skaffold/files/5247503/skaffold_output.txt)
@briandealwis I attached the text file with the output from the `skaffold dev -v debug` command. This command would print out this output and just hang there, without printing any more logs or anything.

[2020-09-18 18:56] #3172 closed

[2020-09-18 19:16] #2350 closed

[2020-09-18 20:22] briandealwis opened #4806 "Auto-sync should be able to be disabled explicitly"
Auto-sync is now enabled by default for buildpacks (#4656).  Although auto-sync can be disabled by setting a manual sync rule (#4805), we should be able to explicitly disable auto-sync in the `skaffold.yaml`; this will be is important to enable #4769.

My suggestion is to turn the [`Sync.Auto`](https://github.com/GoogleContainerTools/skaffold/blob/77244b857eb8f7c9f16ff4fc4aa72430f8a29911/pkg/skaff

[2020-09-20 12:59] MichielS-1848709 opened #4807 "Automatic cleanup doesn't work with Git Bash under Winpty/MinTTY"
_(Updated 2020/10/05 by @briandealwis to remove colour issues as they've been addressed separately)_

Created a separate issue on @briandealwis's request https://github.com/GoogleContainerTools/skaffold/issues/3295#issuecomment-688892025

### Expected behavior
<details>
1. Upon running the pipeline using `skaffold dev` or `skaffold run --tail` something like this should be the output:
![image](htt

[2020-09-21 06:29] #4494 closed

[2020-09-21 07:41] gsquared94 opened #4808 "Travis CI can skip integration tests if only changes are in `docs` directory"
Travis CI can skip the kind and k3d integration tests if only changes are in the `docs` directory. It should continue running the other tests.

[2020-09-21 10:04] japsu opened #4809 "`skaffold build | skaffold deploy` with `SKAFFOLD_DEFAULT_REPO` rewrites image name twice"
If I set the default repo using `SKAFFOLD_DEFAULT_REPO` and then build and deploy in separate `skaffold build` and `skaffold deploy` steps, then image name rewriting is applied twice, resulting in wrong tag in the deploy step.

This can be worked around by unsetting `SKAFFOLD_DEFAULT_REPO` between the steps or using `skaffold build --default-repo` instead of the env var, but still I think `skaffol

[2020-09-21 10:14] japsu commented on #4809
Still occurs with v1.14.0, edited accordingly

[2020-09-21 14:18] mr-bjerre opened #4811 "Question: combining skaffold with Github Actions"
I have a project where I run `skaffold` locally to build and deploy. That works perfectly fine but I want to integrate it with Github Actions so I can build and deploy on pushes. My current approach is

1. Checkout the repo
1. Install gcloud, kustomize, kubectl and skaffold
1. Authenticate gcloud and configure-docker
1. Connect to GKE cluster
1. Build and deploy with skaffold run

[code]

I have a

[2020-09-21 16:57] MarlonGamez commented on #4257
This issue was never linked, but a few of these were accomplished in https://github.com/GoogleContainerTools/skaffold/pull/4258

[2020-09-21 17:18] mr-bjerre commented on #4811
Revisit

1. Turns out I had typo on the kubectl version when pinning it which caused the issue
1. Waiting for help.
1. Waiting for help

[2020-09-21 17:54] #4808 closed

[2020-09-21 18:00] briandealwis commented on #4780
That's really odd @keddyliu because normally you'd see Skaffold run `kubectl logs` to stream the logs from the containers.
[code]

[2020-09-21 18:23] mr-bjerre commented on #2197
I have this issue when using gcr.io as remote container registry. I get

[code]

although my image hasn't changed

[2020-09-21 18:44] briandealwis commented on #4780
@keddyliu I just tried this from the Cloud Shell Terminal and it worked fine.  I noticed that Cloud Shell already has Skaffold, Minikube, and Kubectl installed: did you use those versions, or did you download and install your own versions?

I did notice the following warning from `minikube start` however:
[code]

I cloned the Skaffold repository with `git clone --depth 1`, and I wonder if the full

[2020-09-21 18:47] mr-bjerre commented on #4811
I expect [this](https://github.com/GoogleContainerTools/skaffold/issues/4793) to be related

[2020-09-21 19:08] MarlonGamez commented on #4811
Hi @mr-bjerre, thanks for opening this issue :) For building in parallel, I believe you have to manually enable that in your skaffold.yaml by updating the field `build.local.concurrency`. There's some more info on that [here](https://skaffold.dev/docs/pipeline-stages/builders/) under the "Faster Builds" section of "Local Build"

[2020-09-21 19:16] mr-bjerre commented on #4811
I tried that but for some reason I'm not allowed to give that. I'm getting the following error

[code]

This is what I have

[code]

[2020-09-21 19:16] keddyliu commented on #4780
@briandealwis I downloaded and am using the latest versions of those three software executables.

[2020-09-21 19:55] MarlonGamez commented on #4811
Ah, it looks like that field wasn't added until skaffold schema v2alpha2. If you want to update your schema to a later version you can use `skaffold fix`. This will print an updated schema to stdout and won't actually override your skaffold.yaml unless you run with `--overwrite=true`

[2020-09-21 20:16] #4783 closed

[2020-09-21 20:20] mr-bjerre commented on #4811
Ah I see thanks 🙏 So the that schema is not installed in latest v1.14.0 I reckon?

Also; do you by any chance have any idea on my second question (that’s the real killer)?

[2020-09-21 20:25] MarlonGamez commented on #4632
This should be fixed with v1.14.0! I'm gonna close this for now but please reopen if this shows up again

[2020-09-21 20:25] #4632 closed

[2020-09-21 20:30] tejal29 commented on #3955
@tvvignesh, i have a PR in works.
due to time constraint, i could not finish. Is this something you would be interested in completing? I can help ?

[2020-09-21 20:34] keddyliu commented on #4780
@briandealwis I deleted those latest versions of those three software executables from my `~/bin` directory which I downloaded from their respective websites, found the versions of the `kubectl`, `minikube`, and `skaffold` executables that are pre-installed on Google Cloud Platform with the `which` command, copied them over to my `~/bin` directory, and got the Quickstart working! Thanks for all yo

[2020-09-21 20:34] tejal29 commented on #3661
@matthewmichihara hey going through skaffold triage, can you please explain what work is remaining as part of this issue?

[2020-09-21 20:44] matthewmichihara commented on #3661
hey @tejal29, I don't think has been started on yet -- just verified that the same behavior I saw earlier exists:

[code]

I wish Skaffold would just generate a configuration file with the Docker builder here.

[2020-09-21 20:47] nkubala commented on #4793
hey @oo00spy00oo thanks for the issue. I want to make sure I understand exactly what's going on here - is skaffold continuously rebuilding your image even when you change no files? or is skaffold rebuilding when it's supposed to just be syncing, since you have `sync` configured in your skaffold.yaml? it sounds like there could be a bug here so I want to make sure we're investigating the right thin

[2020-09-21 20:54] mr-bjerre commented on #4793
I’ll chip in since I have a similar issue if I understand @oo00spy00oo correctly.

My issue is when I run `skaffold build` (or run) in my GitHub action then it rebuilds every artifact - also the ones that are already available in my remote repo (and haven’t been changed). So it doesn’t use the remote repo as cache.

[2020-09-21 21:52] #2273 closed

[2020-09-22 01:49] briandealwis commented on #4780
Glad to hear it!

[2020-09-22 15:39] briandealwis commented on #3451
Duplicate of #889 (closing)

Design proposed in #4794

[2020-09-22 15:39] #3451 closed

[2020-09-22 15:43] briandealwis commented on #3457
Closing as fixed in upstream: see the Jib docs for the `skaffold` watch configuration ([maven](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#skaffold-integration), [gradle](https://github.com/GoogleContainerTools/jib/tree/master/jib-gradle-plugin#skaffold-integration)).

[2020-09-22 15:43] #3457 closed

[2020-09-22 15:53] briandealwis opened #4813 "Update Quickstart with option to use Cloud Shell"
#4780 was opened as the user attempted to follow our Quickstart using Cloud Shell, which already has Skaffold, Minikube, and Kubectl installed.  The user installed Skaffold, Minikube, and Kubectl manually following the instructions, but something didn't quite work.

We should:
  1. Call out that some environments have these utilities pre-instaled
  2. Use Cloud Shell's [Open in Cloud Shell](https:

[2020-09-22 17:02] MarlonGamez commented on #3855
@betterclever awesome :) Please keep us updated on that if you can!

[2020-09-22 17:40] oo00spy00oo opened #4814 "File sync & Port forward didn't work"
### Expected behavior
- Portforward working.
- Fie sync & hot reload feature work with MIcronaut and Jib.

### Actual behavior
- I am using Micronaut and Jib
- Feature port forward is not working for me.
- And when I made some change in my code all the file are sync already but the hot reload feature didn't work

### Information

- Skaffold version: v1.14.0
- Operating system: MacOSX 10.15.6
- Gra

[2020-09-23 02:41] mattpodolak opened #4815 "`skaffold dev` doesn't clean up deployments on Windows"
### Expected behavior
Skaffold cleans up all deployments when dev mode is exited.

### Actual behavior
Skaffold doesn't clean up any deployments when dev mode is exited.

### Information
After pressing `Ctrl + c` in Git Bash to exit dev mode, I see "Cleaning up..." in the logs, which exits immediately. All my services and pods are still running afterwards. I have installed Skaffold using chocolate

[2020-09-23 07:42] broady commented on #4753
@gsquared94

[code]

[2020-09-23 07:43] broady commented on #4753
FWIW a Windows machine running in a VM is going to be very different than WSL2.

[2020-09-23 11:34] oo00spy00oo commented on #4814
UPDATE: With port forward, I missed the `--port-forward` flag. And only remain the issue with file sync feature.

[2020-09-23 11:55] Multiply commented on #3855
We're also keen on seeing this added, as the current loading functionality is ultra slow.

@betterclever any progress so far, or would you want me to take a jab at it?

[2020-09-23 11:58] betterclever commented on #3855
@Multiply I haven't been able to pick this up yet. Please go ahead. 😀

[2020-09-23 17:36] nkubala opened #4816 "`--mute-logs` isn't respected if build fails"
running `skaffold build --mute-logs=build`, I expect to see very little, even if the build fails. however, when the build does fail, skaffold prints all of the logs that it just wrote to a file to stdout, as well as the error that it just surfaced:

[code]

there's no reason we can't surface this error without dumping the entire logs that the user just explicitly asked to hide.

[2020-09-23 18:02] nkubala opened #4818 "Cache should detect locally built image with different name when push fails"
a common build failure scenario is forgetting to apply a default repo, meaning that images build fine but skaffold will fail because of a failed push. once a default repo is applied, the subsequent build and push will succeed, but rebuilds shouldn't be necessary if the previous build succeeded. however, skaffold's cache check is naive in checking for a direct image name match, and will fail and re

[2020-09-23 22:57] tejal29 commented on #4766
@IsaacPD this is good first issue to start looking into

[2020-09-24 09:25] achedeuzot opened #4820 "Local docker build fails when only the Docker CLI is available"
We’d like to use skaffold to build images in a setup where there is no Kubernetes cluster or docker socket available.

A docker daemon is available but only works through the docker CLI as there is no local docker socket. We expose a `DOCKER_TLS_VERIFY=1` and `DOCKER_HOST=tcp://host.example.com:1234` environment variables which allows the docker CLI and docker-compose to spawn containers.

When I

[2020-09-24 18:10] dfernandezm opened #4821 "File Sync fails for thousands of file: kubectl argument list too long"
This is issue is from this comment:

 https://github.com/GoogleContainerTools/skaffold/issues/531#issuecomment-668069489

### Expected behavior

FileSync should work without error

### Actual behavior

Errors happen during the File Sync:

[code]

### Information

- Skaffold version: 1.13.1
- Operating system:  Mac OSX 10.15.5
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavio

[2020-09-24 18:39] simonoff commented on #4149
@briandealwis there is no risks.
 About 1 - i think if you change something specific you know what do you do
 About 2 - yes and no. for example for one project on node.js the onlly difference in NODE_MODE and in additional container in the pod with webpack. Thats it.

I don't need any buildpacks or something else. Just give me the ability for two-way sync. Other I will do myself.

[2020-09-25 02:00] maxtuzz commented on #20
Would love to see this feature. I have to delegate build step to a custom script and every time the `target/` directory is regenerated for maven projects it'll just get stuck in an infinite loop of building and deploying.

[2020-09-25 06:56] klingenm opened #4823 "Can not set serviceAccount on kaniko pod"
### Expected behavior
According to
https://skaffold.dev/docs/references/yaml/#build-cluster-serviceAccount
https://skaffold.dev/docs/pipeline-stages/builders/docker/#dockerfile-in-cluster-with-kaniko

setting the following:

[code]
to skaffold.yaml should set the service account for the kaniko pod.

### Actual behavior

    parsing skaffold config: unable to parse config: yaml: unmarshal errors:

[2020-09-25 15:31] #4809 closed

[2020-09-26 01:17] jearangoo opened #4824 "templated fields on helm "setValueTemplates" object keys"
hello, sorry i could not find any examples or documentation so i write my question here, i was trying to set templated fields on the values of a helm chart via "skafold deploy", i looked at the example on the documentation https://skaffold.dev/docs/environment/templating

then i created this profile with a simple interpolation

[code]

executed

skaffold deploy -p set-trigger-values

and it worked

[2020-09-26 01:40] yuwenma opened #4825 "`skaffold render` doesn't respect `--build-artifacts` flag."
I ran into this when using skaffold image in gitlab-ci pipeline.

### Expected behavior
According to the doc https://skaffold.dev/docs/references/cli/#skaffold-render
`skaffold render --build-artifacts=XXX` should use the previous build image info stored in XXX to render the manifest.

### Actual behavior
`--build-artifacts` are ignored. `Skaffold render` uses another image.

### Information
- Ska

[2020-09-27 10:29] tvvignesh commented on #3955
@tejal29 Hi. Currently working on my startup (that will take 2 more months to complete) since I am working alone. While I can take this up in the future, now might be difficult. Not sure what timeline you have for this.

[2020-09-28 13:10] doriandekoning opened #4826 "skaffold debug when using helm does not work when helm chart renders more than one manifest"
### Expected behavior
When running `skaffold debug` with a helm deployment (supported by https://github.com/GoogleContainerTools/skaffold/pull/4732)  which renders multiple manifests the deployment is modified and a debugging port is forwarded to my machine.
### Actual behavior
Debugging does not work, without any error or warning.
### Information

- Skaffold version: version: `v1.14.0-40-gf4bd638

[2020-09-28 18:24] MichielS-1848709 commented on #4807
bump

[2020-09-28 19:03] carlskii commented on #1441
This is exactly what I need to add my CLI that can be used to inject Keys/Certificates into some applications. Would it possible to implement a way to call a function from a custom go application here too?

[2020-09-28 21:46] briandealwis commented on #4807
@MichielS-1848709 could you try the _bleeding edge_ version (which are built from HEAD) at

    https://skaffold.dev/docs/install/

That should at least fix the ANSI sequences and colour support.

Could you please describe the command/shell environment that you're using? Do you use PowerShell?  Our are you using mingw or some other bash shell?

Maybe what would be easier use to record a video and

[2020-09-28 22:18] eox-dev opened #4831 ""Could not stabilize" and "could not map pods to service... no pods match service..." really consistently..."
### Expected behavior

Running `skaffold dev --port-forward` or `skaffold dev --port-forward --status-check=false` should start-up the cluster.

### Actual behavior

As of the two weeks, or so, I started getting `could not stabilize with 2m0s` when I needed to restart the cluster. Seems like 4 out of 5 times I would get it.

Started running with `--status-check-false` and I'm getting a bunch of:
[

[2020-09-28 22:46] IsaacPD commented on #4766
I began looking into this and did some local modifications to
[code]
to output the image tags as desired, however the subsequent call to
[code]
in ```TagWithImageID``` returns error with message "refusing to create a tag with a digest reference". Further investigation suggest the local docker daemon only accepts tags without digests (the SHA portion/imageID), so skaffold creates a tag out of the d

[2020-09-29 15:53] briandealwis commented on #4831
@eox-dev It sounds like you have some slow-starting pods.  You can increase the status-check deadline using [`statusCheckDeadlineSeconds`](https://skaffold.dev/docs/references/yaml/#deploy-statusCheckDeadlineSeconds) in your `skaffold.yaml`.

That warning message comes from a new codepath for forwarding services (#4590).  The code falls back to using `kubectl port-forward svc/admin-new-cluster-ip-

[2020-09-29 17:05] #4826 closed

[2020-09-29 17:26] MarlonGamez commented on #4816
I think the idea when we first created this was that we would hide things from the user unless they went bad. Looking at it now that doesn't make a whole lot of sense since it's easy enough for the user to just view the log file after the fact if something goes bad, and we can just display the error message. I'll create a fix for this soon 👍🏼

[2020-09-29 17:43] cpaika commented on #3905
What about @briandealwis 's third option?

For my use case, i have a fresh minikube installation and I want the application to install itself into a specific namespace "foo".  With Helm 3 there is the `--create-namespace` flag that will automatically create the namespace for you to deploy into.

Is there anyway we could support the field in the skaffold.yaml?  I would love to have it automatically

[2020-09-29 17:53] tejal29 commented on #4693
This is already in progress.

[2020-09-29 18:58] #4813 closed

[2020-09-29 19:53] briandealwis commented on #4814
Hi @oo00spy00oo.  Auto-sync on Jib requires container-side support, such as through the use of Spring Boot Dev Tools or a web server that supports class reloading.  There's some detail in the docs at:

    https://skaffold.dev/docs/pipeline-stages/filesync/#auto-sync-mode

Could you include your pom.xml?

[2020-09-29 21:04] eox-dev commented on #4831
@briandealwis Thanks, I will adjust the statusCheckDeadlineSeconds to see if any amount will permit enough time for the pods to start.

Here is the `skaffold dev -v trace`.

[code]

[2020-09-29 23:09] tstromberg commented on #4749
I was a bit confused by this error report, and now I'm even further confused. The error is raised by kubectl, not Skaffold.

This particular error is out of Skaffold's control: the context written to `$HOME/.kube/config` no longer matches the expectations of the cluster. For instance, the cluster is in the middle of a restart

I believe this may have been fixed in minikube v1.13.1 - https://github

[2020-09-29 23:09] #4749 closed

[2020-09-30 13:05] noobG opened #4835 "Lack of templating"
### Expected behavior
Templating works universally in skaffold.yaml

### Actual behavior
It only works for certain fields

### Information
I'm worried that I've been working under some wrong assumptions seeing how often I run into the problem being unable to pass in variables from the environment

Here are some recent frustrations:
1) I want to use a separate Dockerfile in production for one of my

[2020-09-30 13:34] briandealwis commented on #4831
@eox-dev that `Waiting for deployment spec update to be observed...` message is really odd.  Could you try running `kubectl get all --all-namespaces` and let's see what resources you have hanging around?    And then when running `skaffold dev` and while waiting on the deployment, could you try `kubectl describe deployment.apps/admin-new-deployment-dev` and see what it reports?

From some searching

[2020-09-30 14:23] toby-1-kenobi opened #4837 "Error in multistage build with local images"
### Expected behavior

`skaffold build` builds an image which depends on another local image

### Actual behavior

fails to get dependencies for the build

output of `skaffold build -v debug`

[code]

output of `docker images`
[code]

contents of `dev.Dockerfile`
[code]

Running the equivalent docker command succeeds:
`docker build -f dev.Dockerfile -t rev79-uac-dev .`

### Information

- Skaffold

[2020-09-30 15:25] briandealwis opened #4838 "Flake: TestBuildInCluster"
Similar to #3719 but different error

Seen in [Kokoro](https://source.cloud.google.com/results/invocations/09e44d45-6440-4b9c-91b6-278052f293c0/targets/skaffold%2Fpresubmit/log)
[code]

[2020-09-30 16:38] StarpTech opened #4839 "Opinion about GitOps as an kubernetes operator."
Hi, any opinion about FluxCD/ArgoCD or any other tool which follows the strategy to install a kubernetes operator on the cluster to handle all the stuff you typically do in the CD/CD pipeline?

- checkout repo
- run helm
- sync state

I cannot get used to the idea of managing an application "operator" when we can do it one step ahead. Locally we can even run a dry phase of the entire release to fi

[2020-09-30 16:42] oo00spy00oo commented on #4793
I meant when sync mode is enabled, Skaffold is continuously rebuilding the image, it isn't necessary .

[2020-09-30 16:58] eox-dev commented on #4831
@briandealwis

Here is the `--all-namespaces` without my cluster running:

[code]
As far as when it is booting up it hands at this for almost two minutes:
[code]
Then the last 10 seconds or so it changes to this:
[code]
Then it fails.

I've been keeping an eye on `minikube dashboard` and doesn't look like an issue with old replica sets hanging around as they are usually destroyed relatively quickl

[2020-09-30 18:03] tejal29 commented on #4766
@IsaacPD sounds good. Thanks for the update.
It would be great to look into debug or trace output and see what gets replaced in manifests when local build is true.

[2020-09-30 19:19] IsaacPD commented on #4766
@tejal29 When local build is true the manifest that is passed to kubectl is the same manifest as the one specified in the skaffold config but with the container image replaced by the result from ```skaffold build``` and some additional metadata labels, this goes the same if local build is false. There is no difference in how ```skaffold deploy``` behaves if local.build is true/false.

[2020-09-30 19:43] #4693 closed

[2020-09-30 19:44] #4816 closed

[2020-09-30 20:01] eox-dev commented on #4831
Actually, the past several times I've managed to get a cluster to start and then `CTRL + C`, the Pods and Replica Sets are still running 15 minutes after I stopped Skaffold. I did try to `skaffold delete`, but they are still up.

[2020-09-30 20:31] briandealwis commented on #4831
Your hypothesis, that there is an existing replicaset, sounds plausible, though your report of ‘kubectl get all —all-namespaces‘ doesn’t show that.

I think you'll need to dig into the replicasets and pods using ‘kubectl describe‘ and  try to figure out what's causing the underlying replicaset to give up.  I’m really curious to know what's the cause.

[2020-09-30 21:35] nushkovg opened #4840 "Skaffold fails to build an artifact when run in TravisCI."
When I am trying to run a pipeline in TravisCI to make sure that Skaffold is starting, I am getting the following error on the first image build: `exiting dev mode because first build failed: couldn't build "example-dnsutils": the custom script didn't produce an image with tag`.

I am emulating an ARM architecture, because the application runs on a Raspberry PI. The Skaffold binary that I am using

[2020-09-30 21:36] nkubala commented on #3905
@cpaika https://github.com/GoogleContainerTools/skaffold/pull/4765. this was just released with v1.15.0

[2020-09-30 21:38] cpaika commented on #3905
@nkubala Awesome! I'll give it a try