[2020-01-27 17:24] jonjohnsonjr commented on #3568
I'm not actively working on this -- just filed it so I didn't forget.

[2020-01-28 00:15] tejal29 commented on #3171
@dgageot Can i revert your PR #3086 which caused a regression?

[2020-01-28 00:18] tejal29 commented on #3345
This is still in scope and a priority.

[2020-01-28 02:43] balopat commented on #3568
If you have free cycles feel free to jump in, I was planning to fix it later this week but haven't had the time yet:)

[2020-01-28 08:18] giladsh1 commented on #3171
@tejal29 the problem is that I think that reverting this PR will cause #2687 and #2752 to reappear, which means that  deployments will forced to be configured each run, and they won't be idempotent.

[2020-01-28 08:55] dgageot opened #3596 "Nil pointer dereference when gcloud is not properly configured"
When no account is set on gcloud (with gcloud config set account ACCOUNT), skaffold can fail with a nil pointer dereference.

[2020-01-28 09:28] dgageot commented on #3171
Let me try to summarise my understanding because I'm not sure I've it all right:

+ Before #3086, we had `--force` flag on by default on `skaffold dev|run|debug`. For `skaffold deploy`, it was supposed to be off by default but was in fact always on.
+ After #3086, we have `--force` flag on by default only on `skaffold dev` and off for `skaffold deploy|run|debug`.

@giladsh1 @lienharc @doman412 @ch

[2020-01-28 12:18] #3596 closed

[2020-01-28 12:53] hanzketup commented on #3565
Facing the same issue, skaffold is picking up changes to the chart dependencies:
`INFO[0041] files modified: [project/chart/charts/postgresql-8.1.5.tgz] `

Adding `*/charts/` to my `.dockerignore` fixes the issue though.

[2020-01-28 15:27] giladsh1 commented on #3171
@dgageot I can confirm that adding the `--force` flag fixes the issue.

[2020-01-28 15:36] dgageot commented on #3171
Good! Now we need to define sensible defaults.
The idea of using `--force` only on `skaffold dev` was that it's a bit too destructive for the other commands that could run against pre-prod or prod. Wdyt?

[2020-01-28 16:10] giladsh1 commented on #3171
IMHO adding force by default doesn't make sense for commands other than `dev`.

The question is why does it seldom break the deployment for cronjobs only?
Am I missing something related to that specific object in k8s?

[2020-01-28 19:02] #2672 closed

[2020-01-28 21:18] dgageot commented on #3581
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/3584

[2020-01-28 21:18] #3581 closed

[2020-01-28 21:20] dgageot commented on #3544
Hi @matti can you elaborate a little what you'd like to have?

[2020-01-28 21:28] #3588 closed

[2020-01-28 21:42] dgageot commented on #3131
Let's close this one

[2020-01-28 21:42] #3131 closed

[2020-01-29 05:32] prary commented on #3345
Hi @tejal29
I have updated the PR ```make checks``` is failing meanwhile take look at the functionality of it.

[2020-01-29 06:41] matti commented on #3544
Currently skaffold can be set to build parallel, but images are still pushed sequentially.

in bash pseudo:

for image in a b c d; do
  docker push $image &
done

wait $(jobs -p)

[2020-01-29 07:14] #3537 closed

[2020-01-29 08:55] AndiDog commented on #3172
As an update: I've looked into this, but still have to find some more time to see how it can be done – right now, most code uses the run context namespace, and that would need to be overridden/changed by configuration. Any hints welcome.

[2020-01-29 16:04] balopat commented on #3302
Still happening :(

[code]

[2020-01-29 18:36] lucasmpr opened #3610 "Shouldn't default-repo be applied to cacheFrom directives?"
I'm trying very hard to optimize my DotNet multi-stage build process.

To do that I'm creating three profiles that I must execute in sequence.

Profile 1 - Base images
Profile 2 - Dependency Builder
Profile 3 - Final builder

The idea is to use caching and don't rebuild the whole system every time, and build in parallel things that are not dependent on others.

For each step, I want to use a previ

[2020-01-29 20:25] pisymbol commented on #2068
Where are we with this?

[2020-01-29 21:55] strikeout commented on #2909
@balopat

[2020-01-29 23:05] sjgiri commented on #3039
I resolved this by following instrusctions in https://docs.docker.com/registry/insecure/
cp /etc/docker/certs.d/<registry-fqdn>\:<port>/domain.crt /usr/local/share/ca-certificates/<registry-fqdn>\:<port>.crt
update-ca-certificates

[2020-01-30 09:47] #3482 closed

[2020-01-30 16:08] petr-buchin commented on #3566
@balopat below is my explanation of where this causes an issue for our company.

We use Skaffold for development environment in k8s.
Basically we have the same environment for dev, qa, staging and prod environments.
We also use the same Dockerfiles for all environments.

We also have one legacy repository, which uses gulp to rebuild static assets at runtime when code changes (this applies only for

[2020-01-30 16:13] matthewmichihara opened #3613 "Can `skaffold fix` take a flag to specify which schema version to transform to?"
We have a few `skaffold.yaml` files at version `skaffold/v1beta15`. We want to transform them to `skaffold/v1`, but there is currently no way to do this with `skaffold fix` since it will currently transform the files to `skaffold/v2alpha2` (latest).

Perhaps something along the lines of:
`skaffold fix --filename=skaffold.yaml --version=skaffold/v1`

[2020-01-30 17:00] briandealwis opened #3614 "Skaffold should provide a stopEvent"
When Skaffold is started, it provides a start-event (though not programmatically identifiable):

[code]

But there's no explicit tear-down event.  It would be useful for any clients to differentiate between the socket being dropped for some reason (unlikely as it is) vs Skaffold being stopped.

[2020-01-30 19:34] tejal29 commented on #3613
@matthewmichihara This is possbile by adding a flag [here](https://github.com/GoogleContainerTools/skaffold/blob/master/cmd/skaffold/app/cmd/fix.go#L39) and then adding a new function `upgradeToVersion` similar to `upgradeToLatest` like [here](https://github.com/GoogleContainerTools/skaffold/blob/dd9fbdbdb559db67c7dc66bf33b781d22b5bae46/pkg/skaffold/schema/versions.go#L110)

[code]

[2020-01-30 19:57] tejal29 commented on #3610
@lucasmpr, thank you filing this issue.

IIUC, `restore:latest` is one of the images built by skaffold in another profile?
You used the `--default-repo` flag when building `restore:latest` in previous `skaffold build` command.
e.g.
`skaffold build --default-repo=gcr.io/test -p build-restore`
The built image was `gcr.tio/test/restore:latest`

Now you want to use the built image as `cacheFrom` value

[2020-01-30 20:57] lucasmpr commented on #3610
Hello tejal, let me explain a little bit more what I'm trying to do.

a) I have one big repo with multiple services. I have a global dockerfile that does the following:
   1) Builds the base image (base)
   2) Builds the remote dependencies image (restore) (it is the same for all images)
   3) Copy the local dependencies, if any of them have changed (dependency_builder)
   4) Builds the project

W

[2020-01-30 22:06] tejal29 opened #3615 "release v1.3.0"
Tracking issue for v1.3.0

[2020-01-30 22:19] balopat commented on #3468
This should be relatively easy to implement.
We can add a `skipGcpCredentials` flag to `build.artifact.kaniko`.

[2020-01-31 00:19] tejal29 opened #3617 "Release process broken."
### Expected behavior
On a release PR, like #3616 Travis test should pass.

### Actual behavior
On release PR, `./hack/check-samples.sh` script failed

e.g:  https://travis-ci.com/GoogleContainerTools/skaffold/jobs/282115609

This is due to recent PR https://github.com/GoogleContainerTools/skaffold/pull/3539

### Workaround
Change release process to
1. Create release branch say release-1.3
2. Crea

[2020-01-31 00:29] #3615 closed

[2020-01-31 03:08] briandealwis opened #3618 "Skaffold YAML reference page broken"
The [skaffold.yaml reference page](https://skaffold.dev/docs/references/yaml/) is broken.  It appears to be related to the update of lit-html in #3466

The code is breaking at line 110:
https://github.com/GoogleContainerTools/skaffold/blob/650ed4ba0c8992421f27e8aee3561ebad8bddf2a/docs/content/en/docs/references/yaml/main.js#L114-L116

`value` is `"."` from the `default` value of the `KustomizeDepl

[2020-01-31 03:32] balopat commented on #3618
Thank you for the analysis, @briandealwis! There was a kustomize change (https://github.com/GoogleContainerTools/skaffold/pull/3585) that went in _after_ the lit-html change that changed the type of kustomize paths to array of strings from string. I believe the issue is with the default value setting there.

[2020-01-31 03:52] bukowa opened #3619 "skaffold init - loads all files to memory"
### Expected behavior
Big file is not loaded into memory.

### Actual behavior
Big file is loaded into memory.

### Information
Given a folder with 12GB file, `skaffold init` hangs loading that file into memory.

- Skaffold version: v1.2.0

### Steps to reproduce the behavior

1. Skaffold init.
2. Skaffold loads big file into memory.

[2020-01-31 04:20] #3618 closed

[2020-01-31 05:38] balopat commented on #3619
Thanks for opening this! I think that's a great idea to prefilter parsing logic to a certain file limit.

[2020-01-31 07:23] saphoooo commented on #3319
I ran through the same issue, but:

It's working with path:

[code]

The `config.json` file is in the same directory than `skaffold.yaml`

It's still not working with secretName, even if I followed what is documented in the code:

[code]

[code]

[code]

[2020-01-31 07:27] saphoooo commented on #3319
I have also tried to create the secret this way:

[code]

But it does work.

[2020-01-31 08:19] saphoooo commented on #3319
I finally make it works:

[code]

I created the secret this way:

[code]

I hope it helps.

[2020-01-31 08:20] bukowa opened #3621 "skaffold dev - deployment fails, but no events"
### Expected behavior
I can see following message after "skaffold dev"
[code]
### Actual behavior
[code]
### Information

- Skaffold version: v1.3.0
- Operating system: Windows 10
- Contents of skaffold.yaml:
[code]
### Steps to reproduce the behavior
[code]
2. `skaffold dev`

[2020-01-31 08:53] kchygoe opened #3622 "skaffold docker image doesn't have skaffold binary"
### Expected behavior
[code]
should correctly run.

### Actual behavior

[code]

### Information

- Skaffold version: v1.3.0
- Operating system: Linux(ubuntu16.04), circle-ci
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. `docker run -ti --rm gcr.io/k8s-skaffold/skaffold:v1.3.0 skaffold`

[2020-01-31 08:58] michalkosmowski commented on #3622
I was just about to submit this one 👍
Not sure if related but the image virtual size increased from 313.3 MB (v1.2.0) to 839.2 MB (v.1.3.0)

[2020-01-31 10:38] tvvignesh commented on #3622
CC @tejal29 @balopat

Hi. Facing the same issue on my end as well. The CI pipeline fails with the error `skaffold: command not found` Even tried upgrading the yaml file with `skaffold fix` just to make sure things are consistent as per the new verison.

![Screenshot from 2020-01-31 16-06-14](https://user-images.githubusercontent.com/1165845/73532892-a03be980-4443-11ea-9be6-a7d10d2530bf.png)

[2020-01-31 15:20] ktarplee opened #3623 "Documentation is wrong for portForward"
### Expected behavior
[online docs](https://skaffold.dev/docs/references/yaml/) should show that portForward contains an array (just like "profile").

### Actual behavior
Instead the docs show that portForward is a dict.  It is missing the prefix "-" to show it is an array.

### Information

- Skaffold version: 1.2.0

[2020-01-31 15:27] matthewmichihara commented on #3613
Good to know. Context here is that for Skaffold files in https://github.com/GoogleCloudPlatform/cloud-code-samples or in snippets provided by the IDE, we don't always want to upgrade to the latest alpha version for stability reasons, but also want to be able to use the latest Skaffold binary. I can see this being more than a one time thing.

I think there is some debate around whether we should al

[2020-01-31 16:13] ToucanBran opened #3624 "Cannot Prune Image, Being Used by Running Container"
### Expected behavior
Exiting out of skaffold dev with --no-prune=false --cache-artifacts=false options set should prune images

### Actual behavior
Received a warning message:
[code]
### Information

- Skaffold version: 1.3
- Operating system: Windows 10
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Run a k8s cluster
2. For a given project. run `skaffold dev --no-p

[2020-01-31 18:09] balopat commented on #3622
We are looking at this ASAP.

[2020-01-31 18:27] balopat commented on #3622
In the meantime please rollback to `v1.2.0`.

[2020-01-31 20:00] tejal29 commented on #3622
@kchygoe @michaelbeaumont and @tvvignesh v1.3.1 release is coming! soon

[2020-01-31 20:06] tejal29 commented on #3622
This now fixed.
I verified the `latest` and `v1.3.1` skaffold image and both have the `skaffold` binary.

[code]

[2020-01-31 20:06] #3622 closed

[2020-02-01 03:07] nagasitaramthigulla commented on #3624
@ToucanBran
you need to stop the running container and remove it before pruning the image.

[2020-02-01 04:30] ToucanBran commented on #3624
So if I'm developing and I run skaffold dev, I have to run a separate command to kill the container and then I can press Ctrl+c to have skaffold clean up everything? Seems kind of weird...

[2020-02-01 07:11] tvvignesh commented on #3622
@tejal29 @balopat That was fast! You guys are doing an awesome job with Skaffold. Have made my job with CI very easy. Thanks

[2020-02-01 13:06] tvvignesh commented on #891
@balopat I get the same error when re-deploying a job which was already deployed using `skaffold run` (I guess this was fixed for `skaffold dev`). Looks like someone else is also getting the error - mentioned here: https://github.com/GoogleContainerTools/skaffold/pull/940#issuecomment-547389706

Screenshot below:
![Screenshot from 2020-02-01 18-35-09](https://user-images.githubusercontent.com/1165

[2020-02-02 06:31] kchygoe commented on #3622
Thank you for the quick work! It works fine.

[2020-02-02 15:04] sbueringer opened #3630 "Make duct-tape repo configurable for cluster without gcr.io access"
Hi,

we're running our clusters without direct internet access. Therefore we cannot just use `gcr.io/gcp-dev-tools/duct-tape/*` duct-tape images. It would be nice if the repository would be configurable via skaffold.yaml.

### Expected behavior

duct-tape image repository should be configurable

### Actual behavior

I couldn't find a configuration option for this. And looks like it's hard-coded he

[2020-02-03 12:58] dgageot commented on #3630
cc @briandealwis

[2020-02-03 14:07] dgageot opened #3633 "./hack/new_version.sh requires additional manual steps"
The script used to prepare a new version used to produce code that could be committed as is.  This is no longer the case.  One has to fix a few schema upgrade tests and also modify the version in every `skaffold.yaml` under `pkg/skaffold/initializer/testdata`

cc @balopat

[2020-02-03 14:08] briandealwis commented on #3630
Duplicate of #2679

I'll bump the priority of #2679

[2020-02-03 14:08] #3630 closed

[2020-02-03 14:09] dgageot commented on #3633
`integration/examples/kustomize/skaffold-kustomize-args.yaml` also needs a manual update

[2020-02-03 14:24] dgageot commented on #3617
@tejal29 I believe `./hack/check-samples.sh` does its job of checking samples versus the latest released version. However, `go run ./hack/versions/cmd/latest_released/version.go` should take into account the version that is in the process of being pushed and released.

[2020-02-03 15:16] briandealwis commented on #3472
Since you're already rewriting your pod definition to invoke Delve, and presumably your container includes dlv, perhaps `debug` should just skip the initContainer entirely.

[2020-02-03 17:59] sh0rez commented on #3498
Hey there! I'm a maintainer of Grafana Tanka and was pointed here by some interested users.

Tanka includes the `tk show` command, which renders Kubernetes YAML resources, all other tasks (applying, deleting, etc.) is delegated to `kubectl`. So I guess it could be quite straightforward to integrate both projects, as a lot of the current `kubectl` deployer could be re-used.

I'd offer some help on

[2020-02-03 18:15] tejal29 commented on #3617
@dgageot yes we discussed about changing the `version.go` to look for latest version in the `config.go` like your PR does.

[2020-02-03 18:46] tejal29 commented on #3621
@bukowa Can you use the `--status-check` flag with `skaffold dev`.

[2020-02-03 18:48] tejal29 opened #3638 "Unmark `--status-check` flag as hidden"
Related to #3621
One ask/improvement from skaffold survey was to wait for deployments to stabilize.

[2020-02-03 19:42] tejal29 commented on #3624
@ToucanBran `--no-prune=false` should not prune images. I am able to reproduce your issue on getting started example.

[code]

[2020-02-03 19:59] briandealwis commented on #3545
On the authorization front: we sometimes see users hit authorizations when using the Cloud Code samples.  For example the [`java-hello-world`'s skaffold.yaml](https://github.com/GoogleCloudPlatform/cloud-code-samples/blob/master/java/java-hello-world/skaffold.yaml) specifies a "naked" image ref with no repository:
[code]

If the user tries to run this example to a non-local cluster and without pro

[2020-02-03 20:14] tejal29 commented on #3624
@ToucanBran Sorry, i read the `--no-prune` flag wrong.
As per your command the images should be pruned. Looks like there is a race condition between the local docker daemon and it still thinks the pod is using the image.

[2020-02-03 22:16] tejal29 commented on #3624
ok. i think i found how to reproduce this error on master:

1. Run `generate-pipeline` example
[code]
2. Now, run the following
[code]
3. Run
[code]
4. You shd see following line in the output
[code]
4. Keep this app running.

5. Open another terminal and run
[code]
6. Now go to `examples/getting-started`
[code]
7. Run `skaffold dev` and hit control C
[code]
8. You will see docker container for `g

[2020-02-03 22:45] ToucanBran commented on #3624
@tejal29 I do not, just the single `skaffold dev` running as far as I know. I'm not using minikube if that makes a difference. I'm on a windows machine using Docker Desktop

[2020-02-03 22:47] tejal29 commented on #3624
Thanks @ToucanBran. Can you run `docker ps | grep fa02b2a91420` ?

[2020-02-03 23:01] ToucanBran commented on #3624
do you want me to run your instructions above or run it with my app?

[2020-02-04 04:05] GavinOsborn opened #3642 "helm: error decoding parsed yaml: Object 'Kind'..."
### Expected behavior
When using the Helm deployer errors are only printed to the console if they break the deployment.
### Actual behavior
When using the Helm deployer we always have a YAML parser error printed to the console.

### Information
This does not appear to affect the deployment but it does add an awful lot of noise to the console as it dumps out the entire Helm release definition.

Tur

[2020-02-04 07:33] bukowa commented on #3621
@tejal29 i had no chance to try again, do you still need any info? Thanks for the pull request!

[2020-02-04 11:37] petarManolov commented on #3565
HI @balopat I've updated the original issue with my docker file contents.

[2020-02-04 23:04] tejal29 commented on #3642
hey @GavinOsborn Sorry. we certainly can do a better job at parsing helm release information output

[2020-02-04 23:07] #3617 closed

[2020-02-04 23:54] nkubala commented on #3109
@dahovey glad you were able to dig into this issue, and sorry there's nothing we can really do for you here! going to close this now as it's not a skaffold specific issue.

[2020-02-04 23:54] #3109 closed

[2020-02-05 03:06] tuananh170489 commented on #3490
@nkubala I tried with `getting-started` example, but not streamed log to stdout, it's stopped at `Waiting for change` state.
I used `skaffold dev`

[2020-02-05 09:22] loripino21 opened #3644 ""patches" report "invalid path" after update"
### Expected behavior
"patches" operation in profile working correctly as always

### Actual behavior
After updating Cloud Code for IntelliJ to 20.1.3 and skaffold to 1.2.0, "patches" reports error:
level=fatal msg="creating runner: applying profiles: applying profile tag-as-latest: invalid path: /build/tagPolicy"
 Tried with all possible combinations of trailing and leading slashes.

### Informat

[2020-02-05 09:45] loripino21 commented on #3644
The reason is build section of ffmpeg-dev lacks section "tagPolicy".
I removed tagPolicy from path and added it to "value" section.
It seems that old skaffold versions didn't enforce some checks that new versions do.

[2020-02-05 09:45] #3644 closed

[2020-02-05 14:08] balchua commented on #2142
Is there a windows binary? 😁

[2020-02-05 20:37] aboyett commented on #2142
I'm not @ktarplee but I've got CI setup over on my Gitlab account[1] to cross-build binaries for linux-amd64, darwin-amd64, and windows-amd64. Note, the Windows binaries are untested as I don't develop on Windows.

v1.3.1-helm3.agb1 is the latest state of @ktarplee's patches against v1.2.0 forward ported to v1.3.1

[1] https://gitlab.com/aboyett/skaffold/-/releases

[2020-02-05 22:11] balchua commented on #2142
@aboyett thanks, i will give this a try. 👍

[2020-02-05 23:28] udanpe commented on #3319
Not work for me too
Skaffold version: v1.3.1
Operating system: macOS Catalina 10.15.2
Gitlab registry

[2020-02-06 01:30] balopat opened #3647 "panic with --status-check=true"
As I was testing this on https://github.com/dgageot/container-tools/tree/master/hexagons. It started up fine first with  `skaffold dev --port-forward --status-check=true`, but then I got an panic when changed a line in Title.java:

[code]

[2020-02-06 02:40] tuananh170489 opened #3648 "Skaffold dev - not streamed log to stdout"
### Expected behavior
Logs get tailed after skaffold dev|run
### Actual behavior
No logs are tailed
### Information

- Skaffold version: version 1.3.1
- Operating system: MacOS Mojave 10.14.6
- Contents of skaffold.yaml:

[code]
- Contents of demo.yaml:
[code]

### Steps to reproduce the behavior

1. clone [getting-started](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/gett

[2020-02-06 02:41] tuananh170489 commented on #3490
Redirect to [#3648 issue](https://github.com/GoogleContainerTools/skaffold/issues/3648)

[2020-02-06 02:42] #3490 closed

[2020-02-06 03:07] jahredhope opened #3649 "[Feature Request] Support deploying image names without digest (or an arch specific digest)"
### Expected behavior

Skaffold would be able to be configured to set the containers image to either the image name without a digest, or the correct digest for the architecture.

### Actual behavior

If a custom command is used to build a multi-architecture set of images and successfully deployed there will be multiple digests. Both local and deployed environments will work correctly as long as th

[2020-02-06 08:40] grusirna opened #3650 "skaffold init --skip-build error"
### Expected behavior
generate skaffold.yaml file

### Actual behavior
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x513b3a5]

goroutine 1 [running]:
github.com/GoogleContainerTools/skaffold/pkg/skaffold/initializer.(*builderAnalyzer).enterDir(0x0, 0x5584c75, 0x1)
        <autogenerated>:1 +0x5
github.com/Goog

[2020-02-06 17:01] lboclboc commented on #1156
I still see this error with bleeding edge skaffold version 7b4da99.
I am trying to deploy jenkins with helm and it has its image specified as key master.image, like:
      values:
        master.image: registry2:443/atlas-ssvjenkins
      imageStrategy:
        helm: {}

I get the exact same error as the original reporter.

[2020-02-06 17:05] lboclboc opened #3652 "Helm deployment with image name not at top level of the values structure."
When trying to deploy jenkins via skaffold and helm I get this go-error:
[code]

I am trying to deploy jenkins with helm and it has its image specified as key master.image, like:
[code]
### Expected behavior
If should deploy helm with proper image tags.

### Actual behavior
It deploys the jenkins helm with double tags on the image.

### Information

- Skaffold version 7b4da99.
- Ubuntu 18.04
- Con

[2020-02-06 18:11] balopat opened #3653 "flake: TestRunGCPOnly/Google_Cloud_Build_with_Kaniko"
Maybe related to #3302?

[code]

[2020-02-06 18:15] matthewmichihara opened #3654 "`skaffold init --analyze` is not returning full builder list"
### Expected behavior
When running `skaffold init --analyze`, I expected to receive all of the possible builders (jib, docker) that could be used, ideally in some sorted order.

### Actual behavior
Only Jib builders were returned, even though this project has Dockerfiles in the `frontend` and `backend` directories.

It looks like when a builder is detected, the other possible builders are ignored:

[2020-02-06 18:28] jonjohnsonjr opened #3655 "FR: Flag for new skaffold init --analyze format"
I'd love to be able to opt into the new `skaffold init --analyze` format _without_ opting into either jib or buildpacks support. Right now, migrating to the new format is coupled with adding new behavior, which makes staging these changes tough.

## Current behavior
[code]

[code]

## Desired behavior

Something like --XXenableNewInit would enable this:
[code]

[2020-02-06 18:28] medyagh opened #3656 "add integration tests with minikube"

[2020-02-06 18:48] jorgex1 commented on #1759
This would be really useful :heart:

[2020-02-06 18:59] balopat commented on #3655
Sounds good, I can add this quick.

[2020-02-06 19:01] TadCordle commented on #3654
Things might have changed since I last worked on this, but this might be because of an optimization to avoid redundant calls out to Jib. I think when init sees a pom.xml with Jib configured, it assumes there won't be Dockerfiles within the subdirectories (because it expects the project to be built with Jib) and doesn't search any further. But, I'm not sure if that's a good idea.

[2020-02-06 19:04] balopat commented on #3654
I think so @TadCordle - we'll have to narrow the logic for that filtering to jib modules - i.e. if I noticed a jib module we shouldn't look for other jib builders deeper - however there could be other builders in subdirs of java projects.

[2020-02-06 19:29] matthewmichihara opened #3661 "FR: Can `skaffold init --force` automatically select a builder if there are multiple builders and a single image detected?"
skaffold version: 1.3.1

**Update:**
For example, I would like the following scenario to succeed in https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/golang/go-hello-world:

[code]

In the event that there are multiple candidate builders and a single image detected, is it feasible for Skaffold to choose them for me according to some heuristic when `--force` is used?

We could p

[2020-02-06 21:21] #3650 closed

[2020-02-06 21:27] #3647 closed

[2020-02-06 22:02] foobarbecue commented on #3563
I have the same problem. It makes user-defined port forwarding completely useless.

skaffold.yaml:

[code]

Result is sometimes:
[code]
and other times:
[code]

[2020-02-06 23:32] chanseokoh commented on #2089
This is closed a dup of #3220. Please follow #3220.

[2020-02-06 23:39] chanseokoh commented on #3220
Recent Tekton releases start to [use both a tag and a digest](https://github.com/cri-o/cri-o/issues/2351#issuecomment-583158833), and they don't work for some platforms like the new OpenShift 4.x which uses cri-o. To support them, Tekton decided to provide `notags` yamls, which I think makes a lot of sense. It's likely that you just can't use Skaffold with OpenShift in this state.

[2020-02-07 02:46] briandealwis commented on #3649
@jahredhope could you attach your `custom-build.sh`?

[2020-02-07 05:05] jahredhope commented on #3649
@briandealwis I've **custom-build.sh** added to the description.

[2020-02-07 06:43] grumps commented on #2909
PR #3663 supports the "extended" patches.

[2020-02-07 08:02] emichaf opened #3664 "skaffold push"
I would like to only build and push a Docker Image, and later deploy!

How can this be done, can see build, but not push option?

[2020-02-07 10:43] iirekm opened #3665 "Jib 'cache checking' is too slow when there's many modules (eg microservices)"
Many times ./gradlew ... is called - this is overkill even with Gradle daemon!

Much faster is running Jib manually:
[code]

Single call to ./gradlew should be enough for whole build.

[2020-02-07 11:43] mtaylor567 opened #3666 "File sync with persistent volumes"
This is for local development using minikube

I have an apache image. I have to use COPY in the Dockerfile to sync the files from my local dev to the apache pod.

What I would I like to do is have apache running as a service and point to a persistent volume where the files are stored (I haven't set this up yet but I think this is acheivable)

Is it possible to configure skaffold to sync from my lo

[2020-02-07 11:44] paymog commented on #3171
I'm seeing this happen with deployements too

[2020-02-07 11:46] paymog commented on #3171
@dgageot I can confirm the the force flag fixes this for me with `run` on v1.3.1

[2020-02-07 14:57] #3666 closed

[2020-02-07 18:41] balopat opened #3668 "enable skaffold to work on minikube profiles"
Currently, if `kube-context` is pointing to a minikube profile that is not `minikube`, bunch of things will fail:
 - we don't detect that this is a minikube profile
 - even if we would, we'd call `minikube docker-env` without profile

My recommendation would be:
- decide if the api-server URL is local or not (192.168.0.0/16, 172.0.0.0/24)
- if not local, assume remote
- if local - check if minikub

[2020-02-07 18:43] balopat commented on #3665
Thanks for the issue!
Can you tell us a bit more about this? Is this happening when you call `skaffold dev` and rebuild on file changes?

cc @GoogleContainerTools/java-tools

[2020-02-07 18:51] iirekm commented on #3665
During scaffold run. For every microservice a separate ./gradlew is started, which is too costy. I even confirmed this using strace.

[2020-02-07 18:53] loosebazooka commented on #3665
So there was a bug on this, but it should be fixed: https://github.com/GoogleContainerTools/skaffold/pull/3483

What version of skaffold are you on?

[2020-02-07 19:01] balopat commented on #3664
Hi @emichaf, `skaffold build` should build & push!
Push behavior depends on your builder setup. If you don't build locally (googlecloudbuild, or on cluster), skaffold always pushes. If you build locally - `build.local.push=true` has to be set. This is automated when the kubecontext is not local (not minikube/docker-for-desktop/kind/etc.)

[2020-02-07 19:57] #3655 closed

[2020-02-07 20:57] #3624 closed

[2020-02-08 15:14] paolomainardi commented on #2492
Maybe I am missing something, but should’t be easy to just using an hostpath volume as docker does for local development ?

[2020-02-08 19:09] demisx commented on #3387
I want skaffold to clean up the deployed helm v3 releases similar to kubectl resources when I hit `[Ctrl]+C`. What can I do? Currently it fails with "unknown flag: --purge" error and we have to manually delete each helm release before we can run skaffold again. Very inconvenient.

[2020-02-08 19:23] demisx commented on #1706
I am experiencing a similar problem if I am trying to run skaffold when local cluster has deployed releases running from the previous skaffold run:

[code]

I have to manually `helm del` all releases for it to work. Here are my versions on MacOs 10.15.3:

[code]

[code]

[2020-02-10 05:12] nickychow commented on #2142
I personally don't understand why it's so difficult for the offical upstream to get helmv3 supported. @ktarplee A big shout out for your fork. Thanks for your great work.

[2020-02-10 08:06] Gsantomaggio opened #3672 "unable to execute kubectl apply kube-inject parameter"
I have a question about kube-inject:
let's suppose I have:
[code]
Now I'd need to execute something like:
[code]

I tried to pass parameters to the `apply`  without success.

Is there a way to do that?

[code]

( Sorry for the issue, but I couldn't find a way to solve the problem)

[2020-02-10 08:10] emichaf commented on #3664
Ok, In my CI pipeline I would like to build the image and then run some tests and when tests passed perform the push.

[2020-02-10 14:01] douglascamata commented on #2162
I was also surprisingly affected by this issue. Reading [the official documentation about the tagging strategies](https://skaffold.dev/docs/pipeline-stages/taggers/) gives the impression that sha256 will put a digest in the image tag and it doesn't. Can the official docs be update to avoid this confusion until the situation is fixed?

[2020-02-10 19:31] mbow commented on #2273
@aksharpanchal are you also hitting issues with buildkit in skaffold with ssh and private repos ?
if so did you ever solve that ? ssh was working until trying new buildkit options, just wondered if you noticed if i've misunderstood something.
[code]
examples
[code]
or moutning go mod cache to share when doing a concurrency!=1 build
[code]

[2020-02-10 22:41] #3654 closed

[2020-02-11 08:33] ErwinSteffens commented on #3438
Any update v3 support? We love the tool, but this is a serious hurdle in adopting it.

[2020-02-11 10:43] Gsantomaggio commented on #3672
Per discussion on the [group](https://groups.google.com/forum/#!topic/skaffold-users/26K2llVkcn4)

[2020-02-11 14:07] golgoth31 commented on #3156
Hi, sorry to be (very) late, this is working as expected with the lastest release.

[2020-02-11 15:14] balopat commented on #3672
Hi @Gsantomaggio,

For `skaffold dev` it is not possible today - I believe #1441 or https://github.com/GoogleContainerTools/skaffold/issues/2277 would help you with this.

If you are using skaffold in CI/CD pipeline - you could use `skaffold render` and kube-inject into the result of it!

[2020-02-11 19:42] mekansm commented on #1318
Would this cover other template fields (example: buildArgs)?  Currently, we must replicate your logic for gitCommit tag policy in order to inject the GIT_COMMIT + dirty flag into our images.

Why do we do this?  It makes it easier when someone to reports an issue to track down what version they are seeing it in.  We like to shove it in the footer of a web page/header in our dev and test environmen

[2020-02-11 20:15] corneliusweig commented on #1706
@demisx This looks like an unrelated problem. Can you open a separate issue with a minimal example to reproduce the problem?

My guess is that in the second skaffold run helm tries to patch the resource created by the first run. But to be sure, we need reproduction.

[2020-02-11 20:51] balopat opened #3678 "skaffold init shouldn't leave the user in an infinite loop of suggestions"
### Expected behavior

* `skaffold init` shouldn't leave the user in an infinite loop of suggestions
* `skaffold init` should have a clearly documented way of operating in a prompt-free way

### Actual behavior

`skaffold init` leaves the user in an infinite loop of suggestions

- skaffold.yaml exists
- skaffold init
FATA[0000] pre-existing skaffold.yaml found (you may continue with --force)
- ska

[2020-02-11 20:54] balopat commented on #3678
Implementation suggestion:

Limit `--force` to only file overriding behavior, introduce `--quiet` == `--force + no prompts` - which would behave the same as `--force` today.

[2020-02-11 22:16] corneliusweig commented on #1766
@cabrinoob I think Skaffold behaves as expected in your case. You simply have to adapt your setup. Basically, you have two options:

1. Build the `.js` files from the `.ts` files outside the container and sync the `.js` files into the conainer (this is what you described). For that, you should consider something like `tsc-watch`.
2. Sync the `.ts` files into the container and run a development too

[2020-02-12 03:31] GavinOsborn opened #3679 "Port Forwarding does not work with Helm deployer on Windows."
### Expected behavior
Running `skaffold dev --portforward` or `skaffold debug --portforward` should open up ports to any deployed services then available over localhost.

### Actual behavior
The skaffold output claims that the port has been open.
Any attempt to interact with my service over localhost fails to connect.

### Information

- Skaffold version: version 1.3.1
- Operating system: Windows

[2020-02-12 03:33] GavinOsborn commented on #3679
Following previous advice to [scan for local ports](https://stackoverflow.com/questions/48198/how-can-you-find-out-which-process-is-listening-on-a-port-on-windows/48199#48199) I don't see anything to suggest ports are open.

[2020-02-12 03:34] GavinOsborn commented on #3679
Update:
Team members using a Mac suggest that port forwarding works fine for them.
Some light testing of port forwarding using the kubectl deployer appears to work on Windows.

[2020-02-12 08:50] mtaylor567 commented on #2583
I have this problem too, Is it possible to turn off image rebuilds for dev? I only need to sync the files

[2020-02-12 09:51] Gsantomaggio commented on #3672
Thank you @balopat for the suggestions.

I decided to create a dedicated namespace and enable the `namespace auto-injection` in istio during the developing, so I can use `skaffold dev`

It basically solves the issue, so I can close the issue

[2020-02-12 09:51] #3672 closed

[2020-02-12 11:26] lightoze commented on #3219
I've encountered a similar problem on any subsequent execution of "skaffold run", I think this is because Skaffold attempts to update volumeClaimTemplate labels (e.g. run-id).

Also this is somewhat related to https://github.com/kubernetes/kubernetes/issues/68737

[2020-02-12 15:14] vlindvall commented on #980
Was there ever any progress made on this?
I'm trying to find a way to make sure my build always pulls the latest version of the base image but am having trouble doing so.
I'm looking for the skaffold equivalent of `docker build --pull`

[2020-02-12 15:45] lightoze commented on #3457
@balopat @nkubala For many projects Jib plugin makes a decent job but there are special use cases. I've encountered one of them with a module utilizing generated resources. Current implementation has two drawbacks:
1.  Jib does not report any inputs of Gradle resource generation task to Skaffold, so rebuild is not triggered during "skaffold dev" and caching is not working correctly.
2. Jib reports

[2020-02-12 16:24] loosebazooka commented on #3457
@lightoze is your generated resources folder in the build directory?

[2020-02-12 18:15] lightoze commented on #3457
@loosebazooka yes it is in build directory. Also generated sources probably will cause the same problem.

[2020-02-12 18:22] loosebazooka commented on #3457
@lightoze I think this is better solved on the jib side -- in the linked proposal: https://github.com/GoogleContainerTools/jib/pull/2290

[2020-02-12 18:48] lightoze commented on #3457
@loosebazooka ultimately either way is fine for me. Having it on jib side is much more flexible, though.

[2020-02-12 18:51] loosebazooka commented on #3457
I would probably actually prefer it happens on the jib side.

[2020-02-12 20:51] loosebazooka commented on #3457
@lightoze any chance you can try out this branch? https://github.com/GoogleContainerTools/jib/pull/2292

[2020-02-12 20:55] bitsofinfo opened #3681 "Is it possible to run a custom script before a kaniko image build?"
Is it possible to run a custom script before a kaniko image build?

I have need to generate a Dockerfile right before kaniko runs

[2020-02-13 09:44] iirekm commented on #3665
The recent version, 1.3.1. For 4 Spring Boot modules, Skaffold runs ./gradlew at least 4 times.

[2020-02-13 17:40] nkubala commented on #2068
I don't think this ever materialized into anything. @ljani are you interested in submitting a PR? we probably don't have time on our end right now but we'd be happy to accept a contribution.

[2020-02-13 17:46] nkubala commented on #3661
the main issue here is that even if we weren't using buildpacks, there would still be two Docker builders and two images, and it's hard to be totally sure which one builds which. it's possible we could try and make a "best guess" using string matching or some other similar heuristic - to the human eye, it's obvious that `src/backend/Dockerfile` builds `go-guestbook-backend`, and `src/frontend/Dock

[2020-02-13 17:52] nkubala commented on #3668
surprised we didn't run into this one sooner. where did you get `172.0.0.0` from (just curious)? isn't is possible that someone could have proxied their apiserver locally, and we would fail by assuming it's local when it actually isn't?

in general though this is an improvement on what we're doing now.

[2020-02-13 18:06] nkubala commented on #1318
I think the idea is we would expose them as process-local environment variables which you could use anywhere.

don't think our team has time to prioritize this one, but contributions are welcome!

[2020-02-13 18:59] alexgalkin opened #3685 "Skipping deploy due to sync error: copying files: didn't sync any files"
### Expected behavior

Files should be synced to running container

### Actual behavior

Files are not updated; receiving "Skipping deploy due to sync error: copying files: didn't sync any files" warning message

### Information

- Skaffold version: v1.3.1
- Operating system: macOS Catalina 10.15.3 (the latest)
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. https://g

[2020-02-13 19:05] alexgalkin commented on #3685
extra notes:
[code]

[2020-02-13 20:24] loosebazooka commented on #3665
@iirekm we treat each module as its own build. But it's also not clear to me how running using a custom buildcommand is faster, can you elaborate on that?

[2020-02-13 20:27] ljani commented on #2068
Sorry, no. I abandoned my endeavour and moved back to `amd64`.

[2020-02-13 21:40] etanshaul opened #3686 "Skaffold init --analyze output not ideal for parsing by clients"
Tested with Skaffold version 1.2. I assume this behavior is still carried forward.

`skaffold init --analyze --XenableJibInit` returns the following output:

[code]

Notice the new version / upgrade message after the JSON. This makes it inconvenient for clients trying to parse the json output of this command. Is there a way to suppress this that I may have missed?

[2020-02-13 21:52] etanshaul commented on #3686
Update:

If I omit the `--XXenableJibInit` flag, then the version update string is no long printed.

[2020-02-13 23:25] balopat commented on #3668
I know...maybe I'm missing something?

[2020-02-14 02:42] TBBle commented on #2142
To deliver the feature to upstream, either the people who've created the patches need to put them up for a PR, or someone has to redo the work from scratch. Which one will happen really depends on whether the original patches were signed-off sufficiently and if anyone's willing to actually create and shepherd the PR, and whether the changes actually match the upstream design or other requirements,

[2020-02-14 05:12] iirekm commented on #3665
I have no idea why it's faster, but indeed it was faster on my machine:

[code]
x4 times was faster than running the jib's cache checks x4 times

[2020-02-14 09:47] Gary-Mansell commented on #2142
@TBBle

See [here](https://github.com/GoogleContainerTools/skaffold/pull/2900#issuecomment-543980451) for the PR that @ktarplee had originally opened with his changes and the closing comment referencing a new deployer for v3.

[2020-02-14 13:37] jtag05 commented on #2245
Has any progress been made on this? It seems rather trivial to implement but has a decent performance implication during development.

[2020-02-14 13:41] TBBle commented on #2142
Ah, thank you. I didn't realise closed PRs don't show up in the "linked PR list" on the right. >_<

[2020-02-14 15:22] etanshaul commented on #3686
we are working around this for now by setting the SKAFFOLD_UPDATE_CHECK env var:
https://github.com/GoogleCloudPlatform/cloud-code-intellij-internal/pull/1303

[2020-02-14 15:45] loosebazooka commented on #3665
I'm not sure I understand what you mean by cache checks? Can you provide your `skaffold.yaml` with jib configured and with your custom builder configured on 4 different artifacts?

[2020-02-14 16:51] asegretto commented on #3210
I agree with ridakaddir.  "skaffold always deploy the first generated image by jib."  When skaffold builds and pushes with jib to the latest tag in my local registry, the sha shows the image unchanged.  If I do a manual mvn jib:build on the same code then the local registry shows the updated sha.

The only workaround that I have found is to do a minikube delete and then minikube start.  This delet

[2020-02-14 17:18] iirekm commented on #3665
`deploy/skaffold.yaml`:
[code]
And then:
[code]
And the same for every module.

[2020-02-14 17:38] loosebazooka commented on #3665
I don't actually see how running `gradlew` on your own is any faster? In order to inject the `$IMAGE` param correctly for each sub-project, they need to each be run as separate invocations. Perhaps it's not clear to me what you're suggesting. Could you describe in some extended detail how you expect this work?

[2020-02-14 20:19] bitsofinfo commented on #3681
https://kubernetes.slack.com/archives/CABQMSZA6/p1581538776128400

[2020-02-14 20:21] bitsofinfo opened #3688 "Feature: Support executing arbitrary commands before build/deploy steps etc"
I have a need to run a custom command just prior to my `build:` declaration. Would be great to have support to execute one or more arbitrary commands prior to the build and deploy steps.

https://kubernetes.slack.com/archives/CABQMSZA6/p1581538776128400

#3681

[2020-02-14 20:45] bitsofinfo commented on #500
this is a deal breaker for me, I can't use my chart which needs nested values

[code]

blows up with `cannot unmarshal !!map into string`

[2020-02-14 21:56] whodevil commented on #3116
any updates on this? I'm still having this issue

[2020-02-14 22:12] bitsofinfo opened #3689 "post helm deploy: panic: runtime error: invalid memory address or nil pointer dereference"
### Expected behavior

After helm deploy completes, I don't get some cli error

### Actual behavior

Go panic

[code]

### Information

[code]
os-x

[2020-02-14 22:14] bitsofinfo commented on #3293
same issue #3689

helm deploys fine, but then skaffold bombs out w/ this panic if you are using azure openid connect based kubeconfig....

azure gets no love!

[2020-02-14 22:14] bitsofinfo commented on #3689
/duplicate #3293

[2020-02-14 22:19] bitsofinfo opened #3690 "question: helm: image [xxx] is used instead... what does this mean?"
My helm deploy works fine, but after helm dumps out the status of all generated pods that were deployed successfully, i get this message.

[code]

If I describe my pod I see that it is indeed using the image `dockerhub.mydomain.com/hhd/my-app:4f205e7-dirty`..... so I don't get whats wrong.

Also this link provides no useful information:

[code]

[2020-02-15 00:15] briandealwis commented on #3668
Would it make sense to look at the corresponding machines interfaces?

[2020-02-15 15:04] udanpe commented on #2282
I tried to run with docker, but this does not work too.
[code]

[2020-02-15 15:13] udanpe commented on #2282
k3d has a registry this may be a solution ```k3d create --help```
<img width="459" alt="Screenshot 2020-02-15 at 17 09 59" src="https://user-images.githubusercontent.com/7540232/74590346-4546ec80-5016-11ea-8f67-4285f8474160.png">

[2020-02-16 07:18] saphoooo opened #3692 "skaffold init --skip-build nil pointer dereference"
Because I use to use buildpack, I don't have Dockerfile in the folder during the `init`

### Expected behavior

A skaffold.yaml file with initial content.

### Actual behavior

[code]

### Information

- Skaffold version: v1.3.1
- Operating system: MacOS 10.15.3 and Unbuntu 18.04

### Steps to reproduce the behavior

1.  Create an empty dir with a deployment.yaml file
2. `skaffold init --skip-buil

[2020-02-16 08:54] maluio commented on #2492
@paolomainardi
Mounting the volume using a hostpath works.
However, I run into a lot of problems due to user id mapping between the user in the container and the user on the host system. There is a way to handle this mapping properly, but it is IMHO non-trivial to set up https://docs.docker.com/engine/security/userns-remap/

In case  I am missing something a nudge into the right direction is highl

[2020-02-16 15:18] base698 opened #3693 "skaffold requires kustomize on path"
### Expected behavior

`skaffold dev` to work without installing kustomize.  `kubectl kustomize` has been available since `kubectl` version 1.14.

### Actual behavior
[code]

### Information

- Skaffold version: v1.3.1
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. any
2. `skaffold dev`

[2020-02-16 15:21] alex-roman commented on #3218
Having the same issue with skaffold+ECR. Tried both `aws ecr get-login --no-include-email` and ecr-credential-helper - both ignored by skaffold.

[2020-02-16 22:29] GavinOsborn commented on #3679
Sorry, realized I didn't link to my fork with the repro:
https://github.com/GavinOsborn/skaffold

[2020-02-17 12:14] pisymbol commented on #2068
How hard would it be? Set GOARCH and type make?

[2020-02-17 14:34] pisymbol commented on #2068
Gave it a shot:

[code]

[2020-02-17 19:02] dahovey opened #3694 "Development requirements, missing `jq` tool?"
### Expected behavior

`DEVELOPMENT.md` should install all dependencies required.

### Actual behavior

`make build` works, but `make test` ends unexpectedly with error:

![image](https://user-images.githubusercontent.com/22330242/74680223-2747cc00-517d-11ea-9c1e-e9d31ceaed93.png)

Required installation using `brew install jq` based on (https://stedolan.github.io/jq/download/)[https://stedolan.git

[2020-02-18 04:37] TBBle commented on #500
@bitsofinfo try:
[code]

Unless those override values *are* used to select a Docker image, in which change change `overrides` back to `values`.

[2020-02-18 04:42] TBBle commented on #500
According to [the docs](https://skaffold.dev/docs/environment/templating/) env-vars are only supported with ``setValueTemplates``, so you might want something like:

[code]

[2020-02-18 07:46] merkushin commented on #3689
Same problem here:

[code]

Versions:
[code]

[2020-02-18 07:53] merkushin commented on #3047
Experience same trouble:
https://github.com/GoogleContainerTools/skaffold/issues/3689#issuecomment-587324862

Error appears after deploy.

[2020-02-18 17:13] kvokka opened #3695 "Get build timeout on local concurrent build"
### Actual behavior

with `skaffold dev` i rarely get this sort of error:

[code]

Keep in mind, that building of all images takes more than 15 minutes

### Information

- Skaffold version: 1.3.1
- Operating system: MacOs 10.15
- Contents of skaffold.yaml:

[code]

I assume that the root of the problem is in `concurrency` setting.

### Steps to reproduce the behavior

`skaffold dev`

This is flaky

[2020-02-18 22:40] tstromberg commented on #3694
+1 I just ran into this myself.

@nkubala - would you rather a PR that updates `gotest.sh` to not require `jq`, or one that adds the requirement to `DEVELOPMENT.md`?

[2020-02-18 22:59] tstromberg opened #3697 "testutil.CheckDeepEqual: fatal error: checkptr: unsafe pointer arithmetic"
`make test` on my machine has several tests that fail with the same panic message, all from uses of go-cmp.

For example:

[code]

This is on macOS 10.14.6, go 1.14rc1, and Docker is not installed.

[2020-02-18 23:09] bitsofinfo commented on #500
will give it a shot but a bit of a confusing contract.

[2020-02-18 23:09] tstromberg commented on #3697
Here are the tests that panic when `make test` is run:

[code]

Curiously, if I run just tests individually, they do not panic:

[code]

This reeks of global state and abstraction leakage. My instinct says that there are two bugs: one within CheckDeepEqual / go-cmp, and one in a specific test being executed that poisons the other tests.

[2020-02-18 23:29] tstromberg commented on #3697
I've narrowed it down to the hidden use of `-race` when `make test` is used.

[2020-02-18 23:54] #3694 closed

[2020-02-19 00:10] tstromberg opened #3699 "make on go v1.14: flag provided but not defined: -mod"
If you run `make` with `go go1.14rc1`, it errors with:

[code]

This flag was removed in https://go-review.googlesource.com/c/go/+/198438/

[2020-02-19 00:12] #3697 closed

[2020-02-19 00:46] #2909 closed

[2020-02-19 07:51] odino opened #3701 "skaffold.yaml reference page"
Hola folks,

sorry to bother with such a trivial issue, but I think we've removed the content of the `skaffold.yaml` reference from the docs:

https://skaffold.dev/docs/references/yaml/

![image](https://user-images.githubusercontent.com/328420/74813098-272b0600-530e-11ea-99ee-a91f6f3ff9f4.png)

Is this a mistake? There seems to be no page where we can have a look at the entire yaml file (with an

[2020-02-19 10:35] corneliusweig commented on #3693
Thanks for reporting. This is mentioned on https://skaffold.dev/docs/pipeline-stages/deployers/ at the bottom of the page. Where would you have looked for this information?

https://skaffold.dev/docs/install/ seems to be a natural place and it's missing there.

---

For completeness: This applies to all third-party tools used by Skaffold. This includes `helm`, `kustomize`, `kubectl`, and `docker`.

[2020-02-19 11:58] base698 commented on #3693
@corneliusweig I'm saying that it should not require `kustomize`.  Why would kustomize need to be on path if `kubectl` is already there?

[2020-02-19 12:47] corneliusweig commented on #3693
This is also tracked by https://github.com/GoogleContainerTools/skaffold/issues/1781.

There are some tradeoffs though. The version bundled with `kubectl` is a bit outdated and does not come with all the features you find on the kustomize homepage. For the time being, the standalone `kustomize` seems the safer option to me.

[2020-02-19 19:27] bitsofinfo commented on #500
@TBBle is there any way to make the helm release `name` have a variable in it?

[2020-02-19 19:35] nkubala commented on #2068
@pisymbol licenses also gives me issues for several different reasons, and it's hard for me to see if this is related to any changes you've made. why don't you try skipping the license check for now (just remove the rule from the Makefile) and see if you can get some binaries built? if you can get that far then we can figure out the license stuff last.

[2020-02-19 20:31] bernardelli commented on #2217
I am having the exact same issue.

[2020-02-19 20:55] bitsofinfo opened #3702 "{{.IMAGE_NAME}} has no value after successful build w/ buildCommand"
Doing something like the below yields a helm release name w/ `<no value>` which is illegal for helm.

The image tag that is created/pushed successfully before helm is invoked is: `56a66ce-dirty`, so I would expect `{{.IMAGE_NAME}}` to have this value but it doesn't.

My `buildCommand` below generates a dockerfile, builds, tags and pushes to a private registry w/ a tag that is equal to the value ge

[2020-02-19 21:04] bitsofinfo commented on #500
@TBBle fyi you suggestion works, thanks!!!

 honestl skaffold in this area is a bit confusing.

`values`, `overrides`, `setValuesTemplates` etc etc..... why so many diff options? And why is templated vars just not supported universally?

Overall its just confusing.

[2020-02-19 21:11] kylewolfe commented on #3702
Related to #3343

[2020-02-19 21:13] kylewolfe commented on #3549
I opened #3343 for this reason as well.

[2020-02-19 23:19] bitsofinfo commented on #3047
Experience the same w/ a kube context that is bound to an azure aks cluster w/ openid connect AD auth enabled.

[2020-02-20 04:13] TBBle commented on #500
I'm not *sure* about why templated values aren't universal. The others however, are historical, from what I've understood.

`values` is specifically used to support overriding the images in the Helm charts, to point them back to the `artifacts` declared elsewhere in the skaffold.yaml. This is because skaffold needed some understanding of the structure of those values, in order to adjust them appro

[2020-02-20 06:56] jason155392 commented on #3116
I fixed this issue followed by
https://docs.docker.com/ee/dtr/user/access-dtr/

Windows
In your browser navigate to https://<dtr-url>/ca to download the TLS certificate used by DTR. Open Windows Explorer, right-click the file you’ve downloaded, and choose Install certificate.

Then, select the following options:

Store location: local machine
Check place all certificates in the following store
Cli

[2020-02-20 09:04] zd-dalibor opened #3705 "Skaffold yaml file validation scheme is not correct"
The part of skaffold yaml file validation scheme that defines JSONPatch object validation is not correct.

The "value" property of JSONPatch can be also "string" value but in your scheme It can be only "object". So I got this false validation message:

![image](https://user-images.githubusercontent.com/226822/74917739-4d14e100-53c8-11ea-8463-7257e403c75b.png)

[2020-02-20 09:24] dgageot commented on #3701
Hi @odino Sorry that you had an issue with the documentation. It works well for me. Can you give us more details about your browser and maybe look at what printed to the console?

[2020-02-20 09:27] dgageot commented on #3699
Thanks @tstromberg for reporting that issue. What about removing that flag once go 1.14 is released and we switch to using it in our development guide and CI/CD?

[2020-02-20 09:28] dgageot commented on #3695
Hi @kvokka! Can you give us more details about which version of Docker you are using? Also could you share the output of `skaffold build -vdebug`?

[2020-02-20 09:30] dgageot commented on #3693
I'm going to close this issue as a duplicate of #1781. I think supporting both the standalone and the built-in version would be nice.

[2020-02-20 09:30] #3693 closed

[2020-02-20 09:31] dgageot commented on #3692
Hi @saphoooo! This should be fixed with https://github.com/GoogleContainerTools/skaffold/pull/3657. Can you confirm?

[2020-02-20 09:33] dgageot commented on #3689
Duplicate of https://github.com/GoogleContainerTools/skaffold/issues/3293

[2020-02-20 09:33] #3689 closed

[2020-02-20 09:34] dgageot commented on #3690
Hi @bitsofinfo Can you share the content of your `skaffold.yaml`? In any case, I'll make sure we have a better documentation for that.

[2020-02-20 09:36] dgageot commented on #3688
Closing as a duplicate of #1441. It's a feature that we have on the roadmap. We understand that it would be very useful

[2020-02-20 09:36] #3688 closed

[2020-02-20 09:36] dgageot commented on #3681
Closing as a duplicate of https://github.com/GoogleContainerTools/skaffold/issues/1441

[2020-02-20 09:36] #3681 closed

[2020-02-20 10:14] MrLuje opened #3708 "spec.template.labels: Invalid value with Helm"
Skaffold generates invalid k8s deployements' labels through helm.
The generated tag with image digest contains invalid characters
[@ is invalid in a k8s labels ](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set)

### Information

- Skaffold version: 1.3.1
- Operating system: Windows 10 with WSL
- Contents of skaffold.yaml:

[code]

### Steps to rep

[2020-02-20 13:23] kvokka commented on #3695
[code]

Will try to catch the error once more time today with `-debug` flag.

[2020-02-20 15:41] bitsofinfo commented on #3690
here you go

FYI, the image name and tag pushed to the registry and subsequently referenced in the helm chart are exactly the same, i.e something like dockerhub.mydomain.com/hhd/my-app:4f205e7-dirty

IMAGE_TAG is an env var set by me that is = `4f205e7-dirty` the `dockerhub.mydomain.com/hhd/my-app` portion for the helm chart is defined in one of the `valuesFiles`. The tag is the same as that calcu

[2020-02-20 15:43] bitsofinfo commented on #1441
I definitely have the need to run multiple custom commands prior to build, as well as after deploy. Such a feature is greatly needed. Right now I'm having to run a wrapper shell script around `skaffold run` to achieve all this.

[2020-02-20 17:25] ynouri commented on #3701
On our side we can see the full YAML reference but only for the latest version `apiVersion: skaffold/v2alpha3`

Is there a way to access the YAML reference for the stable v1?

Thanks!

[2020-02-20 18:06] balopat commented on #3668
`minikube profile list` should be good enough to list the necessary details. What do you mean by machine interfaces?

[2020-02-20 18:44] balopat commented on #3668
https://github.com/kubernetes/minikube/issues/6715 is also going to be useful going forward.

[2020-02-20 18:49] balopat opened #3711 "Use container-runtime info from minikube node for image loading strategy"
`kubectl describe node` contains the Container Runtime Version:
[code]

We should use this info to determine whether to build a docker image directly against the internal docker daemon determined by docker-env or by using `minikube cache add` (similar to `kind load`)

[2020-02-20 19:15] briandealwis commented on #3668
I meant host's network interfaces, thinking that we could correlate the API server to the available network interfaces to identify whether it's local on the machine.

`minikube profile list` sounds much easier.

[2020-02-20 19:47] tejal29 commented on #3171
Looks like from last comment, this issue is fixed on v1.3.1.
Please re-open if not

[2020-02-20 19:48] tejal29 commented on #3686
@balopat Are you going to work on this soon? or else, can you decrease the priority?

[2020-02-20 19:49] tejal29 commented on #3623
Decreasing the priority, since the team is busy with other p1 issues.

[2020-02-20 19:51] tejal29 commented on #3708
@MrLuje Can you please provide your deployment template for failing service?

Thanks
Tejal

[2020-02-20 21:42] DennisVis opened #3712 "[Feature request] Tail logs of all deployed containers"
For Skaffold to be truly useful as a CI tool it will need to be able to tail the logs of all containers in the deployed cluster.

Say I've written a database integration test for my application. My application is built by Skaffold, the database image is ready made and fetched from docker hub, both are included in a deployment. When running `skaffold run` in this situation I'll only see my applicat

[2020-02-20 21:59] saphoooo commented on #3692
Looks fine:

[code]

Thank you

[2020-02-20 21:59] #3692 closed

[2020-02-20 23:02] MrLuje commented on #3708
And here is is ! (most of it is from **helm init** and some additions)

[code]

[2020-02-20 23:27] tejal29 commented on #3712
Revive #1911

[2020-02-20 23:31] tejal29 commented on #3648
@tuananh170489 Is the container `skaffold-demo` a long lived container?
Can you give us the output of `kubectl logs <podName>` if possible?

Thanks
Tejal

[2020-02-21 00:55] tuananh170489 commented on #3648
Yep, the container still working, but it not stream log to the stdout ~.~
`kubectl logs <Podname>` still work properly

[2020-02-21 14:33] Ps3ud-0nym commented on #528
This would allow me to create a release namespace using kubectl, then deploy the rest of the chart via helm, so I would also really like to see this.

[2020-02-21 14:54] paymog commented on #3171
I don't think this is fixed. If I don't use force, I get an error:

[code]

because the newly issued `skaffold run` creates a new run-id. Maybe I'm conflating issues here.

[2020-02-21 16:15] cabrinoob commented on #1766
@corneliusweig : It is exactly the first option I want, but it does not as I expect :

1- First, I launch `skaffold dev` with this config :

[code]
As you can see, I'd like to synchronize only *.js files.
At this moment, my pod is running on my K8S cluster and my terminal shows `watching for changes`

2- Then I modify something in my *.ts files, but right after I save a ts file, skaffold triggers

[2020-02-21 16:31] demisx commented on #528
Didn’t this already happen? I remember being able to deploy both from one skaffold.yaml file using the latest version of skaffold.

[2020-02-21 17:29] wgj commented on #3124
I'm experiencing this behavior (`.swp`, `.swo` files triggering `skaffold dev`) with Custom Build Script. Should I update this issue with more details or create a new issue?

[2020-02-21 18:58] balopat commented on #3619
This is now going to be fixed in #3717.

[2020-02-21 19:39] balopat commented on #3686
I will work on this today!

[2020-02-21 20:51] slimm609 opened #3718 "labels break some deployments: `selector` does not match template `labels`"
Skaffold labels are breaking certain deploys.

[code]

`kustomize build . | kubectl apply -f -` applies properly
`skaffold run -p testCluster` fails with the error above,  it throws several errors but they are all very similar

### Expected behavior
deploy works properly

### Actual behavior

### Information

- Skaffold version: 1.3.1, 1.4.0
- Operating system: OSX
- Contents of skaffold.yaml:

[c

[2020-02-21 20:51] slimm609 commented on #3718
Is there an option to make skaffold labels not apply?

[2020-02-21 21:11] kvokka commented on #3695
[code]
Had to cut the middle because of github limitation

with skaffold version 1.3.1

[2020-02-21 21:26] slimm609 commented on #3718
to validate that the issue is the skaffold labels,  I removed the labels from the labeller and it resolved the issue and deploys properly.

pkg/skaffold/deploy/labeller.go
[code]

[2020-02-21 22:06] kvokka commented on #3695
By the way, it was resolved after upgrade to skaffold 1.4.0 (rebuild twice)

[2020-02-21 23:50] balopat opened #3719 "Flake: TestBuildInCluster"
[code]

[2020-02-22 00:08] corneliusweig commented on #1766
@cabrinoob Can you make sure that your Dockerfile only copies `.js` files and no  `.ts` files? For example, `COPY * ./` would usually also copy any `.ts` files. Then Skaffold behaves as expected, because a container input file has changed which is not sync'able.

[2020-02-22 00:12] nicknovitski opened #3720 "kustomize deployer does not watch changes to environment files"
In kustomize, `secretGenerator` and `configMapGenerator` stanzas can have an `env` or `envs` key, with a path or list of paths respectively.  Each line in those files defines a key-value pair of the generated config maps. Cf. the [kubectl/kustomize book](https://kubectl.docs.kubernetes.io/pages/app_management/secrets_and_configmaps.html#configmaps-from-environment-files), and [the deprecation noti

[2020-02-22 01:57] balopat commented on #3668
bumping down to p1 since `--minikube-profile` flag was released...

[2020-02-22 01:58] #3619 closed

[2020-02-23 19:11] pisymbol commented on #2068
@nkubala Works.

[code]

[2020-02-23 20:06] pisymbol commented on #2068
Note License retrieval now works too. So I think the only patch is really simple:

diff --git a/Makefile b/Makefile
index 7a31e0e0e..2998df5bd 100644
--- a/Makefile
+++ b/Makefile
@@ -12,7 +12,7 @@
 # See the License for the specific language governing permissions and
 # limitations under the License.
 GOOS ?= $(shell go env GOOS)
-GOARCH = amd64
+GOARCH ?= amd64
 BUILD_DIR ?= ./out
 ORG := github

[2020-02-23 20:07] balopat commented on #3240
Got fixed in #3393.

[2020-02-23 20:07] #3240 closed

[2020-02-24 03:21] kvokka commented on #3685
Got the same with Skaffold 1.4.0

[2020-02-24 03:55] kvokka commented on #3695
Occasionally got the same error with skaffold 1.4.0

[2020-02-24 18:33] #2775 closed

[2020-02-24 19:33] odino commented on #3701
Hi folks -- my bad, I didn't realize the reference was getting loaded asynchronously. After a few hours it started appearing again, I assume there was something wrong on my end :)

[2020-02-24 19:33] #3701 closed

[2020-02-24 22:43] #3686 closed

[2020-02-25 18:48] alexgalkin commented on #3685
Used the latest build.

[code]

The issue is still there.

[code]

[2020-02-25 21:37] ktarplee commented on #2142
Updated my [fork](https://github.com/ktarplee/skaffold/releases/tag/v1.4.0-helm3) that includes helm v3 support rebased on skaffold v1.4.0.  It includes mac and linux binaries.

[2020-02-26 00:50] nkubala commented on #2142
hey all, just wanted to give an update from the team here.

we pretty hastily closed https://github.com/GoogleContainerTools/skaffold/pull/2900 a few months ago without a full discussion on our implementation plan for this, and I think that was a little unfair. IMO if we're going to close a PR that's been sent to us, we should be providing feedback on what we'll be doing instead, but I think even

[2020-02-26 09:55] maistrotoad commented on #3563
I am also experiencing this issue. I got multiple services in my project, which all have 80 set as their port. I have configured Skaffold on my Ubuntu machine so it is allowed to port-forward ports below 1024 without sudo. What then seems to happen is a race condition for the first service to get deployed, this service will then get the port-forward to port 80, the ones coming after it get increme

[2020-02-26 11:53] pehlert opened #3734 "Port-forwarding does not work when SKAFFOLD_LABEL is set"
### Expected behavior
Even with the SKAFFOLD_LABEL environment variable set, `skaffold dev --port-forward` should forward service pods to localhost.

### Actual behavior
As soon as the SKAFFOLD_LABEL environment variable is set, port forwards are not set up anymore

### Information

- Skaffold version: 1.4.0
- Operating system: OS X Catalina

I have SKAFFOLD_LABEL set globally to workaround this i

[2020-02-26 13:59] cabrinoob commented on #1766
@corneliusweig : I'am using a multistage build image. On the first stage I copy all ts files that I build, and in the second stage I copy the build artifact of the fist stage (/dist/src/*.js files) in the final stage.

So I don't know exactly if skaffold is aware of this multistage build dockerfile type ...

[2020-02-26 15:43] pbecotte commented on #1759
I don't see any way to really customize anything about the pod that kaniko runs in? We need annotations for kiam + ecr to to work - but will also need things like overriding the image (no public internet access), tolerations, node selectors... is there a way to do stuff like this that I am just missing?

[2020-02-26 20:32] peterlin741 opened #3736 "Add yaml list to output of skaffold init --analyze --XXenableJibInit"
Currently, the Cloud Code IntelliJ plugin team is dependent on the results of **skaffold init --analyze --XXenableJibInit**.

We would like a list of valid skaffold.yaml files returned as a separate field. The intelliJ team would like recognize valid skaffold.yaml files in the main directory, and if additional files are found in subdirectories, it would be great but not necessary to include them.

[2020-02-26 21:20] nkubala commented on #3293
@bitsofinfo I just merged https://github.com/GoogleContainerTools/skaffold/pull/3735 which updates the acr client code we're using to handle auth. if you're able, can you try building from the latest master and check if you're still seeing this issue?

[2020-02-26 21:55] balopat commented on #3736
I think this sounds fine, I can put this together easily soon.  Three nits:

1. I would rename `yamls` to `skaffold-configurations`.
2. I would provide a list of paths and that's it, not sure why we need a filename / path separation.
3. The path separator would be standardized "/" even on Windows, relative to the path of execution

Does that sound okay?

[2020-02-26 22:02] bitsofinfo opened #3737 "Permit custom buildCommand to export skaffold ENV vars that could be referenced in Helm releases"
Permit custom buildCommand to export skaffold ENV vars that could be referenced in Helm releases

Would be great if this:
[code]

Could (via STDOUT or other means) convey some variables that Skaffold could add to its execution environment whereby they could be referenced elsewhere in skaffold.yaml, i.e.

[code]

[2020-02-26 22:09] bitsofinfo commented on #3343
#3737

[2020-02-26 22:22] bitsofinfo commented on #3737
https://github.com/GoogleContainerTools/skaffold/issues/1441

[2020-02-26 22:26] bitsofinfo commented on #500
what further evidence is this issue awaiting since 2018? I think its pretty common for people to expect that when you declare/write YAML that you can nest properties. The currently solution of having to define these structures as flat `key.paths.x.y.z` is awkward.

[2020-02-26 22:41] sujit-kamireddy commented on #3736
Can't you use the find-configs api to get the list of valid skaffold.yaml files in the directory?

skaffold find-configs -d <dir>
https://github.com/GoogleContainerTools/skaffold/issues/2229

[2020-02-26 23:10] bitsofinfo commented on #3293
@nkubala

[code]

[code]

[2020-02-26 23:21] tejal29 opened #3739 "Implement a library for application diagnostics."
Implement a library to diagnose pods/services and deployments for a given skaffold run

Expected behaviour.
For a given run-id, the library should return all the unhealthy and healthy pods/services and deployments.

[2020-02-26 23:23] tejal29 opened #3740 "Implement pod validator."
Related to #3739

1. implement an api for pod healthchec

[2020-02-26 23:24] tejal29 opened #3741 "Implement an api for service validator."
Implement rules to diagnose a kubernetes service.

[2020-02-27 05:36] rlangfordBV commented on #1759
Count me in as someone who wants this for `kiam` + `ecr`

[2020-02-27 08:10] corneliusweig commented on #1766
@cabrinoob Ok, that explains it. This setup is simply not supported by sync.

Think of it this way: sync is a shortcut to skip rebuilding containers. However, if the input to your final container comes from the first build stage, this is not possible.
In general, sync only considers the final stage of a docker build, and the input files must come from the host filesystem.

[2020-02-27 10:47] saurav-bhagat opened #3744 "Kaniko: ERROR: Dockerfile not found at ./Dockerfile"
I'm using kaniko to build my images and my Dockerfiles are located inside a directory which has multiple sub-directories. But Its failing to build. What's the right way to specify the path?
- Contents of skaffold.yaml:

[code]

[2020-02-27 13:58] MrLuje commented on #3708
From my understanding, sha256 hash are added to tags during deploy (#3269) which is then added as k8s label on my deployment.
Unfortunatly, k8s shouldn't contain the @ char (as stated in error message)

[2020-02-27 14:49] balopat opened #3745 "[refactor] merge pod watchers"
#3645 introduces the 3rd podWatcher based control loop in skaffold with the exact same control flow.

I would think a single podWatcher would be less resource intensive (the same "event messages" only need to be sent once for skaffold) on the API server side and on the skaffold side as well (less go routines).

I think, in a separate PR we should refactor first to a "visitor" pattern on a centrali

[2020-02-27 16:04] briandealwis commented on #2203
This could be a good way to allow specifying an Alpine-based Delve image (GoogleContainerTools/container-debug-support#30).

[2020-02-27 16:23] #3638 closed

[2020-02-27 16:46] redborian opened #3746 "--no-watch flag outputs "watching for changes""
### Expected behavior
Skaffold dev command with `--no-watch` flag should not output `"watching for changes"`

### Actual behavior
Skaffold dev does not have a `--no-watch` flag - it outputs `"watching for changes"`

![image](https://user-images.githubusercontent.com/6260897/75465426-78a24900-593d-11ea-809d-94b188297412.png)

### Information

- Skaffold version: v1.3.1
- Operating system: Windows
-

[2020-02-27 17:41] peterlin741 commented on #3736
Thanks, all of that sounds great.

Looking at the `skaffold find-configs -d {directory}` command that Sujit mentioned, it looks like the feature we want is already there. I'll leave it up to the Skaffold team to decide if they want to duplicate the feature (since it does make sense for `init` to generate that output). However, it's not necessary since the IntelliJ team can already use the `find-co

[2020-02-27 19:45] briandealwis opened #3748 "Skaffold json-schema's BuildConfig includes multiple sets of properties"
### Actual behavior

Skaffold's schema's `BuildConfig` and `DeployConfig` seem to include 4 copies of their properties within an `anyOf`.  As a result, VS Code shows 4 possible schemas.

[code]
### Expected behavior

There should be a single set of properties and no `anyOf`.

### Information

- Skaffold version: 1.0.1 and HEAD

### Steps to reproduce the behavior

`skaffold schema get skaffold/v2a

[2020-02-27 19:46] eshepelyuk commented on #3387
WIth 1.4.0 that error had disapperaed, but helm release is not deleted.
Any clues ??

[2020-02-27 21:01] briandealwis commented on #3748
Oddly the DeployConfig's _prior to v2alpha2_ also suffered from similar problems.  Since v2alpha2, they present fine.

In v2alpha1, I notice the subcomponents use a [`yamltags:"oneOf=deploy"`](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/v2alpha1/config.go#L383) style of back-reference?  These are not present in [v2alpha2](https://github.com/GoogleContainerTools

[2020-02-27 21:38] nkubala commented on #3387
hey y'all, this should be fixed by https://github.com/GoogleContainerTools/skaffold/pull/3738

[2020-02-27 21:50] skhaz opened #3749 "Skaffold still not working with helm remote"
Skaffold still not working with helm remote.

Error:
[code]

### Expected behavior
work with remote helm redis.

### Actual behavior
[code]
### Information

- Skaffold version: v1.4.0
- Operating system: Darwin Kernel Version 19.3.0: Thu Jan  9 20:58:23 PST 2020; root:xnu-6153.81.5~1/RELEASE_X86_64
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

Run `skaffold dev` with t

[2020-02-27 21:54] #2142 closed

[2020-02-27 22:59] Eraac commented on #3749
You should use key `skipBuildDependencies: true`
See documentation https://github.com/GoogleContainerTools/skaffold/pull/1254/files#diff-22e21f181a67ff99666cd4e5e3acbbc7R197

[2020-02-28 04:14] nkubala commented on #528
@demisx yep, this was fixed with https://github.com/GoogleContainerTools/skaffold/pull/3392 and went out with the 1.2.0 release.

[2020-02-28 04:14] #528 closed

[2020-02-28 04:25] nkubala commented on #3438
@ErwinSteffens this was fixed with #3738! we'll ship it with the v1.5.0 release.

[2020-02-28 04:25] #3438 closed

[2020-02-28 07:42] dgageot opened #3751 "Custom artifacts with a dependency on a Dockerfile should support inferred sync"
When a custom artifact as a dependency on a Dockerfile, we can assume the custom script is used to run something similar to `docker build`, with non supported flags or using a different tool.

In that case, it should be safe to support inferred sync mode.

[2020-02-28 08:13] dgageot opened #3753 "Support Go templates in custom command declaration"
It would be useful to support Go templates in Custom Artifact's build command. It is especially useful for one-liner commands.

[2020-02-28 08:50] prabhu opened #3755 "How-to use skaffold labelling with helm deployments"
### Expected behavior

I am executing skaffold via my pipeline with the following args:

[code]

I can see correct values being passed for the labels. However, I am not seeing the labels being applied to the deployed objects. I am not sure how to receive these values in the helm charts either.

### Actual behavior

Labels should either get automatically applied to helm deployed objects or document

[2020-02-28 09:51] LeoDupont opened #3756 "Using pre-existing deployments"
Hello!

Let's say I already have a shared Dev remote cluster running some deployments (say App1, App2 and App3) that all communicate with each other.
Is it possible to temporary "replace" the cluster's App2 by a local App2 using Skaffold?

I may have misunderstood the documentation but I'm afraid I'll have to re-deploy an entire, personal new set of deployments each time I need to do some developm

[2020-02-28 13:02] dgageot commented on #3748
There are two things here:
 + With v2alpha2, Skaffold started supporting multiple deployers. So it's a good things that `yamltags:"oneOf=deploy"` are gone now and a good thing that they were there before.
 + It's also a good thing that we use `anyOf` in the json schema instead of `oneOf`. Those have a different meaning than in our `yamltags` annotations.

Let's say a `field` can take two optional

[2020-02-28 14:36] dgageot commented on #3661
@matthewmichihara wdyt of @nkubala's comment. We should give priority to Dockerfiles over anything else but we can't match the image names to the artifact

[2020-02-28 14:40] ErwinSteffens commented on #3438
Awesome, we will check it out!

[2020-02-28 17:47] dgageot commented on #3661
I've thought it some more and I think the only thing we can do and that we should do no matter wether --force is used or not is ignore all the builders in a given folder if there's a Dockerfile there. If someone wrote a Dockerfile, it's to build with docker build.

[2020-02-28 17:53] nkubala commented on #3050
we could always add a field to the global config for this

`skaffold config set cache-artifacts false`

[2020-02-28 18:37] ivanporty commented on #3661
We've been mulling this for quite a while, and since Jib support appeared, had to deal with reduced functionality since IntelliJ doesn't ask user to select a builder - it tries to do this automatically. I completely agree with @dgageot, and always rooted for is selecting a `Dockerfile` by default - it has to be present for a reason in the project.

However, profiles exist in Skaffold for a good re

[2020-02-28 18:42] nkubala commented on #3266
hey y'all, sorry for the radio silence on this one. it does seem like we have some holes in our documentation here. @laurentvaills would you still be interested in sending a PR to update them?

[2020-02-28 18:46] nkubala commented on #2730
@mgoltzsche thanks for the update on this. we have plans on our 2020 roadmap to overhaul our error messaging in skaffold to provide more actionable error messages, and I think this would fall under that. this will probably be prioritized by the team later in the year, but if anyone is interested in sending a PR for this specific issue, contributions are always welcome :)

[2020-02-28 19:55] #3751 closed

[2020-02-28 20:21] #3753 closed

[2020-02-28 21:09] briandealwis commented on #3748
Oh, this makes sense.

[2020-02-28 21:09] #3748 closed

[2020-02-28 21:16] balopat commented on #3661
Strawman proposal for the conflicts:

**Conflict** occurs when two or more builders are found under the same directory using the default settings.

E.g.: src/frontend/Dockerfile, src/frontend/pom.xml with Jib info in it and src/frontend.pom.xml with Buildpacks compatibility

**Conflict resolution precedence**:

1. Jib
2. Dockerfile
3. Buildpack

The highest precedence builder will be picked. In ca

[2020-02-28 21:26] #3568 closed

[2020-02-28 21:30] #2211 closed

[2020-02-28 21:34] nkubala opened #3760 "skaffold init fails to identify proper workspace for artifact"
[code]

the `context` generated in the build config is `app/deploy`, which is where it found the **builder**, but it should actually be `app/`.

[2020-02-28 21:49] balopat commented on #3760
What do you think we should do?
I think:

Interactive mode: we should ask interactively the user for other build settings (build context, build args).
Non-interactive mode: only support Dockerfile's at the root of the context.

[2020-02-28 21:53] nkubala commented on #3760
how do we know where the root of the context is though? we can't scan every file we see in the project and know if it's "part of the context", unless we computed the build dependencies **first**, and that starts to get really hairy....

in interactive mode, I think it makes sense to optionally prompt the user if they want to change basic things about the build/deploy configuration. I wonder if the

[2020-02-28 23:05] matthewmichihara commented on #3661
I agree that buildpacks should be last in precedence order, but between Jib/Bazel/Dockerfile, I don't have a strong preference for what the order should be. Is there a strong reason to choose one over the other? @balopat's strawman proposal sgtm.

[2020-02-29 00:59] nkubala commented on #3744
hey @saurav-bhagat can you run `skaffold dev -v DEBUG`, and also maybe run `tree` in the top level so we can see your project structure?

[2020-02-29 01:43] nkubala commented on #500
@bitsofinfo agree, that was an old label that we haven't updated in a while. I do think this would be a useful feature to have.

the origin of the `setValuesTemplates` was primarily for use in CI/CD systems: skaffold was a big part of the early development of jenkins x. in general we wanted to support templating within reason for helm, so we kept this around. @TBBle as far as overrides go, that's

[2020-02-29 01:45] nkubala commented on #3737
@bitsofinfo yeah pre-deploy hooks immediately came to mind. would that fully address this for you? if so can we close this as a dupe?

[2020-02-29 02:13] nkubala commented on #3695
hmm, have you tried using a remote cluster (e.g. not minikube)? I wonder if your minikube is having trouble reaching out to the outside world.

[2020-02-29 02:42] nkubala commented on #2282
@jon-maki just got around to reading up your writeup and trying out your example repository, it's way cool 👏 I would definitely be interested in you contributing this as an example in the skaffold repo if you want to! i'm also curious if you've give minikube a shot yet, and what your experience with it has been.

[2020-02-29 02:47] nkubala commented on #3664
@emichaf skaffold has a test phase that runs between building and deploying. pushing is tied to building in skaffold though, since several of our build strategies build directly to a registry.

[2020-02-29 02:53] nkubala commented on #3319
@oke-py can you try creating the secret the way @saphoooo suggests? if it works, we should probably update the documentation to include secret creation.

[2020-02-29 03:00] nkubala commented on #3498
hey @sh0rez, thanks for following up! tanka is definitely an interesting player in the k8s field right now, but I don't think we're looking to introduce any more *native* deploy strategies in skaffold right now. that said, we're definitely interested in making progress on allowing custom scripts as a deployer to give users more flexibility, which would open a path for using tanka in skaffold.

i'l

[2020-02-29 03:00] #3498 closed

[2020-02-29 03:10] #3475 closed

[2020-02-29 03:16] nkubala commented on #3621
I think this is fixed with the `--status-check` flag. i'm gonna close this issue for now, @bukowa please reopen if that doesn't help!

[2020-02-29 03:16] #3621 closed

[2020-03-01 09:23] oke-py commented on #3319
@saphoooo Thanks and apologies for late reply.
The result is below. What's `regcred`?
[code]

[2020-03-01 09:48] saphoooo commented on #3319
Hi @oke-py,

You need two different secrets : one for the pull (if your image is private), and one for the push.

- For the pull you have to create a registry credential (regcred in short), with type **kubernetes.io/dockerconfigjson**. You can follow the [Kubernetes documentation](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#registry-secret-existing-credent

[2020-03-01 10:05] oke-py commented on #3319
I got it. I found I created the secrets into a wrong namespace (kube-system).
I created them into default namespace.

Then,
[code]

[2020-03-01 10:16] udanpe commented on #3319
@oke-py
[code]
[code]

[2020-03-01 10:54] saphoooo commented on #3319
The error is explicit, it is not a problem of secret but of authentication: credentials do not allow you to push to index.docker.io/okepy/super-random:v1.4.0-73-ga9c7b3a47- dirty

[2020-03-01 14:11] TBBle commented on #500
#585's rationale and !632's description are my information source for that origin story of `overrides`:

and

respectively.

!632 was pulled in without any apparent discussion of the author's proposal to renamed `values` to `artifacts` and use `values` for what is now `overrides`.

As far as documentation feedback, https://skaffold.dev/docs/references/yaml/ describes `values` as

which doesn't in

[2020-03-02 00:51] BlenderDude opened #3762 "Fails to apply namespace to releases in Helm 3"
### Expected behavior

When deploying to helm and using the `namespace` tag on the release, the `--namespace` argument should be passed to the upgrade (install), delete and get calls.

### Actual behavior

The namespace is properly applied to the upgrade (install) command, but not during `Cleanup` or `getArgs`. I believe this problem was introduced with #3738 because helm3's releases themselves ar

[2020-03-02 12:49] dkirrane commented on #3549
+1 it looks like there is no way to get the image tag from the tagPolicy to use later in helm.

[code]

There is no way to get the image and tag and pass it to helm
[code]

[2020-03-02 13:00] vincentschut commented on #3685
Same problem over here. Downgrading skaffold to 1.2.0 helps for the time being.

[2020-03-02 14:25] dkirrane opened #3763 "Add IMAGE_REPOSITORY template variable (default-repo)"
# Expected behavior
There should be a way to retrieve the `default-repo` somehow in order to correctly insert it into the skaffold.yaml

According to https://skaffold.dev/docs/environment/image-registries/ you can set the default repo. But there currently isn't a [Templated Field](https://skaffold.dev/docs/environment/templating/) to then use it in the skaffold.yaml.

This is needed for instance w

[2020-03-02 16:48] simonjpartridge opened #3765 "Skaffold Deploy using -i for images doesn't respect default repository"
# Expected behavior

Using `-i` in skaffold deploy uses default image repo. Or allows full path to image

### Actual behavior
Repo path isn't added to image name

### Information

- Skaffold version: version 1.4.0
- Operating system: MacOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. ensure image is built, and tagged and in image registry
2. skaffold deploy -p gke

[2020-03-02 23:00] tejal29 opened #3766 "Skaffold init shouild generate a skaffold.yaml with default section."
See https://docs.google.com/document/d/1uAc619ljC_Fv-CfITNZkzf1c277gjhCAQeEmuc72wLE/edit#heading=h.h0sytgb7bsf5 for more details.

Skaffold init does not set the context properly for certain repository configurations e.g. #3760
[code]
In such case, user has to manually change the context dir from "app/deploy" to "app".
Only changing the context dir gives an error
[code]
To fix the config correctly

[2020-03-02 23:27] tejal29 opened #3767 "[Docs] Document a user journey for `skaffold init` for helm application."
Make this [documentation](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/helm-deployment#example-deploy-multiple-releases-with-helm) more discoverable from our Getting Started or Init Flow.

[2020-03-02 23:28] tejal29 opened #3768 "support skaffold init for helm apps."
This is a tracking issues to support `skaffold init` for helm apps.

Add a flag like `skaffold init --helm`. Try to parse the helm charts, and
1. Suggest the correct key for `image` value used in helm templates deployment.yaml.
   e.g. in the skaffold helm example, the image key is `Values.image` [0](https://github.com/GoogleContainerTools/skaffold/blob/master/examples/helm-deployment/skaffold-hel

[2020-03-02 23:44] tejal29 opened #3769 "dev/run should consider exiting instead of warning when built image is not used in deploy."
When running skaffold run on a helm example with `Values.image` not set in the `deploy.helm` stanza, we see an error

[code]
At times, this error is lost is out of display screen due to container logs  and users need to scroll up to see the warning.

[2020-03-02 23:50] tejal29 opened #3770 "skaffold init shows a list of warnings for templated image names."
Skaffold init shows a bunch of warnings if the image name is templated  which is kind of annoying
[code]

[2020-03-03 00:00] tejal29 opened #3771 "skaffold init shows a dockerfile from `vendor` directory."
skaffold init should not show dockerfiles from vendor directory.
[code]

[2020-03-03 00:05] tejal29 opened #3772 "Deploy healthcheck did not timed out within 2 mins for kritis."
When running `skaffold dev` from master on kritis, `skaffold dev` was stuck on deploy health check state for more than 2 mins.
@nkubala killed it.

Verify this again.

[2020-03-03 08:59] Eraac commented on #3749
Use the latest apiVersion
[code]

[2020-03-04 01:54] diist commented on #3267
Kaniko is now compatible with AWS IAM Role for Service Accounts, so being able to set the service account used by the Kaniko pod is a must.

[2020-03-04 14:42] petr-buchin opened #3778 "Allow to stream build logs to files on per-image basis"
### Expected behavior
Before Skaffold supported parallel local builds, we used profiles for that matter, building profiles concurrently.
That allows us to stream build log for each profile (one profile per image) to file named like `{LOGS_DIR}/build/{PROFILE_NAME}.log`.
Now when Skaffold supports parallel local builds natively, we would like to use this functionality, but we want to stream build l

[2020-03-04 18:26] skhaz commented on #3749
Hi Labesse,

I'm using the version `v2alpha4` already without the
`skipBuildDependencies` and seems to be working fine for now.

Thanks.

[2020-03-04 19:04] nkubala commented on #3623
@ktarplee would you be interested in submitting some update docs? it should be a pretty small change :)

[2020-03-04 19:05] nkubala commented on #3749
@skhaz seems like you got this sorted out so I'll close this issue. feel free to reopen if you think something is still broken!

[2020-03-04 19:05] #3749 closed

[2020-03-04 19:07] nkubala commented on #3267
since we don't have a better solution right now, I think adding this field to the Kaniko configuration in the skaffold.yaml would be fine. is anyone interested in submitting a PR?

[2020-03-04 19:12] nkubala commented on #3762
@BlenderDude thanks for filing this issue so quickly :) I'd be more than happy to help you out with your PR. tag me in it once you submit it and I'll give you some pointers wherever you need them!

[2020-03-04 19:13] pisymbol commented on #2068
@nkubala Sure. I can do that.

[2020-03-04 19:19] stanislav-zaprudskiy commented on #2508
What else could `values` be, apart from a list of images? Unfortunately, that's not obvious but rather misleading in the docs:

I was set back by this obscure thing until I found https://github.com/GoogleContainerTools/skaffold/issues/500#issuecomment-593101638 :(

[2020-03-04 21:29] bitsofinfo commented on #3737
@nkubala, well not really, this ticket is about permitting `buildCommands` to have a way to declare variables that can be consumed by other skaffold components. related I guess, but i don't see anything in that other original poster's issue about what I am proposing here.

[2020-03-04 21:32] mleonhard opened #3780 "Add coherent examples for skaffold.yaml"
https://skaffold.dev/docs/references/yaml/

Add working examples for:
- common use cases
- each feature supported by the tool

For example, the current docs show:
[code]
This is mixing together three ways to use the `sync` section.  By presenting the documentation in this way, the reader must learn all styles to be able to sort out the values required for their case.  And there will be trial-and-e

[2020-03-04 21:46] mleonhard opened #3781 "Add link-able anchors to skaffold.yaml docs"
https://skaffold.dev/docs/references/yaml/

Code is for reading.  When I have to add something complicated to some code, I include an explanation comment and a link to the documentation so the reader can go directly to the documentation and avoid having to hunt for it.  skaffold.yaml files cannot contain such time-saving links because the Skaffold documentation contains no anchors.

Here is an exa

[2020-03-04 23:17] Romeh commented on #3549
+1 for this as well !

[2020-03-04 23:45] nkubala commented on #3708
@MrLuje the issue here is that you're trying to use the tag generated by skaffold as a label in your deployment, which k8s won't accept because skaffold's generated tag isn't a valid label:

[code]
skaffold needs to append the digest to the tag so that the newly built image is picked up by k8s when a redeploy happens - more on that [here](https://github.com/GoogleContainerTools/skaffold/issues/326

[2020-03-05 00:01] nkubala commented on #2400
closing as a dupe of https://github.com/GoogleContainerTools/skaffold/issues/1441

[2020-03-05 00:01] #2400 closed

[2020-03-05 00:03] nkubala commented on #3292
Skaffold now supports multiple deployers, so I'll close this issue.

[2020-03-05 00:06] nkubala commented on #3148
@sgammon yeah, this is close enough to #3118 that I'll close this as a dupe. both issues would be addressed by adding module support, which is on the roadmap for this year.

[2020-03-05 00:06] #3148 closed

[2020-03-05 01:48] joberdick commented on #3549
I have found a workaround that helps, but still not flexible enough if you need image tag by itself.

I found this in debug output
`level=debug msg="EnvVarMap: map[DIGEST:988737991187.dkr.ecr.us-east-2.amazonaws.com/sandbox-999999-titanium:latest@sha256:8f68c8204660819340f81c94001ce651bfe87e83ab1598eb5e91bd861a39831f DIGEST_ALGO:988737991187.dkr.ecr.us-east-2.amazonaws.com/sandbox-999999-titanium

[2020-03-05 07:03] pisymbol commented on #2068
@nkubala The ```SUPPORTED_PLATFORMS``` variable inherits from GOARCH so I don't think that is even necessary, right?

[2020-03-05 07:16] laurentvaills commented on #3266
I would have been interested in providing a PR for this and being able to
contribute, but unfortunately I'm too much busy at the moment and won't
have time to set it up.

Le ven. 28 févr. 2020 à 19:42, Nick Kubala <notifications@github.com> a
écrit :

[2020-03-05 09:13] #2068 closed

[2020-03-05 09:44] Romeh commented on #2142
@nkubala  thx for covering that , can u please share with us which release version will include helm3 support ?

[2020-03-05 10:34] dgageot commented on #3781
Awesome idea @mleonhard! I'll try something

[2020-03-05 12:24] Romeh opened #3784 "library code change should trigger main app reload in multimodule project"
### Expected behavior
library code change should trigger main app reload in multimodule project
### Actual behavior
library code DOES not change should trigger main app reload in multi-module project
### Information

- Skaffold version: 1.4.0.
- Operating system:  mac os
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
It is more a question more than an issue.

Project str

[2020-03-05 12:53] foosinn commented on #3476
As far as i know thats wanted behavior in Helm2. Using the same release name, helm will try to update the existing deployment.

Release names in Helm2 are global, so you would uninstall the existing app in the other namespace otherwise. Thats why they went with this beavior.

Helm3 uses scoped releases (using secrets local to the namespace), which fixes this issue, but creates others (see #3762)

[2020-03-05 12:54] foosinn commented on #3762
@nkubala how will skaffold handle helm2 and 3 in the future? They differ in some places. Sill support both? Or simply drop helm2?

[2020-03-05 15:56] no1melman commented on #3451
Could you elaborate on this @balopat maybe show a sample skaffold.yaml

[2020-03-05 16:51] Gary-Mansell commented on #2142
@Romeh from a [thread](https://kubernetes.slack.com/archives/CABQMSZA6/p1583236706037900?thread_ts=1583233206.033900&cid=CABQMSZA6) on the kubernetes/skaffold slack channel the next release should contain helm 3 support and the ETA is this Thursday so I guess very soon! 👀

[2020-03-05 18:09] nkubala commented on #2142
@Gary-Mansell right you are, I'll be doing the release in just a few hours :)

[2020-03-05 18:49] nkubala commented on #3762
right now, we'll be supporting both natively. when helm2 is EOL'd, we'll considering dropping support for it, but not until then.

[2020-03-05 20:51] rmmcnulty9 commented on #1737
On v1.4.0 I am still seeing this problem when trying to deploy KEDA ScaledObjects (https://keda.sh/scalers/rabbitmq-queue/). Their CRD structure has a `metadata` tag that Skaffold wants to put `labels` on which is invalid for the CRD.

The skaffold error message is:

[code]

[2020-03-05 21:09] nkubala opened #3789 "Add integration tests for Helm 3"
currently, we only test Helm 2 in our integration tests. we should add support for both versions.

[2020-03-06 03:36] balopat opened #3793 "skaffold init should not traverse node_modules directory either"
we are ignoring `vendor` - we should do the same with `node_modules` too.

[2020-03-06 06:58] michaelbayday commented on #3309
Hi @balopat and @coolpalani, in building a UI/GUI for skaffold, do you have any other requested features for this? My team and I are looking into creating one and would love to share with the community when we're done.

[2020-03-06 09:06] ewirch opened #3795 "Invoke Gradle with option --console=plain"
Otherwise `gradle _skaffoldFailIfJibOutOfDate` will (sometimes) print this:
[code]
Regex `BEGIN JIB JSON\r?\n({.*})` in `jib.refreshDependencyList()` will not match.

Funny thing is, that it sometimes succeeds. Maybe Gradle decides to print progress based on timing.

[2020-03-06 10:11] jturi opened #3796 "FATA[0032] build failed: building [private_registry/sample_webapp_api_img]: copying sources: uploading build context: exit status 1"
**Actual behavior**
Skaffold Kaniko image build fails with `copying sources: uploading build context: exit status 1`

**Expected behavior**
Skaffold Kaniko builds image and uploads to a private registry

**To Reproduce**
Steps to reproduce the behavior:
1. Download skaffold v1.4.0
2. Prepare project files, Dockerfile and skaffold.yaml
3. Docker login to a private repository, login successful
4. ku

[2020-03-06 11:02] MrLuje commented on #3708
That was it, thanks
I though this one was auto-generated, my bad 🙏

[2020-03-06 11:02] #3708 closed

[2020-03-06 11:12] johnlu655 opened #3797 "skaffold deploy failed by https"
Hi,
  When I deploy the skaffold example of jib, and run skaffold dev command, the error as following, Could anybody know it?
[code]

[2020-03-06 12:16] TBBle commented on #3652
The problem is that the Jenkins chart sets up image with two [adjacent fields in values.yaml, `image` and `tag`](https://github.com/helm/charts/blob/094ca1ff07ed460b937c6e5c70f2d849dc41ede2/stable/jenkins/values.yaml#L68).

Skaffold's `imageStrategy` doesn't support that layout. I listed the layouts that are currently supported [in a different ticket](https://github.com/helm/helm/issues/7517#issue

[2020-03-06 12:17] TBBle opened #3798 "Consider defaulting 'force' to false with Helm v3"
### Expected behavior

`skaffold dev` successfully updates a Helm v3-deployed cluster when code is changed on-disk.

### Actual behavior

`skaffold dev` fails to update a Helm v3-deployed cluster when code is changed on-disk, because it passes `--force` to Helm, which leads to the following failures for services with dynamic (i.e. empty in the YAML) clusterIP values:
[code]

skaffold is bouncing o

[2020-03-06 12:30] TBBle opened #3799 "Helm fqn imageStrategy declares an unused `property` child"
### Expected behavior

https://skaffold.dev/docs/references/yaml/ only shows config options that exist.

### Actual behavior

https://skaffold.dev/docs/references/yaml/ shows that `deploy.helm.releases.imageStrategy.fqn` has a field `property` described as ["defines the image config"](https://github.com/GoogleContainerTools/skaffold/blob/5ccea0511d8e7adb9b396569835d1b788bde0ee6/pkg/skaffold/schema

[2020-03-06 12:41] TBBle commented on #3799
Looks like this came with the original support for Helm imageStrategies, #826, and was even the never used.

[2020-03-06 12:46] pre commented on #1668
Every once in a while, I have been experiencing `WARN[0032] Skipping deploy due to sync error: copying files: didn't sync any files` .  This comment was a key for me: https://github.com/GoogleContainerTools/skaffold/issues/1668#issuecomment-466633791

I have Minikube, Kustomize and Skaffold with multiple applications in different Kubernetes namespaces.

## PROBLEM: Namespace in $KUBECONFIG affects

[2020-03-06 12:50] pre commented on #3685
I have been experiencing problems with Skaffold Sync. I found out the namespace in $KUBECONFIG affects Skaffold's ability to sync files. Skaffold sync will only work when the Kubernetes namespace in $KUBECONFIG, at the time of starting Skaffold, matches the namespace of the artifact (application) being deployed.

See https://github.com/GoogleContainerTools/skaffold/issues/1668#issuecomment-5957525

[2020-03-06 15:34] and-1 commented on #3765
I have the same problem

[2020-03-06 15:41] jturi commented on #3796
Issue solved.

Line:
[code]
caused the problem since I changed it from multi-stage to single-stage build.
After commenting out this line the build and upload was successful.

[2020-03-06 17:24] prary commented on #3267
@nkubala I will raise the pr for allowing user to configure service account for kaniko in skaffold.yaml

[2020-03-06 19:17] #3762 closed

[2020-03-07 00:34] balopat opened #3800 "[FR] Application Metadata CRD for application dashboards"
I'm opening this issue to collect feedback from the Skaffold Community how high to prioritize this feature.

Please **comment** or **thumbs up** if this would be useful for you, especially if this is solving a certain use case, or saves time for you! Ideas on what other features would make it useful are also welcome.

Skaffold currently stores some metadata using labels:

[code]

This is useful to

[2020-03-08 19:50] clhodapp commented on #3800
Overall, this seems like a nice-to-have to me, but not critical.

Do note that making this data might be considered to be the job of Helm for things that do their deploys through it.

[2020-03-08 20:18] ncthbrt commented on #3563
I also have this problem. All services in our cluster are bound to 80 and 443, so all the services compete for the same ports. However what I really want is just for our ingress service to forward traffic from 80 and 443, so I defined this in the portForward section of skaffold.yaml. I earnestly expected manual port specification to take priority.

Having a race condition like this is quite unexpe

[2020-03-09 08:09] pre commented on #1668
Here's a workaround that fixes Skaffold Sync at least for me.

Wrap `skaffold dev` in a script which
-  first resets the current namespace,
- starts a subshell in the background that'll switch back into the namespace you were,
- and runs `skaffold dev`

[code]

You may need to adjust `sleep 3` for your environment.

[2020-03-09 10:19] tuananh commented on #3386
is this the recommended workaround in the meantime?

[2020-03-09 14:31] whitleykeith opened #3801 "Unexpected docker build dependency behavior: pulls the base image instead of building it"
When attempting to build an image that is built from another image in the skaffold on parallel builds, the dependent image tries to pull the base instead of building it first.

This is fine if the image isn't being pushed, but if it is I suspect that it'll pull the image in the registry instead of building it.

### Expected behavior
Skaffold builds the base image first and doesnt try to pull the i

[2020-03-09 14:45] wstrange commented on #3800
I think anything that brings skaffold more in line with the standard would be goodness. But also interested in how this intersects with helm's app definition (I think Helm does its own thing here?) and if the user brings their own App definition - how would that work?

[2020-03-09 18:38] rmohammed-xtime opened #3802 "skaffold debug not adding JAVA_TOOL_OPTIONS env variable to deployment"
### Expected behavior
JAVA_TOOL_OPTIONS env variable added to deployment yaml when running skaffold debug
### Actual behavior
JAVA_TOOL_OPTIONS env variable not added to deployment yaml when running skaffold debug
### Information
[code]

Same result with
1. skaffold debug --namespace=skaffold --skip-tests
2. skaffold debug --namespace=skaffold --skip-tests --port-forward --cache-artifacts=false
3.

[2020-03-10 04:20] mauriciopoppe commented on #1748
As a workaround I sent the values through a file referenced from `valuesFiles`

[code]

[2020-03-10 08:27] #3740 closed

[2020-03-10 10:44] jturi commented on #3796
Issue still exists

[2020-03-10 13:23] rmmcnulty9 commented on #1737
Update: This also happens on v1.5.0

Should this issue be reopened or should I submit a new issue?

[2020-03-10 13:50] dgageot commented on #3220
Looks like Cri-o will support those :tag@digest names: https://github.com/cri-o/cri-o/issues/2351

[2020-03-10 13:54] no1melman opened #3808 "Getting Remote Config even for local Docker Image"
### Expected behavior
Skaffold run through the pipeline

### Actual behavior
Get error:

[code]

### Information

- Skaffold version: v1.5
- Operating system: macOS 10.14.6
- Contents of skaffold.yaml:

[code]

The Dockerfile that this is relating to:

[code]

### Steps to reproduce the behavior

`skaffold dev`

[2020-03-10 14:27] maxandersen commented on #3220
correct - will hopefully be available in upcoming origin/openshift releases.

[2020-03-10 16:17] no1melman commented on #3808
It seems like I need to build my `builder-yarnbuilder` with `DOCKER_BUILDKIT=1`

[2020-03-10 20:23] nkubala opened #3810 "Support setting nested global config values instead of subcommands"
From https://github.com/GoogleContainerTools/skaffold/pull/3732#issuecomment-595403953

We should support kubectl-style nested config values for setting the global config, e.g.

`kubectl config set-cluster e2e --server=https://1.2.3.4`
and
`kubectl config set clusters.e2e.server https://1.2.3.4`

[2020-03-11 00:08] wstrange opened #3811 "How to represent boolean flags in buildArgs"
https://skaffold.dev/docs/pipeline-stages/builders/docker/#dockerfile-in-cluster-with-kaniko

Suggests `flags` is deprecated, but the replacement `buildArgs` is a map, and does not seem to accomodate no arg flags. For example, how does one pass  `--single-snapshot` to kaniko?

It seems like leaving in flags would be make it easier to keep up with Kaniko changes?

[2020-03-11 02:46] balopat opened #3812 "duplicated build events"
[code]

Not sure why but in the event API, we report two build events for In progress for the microservices example...

[2020-03-11 02:48] balopat commented on #3812
for jib:

[code]

[2020-03-11 04:12] balopat opened #3813 "[FR] report disk pressure issues"
When a minikube node fills up with images, it starts to report disk pressure events `NodeHasDiskPressure`.

<details>

[code]

</details>

This typically results in `<pending>` pods:

[code]

Skaffold currently reports only that waiting for the rollout:

[code]

We could report that "This minikube node is running low on disk space..."

[2020-03-11 05:05] balopat opened #3814 "[FR] support setting artifact.context in skaffold init"
We should support artifact.context in two places in `skaffold init`:

- skaffold init --analyze should return a recommended context
- skaffold init --artifacts currently only supports image names and builder pairing, we should support `context` as well to make life easier for IDEs.

[2020-03-11 09:33] emersonf opened #3816 "Add support for more expressive git commit tags"
The current `gitCommit` tag policy, specifically the `AbbrevCommitSha` variant, creates tags like `0f29189`. These tags don't have a qualifier, making it harder for automation tools to distinguish them from other types of tags, e.g. version tags. Adding support for qualifiers, like a prefix to create a `commit-0f29189` tag, would make it easier for tooling to spot images that have accumulated duri

[2020-03-11 09:37] dgageot opened #3817 "TestWaitForPodSucceeded flake"
See https://travis-ci.com/github/GoogleContainerTools/skaffold/jobs/296840283

[code]

[2020-03-11 12:15] svenbs commented on #3718
I've got the same problem with volumeClaimTemplates, where changes to the labels are not allowed. Skaffold will always update labels to contain the skaffold version, run-id, etc.

[2020-03-11 13:03] svenbs commented on #3718
All the immutable fields should be ignored by skaffold labeller. Something like this worked for me.

Adding
[code]
before https://github.com/GoogleContainerTools/skaffold/blob/c9be4210cfa10fae8057e5bd61c6129c70f698e3/pkg/skaffold/deploy/kubectl/labels.go#L49

This should be extended by all immutable ressources.

[2020-03-11 14:21] balopat opened #3821 "skaffold debug panics on nodejs example"
On examples/nodejs `skaffold debug` panics:

<details>

[code]

</details>

[2020-03-11 14:23] balopat commented on #3821
cc @briandealwis

[2020-03-11 14:52] davidfernandezm commented on #2142
@nkubala could you confirm if `skaffold debug` will work with helm as of #2350?

[2020-03-11 15:39] ekhaydarov commented on #2142
FYI skaffold dev still has issues with recreation and needs the `--force=false` flag applied

[2020-03-11 16:59] ynouri commented on #3050
We have a similar situation in my team where we can't modify the arguments passed to the skaffold command in our Jenkins pipeline.

Setting the environment variable `export SKAFFOLD_CACHE_ARTIFACTS=false` helped.

All CLI environments variables are documented there:
https://skaffold.dev/docs/references/cli/#skaffold-build

[2020-03-12 03:57] TBBle commented on #2142
@ekhaydarov That's a Helm issue, that skaffold is triggering with its default `--force=true`. See #3798 for details.

[2020-03-12 09:15] valdestron opened #3822 "Unable to provide child Dockerfile to kaniko/executor"
Pipeline config:
[code]

Skaffold config
[code]
### Expected behavior
Find and build image with provided dockerfile

### Actual behavior
No matter how i change build args, context, dockerfile destination getting error:
[code]

### Information

- JenkinsX pipeline on kubernetes cluster

I am not sure what I am doing wrong, how can I provide Dockerfile that is nested in my monorepo microservice dire

[2020-03-12 11:36] valdestron commented on #3822
The same happens with docker config like this:

[code]

skaffold debug result:
[code]

Pipeline result: the same in the original issue

[2020-03-12 11:38] #3808 closed

[2020-03-12 18:06] Norbo11 commented on #2162
For those that are trying to consume the tag that skaffold generates on `skaffold build`, I am running it with `skaffold build --file-output /dev/stdout` which prints out the tag name digest of the image regardless of your `tagPolicy`.

[2020-03-12 19:00] matthewmichihara commented on #3821
hoping to use this for an upcoming demo so lmk if this isn't feasible to fix

[2020-03-12 19:10] morozov commented on #2162
@Norbo11 so what does the process look like? You build the image once to get the digest and then rebuild it with the tag?

[2020-03-12 22:22] sujit-kamireddy opened #3824 "FR: Event API should provide container logs"
This will make it easy to rely on event API completely for logs.

[2020-03-13 01:03] balopat commented on #3821
OK, so the reason this happens is due to the node transformer is not recognizing the entrypoint. The error handling is bad, I'll look into how to fix that.

https://skaffold.dev/docs/workflows/debug/#nodejs
"The NodeJS entrypoint has to be `node`, `nodemon`, or `npm`. Note that npm scripts should not then invoke nodemon."

On the nodejs example we inherit from `node:12.16.0-alpine3.10` - this has

[2020-03-13 01:48] matthewmichihara commented on #3821
Great find @balopat! The workaround works for me.

[2020-03-13 04:03] briandealwis commented on #3821
Most images that use node set `NODE_VERSION`.  If we can't find a `node` or `npm` invocation, then this code should instead set the `NODE_OPTIONS` environment variable:
https://github.com/GoogleContainerTools/skaffold/blob/d72e3044e70e91a0d9b114da7fa6a70e63ec0fa8/pkg/skaffold/debug/transform_nodejs.go#L98-L100

[2020-03-13 04:27] briandealwis commented on #3821
Oh, just fixing to use `NODE_OPTIONS` isn't enough because of #2170 (`npm` intercepts the `--inspect` argument).

[2020-03-13 10:20] dsyer opened #3826 "Custom/Buildpack builders should support glob patterns for dependencies"
Here's the example in the docs:

[code]

When I do that I get "... stating file pkg/**: no such file or directory" and `skaffold` crashes. It works for me with just the directory. Is that expected? If so, maybe it should be reflected in the docs.

[2020-03-13 16:49] mgoltzsche commented on #1737
Currently, in case the resource is not a CRD, the transforming FieldVisitor is wrapped into a decorator that applies it recursively.
To make this more reliable it should be wrapped/recursive only when the resource's kind matches one of a predefined set of kinds that require the recursive transformations.

[2020-03-13 17:39] dsyer commented on #2357
I managed to get Spring Boot devtools to work. You have to be careful to build the image with the devtools dependency included (probably do that in a profile, so the production image is different). If the image is built using the buildpack support in Spring Boot 2.3 it ends up with the app code in `/workspace`. So this works:

[code]

[2020-03-13 17:59] loosebazooka commented on #2357
@dsyer this is interesting, I just merged jib support for spring-boot-devtools https://github.com/GoogleContainerTools/skaffold/pull/3382. Are you running `package` on your own to trigger the rebuild?

[2020-03-13 18:04] dsyer commented on #2357
Sort of. I’m just making changes the the IDE and they get copied to the target dir, where skaffold notices them.

[2020-03-13 18:10] loosebazooka commented on #2357
Oh right makes sense. So is skaffold watching anything for you?

[2020-03-13 18:17] dsyer commented on #2357
Yes, I think so. Isn’t that what the `sync:` config does?

[2020-03-13 18:18] loosebazooka commented on #2357
Yeah, sorry I'm stuck in the jib specific implementation. You're right.

[2020-03-13 21:57] yuwenma opened #3828 "[bug] GOOGLE_APPLICATION_CREDENTIALS raises credential errors"
### Expected behavior
From the example, when running skaffold in a tekton pipeline *using GKE cluster*, an env var GOOGLE_APPLICATION_CREDENTIALS needs to be specified with a kaniko secret mounted to it.

Either by running "skaffold generate-pipeline" or using the examples from the examples folder should successfully mount the secret to the GOOGLE_APPLICATION_CREDENTIALS.

### Actual behavior
The

[2020-03-13 21:58] yuwenma commented on #3828
/kind bug

[2020-03-15 10:46] ncthbrt commented on #3563
@balopat You're the maintainer of this repository, so this is ultimately your (or the rest of the team's) judgement call, but I'd venture to suggest that this issue is actually a bug report disguised as a feature request.

[2020-03-15 23:24] docwhite opened #3829 "skaffold dev: "pyenv: python2: command not found" when running the docker build"
### Expected behavior
Should not print warnings when running `skaffold dev`

### Actual behavior
Warns complaining about `python2` somewhere:

[code]

If I use debug verbosity I get:

[code]

### Information
This is just my OCD getting triggered, please don't spend too much time on it, but I am super curious to know where is it coming from.

I use `pyenv` and I have globally set python to 3.8.0, s

[2020-03-15 23:27] docwhite commented on #3829
It perhaps might be something related to `gcloud`?

[code]

[2020-03-16 14:28] AlaaHamoudah commented on #2583
I am having this issue too, and I think the reason is the target attribute.

[2020-03-16 14:29] AlaaHamoudah commented on #2583
@dgageot what was the solution for this issue?

[2020-03-16 17:04] no1melman opened #3831 "Multistage Docker Build Cache"
Is the only way to support multistage docker build cache like discussed [here](https://pythonspeed.com/articles/faster-multi-stage-builds/) to have separate docker builds in the skaffold build section like below (below being the skaffold rep of what is in that link):

[code]

There is no "auto" feature that scans your dockerfile first and caches necessary stages...

[2020-03-17 00:24] mgoltzsche commented on #1737
@rmmcnulty9 I've created a corresponding PR #3833.

[2020-03-17 02:25] saturnism opened #3834 "Unable to use Skaffold + Jib + Docker for Desktop Kubernetes - local image not found"
Using Skaffold + Jib with Docker for Desktop and the built in Kubernetes locally.

### Expected behavior
My container should start automatically.

### Actual behavior
Application doesn't start due to non-existing image tag.

### Information

- Skaffold version: 1.5.0
- Operating system: macOS Catalina
- Contents of skaffold.yaml:

[code]

Skaffold output
[code]

`imagePullPolicy` is already set to

[2020-03-17 02:40] saturnism commented on #3834
I simply changed to `minikube`, and the error went away :(

[code]

[2020-03-17 03:45] briandealwis commented on #3834
If you have a chance to run it again, could you enable debug logging with `-v debug`?

[2020-03-17 04:16] saturnism commented on #3648
I experiences similar issue where:
1. the first deployment from `skaffold dev` streamed the logs to my console
1. once i changed the code, and it triggers a redeploy, even though the deployment was successful, the log messages no longer appears.

[2020-03-17 07:39] vj319 opened #3835 "Build using specified Dockerfile"
### Expected behavior
There should be an option to specify the Dockerfile path for local build using where skaffold uses Docker Engine APIs to build docker images.
### Actual behavior
No options for specifying Dockerfile
### Information

- Skaffold version: v1.5.0
- Operating system: ubuntu 18.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Try skaffold dev with Do

[2020-03-17 12:50] #3835 closed

[2020-03-17 12:51] vj319 commented on #3835
Found the context field.

[2020-03-17 15:24] no1melman opened #3836 "Build Artifact Output as Standard"
### Expected behavior

Given something like, `--output-artifacts` it should dump the `build-artifacts.json`

### Actual behavior

You have to run

[code]

This is not useful, because in my CD, I can't see the output of the skaffold build in great detail, which is super useful, obviously

### Information

- Skaffold version: 1.5

[2020-03-17 17:16] dgageot commented on #3834
FWIW, `imagePullPolicy` doesn't need to be set. `-v debug` would for sure help understand what's going on. I suspect that the docker daemon used a build time and the one used a deploy time are not the same for whatever reason.

[2020-03-17 19:11] saturnism commented on #3834
Weirdly enough, I was only able to produce this when running from within Cloud Code, using skaffold 1.5.0 that's in the path. Same issue when running from Cloud Code using cloud Code installed skaffold.

First, make sure images are removed, e.g.
[code]

When the target image is not already in the Docker Daemon, everything works fine from the Terminal.
[code]

With the same condition of no images i

[2020-03-17 19:14] saturnism commented on #3834
/cc @etanshaul

[2020-03-17 22:17] Norbo11 commented on #2162
Not sure what your specific use-case is, but for me, I just wanted to use Skaffold to build me an image and tag it with something included the digest of the contents. I needed to retrieve that tag somehow to pass it to our deployment mechanism (we are not using Skaffold to deploy). Skaffold refused to output anything that included the digest.

If you pass `--file-output some_file.json` and then re

[2020-03-17 22:40] saturnism commented on #3834
While applying the `SKAFFOLD_VERBOSITY` env var, I discovered that the system env var has my `DOCKER_*` env vars that determines which Docker daemon to use.

Even though I already removed those configurations from `.zshrc`, they are still in `.bash_profile`.  Even though I launched IntelliJ from zsh, it still picked up env var from `.bash_profile`.

Removing the entries from `.bash_profile` solved

[2020-03-18 12:42] sbueringer commented on #2679
Hi,
I would start implementing this, if it's okay.

I have a few questions:
* where in the global config should this be configurable, options are:
  *  a separate field inside the kubectl & kubelet section (which are according to the doc the only ones supporting skaffold debbuging)
  * one field in the deploy section (possibly in a debug sub section)
  * top-level debug section

* field name/seman

[2020-03-18 12:55] clement-buchart opened #3838 "skaffold doesn't check for helm release presence in same namespace that it deploys to."
### Expected behavior

`skaffold deploy` to work even though helm releases already exists.

### Actual behavior

GOTO https://github.com/GoogleContainerTools/skaffold/issues/3838#issuecomment-600621901

We're having an issue while upgrade our helm releases with skaffold, which cause these logs :
[code]
Even though the helm release does exist.

After some troubleshooting, it appeared that skaffold

[2020-03-18 13:27] clement-buchart commented on #3838
Nevermind, the issue is actually that skaffold test for release existence in the namespace specified in skaffold.yaml, and not in the one passed via CLI :
https://github.com/GoogleContainerTools/skaffold/blob/95cfed1d047bed0a578cb84a414be071333e9884/pkg/skaffold/deploy/helm.go#L260

This seems counter-intuitive given what's specified in the [documentation](https://skaffold.dev/docs/references/cli/

[2020-03-18 17:34] #3821 closed

[2020-03-18 17:35] jturi commented on #3796
Issue fixed. Skaffold was not clear with the error message it should complain that kubectl cp is timing out instead of `copying sources: uploading build context: exit status 1` message.

**To debug the issue:**

There was a problem with `kubectl exec` and `kubectl cp` in our cluster. Skaffold tried to copy the Dockerfile with `kubectl cp` but failed to execute hence the error message.

**Solution:

[2020-03-18 17:35] #3796 closed

[2020-03-18 17:55] jturi opened #3839 "skaffold dev fails to sync files when Pod Security Policy (PSP) Run As User Policy config is enabled (feature request)"
**Actual behavior**
`skaffold dev` fails to sync files to pod if `Pod Security Policy (PSP)`  `Run As User Policy:` `MustRunAs - Requires a range to be configured. Uses the first value of the range as the default. Validates against the configured range` security configuration is enabled.

**Expected behavior**
`skaffold dev` could have a flag to specify the user ID to overcome the Run As User Poli

[2020-03-18 21:25] chanseokoh commented on #3218
It works for me. I just copy-pasted the login command from the ECR page, and Skaffold does push my image to ECR.

[code]

Note that the command above put a short-lived credential into my `~/.docker/config.json`.

[code]

Skaffold does pick up this credential and pushes an image.

![Screenshot from 2020-03-18 17-12-42](https://user-images.githubusercontent.com/10523105/77008316-4f714900-693c-11ea-8

[2020-03-18 21:27] chanseokoh commented on #3218
Googling the error message `denied: requested access to the resource is denied` makes me believe that the error message is coming from Docker Hub, not AWS ECR. It's possible that @NotSoShaby used a wrong image reference (`<ECR REGISTRY>/<IMAGE_NAME>` does look suspiciously a Docker Hub image) pointing to Docker Hub.

[2020-03-19 19:26] rrichardson opened #3841 "Recommended work-around for the need for local docker for cluster builds"
### Expected behavior

In running a `cluster` profile build the first time, kaniko correctly builds the image and the project is deployed.

When running `skaffold dev` or `skaffold run` a second time,  skaffold finds the cached image,  but, due to a config parameter, it uses some other mechanism to tag the cached image (like telling kaniko to do it?)   instead of attempting to do it with the local

[2020-03-19 22:30] no1melman opened #3843 "helm: delete doesn't respect namespace"
### Expected behavior

Run

[code]

Everything should be cleaned up

### Actual behavior

When running with custom namespace parameter, the `delete` command ignores it.
This doesn't help if you used `run -n` to put into a different namespace

Output from trace logs show command being run:

[code]

### Information

- Skaffold version: 1.5.0
- Operating system: MacOS Mojave
- Contents of skaffold.ya

[2020-03-19 22:37] balopat opened #3844 "cut release 1.6.0"

[2020-03-19 23:41] #3844 closed

[2020-03-20 00:19] balopat opened #3847 "release process issues with binary uploads & firebase deployment"
binaries are not uploaded

[code]

firebase deploy is not working since Jan 31:

![image](https://user-images.githubusercontent.com/635073/77126245-bb6bb400-6a05-11ea-95a7-0c7bd9e6edb7.png)

For 1.6.0 I uploaded both manually.

[2020-03-20 00:46] balopat opened #3848 "duplicated roadmap"
I should have noticed that when the new PR was out - but I missed it https://skaffold.dev/docs/resources/ has an outdated roadmap page and we have roadmap.md instead.

[2020-03-20 00:49] balopat commented on #3836
We do have a flag (maybe badly named):`skaffold build --file-output bla.json ` should work. Can you confirm?

[2020-03-20 02:05] mabey01 opened #3849 "Images not found in remote registry"
Im trying to speed up build time for my project. I have a monorepo inlcuding frontend and backend and use the `TreeSha` tagger to detect changes made to each component individually. If i make frontend changed, backend is tagged with the same tag as before and therefore should skip the building process, but it doesnt.

### Expected behavior
After tagging, skaffold checks cache to see if the image (

[2020-03-20 06:26] erulabs opened #3850 "Skaffold 1.6.0 does not run on Windows"
### Expected behavior
Skaffold should work! 💃
[code]

### Actual behavior
Skaffold doesn't work! 😢
[code]
Perhaps something went wrong with the windows build?

### Information

- Skaffold version: 1.6.0
- Operating system: Microsoft Windows 10 Pro 10.0.18363 Build 18363 x64-based PC
- Contents of skaffold.yaml: Does not seem to matter, happens with/without skaffold.yaml

### Steps to reproduce the

[2020-03-20 08:10] andresterba commented on #3850
Same problem with the linux release.

[code]

[2020-03-20 08:40] weivall commented on #3850
The same for linux.
`-bash: /usr/local/bin/skaffold: cannot execute binary file: Exec format error`.

[2020-03-20 09:09] thanhvd commented on #3850
The same for linux.
-bash: /usr/local/bin/skaffold: cannot execute binary file: Exec format error

[2020-03-20 09:41] no1melman commented on #3836
Okay - yeah I missed that. I think it isn't so much badly named - just not well documented.

The examples in CLI reference for build show how you would output json, so it isn't necessarily intuative to know you can substitute `skaffold build -q > build_result.json` for `skaffold build --file-output bla.json`

[2020-03-20 09:41] #3836 closed

[2020-03-20 12:27] tvvignesh commented on #3850
Same occurring for me in linux (Ubuntu 19.10) -
`Linux vignesh-predator 5.3.0-42-generic #34-Ubuntu SMP Fri Feb 28 05:49:40 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

I get this error:

![Screenshot from 2020-03-20 17-56-56](https://user-images.githubusercontent.com/1165845/77163492-33a0ab00-6ad4-11ea-838c-96e46e8619d5.png)

[2020-03-20 13:15] iwagner-inmar commented on #3850
It appears at least the linux release is a Darwin binary:

[code]

[2020-03-20 14:36] diegomarangoni commented on #3850
Looks like this release was made manually according to the issue https://github.com/GoogleContainerTools/skaffold/issues/3847

[2020-03-20 16:10] balopat commented on #3850
I am so sorry, I will fix this, yes I manually pushed the binaries, using the results of `make cross` from Mac. Probably something got messed up in our build process.

[2020-03-20 16:48] diegomarangoni commented on #3850
To build from source:

[code]

[2020-03-20 17:37] balopat commented on #3850
This should be fixed now! Please confirm.

[2020-03-20 17:40] diegomarangoni commented on #3850
I've tested for MacOS version, and it's working... thanks

[2020-03-20 17:43] andresterba commented on #3850
Works on linux. :+1:

[2020-03-20 17:47] balopat commented on #3850
I tested on windows and works now too. Please ping here if you see something's wrong. The homebrew update is still outstanding, https://github.com/Homebrew/homebrew-core/pull/51915. Thanks!

[2020-03-20 17:47] #3850 closed

[2020-03-20 18:57] dgageot commented on #3843
@no1melman are you using helm3 or a previous version?

[2020-03-20 20:04] balopat commented on #3849
Thanks for opening this @mabey01 - can you share your Dockerfiles?
The way artifact caching works is that we calculate the source digest based of the source files that  are the dependencies for the Dockerfile `ADD/COPY` commands.
Does a simple `skaffold build` twice (without any changes) also result in two rebuilds?

[2020-03-20 21:37] dgageot commented on #3795
cc @TadCordle

[2020-03-20 21:38] dgageot commented on #3793
We do already, don't we?

[2020-03-20 21:39] dgageot commented on #3802
cc @briandealwis

[2020-03-20 22:38] chanseokoh commented on #3795
Aha, we should use `--console` (Gradle) and `--batch-mode` (Maven) but only for non-normal builds (those internal goals returning `BEGIN JIB JSON`).

[2020-03-21 13:55] yashbhutwala opened #3855 "Use local registry if possible with kind"
### Expected behavior
* if local registry is being used with kind cluster, images are pushed into the local registry.

### Actual behavior
* due to skaffold detecting kind name with kubernetes context, skaffold loads images into each of the nodes rather than pushing to local registry despite it being available.

### Information

- Skaffold version: v1.6.0
- Operating system: `Darwin bhutwala-mac 1

[2020-03-21 13:59] yashbhutwala commented on #3855
Current workaround is to edit the kubeconfig to rename kubernetes context to something other than:
**`kind-(.*)`** for `kind >= v0.6.0` or
**`(.*)@kind`** for `kind < v0.6.0`

[2020-03-23 03:44] ibidani commented on #1852
Good point @pebcakerror , @dgageot tackled this issue as part of #3683 and he updated the skaffold.yaml file with the best practice

[2020-03-23 07:56] #3847 closed

[2020-03-23 10:54] Romeh commented on #3784
Hey guys any advice :) ?

[2020-03-23 10:58] Romeh opened #3861 "Skaffold + jib + gardle + helm2 auto sync fails with permission error"
### Expected behavior

### Actual behavior

### Information

- Skaffold version: 1.6.0
- Operating system: mac OS
- Contents of skaffold.yaml:
apiVersion: skaffold/v2beta1
kind: Config
metadata:
  name: catalog-app
build:
  tagPolicy:
    gitCommit: {}
  local:
    push: false
  artifacts:
    - image: docker-registry.test.com/test/test-app
      jib:
        project: test-app
      context: .

[2020-03-23 11:33] no1melman commented on #3843
Helm 3

[2020-03-23 13:02] chanseokoh commented on #3861
Is your image `test-app` configured to run as a non-root user?

[2020-03-23 16:12] mjgallag opened #3862 "skaffold.yaml documentation showing v2alpha3"
https://skaffold.dev/docs/references/yaml/

[2020-03-23 18:44] Romeh commented on #3861
@chanseokoh i am using jib default gardle build docker task without any user configuration , do i need to configure a user for such use case ?

[2020-03-23 18:56] nkubala commented on #3862
@mjgallag thanks for pointing this out, we had an issue with our docs release process last week and we rolled back to an earlier version. we'll get this fixed ASAP

[2020-03-23 19:05] chanseokoh commented on #3861
Can you locate `app/resources/META-INF/build-info.properties` and check the permissions and the ownership information of the file inside the image at runtime? Both locally with Docker and remotely on Kubernetes. Can you also check the user running your image on Kubernetes?

For remote access, something like `kubectl --context docker-for-desktop exec -it <your pod name> --namespace default -c dgc -

[2020-03-23 21:13] Romeh commented on #3861
it is root user as is from sh connection to the target container :

<img width="581" alt="Screenshot 2020-03-23 at 22 11 24" src="https://user-images.githubusercontent.com/10168589/77363703-78864500-6d53-11ea-996b-e96eda8ea12f.png">

<img width="576" alt="Screenshot 2020-03-23 at 22 10 30" src="https://user-images.githubusercontent.com/10168589/77363707-79b77200-6d53-11ea-8fb8-148c1f97b54c.png">

[2020-03-23 21:16] chanseokoh commented on #3861
Can you check this too through `kubectl exec`? Run `id` or `whomai`, for example.

[2020-03-23 22:31] matthewmichihara opened #3863 "`skaffold init --analyze` builder ordering"
In Java projects such as https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/java/java-hello-world, there is a `Dockerfile` and a `pom.xml` with Jib configured.

[code]
Cloud Code IntelliJ uses the ordering of the builders returned here to determine the default builder. If Docker and Jib builders are detected, can Jib take precedence?

Related: https://github.com/GoogleContainerT

[2020-03-23 22:33] loosebazooka commented on #3795
hrmm... we use `-Djib.console=plain` but not `--console=plain`

[2020-03-23 22:37] chanseokoh commented on #3795
I think
- for normal builds, use `-Djib.console=plain` but not `--console=plain`.
- for non-normal builds, `--console=plain` (which implies `-Djib.console=plain`).

Same goes for Maven.

[2020-03-23 23:32] chanseokoh commented on #3863
@TadCordle

This is because file entries in a directory is [sorted](https://github.com/GoogleContainerTools/skaffold/blob/86b290e83c43934200f73e11532af3cf01c2308f/pkg/skaffold/initializer/analyze/analyze.go#L97-L99) for deterministic search behavior.

I think this can be re-ordered on the Skaffold side. However, I wonder if Clode Code IntelliJ should go over the list anyway, because there may be m

[2020-03-24 03:19] briandealwis commented on #3802
(Oops sorry — I mis-clicked on the close button.)

@rmohammed-xtime could you please tell me more about your image: what are you using for the base image?  What is your image's entrypoint or command?  Basically [`skaffold debug` looks at the image environment for `JAVA_TOOL_OPTIONS` or `JAVA_VERSION`, or at the entrypoint](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/d

[2020-03-24 06:09] rkjakeer opened #3864 "helm deploy of job"
### Expected behavior
`skaffold dev` for deploy type helm with kubernetes job resources should be possible.
### Actual behavior
skaffold dev terminates with error "The Job is invalid... field is immutable" when the job has to be redeployed. The first deploy/install with same chart will be successful. This behaviour is same as in issue #891 but with helm3.

### Information

- Skaffold version: 1.5.

[2020-03-24 08:40] Romeh commented on #3861
it is root user as is i see :
/app/resources/META-INF $ id
uid=1000 gid=0(root)

[2020-03-24 12:58] chanseokoh commented on #3861
No, it is not a root user. The UID is 1000. (OTOH, the UID of root is 0. And the GID is not a user but group.) This is why the `tar` command is failing.

I have no experience with Docker for Desktop, but I guess the platform is set up to run images as non-root?

[2020-03-24 15:42] Romeh commented on #3861
Thanks for the explanation man , so to understand , the sync auto only work if my image run with root user ?

as i did not find any documentation about user privileges to make sync work ?

[2020-03-24 15:59] chanseokoh commented on #3861
Not necessarily. If `build-info.properties` is writable by UID 1000, the `kubectl exec ... tar` extraction command will work. Running as root will always work, of course.

Check the [File Sync](https://skaffold.dev/docs/pipeline-stages/filesync/) doc:

Makes sense. This is actually what I suspected from the beginning. I think for development, you could have a separate profile to run the image as r

[2020-03-24 20:46] asavpatel92 commented on #3451
yes I would second that, I tried scavenging through examples but couldn't find an example for this one.

[2020-03-24 21:32] balopat commented on #891
For `skaffold dev` this is under `--force=true` by default, for `skaffold run` you have to explicitly specify `--force=true`. Does that solve it for you @tvvignesh?

[2020-03-24 23:47] balopat commented on #3864
I dug into this a bit @rkjakeer, thanks for opening the issue!
It seems that helm 3.0 changed their behavior and we have to skip --force (https://github.com/helm/helm/issues/7173) ... Helm's `--force` flag is wired up in Skaffold using `--force=true`. So, I managed to reproduce the issue based on your description, using Helm v3 and `skaffold dev --force=false` actually works!

**Workaround**
`skaf

[2020-03-25 00:00] balopat commented on #3863
It would be great to know
 1) the typical reasons for having multiple builders defined in the same directory, that build the exact same context.
 2) what the IDE is doing with the default builder?

1)**typical reasons for having multiple builders** -  In this case: is a sample, we have both builders for educational reasons - however I could see maybe some complex organizations allow/enforce using

[2020-03-25 00:03] balopat commented on #3661
One strong reason:

I'd be more okay with choosing jib over Dockerfile - as it is more deterministic in terms of the settings to build a jib project. Dockerfile's can be found easily but the rest of the settings (context, target, etc.) are hard to determine automatically, while a well configured jib plugin can contain all that's needed.

Between Jib / Bazel it is hard to say what's best, but for n

[2020-03-25 00:09] balopat commented on #3862
I pushed a new version.

[2020-03-25 00:09] #3862 closed

[2020-03-25 00:10] balopat commented on #3855
@yashbhutwala - if you set `build.local.push:false` in your skaffold.yaml that should always force push, can you confirm whether that works for you?

[2020-03-25 01:00] balopat commented on #3841
Thanks @rrichardson for the issue!
There is no way currently to disable this.
Skaffold gets the remote digest using go-containerregistry currently after the build happened.
This means that locally, even though you don't need docker installed, but you would have to be authenticated to the registry.

I think it is an interesting ask to be able to this from the cluster though, using the same credenti

[2020-03-25 01:03] balopat commented on #3834
As this seems more of an IDE setup issue, is this okay to close this issue @saturnism?

[2020-03-25 01:06] balopat commented on #3829
interesting...:)
We don't call into python directly.
Can you run it with `-v trace`?

[2020-03-25 01:24] balopat commented on #3826
Thank you Dave for opening the issue!
We are talking about https://skaffold.dev/docs/pipeline-stages/builders/custom/#paths-and-ignore, right?

Yeah, this is a mistake - dependencies don't support glob patterns yet.

[2020-03-25 01:38] balopat commented on #3864
Huh, actually this was reported before - closing as duplicate of https://github.com/GoogleContainerTools/skaffold/issues/3798

[2020-03-25 01:38] #3864 closed

[2020-03-25 01:40] balopat commented on #3798
Thanks for opening @TBBle and for the detailed analysis!

I came to the same conclsion on #3864:

**Workaround**
`skaffold dev --force=false`

**Next steps**
* We should figure out how to handle this more gracefully on our end - the change in `--force` between Helm v2/v3 should be reflected
* we should follow https://github.com/helm/helm/issues/7082 and other conversations around this so that we c

[2020-03-25 08:29] valdestron commented on #1719
I am facing same issue, I am not getting from this discussion what was the fix ?

awsecr-cred is a secret with dockerconfig

[code]
awsecr-cred
[code]

this config does not work getting same error...

[2020-03-25 08:42] valdestron opened #3868 "skaffold kaniko permission failure on getting image last step after build"
related to: [#1719](https://github.com/GoogleContainerTools/skaffold/issues/1719)
I am facing similar issue.

### Expected behavior
Do not fail

### Actual behavior
After build fails to get image.

[code]

### Information
Skaffold version: v1.6
Operating system: unix
Contents of skaffold.yaml:

[code]

`getting image` error, which happens in remoteImage() function in docker library.

awsecr-cred
[

[2020-03-25 08:57] valdestron commented on #3868
Same issue as this [one](https://github.com/GoogleContainerTools/skaffold/issues/731#issuecomment-544697269)

[2020-03-25 09:09] dgageot commented on #2100
Fixed with #3605

[2020-03-25 09:09] #2100 closed

[2020-03-25 09:14] dgageot commented on #3817
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/3818

[2020-03-25 09:14] #3817 closed

[2020-03-25 10:06] docwhite commented on #3829
Hello @balopat thanks for having a look! I run it with trace level and it doesn't give me many clues... It seems to happen probably on docker side? Docker compose is usually installed with pip... But why would it bother about docker-compose in case it were... Hmmm.

`skaffold dev -v trace`:
[code]

[2020-03-25 10:07] docwhite commented on #3829
It there were a way to print the actual docker commands it runs that might help? Or does it use some sort of SDK so there isn't any actual docker shell commands being constructed?

[2020-03-25 11:16] tvvignesh commented on #891
@balopat Thanks. Seems to work with --force set so far but I am still doubtful of one thing since kubectl has itself not implemented it completely as I see it. Related issue here: https://github.com/kubernetes/kubernetes/issues/87747

WIll that work in skaffold.

[2020-03-25 13:40] Romeh commented on #3861
Now it works with losen up security context for local DEV , Thx man for your support so closing this issue now

[2020-03-25 13:41] #3861 closed

[2020-03-25 16:22] petr-buchin opened #3871 "Option "cacheFrom" does not work for local builds"
### Expected behavior
I expect option `cacheFrom` to work with local Docker build.

### Actual behavior
Option `cacheFrom` does not use cache.
Image, specified in `cacheFrom` option is **already pulled**.
If I run `docker build` with `--cache-from` option - cache is used.
But if I run `skaffold build` with `cacheFrom` in `skaffold.yaml` - cache is not used.

### Information

- Skaffold version: v1

[2020-03-25 16:35] robcanini opened #3872 "debug: spec.template.spec.containers[0].env[0].valueFrom: may not be specified when 'value' is not empty"
Executing `skaffold debug` causes the error below:

`spec.template.spec.containers[0].env[0].valueFrom: Invalid value: "": may not be specified when 'value' is not empty`

### Information

Skaffold: v1.5.0
OS: macOS Catalina 10.15.3
Docker desktop: 2.2.0.4
Docker engine: 19.03.8
Kubernetes: v.1.15.5

skaffold.yaml
[code]

kustomization.yaml
[code]

app-java.deployment.yaml
[code]

jvm.env
[code]

[2020-03-25 16:39] iasinDev commented on #2536
Hi, if you put

      cacheFrom:
      - eu.gcr.io/my-project-id/my-image

with latest:

      cacheFrom:
      - eu.gcr.io/my-project-id/my-image:latest

as long as you have a latest tag in the registry it would work right?

[2020-03-25 16:51] valdestron commented on #3868
Ok issue solved.

I was running skaffold inside builder in the CICD Pipeline.

Kaniko is working correctly, using provided dockerconfig.json for image push.

What was not working that the builder was not using credentials. This particular case applies to jenkins-x.

[code]

Before I mounted the docker config it looked like this:

[code]

After I mounted the credentials helper config to the builder

[2020-03-25 16:55] #3868 closed

[2020-03-25 17:22] no1melman commented on #2255
I would prefer something like this

[code]

Where I can `export RUNTESTS="1"` to run the tests, or it gets defaulted to `"0"`

[2020-03-25 18:04] balopat commented on #3799
I agree that this looks weird, thank you for your time to dig through the code to find the issue!
I think this part needs a bit of a redesign to make it less confusing, I agree that currently neither of HelmFQNStrategy or it's Property field are used. The last commit using HelmFQNStrategy was 73c59d01ad6ed5352e779e7b1a29ef725d868903.

[2020-03-25 18:35] msirang opened #3873 "status-check: breaks if user does not have access to list deployments at cluster scope"
Hi, I just upgraded at the latest version and having issues during the new "**Waiting for deployments to stabilize**" stage. It seems that Skaffold is trying to get infos about resources outside the user's namespace, but I'm not sure. Anyway, it worked perfectly before, with Skaffold v1.5.0.
The only way to make it to work with 1.6.0 version, is turning off the status-check with `--status-check=fa

[2020-03-25 19:37] valdestron commented on #3822
I upgraded skaffold cli to 1.6 in my builder image, and used v2beta1 api, and added tagPolicy, works perfectly.

[code]

[2020-03-25 19:37] #3822 closed

[2020-03-25 19:37] balopat commented on #3797
What are you passing in as `--defalult-repo`? can you try with`--default-repo https://core.harbor.local:32120` instead?

[2020-03-25 19:46] balopat commented on #3784
Thanks for opening @Romeh !
Our Jib builder calculates the image dependencies automatically that create the files for the watcher to watch - and I believe the calculation is transitive through maven/gradle dependencies. cc @GoogleContainerTools/java-tools  - @loosebazooka @TadCordle to chime in

[2020-03-25 19:48] Romeh commented on #3784
@balopat  Thanks a lot for your message :)  , I guess maybe with latest Skaffold release with auto sync which delegate to JIB the sync process it could be fixed , I am going to test it and get back to the soonest

[2020-03-25 19:49] balopat commented on #3780
Thanks @mleonhard - agreed, this would be a great improvement!

[2020-03-25 19:51] balopat commented on #3778
This is a great feature idea, we should do it!  I would also love to get some help on it from the community!

[2020-03-25 19:56] loosebazooka commented on #3784
Sync is for remote synchronization on the container. Like if you're using springboot devtools or something to reload classes/resources.

We should be doing to the right thing for building multimodule applications. Are you using `<modules>` to configure the reactor in maven?

[2020-03-25 19:59] loosebazooka commented on #3784
you can see what jib is watching by using special internal tasks on the project
`./gradlew test-app:_jibSkaffoldFilesV2`

[2020-03-25 20:02] balopat commented on #3765
Thank you, yes, this should be fixed! Theoretically shouldn't be too hard to implement. If anyone's interested from the community this is a good first issue:

Get the defaultRepo:

https://github.com/GoogleContainerTools/skaffold/blob/c1527c14d0e4f35ef6c8e65aa12e9cfd0939dcf7/pkg/skaffold/runner/build_deploy.go#L131-L134

and apply it like this

https://github.com/GoogleContainerTools/skaffold/blob

[2020-03-25 21:32] jkleckner commented on #3802
I also had this situation occur just now which I chalked up to having multiple releases defined in the configuration.  But quickly scanning #1702 I don't see anything trying to limit the deployments.

I am running skaffold v1.6.0 on MacOs High Sierra 10.13.6 for a Java deployment of a play framework set of applications.

[2020-03-25 22:51] TBBle commented on #3799
If there's any redesign on the image-strategy support, one thing that'd be handy is being able to specify it per-artifact (i.e. in the `values` section) since a large enough multi-chart complex might have different Docker image references with different formats.

And also https://github.com/GoogleContainerTools/skaffold/issues/3652#issuecomment-595743149 for dealing with other structures that the

[2020-03-26 03:43] saturnism commented on #3834
sure... the other bug i filed in cloud code now needs to come here... ;)

[2020-03-26 03:43] #3834 closed

[2020-03-26 11:52] dgageot commented on #3770
@tejal29 should those just be ignored?

[2020-03-26 11:57] dgageot commented on #3699
This was fixed with #3775

[2020-03-26 11:57] #3699 closed

[2020-03-26 11:59] dgageot commented on #3370
@reddybhavaniprasad any update?

[2020-03-26 13:17] robcanini commented on #3872
Please note that this behaviour is appearing also in version 1.6.0

[2020-03-26 13:54] dgageot commented on #3812
@balopat I can't reproduce. I used curl as a client to the http api. Can you share how you ran your test?

[2020-03-26 15:32] Inkdpixels commented on #2536
@iasinDev  The problem is that you have to manually push to the `:latest` tag each time a new image was built and pushed by skaffold, this is quite tedious.

What I would suggest is that skaffold should take care of that (maybe enabled/disabled via a setting in the `skaffold.yml`) so each time skaffold builds and pushes a new image, it will also be pushed as the `latest` image, that way the develo

[2020-03-26 18:00] kkweon opened #3879 "UX: Be clear when tests are not being run"
### Expected behavior
- Run the tests
### Actual behavior
- Did not run the tests (simply ignored without any notice)

### Information
[code]
- Skaffold version: v.1.6.0

- Operating system
[code]
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

[code]

[2020-03-26 20:04] #3795 closed

[2020-03-26 21:11] giladsh1 opened #3881 "Allow deployment of specific artifacts with a flag list"
It would be awesome, if you could add a flag to skaffold, which will filter the current deployed articfacts.
I have a couple of dozens of micro services.
when developing, I only wish to deploy a few at a time, not always all them.

I suggest adding a flag like `--deploy-artifacts` of type list, which will allow the user to specifically select which services will get deployed.
skaffold should autom

[2020-03-26 23:35] eox-dev opened #3882 "Possible bug with create-react-app"
### Expected behavior
Running `skaffold dev` should successfully spin the `create-react-app` front-end as it always has until yesterday.

### Actual behavior
It keeps starting, failing, restarting. Doesn't say why it is failing.

### Information

- Skaffold version: `v1.6.0-docs`, `v1.5.0-docs`, cutting edge
- Operating system: Ubuntu 19.10, macOS 10.15.3, Windows 10 (WSL2)
- Contents of skaffold.

[2020-03-27 01:26] adjavaherian opened #3883 "Question: Is there a way to template the kaniko pod?"
As far as I can tell from the docs, there's not a way to specify a template that Skaffold can use when creating the Kaniko pod.  Am I missing something?  For example, in a Tekton pipeline, I use Skaffold as a container (task step) which then itself spawns a Kaniko pod.  I want to mount a volume into the Kaniko pod so I can capture some bytes for use in the original task pod.  It looks like you can

[2020-03-27 02:04] tejal29 commented on #3770
I think we talked about either ignoring `yamls` and `images` in `templates` which will be specific to helm chart or just ignoring all these all together.

[2020-03-27 14:24] OliJeffery opened #3884 "GitLab deploy breaks in v1.6: “system:serviceaccount:default:default” cannot create deployments.apps in the namespace"
### Expected behavior

When pushing to gitlab master, Skaffold runs and installs our app. This is working correctly on 1.5

### Actual behavior

Most of the deployment goes fine, but once it gets to "waiting for deployments to stabilize", there's a permissions issue and the service account created doesn't have access to the deployments, getting the error `deployments.apps is forbidden: User “syste

[2020-03-27 18:23] nkubala commented on #3812
hmm, yeah I see this too. just ran `skaffold dev` in the microservices example and grabbed events with curl

[code]

[2020-03-27 18:54] dgageot commented on #3812
I'll try with skaffold dev too then

[2020-03-29 11:32] mark-ambrazhevich-spiral commented on #1312
We also reallly would like to see this feature. Our use cases is once files get updated, we need to issue command to gracefully reload application.

[2020-03-29 17:02] arlyon opened #3886 "Skaffold dev on a new machine does not download images from registry."
### Expected behavior

I have some microservices. I run `skaffold build` on my machine (or in CI), the images are uploaded, and then when others who depend on them (ie. frontend team) rebases, they can run `skaffold dev`, it pulls the images I pushed, and they are able to keep working immediately.

### Actual behavior

Images are 'not found' and built instead. It appears that skaffold doesn't chec

[2020-03-29 18:10] Romeh commented on #3784
Yes i am using project dependencies in my build file

In between Sync is for remote synchronization on the container works with multimodule structure but with some seconds latency when i use auto mode which delegate to JIB and gradle the mission of hot reloading of changed classes or resources

[2020-03-29 18:23] loosebazooka commented on #3784
@Romeh did you try the files task? That could help us debug

[2020-03-29 19:31] tvvignesh opened #3887 "Squash images using Docker options"
Hi. Docker image build provides an experimental flag `--squash` to squash new layers of images as mentioned here: https://docs.docker.com/engine/reference/commandline/image_build/

May I know how to pass the option via skaffold during build. Not sure how custom docker flags are to be passed via Skaffold. Thanks.

[2020-03-30 08:53] #3826 closed

[2020-03-30 14:17] Mister101 opened #3889 "Allow subprofiles in profile definitions"
I have a skaffold.yaml file that builds and deploys "all" of the services I have in a monorepo. Occasionally I'd like to run a single pipeline or a subset of those pipelines.

Ex: `skaffold run` might run the build + deploy pipelines for svc1, svc2, and svc3
Another time I might just want to run the pipelines for svc2 and svc3.

I'm picturing each service having a separate profile, which can be co

[2020-03-30 14:51] jrweb247 opened #3890 "insecure registry regression ?"
skaffold doesn't seem to take into account the insecure registry in its latest version, is it a regression or something misconfigured?

[code]

[code]

[2020-03-31 07:24] TBBle commented on #2994
I would be against doing the merging in Skaffold, as, unless the merging matches Helm's resolutions precisely, there's lots of room for surprising failures and confusion from Helm users.

And Helm can already do this merging, so why would we need another copy of that logic in Skaffold?

[2020-03-31 08:43] no1melman commented on #3451
Actually funnily enough I did come across it

https://github.com/GoogleContainerTools/skaffold/issues/3831

[2020-03-31 10:43] arlyon commented on #3886
PR is in progress (link above).

In the mean time, a workaround is to use a shared skaffold cache (ie. checked into the source code) coupled with [this script](https://gist.github.com/arlyon/2a146dd97976f3c9916c9fa258f28fb6) that will attempt to pull the images that match your current commit.

[2020-03-31 13:37] dgageot commented on #3813
We'd have to show the status of the pods that are spawned by each deployment. It's really not easy

[2020-03-31 18:02] balopat opened #3893 "Pruning with artifact caching"
Currently artifact caching and pruning are either-or. Artifact caching is turned on by default resulting in cool speedups but pruning is turned off and Docker VM disks are filling up fasts.

I propose a "limited memory" artifact caching solution that "remembers" only 2-3 images for a given artifact. Also we can add a TTL for our cache too.

This way we can prune all the skaffold built layers that

[2020-04-01 09:48] no1melman commented on #3843
@balopat do you require any more evidence?

[2020-04-01 13:59] Caribosaurus opened #3896 "Skaffold dev doesnt not detect changes in subfolders for bazel targets"
### Expected behavior
I expect skaffold dev to detect changes in subfolders.

### Actual behavior
Changes are only detected at the top level.

### Information

- Skaffold version: 1.6.0-docs
- Operating system: Ubuntu
- Contents of skaffold.yaml:

[code]

[2020-04-01 15:01] etanshaul opened #3897 "Go debugging doesn't work on Skaffold getting-started project"
Skaffold 1.6

This may be indicative of a larger issue with Go debugging, but starting with the [getting-started](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/getting-started) example project in this repo:

1) Run `skaffold debug` on this project:
[code]

=> No debug transformations occur (and the IDE doesn't attach a debugger consequently).

2) Update `Dockerfile` to have

[2020-04-01 15:28] Mister101 opened #3898 "comma in helm value causes it to be truncated"
### Expected behavior
If I have the following in my skaffold.yaml file:
[code]

I expect the value that gets sent to Helm is someKey: "myvalue,other"

### Actual behavior

The value that gets sent to Helm is someKey: "myvalue", with ",other" being cut off.

### Information

- Skaffold version: v1.6.0-docs
- Operating system: Windows 10
- Contents of skaffold.yaml:

[code]

### Steps to reproduce t

[2020-04-01 16:19] Mister101 commented on #3898
Nevermind - I think this was caused by helm's "set" thinking I was setting multiple values.

[2020-04-01 16:19] #3898 closed

[2020-04-01 16:20] valdestron commented on #3849
Having the same issue:
[code]

[code]

Skaffold builds 2 times, as I understand caching from remote is not working.

[2020-04-01 18:15] consokodev opened #3899 "Failed to build vs push image to GCR (failed to build: build failed - UNAUTHORIZED)"
### Expected behavior
Build and push image to private GCR

### Actual behavior
I want to build vs push docker image to private gcr on gitlab runner. I could run successfully with Minikube (I use the same service account). However, it show lack of permission:

[code]

### Information

- Skaffold version: v1.6.0
- Operating system: k8s gitlab runner
- Contents of skaffold.yaml: v1.6.0

[code]

[code

[2020-04-01 19:22] eox-dev commented on #3882
Well, was hopeful I found a solution when I read this in the v1.6.0-docs release notes:

Unfortunately, still running into the same issue after doing so. My `skaffold.yaml` is now the following:
[code]

[2020-04-01 21:02] ChrisGe4 opened #3902 "skaffold render --output takes GCS file path"
I would like to make a proposal to add functionality to allow --output flag to take a GCS path for skaffold render

if the value I pass to --output starts with gs://, skaffold should treat it as a GCS path.

possible solution:

Call gsutil in https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/util.go#L86 if filepath starts with gs://

[2020-04-01 21:38] briandealwis opened #3903 "Skaffold debug for NodeJS should handle `docker-endpoint.sh`"
See GoogleCloudPlatform/cloud-code-samples#261 for details.

[2020-04-01 22:04] briandealwis commented on #3897
Ugh.  This example uses alpine, whereas our delve duct-tape image uses glibc.

I can think of two approaches:

  1. Change this image to avoid alpine (build with `golang:1.12.9` and use `distroless/base`)
  2. Compile dlv for both alpine and glibc and create a static pre-launcher that looks to see if the image is MUSL or glibc and invokes the corresponding dlv.

[2020-04-01 22:24] matthewmichihara commented on #3863
Yeah hm.. I don't know. We have this situation in the cloud-code-samples sample projects, but those are mainly educational.

This popped up in the context of Cloud Run, where the run configuration builder combobox defaults to the first builder that is returned by `skaffold init --analyze`, and for Java, it was returning Docker before Jib.

But yes the issue also exists for the auto-generated Skaff

[2020-04-01 22:28] bgrant0607 opened #3904 "Support kpt as a deployer"
https://github.com/GoogleContainerTools/kpt
https://googlecontainertools.github.io/kpt/

Similar to the kustomize+kubectl support:
https://skaffold.dev/docs/pipeline-stages/deployers/#deploying-with-kustomize

[2020-04-02 04:04] acaird opened #3905 "Order of deployers doesn't match order listed in `skaffold.yaml`"
### Expected Behavior

I have a `skaffold.yaml` file that contains the lines:

[code]

Because `helm3` does not automatically create namespaces (anymore/yet), I have a `kubectl` deployer that is intended to create the namespace for the subsequent `helm` deployer. (I also have in mind some other things I&rsquo;d like to do with `kubectl` before `helm` runs - basically, I think there are other use c

[2020-04-02 08:36] Romeh commented on #3784
@loosebazooka  , as you see it does not see the other library modules except the main module where the docker image will be created . Jib version i am using is 2.0.0

[code]

[2020-04-02 12:14] loosebazooka commented on #3784
Weird so these inputs are very confusing.

Can you describe your project layout? I would at least expect the `test-app` build file to be in the "build" section. But that's another issue.

Even better if you can, can you provide us with a sample app (with all your personal code removed) that recreates this problem?

[2020-04-02 14:18] erpel commented on #3843
Can confirm:

`skaffold -v debug delete --namespace amqtest`
...
`DEBU[0000] Running command: [helm --kube-context zephyr-infra delete activemq]`

`$ helm version
version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}
$ skaffold version
v1.6.0`

[2020-04-02 15:19] kevinleturc opened #3907 "Kaniko + Container Structure Tests doesn't work"
### Expected behavior
container-structure-tests works as expected when image is built with Kaniko

### Actual behavior

container-structure-tests failed with the following log:
[code]

### Information

- Skaffold version: 1.5
- Operating system: Unix / Jenkins X
- Contents of skaffold.yaml:

[code]

Some clue: as Kaniko builds the Docker image without putting it in the local Docker daemon, and thu

[2020-04-02 17:21] balopat opened #3908 "status check blocks rebuild/redeploy"
I'm seeing this on microservices example: when both status check are pending, rebuilds and redeploys don't work on file changes.

[2020-04-02 17:39] balopat opened #3909 "status check fails to report startup errors (hangs on CrashLoopBackOff)"
In the current state with status-check=true by default, when a pod does not start up and is in a CrashErrorLoop, skaffold just hangs, waiting for the deployment rollout to finish. This worse than having the status-check=false.

[2020-04-02 17:58] balopat opened #3910 "skaffold does not recover from mismatching image names in yaml"
1. use the microservices example
2. break it: update one of the deployment.yaml's to point to a different image name than the artifact name - e.g. leeroy-app1
3. run skaffold dev -- we don't get any error messages, skaffold just hangs, kubectl get pods shows ImagePullBackOff
4. fix it: change the yaml back to the correct image name
5. skaffold doesn't recover, it has now two broken pods:

[code]

[2020-04-02 18:17] Caribosaurus commented on #3896
After some investigation, running as root fixes this issue and so does --trigger polling

[2020-04-02 18:34] eightlimbed commented on #3642
Any updates on this?

[2020-04-02 19:27] #3477 closed

[2020-04-02 20:42] balopat opened #3911 "release v1.7.0"

[2020-04-02 21:17] #3720 closed

[2020-04-02 21:44] #3911 closed

[2020-04-02 23:16] edh-31 opened #3913 "Exclude subdirectories from being watched jib build"
Hello.

Currently I am triying to set up skaffold to deploy a multi module REST API (https://github.com/GoogleContainerTools/skaffold/tree/master/examples/jib-multimodule). This API consits of three modules:

commons module (models), services (implementation) module and api module (openapi documentation and controllers)

And they are related as follows: The services module use the commons module a

[2020-04-03 00:05] tejal29 opened #3915 "hook up pod Container statuses with Skaffold status check phase"
Related to #3739

Skaffold status phase should grab statuses for pods and display the pod phase and container statuses.

[2020-04-03 08:27] Romeh commented on #3784
yes test app in the build section , it was typo from my side , i will try to create sample application based into our project structure soon !

[2020-04-03 09:49] SamyCoenen commented on #2217
Same issue here
`dial tcp: lookup registry.container-registry on 192.168.1.1:53: no such host`

[2020-04-03 14:21] briandealwis commented on #3905
The `deploy` node is a map, and YAML does not maintain an order on map keys.  And the underlying [data structure is a Go struct with named fields](https://github.com/GoogleContainerTools/skaffold/blob/145f59579470eb1f0a7f40d8e0924f8716c6f05b/pkg/skaffold/schema/latest/config.go#L380-L393).  So we do not have any information on the order of the deployers.

The [actual deployment code](https://githu

[2020-04-03 14:29] briandealwis commented on #3905
A third alternative is to address the specifics of this situation: have Skaffold be able to create and deploy into a namespace.  `dev` could create and tear down the namespace, whereas `run` (and `deploy`?) would create and then leave it.

[2020-04-03 15:47] loveyang2012 opened #3916 "jib-multimodule build failed manifest unknown"
I get a fata error about jib-multimodule  with skaffold build, like this:

![01](https://user-images.githubusercontent.com/24237714/78379700-5d45f000-7605-11ea-98c7-28db1cad35dd.png)

- Skaffold version: 1.6
- Operating system: centos7.5
- Contents of skaffold.yaml:

[code]

[2020-04-03 16:47] asegretto commented on #3039
I am using a self signed certificate on my private registry.
I followed these instructions to locally install the root certificate: https://docs.docker.com/engine/security/certificates/

My app docker image uses a custom base docker image in it's dockerfile.  The base image lives on the private registry.  If I use the docker client directly from the command line I can docker push and docker pull t

[2020-04-03 18:21] sujit-kamireddy opened #3918 "Skaffold Debug: panic: runtime error: invalid memory address or nil pointer dereference"
Minikube: v1.8.2
Darwin 10.15.4
Skaffold: v1.6.0
Language: Python

Below error is coming upon starting a skaffold debug session.

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation
code=0x1 addr=0x8 pc=0x4f48bb8]

Original Issue: https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/2145

**Full output below**

[code]

[2020-04-03 19:35] chanseokoh commented on #3916
[code]
This seems weird to me. Shouldn't it be `project: push-center-manage`?

If that doesn't work, I think at least `project: :<artifact ID of the push-center-manage module>`. (Mind the colon before the artifact ID.)

[2020-04-03 20:22] acaird commented on #3905
Not that I'm informed enough to make recommendations, but on the face of it I prefer Option 2, since that would be the most flexible, but I don't have any sense of the cost of it.

Option 1 would be my second choice.

Option 3 isn't really worth it to me, especially since helm3.2 is going to [implement creation of namespaces](https://github.com/helm/helm/pull/7648#issuecomment-590520569), it looks

[2020-04-03 21:11] docwhite commented on #3829
OK I just uninstalled 2.7.17 from my pyenv with `pyenv uninstall 2.7.17`. I don't get this message anymore... Closing because I don't want to bother you guys with such a small thing.

[2020-04-03 21:11] #3829 closed

[2020-04-04 00:06] russwolf opened #3920 "Make upgrade notification actionable"
### Expected behavior
It would be nice if the instructions provided a more complete set of instructions to update. New users can see full instructions here (https://skaffold.dev/docs/install/) for setup. Since Skaffold updates so frequently it might be nice to do one of a few options:
a) provide the full set of instructions to update e.g. for OSX

b) offer a link to a website where the instruction

[2020-04-04 03:25] #3918 closed

[2020-04-04 05:01] tejal29 commented on #3772
This is now fixed!

[2020-04-04 05:01] #3772 closed

[2020-04-04 19:09] briandealwis opened #3921 "Explain why no files were synced"
I encountered a puzzling message when diagnosing [an error on Stack Overflow involving syncing](https://stackoverflow.com/q/60922073/600339).  My file sync was failing with the following error:

[code]

This error message comes from:

https://github.com/GoogleContainerTools/skaffold/blob/ba4a58dfaf2c42a5db13b580e3448387929415fc/pkg/skaffold/sync/sync.go#L370-L372

The message doesn't provide any r

[2020-04-05 00:35] steinad commented on #2994
I agree with @TBBle that attempting to do additional merging in the skaffold code would likely just lead to confusion.

As a user, I would like to see a well-documented and logically sensible order of overrides, which basically boils down to adding the options to the helm command in the correct order.
In my mind, that order is, from least specific (first applied) to most specific (last applied) wo

[2020-04-05 01:03] #3899 closed

[2020-04-05 08:52] loveyang2012 commented on #3916
yes, thanks a lot

[2020-04-05 08:53] loveyang2012 commented on #3916
thinks ,project: :<artifact ID of the push-center-manage module> is ok

[2020-04-05 08:53] #3916 closed

[2020-04-05 15:30] pentago opened #3922 "Any chance of providing ARM binaries?"
Any chance of providing ARM binaries?

[2020-04-05 17:26] shantanugadgil opened #3923 "unable to set an empty default repo"
I have an issue during `skaffold build` that I cannot specify an empty value "" as the `default-repo`.
The parameter `--default-repo=""` doesn't seem to be taking effect.

In my skaffold yaml I have two profiles, one with the "base images" and the other with the application services.
The base images are derived from CentOS and then updated and needed packages are added to them.
All the application

[2020-04-06 17:41] nkubala commented on #2583
@AlaaHamoudah it seems like this issue was closed because this is the intended behavior based on the sync configurations that skaffold supports. @mtaylor567 it is possible to turn off image rebuilds - you can use the `--auto-build=false` flag which tells skaffold to wait for input through the control API before performing a build. you can then trigger this build (if you want to) by gRPC or curl, s

[2020-04-06 18:10] AlaaHamoudah commented on #2583
@nkubala thank you for ur response, I tried adding the args `--auto-build=false` when running `skaffold dev` but it seems it is not  watching the changes at all.

[2020-04-06 20:48] tstromberg commented on #3879
This does sound suspicious.

[2020-04-06 20:49] tejal29 commented on #3882
@eox-dev I tried `skaffold dev` on the latest skaffold on `examples/react-reload` example we have.
This examples runs as expected. Can you please provide a some details regarding your app or minimal code to reproduce this?

Thanks
Tejal.

[2020-04-06 20:49] balopat commented on #3746
Just to clarify - there is no `--no-watch` flag in skaffold - are you asking us to add that?
Would that actually not watch? Or you just want to have the output turned off?

[2020-04-06 20:52] briandealwis commented on #3913
Jib introduced some [additional configuration](https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin#skaffold-integration) to filter the files to be watched and synced to Skaffold.  I think there `excludes` should be able to filter your `commons` and `services` projects.

[2020-04-06 20:52] tstromberg commented on #3744
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-06 20:52] #3744 closed

[2020-04-06 20:55] tejal29 commented on #3907
@kevinleturc Can you please provide us which version of container-structure-tests?
This issue might belong to https://github.com/GoogleContainerTools/kaniko.

[2020-04-06 20:59] tejal29 commented on #3887
@tvvignesh you can use the `buildArgs` config in `build.docker` like mentioned in the docs here
https://skaffold.dev/docs/references/yaml/

Closing this for now. Please feel free to reopen

[2020-04-06 20:59] #3887 closed

[2020-04-06 20:59] tstromberg commented on #889
My $0.02: This seems entirely reasonable and we should make it happen.

[2020-04-06 21:01] balopat commented on #3871
Thanks for opening @petr-buchin - we should definitely look into this, it looks like a bug.

[2020-04-06 21:12] balopat commented on #3903
yeah I remember that I wanted to comment on https://github.com/GoogleContainerTools/skaffold/pull/3827 that that is not sufficient. Let's fix it. This is not p0 though.

[2020-04-06 21:17] eox-dev commented on #3882
@tejal29 Did you try with the repo I provided? It is basically a  `npx create create-react-app client` with no modifications. I've run into the issue on WSL2, Ubuntu 18.04, and macOS 10.15.4.

[2020-04-06 21:39] briandealwis commented on #3793
I took a quick look but I could not find any filtering of the "vendor" directory in init except for something specific to the buildpacks init builder?

[2020-04-06 21:55] nkubala commented on #3890
@jrweb247 thanks for filing. can you confirm the last version of skaffold that this was working for you on? also, could you try setting the insecure registry through the global config and see if that has a different result?
`skaffold config set insecure-registry <your registry>`

[2020-04-06 22:51] nkubala commented on #3755
hey @prabhu thanks for filing. I'm unable to reproduce this issue, when I run `skaffold run --label BUILD_ID=foo` on the `helm-deployment` example in our repository and then inspect the deployment in the cloud console, I see the label applied as I'd expect. how are you inspecting the labels on your deployed objects?

[2020-04-06 22:55] #3848 closed

[2020-04-07 00:01] nkubala commented on #3902
hey @ChrisGe4, thanks for filing. functionally this would be equivalent to `skaffold render --output render.json && gsutil cp render.json <gcs_path>`, but I suppose I wouldn't be opposed to supporting it natively in skaffold. our team probably won't be able to prioritize this any time soon, but contributions are always welcome!

[2020-04-07 00:17] nkubala commented on #3219
@taisph thanks for filing. `run-id` did introduce a bit of weirdness that we haven't quite sorted out yet, but I'm not sure how to try and repro this issue. do you think you might be able to give me a small example project to work with?

[2020-04-07 13:08] kevinleturc commented on #3907
The _container-structure-tests_ version we use is v1.8.0.

I don't know where the issue is but I wouldn't say _kaniko_ was the culprit because, in my understanding, _container-structure-tests_ seems to expect the Docker image to be in the docker daemon host if `--pull` option is missing. It seems that _skaffold_ doesn't give this option to _container-structure-tests_ and as kaniko doesn't use the

[2020-04-07 14:37] OliJeffery commented on #3884
Oh, not sure. I'm off work at the moment because of the corona crisis, but
I'll definitely try it when I get back.

On Mon, Apr 6, 2020 at 9:30 PM Thomas Strömberg <notifications@github.com>
wrote:

[2020-04-07 18:09] balopat commented on #3908
I realized that this was designed this way. However I strongly feel that we should improve it.
The work is not trivial at all - wiring up watcher events to the deployment flow will require probably to fan out the original events - so that they are not consumed from the channels that are actually used by `doDev`. That fanout could be used for cancellable builds as well though!

For the fanout of th

[2020-04-07 19:26] briandealwis commented on #3323
Two other approaches to consider:
  - Skaffold profiles support [JSON-patches](https://skaffold.dev/docs/environment/profiles/#override-via-patches) to amend the `skaffold.yaml`
  - your `pom.xml` can use `${env.XXX}` to pull values from the environment

[2020-04-07 21:05] shantanugadgil commented on #3923
Also, upon deeper experimentation, the flag `--default-repo` is not getting honored during a `skaffold build` for **non-default** kube-context parameters.

I am not sure at this point if `default-repo` is even supposed to work with non-default `kube-context`, but putting it out there for the skaffold devs! 😃

[2020-04-07 21:52] jkleckner commented on #2203
It also seems to me that `skaffold.yaml` would be the right place to annotate the runtime explicitly.

[2020-04-08 09:30] shantanugadgil opened #3927 "[feature request] provide a flag to disable update check"
Request to provide a cmd-line and config flag to disable update checking while running the skaffold binary.

### Expected behavior
when I run skaffold, it should not check online for a newer version

### Actual behavior
currently it checks online for a newer version

### Information

- Skaffold version: v1.7.0
- Operating system: Ubuntu 16.04
- Contents of skaffold.yaml: n/a

[2020-04-08 15:59] jck commented on #3873
I have the same issue:

* skaffold 1.5 works fine
* on skaffold 1.6 and 1.7, I get this error:
`FATA[0012] exiting dev mode because first deploy failed: could not fetch deployments: could not fetch deployments: deployments.apps is forbidden: User "engineer:keerthan.jaic-onepeloton.com" cannot list resource "deployments" in API group "apps" at the cluster scope`
* I can succesfully deploy on 1.6 an

[2020-04-08 16:14] tejal29 commented on #3813
On my Branch #3917, this is in progress.
[code]

[2020-04-08 18:46] tvvignesh opened #3928 "137 error code during npm install"
Hi. I have been lately facing an issue during CI/CD (Gitlab) with `npm install` frequently with error code being returned as 137 (Screenshot below)

![Screenshot from 2020-04-09 00-03-54](https://user-images.githubusercontent.com/1165845/78820829-189bc980-79f6-11ea-9382-2c8e387e7e61.png)

To start with, I am not sure if this is a problem with Skaffold or Gitlab Runner or GCloud (GKE) but I am fili

[2020-04-08 20:26] balopat commented on #3928
This does seem like an OOM on your docker runtime during builds and independent of skaffold.
You should see the same behavior with older skaffold versions.

[2020-04-08 20:46] Mister101 commented on #3889
Yeah something like that would be perfect. Each step could be defined in the yaml, and steps could potentially be defined in terms of other steps in the yaml file as well. This would make things super simple for composing different pipelines to run different configurations.

One other thing that seems related: doing `skaffold dev` would really benefit from this as well. If I have a release that de

[2020-04-08 21:16] briandealwis commented on #2203
I'm going to add an `runtimes` attribute to artifacts.  Multiple runtimes allows expressing needs like Go-on-alpine (`runtimes: ["go","alpine"]`).  It turns out I need this for Buildpacks support.

[2020-04-08 22:22] briandealwis commented on #2679
Thanks for your interest @sbueringer and my apologies in the delay in following up!  Here are my thoughts.

I think this location should be the registry and should be configurable either by the global config or an environment variable.  I'm thinking this will be used primarily to mirror the duct-tape artifacts for those behind corporate proxies.  We may well support multiple transforms in the futu

[2020-04-09 01:24] javier-b-perez commented on #3229
hi,
I have a similar use case, but I only need to pass the tag generated by skaffold.
I'm using SKAFFOLD_DEFAULT_REPO + SKAFFOLD_TAG as my workaround, but this prevent me from using tag generated by skaffold (I need to generate the tag myself, before calling skaffold).

[code]

The `my-app` Dockerfile looks like
[code]

is there a way we can make some skaffold variables available for buildArgs?

[2020-04-09 05:34] tvvignesh commented on #3928
@balopat Yup. That's what the forums said as well. That clarifies it. Closing this issue. Any recommendations on where I can look out to fix the error? Will try it out and see. Thanks.

[2020-04-09 05:34] #3928 closed

[2020-04-09 09:57] LeoDupont commented on #2448
@nkubala But this means we have to clone the repo which contains the `skaffold.yaml` file elsewhere and then copy and paste it in this handmade directory structure?

[2020-04-09 13:40] discreet commented on #3563
I'm deploying a Helm chart with Skaffold and trying to port forward to one of my services however the user defined port forward doesn't work...at all. Unless I specify `--port-forward` and use the automatic port forwarding for every service deployed Skaffold won't do _any_ port forwarding. My `skaffold.yaml` file is below:

[code]

[2020-04-09 21:35] tete17 opened #3932 "JsonPatch value should not be an object"
### Information
According to this https://github.com/GoogleContainerTools/skaffold/blob/0a3254e252b7cadc907f75018088d78f48fb7ada/docs/content/en/schemas/v2beta1.json#L1342 a json patch value must always be an `object`.

This conflicts with the "official" definition of a json patch according to http://json.schemastore.org/json-patch.

Sometime when adding into a map it just needs to be a string or

[2020-04-10 09:08] coolyrat opened #3934 "Debugging With Skaffold"
How to set up a debug environment in Goland?

info:
I am using cloud code plugin in goland to play.
[code]

skaffold.yaml
[code]
makefile
[code]

[code]

I could start up the server, but I am expecting the output below when I  run the "develop on kubernetes" in the debug mode provided by the cloud code plugin.
[code]

[2020-04-10 15:43] itdoginfo opened #3935 "Exceptions for files and directories - File Sync"
I have ruby project and use sync tool.

The directories in project are:
- app
- config
- db
- lib
- spec
and etc

Dockerfile (simplified)
[code]

skaffold.yaml
[code]
And here are not all the directory and files that do not need to rebuild.

I need to rebuild when changing only Dockerfile, Gemfile, Gemfile.lock.
It would be great to have exception, for example
[code]
Thus, the container was build

[2020-04-10 16:18] balopat opened #3936 "Improve error message when no Dockerfile found"
### Expected behavior

[code]

### Actual behavior

[code]

### Steps to reproduce the behavior

1. getting-started example
2. delete `Dockerfile`
3. `skaffold dev`

[2020-04-10 18:20] nkubala commented on #3934
@coolyrat can you give a little more info on what happens when you use the "debug" functionality in cloud code?

is there any reason why you're building using the `custom` builder? you should be able to use the `docker` builder and move your `go build` command inside of your Dockerfile.

[2020-04-10 18:24] nkubala commented on #3932
@tete17 thanks for filing. I'm not super familiar with this either, but are strings not treated as objects in JSON schema? what should it be instead?

[2020-04-10 18:27] nkubala commented on #3927
`skaffold config set update-check false`

[2020-04-10 18:27] #3927 closed

[2020-04-10 18:31] nkubala commented on #3838
closed through #3914

[2020-04-10 18:31] #3838 closed

[2020-04-10 18:34] shantanugadgil commented on #3927
it is hiding in the Privacy section ... of course! :)

ref:
https://skaffold.dev/docs/references/privacy/

[2020-04-10 18:53] coolpalani commented on #3873
I'm also facing same issue when I run `skaffold run -p profile` mode.

`00:02:22  Starting deploy...`
`00:02:22   - service/app-service configured`
`00:02:22   - deployment.apps/app-service configured`
`00:02:22  Waiting for deployments to stabilize...`
`00:02:22  Cleaning up...`
`00:02:22   - service "app-service" deleted`
`00:02:22   - deployment.apps "app-service" deleted`
`00:02:22  time="2020

[2020-04-10 20:06] tete17 commented on #3932
Hi @nkubala

I think a json object would correspond more or less to a `map[string]JsonValue` or in my beloved c++ `std::map<std::string,JsonValue>` where `JsonValue` could be a string, object, array or numeric value.

![image](https://user-images.githubusercontent.com/13263011/79018943-5ffc9400-7b75-11ea-9620-3435e2789b59.png)

Reference: https://www.json.org/json-en.html

Regarding on how to spec

[2020-04-10 20:06] coolpalani opened #3937 "Print summary of skaffold execution"
I'm wondering if you print summary of skaffold execution it would be great. Like for example if you run helm chart, at the end of deployment it will print `kubectl get deloyment,svc,pvc -n namespace` status.
It will helpful to quickly navigate application url when deploy service using NodePort type.

Note: This is not bug, please add feature request flag if you feel make sense.

[2020-04-10 22:03] nkubala commented on #3497
hey @itechbear @vitorcamachoo and company, circling back on this one. one "quirk" with using helm with skaffold right now is that for skaffold to do image tag/default repo replacement on redeployment correctly, your image needs to be explicitly declared in your skaffold.yaml as a supplemental `value` that gets passed along to helm on the CLI:
[code]
I know this isn't a great UX since many devs con

[2020-04-10 22:09] nkubala commented on #1748
I have a feeling this issue wasn't really resolved the first time around, so I'm reopening until I feel a little more confident about it.

would anyone here be willing to try and repro this again on the latest skaffold version and tell me if the issue is still there? we've made some updated to helm in the last few months but I suspect there are still issues with the way the `values` are being pass

[2020-04-10 22:11] nkubala commented on #3386
is this issue still present without the workaround?

[2020-04-10 22:20] nkubala commented on #1156
@lboclboc you're still seeing skaffold panic on the latest version?

can you give me contents of your skaffold.yaml and some version info (skaffold, helm, etc.)?

[2020-04-10 22:22] nkubala commented on #1111
it seems like this isn't a skaffold specific issue so i'll close this. if people believe there is work to be done in skaffold to fix this please let me know and i'll reopen!

[2020-04-10 22:22] #1111 closed

[2020-04-10 22:24] nkubala commented on #3801
@whitleykeith would you mind providing a little more info to help reproduce this? a sample Dockerfile would be great, or some logs showing what's happening when you're running into this issue.

[2020-04-10 22:29] nkubala commented on #3756
@LeoDupont thanks for the question. it sounds like you're trying to do something like [telepresence](https://www.telepresence.io/), which we don't really support in skaffold. if you have a few deployments configured for a few difference images, skaffold should track which images are rebuilt each time and only redeploy the changed resources - but there isn't really a way to "swap out" an existing r

[2020-04-10 22:53] nkubala commented on #1312
@mark-ambrazhevich-spiral and everyone else here, just a quick update that this is now being prioritized by our team. we'll provide updates as we make progress!

[2020-04-10 22:55] nkubala commented on #3642
@eightlimbed no updates on our end, we have a lot in the works at the moment so we probably won't prioritize this for the time being. contributions are certainly welcome here though!

[2020-04-11 00:17] balopat opened #3940 "artifact caching enables deploying with bad image?"
Actual behavior with Repro:
1. skaffold dev on getting-started example
2. break getting started with compilation error
---> nice error message, and no log tailing, "Watching for changes...". cool.
3. delete Dockerfile...
---> returns to logging and deploys an old version?

Expected:
3. should result in a build error and not log tailing / deployment

<details>

[code]

</details>

[2020-04-11 01:44] coolyrat commented on #3934
@nkubala thanks for the response.

1. when I press the debug button, the debug panel run the command below to start the skaffold workflow
![image](https://user-images.githubusercontent.com/1881159/79031993-86eab280-7bd5-11ea-9ac0-479a1348e082.png)
[code]

2. the server started without any warning or error
3. adding a breakpoint
4. fire a request

I am just trying out different approaches supported

[2020-04-11 02:23] itechbear commented on #3497
Hi, @nkubala , I can confirm your solution works since skaffold v1.5.0.

[2020-04-11 04:18] EnziinSystem commented on #2492
Two-way file synchronization is really necessary.
In development mode, we often have to create models through scaffold programs such as migrate files, controllers, etc.

[2020-04-11 11:01] jeusdi opened #3944 "copying sources: uploading build context: exit status 1"
This is my `skaffold.yaml`. It's very straightforward:
[code]
When I'm trying to build it:
[code]

As you can see:

Error checking cache. Rebuilding.

And

FATA[0017] build failed: building [skaffold-covid-backend]: copying sources: uploading build context: exit status 1

My project is a maven project. And my `Dockerfile` is:
[code]
Any ideas?

[2020-04-11 17:15] eox-dev commented on #3882
Ok, figured it out with the help of SO.

The solution in my case was just to add `ENV CI=true` and then it started working like it used to.

My final `Dockerfile.dev` was:
[code]

[2020-04-11 17:15] #3882 closed

[2020-04-12 06:57] sbueringer commented on #2679
@briandealwis Thx for the feedback. I opened a PR for it

[2020-04-12 10:48] giladsh1 opened #3946 "skaffold ignores init-containers status"
### Expected behavior
skaffold should wait for the init-conatiners to finish running.
I use init-containers to perform some actions (create config files, wait for DBs to load, etc).
when bootstrapping an entire local dev environment this is a must, especially when using multiple DBs and frameworks. Some takes a while to load in a container (like Kafka, Aerospike, etc)

### Actual behavior
when usi

[2020-04-12 13:45] jeusdi opened #3947 "Does skaffold need registries to be reachable from Skaffold host?"
I've deployed a registry service into a namespace `registry`:

    $ helm install registry stable/docker-registrty

Service:

    $ kubectl get service
    NAME                       TYPE        CLUSTER-IP     EXTERNAL-IP   PORT(S)    AGE
    registry-docker-registry   ClusterIP   10.43.119.11   <none>        5000/TCP   18h

this is my `skaffold.yaml`:

[code]

Everything works fine, up to when ka

[2020-04-13 20:01] nkubala commented on #3922
we had this for a brief moment in https://github.com/GoogleContainerTools/skaffold/pull/3819, but had to revert it because something is wrong with the `make cross` in our release job. we'll need to figure out what the issue with it is but we should add this back

[2020-04-13 22:05] briandealwis commented on #3934
Hi @coolyrat.  Your Dockerfile looks ideal: the use of `GOTRACEBACK` should be enough for Cloud Code and Skaffold to configure your container for debugging.  Could you please try running that `skaffold` command with `-v debug` and copy the logs here?

[2020-04-14 08:46] abh opened #3948 "helm3: first deploy: matching build results to chart values: no build present for ..."
### Expected behavior

Application deploys

### Actual behavior

Errors out with

[code]

### Information

- Skaffold version: v1.7.0
- Operating system: macOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1.  https://github.com/abh/ntppool (skaffold branch)
2. helm chart in https://github.com/ntppool/charts/tree/master/charts/ntppool
2. `skaffold dev`

Or alternativel

[2020-04-14 08:50] abh commented on #1748
Not sure if it's the same, but my issue in #3948 seems similar.

[2020-04-14 08:53] abh commented on #3948
FWIW, I also tried with

[code]

It's not obviously documented anywhere how skaffold passes the tag to helm.

In [the example](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/helm-deployment) the README uses `image: registry/image`, but as the [values.yaml](https://github.com/GoogleContainerTools/skaffold/blob/master/examples/helm-deployment/skaffold-helm/values.yaml) says (b

[2020-04-14 09:12] abh commented on #3948
with `-v=debug`:

[code]

[2020-04-14 09:16] abh commented on #3843
This might be fixed in #3929

[2020-04-14 09:18] maximegaillard commented on #3685
Is it fixed (it doesn't seem)? I think I have the same problem with skaffold v1.7.0.

[2020-04-14 16:25] jeusdi commented on #3841
I think I'm facing with an related issue on #3947

[2020-04-14 20:07] reggev opened #3951 "local insecure registry: http: server gave HTTP response to HTTPS client"
### Expected behavior
Running ```skaffold run```  should create the images according to the yaml files and push them to a local registry iv'e set up.
The registry is the one provided as an add-on on minikube.

### Actual behavior
I get an error
[code]

### Information
This is a nodeJs project built as a monorepo, each package has it's own docker file and I set context for each to the root director

[2020-04-14 22:23] mhn10 commented on #3497
I was facing the same issue and put in `values.image` in skaffold.yaml and its working now. But I have specified `pullPolicy: Always` in my Values.yaml for my remote clusters. Skaffold run fails with ErrImagePull. Would be great if skaffold can overwrite this pullPolicy from skaffold.yaml files like `values.pullPolicy: Never`

[2020-04-14 23:59] mhn10 opened #3953 "dev: unable to hit port without --port-forward=true (v1.7.0 change?)"
Whenever I'm running skaffold dev, I'm not able to connect to the service. I was able to do this before updating skaffold to version 1.7.0
I'm also able to debug through Cloud Code for Intellij, Version 20.4.1 pointed to skaffold executable in plugin setting (usr/local/bin).
I was able to hit my endpoint previously, but now its not accessible when i try running the app through terminal, but only t

[2020-04-15 00:11] mhn10 commented on #3953
Running `skaffold dev --port-forward=true` seems to work. Was this part of the changelog to Ver 1.7.0?

[2020-04-15 12:15] shantanugadgil opened #3955 "skaffold fix should leave comments as-they-are"
Currently `skaffold fix` gobbles up all comments. This is a feature request to leave the comments in place

### Expected behavior
comment line beginning with `#` should be let alone

### Actual behavior
comments are removed

### Information

- Skaffold version: v1.7.0
- Operating system: Ubuntu 16/18
- Contents of skaffold.yaml: N/A

[2020-04-15 15:46] tstromberg commented on #3909
@balopat - should Skaffold displaying an error and wait until the pod recovers, or should it exit early if CrashLoopBackOff is encountered?

[2020-04-15 15:59] tstromberg commented on #3884
Ouch :( Sorry to hear about that. Please let me know when you get a chance to try it - it will provide a valuable clue to us for solving this in general.

[2020-04-15 16:09] tstromberg commented on #3771
@balopat - are you working on this or can this be delegated out? I'm happy to give it a try.

[2020-04-15 16:09] tstromberg commented on #3345
@tejal29 - any news?

[2020-04-15 16:16] tstromberg commented on #3955
This seems like an entirely reasonable request. Thank you for the suggestion!

[2020-04-15 16:19] tstromberg commented on #3953
I don't see anything in the v1.7.0 release notes that would have changed this behavior.

@nkubala - is this expected behavior?

[2020-04-15 16:23] tstromberg commented on #3946
Would it be possible to provide reproduction instructions so that I could replicate this locally?

[2020-04-15 16:25] tstromberg commented on #3944
The error message here is useless. Shouldn't we be showing including stderr in the log?

[2020-04-15 16:54] balopat opened #3958 "Improve GCB docs to include a table of properties"
Dockerfile building options need a lot of digging in multiple places, it would be much easier for the users to see all the properties that can be configured in the yaml in one place in the builder docs as well.

https://skaffold.dev/docs/pipeline-stages/builders/docker/#dockerfile-remotely-with-google-cloud-build
Only lists a minimal set of properties while all of the Dockerfile artifact propertie