[2020-04-15 16:55] nkubala opened #3959 "Improve documentation around image handling for helm deployments"
Skaffold has several quirks around how and where to declare your image name, for example currently skaffold requires users to declare their image name as a value in the deploy stanza in the skaffold.yaml:
[code]

we should improve the helm documentation to detail the intricacies of using skaffold so there's less confusion.

[2020-04-15 17:01] tstromberg commented on #3116
Is this a dupe of #3039 ?

[2020-04-15 17:14] yashbhutwala commented on #3855
@balopat setting `build.local.push` to both `false` and `true`, skaffold still tries to load images into the nodes.  I want to disable loading images.

[2020-04-15 17:44] chanseokoh commented on #3116
I don't think it is a dupe. #3039 is when Docker CLI accesses a repository whereas I *think* this issue is when Skaffold accesses a repository. However, [this comment](https://github.com/GoogleContainerTools/skaffold/issues/3039#issuecomment-608546305) in #3039 seems to touch both Docker CLI and Skaffold.

[2020-04-15 17:45] chanseokoh commented on #3116
Oh, and this issue may apply only to MacOS: https://github.com/GoogleContainerTools/skaffold/issues/3116#issuecomment-545469321

[2020-04-15 18:35] jturi commented on #3944
Skaffold version: v1.7.0

[code]

I'm getting the same `copying sources: uploading build context: exit status 1` error as well.
My flask_app repository and skaffold.yaml file is deploying on the same cluster to the same namespace with the same secrets without any problem from our bare metal host (it has docker installed but daemon not running).

But if I build and run a docker image with skaffold

[2020-04-15 19:46] nkubala commented on #3311
hey @kylewolfe we recently had some changes that went into the helm deployer that may have addressed this issue. would you mind trying this out again from HEAD and letting us know if you're still seeing this issue? thanks!

[2020-04-15 22:37] balopat commented on #3756
I would like to reopen this to have a bit more discussion.

To me this does not sound like a telepresence like feature, it is more of a "selectively building and deploying modules" from a multi-module project, where skaffold _could be_ helpful, if I understand @LeoDupont's use case correctly.

Currently this is not easy, but you could do something like https://github.com/GoogleContainerTools/skaff

[2020-04-15 23:11] LeoDupont commented on #3756
@nkubala Thank you for your answer!

@balopat Yes, this is my use case: working only on some modules on an already existing and configured cluster, shared by other developpers.

I actually went for Garden.io since then, which provides such feature pretty well.
Although to me, one disadvantage of Garden is the abstraction layer with Kubernetes that is too thick and not always equivalent... But it p

[2020-04-16 00:01] pierreyves-lebrun opened #3960 "VSCode remote container development"
JIs there a straightforward way to develop in a remote container from VSCode?

Afaik, the only way to achieve this is to manually attach to one of the running containers Skaffold deployed on the K8s cluster.

This can be tedious in the case of a remote cluster composed of many nodes. Every time Skaffold rebuilds a container, devs need to find which K8s node has been used and reattach to it.

A loc

[2020-04-16 02:56] davidasnider commented on #3269
FYI, this also breaks when deploying to a mixed architecture kubernetes cluster (arm32v7 and amd64).

Here is the manifest of the multi-arch image in the registry, you can see that the arm version has a different sha256 than the amd64 version of the image as expected.

[code]

however, only the sha256 for the amd64 version of the image is getting applied to the deployment.  The only way I can figu

[2020-04-16 15:54] dgageot commented on #3910
@balopat I couldn't reproduce.

When I change the name in one of the deployment.yamls, I get a warning saying that one of the images is not used. And then, when I change the name back, it works.

[2020-04-16 16:25] dgageot commented on #3879
Hi @kkweon I'm going to close that ticket because it works as intended. The reason why it's not running tests is because the image was already in the cache. Which means it was built and passed the tests the previous time you ran Skaffold. If you want to deacticate caching, you can run skaffold with `--cache-artifacts=false`

[2020-04-16 16:27] antiBaconMachine opened #3963 "profiles which patch helm values cause: matching build results to chart values: no build present for bar"
### Expected behavior

Profiles can patch a helm values object

### Actual behavior

Profiles which patch a helm values object cause deploy failures

### Information

- Skaffold version: 1.7.0
- Operating system: OSX
- Contents of skaffold.yaml:

https://github.com/antiBaconMachine/skaffold/blob/c9486f9d2b7519c408e49e06829cc5e31aec2d18/examples/profile-patches/skaffold.yaml
[code]

### Steps to re

[2020-04-16 16:33] epos commented on #2150
Thank your for adding this comment : I've been going nuts for 2 hours with other solutions before hitting your comment. I had the limits set too low on the Kaniko pod running in a Kubernetes cluster.

[2020-04-16 16:43] dgageot commented on #3793
We do ignore files in `vendor` and `node_modules` when it comes to buildpacks: https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/buildpacks/init.go#L73

[2020-04-16 16:56] dgageot commented on #3896
@Caribosaurus do you think this issue can be closed or is there something we can in on the Skaffold side?

[2020-04-16 19:36] Caribosaurus commented on #3896
@dgageot It can be closed! BUt I don't understand why I need to elevate permissions for this to work

[2020-04-17 01:10] tejal29 opened #3967 "Add Skaffold Pipeline Data To `Metaevent` event."
### Expected behavior
The `MetaEvent` right now only emits skaffold version information. This Event will now include `Metadata` which describes the skaffold pipeline. This event will be consumed by IDEs to perform analysis.

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a cl

[2020-04-17 09:12] #3896 closed

[2020-04-17 13:48] samiracho commented on #3849
Having the same issue. I'm tagging all my images with the same tag.
For example this Docker image:
[code]

It's generated always with the same tag:
`myregistry.com/deployment/xml-envsubst:sit@sha256:1a6b5388f3fad3a60a42b231f9fee75139345e2e41954c72d37b008478144a30`

But skaffold never uses the remote cache:
[code]

[2020-04-17 15:07] marcinc opened #3968 "Skaffold Deploy: --status-check fails with custom KUBECONFIG"
It appears that when custom kubeconfig is supplied (either via `SKAFFOLD_KUBECONFIG` ENV variable or `--kubeconfig=/path/to/config`) to `skaffold deploy` the status check part would fail as it can't get the Client (presumably due to missing kubeconfig) and as a result fails to instantiate Kube API REST client and perform actual status check on deployed resources.

https://github.com/GoogleContaine

[2020-04-17 15:29] briandealwis commented on #3897
`dlv` is now statically compiled and works on musl and glibc images (GoogleContainerTools/container-debug-support#35).

[2020-04-17 18:27] tejal29 opened #3970 "Gracefully shutdown RPC server."
When pair programming with IDE team,  i saw a couple of times, the IDEs did not get the last event.

[code]

This isnt great, since IDES wont be ableto determine the reason for skaffold session failure.

[2020-04-17 21:15] matthewmichihara commented on #3661
I think this FR covers 2 scenarios:
1. If there are multiple builders and *multiple* images detected, can `skaffold init --force` automatically choose for me?
2. If there are multiple builders and a *single* image detected, can `skaffold init --force` automatically choose for me?

I think we've agreed that (2) is doable with @balopat's strawman proposal in https://github.com/GoogleContainerTools/s

[2020-04-18 14:18] maximegaillard commented on #3855
Same thing for me.

Loading images inside a kind cluster has poor performances, like really bad...using a local registry is way better. I think @yakovzaytsev wants to disable the load feature for this reason, and so do I.

Maybe create new settings like:
- `deploy.kind.localRegistry` (true|false to disable loading images)
- `deploy.kind.clusterName` (to force the kind cluster name & deactivate the

[2020-04-18 16:17] briandealwis opened #3977 "`debug` should determine runtime from source"
We should be able to walk an artifact's source to determine the runtime type.  This would remove the need for GO* environment variables and more.

There may be a chance of false positives, such as projects that use scripts as part of their builds. The explicit runtime mechanism #2203 might handle that situation.

This might be best developed as a distinct library that could also be used as a comma

[2020-04-18 17:15] coolyrat commented on #3934
Hi, @briandealwis I've upgraded my environment to following:

I finally see the initContainers were injected during the runtime. But there are two problems.

1. running debug,  the output from the cloud code:
[code]

2. so I decided to run the command below in the terminal
[code]

[code]

the last two lines kept repeating forever.

[2020-04-18 18:34] briandealwis opened #3978 "Confusion between Jib and Skaffold output"
We've had a number of situations now where users have encountered hard-to-diagnose authentication errors when using Jib with Skaffold.  Often the image build succeeds with Jib but then Skaffold exits with a failure.  For example, this [StackOverflow question](https://stackoverflow.com/questions/61213312/skaffold-dev-works-with-minikube-only-other-on-prem-cluster-fails?noredirect=1#comment108306145

[2020-04-19 15:46] eikemeier commented on #2203
v2beta2 is published, but is identical to v2beta1 :grin:. Will this be in v2beta3?

[2020-04-19 19:32] heatwole commented on #3623
I was taking a look at this and portForward seemed to be defined correctly as an array in the schema docs. I think there is a bug during rendering, but I couldn't tell where.

[2020-04-20 02:44] briandealwis commented on #3934
@coolyrat can you confirm that your app works in the "Run on Kubernetes" (the non-Debug variant)?

Your log from within Cloud Code seems to be missing oodles of statements: at `trace` level, the transformed k8s manifest would be logged shown the debugging support files being mounted on the pod.  When I run `skaffold debug -v info` from [Skaffold's `examples/getting-started`](https://github.com/Goo

[2020-04-20 03:39] briandealwis opened #3980 "Skaffold should use buildpacks builder to determine validity of image cache"
If I change `examples/buildpacks` to use a different builder after having built it, Skaffold does not detect the change change of builder and reuses the built image with the previous builder.

[2020-04-20 06:03] lotharschulz opened #3981 "JibArtifact & KanikoArtifact with kubernetes namespace cause invalid skaffold config"
### Expected behavior

Please respect Kubernetes namespace setting in combination with _jib_ in skaffold.yaml:
[code]

### Actual behavior

skaffold.yaml:
[code]

terminal:
[code]
### Information

- Skaffold version: 1.8.0
- Operating system: mac os 10.15.3
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. create a Kubernetes namespace `kubectl create namespace mynamesp

[2020-04-20 08:33] dgageot commented on #3705
Duplicate of https://github.com/GoogleContainerTools/skaffold/issues/3932

[2020-04-20 08:33] #3705 closed

[2020-04-20 08:38] dgageot commented on #3665
What's happening here is that Skaffold's cache mechanism needs to get each module's list of dependencies in order to compute a digest and compare with what it has already built before.
This currently runs gradle for each module, not matter wether it's a cache hit or miss.
This is slow indeed.

When you switch to a custom artifact, you get faster results because it then doesn't ask gradle about the

[2020-04-20 08:39] dgageot commented on #3665
I'll remove the bug label since it's the expected behaviour.

[2020-04-20 08:45] dgageot commented on #3980
It does detect the change when you change the builder's name. However it'll not use the digest of the image, just its name. What happened to you, I think, is that you had already built with both builders and both were in cache.

A workaround to this issue is to use the full digest of the builder.

[2020-04-20 08:53] dgageot commented on #3907
This is related to https://github.com/GoogleContainerTools/skaffold/issues/1082

[2020-04-20 09:06] dgageot opened #3982 "Changing test config should invalidate the build cache"
+ Build an artifact with`skaffold build`
+ Add or change the `test` config
+ Run `skaffold build` again

It should not assume the image that's in the cache is valid and tested. It should at least run the tests on it.

[2020-04-20 09:16] dgageot commented on #3907
Why I'm going to do is have *container-structure-tests* pull the images when they are built remotely (with Kaniko or GCB, for eg.) so that the tests don't fail. Ideally, we'd run the tests remotely, where the images are built, but that's a whole different problem!

[2020-04-20 09:29] dgageot commented on #3907
Ok, so it turns out that *container-structure-tests* doesn't really know how to pull images... It can only work on public images

[2020-04-20 09:58] coolyrat commented on #3934
I used the getting-started example, and It doesn't work. [see the full output](https://gist.github.com/coolyrat/eec39bcacece7b67e88276dc6197ecde).

![image](https://user-images.githubusercontent.com/1881159/79737481-f5deae80-832d-11ea-8a55-035bd869179d.png)

so I go back to my project and run the command in the terminal. [See the output](https://gist.github.com/coolyrat/f95ef161d6f7fd5bc98a30596a9

[2020-04-20 11:21] briandealwis commented on #3980
Oh! That makes sense. 👍

On Mon, Apr 20, 2020 at 4:45 AM David Gageot <notifications@github.com>
wrote:

[2020-04-20 11:21] #3980 closed

[2020-04-20 12:22] dgageot commented on #3734
The deployment is also broken by such env var.

[2020-04-20 12:35] dgageot commented on #3648
I'm going to close this issue because it comes from the `deployment.yaml` not using the image that was built by Skaffold.

+ Skaffold builds a `skaffold-demo` image
+ The deployment.yaml should reference that image, not a `registry.xxx/library/skaffold-demo` image
+ At the end if the build, Skaffold complains that `skaffold-demo` image is never used.

[2020-04-20 12:35] #3648 closed

[2020-04-20 12:36] dgageot commented on #3532
I'm going to close this issue because it got no response. We need at least the name of the example that's failing. It's also better with of log of what has happended.

[2020-04-20 12:36] #3532 closed

[2020-04-20 12:38] dgageot commented on #3220
I'm going to close this issue because there's not much we have to do on the skaffold side now. Thanks for reporting and investigating!

[2020-04-20 12:38] #3220 closed

[2020-04-20 12:49] #3387 closed

[2020-04-20 13:16] no1melman opened #3986 "Skaffold Delete specific release?"
Just thinking about a new feature if this isn't already thought about

If I do `skaffold run`, and I make a change to one particular area, I wouldn't mind being able to do `skaffold delete -r this-particular-release`. To rebuild&redeploy it, I would just do `skaffold run` again.

### Actual behavior

The actual behaviour at the moment is to delete all the releases in that yaml.

### Information

-

[2020-04-20 13:39] whitleykeith commented on #3801
So rewriting the above one to make it more clear:

[code]

and the deployment_image dockerfile pulls from a base like this:

[code]

[2020-04-20 13:47] masih opened #3988 "Explicit deactivation of profile via CLI argument"
Is there a way to explicitly disable a profile that may have been automatically activated?

[2020-04-20 14:39] dgageot commented on #3988
Hi @masih I'm sorry there's no such feature. Shouldn't be too complicated to add, though

[2020-04-20 14:41] dgageot commented on #3988
All the work happens here: https://github.com/GoogleContainerTools/skaffold/blob/d402799901c8c7b92fa670a38590e89bf2fd6de0/pkg/skaffold/schema/profiles.go#L39

[2020-04-20 14:47] dgageot commented on #3923
@shantanugadgil In Go, empty string often has the same meaning as undefined. I'll check what we can do

[2020-04-20 15:09] dgageot commented on #3923
I'll add a special case for that one flag.

[2020-04-20 15:32] giladsh1 commented on #3946
@tstromberg consider the following example -

#### skaffold yaml
[code]

and in the local `apps` folder, the following manifest -
[code]

(consider app2 is a DB which takes a little while to load).

when running the `skaffold dev` command, it will fail after 2 min -
[code]

[2020-04-20 15:50] masih commented on #3988
Thanks for the quick response @dgageot 🍻

it would be fantastic if that's added. This could even be a flag to disable "auto-activation" and make profile enablement explicit.

I think this would be useful in CI build environment just to assert behaviour and avoid unwanted accidental ones. Outside of that, it could be useful for capturing say integration tests in a profile that are run explicitly ag

[2020-04-20 16:42] tstromberg commented on #40
As this issue has had its 2yr anniversary without much in the way of updates, I'm going to close this now as stale. It's unclear to me whether or not this is as important as it once was given the changes to Skaffold since it was opened.

[2020-04-20 16:42] #40 closed

[2020-04-20 16:44] tstromberg commented on #523
As this issue is nearing its 2yr anniversary without much in the way of updates, I'm going to close this now as stale.  I believe the right way to go about this is:

- Use minikube from WSL
- or add a flag to minikube to render the correct paths.

[2020-04-20 16:44] #523 closed

[2020-04-20 16:45] tstromberg commented on #1002
As this issue has been around for 18 months without much in the way of updates, I'm going to close this now as stale. It's unclear to me whether or not this is as important as it once was given the changes to Skaffold since it was opened.

We may reopen this in the future.

[2020-04-20 16:45] #1002 closed

[2020-04-20 16:46] tstromberg commented on #1240
As this issue has had its 18 month anniversary without much in the way of updates, I'm going to close this now as stale. It's unclear to me whether or not this is as important as it once was given the changes to Skaffold since it was opened.

[2020-04-20 16:46] #1240 closed

[2020-04-20 16:46] tstromberg commented on #1363
As this issue is over a year old without much in the way of updates, I'm going to close this now as stale. It's unclear to me whether or not this is as important as it once was given the changes to Skaffold since it was opened.

[2020-04-20 16:46] #1363 closed

[2020-04-20 16:47] tstromberg commented on #1388
As this issue is over a year old without much in the way of updates, I'm going to close this now as stale.  It isn't clear to me that others felt strongly about this issue one way or another.

We may revisit this feature-request in the future.

[2020-04-20 16:47] #1388 closed

[2020-04-20 16:47] tstromberg commented on #1434
As this issue is over a year old without much in the way of updates, I'm going to close this now as stale.  It isn't clear to me that others felt strongly about this issue one way or another.

We may revisit this feature-request in the future.

[2020-04-20 16:47] #1434 closed

[2020-04-20 16:49] tstromberg commented on #2277
Adding discuss label to see if this is actually feasible or not.

[2020-04-20 16:53] tstromberg commented on #2536
Raising the priority, both because of the reactions, and because this seems like something we should sort out sooner than later. Thank you for raising this issue!

[2020-04-20 16:56] tstromberg commented on #3937
Seems like a reasonable UX improvement, but also not that high of a priority for the team. We would welcome a PR though!

[2020-04-20 17:05] tstromberg commented on #3935
This seems like a reasonable request for discussion. Thank you for suggesting it!

[2020-04-20 17:07] tstromberg commented on #3920
Perhaps we should just direct the user to the releases page - which then has more detailed installation instructions?

[2020-04-20 17:09] tstromberg commented on #3873
@coolpalani - Interesting discovery.

@tejal29 - any reason we can't check within the targetted namespace by default?

[2020-04-20 17:20] tstromberg commented on #3872
I haven't yet tried to reproduce, but your use case seem correct to me. I wonder if it's related at all to:

https://github.com/GoogleContainerTools/skaffold/blob/bd280192092e28067f0f52584c8bcb4f4dc480e4/pkg/skaffold/debug/transform.go#L289

[2020-04-20 17:21] tstromberg commented on #3839
This is on our radar for discussion. Is there a workaround that you are currently using?

[2020-04-20 17:24] tstromberg commented on #3824
This seems like a reasonable enhancement, although also one that may require a significant amount of work.  One disadvantage I see is that you'll only be able to get logs then while the skaffold process is running.

[2020-04-20 17:24] loosebazooka commented on #3665
So when is cache metadata persisted? Would custom artifacts never hit the cache? Jib rebuilds (with no changes) should be pretty quick, so maybe caching is less important?

[2020-04-20 17:36] tstromberg commented on #3816
This seems reasonable. As a temporary workaround, you may be able to get away with using regular expressions to differentiate between the two:

[a-f0-9]{7}

I agree that it would be preferable to be precise here. If you are interested in taking this on, I think this would be the place to change the output:

https://github.com/GoogleContainerTools/skaffold/blob/6010e510a9cb5f80de1d26e7245052c16c833

[2020-04-20 17:37] tstromberg commented on #3811
For no-arg flags, you should be able to specify: `flag: true`

Does that work for you?

[2020-04-20 17:46] tstromberg commented on #3986
Hey @no1melman - I've flagged this for issue for discussion. Thank you for raising this issue!

[2020-04-20 18:21] sujit-kamireddy commented on #3824
Thats a great point. I think, it should be fine, atleast for vscode, as we anyways kill the skaffold process whenever users stop the session (either running the app or debugging the app).

[2020-04-20 18:53] #3958 closed

[2020-04-20 18:53] #3623 closed

[2020-04-20 19:01] dgageot commented on #3665
Cache metadata is persisted after a successful build.
Custom artifacts use the same cache mechanism. It's just that it's faster to get the files they depend on because we just have to list the files in the current folder instead of running gradle. The issue is that it can trigger a rebuild when some changes happen to files that should in fact be ignored.
Jib rebuild is quick but not quicker that l

[2020-04-20 19:54] tstromberg commented on #3415
@dgageot - are you still seeing this behavior?

[2020-04-20 19:54] loosebazooka commented on #3665
In this case, maybe it is okay to save the whole workspace?

[2020-04-20 19:55] tstromberg commented on #3386
I believe this was addressed by the helm3 improvements in recent releases. Please /reopen if not.

[2020-04-20 19:55] #3386 closed

[2020-04-20 19:55] loosebazooka commented on #3665
better an occasional cache miss than a consistently slow startup?

[2020-04-20 19:55] tstromberg commented on #3352
@balopat - are you still seeing this behavior?

[2020-04-20 19:57] briandealwis commented on #3913
Closing as I think this functionality is already present in Jib.

[2020-04-20 19:57] #3913 closed

[2020-04-20 19:59] briandealwis commented on #3802
@rmohammed-xtime could you please attach your pom.xml?

@jkleckner could you please open a new issue, and include a small reproducible example?

[2020-04-20 20:23] tstromberg commented on #3986
This seems like a reasonable idea. If anyone is up to create a design proposal for this, we'd be open to it.

[2020-04-20 20:26] tstromberg commented on #3946
You should be able to workaround this using: `--status-check=false`

[2020-04-20 20:29] tstromberg commented on #3889
This should be solved using skaffold modules. @balopat to comment.

[2020-04-20 20:41] briandealwis commented on #3802
@rmohammed-xtime it would also help to see a debug log from `skaffold debug -v debug ...` too. Thanks!

[2020-04-20 20:43] balopat commented on #2277
Adding a deploy script seems like an easy enough thing to do at first, but there needs to be careful consideration put into the design. A solution should be able to tie nicely into logging, debugging, render, port forwarding. Extracting all this behavior into an interface is not a small feature. We recognize that there would be value here - and we would love to tackle this carefully but it is at t

[2020-04-20 20:51] tstromberg commented on #3784
@Romeh - any progress on defining a sample application?

This feels like a bug to me.

[2020-04-20 21:06] briandealwis commented on #3370
Closing; will re-open if a reproduction is provided.

[2020-04-20 21:06] #3370 closed

[2020-04-20 21:21] briandealwis commented on #3218
If you're experiencing this issue, could you please attach a debug log with running `skaffold ... -v debug`.

[2020-04-20 21:30] balopat commented on #3889
Hi @Mister101, thank you for suggesting this! Indeed we're working on skaffold modules - that is a promised functionality on our roadmap for this year - this will tackle exactly this problem and others:
- being able to build&deploy a multi-microservice app all in one go
- being able to build&deploy one or more individual components

I'm not convinced that profiles should be the vehicle for this be

[2020-04-20 21:30] #3889 closed

[2020-04-20 21:30] #2962 closed

[2020-04-20 21:33] tstromberg commented on #3947
The issue is that the hostname `registry-docker-registry.registry.svc.cluster.local` is not visible to the machine running Skaffold, even if it is perhaps resolvable to the Kaniko pod.

Do you mind clarifying your reproduction instructions a bit?

`--default-repo=registry-docker-registry.registry.svc.cluster.local:5000`

If you type:

* `nslookup registry-docker-registry.registry.svc.cluster.local

[2020-04-20 21:39] tejal29 opened #3991 "Skaffold event API failed to send a failure reason when project not found."
@quoctruong reported

[code]

Could be related to #3970

[2020-04-20 21:39] tstromberg commented on #3951
I believe this error stems from minikube providing an http:// endpoint for the registry, whereas Skaffold is looking for an https:// endpoint, at least within his IP range.

[2020-04-20 21:41] tstromberg commented on #3970
Perhaps we are not flushing the file handle between events?

[2020-04-20 21:42] tejal29 commented on #3970
I am going to raise the priority since we are focussing on IDEs success rate this quarter.

[2020-04-20 21:42] briandealwis commented on #2670
Closing as per #2835.

[2020-04-20 21:42] #2670 closed

[2020-04-20 21:45] tstromberg commented on #3960
Can you clarify on exactly what you are looking for?

I don't understand the "manually attach" part at all. There should be no manual steps involved with Skaffold developing against a remote cluster. Is this in reference to debugging?

FWIW, https://cloud.google.com/code is a VSCode plug-in that uses Skaffold for Kubernetes development, and supports debugging.

[2020-04-20 21:49] nkubala commented on #3953
@mhn10 we disabled port forwarding by default a long time ago - https://github.com/GoogleContainerTools/skaffold/pull/2115. this is reflected in our port forwarding docs as well: https://skaffold.dev/docs/pipeline-stages/port-forwarding. I'm guessing you were running a very old version of skaffold before updating to 1.7.0.

[2020-04-20 21:49] #3953 closed

[2020-04-20 21:53] nkubala commented on #3951
hmm, setting any IP or domain as an insecure registry should make skaffold force http://. @reggev can you try setting this registry in your global config and see if you still get the same issue?

`skaffold config set insecure-registry 192.168.64.3:5000`

[2020-04-20 22:09] briandealwis commented on #3010
Is there further work required here?

[2020-04-20 22:32] iasinDev commented on #2536
Yeah, that's the thing for that reason I downgraded to use Skaffold 0.20; this version makes the double tag, it creates the tag of the new version and at the same time tag the same image also with the latest tag, I don't know how and why in the last versions it has lost this behaviour (or maybe can be set but I don't know how)

[2020-04-20 23:11] #2586 closed

[2020-04-20 23:11] #2585 closed

[2020-04-20 23:11] pierreyves-lebrun commented on #3960
Skaffold supports debugging but not development in Kubernetes containers.

Developers still have to locally install all dev dependencies for their IDE to work, which is something you shouldn’t have to do.

Tools like Okteto solve this by allowing people to dev directly into containers:
https://okteto.com/docs/reference/faqs/index.html#how-is-okteto-different-from-other-tools-like-skaffold
https://

[2020-04-20 23:12] tstromberg commented on #3293
This issue appears to be a duplicate of #2807, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-04-20 23:12] #3293 closed

[2020-04-20 23:13] tstromberg commented on #2635
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists.

[2020-04-20 23:13] #2635 closed

[2020-04-20 23:15] tstromberg commented on #2633
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:15] #2633 closed

[2020-04-20 23:15] tstromberg commented on #2630
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:15] #2630 closed

[2020-04-20 23:15] tstromberg commented on #2629
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:15] #2629 closed

[2020-04-20 23:16] tstromberg commented on #2627
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:16] #2627 closed

[2020-04-20 23:16] tstromberg commented on #2625
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:16] #2625 closed

[2020-04-20 23:19] tstromberg commented on #952
Closing as stale. We can revisit this when the team has time to think more about benchmarks.

[2020-04-20 23:19] #952 closed

[2020-04-20 23:19] tstromberg commented on #977
Closing as stale until the team has a chance to prioritize this work.

[2020-04-20 23:19] #977 closed

[2020-04-20 23:20] tstromberg commented on #1018
It shouldn't be too difficult to support hosting Debian files from GCS.

[2020-04-20 23:22] tstromberg commented on #1082
This could use a clearer issue title. It's unclear what the intended outcome of this issue is.

[2020-04-20 23:26] tstromberg commented on #1276
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:28] tstromberg commented on #1411
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

[2020-04-20 23:28] #1411 closed

[2020-04-20 23:28] tstromberg commented on #1412
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

[2020-04-20 23:28] #1412 closed

[2020-04-20 23:28] tstromberg commented on #1413
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

[2020-04-20 23:28] #1413 closed

[2020-04-20 23:29] tstromberg commented on #1516
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists - particularly as that URL no longer functions. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Tha

[2020-04-20 23:29] tstromberg commented on #1519
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

[2020-04-20 23:29] #1519 closed

[2020-04-20 23:29] #1666 closed

[2020-04-20 23:32] tstromberg commented on #1668
Marking as stale because we haven't heard from the author in over a year and this specific regression has long since passed.

If you run into sync problems, please open a new issue with a clear reproduction case, and please mention the operating system version. Thank you!

[2020-04-20 23:32] #1668 closed

[2020-04-20 23:32] tstromberg commented on #1704
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

[2020-04-20 23:32] #1704 closed

[2020-04-20 23:34] tstromberg commented on #1781
Evidently this is still a thing.

[2020-04-20 23:34] tstromberg commented on #1893
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:34] #1893 closed

[2020-04-20 23:34] tstromberg commented on #1909
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

[2020-04-20 23:34] #1909 closed

[2020-04-20 23:35] tstromberg commented on #1929
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

[2020-04-20 23:35] #1929 closed

[2020-04-20 23:35] tstromberg commented on #1930
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

[2020-04-20 23:35] #1930 closed

[2020-04-20 23:35] tstromberg commented on #1932
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

[2020-04-20 23:35] #1932 closed

[2020-04-20 23:36] tstromberg commented on #1943
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

[2020-04-20 23:36] #1943 closed

[2020-04-20 23:36] tstromberg commented on #1945
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

I personally feel like this should get captured into a `CONTRIBUTORS.md` doc.

[2020-04-20 23:36] #1945 closed

[2020-04-20 23:37] tstromberg commented on #1967
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:37] #1967 closed

[2020-04-20 23:37] tstromberg commented on #2074
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

[2020-04-20 23:37] #2074 closed

[2020-04-20 23:37] tstromberg commented on #2092
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:37] #2092 closed

[2020-04-20 23:38] tstromberg commented on #2129
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:38] #2129 closed

[2020-04-20 23:38] tstromberg commented on #2202
Marking as stale, since it's been a while and does not appear to be on the teams priority radar. Feel free to reopen if you disagree.

[2020-04-20 23:39] tstromberg commented on #2351
Is this still an issue?

[2020-04-20 23:40] tstromberg commented on #2465
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:40] #2465 closed

[2020-04-20 23:40] tstromberg commented on #2471
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:42] tstromberg commented on #2503
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of Skaffold, please feel free to add a comment and we'll re-open it.

If someone sees a similar issue, please create a new issue, but do include a link to this issue if possible.

Thank you for opening the issue!

[2020-04-20 23:42] #2503 closed

[2020-04-20 23:42] base698 commented on #1781
https://tilt.dev doesn't have this requirement currently.

[2020-04-20 23:42] tstromberg commented on #2535
Closing because an answer was provided. Thank you @nkubala

[2020-04-20 23:42] #2535 closed

[2020-04-20 23:50] tstromberg commented on #97
I'm closing this issue as it hasn't seen activity in awhile, and if it does still exist, it doesn't seem to be getting any traction at the moment. If this issue appears in the most recent release of Skaffold, please feel free to add a follow-up comment and we will see about getting it prioritized appropriately.

If someone sees a similar issue to this one, please create a new issue, but do include

[2020-04-20 23:50] #97 closed

[2020-04-20 23:52] tstromberg commented on #2448
@balopat - this question seems answered. Is there something else to do?

[2020-04-21 00:00] tstromberg commented on #653
I'm closing this issue as it hasn't seen activity in awhile, and if it does still exist, it doesn't seem to be getting any traction at the moment. If this issue appears in the most recent release of Skaffold, please feel free to add a follow-up comment and we will see about getting it prioritized appropriately.

If someone sees a similar issue to this one, please create a new issue, but do include

[2020-04-21 00:00] #653 closed

[2020-04-21 00:01] tstromberg commented on #2642
Seems reasonable - a design PR would be welcome.

[2020-04-21 00:03] tstromberg commented on #3319
I'm closing this issue as it hasn't seen activity in awhile, and if it does still exist, it doesn't seem to be getting any traction at the moment. If this issue appears in the most recent release of Skaffold, please feel free to add a follow-up comment and we will see about getting it prioritized appropriately.

If someone sees a similar issue to this one, please create a new issue, but do include

[2020-04-21 00:03] #3319 closed

[2020-04-21 00:06] tstromberg commented on #459
I'm closing this issue as it hasn't seen activity in awhile, and if it does still exist, it doesn't seem to be getting any traction at the moment. If this issue appears in the most recent release of Skaffold, please feel free to add a follow-up comment and we will see about getting it prioritized appropriately.

If someone sees a similar issue to this one, please create a new issue, but do include

[2020-04-21 00:06] #459 closed

[2020-04-21 00:13] tstromberg commented on #3904
+1 - we should do this.

[2020-04-21 00:13] tstromberg commented on #2833
I'm closing this issue as it hasn't seen activity in awhile, and if it does still exist, it doesn't seem to be getting any traction at the moment. If this issue appears in the most recent release of Skaffold, please feel free to add a follow-up comment and we will see about getting it prioritized appropriately.

If someone sees a similar issue to this one, please create a new issue, but do include

[2020-04-21 00:13] #2833 closed

[2020-04-21 00:44] nkubala commented on #1179
I think this one can finally get gravestoned. we addressed this partially through implementation, and partially through clarification of what we will/won't support. we can always reopen this can of worms if we need to :)

[2020-04-21 00:44] #1179 closed

[2020-04-21 00:54] morgs32 commented on #1412
Well I've been subscribed to this hoping that some documentation or examples would show up eventually. Maybe log something in the cli tool that begs people to add any open source implementations they are doing to a list somewhere in this repo?

[2020-04-21 01:31] tstromberg commented on #3886
This seems reasonable - and I'm glad to see you've provided a PR. Thank you!

[2020-04-21 01:31] tstromberg commented on #3883
@tejal29 - is this something you can assistance on?

[2020-04-21 01:33] tstromberg commented on #3831
This seems like a reasonable idea - but also not a high priority for the team at the moment. If you or someone else is willing to make a design proposal, I'd be eager to check it out: https://github.com/GoogleContainerTools/skaffold/tree/master/docs/design_proposals

Help wanted!

[2020-04-21 01:35] tstromberg commented on #3763
I think we should do this. Thank you for the idea!

Help wanted.

[2020-04-21 01:37] tstromberg commented on #3718
Can anyone comment on the the root cause of why skaffold's labels could break these deployments?

[2020-04-21 01:38] tstromberg commented on #3702
This sounds fixable. Help wanted!

[2020-04-21 01:41] tstromberg commented on #3227
I believe this was fixed.

[2020-04-21 01:41] #3227 closed

[2020-04-21 01:51] slimm609 commented on #3718
It’s trying to apply labels to immutable objects that can’t change or add labels.  PVCs, webhooks and a few others are the ones that I have seen

[2020-04-21 03:16] briandealwis commented on #2351
Yes.

[2020-04-21 03:18] briandealwis commented on #2202
Re-opening but marking as p3 as we know it's an issue but other issues were higher priority.

[2020-04-21 03:22] #3302 closed

[2020-04-21 03:23] tstromberg commented on #2925
Seems fixed.

[2020-04-21 03:23] #2925 closed

[2020-04-21 03:24] tstromberg commented on #2842
Anyone know if this is still an issue in more recent releases?

[2020-04-21 03:24] tstromberg commented on #2814
I'm closing this issue as it hasn't seen activity in awhile, and if it does still exist, it doesn't seem to be getting any traction at the moment. If this issue appears in the most recent release of Skaffold, please feel free to add a follow-up comment and we will see about getting it prioritized appropriately.

If someone sees a similar issue to this one, please create a new issue, but do include

[2020-04-21 03:24] #2814 closed

[2020-04-21 03:27] tstromberg commented on #2553
I'm closing this issue as it hasn't seen activity in awhile, and if it does still exist, it doesn't seem to be getting any traction at the moment. If this issue appears in the most recent release of Skaffold, please feel free to add a follow-up comment and we will see about getting it prioritized appropriately.

If someone sees a similar issue to this one, please create a new issue, but do include

[2020-04-21 03:27] #2553 closed

[2020-04-21 03:28] tstromberg commented on #2170
Making a non-question since there seems to be a PR toward implementing this.

[2020-04-21 03:29] tstromberg commented on #1937
I'm closing this issue as it hasn't seen activity in awhile, and if it does still exist, it doesn't seem to be getting any traction at the moment. If this issue appears in the most recent release of Skaffold, please feel free to add a follow-up comment and we will see about getting it prioritized appropriately.

If someone sees a similar issue to this one, please create a new issue, but do include

[2020-04-21 03:29] #1937 closed

[2020-04-21 03:31] tstromberg commented on #1852
Closing since it seems the open questions have been addressed.

[2020-04-21 03:31] #1852 closed

[2020-04-21 03:31] tstromberg commented on #1766
Sounds like this has been answered.

[2020-04-21 03:31] #1766 closed

[2020-04-21 03:32] tstromberg commented on #346
Anyone up for writing an example document for this?

[2020-04-21 03:54] briandealwis commented on #3934
@coolyrat I should have asked this before but are you developing on macOS?  It would explain why you're encountering the following error:

[code]

You can cross-compile a Linux binary with Go, but you need to set `GOOS` like as follows:

	GOOS=linux go build -gcflags='all=-N -l' -o ./tmp/app ./cmd/app/main.go

[2020-04-21 04:07] coolyrat commented on #3934
@briandealwis thank you so much, it worked!

I could start the server, and I started a dlv, I can now debug the application. But when I change the code, It doesn't rebuild.

[2020-04-21 04:20] briandealwis commented on #3934
That's by design as redeploying-on-save has a nasty side-effect of terminating existing pods, and thus kills any debug sessions in progress.  #3272 requests incorporating some hidden options from  `dev` to allow more user control over rebuilds and redeploys.

Closing as this issue is solved.

[2020-04-21 04:20] #3934 closed

[2020-04-21 06:05] giladsh1 commented on #3946
@tstromberg thank you for the workaround tip.
is there also an option to stream the init-containers logs to the console?

[2020-04-21 06:42] tuananh170489 commented on #3648
thank for your reply

[2020-04-21 08:12] #3932 closed

[2020-04-21 08:16] #3897 closed

[2020-04-21 08:19] Romeh commented on #3784
@tstromberg  I have updated to latest JIB , Gradle and Skaffold and now i see all project modules being listed in the output of _jibSkaffoldFilesV2 , so we are good now I guess and we can close the issue , thx guys for ur usual support !

[2020-04-21 08:20] #3784 closed

[2020-04-21 08:20] #2948 closed

[2020-04-21 08:29] dgageot commented on #3415
yes

[2020-04-21 08:32] #3940 closed

[2020-04-21 08:57] dgageot opened #3994 "cryptic build fail: docker build: error during connect: Post "https://127.0.0.1:32769/v1.24/build...": EOF"
[code]

It seems that this is a build failure, but I would expect to see the build logs, not a URL of something I do not understand

[2020-04-21 09:59] aeneasr commented on #1748
With a fresh kubernetes environment and Skaffold never being executed before, this fails when running `dev` because of the "release not found" error. For some reason Skaffold wants to delete a non-existing release and fails because it does not exist, during initial cleanup phase. Mentioned workarounds to not work for me.

[2020-04-21 10:00] aeneasr commented on #1748
`skaffold delete` fails with the same error.

[2020-04-21 10:34] aeneasr commented on #1748
Sorry, for the comment flood, did some more research:

[code]

fails with:

[code]

Removing the `values` **does actually resolve the issue, so my previous comment is incorrect**. This config worked before but I made these changes:

- I upgraded Helm from v2 to v3
- I upgraded Skaffold to 1.7.0 (I don't remember what version it was before, but timeframe was around Feb/March 2019)
- I replaced the

[2020-04-21 12:00] jeusdi commented on #3947
Take in mind that, I'm launching `skaffold` from my host machine. My k8s is a k3d instance with 2 workers.

I've worked around it, exposing internal registry to outside kubernetes using the same name. I mean, an ingress rule to `registry-docker-registry.registry.svc.cluster.local`. After that, I've added this name no my host `/etc/resolv.conf`.

    127.0.0.1       localhost registry-docker-regist

[2020-04-21 13:45] briandealwis commented on #3963
Hi @antiBaconMachine.  Your skaffold.yaml is attempting to add a node to `/deploy/helm`, which doesn't exist:

[code]

If you change it to:
[code]

then you should get your helm deployer moving.

[2020-04-21 13:45] #3963 closed

[2020-04-21 13:52] briandealwis commented on #3960
@pierreyves-lebrun Skaffold does support [syncing files to the remote containers](https://skaffold.dev/docs/pipeline-stages/filesync/).  Does VS Code remote containers support developing multiple containers in parallel?

[2020-04-21 14:21] tvvignesh commented on #346
@tstromberg I can help if you are okay with me taking Gitlab CI as an example for explaining the docs.

[2020-04-21 14:28] pierreyves-lebrun commented on #3960
Yes I know, but syncing files to a remote container is different than developing in it.
Ideally I don’t want to install any dependency on my laptop for working on a project, I just want to plug my IDE into the remote container as it embeds all my project dependencies.

This is what VSCode “dev in remote container” feature is about, using a repeatable and easily deployable environment (a container)

[2020-04-21 14:42] tstromberg commented on #3994
I read this error as: Skaffold tried to send a build request to the local Docker daemon, but failed because Docker unexpectedly closed the connection.

Skaffold *should* retry all idempotent HTTP requests, including this one.

Even if it was retried, we should be able to to return a better error message.

[2020-04-21 15:11] briandealwis commented on #3994
Revising down as it's not breaking functionality.

I *think* this particular case is because Docker was not running.

[2020-04-21 16:28] tvvignesh opened #4000 "Update skaffold Docker image with Helm 3"
Hi. I was trying to deploy a Helm chart with Skaffold (I run skaffold with Docker) but I got errors complaining that tiller is not installed and so on.

Then I noticed here: https://github.com/GoogleContainerTools/skaffold/blob/master/deploy/skaffold/Dockerfile.deps

that Skaffold Docker image ships with `v2.12.0` which is quite old and thus the deployment was not working. Is it possible to update

[2020-04-21 16:51] aeneasr commented on #3948
I get the same issue just defining a random value. This helm deploy config

[code]

causes

[code]

When I omit the `foobarbaz ` key it works just fine!

[2020-04-21 17:00] aeneasr commented on #1748
Ok, sorry for digging this up! After some serious bug hunting it appeared that a chart we use upgraded but had also introduced regression issues. This caused the release to fail, culminating in the logs above. Because `-v debug` was set, I did not properly figure out why the build failed (due to the verbosity) and assumed that the cleanup was broken - which it isn't (as clearly indicated by the WA

[2020-04-21 18:17] #3734 closed

[2020-04-21 18:47] #3982 closed

[2020-04-21 19:03] tvvignesh commented on #4000
I have published a Docker image https://hub.docker.com/r/timecampus/skaffold with helm updated to `3.x` komposer, kind, kustomize, bazel removed (since I didn't need it)

Just in case it helps anyone.

[2020-04-21 19:14] wstrange commented on #3811
It's not clear to me where we would specify that. In flags (which is marked as deprecated), or perhaps buildArgs?
Can you give me an example of how I pass the single flag `--single-snapshot` to Kaniko?

[2020-04-21 19:18] wstrange commented on #3811
To clarify the issue, passing in `--single-snapshot` to `flags` works fine - it's just that we get a deprecation warning:
`WARN[0006] The additionalFlags field in kaniko is deprecated, please consult the current schema at skaffold.dev to update your skaffold.yaml. `

[2020-04-21 19:28] wstrange commented on #3811
ahhhh,
[code]

OK - yea, that works ;-) Sorry for being dense, the use of the word "flag" threw me off.

I think a small sample in the doc would be helpful...

[2020-04-21 19:28] #3811 closed

[2020-04-21 19:30] briandealwis opened #4001 "Late deployment error messages when cluster is not running"
I tried launching Skaffold to test a little project, but had forgotten to start minikube.  I eventually got a hard-to-grok error message about the deployment failing, but it came about 20-30 seconds after the start.  In the meantime I had a puzzling `Starting deploy...` go into `Cleaning up...` with no reason:

[code]

actually get a meaningful error from the attempt to deploy, but I did get what

[2020-04-21 19:37] briandealwis commented on #3454
@feloy I tried your example with Skaffold 1.7 and HEAD and it all works:
[code]

Would you mind trying a newer Skaffold and see if you can still reproduce?  If it's still present, please run with `-v debug` to output more verbose logs and attach here.

[2020-04-21 19:39] briandealwis commented on #3454
Is it possible you had clock skew between your node and your local machine?

[2020-04-21 21:12] csantanapr commented on #3269
If someone having issues, today I experimented with OpenShift 4.3 and hit this issue and additional one.

1. OCP already does the sha256 image, the workaround to avoid using a tag
[code]
Thanks to @pdettori for the tip
2. OCP runs containers as random uid (not root) and user group 0/root and sync doesn't work
The root cause in my case the container was built on my mac using docker-desktop, the fil

[2020-04-21 22:08] jkleckner commented on #3802
@briandealwis The topic #2203 should address the underlying issue I saw.

[2020-04-21 22:12] ddehghan commented on #3946
we don't use initContainers but still fails with the same error. I think if for some reason the container initialization is slow it will get killed after 2 min. I am updating our server over very flaky internet connection. I wonder if the cause of slowness is communicating with the local cli client of skaffold.

[2020-04-21 23:06] tejal29 commented on #3345
@prary and @tstromberg This is being actively worked on in https://github.com/GoogleContainerTools/skaffold/issues/3915

We are looking into integrating pod events.

[2020-04-21 23:28] dbaker-EA opened #4002 "kubectl 'permission denied' when running skaffold dev command on OSX Catalina"
### Expected behavior
The ``skaffold dev`` command succeeds without random permission issues.

### Actual behavior
The ``skaffold dev`` command seems to randomly fail to execute the ``kubectl rollout status deployment`` command with a "/usr/local/bin/kubectl: permission denied" error. This ends up causing the deployment to be considered failed even though it eventually succeeds in deploying.

###

[2020-04-22 00:13] wstrange commented on #3811
Not sure if you want to keep this open as a doc issue?

[2020-04-22 01:15] csantanapr opened #4003 "add NODEJS_VERSION on debug detection logic"
### Expected behavior

The command `skaffold debug` to work with nodejs ubi images from redhat

### Actual behavior

The command `skaffold debug` not detecting debugging runtime for nodejs

### Information

- Skaffold version: 1.8.0
- Operating system: MacOS Catalina
- Contents of skaffold.yaml:

[code]

[code]

### Steps to reproduce the behavior

1.   git clone https://github.com/csantanapr/thin

[2020-04-22 04:31] briandealwis commented on #4003
It may make more sense to check for `NODE_ENV`, to be honest.

But I think there are a couple of issues here.  As you noted, `debug` looks at `NODE_VERSION` but also examines the ENTRYPOINT and CMD values too. Your CMD is shell-style, and I'm pretty sure `debug` doesn't handle that well.  Could you `docker inspect` your image and tell me what the container entrypoint is?

[2020-04-22 04:43] briandealwis commented on #4002
Docker provides its own kubectl in /usr/local/bin and seems to periodically (and silently) remove other links and relink it to its own kubectl.  There are a couple of issues around this (https://github.com/docker/for-mac/issues/2368).

You might consider putting your Homebrew install location earlier in your PATH.

Closing as this is not a Skaffold issue.

[2020-04-22 04:43] #4002 closed

[2020-04-22 05:32] csantanapr commented on #4003
Yes I agree to check with to check for NODE_VERSION but if it’s not present in addition check NODEJS_VERSION

I got it working fine once I created the NODE_VERSION variable, tested with multiple CMD variations Everything works fine

[2020-04-22 05:33] csantanapr commented on #4003
As long CMD starts with node, /node, npm, nodemon everything is fine

That part works fine.

[2020-04-22 07:55] kostyaplis opened #4005 "`skaffold deploy` exit status 0 when Helm deployer failed"
### Expected behavior
Skaffold should return non-zero exit code if deployer failed
### Actual behavior
Skaffold throws `WARN[0010] exit status 1 ` and exited with 0 status, that makes our CI/CD to believe  that deploy successfully finished, even if it not started...
### Information
Issue introduced in version `1.5.0` and still exists in `1.8.0`.
I've tested several scenarios. With Helm `2.16.5` an

[2020-04-22 08:41] stefanomiccoli commented on #1766
It may not support now (1.8) but it used to (1.0) because I was away from backend for a while, and when came back I updated skaffold and now the setup that allowed me to develop 5+ services does not work anymore. The setup was similar to the one from cabrinoob (nodejs, typescript, lerna). I had dockerfiles for each service that in first stage copied ts, transpiled to js and send to second and last

[2020-04-22 09:47] sw360cab opened #4007 "Doc inconsistency on deploy/kustomize"
Apparently documentation about [yaml syntax](https://skaffold.dev/docs/references/yaml/) is inconsitente on the kustomize part.
*Path* to kustomization.yaml files is referred as `paths`.

However the schema for v1 reports `path` for the same configuration part.
See [source code](https://github.com/GoogleContainerTools/skaffold/blob/07993d12af6a55edcf1c72562af7f7832f1d26a8/pkg/skaffold/schema/v1/co

[2020-04-22 09:54] jordanworner opened #4008 "SIGILL: illegal instruction on macOS on versions >= 1.6.0"
### Expected behavior

Skaffold commands to execute successfully without a SIGILL error on macOS

### Actual behavior

All commands in skaffold versions >= 1.6.0 are throwing SIGILL errors

SIGILL: illegal instruction
PC=0x4067380 m=0 sigcode=1
goroutine 1 [running, locked to thread]:
runtime.asyncPreempt()
        /usr/local/go/src/runtime/preempt_amd64.s:8 fp=0xc00009ddb8 sp=0xc00009ddb0 pc=0x40

[2020-04-22 13:00] pehlert commented on #3734
Thanks everyone!

[2020-04-22 13:45] dgageot commented on #3955
@tstromberg any idea on how we should do it?

[2020-04-22 13:48] dgageot commented on #3955
Perhaps this can help: https://github.com/go-yaml/yaml/issues/132

[2020-04-22 13:53] dgageot commented on #3970
For that to work, I think we would have to wait a few second before we actually close the server.
Would that be ok that Skaffold "freezes" for a few seconds after it's done?
See https://marcofranssen.nl/go-webserver-with-graceful-shutdown/

[2020-04-22 13:54] dgageot commented on #3970
I'm going to try it out

[2020-04-22 13:59] dgageot commented on #3970
So, no freeze. I read the code wrong

[2020-04-22 18:22] raul1991 opened #4011 "Skaffold fails to push to local private docker registry"
I ran a local docker registry and would want to use it with skaffold so it can push images to it but it fails.

### Expected behavior
It should be able to push to the local registry

### Actual behavior
This fails with the error

### Information

- Skaffold version: 1.8.0
- Operating system: macos
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Clone https://github.co

[2020-04-22 18:51] #3907 closed

[2020-04-22 18:51] #1082 closed

[2020-04-22 19:00] jturi commented on #3839
Yes, we found a solution:

- Dockerfile
[code]

After these modifications skaffold syncs files even with the most restricted psp:

[code]
[code]

I hope it helps.
We can close this issue.
Skaffold works great, we even integrated it into our Jenkins pipeline, to build and deploy projects.

[2020-04-22 19:00] #3839 closed

[2020-04-22 19:04] dmarvasti commented on #1749
Solved for me as well..

[2020-04-22 19:11] dgageot commented on #1514
@nkubala isn’t that a bit outdated with helm 3?

[2020-04-22 19:14] dgageot commented on #3664
I’m going to close this issue because all the features are there.

[2020-04-22 19:14] #3664 closed

[2020-04-22 22:23] shantanugadgil commented on #3559
The above workaround doesn't work for me as I have `default-repo` set in the global config.
So the `AWS ECR + imagename + tag` is my complete "image name".

The cmdline I wish would work is like below:

[code]

The docker image `xxxxx.dkr.ecr.myregion.amazonaws.com/my_app:working-master` has been built and pushed to ECR in a separate "skaffold build" step, probably from a a different machine altog

[2020-04-22 22:29] shantanugadgil commented on #3765
Hitting pretty much the same issue, except its for AWS ECR. I have 👍  the OP, in case that helps to prioritize this more.

Regards,
Shantanu

[2020-04-22 23:47] tejal29 commented on #3883
@adjavaherian currently it is not possible to template kaniko pod spec within skaffold.yaml.
Skaffold interfaces with many tools and we have thought in past about
1. how can we add generics fields to pass as arguments to these tools instead of add a config field for each argument.
We have done that by adding key value map like `buildArgs`,  `args` in the spec.
Kaniko is special since it has spec a

[2020-04-23 00:32] tejal29 commented on #3873
This must be a bug. Looks like the namespace `""` is passed to status check which causes to api to query resources in all namespaces.

[2020-04-23 03:45] briandealwis commented on #4011
It's not that simple, unfortunately.  `localhost` is `127.0.0.1`, which will refer to whichever host or container it is running on.  It might work with `--default-repo=$(ipconfig getifaddr en0)` assuming the containers can reach your local host.

Since you seem to be using minikube, you can remove your `local.push: true` and Skaffold will automagically build and load images into the minikube's doc

[2020-04-23 03:58] briandealwis commented on #4007
Hi @sw360cab.  `path` was renamed to `paths` in v2alpha3 in #3585.  The reference `skaffold.yaml` uses the latest release (currently v2beta2).

[2020-04-23 03:58] #4007 closed

[2020-04-23 04:13] briandealwis commented on #3981
Hi @lotharschulz — the `cluster:` section is for cluster-based build parameters.  And the jib builder doesn't support cluster builds.

I wondered if you expected this `cluster.namespace` to indicate the namespace to be used for deployment?  That is, to correspond to Skaffold's `deploy`/`dev`'s `--namespace` argument?  We don't seem to have a `namespace:` attribute on our deployers.

[2020-04-23 05:14] raul1991 commented on #4011
You explanation was right.I was behind a proxy so the problem was occurring and fixing that made it all work fine.

[2020-04-23 05:22] raul1991 commented on #4011
Ok, That was bit hasty on my part to close this issue so reopening it so as to monitor it.

[2020-04-23 07:01] lotharschulz commented on #3981
Thanks @briandealwis. I misunderstood _cluster_ section semantics. Now I learned that _cluster_ in skaffold context does not refer to _Kubernetes cluster_ in all cases. [Skaffold's cli option](https://skaffold.dev/docs/references/cli/#skaffold-dev) `-n, --namespace` (or ENV var `SKAFFOLD_NAMESPACE`) is what I should have used initially.

[2020-04-23 07:01] #3981 closed

[2020-04-23 07:26] tejal29 opened #4013 "[error scenario] `skaffold dev` continues with dev loop even though Minikube cluster is not present."
### Expected behavior
On prototype branch,
1. After restarting my machine, my minukube cluster stopped.
2. On the branch,
[code]

### Actual behavior
`skaffold dev` should have exited.
### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffo

[2020-04-23 07:29] #4008 closed

[2020-04-23 07:36] loligans commented on #2175
@briandealwis how much has changed on this front?

I find that I am able to debug .NET based applications using the VSCode Docker and Omnisharp extensions together. It appears that the VSCode Docker extension attaches the following volumes:

[code]

Then when launching the application for debugging the following command gets executed:
`docker exec -i loligansidentity-dev /remote_debugger/vsdbg --i

[2020-04-23 10:16] jordanworner commented on #4008
Thanks @dgageot, just downloaded the latest build and it's working on my Mac.

[2020-04-23 11:55] dgageot commented on #3991
@tejal29 Could you see if this was fixed by #4010?

[2020-04-23 15:10] dgageot commented on #3812
I'm giving up. Can't reproduce.

[2020-04-23 15:13] #3923 closed

[2020-04-23 15:42] dgageot commented on #3155
Haven't seen this one since it was reported. Let's close the issue and see what happens

[2020-04-23 15:42] #3155 closed

[2020-04-23 17:42] thclark opened #4018 "Getting started guide not reloading"
### Expected behavior
`skaffold dev` to reload pods when changes are made to source code in the getting-started guide.

### Actual behavior

No reloading, similar to [this old issue](https://github.com/GoogleContainerTools/skaffold/issues/202)

Same problem with the hot-reload example.

### Information

- Skaffold version: 1.8.0 installed via brew
- Operating system: MacOS Mojave 10.14.6 (18G3020)

[2020-04-23 18:53] briandealwis commented on #4018
[code]

I suspect you made the change before the deployment was completed — and more importantly, before the file watcher has been started.  Could you retry but wait for the _Watching for changes_ message to appear?

(That `Change detected <nil>` is odd — I see it too if I make a change before the deployment finished.)

[2020-04-23 19:19] jkleckner commented on #3802
@rmohammed-xtime Would #2203  solve your issue as well?

[2020-04-23 20:13] frayer commented on #3883
I'm interested in something like this as well, but get schema errors in Skaffold `v1.8.0`.  I would like to use `gcr.io/kaniko-project/warmer:latest` as shown in [this example](https://github.com/GoogleContainerTools/kaniko/blob/master/examples/kaniko-warmer.yaml) to create a volume with the cached base image I'll be building on top of.  That could be a step outside of Skaffold, but once created I

[2020-04-23 21:03] #3967 closed

[2020-04-23 21:11] nkubala commented on #653
yeah this issue isn't really relevant anymore. `skaffold deploy` now either requires tags for prebuilt artifacts, or the output of a `skaffold build` to consume.

[2020-04-23 21:12] nkubala commented on #459
this issue should actually be fixed now that we support deployment status check by default.

[2020-04-23 21:18] jkleckner commented on #3802
From conversation with @briandealwis in slack chat, I'm including more information on our image.
Here is the output of `docker inspect` with various hashes redacted:
[inspect.txt](https://github.com/GoogleContainerTools/skaffold/files/4525337/inspect.txt)

[2020-04-23 21:30] nkubala commented on #3948
I think this is a dupe of https://github.com/GoogleContainerTools/skaffold/issues/1748, so I'll close this. if you think this is a separate issue, please reopen.

[2020-04-23 21:30] #3948 closed

[2020-04-23 21:34] nkubala commented on #3812
that's so weird, I repro'd this on my first try...were you trying on OS X?

[2020-04-23 21:37] #4000 closed

[2020-04-23 21:59] nkubala commented on #2842
this flag does still exist, but we probably want to remove it soon.

[2020-04-23 22:23] nkubala commented on #4005
@kostyaplis it would be great to have a small sample project in a repo that we could use to reproduce. I'm not seeing this with any of our other examples or any of my initial tests. my guess is that this has something to do with the status check not knowing about the errors returned by helm, but it's hard to say.

also, providing us with your full chart config as well as logs from running with `-v

[2020-04-24 04:44] cpoole opened #4022 "Ability to block until deploy and port-forward are finished"
### Expected behavior
For usage in CI pipelines (specifically integration testing) it would be nice if there was an easy way to do `skaffold run --port-forward` and _not_ have it hang indefinitely. Instead it would simply block until all port forwards have been completed.

Currently I run `skaffold run` then manually create the port forwards, but now i've got these port forwards duplicated.

Is th

[2020-04-24 04:56] GavinOsborn commented on #3798
A quick +1 from me. We've run into identical issues that @TBBle reports.

This becomes even more frustrating if; like us; you use Cloud Code for VSCode as I'm not aware of a way to use the `--force=false` workaround described.

[2020-04-24 10:03] thclark commented on #4018
Thanks for a quick response, and your assistance @briandealwis !

Hmm, apologies that one must've been done hastily when I was trying to recreate steps that I'd taken to complete the issue.

But alas, waiting for the watcher to kick in doesn't change the situation, the following still isn't hot reloading. Is there anything more I can do in terms of digging into logs ?

[code]

[2020-04-24 12:59] briandealwis commented on #3718
@slimm609 you mention

Where is this sample project?

[2020-04-24 13:21] briandealwis commented on #2175
@loligans thanks for that information.  `docker exec` is functionally equivalent to SSH.  From the volumes mounted, my guess is that the .vsdbg is really the only relevant volume for debugging sake.

There are three aspects here:

  - [x] Packaging up vsdbg in a form that can be installed in a pod.  [This is done.](https://github.com/GoogleContainerTools/container-debug-support/tree/duct-tape/netc

[2020-04-24 13:26] no1melman commented on #3831
I would love to contribute to it, but I don't know Go, and currently not in a place to learn it. Hoping if there are any other awesome Go devs who could?

[2020-04-24 13:52] slimm609 commented on #3718
I don't have one,  i think that got left in there by accident.   I will try and create one.

[2020-04-24 14:08] slimm609 commented on #3718
https://github.com/slimm609/skaffold-error

I was able to create one.

I added `kind` in to easily test it.

`./demo start` and `./demo stop` to create a kind cluster and apply crds

it works fine when run through kustomize, however with skaffold run, it throws an error even when run through kustomize.
[code]

[code]

[2020-04-24 18:34] dgageot commented on #3944
@jturi The problem is that to upload the source to your container, we rely on tar. I'll improve the error message to make that much clearer

[2020-04-24 18:39] briandealwis commented on #3881
Thanks @giladsh1 — we have something like this on our radar, which we've been calling _modules_.  We're busy on other work at the moment, but hope to get to this sooner than later.

[2020-04-24 18:44] tstromberg commented on #2898
I can see the use case - but I'm curious if anyone else is running into this?

If someone wants to introduce it, I'd be happy to review a PR for it.

[2020-04-24 18:56] nkubala commented on #3685
@pre thanks for the investigation, and sorry there hasn't been any movement here. this does indeed look like a namespacing issue based on your repro's, but unfortunately we haven't had any time on the team to investigate it.

would you be able to provide a small sample project along with a kubeconfig that we can use to repro?

also as a side note, we might want to consider handling this more grace

[2020-04-24 19:03] nkubala commented on #3679
@GavinOsborn sorry we never got back to you on this one. would you mind trying with the latest version of skaffold and verifying this is still an issue? I'll be trying to get a windows machine set up next week so I can have a look if it still exists. also, providing relevant version info (windows version, kubectl version, etc.) as well as logs running with `-v DEBUG` would be great.

[2020-04-24 19:08] briandealwis commented on #3047
Could I ask that you try to reproduce with the latest Skaffold?

The code in question hasn't changed since June 2019:

https://github.com/GoogleContainerTools/skaffold/blob/d4ca6e99960f289921641c20364b53c26b39969f/vendor/k8s.io/client-go/plugin/pkg/client/auth/oidc/oidc.go#L269-L281
`p` is a pointer to an `oidcAuthProvider`, but has been dereferenced several times before line 281.

Could one of yo

[2020-04-24 19:09] nkubala commented on #3652
@lboclboc thanks for opening, and @TBBle thanks for the detailed explanation. indeed there are only a limited number of image configurations supported for helm in skaffold at the moment, and this is something we're actively considering changing. however, this would require a significant rework of helm support in skaffold so it's something we need to be careful doing. we all agree that it would be

[2020-04-24 19:09] #3652 closed

[2020-04-24 19:18] nkubala commented on #2872
this could be accomplished in a few ways (neither of which are yet supported in skaffold):
* a post-deploy hook, that on successful deploy just calls `docker tag` on your images and pushes those new tags to a registry. https://github.com/GoogleContainerTools/skaffold/issues/1441
* supporting multiple tagging strategies in a single skaffold run, and allowing users to specify a "custom" tag - in you

[2020-04-24 19:18] #2872 closed

[2020-04-24 19:18] briandealwis commented on #3116
Docker has the following page to add certificates for Docker for Mac:

https://docs.docker.com/docker-for-mac/#add-tls-certificates

Could you please retry with this approach?

[2020-04-24 19:47] tstromberg commented on #3582
This can already be done using: `skaffold run --render-only > outfile`

If someone would like to contribute this as a flag, PR's welcome.

[2020-04-24 19:50] tstromberg commented on #3549
I think this seems reasonable. PR's welcome!

[2020-04-24 19:53] tstromberg commented on #3546
@dgageot - what did you have in mind as far as fixing this?

It initially sounded like a good use of a `--dry-run` flag, but I wonder if you had something more targeted in mind.

[2020-04-24 19:55] tstromberg commented on #2502
@nkubala @balopat - Is there documentation on how the existing integration tests work? I google'd for `skaffold integration tests` but came up short.

I wouldn't mind trying to take this on as a lower-priority item.

[2020-04-24 19:55] tstromberg commented on #3345
@tejal29 - good to hear. Thank you!

[2020-04-24 20:12] tstromberg commented on #3039
@balchua - Thank you for your analysis. I just looked through Skaffold's code and came to the same conclusion. The library we use for fetching image metadata is https://github.com/google/go-containerregistry/ -- they have an open bug that is related:

https://github.com/google/go-containerregistry/issues/211

As you discovered, setting the `SSL_CERT_FILE` works around this issue on Linux. You can

[2020-04-24 20:14] tstromberg commented on #3039
So, the question is then -- what should fixing for Skaffold this look like?

- Should we show the advice of setting `SSL_CERT_FILE`?
- Should we include all of Docker's certs by default? Is that enough?
- Should an alternative cert be specifiable in the skaffold config?

[2020-04-24 20:14] dgageot commented on #3546
Yes, —dry-run seems to be a good fit.

On Fri 24 Apr 2020 at 21:53 Thomas Strömberg <notifications@github.com>
wrote:

[2020-04-24 20:15] tstromberg commented on #2994
@steinad - if you have the time, we would love to see a design proposal for this feature. Thank you for offering!

[2020-04-24 20:29] nkubala commented on #3226
hey @prary I think this got addressed. I'll close this issue now, but if you think we still have more work to do please reopen.

[2020-04-24 20:29] #3226 closed

[2020-04-24 20:35] nkubala commented on #3217
hey @hden, just wanted to provide an update here. Skaffold largely powers the [Cloud Code](https://cloud.google.com/code) IDE extensions for VSCode and IntelliJ, which provide local development experiences for Kubernetes and GCP directly in the IDE. after months of design discussions we decided that Skaffold is not the right place to support Cloud Run, as want to stay focused on Kubernetes-native

[2020-04-24 20:41] nkubala commented on #3061
this was an interesting question, and one that was complicated enough that nobody from our team got around to it in a timely manner....we waited so long that the user removed themselves from github entirely 😮 there are some nuanced issues with the way we handle dockerfiles and docker contexts in skaffold, and hopefully if those are still present and someone runs across them we can file issues that

[2020-04-24 20:41] #3061 closed

[2020-04-24 20:44] nkubala commented on #2545
@helmut-hoffer-von-ankershoffen thanks for opening this issue. the reason our team never responded to this is because I was hoping to get something implemented and send the PR as a response to this! but...I dropped the ball and never did it :( this is definitely something that I want to add to skaffold, and I think a custom script as a test runner is the most logical place to start. I'll bump the

[2020-04-24 20:52] nkubala commented on #3559
@shantanugadgil spot on, you're running into the issue in #3765 and it is a real issue, but a different one than this.

I'm gonna lower the priority for this one since there's a workaround.

[2020-04-24 20:52] nkubala commented on #3151
bumping this down a priority since I doubt we'll get to it anytime soon.

[2020-04-24 20:56] nkubala commented on #3565
hey @petarManolov I'd like to try to dig into this one but I'm not sure how to reproduce. would you maybe be able to provide a small sample project in a repo that I can clone and run on?

[2020-04-24 21:05] nkubala commented on #3442
@dgageot it looks like the file you linked originally got updated so I can't see the code snippet where we wait for every container in the pod to succeed 😆

I do think this is still an issue, but I'm not seeing a lot of traction on it so I'm going to knock the priority down since I don't think our team will work on it soon. if people are feeling a lot of pain from this, please speak up in this iss

[2020-04-24 21:06] nkubala commented on #2980
@tbarrella can you check and see if this is still an issue for you? I think we changed the way we allow the user to override the run-id and I hope this is fixed now 🙏

[2020-04-24 21:14] nkubala commented on #3549
I'm going to close this as a dupe of #3343 so we can keep the conversation to one issue, I think that one covers what's being asked here.

[2020-04-24 21:14] #3549 closed

[2020-04-24 21:15] nkubala commented on #3763
I'm going to close this as a dupe of #3343 so we can keep the conversation to one issue. that one doesn't explicitly mention image repository but the repo would logically get included if/when we implement that variable substitution.

[2020-04-24 21:15] #3763 closed

[2020-04-24 21:18] nkubala commented on #3343
ok, I closed a few issues related to this one so we can keep the conversation in one place...it's getting hard to track things down :) I definitely think we should implement something like this, there are several use cases for it. to start, I think exposing image information computed at runtime through variables in the skaffold.yaml will get us a long way.

one comment I want to add here is that w

[2020-04-24 21:19] nkubala commented on #3229
going to close this as a dupe of https://github.com/GoogleContainerTools/skaffold/issues/3343 since I think it will be addressed if/when we fix that one. trying to keep all the conversations in one place :)

[2020-04-24 21:19] #3229 closed

[2020-04-24 21:24] nkubala commented on #3316
ok, I'm moving this from a "bug" to an "enhancement" since it technically isn't a bug, but also isn't technically a docs issue either...we're just doing something silly in the code and also not documenting it well which is creating a seriously annoying user experience for helm users.

our helm implementation has some "quirks" which can sometimes result in some very strange behavior. we're working

[2020-04-24 21:24] tstromberg commented on #3210
I'm working on the reproduction for this one. From the sound of it, we're not propagating dependencies upwards across artifacts.

[2020-04-24 21:30] nkubala commented on #3310
ugh, yeah I really hate the fact that this is happening. we use `omitempty` as a yamltag so we don't generate nonsense for people in `skaffold init`, but it does indeed create weirdness when trying to apply profiles to fields that aren't specified. I dug deep into this in another issue and explained it here: https://github.com/GoogleContainerTools/skaffold/issues/2741#issuecomment-571799226

one w

[2020-04-24 21:30] #3310 closed

[2020-04-24 21:32] nkubala commented on #3073
I wonder if this is still an issue 🤔

[2020-04-24 21:32] tstromberg commented on #4022
What do you mean by `block until port forwards have been completed`?

The tricky part, AFAIK, is that the port-forward process has to keep running. Are you suggesting that it daemonizes them?

[2020-04-24 21:40] nkubala commented on #2203
@eikemeier 🤦

yes hopefully so. the [PR](https://github.com/GoogleContainerTools/skaffold/pull/3943) is still in draft, but we don't have any other config changes in the works to my knowledge, so it *should* go out with the next config bump. however, that isn't tied to our next release necessarily. in any case, stay tuned and we'll get this shipped ASAP.

[2020-04-24 21:41] tstromberg commented on #3946
@giladsh1 - not that I am aware of (yet)

[2020-04-24 21:43] tstromberg commented on #3988
Makes sense to me. I can definitely see where you would want to be very explicit about which profiles to use in a CI environment. @dgageot - any additional feedback?

[2020-04-24 21:44] #3920 closed

[2020-04-24 21:44] tstromberg commented on #3736
I'm going to leave this up to the `skaffold find-configs` feature, as there hasn't been a clearly defined need otherwise.

[2020-04-24 21:44] #3736 closed

[2020-04-24 21:47] tstromberg commented on #2492
Two-way sync can be especially tricky with remote clusters, where reverse mounts are not easily done.

I haven't heard about anyone actively planning on working on this, so I'm going to downgrade the priority. If someone wants to propose a design document, I'd love to take a look.

[2020-04-24 21:50] tstromberg commented on #1748
@aeneasr - thank you for the detailed feedback! I'm going to close this in the mean-time, but I suspect your research/debugging will prove useful for others to find.

If you can think of any ways for us to improve this error message, please open a new issue with the enhancement idea. Thank you!

[2020-04-24 21:50] #1748 closed

[2020-04-24 21:52] tstromberg commented on #2162
Will bring this up for discussion again now that there is a proposal: https://github.com/GoogleContainerTools/skaffold/blob/master/docs/design_proposals/digest-tagger.md

[2020-04-24 22:09] nkubala commented on #3563
I wonder if we want to change the default behavior of skaffold to always respect user port forwarding by default, but only automatically port forward when specified by the user. I suspect that when port forwarding is manually specified, auto port forwarding is almost never desired...so users that specified this would get the desired behavior of respecting their port forward config, and users that

[2020-04-25 02:08] EnziinSystem commented on #2492
@tstromberg
Two-way sync can be enabled locally for development mode, not a remote cluster.
For example:
I am a developer Ruby on Rails, I need to generate a model.
`rails generate scaffold Post name:string title:string content:text`
Many files generated in the pod, but I cannot copy manual they.

[2020-04-25 06:59] tejal29 opened #4025 "[FR] Add an error code for image repository access issue."
From @etanshaul Friction log, skaffold needs to provide a definite error code  for cases where users have misconfigured their image repository.
[code]

[2020-04-25 10:20] reggev commented on #3951
```skaffold config set insecure-registry 192.168.64.3:5000``` is not a valid flag,
I tried ```skaffold config set insecure-registries 192.168.64.3:5000```  instead, It still doesn't work.

[2020-04-25 14:55] jturi commented on #3944
@dgageot Hi David, thanks for looking into this!

We just got server updates and Skaffold no longer works on some of our machines:

[code]

[code]

I have no idea what causing Skaffold to fail to upload the files so I'm really curious. Two weeks ago we deployed jenkins in our cluster with Jenkins Kubernetes Plugin, using jenkins/jnlp-slave and a custom oracle7 image with skaffold in it. It clones

[2020-04-25 15:03] briandealwis commented on #2717
With #2786, you can now enforce sequential building for clusters with the [`cluster.concurrency` setting](https://skaffold.dev/docs/references/yaml/):

[code]

Closing — will reopen if this doesn't work.

[2020-04-25 15:03] #2717 closed

[2020-04-25 15:13] briandealwis commented on #3269
@davidasnider Skaffold doesn't build multi-arch images at the moment.  You might be able to do jerry-rig something together with our [custom builder](https://skaffold.dev/docs/pipeline-stages/builders/custom/).

For those of you who are encountering this issue, could you please describe your situation — the cluster type and registry you're pushing to, and the vendor?  Are you trying to build multi

[2020-04-25 15:19] briandealwis commented on #4022
You can use the events API to be notified of established port-forwards.

We'd like to hear more about how you're doing testing, however!  This is an area we'd like to improve in Skaffold.

[2020-04-25 15:30] davidasnider commented on #3269
Hi, I am using a custom build command

[code]

Here's the `./build.sh`, it's just using docker, but it does build the multiplatform image and push to a local docker registry instance.

[code]

[2020-04-25 16:04] jlewi commented on #3442
@nkubala Would it be possible to support istio side car disablement in the kaniko jobs?  The sidecar can be disabled on specific jobs by adding an appropriate annoation
https://istio.io/docs/setup/additional-setup/sidecar-injection/#policy

If skaffold supported adding annotations to the kaniko jobs this would be easy to do.

This would be an improvement over the current work-around of creating a

[2020-04-25 17:34] dungahk commented on #3951
I'm using skaffold with the Cloud Code plugin for PHPStorm and microk8s and I get the same issue. I tried previous fixes but they didn't work, see https://github.com/GoogleContainerTools/skaffold/issues/2986 and https://github.com/GoogleContainerTools/skaffold/issues/1732

I'm running this
`/home/emerson/.cache/cloud-code/bin/versions/8d4ac68282769dd0424264593410c5cdd6959903d62db03edb1a62c2d1e5b4d

[2020-04-25 20:39] sw360cab commented on #3219
I am having the same problem here.
When I use a StatefulSet any update to the cluster by rerunning `skaffold run` ends in the error:

`the StatefulSet "my-sts" is invalid: spec: Forbidden: updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrategy' are forbidden
FATA[0000] kubectl error: kubectl apply: exit status 1
`
This happens:
- even if configuration is not

[2020-04-25 23:11] alexgalkin commented on #3685
@nkubala there is a sample project mentioned in my very first comment on this issue.

[2020-04-26 01:46] cpoole commented on #4022
Yes, I think demonizing them would be ideal. Let me explain my current workflow:

- git trigger to jenkins + spin up new node
- bootstrap new node by installing kind
- skaffold run to install my app in kind
- little dumb bash script to find all of the services spun up by skaffold and fork a `kubectl port-forward` for each of them (append PID's to a file).
- run my integration tests against the sta

[2020-04-26 02:49] cpoole commented on #4022
Listening to the events is probably fine @briandealwis . I imagine id just fork a skaffold dev and block while listening. Is there an event for "all forwards done"?

Another way to solve this would be sort of `skaffold test` pipeline where we could pass in an arbitrary set of commands for skaffold to run after finishing a standard skaffold dev. But I've seen resistance (understandably) into making

[2020-04-26 08:02] kostyaplis commented on #4005
@nkubala
Hi Nick!
I've created [test chart](https://github.com/kostyaplis/test-cronjob-helm) that you can use to reproduce two types of issues.
[code]

1. Let's assume that chart itself is broken. I.e. it expects a key path that doesn't exist

[code]

2. Let's assume that provided value is broken. I.e. resource name is longer than 63 chars.
Do remove `.doesnt_exist` part from ` basic/templates/cro

[2020-04-26 09:14] psmarcin commented on #1915
@balopat I think we can close this issue now.

[2020-04-26 10:11] #1915 closed

[2020-04-26 10:48] #3944 closed

[2020-04-26 10:48] #3613 closed

[2020-04-26 17:02] dgageot commented on #3994
This should be fixed with https://github.com/GoogleContainerTools/skaffold/pull/3998

[2020-04-26 17:02] #3994 closed

[2020-04-26 23:46] GavinOsborn commented on #3679
@nkubala have a pretty solid day ahead but should be able to re-test this tomorrow.

[2020-04-27 12:09] dgageot commented on #3812
@nkubala yes, osx

[2020-04-27 12:23] dgageot commented on #4011
@rahulwa Is that ok to close this issue?

[2020-04-27 12:31] DanielSel commented on #3343
This also affects kaniko builds, could you please add the same fields for build.artifacts[i].kaniko?
Additionally, what do you think about adding the IMAGE_REPOSITORY (or IMAGE_REPO - I don't care, there were different suggestions) field to that list? I plan on implementing the ability to define image repos in profiles soon.

Unfortunately, I just found this issue now and therefore went ahead and

[2020-04-27 12:41] rahulwa commented on #4011
@dgageot I think you wrongly pinged me!

[2020-04-27 12:41] raul1991 commented on #4011
Yeah we can close it for now.

[2020-04-27 12:58] #4011 closed

[2020-04-27 15:20] dgageot commented on #4018
@thclark A workaround is to run skaffold dev with --trigger=polling. Can you tell us if it works better?

[2020-04-27 15:36] dgageot commented on #3563
Here's what I think I'll do. Just want to be sure everyone is ok:
+ When skaffold runs without `--port-forward`, don't do any port forwarding.
+ When skaffold runs with `--port-forward`:
  + When `skaffold.yaml` contains at least one entry in `portForward`, only port forward those ports
  + Otherwise use the good old automatic port forwarding

@nkubala @jasperkuperus @foobarbecue @maistrotoad @nct

[2020-04-27 15:54] dgageot commented on #1276
@mxey I'm not sure I've got a good understanding of your use case. Could you give use more details?

What I think I understand is that you'd like to use a flavour of `skaffold dev` that wouldn't deploy. Could you tell us what it would be used for?

[2020-04-27 16:06] #4003 closed

[2020-04-27 16:30] dgageot commented on #3685
@alexgalkin I ran your sample and saw those warnings:

[code]

Can you try to fix them and tell us if that fixes the sync?

[2020-04-27 17:00] dgageot commented on #3812
I finally managed to reproduce it!

[2020-04-27 17:08] ncthbrt commented on #3563
That'd be a massive improvement!

[2020-04-27 17:17] dgageot commented on #3812
What happens is that a "build In Progress" event is sent when the cache is checked for a given artifact and then another one is sent if the artifact needs to be built.

I'm not sure what we should do exactly to solve that.
+ Should we send a "build in progress" only when the artifact needs to be actually built?
+ Should we send a "build in progress" when the cache is checked and a "build completed

[2020-04-27 17:35] nkubala opened #4033 "Better documentation for running skaffold in docker"
we should put together a small quickstart and best practice guide for running skaffold through the provided docker image. we could give quick examples for running locally in the docker daemon, running on a cluster building with kaniko (locally or remote), and running in a cloud build pipeline.

[2020-04-27 17:45] nkubala commented on #3497
@itechbear yep as of now that is required. I put together a short guide on using helm with skaffold which will get shipped into our docs in the next release: https://github.com/GoogleContainerTools/skaffold/pull/3973

@mhn10 you should be able to set the `pullPolicy` (as well as any arbitrary value) as a value in your skaffold.yaml as well - if this isn't working, it's probably a bug. I vaguely re

[2020-04-27 17:45] #3497 closed

[2020-04-27 17:57] nkubala commented on #3812
ah good find! it seems like we should only be sending an "in progress" event if the build is actually started, so my preference would be your first idea. to me it makes more sense that the builder itself sends the success/failure event for the build - your second option would mean the cache itself is sending a "success" event, though functionally I guess it's the same 🤷

it does also feel a little

[2020-04-27 18:07] nkubala commented on #3563
@dgageot that is definitely an improvement. however, I'm wondering if it would be a weird UX to have manual port forwarding defined in a skaffold.yaml, but then running `skaffold dev` with no flags the ports don't get forwarded. what about:

* `skaffold dev`
  * (user defined ports) -> only user defined ports forwarded
  * (no user defined ports) -> no ports forwarded
* `skaffold dev --port-forwar

[2020-04-27 18:19] #4001 closed

[2020-04-27 20:46] tstromberg commented on #3879
Re-opening because we should make this clear in the UX

[2020-04-27 20:58] nkubala commented on #656
closing this since we have labeling infrastructure set up.

[2020-04-27 20:58] #656 closed

[2020-04-27 21:01] briandealwis commented on #3247
Skaffold now supports limiting the concurrency available when building on clusters with the [`cluster.concurrency` setting](https://skaffold.dev/docs/references/yaml/).  You can even force sequential building with:

[code]

[2020-04-27 21:02] tejal29 commented on #3843
We are prioritizing reviewing the PR and verifying this is Fixed in #3929

[2020-04-27 21:04] briandealwis commented on #3372
Closing as the question is answered and there was no follow-up.

[2020-04-27 21:04] #3372 closed

[2020-04-27 21:04] tstromberg commented on #3275
This seems to be improved now when Docker is not installed:

[code]

[2020-04-27 21:04] #3275 closed

[2020-04-27 21:05] briandealwis commented on #3022
Closing — I think the problem was solved.

[2020-04-27 21:05] #3022 closed

[2020-04-27 22:23] tejal29 commented on #3118
Next year is upon us! Team will discuss if this is still a priority for this year.
Thanks
Tejal

[2020-04-28 01:56] dwctua opened #4035 "jib build failed when there is no docker dameon"
### Expected behavior
jib build should not inspect image using local docker daemon if not using local docker build
### Actual behavior
jib build failed after image built and pushed to remote successfully

### Information

- Skaffold version: version:1.8.0
- Operating system: ubuntu 18.04  (windwos wsl 2)
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. make sure there

[2020-04-28 02:28] briandealwis commented on #3802
@jkleckner I'm puzzled as to why your image isn't being picked up: the JVM debug transformer should be activated by the `JAVA_VERSION` envvar.

[2020-04-28 05:54] tejal29 opened #4036 "[Event API] Provide skaffold dev start and end events for IDEs to consume."
Currently, Skaffold provides event for
1. Build,
2. Deploy,
3. File Sync and
4. Port Forward phase.

However some or all of these are part of dev iteration.
e.g. in case only a sync file changes, IDEs will only see a
1. File Sync event started
2. File sync event was completed in error or in success.

In case a build dependency changes, IDEs could see build events, deploy events if build was succes

[2020-04-28 06:12] jasperkuperus commented on #3563
@dgageot That would already be a big help! And definitely works for me.

Personally, my intuition would be even a little different from what @nkubala proposes:

* `skaffold dev`
  * (user defined ports) -> only user defined ports forwarded
  * (no user defined ports) -> no ports forwarded
* `skaffold dev --port-forward`
  * (user defined ports) -> user defined ports take precedence, all other port

[2020-04-28 07:57] mxey commented on #1276
@dgageot triggering rebuild and test of a Docker image when source files change

[2020-04-28 07:59] maistrotoad commented on #3563
@dgageot If your proposal is easiest to implement, I can definitely work with that. The most important bit to me would be that user defined ports are respected in any case. Other aspects of it would be details that do not matter for my use case.

Maybe in a second iteration something akin to what @jasperkuperus is proposing would provide the most intuitive and feature-rich experience though.

[2020-04-28 08:26] dgageot commented on #3812
I'll remove the "build in progress" event that's sent when checking the cache for an artifact.

[2020-04-28 09:40] dgageot commented on #3936
This was fixed with https://github.com/GoogleContainerTools/skaffold/pull/3999

[2020-04-28 09:40] #3936 closed

[2020-04-28 09:48] dgageot commented on #3248
I tried to do that but I hit one issue: The custom build script that we'd generate would be linux only. That made me think wether the custom builder should have two build commands. One windows only and one used in any other case.

@balopat @nkubala wdyt?

[2020-04-28 11:02] horacimacias commented on #2277
for logging, wouldn't it be possible to also support logging via a custom script so at least people using custom deployers can use a custom logging script?

Similar thing for debugging.

I'm not saying it's a 5min job but at least we can allow people to craft their own scripts (which they probably already have anyway) and use the skaffold "loop".

[2020-04-28 15:09] #3546 closed

[2020-04-28 15:25] briandealwis commented on #3797
@johnlu655 if you're still experiencing this issue, I suspect you've marked your core.habor.local registry as being an insecure registry?  That causes Skaffold to talk to the registry over HTTP.  I suspect your registry is configured with a self-signed certificate.

[2020-04-28 15:29] dgageot commented on #4013
This is a bit better now:

[code]

[2020-04-28 15:31] dgageot commented on #4013
shouldn't we just stop on the first minikube error?

[2020-04-28 15:41] dgageot commented on #4013
whoops, I realised @balopat and @tejal29 were assigned only after I tried to assign myself after I pushed the fix. Sorry...

[2020-04-28 15:44] dgageot commented on #3902
This was fixed with https://github.com/GoogleContainerTools/skaffold/pull/3979

[2020-04-28 15:44] #3902 closed

[2020-04-28 15:44] dgageot commented on #3879
@tstromberg what do you have in mind?

[2020-04-28 15:59] dgageot commented on #3746
What's happening is that IntellIj is always running `skaffold dev` no matter if the user asks to disable auto-rebuilds.

IntelliJ gives this choice to the user when creating run configurations:

<img width="506" alt="Screenshot 2020-04-28 at 17 55 55" src="https://user-images.githubusercontent.com/153495/80509398-a7f32780-8979-11ea-95c7-02d3f1b07636.png">

In both cases, Intellij will run `skaffol

[2020-04-28 16:07] dgageot commented on #2973
This was fixed a while ago. Couldn't find the PR

[2020-04-28 16:07] #2973 closed

[2020-04-28 16:14] dgageot commented on #2730
This was fixed with https://github.com/GoogleContainerTools/skaffold/pull/4023

[2020-04-28 16:14] #2730 closed

[2020-04-28 16:28] dgageot commented on #3653
Seen today: https://source.cloud.google.com/results/invocations/8b511740-9607-4f9c-9cdd-0cde3d9d0553/targets/skaffold%2Fpresubmit/log

[2020-04-28 16:59] tstromberg commented on #3828
@yuwenma - Hey Yuwen. I'd like to take a closer look at this issue.

I'm new to the project, so I'm having a difficult time following along. Can you help me clarify:

* Is one of the existing examples broken? If so, which example, and with what skaffold command-line arguments?

* If additional files are required for reproduction, do you mind creating an example GitHub repo that I can checkout? Ple

[2020-04-28 17:16] #4013 closed

[2020-04-28 18:13] loosebazooka commented on #3210
This might have something to do with the version of jib you're working with? Can you confirm this still occurs with 2.2.0?

[2020-04-28 18:17] loosebazooka commented on #3210
Also you can run
`./gradlew jib:_skaffoldFilesV2` to inspect what jib is watching. Can you add the output of that to your issues?

[2020-04-28 18:42] briandealwis commented on #3210
While I was waiting for a slow build, I tried @stevesea's example with `gradlew myapp-a:_jibSkaffoldFilesV2` and got the following:
[code]

So there is no mention of `mylib`.  But [`myapp-a`'s `build.gradle`](https://github.com/stevesea/test-micronaut-skaffold/blob/d26897e3cc935d7a74ec38d3f07445a050367f4d/myapp-a/build.gradle#L5-L6) does have an implementation dependency on `my lib`:
[code]

@loos

[2020-04-28 19:33] jkleckner commented on #3802
@briandealwis I'm happy to try to debug a bit.  I haven't studied Go at all so am at a disadvantage.

[2020-04-28 19:38] briandealwis opened #4044 "TestEventsRPC can be flakey"
@tejal29 and I have had a number of failures in TestEventsRPC as it's receiving 1 deploy event, not the 2 expected.
[code]

I added some logging at there are normally two deploy events:

    1. deployEvent:<status:"In Progress" >
    2: deployEvent:<status:"Complete" >

We don't see the second _Complete_ event.

<details>
<summary>TestEventsRPC failure</summary>
[code]
</details>
<details>
<summar

[2020-04-28 19:43] briandealwis commented on #4044
Oh!  I just realized that the test failure wasn't using my revised logging code to log the default case: it may be that we're receiving some other event.
https://github.com/GoogleContainerTools/skaffold/blob/67b405ee92c8db9c261aafb2e07c454d15f8d525/integration/rpc_test.go#L114-L128

[2020-04-28 20:17] yuwenma commented on #3828
@tstromberg Sure thing!

[here](https://github.com/GoogleContainerTools/skaffold/blob/master/examples/generate-pipeline/expectedPipeline.yaml#L45) is the broken example. Two things are incorrect after I triaged the issue:

1. The image gcr.io/k8s-skaffold/skaffold:test-version doesn't exist in the container registry https://console.cloud.google.com/gcr/images/k8s-skaffold/GLOBAL/skaffold?tag=test-

[2020-04-28 22:59] chanseokoh commented on #3828
So I got curious about this issue and decided to test it out myself. I don't know how Skaffold handles all these, but here's what I did to make this work.

1. (Optional) forget setting `GOOGLE_APPLICATION_CREDENTIALS`. (I suspect Skaffold always overrides this and sets `GOOGLE_APPLICATION_CREDENTIALS=/secret/kaniko-secret`.)
[code]
2. Create the secret `kaniko-secret` with the data key name `kanik

[2020-04-29 00:03] loosebazooka commented on #3210
Yeah, it's a bug is `1.8.0`, fixed in https://github.com/GoogleContainerTools/jib/pull/2188
I would suggest just upgrading to the latest `2.2.0` which comes with a whole host of fixes and new integrations with skaffold.

[2020-04-29 00:41] balopat commented on #4035
I can't reproduce this just yet on Mac (I'll try it on Windows too soon) after uninstalling docker completely.

The `skaffold build --default-repo <myrepo>` successfully builds (see the details below) - there is one warning about caching, but that's it.

Note, I set `-Dimage=$IMAGE` instead of explicit setting - otherwise the tags get out of sync.
Also I used a skaffold build from master.

<detail

[2020-04-29 02:38] briandealwis commented on #4044
Aha!  Here's the culprit: `statusCheckEvent:<status:"Started" >`
[code]

[2020-04-29 04:12] tejal29 opened #4046 "Wire up ShouldDisplayPrompt to show the survey prompt on every skaffold run."
### Expected behavior
In PR, #3733, we added a new survey command to open the survey link.
A follow up PR to call `survey.ShouldDisplayPrompt` in skaffold `PersistentPostRunE` should be made very similar to `IsUpdateCheckEnabled`.

If, the survey prompt is shown, update the config with current date timestamp.

### Actual behavior

### Information

- Skaffold version: version...
- Operating system:

[2020-04-29 05:29] tejal29 commented on #4044
My branch is also failing due to same issue. This could be due to status check being turned on by default.

[2020-04-29 07:23] GavinOsborn commented on #3679
Hey @nkubala,

So, things have improved quite a bit since I last looked into this but it isn't all good.

Port forwarding does now mostly work on windows the main exception being that port numbers do not seem to survive hot reloading. As you'll see from the logs below each time I triggered a rebuild I was assigned a new port. This is particularly frustrating to work with.

I also notice, running s

[2020-04-29 08:33] #2637 closed

[2020-04-29 12:07] #4044 closed

[2020-04-29 12:13] dgageot commented on #3216
Hi @prary any news on this one?

[2020-04-29 12:15] dgageot commented on #2795
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/4040

[2020-04-29 12:15] #2795 closed

[2020-04-29 12:38] dgageot commented on #488
I'm going to close this one because we now have auto-activated profiles, by command.

[2020-04-29 12:38] #488 closed

[2020-04-29 16:01] dgageot commented on #3563
While trying to implement what I said, I realized that there are cases where auto port forwarding in addition to manual port forwarding is pretty useful. We have a few integration tests that rely on the services being auto forwarded and a single deployment being user-defined forwarded.

So, I'll try a different strategy among the different proposals.

The one thing I don't really want is to have s

[2020-04-29 16:11] dgageot commented on #3563
I've tried something much simpler :-)
I've kept the current behaviour in terms of which ports are port forwarded.
However, instead of starting the port forwarding in a separate go routine for each port, I starting a single go routine, for all the ports, in order. That way, the user-defined rules should take precedence over the automatic rules.

[2020-04-29 16:13] dgageot commented on #3563
@nkubala @jasperkuperus @foobarbecue @maistrotoad @ncthbrt @discreet could you tell me if #4053 works for you and has good performance?

[2020-04-29 16:23] dgageot commented on #3988
Profile auto-activation was fixed by https://github.com/GoogleContainerTools/skaffold/pull/4034
I'll add a way to disable a single profile

[2020-04-29 17:55] kkweon commented on #3879
As a user I expect the following two:

1. message in the log that looks like (but put it nicer way)

[code]

2. A doc should address this more explicitly.

https://skaffold.dev/docs/pipeline-stages/testers/

[2020-04-29 18:54] ivanporty opened #4056 "Do not use "Builder" as a message name for Skaffold proto"
When we consume Skaffold proto file in Cloud Code IJ (and compile it into Java code), we now have a conflict with `Builder` name being already used in any protoc-compiled class. Java generated code heavily uses `Builder` pattern and each structure will have its own `Builder` associated to it. We suggest renaming to something like `ContainerBuilder`:

[code]

[2020-04-29 18:55] masih commented on #3988
Fantastic many thanks 🍻

[2020-04-29 19:24] yuwenma commented on #3828
Thanks @chanseokoh for jumping in. Just to confirm a couple of things, the config I post is [tekton](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md) which is different from running an isolated docker task. Besides, the GOOGLE_APPLICATION_CREDENTIALS env is specifically required by kaniko when pushing the images to a container registry. If it's not GKE cluster and not container regi

[2020-04-29 19:42] loligans commented on #2175
@briandealwis  Does skaffold have a way to _place_ vsdbg on to the target container? _Place_ as in copy/paste or sync specified files from the host machine to the target container.

I am able to debug using vscode, but it requires some manual intervention. The only manual part is updating the container name in the launch.json. I have opened up an issue for exposing the available Pod names as a com

[2020-04-29 20:07] chanseokoh commented on #3828
I ran a Tekton task.

I am saying `GOOGLE_APPLICATION_CREDENTIALS` seems to be overwritten by Skaffold (Skaffold folks need to confirm) so whatever you set in the Tekton Task spec becomes irrelevant.

Not sure what you mean by "hard-coding" here. Just what you did, I am providing `kaniko-secert` as stored as a k8s secret. You just need to name the key as `kaniko-secret` than `kaniko-secret.json`.

[2020-04-29 20:50] dwctua commented on #4035
Thanks for the update. I removed docker completely and seems working as expected.  is a way to ingore docker completely? I try to verify how it works without docker by stopping the docker dameon. Apprently skaffold has its own way to check if docker installed or not.

[2020-04-29 23:02] nkubala opened #4058 "`skaffold dev` doesn't clean up deployments on Windows"
### Expected behavior
Skaffold cleans up all deployments when dev mode is exited.

### Actual behavior
Skaffold doesn't clean up any deployments when dev mode is exited.

### Information
After pressing `Ctrl + c` to exit dev mode, I see "Cleaning up..." in the logs, which exits immediately. No timing was issued for the clean up, so I suspected it didn't happen, and checking for pods in my cluster,

[2020-04-29 23:40] chanseokoh commented on #3828
Did a bit more testing, and actually, it turns out you don't even need to mount a secret. You just need to set the data key name of the secret to `kaniko-secret`.
[code]
I think Skaffold does all the magic with `cluster: pullSecretName:`.
[code]

- When there is no secret:
[code]
- When the secret data key name does not match:
[code]
- When providing a bad secret:
[code]
- When providing a working

[2020-04-30 03:25] briandealwis commented on #2175
@loligans `skaffold debug` uses an initContainer and volume mounts to copy in debugging support files into the container in question.  So we take a pod like:
[code]

and transform it to something like:
[code]

We have a series of "duct tape" images at `gcr.io/gcp-dev-tools/duct-tape/` that copy any needed debugging runtime support files into a common volume.  We have a [`netcore` duct tape image](

[2020-04-30 06:43] coolyrat opened #4059 "make gcr.io/gcp-dev-tools/duct-tape/go configurable"
`skaffold debug` is using `gcr.io/gcp-dev-tools/duct-tape/go` in the init container. Is there a way to make this image configurable? The cloud provider I'm using can't pull this image down. I need to smuggle the image and change it into a pullable registry.

[2020-04-30 06:45] thetume commented on #3944
Did you find a fix for this issue? As we are having similar problems running in-cluster build with Kaniko, with the same errors ending with:

[2020-04-30 07:12] jturi commented on #3944
Hi @thetume,

Yes dgageot's new changes fixed our issue, all running fine with the latest bleeding edge binary.

- Latest bleeding edge binary: https://skaffold-latest.firebaseapp.com/docs/install/
- Link: https://storage.googleapis.com/skaffold/builds/latest/skaffold-linux-amd64

If you replace your old skaffold binary with this one and do `skaffold version` you should see the latest commit hash

[2020-04-30 07:18] coolyrat commented on #4059
I asked my cloud provider, there's no way they can get around the law to pull the image😂

[2020-04-30 07:51] #3563 closed

[2020-04-30 07:56] dgageot commented on #4059
This is a duplicate of https://github.com/GoogleContainerTools/skaffold/issues/2679

[2020-04-30 07:56] #4059 closed

[2020-04-30 07:56] dgageot commented on #2679
https://github.com/GoogleContainerTools/skaffold/pull/4057

[2020-04-30 08:04] jasperkuperus commented on #3563
@dgageot Haven't had the time to test this yet. But if this PR indeed first applies the user defined port forwarding, *then* the automatic port forwarding, it'll work for me!

[2020-04-30 08:10] dgageot commented on #4035
@dwctua could you share a repo ready to be cloned and tested? That would really help understand what you are trying to achieve

[2020-04-30 08:12] dgageot commented on #4056
@ivanporty If we changed it right now, what would be the impact for the IDES, in terms of compatibility?

[2020-04-30 08:26] dgageot commented on #4058
@nkubala I think it really depends on which terminal you are using on Windows. Could you give us more details?

[2020-04-30 11:32] yolkov commented on #4005
This bug breaks our pipeline CI/CD
skaffold version v1.7.0
helm version v2.16.1

[2020-04-30 11:35] dwctua commented on #4035
@dgageot , this is the repo for demo per your request: https://github.com/dwctua/skaffold-demo.
it is really just a clone from example/jib with slight different skaffold.yaml.
since jib is not requiring docker to be installed,  I try to test how it works without docker. I thought I could just stop the docker dameon to mimic the scenairo.  But it turns out I need to remove docker completley. Otherw

[2020-04-30 13:00] dgageot commented on #3566
Hi @petr-buchin we have no plan on migrating to `fsnotify` mainly because it doesn't support `FSEvents` on macos and also probably doesn't support recursive watch (not sure about that last one).
I'll take a look at what we can do with https://github.com/rjeczalik/notify.
In the meantime, have you tried running skaffold with `--trigger=polling`?

[2020-04-30 15:34] tstromberg commented on #785
Sounds like there was a workaround.

[2020-04-30 15:34] #785 closed

[2020-04-30 15:43] nkubala commented on #1143
we added image pruning a while back, so I'm going to close this issue. if anyone has other things they'd like to see related to image deletion, feel free to reopen this.

[2020-04-30 15:43] #1143 closed

[2020-04-30 15:47] #568 closed

[2020-04-30 15:47] tstromberg commented on #2042
Lowering the priority since no one is currently planning on working on this. PR's welcome!

[2020-04-30 15:49] dgageot commented on #2533
Hi everyone, I'm going to close this one since we didn't see a lot of demand and we do not plan on working on that subject anytime soon

[2020-04-30 15:49] #2533 closed

[2020-04-30 15:50] dgageot commented on #3610
I think this makes sense. I'm going to bump the priority a little

[2020-04-30 15:51] dgageot commented on #3544
Hi everyone, I'm going to close this one since we didn't see a lot of demand and we do not plan on working on that subject anytime soon. Feel free to reopen if you really want that feature to be implemented.

[2020-04-30 15:51] #3544 closed

[2020-04-30 15:52] tstromberg commented on #2039
Decreasing the priority, as no one is currently working on this feature. If someone is interested in making this happen, we would be welcome to review a PR adding support for it.

[2020-04-30 15:52] dgageot commented on #2488
This was fixed with #2870 and #2871

[2020-04-30 15:52] #2488 closed

[2020-04-30 15:53] tstromberg commented on #1991
Decreasing the priority, as no one is currently working on this feature. If someone is interested in making this happen, we would be welcome to review a PR adding support for it.

[2020-04-30 15:54] dgageot commented on #3280
@briandealwis any news on this one?

[2020-04-30 15:54] dgageot commented on #3268
Hi everyone, I'm going to close this one since we didn't see a lot of demand and we do not plan on working on that subject anytime soon. Feel free to reopen if you really want that feature to be implemented.

[2020-04-30 15:56] nkubala commented on #915
I think kustomize opens up enough flexibility to support use cases described here, and I don't think we're going to have time to implement something deeper in skaffold, so I'll close this issue. if you still feel that skaffold needs to support this more fully, please give us some details on your use case and feel free to reopen!

[2020-04-30 15:57] dgageot commented on #2950
I'm going to close this one since we didn't see a lot of demand.

`Found. Pushing` basically means that it was found locally
For `Found. Tagging` is less clear indeed.

[2020-04-30 15:57] #2950 closed

[2020-04-30 15:58] tstromberg commented on #1958
I'm closing this as it's been a while, and there are still no plans to create a 'ko' builder.

That said, we now show how to use `ko` as a custom builder in `examples/custom`.

[2020-04-30 15:58] #1958 closed

[2020-04-30 15:59] dgageot commented on #2740
I'm going to close this one since nobody else seems to be annoyed ;-)

[2020-04-30 15:59] #2740 closed

[2020-04-30 15:59] dgageot commented on #2620
Hi everyone, I'm going to close this one since we didn't see a lot of demand and we do not plan on working on that subject anytime soon. Feel free to reopen if you really want that feature to be implemented.

[2020-04-30 15:59] #2620 closed

[2020-04-30 16:00] dgageot commented on #1273
Hi everyone, I'm going to close this one since we didn't see a lot of demand and we do not plan on working on that subject anytime soon. Feel free to reopen if you really want that feature to be implemented.

[2020-04-30 16:00] dgageot commented on #1192
Hi everyone, I'm going to close this one since we didn't see a lot of demand and we do not plan on working on that subject anytime soon. Feel free to reopen if you really want that feature to be implemented.

[2020-04-30 16:00] #1192 closed

[2020-04-30 16:01] dgageot commented on #913
Hi everyone, I'm going to close this one since we didn't see a lot of demand and we do not plan on working on that subject anytime soon. Feel free to reopen if you really want that feature to be implemented.

[2020-04-30 16:01] dgageot commented on #550
Hi everyone, I'm going to close this one since we didn't see a lot of demand and we do not plan on working on that subject anytime soon. Feel free to reopen if you really want that feature to be implemented.

[2020-04-30 16:01] #550 closed

[2020-04-30 16:02] dgageot commented on #3367
Anyone can confirm that this is still an issue?

[2020-04-30 16:02] tstromberg commented on #1892
Thank you for the idea! I'm closing this issue as it's been open a while, and no progress seems to be being made on it.  If someone feels strongly about this, feel free to comment here or re-raise an issue referencing this one.

[2020-04-30 16:02] #1892 closed

[2020-04-30 16:03] tstromberg commented on #1814
Leaving open, because this is still apparently an issue blocked on `kubectl cp` improvements.

[2020-04-30 16:04] tstromberg commented on #1436
Thank you for the idea! I'm closing this issue as it's been open a while, and no progress seems to be being made on it.  If you feels strongly about this issue, feel free to comment here or re-raise an issue referencing this one.

[2020-04-30 16:04] #1436 closed

[2020-04-30 16:04] sdwolfz commented on #3367
I'll try to re-run it and get back to you within a few days.

[2020-04-30 16:05] tstromberg commented on #1262
Thank you for the idea! I

I'm closing this issue as it's been open a while, and no one has yet stated an interest in addressing it. If you feels strongly about this issue, feel free to comment here or re-raise an issue referencing this one.

[2020-04-30 16:05] #1262 closed

[2020-04-30 16:06] chanseokoh commented on #3280
Oh, yeah. I actually used `init script` for [jib-gradle Tekton catalog sample](https://github.com/tektoncd/catalog/blob/b35554f9bfaf3a65ee97c4d29cad4e91d9977c7b/jib-gradle/jib-gradle.yaml#L30-L41). But I don't think it works well for a multi-module Gradle project.

[2020-04-30 16:06] #1187 closed

[2020-04-30 16:07] tstromberg commented on #992
Adding discuss label to bring this back up for discussion.

[2020-04-30 16:07] tstromberg commented on #770
Thank you for the idea!

I'm closing this issue as it's been open a while, and no one has yet stated an interest in addressing it. If you feels strongly about this issue, feel free to comment here or re-raise an issue referencing this one.

[2020-04-30 16:07] #770 closed

[2020-04-30 16:07] #521 closed

[2020-04-30 16:07] dgageot commented on #1753
@cliffburdick I'm not sure I understand the issue now. Could you re-explain?

[2020-04-30 16:08] tstromberg commented on #176
Closing as I believe this to be fixed.

[2020-04-30 16:08] #176 closed

[2020-04-30 16:08] bhack commented on #913
Currently, after two years, I switched to use Vscode Remote for this interactive development. If you don't see demand in Skaffold you can close the ticket.

[2020-04-30 16:09] dgageot commented on #3739
This is a work in progress

[2020-04-30 16:14] dgageot commented on #2317
This is still on the roadmap!

[2020-04-30 16:15] tstromberg commented on #2969
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment.

[2020-04-30 16:15] #2969 closed

[2020-04-30 16:16] nkubala commented on #1991
to consolidate the conversation, i'm closing this as a dupe of https://github.com/GoogleContainerTools/skaffold/issues/588

[2020-04-30 16:16] #1991 closed

[2020-04-30 16:17] #913 closed

[2020-04-30 16:17] tstromberg commented on #2957
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment.

[2020-04-30 16:17] #2957 closed

[2020-04-30 16:18] tstromberg commented on #2921
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment.

[2020-04-30 16:18] #2921 closed

[2020-04-30 16:18] tstromberg commented on #2747
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment.

[2020-04-30 16:18] #2747 closed

[2020-04-30 16:19] tstromberg commented on #2705
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment.

[2020-04-30 16:19] #2705 closed

[2020-04-30 16:19] dgageot commented on #2830
I'm going to close that issue since there are workarounds

[2020-04-30 16:19] #2830 closed

[2020-04-30 16:19] tstromberg commented on #2531
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment.

[2020-04-30 16:19] #2531 closed

[2020-04-30 16:19] dgageot commented on #2704
Hi everyone, I'm going to close this one since we didn't see a lot of demand and we do not plan on working on that subject anytime soon. Feel free to reopen if you really want that feature to be implemented.

[2020-04-30 16:19] nkubala commented on #588
this is still definitely an issue with skaffold and one that we don't really have a solution for. @corneliusweig drove some great conversations about customizing log tailing, but in the process we discovered just how complex of an issue this is and didn't come to a resolution.

I still think it would be great to add support for this, but realistically our team can't work on this any time soon. I'l

[2020-04-30 16:19] tstromberg commented on #2432
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment.

[2020-04-30 16:19] #2432 closed

[2020-04-30 16:23] tstromberg commented on #2849
Thank you for the idea!

I suspect #3111 fixes this but, otherwise I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment.

[2020-04-30 16:23] #2849 closed

[2020-04-30 16:25] tstromberg commented on #2171
Thank you for the idea!

I'm closing this issue as it's been open a while, no one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment.

[2020-04-30 16:25] #2171 closed

[2020-04-30 16:25] nkubala commented on #1395
this one has gone stale, and I'm not entirely sure what the path forward would be here. realistically, our team isn't gonna be able to put any work into this any time soon, and since it doesn't seem to be causing too much of an issue, I'm going to close it.

if this is still causing you issues in your daily skaffold workflow, please react to this comment and give us more details on your use case!

[2020-04-30 16:25] #1395 closed

[2020-04-30 16:28] tstromberg commented on #3476
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue - particularly with the move to Helm 3. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment.

[2020-04-30 16:28] #3476 closed

[2020-04-30 16:30] nkubala commented on #1545
this issue is getting very old, but there's definitely still some improvement work to be done here. dropping the priority to p2.

[2020-04-30 16:37] tstromberg commented on #3479
Has anyone figured out how to feed Azure credentials into skaffold?

[2020-04-30 16:39] nkubala commented on #627
since we have `skaffold render` and are close to having support for helm, I'm going to close this issue. if there are other use cases that aren't supported by rendering templated manifests, please give some detail about them here!

[2020-04-30 16:39] #627 closed

[2020-04-30 16:41] tstromberg commented on #3668
If it helps, `minikube profile list -o json` is there.

One additional hint I've seen used in the past is looking for `minikube` in the certificate authority path.

[2020-04-30 16:41] nkubala commented on #726
we have `skaffold diagnose`, and https://github.com/GoogleContainerTools/skaffold/pull/4048 is open for outputting the effective skaffold.yaml with activated profiles, so I'm going to close this issue.

[2020-04-30 16:41] #726 closed

[2020-04-30 16:42] nkubala commented on #666
closing this as a dupe of #588 so we can track the conversation in one place.

[2020-04-30 16:42] #666 closed

[2020-04-30 16:42] tstromberg commented on #3545
AFAIK, this has not yet been implemented. Is anyone working on it?

[2020-04-30 16:42] tstromberg commented on #3506
@balopat - is this still needed?

[2020-04-30 16:43] tstromberg commented on #3398
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment.

[2020-04-30 16:43] #3398 closed

[2020-04-30 16:43] tstromberg commented on #3371
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment.

[2020-04-30 16:43] #3371 closed

[2020-04-30 16:44] tstromberg commented on #3272
@briandealwis - are you aware of any progress on this?

[2020-04-30 16:46] tstromberg commented on #3254
@ideasculptor - I agree, that does not seem to make sense to me. If you `export` a variable, it is passed down through forks.

FWIW, the correct format for this environment variable is:

* `HTTPS_PROXY=https://10.0.0.1:8080/`
* `HTTPS_PROXY=https://USERNAME:PASSWORD@10.0.0.1:8080/`

[2020-04-30 16:46] #3254 closed

[2020-04-30 16:46] tstromberg commented on #3242
Doesn't sound like anyone is working toward this.

[2020-04-30 16:46] #3242 closed

[2020-04-30 16:48] tstromberg commented on #2753
Leaving this one open, but AFAIK, no one is currently working on this. PR's welcome!

[2020-04-30 16:49] tstromberg commented on #2615
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 16:49] #2615 closed

[2020-04-30 16:49] nkubala commented on #1665
I still think this would be nice to have, but realistically we don't have time to prioritize this one right now. I'm dropping the priority of this, but contributions are certainly welcome!

[2020-04-30 16:50] tstromberg commented on #2282
Thank you for the feedback!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 16:50] #2282 closed

[2020-04-30 16:50] tstromberg commented on #980
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 16:50] #980 closed

[2020-04-30 16:50] tstromberg commented on #503
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 16:50] #503 closed

[2020-04-30 16:52] tstromberg commented on #3383
Proposed a PR to improve the documentation.

[2020-04-30 16:54] briandealwis commented on #3272
Yeah, I have to write a test.  In progress.

[2020-04-30 16:56] nkubala commented on #1017
I'm not convinced this makes sense for `skaffold dev`, but could be interesting for `skaffold run` as a way to very quickly deploy a skaffold project from a repository as a super lightweight CI/CD tool. I'll leave this one open for now, if we don't get to this in the next few months I'll close it.

[2020-04-30 16:57] tstromberg commented on #2056
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 16:57] tstromberg commented on #2110
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 16:58] tstromberg commented on #1698
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 16:58] #1698 closed

[2020-04-30 16:58] tstromberg commented on #1218
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 16:58] #1218 closed

[2020-04-30 16:58] tstromberg commented on #2154
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 16:58] tstromberg commented on #2350
@briandealwis - do you have any progress to report on this?

[2020-04-30 16:58] nkubala commented on #183
realistically, I don't think our team is going to get to this one any time soon, so I'll close it. that said, if anyone is interested in submitting a design and implementation for this, we'd be open to considering it.

[2020-04-30 16:58] #183 closed

[2020-04-30 16:59] tstromberg commented on #2376
Thank you for the feedback!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 16:59] #2376 closed

[2020-04-30 16:59] tstromberg commented on #2698
Thank you for the feedback!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 16:59] #2698 closed

[2020-04-30 17:00] tstromberg commented on #2952
Thank you for the idea!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 17:00] #2952 closed

[2020-04-30 17:00] tstromberg commented on #2970
Thank you for the feedback!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or send us a PR!

[2020-04-30 17:00] tstromberg commented on #3150
Decreasing priority since no one seems to be working on this at the moment. PR's welcome!

[2020-04-30 17:02] nkubala commented on #3051
we could handle this in skaffold, but it might also make sense to try and do some processing of the docker config in go-containerregistry? I suppose we could implement something on our end first and then try and upstream it later.

[2020-04-30 17:04] tstromberg commented on #2464
Perhaps I am missing something, but this seems like incorrect behavior to me - shouldn't Skaffold only prune images created by Skaffold?

[2020-04-30 17:05] briandealwis commented on #3280
I remember we had a discussion around this idea and had some reservations.  It doesn't look like we documented them anywhere however, except for this gradle feature-parity issue.  Given that certain setups will require additional configuration (e.g., `war` projects and the `appRoot` for non-Jetty configs), and other plugins are now incorporating Jib directly, I'm not sure if not requiring some con

[2020-04-30 17:05] #3280 closed

[2020-04-30 17:05] tstromberg commented on #2542
Thank you for the feedback!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or better yet - send a proof-of-concept PR!

[2020-04-30 17:05] #2542 closed

[2020-04-30 17:08] tstromberg commented on #3136
Thank you for the feedback!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or better yet - send a proof-of-concept PR!

[2020-04-30 17:08] #3136 closed

[2020-04-30 17:10] tstromberg commented on #3172
@AndiDog - Is this still being worked on? Let us know if there is anything in particular we can help with.

[2020-04-30 17:11] cliffburdick commented on #1753
Hi @dgageot, if I issue a skaffold deploy with an image from a terminal, then do a separate launch from another terminal and the same image (but different pod), the outputs are mixed because it seems to tail anything with that image name.

[2020-04-30 17:11] tstromberg commented on #1318
Leaving this open because it seems like a good idea, and would definitely be open to reviewing a PR that implements this.

[2020-04-30 17:15] tstromberg commented on #1726
I'm still not convinced that this is necessary, but would love to hear some feedback.

Narrowing the issue down to a single deployer.

[2020-04-30 17:15] tstromberg commented on #3096
Thank you for the feedback!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or better yet - send a proof-of-concept PR!

[2020-04-30 17:15] #3096 closed

[2020-04-30 17:16] tstromberg commented on #3168
Leaving open because this cleanup should still be done some day, but it isn't a priority.

[2020-04-30 17:17] nkubala commented on #2547
I'm not sure what else is actionable on this issue apart from documentation, and we have docs that hopefully provide some clarification on tagging at https://skaffold.dev/docs/how-tos/taggers/, so I'll close this issue now. if people are running into specific issues with the way skaffold creates and replaces tags, please open another issue.

[2020-04-30 17:17] #2547 closed

[2020-04-30 17:17] tstromberg commented on #3388
@tejal29 - does status check address this in any way?

[2020-04-30 17:17] tstromberg commented on #3408
Thank you for the feedback!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or better yet - send a proof-of-concept PR!

[2020-04-30 17:17] #3408 closed

[2020-04-30 17:18] nkubala commented on #1441
quick update from the team here: this is something we're actively prioritizing and working on a preliminary design for. no commitment on timeline for release at the moment, but we'll keep everyone posted and ship this as soon as it's ready :)

[2020-04-30 17:18] tstromberg commented on #3468
@balopat - seems reasonable. Alternatively, if we just remove GOOGLE_APPLICATION_CREDENTIALS from kaniko, shouldn't it do the right thing with newer libraries?

[2020-04-30 17:19] tstromberg commented on #3472
@panitaxx - are you still thinking about writing a PR to address this?

[2020-04-30 17:20] nkubala commented on #1759
I think this would be useful, but our team doesn't have the bandwidth to work on this any time soon. contributions certainly welcome though!

[2020-04-30 17:21] tstromberg commented on #3712
This personally feels a bit like scope-creep to me, but at the same time it sounds like we should provide the necessary duct-tape to piece this together yourself. Leaving open for now.

[2020-04-30 17:23] tstromberg commented on #3690
This is certainly confusing behavior. Maybe we can just provide a link to documentation?

[2020-04-30 17:25] tstromberg commented on #3678
Clarifying title, but I'm honestly a bit confused by this issue - it sounds like two issues rolled into one.

[2020-04-30 17:26] tstromberg commented on #3540
@briandealwis - is this still an issue?

[2020-04-30 17:28] nkubala commented on #3487
re remote image cleanup, I wouldn't mind seeing something like this added to skaffold, but realistically our team isn't going to be prioritizing this any time soon. I'll leave this open for now though - contributions certainly welcome here!

[2020-04-30 17:30] jkleckner opened #4080 "Minor discrepancy between "make-deps" and "make_deps" in Makefile"
Note that these two lines in Makefile are inconsistent:
  https://github.com/GoogleContainerTools/skaffold/blob/8d1dccae5ee38cc0eca6ddf0a0d3be3b1eb2674c/Makefile#L158-L159

[2020-04-30 17:31] tstromberg commented on #3947
@jeusdi - thanks for clarifying. Adding a discuss label to check with the team on this one.

My understanding is that yes - Skaffold needs to be able to pull the remote registry for information.

[2020-04-30 17:31] tstromberg commented on #3855
This seems entirely reasonable. Anyone open to sending a PR in to fix this?

[2020-04-30 17:32] tstromberg commented on #3541
Thank you for the feedback!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or better yet - send a proof-of-concept PR!

[2020-04-30 17:32] #3541 closed

[2020-04-30 17:33] tstromberg commented on #3400
Thank you for the feedback!

I'm closing this issue as it's been open a while, and it is not clear if it's still an open issue. No one has recently stated an interest in addressing this, but if you feel strongly about it, please feel free to add a comment or better yet - send a proof-of-concept PR!

[2020-04-30 17:33] #3400 closed

[2020-04-30 17:34] chanseokoh commented on #3468
I *think* you still want `GOOGLE_APPLICATION_CREDENTIALS` for a way to supply GCR credentials on a non-GKE cluster?

And does kaniko use Google Cloud Client libraries to get credentials?

[2020-04-30 17:34] tstromberg commented on #3309
Adding discuss tag to bring this issue back around for discussion.

@michaelbayday - Sounds wonderful. Do you have anything we can look at yet?

[2020-04-30 17:34] majelbstoat commented on #2110
I mean, it's still an issue, and it's the primary reason why I didn't end up using skaffold. That might not be enough to reopen it though, which is fine if no-one else wants this 🙂

[2020-04-30 17:35] tstromberg commented on #3295
Adding discuss label to bring this up for discussion.

[2020-04-30 17:41] tstromberg commented on #2245
Sounds like @dahovey is on this. Let me know if anyone needs help getting this pushed through.

[2020-04-30 17:42] wstrange commented on #1395
Support for `Kpt` might resolve this as well..

[2020-04-30 17:43] tstromberg commented on #167
I believe that @balopat has been recently thinking about how to best implement this, though I'm not sure he had multiple YAML files in mind.

[2020-04-30 17:45] tstromberg commented on #3960
@pierreyves-lebrun - I believe the answer here is likely just running skaffold in a remote interactive container, and connecting VS Code to it.

I'm not a pro VS code user, so I'm exactly sure of how to do the latter, but you can probably cobble something together using SSH.

[2020-04-30 17:45] #3960 closed

[2020-04-30 18:55] briandealwis commented on #3472
`debug` will now skip transforms on pods with an existing `debug.cloud.google.com/config` annotation (#4027).   We have a contribution for configuring alternative locations for the debug support images in #3945.

[2020-04-30 18:56] jkleckner commented on #3802
@briandealwis I added some debug println statements and find that `ApplyDebuggingTransforms` is not getting called.
- https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/debug/debug.go#L52

This append doesn't "step into" with the debugger:
- https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/transformations.go#L31

Happy to set up a brief screen

[2020-04-30 19:00] panitaxx commented on #3472
@tstromberg  I am sorry but right now I can't do this PR.  It also seems that the PR mentioned by @briandealwis  address the spirit of this issue so I think it's ok to close it.

[2020-04-30 19:43] #3383 closed

[2020-04-30 20:16] apapia commented on #3798
Same issue here.  Is there away to workaround with Cloud Code for Intellij to use `--force=false`?

[2020-04-30 20:20] AndiDog commented on #3172
I made a start on it, but didn't get it finished yet. Too busy, and was also waiting on another PR. Hopefully I can progress here soon.

[2020-04-30 20:24] forgo commented on #1748
@tstromberg, I'm not sure why this issue was closed?

Why should I need to comment out the `values:` section (I need to do this even though I don't need the images from remote` I'm using the jib/gradle integration. If I follow the two steps suggested by @aeneasr , then I can get things running (at least temporarily).

But there are other threads/issues on skaffold github that indicate to me that I

[2020-04-30 20:37] balopat commented on #4058
This came up before - https://github.com/GoogleContainerTools/skaffold/issues/1907
I wonder if we can document this better?

[2020-04-30 20:57] briandealwis commented on #3903
Fixed by #4026.

[2020-04-30 20:57] #3903 closed

[2020-04-30 21:05] balopat commented on #4056
- I don't think this is used yet, this is fairly new, right?
- nit: i'd prefer `ImageBuilder`
- I'm surprised this happens - is this a java protoc thing or an IntelliJ thing - i.e. do we have control over it or not? If it's the former, then we could in theory run tests to make sure proto libs generate valid code .

[2020-04-30 21:16] briandealwis commented on #3872
Hi @robcanini.  `debug` only uses `JAVA_TOOL_OPTIONS` if it cannot find a `java` command-line in the container image.  `skaffold debug` operates with no knowledge of the underlying JVM.   `JAVA_TOOL_OPTIONS` is the only portable environment variable amongst JVM vendors, and is [intended for tool use](https://docs.oracle.com/javase/8/docs/technotes/guides/troubleshoot/envvars002.html).  Unfortunate

[2020-04-30 21:18] briandealwis commented on #3872
I'll note that in the next release of Skaffold, you can modify your pod to include a `debug.cloud.google.com/config: {}` annotation to instruct `debug` to skip this pod.

[2020-04-30 21:28] robcanini commented on #3872
Ok, thanks @tstromberg and @briandealwis

[2020-04-30 21:45] briandealwis commented on #2350
So Helm 3 adds a `--post-renderer` flag.  From the description, it seems to support providing an executable (no arguments) to transform the manifests prior to being sent to the cluster.  It provides the rendered k8s manifests on stdin, and expects the result in stdout.

Since this post-renderer executable cannot take any arguments, we could create a script on the fly to invoke `skaffold`.  But it

[2020-05-01 00:33] #3988 closed

[2020-05-01 00:39] #3816 closed

[2020-05-01 01:33] dwctua commented on #4035
@dgageot, Thank you for the tips !  I'm able to build, push and verify the image successfully without uninstall docker. I'll close the ticket.

[2020-05-01 01:33] #4035 closed

[2020-05-01 03:31] #3872 closed

[2020-05-01 03:43] briandealwis commented on #3802
@jkleckner could you open a new issue for this?  And please include the logs of what you're seeing, with the command invocation.  Honestly, it sounds like you're either encountering build or deploy errors, or running `skaffold dev` rather than `skaffold debug` — that `ApplyDebuggingTransforms` is [registered by the `debug` implementation](https://github.com/GoogleContainerTools/skaffold/blob/maste

[2020-05-01 05:25] jkleckner commented on #3802
@briandealwis  Ok, will do.  But I assure you that a breakpoint entered the doDebug function and that the even though registered, the `debugging.ApplyDebuggingTransforms` printed no trace (that I added manually).

But I can easily believe there is some complexity with the helm deployment that stimulates this problem.

Am a bit pressed at the moment so probably won't be until next week at the earli

[2020-05-01 06:36] pepjo commented on #2056
Hi,

This is still an issue for us, maybe we de something wrong?

Our current CI/CD flow is:

Run linter & unit tests -> skaffold build —quite & scaffold build -> integration and functional tests usin t’he generades image -> skaffold deploy

As you can see, we use the skaffold docker image to run our tests. I think this is nice as it is the same image that will be deployed. However, if we run it w

[2020-05-01 07:42] raul1991 commented on #3497
Just to clear my understanding, the values.image given in the skaffold yaml will replace the values in the values.yaml. So in my pod definition I should be using a {{ .Values.image }} to get the value overriden in the skaffold yaml file. Correct ?

and the --default-repo option works the way as it does with kubectl. So ultimately my image would be picked up from

/path/to/default-repo/{{.Values.im

[2020-05-01 11:18] frejsoya commented on #4018
No.

Newer versions of kubectl (>1.8) require adding ```=client``` to ```--dry-run```. It is super annoying :(

[2020-05-01 13:36] briandealwis commented on #3210
Ah I should have checked the version.  Thanks @loosebazooka.

[2020-05-01 13:52] asegretto commented on #3039
I am on the latest Ubuntu and that work around does not work around the issue.  Did I miss something?

Listing files to watch...
 - localhost:5000/cbso-ui
Generating tags...
 - localhost:5000/cbso-ui -> localhost:5000/cbso-ui:58ef2c9
Checking cache...
 - localhost:5000/cbso-ui: Not found. Building
Found [minikube] context, using local docker daemon.
Building [localhost:5000/cbso-ui]...
Sending bui

[2020-05-01 14:43] asegretto commented on #3210
I also confirmed upgrading to jib version 2.2.0 fixed my issue.  skaffold is deploying the latest build with jib now.  Thanks!

[2020-05-01 14:50] briandealwis commented on #3210
Thanks for confirming @asegretto

[2020-05-01 14:50] #3210 closed

[2020-05-01 15:24] simonfr opened #4081 "Image not recognized in crd k8s manifest"
When I try to launch `skaffold dev` with custom crd image field in manifest is not found by skaffold.

### Expected behavior
Image should be found by skaffold

### Actual behavior
Image not found so --> Not used by the deployment error

### Information

- Skaffold version: v1.8.0
- Operating system: Ubuntu 18.04 LTS
- Contents of skaffold.yaml:

[code]

- Contents of k8s/function.yaml:
[code]

- W

[2020-05-01 17:46] nkubala commented on #1753
do we not use the run id in skaffold deploy? I think we should be filtering on that in the pod selector for getting logs. @cliffburdick are you still on an old version of skaffold?

[2020-05-01 17:58] jkleckner commented on #3802
@briandealwis Before creating another issue, I noticed that while `JAVA_VERSION` is defined in the container image and if I connect to a pod, I see it in the environment, I don't see it in the env as obtained with `kubectl get -n ns pod/pod-id -oyaml`

Does skaffold look into the image env or just the pod spec ?
We are using helm for deploy if that matters.

Cc: @aboyett

[2020-05-01 17:58] nkubala commented on #3248
mmm that feels a little strange to me. would it be possible to do platform-specific script generation in skaffold instead? though maybe that's weird as well.

[2020-05-01 18:05] nkubala commented on #2502
@tstromberg the best we have is https://github.com/GoogleContainerTools/skaffold/blob/master/DEVELOPMENT.md#integration-tests. it's definitely not a full guide though. if you do decide to go after this one, those docs could use a little love based on what you find :)

[2020-05-01 18:06] nkubala commented on #1514
@dgageot yeah I think so

[2020-05-01 18:06] #1514 closed

[2020-05-01 18:07] nkubala commented on #2471
I'm gonna reopen this one cause I think it's related to modules.

[2020-05-01 18:10] nkubala commented on #1516
I do think we could improve our docs here. I'll reopen this and try to address it soon

[2020-05-01 18:12] nkubala commented on #3771
@tstromberg you should go for it :)

[2020-05-01 18:14] nkubala commented on #3909
in my experience CrashLoopBackOff is unrecoverable until a new image is pushed, so I think skaffold exiting is probably a better UX since it's clear to the user that a change needs to be made. we'd want to be good about the error messaging here though.

[2020-05-01 18:56] cliffburdick commented on #1753
@nkubala I updated to v1.0.1 a while ago to try this a while ago after @tejal29's comment. I will try the latest version and get back to you if you think it might be fixed.

[2020-05-01 20:51] cliffburdick commented on #1753
Hi @nkubala , the issue does not appear to be fixed, even with 1.8.0. I launched in two different terminals with a config similar to this:

`apiVersion: skaffold/v1beta13
build:
  tagPolicy:
    envTemplate:
      template: '{{.IMAGE_NAME}}:{{.SALT}}'
deploy:
  kubectl:
    manifests:
    - depman-b7bc42.yaml*
kind: Config`

Skaffold was run with:
`skaffold deploy --tail -f skaffold.yaml -n myns -

[2020-05-01 21:03] ivanporty commented on #4056
* No impact to IDEs is expected, as we are not really using it yet.
* `ImageBuilder` sounds good.
* It probably because of our version of protobuf coming bundled with IntelliJ. Currently we try to use the Gradle plugin to automatically compile the proto together with the project, so it has to use the same versions and protoc, resulting in this error. One option is to do that manually, separately f

[2020-05-01 21:43] briandealwis commented on #3802
@jkleckner Oh!  Debug isn't supported with Helm yet.  It's being tracked in #2350.

[2020-05-01 23:14] jkleckner commented on #3802
Ahh...  That explains it.

[2020-05-01 23:39] balopat commented on #4081
Thank you for opening @simonfr!

We should think about how to whitelist CRDs in Skaffold.
One dirty-quick fix would be to add `"Function": true` to this map:
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/kubectl/visitor.go#L33
However, I would like to see at least the kind to be qualified with the API group. There could be other `Function` CRDs out there, that us

[2020-05-02 00:04] balopat opened #4083 "Swagger duplicated key issue on HTTP API page"
We should fix this before the next release (it hasn't made yet to skaffold.dev)

https://skaffold-latest.firebaseapp.com/docs/references/api/swagger/

![image](https://user-images.githubusercontent.com/635073/80849813-bf2a5300-8bcd-11ea-8aa2-6461c8410cf3.png)

[2020-05-02 00:05] balopat commented on #4083
I'm putting this on p1 - not because people are looking at it :) but because it shouldn't go out with the next release if possible. @nkubala

[2020-05-02 00:08] balopat commented on #4005
I am pretty puzzled why we swallow that error:

we throw an error pretty much everywhere else, but for some reason here, we swallow it:

https://github.com/GoogleContainerTools/skaffold/blob/4ee028bb817e496e8181a5e12e22e291ccc91fb4/pkg/skaffold/deploy/helm.go#L315-L319

@tstromberg do you recall why was this accepting errors here? It looks like your refactoring introduced this - my inclination wou

[2020-05-02 09:35] simonfr commented on #4081
Thank you @balopat
May be it's possible to add to current [skaffold.yaml](https://skaffold.dev/docs/references/yaml/) reference a new map in deploy.kubectl.transformableKinds where we can enable, disable and add parameters to existing recursivelyTransformableKinds map

[2020-05-02 14:57] briandealwis opened #4085 "Buildpacks builder should detect and map status codes to a meaningful error message"
A user was attempting to build using a buildpacks builder from an IDE.  The build failed, and the IDE showed only the reported error message:

[code]

This provides very little information for diagnosis.

The status code is actually the exit code from the [CNB lifecycle process](https://github.com/buildpacks/lifecycle/blob/067183b47a16c1cf1f415047a3e706ac5399878f/cmd/exit.go#L10-L20) and correspon

[2020-05-02 17:58] khaled commented on #3947
@tstromberg Do you happen to know why skaffold needs to talk directly to the remote registry?  This makes it difficult or impossible to use things like in-cluster registries or ECR, in cases where the developer's machine does not have the credentials to talk directly to the registry.  Another tool similar to skaffold that I've used, [garden.io](https://garden.io), does not have this requirement /

[2020-05-03 02:38] briandealwis opened #4087 "`debug` for python should start using debugpy"
[ptvsd](https://github.com/microsoft/ptvsd) seems to have been [replaced/renamed](https://devblogs.microsoft.com/python/python-in-visual-studio-code-march-2020-release/) by [debugpy](https://github.com/microsoft/debugpy).  It's still based on `pydevd`.

[2020-05-03 02:43] briandealwis opened #4088 "`debug` should support debugging `python -m module`-style command"
`debug` doesn't properly support debugging Python modules: we transform the container command-line to insert `-mptvsd` with some ptvsd-specific arguments.  We don't rewrite the command-line if it already had a `-m` argument to start a module, such as in our [`hot-reload/python` example](https://github.com/GoogleContainerTools/skaffold/blob/master/examples/hot-reload/python/Dockerfile#L12).

[2020-05-03 07:31] #4080 closed

[2020-05-03 07:32] #3473 closed

[2020-05-03 19:10] vishal-biyani opened #4090 "helm + kind: default-repo does not work as documented"
### Expected behavior

When deploying to a Kind cluster, the `default-repo` configuration should be used with Helm deployer. This works fine with other clusters such as GKE.

### Actual behavior

When deploying to Kind cluster the `default-repo` configuration goes missing and the Helm deployment runs into `Back-off pulling image`

You can see that the default-repo is used all the way - except when

[2020-05-04 13:19] dgageot commented on #3991
I'm going to assume #4010 fixed this issue. Feel free to reopen if that's not the case.

[2020-05-04 13:40] dgageot commented on #1753
@cliffburdick could you share the logs for both deployments? Are you using different tags in both deployments?

[2020-05-04 13:43] dgageot commented on #1753
@cliffburdick Also are you running both terminals in different namespaces?

[2020-05-04 14:11] dgageot commented on #4018
@frejsoya I don't think there's an issue with `dry-run` here. However, I'll open a ticket for k8s 1.18+.

Could you share the logs with `--trigger=polling`?

[2020-05-04 14:12] dgageot opened #4094 "`--dry-run=client` must replace `--dry-run=true` with kubectl >= 1.18"
See https://kubernetes.io/docs/setup/release/notes/#kubectl-1

[2020-05-04 14:14] dgageot opened #4095 "Integration tests fail with kind 0.8.0"
Tests fail with this error:

[code]

[2020-05-04 14:21] dgageot commented on #4094
It seems to not fail yet, with kubectl 1.18. It however prints this warning:

[code]

[2020-05-04 15:34] dgageot commented on #3781
This was fixed with https://github.com/GoogleContainerTools/skaffold/pull/4052

[2020-05-04 15:34] #3781 closed

[2020-05-04 15:50] dgageot commented on #4090
@vishal-biyani Could you please share all the logs. I couldn't reproduce your issue

[2020-05-04 16:01] vishal-biyani commented on #4090
PFA the log, do you need at a higher verbosity?

[code]

[2020-05-04 16:23] cliffburdick commented on #1753
I spoke with @dgageot on slack about this, and just to clarify the situation more:

1) These are two different statefulsets sharing the same image (different config in each)
2) They are in the same namespace
3) The SKAFFOLD_LABEL environment variable is not set

[2020-05-04 16:24] dgageot commented on #1753
Here's a reproduction: https://github.com/dgageot/skaffold-deploy-mix

[2020-05-04 16:48] dgageot commented on #4090
@dgageot higher verbosity (-vdebug) would be awesome!
Are you using helm 2 or 3?

[2020-05-04 16:54] dgageot commented on #3893
This whole pruning needs to be re-designed. We should start by pruning only the images we produce

[2020-05-04 17:16] dgageot commented on #3893
I think it would make sense to run something like `docker image prune --filter "label=built-by=skaffold" --filter "until=30m" --force` but then, we need to make sure all the image we built have this label applied.

[2020-05-04 17:26] dgageot opened #4098 "Custom sample seems broken with Ko 0.5.0"
Our integration test fail with:

[code]

[2020-05-04 17:54] apapia commented on #3798
In case someone else runs into this, I found you can set the flag via the `SKAFFOLD_FORCE` env var and that the Cloud Code for Intellij plugin allows you to configure env vars in the deployment configuration.

[2020-05-04 18:04] cliffburdick commented on #1753
I confirmed this is fixed by https://github.com/GoogleContainerTools/skaffold/pull/4097

[2020-05-04 18:30] #4098 closed

[2020-05-04 18:31] #3812 closed

[2020-05-04 20:20] tstromberg commented on #3947
@khaled - Skaffold currently requires that the remote registry is accessible in order to fetch the image digest and write it into the Kubernetes manifest.

I'm not sure how Garden manages this.

Hope this helps!

[2020-05-04 20:20] #3947 closed

[2020-05-04 20:26] balopat commented on #2561
Thinking about this more here is a distilled recommendation that will justify closing this issue:

**Principle**:  for quick dev loop use cases Skaffold is the orchestrator locally, for CI/CD pipelines Skaffold provides building blocks, not an orchestration.

In this particular case we can see that integration tests typically ran in CI/CD pipelines. Hence we would recommend using skaffold build /

[2020-05-04 20:26] #2561 closed

[2020-05-04 20:29] tstromberg commented on #3295
When a build is cancelled, Skaffold may not cleanup currently.

The second issue may be an extra bug.

[2020-05-04 20:32] tstromberg commented on #3118
It sounds like modules are still in the plans this year.

[2020-05-04 20:36] tstromberg commented on #2464
Can someone provide `-v trace` logs for this? It would go a long way to figuring out what calls we are sending to Docker in this case.

There may be some issue with Docker pruning children with interdependent layers, but we don't yet have the evidence yet for this.

[2020-05-04 21:24] #3765 closed

[2020-05-04 22:14] #4083 closed

[2020-05-04 23:27] tejal29 opened #4100 "Status check fails to report failed event for intermediate errors."
### Expected behavior
Status check should report failed events when any error happens
e.g. kubernetes client initialization error.

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
3. ...

[2020-05-04 23:46] balopat opened #4102 "Cover Event emissions with tests"
We should test what type of events we are sending and when.
Currently we do not have coverage over this, and the IDEs do depend on this behavior, so the situation is somewhat precarious, easy to break them.

[2020-05-05 01:49] #4100 closed

[2020-05-05 07:52] dgageot commented on #1377
Hi everybody, I'm going to close this issue since we don't have the bandwidth to implement it. Feel free to reopen if you think otherwise.

[2020-05-05 07:52] #1377 closed

[2020-05-05 08:43] #2170 closed

[2020-05-05 10:15] dgageot commented on #3718
What's happening is that your deployments have a `app.kubernetes.io/managed-by: Tiller` label.
Skaffold replaces it with `app.kubernetes.io/managed-by: skaffold` which has the side effect of breaking the `matchLabels`

[2020-05-05 10:19] dgageot commented on #3802
@jkleckner @briandealwis should we close this issue then?

[2020-05-05 10:22] dgageot commented on #3871
@petr-buchin could you share the version of docker you are using? Do you know if it's using Buildkit? And can you share your Dockerfile?

[2020-05-05 10:46] dgageot commented on #2980
This was fixed with https://github.com/GoogleContainerTools/skaffold/pull/3985

[2020-05-05 10:46] #2980 closed

[2020-05-05 10:47] stanislav-zaprudskiy opened #4106 "Support reading environment variables passed to skaffold from file (e.g. .env)"
Considering `skaffold` could use environment variables to populate templated fields - https://skaffold.dev/docs/environment/templating/, it would super convenient to have the ability to pass environment variables to skaffold from file - similar to (or the same as) how [`docker-compose` does that](https://docs.docker.com/compose/environment-variables/).

Originally, this feature request just got lo

[2020-05-05 11:52] thclark commented on #4018
I've had a chance to test this morning. Now, it works as expected, both with and without `--trigger=polling`. **SIGH.**

I did have to restart my minikube (my system had done OS updates). Perhaps the root of the problem related to the minikube or its context rather than to skaffold.

Thank you for your participation here @dgageot, apologies, I know how frustrating this must be.
My sense is there m

[2020-05-05 14:08] dgageot commented on #4018
Thanks @thclark for the investigation. I have the feeling that the issue comes from the `Source/source` difference. Let me investigate

[2020-05-05 14:11] dgageot commented on #4018
Yeah, that's the problem! I've got a reproduction.

[2020-05-05 14:28] vishal-biyani commented on #4090
So I tried now and it does not work for GKE as well as Kind (I remember it working for GKE for sure). I think there is some flakiness with default-repo, I am attaching logs for Kind runner. I am attaching logs of deploy section, let me know if you care for the build section too.

[code]

[2020-05-05 14:46] slimm609 commented on #3718
Awesome find,  once #4105 is merged I can test as well.

[2020-05-05 14:53] jkleckner commented on #3802
@dgageot For my use case, yes.

@rmohammed-xtime Are you also using helm deployment?

[2020-05-05 14:57] dgageot commented on #4018
@thclark Could you try this:

[code]

[code]

[2020-05-05 15:22] briandealwis commented on #4018
We had a [another situation](https://kubernetes.slack.com/archives/CABQMSZA6/p1587461343252500?thread_ts=1586884981.185900&cid=CABQMSZA6) reported in the [#skaffold channel on the Kubernetes Slack](https://kubernetes.slack.com/archives/CABQMSZA6) that was traced to the case-ness of the path.

[2020-05-05 15:24] ijaouani commented on #4058
Exactly same behavior here. I need to run manually skaffold delete after to delete running containers inside k8s.

[2020-05-05 15:59] dgageot commented on #4058
@ijaouani are you using cmd or powershell?

[2020-05-05 16:27] ijaouani commented on #4058
I use git bash inside vscode.
The log cleaning up ... is write but nothing happend.

I also just try with cmd and same behavior. Pod are still running.
For info, I use skaffold profile.

[2020-05-05 16:36] dgageot commented on #4058
@ijaouani Could you share the full log of `skaffold dev -vdebug` interrupted by ctrl-c?

[2020-05-05 17:00] ijaouani commented on #4058
`skaffold dev -vdebug --port-forward -p backend
time="2020-05-05T18:56:00+02:00" level=info msg="starting gRPC server on port 50051"
time="2020-05-05T18:56:00+02:00" level=info msg="starting gRPC HTTP server on port 50052"
time="2020-05-05T18:56:00+02:00" level=info msg="Skaffold &{Version:v1.8.0 ConfigVersion:skaffold/v2beta2 GitVersion: GitCommit:bd280192092e28067f0f52584c8bcb4f4dc480e4 GitTreeS

[2020-05-05 19:16] nkubala opened #4111 "Release v1.9.0"

[2020-05-05 19:30] gsquared94 commented on #3415
The regression for lost logs has already been fixed. For the message added this PR which shows up like:![image](https://user-images.githubusercontent.com/39389231/81107151-8e973180-8ecb-11ea-8982-b3b86b807712.png)

[2020-05-05 20:16] #3718 closed

[2020-05-05 21:46] #4111 closed

[2020-05-05 22:30] foobarbecue opened #4115 "regression: 'none' driver does not support 'minikube docker-env' command"
Looks like the fix for https://github.com/GoogleContainerTools/skaffold/issues/112 came unfixed in the update from Skaffold 1.8 to 1.9 .

### Expected behavior

Start minikube with `minikube  --vm-driver=none`
`skaffold run` works

### Actual behavior
Start minikube with `minikube  --vm-driver=none`
`skaffold run` fails with
[code]
### Information

- Skaffold version: v1.9.0
- Operating system: Ub

[2020-05-06 01:31] petr-buchin commented on #3871
@dgageot thanks for looking into this!
After creating this issue I started to use `useDockerCLI` option, which works well without any issues.
I don't know whether this issue still happens without `useDockerCli`, therefore I will check this on my deployment asap and get back to you.

[2020-05-06 07:23] stanislav-zaprudskiy opened #4117 "[helm] regression: logs are not being tailed in 1.9.0"
### Expected behavior
`skaffold run --tail` tails containers logs

### Actual behavior
`skaffold run --tail` doesn't tail containers logs.

However! If I downgrade to 1.8.0, it tails just fine using the same command line and `skaffold.yaml`. With debug verbosity, the messages below just don't show up in 1.9.0 after port forwarding has been started:

[code]

I also tried `skaffold dev --tail` witho

[2020-05-06 08:47] dgageot commented on #4115
Oh. That's the reason why we were falling back to host docker. I'd like to find a better fix because it hides any setup issue that users might have with minikube.

@tstromberg is it safe to depend on minikube's error message? Or maybe there a better way.

[2020-05-06 08:49] dgageot commented on #4117
I'm the one who broke that... I fixed an issue where logging and port forwarding wouldn't take the runId into account. It was fixed by adding a selector on the label that carries the runID. However, I forgot that our labelling mechanism is flakey with helm. Those labels get applied later and that will lead to lost logs.

Do you still still logs after some time?

[2020-05-06 09:30] dgageot commented on #4117
@stanislav-zaprudskiy which version of helm are you using?

[2020-05-06 10:34] dgageot commented on #4117
I think it's worst than what I thought. Logging is broken for every type of Kubernetes resource but a simple pod.

[2020-05-06 11:18] dgageot commented on #4117
I take that back. The problem is only with Helm. Log tailing pods or deployments deployed with `kubectl` is ok.

[2020-05-06 11:48] dgageot commented on #4117
We have at least three ways to fix that:
 + Rollback #4097 which reintroduces a slightly less important issue
 + Evolve `labelDeployResults` so that it can patch pods' specs too. That should fix the logging but will, I think, spawn new pods which is kind of a glitch.
 + For helm3, we might be able to use `helm template` instead of `helm install`. That should give us the rendered yaml that we can t

[2020-05-06 11:53] stanislav-zaprudskiy commented on #4117
Logs didn't show up after 1h.
[code]

[2020-05-06 12:46] grantstephens commented on #2898
The one use case we have at the moment is using your local config from `~` for certain binaries for example. The other is for copying those binaries from where they live locally to the remote instance. At the moment we run a script before scaffold that copies all the needed config and binaries to a build directory which is then used by the dockerfile.

I'd be happy to take a stab at it if there is

[2020-05-06 13:24] briandealwis commented on #4117
We can't use` helm template` — it doesn't play well with `upgrade` and `delete`. But helm 3.1 supports a filtering/transforming the manifest as part of installation (https://github.com/GoogleContainerTools/skaffold/issues/2350#issuecomment-622132098).

[2020-05-06 14:08] thclark commented on #4018
@dgageot Yup, that's it, it's the case sensitivity in the path.

Wow. 😖

So "not a skaffold issue" and I believe you can safely close the issue.

Although if this has come up a couple of times, I wonder whether it's actually possible to make a warning. There's a way of checking (using some weird mac-specific alternative `pwd`) [here](https://apple.stackexchange.com/questions/240245/checking-path-c

[2020-05-06 14:26] dgageot commented on #4117
Maybe a —post-renderer then?

On Wed 6 May 2020 at 15:26 Brian de Alwis <notifications@github.com> wrote:

[2020-05-06 18:26] nkubala commented on #4117
let's rollback the change that introduced this for now. I would be interested in exploring ways we can interact with the manifests generated by helm though, if we can tease out templated manifests before they get sent off by helm that would be a big win.

[2020-05-06 22:45] balopat opened #4124 "Environment variable validation"
**Background**
Environment variables are used in multiple places in skaffold: the helm fields as well as the envTemplate tagger for example inside the skaffold.yaml.

**Problem**
Env vars are convenient but create a challenge: they form a schema-free API to parametrize the skaffold configuration. One can pass in incorrect env vars, or miss mandatory ones, and realize the impact much later in the s

[2020-05-06 23:57] balopat commented on #4106
We also had a PR around this: https://github.com/GoogleContainerTools/skaffold/pull/1458

[2020-05-07 01:10] petr-buchin commented on #3401
@corneliusweig

This is not an option for my company, since we've chosen to create our development environment using Kubernetes and Skaffold (instead of old `docker-compose` env) in order to have as few differences between our environments, as possible.
This strictly applies to Dockerfiles - we have same Dockerfiles for production, staging, qa and dev environments, therefore running JS watch&build

[2020-05-07 14:31] #4018 closed

[2020-05-07 14:41] #4115 closed

[2020-05-07 14:54] #4117 closed

[2020-05-07 14:55] #4056 closed

[2020-05-07 15:08] #4085 closed

[2020-05-07 17:06] briandealwis opened #4129 "WithFlags() change should defer applying default values until the command is to be used"
#4089 seeks to add `dev`'s `--auto-{build,deploy,sync}` options to `skaffold debug` but [with different default values](https://github.com/GoogleContainerTools/skaffold/pull/4089/files#diff-e38cfd6902a46a3295cb4067d8158878R37-R49).  But the obvious (or naive? :grinning:) attempt fails as Skaffold's commands framework immediately applies the function passed to `WithFlags()`:

https://github.com/Goo

[2020-05-07 19:44] briandealwis commented on #4129
This seems inherent to `pflags`: [`BoolVarP()` uses `newBoolValue()`](https://github.com/GoogleContainerTools/skaffold/blob/86b4fde68f9b1530f09fc304e52841ca3efdb522/vendor/github.com/spf13/pflag/bool.go#L55) to allocate a container to map the provider pointer to the default value, and [`newBoolValue()` immediately assigns the value](https://github.com/GoogleContainerTools/skaffold/blob/86b4fde68f9

[2020-05-07 22:00] foobarbecue commented on #3563
Works for me! Note that I was running into problems because I capitalized the S in resourceType: Service ... then I was getting both auto and local port forwarding. This might have been my problem all along, actually...

[2020-05-08 01:39] nkubala commented on #3893
yeah I really hate the way I designed pruning...not my finest. I wouldn't mind labelling all of the images we build, we track them anyway so I don't think it would be too much work. what about intermediate images for multi-stage builds though? I think there's a bug where sometimes these get left behind but I'm not sure

[2020-05-08 02:38] briandealwis commented on #3802
Closing — will re-open if OP responds.

[2020-05-08 02:38] #3802 closed

[2020-05-08 12:04] pierreyves-lebrun commented on #3960
@tstromberg I am not sure what you mean by “running Skaffold in a remote container”, could elaborate please?

I am happy to run Skaffold locally, that isn’t my issue. What I want is to [develop in a container](https://code.visualstudio.com/docs/remote/containers) holding all my development environment, that way I don’t have to locally install any dependency.

That container happens to be deployed

[2020-05-08 12:31] matti opened #4131 "1.9.1 fixes minikube --vm-driver=none partially and breaks old behavior with delete"
The 1.9.1 release notes don't mention anything about https://github.com/GoogleContainerTools/skaffold/commit/377da24780f44f78547cefbb78535c58fff7f426 which was also released with this release ping @nkubala and @dgageot

In 1.8.0 the `skaffold delete` gave a warning, but continued with the delete:
[code]

With 1.9.1 the command exits and does not do the cleanup:
[code]

Current workaround: stay wit

[2020-05-08 14:50] dgageot commented on #4131
That’s really strange... I must have missed something. Can you share a log in debug mode with the old and the new versions? That would be super useful

[2020-05-08 14:53] as3445 commented on #3768
Is there a temporary workaround for this until the feature is built out? I'd love to try skaffold!

[2020-05-08 15:10] matti commented on #4131
sure, how do I enable debug mode?

[2020-05-08 15:35] matthewmichihara opened #4132 "Error building on GCB, deploying to local Docker for Desktop Kubernetes cluster"
I'm trying to build a container on GCB, and then deploy it on my local Docker for Desktop Kubernetes cluster, but I seem to be hitting auth issues. The container builds fine, but the Kubernetes pod gets stuck in an error state. I went through https://cloud.google.com/container-registry/docs/advanced-authentication#gcloud-helper and set `gcloud` as the credential helper via `gcloud auth configure-d

[2020-05-08 16:21] dgageot commented on #4131
Skaffold dev -vdebug

[2020-05-08 17:02] tejal29 commented on #4036
closed by #4037

[2020-05-08 17:26] nkubala commented on #3768
@as3445 this feature would theoretically generate a skaffold.yaml based on your helm project configuration. but you can always write the skaffold.yaml yourself :) in fact, based on some of the experimentation I've done, this is actually a much harder problem than it seems on the surface, so I'd recommend taking a stab at setting up skaffold with your project! I put together a small guide on how to

[2020-05-08 17:35] as3445 commented on #3768
@nkubala cool! I did come across that page, and the requirement of needing to update the underlying charts would be too much of an overhead for the project I am currently working on unfortunately. :( Would be nice if it could hook into an existing namespace/charts and handle things from there. I can appreciate the difficulty of doing that though!

[2020-05-08 17:41] nkubala commented on #3768
ah I'm sorry to hear that :( we recognize that this is definitely a limitation of using skaffold with helm. can I ask why it's too much overhead for you? do you have a lot of charts? or are they too big? just trying to understand use cases!

[2020-05-08 17:46] nkubala commented on #4058
@dgageot fair point, I was using normal cmd. I think I also tried on powershell and got the same behavior....I can try reproducing later in both shells if you want

[2020-05-08 18:00] as3445 commented on #3768
It is indeed an overhead that there are a lot of charts. More importantly these charts are used by a build process to create new environments constantly, so having to change the template file poses a certain level of risk come time to merge these changes.

[2020-05-08 18:27] nkubala commented on #2583
@AlaaHamoudah that flag will turn off automatic image building in skaffold when file changes are made. so it will feel like skaffold isn't watching, but in reality it's waiting for user input to trigger a build. if you still feel like you're seeing skaffold not watching for changes, feel free to open another issue!

[2020-05-08 18:51] nkubala commented on #2448
@LeoDupont unfortunately yes, and I agree that this approach is less than satisfactory.

just wanted to give an update from the team here: we're actively working on a design to support grouping artifacts into "modules", and allowing parent skaffold.yaml configuration to make references to these modules. there are several use cases we're trying to support, and multiple microservices in separate rep

[2020-05-08 20:29] tejal29 opened #4134 "[UI] Running skaffold on application with multiple microservices produces ton and tons of logs."
Running skaffold on application with [Hipster Shop](https://github.com/GoogleCloudPlatform/microservices-demo) produces a lot of output with the build logs.

It is really difficult to know how many of the microservices were built and how many are remaining.
A progress or a status update for each artifact would help a lot  like

[code]
(Gave up on aligning the columns)
Thanks
Tejal

[2020-05-08 22:16] balopat opened #4136 "Document connection guarantees for portforwarding and debugging"
We should document on https://skaffold.dev/docs/pipeline-stages/port-forwarding/ and/or https://skaffold.dev/docs/references/api what each event guarantees in terms of connection - for example do we expect clients to retry connections after a portforwarding event is received? Can IDEs rely on debug events or should they use portforwarding events? How does this change with and without status-check?

[2020-05-09 08:30] yuwenma commented on #3828
Thanks Chanseoko, I did another try but still couldn't get it work. Here's what I did:

1. First of all, my original post is based on skaffold resource v2alpha4. I updated the resource to v2beta3. Then confirmed my skaffold.yaml (see below) works by running `skaffold build --profile oncluster` locally (the skaffold CLI is also updated  to the latest v1.9.1). Images are build and pushed to the expe

[2020-05-09 13:33] tete17 commented on #3316
Ok I want to tackle this problem and I think I have a plan but I want to get some discussion before I start coding.

Taking a look at the current definition of a HelmRelease I see a lot of duplication.
 * `Values` is right now only used for replacing images names with the ones with tags build by Skaffold, when in reality it sound more like a general way of passing arbitrary values instead. https:/

[2020-05-09 17:37] TBBle commented on #3316
The difference between `setValues` and `overrides` is that the former uses the `--set` command-line flag for each values, and the latter uses the `--values` command-line flag for the whole block.

The two behave slightly differently in Helm, at least in stickiness across upgrades, and merging arrays. You can't modify an array default with `--values`, it ends up overwriting it.

Also, `setValues` k

[2020-05-09 17:44] TBBle commented on #3316
How would Skaffold detect an image parameter? It's only by convention and documentation that _humans_ know which one is an image parameter, and what its structure is. And skaffold already does not cover several existing structures seen in the wild.

[2020-05-10 00:48] eox-dev commented on #2753
From a WSL2 perspective, would be very interested in this given `minikube` [effectively doesn't work](https://github.com/kubernetes/minikube/issues/7879) but `k3d` does.

[2020-05-10 08:16] #3415 closed

[2020-05-10 10:48] stanislav-zaprudskiy opened #4139 "Rebuilding on key press using --trigger=manual is not stable"
### Expected behavior

When `skaffold` is executed and set to rebuild on key press
[code]
it rebuilds on key press.

### Actual behavior

At first, I thought that rebuilding isn't working when `--tail=true` is specified. It turned out to be false.

Next, I suspected `--port-forward` is messing up. As in some cases

message showed up after `Port forwarding ...` messages, in others - before. But it

[2020-05-10 10:55] tete17 commented on #3316
Thanks for the explanation @TBBle I didn't knew `--set` & and `--values` had slightly different behaviour.

I guess that is another argument for keeping `override` as it is. I only propose to merge the behaviour is `values`, `setValues` & `setValuesTemplated` into one.

You can take a look here on how the helm deployer detect image parameters. https://github.com/GoogleContainerTools/skaffold/blob/

[2020-05-10 11:40] TBBle commented on #3316
Yeah, I had forgotten you could use `\.` to avoid needing to embed the quotes in the command-line.

That's a good example of where using `overrides` would make that easier to parse for the reader as well.

[code]

----

The problem with applying the Helm image-detection logic to a block of values that are _not_ only images is that it'll match _any key_ that happens to match an image name as being

[2020-05-10 11:49] TBBle commented on #3316
Conversely to my last comment, I think the simplest and clearest resolution for this issue would be to rename `values` as `imageOverrides` or `artifactOverrides` (to tie it back to the `artifacts` section of the file, rename `images` as `values`, and keep `setValues` with the same name.

Then the names would match the behaviours, `imageOverrides` can keep being magic without accidentally magicking

[2020-05-10 16:23] shadiramadan opened #4140 "Don't use a default kube-context"
From the documentation:

IMO this is very dangerous and is an accident waiting to happen.

All it would take is forgetting you switched to a production context to cause some very annoying problems for someone.

I think it should always be explicitly set by default.

[2020-05-10 17:31] dranes commented on #3883
Getting the exact same error

[code]

[2020-05-11 08:41] dgageot commented on #4140
Thank you @shadiramadan. I understand your concern, however, skaffold behaves like kubectl or helm or basically any other tool in that domain. I don't think we want the users to have to always specify a kube-context

[2020-05-11 08:51] dgageot commented on #4131
@matti I can't reproduce. The output logs would be really helful

[2020-05-11 14:21] etanshaul opened #4144 "Skaffold is not terminating processes with RPC connections"
Likely a regression due to:
https://github.com/GoogleContainerTools/skaffold/pull/4010

When clients make an grpc connection to Skaffold's event api, normal Skaffold termination (via `ctr+c` / SIGINT) is does not terminate the Skaffold process resulting in orphaned processes.

To reproduce:
- Start a Skaffold dev session in the IntelliJ
- Hit the `stop` button

Expected: Skaffold process is termin

[2020-05-11 14:23] etanshaul commented on #4144
@nkubala @balopat

This is from our chat late last week. Filing the issue for tracking. This is a blocker for the IDEs upgrading to `1.9.1` assuming we conclude that it is indeed Skaffold's responsibility to terminate the process under these conditions (which I _think_ it is).

[2020-05-11 16:09] sdwolfz commented on #3367
@dgageot I can confirm the issue still occurs exactly as described above.

[2020-05-11 16:41] chanseokoh commented on #3367
I believe  `go-containerregistry` never supported the [deprecated](https://docs.docker.com/registry/spec/deprecated-schema-v1/) image manifest v2 schema 1. The next major Docker version won't work on schema 1 images either; you need to make your private repo (`remote-service`) return a schema 2 manifest for the images inside. I believe Quay.io recently added and enabled schema 2 support globally.

[2020-05-11 16:58] sdwolfz commented on #3367
@chanseokoh Thank you for the details. I'll give it a go and see what happens.

[2020-05-11 18:14] paultiplady commented on #3133
I have reproduced this on v1.8.0 and 1.9.1 too. I think the problem is the labels that Skaffold is creating:

[code]

This seems quite odd to me. It's not possible to apply a modification of a deployment's labels, for reasons documented in https://github.com/kubernetes/kubernetes/issues/26202. (In summary modifying label selectors would break the deployment's ability to clean up old replicasets, I

[2020-05-11 19:16] paultiplady commented on #3133
Note that even if you override the `run-id` with a static value, we are still going to fail to deploy after upgrading skaffold or docker, or any other config changes that would modify the deploy metadata injected by skaffold.

[2020-05-11 19:26] paultiplady commented on #3171
I believe the underlying issue on this ticket is that `skaffold` is setting the client version in the k8s labels;

[code]

And updating labels on an existing k8s Deployment is not allowed (https://github.com/kubernetes/kubernetes/issues/26202).

If you successfully deployed your Deployment with `skaffold deploy` on v0.40.0, then upgrading your client will mean that the skaffold deploy (or any `kub

[2020-05-11 20:23] chanseokoh commented on #3828
@yuwenma here's a complete step-by-step example that I created for demonstration. Note I'm just telling you how you can made this work; I do think Skaffold has room for improvement or at least needs to fix the sample with better documentation around providing the Kaniko secret.

### Preparation

1. Go to Cloud Console and create a GKE cluster with the latest Master version (1.15.11-gke.12 as of no

[2020-05-11 20:32] thrix commented on #3873
We see this also after upgrading from skaffold 1.1, which worked just fine:

[code]

We are using it against minishift ...

[2020-05-11 20:52] #3968 closed

[2020-05-11 21:02] chrisseto commented on #3219
Also encountering this issue, I've been able to work around it by dropping the following into my `kustomization.yaml`

[code]

[2020-05-11 21:08] tejal29 commented on #3828
@yuwenma skaffold hardcoded the `GOOGLE_
APPLICATION_CREDENTAILS` to `/<volumeMountPath>/kaniko-secret`.

If the secret you created was at different filepath, kaniko pod would fail.
This was not documented well.

With this change,
1. You can now use, `pullSecret` in [skaffold config ](https://skaffold.dev/docs/references/yaml/#build-cluster-pullSecret) to point to the secret filepath.

[2020-05-11 22:11] tstromberg commented on #3768
Is this a dupe of https://github.com/GoogleContainerTools/skaffold/issues/1726 ?

[2020-05-12 01:17] pierreyves-lebrun commented on #2492
Though tricky, two-way sync is essential as people developing in containers simply can’t use Skaffold at the moment.

Solutions such as Okteto or Devspace do have that feature so developers don’t have to pollute their local machine with dev dependencies.

[2020-05-12 03:51] pierreyves-lebrun opened #4149 "Move development to Kubernetes entirely"
I find Skaffold awesome but it doesn’t push the logic of development in Kubernetes as far as it should.

Skaffold currently requires developers to iterate on their application source code locally and then deploy to local or remote Kubernetes clusters.

Such a workflow is not in phase with modern application development in that developers shouldn’t have to locally install any project dependency or

[2020-05-12 07:36] dgageot commented on #4144
This is fixed with https://github.com/GoogleContainerTools/skaffold/pull/4148. We reverted the graceful shutdown code.

[2020-05-12 07:36] #4144 closed

[2020-05-12 10:03] taisph commented on #3219
Attempted to deploy from a host without a local docker installation and skaffold felt the need to change `skaffold.dev/docker-api-version` from `"1.40"` to `null` so now I have to add that to my list of overridden skaffold labels. I don't even understand the value of that particular label in a remotely deployed manifest. :thinking:

Patch output from kubectl via skaffold 1.7.0 (Google Cloud SDK ve

[2020-05-12 10:10] haf commented on #4149
I want to bite: the reason I use skaffold over vscode containers or Google Cloud Code is that it lets me work with the tooling I use for deploying, and as such, I "just" (a big footnoote) set up the same infra locally with port-forwarding or NodePorts as I would have in k8s in the cloud.

I would be very interested in hearing what you find better with containerised development environments? Are yo

[2020-05-12 10:21] haf opened #4155 "Latest docker-desktop for-mac broke skaffold"
### Expected behavior

For it to work, like before Docker Inc released their upgrade.

### Actual behavior

1. The latest update to docker-desktop broke the ability to use the API over the CLI

### Information

- Skaffold version: 1.9.1
- Operating system: macOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

Working

    git clone https://github.com/logary/logary
    cd

[2020-05-12 11:15] taisph commented on #3219
Be careful with this approach. Those gets added to deployment selector.matchLabels and service selectors as well.

[2020-05-12 12:13] limbuu commented on #4011
@dgageot  I am having same issue after image is pushed for the first time. Even if i use minikube, I need to push it to my private docker registry to be used by my peers.

[2020-05-12 14:00] dgageot commented on #4155
Hi @haf, I think theres's an error in your [Dockerfile](https://github.com/logary/logary/blob/master/docs/Dockerfile):

[code]

It should be `COPY --from=build`

[2020-05-12 14:36] haf commented on #4155
Ok, now I feel like a total idiot, because while I got different error messages after the upgrade when changing between API/non-API usage with Skaffold, the initial hang + errors in etcd for docker-desktop caused me to mischaracterise the problem. Thank you for pointing it out, and sorry for wasting your time.

[2020-05-12 14:36] #4155 closed

[2020-05-12 14:55] matti commented on #4131
with 1.8.0:
[code]

with 1.9.1:
[code]

it continues

[2020-05-12 15:18] twss opened #4156 "Image for incorrect architecture being used"
- My development machine is a Mac.
- My kubernetes cluster consists of 4x Raspberry Pi 4GB.
- I am using buildkit to make multi-architecture images.

I'm able to deploy the images manually with a `kubectl apply -f infra/k8s/hello-world-nginx.yaml`. Skaffold seems to be instructing the deployment to use the `linux/amd64` image, rather than the `linux/arm64` one.

### Expected behavior
Pods are star

[2020-05-12 16:08] chanseokoh commented on #4156
I guess a workaround is to have three [Skaffold profiles](https://skaffold.dev/docs/environment/profiles/) building different architecture images (e.g., 1-linux/amd64, 2-linux/arm64, 3-both) and choose the right profile during development when targeting a specific k8s platform.

[2020-05-12 16:20] briandealwis commented on #4156
I suspect Skaffold is tagging the produced image and is not adding an `Accept: application/vnd.docker.distribution.manifest.list.v2+json`, and so the registry is using its [backward-compatibility mode](https://docs.docker.com/registry/spec/manifest-v2-2/#backward-compatibility) to return the `linux/amd64` image.

[2020-05-12 16:34] sdwolfz commented on #3367
@chanseokoh you are right, the problem is CircleCI uses an anchient version of docker by default: `17.09.0-ce`: https://circleci.com/docs/2.0/building-docker-images/ which pushed images with the old schema. Works well after updating the docker version or re-pushing.

[2020-05-12 17:25] yuwenma commented on #3828
Thanks @tejal29 I tried changing the kaniko-secret to match the hard-coded one and it works.
However, I encountered a new issue. Here's the error code
[code]

I did specified an artifact KainkoArtifact in my skaffold.yaml
[code]
Wondering it complains that the artiact type is not defined. @nkubala @tejal29

[2020-05-12 17:36] briandealwis commented on #4088
Already supported by `ptvsd`.  Move along, nothing to see here.

[2020-05-12 18:25] balopat opened #4158 "skaffold dev should not fail on first failed build / deploy"
I propose that starting `skaffold dev` should start the dev loop, even if the first build or deployment fails.

I see no additional value in keeping the first build failed. In the end what will the developer do to improve the situation and "finally start 'dev'-ing"? They will fix the errors and rerun `skaffold dev`. Why can't they do that while it's still running and get feedback faster?

I argue

[2020-05-12 18:25] balopat commented on #4158
I intend to work on this this week for the fixit effort - please comment if you feel strongly against it.

[2020-05-12 20:19] tstromberg commented on #3828
@yuwenma - It's tough to tell from this error, but I think this may be caused because there is no cluster specified to build on, so it's falling back onto the local builder, which doesn't support Kaniko.

https://github.com/GoogleContainerTools/skaffold/blob/eab0d154aae02fba3c5b5876f3333a26e16615f3/pkg/skaffold/build/local/local.go#L104

[2020-05-12 20:23] balopat commented on #4158
More context on this: #516
Also, failure might be due to infrastructure issues, not just application related ones, for example Docker is not installed, or the user is pointed to the wrong kubecontext, etc.
The original motivation was around that - we didn't stop, just warned at build errors and that created all sorts of messes, but today we do stop at failed builds.

[2020-05-12 20:51] dgageot commented on #4131
I'm not following you. The fact that It continues with 1.9.1 (the latest) is a good thing, right? It's also what I do see when I test it myself.

[2020-05-12 20:51] balopat opened #4160 "Partition integration tests"
Integration tests take too much time, we could partition them to 5 partitions and get them down to 5-6 minutes each on Travis.

[2020-05-12 21:00] matti commented on #4131
@dgageot sorry, I was in rush and pasted the wrong snippets - Updated the comment above. With 1.8.0 it continues, with 1.9.1 it exits.