[2018-05-28 11:19] dgageot commented on #588
@r2d4 do you think I should add a `log` section in the `skaffold.yaml`? I seeking for ideas. I don't really know where to put it

[2018-05-28 11:26] tossmilestone commented on #611
@dgageot thanks，I will have a try

[2018-05-28 11:27] #611 closed

[2018-05-28 11:56] dgageot commented on #492
@uipo78 @goutamtadi1 Can this ticket be closed or do you still see the issue?

[2018-05-28 11:59] dgageot commented on #574
This is a duplicate of #148

[2018-05-28 11:59] #574 closed

[2018-05-28 11:59] dgageot commented on #458
\o/ Let's close the issue then

[2018-05-28 11:59] #458 closed

[2018-05-28 12:01] dgageot commented on #188
@r2d4 Is this still something we should fix?

[2018-05-28 12:02] dgageot commented on #205
@r2d4 Can we close this one?

[2018-05-28 12:12] dgageot commented on #247
I'm going to close this one because it's not really worth the effort

[2018-05-28 12:13] dgageot commented on #252
Let's close this one since it's out of scaffold's scope to reimplement all the commands of kubectl

[2018-05-28 12:13] #252 closed

[2018-05-28 12:14] dgageot commented on #477
@r2d4 @dlorenc @viglesiasce Do you think I should try an implement something along those lines?

[2018-05-28 12:17] dgageot commented on #314
Let's close this one and add an interpreted language example when  https://github.com/GoogleContainerTools/skaffold/issues/477 is fixed

[2018-05-28 12:17] #314 closed

[2018-05-28 17:32] jonjohnsonjr commented on #588
Is `grep -v` not sufficient for this? :P

[2018-05-28 17:37] jonjohnsonjr commented on #477
Could you use the same heuristic as in #565 to skip building these?

[2018-05-28 18:09] dgageot commented on #588
:-) It does work. That's how I currently do it. But it removes the logs of the cleanup phase that happen after the SIG_PIPE signal is sent.

[2018-05-28 22:37] itowlson commented on #348
@bhack At this stage the core team for VS Kubernetes Tools is focused more on Draft than on Skaffold (and, unfortunately, we have limited resource and can't do everything!), but we definitely want to enable folks to plug in additional tools.  I'm working surfacing an API from the VS Kubernetes Tools extension that would allow another extension to leverage and integrate with the existing commands a

[2018-05-29 13:22] afrittoli commented on #600
I compared Google CCLA with OpenStack CCLA, and the both include a "Grant of Copyright License".
OpenStack does not however enforce an "OpenStack Foundation Copyright" header; copyright headers are added on new files or substantial contributions to existing ones: https://wiki.openstack.org/wiki/Documentation/Copyright.

Kubernetes uses "The Kubernetes Authors" as copyright holders: https://github.

[2018-05-29 13:42] afrittoli commented on #360
The way that I deal with this issue right now is to have an umbrella chart and allow for override values compatible with skaffold, e.g. in values.yaml:

[code]

And then I have a named template to handle it:

[code]

[2018-05-29 17:56] dgageot commented on #600
ping @dlorenc @kimsterv

[2018-05-29 20:13] #541 closed

[2018-05-30 00:26] #188 closed

[2018-05-30 01:05] r2d4 commented on #205
Yep

[2018-05-30 01:05] #205 closed

[2018-05-30 01:14] r2d4 opened #617 "Watch does not recompute dependencies"
Current flow:
1. Artifact dependencies are computed (expanded)
2. Those computed dependencies are sent to the watcher
3. Watcher watches that file list and directory list

This doesn't handle new files or directories, and sometimes fails on deleted files. Not sure what should happen here - maybe each file change should be matched against the glob pattern given by the artifact. Either way, it would

[2018-05-30 02:21] fkpwolf opened #618 "How to use existing workflow tool like Draft?"
It is said "Skaffold has a pluggable architecture that allows you to choose the tools in the developer workflow that work best for you.".
It is a nice feature. But I can't find related info. What's the default workflow tool and how to change it to tool like Draft?

[2018-05-30 04:27] #604 closed

[2018-05-30 04:41] jonjohnsonjr commented on #35
Build command was added in https://github.com/GoogleContainerTools/skaffold/pull/476

[2018-05-30 07:11] dgageot commented on #617
@r2d4 I think switching out of the notify watcher will make all those things not too complicated

[2018-05-30 07:17] jonjohnsonjr commented on #617
From https://github.com/GoogleContainerTools/skaffold/issues/272#issuecomment-389668873

Sounds like high level of interest?

[2018-05-30 17:23] r2d4 commented on #596
@AkihiroSuda what do you think about just accepting a CBI yaml file instead of the full spec?

[code]

[2018-05-30 18:11] r2d4 commented on #617
fsevents is macOS only and has an unreasonably low limit for the amount of watches that you can do (its hardcoded to ~400). On the other hand, a recursive directory watch only counts as 1 watch. We used fsevents in the very first watch impl for skaffold

[2018-05-30 19:37] jonjohnsonjr commented on #617
I think watchman uses the right watcher depending on the platform:
https://github.com/facebook/watchman

[2018-05-31 01:57] dlorenc commented on #600
Just confirmed we can change the copyright headers to "The Skaffold Authors". I'll send a pr to update this shortly.

[2018-05-31 04:53] jonjohnsonjr opened #622 "[FR] CompositeTagger TagPolicy"
I'm interested in using multiple tag policies together as a poor man's https://grafeas.io.

Any plans for something like this? Open to a PR?

[2018-05-31 05:53] afrittoli commented on #600
Thanks!

[2018-05-31 06:14] PurpleBooth opened #623 "Git repo with files encrypted by git-crypt in unlocked state causes error"
### Expected behavior

Skaffold run to correctly tag the docker container with the git commit.

### Actual behavior

You can find the source repo [here](https://github.com/PurpleBooth/FlattrackstatsBoutRSS)

Run

[code]

[code]

### Information

- Skaffold version: version...

[code]

- Operating system: ...

[code]

- Contents of skaffold.yaml:

[code]

I feel this may in some way be related to m

[2018-05-31 18:35] r2d4 commented on #622
+1 for me. Not sure if the model should be

1. (no config change) just specify multiple taggers and each one will be applied. Can't specify multiple of the same type (mostly make sense, except envTaggers can be different)
2. (config changE) a list of taggers with types that get applied, can have multiple of the same type

[2018-05-31 19:33] #309 closed

[2018-06-01 01:47] r2d4 opened #625 "Clean up build struct"
Currently the build struct looks like

[code]

It should really only need

[code]

We might need a function to match it back up to the corresponding artifact, but I don't think that has to live on the struct itself.

[2018-06-01 02:29] r2d4 commented on #507
Is this fixed with #540?

[2018-06-01 02:29] #597 closed

[2018-06-01 16:16] ahmetb commented on #507
No this still happens, because my image name is `gcr.io/YOUR_PROJECT/worker`  and I don't have access to "YOUR_PROJECT" project.

I don't remember what I expected here. Image is building, but the push is failing. (But the images are actually not used in manifests).

Feel free to close this, I don't know how we can act differently here.

[2018-06-01 17:32] priyawadhwa commented on #507
Yah I think we decided to just print out a clearer error message if a push fails but doesn't look like it was added in #540, I can open a PR for that.

[2018-06-01 17:39] rimusz opened #627 "[FR] generate helm values.yaml file with `build`"
`skaffold build` command should generate the new `override-values.yaml` file which only has the docker `repository` and `tag:...` and then it is up to user to merge it with the app’s code after successful deploy, and when the release is done use `helm upgrade ... -f override-values.yaml`?

the whole process just needs to be well documented on skaffold repo and we get `GitOps`.

user probably have

[2018-06-01 17:41] rimusz opened #628 "Helm deployment docs"
Helm deployment docs need some love, as currently is not really clear where is your code and how it is related with chart releases

[2018-06-01 18:04] priyawadhwa commented on #507
whoops, never mind actually looks like it's ok!

[2018-06-01 21:02] #35 closed

[2018-06-01 21:12] balopat opened #629 "Revamp documentation"
The docs need a bit more love.
This is an overarching issue that would be done when a more extensive documentation is done.

- [x] Get to an agreement on tooling
- [x] Get agreed on an outline
- [x] document all the outstanding [docs issues](https://github.com/GoogleContainerTools/skaffold/issues?q=is%3Aissue+is%3Aopen+label%3Adocumentation)
- [x] implement all the individual parts of the outline

[2018-06-01 21:15] balopat opened #630 "Create example docs for dateTime tagger"
context: https://github.com/GoogleContainerTools/skaffold/pull/621#issuecomment-393735496

[2018-06-04 12:23] dgageot commented on #600
@afrittoli Can we close this issue?

[2018-06-04 14:00] afrittoli commented on #600
Thanks for the fix!

[2018-06-04 14:00] #600 closed

[2018-06-04 17:05] #482 closed

[2018-06-04 17:06] dlorenc commented on #482
Please reopen if this doesn't fix it.

[2018-06-04 17:09] dlorenc commented on #82
We're still missing bazel

[2018-06-04 17:12] dlorenc commented on #232
@kimsterv can you link in the logo?

[2018-06-04 17:13] dlorenc commented on #240
We have an mtime file watcher now. Closing this out.

[2018-06-04 17:13] #240 closed

[2018-06-04 17:13] dlorenc commented on #531
We have an mtime watcher now that should be better.

[2018-06-04 17:14] dlorenc commented on #272
We have an mtime watcher that shouldn't have this problem.

[2018-06-04 17:14] #272 closed

[2018-06-04 18:18] booninite opened #631 "support --wait on helm operations"
This is a feature request

### Expected behavior

After deploying via `skaffold run`, I should be able to issue `helm test` immediately without implementing my own watching utility.

### Actual behavior

Because I can't pass `--wait` along to the Helm operations that Skaffold provides, my readiness probes have no way to inform me when its safe to run `helm test`.

### Information

This could be im

[2018-06-04 18:34] r2d4 commented on #631
ref #176

[2018-06-04 20:01] r2d4 commented on #82
And some more

[2018-06-05 11:35] booninite commented on #631
closed via #633

[2018-06-05 11:35] #631 closed

[2018-06-05 13:25] dgageot commented on #625
The `Artifact` is currently needed by the `kubectl` deployer because it needs the artifact workspace and Dockerfile to generate the k8s manifest.

This makes me think that this feature fails with an artifact that's not of Docker type.
I wonder how useful is the feature.

[2018-06-05 13:29] dgageot commented on #623
Hi @PurpleBooth That's strange because I git cloned your repo and ran `skaffold build` without any issue. Your git global configuration shouldn't be a problem because the go library we use to interact with git repos simply ignores those files.

[2018-06-05 13:36] dgageot commented on #447
Fixed with #449

[2018-06-05 13:36] #447 closed

[2018-06-05 13:36] dgageot commented on #598
Fixed in 0.6.1

[2018-06-05 13:36] #598 closed

[2018-06-05 13:40] dgageot commented on #337
@F21 Can you check that everything is working ok with master? I see the tests passing.

[2018-06-05 13:48] dgageot commented on #546
@jstrachan If I understand correctly, Skaffold do support single stage and multi-stage Docker builds. But doesn't support builds that are done outside of Docker. Right?

[2018-06-05 13:56] dgageot opened #635 "Support --target for Docker artifacts"
This makes it possible to define multiple artifacts from the same Dockerfile

[2018-06-05 16:17] dgageot commented on #479
Let's close this one

[2018-06-05 16:17] #479 closed

[2018-06-05 16:30] dgageot commented on #404
@numbsafari Have you tried with a recent version of skaffold? Do you still see the same issue?

[2018-06-05 16:31] dgageot commented on #492
I'm going to close the issue because I assume it's been fixed. Please free to reopen if that's not the case

[2018-06-05 16:31] #492 closed

[2018-06-05 16:33] dgageot commented on #353
I'm going to assume the `kubectl` deploy plugin does know how to talk to OpenShift. Please feel free to reopen if that's not the case

[2018-06-05 16:33] #353 closed

[2018-06-05 20:02] PurpleBooth commented on #623
Ok! So I got it, it's to do with git-crypt. As soon as you unlock the repo it starts happening, lock it again it stops.

[2018-06-05 20:17] PurpleBooth commented on #623
[Upstream bug](https://github.com/src-d/go-git/issues/681)

[2018-06-05 23:48] r2d4 opened #637 "`skaffold deploy` does not work with dockerhub library images"
If a DockerHub library image is used without the prefix (index.docker.io/library), then it won't correctly be matched and replaced by `skaffold deploy`, since the YAML will still read `busybox` rather than `index.docker.io/library/busybox`.

[code]

`skaffold deploy --image busybox:v1`

[2018-06-06 04:43] dgageot commented on #623
@PurpleBooth Thank you for finding the root cause!

[2018-06-06 04:45] #403 closed

[2018-06-06 13:18] numbsafari commented on #403
Thanks @dgageot!

[2018-06-06 15:10] mmarchetti commented on #253
It would be great to see the log output from `skaffold run` and not just `skaffold dev`. I don't run dev mode because I prefer to control when the build/deploy cycle happens, but I really like the unified log stream.

[2018-06-06 18:12] r2d4 commented on #625
I'm fine getting rid of it. I'm not sure skaffold is the right place for a generation feature like that anyways

[2018-06-06 21:19] r2d4 opened #643 "Add integration tests for `skaffold build`"

[2018-06-06 21:21] r2d4 commented on #643
Oops I'm going to fold this into the umbrella issue

#441

[2018-06-06 21:21] #643 closed

[2018-06-06 21:21] r2d4 commented on #435
ref #441

[2018-06-06 21:22] r2d4 commented on #82
Closing in favor of #441

[2018-06-06 21:22] #82 closed

[2018-06-06 21:46] r2d4 commented on #587
Added in #641

[2018-06-06 21:46] #587 closed

[2018-06-07 04:29] #637 closed

[2018-06-07 05:03] #625 closed

[2018-06-07 15:50] dlorenc opened #647 "Kustomize integration enhancements"
Kustomize supports overlay-based "variants" to manage configuration across environments.

We could help support this in Skaffold in a few ways:

- Opionated "variant" naming and directory structure. Something like a "-dev" prefix or suffix on the yaml would be used during `skaffold dev`, but not run.
- Supporting multiple kustomization paths. `skaffold dev` can use one, `skaffold run` can use the

[2018-06-07 15:54] dlorenc commented on #647
Please list any other ideas you have here!

[2018-06-07 18:52] cch0 commented on #336
Ran into the same issue today and found out that the issue is coming from kubectl deployment and due to the image you are using is not publicly accessible.

Follow the instruction here at [Serving images publicly](https://cloud.google.com/container-registry/docs/access-control#serving_images_publicly) should resolve your issue as it did for me.

[2018-06-08 14:55] mxey opened #653 "skaffold deploy should respect tagPolicy"
David Gageot on Slack asked me to file this is as a feature request.

When using the new `skaffold deploy` command, I have to specify the image tags I want to deploy. I'd like Skaffold to generate the image tag in the same way as `skaffold build` and deploy those images. This obviously would not work for all `tagPolicy` settings, but would apply to `gitCommit` and `envTemplate`

[2018-06-08 14:57] mxey opened #654 "kubectl apply prune support"
David Gageot on Slack asked me to file this is as a feature request.

I'd like Skaffold to support the prune feature of kubectl, in both the kubectl and kustomize deployer.

[2018-06-08 15:01] r2d4 commented on #653
This is a great idea. We aren't able to do it until we remove the `checksum` tagger (which is the default for `skaffold dev`) since that requires us to build the image to calculate the tag. The other taggers can be determined independently of the build.

[2018-06-08 15:43] r2d4 commented on #596
@AkihiroSuda sorry the delay in getting back to you. I think either would be fine.

[2018-06-08 15:47] AkihiroSuda commented on #596
Thanks! I will open PR, probably after DockerCon.

[2018-06-08 17:15] r2d4 opened #656 "Label schema"
ref #644

What labels do we want to tag our deployed objects with?

- "skaffold options" (cleanup, notification, profiles, custom tag, namespace)
-  builder name
-  deployer name
-  tagger name
-  VCS metadata (git commit, git tree state)
-  build time
-  deploy time
-  skaffold mode (dev/run)
-  docker build args

Additionally, should we prefix the labels or not? (something like `skaffold.dev/bui

[2018-06-08 17:17] dlorenc commented on #656
+1 on prefixing. The labels themselves should be pretty short, if we want to add more info like (timing, arguments, etc. we should use annotations).

[2018-06-08 17:26] r2d4 opened #657 "Custom static labels"
I'd like to expose a way for users to label their objects with custom static labels. This might look something like

[code]

[2018-06-08 17:28] jonjohnsonjr commented on #657
s/tags/labelsl/?

[2018-06-08 17:39] r2d4 commented on #657
@jonjohnsonjr keeping me honest :)

[2018-06-08 20:00] jonjohnsonjr commented on #656
It would be nice if we can do this in a way that is compatible with:
https://github.com/opencontainers/image-spec/blob/master/annotations.md

[2018-06-08 20:22] guillaumerose opened #659 "Can't build without being logged in registry"
### Expected behavior

Build

### Actual behavior

[code]

### Information

- Skaffold version: 0.7.0
- Docker version: 18.05.0-ce
- Operating system: darwin
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

In this directory structure:

[code]

1. skaffold dev

[2018-06-09 07:42] dgageot commented on #653
@r2d4 In fact envTemplate and datetime taggers have the same issue

[2018-06-09 07:46] dgageot opened #663 "skaffold build fails in a non-git repo"
When getting started with Skaffold, we might run `skaffold` in a folder that doesn't have git information yet. In that case, the build step will fail with this error:

[code]

We might want to do something anyway. Either fallback to another tagger or just create a digest out of files in the folder

[2018-06-09 07:49] dgageot commented on #663
cc @guillaumerose

[2018-06-09 07:51] dgageot commented on #659
@guillaumerose Can you share your `~/.docker/config.json`? On my machine it's empty and everything works well

[2018-06-09 13:29] dgageot commented on #659
OK, I ran `docker login` and then `docker logout` and it now fails.
Here's the `config.json`:

[code]

[2018-06-09 16:35] #659 closed

[2018-06-11 12:43] shanna opened #666 "Combined logger pod selector."
In my project I have pods that are started with skaffold but don't have build artifacts such as my traefik ingress controller I'd love to be able to see the logging for in the combined logs. It would be helpful if you could configure skaffold with selectors to log an entire application label or namespace not just the build artifact pods.

Prior art:
* https://github.com/bakins/kube-log-tail takes

[2018-06-11 15:16] louis-murray opened #667 "skaffold dev immediately rebuilds after deploying when two artifacts have the same workspace"
I'm helping a coworker setup skaffold on their repo and they have two dockerfiles setup at the root of their project one named the standard `Dockerfile` and one named `Dockerfile.acceptance`. When I setup `artifacts` with an entry for each `skaffold dev` restarts the process of building the images and deploying as soon as it finished deploying from the previous pass.

### Expected behavior
`skaffo

[2018-06-11 15:41] louis-murray commented on #667
just saw that if I add the `requirements.lock` and `k8s/example/charts` to my main `.dockerignore` I dont see this problem anymore but it's really peculiar that it only shows up when 2 artifacts are defined and those files are not in the `.dockerignore`. If only the main `Dockerfile` is set and those two files aren't in the `.dockerignore` this issue doesn't show up

[2018-06-11 16:28] r2d4 commented on #666
+1

Not sure how the UX on this looks - possibly another top level `log` map?

[code]

[2018-06-11 17:09] dlorenc commented on #169
I like Helmfile, but with Helm 3 around the corner this one isn't going to be high up on our priority list.

[2018-06-11 17:13] dlorenc commented on #572
I don't think this is going to be high up on our priority list, if this is something people are interested in please +1 the initial post.

[2018-06-11 17:14] dlorenc commented on #618
Skaffold supports plugins for the build/deploy/tag steps.

Can you explain how you would like to use Skaffold and Draft together?

[2018-06-11 17:18] dlorenc commented on #483
Dup of https://github.com/GoogleContainerTools/skaffold/issues/483

[2018-06-11 17:20] dlorenc commented on #483
Whoops, https://github.com/GoogleContainerTools/skaffold/issues/161

[2018-06-11 17:21] dlorenc commented on #325
Closing, I think this has been fixed like @dgageot mentioned.

[2018-06-11 17:21] #325 closed

[2018-06-11 17:21] #483 closed

[2018-06-11 17:26] dlorenc commented on #387
https://github.com/GoogleContainerTools/skaffold/issues/503 seems like a good umbrella issue to track this in. I'll close this to track it there.

[2018-06-11 17:26] #387 closed

[2018-06-11 17:27] r2d4 opened #668 "Refactor skaffold docker image to use multi-stage build"

[2018-06-11 17:42] quasiben commented on #325
@dgageot yes, thank you!  apologies for not responding earlier

[2018-06-11 18:55] stevenbarragan commented on #543
There is [helm secrets](https://github.com/futuresimple/helm-secrets), I'm trying to figure out how to put it together with skaffold, has anybody tried it?

[2018-06-11 20:47] r2d4 opened #670 "hack/dep.sh doesn't work on travisCI"
[code]

[2018-06-11 20:49] r2d4 opened #671 "Enhance the Kaniko builder"
Namely

- [x] Surface some of the flags that have been added since the initial release
- [x] The option to use an existing cluster secret instead of creating one from a keyfile passed in.
- [x] Generate unique pod names
- [x] Configurable namespace for kaniko builder

cc @sharifelgamal @priyawadhwa

[2018-06-11 20:52] stevenbarragan opened #672 "[proposal] Support for multiple values files for a helm release"
I'm trying to use skaffold with [helm secrets](https://github.com/futuresimple/helm-secrets) and besides other things it generates a decrypted yaml file to pass to helm, for example to do an upgrade.

[code]

### Actual behavior

[code]

### Proposed behavior
[code]

Each file under the `valuesFilePath` will be passed to helm.

I dig into the code, it seems kind of straight forward but I'm not too

[2018-06-11 23:36] igdianov opened #673 "Skaffold build fails with COPY target/*.jar /deployments/ on Windows 10"
### Expected behavior
Running `skaffold build` command should sucesfully build docker container image from Dockerfile containing `ADD or COPY target/*.jar /destination`  instructions with source wildcards.

[code]

### Actual behavior
The build command fails with the error:
[code]

Building image with `docker image build .` command works OK:
[code]
### Information

- Skaffold version: 0.7.0
- Oper

[2018-06-12 18:57] JonnyBGod commented on #671
Also would be good to be able to use Kaniko by passing just the local context and destination skipping the need for a GC Bucket

[2018-06-12 22:17] balopat commented on #262
I started working on this in the context of #661

[2018-06-13 07:50] fkpwolf commented on #618
I just want to try the "pluggable" feature. You can replace Draft with any other workflow tools.

[2018-06-13 14:59] jicowan commented on #512
@tuananh Were you able to get Skaffold to work with ECR?  I configured the ecr-credential-helper but I'm getting an error that the repository doesn't exist.

[2018-06-13 15:00] tuananh commented on #512
Yes. It just works. I have to create the repo in advance though
On Wed, Jun 13, 2018 at 9:59 PM Jeremy Cowan <notifications@github.com>
wrote:

[2018-06-13 15:22] dlorenc commented on #618
Can you explain what it would do? Skaffold and draft are both workflow tools, so I'm not sure I understand the goal. Draft and Skaffold do some of the same things, so you would use Draft instead of Skaffold.

[2018-06-13 16:07] shanna commented on #666
With the https://github.com/GoogleContainerTools/skaffold/pull/644/files label PR merged logging could default to `{"deployed-with": "skaffold"}` in the watch config. The log config would simply override the label and `ImageList` removed.

[2018-06-13 16:11] dlorenc commented on #422
Is there anything left to do for this issue?

[2018-06-13 18:01] dlorenc commented on #671
A few other improvements:

- Support a configurable namespace for kaniko
- Improve secret management (specifying existing secrets, etc.)
- Generate unique names for the pod (in case of errors with earlier versions, etc.)

[2018-06-13 18:52] #98 closed

[2018-06-13 18:55] nkubala opened #679 "[FR] Add labeling for profiles"
We should add support for labeling deployed API objects with information about the profile used to run the build/deploy.

Related to #656

[2018-06-13 20:36] r2d4 commented on #666
Thats a great idea @shanna. The code has been merged now and this is the log code that selects pods based on their name

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kubernetes/log.go#L93

Since we just added label support, WDYT of making this an OR statement "podSelector || podLabelSelector"? It should catch everything that we currently catch, in addition to anything

[2018-06-13 20:42] ohedin commented on #404
I have experienced the same problem with the v0.7.0

You can see the problem here : https://github.com/ohedin/baffold

When we use the images generated at root level, it works
--> skaffold dev -f skaffold-root.yaml

When we use the images generated at sub levels, it fails
--> skaffold dev -f skaffold-sub.yaml

[2018-06-13 20:44] r2d4 commented on #654
Always on won't let multiple users use skaffold on the same cluster (unless we prune on a user-specific label)

[2018-06-14 00:19] #262 closed

[2018-06-14 00:19] #668 closed

[2018-06-14 08:01] mxey commented on #654
@dlorenc I think it should be a flag, because not everybody might want it, and having it on by default could be a bad surprise.

@r2d4 it definitely would have to be a user-specified label selector, so people could use it with multiple Skaffold-ed applications. It should be a label selector, not just a single label. For example, I might have a combination of `app=myapp,environment=featurebranchXYZ

[2018-06-14 17:48] #670 closed

[2018-06-14 17:52] dgageot opened #681 "k8s resources are redeployed on each `skaffold run`"
### Expected behavior

I run `skaffold run` twice in a row and the resources should be:
 + deployed the 1st time
 + unchanged the 2nd time

### Actual behavior

Each time `skaffold run` runs, all the k8s resources are recreated. This is even worst in dev mode because it makes things slower.

This behavior was introduced but the new labelling mechanism.
One way to reproduce it is to run:

[code]

I

[2018-06-14 18:03] #323 closed

[2018-06-14 18:05] dgageot commented on #623
Fixed with #639

[2018-06-14 18:05] dgageot commented on #563
Fixed with #639

[2018-06-14 18:05] #563 closed

[2018-06-14 18:05] #623 closed

[2018-06-14 18:08] dgageot commented on #681
btw, this could be added as an integration test:

[code]

[2018-06-14 18:29] r2d4 commented on #422
I think that this should be fixed by https://github.com/GoogleContainerTools/skaffold/pull/661

[2018-06-14 18:29] #422 closed

[2018-06-15 09:54] bhack commented on #407
@rn Yes it is a good solution and it is for shure to have.
It will not solve problem about out of dir dependencies but probably you can have a buid file where you will handle versioning of the dependency. So something will always change in the directory.

[2018-06-15 10:18] bhack opened #685 "Dev with dirty submodules"
### Expected behavior
skaffold dev could work with dirty submodules
### Actual behavior
skaffold dev fail with dirty submodules cause:
`mq FATA[0267] first build: exiting dev mode because the first build failed: generating tag: reading diff: read <mysubmodulepath>: is a directory`
### Information

- Skaffold version: 0.7

[2018-06-15 11:53] d11wtq commented on #167
I want this too, but I think something like [forego](https://github.com/ddollar/forego) or [foreman](https://github.com/ddollar/foreman) should suffice to manage multiple `skaffold dev` commands together.

[2018-06-15 17:15] r2d4 opened #686 "Document documentation"
The documentation gets generated and rebuilt on every commit and release

"Latest"/HEAD is at
https://storage.googleapis.com/skaffold/builds/latest/docs/index.html

We should add this to the README

[2018-06-16 19:33] fclaeys commented on #404
@ohedin @dgageot @numbsafari
Have a look to #689

[2018-06-17 17:30] dcherniv opened #695 "Images built on windows have windows style directory separators \"
### Expected behavior
  docker image to have / as the directory separator for the context copied from local.
### Actual behavior
  docker image has \ as the directory separator, directory structure is not created, instead we have long files of this sort: src\java\main\test.java
### Information
skaffolv 0.7.0
windows
### Steps to reproduce the behavior

1. install skaffold 0.7.0
2. have an ADD or C

[2018-06-17 17:39] dcherniv commented on #673
@igdianov @r2d4
i believe this is related to my issue
https://github.com/GoogleContainerTools/skaffold/issues/695
and other older issue:
https://github.com/GoogleContainerTools/skaffold/issues/442
that was supposed to be fixed by this PR:
https://github.com/GoogleContainerTools/skaffold/pull/489

It makes sense that it can't find the source because we are passing it unix style separators.
I think

[2018-06-18 01:29] d11wtq commented on #531
@dlorenc can you elaborate please? I looked at the linked PR but there is not much detail on it. Does the mtime watcher basically poll large directories for modification of files? I'm experiencing this issue when switching between my home network and my office network. If the mtime solution using polling this will probably be bad my use case since I'm using nodejs and the node_modules tree can be

[2018-06-18 01:36] d11wtq commented on #531
Is the mtime watcher the default on 0.7.0, or did it miss the cut? If it's the default then I think I'm hitting the 100% CPU usage with the mtime watcher after suspending the laptop for > 1 hour while `skaffold dev` is running.

[2018-06-18 01:44] ajbouh commented on #531
I see this issue while using a custom file watching system I wrote that's
completely independent of mtime and kevent.

My current suspect is the log tailing logic...

On Sun, Jun 17, 2018, 18:36 Chris Corbyn <notifications@github.com> wrote:

[2018-06-18 01:45] d11wtq commented on #531
Oh yeah, I've had the 100% CPU issue using `kail` for log tailing before. Stern didn't have that issue, so I switched to that. Not sure how `skaffold` is doing it, but you might be onto something there.

[2018-06-18 02:27] d11wtq commented on #531
Interestingly I'm running multiple skaffold processes (microservices architecture) and they all collectively started using 100% CPU at the same time. So something environmental causes it to start happening.

[2018-06-18 02:27] d11wtq commented on #531
Can we re-open this issue?

[2018-06-18 10:15] bhack commented on #346
Here we have investigated a little bit also the dev tools like this one from a CD point of view: https://github.com/argoproj/argo-cd/issues/92

Instead is less clear to me how dev tools could interact with the Gitops approach like https://github.com/kubeflow/kubeflow/issues/971. /cc @jlewi

[2018-06-18 11:02] bhack commented on #407
How we will handle directory based hashes with future features like https://github.com/moby/moby/issues/37129?

[2018-06-18 16:29] dlorenc commented on #695
Looks like this introduced some test failures:

[code]

[2018-06-18 16:41] dlorenc opened #699 "Consider pinning https://github.com/golangci/golangci-lint/"
We just had an issue where golangci-lint started failing in CI because of some new validation rules they added. This is a bad experience for contributors who start to see failures in CI unrelated to their changes.

We should consider pinning to a release available at https://github.com/golangci/golangci-lint/releases

[2018-06-18 16:41] dlorenc commented on #699
Ref #697

[2018-06-18 17:11] dcherniv commented on #695
@dlorenc interesting. the test suite runs on linux? i will test on linux later today.
But the behavior i observed on windows is most definitely incorrect, with the forward slashes going into the tar.

[2018-06-18 20:19] balopat opened #700 "Collect feedback and finalize documentation outline"
Please comment on this doc about the planned docs outline:

https://docs.google.com/document/d/1f9GxV5eAPu4jvxgAxOvXf4bFCwdBEy1J3iz5LaQJeFE/edit#heading=h.uf2l8gfjl2ij

I'm planning to close this by the end of the week (June 22).
Context: #629

[2018-06-18 20:44] bickfordb opened #701 "Add support for `docker build --cache-from=IMG`"
`--cache-from` speeds up builds with large base layers that change infrequently

### Expected behavior

This might look like:

[code]

[2018-06-18 22:27] dcherniv commented on #695
@dlorenc please check again #693.
Side note, there's some inconsistencies with parameter positions.  Also camel case/pascal case
E.G.
in docker/parse.go
[code]

[2018-06-18 23:29] jguo13 commented on #673
Yea I was having the same issue and @dcherniv's PR fixed it

[2018-06-19 01:40] d11wtq commented on #531
Thanks @r2d4 - I'll see if I can pinpoint where the issue is.

[2018-06-19 03:34] r2d4 commented on #439
Can you try this again @bjornmagnusson? I wasn't able to reproduce it.

[2018-06-19 06:01] d11wtq commented on #531
I've done some rudimentary debugging (`fmt.Println` in spots I suspect to be problematic) and it seems that when this issue starts happening, it's in `log.go`'s `Start()` func.

[code]

It seems to start thrashing there and receives events seemingly in a tight loop. This matches up with what @ajbouh observed too.

[2018-06-19 06:03] d11wtq commented on #531
Note that this watcher is not in any way connected with the filesystem watcher. It's watching pods in kubernetes.

[2018-06-19 06:12] bjornmagnusson commented on #439
Sure thing, will give it another go and post results here.

[2018-06-19 06:49] d11wtq commented on #531
This probably matches what I see. Every time this issue starts happening for me, it's when log output from the containers has been idle for a while (e.g. when I go for lunch).

[2018-06-19 08:21] sbulman opened #703 "Build step: generating tag fails"
Running skaffold build (or dev) fails when running in a directory that has a Visual Studio solution open.

### Expected behavior
skaffold build is successful

### Actual behavior
skaffold build fails with the following error:

FATA[0001] build step: generating tag: reading status: open /mnt/c/Development/temp/Lofts/.vs/Lofts/v15/Server/sqlite3/db.lock: permission denied

### Information
This looks

[2018-06-19 11:31] d11wtq commented on #531
Posted a fix here: https://github.com/GoogleContainerTools/skaffold/pull/704

[2018-06-19 11:34] bhack commented on #407
Can we use something `git rev-list --abbrev-commit -1 HEAD $(pwd) `?

[2018-06-19 13:03] bjornmagnusson commented on #439
OK, seems to be working now with respect of this issue.
Tried with version 0.7.0

[2018-06-19 13:03] #439 closed

[2018-06-19 13:53] dgageot commented on #234
Fixed with #702

[2018-06-19 13:53] #234 closed

[2018-06-19 13:57] #681 closed

[2018-06-19 14:33] remoe commented on #523
@F21, please try the master.

[2018-06-19 15:37] dgageot opened #705 "In case a repo is dirty, ignore the changes outside of the artifact's workspace"
Let's say we have a git repository that contains two artifacts.

When the repo is clean, we use current git commit (or tag) as a fqn for all the images.
When the repo is dirty, we use current git commit + `-dirty-` + (sha265 of the diff) for both artifacts.

I think we should do better than that and consider only the changes for each artifact.
For eg, if all the changes are outside an artifact's w

[2018-06-19 15:42] dgageot opened #706 "Remove warning on unused images when they are actually used."
Currently, if any artifacts base image name is not found in the manifests, skaffold shows a warning because it thinks the user might have made a mistake and didn't use an image that was just built.

It can be that the user knew the fqn of that image that was being built (for eg. if the repo is a a tag) and used that fqn in some manifest. In that case, skaffold will build the image and will use it

[2018-06-19 15:44] dgageot commented on #699
@dlorenc I'd love to do that. How can we pin a given version though?

[2018-06-19 15:46] dlorenc commented on #699
For travis we can grab one of the releases from https://github.com/golangci/golangci-lint/releases with curl/tar and then validate the sha. Or we could go get then cd/git checkout.

[2018-06-19 17:31] r2d4 commented on #699
I did this for dep

https://github.com/GoogleContainerTools/skaffold/blob/master/hack/dep.sh#L19-L30

Although this method fails when you have an old version of dep already on your path. Theres probably some extra work to be done to verify the installed version is correct

[2018-06-19 17:38] r2d4 opened #708 "Use kubernetes dynamic client for labeling"
https://github.com/kubernetes/client-go/blob/master/dynamic/interface.go

Might be used to make this code more robust and remove almost all the boilerplate

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/runner/label/label.go#L64-L115

[2018-06-19 17:46] nkubala commented on #708
I'll look into this

[2018-06-19 18:10] jstrachan opened #709 "skaffold build fails if a `Dockerfile` includes a COPY with a wildcard"
### Expected behavior

Skaffold should build dockerfiles which use wildcards like this one (we kinda need wildcards for java)

[code]

### Actual behavior

skaffold fails when it reaches the `COPY` with a wildcard:

[code]
If I edit the `Dockerfile` to replace the `*.jar` with a concrete file name then it all works

### Information

- Skaffold version: version...

master

- Operating system: ...

[2018-06-19 18:14] jstrachan commented on #709
BTW this didn't use to be an issue for 0.4.x to 0.5.x of Skaffold so I guess something's changed in the handling of source

[2018-06-19 20:23] bhack commented on #477
What do you think of the [ksync](https://github.com/vapor-ware/ksync) approach?

[2018-06-19 20:50] bhack commented on #348
https://blogs.msdn.microsoft.com/visualstudio/2018/06/08/preview-of-visual-studio-kubernetes-tools/

[2018-06-19 23:03] #435 closed

[2018-06-19 23:03] dlorenc commented on #671
A few other things left to do. Updated in the top comment to track in one spot.

[2018-06-19 23:04] dlorenc commented on #671
I think that's more of a kaniko limitation than a skaffold issue - would you mind opening an issue in that repo with the use case?

[2018-06-19 23:52] F21 commented on #523
@remoe I am not sure why, but master does not appear to be looking for minikube:

[code]
My `minikube.exe` is available in my PATH and I have symlinked `/usr/local/bin/minikube` to `minikube.exe`:

[code]

[2018-06-20 00:06] priyawadhwa commented on #671
You can pass in a local directory as the build context to kaniko with the `--context` flag. I think skaffold would just have to mount the local context into the pod to be able to use it.

[2018-06-20 00:08] dlorenc commented on #671
I think the problem would be first getting the source from the local machine into the cluster and onto the node,although it's true skaffold might be able to do that before starting the kaniko container.

[2018-06-20 03:43] jstrachan commented on #709
@dcherniv I just reproduced on skaffold 0.7.0:
[code]

[2018-06-20 03:45] jstrachan commented on #709
could it be dependent on the docker daemon version I wonder? I'm running the above inside a pod in GKE using kubernetes `v1.8.10-gke.0`

[2018-06-20 06:30] F21 commented on #523
My minikube is not installed in WSL. It's installed in Windows, but because I prefer using 1 shell, I made the symlink  so that I can execute minikube from WSL.

[2018-06-20 07:39] dgageot commented on #673
I assume you also hit that bug: https://github.com/GoogleContainerTools/skaffold/issues/709

[2018-06-20 07:40] dgageot commented on #413
No-manifest mode was removed. Let's close this issue

[2018-06-20 07:40] #413 closed

[2018-06-20 11:32] bhack commented on #647
How this will interact with Skaffold profiles?

[2018-06-20 11:38] #531 closed

[2018-06-20 11:59] dgageot opened #715 "Missing labels from options"
Labels coming from command line options such as `cleanup` and `namespace` are not set.

[2018-06-20 14:55] remoe commented on #523
do you have a wrong docker-env?

It works on my side:

[code]

[code]
[code]

[2018-06-20 16:19] #715 closed

[2018-06-20 16:49] dgageot opened #717 "Kaniko integration test is flaky"
[code]

[2018-06-20 16:58] dlorenc commented on #717
Was this part of CI? Or did you run it yourself?

[2018-06-20 17:59] dgageot commented on #717
CI. I’ve seen it multiple times when I rebased my PRs

[2018-06-20 18:03] dlorenc commented on #717
Ah, I think I know the issue. It's actually more a case that the kaniko integration itself is flaky. We have a hardcoded pod name right now, which means only one build can happen at a time per-namespace.

I mentioned this in https://github.com/GoogleContainerTools/skaffold/issues/671

We should use auto generated pod names here.

[2018-06-20 18:39] jguo13 commented on #709
@jstrachan is your gke pod running linux running on windows? cause it might be this issue #693

[2018-06-21 04:41] #404 closed

[2018-06-21 04:53] F21 commented on #523
Thanks! That helped a lot.

My problem is that I did not have a `.kube/config` in WSL. It worked when I symlinked `/c/Users/user/.kube` to `~/.kube`. However, because the paths inside `.kube/config` were Windows paths, WSL was not able to resolve them:

[code]

Skaffold currently loads the kubernetes config here: https://github.com/GoogleContainerTools/skaffold/blob/64ecf0b526036ce52cb6637c7e8b66e

[2018-06-21 05:08] d11wtq opened #718 "Skaffold dev crashes if monitored file is deleted"
If I delete a file that was added in a Dockerfile, skaffold crashes:

[code]

### Expected behavior

Deleting files should trigger a re-deploy, but should not crash skaffold.

### Actual behavior

Deleting a file that skaffold is monitoring causes it to crash.

### Information

- Skaffold version: 0.7.0
- Operating system: MacOS 10.12.16

### Steps to reproduce the behavior

1. Deploy an applicati

[2018-06-21 05:17] d11wtq opened #719 "Skaffold dev creates duplicate pods"
I haven't figured out when this happens, but sometimes I see two or three of every pod when I expect to only see one. I think it's either:

  1. When I continue making and saving changes to my project while skaffold is still building images.
  2. After `skaffold dev` crashes due to a bug and I start it back up again (the default in `skaffold dev` is to attempt to clean up deployed resources... whi

[2018-06-21 05:18] dgageot opened #720 "Some changed are not deployed because git tag is computed too late"
Currently, tags are computed after the image is built.

When in a dev loop, some changes to files can occur during the build, so before the image tag is computed. Next time the image is rebuilt, it will be rebuilt with the same tag so it won't be deployed.

[2018-06-21 05:43] jstrachan commented on #709
its running linux - this is vanilla GKE stuff

[2018-06-21 07:40] remoe commented on #523
Ok. But it's possible to run a batch after creation of a minikube instance. One can convert the windows configs to WSL environment:

[code]
But, yes it would be great when this step is not needed.

[2018-06-21 17:54] dgageot commented on #719
@nkubala Can this be because of labels?

[2018-06-21 17:55] nkubala commented on #719
could be, looking now

[2018-06-21 17:55] r2d4 commented on #719
@dgageot Labels weren't in v0.7.0

[2018-06-21 18:04] #717 closed

[2018-06-21 18:20] r2d4 opened #725 "Add codecov bot"
I think we should add a test coverage bot on our PRs - to track how unit test coverage increases or decreases so that we don't accidentally merge large sections of untested code.

https://codecov.io/

Once we understand where we're at, we can discuss what target % we'd like to aim for (or enforce)

[2018-06-21 18:29] r2d4 commented on #523
@F21 You can also set KUBECONFIG environment variable to point to your kubeconfig that skaffold should resepect

[2018-06-21 18:56] r2d4 opened #726 "Add a `skaffold show/status` to output runner information"
Skaffold currently takes the skaffold.yaml and converts it to a skaffold runner internally. The skaffold runner has information about which builder, deployer, and tagger were resolved from the config. It might be useful to output this information without actually running a dev/run. This could be useful for debugging the skaffold.yaml as it grows.

[2018-06-21 18:59] r2d4 opened #727 "Docker Compose support"
Skaffold can understand docker-compose.yaml files by converting the build information to skaffold's docker builder and using `kompose` to convert docker-compose.yaml files to kubernetes resources.  How do we want to expose this functionality?

The current PR https://github.com/GoogleContainerTools/skaffold/pull/674 runs a docker-compose file directly.

Another way to do it is to just add this func

[2018-06-21 19:32] dlorenc commented on #717
I think the fix here was actually #722 for later reference

[2018-06-21 19:37] ahmetb opened #728 "Print the image name that's being built"
Skaffold 0.7.0

I've reported this before, my general feeling while using skaffold is that a lot of things are going on (like many `docker build`s but I can't clearly tell what's building.

Take the sample output below. It's super difficult to tell two separate images being built and which one is failing (which artifact was the build for).

Please consider adding commands executed to logs, or add

[2018-06-21 19:51] ahmetb opened #729 "New files in kubectl.manifests dir are not discovered until an existing file is modified"
Skaffold 0.7

I have a setup like:

[code]

while `skaffold dev` is watching, if I create a new manifest like `foo.yaml` and keep saving changes to it, these changes are not detected at all.

So I end up changing an existing .yaml in that dir, now it notices `foo.yaml` and adds it to the watch list. Bug or by design?

[2018-06-21 21:36] jicowan opened #731 "Skaffold/Kaniko with ECR"
This is a feature request.  I'd like to be able to use Skaffold to create a Kaniko container/pod on KOPS cluster for building container images and then pushing them to an ECR registry.  I'd also like to be able to use an S3 bucket for the build context.

[2018-06-21 22:35] dlorenc commented on #731
Using s3 for the build context needs to be implemented first in kaniko. I think there's a feature request over in that repo detailing more flexible build context locations.

[2018-06-21 22:35] F21 commented on #523
@r2d4 I am hoping that I can avoid maintaining 2 sets of kube configs (1 in WSL and 1 on Windows). The main reason is that when you delete a minikube machine and recreate it, the ip address can change. The kubeconfig in WSL would be out of date and skaffold would stop working.

However, if I symlink the kubeconfig on Windows into `~/.kube` in WSL, the kube config is available, but the paths the ce

[2018-06-21 22:53] d11wtq commented on #719
@r2d4 apologies, the version reports as 0.7.0 but I'm actually on git master. Will update the PR. I'll check if this happens on 0.7.0 as released.

[2018-06-21 22:54] d11wtq commented on #719
Labels were another suspicion too as I could see the git ref was in those (IIRC).

[2018-06-21 23:14] bhack commented on #731
@dlorenc https://github.com/GoogleContainerTools/kaniko/issues/121

[2018-06-21 23:17] bhack commented on #720
/cc @lenlen

[2018-06-21 23:19] jonjohnsonjr commented on #720
This could be solved by deploying by manifest digest instead of deploying by tag.

I think this would be a pretty large change, since I believe skaffold assumes you have a tag (basically everywhere).

[2018-06-21 23:37] d11wtq commented on #719
I've pulled in latest changes from the last few days and can't reproduce this right now, so will close this and re-open if I can ever figure out how to reliably reproduce it.

[2018-06-21 23:37] #719 closed

[2018-06-22 07:48] dgageot commented on #729
@ahmetb It's a bug!

[2018-06-22 07:50] dgageot commented on #718
Should be fixed by https://github.com/GoogleContainerTools/skaffold/pull/620 when it's merged

[2018-06-22 07:52] dgageot commented on #709
Should be fixed in 0.8.0 with https://github.com/GoogleContainerTools/skaffold/pull/712

[2018-06-22 07:52] #709 closed

[2018-06-22 11:04] d11wtq commented on #718
Thanks @dgageot.

[2018-06-22 11:13] d11wtq opened #733 "Running out of disk space very quickly"
I guess this is more of a question than an issue, since it's probably (?) out of scope for skaffold itself. I'm using minikube locally and I have a few nodejs services that are reasonably large due to the node_modules directory size. I'm finding that as I make changes I'm quickly running out of disk space due to an excess of docker images and stopped containers. Manually cleaning these up is cumbe

[2018-06-22 11:48] d11wtq commented on #733
Will work around this by running `docker system prune --force` regularly.

[2018-06-22 17:10] dlorenc commented on #727
I like the idea of a "skaffold init" command that would create a skaffald.yaml, possibly a user-level configuration and handle converting things like compose to k8s manifests.

[2018-06-22 17:11] dlorenc commented on #695
I beliee this was fixed with #693

[2018-06-22 17:11] #695 closed

[2018-06-22 17:12] dlorenc commented on #618
I'm going to close this for now. Please re-open with more information.

[2018-06-22 17:12] #618 closed

[2018-06-22 18:10] #728 closed

[2018-06-22 22:21] r2d4 opened #734 "Skaffold not able to find the deployment manifest"
cross post https://github.com/arun-gupta/java-k8s/issues/10 for tracking

[2018-06-23 06:08] Lawouach commented on #685
I am also seeing that issue. However I didn't have it with 0.7 but it appeared with 0.8.

[2018-06-24 12:56] dgageot commented on #734
I think this is fixed in https://github.com/GoogleContainerTools/skaffold/pull/721

[2018-06-24 13:05] dgageot commented on #517
Duplicate of #727

[2018-06-24 13:34] dgageot commented on #703
Should be fixed with https://github.com/GoogleContainerTools/skaffold/pull/714

[2018-06-24 17:08] #679 closed

[2018-06-25 09:04] jstrachan opened #741 "skaffold doesn't support `COPY` with wildcard that does not match anything"
Just found another minor regression when trying to move Jenkins X to `0.8.0` of skaffold.

The current `Dockerfile` syntax fails if a `COPY` statement containing a wildcard does not match anything.
When building Java docker images we often want to copy shared dependency jars if they exist; but don't fail if they don't.

So we use a trick like this:
[code]
So that if there are no files matching `ta

[2018-06-25 09:15] bhack commented on #685
@Lawouach  Can you test if is it solved with https://github.com/GoogleContainerTools/skaffold/pull/711?

[2018-06-25 09:37] Lawouach commented on #685
@bhack I can confirm that with that fix, I don't get the issue I had with 0.8.0 that was released last week.

[2018-06-25 09:41] #685 closed

[2018-06-25 19:14] #663 closed

[2018-06-25 19:14] #705 closed

[2018-06-25 19:14] #720 closed

[2018-06-25 20:51] #706 closed

[2018-06-25 20:57] #617 closed

[2018-06-25 21:00] dgageot commented on #718
Fixed with #620

[2018-06-25 21:00] #718 closed

[2018-06-25 21:00] dgageot commented on #703
Fixed with #714

[2018-06-25 21:00] #703 closed

[2018-06-25 21:00] dgageot commented on #341
Fixed with #620

[2018-06-25 21:00] #341 closed

[2018-06-25 21:00] dgageot commented on #287
Fixed with #620

[2018-06-25 21:00] #287 closed

[2018-06-25 21:02] dgageot commented on #741
@jstrachan
I thought I made it work like `docker build`. I'm going to fix it tomorrow and make sure we have some tests. In fact we have some tests, it's just that they test the wrong thing!

[2018-06-25 21:12] #701 closed

[2018-06-25 21:51] dgageot commented on #667
@louis-murray Could you try master branch? That would be awesome to know if it fixes your issue

[2018-06-25 21:58] #741 closed

[2018-06-25 22:00] dgageot commented on #161
This is fixed with #620

[2018-06-25 22:00] #161 closed

[2018-06-25 22:04] dgageot commented on #336
Closing as this doesn't seem to be strictly related to Skaffold

[2018-06-25 22:04] #336 closed

[2018-06-25 22:07] dgageot commented on #457
I'm going to close this one because we stopped supporting manifest-less deployments

[2018-06-25 22:07] #457 closed

[2018-06-26 00:08] d11wtq opened #745 "Skaffold dev using 100% sustained CPU after merging #620"
My projects are nodejs projects and have large (> 1GB) directory trees that are added to the Docker images.

Since #620 got merged, I'm seeing CPU usage immediately hit 100% in `skaffold dev`. I think the mtime polling is costly on large projects?

Note that previously I had set: `SKAFFOLD_FILE_WATCHER=fsnotify` explicitly.

Note also that these large node_modules trees are under `.dockerignore`,

[2018-06-26 00:10] d11wtq commented on #745
I will have to revert back to an earlier commit for now as this renders my MacBook largely unusable due to the fact I run multiple `skaffold dev` processes to facilitate development of a microservice-based architecture.

[2018-06-26 00:11] d11wtq commented on #745
With regards to the dislike of fsnotify, I don't understand how other projects are able to use it extremely efficiently (e.g. nodemon, babel, webpack, relay). My understanding is that it can watch an entire directory without requiring watching each individual file in the directory?

[2018-06-26 01:45] jicowan commented on #731
If Kaniko is running on an EC2 instance, you can assign the instance an IAM role that grants it access to ECR.  You shouldn't need to use the credential helper in that instance.

[2018-06-26 01:50] bhack commented on #731
On EC2 it is solvable also with https://github.com/jtblin/kube2iam

[2018-06-26 01:53] dlorenc commented on #731
Do you have any pointers to how docker actually fetches access tokens in an environment like that?

gcr works the same way from gce, but the access token fetching happens from inside the credential helper.

Basically auth works like this currently:

* docker or kaniko parse the registry out of the image name
* they look up the credential helper for that registry from the docker config.json
* they

[2018-06-26 02:00] bhack commented on #731
Simply you need to give the listed permission in https://kubernetes.io/docs/concepts/containers/images/#using-aws-ec2-container-registry to the pod with kube2iam

[2018-06-26 02:02] bhack commented on #731
Of course these are for read you need to add the write ones for pushing

[2018-06-26 04:51] dgageot commented on #745
@d11wtq sorry to hear that. I'm going to take a look today. I see a couple of things I might do:
 + Detect or specify that those large folders shouldn't be watched
 + Increase/make configurable the polling delay
 + See if something can be improved on the mtime loop

You are right that fsnotify can be made to work but it also has some restrictions

[2018-06-26 05:50] d11wtq commented on #745
Just reading up on fsnotify and I'm wrong about those other projects. They use fsevents on MacOS which does allow recursive directory watches efficiently, but fsnotify doesn't currently use that. There is a (somewhat unmaintained) [package for that](https://github.com/fsnotify/fsevents), however.

I wonder if we could perhaps abstract the watcher implementation as there are completely standalone t

[2018-06-26 06:16] geekflyer commented on #647
I just "attempted" to use the existing skaffold kustomize integration but it seems fairly limited - one can basically cannot configure anything, not even the directory in which the kustomization.yaml lies can be configured (the code uses the hardcoded default path `./` which cannot be overriden: https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/kustomize.go#L53.
 As

[2018-06-26 10:21] faheem-cliqz commented on #296
Hi. We have a pretty similar workflow. Charts are placed in a separate git repository and are being served automatically by `chartmuseum` at multiple endpoints `https://kubernetes-charts.example.com/org/<stable/incubator>`. Chart repository usually has some depth to it. i.e. `org/<stable/incubator>/<chart-name>`. These repositories are then usually added to a dev local `helm client` with `helm rep

[2018-06-26 12:21] bhack commented on #745
It is an old thread. Check https://github.com/fsnotify/fsnotify/issues/18

[2018-06-26 12:23] bhack commented on #745
Check also https://github.com/dc0d/dirwatch

[2018-06-26 15:11] dlorenc commented on #731
In this case it looks like the Kubelet has direct support for ec2 in it:

[code]

We would need to do something similar in https://github.com/google/go-containerregistry to make this work.

[2018-06-26 15:58] dlorenc commented on #708
What did we decide here? It's not worth doing right now?

[2018-06-26 16:29] nkubala commented on #708
Yeah I deprioritized this based on the amount of work it ended up being. If someone else wants to take a stab at it feel free but I don't think it's worth the effort right now

[2018-06-26 17:02] jstrachan commented on #741
@dgageot awesome work many thanks! I'm sorry we rely on such obscure odd behaviour of `COPY` in  `Dockerfile`s - there doesn't seem to be another way to handle optional file copying in docker ;)

Thanks for the fix!

[2018-06-26 17:02] ahmetb opened #746 "skaffold dev: initial deploy fails to clean up if syntax error in kubernetes manifest"
skaffold v0.7.0

My initial `skaffold dev`  builds images fine, in `deploy.kubectl` step, one of my Kubernetes manifest YAMLs have syntax or validation error.

In this case, it just exits without cleaning stuff it deployed.

Sample output:
[code]

[2018-06-26 17:15] ahmetb opened #747 "skaffold dev: watch cycle exits when there's kubernetes manifest error"
skaffold v0.7.0

I'm building a bunch of images and deploying them via `deploy.kubectl` step.

After the watch cycle runs a few times successfully, I introduce a validation error in my kubernetes manifests (say, I'm omitting port: field from a service manifest), Skaffold cleans up everything and exits.

This is not expected to me:
1. I would have to realize things have crashed in the background in

[2018-06-26 17:38] r2d4 commented on #647
We can pretty easily make that configurable @geekflyer. Is there anything else that would be needed to unblock you?

[2018-06-26 17:55] r2d4 opened #748 "Allow custom kustomization path"

[2018-06-26 20:02] geekflyer commented on #647
@r2d4  That would be awesome! I think that's all I'd need for now. Thanks.

[2018-06-26 20:09] #748 closed

[2018-06-26 20:14] derekperkins opened #750 "0.8.0 regression:"
### Expected behavior
`skaffold run` used to work in all versions prior to 0.8.0, but now it throws an error when generating the diff tag.

### Actual behavior
[code]
### Information

- Skaffold version: 0.8.0
- Operating system: MacOS 10.13.5
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. ...
2. ...

[2018-06-26 20:17] r2d4 commented on #750
@derekperkins do you mind trying at HEAD? we just merged some fixes to the git tagger

https://storage.googleapis.com/skaffold/builds/latest

[2018-06-26 20:18] derekperkins commented on #750
Yeah, I can try it out. FYI, that link doesn't work.

[2018-06-26 20:18] derekperkins commented on #750
Ok, got it

[2018-06-26 22:56] bhack commented on #731
@dlorenc https://github.com/kubernetes/kubernetes/blob/master/pkg/credentialprovider/aws/aws_credentials.go#L76.
But I think that if you can have the [aws ecr credential helper](https://github.com/awslabs/amazon-ecr-credential-helper) and you authorize i.e. with kube2iam it can work with the basic auth pieple that you have described.

[2018-06-27 01:32] cpoole commented on #543
This would be super helpful for us.

We have a static container that serves a react app. This app needs to be compiled/minified/etc when we go to dev through prod. But on our local machines we would like to skip the full compile and just run a continuous webpack server. Waiting a full minute for a total react rebuild isnt reasonable.

If we could pass a build arg to the dockerfile we could skip th

[2018-06-27 04:55] dgageot commented on #747
@ahmetb This is a bug

[2018-06-27 04:57] dgageot commented on #746
Currently, we consider that any error that happens during the first build and run should exit. Do you think we shouldn't do that?

[2018-06-27 06:14] dgageot opened #752 "Kaniko requires a non empty namespace to be set"
skaffold 0.7.0

With this configuration:

[code]

I get this error:

[code]

[2018-06-27 06:15] dgageot opened #753 "Kaniko requires a non empty secret name to be set"
skaffold 0.7.0

With this configuration:

[code]

I get this error:

[code]

[2018-06-27 06:21] dgageot opened #754 "git tagger should use tags only in case of perfect match"
Take a git repo that has a `v1` tag. Add another commit on top. git tagger will then give a tag that looks like `v1-1-gbdd8958`. We should rather use the commit sha1.

[2018-06-27 07:57] jstrachan opened #757 "could we have another release please?"
would love to get Jenkins X on the latest skaffold ASAP. Thanks again for all the hard work!

[2018-06-27 08:00] dgageot commented on #746
Oh sorry, I misunderstood. It exits on first deploy ad it should but it doesn't clean things up.

[2018-06-27 20:08] r2d4 commented on #757
Yep, we'll ship one today or tomorrow :+1:

[2018-06-28 01:30] #753 closed

[2018-06-28 01:32] #754 closed

[2018-06-28 17:47] vietwow commented on #169
@dlorenc Dl
Hi,

Why Helm v3 relate to helmfile ?

VietNC

[2018-06-28 21:22] bhack commented on #757
Done

[2018-06-28 21:33] #757 closed

[2018-06-28 22:19] r2d4 opened #767 "Release checksum calculation doesn't work in our image's version of make"

[2018-06-29 01:03] ahmetb opened #769 "Cancel the docker build if the source is changed while building"
skaffold 0.8.0

I have this long docker build  (.net core app), in `skaffold dev` mode if I change something, the build starts, then I change something else, now Skaffold doesn't cancel that build (IMO it should).

So to work around that I see the step that takes very long in the `skaffold dev` output:

[code]

and I do `docker rm -f 63543abd2c38` so that `docker build` crashes and `skaffold dev`

[2018-06-29 01:26] ahmetb opened #770 ""skaffold delete --wait""
skaffold v0.8.0

If I do a `skaffold delete` immediately followed by a `skaffold dev`, I see this output, which is unexpected (note the `"configured"` words):

[code]

If I just did a `skaffold delete` I expect these resources to be deleted.

What ended up happening is that `skaffold delete` kicks off deletes but doesn't actually wait until deletions are complete. As a result, `skaffold dev` now h

[2018-06-29 04:21] ahmetb opened #771 "set lower "kubectl delete --grace-period" for dev cleanup"
skaffold v0.8.0

This is semi-related to #770. I think when someone is doing dev, it's most likely OK to do a `kubectl delete --grace-period=1` seconds (which I believe overrides pod's `terminationGracePeriodSeconds` and if that's unspecified, kubernetes default of 30 second for this value).

This would provide faster cleanups  (and therefore exits) if/when cleanup stage properly waits for all res

[2018-06-29 05:19] r2d4 commented on #502
Seeing this again in 0.9.0 (and 0.8.0 I believe). Maybe we didn't do dep right at some point and clobbered the changes?

[2018-06-29 05:41] r2d4 commented on #770
This race condition actually gets worse when we set the grace-period to be lower. We could do a `skaffold delete --wait`, https://github.com/GoogleContainerTools/skaffold/issues/176

[2018-06-29 05:53] r2d4 commented on #235
Fixed by #765

[2018-06-29 05:53] #235 closed

[2018-06-29 05:55] #673 closed

[2018-06-29 05:58] #370 closed

[2018-06-29 07:03] #232 closed

[2018-06-29 07:15] dankohn commented on #232
I converted the eps to svg and updated here: https://landscape.cncf.io/grouping=landscape&landscape=application-definition-image-build&selected=skaffold

[2018-06-29 14:51] gtseres opened #775 "Provide a "skaffold upgrade" command"
This is a feature request. It would be nice if skaffold provided a `skaffold upgrade` command that would upgrade skaffold itself to the latest release.

[2018-06-29 14:58] mattkelly opened #776 "Git tags for releases should be annotated"
Since git tags such as `v0.9.0` are actual releases, they should be annotated tags. Currently, all of them except for `v0.6.0` are lightweight tags, which are really just aliases for a commit:

[code]

For example, it can be confusing when things like `git describe` don't behave as expected:

[code]

[code]

You can read more about annotated vs. lightweight tags [here](https://git-scm.com/book/en/

[2018-06-29 15:45] #771 closed

[2018-06-29 17:38] r2d4 commented on #775
Maybe ref #148

[2018-06-29 17:40] gtseres commented on #775
Yes, thanks @r2d4 . I searched for "upgrade", so it didn't show up. I guess we can close this.

[2018-06-29 17:42] r2d4 commented on #776
Yeah I think this was just me being lazy. @dgageot did the v0.6.0 release :)

Is there a clean way to convert? Or should we just use annotated tags going forward?

[2018-06-29 17:44] r2d4 commented on #775
I think they can be distinct - we can check for updates but also have a command to automatically upgrade you

[2018-06-29 17:47] mattkelly commented on #776
Hmm, it seems that you can convert, but it might be a bit sketchy to [get the timestamps correct](https://stackoverflow.com/a/21032471/846956) and not confuse GitHub (I'm not sure if you can adjust release dates on GitHub, or how that would even work in general).

I would love if the existing tags could be fixed, but just making sure we use annotated tags moving forward is also great!

[2018-06-29 17:53] dgageot commented on #776
:-)

[2018-06-29 20:05] r2d4 commented on #770
We might be able to tackle it from the apply side and make sure that we're aren't trying to apply anything thats already in a `Terminating` state. Thats kind of unintuitive behavior from kubectl anyways.

[2018-06-29 22:00] simonwahlgren opened #777 "Dockerfile: COPY/ADD with build arg variables are not expanded"
Using build arg variables in COPY/ADD instructions are not expanding the variables. Resulting in the following error:
[code]
It however seems to be working with environment variables

### Expected behavior
Build arg variables are expanded the same way as environment variables.

### Information

- Skaffold version: 0.9.0
- Operating system: Arch Linux
- Contents of skaffold.yaml:

[code]

### Steps

[2018-06-29 23:32] ahmetb opened #778 "error reading diff in tagPolicy.gitCommit"
skaffold v0.8.0

I have a skaffold.yaml like this

[code]

I just created a `src/loadgenerator` directory (but didn't do `git add` yet), and now I added this to my `artifacts` section:

[code]

I'm getting this error:

It looks like a git error.

### Verbose output

[code]

[2018-06-29 23:35] ahmetb commented on #778
I just got another error after `git add`:

Note the space between `myproject/ kubernetes-manifests`. The file exists, but without that space.

[2018-06-30 02:17] msau42 opened #779 "Cleanup fails when kustomize.yaml is not in the root directory"
### Expected behavior
Cleanup should succeed

### Actual behavior
Cleanup fails because it tries to find the kustomization.yaml in the root directory even though I specified an alternative path.
[code]

### Information

- Skaffold version: 0.9.0
- Operating system: Linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Place the deployment specs and kustomization.yaml

[2018-06-30 12:51] jirfag commented on #699
Hi!
Here https://github.com/golangci/golangci-lint/blob/master/README.md#install are commands for pinning a release, it has installation script. Also it much faster than go get

[2018-06-30 18:37] r2d4 commented on #232
Awesome thanks @dankohn!!

[2018-06-30 18:48] #779 closed

[2018-07-01 01:28] #767 closed

[2018-07-01 01:29] #734 closed

[2018-07-01 01:29] r2d4 commented on #686
Fixed in #751

[2018-07-01 01:29] #686 closed

[2018-07-01 01:30] r2d4 commented on #514
Fixed in #765

[2018-07-01 01:30] #514 closed

[2018-07-01 01:32] r2d4 commented on #180
This is published at gcr.io/k8s-skaffold/skaffold

Available tags are:
- any commit SHA
- "latest" for HEAD
- any tag (v0.8.0, etc.)

[2018-07-01 01:32] #180 closed

[2018-07-01 01:32] r2d4 commented on #180
See https://github.com/GoogleContainerTools/skaffold/blob/master/docs/published-artifacts.adoc for more info

[2018-07-01 01:33] r2d4 commented on #178
Fixed in https://github.com/GoogleContainerTools/skaffold/pull/662

[2018-07-01 01:33] #178 closed

[2018-07-01 01:34] r2d4 commented on #99
This should be covered in #726

[2018-07-01 01:34] #99 closed

[2018-07-01 01:35] #57 closed

[2018-07-01 06:45] #699 closed

[2018-07-01 12:31] alewis001 commented on #232
My 2 pennies worth... I like the logo by @dankohn

[2018-07-01 13:34] dankohn commented on #232
@r2d4 made the logo. I just converted to SVG and added to the Interactive Landscape.

[2018-07-01 19:20] r2d4 commented on #41
@dgageot you fixed this at some point I think?

[2018-07-02 09:08] dgageot commented on #778
@ahmetb This should be fixed in 0.9.0

[2018-07-02 16:57] bhack opened #783 "Reuse tagpolicy in yaml"
Is there a way to consume tag assigned by the tagpolicy in other section of the artifact's yaml?

[2018-07-02 17:29] ahmetb commented on #84
Nope, I just put out https://github.com/GoogleCloudPlatform/cloud-builders-community/tree/master/skaffold which might even be broken right now. I also have a demo app using GCB+Skaffold to deploy here: https://github.com/ahmetb/coffeelog/blob/d6a7b6fb78cbd983d90410bc28fae8b497fdeb4c/cloudbuild.yaml I'm also working on a 10-tier microservices app, deploying with skaffold, and I'm planning to integr

[2018-07-02 17:29] dlorenc commented on #775
I think we're going to skip doing the auto-upgrade of skaffold (that's the responsibility of the package manager). The update check command makes sense though. We could always help out by detecting what package manager installed skaffold and telling the user what commands to run.

[2018-07-02 17:29] #775 closed

[2018-07-02 18:34] gtseres opened #785 "Support TLS communication with Tiller"
Currently skaffold does not support the communication with a Tiller pod where TLS is enabled. Just tried to run `skaffold dev` for the `helm-deployment` example and got the following:

[code]

This error takes place when one tries to communicate without TLS enabled with a Tiller that requires TLS, e.g.:
[code]

where when trying with TLS:
[code]

It would be great if support for communicating with

[2018-07-02 21:10] r2d4 opened #787 "test flake: kaniko_example"
[code]

https://source.cloud.google.com/results/invocations/8b0dbf6f-aeb5-45f0-a2f5-7c5bbe699a85/targets/runtimes-common%2Fskaffold%2Fpresubmit/log

[2018-07-03 08:34] tomster commented on #647
@r2d4 for me dev/staging/production "live" both in separate kustomize layers as well as their respective kubectl contexts. my current workflow is to switch the kubectl context and then run kustomize with the appropriate target (using skaffold only for local developement, bypassing kustomize)

the convention is that the base layer of kustomize is effectively the "devel" overlay and thus i can let s

[2018-07-03 08:50] tomster opened #788 "skaffold ignores kustomizePath setting during cleanup"
### Expected behavior

when running `skaffold delete` using the kustomize deploy option with a `kustomizePath` setting like so:

[code]

the resources defined there are deleted.

### Actual behavior

i got this error when running `skaffold dev`:

[code]
it seems to me it is ignoring the kustomizePath setting during cleanup but that's just a guess.

### Information

- Skaffold version: 0.9.0
- Oper

[2018-07-03 08:51] tomster commented on #647
of course, just after posting the above comment i discovered https://github.com/GoogleContainerTools/skaffold/pull/749 but then ran into https://github.com/GoogleContainerTools/skaffold/issues/788...

but still, i think being able to override the `kustomizePath` setting on the command line would be the preferred option for me.

[2018-07-03 09:14] dgageot commented on #788
I believe this is fixed with #781

[2018-07-03 09:14] #788 closed

[2018-07-03 13:35] hypnoglow opened #789 "[proposal] Support profiles containing only diffs without redefining the whole section"
Currently, when using profiles, we have to specify the full **build** or **deploy** section, even if profiles differ in one field.

If we could specify only differences in profiles, the `skaffold.yaml` file would look much less clunky and with almost no duplications.

An example of how the `skaffold.yaml` file looks like currently when you want to use profiles that differ in one field:

[code]

An

[2018-07-03 16:00] tomahawk28 opened #790 "microservice example Dockerfile sequence"
It's not actual issue but is there any reason put `CMD` earlier than `COPY` in below code?
[code]
https://github.com/GoogleContainerTools/skaffold/blob/master/examples/microservices/leeroy-web/Dockerfile#L5-L7

[2018-07-03 18:34] dkirrane commented on #783
Yes I need same in order to pass it as a value into my helm chart

[2018-07-03 18:38] bhack commented on #783
I think it is generally useful for gitops goals. Cause if you want to have something dynamic in the manifest and not strictly related to profiles you need to let it to be trackable. So tagpolicy gives a trackable anchor.

[2018-07-04 19:53] rvrignaud opened #793 "Running `skaffold dev` in git repository without any commit fails"
### Expected behavior
Running `skaffold dev` in directory after only `git init` but no `git commit` should work.

### Actual behavior
`skaffold dev` fails if directory is git initialized but without any commit.

[code]

### Information

- Skaffold version: v0.9.0
- Operating system: linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
[code]

[2018-07-04 23:04] r2d4 commented on #793
Looks like we solved the case where theres no repo, but didn't account for the case where theres a repo without a commit.  Ref https://github.com/GoogleContainerTools/skaffold/issues/663

[2018-07-05 11:03] dgageot commented on #790
@tomahawk28 it's a good practice to move as many commands as possible before any `COPY` or `ADD`.

Some commands can't be moved because they rely on what's being copied, eg:
[code]

Some commands are just metadata and can be moved without any issue, such as CMD and ENTRYPOINT.

[2018-07-05 15:14] lenlen commented on #783
I need the same feature too, more in detail I need to use the value of the tag in deployment with kustomize

[2018-07-06 04:52] dgageot commented on #442
@masduo Have you tried 0.9.0?

[2018-07-06 22:32] richardscarrott commented on #477
@dgageot this feature would make using Skaffold for containers running TypeScript or Babel on NodeJS a great option, I wondered whether you’ve been able to make any progress on this at all?

[2018-07-07 19:56] bhack commented on #789
@dgageot Seems like kustomize features but for skaffold :wink:

[2018-07-08 04:10] booninite commented on #777
@simonwahlgren can you share an example of how you're currently working around the issue using `ENV`?  I'm struggling to get it to work on my machine, still producing the same error.

[2018-07-08 19:36] bhack commented on #346
/cc @jessesuen Any feedback from argo-cd? What is your point of view about dev tools like Skaffold and argo-cd and argo workflows management?

[2018-07-09 00:42] inadarei opened #799 "Example app giving warnings and there's no log output on MacOS High Sierra with Minikube and local Docker build"
Getting an unexpected error when running `skaffold dev`

[code]
and there is no log shown when the example app eventually runs:

[code]

The app is running and editing it does hot-reload, but again no logs and can't see logs via kubectl either:

[code]

### Expected behavior

1. No warnings after running `skaffold dev` for the example app
2. Logs would show repeating 'Hello world'
3. kubectl logs

[2018-07-09 07:00] jstrachan commented on #346
Yeah this example shows crating a new project & setting up CI/CD so that any merge to the master branch creates a new semantic version, artifacts, docker image, helm chart and then promoted through the environments via GitOps
https://jenkins-x.io/demos/create_spring/ which uses skaffold for all docker image generation. (It’d be nice to use skaffold for the chart version tweaking too).

Then the la

[2018-07-09 11:48] bhack commented on #139
See also https://github.com/GoogleContainerTools/skaffold/issues/346

[2018-07-09 11:49] bhack commented on #346
@jstrachan Thank you for the update. So actually it will not support Skaffold for other deployers like i.e. Kustomize?

[2018-07-09 13:02] jstrachan commented on #346
currently not but we should be able to modify the build packs to support kustomize if there is demand for it

[2018-07-09 16:43] loosebazooka opened #800 ".dockerignore behavior on "!" operator isn't correct for some cases with buildargs"
### Expected behavior
files marked with `!` are not ignored

### Actual behavior
files marked with `!` in a subdirectory are ignored

### Information

- Skaffold version: v0.9.0
- Operating system: linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Create a new directory with `Dockerfile`, `.dockerignore`, `goose/goose.txt`, `skaffold.yaml`

`Dockerfile`
[code]

`.

[2018-07-09 21:07] #708 closed

[2018-07-10 06:54] dgageot commented on #800
Indeed, the code ignores the build args when it computes the dependencies

[2018-07-10 15:40] r2d4 commented on #671
Closing this with #803, which upgrades the version to v0.2.0. We can track more specific feature requests in another issue.

[2018-07-10 15:40] #671 closed

[2018-07-11 06:40] #778 closed

[2018-07-11 19:18] ahmetb opened #812 "skaffold dev must not register cleanup handler until build is complete"
skaffold v0.9.0

I just accidentally ran `skaffold dev` in my PROD cluster and hit Ctrl+C immediately when the first image build started. Even though nothing actually was deployed to my PROD cluster, hitting Ctrl+C triggered the "cleanup handler", which nuked deployments on my PROD cluster.

The cleanup handler probably should not be registered until the first build is complete?

[2018-07-11 20:06] dgageot commented on #488
I'm trying to work on this issue and I'm not sure which direction I should go

[2018-07-11 20:10] dgageot commented on #488
@jstrachan @errordeveloper any idea where to get started?

[2018-07-11 21:20] errordeveloper commented on #488
Happy to chat on Slack tomorrow or Friday!

On Wed, 11 Jul 2018, 9:10 pm David Gageot, <notifications@github.com> wrote:

[2018-07-11 23:00] ahmetb opened #813 "skaffold version wrong when installed via brew --HEAD"
I just installed `brew install skaffold --HEAD` but `skaffold version` shows 0.9.0. IMO it should inject something like `git describe --always --tags --dirty` into the binary via ldflags.

[2018-07-12 07:35] #813 closed

[2018-07-12 12:02] jstrachan commented on #488
I wonder what folks think about activating some canonical profiles for `skaffold dev` versus `skaffold build` / `skaffold run`?  Then if folks wanted they could provide a profile, say, `skaffold-dev` which if defined is enabled whenever you type `skaffold dev`.

So that `$ skaffold dev` is the equivalent of `$ skaffold dev -p skaffold-dev` and `$ skaffold build` is the equivalent of `$ skaffold bu

[2018-07-12 12:06] jstrachan commented on #488
how about this as a strawman; I wondered if we needed a `skaffold-build-or-run` in case you wanna configure something for either `skaffold build` or `skaffold run`?

Comand Line | Invoked Profiles (if they exist in `skaffold.yaml`
------------------------------------------------------------
`skaffold dev` | `skaffold-dev`
`skaffold run` | `skaffold-run``skaffold-build-or-run`
`skaffold build` | `s

[2018-07-12 18:51] r2d4 opened #817 "Release v0.10.0"

[2018-07-12 22:17] r2d4 opened #818 "Logs not streamed from manifests with specific namespaces"
[code]

Skaffold will deploy this correctly, but won't stream the logs

[2018-07-13 02:54] #818 closed

[2018-07-13 06:33] errordeveloper commented on #488
I would say that 'skaffold-' prefix is a little odd, 'default-' seems better, but I generally agree.

[2018-07-13 06:42] jstrachan commented on #488
yeah, was trying to make the skaffold profiles separate to arbitrary user profiles to avoid confusion.

How about `system-` or `cli-`?

[2018-07-13 07:19] errordeveloper commented on #488
Sure, or perhaps `{cli,system}-default-`? ;)

[2018-07-13 17:55] r2d4 opened #821 "Buildargs aren't passed to kaniko"

[2018-07-14 19:21] joonasmyhrberg opened #824 "dev: dev step: watching files: listing files in folders: lstat : no such file or directory"
### Expected behavior
Skaffold watches the configuration file for changes.

### Actual behavior
`walk(dirs)` returns an error in `pkg/skaffold/watch/files.go:52`, ~~where `dirs` contains `skaffold.yaml`. Basically `NewFileWatcher` expects directories, but the dev command stack passes it the configuration file.~~

### Information

- Skaffold version: 0.10.0
- Operating system: MacOS
- Contents of s

[2018-07-15 15:58] dgageot commented on #824
@joonasmyhrberg when walking a single file, the code shouldn't fail. Could you share the whole stack trace?

[2018-07-16 14:03] masduo commented on #442
@dgageot just tried and i can confirm that the issue is fixed in the latest version 0.10.0, thanks

[2018-07-16 15:52] hrqiang commented on #222
Any update on this as jib is getting more attractions.

[2018-07-16 17:05] #442 closed

[2018-07-16 17:18] dlorenc commented on #817
I think this is done.

[2018-07-16 17:18] #817 closed

[2018-07-16 17:22] dlorenc commented on #329
Is this actually necessary? It's hard to tell from that PR.

[2018-07-16 17:24] dlorenc commented on #264
This was opened first, but the other one has a bit more discussion.

https://github.com/GoogleContainerTools/skaffold/issues/518

Closing as a dupe.

[2018-07-16 17:24] #264 closed

[2018-07-16 21:38] joonasmyhrberg commented on #824
@dgageot You're correct, please excuse my debugging skills.

I have narrowed down the problem to missing `valuesFilePath` under `deploy.helm.releases`. When I add that the config works. It also works without it when using v0.9.0.

Also I'm not sure what you mean with the stack trace, if you still need it could you provide instructions for how you want it taken.

[2018-07-17 00:36] ekimia commented on #824
I can confirm the same as @joonasmyhrberg - including `valuesFilesPath` fixes it.

[2018-07-17 00:41] ekimia opened #825 "exclude subdirectories from being watched"
### Expected behavior
I can specify (somehow) certain subfolders to exclude from the watch list.
### Actual behavior
I can't. Or can't find out how.

### Information
Idea is to exclude a directory from being watched, as that directory will be mounted for super super fast local development.

[2018-07-17 01:29] aplex commented on #824
Even after setting `valuesFilesPath` , it still fails after the change is detected in one of the source code files and helm chart is redeployed. In my case, skaffold crashes when it finds a file from a downloaded dependency.

[code]

[2018-07-17 06:04] ekimia commented on #825
After forking I found this:
`https://github.com/GoogleContainerTools/skaffold/blob/e6f37af6eac07da071070c432760d4bdce47d442/pkg/skaffold/watch/files.go#L31`

Recommend a yaml sequence specifying the folders to exclude. Would do it myself but unfortunately too tied up at the moment.

[2018-07-17 07:42] bivas commented on #360
I've envisioned something in the config line of:
[code]

This will enable the following example deployment config:
[code]

will create the following CLI: `helm install ... --set image.repository=acme/my-container --set image.tag=<generated>`

and if we use:
[code]

CLI will be: `helm install ... --set image=acme/my-container:<generated>`

[2018-07-17 21:22] taylorKonigsmark commented on #825
This could be something that i'd be interested working on.

Would the appropriate configuration be something along the lines of:

[code]

[2018-07-18 05:43] ekimia commented on #825
@r2d4 totally. Our use case us using Django's hot reloading. In this scenario, a watchPolicy where you can explicitly list directories and files to watch would be sweet. Totally think having different policy types would be the best approach.

Example:
- I modify some application code. Skaffold doesn't rebuild.
- I modify requirements.txt, which will cause Skaffold to rebuild.

[2018-07-18 12:56] taylorKonigsmark commented on #825
Sure,

so something along the lines of:

[code]

[2018-07-18 19:44] taylorKonigsmark commented on #825
would like to confirm with @r2d4 since he is one of the maintainers

[2018-07-18 20:35] ekimia commented on #825
@taylorKonigsmark one important thing to add here is exclusion if glob doesn't account for this already (not super familiar with it). Back to my django example, i'd want something like this which is relevant for other setups as well:

[code]

Something that states "ignore all the python files except settings.py"

Not familar with glob, but the ! came from the syntax in `.gitignore` to exclude a di

[2018-07-18 20:51] #777 closed

[2018-07-18 23:35] r2d4 opened #829 "Add contributors for each release to changelog"
Let's thank all the contributors in the changelog for each release.

`git log "${LAST_RELEASE_TAG}".. --format="%aN" --reverse | sort | uniq | awk '{printf "- %s\n", $0 }'`

And first I'd like to thank docker/machine and @dgageot for giving us this idea :)

https://github.com/docker/machine/blob/66183198cd3ade76dbf47ed4ab1ebfb8908008a9/script/release.sh#L136-L138

[2018-07-19 18:52] r2d4 opened #834 "Ignore tag in skaffold.yaml and kubernetes yaml"
I think this worked once upon a time, but it doesn't anymore.

We should allow users to specify a tag in the skaffold.yaml or their kubernetes.yaml and

1. If we built the image, ignore it and replace it with our intermediate tag
2. If we didn't build the image, don't do anything.

[2018-07-19 21:28] r2d4 opened #835 "Colorize skaffold output vs. piped output"
Imagine the bolded lines being colorized

**Starting build...**
**Building [gcr.io/k8s-skaffold/leeroy-web]...**
Sending build context to Docker daemon  3.072kB
Step 1/6 : FROM golang:1.10.1-alpine3.7 as builder
 ---> 52d894fca6d4
Step 2/6 : COPY web.go .
 ---> Using cache
 ---> a2f24d7c8473
Step 3/6 : RUN go build -o /web .
 ---> Using cache
 ---> bccc7a1c55a9
Step 4/6 : FROM alpine:3.7
 ---> 3fd

[2018-07-19 21:59] bobcatfish commented on #835
@r2d4 what terminals would this need to work for? windows too? or like linux first, add for windows later?

[2018-07-19 23:21] johnmshields opened #836 "Unable to retrieve deployment info if helm release name is templated"
### Expected behavior

A helm deployment should retrieve the deployment information after deployment and does not return a warning.

### Actual behavior

The deployment information is not retrieved and a warning is displayed when the release name includes a templated value.

[code]

The warning above occurs due to the code [here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/ska

[2018-07-20 14:18] dkirrane opened #841 "jx-release-version support"
Feature request: Support using [jx-release-version](https://github.com/jenkins-x/jx-release-version) in the `tagPolicy` to set the docker image tag.

- Skaffold version: v0.10.0
- Operating system: Windows & Linux
- _Possible_ skaffold.yaml:

[code]

[2018-07-20 18:07] pbuszka14 opened #844 "Kaniko artifact build times out after 10 minutes, successfull if it is shorter"
### Expected behavior

Successful skaffold build lasting more then 10 minutes for a single artifact when running kaniko as build tool.

Add an option in yaml file to specify time out value for kaniko build

### Actual behavior

kaniko build times out after 10 minutes with
FATA[0605] build step: kaniko build for [eu.gcr.io/innect-dc/admin-app]: waiting for pod to complete: timed out waiting for the

[2018-07-20 20:40] upalkhouski commented on #296
Hello guys. We are considering using skaffold for similar case - keep skaffold.yaml with definitions of all the plugins (remote helm charts) and set of addon-value.yaml files to manage values of each addon (chart). I suppose the intention was/is to introduce remote charts support based on the following comment:
https://github.com/GoogleContainerTools/skaffold/blob/daefae119cdb44fdf3286a60b7dbd0893

[2018-07-20 21:34] bobcatfish commented on #787
Another instance in #827: :open_mouth:

https://source.cloud.google.com/results/invocations/86c137f1-ff9c-4264-b70e-12f27b341892/targets/runtimes-common%2Fskaffold%2Fpresubmit/log

[2018-07-20 22:20] bobcatfish commented on #835
I'll take a look at this!

[2018-07-21 00:16] bobcatfish commented on #835
IT'S HAPPENING

![image](https://user-images.githubusercontent.com/432502/43030011-8bad3d5a-8c40-11e8-9afb-e207aa9c82d8.png)

Do you like blue @r2d4 ?

[2018-07-23 14:58] dkirrane opened #848 "Support BuildKit in Docker 18.06.0-ce"
### Actual behavior

I'm trying to use the new BuildKit support in Docker 18.06.0-ce but hit the following issue
[code]

My Dockerfile is using runmount
[code]

### Information

- Skaffold version: v0.10.0
- Operating system: Windows 10
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. `DOCKER_BUILDKIT=1 DOCKER_BUILDKIT=1 skaffold-windows-amd64.exe build`

[2018-07-23 16:30] slamdev opened #849 "Enable namespace flag for non-helm deploys"
### Expected behavior
Replace `namespace` value in deploying manifests when it is provided via command-line for kubectl deploys
### Actual behavior
Works only for helm deploys
### Information
It would be nice to extend existing `namespace` flag to work with both helm and kubectl deploys.

[2018-07-24 19:50] AkihiroSuda commented on #596
Sorry for delay, but before opening the PR, let me look into whether we can consolidate into Knative: https://github.com/knative/build/issues/284

[2018-07-25 03:12] AkihiroSuda commented on #848
Looks like ` DOCKER_BUILDKIT` is not propagated to `docker` command, but seems already fixed in https://github.com/GoogleContainerTools/skaffold/pull/840/files#diff-0322c6bd8dd50edbeec0ba72a02edb2fR50

[2018-07-25 03:15] AkihiroSuda commented on #596
As Knative Build (https://github.com/GoogleContainerTools/skaffold/pull/851) turned our to share the same goal as CBI, I'm closing this proposal and going to port over CBI features to Knative Build.

[2018-07-25 03:15] #596 closed

[2018-07-25 20:58] dkirrane commented on #848
Great I'll try it out next release.

This would also be a solution for Maven multi-stage build and related to https://github.com/GoogleContainerTools/skaffold/issues/526

[2018-07-25 23:16] d11wtq commented on #745
Any progress on this? For now I've switched to a custom solution using `fswatch` as described above, but I'm keen to avoid the need for reinventing the wheel if I can. Would you consider optionally using https://github.com/fsnotify/fsevents where the platform supports it? Not sure about https://github.com/tywkeene/go-fsevents - it might be a Linux only thing since it seems to be based on inotify.

[2018-07-25 23:24] dgageot commented on #745
@d11wtq I think there's much room to improve of poll based solution. That's what I'm trying to do with https://github.com/GoogleContainerTools/skaffold/pull/833 and https://github.com/GoogleContainerTools/skaffold/pull/837

If I understand your issue correctly, the current solution is watching too many files. By watching only the files that are needed by `docker build`, it should be much better.

[2018-07-26 00:18] d11wtq commented on #745
@dgageot nice. I'm keen to give that a spin.

[2018-07-26 15:18] dlorenc commented on #836
@johnmshields are you interested in sending a PR for this?

[2018-07-26 15:59] johnmshields commented on #836
Sure, I'd be happy to... just haven't gone through any of the CLA stuff, yet. I'll put that together ASAP.

[2018-07-26 23:04] dgageot commented on #849
Hey @slamdev thanks for asking. I pushed support for this feature before I saw your issue! https://github.com/GoogleContainerTools/skaffold/pull/852

[2018-07-26 23:06] dgageot commented on #836
Fixed with #855

[2018-07-26 23:06] #836 closed

[2018-07-26 23:07] dgageot commented on #834
@r2d4 I don't know. There are cases where I need to have two version of the same artifact deployed (think blue/green) one is the dev version that skaffold is handling. The other one is a previous version that Skaffold shouldn't handle.

[2018-07-26 23:08] dgageot commented on #800
I think it should be good in master

[2018-07-27 01:33] bsuh commented on #546
How does skaffold know which files to watch? Is it just all files in the workspace? Shouldn't it rebuild the image when the contents of ./bin/ that are copied in the Dockerfile are changed from an build done outside of Docker?

I'm running into a similar issue where I cannot get "skaffold dev" to retrigger builds and this is with multi-stage builds.

[2018-07-27 04:58] slamdev commented on #849
@dgageot cool! thanks :)

[2018-07-27 04:58] #849 closed

[2018-07-27 07:23] ekimia opened #858 "Is pushing to a private repository supported?"
Looking in the docs, I don't see a way to push to a non Google registry. Is this something currently supported that I'm overlooking? Trying to push to our registry on docker hub.

[2018-07-27 07:44] jonjohnsonjr commented on #858
It should be supported. We just use the credential configuration from `~/.docker/config.json`.

[2018-07-27 08:26] loispostula opened #859 "Skaffold dev doesn't rebuild when using submodule as workspace"
### Expected behavior
`skaffold dev` should rebuild the docker image when file in the workspace are modified
### Actual behavior
If the workspace referenced is a git submodule then the change won't trigger a rebuild
### Information

- Skaffold version: 0.10.10
- Operating system: ubuntu 18.04

Here is a repo I've created to reproduce the issue: https://github.com/loispostula/skaffold_submodule_bug

[2018-07-28 01:00] bsuh commented on #745
@dgageot I took #833 for a spin and it's still using 100% CPU :/

[2018-07-28 01:01] dgageot commented on #745
@bsuh not cool. Can you explain the layout of you project?

[2018-07-28 01:29] bsuh commented on #745
[code]

It follows the microservices example. 4 backend projects and 1 frontend project as submodules. Each project has .dockerignore for the obvious suspects like node_modules and bin/ obj/ directories.

[2018-07-28 06:07] bsuh commented on #745
@dgageot False alarm. I actually didn't realize that calling make install from your fork was still importing packages from the github.com/GoogleContainerTools/skaffold in my go workspace. I symlinked the fork to the go workspace and rebuilt and now it's taking 15% CPU which is much better. Sorry about that.

[2018-07-28 16:54] dgageot commented on #745
That’s very good news! Thanks for the update. Let’s try to make that even better in the future

[2018-07-28 18:20] bsuh commented on #745
@dgageot What do you think of moving filtering & directory walking concerns from getting artifact dependencies to watch? It seems like those are in the getting artifact dependencies code to accommodate the polling watcher. If getting artifact dependencies instead return a list of directories and filter patterns and leaves it up to the watcher, we can provide a second watcher making use of recursiv

[2018-07-30 17:04] dlorenc commented on #835
Fixed with #856

[2018-07-30 17:04] #835 closed

[2018-07-31 15:52] alitari commented on #824
Have the same problem when using a dependency in my helm chart. Also extracting the .tgz file didn't help. Im using windows 10.

[2018-08-02 21:36] marccampbell opened #867 "skaffold dev doesn't detect a new file added to a directory"
### Expected behavior
When running `skaffold dev`, adding a new file to a watched directory does not trigger a rebuild.

### Actual behavior
Adding a new file should trigger a rebuild, the same as modifying an existing file.

### Information

- Skaffold version: 0.10.0
- Operating system: MacOS 10.13.6
- Contents of skaffold.yaml:

### Steps to reproduce the behavior

1. Run skaffold dev to watch

[2018-08-02 21:43] balopat opened #868 "Release v0.11.0"

[2018-08-02 22:26] balopat commented on #868
fixed by https://github.com/GoogleContainerTools/skaffold/pull/869

[2018-08-02 22:26] #868 closed

[2018-08-03 06:49] fovecifer commented on #783
I also need this feature
another option is skaffold could publish the tag name to some place

[2018-08-03 18:05] #148 closed

[2018-08-03 20:27] mgyong commented on #528
Any update on this? I am having the same issues

[2018-08-03 21:22] balopat opened #873 "Update the release process to automatically make the skaffold image public"

[2018-08-03 21:29] r2d4 commented on #873
should be fixed now

[2018-08-03 21:29] #873 closed

[2018-08-03 22:14] balopat commented on #528
just pinged @ajbouh

[2018-08-03 23:45] mgyong commented on #824
Was trying out the helm-deployment example below
https://github.com/GoogleContainerTools/skaffold/tree/master/examples/helm-deployment the
Facing the same issue

[helm-deployment (⎈ |minikube:default)]$ skaffold dev
Starting build...
Found [minikube] context, using local docker daemon.
Building [gcr.io/k8s-skaffold/skaffold-helm]...
2018/08/03 16:42:10 No matching credentials found for index.docke

[2018-08-04 08:30] dgageot commented on #829
ping @balopat. I updated v0.11.0 release page with the names of the contributors. How can we not forget next time we do a release?

[2018-08-04 16:49] dgageot commented on #844
Fixed with #875

[2018-08-04 16:49] #844 closed

[2018-08-04 20:50] marccampbell commented on #867
I just tried this again using 0.11.0 and it appears to work.  This no longer appears to be an issue.

[2018-08-06 17:25] balopat commented on #867
thanks for letting us know @marccampbell

[2018-08-06 17:25] #867 closed

[2018-08-06 17:53] #729 closed

[2018-08-06 22:28] balopat commented on #829
Thanks @dgageot, this was not on my radar. I think we should add it to the release note generator script.  I'll add this to this week's todo so that we don't forget about it!

[2018-08-07 20:15] joelhandwell commented on #222
https://github.com/GoogleContainerTools/skaffold-tools-for-java is under development by @coollog and functionality from jib is brought into skaffold. Help him with giving star, submit issue or PR.

[2018-08-08 15:51] nathanph commented on #824
Me and a colleague are also running into this issue.

If I set `deploy.helm.releases.valuesFilePath` to `""` it fails.

If I create an empty `test.yaml` and set `deploy.helm.releases.valuesFilePath` to `test.yaml` it works but fails after a file is changed with:
[code]

[2018-08-08 17:51] thesandlord opened #887 "GKE LoadBalancer doesn't work with service deployed by Skaffold"
I have a service with `type: Loadbalancer` that I deploy with Skaffold. The service creates fine, the load balancer shows as healthy on the GCP console, but when I do `kubectl get svc` the External IP address never gets resolved and is stuck in `<pending>`. Everything works if I deploy same service using `kubectl apply`.

I actually have this on video as well: https://youtu.be/JUFIF9QMN9M?t=1630

[2018-08-08 17:56] ahmetb commented on #887
I am seeing the same.

Unless I use static IP, Service type=LoadBalancer never gets an IP on vanilla GKE cluster:

- if I go to Google Cloud Console, I see an IP for the LB
- but the IP is actually not associated with the LB on Kubernetes API
- overall, hitting the IP doesn't work even though it shows up on the UI

I know at least one more person who deployed the https://github.com/GoogleCloudPlat

[2018-08-09 11:05] dgageot commented on #745
I'm going to close this one. Feel free to open another ticket for additional improvements

[2018-08-09 11:05] #745 closed

[2018-08-09 11:06] dgageot commented on #248
Let's close this one. All builders except the local one now build in parallel.

[2018-08-09 11:06] #248 closed

[2018-08-09 11:07] dgageot commented on #824
@nathanph @mgyong @joonasmyhrberg Have you tried the latest version? Do you still face the same issue?

[2018-08-09 11:08] dgageot commented on #799
@inadarei Have you tried with the latest version of Skaffold?

[2018-08-09 11:09] dgageot commented on #667
I'm going to close this one assuming it's fixed in latest version. Feel free to reopen in case the issue's still here

[2018-08-09 11:09] #667 closed

[2018-08-09 15:09] nathanph commented on #824
Yes, @dgageot.

[code]

[2018-08-09 15:57] bryanlarsen opened #889 "Support for dependent images"
We'd love to be able to use the same Dockerfile's in skaffold that we use in production.   The problem is that those Dockerfile's are actually a set of dependent Dockerfile's rather than a single Dockerfile.

The dependent Dockerfile's are currently structured like this so our build scripts can handle the dependency's:

[code]

Initially I asked on slack for a mechanism to adjust tagging on a per-

[2018-08-09 19:43] saturnism commented on #526
+1 on the custom builder. I do recommend supporting multiple commands:

[code]

Or, just delegate this through a plugin model. I'm not sure why Bazel got its own build block, but if we were to retrhink how to externalize bazel build, it will help w/ all the other build tools.

[code]

[2018-08-09 19:50] loosebazooka commented on #222
@sgammon @hrqiang @joelhandwell are you currently using java and skaffold together? Would you mind explaining how you are currently using it? And what you're hoping to get out of a skaffold/jib integration (for example: automatic rebuild, tag injection). It will help us understand what user needs are.

[2018-08-09 19:53] bryanlarsen opened #890 "Support for docker's "--target" option"
In #889 I asked for support for dependent artifacts.    Instead, we could combine our dependent Dockerfile's into multi-stage Dockerfile's, which skaffold does support.

Then in production, we can take advantage of docker's "--target" to tag and push the intermediate stages.

A naive interpretation of this would end up with 8 large Dockerfiles only differing in the last stage, which is sometimes o

[2018-08-09 20:29] joelhandwell commented on #222
@loosebazooka using now but struggling with war. For now I'm using it to containerize an war by using jetty embedded mode and making fat jar file out of Main.kt file to be installed in a jdk container. Gradle / maven integration with plugin is also needed too.

[2018-08-10 13:37] nathanph commented on #890
This is a repeat of #635, yes?

I'd also like to see this functionality.

[2018-08-10 15:51] lenlen opened #891 "Deploy a Job"
### Expected behavior
I have a simple application that I'd like to deploy with skaffold. In particular my application is a kind: job.

### Actual behavior
If I deploy with run command everything works well. If I deploy with dev the first time works, then simply modify the source code but  when skaffold tries to apply I have this error:
[code]

### Skaffold YAML
To try this I've started from "getti

[2018-08-11 09:09] Place1 commented on #543
It'd be nice if skaffold would allow you to defined variables that are rendered into your manifests. These ideally could be global or profile specific and could be sourced from environment variables e.g.

[code]

then your k8s manifests could have the following:
[code]

[2018-08-11 15:05] dgageot commented on #890
Closing as a duplicate of #635

[2018-08-11 18:03] dlorenc commented on #890
I think you forgot to actually close, @dgageot  :)

[2018-08-11 18:03] #890 closed

[2018-08-11 19:25] bryanlarsen commented on #635
There's a workaround for --target in #890.

[2018-08-11 21:28] sean-schaefer commented on #889
:+1: Would also like to see this. My project is structured as a monorepo with many microservices, and common library code that many of the services use:

[code]

The common library is packaged into a Docker image that some of the other Dockerfiles inherit. Ideally Skaffold could detect changes in the common image’s workspace, rebuild it, and trigger rebuilds of any other images that depend on it.

[2018-08-12 21:09] Dm3Ch opened #895 "Make skaffold helm deploy be completable with helm image structure convention"
### Expected behavior
Make skaffold work with default helm image structure (https://github.com/GoogleContainerTools/skaffold/blob/master/examples/helm-deployment/skaffold-helm/values.yaml#L6)
### Actual behavior
Skaffold using own image variable that stores image name and image tag together in string

[2018-08-12 23:07] #895 closed

[2018-08-13 15:56] dlorenc commented on #829
Does release documentation exist anywhere?

[2018-08-13 15:57] dlorenc commented on #785
From the helm docs:
https://github.com/helm/helm/blob/master/docs/tiller_ssl.md

It looks like we'd need to add support for the TLS parameters to the helm configuration object in Skaffold, then pass those on the command line.

[2018-08-13 15:59] dlorenc commented on #787
I don't think we've seen one of these since I switched to GCR.

[2018-08-13 15:59] #787 closed

[2018-08-13 16:00] dlorenc commented on #725
I think this was added with #885

[2018-08-13 16:00] #725 closed

[2018-08-14 04:54] inadarei commented on #799
@dgageot tried with lates Skaffold + Kube from Docker4Mac and it worked like a charm.

Will try with the original minikube + latest Skaffold and report back. Thank you!

[2018-08-14 14:51] bryanlarsen commented on #891
I also would like to run a job using skaffold.   My use case is for database seeding and migrations.  For the moment we're just using a 'restartPolicy: Never' pod.

[2018-08-14 20:34] philips commented on #226
This looks promising https://github.com/vapor-ware/ksync

cc @pquerna

[2018-08-15 03:06] Miyurz commented on #653
@r2d4 Not sure how I could use git short tag in deploy. Can you throw more light on this ?
This is how my skaffold.yaml looks like

[code]

[2018-08-15 05:03] #78 closed

[2018-08-15 11:08] jessesuen commented on #346
@bhack sorry for the late response. i'm pruning bugs and noticed a one of our bugs got linked here. I think Skaffold is very compatible with ArgoCD in that Skaffold handles the early container image development very well, and ArgoCD handles more of the finalized deployment of images very well, specifically from git.

One way I look at it is: Skaffold helps you rapidly develop your application to a

[2018-08-15 17:26] sean-schaefer opened #899 "Skaffold fails to patch resources with deploy result labels using Helm deployer"
### Expected behavior
When running `skaffold dev` configured to deploy using Helm with a custom namespace, it should be able to add deployer information to the labels of created resources.

### Actual behavior
After running `skaffold dev` there is a warning for every resource following the successful helm deploy:
[code]
This brings my deployment time from ~9seconds to ~45 seconds (there are many o

[2018-08-16 17:34] balopat commented on #799
Hi @inadarei, please reopen this if you still see the issue, thank you!

[2018-08-16 17:34] #799 closed

[2018-08-16 18:38] dlorenc opened #902 "Release v0.12.0"

[2018-08-16 21:25] balopat opened #906 "published image version is still wrong"
Got:
[code]
Expected
[code]

[2018-08-17 20:27] ahmetb commented on #887
I got another person repro this too.

[2018-08-17 22:00] balopat commented on #891
Just so that I understand this better - @bryanlarsen you would trigger the database seeding and migration task as a separate job before the app is deployed?

@lenlen - can you tell me more about your use case for a job?

[2018-08-17 22:58] ahmetb opened #910 "skaffold prints upgrade message even on the latest version"
1. install skaffold via `brew install skaffold`.

2. `skaffold version` says v0.12.0-10-g5d267676

3. `skaffold run prints`:

    `There is a new version (0.12.0) of skaffold available. Download it at https://storage.googleapis.com/skaffold/releases/latest/skaffold-darwin-amd64`

😭

[2018-08-17 22:59] ahmetb commented on #910
One thing to note as it might make difference: my Homebrew directory $HOMEBREW is not `/usr/local`; it's `$HOME/.brew`.

This causes all homebrew pkgs to be built from the source as opposed to being downloaded from the Homebrew Bottle (binary build from the cloud). Building locally might be causing the dirty build (`-g5d267676` part).

[2018-08-17 23:05] ahmetb commented on #910
Dammit it looks like this was somewhat a building-from-source issue.

`brew uninstall --force` + `brew install` solved it. My bad.

[2018-08-17 23:05] #910 closed

[2018-08-17 23:12] ahmetb commented on #910
Correction: this (v0.12.0-10-g5d267676) happened because apparently I previously installed v0.11 with `brew install skaffold --HEAD` which caused the upgrade to happen with `--HEAD` implicitly, which put the build 10 commits ahead of the v0.12.0 tag.

Maybe the version check can be relaxed to check with regexp `"^"+$VERSION+"\w?(.*)$"` so that dirty versions are accepted.

[2018-08-17 23:15] balopat commented on #910
Thank you for documenting this!!

[2018-08-17 23:45] balopat commented on #887
I confirm that this is an issue with how we do the labelling, we update the labels immediately after the service was deployed which then confuses the loadbalancer.

![image](https://user-images.githubusercontent.com/635073/44292959-cadcb700-a23c-11e8-8592-fca60d3c89b2.png)

[2018-08-18 00:12] ahmetb commented on #887
AWESOME! Thanks @balopat .

I was seeing the `last-applied-configuration` even on a clean `skaffold run` which got me thinking whether skaffold is applying things twice.

Then I thought "I guess this annotation just exists when you deploy things with kubectl-apply". I shouldn't have thought that. Well at least now we know what to fix. 🥇

[2018-08-20 22:58] balopat commented on #253
hey all, trying to clarify this a bit further - there seem to have two use cases:

@mmarchetti are you thinking about a `skaffold run --tail` type of command?
@dgageot  `skaffold logs` would be a separate command similar to `kubectl logs` right?

[2018-08-21 03:34] phuongnt287 opened #912 "Set value for map"
I cannot override annotations value in value.yaml which is in map format as below:
[code]
### Actual behavior
cannot unmarshal !!map into string
### Information

- Skaffold version: v0.7.0
- Operating system: ubuntu
- Contents of skaffold.yaml:

[code]

[2018-08-21 13:55] dgageot commented on #253
I really like the `--tail` flag more than the `skaffold logs` command

[2018-08-21 16:53] priyawadhwa commented on #253
Sounds good, I'll get started on this with the flag then!

[2018-08-21 17:27] bhack commented on #94
I think that debugging it is a very important feature to be covered in dev.
What is the debugging hipotesis of the Skaffold dev loop? How it is supposed currently to do debugging?

[2018-08-21 17:38] balopat commented on #912
I think you wanted to use `overrides` instead of `setValues`.

[code]

Does this help?

[2018-08-21 18:59] bhack opened #913 "Skaffold REPL"
Can we have a smart way to trigger the rebuild?

Sometime the bootstrap time of the command it is quite heavy (i.e. suppose we are bootstrapping Tensorflow code command). I don't want to waste cycles every time I modify one of the files of an artitifat until "I'am ready".

A solution is to put down and up Skaffold between long and short interactive code change sessions but it is not so pratical.

[2018-08-21 20:40] priyawadhwa commented on #253
Just to clarify -- do we want a continuous log stream (like with `skaffold dev`), or to print out whatever logs there are once after deployment?

[2018-08-21 20:46] balopat commented on #253
`--tail` would be a continuous log stream until Ctrl+C.

[2018-08-21 20:46] priyawadhwa commented on #253
Thanks @balopat !

[2018-08-21 22:26] balopat commented on #14
/cc @nkubala can you take a look if this is still an issue?

[2018-08-21 22:32] balopat commented on #27
Is this an issue with the envTagger? Can you provide more details please?

[2018-08-21 22:36] balopat commented on #41
ping @dgageot, is this fixed?

[2018-08-21 22:39] nkubala commented on #61
@dgageot what else needs to be done here?

[2018-08-21 22:46] balopat commented on #511
This will be probably implemented as a contextual config parameter. Global config is something we are working on actively: #886

[2018-08-21 22:46] balopat commented on #104
closing as a dupe of https://github.com/GoogleContainerTools/skaffold/issues/511

[2018-08-21 22:46] #104 closed

[2018-08-21 22:51] balopat opened #915 "Support deploying to multiple kubernetes contexts"
This came up as an idea in https://github.com/GoogleContainerTools/skaffold/issues/104.

In a multi-artifact project, skaffold would be able to deploy each artifact to a different namespace/context.

If you think your use case would need this functionality, please get in touch and describe it for us here!

[2018-08-21 22:57] ahmetb opened #916 "skaffold dev: not cancelling the in-flight build on change"
(skaffold v0.12.0)

**Observed behavior:**

- During `skaffold dev`, when I change+save a file, docker build gets kicked off.
- while it's going on, when I change+save a file again, the previous build still goes on, skaffold doesn't cancel/stop the build.

This is significantly noticeable in the user experience.

**Expected:**
- skaffold cancels the ongoing build when it detects a change to the re

[2018-08-22 03:12] phuongnt287 commented on #912
Yes, I have tried this and it is done as my expect.
Thank you for your help!

[2018-08-22 06:58] dgageot commented on #61
@nkubala image pruning is not done but we could create a new issue for that

[2018-08-22 06:59] #41 closed

[2018-08-22 07:02] dgageot commented on #916
@ahmetb I'll have a look

[2018-08-22 18:43] balopat commented on #912
Great to hear, thanks for getting back to us!

[2018-08-22 18:43] #912 closed

[2018-08-22 19:35] #635 closed

[2018-08-22 21:15] balopat commented on #887
an update: we are thinking about how to get around the labelling issue, some of the crappy alternatives that came up are:
 1) don't label services at all (works, but not ideal as it's inconsistent)
 2) label loadbalancer services only after external ip is assigned (there might be other issues preventing)
 3) label loadbalancer services after a certain timeout (e.g. 2 minutes is mostly good for GKE

[2018-08-22 21:33] nkubala opened #920 "Skaffold fails to label API objects created with multi-document JSON k8s manifest"
### Expected behavior
Skaffold correctly labels all API objects in kubernetes

### Actual behavior
Labeling on the API objects created through the JSON manifests fails. The objects are created successfully (aka deployment succeeds), but labeling fails with:

[code]

I deployed to GKE, so inspecting the Service in the cloud console, I can see that there are no labels on the `leeroy-app` service, bu

[2018-08-22 21:59] nkubala opened #921 "Skaffold fails to clean up multiple artifacts when deploying from JSON k8s manifests"
### Expected behavior
After running `skaffold dev` and then CTRL+c, all deployed API objects should be removed.

### Actual behavior
The first encountered API object from the manifests is removed successfully, but all others fail.

[code]

### Information

- Skaffold version: v0.12.0
- Operating system: Debian 4.9.82
- Contents of skaffold.yaml: see `examples/microservices/skaffold.yaml`

### Step

[2018-08-22 23:47] ahmetb commented on #887
I think ideally this should be fixed in Kubernetes core. The service controller should not be easily confused and get stuck. If you have a reliable repro, please open an issue to kubernetes/kubernetes.

[2018-08-23 03:33] bhack commented on #731
Sorry I am not on this anymore currently so I have not the setup ready test this immediately. Can you test it in the meantime?

[2018-08-23 04:16] ahmetb opened #922 ""skaffold deploy" is not useful"
I cannot figure out the use case for "skaffold deploy".

This command is not able to populate the image tags. Without that, all it's doing is corrupting the Deployments by deploying the tag-less images.

This command cannot use the result of "skaffold build" like this (as far as I know):

    skaffold build > images.txt
    skaffold deploy < images.txt

Without these functionality this command jus

[2018-08-23 05:39] #253 closed

[2018-08-23 06:01] ianlewis opened #923 "Compile errors hard to find in output"
skaffold dev outputs logs from Pods in the cluster so when updating a service and getting compile errors the errors flow up in the terminal and can be hard to find.

🚀 Moonshot: It would be really cool if you could enter commands into skaffold while it was running to turn off Pod logging dynamically

[2018-08-23 11:46] dgageot commented on #923
@ianlewis would a mode that stops all the logs until everything is built make sense?
Like you change some code, it triggers a rebuild that fails, il won't print the logs until you fix the issue. I think it could be the default behaviour

[2018-08-23 15:59] ahmetb opened #927 "Customized docker push check"
🚀 This is a moonshot idea. :P

I have 10 microservices in my skaffold.yaml and when I target a remote GKE cluster, a fully cached `skaffold run` takes 60 seconds.

Half (maybe more) of this time is being spent on doing the noop "docker push".

From the output I'm seeing that docker CLI is checking all the layers one by one whether they're pushed. BUT, doesn't it just need to check the topmost laye

[2018-08-23 16:03] ahmetb commented on #923
+1 for this. Don't stream logs anymore until all builds are succeeding. It can probably even build something like:

    ERROR: docker builds are currently failing for images [gcr.io/foo/bar, gcr.io/foo/quux]

[2018-08-23 18:40] balopat commented on #923
I like the idea of stopping the logs too.
We can create a new issue for the interactive skaffold idea (iSkaffold?:)), I think we need more thoughts/design around that, but could be useful for other use cases too? e.g. maybe #913

[2018-08-23 19:43] balopat commented on #922
The use case would be to use `skaffold deploy` as part of other orchestration tools. I think we should figure out the tagging situation with `skaffold deploy`.

[2018-08-23 20:14] ahmetb commented on #923
Yeah I've been thinking about some interactive terminal where there are multiple panes: One pane I get to uncheck boxes to stop certains services from being watched/logged, another pane that shows build status, another pane shows logs...

[2018-08-23 20:14] balopat commented on #887
I don't think this is Kubernetes core specific, this looks like a GKE LoadBalancer specific issue. I will open an issue with them though.

[2018-08-23 20:35] ahmetb commented on #887
Service controller (+cloudprovder support) is in Kubernetes core (https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/service and https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce_loadbalancer_external.go), therefore I recommend opening a GitHub issue. (:

[2018-08-24 16:12] mxey commented on #922
See also https://github.com/GoogleContainerTools/skaffold/issues/653

[2018-08-25 23:59] rsyvarth commented on #891
I would also be interested in some sort of better support here to enable us to run one-off jobs as part of the deployment process.

We have a migration process that runs with each release of our code that updates schema. Ideally we'd like to do the following in our flows:
- `skaffold dev`: Used by developers and triggers the migration Job on the deploy step so we can ensure the DB (or any other st

[2018-08-26 18:50] Uvedale opened #931 "Skaffold dev creates deployment loop when helm chart has dependencies"
### Expected behavior
After running `skaffold dev` and the initial build and deployment is done, it will only trigger a new build / deploy when I make a change to the artifact directory or helm chart directory.

### Actual behavior
After the initial build, the chart is continuously re-deployed in a loop.
This is because as part of the deployment process, `helm dep build` is run which re-creates th

[2018-08-27 16:37] balopat commented on #891
I'm wondering if you tried using [init containers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/)? Would that be sufficient for your use cases?

[2018-08-28 05:29] Place1 commented on #543
One limitation of profiles is that it requires you to hardcode values into skaffold.yaml which isn't desirable when the values are secrets.

[This closed issue](https://github.com/GoogleContainerTools/skaffold/issues/75) touched on a solution to this problem.

Also, I've found profiles to be very verbose. Consider the case where you want to change a docker build argument (as mentioned in #562) bet

[2018-08-28 15:46] cliveza commented on #922
Yeah, I just picked up on this too. I thought I could `

[code]
While the build command is able to build an image with the correct tag, using an environment variable and envTemplate, the deploy command just ignore this all together.

[2018-08-28 18:31] danwkennedy commented on #502
I can confirm that this is still an issue in v0.12.0.

The Dockerfile structure looks like:
[code]
Once my service comes online, Skaffold will output the following two errors periodically until I stop the process:
Error processing base image for onbuild triggers: getting remote config: getting image: Get

[code]

[2018-08-28 19:09] jonjohnsonjr commented on #502
@danwkennedy  that looks like what I described in [my comment](https://github.com/GoogleContainerTools/skaffold/issues/502#issuecomment-388533463). Skaffold is trying to fetch the image `library/base` from Docker Hub instead of using the previous stage.

[2018-08-28 21:32] therealdealneil commented on #899
We're observing the same results using kustomize to deploy.

[2018-08-28 22:37] skamansam opened #934 "breaking up manifest files causes IP to not get assigned"
### Expected behavior
When I use multiple files in `deploy.kubectl.manifests`, I expect my service to come up in the same way as if the files were in a single manifest.
[code]

### Actual behavior
When using multiple files, i get the following:
[code]

### Information

- Skaffold version: 0.12.0
- minikube version: 0.28.0
- Operating system: Fedora 28 x86_64
- manifest file copied verbatim from ht

[2018-08-29 03:32] zhorzh opened #936 "cacheFrom option doesn't work"
Thanks a lot for building skaffold!
I feel like I will not need any CI/CD tools soon :) ...almost.

I want to speed up the container building process for my project on Google Cloud.
The problem is that **cacheFrom** option is ignored completely.

### Expected behavior
**cacheFrom** should force build process to use cache from the previously built image
### Actual behavior
build process repeats eve

[2018-08-29 07:38] heroic opened #937 "Skaffold throws an error for multi stage builds"
### Expected behavior
The docker image should get built
### Actual behavior
Dies with the error:
[code]
### Information

- Skaffold version: v0.11.0
- Operating system: jenkins x devpod
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. create a jenkins x devpod
2. sync the default nodejs quickstart
3. edit the dockerfile to these contents:

[code]
4. skaffold dies

[2018-08-29 15:26] dgageot commented on #936
Thanks @zhorzh for reporting this issue. Indeed, a fix is needed to make this work on Cloud Builder. the images used in cacheFrom should be pulled before hand. See https://cloud.google.com/cloud-build/docs/speeding-up-builds#using_a_cached_docker_image

[2018-08-29 15:28] dgageot commented on #937
might be linked to #502

[2018-08-29 15:30] dgageot commented on #927
@ahmetb I don't think checking the topmost layer is an option. Summoning @jonjohnsonjr to cast the light on this issue!

[2018-08-29 15:39] dlorenc commented on #927
We can't check just the topmost layer, but we can check the manifest itself. Unfortunately docker doesn't always know the digest locally, so computing the sha to check will be slow.

[2018-08-29 15:45] dgageot commented on #937
@heroic I can't reproduce your issue. Do you by chance have an open-source project to test? Or maybe you could coma up with a simpler project that has the same issue.

[2018-08-29 16:18] dgageot commented on #502
Oh sorry @priyawadhwa I had not seen that you were assigned to this issue and I submitted a PR

[2018-08-29 16:59] priyawadhwa commented on #502
@dgageot no worries! :)

[2018-08-29 17:59] balopat commented on #891
@priyawadhwa as we discussed, let's attempt to do one-by-one deployment of k8s artifacts and do `kubectl delete -f ` on failed ones where error message contains `field is immutable`

/cc @r2d4

[2018-08-29 19:23] danwkennedy opened #939 "Label docker images"
It'd be great to be able to specify a list of labels to apply to the docker image that gets built every time Skaffold is run. This would allow for a Skaffold-specific label to be set (i.e. `process=skaffold`) which in turn would allow devs to use docker's prune command to clean up unneeded images. In this case `docker image prune --filter label=process=skaffold`.

[2018-08-29 21:44] #906 closed

[2018-08-29 21:44] #829 closed

[2018-08-29 22:07] balopat opened #942 "support dependencies for kustomize yamls"
As @mxey pointed out on [Slack](https://kubernetes.slack.com/archives/CABQMSZA6/p1535440771000100):

"Skaffold does not support dependencies through Kustomize yet. I only saw this TODO comment https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/kustomize.go#L92, but there is no issue to track this. Would it make sense to add a command to Kustomize or maybe use Kustomiz

[2018-08-30 01:24] #14 closed, assigned to nobody

[2018-08-30 18:26] heroic commented on #937
@dgageot I figured this out. Turns out this wasn't a skaffold issue but GKE, which runs docker version 17.03 on the cluster. Docker 17.03 does not support multi stage builds

[2018-08-30 18:26] #937 closed

[2018-08-30 18:55] balopat opened #943 "Release v0.13.0"

[2018-08-30 21:26] r2d4 commented on #942
We can do this now

https://github.com/kubernetes-sigs/kustomize/pull/265
https://github.com/kubernetes-sigs/kustomize/issues/144

[2018-08-31 17:30] ahmetb opened #947 "skaffold trying to create a bucket and failing"
### Actual behavior

`skaffold run` failed with

`build step: building [gcr.io/testproject100000/emailservice]: creating bucket if not exists: googleapi: Error 409: You already own this bucket. Please select another name., conflict`

### Expected behavior

v0.13.0

Just tried `skaffold run -p gcb` with googleCloudBuild on a new project. Project had GCB enabled and at least one image already in GCR

[2018-08-31 17:38] nathkn opened #948 "Allow helm deploy to get the value of the generated tag"
I would like my the helm deploy configuration to be able to overwrite a value in my values.yaml file to the generated tag so I could make use of it in my helm chart.

Currently I'm able to extract the image name with the appended tag, but I was unable to find any functionality to extract the appended tag separate from the image name.

so a skaffold.yaml that looks something like this:
[code]

[2018-08-31 19:30] nathkn commented on #948
I found a simpler solution by modifying the _helpers.tpl file for the chart, so I'll close the issue:
[code]

[2018-08-31 19:30] #948 closed

[2018-08-31 19:51] lucperkins commented on #97
Having changes to a config file trigger changes to the appropriate ConfigMap, Deployment, etc. would be fantastic, but probably difficult to implement and more suited for a release further down the line. In the short term, however, I think it would be extremely helpful to be able to define configs even *without* auto-updating. Something like this:

[code]

[2018-08-31 20:05] r2d4 commented on #947
I agree. However, Cloud Build doesn't create the bucket for you afaik, its actually created by gcloud. This might have changed?

[2018-08-31 20:14] ahmetb commented on #947
This wasn't on my project so I had no way of reproing this. But I'm seeing

[code]

Sooo maybe the `if not exists` check isn't working correctly.

[2018-09-01 10:06] zx8 opened #949 "What's the font used in intro.gif?"
From https://github.com/GoogleContainerTools/skaffold/blob/master/docs/img/intro.gif

See ticket title 👇

![image](https://user-images.githubusercontent.com/8544900/44944912-0ea3f480-add7-11e8-82c1-c8100ab35283.png)

[2018-09-01 12:28] apobbati opened #950 "Using skaffold + kaniko without GCS"
Is there an example of trying to use Skaffold and Kaniko together without using GCS ?

[2018-09-04 13:32] stevenjm commented on #543
Another use case: The ability to interpolate environment variables within a `skaffold.yaml` would also be useful for builds. We have a build that makes use of a `.npmrc` with an authentication token that gets passed to Docker from Skaffold as a `buildArg`. (It is a multi-stage Docker build, so the image which uses this token never leaves the build machine.)

Rather than hard coding this in `skaffo

[2018-09-04 16:53] balopat commented on #949
cc @dgageot

[2018-09-04 22:15] balopat commented on #934
Yes, this shouldn't behave like this. This shouldn't be a skaffold bug though, most probably something is happening in minikube. Can you provide a minimal reproduction? If this turns out to be not a skaffold issue, we should open something on the minikube repo rather.

[2018-09-04 22:26] balopat opened #952 "Create a benchmark script for deployment speed"
This is to have some form of automation for the measurements of #940

[2018-09-04 22:31] #899 closed

[2018-09-04 22:34] dlorenc commented on #195
This is how we could do it with GCB: https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher

[2018-09-04 22:41] balopat commented on #226
Closing this, as this issue is covered by the following issues:
- context streaming: https://github.com/GoogleContainerTools/skaffold/issues/195
- static file sync: https://github.com/GoogleContainerTools/skaffold/issues/477
- smart trigger: #913
- ignore for watch: https://github.com/GoogleContainerTools/skaffold/issues/20
Also we only build & deploy when the relevant source dependencies change.

[2018-09-04 22:41] #226 closed

[2018-09-04 22:53] balopat commented on #329
closing for now, if someone runs into this ownership issue, please reopen it.

[2018-09-04 22:53] #329 closed

[2018-09-05 04:56] balopat commented on #412
Fixed in #879.

[2018-09-05 04:56] #412 closed

[2018-09-05 05:45] atugade commented on #950
You know I've been wondering myself because I need this feature as well and it looks like gcs is the only way right now:

https://github.com/GoogleContainerTools/skaffold/blob/1354cb4c52f502e87c9c94ddcf980c41698c39f8/pkg/skaffold/build/kaniko/run.go#L61

[2018-09-05 06:35] balopat commented on #950
Yes, currently only GCS is available. I assume you would like to use S3?

[2018-09-05 06:37] atugade commented on #950
@balopat that and also local directory as well, I have a use case for that as well.

[2018-09-05 19:33] r2d4 commented on #922
I think the right fix for this is that `skaffold deploy` should also generate the tag through the git commit tagger (or env tagger).

[2018-09-05 19:33] r2d4 commented on #922
Eventually we might want to get rid of the "non-stable" taggers that rely on information from the build artifact itself

[2018-09-06 04:16] ahmetb commented on #346
Check out the https://github.com/GoogleCloudPlatform/microservices-demo/ app by Google. It uses `skaffold` to deploy a cloud-native app composed of 10+ services.

[2018-09-06 04:27] #502 closed

[2018-09-06 04:35] dgageot commented on #949
@zx8 I couldn't find which one I used. Why ask?

[2018-09-06 12:35] thomas-riccardi commented on #635
@dlorenc As it is only a workaround, shouldn't this issue be kept open?

[2018-09-06 18:12] r2d4 opened #953 "Builders should build all artifact types"
Currently some builder types (GCB, Local, Kaniko) are incompatible with artifact types (Bazel, Dockerfile, jib (soon)).

|  | dockerfile | bazel | jib |
|:------:|:----------:|:-----:|:---:|
| local | x | x | x |
| GCB | x |  | x |
| Kaniko | x |  |  |

**How can GCB Support other builder types?**
The generated cloud build YAML should use the skaffold docker image as the builder, which contains ba

[2018-09-06 18:55] balopat commented on #953
Nesting/restructuring is orthogonal. We can validate the config in its current form too.

+1 on that validation could be a useful stop-gap until we make a combination supported.

Whether to support GCB+bazel/jib and kaniko + bazel/jib I think we need more evidence, and this issue would be for collecting user feedback on it.

If users find these combinations interesting, please upvote, thumbs up he

[2018-09-06 18:57] balopat opened #954 "Introduce validation for currently unsupported combinations"
Context: https://github.com/GoogleContainerTools/skaffold/issues/953
Unsupported combinations should throw an error before running skaffold commands.

[2018-09-06 19:06] balopat opened #955 "Discussion: rethink builders/artifacts"
The concept of builders is a bit confusing:

**Naming**: Is a builder is really the _thing_ that builds or just a build context?

**In-cluster vs local vs remote**:

What is the `local` builder?  It depends on the "artifact" - for a docker artifact it can be the Docker Daemon? Docker CLI? Buildkit?

Kaniko builds in-cluster but only Docker artifacts. It's never going to support bazel or jib.

GCB

[2018-09-07 07:03] zx8 commented on #949
I liked it and wanted to use it in presentation in a few weeks.

If you manage to find it, please let me know!

[2018-09-07 07:03] #949 closed

[2018-09-07 08:57] #923 closed

[2018-09-07 09:28] #931 closed

[2018-09-07 11:28] Uvedale commented on #824
It is possible that https://github.com/GoogleContainerTools/skaffold/issues/931 will fix this as it removes dependency charts from the watch list. Perhaps try build from master and see if it works now?

[2018-09-07 12:10] dgageot commented on #337
Sorry @F21 I'm going to close this one because we've never been able to reproduce the issue. Please feel free to reopen with another way to reproduce.

[2018-09-07 12:10] #337 closed

[2018-09-07 14:04] jrbaudin commented on #887
Just wanted to throw in a little +1 on this, experiencing the same issue

[2018-09-07 14:46] dlorenc commented on #953
Thanks for the explanation, that makes sense to me!

[2018-09-07 17:07] ahmetb commented on #887
It's fixed in https://github.com/kubernetes/kubernetes/pull/68087 it's currently not picked into any of the 1.12 releases.

Since this is in GKE master and GKE tends to pick up the new k8s versions through a long vetting process (i.e. today the default gke version is 1.9.7, and k8s just released 1.12.0-beta.1), it's unlikely that this will be fixed in GKE in the next 3 months.

It might be worth c

[2018-09-07 17:26] balopat opened #959 "Remove service labeling temporarily"
We should remove adding skaffold labels to services temporarily as a stop gap measure to fix https://github.com/GoogleContainerTools/skaffold/issues/887 until kubernetes/kubernetes#68087  is picked into GKE releases.

[2018-09-07 17:34] balopat opened #960 "Set headers for docker push to identify Skaffold"
Set Skaffold as the user agent when we push images.

[2018-09-07 18:26] enriched opened #961 "skaffold dev not working with bazel artifact and helm deployment"
### Expected behavior

Running `skaffold dev` with bazel artifact and helm deploy works.

### Actual

Running skaffold dev produces:

[code]

### Information

- Skaffold version: v0.13.0
- Operating system: macOS 10.13.6
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Pull example [here](https://github.com/Intelight/bazel-javascript/tree/node-typescript-app-skaffold/e

[2018-09-08 06:15] #289 closed

[2018-09-10 05:12] adrienjt opened #962 "New version warning output leak in quiet mode"
### Expected behavior

Even when I'm running an outdated version of skaffold, `skaffold build -q` should only return the templated output, e.g.:
[code]
This is especially important when skaffold is run by a CI/CD script.

### Actual behavior

Running skaffold v0.12.0, `skaffold build -q` returns the templated output directly followed by the new version warning, e.g.:
[code]

[2018-09-10 05:51] bryanlarsen commented on #961
Same problem exists using the helm-deployment repo in the skaffold repository.

[2018-09-10 18:41] balopat opened #963 "Release 0.14.0"

[2018-09-10 22:05] r2d4 commented on #962
Good catch, you're absolutely right. Sent a fix

[2018-09-11 05:05] #962 closed

[2018-09-11 13:54] dgageot opened #966 "Auto configure docker auth to push to gcr.io"
When Skaffold is pushing an image to gcr.io, it would be convenient if it could configure automatically the credential helper.

Otherwise, a user has to follow the guide [here](https://cloud.google.com/container-registry/docs/advanced-authentication). All it does is add those lines to `~/.docker/config.json`:

[code]

We could add only the line that is required to push the image we want to push. A

[2018-09-11 16:30] r2d4 commented on #966
I think it makes sense as a fallback. i.e. if the config.json doesn't have an entry for *.gcr.io, then we can fallback to this hardcoded list.

The only problem with using ours as the source of truth is that things might get out of sync (I'm not sure how often a new url would get added)

[2018-09-11 16:33] r2d4 opened #967 "Remove docker-credential-gcr from Dockerfile"
https://github.com/GoogleContainerTools/skaffold/blob/master/deploy/skaffold/Dockerfile#L37-L42

We can just remove this and use `gcloud auth configure-docker`

[2018-09-11 17:27] jfrndz opened #968 "skaffold dev: FATA[0002] watching files for deployer: listing files: unable to stat file : stat : no such file or directory"
### Expected behavior
I should be able to use `skaffold dev` to watch my source repo directory and automatically deploy changes.

### Actual behavior
`skaffold dev` immediately exits with an error. I am able to deploy changes manually using `skaffold run`.  This seems to happen consistently with every project I've tried.

Here's some console output when I try this with the setup in `examples/helm-

[2018-09-11 18:49] jfrndz commented on #968
#930 seems to describe a similar issue, so I set up a dummy values file to use as a _valuesFilePath_ in _skaffold.yaml_. Once configured, `skaffold dev` works as expected.

[code]

[2018-09-11 19:18] enriched commented on #961
This is what shows up when I run `skaffold dev`

[code]

[2018-09-11 19:19] dgageot commented on #961
Can you run skaffold dev -v debug

Le mar. 11 sept. 2018 à 21:18, Rich Adams <notifications@github.com> a
écrit :

[2018-09-11 19:32] enriched commented on #961
Based on what I saw in https://github.com/GoogleContainerTools/skaffold/pull/930 I added in a valuesFilePath in the helm release and that seems to fix it.

[2018-09-11 19:32] #961 closed

[2018-09-11 20:45] balopat opened #969 "Stabilize port forwarding"
We introduced port-forwarding for simple cases in #945.
This is an epic for all port-forwarding related issues that we want to solve in 1.0.0.

[2018-09-11 22:35] balopat commented on #968
Yes, #930 seems to be a fix for this, please stay tuned.

[2018-09-12 04:52] jsturtevant opened #970 "FATA[0004] watching files for artifact sample-cmd: listing files: unable to stat file (when symlink)"
### Expected behavior
`skaffold dev` runs as expected when parsing symlinks.  It appears when a symlink for the [ectd](https://github.com/etcd-io/etcd/tree/v3.3.8) project is parsed skaffold can not follow the link.

### Actual behavior
[code]

### Information

- Skaffold version: version... v0.13.0
- Operating system: ... ubuntu 18.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce t

[2018-09-12 05:41] jsturtevant commented on #970
It appears that `dep ensure` does some clean up on files which leaves behind a broken symlink in the vendor folder the etcd project.  Submitted a PR that handles the broken symlink.

[2018-09-12 06:30] enriched commented on #585
I think that this partially addresses #500, but in order to assign a tag that has been defined via tagPolicy would you need #783 as well?

[2018-09-12 06:41] #959 closed

[2018-09-12 09:02] atugade commented on #950
@priyawadhwa @balopat , I opened a PR for what I did so I could test out how it feels to use this tool with a local and s3 build context.

https://github.com/GoogleContainerTools/skaffold/pull/972

[2018-09-12 14:51] bryanlarsen commented on #889
@sean-schaefer, a single massive Dockerfile with multiple targets is working well for us and works fairly efficiently because of caching and because skaffold is really smart about only uploading files it actually needs to docker.   Setting the 'useBuildkit' flag makes it even faster so it doesn't even try to evaluate unused stages.

[2018-09-12 19:25] nkubala opened #974 "Port forwarding pods fails on microservices example"
### Expected behavior
Pods are port forwarded correctly

### Actual behavior
Skaffold fails to port forward both pods, with
[code]

### Information

- Skaffold version: built at commit `abe80329cf875d78257c654d177f297d1a9cf15d`
- Operating system: OS X
- Contents of skaffold.yaml: `microservices` example with skaffold.yaml generated from `skaffold init`

### Steps to reproduce the behavior

1. Run

[2018-09-12 21:33] r2d4 commented on #974
Can you post the skaffold.yaml just to make it a little easier to produce?

[2018-09-12 21:34] r2d4 commented on #974
One other thing, it works for the microservices example without skaffold init right? I think I tested that case.

[2018-09-12 22:49] derekperkins commented on #915
We run in a multi-cloud environment, so it's pretty annoying to have to remember which kubectl context you're in before deploying. It's a pretty easy way to accidentally deploy to the wrong region. I'd love to make skaffold cluster aware somehow.

[2018-09-13 01:04] adrienjt commented on #962
Thank you for the fix @r2d4 . Actually, I would go a step further and say that, even in "not-quiet" mode, the warning should not appear after the requested templated output. A client may want to see the full log and parse the last line(s) for the requested templated output, e.g., an image tag. IMHO, warnings are safer at the very beginning of stdout... at the risk of being overlooked. What do you

[2018-09-13 05:04] r2d4 commented on #962
I like the idea @adrienjt, however its implemented a bit differently. We send out a request at the start of the command to check for the update. If that command succeeds before the update check returns, we forget about it so that no extra latency is added. If the update check returns before the command exits, we queue it up and possibly print it at the end.

There is an environment variable `SKAFF

[2018-09-13 05:42] balopat commented on #950
Hi @atugade thank you for sharing your approach we will look to see what we can incorporate from it, as @priyawadhwa already started working on this 5 days ago and is getting pretty close.

[2018-09-13 13:33] BezVezeE commented on #336
Hey i have this issue aswell,

I have local kubernetes cluster and when i try to pull the image with docker pull gcr;//xx.xx.xx it works but when i try to create a deployment in kubernetes it gives the error,

besides gcloud auth configure-docker i also tried with configuring secrets with json file

this is my deployment configuration
[code]

has anybody have any idea

[2018-09-13 16:50] priyawadhwa commented on #950
@atugade thanks for sharing, I'll definitely take a look!

[2018-09-13 18:13] #974 closed

[2018-09-13 18:18] balopat opened #977 "Publish container-diff output as part of release notes"
Let's use container-diff to publish image differences introduced in each release.

[2018-09-13 18:19] balopat opened #978 "Clarify supported versions of kubectl (and others)"
Decide, document and implement a warning around supported versions of tools skaffold depends on.

[2018-09-13 18:33] r2d4 commented on #978
ref #40

[2018-09-13 19:04] r2d4 opened #979 "Watch unit test flake on Travis OS X"
[code]

https://travis-ci.org/GoogleContainerTools/skaffold/jobs/427999539

[2018-09-13 20:17] r2d4 commented on #94
I'm going to close this with #945. There is #969 with some additional ideas around how the feature might work.

[2018-09-13 20:17] #94 closed

[2018-09-13 20:47] ahmetb opened #980 "Proposal: support docker build "--pull" flag"
As far as I can tell, `build.artifacts.docker` field right now doesn't support `--pull` flag.

This flag is not so much required for local dev machine iteration but it is essential for picking up security fixes for images going to prod:

- **In local dev:** if I have `FROM alpine:3.8`, I don't want to --pull to cause a "docker pull alpine:3.8" every time I refactor my code.
- **While deploying (in

[2018-09-13 22:18] #963 closed

[2018-09-13 22:33] adrienjt commented on #962
Thank you for the explanation @r2d4, you're right, I wouldn't want a non-critical feature (really just informational) to block the critical path. The environment variable is a perfectly fine solution, especially because I don't think I would need it as a human, so I'll just set it in my CI/CD scripts. For other users, it would be nice to document those environment variables, not just in the source

[2018-09-16 21:46] nathkn commented on #296
Would a potential solution be to simply skip the `helm dep build <repo>` step for remote charts from repositories?
https://github.com/GoogleContainerTools/skaffold/blob/daefae119cdb44fdf3286a60b7dbd08931262603/pkg/skaffold/deploy/helm.go#L136

Similar to how I might run a command such as `helm install --dep-up stable/mariadb ...`, which would rely on `helm install`'s built-in pulling of dependenci

[2018-09-17 07:37] dgageot opened #984 "Run container-structure-test after build phase"
We should make it possible to run [container-structure-test](https://github.com/GoogleContainerTools/container-structure-test) after an image is built.

Thanks @jlandure for thew idea.

[2018-09-17 12:29] dgageot commented on #980
@ahmetb What about running with `--pull` each time we build an image for `skaffold run` and without this flag for `skaffold dev`?

[2018-09-17 12:30] dgageot commented on #967
@r2d4 What's the simplest way to test the image after the change is made?

[2018-09-17 12:31] dgageot commented on #960
@balopat do you know how that would work?

[2018-09-17 12:50] afoninsky opened #988 "Google cloud builds: cheaper instances"
According to annotated-skaffold.yaml - it is possible to use only N1_HIGHCPU_8 or N1_HIGHCPU_32 for remote builds.

But there are one more machine: n1-standard-1. It is not so fast, but much cheaper. Is it possible to add this option to enum `build.options.machine_type`?

https://cloud.google.com/cloud-build/pricing

[2018-09-17 12:51] afoninsky commented on #988
Also, default value for `diskSizeGb` is 200. Can we reduce it to 50-100?
[code]

[2018-09-17 13:55] bryanlarsen commented on #543
My build section is 50 lines of YAML and only about half complete.   One of the buildArgs is unique per developer, so I'd need to add 17 * 100 lines to my skaffold.yaml.

[2018-09-17 17:21] nkubala commented on #967
https://github.com/GoogleContainerTools/container-structure-test :)

You can run command tests to make sure the credential helper isn't there, to make sure gcloud is there, and to make sure `gcloud auth configure-docker` exits successfully, and maybe check the output to make sure some success string is present.

[2018-09-17 17:28] nathkn commented on #543
Personally I'd be in favor of allowing all fields in the skaffold.yaml to be able to be evaluated as envTemplates, just for flexibility of workflows.

I think a separate but related issue being discussed here is simply that skaffold doesn't allow profiles to inherit much of the defined yaml, as is spelled out in #789, so it might make sense to move that discussion over there.

[2018-09-17 20:40] arnaud-deprez commented on #543
I'm definetely in favour of allowing all fields to be templatized.
I can see different use cases at build or deploy time that can be parameterized depending the environment.

And IMOH, we should also consider default value for these parameters so if it is nothing is specify on dev workstation for example, default is applied. May bash syntax `${FOO:-fooDefault}` is good candidate ?

[2018-09-18 19:01] nkubala opened #992 "Add `test` phase to skaffold runner"
We've had a few out of band discussions about this so opening a broader issue here to track.

I'm considering adding a `test` phase that the runner executes between `build` and `deploy` to complete the story, with the `deploy` phase relying on all the tests to pass. This could potentially be extended to support other types of tests in the future, either specified by us or by the user through custo

[2018-09-18 19:42] nkubala commented on #984
I'm gonna have a look at this. cc #992

[2018-09-18 21:16] nkubala commented on #992
One idea I'm currently toying with is treating testers in a similar way to the builders and deployers, in that Skaffold supports multiple different implementations. The only real difference is that we can allow multiple testers specified for a given artifact (whereas with builders for example Skaffold only allows one). This would keep things in line with the pluggable architecture of the builders/

[2018-09-18 21:51] #979 closed

[2018-09-19 16:58] maddisondavid opened #994 "Helm Image Incorrectly parses tag when docker image contains a port number"
When an image contains a port number such as `myreg.com:8116/product/ui:test-tag` and an imageStrategy of `helm` the tag is incorrectly parsed

`skaffold run -v debug` provides the following:

[code]

### Expected behavior
It's expected that it would correct parse the tag from the image name by splitting from the colon on the right hand side.

.i.e. It should generate the following Helm command
[c

[2018-09-19 17:47] r2d4 opened #996 "Expose Watch API"
Expose the watch API through either HTTP or gRPC for IDE integration

[2018-09-19 17:48] r2d4 opened #997 "Keyboard shortcuts during skaffold dev"
During skaffold dev

Press 'b' to rebuild
Press 'd' to redeploy
Press 'r' to reload skaffold.yaml and skaffold run

Future features
Press 's' to resync

[2018-09-19 17:54] balopat commented on #997
cc https://github.com/GoogleContainerTools/skaffold/issues/913

[2018-09-19 17:56] r2d4 commented on #477
Removing @dgageot and @nkubala since I have a prototype of this that I'm planning to add

[2018-09-19 23:59] dlorenc commented on #997
This is awesome.

[2018-09-20 06:58] dgageot commented on #988
@afoninsky I believe there's no check on the value in Skaffold. Have you tried submitting a build with `n1-standard-1`? If it works, wdyt about fixing the `annotated-skaffold.yaml` with a PR?

[2018-09-20 07:54] afoninsky commented on #988
`skaffold build` says:
[code]

Current config:
[code]
[code]

So I believe there is a code issue

[2018-09-20 07:58] dgageot commented on #988
Ok, it seems that Cloud Build doesn't support this value. The way to use a `n1-standard-1` is to not specify any type...

Can you try to not specify any machine type? It should use the `n1-standard-1` type by default.

[2018-09-20 08:05] afoninsky commented on #988
Well, at least it was executed. But I can't see any information about machine type, so I _guess_ it is n1-standart-1. Any way how I can check it?
[code]

[2018-09-20 11:45] Place1 commented on #543
an alternative to the bash syntax which might be nice considering skaffold.yaml already uses go templating might be `'{{ .MyEnvVar | default "a-default-value" }}'` using a custom template function.

[2018-09-20 12:10] F21 opened #1002 "Storing variables in a well-known location"
This is feature request is somewhat similiar to https://github.com/GoogleContainerTools/skaffold/issues/543, but I think the spirit is somewhat different.

As mentioned in #543, it would be extremely useful to be able to interpolate environment variables into `skaffold.yml`. For a lot of use-cases this works well. However, I have a use-case where I want to interpolate some git credentials into my

[2018-09-20 20:49] cliffburdick opened #1003 "Latest Binary Out Of Date"
The latest binary download for Linux in the manual is for API version 2. All the examples use 3, and the help they provide "skaffold fix" doesn't work.

[2018-09-20 22:28] balopat commented on #994
Agreed, that is a bug, tag should be the right hand side of the _last_ `:` character.

[2018-09-20 22:29] balopat commented on #994
@maddisondavid do you want to take a stab at fixing it? :)

[2018-09-20 23:20] terabyte commented on #1003
I also ran into this, I ended up building skaffold locally to get the new version.

[2018-09-20 23:20] terabyte commented on #1003
For the future, if the version is not recognized, how about a better error message than just "couldn't parse config, try fix"?

[2018-09-20 23:31] balopat commented on #1003
+1 on better error messaging.
@terabyte if you want to use the head version, you could use the latest published binaries as well:

[code]

For example:

- the latest docs:
https://storage.googleapis.com/skaffold/builds/latest/docs/index.html
- the latest linux binary:
https://storage.googleapis.com/skaffold/builds/latest/skaffold-linux-amd64

[2018-09-20 23:40] balopat commented on #1003
The better error message could be:

"The version of this skaffold.yaml is <xyz> you are trying to run and skaffold was expecting an older <abc> version. If this is a skaffold example, we might have a newer version in master than the latest release of skaffold. You are on the current latest release (<latest release>). If this is an example from the skaffold github repo, try checking out the matchin

[2018-09-21 05:41] r2d4 commented on #1003
ref https://github.com/GoogleContainerTools/skaffold/issues/367

[2018-09-21 06:04] F21 opened #1004 "Debounce watcher"
I am finding that the watcher fires a bit too often. It would be nice if there is a debouncing mechanism in place.

I am able to trigger the watcher multiple times in 1 shot by doing the following:
- Saving multiple files in my IDE in 1 go
- Having a watcher in my IDE to run gofmt on save: this fires once for saving the file and a second time when gofmt formats the file.

[2018-09-21 07:36] dgageot commented on #970
@jsturtevant Can you check with master branch. I think it's fixed

[2018-09-21 07:37] dgageot commented on #824
@nathanph @mgyong @joonasmyhrberg Yes, I think it's fixed now

[2018-09-21 12:41] rsanders commented on #922
Could `skaffold build` write the build artifact names to an output file that is also read by `skaffold deploy`?   I see that it has support for outputting those, but it leaves the plumbing as an exercise for the user.

We are using skaffold in our CD pipeline, and we like having "non-stable" components like build ID in the docker image tag.  We also prefer to have separate build -> test -> deploy

[2018-09-21 13:19] dgageot opened #1006 "Fix the support for multiple deployers"
#586 should have introduced the support for multiple deployers.
But this is in fact rejected at the config level by `oneOf` annotations.
Removing those annotations doesn't solve the problem because then it's the code that applies profiles that's broken.

[2018-09-21 13:58] #967 closed

[2018-09-21 14:02] dlorenc commented on #996
SIGHUP is also pretty common to trigger a full config reload on unix systems.

[2018-09-21 14:10] #966 closed

[2018-09-21 14:54] cliffburdick opened #1008 "Add --cleanup to `skaffold run`"
I have a use case where I don't want to redeploy every time there's a source change, but I want the console to be attached after I deploy. As far as I can tell, skaffold run does not attach the console output. skaffold dev does, but it watches for source output. Should I trick skaffold dev into not watching for source changes?

[2018-09-21 14:56] MrTrustor commented on #947
Just ran into this on a brand new project trying to deploy the [hipster shop](https://github.com/GoogleCloudPlatform/microservices-demo/tree/1bab006af1d7d856b41ea67ec1824277120ae549).

GCR, GCB and GKE APIs manually enabled, a single GKE cluster created (as per instructions in the hipster shop README) and ran a `skaffold run -b gcb`.

[2018-09-21 15:35] ahmetb commented on #947
it clearly comes from

[code]

but I'm not sure why the following code fails to detect the bucket.

[code]

Eventual consistency???

[2018-09-21 15:43] jsturtevant commented on #970
Yes, fixed on master. Thanks for the update!

[2018-09-21 15:43] #970 closed

[2018-09-21 17:25] dgageot opened #1009 "Cleanup Dockerfile parsing code"
It's currently a big mess!
@r2d4: "they moved all that code to buildkit/dockerfile"

[2018-09-21 17:28] r2d4 commented on #1009
https://github.com/moby/buildkit/tree/master/frontend/dockerfile should help!

[2018-09-21 17:39] r2d4 commented on #947
I'm not actually sure what the right way to check for existence of a bucket is. That was the easiest way I thought would work.

We can
1. Delete that code, not create buckets ever
2. Figure out a more robust way to check for bucket existence

I think the first option is probably the best for now

[2018-09-21 17:42] r2d4 opened #1010 "Root skaffold.yaml needs VERSION build-arg now"
The skaffold.yaml at the base needs the a VERSION build-arg, now that we pipe that through

[2018-09-21 17:46] ahmetb commented on #947
I think your approach is right but why is this happening.

Maybe something else is creating the bucket at the same time. That would cause ifs to pass then Create to fail.

[2018-09-21 17:46] ahmetb commented on #947
Maybe we should capture  429 error from Create (as it always means bucket exists and you own it). SDK makes this possible.

[2018-09-21 17:46] r2d4 commented on #996
SIGHUP could very well trigger a full config reload across all watchers, but this issue is more about exposing the actual Watch API to get added, modifed, and deleted files to trigger both rebuilds and redeploys. That way, IDEs could take ownership of tracking changes, and let skaffold know when and what has changed.

I imagine a payload like the "watch events" I'm about to add back:

[code]

i.e.

[2018-09-21 17:51] r2d4 commented on #922
@rsanders yes, skaffold build already outputs the go template of the struct that deploy uses. Deploy should be able to read from that generated output

I imagine something like

[code]

or

[code]

or
[code]

[2018-09-21 17:54] r2d4 opened #1011 "Remove $ from example commands"
Inspired by:

https://twitter.com/krisnova/status/1041707656761761794

https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md014---dollar-signs-used-before-commands-without-showing-output

WDYT?

[2018-09-21 17:57] cliffburdick commented on #1008
@dgageot This isn't *quite* the same. Ctrl+C on --tail doesn't kill the pod when you're done as far as I can tell.

[2018-09-21 18:10] GeertJohan opened #1012 "Completion support for zsh"
Currently, the `skaffold completion` subcommand ignores any arguments and always outputs bash completion. Since `skaffold completion zsh` didn't error, I expected it to return a valid zsh completion script only to find out it was running the bash completion script.

I thinks two seperate PR's can be created to fix this issue.

The first is very simple and just manages expectation. The shell argume

[2018-09-21 20:19] r2d4 commented on #1012
Agreed. Both the kubectl and minikube zsh completion should be same (except s/minikube/kubectl/) and we can just copy that over. We would absolutely be open to a PR for either, or both.

When I wrote the minikube completion, I used kubectl completion as the reference, and when I wrote the skaffold completion, I used minikube as the reference :)

[2018-09-22 07:26] dgageot opened #1016 "Add a test for `kubectl should only redeploy updated manifests`"
The code was broken at some point. A test should make sure we don't break it again

[2018-09-22 14:37] GeertJohan commented on #789
Would like to see this feature as well. Before finding this issue I wasn't sure if it was supported so dived into the code. It seem that this feature could be supported if this case would check for an existing slice item with the same "key" (in the case of a release the `name`).
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/v1alpha3/profiles.go#L115

I think the

[2018-09-22 14:44] GeertJohan commented on #789
Extra idea: Perhaps there should be a way to drop a release from the original config by enabling a profile.
In that case the model suggested by @hypnoglow could be of use, by setting key like this:
[code]

However, this requires more changes to the yaml scheme, and I'm not quite sure the use-case is strong enough. I've always thought of profiles as a way to add or change config, not to remove it.

[2018-09-22 15:16] balopat opened #1017 "read skaffold.yaml from git repo after cloning"
This proposed feature request enables skaffold projects on Github repos to be shared easily with other developers who want to try it out on a k8s cluster.

`skaffold dev --github-repo GoogleContainerTools/skaffold -f examples/getting-started/skaffold.yaml`

The primary user journey would be:
* user finds a project she is interested on Github and wants to run it on a K8S cluster to try out the proj

[2018-09-22 15:47] balopat opened #1018 "Provide apt packages for skaffold"
I would like to be able to install skaffold using `apt-get install skaffold`

[2018-09-22 21:51] r2d4 commented on #1017
PR https://github.com/GoogleContainerTools/skaffold/pull/806 accomplished this + defaulted to a "git watcher" in dev mode.

As for directory, outside of this feature, we should just change the command execution directory to the directory of the skaffold.yaml always (which we currently require users to do anyways).

That way, `skaffold -f examples/getting-started` should work too, even outside this

[2018-09-22 22:58] #824 closed

[2018-09-24 15:41] #1004 closed

[2018-09-24 19:31] nkubala commented on #1011
Seems reasonable, but I agree with the second link that we should use `$` in places where we also display the output, e.g.
[code]

[2018-09-24 22:59] dlorenc commented on #1003
I have a code fix coming with a better error message.

[2018-09-25 04:17] #367 closed

[2018-09-25 04:17] #1003 closed

[2018-09-25 15:42] dgageot commented on #988
@afoninsky not really. The default is n1-standard-1. I agree that it's not the greatest way to communicate with the user...

[2018-09-25 15:44] dgageot commented on #1009
@r2d4 This is what we are using already, right?

[2018-09-25 16:44] dgageot opened #1024 "Build args should handle keys that are defined multiple times"
If a build arg is defined twice, the first value should not be used after the build arg is redefined.

This Dockerfile:

[code]

Should output:

[code]

Currently, it outputs
[code]

[2018-09-25 16:47] dgageot opened #1025 "build args should not replace placeholders with same prefix"
The code used to replace build args in dockerfiles fails in the presence of placeholders with a common prefix.

This Dockerfile:

[code]

Should output:

[code]

Currently, it outputs
[code]

[2018-09-25 18:46] afoninsky commented on #988
Thank you, it looks clear for me

[2018-09-25 18:46] #988 closed

[2018-09-26 09:37] dgageot opened #1031 "Kustomize dependencies should support `patchesJson6902` files"
It currently only support `bases`, `resources` and `patches`

[2018-09-26 09:38] dgageot opened #1032 "`kustomize/kustomizePath` config should be `kustomize/path`"
Since we are moving to v3 of the configuration file, we should use that opportunity to fix the naming of `kustomize/kustomizePath`

[2018-09-26 13:19] dgageot opened #1033 "Kustomize dependencies should support `crds` files"
It currently only support `bases`, `resources` and `patches`

[2018-09-26 13:24] dgageot opened #1034 "Kustomize dependencies should support configMapGenerators"
It currently only support `bases`, `resources` and `patches`

[2018-09-26 13:24] dgageot opened #1035 "Kustomize dependencies should support secretGenerators"
It currently only support `bases`, `resources` and `patches`

[2018-09-26 18:07] r2d4 opened #1038 "Add option to not port forward in `skaffold dev`"
#1037 but for port-forward

[2018-09-26 18:15] ahmetb commented on #947
I just ran `skaffold run -p gcb` (that uses googlecloudbuild to build) **twice** on a clean GCP project and got two different errors:

first time:

[code]

wait a few seconds

second time:
[code]

I think this is a consistency issue. Maybe the bucket is not immediately available after creating.

[2018-09-26 18:37] Atul9 commented on #1038
I would like to work on this

[2018-09-26 18:45] r2d4 commented on #1038
Excellent! I can't assign you directly, but I assigned the container-tools-bot as a placeholder. Let me know if you need any extra help or pointers. The code should be fairly similar, and the port forwarder is right next to the logger.

[2018-09-26 18:55] Atul9 commented on #1038
@r2d4 Can you please suggest the message to pass to `cmd.Flag().BoolVar`?
Is this fine? - `Selecting pods satisfying a certain condition and port-forwarding the exposed
 container ports within those pods`

[2018-09-26 20:29] r2d4 opened #1042 "Document the environment variables that skaffold accepts"
SKAFFOLD_DEPLOY_NAMESPACE

SKAFFOLD_UPDATE_CHECK

Are the ones I can remember

[2018-09-26 20:30] r2d4 commented on #1042
Looks like SKAFFOLD_DEPLOY_NAMESPACE is deprecated in favor of SKAFFOLD_NAMESPACE

[2018-09-26 21:14] dlorenc commented on #921
Ref https://github.com/kubernetes/kubernetes/issues/5840

[2018-09-26 21:27] dlorenc commented on #947
Just to be clear, you mean 409 not 429 right?

[2018-09-26 21:31] ahmetb commented on #947
Yeah 409, my bad.

[2018-09-27 04:43] #1024 closed

[2018-09-27 04:43] #1025 closed

[2018-09-27 04:48] #947 closed

[2018-09-27 06:41] #1034 closed

[2018-09-27 06:41] #1031 closed

[2018-09-27 06:41] #1033 closed

[2018-09-27 11:11] dgageot commented on #247
Reopening for v1alpha3

[2018-09-27 11:49] #518 closed

[2018-09-27 13:28] dgageot opened #1049 "When parsing Dockerfiles, stage names should be case insensitive"
[code]

is the same as

[code]

[2018-09-27 13:36] dgageot opened #1050 "Cascaded stage names in Dockerfiles are not supported"
In this Dockerfile,

[code]

Only `ubuntu:14.04` is an image we should pull. `base`, `dist` and `prod` are just stage names.

Currently, the code tries to pull `dist`

[2018-09-27 13:37] cjyar opened #1051 "spammy warnings from multi-stage build with ARG"
This Dockerfile provokes skaffold to print warnings once a second:

[code]

See full repro case at [https://github.com/cjyar/skaffold-bug](https://github.com/cjyar/skaffold-bug).

### Expected behavior
- Skaffold shouldn't complain about valid Dockerfiles.
- Warnings should be printed only when the source code has changed. They shouldn't be streamed continuously to the user's terminal.

### Actual

[2018-09-27 13:41] dgageot commented on #1051
@cjyar By chance, I'm working on Dockerfile parsing. I'll take a look today

[2018-09-27 14:24] dgageot opened #1052 "Some cases of build arg substitution was broken by #1028"
This Dockerfile

[code]

Should output `value`. It's now broken and the output is `$key`

[2018-09-27 16:55] dgageot commented on #1051
@cjyar good news, a few fixes that are already merged + this PR (https://github.com/GoogleContainerTools/skaffold/pull/1053) seem to fix your issue.

[2018-09-27 17:32] cjyar commented on #1051
That's great! Could you add a test case similar to this one? Or maybe two test cases:

[code]

[code]

[2018-09-27 17:58] priyawadhwa opened #1055 "Release v0.15.0"

[2018-09-28 08:55] dgageot commented on #1032
This needs to be reverted because it was not merged for 0.15

[2018-09-28 10:00] dgageot commented on #1055
This was done yesterday

[2018-09-28 10:00] #1055 closed

[2018-09-28 12:00] #1038 closed

[2018-09-28 16:42] balopat commented on #799
hey @marcusnielsen yes, this seems like a different issue. Can you check on v0.15.0 that we released yesterday? If it's still there, do you mind opening another issue, also it would be great to have a reproducible example :)

[2018-09-28 23:18] #700 closed

[2018-09-29 11:15] remoe opened #1066 "build / push to private registry ?"
I've run a remote private docker registry service  and do a tunnel to this docker registry. So i can access it with https://127.0.0.1:5001. Now i try to build / push to this registry with ```skaffold build```. But i get the error:
```pushing: Get http://127.0.0.1:5001/v2/: dial tcp 127.0.0.1:5001: getsockopt: connection refused```

But i can access it with ```curl --cacert ca.pem  -X GET https://1

[2018-09-29 12:52] remoe commented on #1066
minikube can't connect the tunnel. I need to check this first.

[2018-09-29 12:52] #1066 closed

[2018-09-30 11:23] remoe opened #1068 "Using git commit sha1 in envTemplate"
Want to use git commit sha1 in "envTemplate":

[code]

Because with private docker registry one need to define the server in "envTemplate".

### Expected behavior
Using git commit sha1 in template.

### Actual behavior
git commit sha1 is not exported to template variable.

### Information

- Skaffold version: 0.15

[2018-09-30 15:53] remoe commented on #1068
similar https://github.com/GoogleContainerTools/skaffold/pull/929

[2018-10-01 06:26] tvanhees opened #1069 "Latest built jar not picked up"
Hello,

I am trying to use Skaffold for my Java (Spring Boot) project. Whenever I do a "mvn package" Skaffold starts a new deploy, but when building the Docker image, a jar from the cache is used in stead of the latest version in my target folder.

I am aware that this might be a Docker issue, however, I am not able (or I don't know how) to manipulate the fact it should not cache my jars. When usi

[2018-10-01 16:08] wstrange commented on #970
I think I am seeing this on 0.15.0.  Has this fix made it into that release?

[2018-10-01 16:20] wstrange opened #1071 "SIGSEGV when using relative helm chart path"
Our helm charts are in another project. We reference the helm chart using a relative path:

[code]

When running `skaffold dev`, we get the following panic:

[code]

### Information

- Skaffold version: 0.15.0
- Operating system: mac os

### Steps to reproduce the behavior

1.  Reference a helm chartPath using  ../../ prefix, or a sym-link
2. Run skaffold dev

This used to work in skaffold (0.12.0

[2018-10-02 14:33] #1049 closed

[2018-10-02 14:33] #1050 closed

[2018-10-02 14:33] #1052 closed

[2018-10-02 15:18] dgageot commented on #733
Let's reopen the issue to provide a proper fix

[2018-10-02 15:21] balopat commented on #733
cc https://github.com/GoogleContainerTools/skaffold/issues/61

[2018-10-02 16:22] #247 closed

[2018-10-02 16:22] #1032 closed

[2018-10-02 17:32] balopat opened #1074 "Cut v0.15.1"
Context for the minor version fix: https://github.com/GoogleContainerTools/skaffold/pull/1070#issuecomment-426210079

[2018-10-02 19:03] r2d4 opened #1076 "Add new features to README"
**Automatic port-forwarding**
Skaffold automatically port-forwards any container ports in pods.

**File syncing**
Skaffold can automatically sync files to a running container and skip a rebuild. Runs your pods

**skaffold init**
Skaffold can generate its own skaffold configuration file for "source-to-deployment"

**deployment labeling**

Probably some others I missed. We should incorporate these i

[2018-10-03 02:32] cliffburdick opened #1077 "Skipping Deploy due to error: apply: kubectl apply"
### Expected behavior
Previous job is deleted
### Actual behavior
Error on kubectl apply
### Information
Hi, I'm trying to understand if this workflow is even possible, because I'm getting an error when deploying. I'm using skaffold dev to deploy a kind 'Job' from the manifest, that runs to completion with the container saying 'Completed' in kubectl get pods. Once it completes, the container exits

[2018-10-03 05:28] cliffburdick commented on #1076
@r2d4 I'm interested in a couple of these. Looking forward to it.

[2018-10-03 07:46] #984 closed

[2018-10-03 08:17] dgageot opened #1078 "skaffold build should run the tests"
Currently, only `skaffold dev` runs the tests. `skaffold build` and `skaffold run` should run them too unless a `--run-tests=false` is set

[2018-10-03 08:38] dgageot opened #1079 "skaffold dev should detect new test cases"

[2018-10-03 10:38] albertkang opened #1081 "Upgrade kubectl version in docker image."
### Expected behavior
expect `kubectl` to create secrets when using the image `gcr.io/k8s-skaffold/skaffold:v0.15.0`

### Actual behavior
the following error happens
`error: error validating "STDIN": error validating data: [apiVersion not set, kind not set]; if you choose to ignore these errors, turn validation off with --validate=false`

### Information
I think the `kubectl` version needs to be u

[2018-10-03 13:29] r2d4 commented on #1077
This will be fixed by https://github.com/GoogleContainerTools/skaffold/pull/940. You'll need kubectl v1.12.0 or greater for it to work though!

[2018-10-03 14:02] dgageot opened #1082 "How is the test phase working on GCB?"
ping @nkubala

[2018-10-03 14:13] r2d4 opened #1083 "Port-forwarder and Logger should not watch every pod"
They should watch only pods that have the skaffold default label applied. This will make it so that theres a little less work being done.

[code]
[code]

Should be applied to

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kubernetes/watcher.go#L33-L36

[2018-10-03 14:25] r2d4 opened #1084 "Integration test failure"
[code]

https://source.cloud.google.com/results/invocations/7311977d-775d-40bd-9950-238f19e22ed2/targets/runtimes-common%2Fskaffold%2Fpresubmit/log

[2018-10-03 14:26] #1084 closed, assigned to nobody

[2018-10-03 14:36] bhack commented on #913
Some static file syncing is going to be covered at https://github.com/GoogleContainerTools/skaffold/pull/1039.
What about interpreted language files? Can we use Skaffold with a bash exec command modality so that the user can interactively launch the commands inside the pod and rebuild and deploy only when he is ready with a checkpoint. This could let him to make a clean room verification/test only

[2018-10-03 14:59] balopat commented on #726
It was not implemented - #816 got closed as we didn't agree on an implementation yet.

[2018-10-03 15:05] balopat commented on #1076
+ testing phase

[2018-10-03 16:20] cliffburdick commented on #1077
@r2d4 thanks!

[2018-10-03 20:14] cliffburdick commented on #1077
@r2d4 do users need to supply the --force flag manually in skaffold.yaml before this works? I upgraded kubectl to 1.12, but the issue still occurs.

[2018-10-03 20:43] priyawadhwa commented on #1081
@albertkang kubectl will be updated to 1.12.0 once #940 goes through.

[2018-10-03 22:09] priyawadhwa commented on #1077
@cliffburdick once that PR is merged, skaffold will automatically apply the --force flag. You'll just need to update skaffold upon the next release so that this change is included.

[2018-10-04 03:39] #1077 closed

[2018-10-04 04:35] #1079 closed

[2018-10-04 07:20] dgageot opened #1090 "Skaffold init should try to write skaffold.yaml by default"
I expect that `skaffold init` will ask me if I want to save the `skaffold.yaml` it has generated.
Also a `-f` option would force it to write the config.

[2018-10-04 09:50] dgageot opened #1092 "skaffold build [IMG] [IMG] to build only some artifacts"
It would be nice to be able to build only some artifacts by passing their name or part of their name to the `skaffold build` command.

`skaffold dev` currently supports something similar with `skaffold dev --watch-image IMG`. It would be nice to align the behaviours

[2018-10-04 14:14] #1090 closed

[2018-10-04 14:22] dgageot opened #1093 "Skaffold init should learn to build maven/gradle projects with Jib"
if no Dockerfile is provided

[2018-10-04 15:28] dgageot opened #1094 "Add a `skaffold diagnose` command"
I was thinking of writing a skaffold diagnose command that could print insights that users could share with us:
 + number of artifacts
 + number of files watched
 + time to list the files
 + time to compute the diff
 + ...

That would be super useful to debug a performance problem

[2018-10-04 17:07] coollog opened #1096 "Resolve issues to finish Jib builder."
- [x] Rename error message to `jibMaven` and `jibGradle`. #1097
- [x] `GetDependenciesGradle` process `JibGradleArtifact.Project` #1097
- [x] `runner.dependenciesForArtifact` seems to try to resolve absolute deps against workspace #1097
- [x] `GetDependencies*` to list files recursively #1097
- [x] Error if trying to use Maven multi-module in `jib.GetDependenciesMaven` #1097
- [x] Combine logic fo

[2018-10-04 17:59] balopat commented on #992
One more set of thoughts:

What would be really nice is "easy to use knobs" in skaffold to run 0 unittests, 1-2 focused tests or all my unittests in an easy way per artifact, because that's what I constantly shift around as a developer, and sometimes I even want to do structure tests and integration tests, but those are significantly more rare.

[2018-10-04 19:16] balopat opened #1099 "use `kubectl replace --force` for one-off pods"
when a "one-off" (short lived) pod is defined with `RestartPolicy: Never`, the following happens with `skaffold dev`:

1.) image is built
2.) kubectl apply succeeds - pod is deployed, pod completes
3.) code change triggers loop
4.) image is built
5.) `kubectl apply` succeeds - pod does not restart, skaffold just says "Waiting for changes...", there are no logs, and the pod will still have the old

[2018-10-04 19:32] coollog commented on #1099
I think it makes sense for `skaffold run` as well since a successful skaffold deployment should probably give the promise of the intended running pod(s) using the image built during the build stage.

[2018-10-04 21:49] coollog commented on #1096
/label jib

[2018-10-05 02:26] r2d4 opened #1100 "skaffold.yaml example in root of repo is broken"
We should either fix it and add an integration test for it or delete it

https://github.com/GoogleContainerTools/skaffold/blob/master/skaffold.yaml
https://github.com/GoogleContainerTools/skaffold/issues/1010

[2018-10-05 02:27] #1100 closed

[2018-10-05 02:28] r2d4 commented on #1100
Nevermind, its unclear it that skaffold.yaml should follow the same requirements as the `examples/` to work with the latest version of skaffold. Probably not?

[2018-10-05 14:46] dgageot commented on #1083
I'm afraid this won't work. What I see is that when I use a deployment, this deployment gets the labels but not the pods.

[2018-10-05 15:20] radityasurya commented on #1076
looking forward for the `File Syncing`

[2018-10-05 17:11] nkubala commented on #1083
@dgageot that seems like an issue with the labeller then. If we can stream logs from pods created through deployments we should also be able to set labels on them

[2018-10-05 17:27] briandealwis commented on #1096
The `local` builder [handles this already](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/local/local.go#L79). I don't think there's anything for us to do here.

[2018-10-05 19:18] briandealwis commented on #1096
I'm reworking the wrapper logic.

[2018-10-05 20:01] briandealwis opened #1104 "SkaffoldRunner Dev should pass along its context"
`SkaffoldRunner#Dev` creates a watcher and registers artifact watchers via `dependenciesForArtifact()`, and should pass along its context.

[2018-10-06 20:44] cliffburdick opened #1106 "No Output From "skaffold dev" If Pod Exits Quickly"
Hi, I have a kind=Job I'm launching that only runs for about 2 seconds, and prints about 100 lines. If I use skaffold dev, the pod starts up fine, and kubectl shows the pod status as "Completed". However, skaffold doesn't print anything after deploying:

Build complete in 9.757380217s
Starting deploy...
kubectl client version: 1.12
job.batch/pod-test created
Deploy complete in 557.612274ms

If ins

[2018-10-07 08:58] saturnism commented on #1096
Quick question.. if `skipPush: true`, then it will build directly to registry (which is likely remote), what does `skipPush: false` mean?

[2018-10-07 10:56] bhack commented on #913
I think that something like `skaffold dev-bash` or `skaffold dev-intercative` could fit better application that are not related to daemons/web application/services.

[2018-10-08 03:58] coollog commented on #1096
That was actually supposed to be when `skipPush` is false. Fixed it. When `skipPush` is true, Jib will build to the Docker daemon.

[2018-10-08 07:05] dgageot commented on #1051
There's such a test now. Can you confirm the issue is fixed?

[2018-10-08 10:28] dgageot commented on #1008
@cliffburdick would you be ok if we add a `--cleanup` flag to `skaffold run`?

[2018-10-08 10:49] alexfrancavilla opened #1110 ""COPY ." not copying all files to the image"
Hi there. I've recently updated my skaffold version which broke the image building process. Usually I work with Skaffold + Minikube + Helm. The following Dockerfile line behaves differently:

[code]
I've nailed it down to work with skaffold 0.10.0 and breaks with 0.11.0 (also the newest version 0.15.1 is affected for me). What happens is that the COPY task is not adding ALL files to the image but

[2018-10-08 11:14] ianlewis opened #1111 "'skaffold dev' does not clean up secrets if content changes when using kustomize"
### Expected behavior
- When running skaffold dev with kustomize, a secret's content changes causing a new secret to be created.
- The old secret is deleted.

### Actual behavior
- Skaffold creates the new secret but old secrets are not cleaned up.
- Skaffold does not clean up these secrets when 'skaffold dev' is stopped leaving cruft in the dev environment

### Information

- Skaffold version: v0

[2018-10-08 11:19] ianlewis opened #1112 "Skaffold unable to update labels when deploying to namespace other than default"
### Expected behavior
skaffold can deploy objects to a namespace other than default

### Actual behavior
When using 'skaffold dev' or 'skaffold run', after deploy a warning message is shown for each object

[code]

### Information

- Skaffold version: v0.15.1
- Operating system: linux

### Steps to reproduce the behavior

1. Create manifest files that deploy to another namespace other than default

[2018-10-08 12:23] balopat opened #1113 "Rename skipPush -> push"
`skipPush` is a negated field, can we change it to `push`?

`skipPush: false` -> `push: true`
`skipPush: true` -> `push: false`

[2018-10-08 12:40] balopat commented on #1096
FYI. I added #1114  which will invert SkipPush to Push.

[2018-10-08 12:54] balopat commented on #1106
+1 with @coollog we did see this as well, thanks for filing the issue!

[2018-10-08 13:52] #1112 closed

[2018-10-08 13:59] dgageot commented on #1110
Hi @alexfrancavilla do you think it's possible to setup a very simple project that shows the issue?

[2018-10-08 14:30] cjyar commented on #1051
Thank you! Yes, it's fixed for me.

[2018-10-08 14:30] #1051 closed

[2018-10-08 14:36] alexfrancavilla commented on #1110
Hi @dgageot sure thing! I've setup a repository here: [alexfrancavilla/skaffold-issue-1110](https://github.com/alexfrancavilla/skaffold-issue-1110), which looks equal to what I've explained above.

Steps to reproduce:

[code]

`tsc` fails to compile because tsconfig.json and src/ are missing from the image, recognized through the displayed help text.

PS: Assuming you're running macOS and want to

[2018-10-08 15:17] dgageot opened #1118 "`skaffold fix` should not specify the default values"
When I run `skaffold fix on:
[code]

I get:
[code]

I expected:

[code]

Note that default values are added and that the `kind` field is invalid

[2018-10-08 15:29] dgageot commented on #1110
It looks like it's because of the `/.*` in the `.dockerignore`. I'll take a look at how it should be interpreted and how Skaffold interprets it.

[2018-10-08 15:44] dgageot opened #1120 "Specifying a target on an artifact can have an impact on files to watch"
Here's a Dockerfile with two targets:

[code]

An artifact that is built with the target set to `dev` should depend only on `dev.txt`, so only this file should be watched for changes and if `prod.txt` is changed, it should not trigger a rebuild of the artifact.

[2018-10-08 15:58] radityasurya commented on #1120
**Current Condition**
When updating the dev.txt all the images is rebuild

**Expectation**
Only the dev.txt is rebuild

Dockerfile
[code]

skaffold.yaml
[code]

[2018-10-08 16:10] coollog commented on #1096
The logic for handling `push=true` seems to be not as trivial as originally thought, mainly due to the fact that 3 out of the 5 taggers require the image digest to generate the intended tag (`ChecksumTagger`, `GitCommit`, and `envTemplateTagger`).

`local.go#buildArtifact` performs a series of steps for a build:

1. `b.runBuildForArtifact` builds to the Docker daemon and gets the initial tag
1. `d

[2018-10-08 16:20] balopat opened #1121 "Release v0.16.0"
This week is release week!

v0.16.0 is releasing `v1alpha4` of the skaffold pipeline ( ;) ).

@dgageot
@priyawadhwa
@nkubala

Can you please make sure that we cc every issue and PR here that you'd like to include in this version?

Thank you!

[2018-10-08 16:50] loosebazooka commented on #1096
I'm assuming this is a problem for the remote builders as well?

[2018-10-08 17:59] alexfrancavilla commented on #1110
Amazing! I've just built your fix-1110 branch and can confirm that it works perfectly. Thank you very much for your quick help.

Cheers!

[2018-10-08 18:03] coollog opened #1124 "Proposal: How to handle Jib build directly to registry."
Currently, Jib can build to the Docker daemon and share the same logic as the rest of the `local` builders (`docker` and `bazel`):

`local.go#buildArtifact` performs a series of steps for a build:

1. `b.runBuildForArtifact` builds to the Docker daemon and gets the initial tag
1. `docker.Digest` gets the digest for the initial tag from the Docker daemon
1. `tagger.GenerateFullyQualifiedImageName`

[2018-10-08 18:04] coollog commented on #1096
Filed #1124 with a proposal for how to handle build to registry.

[2018-10-08 18:19] chanseokoh commented on #1124
It makes me to wonder what exactly this "Jib artifact" is? Is it tangible? Does it have a unique property that distinguish it form other types of artifacts?

[2018-10-08 18:31] coollog commented on #1124
The `JibMavenArtifact` and `JibGradleArtifact` defines what type of project it is (Maven or Gradle) and the module/subproject name, whereas the `jib` builder type defines to build using `jib:build` (vs `jib:dockerBuild` for the `local` builder type).

[2018-10-08 18:56] chanseokoh commented on #1124
`JibMavenProject` or `JibMavenProjectStructure` may be a more apt name then. Can we call it that way?
 Or, is this an internal framework thing in that we have no choice but to adhere to the word "artifact"? An artifact sounds like it is a concrete output that you can carry around, so I think it can be a bit confusing.

[2018-10-08 18:59] balopat commented on #1121
let's try to get jib in too: #1063

[2018-10-08 19:00] balopat commented on #1121
+ https://github.com/GoogleContainerTools/skaffold/pull/983

[2018-10-08 19:05] coollog commented on #1124
It is named like the other `config.Artifact` types `DockerArtifact` and `BazelArtifact`. The "artifact" portion refers to the fact that the project will be used by Skaffold to build an output artifact.

[2018-10-08 19:17] balopat commented on #1124
There is no clear agreement yet where we will be heading with the builders/artifacts - I believe it's a confusing situation. See: https://github.com/GoogleContainerTools/skaffold/issues/953 and https://github.com/GoogleContainerTools/skaffold/issues/955.

I would not put this on the critical path for Jib yet. I think we should go with the jib builder as a local builder for now even if it's not the

[2018-10-08 19:18] balopat commented on #1124
@dgageot
@dlorenc
any thoughts?

[2018-10-08 20:00] coollog commented on #955
Maybe artifacts could be a part of each builder?

[code]

[2018-10-09 06:03] #1110 closed

[2018-10-09 06:03] #1113 closed

[2018-10-09 07:27] dgageot opened #1126 "GKE Quickstart Guide is confusing"
Reported by @m-okeefe:

"The first instructions were to go into Cloud Shell, but I wanted to run this on my mac, where I'd just installed the Skaffold CLI.
I ended up using my teammate Ahmet's [guide](https://github.com/ahmetb/skaffold-from-laptop-to-cloud/tree/master/30-remote-build-to-gke) instead, which was the first result of googling "skaffold gke".

[2018-10-09 07:47] dgageot commented on #1124
I'm +1000 on just keeping the original approach based on `push=true|false`

In a project with multiple artifacts, we want a builder to be able to build all the artifacts. It's already not always the case. Let's not make it worth.

I can see myself working on a backend in Java built with Jib and a front end in Node built with Docker

[2018-10-09 07:48] dgageot commented on #1118
Fixed with #1123

[2018-10-09 07:48] #1118 closed

[2018-10-09 07:52] dgageot commented on #1096
I've got a few questions on current implementation. None of which is blocking:

 + Is there a way to add a single type of artifact called `Jib` that auto-detects if it's a gradle or a maven build? That would make the config easier to read/write. I know the maven and gradle configs don't have the same parameters though.
 + Does Jib require Skaffold to generate an image name with `generateJibImageRe

[2018-10-09 13:30] coollog commented on #1096
Yep, we can definitely auto-detect Gradle/Maven (via detection of `pom.xml` or `build.gradle` or the respective wrappers). However, the concern is which priority to detect these in. For example, someone could have both `pom.xml` and `build.gradle` and those files could be named differently as well. The wrappers could also both be present. In any case, we would also need to provide a user configura

[2018-10-09 13:35] coollog commented on #1124
@dgageot Do you mean keeping the original approach as in the current approach (as implemented) of:

- `local` and `push=false` - `jib:dockerBuild` builds to Docker daemon
- `local` and `push=true` - `jib:dockerBuild` builds to Docker daemon and Skaffold pushes to registry

Or the original "proposed" approach of:

- `local` and `push=false` - `jib:dockerBuild` builds to Docker daemon
- `local` and

[2018-10-09 13:39] dgageot commented on #1096
@coollog Maybe have a `jib` artifact with a `type` property. Type would be auto-detected unless the user specifies `maven` or `gradle`. Once again, it can be changed later but I think it makes the configuration simpler.

I'd use a random string then, it makes the code simpler and more alike the other builders

[2018-10-09 13:40] dgageot commented on #1124
The latter seems good to me

[2018-10-09 13:55] coollog commented on #1124
Okay, for that approach, then, we would deviate from the normal local builder logic and perform the steps like the `kaniko` builder:

1. Generate initial tag as random ID.
1. Run `jib:build` to initial tag.
1. `docker.RemoteDigest` to get the digest
1. `tagger.GenerateFullyQualifiedImageName` to get the intended tag
1. `docker.AddTag` to retag with intended tag

[2018-10-09 13:57] dgageot commented on #1124
I think it makes sense

[2018-10-09 14:00] briandealwis commented on #1096
For the Maven case we need to look for a `pom.xml` or a `.mvn/` directory — Maven now supports a polyglot mode (e.g., using groovy or Scala or other formats for expressing the project model), so `pom.xml` may not exist.

[2018-10-09 14:08] loosebazooka commented on #1096
Maven and Gradle will probably have different configuration parameters. We might need to make it nested to handle a single `jib` artifact.
[code]

[2018-10-09 14:08] briandealwis commented on #1096
@dgageot I chose to generate a non-random image name to avoid polluting the local docker daemon's image registry.  I generate local images that have some value, so I prefer to avoid having to `docker system prune` to clean up after skaffold.

[2018-10-09 14:10] dgageot commented on #1096
@briandealwis Does that work? (I honestly haven't thought enough about it)

[2018-10-09 14:18] briandealwis commented on #1096
I can at least filter `docker images --format "{{.Repository}}:{{.ID}}"` on `jib*`.  It does feel like a losing battle though :-(

[2018-10-09 14:30] dgageot commented on #1096
For me setting a meaningful name has very few advantages. I won't fight against it but I'm all for a simpler codebase.

I'm also ok to make image pruning a P0

[2018-10-09 15:35] r2d4 commented on #543
Some tools have built templating over skaffold. You might want to check them out

https://github.com/jkozera/j2skaffold is an example.

[2018-10-09 15:39] #1104 closed

[2018-10-09 15:40] jkozera commented on #488
This is exactly one of the use cases which I've had in mind when creating `j2skaffold` - it wraps `skaffold` adding some templating from `jinja2` (a Python library).

You can see it at https://github.com/jkozera/j2skaffold - it allows using `current_profile` as a `jinja2` variable and rendering anything using it as input.

So for instance, you can do things like

[code]

I still have some improvem

[2018-10-09 20:51] r2d4 commented on #10
I might take this up again.

[2018-10-10 16:01] #1124 closed

[2018-10-10 16:05] #950 closed

[2018-10-10 16:59] briandealwis opened #1134 "Jib builder should autodetect Maven vs Gradle"
From #1096:

@dgageot:

@coollog:

@dgageot:

@briandealwis:

@loosebazooka:

[2018-10-10 17:02] briandealwis commented on #1134
@coollog have you seen situations in the wild with both a `build.gradle` and `pom.xml`?  What are they trying to do?

[2018-10-10 17:28] etanshaul opened #1135 "skaffold.yaml schema generation"
This is to start the discussion around generating a schema for `skaffold.yaml` consumable by other tools like IDEs and editors.

In [google-container-tools-intellij](https://github.com/GoogleContainerTools/google-container-tools-intellij) we are building out editing support for Skaffold. This includes things autocomplete, file inspections etc. To do this in a robust way (keeping up with schema cha

[2018-10-10 17:33] r2d4 opened #1136 "move pkg/skaffold/kubernetes/sync* to pkg/skaffold/sync/kubectl"
That is the correct place for the code

[2018-10-10 17:52] r2d4 opened #1137 "Add rsync syncer"
If kubectl syncer does not perform well. Need to do some benchmarks.

Should only need to modify these few lines

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kubernetes/sync.go#L51-L57

[2018-10-10 19:41] #1094 closed

[2018-10-10 20:52] nkubala opened #1140 "Log which files changed whenever a rebuild is triggered"
Skaffold should log (DEBUG/INFO level) which files the watcher sees as changed each time it triggers a rebuild. This can help us debug cases where Skaffold is triggering unwanted rebuilds.

[2018-10-10 21:11] r2d4 commented on #1140
it does this https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/watch/changes.go#L109

[2018-10-10 23:14] #1136 closed

[2018-10-11 00:03] nkubala commented on #1140
ahh missed that, thanks

[2018-10-11 00:03] #1140 closed

[2018-10-11 15:48] mxey opened #1143 "Support deletion of images"
I use Skaffold in my pipelines, including feature branches. After merging a feature branch, I'd like to remove Docker images that were created for the branch. A Skaffold command to delete the image(s) according to the tagPolicy would be useful.

[2018-10-11 16:31] nkubala commented on #1143
Hey @mxey, agreed that this is something that should be supported in skaffold. I'd also personally like to see an option to automatically prune the images skaffold creates once they're no longer being used in any k8s deployments. We'll be working on this soon.

[2018-10-11 16:37] radityasurya commented on #936
the cache-from also not working on circle ci

[2018-10-11 20:45] #1121 closed

[2018-10-11 22:31] bhack commented on #1137
Take an overview to https://github.com/vapor-ware/ksync/blob/master/docs/architecture.md#syncthing

[2018-10-12 09:15] dgageot opened #1145 "Impossible to interrupt a Kaniko build"
When a kaniko build is running, it's impossible to interrupt it with ctrl-c

[2018-10-12 15:20] dgageot opened #1150 "Provide a "fast build" mode"
When Skaffold is stopped and restarted, it has to rebuild all artifacts. Even if most builder have cache mechanism, it can be slow to realize that nothing has to be built. For example, `docker build` needs to be sent the whole context before even starting.

We could maybe keep a state on disk that lists the images that are built and the digest of the files that were used for the build. This way, w

[2018-10-12 15:28] r2d4 opened #1151 "Expose the watcher on the config"
Why not even expose the watcher type through the artifact? I intended to do that at some point.

For services you don't "own", you could watch them through a "git-repository" watcher to "live-at-head" or even use it as a way to check out versions of apps from a known tag.

[code]

ref #1149

[2018-10-12 16:56] r2d4 opened #1153 "Docker deployer"
A generic image-based deployer. You could even build the image in the build part of the pipeline and use it later in the deploy step.

Skaffold will mount your kubeconfig(s), and a serialized build artifacts file.

[2018-10-12 21:42] r2d4 opened #1154 "Split getting-started into two examples"
I think the getting-started should be the smallest possible example.

current
[code]

proposed
[code]

[2018-10-12 22:00] dlorenc commented on #517
This isn't a duplicate?

[2018-10-12 22:15] priyawadhwa commented on #511
@nkubala @dgageot @balopat WDYT of adding a `profile` section to each context in the global config?

If a user passes in a profile which is mapped to a context in the global config, skaffold will set it as the current context before proceeding.

[2018-10-13 16:45] smoll opened #1156 "Setting imageStrategy.helm (instead of using FQN default) does not work for .image nested under a parent key"
### Expected behavior

Changed my helm chart

[code]

and updated my config

[code]

which should have just been a pure refactor and `skaffold run` should have continued to succeed.

### Actual behavior

When I run `skaffold run` I get the following:

[code]

Could this be because `image` / `repository` are specified under a parent key (`airflow`)... I used the `imageStrategy.helm` value as descri