[2019-10-31 21:44] #2986 closed

[2019-10-31 22:42] #2693 closed

[2019-11-01 11:30] petr-buchin opened #3148 "Disable watching all artifact files except those specified in sync rules"
### Expected behavior
When I use manual file sync in `dev` mode, I expect Skaffold to watch **only** directories, specified in sync rules.
The obvious use case for that is **not** to watch heavy directories, like `node_modules` for Javascript projects, while being able to run `npm install` locally for whatever reason.
### Actual behavior
If I change or add some files **not** under paths, specified

[2019-11-01 11:49] kfuglsang commented on #3133
With 0.41 I'm experiencing the same issue now. First deploy worked but second deployment fails with this error.

Didn't have this issue on Skaffold 0.30 since it didn't add the run-id label.

I noticed that the issue only occurs if the previous deployment successfully started. If its stuck with e.g. imagepullbackoff then a new deployment is allowed, even if the labels have changed.

[2019-11-01 19:40] nkubala opened #3150 "Skaffold file output flags are inconsistent"
Skaffold supports writing a few different run results to files for use in other commands or k8s-related processes. However, these files all have different flag names, making it difficult to know which one to use for which command.

writing the built artifact results from `skaffold build` - `--file-output`
consuming this generated file in `skaffold deploy` - `--artifacts`, or `-a`
outputting templa

[2019-11-01 21:57] balopat opened #3151 "Control API rebuild doesn't work as expected"
### Expected behavior

* on the getting-started example:
[code]
* change `main.go`
* skaffold shouldn't do _anything_ as there is nothing to sync or deploy, and build is stopped!
* send `curl -X POST http://localhost:50052/v1/execute -d '{"build": true}'`
* skaffold should `build` & `deploy`

### Actual behavior

* on the getting-started example:
[code]
* change `main.go`
* skaffold deploys the no

[2019-11-01 23:45] balopat opened #3155 "Flake: error when creating "STDIN": pods "getting-started" is forbidden: error looking up service account skaffoldlhd9l/default: serviceaccount "default" not found"
https://travis-ci.com/GoogleContainerTools/skaffold/jobs/252009207
[code]

and similarly

[code]

[2019-11-02 20:42] golgoth31 opened #3156 "kaniko hostpath not correctly defined"
### Expected behavior
kaniko argument "config-dir" is using the same value as the mount point

[code]

### Actual behavior
"config-dir" is using the cache.hostpath value and not the mount point

[code]

### Information

- Skaffold version: v0.41.0
- Operating system: fedora; kaniko runing into k3s
- Contents of skaffold.yaml:

[code]
This behaviour has been introduced by the commit 84b196baccac929

[2019-11-03 16:09] balopat commented on #3148
Hi @petr-buchin, thanks for opening!
We had a similar discussion about blacklisting on https://github.com/GoogleContainerTools/skaffold/issues/1766 - I guess that could be useful. However your use case would be working if you'd have a "sync-only" mode right? You can simulate that with running skaffold with `--auto-build=false` - can you try that? It's not yet documented (will be soon) because it i

[2019-11-03 16:35] petr-buchin commented on #3148
Hi @balopat, thank you very much for an answer!
I'll try with that option and will get back to you soon.
Thanks!

[2019-11-03 23:51] destpat commented on #731
Good medium post about using kaniko with ECR https://medium.com/@s4l1h/building-and-publishing-a-container-image-with-gitlab-ci-and-kaniko-889e854fb7f1

[2019-11-04 06:19] oke-py opened #3160 "2 examples are incompatible with k8s v1.16."
### Expected behavior

Examples are successfully deployed to k8s v1.16 cluster.

- helm-deployment
- helm-deployment-dependencies

### Actual behavior

`skaffold dev` exits with an error.

[code]

### Information

- Skaffold version: v0.41.0
- Operating system: macOS Catalina 10.15.1
- Contents of skaffold.yaml:

[code]
https://github.com/GoogleContainerTools/skaffold/blob/master/examples/helm-dep

[2019-11-04 11:20] Inkdpixels opened #3163 "Add the --tag flag to skaffold build"
### Expected behavior

Our usecase is as follows, we need to build and push the image with a calculated tag to a repository without deploying it immediately. The `skaffold build` command currently does not support the `--tag` flag same as the `skaffold run`, which makes our desired behavior quite impossible without generating a `skaffold.yml` for each build.

### Actual behavior

While the `skaffo

[2019-11-04 15:17] petr-buchin commented on #3148
Hi again @balopat!
The thing with this option is that it applies to all the images.

But I have a big platform, which consists from about 10 submodules, and about 20 images that need to be built from them.

Thing is, I want to sync files for some images (like API, to see the new behavior quickly), but rebuild other images (for example, console workers, since processes there must be restarted to lo

[2019-11-04 17:04] tejal29 commented on #1299
@briandealwis would you be able to do this by Nov 7th?

[2019-11-04 17:14] ConnorGraham opened #3165 "Profile buildArgs failing validation when profile is not active"
I use a profile for my travis ci builds. This works well for configuring my build.tagPolicy. However, if I define a docker.buildArgs argument that uses one of travis' env vars, the skaffold parser fails even if the profile is not active

### Expected behavior
A profile's docker buildArgs are only evaluated when the profile its activated

### Actual behavior
skaffold yaml fails to parse
[code]

###

[2019-11-04 19:44] ConnorGraham commented on #3165
This is my mistake
`BRANCH: {{ .TRAVIS_BRANCH }}`
{{.TRAVIS_BRANCH}} needs to be wrapped in double quotes
`BRANCH: "{{ .TRAVIS_BRANCH }}"`

[2019-11-04 19:44] #3165 closed

[2019-11-04 20:18] balopat commented on #3163
Thanks for opening @Inkdpixels! I'm open to have this, but we don't have a lot of capacity anytime soon, PRs are welcome!
It should be relatively easy to implement given the `--tag` feature in `skaffold run` - needs integration tests and unit tests to make sure everything is working nicely.

[2019-11-04 20:20] balopat commented on #3160
Thanks for opening @oke-py - I'm wondering how the upgraded examples will work against older clusters? Typically what we're aiming for is to support the oldest supported GKE cluster K8s version.

[2019-11-04 22:11] balopat opened #3168 "deprecate /v1/event_log"
We need to deprecate `/v1/event_log` from the HTTP API / `EventLog` method call from the SkaffoldService proto in favor for the `Events` endpoint that has no extra stream parameter.

[2019-11-04 22:53] oke-py commented on #3160
https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

1.9+ supports apps/v1 Deployment. Other examples already use apps/v1.
1.14+ supports networking.k8s.io/v1beta1 Ingress, extensions/v1beta1 Ingress has not yet removed. It might be better to keep using extensions/v1beta1 ?

[2019-11-04 23:11] #3074 closed

[2019-11-05 09:22] prary commented on #2730
```skaffold <args> -v=debug``` didn't help.

[2019-11-05 12:22] giladsh1 opened #3171 "Error from server (Invalid): error when applying patch: Job.batch "migration-elasticsearch" is invalid:"
### Information
Skaffold latest version fails to apply a job.
The previous version (v0.40.0) works with no issue.
When deploying to GKE (v1.13.11-gke.5), I get the following error -

[code]

- Skaffold version: v0.41.0
- Operating system: MacOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
`skaffold run -l skaffold.dev/run-id=com -p com-test -v debug`

[2019-11-05 15:40] AndiDog opened #3172 "Add namespace configuration option for kubectl/kustomize"
### Expected behavior

Target deployment namespace should be specifiable in skaffold.yaml, e.g. `deploy:kubectl:namespace`.

### Actual behavior

The `helm` deployer supports deploying to a certain namespace as specified in skaffold.yaml, but for kubectl/kustomize deployers, that can only be achieved with the environment variable `SKAFFOLD_NAMESPACE` or `-n/--namespace` CLI option.

### Informatio

[2019-11-05 16:20] #2951 closed

[2019-11-05 20:01] chinmaya-n commented on #3171
I just similar error when deploying a `job`. This only happens if the resource already exists in the K8 cluster and the current run is trying to override the existing ones. If you run this after removing the existing objects using `skaffold delete`, it deploys fine.

[2019-11-05 21:01] chinmaya-n commented on #3171
[Here a repo](https://github.com/chinmaya-n/bug-skaffold-run) with command output in README. This demonstrates the bug. This works in v0.40.0 but not in v0.41.0.

[2019-11-06 05:36] #2963 closed

[2019-11-06 06:25] #3128 closed

[2019-11-06 09:07] #1299 closed

[2019-11-06 11:33] aboullaite opened #3186 "No redeployment and no logs after changing files"
I'm trying skaffold with a multimodule microservices app, mainly using micronaut framework and gradle! I'm using jib plugin for gradle to build my images! full project can be found [here](https://github.com/aboullaite/java-k8s-dev)

When first running skaffold dev, everything seems to be working perfectly. However, when I make the changes to one of the micronaut services the build is triggered, an

[2019-11-06 12:00] danacr opened #3187 "Rails buildpack permissions fail"
### Expected behavior

Skaffold succeeds in building the image

### Actual behavior

Skaffold fails in building the image

### Information

- Skaffold version: v0.41.0-170-ga29ee9ae
- Operating system: Darwin 19.0.0 Darwin Kernel Version 19.0.0
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

When using the new option to build using buildpacks, a permission error occurs:

[2019-11-06 12:22] saturnism opened #3188 "skaffold init fails for Maven project using Jib"
### Expected behavior

Maven w/ Jib plugin configured, and Kubernetes manifest files created.

`skaffold init` should generate the `skaffold.yaml`

### Actual behavior
[code]

### Information

- Skaffold version: v0.40.0
- Operating system: OSX
- Contents of skaffold.yaml: none

### Steps to reproduce the behavior

1. Maven w/ Jib plugin configured
2. Create Kubernetes manifiests
3. `skaffold init

[2019-11-06 13:31] chanseokoh commented on #3188
Jib detection is not yet enabled by default, and you should use `--XXenableJibInit` (or `--enableJibInit`, not sure). The flag is there to coordinate with IDEs. And always try with the latest Skaffold and Jib, since we fixed some issues on both sides recently.

[2019-11-06 14:50] #3160 closed

[2019-11-06 14:53] dgageot commented on #3187
Hi @danacr, Thanks a lot for trying the buildpacks support. Do you have a small project that I can use to reproduce?

[2019-11-06 15:02] dgageot opened #3190 "`skaffold.yaml` produced by `skaffold init --XXenableJibInit` could be simpler"
When I run `skaffold init --XXenableJibInit --force` in `examples/jib`, I get this `skaffold.yaml`.

[code]

I expected to get this kind of output:

[code]

any reason why we duplicate the image name?

[2019-11-06 15:03] dgageot commented on #3190
cc @saturnism

[2019-11-06 15:04] loosebazooka commented on #3190
I think @TadCordle had a reason for this.

[2019-11-06 15:07] briandealwis commented on #3190
#2854

[2019-11-06 15:13] danacr commented on #3187
Hi @dgageot, I just forked the cloudfoundry sample rails repo and managed to reproduce it: https://github.com/danacr/cf-sample-app-rails

Note: You will also encounter permission errors regarding the vendor folder.

[2019-11-06 15:19] TadCordle commented on #3190
Yeah, this is intentional. If someone chooses to use Jib to build one of the k8s images, but the Jib config points to a different image, we need to specify the correct image using `args` in the skaffold.yaml. And I decided to just always specify `args` to make the code simpler.

[2019-11-06 15:20] dgageot commented on #3187
awesome, I'll take a look

[2019-11-06 15:23] briandealwis commented on #2843
It works for me (`jib_init.go` was changed as part of #2808):

[code]

[2019-11-06 15:23] #2843 closed

[2019-11-06 15:46] dgageot commented on #3190
Shouldn't the value passed as an argument override the value in the pom.xml?

[2019-11-06 15:46] #2680 closed

[2019-11-06 15:48] sfxworks commented on #1668
This issue seems to have been fixed with the latest Catalina update.

[2019-11-06 15:50] #3088 closed

[2019-11-06 15:51] TadCordle commented on #3190
Yes, that is what it does. E.g. if pom.xml points to `image-a` but the user chooses that Jib project to build `image-b` during `skaffold init`, we pass `-Dimage=image-b` in the `skaffold.yaml` so the original `image-a` config is overridden.

[2019-11-06 15:56] chanseokoh commented on #3190
@TadCordle related, I am confused after I realized the Skaffold-Jib builder always appends `-Dimage=` at the end, so if I understood this right, this will end up passing `-Dimage=` twice where the last one provided by the builder will win and override the arg one. If that is true, then #2854 should have no effect, but that doesn't seem to be the case, so now I'm confused.

[2019-11-06 16:13] TadCordle commented on #3190
Ah, I see what you're saying now. I didn't realize Jib automatically appended the image flag during the build. If the same flag is used twice, it looks like gradle errors out, and maven just uses the last argument, so in that case we can probably just remove the `arg` generation during `skaffold init`.

[2019-11-06 16:49] briandealwis commented on #3186
@aboullaite you added the following line to several `build.gradle` files (in `api`, `mail`, `frontend/react`, `functions/tweet`).  As they are included from your `settings.gradle` file, they affect your entire build.
[code]

[2019-11-06 17:15] tejal29 commented on #3143
Docs have landed in master #3158

[2019-11-06 17:15] #3143 closed

[2019-11-06 17:25] #3190 closed

[2019-11-06 17:40] tejal29 commented on #3024
This is done!

[2019-11-06 17:40] #3024 closed

[2019-11-06 19:18] etanshaul opened #3192 "Cloud Code debug adds second definition of JAVA_TOOL_OPTIONS"
(issue, including original description, migrated from https://github.com/GoogleCloudPlatform/cloud-code-intellij/issues/2669)

- Cloud Code for IntelliJ version: 19.0.1
- OS: macosx

**What did you do?**

tried cloud code debug, noticed it added a second JAVA_TOOL_OPTIONS env variable.

We use JAVA_TOOL_OPTIONS to pass in memory settings and other JVM flags. Skaffold.yaml builds using jib-maven-pl

[2019-11-06 19:52] doman412 commented on #3171
Not sure if related but I've encountered an issue with `-p` not being respected and instead using the local kubectx. Using the same names for both profiles and contexts.

[2019-11-06 20:17] gbird3 commented on #3113
@balopat after doing more testing, this does not seem to be an issue with remoteManifest. I think my skaffold config is wrong. We have all of our k8s config in a central repo and so I am trying to add skaffold into that repo. It seems the issue may be that my skaffold.yml is not in the same directory as our dockerfile:

`apiVersion: skaffold/v1beta11
kind: Config
build:
  tagPolicy:
    sha256: {}

[2019-11-06 20:17] #3113 closed

[2019-11-06 23:17] gbird3 commented on #3113
I figured out my issue. We are storing our yaml onfig as nodejs code and coverting to a yaml file as part of a build process. The yaml conversion wasn't properly formatting the yaml file. Thanks for the help

[2019-11-07 04:56] tbarrella commented on #2983
Hey, just want to give a specific example

For pods that take 10 seconds each to roll out, it might make sense to set `progressDeadlineSeconds: 20`. If the Deployment has 20 replicas, it could take more than 20 seconds total for all the pods to roll out, depending on the update strategy, even if the Progressing condition is True throughout. But as is, the status check would fail after 20 seconds

[2019-11-07 08:51] #2904 closed

[2019-11-07 14:40] dgageot commented on #3186
I'm going to close this ticket since it's an issue with the gradle configuration.

[2019-11-07 14:40] #3186 closed

[2019-11-07 14:41] dgageot commented on #3188
Let's close this issue since it's the desired behaviour, for now. See https://github.com/GoogleContainerTools/skaffold/issues/2842

[2019-11-07 14:41] #3188 closed

[2019-11-07 14:42] dgageot commented on #1264
This can be close, we are waiting for https://github.com/GoogleContainerTools/skaffold/issues/2842 to make this feature active.

[2019-11-07 14:42] #1264 closed

[2019-11-07 14:44] dgageot commented on #1160
I'm going to close this issue because it seems to work ok now. Feel free to reopen if you still see the issue.

[2019-11-07 14:44] #1160 closed

[2019-11-07 14:54] dgageot commented on #3117
Hi @arashbi, any chance you had time to try `docker build .`?
If we can't reproduce the issue, we can't fix it.

[2019-11-07 15:43] #2484 closed

[2019-11-07 16:25] #3142 closed

[2019-11-07 20:16] tejal29 commented on #3098
Thanks @feloy for the PR, team was busy with Release 1.0.0. We will take a look at this soon now!

[2019-11-07 20:17] tejal29 commented on #3172
@AndiDog there is a `--namespace` flag for `--deploy`

[2019-11-07 20:19] tejal29 commented on #3156
Thanks @golgoth31. Team was busy with 1.0.0 release of skaffold. We will take a look at your PR soon.

[2019-11-07 23:38] stevesea opened #3210 "`dev` not invalidating image cache on lib change to multi-project config"
### Expected behavior

on code change, skaffold cache should have been invalidated and not used.

### Actual behavior

cached docker images used and rebuild isn't triggered.

### Information

- Skaffold version: 1.0.0
- Operating system: macos mojave 10.14.6

skaffold (via cloud code plugin) in continuous deploy mode is intermittently not picking up source changes and rebuilding the docker images.

[2019-11-08 05:57] oke-py opened #3211 ""Use the quickstart example" link navigates to 404 page"
### Expected behavior

https://github.com/GoogleContainerTools/skaffold/blob/master/DEVELOPMENT.md#verifying-local-changes

2nd link navigates to the quick start example page.

### Actual behavior

2nd link navigates to 404 page.

### Information

### Steps to reproduce the behavior

[2019-11-08 09:25] golgoth31 commented on #3156
No problem @tejal29 , thanks to the team for this great and huge job !

[2019-11-08 11:45] dkirrane commented on #2842
I get this on skaffold `1.0.0`
[code]

[2019-11-08 15:44] chanseokoh commented on #2842
@dkirrane I suspect that your error probably happens without `--XXenableJibInit` too. But even if it only happens with `--XXenableJibInit`, you should file a new issue. This issue is about remove the `-XXenableJibInit` flag to make it default. Could you file a new issue?

[2019-11-08 17:43] #3211 closed

[2019-11-08 18:44] aboullaite commented on #3186
Thanks @briandealwis and @dgageot for your help :)

[2019-11-08 20:55] chinmaya-n commented on #3171
Hi @tejal29 , This is not a feature request. This is actually a **bug**. I tested the same code with v0.40.0 it works fine but v0.41.0 breaks it. I didn't try it with v1.0.0 yet.

[2019-11-08 23:03] orkonano commented on #3210
I have the same issue since I updated to the last version 1.0.0

[2019-11-09 22:15] AndiDog commented on #3172
Sorry, a CLI argument is not a solution as I described in the summary. `skaffold.yaml` is supposed to be the central source of truth, while CLI args and environment variables serve as _overrides_. Therefore, one needs to be able to specify the default target namespace in that config file, while `-n/--namespace/SKAFFOLD_NAMESPACE` allow overriding that setting.

Can you please reopen, considering t

[2019-11-10 17:55] prary opened #3216 "skaffold/kaniko failing with minikube"
Skaffold is failing with minikube
[code]
It is not able to fetch inclusterConfig object
### Expected behavior
Should run smoothly
### Information
[code]

- Skaffold version: latest
- Operating system: windows
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. run a skaffold  build with above skaffold.yaml
2. `skaffold build  --config=C:\Users\OZA\.kube\config -n prashant

[2019-11-11 05:51] hden opened #3217 "[Feature Request] Cloud Run deployment target"
It may not be a good fit for skaffold, but it would be very interesting if we can deploy to Cloud Run (managed) with a simple config file e.g.

[code]

[2019-11-11 10:00] NotSoShaby commented on #1405
I just had this issue when trying to play with skaffold (v1.0):

skaffold.yaml:

[code]

k8s-celery-pod.yaml:

[code]

Error:

[code]

[2019-11-11 10:31] NotSoShaby opened #3218 "Permission denied when pushing to ECR using skaffold (ecr credential helper works)"
Trying to use ECR as a repo i followed the directions [here](https://github.com/awslabs/amazon-ecr-credential-helper) for credentials helper. I tested it and it works from terminal using a simple `docker push <ECR REGISTRY>/<IMAGE_NAME>:<TAG> . but using skaffold, the push fails on auth issue

### Expected behavior
skaffold will be able to push as long as `amazon-ecr-credential-helper` is configur

[2019-11-11 13:39] taisph opened #3219 "Updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrategy' are forbidden"
### Expected behavior

Running `skaffold deploy --label skaffold.dev/run-id="" ...` with v1.0.0 on an existing deployment made with v0.41 should not attempt to update specs it is not allowed to.

### Actual behavior

Skaffold seems to attempt to patch `volumeClaimTemplates` in my statefulsets prompting the error:
[code]

Overriding the label `app.kubernetes.io/managed-by` with a static value works

[2019-11-11 15:27] dahovey commented on #3109
I upgraded to v1.0.0 but issue still persists. Any guidance if issue might be something with my setup?

[2019-11-11 19:25] corneliusweig commented on #1405
@NotSoShaby Does your pod manifest really name an image with tag? In that case, Skaffold will just deploy the manifest, but not update the image. Can you try removing the image tag?

[2019-11-11 19:35] banshee commented on #336
Don't know if this is related, but I saw the problem when I ran the commands under ```sudo``` - and didn't get the same error without the sudo.

[2019-11-11 20:42] maxandersen opened #3220 "Reference images with only an image or only a tag to be cri-o/OCI compatible"
### Expected behavior
skaffold should have option to only use tags (or digest) when referring to generated images.
That is so it is compatible with the oci spec and will work in systems using cri-o (such as openshift/origin).

Today it references images like this:
`docker.io/maxandersen/skaffold-example2:v0.41.0-175-g448e4014-dirty@sha256:f3e4ce9a4d629b78aef104253d6233132853e1c355dbdd04b2a9d309f14

[2019-11-11 21:12] maxandersen commented on #3220
Note, I was hoping https://skaffold.dev/docs/pipeline-stages/taggers/ could be used to control this but it seems like skaffold always append `@<shadigest>` to whatever tag is generated.

[2019-11-11 21:15] ivanporty opened #3221 "Skaffold init in force mode still opens interactive mode when choice is ambiguous"
Setup:
* Use https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/java/java-hello-world project
* Remove `skaffold.yaml`
* Run
[code]
* Add `--force`, remove `--analyze` to try to force configuration:
[code]

*Expected*: skaffold to fail with non-zero code indicating it cannot force the ambiguous configurations.

[2019-11-11 21:38] TadCordle commented on #3221
I think the purpose of `--force` was to force overwriting existing skaffold configurations, not to force skip the interactive menu, correct? Is this a feature request?

[2019-11-11 22:08] etanshaul commented on #3221
`--force` seems to imply that something will happen no matter what - either a config file is generated, or failure

[2019-11-11 22:18] ivanporty commented on #3221
I would think of it as force create configuration no matter what or fail

[2019-11-11 22:58] maxandersen commented on #3220
I tried do a few changes to the codebase to strip the digest but turns out that since both gitcommit and sha256 taggers generates fully stable tags no matter the amount of changes you've made skaffold's logic relies on the digest to be present.

Then I tried to rewire the the manifest render which kinda worked but I'm not sure that would be the right level to fix it. Any guidance on where this wou

[2019-11-11 23:06] #2699 closed

[2019-11-12 02:48] zmb3 opened #3222 "kubectl deployer doesn't offer a way to skip validation"
### Expected behavior

I am trying to get out of a weird state which I believe is related to #1737.  I expect `skaffold delete` to clean up my deployment.

### Actual behavior

When I attempt to run `skaffold delete` I get an error:

I am using cert manager, which requires me to use `--validate=false` since I am not yet on kubernetes 1.15.  Unfortunately, skaffold does not allow me an option to do

[2019-11-12 03:27] jon-maki commented on #2282
I am also interested in getting some feedback and potentially support on using `skaffold` + `k3d` in an offline environment without access to a docker registry.

### Background
I work on distributed microservice-style web applications that we deploy using `docker-compose` and kubernetes. We've built and leveraged an extensive amount of tooling around our docker image building and deploying.

Our `

[2019-11-12 06:46] oke-py opened #3224 "skaffold build example is invalid"
https://skaffold.dev/docs/references/cli/#skaffold-build

This example may be invalid.

### Expected behavior

The command exits successfully.

I think it might be `skaffold build -q | skaffold deploy`, but it also returns an error.

### Actual behavior

The command creates empty `skaffold` file and returns an error.
[code]

### Information

- Skaffold version: v1.0.0
- Operating system: macOS Cat

[2019-11-12 09:01] prary opened #3225 "Changing log level to Info"
Following warning gives the impression of docker daemon necessarily install on the machine and for most of the guys docker daemon is the real daemon. Can we change log level to info instead of warning.

https://github.com/GoogleContainerTools/skaffold/blob/4dd6b59e9a2201f3f19dbe4c8ca2b616621349fa/pkg/skaffold/build/cache/retrieve.go#L128

https://github.com/GoogleContainerTools/skaffold/blob/4dd6b

[2019-11-12 09:26] adamgajzlerowicz commented on #3218
I am getting the same error on ubuntu. Pushing to docker hub works fine, but running `scaffold dev` fails with the above error.

I am just getting started with scaffold. Could it be that it is trying to push to a wrong registry, or uses different context than my workstation?

Thanks.

[2019-11-12 09:36] prary opened #3226 "Mounting of secrets and config map to Kaniko Pod"
### Actual behavior
At present there is no ability to mount config map and secret in kaniko pod.
Presently Kaniko pod create docker_config secrets and mount it and this isn't extensible in nature(
user cannot mount another secret/configMap)

### Expected behavior
[code]

- Skaffold version: v1.0.0

[2019-11-12 09:43] prary opened #3227 "Ability to set environment variable in kaniko pod"
In continuation of #3226
### Actual behavior
At present I guess its missing.
### Expected behavior
Provide the ability to set environment variable in kaniko pods
[code]
### Information

- Skaffold version: v1.0.0
- Operating system: NA

[2019-11-12 12:38] ishankhare07 commented on #3163
@balopat I'll be happy to take this up if its open.
Just to be clear, I guess we just need to replicate the `--tag` options from `skaffold build` to `skaffold run`

[2019-11-12 14:13] feloy commented on #3098
The PR #3099  is marged, I close the issue. Thanks

[2019-11-12 14:13] #3098 closed

[2019-11-12 15:04] dgageot commented on #3220
@maxandersen We currently assume that the digest can safely be appended to the tag. This is unfortunately done in multiple places (look for `+ "@" + digest` in the codebase).

The solution would be to extract that code to a function that appends the digest only to the basename.

If it's possible to activate that behaviour only when the underlying engine is cri-o, that would be a plus.

[2019-11-12 15:11] Awem opened #3229 "Allow passing image tag to docker build in buildArgs"
### Expected behavior
On `skaffold build` the tag of the docker image is immediately printed after `Generating tags...` and should therefore be available in the `buildArgs` template of the docker build configuration.

### Actual behavior
It is not available.
### Information

- Skaffold version: 1.0.0
- Operating system: Linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavio

[2019-11-12 16:23] dgageot commented on #3210
Hi @stevesea @orkonano do you have a small project that we can use to reproduce the issue?

[2019-11-12 17:29] wstrange commented on #3117
I am running into a related issue pulling images from a public gcr.io registry.

I get:
`FATA[0000] watching files for artifact am: listing files: listing files: expanding ONBUILD instructions: parsing ONBUILD instructions: processing base image (gcr.io/forgerock-io/openam:6.5.2) for ONBUILD triggers: getting remote config: getting image: error getting credentials - err: exec: "docker-credential-g

[2019-11-12 17:42] wstrange commented on #3117
Ahh -OK - I think I have a hunch on what is happening. This might be pilot error.

If I edit my docker/config.json  to remove the requirement for the `gcloud` credential helper- it works .

So (speculating...) I suppose if your docker config has at one time authenticated use the cred helper - you must continue to use it - unless you blow away your docker config again.

The user who reported this t

[2019-11-12 22:39] tejal29 commented on #1703
this is done now :)

[2019-11-12 22:39] #1703 closed

[2019-11-12 22:42] tejal29 commented on #3229
@Awem, skaffold runs locally and uses the local environment for substituting the variables.
Skaffold docker builder, does not parse the dockerfile to get to variables set in the dockerfile.

Does that make sense?

Please re-open this if you need more information.

[2019-11-12 22:46] tejal29 commented on #3225
I think the reason why this is warn is because warning is the default log level. That ways, users always see this warning message.

[2019-11-12 22:46] #3225 closed

[2019-11-13 02:55] georgekarrv commented on #889
End goal I would hope it's something as simple as this in our skaffold.yaml
[code]
where the mylib would be updated to use the sha256 from it's current build

[2019-11-13 08:05] dgageot commented on #3222
I see et least three options:
 + Use the `apply` flags for `kubectl create`: It might break for users who use flags that are supported by `kubctl apply` but not `kubectl create`.
 + Add a `create` section to the `flags` configuration. It might become really complicated, though.
 + Add a `validate` bool flag to the `kubectl` config. This is my favourite option so far.

@zmb3 wdy?

[2019-11-13 08:08] dgageot commented on #3220
@maxandersen Can you share the output of `kubectl get nodes -oyaml`. I'd like to see if we can auto-detect the runtime.

[2019-11-13 08:09] dgageot commented on #3150
A big +1 on that.

[2019-11-13 08:12] dgageot commented on #2807
I'm going to close this one because we couldn't reproduce it and it's been a month since people added comments to the issue.
Please reopen if you still have the issue.

[2019-11-13 08:15] dgageot commented on #3117
@wstrange Are you ok if we close this issue since the problem comes from the content of `docker/config.json`? Or maybe you expect Skaffold to do something different?

[2019-11-13 08:16] dgageot commented on #2217
@gbates101 Is the issue still there?

[2019-11-13 08:18] dgageot commented on #3156
@priyawadhwa could you help us sort this out? Thanks a lot!

[2019-11-13 08:40] prary commented on #3047
am I the only one facing this issue, though not critical but definitely annoying
[code]

[2019-11-13 10:11] giladsh1 commented on #3171
I can confirm this error still exists in version v1.0.0

[2019-11-13 13:04] wstrange commented on #3117
Hi @dgageot

I did not open the issue - but I suspect it is the same problem that I ran into. I agree it makes sense to close it now because it is not something skaffold can solve.

[2019-11-13 13:08] prary opened #3231 "Kaniko Pod not timing out"
### Expected behavior
Skaffold should kill the build process after timeout is reached
### Actual behavior
Skaffold not kill the build
### Information

- Skaffold version: v1.0.0
- Operating system: Linux
- Contents of skaffold.yaml:

[code]
### Logs
[code]
### Steps to reproduce the behavior

1. `time ./skaffold run --tail -n 103000-pra-dev `

[2019-11-13 14:00] zmb3 commented on #3222
I’m not experienced enough with the tool/ecosystem yet to have an opinion. Happy to help with an implementation when we decide on a solution though.

[2019-11-13 15:13] dgageot opened #3236 "hack/test-generated-proto.sh fails often on Travis"
See https://travis-ci.com/GoogleContainerTools/skaffold/jobs/256153121

[2019-11-13 16:19] dgageot opened #3240 "TestUnavailablePort takes 5 seconds"
The test is too long for a unit test

[2019-11-13 17:18] Awem commented on #3229
Not sure whether we mean the same thing here. The Dockerfile is just for demonstration of a possible build. I do not want Skaffold to parse the Dockerfile. I am only looking for a possibility to use the name of the image (printed by Skaffold after `Generating tags...` on `skaffold build `) in the buildArgs key of my `skaffold.yaml`.
Since the templating feature is supported for `buildArgs` this sh

[2019-11-13 17:20] prary commented on #3231
I thought of raising PR :P

[2019-11-13 18:09] #3231 closed

[2019-11-13 18:16] dahovey commented on #3109
Figured out the issue! It has to do with the case of the original folder compared to what was typed in the terminal. Originally I created the folder as `~/Projects` but when cd'ing into folder in the terminal I would I would use `cd ~/projects/...`.

I was able to use the below simple code to isolate this as NOT a skaffold specific problem. If using the below code and there are differences in case

[2019-11-13 20:59] nkubala opened #3242 "Convert examples into more complete and simpler tutorials"
Our examples demonstrate some nice workflows with Skaffold, but they're self contained and a bit hard to follow or use. We should convert them into more detailed tutorials to show off some of the diverse workflows that Skaffold can assist with.

[2019-11-13 22:51] #1358 closed

[2019-11-13 23:22] maxandersen commented on #3220
@dgageot it’s a rather big cluster i'm testing on so a rather large file :) but I assume this section is what you would be looking for:

[code]

particular `containerRuntimeVersion: cri-o://1.14.11-0.23.dev.rhaos4.2.gitc41de67.el8` ?

[2019-11-13 23:23] maxandersen commented on #3220
Autodetection is fine but I would still think it should be something to explicitly enable/declare to do rendering without contacting the cluster?

[2019-11-14 00:55] balopat commented on #3229
Thank you for opening - this is a bug, the docs are confusing and a code is terribly inconsistent.

It is supposed to work, as we do evaluate env vars there. However, our calculated values are handled inconsistently across the code base:

`ExecuteEnvTemplate` takes an extra map where we should pass down the calculated fields.
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffol

[2019-11-14 01:03] #3224 closed

[2019-11-14 06:13] dgageot commented on #3236
Hopefully fixed by #3237

[2019-11-14 06:13] #3236 closed

[2019-11-14 10:56] igoooor commented on #2142
with helm 3 official release, you can get `skaffold run` to work by adding
[code]

But this is only a temporary fix until skaffold fully supports helm 3.

What is still not working at the moment is to delete a release as the syntax changed.

[2019-11-14 12:58] robertgates55 opened #3247 "Multi-stage build support/artifact dependencies"
We currently have a multi-stage Dockerfile, that we use to build multiple artifacts from the same base. Eg (pseudo-code):

[code]

I then created a skaffold.yaml file that looks like:
[code]

The issue is that obviously once using a cluster build (using kaniko), the `build_base` target ends up running in multiple containers at the same time, which is a waste of time and resource. Is there any way

[2019-11-14 13:45] dgageot opened #3248 "deprecate `useDockerCLI` and `useBuildkit`"
Thanks to the `custom` builder, we could remove `useDockerCLI` and `useBuildkit` from the `docker` builder. If people want to use bleeding edge flags of the Docker CLI, they will be able to do it with the`custom` builder.

[2019-11-14 13:52] dgageot opened #3249 "Remove`gcsBucket` upload strategy for in-cluster builds"
Since we introduced the `localDir` build context, it seems that the we could deprecate the `gcsBucket` build context. I see multiple advantages:

 + It makes current code simpler
 + Supporting additional artifact types, in-cluster, would be simpler to implement
 + It would make it easier for users to understand if the kaniko secret is for pulling from GCS or pushing to GCR or both.

[2019-11-14 14:00] dgageot opened #3250 "Deprecate the kaniko artifact type"
The `cluster` builder should be able to build `docker` artifacts using `kaniko`, without the user having to change the artifact type.

We should move all the `kaniko` configuration to the `cluster` builder.
(flags, buildContext, image, cache, reproducible, skipTLS)

[2019-11-14 16:53] snickell commented on #2142
Is there a wip effort (or even a branch?) to fix this on the googly side that we can't see? If not, I might be up to take a pass at this.

[2019-11-14 19:43] balopat commented on #3250
I'm not sure I agree with all this.

1. kaniko is useful to know as the underlying implementation, so the explicit name is good, not sure why we need to deprecate it
2.
`flags` are kaniko specific.
`buildContext` - maybe generic enough, but is required `per artifact`
`image` - yes, we could have a builderImage I guess - but that limits the contract to a single image, instead of a pod spec.
`cache`

[2019-11-14 20:06] dgageot commented on #3250
I agree with your points. I still find it complicated to change the artifact type to build a Dockerfile on a cluster though

[2019-11-14 20:08] cliffburdick commented on #939
@balopat besides the original scenario, I think there are other use cases for labeling images besides just for image cleanup. Is there a way to do that? Maybe have a label section just as there is buildArgs?

[2019-11-14 22:28] balopat commented on #3250
Cluster does not seem like the right place for docker/kaniko specific things. The builder needs to be artifact independent.

I agree that switching the type can better. The complication is between translating docker settings to kaniko settings: we could have an abstraction over docker and kaniko settings for the translateable subset - and have the option for tool specifics that just won't translat

[2019-11-14 23:51] #3187 closed

[2019-11-15 00:23] balopat commented on #2325
This should doable now in the next release (v1.1.0 that will come next week) or the bleeding edge https://skaffold.dev/docs/install/, please open an issue if you find an issue

[2019-11-15 00:23] #2325 closed

[2019-11-15 01:03] balopat commented on #3247
Thanks for opening @robertgates55!
I don't see currently any way to do this kind of optimization.
We are thinking about adding the concept of "modules" to skaffold which would enable definiing dependencies between themselves (and, hence, between artifacts). However that still wouldn't help here as you are trying to optimize the base image layer build on cluster.
That would require build DAG analys

[2019-11-15 01:06] balopat commented on #3125
This documentation is done. Closing. Let me know if you have any more questions.

[2019-11-15 01:06] #3125 closed

[2019-11-15 01:08] balopat commented on #2968
we have this now under https://skaffold.dev/docs/environment/image-registries/ that is more visible. I hope that helps.

[2019-11-15 01:08] #2968 closed

[2019-11-15 05:32] dshetty312 opened #3254 "Can skaffold accept https proxy for running kubectl command?"
### Expected behavior

Sample app deployed to GKE cluster

### Actual behavior

1.FATA[0011] reading manifests: kubectl create: Running [kubectl --context <context-name> create --dry-run -oyaml -f k8s-pod.yaml]: stdout , stderr: Unable to connect to the server: net/http: TLS handshake timeout
, err: exit status 1: exit status 1

### Information

- Skaffold version: v1.0.0
- Operating system: Mac
-

[2019-11-15 08:46] danacr commented on #3187
Can confirm, skaffold `v1.0.0-70-ga045e9d7` no longer has this bug.

[2019-11-15 09:28] danacr opened #3256 "Sync permission error for buildpacks"
### Expected behavior
Skaffold succeeds in synchronising  local files

### Actual behavior
Skaffold fails in synchronising  local files

### Information

- Skaffold version: version v1.0.0-70-ga045e9d7
- Operating system: Mac OS X Catalina 10.15.1 (19B88) Darwin Kernel Version 19.0.0
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. git clone https://github.com/danacr/s

[2019-11-15 09:34] ktarplee commented on #2142
The notable differences with helm v3 that I have noticed and fixed in my skaffold [fork](https://github.com/ktarplee/skaffold) are:
1) "helm install" syntax changed
2) "helm get" syntax changed.  This is used in skaffold to check if the release already exists (for install vs upgrade)
3) "helm delete" does not have --purge

My fork went the path of making the helm deployer work for both helm v3 and

[2019-11-15 09:52] dgageot commented on #3256
oh, that makes sense that this fails now. Let me take a look!

[2019-11-15 10:13] dgageot commented on #3256
@danacr can you try to change `dest` to `/workspace`? It should succeed to sync files.

[2019-11-15 10:24] danacr commented on #3256
The error no longer shows up, but the synchronisation does not work. These are the logs:
[code]

I can only see changes when the container is rebuilt (by modifying skaffold.yaml). The new changes are reflected in the repository: https://github.com/danacr/skaffold-buildpack-example

[2019-11-15 10:25] dgageot commented on #3256
This behaviour is unfortunately expected. Skaffold can sync files but won't retriever a go build. So for now, sync is only useful for static files or interpreted languages. Not so much for compiled languages.

[2019-11-15 10:33] danacr commented on #3256
Good to know. Fortunately, we are using rails for the skaffold use case, so that is not an issue. I just tested using `/workspace` there, and it works!

I think we can close the issue.

[2019-11-15 10:42] dgageot commented on #3256
awesome, thank you for being one of the firsts to test our buildpacks support

[2019-11-15 10:42] #3256 closed

[2019-11-15 16:36] briandealwis commented on #3254
Setting `HTTPS_PROXY` in the environment before invoke Skaffold works for me.  I tried both proxying with a non-existent proxy (below) to show that it fails, and with a local proxy via `ssh -D xxx` which worked.
[code]

[2019-11-15 17:23] #3082 closed

[2019-11-15 17:55] #3156 closed

[2019-11-15 19:32] robertgates55 commented on #3247
Thanks for the quick response @balopat

Fully understand that the full optimised answer would be a big stretch - and it doesn't really feel like the primary aim of skaffold. The "modules" concept would definitely work for my case though surely, as it would allow me to build the base image up front, and then consume it in multiple parallel cluster builds?

[2019-11-16 00:35] #3163 closed

[2019-11-16 00:44] balopat commented on #3254
@dshetty312 would @briandealwis's solution be sufficient?

[2019-11-16 03:49] dshetty312 commented on #3254
@briandealwis : Thank you. It works!

@balopat : Yes the solution works.

[2019-11-16 16:34] prary commented on #3225
Hi @tejal29 I think I didn't phrase it correctly let me rephrase it.
Can we change
```logrus.Warnf("error adding artifacts to cache; caching may not work as expected: %v", err) ```
to
```logrus.Infof("error adding artifacts to cache; caching may not work as expected: %v", err) ```

warning looks too harsh and creates a impresssion as if docker needs to be installed on the machine which isn't the c

[2019-11-16 23:40] maxandersen commented on #3220
Gave this a go but just replacing all places with `+ "@" +` was not sufficient - the initial name:tag@sha seem to be created somewhere else. My current progress is in https://github.com/maxandersen/skaffold/tree/cleantagdigest if curious or can point to where else the tag@sha happens.

[2019-11-17 00:46] botwhytho opened #3261 "Setting specific profile with flag should override any activations (which are 'implicit')"
### Expected behavior

We have some profiles with kubecontext activation in our skaffold configs but have other profiles ('testing' for example) that are unable to run even when running `skaffold run -p test` because the kubecontext activation seems to override that profile.

It is a common pattern for runtime flags to take precedence of more 'implicitly set' values like a config file or the defau

[2019-11-17 05:23] oke-py opened #3262 "doc: table is not correctly rendered"
https://skaffold.dev/docs/design/api/

### Expected behavior

table is correctly rendered.

### Actual behavior

table is not correctly rendered.

![ss_ 2019-11-17 14 20 27](https://user-images.githubusercontent.com/4710215/69003447-9c6cf080-0945-11ea-860e-c5ff260968e8.png)

### Information

### Steps to reproduce the behavior

[2019-11-17 08:26] ideasculptor commented on #3254
This solution doesn't really work - other commands pick up that environment variable and use it (specifically, pretty much everything - curl, gcloud, things written in Go), and there is a high likelihood that some of those things will also be run by skaffold.  Since my proxy is specific to running kubectl for one particular cluster, and is only useful for accessing the private ip address of that G

[2019-11-17 08:29] ideasculptor commented on #3254
smething that just allows control over custom environment variables when running kubectl would be sufficient.  I don't mind modifying a skaffold file to include the extra environment var.

[2019-11-17 13:08] simonz130 opened #3264 "v1 release of skaffold broke existing apps"
### Expected behavior
I use skaffold.yaml that doesn't define full paths for container images but rather only image name.
For example, guestbook-frontend instead of gcr.io/{project_id}/guestbook-frontend.
When executing *skaffold run* we pass *--default-repo* parameter to specify gcr.io/project_id that is appended to the name of the image in skaffold.yaml.
This used to work before skaffold 1.0 was

[2019-11-18 06:17] dgageot commented on #3264
Sorry @simonz130, this regression was fixed with https://github.com/GoogleContainerTools/skaffold/pull/3245.
For now, you can either use master branch or specify a projectID in the skaffold.yaml

[2019-11-18 06:18] #3262 closed

[2019-11-18 08:09] simonz130 commented on #3264
Thanks for a quick fix.

I can work around this for my projects, but it is an issue for Cloud Code samples. They on purpose don't specify project_id in the skaffold.yaml and use --default-repo to append it (the value is asked in *Cloud Code: Deploy* flow.
So if folks update to skaffold v1, samples might start to be broken for them. Can we release a new version of skaffold with the fix?

[2019-11-18 09:24] riker09 opened #3266 "microservices example is broken"
I wanted to get familiar with Skaffold, as this seems to solve many of the issues we're facing with day-to-day development. However, I cannot get the microservices example to run.

### Expected behavior

`minikube service leeroy-web --url` to resolve to an URL

### Actual behavior

[code]

### Information

- Skaffold version: v1.0.0
- Operating system: Ubuntu 19.10 @ 5.3.0-23-generic
- Minikube ve

[2019-11-18 09:41] riker09 commented on #3266
It looks like I'm having the same issue as in #2381.

I can `kubectl port-forward pod/leeroy-web-d5bf49d8c-mfsvx 8888:8080` but `minikube service leeroy-web --url` still gives me an error.

[2019-11-18 10:11] riker09 commented on #3266
Actually, nevermind, I missed the `--port-forward` flag as mentioned in the [documentation](https://skaffold.dev/docs/pipeline-stages/port-forwarding/).

The documentation in `examples/microservices/README.adoc` should at least mention this, imho.

[2019-11-18 10:11] #3266 closed

[2019-11-18 10:48] dgageot commented on #3264
ping @balopat I moved that to p0

[2019-11-18 14:10] Andrei-Stepanov opened #3267 "RFE: Cluster builds with kaniko: allow to set securityContext / serviceAccountName"
Hello.

It would be good to allow user specify securityContext / serviceAccountName for Kaniko builds.

# Expected behavior

1. Kaniko pod can build images on OpenShift.
2. Modify base-images. Build as root.
   For example have a Dockerfile with: `RUN yum install --assumeyes openssl-devel`

### Actual behavior

1. Kaniko-pod fails to build **any** image on OpenShift with error:

[code]

### Inform

[2019-11-18 14:16] Andrei-Stepanov opened #3268 "RFE: add support for buildah builder"
Hello,

Skaffold doesn't support natively Buildah builder.
Please add support for Buildah builder, so users can create\push images locally using buildah.

For this moment workaround is to use `custom` build:

[code]

[code]

[2019-11-18 16:17] ConnorBarnhill opened #3269 "Why does skaffold append sha256 to deployment tag"
[code]

### Expected behavior
Deployed images are tagged with git commit info or datetime and are consistent

### Actual behavior
Skaffold appends sha256 hash to deployment, causing inconsistent tags

### Information

- Skaffold version: 1.0.1
- Operating system: linux

[2019-11-18 16:26] #3221 closed

[2019-11-18 19:35] balopat commented on #3261
Thank you for opening @botwhytho - this should be relatively easy to fix and I agree that we are breaking here a conventional pattern. @dgageot you want to take a shot at this, I see you self-assigned?

[2019-11-18 19:37] balopat commented on #3267
Thank you for opening @Andrei-Stepanov! We have a lot of issues from @prary as well, that are around the inflexibilities of configuring kaniko from Skaffold. I am actively thinking about these issues - so that we don't have to one-by-one add a new supported field.

[2019-11-18 19:47] balopat commented on #3268
Thanks for opening @Andrei-Stepanov, and especially thank you for sharing the script for the buildah integration!

The reason we created the custom builder is exactly this: there are a couple of builders out there but they might not align strategically currently with the project or we don't see a big enough demand yet for it to make it worthwhile for us to maintain native integration with them.

I

[2019-11-18 20:01] balopat commented on #3269
Hi @ConnorBarnhill, thank you for the question!

A digest uniquely identifies each image and pinning to a digest is [considered a best practice](https://success.docker.com/article/images-tagging-vs-digests).

In your case you have 2 artifacts - they have the same _tag_ but different digests as they are different images.

I hope I answered your question?

[2019-11-18 20:10] nkubala commented on #939
this would currently be possible by using a custom builder that just issues a `docker build` with the labels set on it, but yes we could just add a `labels` section to the docker artifact in the skaffold.yaml and then pass those to the CLI when we do the docker build.

@cliffburdick are you interested in submitting a PR?

also @balopat if we could somehow autogenerate the flag surface into the ska

[2019-11-18 20:25] balopat commented on #3254
Gotcha, I agree that this is hard to get around currently.
It would be great if kubectl would have `--http(s)-proxy`, then we could just use that in `deploy.kubectl.global`.
Because they don't I am open to have `httpsProxy` and `httpProxy` fields for kubectl. That should be relatively easy to implement, and would specify the HTTP_PROXY and HTTPS_PROXY env vars for all kubectl commands.

[2019-11-18 20:27] balopat commented on #3254
This will require introducing two new fields as a config change in `latest.go` and as such, a new unreleased version. Should be relatively easy to implement it. PRs are welcome!

[2019-11-18 21:34] #3192 closed

[2019-11-18 22:02] cliffburdick commented on #939
@nkubala I'll look into it. It seems fairly easy to do.

[2019-11-19 01:36] balopat commented on #3264
With the latest release this should be fixed. Please confirm @simonz130

[2019-11-19 03:49] d11wtq commented on #2068
I'm interested in this too. Did this make it into a PR?

[2019-11-19 10:34] oke-py opened #3270 "header part of CLI document does not list `debug` & `credits` subcommand"
### Expected behavior

header part of CLI document should list all subcommands.
`debug` and `credits` should be added.
https://skaffold.dev/docs/references/cli/

### Actual behavior

`debug` and `credits` are not listed.

[2019-11-19 12:44] logart commented on #3219
@taisph Hello, could you please share your config to override labels. I am new to all of this and trying to fix my deployment that fails with the same error as yours. Thank you for help.

[2019-11-19 12:52] taisph commented on #3219
@logart Here's the full anonymized command I currently use in the ops pipeline with skaffold v1.0.0:
[code]

[2019-11-19 14:58] thrix commented on #3268
Yeah, it would be nice to have this :+1: . Basically without this all users on Fedora will have issues running skaffold in default configuration.

[2019-11-19 15:16] bmcustodio opened #3272 "'skaffold debug' should support build triggers"
`skaffold debug` is awesome, but as far as I understand it doesn't support "redeploy-on-change"—meaning that to debug a change one has to stop and restart `skaffold debug`, which may be a bit awkward. It would be great if `skaffold debug` would behave a bit more like `skaffold dev`. Thoughts?

[2019-11-19 15:17] bmcstdio commented on #3272
BTW, I am not sure whether this is this a duplicate of #2351 or not—sorry if it is indeed.

[2019-11-19 17:50] ideasculptor commented on #3254
I appreciate that, but my go skills are basically non-existent, and I am already kept incredibly busy submitting multiple PRs every week for terraform-google-modules.

This is one that someone else is going to have to do.  I already spend well more than half my time fixing/modifying terraform module behaviour rather than working on my own infrastructure.  I can't add skaffold changes to my workloa

[2019-11-19 17:56] ideasculptor commented on #3254
As it happens, running this seems to work in my particular case:

[code]

If I set it as an environment var and then run skaffold as a separate command, that breaks things when it checks to see if the image already exists in the repo. The following does NOT work correctly:

[code]

When I set it as a var in the same command that runs skaffold, it seems to magically do the right thing.  I assume va

[2019-11-19 18:58] sgammon commented on #3148
possible duplicate with #3118?

[2019-11-19 19:07] sgammon commented on #2400
either this or the ability to push manifests as bootstrap items would be great

[2019-11-19 22:38] simonz130 commented on #3264
I can confirm that now the samples are unblocked - see example CI/CD pipeline run after the skaffold changes were applied: https://github.com/GoogleCloudPlatform/cloud-code-samples/pull/180

[2019-11-20 11:35] prary commented on #3225
Every time I run skaffold build it gives scary warning instead of happy success message which looks like a failure.

[code]

[2019-11-20 17:20] balopat commented on #2273
Thanks for opening this @braderhart.
Secret management is important for us and we do want to help with the workflows around it.

Regarding "Make skaffold easier to adapt to new features in underlying tools": that's another area that we are thinking about - same issues crop up around kaniko for example.

[2019-11-20 17:31] balopat commented on #3272
Hi @bmcstdio - thanks for opening this!

Yes, this was intentional from the get-go because we didn't have a clean separation between file sync and debug, and the whole filewatcher is turned off for debug:
https://github.com/GoogleContainerTools/skaffold/blob/master/cmd/skaffold/app/cmd/debug.go#L39
@briandealwis can share a bit more about the plans, but I think this should be possible.

[2019-11-20 17:33] balopat commented on #3270
Thanks @oke-py, yupp, that's missed. Easy fix:

- fix in https://github.com/GoogleContainerTools/skaffold/blob/master/docs/content/en/docs/references/cli/index_header
- run `hack/generate-man.sh`

[2019-11-20 17:52] ivanporty commented on #3221
Thanks @TadCordle!

[2019-11-20 18:44] briandealwis commented on #3272
Hi @bmcstdio.  `debug` disables the file watcher because it's really awkward have a process call stack in the debugger be torn down because you saved a change (triggering a rebuild and redeploy, causing the container and process being killed).

`debug` should use the newer mechanisms to disable the auto build so that it can be overridden or triggered externally though.  I'll repurpose this bug for

[2019-11-20 22:01] balopat opened #3275 "improve error message when docker is not installed"
We should reproduce and improve the messaging here:

![image](https://user-images.githubusercontent.com/635073/69282066-4941aa80-0b9e-11ea-9324-df6870ab6ff3.png)

[2019-11-21 10:39] petr-buchyn opened #3277 "Skaffold generates strange warnings when running with many profiles"
### Expected behavior
I expect Skaffold to run in `dev`-mode without errors and warnings, when configured correctly
### Actual behavior
We use Skaffold to develop locally a big platform, which consists from many services.
We use Helm as our deployer.
We have separate profiles for different services in `skaffold.yaml`, therefore our  skaffold command looks like following:

[code]

However, after He

[2019-11-21 16:36] ConnorBarnhill commented on #3269
Hi @balopat,

Thanks for the response. That's correct, but this appears to be new behavior. Previously I was able to reference an image using only the provided tag but now the digest is appended and breaks the existing workflow.

Image 1 is responsible for launching a kubernetes pod with image 2 in response to certain events. Ideally image 1 should be launching image 2 that is of the same version.

[2019-11-21 16:47] #3264 closed

[2019-11-21 19:53] briandealwis opened #3280 "Use fully-qualified jib plugin references for Maven"
The Skaffold-Jib binding currently requires Jib to be explicitly referenced in a Maven project through a `<plugins>` or `<pluginManagement>` reference in the root `pom.xml`.  If we instead referenced the plugin with its group-artifact IDs (`mvn com.google.cloud.tools:jib-maven-plugin:build`) instead of the plugin-prefix (`jib`) then we should be able to do away with this `<plugins>`/`<pluginManage

[2019-11-21 19:55] briandealwis commented on #3280
Quick stab at https://github.com/briandealwis/skaffold/pull/new/jibmaven-group-artifact — doesn't address `skaffold init`.

[2019-11-21 20:56] chanseokoh commented on #3280
I think the idea makes sense. I wonder if we can have a feature parity with Gradle.

[2019-11-21 23:44] jl-ward commented on #2535
I am also noticing that passing multiple profiles is not working as the documentation suggests.
https://skaffold.dev/docs/environment/profiles/
I am on version 1.0.1
Here is an example of a skaffold.yaml that can be used to verify:
[code]

[2019-11-22 00:46] jl-ward commented on #3277
I see that there is a pr to address the warning issue I am also seeing, but I can't seem to get passing multiple profiles to work as the documentation and the op suggests.  I am on version 1.0.1 of Skaffold and running macOS Mojave.
https://skaffold.dev/docs/environment/profiles/
Here is an example of a skaffold.yaml that can be used to verify:
[code]
Running any of the below does not work.
[code]

[2019-11-22 08:53] miklosbarabasForm3 opened #3281 "skaffold debug fails to recognize CRD"
### Expected behavior
`skaffold debug` recognizes my openfaas CRD and deploys it (even if it's not debuggable)
### Actual behavior
`skaffold debug` fails because a CRD is being used in one of the manifests under `deploy.kubectl.manifests`:
[code]

### Information

- Skaffold version: v1.0.0-98-g4c2ba6fa
- Operating system: Ubuntu 18.04.3 LTS
- Contents of skaffold.yaml:

[code]

- Contents of func

[2019-11-22 09:24] prary commented on #3275
Hi @balopat
Plus this #3225 .

[2019-11-22 11:12] petr-buchin commented on #3277
@dgageot I see you created a fix for that issue. Thank you very much!
However, what do you think - maybe it's better to create some hash of profiles string, instead of trimming it to 62 characters and adding `z` ?

Hash from the whole profiles strings will actually change with the profiles string

[2019-11-22 14:54] laurentvaills commented on #3266
I met that same issue. I think this issue could reopened to have the documentation updated like:
- Running skaffold like this: `skaffold dev --port-forward`
- The curl commands updated to this: `curl http://localhost:9000/`

The `Service` was removed in this commit https://github.com/GoogleContainerTools/skaffold/commit/3f93642deee42e3ad3dfab741fec88850f14a85b .
@balopat : What was your motivation

[2019-11-22 15:36] dgageot commented on #3270
@oke-py would you like to submit a PR?

[2019-11-23 03:20] briandealwis commented on #3280
Maybe with an [init script](https://docs.gradle.org/current/userguide/init_scripts.html)?

[2019-11-23 11:21] oke-py commented on #3270
I submitted a PR.

[2019-11-23 14:53] talonx opened #3286 "Installing Skaffold page does not actually talk about how to install it"
### Expected behavior
Instructions on how to install Skaffold should be there. E.g. a one liner like
[code]
is sufficient, for Linux.

### Actual behavior
No such information.

### Information

NA
### Steps to reproduce the behavior

Visit https://skaffold.dev/docs/install/

[2019-11-24 02:26] kvokka commented on #2875
@balopat any news? Unfortunately, this is still a blocker for me

[2019-11-24 03:10] ccll commented on #528
Same here, waited a long time for this feature, finally I turned to [devspace](https://github.com/devspace-cloud/devspace) which support multiple deploy method be used at the same time.
Everyone should definitly try that if skaffold fails you.

[2019-11-24 17:21] mgoltzsche commented on #2730
In my case the log looks as follows:
[code]

[2019-11-25 06:26] #3270 closed

[2019-11-25 11:30] reddybhavaniprasad opened #3288 "Unable to run docker-compose file through skaffold in Openshift"
I am trying to run docker-compose file through skaffold in Openshift and found the following command in [https://github.com/GoogleContainerTools/skaffold/tree/master/examples/compose](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/compose)

	skaffold init --compose-file docker-compose.yaml

### Expected behavior
It should generate kubernetes manifests based on the docker-com

[2019-11-25 20:00] balopat commented on #3286
Thank you for opening @talonx!

In my browser I see this:

![image](https://user-images.githubusercontent.com/635073/69573524-238c1b00-0f7b-11ea-841c-30b2b518975a.png)

Maybe Javascript is disabled in your browser? I think that might be the issue.

[2019-11-25 20:40] kvokka opened #3292 "kubectl profile not deployed, when activated with helm profile"
When I execute `skaffold dev -p minikube_pubsub_emulator` I get correct output:
(The same statement is correct for another profile)

[code]

But when I mix it with profile, which contains helm deploy, the image was built but the kubectl deploy process is omitted. Skaffold deploy only helm chart:

[code]

skaffold version 1.0.1
OS MacOs 10.15.1

[code]

[2019-11-25 21:13] wpwoodjr opened #3293 "invalid memory address or nil pointer dereference: azure.(*azureTokenSource).storeTokenInCfg"
### Expected behavior
No segfault

### Actual behavior
Segfault

### Information
Was trying skaffold example with our local registry and AKS.  Not sure if it's relevant, but AKS did not have priv to pull from our registry and got an ImagePullBackOff error.

- Skaffold version: 1.0.1
- Operating system: WSL / Ubuntu
- Contents of skaffold.yaml:

[code]

### Segfault info scraped from terminal outpu

[2019-11-25 21:22] wpwoodjr commented on #3293
I switched repos to docker.io which AKS has access to.  The pod deployed to AKS and is working, but I got the same segfault.  Seems to be related to AKS auth somehow.

[2019-11-25 21:30] kvokka commented on #2535
I experience the same behaviour with skaffold 1.0.1 on macOs 10.15.1.

[2019-11-25 21:34] kvokka commented on #3277
I experience the same behaviour with skaffold 1.0.1 on macOs 10.15.1.

Also, this bug makes
[code]
useless, since it blocking the manual profile selection.

[2019-11-25 22:20] balopat commented on #3288
Hi @reddybhavaniprasad, thanks for opening this issue!
Can you provide a minimal / non-sensitive version of your docker-compose file so that we can reproduce it?
Thanks!

[2019-11-25 22:44] balopat commented on #3269
Theoretically the tag should be there without a problem, if you cut the digest off, you can still reference both images with the tag only. How does "image1" pod know about the version?

[2019-11-25 22:45] balopat commented on #2807
This came up again in: https://github.com/GoogleContainerTools/skaffold/issues/3293

[2019-11-25 22:59] balopat commented on #3293
This seems like a dupe of #2807, thanks for reporting!
Can you try to reauthenticate to AKS? Does kubectl work normally? From the stacktrace it seems that as skaffold is trying to setup logging the authentication seems to be missing a token.
Also, before you reauth - can you try `skaffold run` vs `skaffold run --tail`? (if my understanding is correct the former should succeed, the latter should fa

[2019-11-25 23:27] balopat commented on #3281
Thanks for opening, @miklosbarabasForm3 - I confirm, that `skaffold dev` works with a Function like that as long as the openfaas CRD is deployed - however `skaffold debug` fails. We should be more lenient if the "no kind XYZ is registered for version ABC in scheme ..." error in https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/debug/debug.go#L68-L71 and just continue for no

[2019-11-25 23:29] balopat commented on #3292
Thanks for opening @kvokka - this works as intended currently. We support only one type of deployer at one time. What's happening is that the helm profile _overrides_ the previous profile's `deploy` value with helm.

[2019-11-26 00:04] balopat commented on #3172
I'm open for adding this, and thank you @AndiDog for volunteering to implement it :)

[2019-11-26 00:36] kvokka commented on #3292
Thank you @balopat for such a quick response.

The thing is that this deploy option could be the hack for #2875 issue.

This is very important nuance which is not mention in the docs. May be it is good idea to add it in there?

[2019-11-26 00:41] swarkentin commented on #2126
I have a similar setup. I run `skaffold build` once, prior to running `skaffold dev` to get the base image(s) built.

[2019-11-26 04:24] talonx commented on #3286
Strangely enough I can see the content now. Perhaps my ad-blocker was the culprit and blocking one of the CDNs serving JS. Thanks!

[2019-11-26 04:24] #3286 closed

[2019-11-26 06:53] #3261 closed

[2019-11-26 06:53] #3277 closed

[2019-11-26 13:33] Nuke1234 commented on #2745
Hello!

The issue with the Skaffold labels is still present. It breaks the semantic of kubectl apply and is a show stopper of using Skaffold for deploying. It makes no sense that metadata of a tool used in the deployment process triggers a restart of the pods.

[2019-11-26 13:36] quick-question commented on #2535
[I couldn't get profiles to work right either](https://github.com/GoogleContainerTools/skaffold/issues/2741). I think it should just be removed from the docs at this point unless someone can demonstrate that they work.

[2019-11-26 13:57] bmcstdio commented on #528
I'd also love to see this happening. :+1:

[2019-11-26 15:09] wpwoodjr commented on #3293
I'm not sure what you mean by re-authenticating.  There are access and refresh tokens in the kubectl config file.  kubectl works great:
[code]
As you can see the getting-started pod is running fine, so the authentication was working.

Here is the kubectl config file:
[code]

[2019-11-26 15:12] wpwoodjr commented on #3293
```skaffold run``` works and ```skaffold run --tail``` fails as above.

[2019-11-26 15:26] ConnorBarnhill commented on #3269
image1 retrieves the version via an environment variable that reads from the helm values. The tag in the environment variable is specified correctly but whenever it tries to pull image2 it can't find the tag. I'm not sure I can pull without knowing the digest

[2019-11-26 16:04] wpwoodjr opened #3295 "Skaffold doesn't clean up docker images and containers, even after skaffold delete"
Docker images and containers aren't cleaned up, even after ```skaffold delete```.

### Expected behavior
Docker images and containers are always cleaned up

### Actual behavior
Docker images and containers remain, creating clutter and wasting disk space.

### Information

- Skaffold version: 1.0.1
- Operating system: WSL/Ubuntu
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behav

[2019-11-26 16:33] ct-sweeney opened #3296 "skaffold not using local docker images with latest kind cluster v0.6.0"
### Expected behavior
skaffold config set -k $(kubectl config current-context) local-cluster true set config to use local kind cluster
Skaffold Dev --port-forward should deploy and run containers from local docker images. Skaffold is not using local environment as latest version of kind now does not add the @kind to the context.

### Actual behavior
Skaffold looks public "docker.io/library/ locati

[2019-11-26 18:29] mcrmonkey opened #3297 "Kind context detection failure"
### Expected behavior
Skaffold should be able to detect and then push the stated container images in to my local kind cluster where i'm running kind v0.6.0

### Actual behavior
Skaffold does not push the local container images in to kind where kind version is v0.6.0 and seems to skip over it.

### Information

- Skaffold version: 1.0.0
- Kind version is v0.6.0
- Operating system: linux ( ubuntu ba

[2019-11-26 18:34] mcrmonkey commented on #3297
:man_facepalming:  oh bother looks like @ct-sweeney opened #3296 just before me ( we work together )

[2019-11-26 18:53] TadCordle commented on #2235
Fixed with #3252

[2019-11-26 18:53] #2235 closed

[2019-11-26 20:21] greglanthier commented on #2264
I've recently been experimenting with `skaffold` v1.0.1 along with `kind` [0.6.0](https://github.com/kubernetes-sigs/kind/releases/tag/v0.6.0) and have found that the following won't quite work:

[code]

due to the fact that newer versions of `kind` don't appear to append a `@kind` suffix to the kube context name.  If I manually insert the `@kind` suffix in my kube config file `skaffold` is much h

[2019-11-26 21:46] balopat commented on #3293
Can you provide `kubectl version` output?
I couldn't reproduce this just yet from linux -> AKS on kubectl 1.15.0 -> k8s 1.13.12.

[2019-11-26 22:45] Ilyes512 commented on #2264
I need to verify, but I believe the check could be update to also check for kube context prefixed with `kind-` as that seems to be the new naming convention. As in the release notes:

kind clusters will always have a kind- prefix in kubeconfig file entries and now can be identified by this.

Source: https://github.com/kubernetes-sigs/kind/releases/tag/v0.6.0

So this seems to be an pretty easy fix

[2019-11-26 23:02] balopat commented on #3295
Thanks for opening @wpwoodjr - can you try with `skaffold dev --no-prune=false --cache-artifacts=false` ? skaffold delete only deletes things on the cluster. It does not remove containers - however it can prune images (if artifact caching is turned off). See https://skaffold.dev/docs/pipeline-stages/cleanup/

[2019-11-26 23:06] balopat commented on #3296
Thanks for opening this, yes, we should fix this. In the meantime work around could be to rename the context to end with `@kind` (pretty ugly though). ah I see @mcrmonkey already opened a PR.

[2019-11-26 23:08] balopat commented on #3297
Thanks for the details! I'm going to close this as a dupe of #3296 - I'll reply there.

[2019-11-26 23:09] #3297 closed

[2019-11-26 23:14] balopat commented on #3296
@mcrmonkey

So, I'd keep this here for backward compatibility and add a new field explicitly: `build.local.kind: false`
@dgageot WDYT?

[2019-11-27 00:38] balopat commented on #3293
I tried even after the access-token expired, but it still works.

Now the only difference I see between our envs is WSL versus regular linux.
Do you have access to Mac / Linux to test this out? I want to narrow the issue down further.
Also, can you test your project from Windows with skaffold.exe?

Thanks for your patience with this.

[2019-11-27 01:55] greglanthier commented on #3296
@Ilyes512 points out in https://github.com/GoogleContainerTools/skaffold/issues/2264#issuecomment-558849933 that `kind` 0.6.0 has updated their convention for naming kube-contexts - specifically they will have `kind-` as a prefix.

The best work-around I've found so far is `kubectl config rename-context "kind-kind" "kind-kind@kind"`.

This workaround doesn't help if you're `kind` cluster has a nam

[2019-11-27 02:14] mcrmonkey commented on #3296
:thinking: Should this be a config option instead of attempting to guess from the users context name ?

[2019-11-27 02:23] greglanthier commented on #3296
I've been wondering about that, too.

To be honest a _reasonable_ guess _could_ be made at the cluster name for `kind` 0.6.0 clusters by stripping the `kind-` prefix off the kubecontext name - but is that a universal truth for 0.6.0 and onwards?

Would stripping the `@kind` suffix be a universal truth for `kind` < 0.6.0?  Maybe it would...

Reviewing @mcrmonkey's awesome report here https://github

[2019-11-27 04:43] iMerica commented on #346
Has anyone successfully setup Skaffold within Gitlab?

[2019-11-27 05:33] iMerica commented on #346
## Update

After many hours of trying, this is how I successfully configured Skaffold to build inside of Gitlab using DIND + the official Skaffold docker image:

[code]

[2019-11-27 07:29] dgageot commented on #3296
I'll start by pushing a PR that supports both `@kind` suffix and `kind-` prefix.

[2019-11-27 08:28] dgageot commented on #3288
I pushed that PR to make future failures easier to understand: https://github.com/GoogleContainerTools/skaffold/pull/3299

[2019-11-27 10:32] dgageot opened #3301 "TestCacheAPITriggers is flaky"
See https://travis-ci.com/GoogleContainerTools/skaffold/jobs/260877716

[2019-11-27 10:34] dgageot opened #3302 "TestBuildKanikoInsecureRegistry: waiting for pod to complete: condition error: pod already in terminal phase: Failed"
See https://source.cloud.google.com/results/invocations/2124e0bd-ac84-4a96-a767-f23e40f1afad/targets/runtimes-common%2Fskaffold%2Fpresubmit/log

[2019-11-27 10:47] mloesch opened #3303 "v1.0.1 `skaffold dev` immediately cleans up after deploying to cluster with minikube v1.5.2"
### Expected behavior
`skaffold dev` will deploy and keep the pods running

### Actual behavior
`skaffold dev` deploys and cleans up immediately afterwards (like if you would run `skaffold delete`).

Note: this behavior is reproducible with minikube but not when using e.g. *kind* to create the local cluster.

### Information

- Skaffold version: v1.0.1
- minikube version:  v1.5.2 (latest stable re

[2019-11-27 10:54] dgageot commented on #3303
Hi @mloesch can you share the output of `skaffold dev -vdebug`?

[2019-11-27 11:01] mloesch commented on #3303
@dgageot sure:

[code]

[2019-11-27 11:02] reddybhavaniprasad commented on #3288
@balopat, thanks for the reply. I got to understand that the issue is due to missing docker-compose.yaml file.

Actually I am using docker-compose.yml file instead of docker-compose.yaml. Since the file is unavailable it fails with "running kompose: exit status 1" error.

I think it would be better if the error msg is "docker-compose.yml: No such file or directory"

[2019-11-27 11:07] dgageot commented on #3288
@reddybhavaniprasad for sure! I'll push a PR that checks of the file exists

[2019-11-27 11:51] dgageot commented on #3303
@mloesch I can't reproduce it not can I find in the logs why it's deleting just after the deployment. Have you tried an older version of Skaffold?

[2019-11-27 13:01] reddybhavaniprasad commented on #3288
"skaffold init" now fails with "Invalid k8s yaml" error. Please find below the error log.

	time="2019-11-26T08:57:19Z" level=info msg="invalid k8s yaml charts/user-interface/Chart.yaml: decoding kubernetes yaml: Object 'Kind' is missing in 'apiVersion: v1\nappVersion: 0.0.84\ndescription: A Helm chart for Kubernetes\nname: user-interface\nversion: 0.0.84\n'"
	time="2019-11-26T08:57:19Z" level=inf

[2019-11-27 13:45] mloesch commented on #3303
@dgageot found the root cause, it's not a skaffold problem -> issue can be closed.

Actually the log message provided the correct clue:
[code]

The IP of my minikube cluster was `192.168.99.117`, not `192.168.99.104`:
[code]
However my`~/.kube/config` was still referencing an old IP `192.168.99.104`.

[2019-11-27 13:45] #3303 closed

[2019-11-27 13:50] wpwoodjr commented on #3293
version info:
[code]

[2019-11-27 13:50] coolpalani opened #3309 "UI for skaffold"
If we include UI for skaffold, It would be great to review existing build/deployment history, view logs etc.

[2019-11-27 14:16] wpwoodjr commented on #3295
Even with:
[code]
I still see this image left by Skaffold:
[code]
Also, if there is any kind of error, will cleanup still happen?  For instance if Skaffold fails to login to the registry?
It's my opinion that image/container cleanup should happen by default when Skaffold rebuilds something.  For the most part, what good are the older containers and images?
Also, ```no-prune=false```?  Why not ```p

[2019-11-27 14:22] dgageot commented on #3210
@stevesea @orkonano any news?

[2019-11-27 16:28] petr-buchin opened #3310 "ImagePullBackOff for images on local environment"
### Expected behavior
We have a really big platform, created using SOA.
It has many services, and all that services could not be launched on a single developer machine.
Therefore we use Skaffold profiles to launch separate projects.

We also have separate Skaffold profiles for all the artifacts, in order to be able to run local builds in parallel processes, something like that:

[code]

After all

[2019-11-27 16:44] wpwoodjr commented on #3293
Windows gives the same error, also with a warning because git is not installed:
[code]

[2019-11-27 16:49] balopat commented on #3309
Thanks for raising this @coolpalani  - yes, I would love to have a UI for skaffold, and yes, this looks like a good candidate for features too!

[2019-11-27 17:03] dgageot commented on #3310
@petr-buchin thanks a lot for sharing your interesting use case. Before I try to reproduce, here's some feedback:
 + `--cache-artifacts=true` is the default so you should be able to remove this flag
 + You can replace
[code]
with
[code]

[2019-11-27 17:04] dgageot commented on #3310
could you share the output of `skaffold run -vdebug`?

[2019-11-27 17:11] dgageot commented on #3117
OK. I'm going to close the issue. Feel free to reopen if you think Skaffold can do something about it

[2019-11-27 17:11] #3117 closed

[2019-11-27 17:19] balopat commented on #3293
Thank you for testing! Interesting, do you mind running with `-v debug` and share the anonymized logs here?

[2019-11-27 17:23] dgageot commented on #1668
Can someone here share a small project to reproduce? That would really help understand what's going on

[2019-11-27 17:29] petr-buchin commented on #3310
Hi @dgageot , thanks a lot for a quick reply and for advices!

Here is the output of `skaffold run -vdebug`:
[code]

[2019-11-27 18:20] kylewolfe opened #3311 "Skaffold (helm-deployment) should work within namespace RBAC restrictions"
Related / follow up to #1521

 # Expected behavior

`skaffold dev` should work on `examples/helm-deployment` w/ a cluster that has RBAC restrictions (user has access to one namespace)

### Actual behavior

Excerpt:
[code]

### Information

- Skaffold version: 1.0.1
- Have ability to watch resource within namespace (eg: `kubectl proxy` followed by `http://localhost:8001/api/v1/namespaces/my-namespa

[2019-11-27 18:22] #3288 closed

[2019-11-27 18:29] balopat commented on #3288
Hi @reddybhavaniprasad - I closed this issue as the original issue is closed. Do you mind adding this comment to #1726? My answer is going to be: helm support for skaffold init is on our roadmap for Q1!

[2019-11-27 18:43] wpwoodjr commented on #3293
Going on vaca now for Thanksgiving, will look on Monday if that's OK.

[2019-11-27 21:06] #3301 closed

[2019-11-27 21:58] zendril opened #3314 "kaniko.buildArgs does not accept environment variables via the go template syntax"
### Expected behavior
The following should allow the value to be pulled from ENV var, according to the docs https://skaffold.dev/docs/references/yaml/
[code]

### Actual behavior
It throws the following error:
`time="2019-11-27T16:55:11-05:00" level=fatal msg="creating runner: parsing skaffold config: unable to parse YAML: yaml: invalid map key: map[interface {}]interface {}{\".ENV_VARIABLE\":inte

[2019-11-27 22:13] zendril commented on #3314
I noticed that if I single quote it, it works.

[code]

I saw this solution also proposed in the helm issues because it is a linter issue.
Same here?

Could we perhaps just get the docs updated to reflect this?

[2019-11-28 00:16] balopat commented on #3314
Thanks for opening @zendril! Yes the single quote should work. I'll update the docs!

[2019-11-28 00:18] petr-buchin opened #3316 "Helm deployer: "values" cannot be used for anything except image names"
### Expected behavior
Skaffold documentation says that `values` field in Helm release is a map containing

### Actual behavior

From what I see in the code and from skaffold behavior, at the moment `values` field can contain **only**  mapping from helm values to image names.

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/helm.go#L274
[code]

The code above shows

[2019-11-28 00:36] balopat commented on #3316
🤦‍♂
Thanks for opening! Yes, this looks like a weird one. I see no reason why only accept image related values.

[2019-11-28 00:37] balopat commented on #3311
Thanks for opening, this seems like a regression indeed compared to #1521 - we need to investigate!

[2019-11-28 02:05] petr-buchin commented on #3310
@dgageot  I actually found the reason for this behavior.
It's the  `yaml:"artifacts,omitempty"` tag in `BuildConfig` struct, which makes my root build config field `artifacts: []` dissapear during Skaffold config unmarshaling.

As a result of this field ommitting, I cannot use path `/build/artifacts/-` for patches, so I used `/build/artifacts`, which resulted in a total replacement of the whole `a

[2019-11-28 09:47] oke-py opened #3319 "skaffold build w/ kaniko fails to push image to Docker Hub"
### Expected behavior

skaffold build w/ kaniko successfully pushes images to Docker Hub.

### Actual behavior

skaffold build w/ kaniko fails to push image to Docker Hub.

[code]

### Information

- Skaffold version: v1.0.1
- Operating system: macOS Catalina 10.15.1
- Contents of skaffold.yaml:

[code]

~/.docker/config.json
[code]

### Steps to reproduce the behavior

1. https://github.com/Googl

[2019-11-28 09:56] dgageot opened #3320 "Accelerate the "checks" job on Travis"
The timing for each step of the `checks` job are:

| Script | Duration (s) |
| ------------- | ------------- |
| check-schema-changes.sh | 17 |
| boilerplate.sh | 0 |
| gofmt.sh| 0 |
| linter.sh | 198 |
| check-samples.sh | 4 |
| check-docs.sh | 0 |
| test-generated-proto.sh | 55 |
| **TOTAL** | **274** |

[2019-11-28 10:01] dgageot commented on #3320
We should be able to remove `gofmt.sh` because it's already handled by `linter.sh`. No acceleration but less complexity

[2019-11-28 10:23] dgageot commented on #3320
By caching the Go compilation cache and the golint-ci cache, we have those timings:

| Script | Duration (s) |
| ------------- | ------------- |
| check-schema-changes.sh | 4 |
| boilerplate.sh | 0 |
| linter.sh | 98 |
| check-samples.sh | 3 |
| check-docs.sh | 0 |
| test-generated-proto.sh | 53 |

[2019-11-28 10:44] reddybhavaniprasad commented on #1726
I am trying to run "skaffold init" for a docker-compose.yml file using the below command and it fails with "Invalid k8s yaml" error.

	skaffold init --compose-file docker-compose.yml --verbosity='info'

Please find below the error:

	time="2019-11-26T08:57:19Z" level=info msg="invalid k8s yaml charts/user-interface/Chart.yaml: decoding kubernetes yaml: Object 'Kind' is missing in 'apiVersion: v1\n

[2019-11-28 12:45] dirkevertz opened #3321 "Dependencies in kubectl deployments?"
Is there any possibility to take care of dependencies or to enforce that separate kubectl commands are launched (instead of a single one)? I am facing the issue, that the deployment fails due to an "unable to recognize"-error:

error: unable to recognize "c:\\\\daten\\\\projects\\\\kubernetes\\\\nodejsSkaffold\\\\kubernetes-manifests\\\\4_rate_limiting.yaml": no matches for kind "KongPlugin" in ve

[2019-11-28 13:47] bmcstdio commented on #3281
@balopat when you say "just continue for now", do you mean essentially ignoring whatever manifests cannot be decoded (thus essentially not deploying anything if `MyCustomResource` is the only thing being deployed)? If not, I don't see how the subsequent `transformManifest` could work because `obj` would be `nil` anyway.

[2019-11-28 16:41] bjornmagnusson opened #3323 "jib builder: support for adding arguments to Maven on command line"
Need a way to be able to pass arbitrary arguments to Maven on command line, e.g for overwriting certain build properties. The current implementation does only support static arguments in skaffold.yaml but this is a bit different.

E.g. one situation I have faced is overriding location of docker registry when building images. When in office close to the docker registry hosted we use that one, but w

[2019-11-28 16:47] bjornmagnusson commented on #2142
Is there any work going on for getting this implemented?

[2019-11-29 13:21] #3314 closed

[2019-11-29 19:40] briandealwis commented on #3281
@balopat meant we should just ignore yaml that we can't parse

[2019-11-30 03:15] cloudtagger commented on #2142
This fork was working for the most part unless one was using helm with a namespace, then it would fail. I have never looked at go before but I am a good coder so I adjusted some things and it is working correctly for me. If anyone experience with go would like to give it a go do it up. I am attaching the helm.go file if anyone is interested.
[helm.go.zip](https://github.com/GoogleContainerTools/sk

[2019-12-01 14:17] Tomer20 commented on #948
@quentusrex the `_helpers.tpl` is a functions file for helm charts.
The function @nathkn suggests is create a variable based on the values key `image` we add while using skaffold. after you have this variable you can use it in helm templates files.

In my case i replaced `{{ .Values.deployment.image.tag }}` with `{{ include "test-app.tag" }}`.

@nathkn thanks for the solution!

[2019-12-02 08:44] bframke commented on #3039
Is there some progress on this problem? I've just started using skaffold and get the same problem with the certificate.

[code]

[code]

[2019-12-02 13:27] janusch commented on #2612
Hi @prary and @bruno-roussel ,
I am having the exact same issue.
When I `docker build` the image first it works as expected pulling from local registry, and skaffold build will succeed afterwards. However, skaffold will start failing when that image in not, i guess in local cache anymore.

Could you please elaborate and provide an example on how you fixed this. I don't think I fully get your answe

[2019-12-02 15:34] wpwoodjr commented on #3293
Here is the debug output:
[code]

[2019-12-02 20:26] tejal29 commented on #3321
@dirkevertz We are aware of this issue and the team is working on a plan to preserve 1* (numbering) for kubectl render support.

[2019-12-02 20:30] tejal29 commented on #3323
@bjornmagnusson you can specify registry override with `--default-repo` flag.
That said, are there any other maven builder specific flag you need to pass to jib builder which are not part of the config?

[2019-12-02 20:41] tejal29 commented on #3319
@oke-py Its not documented in the docs, but looks like `secretName` is required.
Can you please specify the podSpec generated by skaffold for the kaniko pod.

[2019-12-02 21:08] nkubala commented on #3269
@ConnorBarnhill can you point to the last version of skaffold that this was working on? I don't think anything has changed here recently.

maybe I'm misunderstanding your problem, but when I run skaffold on the microservices project in our examples, I see similar tagging behavior to what you're describing, but I can reference the images later on by tag alone (without the digest):

[code]

[2019-12-02 21:51] wpwoodjr commented on #3293
I get the same error in Linux (Ubuntu)

[2019-12-03 00:53] balopat commented on #3302
we got another one today:

[code]

[2019-12-03 01:21] balopat commented on #3302
[code]

[2019-12-03 12:23] #3296 closed

[2019-12-03 13:30] ct-sweeney commented on #3296
Thanks guys awesome work :D

[2019-12-03 13:30] mcrmonkey commented on #3296
Awesome sauce - thanks for sorting this :+1:

[2019-12-03 16:12] kylewolfe opened #3343 "Proposal: Cleanup / Standardize value template / env vars around IMAGE"
At the moment, there are inconsistencies between [templating](https://skaffold.dev/docs/environment/templating/) and `build.artifacts[i].custom` at the least, specifically around `IMAGE` / `IMAGE_NAME`, and the lack of `IMAGE_TAG`. If these implementations were made consistent and expanded to support `IMAGE_NAME` and `IMAGE_TAG`, then I believe this proposal would potentially resolve: #500, increa

[2019-12-03 17:37] prary commented on #3267
Hi @Andrei-Stepanov ,
IMHO better approach would be using something like OPA and mutating pod object with service account which has root podSecurityPolicy attach, by doing so you are having more control than user manually attaching service account. BTW I am talking from a platform owner's perceptive :D .

[2019-12-03 20:28] zhuming opened #3344 "git tag contains "/" causes docker build failure"
### Expected behavior
- Any valid Dockerfile
- git tag name contains "/"
- run skaffold build
--> expect the image is built and tagged properly

### Actual behavior
skaffold build fails with error message

[code]
### Information

- Skaffold version: version... 0.6.0 and 1.0.0
- Operating system: ... MacOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. clone any repo

[2019-12-03 20:30] zhuming commented on #3344
Please either make the error message more clear, or replace all invalid character when generating the docker image tag from a git tag. Thanks.

[2019-12-04 05:24] prary opened #3345 "Fetch k8s events on kaniko pod failure"
If kaniko pod fails due to platform reason let say ephemeral storage full then kaniko pod simply fails with ```Pod already in terminal phase error```. But if we have the ability to fetch the events related to kaniko pod or namespace then it would be extremely useful.

### Expected behavior
On kaniko pod failure, pod scheduler events should be fetched as well.
### Actual behavior
Present it doesn't

[2019-12-04 10:15] jiraguha opened #3347 "It would be great to have supports for skaffold.yaml in intellij!"
Hi,

Maybe it would be great to have inspections supports for skaffold.yaml in intellij or code as kubernetes does.

Stuff like:
- yaml validation
- auto completion

Is this could have an added value for skaffold?

Br,
JP

[2019-12-04 11:08] reddybhavaniprasad commented on #3288
Hi @balopat - When can we expect the Q1 release to support helm support.

[2019-12-04 12:10] bdudelsack commented on #3347
It's already there: https://cloud.google.com/tools/intellij/docs/

[2019-12-04 14:55] davestephens commented on #1872
I'd expect multiple kustomisations to work in exactly the same way you can deploy multiple kubectl manifests, or multiple helm chart. It doesn't make sense (to me) you'd support one and not the other, or expect an overarching kustomisation when this isn't the case with helm or kubectl.

My use case is that I have multiple microservices, each microservice has its own Docker image and set of manifes

[2019-12-04 15:06] jiraguha commented on #3347
Thanks man!  It provides skaffold auto doc! This should be enough for my usage :-).

[2019-12-04 15:06] #3347 closed

[2019-12-04 15:59] kylewolfe commented on #500
This is needed as it is currently impossible to use skaffold with any umbrella chart, custom or not.

I have referenced this issue in another proposal that would resolve this issue as well as enable injecting the image tag into custom builds.

[2019-12-04 16:02] kylewolfe commented on #3343
In case it was unclear, my proposal is to extend this to all of the [templated fields](https://skaffold.dev/docs/environment/templating/).

[2019-12-04 17:02] ktarplee commented on #2142
I updated my fork to incorporate @cloudtagger changes to support namespaces properly.

[2019-12-04 17:17] bjornmagnusson commented on #3323
Thanks for that tips, but it doesn´t solve my use case.

Consider the following properties defined in pom.xml
`
<properties>
  <property1>value1</property1>
  <property2>value2</property2>
  <property3>value3</property3>
</properties>
`

I have a need to be able to override these (without manually editing skaffold.yaml) these in skaffold executions. The  properties are project specific and not tie

[2019-12-04 19:07] corneliusweig commented on #1872
@kri5 @davestephens Looking at the documentation for `kubectl apply`, it says
[code]

So it seems quite clear to me, that one can pass multiple resources (`-f`), but just _one_ kustomization (`-k`) which needs to point to a directory with a `kustomization.yaml`.

Consequently, Skaffold would distort the design principle of kustomize, if we were to support multiple `kustomization.yaml` to define de

[2019-12-04 23:36] zhuming commented on #3323
work around... :)
use maven profile and specify profile in skaffold.yaml with
[code]

[2019-12-05 05:43] tejal29 commented on #3345
@prary Thanks for your PR.
We are working on a overall diagnose story to see how we can solve this question.
I will take a look at your PR next week, to see if  its is aligned with our thinking.

Thanks a lot!

[2019-12-05 05:50] tejal29 commented on #3344
@zhuming Thank you filing the bug. Replacing all invalid characters seems a good solution. Would you be up for submitting a PR?

Here is where we get the tag name https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/tag/git_commit.go#L77

we can add a function `replaceInvalidChars` and check if generated `ref` contains `/` and replace them with `_' or throw an error.

[2019-12-05 05:58] tejal29 commented on #3343
@kylewolfe Thank you for the proposal.
This seems reasonable. However that said, the current owners for buildpacks and the team is busy with summit. Our next community office hours are at on Wed Dec 11.
Would you be up for discussing this then if no- one gets to your by then?
/cc @dgageot and @briandealwis

[2019-12-05 11:34] davestephens commented on #1872
@corneliusweig My understanding was the complete opposite, actually.

eg, if you do a `kubectl apply -f <directory>` - you would generally expect this to be one service - same as if you did a `helm install <myapp>`.

Perhaps I'm misunderstanding the use case of Skaffold, but my understanding was that you could use it to build multiple images, helm charts, kustomisations etc, and push them to your

[2019-12-05 17:26] tejal29 commented on #3319
@oke-py friendly ping! Can you attach `-v=debug` output?

[2019-12-05 21:10] dooman87 opened #3350 "Custom build script on cluster produce incorrect tag"
We are using skaffold custom build script to build images using kaniko on GKE. We use custom script because we need specific POD configuration (hostNetwork enabled and DNS configuration).

When we are running `skaffold build --cache-artifacts=false -v debug -q` the version of the artifact is a docker image digest, but not a version that tagger produced. So, `skaffold deploy` with that configuratio

[2019-12-05 22:55] oke-py commented on #3319
#### build.cluster.dockerConfig.secretName

[code]

[code]

#### build.cluster.dockerConfig.path

[code]

[code]

after removing secret

[code]

[2019-12-06 00:23] balopat opened #3351 "Timestamped log output"
It would be great to have a mode of Skaffold where we can say `skaffold <command> --log-timestamps` and then _all_ outputs would get a timestamp when output. This could help in performance troubleshooting.

[2019-12-06 19:31] tejal29 commented on #3350
@dooman87 Sorry for this! This looks like a bug.
On example repos,  `skaffold build -q` , the `tag` contains the full image. \

[code]

[2019-12-06 23:11] balopat opened #3352 "Port forwarding routes to Terminating pod slows feedback loop"
### Expected behavior

Skaffold should start to port forward to the new pod as soon as it's up - regardless of the status of the old version of the pod.

### Actual behavior

When the old version of the pod is in "Terminating" state, Skaffold still portforwards to the old pod.

### Information

- Skaffold version: v1.0.1
- Operating system: Linux

### Steps to reproduce the behavior

1. `skaffold

[2019-12-06 23:36] balopat commented on #3352
A workaround: `terminationGracePeriodSeconds: 0` helps in the pod settings.

[2019-12-07 00:51] balopat commented on #3352
As I'm digging...

I rebuilt kubectl with some extra debugging info around here to see which pod it is trying to attach to and with what phase does it think it is in...

`fmt.Printf("Attaching to pod %s, status %s ... \n", o.PodName, pod.Status.Phase)`

https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/portforward/portforward.go#L319

I'm seeing:

[code]
even when in another terminal it is

[2019-12-07 15:59] pisymbol opened #3353 "skaffold run is not detecting my current context"
### Expected behavior

I would expect during a 'skaffold run' that --context is set.

### Actual behavior

--context is not set and skaffold wants to talk to a local cluster (e.g. minikube).

### Information

- Skaffold version: v1.0.1
- Operating system: 10.15.1 OSX
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

Just running 'skaffold run' on my system.

```k config cu

[2019-12-09 08:40] mistereechapman commented on #503
Its becoming a bit of a mess, a bit more control over the docker file build would be great. <- feed back and support in a line 👍

Skaffold v1.0.0 issue
Even adding the workspace prop on the docker build definition would help us

[2019-12-09 17:13] wpwoodjr commented on #3293
Any update?  This seems to be an issue with Skaffold not being able to use Azure OAuth in the kubeconfig.

[2019-12-10 10:07] Federkun opened #3361 "`skaffold run` will change deployments every time even when no changes should be applied, because `skaffold.dev/run-id` label changes"
### Expected behavior
Running `skaffold run` twice in production should result in a no op the second time, when there's nothing to change ( as, no changes in the manifests and in the images )

### Actual behavior
The second time `skaffold run` is executed, it will apply new changes to all my resources every time, causing all the pods to be recreated unnecessarily.

[code]

### Information

Looking

[2019-12-10 10:13] Federkun commented on #3361
My search ability this morning is not the greatest, sorry, I just found https://github.com/GoogleContainerTools/skaffold/pull/2752

While that fix my issue, it really is not that obvious of a solution. I'm okay to close this issue, but wondering if there's a better alternative

[2019-12-10 14:43] #3361 closed

[2019-12-11 03:13] jl-ward commented on #2535
Any updates on this?  I have also taken to slack, but am getting little to no feedback.

[2019-12-11 03:13] jl-ward commented on #2741
Any updates on this?

[2019-12-11 03:56] tbarrella commented on #2277
It seems like this could also reduce the need for https://github.com/GoogleContainerTools/skaffold/issues/1441

[2019-12-11 06:46] #3320 closed

[2019-12-11 09:22] nic-larkin opened #3364 "Error parsing Dockerfile FROM "scratch" where scratch is quoted"
### Expected behavior
Skaffold should be able to process a valid Dockerfile.

### Actual behavior
skaffold dev exits with following log:

FATA[0000] watching files for artifact xxx/xxx: listing files: listing files: expanding ONBUILD instructions: parsing ONBUILD instructions: processing base image ("scratch") for ONBUILD triggers: getting remote config: getting image: parsing reference ["scratch"

[2019-12-11 10:19] pbriet commented on #1872
@davestephens I totally agree with you.

I have an environment where there are multiple "projects" some that need kustomization, and other don't

So I'd like to :
- select multiple kustomize path
- use both kubectl and kustomize deployers

And I can't do any of that...

[2019-12-11 12:58] balchua commented on #3156
Im still get this behavior even on v1.0.1.

[2019-12-11 13:21] sdwolfz opened #3367 "Problems with private docker images on quay.io"
## Setup:
- OS:
[code]
- minikube:
[code]
- kubectl:
[code]
- docker:
[code]
- skaffold: `1.0.1` and `v1.0.0-144-g760edb47-dirty` (built from master 760edb4703f764877fcbd8a9dec36abe19f33da4)
## Steps:
1. Create a fresh minikube vm:
[code]
Note: you can also use the Docker for Mac kubernetes functionality, it does not change the outcome.

2. Authenticate to quay.io in docker and kubernetes:
[code]

[2019-12-11 15:39] ojhughes commented on #2277
This is my current workflow
`skaffold render | kapp deploy -a $(yq r skaffold.yaml metadata.name) -y -f -`

In my case I also let [kapp](https://get-kapp.io/) take care of deletion of the deployment so would also be nice to provide an override for `skaffold delete`

[2019-12-11 19:44] #3353 closed

[2019-12-11 19:44] pisymbol commented on #3353
kubectl was not in the path when skaffold was running. Whoops.

[2019-12-12 03:33] nkubala commented on #3364
hey @nic-larkin thanks for the issue. I was able to reproduce this, and after digging in a bit I think this might be a bug with the docker parser.

checking out the nodes from the AST constructed by the parser, I see this node for the `FROM "scratch"` line:

[code]

so it parses my image as `"scratch""`, which has a conspicuous double quote at the end, and sure enough that's what makes go-containe

[2019-12-12 04:14] hden commented on #3217
The go client for Cloud Run can be found here:
https://github.com/googleapis/google-api-go-client/blob/master/run/v1/run-gen.go

[2019-12-12 07:02] reddybhavaniprasad opened #3370 "skaffold init using docker compose configuration fails with "Nil Pointer Dereference" error"
I am trying to generate skaffold configuration for docker-compose configuration using the following init command

	+ skaffold init --compose-file docker-compose.yml --verbosity=info

### Expected behavior

The command should generate k8s manifests based on the docker-compose configuration and should generate skaffold configuration on issue of "skaffold init" command

### Actual behavior

This fail

[2019-12-12 07:36] reddybhavaniprasad opened #3371 "skaffold init command to use the existing k8s files instead of creating new ones for docker-compose configuration"
skaffold init with docker compose configuration uses "komopse convert" to generate the k8s manifest files. I want skaffold to use the existing k8s config files instead of creating new ones.

Please suggest me how I can do that using skaffold.

### Expected behavior

skaffold should generate configuration file based on the existing k8s manifest files instead of creating new ones (without "kompose c

[2019-12-12 07:57] nic-larkin commented on #3364
Hello there, thanks for the swift reply.  I just double checked the error message and there is only a single quote so I guess we might be using different versions of something.

I can repro it minimally with :

skaffold.yaml
apiVersion: skaffold/v1
kind: Config
build:
  artifacts:
  - image: example

Dockerfile
FROM “scratch”

In case it’s any use:

Client: Docker Engine - Community
Version:

[2019-12-12 12:03] lduparc opened #3372 "How to use jib instead of jibDockerBuild using gradle ?"
How can we define jib command to use jib instead of jibDockerBuild ?

Currently using gradle is this can be define on build.gradle or can we do it on skaffold.yml config file ?

[2019-12-12 14:52] giladsh1 commented on #3171
@balopat any chance you can promote the fix to this bug?
we're essentially stuck on version 0.40 since we can't deploy jobs without deleting them first.

[2019-12-13 01:24] orkonano commented on #3210
Sorry. It's working again. I didn't know what happened.

El mié., 27 de noviembre de 2019 11:22, David Gageot <
notifications@github.com> escribió:

[2019-12-13 03:06] lloydchang commented on #1668
Is the recommended work-around to upgrade from Mojave to Catalina?

[2019-12-13 09:08] kvokka opened #3376 "[Bug] Build artifacts sync.infer does not work"
# Expected behavior

Full description [here](https://skaffold.dev/docs/pipeline-stages/filesync/)

### Actual behavior

With `infer` syntax i do not get the file sync, when with the same, using manual sync everything works.

for the testing purposes i used the file `app/views/profile/index.html.haml` (if it matters)

### Information

- Skaffold version: version 1.0.1
- Operating system: MacOs 10.1

[2019-12-13 19:54] #3364 closed

[2019-12-13 21:19] iirekm opened #3383 "Unable to see logs under microk8s or minikube - better documentation for running Skaffold on local Kubernetes needed"
### Expected behavior
`skaffold run --tail=true` or `skaffold dev --tail=true` should show command output. It isn't so in my case :-(

### Actual behavior

No output.

### Information

- Skaffold version: 1.0.1
- Operating system: Ubuntu 18.04 + microk8s Kubernetes installation
- Contents of skaffold.yaml:

[code]

`pod.yml`:
[code]

`kubectl logs -f pod/test` works normally. There's something wro

[2019-12-14 07:44] iirekm commented on #3383
Tried with the official examples and with minikube - the same, so this is not an issue with microk8s or my .yml files

[2019-12-14 09:06] iirekm opened #3384 "The project doesn't open properly in IntelliJ/GoLand"
I'm trying to debug https://github.com/GoogleContainerTools/skaffold/issues/3383 in intellij or goland
and it's painful: please provide working .idea files, or instructions how to open this project.
Using just `File > New > Project > From existing sources` doesn't work (lots of compilation errors).

[2019-12-14 09:37] iirekm commented on #3383
The reason is the following line:
[code]

When I comment it out it works. There's something wrong with `PodSelector`

For development I don't want to use remote Kubernetes (on Google Cloud for example), microk8s or minikube is enough. Please provide examples how to setup skaffold with microk8s or minikube.

[2019-12-14 10:15] iirekm commented on #3383
After hours and hours of debugging I made it working under microk8s:

`skaffold.yml`:
[code]

`Dockerfile`: (even this simple example needs one)
[code]
`pod.yml`:
[code]

Anyway, the documentation of Skaffold and how PodSelector works are completely counterintuitive, although I have prior experience with Kubernetes.

[2019-12-14 10:45] martinhoefling opened #3385 "[Feature Request] activate profiles based on other profiles"
It would be great to be able to activate profiles based on the activation / selection of other profiles. The use case is as follows:
The development setup is composed of a base profile with a set of images / k8s resources. In addition, there are more components that are patched in (added) by activation

- database (default profile)
- app1
- app2
- monitoring
- auth-mock
- mailserver-mock
- auth
..

[2019-12-14 11:43] iirekm opened #3386 "UPGRADE FAILED: "skaffold-helm" has no deployed releases still persists"
### Expected behavior

When I call `scaffold run` in the `examples/helm-deployemnt` directory it should deploy.

### Actual behavior

`UPGRADE FAILED: "skaffold-helm" has no deployed releases`
This issue was already raised and marked as 'closed' - it still persists!

### Information

- Skaffold version: 1.0.1
- Helm version: 3.0.1

[2019-12-14 11:53] iirekm commented on #3386
Workaround:
[code]

[2019-12-14 12:06] martinhoefling commented on #3385
I had a short chat with @corneliusweig
Activations are probably not the right solution, as they are combined via AND. One other idea I will explore is to use kustomize to compose skaffold profiles. Apart from that, aliases would be sufficient, if nesting (e.g. via includes) is an issue.

[2019-12-14 12:10] iirekm opened #3387 "Helm 3: `Error: unknown flag: --purge` during `skaffold delete`"
Workaround: `helm delete <release-name>`

[2019-12-14 12:33] iirekm opened #3388 "`skaffold run --tail` doesn't exit if all pods are complete"
Such infinite waiting doesn't make much sense in most cases, `skaffold run --tail` should exit after things complete, similarly to `kubectl logs --f` or `docker logs -f` which exit after completion.

[2019-12-14 12:38] dgageot commented on #1668
A workaround is to run skaffold dev with --trigger=polling

[2019-12-14 12:59] iirekm commented on #3388
Workaround: `skaffold run && for i in $(seq 30); do kubectl logs -f -l app=test && break || sleep 1; done`

[2019-12-14 13:53] corneliusweig commented on #3385
Yeah, my major concern about activating profile B, when profile A becomes active is that it gives rise to activation chains (think A -> B -> C -> D -> ...). This would become quite difficult to reason about, and thus hard to maintain for users.

---

I think what Skaffold really needs is a better way to structure profiles. Here we could improve the kustomize integration in Skaffold and use it to o

[2019-12-14 15:29] martinhoefling commented on #3385
The -k flag and the use of kustomize would also enable to use strategicMergePatch instead of JSONPatch. In terms of composability, strategicMergePatch has a much better readability IMHO.

[2019-12-15 23:29] corneliusweig commented on #2875
@martinhoefling Why exactly do you want to deploy off-the-shelf helm charts with Skaffold? The same could be achieved by deploying those resources separately, which should be a one-time thing.

[2019-12-16 07:20] etix commented on #3266
The documentation is obviously wrong and an update would be welcome indeed.

[2019-12-16 08:44] martinhoefling commented on #2875
@corneliusweig, I have some helm charts that I modify and develop, some are really off-the-shelf. So maybe I was not precise enough, as I have three classes:
- off-the-shelf charts (unmodiefied)
- modified or custom developed charts
- resouces that I just pack into a chart so that they can be deployed via skaffold
Does it make the use case more clear?

[2019-12-16 20:07] stevesea commented on #3210
@dgageot  My use-case has changed a bit since I initially created the ticket, but I think I'm still seeing similar issues. I _think_ this is all due to my using a library shared by multiple apps within a multi-project build.

created this test case: https://github.com/stevesea/test-micronaut-skaffold

There's a multi-project Gradle file and three subprojects -- myapp-a and myapp-b, and a library '

[2019-12-17 00:36] dooman87 commented on #3350
I'm not 100% sure, but it looks like this been fixed in master by @dgageot

[2019-12-17 09:29] dgageot commented on #3350
Oh, I didn't know there was an open issue. I indeed fixed it with https://github.com/GoogleContainerTools/skaffold/pull/3377

[2019-12-17 09:29] #3350 closed

[2019-12-17 10:12] strikeout commented on #2909
Can this be escalated in priority?
I think it is paramount to fully support the latest valid kustomize syntax.

[2019-12-17 16:57] balopat commented on #3384
What is your operating system?
I am using IntelliJ / GoLand to develop Skaffold on OSX.
For me this works:

[code]

`File > Open...`, choose `~/skaffold`, and that's it, it takes a couple of minutes to get the modules sorted out.

It's the first time I tried `From existing sources` and it does act weird: on my installation it picks up all the examples as modules, but not the main Go module!

Let m

[2019-12-17 17:02] balopat commented on #3249
I think this makes sense.
I wonder if anyone is using it or not.
@prary I know you are using Kaniko extensively with Skaffold - do you use `GCS` or `localdir`?

[2019-12-17 17:03] balopat commented on #3248
I'm okay with this as long as we generate a custom build script that is equivalent during `skaffold fix`.

[2019-12-17 17:18] balopat commented on #2979
In principal I'm okay with solving the issue of missing tar tools.

However, I do have questions towards directly adding tar tools to the container:
1. Do we have to worry about compatibility issues across different base images / architectures ?
2. if we would do this via a package manager command and altering the build def, that would solve 1) but it seems hard
3. Maybe we could use an [Ephemeral

[2019-12-17 17:38] balopat commented on #3383
Thanks @iirekm for the detailed account of your (painful) journey, and sharing all the bugs you encounter!

Skaffold started from the assumption that we build the image, hence your fix makes sense.
But I could see your "scripted pods" to be an interesting direction.
Currently this would only work with `skaffold deploy` - where you _can_ specify prebuilt images:

`skaffold deploy -i ubuntu:bionic -

[2019-12-17 17:39] iirekm commented on #3384
Still no improvement: GoLand detects libraries, downloads them to `vendor`
directory, imports from Go distribution are processed correctly in the
editor, imports from other skaffold .go files, and from libraries
downloaded to 'vendor' are displayed in red.
Ubuntu 18.04, GoLand 2019.3

wt., 17 gru 2019 o 17:57 Balint Pato <notifications@github.com> napisał(a):

[2019-12-17 17:51] balopat commented on #3370
Thanks for opening @reddybhavaniprasad!
Can you share your docker-compose.yml for reference?

[2019-12-17 17:53] balopat commented on #3385
This came up before: https://github.com/GoogleContainerTools/skaffold/issues/2542
And we see more and more people using more and more complex configs. I agree that a kustomize based approach would be interesting to explore!

[2019-12-17 17:56] balopat commented on #3384
OK, let me try with actual GoLand - I was using IntelliJ + Go plugin.

[2019-12-17 17:56] iirekm commented on #3383
The usecase you called "scripted pod" I think is quite common: during learning new tools, and during some maintenance tasks (like data migration, etc)

I noticed you use the built image name:tag to do the filtering, not what I actually deployed, and this caused all my trouble.

Maybe you should peek into the deployed .yml files and detect which containers/pods were deployed. This is the way `docke

[2019-12-17 18:02] balopat commented on #3384
Still works for me, if I click on `Vendoring mode` in `Preferences > Go > Go modules`, then it's faster too, as the vendor directory is checked into git.

![image](https://user-images.githubusercontent.com/635073/71021975-b003a680-20ff-11ea-8464-3a433fa666bd.png)

What version go do you use? I'm on go 1.13.1.

[2019-12-17 18:06] balopat commented on #3352
As the workaround is clear, bumping this down to P2.

[2019-12-17 18:35] iirekm commented on #3384
Ah ok, `Vendoring mode` helps me. Without it there are problems in my
GoLand.
Thank you for help.

wt., 17 gru 2019 o 19:02 Balint Pato <notifications@github.com> napisał(a):

[2019-12-17 18:35] #3384 closed

[2019-12-18 01:44] prary commented on #3249
Hi @balopat
We use localdir.

[2019-12-18 04:33] balopat commented on #3387
related change in helm: https://github.com/helm/helm/pull/5283
cc @briandealwis

[2019-12-18 07:58] balopat commented on #3388
This feature sounds good to me. It will require a bit of wiring so I wouldn't say a "good first issue" level, but can be fun. We need to make sure that it does not interfere with "dev" and that `deploy --tail` works the same. We should write an integration test to cover the functionality.

[2019-12-18 08:18] balopat opened #3398 "Testable dev infrastructure with Config Connector"
**Problem**: Currently a bunch of our test and release infra is maintained manually:
- the integration-test cluster with the kaniko-secret in it (we should store encrypted secrets in git and integrate with a secret service somehow to decrypt them during deployment)
- the docs cluster with the docs-previewer (webhook) in it (which is deployed at release time, but I'm pretty sure the process is brok

[2019-12-18 09:06] balopat commented on #3376
Thanks for opening! Can you provide a `Dockerfile` as well please so that we can try to reproduce the behavior? Thank you!

[2019-12-18 10:51] iamarcel opened #3399 "Kaniko build on Google Cloud Build doesn't include --target parameter"
### Expected behavior
When scheduling a Kaniko build on GCB, the artifact's Target parameter gets passed as an argument to the Kaniko executor on GCB, just like when building it in-cluster.

### Actual behavior
The Kaniko build spec function [doesn't include code to create a `--target` parameter](https://github.com/GoogleContainerTools/skaffold/blob/42330f2/pkg/skaffold/build/gcb/kaniko.go#L30-L63

[2019-12-18 11:35] kvokka commented on #3376
Np, here it is:

[code]

[2019-12-18 12:47] jobets commented on #899
@sean-schaefer I'm facing the same error even though no namespace is mentioned in skaffold.yml.

Helm release app-service not installed. Installing...
Hang tight while we grab the latest from your chart repositories...
...Successfully got an update from the "app-service" chart repository
Update Complete. ⎈Happy Helming!⎈
Saving 1 charts
Downloading mysql from repo https://kubernetes-charts.storage

[2019-12-18 14:35] balopat commented on #3399
Thank you @iamarcel - I agree that this is missing, and you are pointing to the right places. PRs are welcome!

[2019-12-18 14:50] balopat commented on #3367
Thank you for the super detailed issue @sdwolfz!

Hmm...if this is an auth error it is really a weird error message. Especially that the https://github.com/google/go-containerregistry/issues/377 was fixed in April and we are on a December version of go-containerregistry (unless it's a regression).

Can you try to run `eval minikube docker-env` _before_ running `docker login -u "<<USER>>" -p "<<TOK

[2019-12-18 15:06] SakrImpargo opened #3400 "Helm deployment doesn't work for charts that are not already installed"
### Expected behavior
Should deploy charts that we're installed beforehand without issues.

### Actual behavior
The following error happens when trying to `skaffold run` the `skaffold.yaml` attached below.
[code]

### Information

- Skaffold version: version 1.0.1
- Operating system: Ubuntu 19.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Create a `skaffold.yaml`

[2019-12-18 15:13] sdwolfz commented on #3367
@balopat Same error when running `eval $(minikube docker-env)` before  `docker login`.
Running `skaffold dev -w none` starts pulling the image, while omitting `-w none` gives:

[code]

[2019-12-18 15:14] #731 closed

[2019-12-18 15:20] petr-buchin opened #3401 "Is there a way to ignore `.dockerignore` for sync?"
### Question
We have a repository for our frontend.
Frontend is legacy and is being built by `gulp`.
We have our `dist` directory in `.dockerignore` file in order for it to not being copied during build of the image.

But i want to be able to run `npm run dev` locally (which rebuilds static files in `dist` directory when code is changed) and have changes in `dist` directory propagated to my contai

[2019-12-18 15:37] #1992 closed

[2019-12-18 15:52] #3281 closed

[2019-12-18 16:56] petr-buchin opened #3403 "Same directory cannot be synced to two artifacts"
### Expected behavior
I want to sync the same directory to the two different artifacts/images.
I specify manual sync rule for that directory, and this rule is identical for the two artifacts.
I expect that when files in this directory are changed, they get synchronized to both containers, which are running from images, specified in build artifacts in `skaffold.yaml`
### Actual behavior
However, wh

[2019-12-18 18:10] #3023 closed

[2019-12-18 18:11] tejal29 commented on #3302
@balopat i remember you had a PR for a flaky test around CC summit? Is this the same test? Is this addressed now?

[2019-12-18 18:16] tejal29 commented on #3383
@iirekm Thanks for the explanation.
our docs on log tailing [here](https://skaffold.dev/docs/pipeline-stages/log-tailing/), mention,
[code]

We should at the first change this to
[code]

[2019-12-18 18:32] tejal29 commented on #3401
@petr-buchin I think its reasonable to ignore `.dockerignore` rules if a file matches the manual sync rule.

[2019-12-18 19:01] petr-buchin commented on #3401
@tejal29 I’m using only manual sync, but I don’t think that manual mode should ignore .dockerignore rules totally, and also that would be a BC break. But it would be a great feature to have this option for manual sync mode.

[2019-12-18 19:02] petr-buchin commented on #3403
Oh, I’m sorry.
I found that this is a problem with ‘gulp’ - seems like it does not close the files after writing to them, and skaffold starts sync only after file is closed.

[2019-12-18 19:02] #3403 closed

[2019-12-19 07:54] dgageot opened #3405 "`skaffold init` can produce an erroneous config with non-default Dockerfile name"
Run `skaffold init` on a folder that looks like this:
[code]

It should produce this config:
[code]

It instead produces this config:
[code]

[2019-12-19 17:57] nicknovitski opened #3408 "Add a --change-cause flag to deploy and render commands"
The key to keeping the `kubectl rollout history` command useful and retaining confidence when doing manual rollbacks is having a `kubernetes.io/change-cause` annotation on every deployment, daemonset, and statefulset).

I use kustomize, so currently I automate this by running something like `kustomize edit add annotation kubernetes.io/change-cause:"deploying ${SHA1} at $(date)"` before running `sk

[2019-12-19 19:49] kunickiaj commented on #1737
Is this coming any closer to resolution?

[2019-12-20 09:42] #3344 closed

[2019-12-20 10:13] petr-buchin opened #3411 "Sync does not sync all files from corresponding directory"
### Expected behavior
I use `gulp` to build my static files for frontend.
I also use `gulp.watch()` locally in dev mode to rebuild static files as code changes.
I configured Skaffold manual sync rule to propagate all changes from my local directory `public/dist` (rebuilt static files) to the container in k8s cluster.
Expected behavior is to get all files from this directory synchronized to contain

[2019-12-20 11:01] #2949 closed

[2019-12-20 12:37] #3405 closed

[2019-12-20 13:27] dgageot opened #3415 "`skaffold run --port-forward` behaves like it's freezing"
Starting with https://github.com/GoogleContainerTools/skaffold/pull/3263, it's possible to run `skaffold run --port-forward`.

I found the behaviour puzzling, it looked like if it was freezing when in fact it was waiting for me to ctrl-c.
A message making that clear to the user might be good.

Another issue I have with this new behaviour is that I used to have `export SKAFFOLD_PORT_FORWARD=true` i

[2019-12-20 13:46] dgageot opened #3416 "add `--port-forward` to `skaffold deploy`"

[2019-12-20 15:07] #3416 closed

[2019-12-20 21:51] tejal29 commented on #3411
@petr-buchin Can you please provide skaffold logs in debug mode `skaffold dev -v=debug`?
Especially did skaffold detect there were changes?

[2019-12-20 22:25] tejal29 commented on #3408
@nicknovitski Thank you for opening this feature request. Can you provide some more information.
1. Are you using `skaffold` to deploy production or for local deployment?
1. For Git ops CI/CD flow, we recently added `skaffold render` with `--output` flag. Our recommendation is to
[code]
[code]

Now you can rollback to previous version using the `resources.yaml` at that sha.

WDYT?

[2019-12-20 22:33] tejal29 commented on #3400
Trying to reproduce this
1. First run:
[code]

2. Wait for deployment is up and running
[code]
2. Now running `skaffold run` again.

[code]

This is running skaffold on my local minikube cluster.  I am not able to reproduce this issue.
Can you provide more logs with `-v=debug`

[2019-12-20 22:38] tejal29 commented on #3386
this could be related to #3400.

I was not able to re-produce this at my end. @SakrImpargo can you try the `upgrade` flag mentioned above to see if it fixes the issue.

[2019-12-21 18:15] aksharpanchal commented on #2273
Does that mean the support for mount=type=ssh is something you would have along with this feature implementation?

[2019-12-21 21:52] corneliusweig commented on #3401
In my view, the Skaffold's `sync` feature is a shortcut to obtain equivalent containers without doing a full rebuild. Put differently, it should not matter if the container was created via a fresh `docker build` or via Skaffold `sync`.
In that light, the current treatment of the `.dockerignore` rules makes total sense: if it is not important for building the container, it can also not be important

[2019-12-21 22:43] mgoltzsche commented on #2730
With skaffold 1.1.0 this is still an issue.

[2019-12-22 08:53] SakrImpargo commented on #3400
I think this might be a problem of changing helm API.
Look at these debug outputs:
[code]
The command `helm get rabbitmq-server2` doesn't work for me, because of incorrect syntax. The `helm get` command needs a subcommand. Check the following output from helm when using the command:
[code]

[2019-12-22 08:58] SakrImpargo commented on #3400
I can trace this back to helm commit: https://github.com/helm/helm/commit/1d017e37933050aa398f30f70bab52135ceaad10#diff-1e039f935a6ed4bd8bf17d91be3c0f75

[2019-12-22 11:46] corneliusweig opened #3428 "`skaffold credits` produces incorrect output"
### Expected behavior
Starting with v1.0.0, `skaffold credits` produces a folder with all the license files of Skaffold's dependencies. That version produces:
[code]

### Actual behavior
Since v1.1.0, the command produces a folder with the `skaffold.yaml` schemas instead of the version files:
[code]

### Information

- Skaffold version: v1.1.0
- Operating system: linux

[2019-12-22 17:49] tvvignesh commented on #346
Here is a gist I made doing exactly the same - it works: https://gist.github.com/tvvignesh/e82bc33469320aa198c348336b4890fb

There is only one problem I am facing in this is since it is running as dind, I don't see any caching happening and all images are being pulled every time. My build takes 5 minutes every time since it has to download the base images and install all layers every time.

Wonder

[2019-12-23 00:57] henriquebremenkanp commented on #3133
I am experiencing this too on the latest v1.1.0.
Need to first to `skaffold delete` then do a `skaffold run` again.

[2019-12-23 01:53] mgoltzsche commented on #3220
@maxandersen I tested your [branch](https://github.com/maxandersen/skaffold/tree/cleantagdigest) and it works with CRI-O when your `docker.MakeFqn` function just returns `repository + "@" + digest` instead of `tag + "@" + digest`. (Maybe the build cache was confusing you when you tested it?) Unfortunately this way image tags are not visible within k8s manifests. However using only `tag` seems curr

[2019-12-23 10:59] petr-buchin opened #3429 "Notify trigger does not detect changes until file is closed"
### Expected behavior
I watch some directory with Skaffold manual sync rule and `notify` trigger.
I expect Skaffold to detect file changes as they being changed and changes were written to disk.
### Actual behavior
Skaffold does not detect any file changes until file is closed.
### Information

- Skaffold version: master
- Operating system: MacOs Catalina
- Contents of skaffold.yaml:
**not relevan

[2019-12-23 13:22] petr-buchin commented on #3411
@tejal29 thanks for the attention to this issue, I found the reason for that behavior on my side, and I think it's expected behavior for Skaffold.
I'm closing this one.

[2019-12-23 13:22] #3411 closed

[2019-12-23 14:31] oke-py commented on #3386
For helm2, the command syntax is `helm get RELEASE-NAME`
https://v2.helm.sh/docs/helm/#helm-get
It corresponds to this line.
https://github.com/GoogleContainerTools/skaffold/blob/release/v1.1.0/pkg/skaffold/deploy/helm.go#L186

For helm3, the command syntax changed.
[code]
What's more, `helm get RELEASE-NAME` doesn't return any error.
[code]
Therefore, `isInstalled` remains `true` and goes into th

[2019-12-23 15:02] SakrImpargo commented on #3386
Yes that's exactly the issue. I explored this a bit here: https://github.com/GoogleContainerTools/skaffold/issues/3400#issuecomment-568243536

[2019-12-23 15:18] Romeh commented on #2142
any news when skaffold will be officially supporting helm 3 ?

[2019-12-23 17:10] romakoifman commented on #3047
Hi

This error happens to me 9 of 10 times.

DEBU[0000] getting client config for kubeContext: ``
DEBU[0000] No docker config specified. Checking for one in the cluster.
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x13b29af]

goroutine 1 [running]:
k8s.io/client-go/plugin/pkg/client/auth/oidc.(*oidcAuthProvid

[2019-12-23 17:15] prary commented on #3047
re-run klogin

[2019-12-23 17:16] prary commented on #3047
@tejal29 now I have a company outside my network :P

[2019-12-23 19:02] kvokka commented on #3277
@dgageot The bug is still in place, tried

[code]

and always got only the latest profile executed, while the others were omitted with out any warning.
(for testing i use Skaffold 1.1.0 api version `skaffold/v2alpha1`)

[2019-12-23 21:50] ridakaddir commented on #3210
have the same issue even when start dev using skaffold dev --no-prune=false --cache-artifacts=false

My skaffold.yml

`apiVersion: skaffold/v1
kind: Config
build:
  local:
    push: false
  artifacts:
    - image: skolov/spring-jib-member
      context: member-service
      jib: {}
    - image: skolov/spring-jib-campaign
      context: campaign-service
      jib: {}
deploy:
  kubectl:
    manifest

[2019-12-23 23:26] maxandersen commented on #3220
Yes, I basically reached same conclusion that this behavior was kinda needing to have some influence on the tag policy too - i tried swizzle the values in the generated manifests but it became way more messy than I felt it should be.

And yes, sha1 is what must be there.

[2019-12-24 09:09] dgageot commented on #3428
I might have broken something :-)

[2019-12-24 10:15] petr-buchin commented on #3277
@kvokka your bug is actually not relative to this issue, but you can see this comment:
https://github.com/GoogleContainerTools/skaffold/issues/3310#issuecomment-559311691

Possibly you have not `build` and `deploy` sections at the top level, or have this sections empty.
Because of `nonempty` tag used during umnarshaling of YAML in Skaffold, this sections get removed at all, and as a result, each o

[2019-12-24 11:14] oke-py opened #3438 "HelmDeployer should detect helm version (2 or 3)"
### Expected behavior

New function to detect helm version should be added to `pkg/skaffold/deploy/helm.go`.

### Actual behavior

Helm version is assumed as v2.x.
Some helm command syntax changed in 3.x, and so, some skaffold function does not work as expected.

### Information

This is the prerequisite for #3386 and #3387.

area/deploy
deploy/helm3

### Steps to reproduce the behavior

N/A

[2019-12-24 11:15] oke-py commented on #3438
I'm trying this.

[2019-12-24 11:36] kvokka commented on #3277
@petr-buchin Merry Christmas! Thank you for such a quick response. But unfortunately this hack did not work, tried

[code]

In both cases i got only the action for `core` service (since it is the latest in the list). The services in the main section and in the profiles are the same (and with out profiles or running 1 profile only it works).

Will provide fill `skaffold.yaml`, which may help in the

[2019-12-24 11:44] petr-buchin commented on #3277
@kvokka your issue is actually even simpler :)

According to the Skaffold documentation, when you provide `build` or `deploy` section in your profile, this section totally **replaces** your top-level configuration for the corresponding section.

But you could use **json patch** to get it working. Here is the docs page:

https://skaffold.dev/docs/environment/profiles/

You should look at **Override

[2019-12-24 14:55] jlewi opened #3442 "Kaniko builds won't complete with ISTIO sidecar"
### Expected behavior

Running skaffold build will build the container using kaniko as configured in skaffold.yaml.

When the kaniko container is complete; skaffold will detect the container as finished and exit.

### Actual behavior

* I'm running Kaniko in a namespace with ISTIO side car injection turned on.
* The kaniko container completes but the ISTIO side car remains running
* kubectl get po

[2019-12-24 16:03] dgageot opened #3443 "Use a simpler script to extract licenses for `skaffold credits`"
I'd like to simplify the code that extracts the licenses used by `skaffold credits` for three reasons:
 + it's currently very opaque what the tool is doing
 + the tool fails to find credits for `github.com/BurntSushi/toml` which I need to vendor for buildpacks.
 + `github.com/google/trillian/scripts/licenses` is outdated and its replacement is very slow.

I'd like to replace `github.com/google/tri

[2019-12-24 16:06] dgageot commented on #3443
@nkubala @balopat @tejal29 wdyt?

[2019-12-24 16:21] kvokka commented on #3277
Thank you for the advise, @petr-buchyn .
I have to use 2 separate profiles for dependencies `kubectl` && `helm`, so i can not put any of this parts to default `build` section for now (wait for #3392 ). But if I leave the `build` section empty, like:

[code]

I can not use `patches`

[code]

Adding some value to `builds` fix the problem, but technically it is a spike and i do not need to build some

[2019-12-24 16:40] dgageot commented on #3442
Hi @jlewi could you share the output of `skaffold build -vdebug`. It could maybe help understand what's going on?

[2019-12-24 16:46] dgageot commented on #3442
The code [here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/cluster/kaniko.go#L84) will indeed wait for every container in the kaniko pod to succeed.

[2019-12-24 17:00] kvokka opened #3446 "can not patch empty values"
if I leave the build section empty for further addition in the profiles with `patches`, like:

[code]

and then apply any profile:

[code]

### Expected behavior

no error

### Actual behavior

I can not use patches

[code]

### Information

- Skaffold version: version 1.1.0
- Operating system: MacOs 10.15.2

Connect #3277

[2019-12-25 19:25] forgo opened #3447 "Config parsing issue"
### Expected behavior
Expect skaffold to run with a valid and simple `skaffold.yaml` Config

### Actual behavior
Error due to parsing/unmarshalling:
[code]

### Information

#### Versions
[code]

#### Operating System:
macOS Catalina 10.15.1

##### Contents of `skaffold.yaml`:
[code]

### Steps to reproduce the behavior

1. `skaffold dev -f skaffold.yaml`

I can't see anything wrong with my config

[2019-12-25 19:32] forgo commented on #3447
I feel real silly. It should be `setValues: {}` not `setValues: []`. Closing.

[2019-12-25 19:32] #3447 closed

[2019-12-26 01:44] jlewi commented on #3442
@dgageot do you still need me to run `skaffold build -vdebug` ? My skaffold project is here
https://github.com/jlewi/code-intelligence/blob/multi_model/Label_Microservice/skaffold.yaml

[2019-12-26 01:54] jlewi opened #3448 "SyncMap is not supported by this builder - Using Kaniko and Kustomize"
### Expected behavior

I'm trying out the new [FileSync](https://skaffold.dev/docs/pipeline-stages/filesync/) behavior.

My [skaffold config](https://github.com/jlewi/code-intelligence/blob/c878abc356f9596c962e457f94ceee62bd04a329/Label_Microservice/skaffold.yaml#L14) is using Kaniko and kustomize.

My expectation is that when my python files are changed they are copied to the appropriate location

[2019-12-26 02:07] jlewi commented on #3448
When I changed the mode to manual file sync mode it started working.

The sync stanza now looks like

[code]

[2019-12-26 04:07] demisx opened #3449 "User defined ports aren't forwarded"
Hello. I have defined user port forwarding, but for some reason it looks like it's being completely ignored. None of those 3 ports get forwarded. If I do it with `kubectl port-forward` command then they are forwarded as expected. Can you please tell me what I am missing?

### Information
- Skaffold version: 1.1.0
- Operating system: MacOs 10.15.2
- Contents of skaffold.yaml:

[code]

Skaffold star

[2019-12-26 04:55] demisx commented on #3449
Sorry, I think I misunderstood the meaning of the `--port-forward` flag. For some reason, I thought it was meant for enabling auto port forwarding only, but after re-reading the docs it became clear that port forwarding is disabled across the board without this flag.

[2019-12-26 04:55] #3449 closed

[2019-12-26 06:39] dgageot commented on #3448
We should be able to make it work with kaniko too.

[2019-12-26 09:37] KhaledSakr opened #3451 "Building a base image artifact"
I'm using skaffold to build and deploy multiple artifacts, but each of them are based on a base image that should be built and pushed first.

This is for example doable with docker-compose in the following way:
[code]
And then the dockerfile for the `users` image:
[code]

This workflow is currently not supported in skaffold as far as I understand.

### Expected behavior
Should be able to build bas

[2019-12-26 09:59] KhaledSakr opened #3452 "False warnings when building multiple artifacts and deploying with helm"
When I try to `skaffold run` the minimal `skaffold.yaml` pasted below, I get the following warnings:
[code]
Even though the image is already used in one of the releases.

### Expected behavior
Should not throw a warning as long as the image is used in at least one of the releases.

### Information

- Skaffold version: v1.1.0
- Operating system: Ubuntu 19.04
- Contents of skaffold.yaml:

[code]

[2019-12-26 10:01] KhaledSakr commented on #3438
I think a better solution for https://github.com/GoogleContainerTools/skaffold/issues/3386 would be to always use `helm upgrade --install` since that seems to be the desired behaviour anyway. We shouldn't need to reimplement something in skaffold that is already supported by helm.

[2019-12-26 15:21] jlewi opened #3454 "file sync not triggered after redeploy"
I believe I observed the following behavior.

1. Configured Skaffold to trigger file sync

    * Here's my [skaffold.yaml](https://github.com/jlewi/code-intelligence/blob/multi_model/Label_Microservice/skaffold.yaml)

1. I started skaffold in dev mode

1. I modified my code
1. Skaffold triggered a file copy for the modified files
1. I modified my deployment
1. Skaffold triggered an update of the d

[2019-12-26 16:48] dgageot commented on #3442
No thanks. That’s ok!

[2019-12-26 22:37] tvvignesh commented on #3416
@dgageot Noticed the same for `skaffold run` as well. Would that be covered in this?

[2019-12-27 09:15] agarciatome commented on #2741
I am having the same issue.  This seems to be a bug. The syntax works if the array is not empty though.
Json patch documentation states: "The - character can be used instead of an index to insert at the end of an array."  and an empty array should not be an exception..

[2019-12-27 11:15] tvvignesh commented on #2464
@dgageot You are right. Loads of images created by skaffold in my local machine. Would be great to have just the latest image built on the GIT tag cached.

![Screenshot from 2019-12-27 16-42-15](https://user-images.githubusercontent.com/1165845/71515145-e099cc00-28c7-11ea-88cd-35848cb69342.png)

[2019-12-27 18:16] mgoltzsche commented on #1737
With the logic that is currently in place a `Replacer` could be added that excludes object's containing `kind: CustomResourceDefinition` using a corresponding `Matcher`. However this allows only to exclude CRDs from the transformation completely - not only some parts of it - while I think that it should still be labeled. Also the `Matcher` must be added to every `Replacer` although so far the `Rep

[2019-12-28 21:12] forgo opened #3457 "Jib and Gradle rebuild with arbitrary file change."
### Expected behavior
I have a series of custom gradle tasks that leverage different built-in tasks. It goes something like this:

`assemble -> tar (custom) -> copy (custom) -> jib*`

I'm leveraging Jib to easily containerize/serve my JavaScript using an `nginx:latest` image.

Everything works great, but I'd like to be able to trigger a skaffold rebuild when I change a non-Java related file under

[2019-12-30 10:47] arjantop opened #3459 "Changes in BUILD files of transitive dependencies are not tracked"
### Expected behavior
Skaffold should track changes of transitive BUILD files.

### Actual behavior
There is no tracking of transitive BUILD files currently.
Example: Base image defined in build file base/BUILD and usage of this image by go_image in service/BUILD. Changes of base image do not trigger rebuilds and wrong image is cached/tagged.

### Information

- Skaffold version: v1.1.0
- Operatin

[2019-12-30 10:55] jponge opened #3461 "Artifact with different registry hostnames"
### Expected behavior

I am building a container image using Maven, Jib, and I am using MicroK8S / Multipass as my local testing environment.

I would expect logs to appear when running `skaffold dev --tail --port-forward`.

### Actual behavior

This is not the case because I have to use different hostnames for the registry, so Skaffold does not detect the dependency between an artifact to build a

[2019-12-31 08:20] hwanjin-jeong commented on #3399
I contribute to this issue
Please see that you want to check the resolved code: #3462

[2019-12-31 11:55] #3459 closed

[2019-12-31 16:24] jlewi opened #3468 "kaniko builds should work with GKE workload identity"
# Expected behavior

My expectation is that skaffold kaniko builds would work with GKE workload identity

### Actual behavior

skaffold kaniko pods end up setting the environment variable `GOOGLE_APPLICATION_CREDENTIALS`.

As a result, kaniko pods will not try to use workload identity but instead look for the GCP secret to be provided in the location specified by the secret.

### Information

- Sk

[2020-01-02 06:15] zhuhaow commented on #3388
I think this should be part of `--status-check`.

IMHO, `run` should by default enable `--status-check` and stream log until either succeed or timeout.

[2020-01-02 15:33] dgageot commented on #3399
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/3462
Thanks a lot @hwanjin-jeong !

[2020-01-02 15:33] #3399 closed

[2020-01-02 19:39] loosebazooka commented on #3457
Yeah this isn't currently possible mostly because jib can't know how those files are getting there. I think it makes sense for us to add a `dependencies` to the jib config block.

[2020-01-02 20:13] kylewolfe commented on #3343
Looks like I missed testing the current output of `IMAGE_NAME` in helm. Whatever the result is, my proposal would break documented API. So perhaps deprecate `IMAGE` and `IMAGE_NAME` (`IMAGES` is already deprecated) in favor of `IMAGE_REPO` and `IMAGE_TAG`

Operation | Variable | Value
-- | -- | --
build.artifacts[i].custom | IMAGE_REPO | api
build.artifacts[i].custom | IMAGE_TAG | d093763-dirty
de

[2020-01-03 00:26] hipstern commented on #2142
Is there a way to use skaffold 1.1 with helm 3 at this point in time?

[2020-01-03 04:01] TBBle commented on #2142
@igoooor's fix [above](https://github.com/GoogleContainerTools/skaffold/issues/2142#issuecomment-553835849) will make Skaffold work with Helm 3 for installing, but it won't delete the release at the end and you'll have to do it manually (with helm uninstall).

[2020-01-03 08:27] iirekm commented on #3383
I think you should also mention that an image with at least empty with FROM xxxx MUST be built to see logs. And this only a short term solution, something better would be nice eg for Skaffold 2.0

[2020-01-03 14:33] #3428 closed

[2020-01-03 15:14] panitaxx opened #3472 "Add label to specify debug tools container for debugging"
I would like to submit a PR to be able to select a different image for the duct-tape (extra tools for debugging). Specifically in go if your image is built with alpine it does not work with skaffold debug.

### Expected behavior

Being able to specify my own debug tools init containers

### Actual behavior

Debug tools init containers are hard coded

### Information

I have thought some possible w

[2020-01-03 16:00] ktarplee commented on #3438
This is implemented [here](https://github.com/ktarplee/skaffold/blob/b8b09ee12110e36d41d61a3ac1397ee13fd5b1f9/pkg/skaffold/deploy/helm.go#L162)

[2020-01-03 16:03] ktarplee commented on #2142
I updated my skaffold [fork](https://github.com/ktarplee/skaffold/releases/tag/v1.1.0-helm3) to v1.1.0.  The only change is support ffor helm 3 (see earlier in this ticket).

[2020-01-03 18:53] Andrei-Stepanov opened #3473 "custom-build-script-locally: ignores buildArgs"
skaffold version v1.1.0

Bug: **buildArgs** does nothing for **custom** build. Documentation has mention about it.

Let's take official example:

[code]

As you can see you pass argument to build process: file == foo.
But, the argument **file** is not passed to **./build.sh**.

1. I checked ENV variables. No **file** in ENV variables.
2. I checked arguments to **./build.sh** command. No argument *

[2020-01-03 20:55] dgageot commented on #3461
Hi @jponge I'll take a look at that tomorrow.

[2020-01-03 22:17] dron-alterpost commented on #3269
HI! I have same issue. Have you any workaround?

[2020-01-04 00:25] samos123 opened #3475 "Feature request: Run local tests before building and deploying"
I would like the ability to specify a command to run before build starts such as run `make test` or running a local testing framework that is being used by the application. This test command should return exit 0 and anything thats not 0 should stop build and deployment.

I'm happy to implement this if there is consensus that it's something that's acceptable.

For example I would like to do this:
[

[2020-01-04 10:08] oke-py commented on #3438
@ktarplee Thank you for information.
If I understand correctly, detecting helm version is not desired and helm3 deployer should be implemented.

[2020-01-05 01:32] ktarplee commented on #3438
I know that having a new deployed is preferred however I have not seen the argument so I have no opinion on the matter.  However it seems to me that one should not require a change to skaffold.yaml if they deploy to a cluster using a different version of helm as it is still just helm.  That’s my two cents, and I don’t much care which way you guys go so long as full helm 3 support comes soon.

Sent

[2020-01-05 22:29] petr-buchin commented on #3429
Could I get some answer for this please?
I'd be happy to make a PR and fix that behavior, but I would like to get some information about where to start.
Thanks in advance!

[2020-01-06 08:59] dgageot commented on #3461
Hey @jponge, that use case is indeed not supported by Skaffold. I'll run a few tests with microk8s and see what we can do.

[2020-01-06 13:12] jponge commented on #3461
That'd work with a public 3rd-party registry, but clearly a private registry as in MicroK8s is better for local development since you don't need to go on a potentially slow network.

[2020-01-06 21:23] kvokka opened #3476 "Incorrect namespace selection"
### Expected behavior

Skaffold should treat all namespaces separately

### Actual behavior

When the service was already deployed to done namespace (call it `myns`), and I try to deploy the same service to another namespace, for example `myns2` it will be deployed again to `myns` instead of `myns2`. this makes impossible to deploy the 1 service to 2 different namespaces.

### Information

- Skaff

[2020-01-06 22:19] kvokka commented on #2142
This should resolve #3476 since Helm3 finally has this fix https://github.com/helm/helm/issues/2060#issuecomment-461877394

[2020-01-06 22:20] docwhite commented on #2142
I am using it @ktarplee and works like a charm! Thanks :)

[2020-01-06 22:37] kvokka commented on #2142
@nkubala is it possible to ship @ktarplee fix? Helm 3 was released a few months ago, and this will allow to remove add the ability to support actual version.

This is a blocker, and it feels like not for me only.

Thank you

[2020-01-06 23:55] kvokka commented on #3476
Finally, killed a day i found the workaround for Helm2. Maybe it will be helpful for someone until this fix && Helm3 fix.

[code]

[code]

[2020-01-07 11:43] Yannick-VandenBergh opened #3477 "Jib multi-module builds fails when building with google cloud build"
### Actual behavior
The build fails, as the parent pom.xml contains a listing of all the submodules, only the modules relevant to the build are being copied over by jib however. This causes the maven build to fail because a module is missing. I tested this using the jib-multimodule example @ https://github.com/GoogleContainerTools/skaffold/blob/master/examples/jib-multimodule

### Expected behavio

[2020-01-07 16:58] renatodelgaudio opened #3479 "Private Azure Container Registry: unauthorized: authentication required"
Hi,
I am trying to use skaffold to showcase the typical developer experience by deploying the local change to a remote Kubernetes cluster and a private docker registry.
In this PoC, I am using Azure Contaner Registry and AKS.

Althought I run skaffold from a terminal session, after a successfull login to my private Azure Container Registry, skaffold cannot authenticate to the registry and hence it

[2020-01-07 19:02] Hkyx commented on #346
did you cover up a way to use skaffold+argoCD to get the pipeline view ?

[2020-01-07 19:16] tvvignesh commented on #346
@Hkyx Nope. I don't use argoCD. Hence, did not try it out.

[2020-01-07 21:43] nkubala commented on #2535
hey y'all, sorry for the super delayed response here.

when you activate multiple profiles, and your profiles are **not** using JSON patches (i.e. they're just normal skaffold configuration stanzas), skaffold will overlay the last specified profile field, not combine them. we do document that the profile fields replace the stanzas in the main section of the skaffold.yaml, but I see how this would

[2020-01-07 22:17] nkubala commented on #2741
ok, I think I puzzled this one out. **the short answer is that there's an issue in the yamlpatch library we're using**, but if you care about an explanation and then possible workarounds, read on...

we use the yamltag `omitempty` in our schemas to prevent providing `nil` for fields that weren't provided by the user. this is fine, but causes the yamlpatch library to freak out when you try and patc

[2020-01-07 22:59] nkubala commented on #3443
in general yes I agree. I'd like to switch this to only run in CI and release jobs, the code has strange behavior across different environments and I don't feel that we need it for local builds.

[2020-01-08 00:37] nkubala commented on #3446
hey @kvokka, thanks for the issue. I debugged this very issue in relation to https://github.com/GoogleContainerTools/skaffold/issues/2741 earlier today, check out my response there for details on this one. I'll close this as a dupe, you can keep tracking there.

[2020-01-08 00:37] #3446 closed

[2020-01-08 00:41] #3376 closed

[2020-01-08 01:13] nkubala commented on #3457
we could also address this by adding support for a trigger file. see https://github.com/GoogleContainerTools/skaffold/issues/1954

[2020-01-08 01:19] nkubala commented on #2264
I think this should be fixed through https://github.com/GoogleContainerTools/skaffold/pull/3298, so I'll close this.

[2020-01-08 01:19] #2264 closed

[2020-01-08 01:32] nkubala commented on #3371
hey @reddybhavaniprasad, thanks for the issue. can you give a little more info on your project structure? are you saying that you've already written the k8s manifests that correspond to the services you defined in your docker-compose.yml? if so, then you should just be able to run `skaffold init` without telling it anything about your compose file (assuming you have Dockerfiles for each of your im

[2020-01-08 02:13] nkubala commented on #3171
hey all, sorry for the delay on this one. I was able to reproduce with the repo that @chinmaya-n provided (thank you!), and it looks like this was broken by https://github.com/GoogleContainerTools/skaffold/pull/3086. we'll need to add back force applying to make this work again for jobs.

[2020-01-08 06:11] #3452 closed

[2020-01-08 17:17] kvokka commented on #2741
Thank you @nkubala for a such a great answer!

But this answer means, that there is no way to solve it, because there is no corresponding issue in https://github.com/krishicks/yaml-patch repo

[2020-01-08 19:05] nkubala commented on #3429
hey @petr-buchin, thanks for the issue.

using skaffold version 1.1.0 on Debian 5.2.17, I ran `skaffold dev` on the `getting-started` example in the repo. then I opened a python interpreter and ran the following commands, based on the example you provided:

[code]
with no `f.close()`. I then saw skaffold retrigger the build, as expected:

[code]

so I'm unable to reproduce the behavior you're seei

[2020-01-08 19:05] #3429 closed

[2020-01-08 19:12] #1380 closed

[2020-01-08 19:17] tejal29 commented on #3387
Please use the following command
`skaffold dev --cleanup=false` or
`skaffold debug --cleanup=false`

You would also need to add the following configuration to `skaffold.yaml`
[code]

[2020-01-08 19:34] nkubala opened #3482 "Support setting labels in `skaffold render`"
when deploying with `kubectl` or `kustomize`, currently the manifests are rendered using `renderManifests`, and then labels are set in the manifests after they're rendered. this same function is used for `skaffold render`, meaning that labels are not set in the final rendered manifests and don't match up to the manifests that are actually sent through to be deployed.

[2020-01-08 19:59] #3249 closed

[2020-01-08 21:19] #3448 closed

[2020-01-08 21:27] balopat opened #3484 "skaffold init thinks some python files are Dockerfiles"
![image](https://user-images.githubusercontent.com/635073/72017478-9c3cf300-321a-11ea-8249-e6316e0eee12.png)

content of: `src/messages/tests.py`
[code]

[2020-01-09 09:29] wwtg99 opened #3485 "How can I build two images in one build artifact?"
### Expected behavior

How can I build two images in one build artifact?
Now I just write two artifacts in build section like below. But it will build twice even if the images are same. How can I build the second image like docker tag?

[code]

[2020-01-09 09:39] Richard87 opened #3486 "Configure image push step, specifically upload images to Containerd CLI (microk8s)"
I want to create a local dev-environment, where we just install microk8s,, run `microk8s.enable registry dns && microk8s.start` and `skaffold dev --port-forward`, finished.

### Expected behavior
Everything should work

### Actual behavior
The registry microk8s provides is insecure, so kubernetes can't/won't load images from it (https://github.com/ubuntu/microk8s/issues/899).

As an alternative, I

[2020-01-09 09:56] tvvignesh opened #3487 "Clean up from remote repositories as well after skaffold-dev"
Hi. I have been using a remote GKE cluster as my development target since its difficult to run Minikube and test everything on my system. Everything works great with `skaffold dev` pushing images remotely during development and I am able to test it.

But, when terminating `skaffold dev` I would like the remote GCR images which were pushed to be cleaned up as well to avoid doing it manually later.

[2020-01-09 12:57] prokher commented on #2741
@nkubala Indeed, thank you for your great answer!

[2020-01-09 14:55] Richard87 commented on #3486
I added
[code]
to my skaffold.yaml, and updated to use the service ip, instead of locahost:
[code]
Stil fail...

[2020-01-09 15:02] Richard87 commented on #3486
Using docker cli solved the problem :fireworks:

[code]
That pushed the image to the insecure repository running in microk8s, and then kubernetes could find the image :D

[2020-01-09 15:02] #3486 closed

[2020-01-09 21:52] tejal29 commented on #3485
@wwtg99 as of now we don't support multiple tags or images for the same source code.
Related to #2169 and or you could have your build.sh script at the end
[code]

[2020-01-09 22:02] tejal29 commented on #3487
@tvvignesh `skaffold dev` cleanups all intermediate images locally. However, remote images and layers are not cleaned up.
This could be definitely added this as feature.

Our team also owns Minikube, and i would love to know why your Minikube isn't working for you.
Is it because of the nature of your application or minikube installation is difficult.

Thanks
Tejal

[2020-01-09 22:45] tvvignesh commented on #3487
@tejal29 Thanks for your quick reply. The main reason minikube does not work is that it eats up a lot of resource in my system along with other applications I am running. Also the fact that you have to end up exposing many of your local ports in the cluster through a tunnel if you are working on things like OAuth where services need a public url to be exposed.

Otherwise, its good to work with min

[2020-01-10 02:58] tuananh170489 opened #3490 "Tail log from remote kubernetes cluster"
Hi,
I have a remote k8s cluster as my deployment target. `Skaffold` is great tool for kubernetes development.
But now I can't tail log from pods in remote kubernetes cluster (this feature only work in local cluster).
So great when this feature is available

[2020-01-10 15:26] vitorcamachoo opened #3497 "Not using local image (with helm)"
### Expected behavior
When using skaffold with helm, running `skaffold dev` it should use the latest local image built.
### Actual behavior
When running `skaffold dev` it is building the image, but trying to use some remote image giving the following error:
[code]

### Information

- Skaffold version: v1.1.0
- Helm version: 3.0.2
- Operating system: macOS Mojave
- Contents of skaffold.yaml:

[code

[2020-01-10 16:27] GeertJohan opened #3498 "[Deploy] Add Tanka Deployer"
Related to #10

Tanka has been 'officially announced' by grafana.
https://grafana.com/blog/2020/01/09/introducing-tanka-our-way-of-deploying-to-kubernetes/

It is an interesting alternative to helm and seems to fit as possible deploy option for Skaffold.

[2020-01-10 23:19] corneliusweig commented on #3490
@tuananh170489 Can you explain a little how you are using Skaffold? If you are running `skaffold run` or `skaffold deploy` it is expected that you don't see logs. However, with `skaffold dev` you should see the logs even from a remote cluster.

To inspect logs of an already deployed application, Skaffold is probably not the correct tool to use. But there several tools out there for exactly that pu

[2020-01-11 07:09] wwtg99 commented on #3485
OK, thanks!

[2020-01-11 07:09] #3485 closed

[2020-01-11 08:32] akhilles commented on #2142
any update on official helm v3 support?

[2020-01-11 13:08] mraliagha opened #3500 "Fail to deploy helm on Minikube after upgrading Skaffold, Helm and Minikube to the latest version"
Since I have upgraded helm, Skaffold and Minikube to the latest version, my local project has been failed to get deployed to minikube with the following warning:

    Listing files to watch...
     - tect-cicd
    Generating tags...
     - tect-cicd -> tect-cicd:2.2.19-5-gfb14eb3-dirty
    Checking cache...
     - tect-cicd: Found Locally
    Tags used in deployment:
     -tect-cicd -> tect-cicd:c

[2020-01-12 05:06] ichtestemalwieder commented on #1872
@tejal29 and @paultiplady. Could you please reopen this issue! This is an absolute basic feature as lot of people here have requested (and reacted/commented). I was so happy the first minutes about skaffold as it seemed to fulfill all developer needs but then I got so disappointed that this basic feature is missing.

Summarizing, as all the other comments already state:
- Helm supports multiple Ch

[2020-01-13 07:26] tuananh170489 commented on #3490
@corneliusweig thank for your response.
I saw this infomation in skaffold docs
`Skaffold has built-in support for tailing logs for containers deployed by Skaffold on your cluster to your local machine when running in either dev, debug or run mode`
And I has got the same issue that I can't tail logs pod at remote k8s cluster

[2020-01-14 10:37] KhaledSakr commented on #3500
This seems to be a duplicate of https://github.com/GoogleContainerTools/skaffold/issues/3386
As a workaround you can:
[code]

[2020-01-14 23:00] agarciatome commented on #2741
@nkubala  thanks a lot for your detailed answer. I'll try to work around my scenario then!

[2020-01-14 23:07] balopat opened #3506 "skaffold init --skip-deploy"
This is a feature request to have a `--skip-deploy` similar to `--skip-build` in `skaffold init`.
This would detect artifacts to prepare for `skaffold build`.

[2020-01-14 23:44] balopat commented on #3500
Yes, this is a duplicate. Thank you for opening, finding the workaround and posting it here!

[2020-01-14 23:45] #3500 closed

[2020-01-14 23:45] tejal29 commented on #3498
@GeertJohan Thanks for raising the issue. We currently donot have the bandwidth to support a new deployer.

The team is looking into #2277 and maybe that could be a way to supporting new deployers. If the demands increases, we can think of supporting Tanka natively in skaffold.

[2020-01-14 23:46] nkubala commented on #3490
@tuananh you can use the `--tail=true` flag for `skaffold run` or `skaffold debug` to tail logs to your machine. this should work regardless of whether your cluster is local or remote.

[2020-01-14 23:47] balopat commented on #3497
Thanks for opening @vitorcamachoo!
Can you share the output of your logs when running with `skaffold dev -v debug`?

[2020-01-14 23:57] nkubala commented on #3475
@samos123 thanks for the issue. this would be accomplished by supporting pre-build hooks in skaffold, which is something we're planning on prioritizing for this year. skaffold already has a `test` stage in the pipeline that runs [container structure tests](https://github.com/GoogleContainerTools/container-structure-test) between the `build` and `deploy` stages, maybe this is something you can make

[2020-01-14 23:59] tejal29 commented on #3468
@jlewi Thanks for opening this issue. At this time, we don't have a clear understanding of workload identity. I will look into what (if any) pod config is required for kaniko pod and then follow up here in skaffold.

Thanks

[2020-01-14 23:59] balopat commented on #3479
Thank you @renatodelgaudio for opening!
I don't have too much experience with Azure.
We will have to sit down and reproduce this with Skaffold.
In the meantime can you try to use `useDockerCLI: true` (see https://skaffold.dev/docs/pipeline-stages/builders/docker/)  if it works as a workaround?

[2020-01-15 00:02] tejal29 commented on #3438
@ktarplee Thanks. Supporting Helm3 is our high on our priority list. Sorry this taking longer.

We do want to make sure, we give users plenty of time to upgrade their app helm2 to helm3. We will change the default to helm3 as per our SLA.

[2020-01-15 05:13] #1737 closed

[2020-01-15 05:47] tejal29 commented on #3372
@loosebazooka or @chanseokoh would you be able to answer this?

[2020-01-15 05:51] tejal29 commented on #3222
Thanks @zmb3, i think we could proceed with option 3 like @dgageot mentioned.
Would like to submit a PR ?
Adding a config is instructions are documented [here](https://github.com/GoogleContainerTools/skaffold/blob/master/DEVELOPMENT.md#making-a-config-change)
Thanks
Tejal

[2020-01-15 05:54] tejal29 commented on #3216
hmm i tried running kaniko-local examples on minikube and it worked fine.
Can you try setting the current-context for kubectl to `minikube` cluster config?
`kubectl config set use-context minikube`

[2020-01-15 08:19] #3484 closed

[2020-01-15 12:49] lienharc commented on #3171
Can confirm this issue persists on v1.1.0

[2020-01-15 16:18] loosebazooka commented on #3477
@dgageot when the artifact src is copied to gcb does it copies from the workspace/context level right?

[2020-01-15 16:29] loosebazooka commented on #3477
so yeah the tar.gz only contains
[code]
which in insufficient for a maven build because of the `<module>` entries in the parent pom.xml (are we only copying "watched" files, maybe?)

[2020-01-15 16:36] chanseokoh commented on #3372
@lduparc sorry, I'm not sure I understand your question. Jib does not make use of your local Docker client or engine. For example, if Skaffold is configured to use a remote Kubernetes cluster, Jib will push an image directly to a remote registry (basically doing `gradle jib`). If Skaffold is configure to use a local cluster like Minikube, Jib will load an image to the internal Docker engine runnin

[2020-01-15 17:18] nkubala commented on #2741
@kvokka unfortunately that's correct. maybe you can follow up with an issue on that repo?

hopefully you all can find ways to work around this in your projects. providing any non-nil values will enable using the `replace` directive from a profile, so possibly using a placeholder value is the way to go. I'm going to close this issue for now, but if there's any movement on fixing the issue in the ya

[2020-01-15 17:18] #2741 closed

[2020-01-15 18:36] loosebazooka commented on #3477
we probably need to copy the whole context? (maybe skip what's in .gitignore --  might be hard)?

[2020-01-16 06:25] #2875 closed

[2020-01-16 10:02] vitorcamachoo commented on #3497
@balopat
Hii, here is the output:

[code]
And when I run `kubectl get services,pods`:
[code]

[2020-01-16 16:18] balopat commented on #3443
I am hesitant to write our own tool for this. In particular the notes mentioned in the comments in [this file](https://github.com/google/go-licenses/blob/master/licenses/classifier.go) for different types of licenses and logic to enforce those rules seem pretty useful to me.

I would rather go down the route of figuring out how to make the licensing tool faster and better, e.g. recognize non-stand

[2020-01-16 16:21] balopat commented on #3451
Thanks @KhaledSakr for opening this - this seems reasonable to me. A design doc would be the first step for this kind of feature. We currently don't have the bandwidth to dig into it, but we could start on this by reviewing community designs. Would you be interested to dig deeper into this?

[2020-01-16 16:31] balopat commented on #3457
I agree that something here would be interesting.

Now Jib itself is providing dependencies automatically currently (based on maven src, resources definitions), similar to Docker builder (we calculate it based COPY and ADD commands) that's why we didn't have that here in the first place.

I'm thinking about calling this `extraBuildTriggers`?

@nkubala WDYT?

We'll also need a mini design doc here

[2020-01-16 16:41] KhaledSakr commented on #3451
Fair enough. Let me work on a proposal over the next few days.

Thanks for the suggestion. Unfortunately, it doesn't fit our use case. For now we build the base image in a seperate step before skaffold and then pass the tag to skaffold to be passed in turn to the artifacts as a buildArg. It's not pretty but it does the job.

[2020-01-16 16:56] balopat commented on #3472
Thanks @panitaxx for opening! I like the name debug-tools :)
I think this is a reasonable direction - WDYT @briandealwis?

[2020-01-16 17:08] balopat commented on #3473
Thanks @Andrei-Stepanov for point this out, this definitely looks misleading - the dependencies section should be purely to inform skaffold about what files to watch for rebuilding. Now, for that the Dockerfile might have env vars _inside_ and that's what the `buildArgs` are for to resolve.

Passing env vars to the custom builder is document (https://skaffold.dev/docs/pipeline-stages/builders/cust

[2020-01-16 17:08] dgageot commented on #3443
@balopat I managed to use go-licenses in https://github.com/GoogleContainerTools/skaffold/pull/3493
Closing this one

[2020-01-16 17:08] #3443 closed

[2020-01-16 17:24] balopat commented on #3487
FYI, the current [pricing of GCR](https://cloud.google.com/container-registry/pricing) tells me that $0.026 per GB per month is the price. So, regarding the bills it depends how big your images are and how frequently you are pushing.

I agree with @tejal29  that this could be added as a feature. It is a relatively sizable (medium to large) one to implement though, as the cleanup logic for registri

[2020-01-16 17:31] balopat commented on #3476
Thank you @kvokka for submitting this. Are you using helm 2?
Helm 3 made some improvements around this area: https://helm.sh/docs/faq/#release-names-are-now-scoped-to-the-namespace

However [Helm3 has some issues](https://github.com/GoogleContainerTools/skaffold/issues?q=is%3Aopen+is%3Aissue+label%3Adeploy%2Fhelm3) with Skaffold currently :(

Thank you so much for putting the effort in documenting

[2020-01-16 17:57] kvokka commented on #3476
Thank you @balopat

This was tested with Helm 2.16 (but i believe that it should work with the previous versions too) and i do not think, that Helm team will fix this ever.

[2020-01-16 19:36] tvvignesh commented on #3487
@balopat Thanks for your reply. I had the pricing concern since I was using `skaffold dev` which periodically hotreloads and pushes new images to the repo (not sure if that is in my control).

What I did to solve this issue right now, is to use skaffold for my CI/CD pipelines and to use telepresence for my dev workflows and that works great. Like, I swap the container which I am developing and do

[2020-01-16 22:01] corneliusweig commented on #1872
Kustomize solves this by creating a new variant with several bases (see https://github.com/kubernetes-sigs/kustomize/tree/master/examples/multibases). So @ichtestemalwieder's example just needs a kustomization.yaml with the following content:

[code]

Maybe someone can explain, why this solution does not work for you?

[2020-01-16 22:48] balopat opened #3516 "go-licenses PATH is incorrect"
We get this error if $GOPATH/bin is not on the path
[code]

Also placing the go-licenses binary in GOPATH/bin is inconsistent with the statik binary placement (and other tool binaries) it should live in `hack/bin`.

This is currently blocking the release, marking as P0.

[2020-01-16 23:17] #3516 closed

[2020-01-16 23:57] balopat opened #3519 "release v1.2.0"

[2020-01-17 00:19] ichtestemalwieder commented on #1872
@corneliusweig: Thanks very much for your answer!

As far as I understeand multibases, it is the equivalent of "helm umbrella charts". Yes it seems to be a solution, but not an ideal one. As  it requires so setup an additional and "external" (to skaffold)  "meta/aggregator" configuration file (namely the multibases kustomization.yaml file).

Conclusion and potential Improvements:
1.) The multibase

[2020-01-17 00:58] #3519 closed

[2020-01-17 03:05] balopat commented on #3302
I think we can close this now, it is not happening anymore, let's close it -- it might have been a kokoro specific thing...

[2020-01-17 13:49] jlewi commented on #3468
@tejal29 Thanks. If you are using Google Cloud Client libraries to get credentials you shouldn't need to do anything. The client libraries should attempt to contact the metadata server to get credentials if GOOGLE_APPLICATION_CREDENTIALS isn't set.

[2020-01-18 04:37] thatguyjono94 opened #3529 "Skaffold dev will disconnect after few hours every time"
### Expected behaviour
Skaffold only exits when instructed in dev mode
### Actual behaviour
After running `skaffold dev` and a few hours later I get the following error:

`deployer cleanup: reading manifests: kubectl create: Running [kubectl --context minikube create --dry-run -oyaml -f /Users/jonathan/projects/kludge/k8-dev/client/deployment-manifest.yaml -f /Users/jonathan/projects/kludge/k8-dev

[2020-01-19 08:35] sloppycoder opened #3530 "skaffold build fails with Redhat CodeReady container's internal registry"
I'm trying to use skaffold with Redhat's CodeReady container, essentially a single node version of Openshift 4.2 on my laptop, but the pipeline fails. Apparently JIB successfully pushed the image to the internal registry, but then skaffold can't query the registry due to some permission problem.

The project is a spring boot based microservice built with JIB, here's [code repo](https://github.com/

[2020-01-19 09:02] sloppycoder commented on #3530
The internal registry can only be accessed by HTTPS but it has a self-signed certificate. I realized the line
[code]
caused skaffold to access registry with HTTP not HTTPS, and it got a 503.

I removed the insecureRegistries entry in skaffold, now got a different error message,

[code]

Is there any way I can tell skaffold to not do TLS verify?

[2020-01-20 00:34] gmhflg commented on #2171
Hey @crimeminister & @balopat,
Just curious if any progress has been made on this before I try and build our own workaround?
Thanks,
G

[2020-01-20 02:10] zerdos opened #3532 "skaffold dev is not starting"
my expectation would be to have working example files

### Expected behavior

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
3. ...

[2020-01-20 10:26] sloppycoder commented on #3530
One more update, I extracted the cert on the ingress controller and added to my linux ca-certificates, I managed to got pass the X.509 error, then I got a new error.

[code]

[2020-01-20 14:01] itechbear commented on #3497
Same issue here. `skaffold run` doesn't respect image locality or tag. It simply pulls image from dockerhub and uses the `latest` tag.

I googled a lot, all links stating that the root cause might be invalid .yaml files, but it turned out the local .yaml files are valid.

Finally I think I've got the root cause, the root cause might be skaffold's compatibility issue with helm v3, which I'm using.

[2020-01-20 14:14] itechbear commented on #3497
I switched to helm v2 + tiller, the result of the `helm get` command is valid now but we got a new problem.

The first few lines of the returned .yaml format content should not parsed, but skaffold treats it as a kubernetes resource object and parsed it with erroneously.

FYI, the returned content:

[2020-01-20 15:32] balopat opened #3537 "flake: TestGracefulBuildCancel"
Sometimes OSX travis tests fail with TestGracefulBuildCancel failures. We should eliminate these flakes.

[2020-01-20 15:34] balopat commented on #3532
Hi @zerdos, thanks for opening the bug.
Can you describe a bit more details about how to reproduce the issue?
Are you using minikube, or a remote cluster, what is the error that you see?
Thanks!

[2020-01-20 19:04] briandealwis opened #3540 "Skaffold-Jib should pass back the generated image digest"
After a successful build, the Skaffold-Jib binding's build-to-registry flow calls back to the remote registry to get the resulting image digest ([jib-maven](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/jib/maven.go#L59), [jib-gradle](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/jib/gradle.go#L60)).  This can lead to a discontinu

[2020-01-20 19:07] briandealwis commented on #3540
Should be able to use `-Djib.outputPaths.digest=...` to write out the digest to a specific file.

[2020-01-20 22:08] eox-dev opened #3541 "Specifying the deployment order or dictating order"
I'm just trying to find out if there is a way to dictate the order deployments are started up.

Basically, I need the database deployment to spin up before the API deployment. If the database isn't running, it throws an error in the API.

I've messed with the order in:
[code]
and also in:
[code]

But it doesn't seem to have any bearing on the order they startup.

The only thing I can think is that

[2020-01-20 23:50] dalvizu opened #3543 "exec: "container-structure-test": executable file not found in $PATH"
I'm trying to use container testing and am running into immediate error saying container-structure-test is not found on my PATH. I'm specifying `image` of `zemanlx/container-structure-test` which is a public image containing the `container-structure-test` binary at `/bin/container-structure-test` and on the $PATH of that container.

What's not clear to me from examples is what is needed of this co

[2020-01-21 02:10] lsimmons2 commented on #1748
@balopat I'm also having trouble installing a helm chart with skaffold. With helm 3 on microk8s with the `skaffold.yaml` below I get the following error:
[code]
[code]
Other details:
- skaffold version: v1.2.0
- ubuntu 18
- using default skaffold registry - having run `skaffold config set default-repo localhost:32000`
- `helm install` works in installing the chart and `skaffold dev` works fine wit

[2020-01-21 02:36] TBBle commented on #500
[code]

works for me.

[2020-01-21 02:43] TBBle commented on #3316
In case it's not clear, there's `overrides` which can be used for non-image values.

The naming is unfortunate... `values` is the place Skaffold looks for image names to match `artifacts`, while `overrides` is used to build a _values.yaml_. And the [documentation of this is missing](https://skaffold.dev/docs/references/yaml/). (This was "tribal knowledge" for us. Someone told me that when I joined

[2020-01-21 12:56] matti opened #3544 "add parallel local image pushing"
similar to #1380 now when builds are done in parallel

[2020-01-21 15:01] ivanporty opened #3545 "Add event for push problem due to authentication or image name format"
At the moment, users only see a log message from builders that could be hard to decipher, and not reliable to parse in IDEs to detect image repository issue.
Event API could send a signal about potential failed authentication and IDEs then will ask users to fix their repository, pointing to the configuration and offering help.

[2020-01-21 15:03] kylewolfe commented on #500
I originally viewed this issue as a request around being able to use templated fields in nested locations, but looking again, that's not mentioned here.

For those looking for an issue about that: #3343

[2020-01-21 15:04] ivanporty opened #3546 "Implement a function or add a flag for IDEs to get a finalized image name with prepended default image repository without actually building and pushing"
A user only sees the finalized image name (default image repository + converted image name from manifests) once deployment or build starts. IDEs could show the expected image name in the run configurations to make it easier to decide if that's what a user needs and understand errors better if it doesn't work.

We can use some flag to get an expected image (given default image repo), or use dry run

[2020-01-21 17:33] chanseokoh commented on #3540
#1160 seems more like an issue of the `wincred` helper. The OP reported that the `gcr` cred helper works, while `wincred` doesn't. Did you actually mean #3530 instead?

[2020-01-21 18:36] loosebazooka commented on #3477
I also think we need to sync whatever is in skaffold-files-v2 (for potential files outside the workspace) like something in extra directories? Or is that opening the door to madness?

[2020-01-21 19:01] InsOpDe opened #3549 "FR: Add .IMAGE_TAG template variable"
### Expected behavior
There should be a way to retrieve the `image-tag` somehow in order to correctly insert it into the `skaffold.yaml`

According to https://skaffold.dev/docs/environment/templating/ `{{.IMAGE_NAME}}` is usable but not `{{.IMAGE_TAG}}`

### Actual behavior
Kubernetes reports the Error `Back-off pulling image "example.azurecr.io/example/cloud/social/rating"`
Clearly here's missing

[2020-01-21 19:01] InsOpDe commented on #3549
I believe this might be related to https://github.com/GoogleContainerTools/skaffold/issues/3497

[2020-01-21 20:14] pdettori commented on #3269
I have the same issue as well, the sha256 hash in deployment is creating issues when I deploy in OpenShift.

[2020-01-21 21:44] nkubala commented on #3457
@balopat that seems fine. it might be nice to somehow say these are files and not "triggers" themselves, though now we're getting pretty verbose so I'm not sure it matters much.

I'd love to see a small design writeup here if anyone is interested!

[2020-01-21 21:52] nkubala commented on #3543
hey @dalvizu, skaffold will try and invoke the container-structure-test binary from your host machine, not from the provided image under test. the image you provide in the testing phase is the one that the tests will actually be run on - all of the test configuration, as well as the c-s-t binary itself, should live on the host that skaffold itself is running on.

hopefully that solves your issue!

[2020-01-21 21:52] #3543 closed

[2020-01-21 22:01] sujit-kamireddy opened #3551 "Skaffold init --analyze returns duplicate image name"
### Expected behavior
"skaffold init --analyze" should dedup image names. Expected output below.

{"dockerfiles":["src\backend\Dockerfile","src\frontend\Dockerfile"],"images":["node-guestbook-backend","mongo","node-guestbook-frontend"]}

### Actual behavior
"skaffold init --analyze" returns the "mongo" name twice in the "images". Actual output below.

{"dockerfiles":["src\backend\Dockerfile","src\

[2020-01-21 22:31] dalvizu commented on #3543
Ah okay, interesting. Thanks! I'll try to update docs then.

Why is 'image' required to be provided? Is there a reason / intent for why skaffold can't assume / use the previously defined image in the builder section?

[2020-01-21 22:39] nkubala commented on #3543
skaffold can build multiple images during a single run, and it needs to know which test configuration is for which image. if you have two artifacts that build `image1` and `image2`, and different `test.yaml`s for each of those images, we can't know the mapping between test configurations and images beforehand.

[2020-01-21 22:44] balopat commented on #3541
Hi @eox-dev - In general deployment order shouldn't matter and can't be controlled really determenistic way and the application's should take care of that when running on Kubernetes, i.e the app should keep retrying until the upstream service is there.

Can your application recover after the db comes up?

[2020-01-21 22:49] eox-dev commented on #3541
It cannot. Django checks to see if the database is running, and if it isn't, it just errors out. Django is apparently designed to try, fail, and not try again. Apparently there is not a setting for this. That being said, I've found out about readiness, liveness, and startup probes, so that is likely what I need to implement.

[2020-01-21 22:50] balopat commented on #3551
Hi @sujit-kamireddy, can you try with v1.2.0?

[2020-01-21 22:51] balopat commented on #3551
or is that v0.40.0-62-g8a2658464 built from master?

[2020-01-22 02:15] dalvizu commented on #3543
Thanks for the explanation, that makes complete sense. I'll update the docs I found to reflect this. Appreciate it!

[2020-01-22 05:45] balopat commented on #3551
on the latest master I see
[code]

or with jib + buildpacks:

[code]

[2020-01-22 05:52] balopat commented on #3551
based on what I can tell, you are using a very old build from October: https://github.com/GoogleContainerTools/skaffold/commit/8a2658464

[2020-01-22 06:20] oke-py opened #3552 "extensions/v1beta1 Deployment should be migrated to apps/v1"
extensions/v1beta1 was deprecated in Kubernetes 1.16.
I'm not sure which version is used for testing, but extensions/v1beta1 should be migrated to apps/v1 for some time.

### Expected behavior

[code]

### Actual behavior

[code]
- integration/testdata/helm/skaffold-helm/templates/deployment.yaml
- pkg/skaffold/deploy/helm_test.go

### Information

N/A

### Steps to reproduce the behavior

N/A

[2020-01-22 06:38] balopat opened #3554 "skaffold init should not fail on existing skaffold.yaml if it's pointing to another skaffold.yaml"
When an existing skaffold.yaml might be overriden by the skaffold init execution we should warn the user. This is why we throw an error: `pre-existing skaffold.yaml found (you may continue with --force)`

This should be avoided when the target configuration is a different file from the existing skaffold.yaml file, e.g.:

- the file is in a different directory
- `-f different_skaffold.yaml` is pass

[2020-01-22 07:49] thatguyjono94 commented on #3529
@balopat Thanks for your response, yes It was something to do with minikube. I've completely switched to using Docker Desktop, and skaffold works like a charm. Sorry for the wrong post. Closing

[2020-01-22 07:49] #3529 closed

[2020-01-22 10:04] #3222 closed

[2020-01-22 11:44] f84anton opened #3559 "deploy profile without build artifacts failing with "no tag provided for image""
### Expected behavior
Able to deploy 3rd party software with dedicated profile
`skaffold deploy -p stg-infra`

### Actual behavior
Skaffold asking to set image artifact from top level build section
[code]

### Information

- Skaffold version: version 1.2.0, 0.40
- Operating system: ubuntu 18.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. skaffold.yaml
2. `skaffold

[2020-01-22 13:14] #3250 closed

[2020-01-22 13:19] yanivpaz1973 commented on #2040
@MisterTimn  can you share the complete example?

[2020-01-22 15:51] balopat commented on #3559
Hi @f84anton, I can see how this is unintuitive.

We should figure out how to "remove all artifacts" from a profile - I'm surprised it was working at one point.

In the meantime as a work around, you should be able to run it with `--images= myreponame:dummytag`. Does that work for you as a workaround?

[2020-01-22 16:21] cabrinoob commented on #1766
Any update on this topic ? Because I have a similar use case :

I'am using NestJS, that is a microservice oriented framework for NodeJS which uses Typescript.
I'd like to use skaffold during the development phase to deploy my microservices on my K8S cluster and sync my code with my pods.

I have a multi-stage build Dockerfile that transpiles typescript to javascript.

What I need is that skaffold

[2020-01-22 19:21] jasperkuperus opened #3563 "Enable only User Defined Port Forwarding"
Sorry if this is a duplicate. There are quite some issues on port forwarding, but I didn't find an actual duplicate.

### Expected behavior
In my specific scenario, I am using Redis with 2 slaves and 1 master. This results in three services:

[code]

I define my user defined port forwards to make sure that `6379` is forwarded to the `master`, as I want to be able to write if I connect on the defau

[2020-01-23 07:31] f84anton commented on #3559
Thank you. I have tried to set images for stable/redis but not `myreponame`. I can now run deploy with `--images=myreponame:nonexistingtag` for profile stg-infra.

[code]

[2020-01-23 07:43] chulkilee commented on #3479
~/.docker/config.json is for docker CLI, not for docker daemon, I believe - so the default behavior (using docker engine api) cannot use it, unless skaffold reads the config and mimic the behavior of docker CLI (e.g. supporting different credsStore..)

[2020-01-23 10:30] petarManolov opened #3565 "Skaffold keeps rebuilding and redeploying a helm chart with dependencies"
### Expected behavior
After running ```skaffold dev``` and the initial build and deployment is done, it will only trigger a new build / deploy when I make a change to the source or helm charts.
### Actual behavior
After the initial build, the chart is continuously re-deployed in a loop.
### Information

- Skaffold version: v1.2.0
- Operating system: Ubuntu 19.10 / macOS 10.15
- Project Info : Java

[2020-01-23 10:54] feloy commented on #3454
Here is a simple config and steps to reproduce the bug: https://github.com/feloy/skaffold-sync-bug

[code]

[2020-01-23 11:46] ekhaydarov commented on #2142
@ktarplee or anyone else. How do you compile the skaffold repo? the binary built in @ktarplee skaffold fork does not work on a mac and it doesnt seem as staightforward to do a simple `go build` on that repo

Thanks

[2020-01-23 12:47] docwhite commented on #2142
Just clone his repository, change directory to the root of the project and `make`.

It builds it to `out/skaffold`

[2020-01-23 13:28] petr-buchin opened #3566 "Notify trigger does not detect changes until file is closed"
### Expected behavior
Earlier I created issue #3429.

Issue was closed with comment:

So I created issue in `fsnotify` repository, and unfortunately only after that I decided to test `fsnotify` to be sure that this is an issue on their side.

As it turns out, `fsnotify` does not have an issue with detecting changes for files being opened, so now I'm sure that this is an issue on Skaffold side - pr

[2020-01-23 14:18] petr-buchin commented on #3566
Hmm, I found that despite @nkubala said in #3429 that Skaffold uses https://github.com/fsnotify/fsnotify lib, Skaffold actually uses https://github.com/rjeczalik/notify lib, which seemed to be not suuported anymore (last commit in 2018).

Do you plan to move to `fsnotify` ?

[2020-01-23 18:53] jonjohnsonjr opened #3568 "skaffold init looks for go.mod files under vendor/"
### Expected behavior

[code]

### Actual behavior

[code]
### Information

- Skaffold version: 4c38a79c3a59a14cf4cae14015bbcfdf9816c491
- Operating system: Linux

### Steps to reproduce the behavior

1. cd https://github.com/google/go-containerregistry
2. `skaffold init --analyze --XXenableBuildpacksInit`
3. use eyeballs

[2020-01-23 22:06] sfhardman opened #3571 "Getting started example with Microk8s"
### Expected behavior
Follow the [Quickstart docs](https://skaffold.dev/docs/quickstart/), and it prints "Hello World" - assuming there is an intention to support microk8s, which might not be the case...

### Actual behavior
Exits with:
```FATA[0033] exiting dev mode because first build failed: build failed: building [skaffold-example]: build artifact: denied: requested access to the resource is d

[2020-01-24 11:06] ktarplee commented on #2142
I updated the helm v3 fork to v1.2.0 of skaffold and added [mac](https://github.com/ktarplee/skaffold/releases/download/v1.2.0-helm3/skaffold-darwin-amd64) and [linux](https://github.com/ktarplee/skaffold/releases/download/v1.2.0-helm3/skaffold-linux-amd64) binaries this time.

[2020-01-24 11:17] #3552 closed

[2020-01-24 16:36] #3554 closed

[2020-01-25 05:25] sloppycoder commented on #3530
apparently the problem is skaffold using the outdated credential to authentication openshift's internal registry. the fix is to do a docker login before running the build.

[code]

[2020-01-25 05:25] #3530 closed

[2020-01-25 05:45] sloppycoder commented on #3269
I have same problem with Openshift too. I guess it's a bug in Openshift though.

[2020-01-25 06:16] sloppycoder commented on #3530
Just want to add that despite getting pass the problem above I then ran into another problem with Openshift unable to pull the image, see #3269

I'm giving up on Openshift for now...

[2020-01-25 18:03] balopat commented on #3551
Closing, verbally confirmed that this was an old version of skaffold.

[2020-01-25 18:03] #3551 closed

[2020-01-26 10:10] kissmikijr opened #3581 "Be able to pass specific buildpacks when use buildpack artifact"
### Expected behavior
Be able to specify which buildpacks should the builder use. In case your project need more than one.
### Actual behavior
Not supported.
### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

Currently not supported.
1. a clonable repository with the sample skaffold project
2. `skaffold

[2020-01-26 10:13] kissmikijr commented on #3581
I already did some digging, and have a working solution for this. But I can't make the hack/linter.sh to pass I got operation not permitted, any help would be appreciated.

[2020-01-26 10:15] kissmikijr opened #3582 "Skaffold run '--render-only' support to write output to a file."
### Expected behavior
Currently skaffold run has a flag '--render-only'. This prints the output manifests to the stdout. I'd like to be able to write the output to a file like with skaffold render --output.

### Actual behavior
Currently not supported.
### Information

- Skaffold version: version latest
- Operating system: macOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the beha

[2020-01-26 14:02] corneliusweig commented on #1872
This issue was discussed during the Skaffold bi-weekly meeting on Jan 22. The core team agrees that Skaffold should treat helm and kustomize in the same way, see #3585 for details.

Btw, everybody is welcome to bring up issues like these during that meeting. That's what it is there for :)

[2020-01-26 23:55] balopat opened #3588 "skaffold dev examples/buildpacks fails on minikube"
skaffold dev examples/buildpacks seems to work on GKE clusters but fails on minikube.

### Expected behavior

Skaffold builds with buildpacks seemlessly to the local docker daemon of minikube.

### Actual behavior

[code]

<details>

[code]
</details>

### Information

- Skaffold version: latest master
- Operating system: Mac OSX
- Contents of skaffold.yaml: examples/buildpacks

[2020-01-26 23:55] balopat commented on #3588
cc @dgageot, @briandealwis

[2020-01-26 23:57] balopat commented on #3581
cc @dgageot @briandealwis

[2020-01-27 00:13] balopat commented on #3571
Hi @sfhardman, thanks for the detailed issue!

Step 11 - you could just pass in the registry as well with `--default-repo 127.0.0.1:32000` as a flag.
Not sure yet why you need the dockerCLI vs why the go-containerregistry doesn't work - probably you'd have to add 127.0.0.1:32000 to [insecure-registries](https://skaffold.dev/docs/environment/image-registries/#insecure-image-registries)?

Step 12 -

[2020-01-27 00:22] balopat commented on #3566
Thanks for the detailed report @petr-buchin - I'd love to understand where this causes an issue!
Having said that, if fsnotify works well, I would be open to switch.
I'm sure we looked into that too, not sure why we didn't go with it and used instead rjeczalik/notify - @dgageot might be able to shed some light on that.

[2020-01-27 00:25] dungahk commented on #3571
Thanks @balopat I've been trying to do the same thing the OP is trying.

I tried your suggestions (just a side note, it's --kubeconfig instead of --kube-config) and it still does not work, this is what I got:

[code]

[2020-01-27 00:25] balopat commented on #3565
Hi @petarManolov, thanks for the issue, can you share your Dockerfile contents as well? Thanks!

[2020-01-27 00:35] dungahk commented on #3571
So it turns out the issue here is that I was using the microk8s kubectl as an alias. I had to run the following:

[code]

Then everything worked just fine.

[2020-01-27 00:39] balopat commented on #3563
Hi @jasperkuperus, thanks for the issue!
Actually the userDefined resources do come first, but there is definitely a racey scenario here as by default all 3 services compete for 6379.

One way to workaround this might be to specify manually the conflict resolution:

[code]

Would this work?

[2020-01-27 00:41] sfhardman commented on #3571
@dungahk Would you mind posting the command line that's working for you?  I'm using:

[code]

Which is failing, mostly with:
[code]
But every three or four runs with:
[code]

[2020-01-27 00:41] balopat commented on #3571
Thanks for the feedback @dungahk! @sfhardman does this solve your problem too?
If it does, we could document this in our getting started guides for local development.

[2020-01-27 00:45] balopat commented on #3571
@sfhardman -
Did you run `microk8s.kubectl config view --raw > $HOME/.kube/microk8s.cfg`?
Regarding the `server gave HTTP response to HTTPS client` error - if you're using `--insecure-registry` can you try to run it without the `dockerCLI:true` setting?

[2020-01-27 00:49] dungahk commented on #3571
@sfhardman  This is my skaffold file (the only change is the localhost:32000 added)

[code]

This is my k8s-pod.yaml file, again, the only change is the localhost:32000 added:
[code]

The command I run now is `skaffold dev` simple as that.

I suppose that I don't even need to add the localhost:32000 to the files and instead use the CLI parameter --default-repo, but I haven't had the chance to chec

[2020-01-27 01:03] #1872 closed

[2020-01-27 01:33] sfhardman commented on #3571
Thanks - I now have things working.  Things seem to be a bit sensitive as to how the local registry is referred to (i.e. looks like it wants to be called localhost, not referenced by ip address, and localhost can't resolve to an ipv6 address).

The getting started example works without changes to the yaml with these extra steps:
1. Check /etc/hosts does not resolve localhost to an ipv6 address (::

[2020-01-27 01:33] #3571 closed

[2020-01-27 12:17] saschahofmann opened #3590 "Skaffold with kaniko: docs are not in sync"
The kaniko docs linked on the main readme are stating `Rename the key to kaniko-secret.json`. However, [your example](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/kaniko) explicitly states  `rename the file to kaniko-secret (do not append .json to the filename)`. I struggled with that for a while because following the kaniko docs does not actually work with skaffold.

Happ

[2020-01-27 12:45] dgageot commented on #3590
@saschahofmann That would be awesome if you could fix the doc!

[2020-01-27 12:47] dgageot commented on #3568
@jonjohnsonjr @balopat is any of you working on that? I can try but I don't want to step on you feet.

[2020-01-27 14:02] dgageot commented on #3588
We should pass the docker api (we discovered from the k8s context) to the pack library.
That will be easier when https://github.com/buildpacks/pack/pull/471 is merged

[2020-01-27 14:52] #3590 closed

[2020-01-27 17:12] balopat commented on #3537
Happened again,

[code]

[2020-01-27 17:13] crimeminister commented on #2171
@gmhflg At my office the decision was taken to transition to Cloud Build for the things I am working on. Would still like to see this happen, but I think `nektos/act` will need to be fully up-to-date w.r.t. the changes to GHA before it makes sense, perhaps?

[2020-01-27 17:16] dgageot commented on #3537
I've seen this test fail very often those days.

[2020-01-27 17:22] jasperkuperus commented on #3563
@balopat Thanks for the response! But alas, this does not work for me. I did exactly this, ran `skaffold dev --port-forward` a few times and after a few tries ran into this:

[code]