[2018-01-31 18:27] r2d4 opened #6 "[Builder] Support Google Cloud Build"

[2018-01-31 18:28] r2d4 opened #7 "[Builder] Local builder push to remote repository"
And authentication to private repositories

[2018-01-31 18:29] r2d4 opened #8 "[Deploy] Add Deploy API"

[2018-01-31 18:30] r2d4 opened #9 "[Deploy] Add Helm Deployer"

[2018-01-31 18:40] r2d4 opened #10 "[Deploy] Add Ksonnet Deployer"

[2018-01-31 18:41] r2d4 opened #11 "[Watch] Add Watch API"

[2018-01-31 18:51] r2d4 opened #12 "Add `skaffold run` command"

[2018-01-31 18:52] r2d4 opened #13 "Add `skaffold dev` command"

[2018-01-31 18:57] r2d4 opened #14 "[Dockerfile] Resolve envvar when ENV inherited from parent image"
We don't currently support the scenario when an ENV is inherited from the parent image and then used in the source of a COPY or ADD.  As a short term solution, we can add the entire context, but we might want to figure out a way to resolve those ENVs without adding everything.

[2018-01-31 21:03] #12 closed, assigned to r2d4

[2018-02-02 17:36] r2d4 opened #16 "[UX] Add command completion"
This is already provided by the CLI library we're using.

[2018-02-02 18:22] r2d4 opened #19 "[Meta] How do we want to use GitHub Projects?"
A few possible ideas:

1. Have a new "project" for every release
* Might make more sense once we've gotten some users
2. Have a new "project" for alpha, beta, GA
* At the early stages (pre-release), tracking alpha and beta features might be more valuable than releases
3. Don't use it at all
* GitHub projects just recently added support for automatically moving "cards" from different stages based o

[2018-02-02 18:29] r2d4 opened #20 "Add configurable ignore-list for watched dependencies"
Even though we can calculate all the dependencies, users might not want to (or be able to) watch all dependencies for a large project.  We should figure out how we want to expose a ignore functionality to the user

https://github.com/GoogleCloudPlatform/skaffold/pull/15#discussion_r165719716

[2018-02-02 21:29] r2d4 opened #23 "[Deploy] Add Kubectl Deployer"

[2018-02-02 21:30] r2d4 opened #24 "Add e2e tests"

[2018-02-02 21:33] r2d4 opened #25 "[Build] Automatically detect and set minikube docker opts from kube context"
Port this code and add tests

https://github.com/r2d4/skaffold/blob/master/pkg/skaffold/builder/minikube.go

[2018-02-02 21:34] r2d4 opened #26 "[Deploy] Stream logs from deployed containers"
Port this code and add tests https://github.com/r2d4/skaffold/blob/master/pkg/skaffold/kubernetes/logs/logs.go

[2018-02-02 22:13] r2d4 opened #27 "Tag Spec Validation"
We need to make sure that some parameters are valid docker tags before it gets to the downstream tools and fails. We should vendor in the validation from docker/moby

[2018-02-05 18:46] r2d4 opened #32 "[Deploy] Add context target to Deploy Config"
Add ability to deploy to a specific cluster context or maybe multiple contexts.

[2018-02-05 18:47] r2d4 opened #33 "[Build] Expose Docker CLI configurations in Config"
DOCKER_HOST
DOCKER_CERT_PATH
etc.

We read these from the environment variables now (or generate them from minikube), but it might be useful to expose these options as overrides in the config.

[2018-02-06 18:20] r2d4 opened #35 "Subcommands for build and deploy implementations"
Exposing the build and deploy steps as single runnable commands
[code]

We could autogenerate most, if not all, of the command by iterating over `BuildType` and `DeployType` and then generating flags based on the parameters on the subtypes like `LocalBuild`.  Each command would output a go-template `BuildResult` or `DeployResult`.

[2018-02-06 18:43] r2d4 opened #36 "Conditionally rebuild artifacts from watch"
Currently, all artifacts are rebuilt after one source file changes, and changes during the build and deploy pipeline are ignored.

[2018-02-06 19:14] #23 closed, assigned to r2d4

[2018-02-06 20:58] r2d4 opened #37 "Getting started documentation"

[2018-02-06 20:58] #8 closed, assigned to r2d4

[2018-02-07 17:33] #11 closed, assigned to r2d4

[2018-02-07 17:33] #13 closed, assigned to r2d4

[2018-02-07 21:26] r2d4 opened #40 "Build and deploy prechecks"
Add prechecks to both builders and deployers to ensure basic conditions before the pipeline is ran.  This could be implemented as an interface that both Builder and Deployer embed.

Some ideas for prechecks:
* LocalBuilder: Ensure connection to docker daemon
* KubectlDeploy: Ensure connection to cluster, kubectl installed
* HelmDeploy: Ensure connection to cluster, helm installed, (tiller installe

[2018-02-07 21:31] r2d4 opened #41 "Improve build and deploy output from docker daemon/registry"
We are not processing the messages from the docker daemon or registry properly, so output isn't as pretty as it should be.  We should compress status updates for the same layers, add progress bars, etc.

Example:
[code]

[2018-02-08 04:26] #7 closed, assigned to r2d4

[2018-02-08 18:41] r2d4 opened #46 "Dockerfile, Context resolution should have its own function"
https://github.com/GoogleCloudPlatform/skaffold/blob/910aa891c5f2dc28cdc95602067f0a1ca45f5806/pkg/skaffold/build/local.go#L60-L62

https://github.com/GoogleCloudPlatform/skaffold/blob/87beed031679b0e350ef6e3c07c3fa57001f43cb/pkg/skaffold/watch/watch.go#L107-L109

We should mimic the resolution that the docker cli does here.  We support a very basic version here, but it should be its own function t

[2018-02-08 18:51] r2d4 opened #47 "Set Config Defaults"

[2018-02-08 19:41] dlorenc opened #50 "Support .dockerignore files in dependency calculation."

[2018-02-09 18:16] r2d4 opened #55 "Push to registry should be the default for local builder"
Currently you have to have
[code]

This is part of #47

[2018-02-09 18:19] r2d4 opened #56 "Kubectl Deploy: Allow directories/globs"
Instead of having to list every manifest

[2018-02-09 18:21] r2d4 opened #57 "Add watchers for Dockerfile and deploy dependencies"
These are currently not watched.  The dockerfile is easy to watch, however we need a way for deploy implementations to expose their dependencies.

[2018-02-09 18:22] r2d4 opened #58 "Flag to start `skaffold dev` with a build or default behavior"
I don't think theres much harm into trying an initial build, since we should just warn if its fails anyways.

[2018-02-09 18:23] r2d4 opened #59 "`skaffold dev` should return warning on build or deploy failure"

[2018-02-09 18:27] r2d4 opened #60 "Inspect parent images for ONBUILD instructions"
We'll have to download and inspect parent dockerfiles for deferred instructions.

[2018-02-09 18:36] r2d4 opened #61 "Perform cleanup during development or on exit"
This is an umbrella issue for some ideas on how we might clean up the development artifacts we create in a `skaffold dev` pipeline.

- [ ] Auto prune images/tags to save disk splace

[2018-02-09 18:55] #58 closed, assigned to nobody

[2018-02-10 00:07] r2d4 opened #69 "Windows Support?"

[2018-02-10 00:12] #56 closed, assigned to r2d4

[2018-02-10 00:14] #59 closed, assigned to nobody

[2018-02-10 20:18] r2d4 opened #70 "Brew package"
`brew install skaffold`

[2018-02-10 20:18] r2d4 opened #71 "Arch Linux AUR package"

[2018-02-12 20:50] r2d4 opened #74 "Deploy files under glob"
https://github.com/GoogleCloudPlatform/skaffold/blob/master/pkg/skaffold/deploy/kubectl.go#L67

It should definitely be expanded to cover .yaml, .yml, and .json.

Additionally, if the file is a specific reference to a file and not a glob, we should try to deploy that regardless.

[2018-02-12 21:26] r2d4 opened #75 "envsubst on certain skaffold fields"
Do we want to expand bash substitutions in some skaffold fields?  It is a bit of feature creep, but might be useful for complete portability of `skaffold.yaml`

We could ship examples for other repos by including a `workspace: $GOPATH/src/path/to/project`, so that we don't need to keep all of the example code here, only the example configuration.

It also makes paths less fragile, since its not so

[2018-02-13 07:02] r2d4 opened #78 "Add unit test coverage for util.RunCommand"
We should add info and debug level logging to this function also.  As we add more build and deploy implementations, we'll be using this a lot so it should have good test coverage.

To test exec.Command, we can shell out to the test binary like the std library does https://github.com/golang/go/blob/master/src/os/exec/exec_test.go#L33

We can also use the fake readclosers in our testutil package.

[2018-02-13 18:04] r2d4 opened #79 "Release automation"

[2018-02-13 18:46] r2d4 opened #80 "Add more verbose buildtime info to build"
We should have something like this

[code]
https://github.com/kubernetes/kubernetes/blob/master/pkg/version/version.go#L31-L40

Formattable with the TemplateFlag in `skaffold version`

[2018-02-13 18:47] #50 closed, assigned to nobody

[2018-02-13 21:54] r2d4 opened #82 "Integration tests for all examples"
All examples should be covered by integration tests.  We should always keep examples up to date with new changes, and convey to the users clearly when there are breaking change.  We can do this with release notes or config comments.

[2018-02-13 22:38] r2d4 opened #84 "Add GCB Trigger docs to getting started"

[2018-02-14 02:00] #74 closed, assigned to nobody

[2018-02-14 21:20] r2d4 opened #91 "Release alpha binary"
I'd like to manually release an alpha binary pending

- [x] #90
- [x] #81
- [x] #85
- [x] #29
- [x] #30

ref #79

[2018-02-14 23:14] #37 closed, assigned to nobody

[2018-02-15 23:24] #25 closed, assigned to nobody

[2018-02-15 23:25] #79 closed, assigned to nobody

[2018-02-19 18:38] viglesiasce opened #94 "Handle optional port-forwarding"
I started to go down the route of figuring out how to work with Skaffold and use a remote debugger (delve in my case).

The only thing I really needed from Skaffold was for it to be able to reconfigure a port-forwarding setup to one of the new pods that was created.

I think it could look something like:

[code]

Skaffold could pick the most recently deployed pod that matches the selectors, althou

[2018-02-22 00:02] viglesiasce opened #97 "Updates of workloads due to ConfigMap changes"
When a ConfigMap manifest is updated, users may want that to automatically update the workload that it references. Unfortunately the deployment will only update if the configmap name or any other field changes in the spec.

[2018-02-22 16:41] dlorenc opened #98 "Track Deployed Artifacts"
Opening an issue to get some discussion started on how skaffold can keep track of what it's deploying through the various deployers we support (helm, kubectl apply, ksonnet, etc.).

Tracking these artifacts can help with things like #94 and deletion cases.

For kubectl, we know the manifest paths so we could parse those YAMLs and apply labels, or build a label selector?

For helm, we know the rele

[2018-02-22 17:53] viglesiasce opened #99 "Command that helps maintainers debug user issues"
In other projects I've worked on, there has been a command (something like `skaffold debug`) that puts together either a bundle of artifacts or prints out information that can be useful for maintainers to either reproduce or further debug issues that are reported. We could add a note to the issue template that asks users to run this command and add the info to their report.

[2018-02-23 00:00] #60 closed, assigned to dlorenc

[2018-02-26 21:39] viglesiasce opened #104 "Allow deploy steps to use a configurable context for K8s clusters"
When deploying, you may want to define a specific cluster to use rather than the one that is configured on the local host.

[2018-02-26 21:43] ahmetb opened #105 "Print used kubectl context"
While using Skaffold, I wasn't sure if I'm on GKE or minikube, so perhaps use the `kubectl config current-context` value, and say:

    [INFO] Using kubectl context: "minikube" to run

[2018-02-26 21:45] ahmetb opened #106 "Print docker commands executed"
Just got an error like

[code]

Turns out it was trying to do "docker push".

But this is not clear from the last line at all. A more user friendly error would be better.

Also consider printing statements like:

    [INFO] Running: docker push changeme

(or equivalent message if you're making an API call).

[2018-02-26 23:26] ahmetb opened #107 "Separate example config YAML from the reference template"
Right now the example's skaffold.yaml https://github.com/GoogleCloudPlatform/skaffold/blob/f321400fb678007d85a1df88f6dc8a0a9ed63f60/examples/getting-started/skaffold.yaml is the file that has the most documentation.

Consider creating a `skaffold.yaml.template` with that documentation, and reducing the example yaml to only the stuff that's uncommented.

This way:
- you can have 1 source of truth f

[2018-02-27 06:10] #105 closed, assigned to nobody

[2018-02-27 06:10] #106 closed, assigned to nobody

[2018-02-27 06:42] #32 closed, assigned to nobody

[2018-02-27 06:43] #9 closed, assigned to nobody

[2018-02-27 19:46] viglesiasce opened #112 "Using minikube --vm-driver=none causes error when getting docker-env"
I was unable to do a Skaffold run when using Minikube on Linux with no VM driver:

[code]

[2018-02-27 23:01] #112 closed, assigned to nobody

[2018-02-28 04:38] viglesiasce opened #116 "[deploy/helm] Add option to do a `helm dep build` before release"
Charts can have dependencies as defined in a `requirements.yaml` file. Before doing a deployment with helm you will want to ensure your dependencies are up to date.

[2018-02-28 04:40] #80 closed, assigned to nobody

[2018-02-28 18:57] #47 closed, assigned to nobody

[2018-02-28 20:38] #116 closed, assigned to nobody

[2018-02-28 21:09] #6 closed, assigned to r2d4

[2018-03-01 01:42] dlorenc opened #118 "Make the "kubectl" deployer work without a kubernetes manifest."
We can do something like kubectl run, and examine the built image for exposed ports.

[2018-03-01 02:34] #55 closed, assigned to nobody

[2018-03-01 05:44] #75 closed, assigned to nobody

[2018-03-01 05:44] #33 closed, assigned to nobody

[2018-03-01 18:48] r2d4 opened #125 "Use minikube enhancements with Kubernetes for Docker for Mac"

[2018-03-02 19:06] #26 closed, assigned to nobody

[2018-03-05 21:41] r2d4 opened #131 "skaffold run and dev accept remote skaffold.yaml"

[2018-03-05 21:42] r2d4 opened #132 "skaffold.yaml "artifact" field accepts remote workspace tarball"

[2018-03-06 00:31] r2d4 opened #134 "Add ROADMAP.md"

[2018-03-06 21:13] #91 closed

[2018-03-06 23:54] jessfraz opened #138 "use img or orca-build for the builds"
get rid of the docker daemon

https://github.com/cyphar/orca-build

https://github.com/jessfraz/img

[2018-03-07 00:07] r2d4 commented on #138
This is something we're definitely interested in and would be a great fit for this tool.

Docker daemon-less and specifically unprivileged image builds are on our (soon-to-be-published) roadmap.

[2018-03-07 05:39] dlorenc opened #139 "Sample for using skaffold in a CD system."
We should show how to setup a trigger in GCB or a Jenkins job to do a basic "skaffold run"

[2018-03-07 15:58] dgageot commented on #131
@r2d4 Can you provide more details on what you'd want to see?

[2018-03-07 16:19] #125 closed

[2018-03-07 17:28] jbeda opened #144 "Make mailing list archives public"
I shouldn't have to join your mailing list to see the archives.

<img width="478" alt="screen shot 2018-03-07 at 9 26 17 am" src="https://user-images.githubusercontent.com/37310/37107683-dc9b7522-21e9-11e8-8801-994716421bf0.png">

[2018-03-07 17:36] pradeepto commented on #144
+1 on what @jbeda said. Would be nice to have a more open list.

[2018-03-07 18:10] smarterclayton commented on #41
We have a reasonably low dependency formatter for pull here that I would like to see split out and cleaned up https://github.com/openshift/imagebuilder/tree/master/imageprogress

[2018-03-07 18:19] r2d4 commented on #144
Absolutely, oversight on our part.  Should be open now! (there aren't any threads yet)

[2018-03-07 18:19] #144 closed

[2018-03-07 19:23] dlorenc commented on #118
Fixed with #141

[2018-03-07 19:23] #118 closed

[2018-03-07 19:26] r2d4 commented on #131
The behavior from `kubectl -f`

It supports

Remote manifest
`kubectl -f https://example.com/resource.yaml`

skaffold.yaml piped to stdin
`kubectl -f -`

and the normal
`kubectl -f resource.yaml`

[2018-03-07 20:13] dgageot commented on #131
dibs

[2018-03-07 21:02] r2d4 commented on #131
Its yours!  I started investigating if we could reuse some of the code from kubectl, but the code isn't actually that great so its probably a lot easier to just write it up yourself

https://github.com/kubernetes/kubernetes/blob/bb500a73b618b40e8e5ef0955861183ebd325259/pkg/kubectl/resource/builder.go#L139-L172

[2018-03-07 21:30] r2d4 opened #145 "Logs of init containers"
We should make sure that we also stream logs from init containers.

This possibly already works, but I suspect there is some extra work to be done.

[2018-03-07 21:37] r2d4 opened #146 "Update README graphic to include Docker for Desktop"
In addition to minikube, since we now support skipping push for both.

cc @viglesiasce

[2018-03-08 00:34] dlorenc opened #148 "Add an update check"

[2018-03-08 01:33] broady opened #149 "examples: docker build fails"
[code]

running from HEAD (a40cc72d9891e6b6cf617837b2ab8efcc08673fd) for both cmd/skaffold and the examples.

[code]

[2018-03-08 01:50] viglesiasce commented on #149
Hey @broady!

Can you try running that from the root of the repo?

I think there is another issue open to make all the examples work from the local dir of the example.

[2018-03-08 01:51] viglesiasce commented on #149
Should be:
`skaffold run -f examples/getting-started/skaffold.yaml`

[2018-03-08 04:09] jason-riddle opened #150 "How does this compare with Azure's draft?"
It would be nice to compare and list the differences with [draft](https://github.com/Azure/draft).

[2018-03-08 09:31] jstrachan opened #152 "allow a tag to be provided on the command line of `skaffold run`"
When folks want to make public releases of images/charts/yaml they may want more control over the image tags that are used for the docker images.

So it might be nice to allow folks to pass that in on the CLI if they want. e.g.

[code]
From a quick noodle of the code it looks a fairly easy patch, adding an optional tag to the CLI `SkaffoldOptions`. Lemme submit a PR...

[2018-03-08 16:28] dgageot commented on #149
Should the `workspace` and `paths` be relative to the parent folder of `skaffold.yaml`?

[2018-03-08 16:43] dgageot commented on #36
Instead of triggering a build on the first change event, we could wait for say 500ms and trigger a build only if no event has been received since.

Then we need to decide if a build should be interrupted in a change event occurs after it's started.

[2018-03-08 17:13] viglesiasce commented on #149
yeah i think we should make that change happen, including the update to the getting started doc.

[2018-03-08 18:23] r2d4 commented on #149
Agreed, not sure why I made it relative to the binary - probably an oversight

[2018-03-08 18:40] #146 closed

[2018-03-08 18:49] r2d4 commented on #149
Interesting question though, whats the path of `skaffold.yaml` once we merge #131?

[2018-03-08 18:51] #131 closed

[2018-03-08 18:56] r2d4 commented on #152
Commented on the PR, but this is definitely a feature we want to have.

[2018-03-08 19:25] Joeskyyy opened #157 "Allow git commit short option"
Would be nice to not have the image tag be something so long (optionally) especially for those of us with long docker registry URLs.

I was able to get a small mock up of this working by changing https://github.com/GoogleCloudPlatform/skaffold/blob/master/pkg/skaffold/build/tag/git_commit.go#L55 to use `git rev-parse --short HEAD` instead. I'm not comfortable enough in Go at this time to know the

[2018-03-08 21:20] AMecea opened #158 "Dockerfile ADD directive is not correctly handled"
Hello, I think I found a bug in skaffold dockerfiles watcher.  In my Dockerfile I have ADD directive that tries to copy from a remote url a file:
[code]
In the [ADD](https://docs.docker.com/engine/reference/builder/#add) doc is specified that: `The ADD instruction copies new files, directories or remote file URLs from <src> and adds them to the filesystem of the image at the path <dest>.`

This is

[2018-03-08 21:24] r2d4 commented on #158
Thanks for the issue, we don't handle this yet! I'll fix it

[2018-03-08 21:51] r2d4 commented on #157
Thanks for opening up the issue, the options you laid out are all great!

I actually think its fine to just change the command itself to add the --short flag.  In the future, if we need tagger to be more functional, we can make it a full type and pass more options.

Let me know if you feel comfortable sending that PR, if not, I'm sure someone can pick it up.

[2018-03-08 22:29] ahmetb opened #160 "error adding .git to tar"
I'm getting error from `skaffold dev`:

[code]

my config is like

[code]

and my source code is at https://github.com/ahmetb/coffeelog

I suspect this has something to do with concurrency or something weird about `.git` directory.

[2018-03-08 23:18] ahmetb opened #161 "reload skaffold.yaml"
I think as users change skaffold.yaml, running `skaffold dev` process should be able to detect it and reload the config instead of using the old config content when the process first started.

I hit this while playing with `tagPolicy: gitCommit` vs `: sha256`.

[2018-03-08 23:18] ahmetb commented on #160
This turned out to be that my `docker` (or `minikube`) wasn't running.

[2018-03-08 23:37] ahmetb opened #163 "Warnings are not shown without -v"
Default verbosity level does not include warnings.

for example:

[code]

explicitly adding  the -v flag:
[code]

I now see a warning.

Consider making default loglevel WARNING or maybe INFO.

[2018-03-08 23:54] #157 closed

[2018-03-08 23:55] r2d4 commented on #160
I'm going to close this as something to be implemented in #40

[2018-03-08 23:55] #160 closed

[2018-03-08 23:56] r2d4 commented on #163
Let's go with WARN for now and figure out a longer term plan on how we're going to manage output later.

[2018-03-09 01:35] ahmetb opened #165 "Use the same kubectl context in a skaffold session"
I just switched my kubectl context (through side-effect command `kubectl config set-context`) while I was in the middle of a `skaffold dev` session. So I switched from `minikube` to my PROD cluster.

Next thing I know I modified a file in my repo and `skaffold dev` deployed destroyed my PROD.

I think we need to:
1. discover current kubectl context (`kubectl config current-context`) once
2. use th

[2018-03-09 01:39] ahmetb opened #166 "Stop streaming logs while build/deploy"
I realized logs are still streamed from the containers while `skaffold dev` is doing image rebuilds and deploys.

This is reducing the build/deploy output legibility since the frequent log lines (such as errors) coming from the applications themselves are interleaving with the `docker build` output etc.

We probably should consider suppressing the logs from applications during build/deploy.

[2018-03-09 02:10] viglesiasce commented on #150
Howdy @jason-riddle!!

Skaffold allows you to choose the tools that map best to your workflow for building images, pushing them, and deploying things to Kubernetes. Skaffold can also be used in CI/CD flows to align with your dev process.

[2018-03-09 03:36] ahmetb opened #167 "Better handling for multiple microservices (ability to handle multiple skaffold.yaml files)"
I currently have a microservices app that has 3 parts. So I have to run these concurrently in separate shell tabs:

[code]

I have to do this every time I launch my workspace.

Now, if there was a good unix tool (like GNU parallel) that can start, stream output of, and manage lifecycle of multiple processes at once, that'd be awesome, but it doesn't exist. So we must consider adding `skaffold` abi

[2018-03-09 03:52] #163 closed

[2018-03-09 05:20] mumoshu opened #169 "Suggestion: Helmfile integration"
Hi, thanks for sharing the great project!

Would you mind if I contribute a [Helmfile](https://github.com/roboll/helmfile) integration as a [deployment plugin](https://github.com/GoogleCloudPlatform/skaffold#pluggability) to skaffold?

Helmfile is basically a declarative spec for deploying a set of helm charts from different chart repositories across namespace(s).

I believe it will nicely complem

[2018-03-09 05:30] mumoshu opened #170 "Feature: General deployment plugin"
An alternative approach to #169 would be a more versatile "command" deployment plugin which allows us to glue skaffold with any tool by writing a bash snippet.

We have a bunch of k8s deployment tools these days and each of those have their own sweet spots.
Certainly we won't like to bloat up skaffold's code-base by adding a direct integration for each tool...

[2018-03-09 16:32] srivathsah commented on #69
Is there an installation for windows available to test this ?

[2018-03-09 17:20] gsemet opened #174 "How does Skaffold compares with Helm?"
For example in gitlab we can automatize deployment from CI using helm, and it appears helm chart are becoming the defacto standard for reusing existing opensource component. Internally the question to use helm in our own internal application is still open, and I wonder if skaffold can make life simpler than helm (especially no need to have a Tiller installed on the cluster). How safe is it? Can it

[2018-03-09 17:49] viglesiasce commented on #174
Hey @gsemet!

Skaffold is a tool that wraps the workflow for building/pushing images and deploying to Kubernetes. One mode of operation, `skaffold dev`, is tailored for local iterative development. The other mode `skaffold run` is for one shot runs of the workflow which would be useful for running as a step in a CI process.

You can use Skaffold with Helm as the deployment mechanism. If you didn't

[2018-03-09 18:53] #152 closed

[2018-03-09 19:09] r2d4 commented on #170
**tl;dr** We're going to have some deep integrations with a few tools for now, see how it goes, and as the APIs become more stable we can look at adding the bash or external binary escape hatch.

This is definitely something I've thought about and I want to hold off until we have more of an idea of how the builders and deployers are actually going to look. Some of our deploy integration is pretty

[2018-03-09 19:11] #165 closed

[2018-03-09 19:16] #149 closed

[2018-03-09 20:18] viglesiasce opened #176 "Wait for deployed resources to reach their intended state"
In the case of `skaffold run` there are times where you will want to ensure that the resources that were deployed have reached their intended state. For example, after applying a change to a deployment you will want to check the rollout status and ensure that it completed successfully. This would most likely be the mode you would want when running in a CD pipeline.

[2018-03-09 21:40] #158 closed

[2018-03-09 22:37] r2d4 opened #178 "Changelog Generator"
Does anyone know of any good changelog generation tools? We should automate ours for ease of release as well as consistent formatting. It shouldn't be that hard to roll our own, but I'd rather use something that already exists.

Any suggestions?

[2018-03-09 23:29] #107 closed

[2018-03-10 06:40] jstrachan opened #179 "changelog uses the wrong URL for downloads"
might be a copy/paste gremlin maybe ;) I tried copy/pasting the instructions from the shiny new [0.2.0 release](https://github.com/GoogleCloudPlatform/skaffold/releases/tag/v0.2.0) into a `Dockerfile` and got a build failure.

I think it needs to change from
[code]
to:

[code]

[2018-03-10 10:18] Trane9991 opened #180 "Official DockerHub/GCR image"
Would be nice to have official DockerHub/GCR repo, where ready to use Image can be pulled to use with docker based CI systems (GitLab CI, Bitbucket Pipelines, etc.)

[2018-03-10 10:41] dgageot commented on #179
@jstrachan It looks like it's fixed now.

[2018-03-10 10:58] Trane9991 opened #181 "No-Manifest example doesn't work"
Trying to run an example from [no-manifest](https://github.com/GoogleCloudPlatform/skaffold/tree/master/examples/no-manifest) folder fails with:
`ERRO[0000] run: getting skaffold config: getting k8s client: Error creating kubeConfig: invalid configuration: no configuration has been provided`

[2018-03-10 11:40] nouney commented on #178
WDYT of https://github.com/goreleaser/goreleaser?

[2018-03-10 14:29] jstrachan commented on #178
Incidentally we just went through a similar exercise recently; we tried a few tools and were not totally happy with the generated changelogs. In particular we wanted to allow folks to use https://conventionalcommits.org/ to get nicer formatted changelogs; but still permit any commit message format too and to try gently nudge folks into nicer commit messages/changelogs.

So we ended up creating a l

[2018-03-10 15:25] jstrachan opened #183 "support releasing a chart to a chart repository / chart museum"
It would be nice to support releasing versioned helm charts. e.g. if someone did:

[code]
then with the right `skaffold.yaml` it could modify the local `values.yaml` of the chart with the image tag `1.2.3`, lint & build the helm tarball and post it to some chart museum repository - so that anyone could then use `1.2.3` of the chart - or if they'd installed the chart they could run `helm update` et

[2018-03-10 15:36] jstrachan opened #184 "support environment variable expressions for docker registries?"
I'd like to be able to use an environment variable to describe the docker registry to use. e.g. in a `skaffold.yaml` something like:

[code]
So processing all references to environment variables in the image name before passing it to the underlying docker commands etc.

[2018-03-10 17:28] r2d4 commented on #180
This is something we're actively working on, but we haven't published anything yet

https://github.com/GoogleCloudPlatform/cloud-builders-community/pull/42

https://github.com/GoogleCloudPlatform/skaffold/blob/master/deploy/skaffold/Dockerfile

[2018-03-10 17:36] r2d4 commented on #181
Hm, thats an error getting your kubeconfig.  You'll still need kubectl installed and configured with your cluster context. Does a `kubectl version` work?

[2018-03-10 18:53] Trane9991 commented on #181
Yep, with configured `kubectl` everything fine.
I just expected that `no-manifest` will not require kubeconfig, since no deployment is configured.

[2018-03-10 19:06] Trane9991 opened #186 "Use go-git?"
Git usage seems to be pretty minimal, depending on the binary appears like overhead. Maybe in the future, it can be replaced with pure golang git implementation [go-git](https://github.com/src-d/go-git)?

[2018-03-10 19:15] Trane9991 opened #187 "Use env variables provided by CI systems"
All CI system provides git info in the env variables. I guess it makes sense to define the list of most common ones and use them to build image tag.

For example:
- [CodeShip](https://documentation.codeship.com/pro/builds-and-configuration/environment-variables/#default-environment-variables): `CI_BRANCH` and `CI_COMMIT_ID`
- [GitLab](https://docs.gitlab.com/ee/ci/variables/#predefined-variables-e

[2018-03-10 20:49] dlorenc commented on #187
Nice idea! We've talked a bit about an "environment variable" tagger that would let you specify a template that we'd run the environment variables through to generate a tag.

Would that meet the use case here?

[2018-03-10 20:53] dlorenc commented on #181
Ah, yeah the no manifest example still depends on kubectl for the final "apply" step. Unfortunately that code isn't easily usable outside of kubectl right now.

I think long term we should try to use the client libraries directly, but that's blocked on some upstream work to make kubectl apply usable from the libraries.

In the short term we'll improve this error message with #40. Closing as a dupe

[2018-03-10 20:53] #181 closed

[2018-03-10 20:57] r2d4 commented on #186
That's a great suggestion. I think we'd want to do this

[2018-03-10 21:00] r2d4 commented on #70
This should now be available with
`brew update`
and
`brew install skaffold`

We have some further work to factor this into our release automation

[2018-03-10 21:00] #70 closed

[2018-03-10 21:01] r2d4 opened #188 "Automate brew package update"

[2018-03-10 21:13] Trane9991 commented on #187
Yep, I think that would do!

[2018-03-11 15:37] yakovzaytsev commented on #78
All util.RunCommand does is call out to [Commander.RunCommand](https://github.com/GoogleCloudPlatform/skaffold/blob/master/pkg/skaffold/util/cmd.go#L54) Should I add tests to that one?

[2018-03-11 20:33] r2d4 commented on #179
I verified that those downloads work now. Please reopen if you still can't access them.  We upload both to our release bucket at `https://storage.googleapis.com/skaffold/releases/` and the github releases page.

There are bound to be many copy/paste gremlins before I finish setting up all the automation so thatnks for catching this :)

[2018-03-11 20:33] #179 closed

[2018-03-12 12:38] AMecea opened #193 "Handle deploy for multiple images(artifacts) in helm values"
Hello, I am working on a project that has multiple docker images and I pass those images to helm through chart values. For the first time the `dev` command works well, but when I modify some files that trigger the build for only one artifact the deploy fails with the following warning:
[code]
But I was expecting to deploy the new values with the new image. I think that the function [JoinTagsToBuil

[2018-03-12 17:37] r2d4 commented on #193
I'm going to call this something of a bug since its a regression since we've added conditional builds.  Basically, on the first run, everything is built but on the next run, only the changed artifacts are build. The deploy actually needs to know about the latest of _all_ built artifacts so that we can template the case of many builds to one deployment.

[2018-03-12 17:55] r2d4 commented on #78
Yep, thats the one I was referring to. That would be amazing!

[2018-03-12 20:16] TheOriginalAlex opened #195 "Only send the build context for changed files to the Docker daemon"
Currently, the full  build context is being sent to the minikube Docker daemon whenever a change is made.  It'd be cool if we could somehow make it more intelligent by only sending files for the stages that are not cached/will need to rerun with the changes made.

[2018-03-13 04:14] mumoshu commented on #195
FYI: Perhaps the recent improvement in docker for [sending build context incrementally](https://github.com/moby/moby/issues/31829) would help.

[2018-03-13 12:36] nicolls1 opened #196 "Using minikube context for local development"
I updated to 0.2.0 and now when I run skaffold dev it is finding the 'Docker for Desktop context' as well as the minikube context and printing:

[code]

How do I change this to default to the minikube context?

I tried doing `kubectl config set-context minikube` as it seems the context is being used here: https://github.com/GoogleCloudPlatform/skaffold/blob/master/pkg/skaffold/runner/runner.go#L53

[2018-03-13 13:17] dlorenc commented on #196
kubectl set-context is a bit confusing, it doesn't actually set the context. I think you need kubectl use-context.

[2018-03-13 13:23] nicolls1 commented on #196
Hi,
Thanks for your response. I tried:
[code]
and `Found minikube or Docker for Desktop context, using local docker daemon.` is still being printed.

[2018-03-13 19:13] dgageot commented on #195
Since docker v17.07, there's an experimental `--stream` flag that caches the context on the daemon side. We could try to leverage this flag.

[2018-03-14 16:46] dlorenc commented on #196
I think I might be misunderstanding something.

[code]

I think that's the correct output. What's the desired behavior?

[2018-03-14 16:48] dlorenc commented on #195
AFAICT the incremental upload API is still very experimental: https://docs.docker.com/engine/api/v1.36/#operation/Session
https://github.com/moby/moby/pull/32677

and requires the daemon be started with specific flags.

[2018-03-14 17:41] dgageot commented on #186
dibs!

[2018-03-14 17:43] dgageot opened #199 "git tagging ignores untracked files"
The code used to tag images based on git commits, falls back to using `git diff` when the workspace is dirty. See [code](https://github.com/GoogleCloudPlatform/skaffold/blob/master/pkg/skaffold/build/tag/git_commit.go#L46)
This code ignores untracked files. We might want to do better.

[2018-03-14 18:02] r2d4 opened #200 "Google Cloud Builder does not use tagger interface"
It doesn't tag any images and just refers to them by digest. It should use the tagger its given.

[2018-03-14 18:12] #166 closed

[2018-03-14 22:39] gtseres commented on #161
I have an issue with `skaffold dev` as well. I followed the steps documented in the [README file](https://github.com/GoogleCloudPlatform/skaffold/blob/master/README.md), using the `getting-started` example.

Environment:
OS: MacOS High Sierra 10.13.3
Skaffold version: v0.2.0
minikube version: v0.25.0 (driver: virtualbox)

Steps followed:
1. Edited the `skaffold.yaml` file and changed image name to

[2018-03-14 23:00] ahmetb commented on #161
@gtseres please open a new issue. your problem description doesn't seem to be what I reported, which is a Feature Request for detection of changes in "skaffold.yaml" file itself.

[2018-03-14 23:01] gtseres opened #202 "Skaffold not updating pod after change in source"
I have an issue with skaffold dev as well. I followed the steps documented in the README file, using the getting-started example.

Environment:
OS: MacOS High Sierra 10.13.3
Skaffold version: v0.2.0
minikube version: v0.25.0 (driver: virtualbox)

Steps followed:

Edited the `skaffold.yaml` file and changed image name to `skaffold-example`
Run `skaffold dev`. Image deployed successfully in minikube

[2018-03-14 23:02] gtseres commented on #161
Yeap, sorry for that. Didn't notice that you were talking about the `skaffold.yaml` file. Thanks.

[2018-03-14 23:31] geniass opened #203 "Files in .dockerignore are still copied into context"
The .dockerignore file ensures that watchers are not setup for certain files. However these files are still copied into the build context and potentially the final image, slowing things down.

### Minimal example
.dockerignore
[code]

Dockerfile
[code]

skaffold.yaml
[code]

[code]

[code]

[2018-03-15 15:11] r2d4 commented on #203
Thanks for filing this issue. This is a bug, we're not handling the .dockerignore file yet. This would be a great first issue for contributors, or one of the maintainers will implement it soon.

[2018-03-15 15:54] r2d4 opened #205 "Use `kubectl set image` instead of templating"
I think we'll have to take some care to not run this on non-{deployment, pod, replicationcontroller, etc.}

[2018-03-15 17:36] r2d4 commented on #202
Can you verify if resources are being deploy? I think that they are being deployed, but there is a bug in the log streaming during the dev cycle.

[2018-03-15 17:59] gtseres commented on #202
I doubt that it is on the logging side. I rerun the test as follows:
1. `skaffold dev` with the initial `main.go` (`Hello world!` message)
2. `minikube ssh` and then issued `docker ps | grep "getting-started" | grep app`. Container ID: `9a995cc47587`
3. Edited `main.go` and changed the message to `Hello George!`.
4. `minikube ssh` and then again `docker ps | grep "getting-started" | grep app`. Con

[2018-03-15 18:01] r2d4 commented on #202
What is the output from skaffold?

Can you post the output from
`skaffold dev -v debug`

[2018-03-15 18:06] gtseres commented on #202
[code]

In the meantime, I have changed the message.

[2018-03-15 21:12] r2d4 opened #206 "Release v0.3.0"

[2018-03-16 12:16] geniass commented on #203
Cool I've actually gotten this working locally, I'm just not 100% happy with the way I'm doing it. Will open a pull request soon.

[2018-03-17 04:21] viglesiasce opened #211 "Log the duration for each phase"
It would be nice to have the duration printed for each phase. One use case is when optimizing a Dockerfile you may want to know how much time you are saving with each change.

[2018-03-17 07:16] dgageot commented on #202
@gtseres can you try again with master version? The watch/build/deploy loop was rewritten. Might help

[2018-03-17 09:23] dgageot commented on #36
@r2d4 This should be fixed now, right?

[2018-03-17 16:51] dgageot opened #216 "Properties with common prefix are not replaced correctly"
Let's say we have two parameters: `IMAGE` and `IMAGE_OTHER` whose value resolve to `img:v1` and `other:v1`.

Those properties might end up being replaced with: `img:v1` and `img:v1_OTHER`

[2018-03-17 16:58] dgageot commented on #216
In fact, it's not only common prefixes but also common parts.

[2018-03-17 17:17] dgageot opened #218 "skaffold is slow to start"
Each time skaffold is started, it retrieves the config for every base image used by the artifacts.
Most of the time, those images are local. If there's a way to use the local data, we should do so.

[2018-03-17 17:30] dlorenc commented on #218
We should definitely do this when using a local builder. It's not only a performance thing, it's also about correctness. You could have a local image that has the same name but a different configuration from a remote one.

[2018-03-17 17:31] dlorenc commented on #218
Though if we're using a cloud builder we need to check the registry.

[2018-03-17 17:46] dgageot opened #219 "Could we remove duplication in skaffold.yaml?"
I'm a bit uncomfortable in duplicating image names in the skaffold.yaml.
eg:

[code]

Would it make sense to move the parameter names in the artifacts section?
Something like:

[code]

[2018-03-17 17:50] dgageot opened #220 "skaffold build?"
Would it make sense to have a `skaffold build` command?

[2018-03-17 18:43] dgageot opened #221 "What should be deployed if only one artifact is updated?"
When I run `skaffold dev` on a project with 4 artifacts, I expect than the deploy doesn't fail when only one artifact is rebuilt.

I currently fails which such an error:
[code]

[2018-03-17 22:41] #196 closed

[2018-03-17 22:46] r2d4 commented on #220
Yes I opened #35 awhile ago. I tried to autogenerate these from the build and deploy implementations, but that turned out to be a lot more trouble than it was worth. But yes, I'd like to see this exposed and return a BuildResult that can be templated with a go template, so folks could pipe it into their build system how they'd like.

[2018-03-17 22:48] r2d4 commented on #221
Yeah this is a bug.  I proposed keeping a map of artifact to latest build result, and then deploy gets the full list of latest build results everytime, even if some of those weren't rebuilt. That leans on the fact that the tools we implement should be declarative and no-op if nothing has changed.

[2018-03-18 02:18] sgammon opened #222 "Using Skaffold with Jib"
I love Skaffold, and I want to use it in my Kubernetes workflow. However, I also love [Jib, another Google project](https://github.com/google/jib).

Problem is, to use Jib, I delegate my image construction process to Maven. So I can't use the default Skaffold method of building images, which calls out to the local Docker runtime or GCB (both good options, neither work with Jib, to my knowledge).

[2018-03-18 02:51] r2d4 commented on #222
Skaffold has a build API, which is currently implemented for local docker or GCB. Our plan here is to add more implementations exactly for this reason: to work well with their existing workflows. Projects like jib are perfect for another implementation of skaffold's build API.

The only contract here is that the build API is responsible for both building and making the image available to the clust

[2018-03-18 11:57] dgageot commented on #219
@r2d4 @dlorenc @viglesiasce wdyt?

[2018-03-18 16:10] trstringer opened #225 "`skaffold dev` should default to `skaffold.ya?ml`"
It appears as though with the omission of a skaffold config file, it defaults to `skaffold.yaml`. As a user that likes and uses `*.yml` for file extensions, I feel as though skaffold should pick up `skaffold.yml` by default as well.

In a project full of `*.yml` files, it feels odd to be forced to use `skaffold.yaml` by default.

[2018-03-18 20:20] rdodev opened #226 "`skaffold dev` issues/suggestion"
Hey folks,

First want to say skaffold is looking great for a first release.

Second, `skaffold dev` is a bit too much of an overkill. What I mean by that is, a whole image build->deployment->actual application bootstrap (including bringing any external dependencies) every save doesn't seem to be optimal if the only change happened to the code (say a comment).

Ideally what should happen is:
* Sav

[2018-03-18 22:29] cforce opened #227 "Provide getting started for windows"

[2018-03-19 03:16] #211 closed

[2018-03-19 03:27] #36 closed

[2018-03-19 06:14] dgageot opened #228 "Color the logs"
It would be nice to color the logs to differentiate artifacts.

[2018-03-19 14:35] jstrachan commented on #184
btw my main use case for environment variables is to be able to reuse a docker registry which is deployed inside a kubernetes cluster & is only available inside the kubernetes cluster via environment variables (as you can't use kubernetes service discovery for docker registries).  Thats the default OOTB when using [Jenkins X](http://jenkins-x.io/) today.

It'd be useful in CI / CD pipelines to be

[2018-03-19 15:12] dgageot opened #229 "First few lines of log are ignored"
The logs that happen between deployment and the actual connection to the logs are lost. That's painful because the first few lines are usually important.

[2018-03-19 15:58] sgammon commented on #222
@r2d4, fantastic! Thank you. Yes, I believe Jib would be a great addition and I also believe it handles both building and pushing the image.

Let me know if I can be of help on this, including testing :)

[2018-03-19 16:25] dgageot opened #232 "We need a logo!!"

[2018-03-19 16:54] #229 closed

[2018-03-19 17:30] dgageot opened #234 "Add a Windows CI"
Can a CI be added on [AppVeyor](https://www.appveyor.com)?

[2018-03-19 18:53] gmorse81 opened #235 "Watch for helm chart changes"
Skaffold currently only watches for changes happening within a Dockerfile. Since Skaffold already supports helm deployments, it would be great if the helm chart location could be identified as an artifact so if the chart templates are changed, it would kick off a new build.

I am currently working around this by copying the chart itself to the docker image. obviously not a permanent solution since

[2018-03-19 19:47] r2d4 commented on #235
Yes, we need this for all deployers.

The way I envision this working is that the Deploy interface now has another function

[code]

The deployers would be responsible for using the deploy config to output a list of dependencies that should be watched by skaffold.

Of course, this relies on some work that I'll be doing to decouple watch from artifacts, since only artifacts can be watched right now

[2018-03-19 19:54] gmorse81 commented on #235
Awesome. Yes that would be great.

Great work on this project BTW. it's already doing great things for my local dev setup.

[2018-03-19 20:13] #228 closed

[2018-03-19 22:12] geniass opened #237 ".dockerignore doesn't work if context is in a parent directory"
E.g. if this is the directory structure:
[code]

Then running a build from `run.go` with workspace/context = `../docker` will result in `ignored.txt` being copied into the image.

This is because the code uses `fileutils.Matches` to identify files specified by .dockerignore. And a pattern of `ignored.txt` does not match `../docker/ignored.txt`.

The solution is to make sure all file paths are rela

[2018-03-20 02:55] dcherniv opened #239 "Private base images don't work with skaffold properly"
Skaffold cannot pull from private registry. Docker daemon can.
OS and docker daemon:
[code]
Skaffold:
[code]

Skaffold output:
[code]
Docker output:
[code]
After the image is downloaded to local, skaffold run succeeds. Output ommited for brevity.

What gives? my docker config is in ~/.docker/config.json

Auth is base64 encoded:
[code]
In private docker registry logs i see requests from skaffold co

[2018-03-20 03:53] r2d4 commented on #239
Thanks for the detailed issue! This is broken across all the private repositories - it appears I've added an embarassing TODO here where the auth should go. We get the right "auth configs" for push, but not for pull.

I think it should be as simple as implementing a function similar to the one in the docker CLI

1. parse the image name for registry
2. get the auth for that registry

docker cli exa

[2018-03-20 04:50] qnm opened #240 "Skaffold example fails with no `space left on device` error"
I'm using minikube v0.25.0 on Ubuntu 17.10, and running into a `no space left on device` error when running `skaffold dev`:

[code]

[code]

[2018-03-20 09:22] errordeveloper opened #241 "Add box as alternative builder"
[box](https://box-builder.github.io/box/) is a nice alternative to `Dockerfile` with Ruby syntax, it maybe a good idea to consider adding it as an option.

cc @erikh

[2018-03-20 09:24] errordeveloper opened #242 "Add img as as alternative builder"
[img](https://github.com/genuinetools/img) is an alternative to Docker build daemon that uses Dockerfile and produces OCI images, it maybe a good idea to consider adding it as an option.

cc @jessfraz

[2018-03-20 09:34] erikh commented on #241
hi! thanks Ilya, please let me know if I can answer any questions.

[2018-03-20 10:09] bivas opened #244 "helm_test.go doesn't properly check scenarios"
I'm working on another PR for adding chart version for Helm deployer and encounter this scenario:
The following scenarios succeed even that are faulty:
[code]

The scenario "get success should upgrade not install" should have failed as the `upgradeResult` errors and it shouldn't. Once `getResult` returns an error - it becomes an install scenario again.

I'll issue a PR to fix the test.

[2018-03-20 14:14] dgageot opened #247 "Artifacts syntax could look more alike docker-compose syntax"
Skaffold syntax:

[code]

Docker-compose syntax for the same thing:

[code]

By using the same syntax, we'd help some developers learn skaffold quicker.

[2018-03-20 14:20] dgageot opened #248 "Run builds in parallel"
On initial build and thereafter, it should be possible to build all the artifacts in parallel.

[2018-03-20 14:39] dgageot opened #249 "Dev mode: should we redeploy unchanged manifests"
Every manifest is reapplied on each rebuild, so we continuously redeploy unchanged manifests. It should be no-op. Sometimes it isn’t. That's not Skaffold's fault but Skaffold's behaviour make the issue very visible.

For example, with Istio 0.4.0, RouteRules fail to be reapplied with the same settings.

Should we ignore that or try to not redeploy unchanged manifests? In my case, until this bug is

[2018-03-20 14:43] dlorenc opened #250 "Make TagPolicy a struct with options instead of a string"
More complex taggers (and even the git one perhaps) will need to take parameters.

Also, how should we handle breaking config changes like this?

[2018-03-20 15:00] dgageot opened #252 "Exec into a pod"
Could we add a `skaffold exec` command to attach to a running pod?

[2018-03-20 15:00] r2d4 commented on #247
SGTM. We’ll have to think about “dockerfile” in the future if we want to support different “configs”.

[2018-03-20 15:02] dgageot opened #253 "Can we see the logs of a deployment when not in dev mode"
Adding a `skaffold logs` command would do the trick

[2018-03-20 15:02] dgageot commented on #220
We might also want a `skaffold push`

[2018-03-20 15:03] r2d4 commented on #249
This is a little tough. Most resources such be declarative in Kubernetes. In this case, should we have an istioctl deployer?  Maybe we could support multiple deploy stanzas if really needed

[2018-03-20 15:05] r2d4 commented on #253
Would need to take a slice of containers to stream from. SGTM

[2018-03-20 15:06] r2d4 commented on #250
I anticipate we’ll need this but what are the use cases?  Should we proactively break the config now?

[2018-03-20 15:08] dlorenc commented on #250
Some discussion in #231.

I was working on adding an "environment variable" tagger which will execute against a template. But yeah, even things like the git tagger might want parameters eventually.

[2018-03-20 15:20] dlorenc opened #254 "Idea: skaffold fix command"
As we start making changes to the config file schema, it would be nice to have a "skaffold fix" command that helps users keep up to date by applying whatever fixes we can automatically.

One rough idea for an implementation:

1. Keep all older struct versions in another package
2. If the skaffold.yaml is an older schema version or doesn't parse, try the other struct versions in reverse order
3. If

[2018-03-20 15:35] r2d4 commented on #252
What functionality would we gain over kubectl?

I'm for this idea, but we have to deliver a better/different experience than kubectl otherwise we should probably defer to that.

[2018-03-20 15:37] dgageot commented on #252
We'd have to make it work without specifying the pod name. Not sure we can do that though...
Even if we gave a name to the artifacts, those would not map pods.

[2018-03-20 15:38] #244 closed

[2018-03-20 15:40] r2d4 commented on #242
I'll close this as a dupe of https://github.com/GoogleCloudPlatform/skaffold/issues/138

In short, yes, its something we'd absolutely like to support.

[2018-03-20 15:40] #242 closed

[2018-03-20 15:45] r2d4 commented on #241
Is box just a different frontend for the docker daemon?

We're interested in supporting alternative frontend configs other than dockerfiles. Theres a bit of work to decouple the current skaffold codebase from the dockerfile, but its something on our roadmap.

[2018-03-20 15:52] r2d4 commented on #252
Exec actually works at the container level with pods by picking the first container in the pod afaik.

We could parse the artifacts, and then either

1. exec into the container if there is only one artifact running in the cluster
2. give a user a list of containers they can exec to based off config artifacts

[2018-03-20 15:56] dgageot commented on #252
That's true we could do that.
 + Best case scenario, only one pod runs for a given image and this pod has a single container.
 + The pod has multiple containers. We have to ask the user which one to connect to. Same UX as `kubectl exec`
 + Worst case, multiple pods use the same image. We'd have the user specify the pod name and the container name. Back to what `kubectl exec` forces you to do.

[2018-03-20 16:45] r2d4 commented on #220
I think push could be a flag to skaffold build.

I imagine the CLI would look something like

`skaffold build -f skaffold.yaml --skipPush=true`

Where skaffold build would execute the build stanza of the existing skaffold.yaml and respect the skipPush parameter.

[2018-03-20 16:59] viglesiasce commented on #220
I think i'd want `skaffold deploy` for the CI/CD side. We've add the --tag flag so in CI i would do:

skaffold deploy --tag v1.0.1

[2018-03-20 19:22] erikh commented on #241
Yes it is now. OCI and runc support are planned, but I have been
preoccupied with work.

On Tue, Mar 20, 2018 at 8:45 AM, Matt Rickard <notifications@github.com>
wrote:

[2018-03-20 20:00] #221 closed

[2018-03-20 20:00] dgageot commented on #249
OK, let's consider two behaviors:
 1. We always redeploy all the manifests:
     a. All of them are indeed idempotent -> Everything is ok
     b. Some of them are not idempotent because they are buggy -> The user can't use skaffold because of a bug that's not due to skaffold -> The user might stop using skaffold because of something we can't improve.
 2. We only display changed manifests (in a dev

[2018-03-20 20:18] dgageot opened #255 "Pod with 2 containers with the same image: only 1st one's logs are displayed"

[2018-03-20 20:22] dgageot opened #256 "2 pods with the same image: only 1st one's logs are displayed"

[2018-03-20 20:23] viglesiasce commented on #256
Was able to reproduce this last night with my sample app.

[2018-03-20 20:24] dgageot opened #257 "Pod using an image not built by skaffold: logs are not displayed"

[2018-03-20 20:41] #256 closed

[2018-03-20 20:41] #255 closed

[2018-03-20 22:50] r2d4 commented on #234
I've added some basic kokoro support (a Google-Hosted Jenkins). It has executors on different platforms (macOS, windows, linux). I don't know too much about it, but I plan to run our integration tests there soon.

[2018-03-21 01:51] nilfanif commented on #232
Hi, i am a logo designer and I can make a logo for you, can you give me little brief of how do you want the logo look like?

[2018-03-21 14:17] dgageot opened #262 "Use --cache-from in container builder"
Container Builder does a full build each time. It would be interesting to conditionally use a `--cache-from` option to speed the build up. See https://cloud.google.com/container-builder/docs/speeding-up-builds

[2018-03-21 17:13] dlorenc commented on #254
Some more details on how this could work:

- Create a new package called something like `schemas`, with a map of schemaVersions to the corresponding struct types.
- Create a new package called `transforms`, which defines a function for mapping from one schema type to the next. The signatures could look something like:

[code]

Then "skaffold fix" runs a loop like:

- figure out what schema version

[2018-03-21 18:50] r2d4 opened #263 "Skaffold ran out of colors"
[code]
What if we picked the color from

checksum % num_colors? That way we ensure that we always get the same colors for the same artifacts

[2018-03-21 20:08] cliveseldon opened #264 "Support Source-to-Image for builds"
Any plans to support RedHat's [Source-to-Image](https://github.com/openshift/source-to-image) for building images?

[2018-03-21 21:18] julianvmodesto opened #265 "skaffold dev fails to copy file"
After running `skaffold dev`, the first run succeeds.

When I copy my binary into the workspace that skaffold is watching, then a new build is triggered as expected, but the `docker build` errors with:

[code]

This is unexpected. My binary is 61M for reference.

[2018-03-21 23:43] clanstyles opened #266 "Skaffold fails to deploy"
[code]

[2018-03-22 07:08] nikitak opened #267 "Support for Bazel.build"
Are there plans for supporting Bazel? Similar to the question https://github.com/GoogleCloudPlatform/skaffold/issues/222

Thanks!

[2018-03-22 14:13] dgageot commented on #263
This is fixed in https://github.com/GoogleCloudPlatform/skaffold/pull/260

[2018-03-22 17:31] dgageot commented on #266
Hi @clanstyles, thanks for the report!
 + Can you tell us which version of skaffold you are using?
 + Does `kubctl get all` works on the same machine, from the same folder?

[2018-03-22 17:33] dgageot commented on #265
Hi @clanstyles, thanks for the report!
 + Can you tell us which version of skaffold you are using?
 + Does `skaffold docker deps` works?
 + Does `skaffold docker context` works?

[2018-03-22 17:40] #263 closed

[2018-03-22 17:47] r2d4 opened #271 "Handle docker auth to DockerHub"
We currently don't inject dockerhub credentials for images without a `docker.io` prefix. This is something that gets resolved in the docker CLI, so I think its something we need to handle here.

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/skaffold-users/fmnS3y3zOno/6gG6rdnaCAAJ

[2018-03-22 19:05] julianvmodesto commented on #265
Oops wrong @ tag :)

Version below + both commands work:
[code]

My replacement workflow has been `cp my/binary to/skaffold/artifact/directory/ && skaffold run -f skaffold.yaml` which works for now.

[2018-03-22 20:16] vic3lord commented on #226
I agree with the overkill description, it would be better to support volumes to mount the code and then just have a field of which command to trigger on any code change.

This is important because your third point will not work in a compiled language (e.g go, rust).  It will work pretty well on interpreted/frontend.

[2018-03-22 20:59] probabble opened #272 "Adding watch error: "too many open files""
Issues without logs and details are more complicated to fix.
Please help us!

### Expected behavior

Skaffold runs and re-runs on changes to watched files

### Actual behavior

Skaffold runs and then fails when adding watches. My project is quite large

### Information
```ERRO[0101] run: running skaffold steps: running watch: adding watching for deps: starting watch on file /Users/evan/PycharmProj

[2018-03-23 02:30] ryuheechul commented on #271
I tried with `docker.io` prefix and even with that, it still couldn't push the image.

[code]

[2018-03-23 06:26] r2d4 opened #274 "GitTagger now needs to be ran from root git dir"
We broken some subtle functionality in #215. The git command can detect the repository even if ran from a subdirectory. The go-git library doesn't support this yet. This means for our getting-started example, `skaffold run` is broken since it defaults to the git tagger.

https://github.com/src-d/go-git/issues/765

[code]

[2018-03-23 07:45] dgageot commented on #274
@r2d4 Let me TAL since I broke it

[2018-03-23 11:42] bhack opened #277 "Repository"
As also [Draft](https://github.com/Azure/draft) is still in its Microsoft/Azure repository is there instead a plan for this project to move in a more independent repository like Kuberenetes?

[2018-03-23 14:08] RoguesHollow opened #278 "Microsoft unable to update"
Issues without logs and details are more complicated to fix.
Please help us!

### Expected behavior
Unable to update Microsoft 10 March 19, 2018 update

### Actual behavior
receiving the following error messages:

Failed to install: KB4011675
Excel 2010 32-Bit Edition failed to install

Failed to install: 0X80070bc2

Failed to install: 0X80024200d
64 based system

### Information

[code]
### Steps

[2018-03-23 14:52] r2d4 commented on #278
Have you tried turning it off and back on again?

[2018-03-23 15:06] dgageot commented on #239
@r2d4 I'm afraid there's nothing we can do expect uncomment your line. It's slow, not really because of docker, but because of any credential helper you might have installed.

[2018-03-23 15:09] dlorenc commented on #239
https://github.com/GoogleCloudPlatform/docker-credential-gcr

The source is here. We could probably try to speed it up.

[2018-03-23 15:21] dgageot commented on #239
@dlorenc I could push some code that parses all the auth tokens but doesn't query the credential helpers yet. It would already solve a lot of issues.

[2018-03-23 16:03] r2d4 commented on #278
This an issue tracker for an open source project called skaffold. We won’t be able to help you with Windows issues, Sorry!

[2018-03-23 16:03] #278 closed

[2018-03-23 16:34] r2d4 commented on #277
Not plans yet - our first step is to get together a working group together consisting of a few different projects tackling the developer workflow space. The next steps for the broader community will probably be decided there.

We'll post an announcement on https://groups.google.com/forum/#!forum/skaffold-users once we get this set up!

[2018-03-23 16:41] #271 closed

[2018-03-23 16:54] bhack commented on #277
Thanks

[2018-03-23 17:43] #277 closed

[2018-03-23 18:26] r2d4 commented on #277
cc @kimsterv

[2018-03-23 18:38] lgomez opened #280 "Stopping and/or teardown"
### Expected behavior
On interrupt or kill of `skaffold dev` I expected resources to be removed/stopped.

### Actual behavior
On interrupt or kill of `skaffold dev` all resources are left running.

### Information
I realize the "Expected Behavior" above may just be personal but I looked for clean ways to stop all services and resources and found nothing. Is there a way to teardown using skaffold o

[2018-03-23 20:34] #274 closed

[2018-03-23 22:43] r2d4 commented on #226
Yes, we currently detect the file deltas and use that to trigger the dev cycle. Theres a few places where we could immediately improve using this metadata. A few off the top of my head.

1. incremental context building - this is simpler with systems like GCB that look to cloud storage for the context, but there is also an experimental flag to the docker daemon for context streaming.
2. some more m

[2018-03-23 22:49] dlorenc commented on #226
Yeah, a few possible ideas on the "magic" aspect.

If there is a change in a file that has no "run" commands (or onbuild run) after it, it should be safe to skip the rebuild and do a sync/restart in place.

If we had a way to tell what files are looked at during a run command (ptrace?), we could potentially skip even more rebuilds.

[2018-03-24 03:33] clanstyles commented on #266
Ah, after looking into it, kubectl wasn't listening to the right context.Fixed it, worked!

[2018-03-24 03:33] #266 closed

[2018-03-24 03:35] clanstyles commented on #232
What about a bunch of gophers on a bunch of scaffolds orchestrating a crane that is putting colored containers (docker containers) together? I've seen this before with a PaaS but it sorta makes sense here too.

[2018-03-24 03:36] clanstyles opened #282 "Example with multiple images and deployments"
How would I use Skaffold to spin up multiple backend services at once? Is there an example of this?

[2018-03-24 03:40] nilfanif commented on #232
Isn't that too complicated for a logo. There are too many elements.

Any logos on the internet that you like for inspirations?

[2018-03-24 06:45] LalatenduMohanty opened #283 "Update docs to reflect minimum go v1.10 required to compile the project"
### Expected behavior
`$ make install` should work.

### Actual behavior
[code]
### Information

[code]

### Steps to reproduce the behavior

  1.  $ go get -u -d github.com/GoogleCloudPlatform/skaffold
  2. $ make install

[2018-03-24 09:26] mumoshu commented on #195
@dlorenc Thx for the info! Just started playing with it:

[code]

[2018-03-24 17:52] r2d4 commented on #283
What go version?  You’ll need 1.10

[2018-03-24 19:29] LalatenduMohanty commented on #283
@r2d4 You are right, after moving to go v1.10 I can compile it properly . Will send a PR for this issue.

[2018-03-26 00:29] brotherhod commented on #232
As a suggestion:
[https://www.iconfinder.com/icons/882754/ladder_scaffold_stairs_steps_icon#size=256](https://www.iconfinder.com/icons/882754/ladder_scaffold_stairs_steps_icon#size=256)
with the kubernetes logo somewhere at the top being supported

[2018-03-26 01:06] nilfanif commented on #232
Kubernet logo is a trademark of linux foundation, and I don't think we can alter and combine the logo with scaffold for this project. This is the guidelines for the their trademark https://www.linuxfoundation.org/trademark-usage/

[2018-03-26 03:57] gmorse81 opened #285 "Allow for adding arbitrary values to helm deploy via helm's --set flag"
Currently the only values that can be added to a helm deploy with Skaffold are the build container names and tags. Since many helm deployments that are managed via CI use helm's --set flag to set values, it would be best if Skaffold could do the same.

Additionally, supporting environment variables in these values would allow for a more dynamic deployment.

[2018-03-26 17:27] garvincasimir opened #287 "Error adding watch for files"
### Expected behavior
Watch should be added for Dockerfile and other deps
### Actual behavior
Error:
adding watch for C:\Users\garvin\projects\kube-task\job\Dockerfile: The parameter is incorrect

### Information
I looked at the code and the error seems to be coming from here:
https://github.com/GoogleCloudPlatform/skaffold/blob/739a5048151dc610956fa7117075add73bff1795/pkg/skaffold/watch/watch.go#

[2018-03-27 06:02] r2d4 commented on #280
ref #61
Probably something we should consider for dev mode. I think it would be reasonable to add Cleanup() to our deploy API.

[2018-03-27 06:04] r2d4 commented on #272
Can you tell us how many files you have in your directory? I've also hit some limits on different OSes.

[2018-03-27 06:06] r2d4 commented on #264
At first we're probably going to support builders with some sort of dockerfile/config file since those will cover the most use cases (something like https://github.com/projectatomic/buildah).

In the future as we start to stabilize these APIs, we'd be interested in supporting these higher order source to image buildpacks or builder images.

[2018-03-27 06:42] PacoVK opened #289 "Allow support for helm to recreate pods"
Developing eg NodeJs using helm mechanism, skaffold detects changes and rebuild but helm doesn't recreate pods. With additional flag to recreate pods this would be possible.
Same for other flags eg dep-up.

Suggestion:

deploy:
  helm:
    releases:
    - name: hello-world
      chartPath: charts/hello-world
      namespace: skaffold
      args:
          - recreate-pods
          - dep-up

[2018-03-27 11:32] dgageot commented on #239
@dcherniv have you tested master branch?

[2018-03-27 18:10] probabble commented on #272
I'm at 55,557 files ... so, kind of a lot!

[2018-03-27 18:17] r2d4 commented on #266
At HEAD, we now print out the context you're using, so theres some better UX around that!

[2018-03-27 18:38] r2d4 commented on #272
Do you mind sharing your dockerfiles? As a workaround for now, if you can refactor your dockerfiles so you don't have such a large dependency graph, you'll be able to have quicker build and deploy cycles and skaffold won't fail.

We currently respect the .dockerignore file also and are planning some sort of skaffold ignore UX

[2018-03-28 10:28] dgageot opened #293 "Decouple colors from logging"
Colors are currently tightly coupled to logging.

[2018-03-28 10:29] dgageot opened #294 "Unregister images from logger"
we register new images in the logaggregator, but do we ever need to unregister them?

[2018-03-28 13:47] jguo13 commented on #287
I also had the same issue trying to run skaffold on windows 7 after running skaffold dev, is there a fix for this?

[2018-03-28 14:10] gtseres commented on #202
@dgageot verified that the pod is updated after a change in the source code. We can close this one.

[2018-03-28 17:06] #257 closed

[2018-03-28 19:36] nikParasyr opened #296 "Support remote helm chart repositories"
Hello. I tried using skaffold with a remote chart repository. The reason behind it is that we have different repos for our "app code" and our "infra code" (mostly helm charts). To my understanding this functionality is not supported.

My test-case was to modify the [examples/helm-deployment](https://github.com/GoogleCloudPlatform/skaffold/tree/master/examples/helm-deployment) to deploy to minikube

[2018-03-28 20:35] r2d4 commented on #296
Interesting use case, thanks for bearing with us as we start to explore and support some of these workflows. I've seen this workflow in practice before. Can you just verify what your app repo vs. infra repo looks like?

**app repo:**
values.yaml?
app code
Dockerfile

**infra repo:**
charts
cluster-level kubernetes manifests (storage classes, CRDs, etc.)?

Do you use one umbrella chart for all of y

[2018-03-28 22:42] nikParasyr commented on #296
Every app has its own chart.

**app repo:**
app code
Dockerfile

**infra repo:**
Charts (deploy,svc,pvc,etc)

Cluster-level kubernetes manifests are at seperate repos.

Thanks for all the work btw, really nice tool.

[2018-03-29 03:37] #202 closed

[2018-03-29 09:34] #237 closed

[2018-03-29 12:39] dgageot opened #298 "Warn when an image is built but not used"
Would it be useful to warn the user when an image is built but not used by any manifest?
It might be a typo. If it's not, it might be necessary time spent building the image.

[2018-03-29 15:29] dgageot opened #299 "Support profiles"
I think it would be useful for the `skaffold.yaml` to support profiles that can be activated with a command line flag. Those profiles would basically override the default configuration (aka default profile)
Something along this lines:
[code]

[2018-03-30 07:15] nilfanif commented on #232
so, I made two version based on the brief you gave.

![image](https://user-images.githubusercontent.com/16274923/38128380-8993f488-3424-11e8-9f6f-2073a675cc4c.png)

and bellow is a friendlier version

![image](https://user-images.githubusercontent.com/16274923/38128386-900525f8-3424-11e8-8379-94755c4e3a56.png)

[2018-03-30 07:17] nilfanif commented on #232
those are as simple as it can get, i can add more elements to the logo but it will look terrible in small size

[2018-03-30 07:21] #206 closed

[2018-03-30 09:10] Trane9991 opened #302 "Bad exit code on config parsing error"
Hey, I'm using skaffold on the CI. Skaffold version got updated, config file format changed so deployment failed but reported as the success.
[code]
### Expected behavior
ExitCode should be non-0

### Actual behavior
ExitCode is 0
### Information

[code]

[2018-03-30 14:09] AMecea commented on #193
With version `0.3.0` half of the issue is solved. But now if I have extra values for the helm chart that are not images and are not specified in artifacts: the deploy fails.

Config example:
[code]
Error message:
[code]

Do I miss something? How can I include extra chart configs?

Thank you!

[2018-03-30 16:35] kimsterv commented on #277
A working group is being actively discussed here:

https://groups.google.com/forum/#!topic/kubernetes-dev/YcjXRDrCdbI

I'll follow-up again once it's formed.

[2018-03-30 18:04] viglesiasce commented on #302
Hey @Trane9991!

Check out the note in the CHANGELOG around breaking config changes:
https://github.com/GoogleCloudPlatform/skaffold/blob/v0.3.0/CHANGELOG.md#v030-release---3292018

In the near term future there will be a command that fixes these things automatically, currently that functionality is in #291.

[2018-03-30 18:05] r2d4 opened #303 "Kubectl deploy does not work on multiple document YAML file"
Skaffold can't understand multiple document YAML files yet for the kubectl deployer

[code]

We need to implement something like this: https://github.com/kubernetes/apimachinery/blob/master/pkg/util/yaml/decoder.go#L142-L169

[2018-03-30 18:06] r2d4 commented on #302
Thanks for using this already! We should absolutely return a real exit code on breaks

[2018-03-30 18:27] r2d4 opened #306 "Git commit unit test flakes"
I've encountered some local flakes with `TestGitCommit_GenerateFullyQualifiedImageName`

[2018-03-30 18:47] nkubala commented on #306
These fail for me every time locally on both OS X and Linux. Interestingly, the short hash that the test actually computes is the same on both platforms:

[code]

[2018-03-30 18:50] r2d4 opened #308 "Watch tests flakes"
[code]

This should be fixed in #273

[2018-03-30 21:01] r2d4 opened #309 "Implement timedate tagger"

[2018-03-30 21:05] dlorenc commented on #309
Should this take a datetime format string?

[2018-03-30 21:06] dlorenc commented on #309
Something like: https://golang.org/pkg/time/#Time.Format

[2018-03-30 22:05] #302 closed

[2018-03-31 09:56] dgageot opened #313 "File change detection is unreliable when coding with IntelliJ/GoLand"
When using IntelliJ/Goland, after a few changes, no file changes are detected anymore. Even outside of the IDE. Looks like it breaks silently.

[2018-03-31 10:01] dgageot commented on #313
When a change is made with VSCode, the watch code receives this event:

[code]

Same change in IntelliJ:

[code]

Or sometimes:

[code]

It looks like IntelliJ doesn't do straight writes to file and that messes with the file watcher.

[2018-03-31 12:08] dgageot commented on #313
OK. So the library we are using to track file changes removes a file from the watch list if this file is removed/renamed. IntelliJ does rename the file when it's saved.
We need to find a better way of using the library or a better library.

[2018-03-31 14:57] nilfanif commented on #232
@dgageot what do you think?

[2018-03-31 16:10] dgageot commented on #313
I've tried 3 fsnotify libraries. None of them support deleting and then recreating files.
One way to fix that is to watch parent folders for file creation. It'll make the code way more complicated

[2018-03-31 16:21] dgageot opened #314 "Add/Modify a sample with a more complicated build"
Most (all?) of our examples are a simple `go build` on a single file. We should demonstrate how to properly write a `Dockerfile` for a more complicated codebase without loosing too much on the incremental build side.

[2018-03-31 17:02] r2d4 commented on #314
Yes, I'd also like to have something for interpreted languages, like python.

[2018-03-31 19:10] r2d4 commented on #267
@nikitak I've started this work here #315

[2018-04-02 06:01] clanstyles commented on #282
Hey, I know you guys are really busy, does anyone have a small example and I can build on it from there.

[2018-04-02 06:49] r2d4 commented on #282
@clanstyles Sorry about that! I added one a few days ago but forgot to comment on this issue

https://github.com/GoogleCloudPlatform/skaffold/tree/master/examples/microservices

[2018-04-02 07:14] clanstyles commented on #282
Thanks for the update! Also thanks for updating the title!

[2018-04-02 15:01] dlorenc commented on #98
Some more ideas: Add a list of deployed `runtime.Object`s to the BuildResult

For Helm, populate this via helm get
For kubectl, populate this by parsing the yamls we're about to deploy

It looks like this is the best way to parse YAML files currently:
https://github.com/kubernetes/client-go/issues/193

[2018-04-02 16:41] dlorenc commented on #98
Here's a functioning yaml parsing snippet:
https://gist.github.com/dlorenc/2ac000a25656447a0c06e79150407b4c

[2018-04-03 07:37] dgageot commented on #306
@nkubala only the `TestGitCommit_GenerateFullyQualifiedImageName/success` fails for you, right? Not the `TestGitCommit_GenerateFullyQualifiedImageName/dirty` one?

[2018-04-03 15:47] #303 closed

[2018-04-03 16:01] dgageot commented on #239
@dcherniv did you get a chance to test your use case with 0.3?

[2018-04-03 16:02] dlorenc commented on #98
cc @nkubala this is the issue I was referring to yesterday

[2018-04-03 16:04] dgageot commented on #218
This is fixed by https://github.com/GoogleCloudPlatform/skaffold/pull/224

[2018-04-03 16:04] #218 closed

[2018-04-03 16:04] dgageot commented on #219
This is fixed by https://github.com/GoogleCloudPlatform/skaffold/pull/288

[2018-04-03 16:04] #219 closed

[2018-04-03 16:05] dgageot commented on #232
@nilfanif I like the second one better. @r2d4 @dlorenc @viglesiasce any feedback?

[2018-04-03 16:07] dgageot commented on #293
this was improved in https://github.com/GoogleCloudPlatform/skaffold/pull/297

[2018-04-03 16:07] #293 closed

[2018-04-03 16:07] dgageot commented on #294
this was improved in https://github.com/GoogleCloudPlatform/skaffold/pull/297

[2018-04-03 16:07] #294 closed

[2018-04-03 16:37] dgageot commented on #299
Something along those lines: http://maven.apache.org/guides/introduction/introduction-to-profiles.html

[2018-04-03 16:40] r2d4 commented on #313
This is also happening for PHPStorm as reported on twitter

https://twitter.com/gortron/status/980822889728479232

[2018-04-03 17:09] nilfanif commented on #232
Cool, just let me know if you need any tweaks or refinements

[2018-04-03 17:51] nkubala commented on #306
@dgageot both of those fail actually, as do `TestGitCommit_GenerateFullyQualifiedImageName/untracked` and `TestGenerateFullyQualifiedImageNameFromSubDirectory`:
[code]

This is at `HEAD`

[2018-04-03 18:33] sirajg opened #322 "skaffold dev doesnt work with v0.3.0"
`skaffold dev` does not work with built in examples

### Expected behavior
`skaffold dev` should build, deploy and watch for changes.

### Actual behavior
[code]
### Information
This error is seen only in v0.3.0. Same setup with v0.2.0 works.

[code]

### Steps to reproduce the behavior

  1. ...
  2. ...

[2018-04-03 18:51] geniass opened #323 "Fails when running in a git worktree directory"
### Expected behavior
Runs successfully

### Actual behavior
While tagging the first image:
[code]
### Information

Skaffold version: v0.3.0
Operating system: Fedora 27 64 bit
Content of skaffold.yaml:
[code]

### Steps to reproduce the behavior

  1. `git clone https://github.com/GoogleCloudPlatform/skaffold.git && cd skaffold`
  2. `git worktree add /tmp/repo <branch> && cd /tmp/repo/examples/ge

[2018-04-03 18:55] dgageot commented on #323
Looks like go-git doesn't support worktrees https://github.com/src-d/go-git/blob/master/COMPATIBILITY.md

[2018-04-03 18:57] dgageot commented on #322
@sirajg Do you have docker installed? If it is, can you show the output of `docker info`? What's your kubernetes context?

[2018-04-03 18:58] dgageot commented on #306
@nkubala So you have a `$HOME/.gitconfig`? Can you try without it?

[2018-04-03 18:59] dgageot commented on #306
In fact, `$HOME/.gitconfig` is not supported by go-git. So that must be something else...

[2018-04-03 19:38] nkubala commented on #306
@dgageot ran `make test` on your branch on my mac:

[code]
also verified I get the same error after deleting my `$HOME/.gitconfig`.

[2018-04-03 19:46] dcherniv commented on #239
@dgageot will test in a couple of days. My apologies been a bit busy.

[2018-04-03 20:10] sirajg commented on #322
[code]
[code]
Same setup works with skaffold v.0.2.0

[2018-04-03 20:11] quasiben opened #325 "Add gitTag to TagPolicy"
I see that there is a `gitCommit` tag policy but I would like to use `git tags` as the tag for my docker during build.  Would it be possible to add this as a new policy ?

[2018-04-03 20:18] dlorenc commented on #325
We've discussed allowing users to specify a Go template string that we would execute against a bunch of git variables, things like branch name, commit sha, tags, etc. I think that would suit this use case as well.

[2018-04-03 21:45] geniass opened #326 "tagPolicy is not parsed from config file"
### Expected behavior
Skaffold should use the tagPolicy in the config file.
### Actual behavior
tagPolicy is not read properly, so the default value is used.
### Information

Skaffold version: v0.3.0
Operating system: Fedora 27
Content of skaffold.yaml:
[code]

The old syntax still works:
[code]

Looks like the fix is changing `,inline` to `tagPolicy` [here](https://github.com/GoogleCloudPlatform/

[2018-04-03 22:57] dcherniv commented on #239
@dgageot I just tested it and it appears to work. I have a question about how it's implemented.
As far as i can see my docker build step happens on the minikube VM, but the VM is not authenticated to the registry only my host machine is.
Does it read my ~/.docker/config.json and passes it to minikube?

[2018-04-04 03:43] #203 closed

[2018-04-04 03:45] r2d4 opened #329 "Reset UID/GID to 0 in docker build context tarball"
ref https://github.com/GoogleCloudPlatform/skaffold/pull/209#discussion_r179018953

[2018-04-04 03:48] r2d4 commented on #322
Can you post the output of `skaffold dev -v debug`?

[2018-04-04 03:56] r2d4 commented on #239
@dcherniv it detects the minikube context and does the equivalent of a `minikube docker-env` without doing so.

Your second issue seems to be with the registry-creds addon, which is probably better suited for https://github.com/upmc-enterprises/registry-creds or the minikube issue tracker

[2018-04-04 03:57] r2d4 commented on #239
The auth resolution happens on the host with the help of credential helpers, and is sent to the minikube docker daemon, much like the docker cli does and communicates with the docker daemon.

I'm going to close this since the initial issue seems to be solved

[2018-04-04 03:59] r2d4 commented on #240
Any update on this @qnm? I haven't been able to reproduce this yet.

[2018-04-04 04:00] #46 closed

[2018-04-04 08:38] jstrachan opened #330 "provide a command deploy strategy?"
In [Jenkins X](http://jenkins-x.io/) we'd like to use different commands to deploy a skaffold built image, such as:
* [jx preview](http://jenkins-x.io/commands/jx_preview) for creating [Preview Environments for Pull Requests](http://jenkins-x.io/developing/preview/)
* [jx promote](http://jenkins-x.io/commands/jx_promote) for [Promoting across Environments via GitOps](http://jenkins-x.io/developing

[2018-04-04 08:53] dgageot commented on #322
@sirajg It might be an issue with your `cat ~/.docker/config.json` file. This file contains the configuration to connect to private registries. Can you rename this file and try again?

[2018-04-04 09:17] james-masson commented on #239
This is still broken for me - built skaffold from master yesterday.

Without local image
[code]

Manual pull of image
[code]

success with skaffold
[code]

[2018-04-04 12:12] dgageot opened #331 "tagPolicy defaults to `git` in run mode and `sha256` in dev mode"
Linked to https://github.com/GoogleCloudPlatform/skaffold/issues/326

[2018-04-04 12:14] dgageot commented on #331
I can understand why we did that and at the same it's too confusing for the user

[2018-04-04 15:44] dgageot opened #335 "TestGetDockerfileDependencies/copy_dependency flakes"
[code]

[2018-04-04 16:01] diit opened #336 "Error pulling images, unauthorized"
Issues without logs and details are more complicated to fix.
Please help us!

### Expected behavior

- Pulls image down and starts pods/etc.

### Actual behavior

`Failed to pull image "gcr.io/xx/yy:latest": rpc error: code = Unknown desc = Error response from daemon: unauthorized: You don't have the needed permissions to perform this operation, and you may have invalid credentials. To authenticat

[2018-04-04 17:47] sirajg commented on #322
[code]

[2018-04-04 18:33] viglesiasce commented on #313
I think this may be related to a setting that is called "Use safe write (save changes to a temporary file first)". I haven't run into this issue since turning that setting off.

[2018-04-04 18:36] #308 closed

[2018-04-04 19:13] #306 closed

[2018-04-04 20:51] sirajg commented on #322
Without the ~/.docker/config.json file, get this error:
[code]
config.json has
[code]

[2018-04-04 21:56] Anakin-Hao commented on #287
Running into the same issue.
My Env:
Win 10 Pro
skaffold 0.3.0

[2018-04-05 03:30] F21 commented on #287
I also ran into the same problem with Windows 10 (latest version) and skaffold 0.3.0.

However, after building master (7349a0f3bc97926c5a894bb1e0af7c63e254a373), this is no longer happens.

To use master, install Go, delete the old skaffold binary and run `go get -u github.com/GoogleCloudPlatform/skaffold/cmd/skaffold`. Assuming `$GOPATH/bin` is in your PATH, you can run `skaffold` from anywhere.

[2018-04-05 06:51] F21 opened #337 "Skaffold dev does not run Go tests correctly"
I want to use `skaffold dev` to implement a build run loop that runs my tests while developing.

A sample project demonstrating the problem is available here: https://github.com/F21/skaffold

### Expected behavior
Skaffold should run the tests (executed in the `CMD` stanza of the dockerfile) correctly.

### Actual behavior
Skaffold produces this error:
[code]

### Information
In the sample project

[2018-04-05 14:35] #335 closed

[2018-04-05 15:23] dgageot opened #341 "File Watcher ignores new files."
If a file appears, that wasn't tracked in the first place, we just ignore it. Sometimes that's ok, sometimes it's not.

In an ideal world, we should match this new file with the dependencies of the Dockerfile.

Instead of passing a list of files to the Watcher, we should pass a `FileMatcher` that compares a file to the list of dependencies for a Dockerfile.

[2018-04-05 15:29] dgageot commented on #337
Hi @F21, thanks for the report! I tried to reproduce and failed. (I'm using Docker for Desktop though)
Skaffold seems to do its job

[2018-04-05 17:54] dgageot commented on #145
I think it does but I need to check

[2018-04-05 17:56] dgageot commented on #24
@r2d4 I think we can close this one, right?

[2018-04-05 18:04] #24 closed

[2018-04-05 19:09] Eronarn commented on #134
I'd love to see a roadmap. Especially odd that the README has a "Future" heading that doesn't link to anything... https://github.com/GoogleCloudPlatform/skaffold

[2018-04-05 19:11] Eronarn commented on #299
We're looking at using skaffold and would love to see this so we could easily switch between development minikube for speed and a staging cluster for sharing with others.

[2018-04-05 19:14] probabble commented on #272
Hi @r2d4 -- I don't think my `.dockerignore` file is getting respected by the file watcher... I see my compiled python files getting added to the watcher despite the first line in my .dockerignore file being ```*.pyc``` ... so that might help reduce the number of files.

I upgraded to 0.3 today and still see the same behavior.

[2018-04-05 19:25] probabble commented on #272
but it looks like proper support for .dockerignore is coming soon: https://github.com/GoogleCloudPlatform/skaffold/pull/338

[2018-04-05 22:17] F21 commented on #337
@dgageot Are you using Docker for Windows (edge)?

[2018-04-06 02:02] dcherniv commented on #336
@diit Did you authenticate your docker to gcr?
https://cloud.google.com/container-registry/docs/pushing-and-pulling
Which skaffold version are you using?

[2018-04-06 03:56] #299 closed

[2018-04-06 22:56] r2d4 commented on #134
Hey sorry @Eronarn I started the work on this, but I'll send a PR shortly

[2018-04-07 03:21] tuananh opened #346 "documentation: Add CI/CD example"
Is there an example of using skaffold for CI/CD?

How can use skaffold to target different k8s namespace deployment eg: dev for dev and prod for production?

[2018-04-07 07:25] dgageot commented on #265
@julianvmodesto Can you please try again with version 0.3.0? That would be awesome

[2018-04-07 07:31] dgageot commented on #283
Fixed with https://github.com/LalatenduMohanty/skaffold/commit/eaf540c03a7b6d01840199aa5d7f7dc704ab6c26

[2018-04-07 07:31] #283 closed

[2018-04-07 07:36] dgageot commented on #280
Closing as it's a duplicate of #61

[2018-04-07 07:36] #280 closed

[2018-04-07 07:42] dgageot commented on #267
Done with https://github.com/GoogleCloudPlatform/skaffold/pull/315 \o/

[2018-04-07 07:42] #267 closed

[2018-04-07 20:39] bhack commented on #277
@kimsterv For the wg: https://blog.hasura.io/draft-vs-gitkube-vs-helm-vs-ksonnet-vs-metaparticle-vs-skaffold-f5aa9561f948

[2018-04-07 21:32] bhack commented on #277
https://youtu.be/McwwWhCXMxc

[2018-04-07 21:47] bhack opened #348 "Ide integration"
Do you have already any plan on how to integrate with ide?
I.e. https://github.com/atom/atom/issues/14860

[2018-04-07 22:54] bhack commented on #195
What about a direct file sync phase like https://github.com/vapor-ware/ksync?
Sometime run on the remote cluster is mandatory cause specific resource. So the "build only" approach can create too much lag.

[2018-04-07 23:53] r2d4 commented on #348
As a weekend project I started https://github.com/r2d4/vscode-k8s, which is available on the visual studio code marketplace at https://marketplace.visualstudio.com/items?itemName=kubernetes-tools.k8s

It exposes a "skaffold dev" and "skaffold run" right-click menu item on skaffold.yaml files, which runs in the integrated terminal.

I don't plan to devote much time to this right now, but I'd be hap

[2018-04-08 00:05] #285 closed

[2018-04-08 00:05] bhack commented on #348
@r2d4 I think that generally there is a specific issue about language servers and remote debbuger comunication cause dependencies are only available in the image.

[2018-04-08 00:42] bhack commented on #348
I.e. For vscode see https://github.com/Microsoft/vscode-python/issues/79

[2018-04-08 11:31] bhack commented on #348
Other than language server and interpreter or execution there is also the remote debugging.
An example for python but still not automated: https://github.com/DonJayamanne/vscode-python-samples/tree/master/remote-debugging-docker

[2018-04-08 11:44] bhack commented on #348
Debugging on compiled languagehttps://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/PipeTransport.md#docker-example

[2018-04-08 18:35] geniass opened #349 "Build args are not passed to container builder"
### Expected behavior
Container builder should use build args.

### Actual behavior
Build args are not passed to container builder, so they are not used.

### Information

[code]
Content of skaffold.yaml:
[code]

Dockerfile:
[code]

### Steps to reproduce the behavior

  1. `skaffold run`

It should echo `hello` but doesn't.

[2018-04-08 20:28] bhack commented on #348
Probably this cloud be interesting also if it is related to Draft https://github.com/Azure/vscode-kubernetes-tools/

[2018-04-09 08:20] dgageot opened #352 "microservices sample is broken"
[code]

[2018-04-09 08:32] deepejai opened #353 "No support for openshift deployment"
In the current version, I am not able to deploy to openshift environment using skaffold. Can you provide support for same?

[2018-04-09 09:39] #326 closed

[2018-04-09 09:45] #349 closed

[2018-04-09 10:47] #352 closed

[2018-04-09 12:09] dgageot opened #356 "Bazel build only support workspace in top level folder"
Trying to run `skaffold build` on a folder that contains multiple artifacts, only one being a bagel build:

[code]

[2018-04-09 17:10] afrittoli opened #360 "Image handling does not match values.yaml structure from helm create"
The sample chart created by `helm create` uses nested variables for docker images.
The same is a common practice in stable charts as well:

[code]

The manifest template fetches the details of image from `.Values` accordingly:

[code]

Skaffold overrides the image using the key specified in its pipeline configuration, and it appends the image_name:tag to it, which is not compatible with the value

[2018-04-09 17:46] afrittoli opened #361 "Using private image repositories requires modifying the skaffold pipeline yaml"
This is more a feature request than a bug.
Since I use a private docker image registry, with namespaces and every developer uses their own namespace for development purposes, my skaffold file is actually a template (skaffold.yaml.tpl):

[code]

And then I use a make target to produce the actual yaml file:

[code]

### Expected behavior

This is just an example of how a pipeline configuration could

[2018-04-09 18:06] dgageot opened #362 "Support Bazel artifacts on GCB"
Currently, the GCB builder only supports Docker artifacts. It should also support Bazel

[2018-04-09 23:49] F21 commented on #337
Still seeing the same issue with Skaffold master (0f6c48adfbac8a1a3353288372350b2247dec3f3).

Docker was upgraded to latest RC:
[code]

Minikube is still 0.25.2 running on Hyper-V

[2018-04-10 11:24] fexman opened #363 "Can't run skaffold/getting-started example with skaffold/minikube: ERRO[0000] run: getting skaffold config"
I'm having troubles setting up skaffold on my Windows 10 machine. I'm using skaffold with minikube and I'm trying to run the getting-started example. The context of kubectl IS "minikube".

### Expected behavior

For the examples/getting-started example to run.

### Actual behavior

An error message is displayed:
[code]

### Information

Skaffold version: v0.3.0
minikube version: v0.25.2
Operating

[2018-04-10 12:46] fexman commented on #363
I managed to solve my issue by compiling scaffold myself using Go as described here https://github.com/GoogleCloudPlatform/skaffold/issues/287#issuecomment-378810438 .
The resulting `skaffold.exe` was located in my user's directory under `go/bin/skaffold.exe`

[2018-04-10 15:18] dankohn commented on #232
When this is finalized, could you please provide in SVG format. I'd like to include Skaffold in the CI/CD section of https://landscape.cncf.io/grouping=landscape&landscape=ci-cd

If you want to create the entry yourself, please see https://github.com/cncf/landscape#new-entries

[2018-04-10 16:38] dgageot commented on #353
Hi @deepejai, thanks for the feedback! Can you provide us more details on things you're trying to achieve and error messages you might see?

[2018-04-10 17:39] r2d4 commented on #363
The profile feature didn't make it into v0.3.0. We'll be getting out a release soon with profile support.

In the meantime, we might need to make this error message more digestable.

[2018-04-10 17:41] r2d4 commented on #360
Thanks for the descriptive issue. This is something I noticed when developing the helm deployer. I'm not sure what the best path forward is.

We should absolutely work with stock charts that separate image name and tag. I'm not sure the best way to expose this. The helm deployer could just inject tag only by default. How does that sound?

[2018-04-10 17:50] r2d4 commented on #361
Thanks for another descriptive issue. This is something we need to figure out soon. There are values that are going to differ within a developer's team and within a developer's organization.

1. We definitely don't want users to have to template their own skaffold.yaml and add that kind of complexity.
2. We also don't want skaffold.yaml to have environment variables and therefore be un-parsable YA

[2018-04-10 17:50] r2d4 commented on #361
cc @dgageot @dlorenc

[2018-04-10 17:50] deepejai commented on #353
Hi @dgageot I am using Openshift environment to host my application, To deploy my application, I am using **oc create/apply -f <yaml file name>** so When I tried deploying my app using default configuration, It was failing at deployed step, As It was using kubectl in backend, so I modified my skaffold.yaml file to use oc at place of kubectl, so It is throwing error as unknown deployer as It suppor

[2018-04-10 17:57] r2d4 commented on #353
I think we'd happily accept an openshift deployer for skaffold. It should be pretty straightforward to implement and can reuse a lot of the machinery used for the kubectl deployer.

Additionally, we can most likely add a lot of the single node optimizations that we added for minikube and docker for desktop in skaffold for minishift. cc @gbraad @praveenkumar

[2018-04-10 19:57] julianvmodesto commented on #265
My use case is fixed, thanks!

Note that one potential bug I noticed is new files aren't watched by `skaffold dev`.

e.g. `touch foobar` into one of the watched directories doesn't do anything.

[2018-04-10 19:57] #265 closed

[2018-04-10 20:51] afrittoli commented on #361
Thanks for the quick reply on this.
I agree that skaffold.yaml should stay a plain parsable YAML.

I like ideas (1) (2) and (3), with the caveat that skaffold.yaml should be structured so that development specific settings can be isolated. For instance, for (3) it can be handy to configure in .skaffoldrc my image registry namespace, but that's useful only as long as it can be mapped to a specific

[2018-04-10 21:04] afrittoli commented on #360
Thanks for the quick reply.

That sounds good. Probably skaffold should support both the current behaviour of appending the tag to the image as well as injecting <image>.tag as well, perhaps with some extra config, so it doesn't break existing skaffold users.

One idea - a bit convoluted but it supports the existing syntax as well.
When matching images, if <image>.tag is found as a value, the tag

[2018-04-10 21:48] r2d4 opened #365 "Clock skew prevents logs from being shown for local clusters"
Minikube occasionally suffers from clock skew when going to sleep, and since we stream logs "since" build (in host time), sometimes these logs never get shown. This is an issue we should probably fix on the minikube side but I want to track it here for users.

If you're using minikube, you can run this command to sync your time as a temporary workaround.

`minikube ssh -- docker run -i --rm --priv

[2018-04-10 21:54] r2d4 opened #366 "Kubectl deployer should match only on image and ignore tag"
Right now we expect users to not specify a tag in their kubernetes manifests for the kubectl deployer. We should match on image and ignore any tags the user might have.

[2018-04-11 00:39] r2d4 commented on #363
If you don't care about the profile flag, you can just run the example from v0.3.0 branch

https://github.com/GoogleCloudPlatform/skaffold/tree/v0.3.0/examples/getting-started

[2018-04-11 00:49] r2d4 opened #367 "Example versioning"
Our example are meant to work with skaffold at HEAD, but that won't always work with the latest skaffold release, as we add new fields. Whats the best way to convey this to users?

* Warning on example configs
* Point README to examples at tag of last released version
* Move examples to different repository
* Duplicate examples to "integration" folder, only update on release

ref #363

[2018-04-11 02:13] davidfic commented on #363
That is where I am running it from.

I have a fresh download of skaffold, version reports v0.3.0. I go to the getting started folder and when I run `skaffold dev` I get the following output

     skaffold dev
    ERRO[0000] run: getting skaffold config: parsing skaffold build config: Unknown builder for config &
    {Artifacts:[0xc4206cc140] TagPolicy:{GitTagger:<nil> ShaTagger:0x2005ec0} BuildTyp

[2018-04-11 13:31] bhack commented on #150
https://blog.hasura.io/draft-vs-gitkube-vs-helm-vs-ksonnet-vs-metaparticle-vs-skaffold-f5aa9561f948

[2018-04-11 18:17] #254 closed

[2018-04-11 18:24] #365 closed

[2018-04-12 04:59] #16 closed

[2018-04-12 05:15] #298 closed

[2018-04-12 05:32] r2d4 opened #370 "How should skaffold write output for the user?"
Currently, skaffold passes an `out` and an `err` io.Writer all the way from the root command, where they are set to `os.Stdout` and `os.Stderr`. This requires every function who wishes to write to the output to accept those as parameters. Builders and Deployers take in the `out` parameter.

Another pattern is to use a global writer utility, something like `util.Outputf`, which can be called by any

[2018-04-12 07:26] #145 closed

[2018-04-12 07:28] dgageot commented on #184
This has been fixed with https://github.com/GoogleCloudPlatform/skaffold/pull/316. @jstrachan can you confirm?

[2018-04-12 07:31] dgageot commented on #282
I'm going to close this issue. @clanstyles feel free to reopen if there's more to be added.

[2018-04-12 07:31] #282 closed

[2018-04-12 08:39] jstrachan commented on #353
@deepejai though you can use `kubectl apply` on OpenShift too you know ;) as of recent versions (I think 3.8?) OpenShift's custom resources like `DeploymentConfig` and `Route` use standard kubernetes API groups so can be applied via `kubectl` too

[2018-04-12 08:52] jstrachan commented on #346
We're working on an OSS project called [Jenkins X](http://jenkins-x.io/) which is focussed on automating CI/CD for developers on kubernetes, automating the setup of a development environment with Jenkins/Nexus then `Staging` and `Production` etc.  Here's a [little demo](http://jenkins-x.io/demos/create_spring/) to show you how previews and promotion work: etc.

So we're hoping ASAP to use skaffold

[2018-04-12 09:03] #184 closed

[2018-04-12 09:08] jstrachan commented on #330
another option is a 'noop' option for deploy I guess.

For doing releases we can pass in the version used on the CLI so if a release pipeline wants to do deployments differently (e.g. via GitOps) then thats fine, we can use skaffold just for the docker build part.

[2018-04-12 09:17] jstrachan commented on #330
ah - ignore me! I've found that an empty manifests list works without failing the build:.
[code]

[2018-04-12 09:38] jstrachan opened #372 "`update Deployment` deployment strategy for development?"
with kubernetes there are lots of different ways to work with YAML/ksonnet/templating/helm/GitOPs and whatnot to get kubernetes resources updated into Kubernetes. Also sometimes images are built in git repositories separately from where thing are composed together into courser grained charts etc. (e.g. the kubernetes charts repository https://github.com/kubernetes/charts typically doesn't have the

[2018-04-12 09:41] jstrachan opened #373 "time for a 0.4.0 release?"
now the lovely `envTemplate` is there we'd love a release we could try use in Jenkins X! Am hopeful its gonna work...

[2018-04-12 10:17] afrittoli commented on #361
Thanks @jstrachan that looks interesting.

Since that is defined globally in the build section, how would that work with multiple images?
Also I'm using the helm deployer, which allows me to pass a values file to helm, but that means that I have to template the values file in a similar way to what I'm templating skaffold.yaml today.

Runtime flags in skaffold and/or user overrides + overlays like

[2018-04-12 10:30] jstrachan commented on #361
The `envTemplate` avoids having to do the templating for the registry URL of the `skaffold.yaml` file; if you want you could template the user + image name too via env vars if you like?

Agreed that we'd need a way to get the helm skaffold deployer able to pass in environment variables on the CLI too. We maybe need a way to specify those...

[code]

Note that `setValuesTemplates` is not yet suppor

[2018-04-12 13:30] dgageot commented on #366
@r2d4 Don't we do that?

[2018-04-12 16:53] anthonydahanne opened #376 "skaffold dev only re deployed once"
### Expected behavior
any change to the source should trigger the whole chain

### Actual behavior
first change worked fine, others don't trigger anything; I had to re run the command ```skaffold dev```

### Information

[code]
[code]

### Steps to reproduce the behavior

 ```skaffold dev```

[2018-04-12 17:13] gtseres commented on #309
Could you please provide some more info on what has to be done for this one?

[2018-04-12 17:19] r2d4 commented on #376
Are you using an IDE? #313 has been fixed, but was not present in v0.3.0

[2018-04-12 17:52] r2d4 commented on #373
I'll do one today!

[2018-04-12 18:40] shimmerjs commented on #40
This would be awesome.  There are several things we're having to do outside of skaffold at the moment including some bare bones initialization (copying `~/.npmrc` to `.npmrc` so that its available for docker build) as well as things like linting helm charts.  It would be great if there were some way to configure these as prechecks in skaffold directly.

[2018-04-12 19:10] anthonydahanne commented on #376
interesting; I've been using both IntelliJ and vim , on mac os

[2018-04-12 19:14] anthonydahanne commented on #376
I'll test 0.4.0 when it's out

[2018-04-12 19:27] nilfanif commented on #232
both version in SVG format.

[Skaffold logo SVG.zip](https://github.com/GoogleCloudPlatform/skaffold/files/1904659/Skaffold.logo.SVG.zip)

[2018-04-12 20:15] #373 closed

[2018-04-12 22:14] r2d4 opened #382 "Move over rest of testutil to use cmp.Diff"
We have a few testutil functions that still use reflect.DeepEqual that should instead use cmp.Diff for better output.

[2018-04-12 22:14] r2d4 commented on #382
Like #381

[2018-04-13 04:34] dgageot commented on #376
Hi @anthonydahanne, nice to see you here! Yes, 0.4.0 should do the trick.

[2018-04-13 10:04] antonversal opened #384 "Extra WARNs `is not used by the deployment`"
### Expected behavior
Do not show warns `WARN[0079] image [gcr.io/k8s-skaffold/leeroy-web] is not used by the deployment` as it used by other manifest
### Actual behavior
it shows warns
[code]
### Information
version 0.4.0
[code]

### Steps to reproduce the behavior

  1. cd examples/microservices
  2. skaffold dev

[2018-04-13 10:11] antonversal opened #385 "rebuilds all docker files when only one change is made"
microservices example
### Expected behavior
Should rebuild only one docker file for workspace that was changed
### Actual behavior
it rebuilds all docker files
### Information
was ok in 0.3.0
[code]

### Steps to reproduce the behavior

  1. change something in leeroy-app/app.go
  2. see log:
[code]

[2018-04-13 10:21] antonversal opened #386 "strange behaviour with .dockerignore"
microservices example
### Expected behavior
should ignore files stated in `.dockerignore` without `**`, like `app.go`
### Actual behavior
only ignores files which have `**`, like `**/app.go`
### Information
Given microservices example
And `.dockerignore` file in same folder as `Dockerfile` with content `app.go`
When `skaffold dev` is run
It does not ignore `app.go`
[code]

### Steps to reproduce t

[2018-04-13 10:30] antonversal commented on #272
I have same issue with v0.4.0. I have ~ 4k files. Is it a lot?

my workaround is to set `ulimit -S -n 4048`

[2018-04-13 14:09] cmoad opened #387 "open Dockerfile: no such file or directory"
Upgraded to v0.4.0 and a working config for v0.3.0 now fails. It looks like my custom dockerfilePath isn't being picked up anymore.

### Expected behavior

skaffold v0.4.0 runs the same as skaffold v0.3.0 with the same config file.

### Actual behavior

Getting an error that I did not in v0.3.0.

[code]

### Information

[code]

[2018-04-13 14:16] cmoad commented on #387
Looking through the source reveals a new yaml path for dockerfilePath:

[code]

Updating my config to this layout seems to fix the problem. I can't find any examples of this change in the repo.

[2018-04-13 14:18] antonversal commented on #272
I run ` skaffold dev -v debug`. What I can see is `Recursively adding data` for all excluded folders in `.dockerignore` and then ignoring of each file. Because of that startup time is super long and probably it causes the issue `too many open files`
log(short version):
[code]

[2018-04-13 16:02] anthonydahanne commented on #376
hey there @dgageot , it's nice to run your stuff too :-)
unfortunately, v0.4.0 fixes the watch issue but... introduces a new issue : I no longer get the output (sys out) from the newly spawn container.

[code]
etc.
[code]

and then, after I do a change to SimpleJavaApplication.java, from my IDE :
[code]

Now, if I look further and do :
[code]

I'll see the logs alright

So yeah, it detects the cha

[2018-04-13 16:49] dgageot commented on #384
@antonversal Thanks for noticing. I added this bug in 0.4.0. It's fixed by https://github.com/GoogleCloudPlatform/skaffold/pull/333 (among other things)

[2018-04-13 16:51] dgageot commented on #376
@anthonydahanne Does it fail also with the getting-started example?

[2018-04-13 16:54] dgageot commented on #387
Thanks @cmoad it's indeed a breaking change and we should add at least a sample

[2018-04-13 17:36] Ethan826 commented on #322
Adding `~/.docker/config.json` and filling it with
[code]
as @sirajg's comment suggested fixed the issue for me.

[2018-04-13 18:04] anthonydahanne commented on #376
yup, unfortunately, it's the same.
Here, in the getting-started folder (tag v0.4.0), ```skaffold dev -v debug```,  I just edited the file with vim, in another terminal :
[code]

and, then silence...

[2018-04-13 18:26] dgageot commented on #376
Works for me here... Could it come from your k8s?

[2018-04-13 18:27] dgageot commented on #376
Whoops, no seems to fail sometimes on my machine too

[2018-04-13 18:40] #385 closed

[2018-04-14 09:17] bhack commented on #348
I think that there could be something in common with Skaffold also for the debug requirements https://github.com/Azure/vscode-kubernetes-tools/pull/160

[2018-04-14 15:24] bhack commented on #346
It could be nice to see how the flow could be integrated with  [k8s spinnaker](https://www.spinnaker.io/guides/tutorials/codelabs/kubernetes-source-to-prod/).
@jstrachan Any particular plan of Jenkins X with Spinnaker cause it already integrates with Jenkins.

[2018-04-14 20:49] zanetworker opened #393 "Multi-stage builds support in getting-started Dockerfile"
### Expected behavior
Use multi-stage builds for getting-started example.

### Information
Currently the Dockerfile used in the getting started examples is in the "single-stage" format. As an optimisation, multi-stage format could be used

[2018-04-15 00:58] #382 closed

[2018-04-16 02:28] Anakin-Hao commented on #387
I m seeing the same issue.
My Env    : Win 10 Pro
Minikube : v0.25.0
Skaffold   :v0.4.0

`
apiVersion: skaffold/v1alpha2
kind: Config
build:
  artifacts:
  - imageName: proj-rest
    dockerfilePath: ./myproject/Dockerfile
`

it's complaining on "Error: running skaffold steps: getting path to dependency map: generating path to artifact map: getting paths for artifact abbott: getting dockerfile depe

[2018-04-16 06:14] dgageot commented on #387
@Anakin-Hao Can you change the configuration and retry?

[code]

[2018-04-16 06:14] #393 closed

[2018-04-16 09:27] jstrachan opened #397 "provide a way to pass in the tag to use from the CLI for Google Cloud Builder"
the `--tag` seems to work fine with `local` builds but gets ignored for `Google Cloud Builder` builds. I tried using the `envTemplate` approach and that didn't seem to get used for the image tag either; was always `latest`

e.g. using `skaffold-gcb.yaml`
[code]
then tried:
[code]

[2018-04-16 19:32] bhack commented on #372
I think that this is also the Spinnaker cause generally it don't own the build phase [building phase](https://www.spinnaker.io/guides/tutorials/codelabs/kubernetes-source-to-prod/) that often rely on Jenkins or other cloud services.

[2018-04-17 06:59] nigorice commented on #240
I think I found the issue, it's related to the number of inotify watchers: https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers.

Hope it helps.

[2018-04-17 16:07] r2d4 commented on #397
I'll call this a bug, the GCB builder doesn't respect the taggers yet. Its still TBD how the spec should be look. I think most of this information should be given at the artifact level, since I'm not sure we are going to support all different artifact build types in GCB (bazel, buildah, etc.)

[2018-04-17 17:33] LibertyBeta commented on #366
Can confirm that's not how its working in 4.0. As of right now if you tag ether image(via a envTemplate or the manifest) it won't deployed the watched image and throws an error that its not used.

The artifact image name and the manifest image name must match exactly. Which means branching for local/remote is rather tricky. It appears from the docs that tagPolicy should solve this, but it doesn't.

[2018-04-17 22:58] stevenbarragan commented on #397
I think this is related https://github.com/GoogleContainerTools/skaffold/issues/200

[2018-04-18 02:42] numbsafari opened #403 "Bazel BUILD and WORKSPACE files not tracked for changes."
### Expected behavior

When running `skaffold dev` on a Bazel based project, modifying the `BUILD` or `WORKSPACE` files should trigger a rebuild.

### Actual behavior

The `BUILD` and `WORKSPACE` files are not included on the watch list.

### Information

[code]

### Steps to reproduce the behavior

  1. Check out this repository.
  2.  `cd examples/bazel`
  3.  `skaffold dev`
  4.  Edit the `BUIL

[2018-04-18 03:27] numbsafari opened #404 "Non-top-level bazel builds don't properly tag artifact"
### Expected behavior

When a bazel artifact has a non-top-level target, e.g. `//botbot:botbot.tar`, and an `imageName` like `gcr.io/my-project/botbot`, then running `skaffold dev` should produce a docker image named `gcr.io/my-project/botbot` tagged with the appropriate digest.

### Actual behavior

Running `skaffold dev` generates a warning (`WARN[0009] run: build: build step: digest not found`)

[2018-04-18 04:52] Anakin-Hao commented on #387
@dgageot
Using this config, i m getting error on "Cannot locate specified Dockerfile:"

skaffold.yaml
[code]

Output
[code]

- My OS : Win 10 Pro
- Minikube : v0.25.0
- Skaffold : v0.4.0

[2018-04-18 20:15] r2d4 opened #406 "Test flake: TestEnvTemplateTagger_GenerateFullyQualifiedImageName/opts_precedence"
[code]

ref #402

[2018-04-18 20:16] r2d4 commented on #406
https://travis-ci.org/GoogleContainerTools/skaffold/jobs/368247642

[2018-04-18 20:28] r2d4 opened #407 "Enhance git tagger to tag with latest git tag or other formats"
The git tagger currently doesnt take any parameters but should take some to configure how we resolve  image tags from git history. Some options I'd like to see, not sure if they should be exposed as bool parameters or a string enum.

[code]

[2018-04-18 20:28] r2d4 commented on #407
Happy to help someone design and implement this

[2018-04-18 22:58] stepharr commented on #407
@r2d4 I'm interested in taking this on, but would like some clarification please.

- Is the objective to have git tags created from merged commits?
- Do you know of any examples already in existence as reference?

[2018-04-19 03:01] r2d4 commented on #407
Awesome! Let me give you some background.

Skaffold has a few different interfaces: builders, taggers, and deployers. Taggers are responsible for taking the build and artifact metadata, and generating a docker image tag from it. That tag will then be used to tag the image in the repository (or daemon) and as part of the kubernetes deployment.

There are different "taggers" today:

* sha256 tags wi

[2018-04-19 03:04] r2d4 commented on #407
@stepharr Github won't let me assign this issue to you as a non-collaborator, so I'll assign it to myself so nobody else picks it up

[2018-04-19 03:11] r2d4 commented on #309
@gtseres We'd like to have a new "tagger" implementation that generates a docker image tag with the date time

You would add a new struct in the v1alpha2 config

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/v1alpha2/config.go

[code]

Add a new tagpolicy entry for it

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/v1alpha2/confi

[2018-04-19 03:12] r2d4 commented on #309
There is also a little more context on the taggers in https://github.com/GoogleContainerTools/skaffold/issues/407

[2018-04-19 03:19] r2d4 opened #412 "Add bazel to skaffold image"
This is needed before we write a integration test

[2018-04-19 05:12] dgageot opened #413 "Support multiple artifacts in no-manifest mode"
We currently only allow a single artifact if no k8s manifest is provided.
The main reason is that we have a fixed name for the deployment.
We could use `metadata.generateName` instead of `metadata.name`

[code]

To let kube generate a name for the deployment, so we can reuse the same template.

[2018-04-19 05:14] dgageot opened #414 "Write kubectl output directly to stdout"
Currently, `RunCommand` buffers output and let the caller print it or not. We might want to set `cmd.Stdout = out`

[2018-04-19 05:15] dgageot opened #415 "Is it safe to run helm des build on every dev loop?"

[2018-04-19 05:26] qnm commented on #240
@r2d4 Confirming that the approach suggested by @nigorice solved my issue - thanks!

[2018-04-19 16:35] r2d4 opened #416 "Fix docker load output in bazel build"
[code]

from https://github.com/GoogleContainerTools/skaffold/blob/7a89445cc34ee6f243fdf9e039c7d9264fd7cd6a/pkg/skaffold/build/bazel.go#L60

[2018-04-19 19:07] r2d4 commented on #240
We might be able to query and at at minimum warn the user if they approach the limit. Or we can implement a better filewatcher without inotify

[2018-04-19 22:50] r2d4 opened #418 "Add Kaniko builder"

[2018-04-19 22:51] r2d4 opened #419 "Use `kubectl config set-context --namespace` in integration tests"

[2018-04-20 05:46] #366 closed

[2018-04-20 05:46] #384 closed

[2018-04-20 06:02] #406 closed

[2018-04-20 06:25] #200 closed

[2018-04-20 06:25] #397 closed

[2018-04-20 10:38] errordeveloper opened #422 "example of rebuild logic for Docker images"
I would like to share a `Makefile` I wrote for one JavaScript project, I think it maybe of some interest. It's not the prettiest piece of code and can be refactored, but it's works very well as is. If it is of interest, I'd be happy to take stab at a PR that implements something similar.

To be clear, one can certainly optimise `Dockerfile` (and `.dockerignore` etc) fairly well (although it's not

[2018-04-20 14:11] hemslo commented on #360
I find a workaround for current version:

change skaffold.yaml to

[code]

then change deployment.yaml

[code]

I think the correct way is not to use `tagger.GenerateFullyQualifiedImageName` as tag, use image name and tag separately.

[2018-04-20 16:25] dlorenc commented on #415
@viglesiasce said it was safe at some point when I added it.

[2018-04-20 16:53] viglesiasce commented on #415
`helm dep build` should be idempotent as it updates the charts directory based on the requirements.lock file. `helm dep up` would recheck and update the dependencies if there were any chnages to the available chart versions.

[2018-04-20 17:11] dgageot commented on #61
Not yet finished!

[2018-04-20 17:14] dgageot commented on #376
@anthonydahanne can you check with master? This should be fixed

[2018-04-20 17:25] #415 closed

[2018-04-20 21:04] r2d4 opened #425 "Make git tagger the default for both dev and run"
Right now the default tagger is different for skaffold dev and skaffold run. I think it makes more sense to always tag with git commit, since its more digestible (no pun intended) than a seemingly random checksum.

I've been convinced @dlorenc

[2018-04-20 22:01] #418 closed

[2018-04-21 19:42] r2d4 commented on #71
https://aur.archlinux.org/packages/skaffold/

[2018-04-21 19:42] #71 closed

[2018-04-22 01:24] wi-ski commented on #71
I'm absolutely elated at the fact you did this six hours before I wanted it. Thank you for all your efforts you handsome, handsome man. <3

[2018-04-22 01:52] r2d4 commented on #71
I wish I could take credit, but this work was not my doing. Thank you @frealgagu!

[2018-04-22 07:49] jstrachan commented on #330
reopening as it looks like the current strategy of using an empty manifests value fails if a base image has a port exposed
https://github.com/jenkins-x/jx/issues/690

Another option is a NOOP deploy strategy - but I figure a Command strategy is more useful

[2018-04-22 17:00] r2d4 opened #435 "Add kaniko integration test"

[2018-04-22 20:16] dgageot commented on #425
@r2d4 Should we create a new version of our config file?

[2018-04-23 01:49] Anakin-Hao commented on #387
@dgageot any update?

[2018-04-23 03:44] anthonydahanne commented on #376
hey there !
I locally build skaffold on my mac, and then started my dev deployment with it :

```$ ~/go/src/github.com/GoogleContainerTools/skaffold/out/skaffold-darwin-amd64 dev```

After half a dozen re deployments, it continued working like a charm; so seems fixed to me 😃
And BTW, I love the cleaning up step that was added ! saves me some commands !

[code]
Thanks !

[2018-04-23 04:56] dgageot commented on #376
Thanks @anthonydahanne. I'm closing the issue then

[2018-04-23 04:56] #376 closed

[2018-04-23 08:44] bjornmagnusson opened #439 "Bash for Windows: fatal error: runtime: netpoll failed"
### Expected behavior
Executing skaffold without arguments should show help output
A tool that facilitates continuous development for Kubernetes applications.

Usage:
  skaffold [command]

Available Commands:
  completion  Generate shell completion scripts
  dev         Runs a pipeline file in development mode
  docker      A set of commands related to developing with docker
  fix         Converts

[2018-04-23 16:17] #419 closed

[2018-04-23 16:20] r2d4 opened #440 "Release 0.5.0"

[2018-04-23 16:29] r2d4 commented on #363
Now that we have config versioning, we should at least be able to error on this earlier. The long term strategy is to move the examples to a separate repository.

[2018-04-23 16:29] #363 closed

[2018-04-23 16:30] r2d4 commented on #336
@diit any update here? Can you try running with `-v debug`?

[2018-04-23 16:59] r2d4 opened #441 "Functionality not covered by integration tests"
An umbrella issue with the functionality not covered by integration tests. These items should be verified manually.

Examples not covered by integration tests

- [x] ./skaffold.yaml
- [x] examples/kaniko
- [x] examples/bazel
- [x] examples/helm
- [x] examples/microservices
- [x] examples/jib
- [x] examples/nodejs
- [x] examples/structure-tests

Commands not covered by integration tests

- [x] skaf

[2018-04-23 17:20] ekoome opened #442 "Docker cloudbuilder folder copy issues"
Issues without logs and details are more complicated to fix.
Please help us!

### Expected behaviour
Docker COPY command should copy folder and contents to docker image.

### Actual behaviour
Step 2/7 : COPY bin /app/bin
COPY failed: stat /var/lib/docker/tmp/docker-builder232188484/bin: no such file or directory

### Information
Confirmed that the folder is part of context generated by Skaffold (c

[2018-04-23 17:34] r2d4 opened #443 "Warnings on first skaffold run"
[code]

[2018-04-23 18:11] r2d4 opened #445 "Unhelpful error message on missing dockerfile"
`skaffold run` on a skaffold.yaml with a bad or no dockerfile path.
This should be a more helpful error

`
Error: running skaffold steps: build: build step: running build for artifact: running build: docker build: error during connect: Post http://%2Fvar%2Frun%2Fdocker.sock/v1.35/build?buildargs=null&cachefrom=null&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile

[2018-04-23 18:43] r2d4 opened #447 "Helptext is shown after all errors"
[code]

[2018-04-23 20:39] ekoome commented on #442
Figured out the problem is that the context is generated from windows and files are extracted as folder\folder\file in docker image. How do I force the context to unix format?

[2018-04-23 20:54] r2d4 commented on #443
cc @dlorenc I think the retrieveRemoteImage code is actually broken

[2018-04-23 21:18] #445 closed

[2018-04-23 23:41] #440 closed

[2018-04-24 17:00] dgageot commented on #416
Let's reopen it since the fix was reverted

[2018-04-24 17:02] dgageot opened #456 "Recent docker can provide the digest at the end of build"
We currently generate a random id to tag a newly built image. That produces some noise that makes tagging process complicated to understand.

Docker versions with api >= 1.30 support returning the images digest ta the end of the build process.
This was done in https://github.com/GoogleContainerTools/skaffold/pull/428 but failed to check the api version.

[2018-04-24 20:02] tariq-islam opened #457 "Allow for setting the deployment name when no manifests are used"
Issues without logs and details are more complicated to fix.
Please help us!

### Expected behavior
1. Project has no k8s manifests (pod yaml etc)
2. skaffold dev/run --deploymentname=myapp
3. Skaffold deploys
4. kubectl get deployments
5. Listing shows deployment "myapp"

### Actual behavior
Currently, kubectl dev/run results in all deployments taking on the name of "skaffold" as a non-configurab

[2018-04-24 22:52] WilliamDenniss opened #458 "Skaffold pipes logs from out of date pods"
### Expected behavior
Skaffold only pipes logs output of up to date pods.

### Actual behavior
Skaffold pipes logs of all pods in the deployment, including ones in the deployment that are out of date.

### Information

[code]

### Steps to reproduce the behavior
  1. Start with a working skaffold setup (I used a simple NodeJS app)
  2. Intentionally introduce a runtime issue
  3. Skaffold will pip

[2018-04-24 23:03] WilliamDenniss opened #459 "output a message when the deployment rollout is complete"
### Expected behavior
Indicate to the user when the deployment is fully rolled out and available.

### Actual behavior
Currently Skaffold indicates when the deployment is complete in the sense that the image was uploaded, and the image set on the deployment – but it doesn't watch the rollout status and indicate when the deployment is actually ready for use.

### Information

[code]

### Steps to r

[2018-04-24 23:06] WilliamDenniss opened #460 "Incorrect warning "image [...] is not used by the deployment""
### Expected behavior
No incorrect warnings.

### Actual behavior
Every time I make a change and trigger a re-deployment, I get an error like:
[code]
Yet the deployment *is* modified with the updated image, so I'm not sure what the error is indicating,

### Information

[code]

### Steps to reproduce the behavior

  1. run `skaffold dev`
  2. Save a a change

[2018-04-24 23:08] WilliamDenniss opened #461 "Feature Request: Output the commands being run by skaffold"
Can we output the commands being run by Skaffold at a certain log verbosity?

For example, let's say I'm having an authentication issue pushing an image, and I'm getting the errors output. Can we output the stand alone commands as well (e.g. `docker push …`) so that I can run / investigate just the command that is failing?

### Information

[code]

[2018-04-24 23:13] WilliamDenniss opened #462 ".dockerignore isn't watched for changes"
### Expected behavior
Changes to `.dockerignore` should be reflected immediately.

### Actual behavior
Need to restart Skaffold to pickup changes in `.dockerignore`.

### Information

[code]

### Steps to reproduce the behavior

  1. Add a file to `.dockerfile`
  2. Modify that file
  3. Observe that Skaffold still triggers despite the file being ignored

[2018-04-24 23:19] WilliamDenniss opened #463 "Feature request: Trigger on changes to the kubernetes manifests, even when they are .dockerignore'd"
### Expected behavior
I should be able to add my Kubernetes manifests to `.dockerignore`, as I don't wish for them to be included in my container.

However, I would still like changes to those manifest files (e.g. replica count, etc) to be applied to the cluster.

Even better would be for changes to the manifests to be applied to the cluster *without* the step of building an image (due to the fact

[2018-04-24 23:49] r2d4 commented on #461
They should be output with `--v debug`. We aren't always shelling out (i.e. we use the docker API directly), but could definitely add more verbosity around what we're doing there.

The registry auth is specifically a tricky issue, since we don't get any decent errors from the API or registry itself. We might need to special case some of those with better user-oriented action items.

[2018-04-24 23:51] WilliamDenniss opened #464 "Obtuse error message when docker isn't authenticated with GCR"
### Expected behavior
When docker can't push to GCR due to a lack of gcloud credential helpers, the error message is a little confusing.  It might be simpler just to say "you need to run run `gcloud alpha auth configure-docker`" (or provider pointer to where this is [documented](https://github.com/GoogleContainerTools/skaffold#installation)) rather than sending them to the complex GCR authenticati

[2018-04-24 23:51] r2d4 commented on #463
We actually do a bit of introspection on the dockerfile to create the absolute minimum context. This means that if you do your COPYs and ADDs in the minimum way (i.e. not just `COPY . .`), we'll only add the necessary files to the docker context.

Skaffold _should_ do this today in v0.5.0 with this change https://github.com/GoogleContainerTools/skaffold/pull/432. If thats not working, its a bug

[2018-04-24 23:52] r2d4 commented on #462
This makes sense. We parse the dockerfile for dependencies and add those files to the "watch" list, but we have to manually add the Dockerfile itself to that list. We should do the same for .dockerignore.

[2018-04-24 23:54] r2d4 commented on #460
What does your kubernetes manifest look like if you can share?

[2018-04-24 23:55] r2d4 commented on #464
Yup, this is a common use case. Thats the error we get from the registry, so its as obtuse on our end. We can do something like docker does when push fails. I kind of hinted at this in the other issue. Its probably common enough and unclear enough to be special cased.

`Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?`

[2018-04-25 00:00] WilliamDenniss commented on #460
Sure thing, here they are:

[code]

[code]

[2018-04-25 00:02] r2d4 commented on #459
We don't currently do introspection on the kubernetes resources themselves, so we don't know that we've just deployed a deployment or a pod or some CRD.

One method would be to just parse known types (deployment, pods) and we'd be able to output "readiness" for types. However, this gets a little trickier with higher level deploy representations (e.g. when is a chart "ready"?). However, I think its

[2018-04-25 00:07] r2d4 commented on #460
Hm, most likely a bug - this code has had some false positives before, I'll see if i can reproduce it.

[2018-04-25 00:16] WilliamDenniss commented on #463
Oh, nice. Just updated to 0.5.0, and it's working perfectly!

[2018-04-25 00:16] #463 closed

[2018-04-25 00:31] WilliamDenniss commented on #461
Ah ok. I am seeing some other command logs now you mention it.

For the push, the output currently is:
[code]
Even though we're using the API rather than shelling out, can we construct a reliable shell command anyway and log that? Could be formatted differently to the actual shell commands, to avoid confusion.

E.g. we could say:
[code]

This gives a little more information including: the exact co

[2018-04-25 01:00] WilliamDenniss commented on #460
I'm not seeing it in 0.5.0, will assume it was fixed.

[2018-04-25 01:00] #460 closed

[2018-04-25 03:21] clanstyles opened #465 "Docker Bazel"
[code]

### Steps to reproduce the behavior

[code]
I'm confused, it's looking for a Dockerfile. I haven't seen one. How is this expected to work?

[2018-04-25 03:29] clanstyles commented on #465
Yeah, I just got it solved. For some reason my version of Skaffold didn't update. I pulled the latest but something goofed up with my paths prioritizing the one in ```/usr/bin/```.

[2018-04-25 03:29] #465 closed

[2018-04-25 20:48] tariq-islam opened #471 "skaffold dev/run fails on files not added to git diff"
Issues without logs and details are more complicated to fix.
Please help us!

### Expected behavior
1. Create a skaffold pipeline file and name it anything other than 'skaffold.yaml'
2. skaffold dev/run
3. Skaffold successfully builds and deploys
### Actual behavior
Skaffold errors with:
Error: running skaffold steps: build: build step: generating tag: reading diff: open /Users/tariqislam/opt/hell

[2018-04-26 05:01] dgageot opened #472 "`gitCommit` tagger was renamed `git`"
Should we update the documentation? Should we revert to old name?

[2018-04-26 06:50] dgageot commented on #458
We should be able to ignore logs from Terminating pods

[2018-04-26 12:44] dgageot opened #477 "Support containers that don't need rebuilding on each change"
Containers that serve static resources such as html, css or javascript shouldn't be built each time there's a change. It's too painful for the users.

With Docker for Desktop and docker-compose, I’d just bind mount the sources and that would be it. No rebuild involved and Live Reload could be setup to smooth the developer experience even more.
What we could do in Skaffold, un dev mode, is let the

[2018-04-26 12:57] dgageot opened #478 "Sometimes, logs are not shown"
To reproduce this, I run the `micro-services` in dev mode, interrupt it with ctrl-c and restart it in dev mode.

Sometime all the logs are there. Sometimes, it feels like skaffold is subscribing to the containers that are terminating and doesn't subscribe to those that starting.

[2018-04-26 13:17] dgageot opened #479 "Support Bazel artifacts on Kaniko?"
Since the skaffold.yaml can be configured to build Bazel artifacts with Kaniko, we should implement it or change the way we configure the build.

[2018-04-26 13:29] dgageot opened #480 "Skaffold.yaml files are not portable"
Something  that didn’t felt right when I configured the application to deploy it on GKE is that some parameters are stored in the skaffold.yaml and some are not. It makes it complicated to know what I have to change if I get a project from someone else and try to run it on my project.

  | skaffold.yaml | Manifests
-- | -- | --
Kubernetes context | CAN’T | -
Kubernetes namespace | CAN’T | CAN
GCB

[2018-04-26 14:18] afrittoli commented on #361
Something like this works for me know, and it saves me templating the skaffold configuration, which is great:

[code]

However I still have two issues:
- helm-values includes secrets which I would like to pass via CLI interactively or pull from an environment variable as opposed to store in a file.
- the helm release name is fixed, which is fine when deploying to a mini kube. When used in CI and d

[2018-04-26 14:35] afrittoli opened #481 "DIGEST cannot be used to tag images with envTemplate"
I try to use the envTemplate tag strategy, but it doesn't work as expected because DIGEST is in the form sha265:<digest>:

'''
  tagPolicy:
    envTemplate:
      template: "{{.IMAGE_REG}}/{{.IMAGE_REG_NS}}/{{.IMAGE_NAME}}:{{.MY_DIGEST}}"
'''

### Expected behavior

The image tag is `my-registry.me/my-namespace/my-image:<digest>`.

### Actual behavior

The image tag is `my-registry.me/my-namespace

[2018-04-26 15:42] clanstyles opened #482 "Bazel isn't watching files"
Issues without logs and details are more complicated to fix.
Please help us!

### Expected behavior
Should be watching files

### Actual behavior
Only watches the YAML files

### Information

[code]
[code]
[code]

It's not watching any of the code. It seems to be building, but not deploying (gives me an image can't be pulled error).

I may be missing something with bazel too. I'm not too familiar

[2018-04-26 16:45] r2d4 opened #483 "Add watch for skaffold.yaml"
Skaffold.yaml changes should retrigger the full pipeline on `skaffold dev`. We can use a pattern like we used for the deploy dependencies.

[2018-04-26 20:15] shimmerjs commented on #478
I am also experiencing this with the Helm deployer, and I also had the guess it was listening to the terminating pods from the previous deploy.

[2018-04-26 20:17] r2d4 commented on #478
We are matching the containers by image name, but sometimes the image name is updated before the actual pod is re-rolled (i'm not sure how). We can fix this by directly referencing the image checksum. I tried to describe the issue here

https://github.com/GoogleContainerTools/skaffold/pull/191

[2018-04-27 04:29] r2d4 commented on #387
Yes, I suppose skaffold should take paths relative to the skaffold.yaml. Currently, all paths are relative to the skaffold process directory. Taking paths to the skaffold yaml makes things a bit trickier in the code, since all paths will need to be joined or executed in the context of that separate config path.

[2018-04-27 07:13] errordeveloper commented on #422
@r2d4 thanks, that's very good to hear! I'll take a look at the implementation at some point, and try to reflect how it relates to what's here. I'd like to keep this open until I had a chance to do that.

[2018-04-27 07:25] errordeveloper commented on #407
We have a simple [homegrown script](https://github.com/weaveworks/build-tools/blob/master/image-tag)
 that looks like this:
[code]
Having branch prefix allows you to:
a) visually tell one image apart from another
b) filter out well-known branches, e.g. master or dev

I'd really like to have this kind of formatting as an option.

[2018-04-27 07:35] errordeveloper commented on #407
Also, another strategy that is quite different, but I think it makes a lot of sense is one that LinuxKit uses. It computes (sub-)tree hash and uses that.

So if you see a LinuxKit image `<name>:<hash>` you can do `git show <hash>` and it will resolve to a tree.

The implementation lives in [`github.com/linuxkit/linuxkit/src/cmd/linuxkit/pkglib`](https://github.com/linuxkit/linuxkit/blob/7b0b7dff84

[2018-04-27 09:33] jstrachan opened #486 "cannot use environment variables in helm templates"
this came up here:
https://github.com/GoogleContainerTools/skaffold/issues/361#issuecomment-380723998

I think we need a way to pass in template expressions to helm chart values, like we do for `envTemplates` so that we can pass in, say, the local docker registry ip/port or private registry via environment variables like we can do for building the docker image name.

[2018-04-27 09:33] jstrachan commented on #361
I just tried doing something like this myself; using env vars for the private registry and helm and I cannot pass in expressions to helm unfortunately. I've raised this issue to see if we can have something like `envTemplates` for helm values as well

[2018-04-27 10:56] afrittoli commented on #486
Yeah, that would be handy.
The same could be used also to pull in secrets from environment variables securely set by the CI engine.

[2018-04-27 11:12] jstrachan commented on #486
here's a little PR that implements this.

e.g. I could use the following `skaffold.yaml` with the private local docker registry inside a pod in Jenkins X:
[code]

[2018-04-27 11:13] jstrachan commented on #486
let me know if you're happy with this general approach and if so I can try add a test for it

[2018-04-27 13:02] jstrachan opened #488 "use profiles to allow separate configurations for `skaffold run` v `skaffold dev`"
so in [Jenkins X](http://jenkins-x.io/developing/promote/) we need quite different configurations for using `skaffold run` versus `skaffold dev`:

* `skaffold run` used inside CI/CD pipelines in Jenkins X. We pass in env vars for the registry + the `$VERSION` as an environment variable for the Preview or Release version. We typically disable the `deploy` part of skaffold using [an empty manifest s

[2018-04-27 14:50] afrittoli commented on #361
If you control the chart, the thing you can do is to have a named template for the image that will build the fq image name from a dict of values or from a single value depending on what's set in values.
So that with the single value case it works with skaffold and otherwise it's the standard approach you can see charts.

[2018-04-27 15:07] afrittoli commented on #488
Looks like a sensible idea to me.

[2018-04-27 15:09] afrittoli commented on #486
The PR looks good to me - from a functionality pov.

[2018-04-27 15:33] dlorenc commented on #479
Yeah I think we want to change the way the build is configured. It wouldn't make sense to build bazel artifacts with kaniko.

[2018-04-27 15:36] dlorenc commented on #443
Checking this out.

[2018-04-27 15:43] dlorenc commented on #443
I'm not able to repro this on the getting-started example. Is that what you were using? What's in your docker config.json?

[2018-04-27 20:31] r2d4 commented on #187
Yep, we have the environment variable tagger that @dlorenc mentioned

[2018-04-27 20:31] #187 closed

[2018-04-27 20:34] r2d4 opened #490 "Document yaml through godoc or generated documentation"
Our YAML specification isn't well documented right now. Worse, our yaml parser won't warn on unknown keys, leaving user quite confused with typos or targeting old config specs.

A few things we should do

- [ ] Provide comments for all v1alpha2 structs
- [ ] Either expose those comments with a link to the godoc
- [ ] OR generate documentation that gets regenerated on every new configuration change

[2018-04-27 20:42] r2d4 commented on #387
Yep that would be great @derekperkins

[2018-04-27 21:17] clanstyles opened #491 "Docker build commands"
I have the following folder structure:

[code]

I need to build the docker containers with some command line arguments to include the parent directory. The command is as follows:

```docker build -f merchant-api/Dockerfile ../```

This works great. I don't know if I can get this working with Skaffold.

[code]

How can I include the second param '../' to the docker build command?

[2018-04-27 21:25] clanstyles commented on #491
I need to include two directories, the parent and the actual service. That's the only way I could find to build the project without having a Forbidden path error.

If I set the workspace as the parent, will that harm other artifacts using the same work space? I still am unsure how to provide two params to build the Dockerfile and the additional directory.

[2018-04-27 21:28] clanstyles commented on #491
[code]

I think I need to place them in buildArgs, after looking at the source buildArgs is a ```map[string]*string```. I don't need a value, so I don't think that additional path is supported?

[2018-04-27 21:57] clanstyles commented on #491
Solution:

[code]

This was the solution. After digging into the Docker client code, you can specify 0 to ignore the value.

[2018-04-27 22:32] clanstyles commented on #491
I take that back, this doesn't work. I had hard coded into the arguments this buildArgs to include the parent directory and thats what was working.

[2018-04-28 06:21] uipo78 opened #492 "Incorrect Dockerfile search"
### Expected behavior

I have a directory called "project" that looks like this
[code]

My skaffold file looks like this
[code]

I call `skaffold run -f skaffold.yaml` from `project`.

My expectation is that this should build, push, and deploy without issue.

### Actual behavior

It seems to build fine but I do receive an error:
[code]

Why would skaffold be looking for the Dockerfile in project?

[2018-04-28 12:53] jstrachan opened #493 "default Dockerfile not applied for profiles"
### Expected behavior

Defining a `build` in a profile should inherit the default `Dockerfile` and workspace of `.` so that it behaves the same as a regular `build` in the root directory.

e.g. moving

[code]

to be

[code]

should not change the behaviour. Whereas the latter barfs as it can't find the `Dockerfile`

### Actual behavior

Currently defaults of `.` on workspace and `Dockerfile` for t

[2018-04-28 19:45] jstrachan opened #496 "allow the helm deploy to default the namespace value from an environment variable if there is no value in the YAML"
in `dev` mode its handy to let developers spin up separate namespaces and work on the code and redeploy them without clashing with other developers. i.e. each developer should probably have a separate deploy namespace.

Right now to do this you need each developer to edit the `skaffold.yaml` file and update the `deploy.helm.namespace` value to something unique to avoid developers overwriting each

[2018-04-30 05:43] jonjohnsonjr commented on #456
Coming from a registry background: by "digest" here, I thought you were referring to the manifest's digest.

The docker client refers to this as the "Image ID", e.g. running:
[code]

you can see that `DIGEST` != `IMAGE ID`, and `docker build` is outputting the `IMAGE ID`.

Fun fact: for schema 2 images, the Image ID == the manifest's *config* digest.

I don't mean to bikeshed this too much, but ha

[2018-04-30 08:29] jstrachan commented on #496
BTW we just got `skaffold dev -p dev` working great inside a [DevPod](http://jenkins-x.io/developing/devpods/) in [Jenkins X](http://jenkins-x.io)! We're using our own [temporary patched skaffold binary](https://github.com/jstrachan/skaffold/releases) for now until we can [upstream the various PRs](https://github.com/GoogleContainerTools/skaffold/pulls/jstrachan)

Folks can sync the source code fr

[2018-04-30 08:32] jstrachan opened #498 "add docs on the environment variables/expressions used"
We've a few special environment variables/expressions used right now in the `envTemplates` expressions (and maybe soon on the same for helm charts too https://github.com/GoogleContainerTools/skaffold/issues/486) plus this PR: https://github.com/GoogleContainerTools/skaffold/pull/495.

So we should write a little doc that describes all the different values available in the different templates

[2018-04-30 19:45] #472 closed

[2018-05-01 07:09] rawkode opened #499 "Deployment Fails with YAML start of document ---"
### Expected behavior

YAML documents starting with `---` shouldn't cause errors during deployment

### Actual behavior

YAML is rendered incorrectly, but only on files with image interpolation, that causes deployment to fail

### Information

[code]

[code]

Content of skaffold.yaml:

[code]

Deployment.yaml

[code]

[2018-05-01 13:41] shimmerjs commented on #496
I would prefer letting Profiles reference environment variables so that the configuration of the dev tool is transparent to everyone that looks at the file.  Just my 2 cents, but I prefer to avoid opaque magic like environment variables taking effect in a configuration file that doesn't reference them.

[2018-05-01 13:58] stevenvegt commented on #226
We use skaffold for java projects. The Dockerfile copies the bootable jar into the image. Therefor deploying on code changes does not have any effect (it deploys the same old jar over again). It would be nice to just watch the output dir for new jar files. So being able to specify a watchpath would be nice.

[2018-05-02 00:33] sstarcher opened #500 "helm values support nested structure"
Issues without logs and details are more complicated to fix.
Please help us!

### Expected behavior

Support for nested helm values.

### Actual behavior

Parse error

### Information

[code]

[code]

### Steps to reproduce the behavior

  1. . skaffold run with a value that is more than a single nesting deep

[2018-05-02 06:22] ahmetb opened #501 "deploy.kubectl.manifests path relative to what?"
I'm reading this annotated manifest:

https://github.com/GoogleContainerTools/skaffold/blob/017912f879f7793a9e0eab16104bbaa9e556279c/examples/annotated-skaffold.yaml#L58-L66

It's unclear what `deploy.kubectl.manifests[]` paths are relative to (the yaml file, or where the cmd is run=$PWD, or the `workspace`). I think this should be documented.

[2018-05-02 06:33] ahmetb opened #502 "Unhelpful error message"
### Expected behavior

A helpful error message.

### Actual behavior

I can't tell if it's coming from skaffold or docker cli:

[code]

### Information

Skaffold version: v0.5.0
Operating system: macOS
Content of skaffold.yaml:

[code]

### Steps to reproduce the behavior

  1. Start docker for mac
  2. Start minikube (xhyve driveRr)
  3. `~/.docker/config` contents:

[code]
  4.  Run `skaffold de

[2018-05-02 06:41] ahmetb opened #503 ""workspace" field isn't relative to yaml; but PWD"
In skaffold v0.5.0 , it appears like "workspace" field is relative to the directory where the command is run (a.k.a. $PWD) rather than the yaml file.

Is this by design and/or the desired behavior?

For example, if I have a `voting-app` in my current dir ($PWD) and this yaml at `./skaffold/skaffold.yaml`:

[code]

I expect that the workspace will be computed relative to `./skaffold` not $PWD(=`.`)

[2018-05-02 08:11] ahmetb opened #504 "Cryptic error "manifest digest: [...] does not match Docker-Content-Digest: [...]" for base images"
I just instrumented https://github.com/dockersamples/example-voting-app with skaffold.yaml and I'm seeing these logs from `skaffold dev`:

[code]

### Information

Skaffold version: v0.5.0
Operating system: macOS
Content of skaffold.yaml:

[code]

## Repro steps

1. git clone https://github.com/dockersamples/example-voting-app.git voting-app
2. save skaffold.yaml listed above
3. run `skaffold dev

[2018-05-02 08:39] ahmetb opened #505 "add profiles to annotated-skaffold.yaml"
annotated-skaffold.yaml is missing the `profiles:` field entirely.

[2018-05-02 20:04] ahmetb opened #507 "Unhelpful error: WARN[0001] run: build: build step: running push: denied: requested access to the resource is denied"
- Skaffold v0.5.0.
- Docker for Mac (w/ Kubernetes) is currently running
- kubectl current-context pointing to a GKE cluster.
- docker config.json has `gcloud auth configure-docker` stuff

skaffold.yaml:

[code]

My `image:` fields in the k8s Deployment.yamls are not maching this `imageName:` currently but I still
 expect the image to be built but with a warning saying "image unused", example:

[c

[2018-05-02 20:41] quasiben opened #508 "stdout of helm command"
Is it possible to get the helm command on stdout executed by `skaffold dev` ?

[2018-05-02 23:05] ahmetb opened #509 "add "googleCloudBuild" to annotated-skaffold.yaml"
annotated-skaffold.yaml currently doesn't describe the `googleCloudBuild` object and its fields.

The only reference to it exists at https://github.com/GoogleContainerTools/skaffold/blob/52ecdec831f1a1346b4df7e4403641f32057537b/examples/getting-started/skaffold.yaml.

[2018-05-02 23:36] ahmetb opened #510 "cleanup handler is not working when skaffold output is piped to somewhere else"
Skaffold v0.5.0 on macOS.

When I normally run `skaffold dev` and hit Ctrl+C, I see the "Cleaning up..." message and things get cleaned up.

However if I do something like this:

    skaffold dev 2>&1 | grep -v "Pushing code to"

hitting Ctrl+C no longer invokes the cleanup. I'm suspicious that it's a signal handling issue.

[2018-05-02 23:43] ahmetb opened #511 "Allow option to specify the kubectl context"
I just found myself did a build via `googleCloudBuild` but I forgot to switch my active kubectl context to the GKE cluster.

I think picking up the active kubectl context is not a great idea especially because users can be switch back and forth very frequently.

It appears like the `deploy.kubectl` does not currently let me specify a context name. If it did, I would do something like:

[code]

the

[2018-05-03 02:10] tuananh opened #512 "wrong deployment image url generated"
I got this generated as image url in the deployment manifest.

[code]

My helm deployment template is below, nothing fancy, just a copy paste from the helm deployment example with `command` and `args` commented out.

[code]

[code]

Issues without logs and details are more complicated to fix.
Please help us!

### Expected behavior

deployment image url generated correctly

### Actual behavior

dep

[2018-05-03 02:44] jonjohnsonjr commented on #504
Yeah :-/

That's going to be there until either:
1. Docker fixes https://github.com/docker/distribution/issues/2395, or
2. I fix https://github.com/google/go-containerregistry/issues/119.

We (google/go-containerregistry) are currently relying on the [manifest list -> schema 2 backwards compatibility translation](https://docs.docker.com/registry/spec/manifest-v2-2/#backward-compatibility) purely o

[2018-05-03 02:44] jonjohnsonjr commented on #502
/cc @dekkagaijin

[2018-05-03 17:47] shravanpn7 commented on #139
+1

[2018-05-03 18:01] shimmerjs commented on #478
will  #191 be reopened any time in the near future?  having to trail the logs in a separate terminal ~50% of the time is one of the biggest things stopping `skaffold dev` from being a great experience for me

[2018-05-03 18:06] dgageot commented on #478
@shimmerjs The thing is I don't think #191 would fix your issue. Can you describe your issue? Do you lose all the logs or only the first second?

[2018-05-03 19:16] shimmerjs opened #514 "helm doesn't appear to update resources when changed"
### Expected behavior
The helm chart installed via `skaffold dev` should reflect changes made between iterations to the local chart.

### Actual behavior
If you've already started `skaffold dev`, then update your chart, then trigger an iteration by changing your source code (because changing the helm chart files themselves wont trigger it #235), your old chart definitions will still be applied unt

[2018-05-04 08:17] dgageot commented on #488
@jstrachan With so many differences between the two, could you use two files instead?

[2018-05-04 08:20] dgageot opened #516 "skaffold dev should stop on non build errors"
+ `skaffold dev` should exit if an error occurs anytime during the first build/push/deploy cycle.
 + It should just warn on failed rebuilds but still fail at least on filed pushes and maybe also failed deploys.

[2018-05-04 08:24] dgageot opened #517 "Support compose files"
Here's a silly idea: Why don't we support running Skaffold with just a compose file. No skaffold.yaml.

 + The list of artifacts can be guessed from the compose file. They are all of `docker build` type.
 + We would deploy using `kubectl` deployer. Transformation from the compose file to Kubernetes manifests could be done using [Kompose](https://github.com/kubernetes/kompose)
 + Everything else wo

[2018-05-04 08:26] dgageot opened #518 "Support s2i to build artifacts"
Would it be possible to use [source-to-image](https://github.com/openshift/source-to-image) aka s2i to build the artifacts?

[2018-05-04 08:27] dgageot opened #519 "Create a website for Skaffold"
Let's start small with maybe Github Pages and a custom domain

[2018-05-04 15:38] goutamtadi1 commented on #492
@uipo78 Thanks for raising this issue. I faced the same issue. skaffold could not recognize Dockerfile from a separate directory. We would want to have Dockerfile in a separate directory because, we have certain COPY commands to copy some files into the image when the image build is done. This keeps our project modular and easy to navigate.

[2018-05-04 15:42] l2silver opened #521 "Limit skaffold run by artifact scope"
### Expected Behaviour
skaffold run --artifact=leeroy-web

### Actual behavior
No ability to limit scope, so every time you need to redeploy, you need to run skaffold for everything

### Information
Basically, if you're not able to run skaffold dev for what ever reason, then executing skaffold run can be unnecessarily time consuming. It would be great if there was a way to limit skaffold run to a

[2018-05-05 09:37] dgageot commented on #521
We could even simplify to `skaffold run [artifact1] [artifact2]`

[2018-05-05 09:38] dgageot commented on #521
However, the mapping between artifacts and k9s manifests is not always 1:1

[2018-05-05 09:38] #510 closed

[2018-05-05 09:38] #471 closed

[2018-05-05 14:09] #512 closed

[2018-05-05 14:29] l2silver commented on #521
Agreed. The solution might have to be a little more verbose, but I'd rather that than nothing.

[2018-05-06 23:05] F21 opened #523 "Support WSL and minikube"
### Expected behavior
Skaffold should work under WSL when used with minikube on windows

### Actual behavior
Running `skaffold dev` in WSL (windows subsystem for linux) with minikube does not work at the moment.

This is because skaffold calls `minikube docker-env --shell none` to get the docker configuration, but the `docker_cert_path` points to a windows path:

[code]

### Information

[code]

S

[2018-05-07 02:15] jonbcampos commented on #272
+1 saw this in a node application. the node_modules/ file ends up with a lot of files being watched

[2018-05-07 14:01] stevenbarragan opened #524 "tagging image: UNAUTHORIZED"
I expected to use the git tagger to tag my image.

It builds an image correctly and it tags it as `:latest` correctly, but then it fails trying to tag it with the git sha, it seems that the request was unauthorized.

I'm using gcloud builder, am I missing a role for the container builder service account?

[code]

### Logs:
[code]

### Steps to reproduce the behavior

  1. Setup skaffold to build a

[2018-05-07 17:22] loosebazooka opened #526 "Proposal for Java Support (orchestrated by skaffold)"
This is a proposal for java builds orchestrated by skaffold (this issue is separate from a maven/gradle skaffold plugin which delegate orchestration to the build tool -- instead of skaffold)

It seems like in general skaffold and the build tools have overlapping responsibilities and it's a little hard to decide which tools owns which part of the process.

I'm just opening this issue so we can star

[2018-05-07 19:58] loosebazooka commented on #526
Had a chat with @balopat about this. Exploring punting this whole build tool specific plan for a multistage docker build (via documentation) or a generic builder that can be configured to trigger maven/gradle.

[2018-05-07 22:38] balopat commented on #526
hey, I'm super-new to the project, but hopefully I can help in adding perspective. From what I gather, currently skaffold supports the multistage Dockerfile setup very nicely. I played around to see what kind of issues I'd run into with that approach:

https://github.com/GoogleContainerTools/skaffold/pull/527/files#diff-b77cc69b9137a6d07207bffdfe75066b

[code]

This works for a single simple proje

[2018-05-08 07:42] #505 closed

[2018-05-08 08:09] dgageot commented on #526
@loosebazooka Thanks for starting this thread!

For me, a good maven/gradle integration would have those properties:

 + It supports a maven/gradle project as is it. The same way we support docker builds without changing them, we should support java builds without changing them. That could imply adding more configuration to the skaffold.yaml.
 + It builds faster that a multi-stage docker build, mo

[2018-05-08 10:51] berstend commented on #272
Ran into the same issue today, I'm using `ulimit -S -n 9999 && skaffold dev` as a temporary solution for now.

[2018-05-08 12:11] masduo commented on #442
@dlorenc is this merge available in releases yet? the latest is [v0.5.0](https://github.com/GoogleContainerTools/skaffold/releases/tag/v0.5.0) which still fails on windows:
[code]

[2018-05-08 12:54] berstend opened #528 "Use helm deploy next to kubectl"
### Expected behavior
[code]
Both helm and kubectl deploy is being run

### Actual behavior

Only one deploy pipleline is executed

### Information

I really enjoy using skaffold as it simplifies development with local docker containers as no (external) docker registry is required.

When I add all my dependencies to helm and only issue helm deploys through skaffold I'm forced to use a docker regis

[2018-05-08 14:01] patflynn commented on #526
+1 to @dgageot comments.

I have some questions about the last bullet though. e.g. 'Builds are triggered on code change..'

I think we do want to support that workflow,  but I'm not sure that it will be the most productive for Java users.

A few things I'd like to better understand are:

1. What would be the performance impact on a typical dev machine of triggering maven build on file change while

[2018-05-08 15:55] balopat commented on #492
Hi @uipo78 and @goutamtadi1, with `skaffold/v1alpha2` the `dockerFilePath` needs to refer to the actual path Dockerfile, not its directory and it needs to be under the `docker` tag like in [here](https://github.com/GoogleContainerTools/skaffold/blob/master/skaffold.yaml#L7-L8) for example:

[code]

[2018-05-08 16:00] goutamtadi1 commented on #492
@balopat Thanks for the hint. Let me try that.

[2018-05-08 16:09] goutamtadi1 commented on #492
@balopat That's working but with small changes to above example:

[2018-05-08 16:38] #425 closed

[2018-05-08 17:14] aplex opened #531 "High CPU usage on Mac OS X"
### Actual behavior
skaffold process generates about 100% sustained cpu usage when it is started with "skaffold dev" command. The project itself is quite small (4 deployments of third-party services and 1 locally built docker image), and the high cpu usage is present even without any local file changes.

VBoxHeadless process also has a sustained 150-200% CPU usage in Activity Monitor.

### Informa

[2018-05-08 17:57] coollog commented on #526
In AFAIU, for Skaffold builds with Bazel, Skaffold:

1. Watches the files returned by `bazel query`.
2. Runs the `bazel build` on the target specified in `skaffold.yaml`.
3. Loads the target (image tar) into the Docker daemon.

Perhaps another way we could implement build tool specific integration is to have the user specify the files to watch (or some command output to parse for the files) and th

[2018-05-08 18:08] wiemann commented on #272
make that `ulimit -S -n 30000` for SPA frameworks like VueJS with a couple of plugins added.

[2018-05-08 23:18] ajbouh commented on #531
Also seeing this behavior on 10.11.6. I've been having issues with running out of file descriptors in other apps, though I'm not sure if that's relevant to what's going on here or not...

[2018-05-09 06:45] dgageot commented on #481
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/495

[2018-05-09 06:45] #481 closed

[2018-05-09 06:46] dgageot commented on #322
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/454

[2018-05-09 06:46] #322 closed

[2018-05-09 07:29] jstrachan commented on #526
I can see both sides of the multi-stage docker file running the maven/gradle versus doing the maven/gradle first before Docker (so you can more easily customise proxies and caches). For doing releases the latter is better; for `skaffold dev` though, the more skaffold knows about the source code used in the Dockerfile the better it can watch for changes etc. For simplicity on Jenkins X we've stuck

[2018-05-09 12:38] dgageot opened #535 "Deploy name is not used"
Deploy methods in `deploy` section of the `skaffold.yaml` can have names. Those names are not used.

[2018-05-09 16:18] dgageot commented on #331
Fixed by https://github.com/GoogleContainerTools/skaffold/pull/476.
Always git now

[2018-05-09 16:18] #331 closed

[2018-05-09 20:51] balopat commented on #526
This thread is going to grow large and a lot of questions need to be still answered/decided: e.g. what if the user already has a "source to image" strategy? How are we going to plug that? (I like @coollog's approach of a generic script). What is the default "source to image" strategy, that we recommend? Do we detect that? There are differences building executable JARs, fat JARs, WARs deployed to d

[2018-05-10 07:10] #535 closed

[2018-05-10 07:10] #509 closed

[2018-05-10 21:29] PI-Victor commented on #518
i'd be interested in looking into it if no one else is at this point.

[2018-05-11 05:55] dgageot commented on #518
@PI-Victor Please do!

[2018-05-11 15:04] errordeveloper opened #539 "should be able to run build steps without auth config"
Today I happen to try Skaffold on a colleague's Linux machine that I used for the first time and learned that I have to login to Docker registry, which I'd rather not do at this point (I actually don't my password and it seems unnecessary anyway).

So, I don't have `~/.docker/config.json` and I see this:
[code]

This is not very helpful at all, I'm just trying to run a local build and I don't care

[2018-05-11 15:07] #499 closed

[2018-05-11 15:26] errordeveloper commented on #539
@dgageot I just tried to fix it, but seems like it's been fixed in master - what commit carries the fix for this? After having a brief look at the code which returns this error, I'm a little confused to be honest, some pointers would help a lot.

I was looking here:
https://github.com/GoogleContainerTools/skaffold/blob/d0479f91e109317f09cdb4b3e34b0f65be460fb5/pkg/skaffold/docker/image.go#L49-L82

[2018-05-11 15:30] dgageot commented on #539
I think this PR is what you are looking for: #454

[2018-05-11 15:31] dgageot commented on #539
The reading of the config.json is not for pushing (since local mode doesn't push) but for pulling base images during the build.

[2018-05-11 15:36] errordeveloper commented on #539
Thanks, David! That makes sense.

[2018-05-11 15:36] #539 closed

[2018-05-11 17:02] nthh opened #541 "Documentation fix for Quick Start GKE"
The k8s-pod manifest in the [Quick Start GKE](https://github.com/GoogleContainerTools/skaffold/blob/master/docs/quickstart-gke.md) guide seems to need a change in reference to point to the correct project as well.

i.e.

Change the references in `k8s-pod.yaml` to point to your Container Registry.
[code]

[2018-05-11 20:42] slaxor commented on #531
I have seen it also on linux (Linux turtle 4.16.7-1-ARCH #1 SMP PREEMPT Wed May 2 21:12:36 UTC 2018 x86_64 GNU/Linux)

[2018-05-12 05:49] blaenk commented on #502
This is happening to me too.

@ahmetb are you using a [multi-stage](https://docs.docker.com/develop/develop-images/multistage-build/) Docker build by any chance?

That error is emitted from function [`GetDockerfileDependencies()`](https://github.com/GoogleContainerTools/skaffold/blob/cb6c48c35a8fb27ad0c9f89e2a4409846f87e782/pkg/skaffold/docker/parse.go#L65-L67) which is documented as:

	// GetDock

[2018-05-12 06:02] ahmetb commented on #502
I am using this https://github.com/dockersamples/example-voting-app. So not multi-stage really.

[2018-05-12 06:16] jonjohnsonjr commented on #502
@blaenk looks to me like skaffold isn't correctly handling `FROM <previous-stage>`.

I think you're getting to here: https://github.com/GoogleContainerTools/skaffold/blob/cb6c48c35a8fb27ad0c9f89e2a4409846f87e782/pkg/skaffold/docker/parse.go#L221

But we should probably check to see if it's the name of a previous stage before calling out to a registry... maybe around here? https://github.com/Google

[2018-05-12 06:59] clanstyles opened #543 "Production vs Development environment variables."
What is the right way to store values in a deployment but switch them out for production? If I include secrets, do I mock the secrets with blank data and set them by hand? If the YAML for the secret changes, Skaffold would automatically update them. Some of these values aren't passwords, they might just be flags for "development" to switch out hostnames.

What's the recommended workflow for this?

[2018-05-12 07:35] jonjohnsonjr commented on #524
Based on this err:

I wonder if this was fixed by https://github.com/google/go-containerregistry/pull/109

/cc @ImJasonH wdyt?

[2018-05-12 12:18] ImJasonH commented on #524
Yeah I think this is fixed in go-containerregistry

[2018-05-12 15:38] blaenk commented on #502
Thanks, I agree. If someone doesn't beat me to it, I'll write up an issue later today and possibly look into it further.

[2018-05-14 13:12] jstrachan opened #546 "`skaffold dev` cannot watch source code for non-multistage builds"
so we can't use multistage builds OOTB on Jenkins X as GKE's docker nodes are kinda old ;).

So when [demoing incremental development of go based apps](https://www.youtube.com/watch?v=uHe7R_iZSLU&feature=youtu.be&list=PLj6h78yzYM2N8GdbjmhVU65KYm_68qBmo) we have to use single stage `Dockerfile`s like this one: https://github.com/jenkins-x/draft-packs/blob/master/packs/go/Dockerfile which led to us

[2018-05-14 13:17] jstrachan opened #547 "`skaffold dev` does not detect changes to source code for a nodejs app"
I was hoping to demo `skaffold dev` on a simple nodejs app: https://github.com/jenkins-x-quickstarts/node-http using this `Dockerfile` https://github.com/jenkins-x/draft-packs/blob/master/packs/javascript/Dockerfile

I was hoping `skaffold dev` would detect changes to the html/js files but after lots of attempts I couldn't get `skaffold dev` to detect any changes and trigger a rebuild. So I ended

[2018-05-14 13:31] l2silver commented on #20
And similarly, perhaps a regex include option configurable for each artifact? I've got a node monorepo that requires me to bundle files before running docker build.

[2018-05-14 14:50] dlorenc commented on #546
What are you thinking the `compile` stage would look like in the yaml itself?

[2018-05-14 14:51] dlorenc commented on #547
I understand the issue in #546, but afaict skaffold *should* be watching all the html/js files in this case.  This specific case sounds like a bug. Can you share the app you tried using?

[2018-05-14 14:52] #493 closed

[2018-05-14 14:54] jstrachan commented on #547
here's the nodejs demo I used last week: https://github.com/jstrachan/devoxxnode

[2018-05-14 14:56] jstrachan commented on #546
something like...
[code]

[2018-05-14 15:35] #524 closed

[2018-05-14 16:16] ahmetb commented on #511
I was not aware of those requirements. For my use case, it's simply that I keep deploying to the wrong context (because I wasn't using kube-ps1 etc to see what's the "current"), any way to mitigate that would probably help me.

[2018-05-15 01:54] mailaneel commented on #272
this is happening to me as well, when I have `COPY . .` in my Dockerfile
and `.dockerignore` has `node_modules`

right now I am only copying folders/files required instead

[2018-05-15 09:45] jstrachan commented on #543
if you use Helm for packaging up your application, you can put environment specific configuration values in your `values.yaml` file in your chart - then any installation of your chart can override any of those configuration values via `helm install mychart --set foo.bar=123`

On the Jenkins X project we're big fans of GitOps so prefer to store these environment specific configuration values in a g

[2018-05-15 10:12] errordeveloper opened #550 "Automatic docker login for CI"
I think it'd be very nice to avoid having to run `docker login` when you want to let `skaffold run` build and push your images. Perhaps some kind of convention would be reasonable, e.g. detect commonly used environment variables.

Most CI user would end-up following the instructions vendors provide.

For example, [Travis CI](https://docs.travis-ci.com/user/build-stages/share-docker-image/) suggest

[2018-05-15 11:16] errordeveloper opened #551 "Attempting to push to non-existing image results in panic"
### Expected behavior

A meaningful error message

### Actual behavior

A panic.

### Information

- Skaffold version: f5422a69e4cbc8ff19f75dac8db36053454ed03a
- Operating system: macOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Create skaffold config similar to above and reference a non-existing image (e.g. `podinfo` or `foo/podinfo`)
2. Run `skaffold build`

[2018-05-15 12:51] errordeveloper commented on #488
I have a different use case, I'm just trying to organise my `skaffold.yaml` in a meaningful way.

I have top-level `build` and `deploy` that work with `skaffold dev`, and below that I have a profile called production. I can move the top-level things into a profile, but now I have to say `skaffold dev -p dev` (just like what James pointed out above). To me it'd make sense to have a default profile

[2018-05-15 13:13] jstrachan commented on #488
@dgageot I guess we could use separate files if we absolutely must; it just seems a shame having more files in each repo of each app when skaffold already has the idea of profiles.

I also like the idea of the right thing happening whenever folks type `skaffold dev` versus `skaffold run`. Otherwise folks could run `skaffold dev` with the run configuration or vice versa. Having to type:

[code]
see

[2018-05-15 13:15] jstrachan commented on #488
another approach would be - like maven - to have a default profile which is used if no other profile is specified. So for my and @errordeveloper use cases - we could make the `dev` profile be the default thats used unless another profile is specified? Then we could have...
[code]

[2018-05-15 13:47] #551 closed

[2018-05-15 14:36] errordeveloper commented on #488
I think default profile would make a lot of sense.

In terms of overall readability, I just don't really know how I'm supposed to combine a config that has `build`+`deploy` as well as `profies`. I'd rather see `build`+`deploy` and `profiles` as mutually exclusive modes. Does anyone else feel the same way?

[2018-05-15 15:01] dlorenc commented on #550
I like this idea. We could implement an "environment variable" keychain in go-containerregistry.

[2018-05-15 22:58] kimsterv commented on #519
We have a domain.

[2018-05-16 07:00] jstrachan commented on #547
@tejal29 awesome thanks!! I didn't see any output at all so assumed it wasn't doing anything ;) Adding a warning message will really help the next person who hits this issue.

[2018-05-16 11:08] errordeveloper opened #559 "should be able to run `skaffold build` without creating a Kubernetes client"
### Expected behavior

Build runs.

### Actual behavior

Build fails.

[code]

### Information

- Skaffold version: 3246ef8e2028611460aaf911bd38781d9f19764b
- Operating system: macOS
- Contents of `skaffold.yaml`:

[code]

### Steps to reproduce the behavior

1. `mv ~/.kube ~/.kube-`
2. `skaffold build`

[2018-05-16 15:11] dgageot commented on #508
Can you see the commands when running skaffold with debug logs? `skaffold dev -v debug`

[2018-05-16 15:15] dgageot commented on #386
@antonversal this should be fixed in 0.6.0. Can you confirm?

[2018-05-16 15:16] dgageot commented on #386
oh no. not merged... Forget about it ;-)

[2018-05-16 16:08] wstrange commented on #360
Just to throw in one more wrinkle: We often split our image definition into three parts:

`image: "{{ .Values.image.repository }}/{{.Values.image.component}}:{{ .Values.image.tag }}"`

Where component is the application (nginx, my-app, etc.)

We do this so we can easily swap out the top level repository (say from quay.io to the docker hub).

[2018-05-16 18:25] dlorenc commented on #35
Thanks, added this one to our team project to prioritize it. Feel free to take it if you want to give it a try, though :)

[2018-05-16 18:30] kimsterv commented on #232
I think this is still a bit too busy for a logo with all the lines especially when we shrink it down. Maybe a version with scaffolding designed into the letters?

[2018-05-16 18:56] tejal29 opened #561 "Debug and Fix gcb profile integration test on Kokoro."
### Expected behavior
The following test should pass on kokoro
[code]
### Actual behavior
It fails with no helpful information

Running locally is not helpful, since the command fails as we do not have GOOGLE_APPLICATION_CREDENTIALS variable set.

We need to grab the std our and debug this on kokoro

[2018-05-16 21:00] #547 closed

[2018-05-16 21:03] ajbouh commented on #531
I've instrumented my local build of skaffold and found that this line:

https://github.com/GoogleContainerTools/skaffold/blob/762c3ada56d758913e15dfaadfa73b0e68328e8b/pkg/skaffold/kubernetes/log.go#L74

Seems to suddenly return a nil/empty Event repeatedly. I have been able to trigger it by switching from one internet connection to another. I think the watch channel is closed and we're stuck in an

[2018-05-16 21:17] ajbouh commented on #272
I implemented a new watcher based on Facebook's out of process watchman service. Under the hood it's using fsevents (on macoOS) which does not appear to have the same file descriptor issues that kevents does.

Initial results are promising. What's the interest level for making a PR?

[2018-05-16 22:15] #504 closed

[2018-05-16 22:16] priyawadhwa commented on #504
Fixed by updating go-containerregistry.

[2018-05-16 22:28] akawalsky opened #562 "Use local environment variables as arguments to docker build"
I would like to be able to inject a local environment variable which is a secret as a build argument via skaffold. In my case, this is a password to access a shared private artifactory server in order to build a mvn project. This is trivial via command line, as I can just do:
`docker build --build-arg artifactory_password=$ARTIFACTORY_PASSWORD -t NAME_OF_IMAGE .`

It would be great if skaffold had

[2018-05-16 22:39] aaronkorver commented on #232
Can there be scaffolding around the letters of "Scaffold"?

[2018-05-17 03:17] mailaneel commented on #562
This looks related to https://github.com/GoogleContainerTools/skaffold/pull/295

[2018-05-17 09:16] dgageot commented on #325
@quasiben the git tagger now uses the current tag if there's one, over the commit sha1. Do you think it solves your issue?

[2018-05-17 09:17] dgageot opened #563 "Git tagger has no idea a file is globally git ignored"
[go-git](https://github.com/src-d/go-git) has no idea of global git configuration (`$HOME/.gitconfig`).

So when my workspace is clean, without any non committed file, except for globally git ignored files, go-git still thinks the workspace is dirty. That's painful, specially if you tag a release, the images might not be tagged accordingly.

I'm starting to wonder if go-git was a good choice. Some

[2018-05-17 11:35] errordeveloper commented on #562
I support the idea, also maybe we could have `buildArgsFromEnv: [ARTIFACTORY_PASSWORD, FOO, BAR]` also, that would be very convenient.

[2018-05-17 17:05] balopat commented on #526
Update: had lots of conversations with people, didn't come to a final conclusion yet and I ran out of time - going to go on a leave today. However I believe @loosebazooka had a catchup with the team and came to a conclusion?

[2018-05-17 17:40] #386 closed

[2018-05-17 17:40] #462 closed

[2018-05-17 18:45] Trane9991 opened #564 "Skaffold run deployment error is missing"
Hello,
I updated a Skaffold and faced the unfortunate issue.
Skaffold doesn't print error from kubernetes deployment.

I had broken CronJob definition  (`restartPolicy` was missing) and tool keeps hiding errors from me. I had to do it manually with `kubectl` to find the actual error.

The output of `skaffold run`:

### Actual behavior
[code]

### Expected behavior
[code]

- Skaffold version: 0.6.0

[2018-05-17 18:47] jonjohnsonjr commented on #564
Does #560 fix this?

[2018-05-17 18:48] Trane9991 commented on #564
I think it does. Thanks

[2018-05-17 18:48] #564 closed

[2018-05-17 20:29] loosebazooka commented on #526
As discussed, we are all okay with a generic build option, but it's not certain how to configure it.

I think there's a conflict between how skaffold is organized and how a contained build that doesn't use Dockerfiles would interface with it. The separation or build-config and builder makes things a little strange (for example: if someone configured a java-jib build and had kaniko set as their bui

[2018-05-17 21:06] WilliamDenniss commented on #511
What if the context could be set at a directory level with a file that wasn't checked in?  Like `echo "my-gke-cluster" > .kubecontext`?

[2018-05-17 21:17] dlorenc commented on #511
Something like that or a standard env var would definitely work.

[2018-05-17 22:19] derekperkins commented on #550
I would want to use this with other container registries as well, specifically Azure.

`az acr login --name myregistry`

[2018-05-17 22:28] jonjohnsonjr commented on #550
@derekperkins for normal authentication (where you control the environment), I'd recommend using a docker credential helper:
https://docs.docker.com/engine/reference/commandline/login/#credential-helper-protocol
https://github.com/Azure/acr-docker-credential-helper

The go-containerregistry keychain will try to authenticate via whatever cred helpers you have configured in your docker config file.

[2018-05-18 01:47] derekperkins commented on #550
Thanks for the suggestion @jonjohnsonjr! It caused a panic first run, but that may have been user error. I'll wait until my login expires and try again to see if it works.

[2018-05-18 05:00] dgageot opened #565 "kubectl deployer should not replace fully qualified image names"
Currently, the `kubectl` deployer scans all k8s manifests for images names and replace those that are listed in the artifacts section with a fully qualified name, ignoring any tag that might be specified.

I believe we should only replace images names without tag or with tag `latest`.

Skaffold is building the artifacts and removes from me the need to edit all the manifests each time. It should st

[2018-05-18 05:12] jonjohnsonjr commented on #565
I'm not 100% familiar with the implementation, so my suggestion might be stupid, but I'm generally -1 on anything that has different semantics based on the tag name. Kubernetes does this with "latest" and it's a huge source of headaches. See https://github.com/google/go-containerregistry/issues/143#issuecomment-389521793 for a recent example of this, but I see people trip over the "latest" tag mag

[2018-05-18 05:41] jonjohnsonjr commented on #565
My problem with this is that in most contexts, unqualified image references are implicitly tagged with "latest", i.e. for basically every tool that currently exists, these are equivalent:
* `ubuntu`
* `ubuntu:latest`

This change would add another exception to my mental model of image references, and that list of exceptions is already quite long :-/

I don't 100% agree with you here. Perhaps they

[2018-05-18 05:48] dgageot commented on #565
Just for the record: My proposal would treat `ubuntu` and `ubuntu:latest` the same way. No additional exception to be added to your mental model!

I like what you are saying about still replacing tagged images with their latest digest. Tags can be moved, skaffold could try to detect that and update the manifests accordingly.
It's not what we are doing right now. We are replacing tagged images with

[2018-05-18 05:53] jonjohnsonjr commented on #565
Sure -- I think this option breaks my model the least :) you are still breaking my mental model where "latest" is just a normal tag, like any other.

Oh! This is terrible! :) Why?

I think this is a step in the right direction, then. I don't want the perfect to be the enemy of the good, so I won't try to block it (as if I could :P), but we should definitely keep pushing this forward.

[2018-05-18 06:01] dgageot commented on #565
Yes, what we do with tags is terrible right now!

I don't understand how this proposal treats "`latest` as a normal tag". I think we are on the same line but my explanation must be flawed...

I'd like to:
 + Treat `ubuntu` and `ubuntu:latest` equally by replacing them both with the fully qualified name of the image that Skaffold just built.
 + Partially unbreak the behavior for other fully qualifi

[2018-05-18 06:16] jonjohnsonjr commented on #565
Sorry, I was not very clear. I think doing this consistently is impossible due to two things:

1. `ubuntu` == `ubuntu:latest`
2. `latest` is just a tag, like any other.

Images are not automatically tagged with `latest` when you push them _unless_  you omit the tag when you push it. If you're using the docker client, then if you do something like:

`docker push my-namespace/my-image`

you are impl

[2018-05-18 10:52] dgageot commented on #443
This looks like it is fixed for me. @r2d4 please reopen if you still experience that issue

[2018-05-18 10:52] #443 closed

[2018-05-18 10:59] dgageot commented on #249
Let's close this one

[2018-05-18 10:59] #249 closed

[2018-05-18 11:10] bhack commented on #348
@r2d4 If you don't have enough bandwidth here I think that there could be a collaboration to reuse some common components of  https://github.com/Azure/vscode-kubernetes-tools if the Draft part will be pluggable and not embedded. Most of the features there are K8S related.  Do you think that there could be some contact between the Azure and Google Container teams about this or is it sci-fi? :wink:

[2018-05-18 11:13] bhack commented on #348
/cc @itowlson What do you think?

[2018-05-18 15:27] dlorenc commented on #543
Let's use this issue to track the overall environment variable design/support. There have been a number of issues about this that I'll dupe against this bug.

[2018-05-18 15:27] dlorenc commented on #562
Let's track this in https://github.com/GoogleContainerTools/skaffold/issues/543

[2018-05-18 15:27] #562 closed

[2018-05-18 15:27] dlorenc commented on #486
Let's track this in https://github.com/GoogleContainerTools/skaffold/issues/543

[2018-05-18 15:27] #486 closed

[2018-05-18 15:28] dlorenc opened #568 "Use an incremental upload/manifest based approach for GCB"
The manifest downloader is now an official build step: https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher

We should consider using this combined with an incremental upload approach to make GCB builds faster.

[2018-05-18 15:40] ImJasonH commented on #568
There's a library encapsulating manifest upload too, which Skaffold can use: https://github.com/GoogleCloudPlatform/cloud-builders/blob/master/gcs-fetcher/pkg/uploader/uploader.go

[2018-05-18 16:13] #508 closed

[2018-05-18 17:19] ImJasonH commented on #568
It looks like incremental upload (and maybe download?) could be used in kaniko-based builds as well, which specify `gcsBucket`.

[2018-05-18 20:08] tejal29 commented on #482
@clanstyles, you are specifying the target output and not the target itself.
Can you try,
[code]

[2018-05-19 20:36] dgageot commented on #443
In fact it's still there. Duplicate of #502

[2018-05-19 20:37] dgageot commented on #502
In my case, it's due to https://github.com/google/go-containerregistry/issues/156

[2018-05-21 13:26] Eronarn opened #572 "Support for Packer builds of containers"
We currently use Ansible for our non-containerized deployments. Our long term goal is to move everything into Dockerfiles, but in the interim, we're using Packer to create containers using our Ansible provisioning scripts. I have heard of other folks being in this situation with other configuration management tools, since Packer allows you to use any tool to build the image.

I spent a day diving

[2018-05-21 16:32] #565 closed

[2018-05-21 17:07] dlorenc opened #573 "Set a user agent on GCP API calls"

[2018-05-21 17:07] dlorenc commented on #573
Include OS, skaffold version

[2018-05-21 17:12] dlorenc opened #574 "Add an update check to skaffold"

[2018-05-21 17:12] dlorenc commented on #574
Either through TUF or not

[2018-05-21 17:15] #19 closed

[2018-05-21 17:18] dlorenc commented on #69
We should add an e2e test run on Windows and publish binaries.

[2018-05-21 17:19] #174 closed

[2018-05-21 17:20] #150 closed

[2018-05-21 17:21] dlorenc commented on #69
Going to close this in favor of the specific bugs: https://github.com/GoogleContainerTools/skaffold/issues/234

[2018-05-21 17:21] #69 closed

[2018-05-22 19:32] booninite commented on #458
I think this is fixed in `0.6.0`, at least, I'm not seeing the error anymore.

[2018-05-23 08:16] ahmetb opened #577 "gcb build fails with error "no token in bearer response""
### Expected behavior

Expected gcb build to succeed.

### Actual behavior

`skaffold run -p gcb` failed with:

[code]

### Information

- Skaffold version: v0.6.0
- Operating system: macOS
- Contents of skaffold.yaml: https://gist.github.com/ahmetb/d3e131d5811ae451db8c17396dfb963c

### Steps to reproduce the behavior

1. `skaffold run -p gcb`

[2018-05-23 08:24] ahmetb opened #578 "kubectl error messages are suppressed"
skaffold v0.6.0

when `kubectl apply` fails, its stderr is omitted from `skaffold dev` output and it gives this:

[code]

and it actually doesn't start the watch.

This is very hard to debug as I have to apply every single manifest file to see which one is failing and why.

[2018-05-23 09:05] dgageot commented on #578
@ahmetb it's fixed in master.

[2018-05-23 15:33] dgageot commented on #561
Done with #580

[2018-05-23 15:33] #561 closed

[2018-05-23 16:33] dlorenc commented on #578
https://github.com/GoogleContainerTools/skaffold/pull/560

[2018-05-23 16:33] #578 closed

[2018-05-23 16:51] afrittoli commented on #496
Being able to specify the namespace would be great, having a CLI flag for skaffold run would be nice as well. When running skaffold in CI different namespaces could host deployments for different PR, until such pull requests are merged and the deployment can be deleted.

[2018-05-23 19:57] booninite commented on #193
We're doing it via `setValues` for now, if you're still having the issue @AMecea

[2018-05-23 20:15] afrittoli opened #584 "Override namespace for Helm deployments via CLI"
It would be useful to be able to specify and override namespace for helm deployments. See also issue #496.

### Expected behavior
Something like:

skaffold run --namespace my-ns

### Actual behavior
Feature not availble.

### Information

- Skaffold version: 0.6.0

[2018-05-23 20:16] afrittoli commented on #496
I added a PR that allows to override the namespace via CLI.
This only partially helps for the CI case, since the release name must also be different.

[2018-05-23 21:00] louis-murray opened #585 "proposal to make values filed in skaffold.yaml generate an override values.yaml"
Currently skaffold will set override values defined in `setValues` through the `--set` flag of helm. I think it would be better to also have a way to generate an override `values.yaml` to handle this. There's some limitations with using `--set` like overriding contents of an array or other complex/nested overrides. I've also seen it cause issues with long strings that contain double quotes. I thin

[2018-05-23 21:02] r2d4 commented on #572
I'm actually curious about this. I think that explicitly declaring file dependencies is something we'll need to accept for a lot of builders. Not having dynamic dependency calculations breaks the `skaffold dev` file watching, but I'm curious to see what it would look like.

Do you mind sketching out what the build spec entry would look like?

[2018-05-23 21:11] ajbouh commented on #531
I've been running this for a few days now and while the CPU usage issue is gone, I've seen the `"Log aggregator watch has stopped, respawning it."` message spewed to my logs over and over again.

I guess there's something that goes bad elsewhere in the log watching state machine and just respawning it again is not sufficient. This change is better than nothing as it gives a landmark in the logs to

[2018-05-23 21:30] dlorenc opened #587 "Kustomize support"
Kustomize is ready in it's official home under kubernetes-sigs: https://github.com/kubernetes-sigs/kustomize

This issue tracks adding support for it as a deployer.

[2018-05-23 21:31] dlorenc commented on #587
Strawman proposal for config syntax:

[code]

The implementation could call `kustomize build` on the specified path, then parse the resulting yaml that comes through stdout and treat it as a `kubectl` deploy.

[2018-05-24 12:30] Eronarn commented on #572
Here's the Skaffold config file that I am using, based on my branch:

[code]

This config is a little awkward, because Packer has neither good ability to override build arguments, nor good programmatic output. You can't just run any Packer template, it needs a few lines of modification to work properly. (It'll also be more sensitive to local config than existing builders, since the use case is typ

[2018-05-24 16:22] #573 closed

[2018-05-24 16:49] #559 closed

[2018-05-24 16:49] #516 closed

[2018-05-24 17:10] dgageot opened #588 "Ignore some containers in logs"
I'm using Skaffold to develop an application deployed on Istio. The logs from all those `istio-proxy` containers are a complete distraction.

It would nice to be able to filter them out but adding some config in the `skaffold.yaml`.

[2018-05-24 19:36] dlorenc commented on #587
cc @pwittrock @monopole does this seem reasonable?

[2018-05-24 20:36] r2d4 opened #591 "Pin Kaniko Image tag"
https://github.com/GoogleContainerTools/skaffold/blob/2fb273da349176ccae5dfe4476e06e8da75d3838/pkg/skaffold/constants/constants.go#L41

[2018-05-24 20:49] r2d4 commented on #591
The latest released image is v0.1.0

https://github.com/GoogleContainerTools/kaniko/releases

[2018-05-24 22:08] r2d4 opened #593 "Travis: unit test timeout flake"
https://travis-ci.org/GoogleContainerTools/skaffold/jobs/383383678

[code]

[2018-05-25 04:38] dgageot commented on #502
Yes. Closing this

[2018-05-25 05:43] errordeveloper commented on #559
@dgageot nice one – thanks! 🍰

[2018-05-25 06:54] #591 closed

[2018-05-25 10:28] AkihiroSuda opened #596 "[Proposal] CBI: Container Builder Interface (Docker, BuildKit, Buildah, kaniko, img, Google Cloud Container Builder, OpenShift Source-to-Image...)"
I'm working on a project called CBI (Container Builder Interface), which provides a vendor-neutral interface for building container images on top of a Kubernetes cluster: https://github.com/containerbuilding/cbi

The following plugins are implemented so far:

Plugin    |Backend                                                                        |Dockerfile|`cloudbuild.yaml`|OpenShift S2I|BuildK

[2018-05-25 10:56] AkihiroSuda commented on #518
Here is a POC of S2I builder with CBI: https://github.com/GoogleContainerTools/skaffold/issues/596

[2018-05-25 10:58] AkihiroSuda commented on #138
I implemented a POC of CBI integration into Skaffold: https://github.com/GoogleContainerTools/skaffold/issues/596

It should work with img.

[2018-05-25 12:37] Rishka opened #597 "Skaffold ignores Dockerfile if it's in .dockerignore"
### Expected behavior
`skaffold dev` should find a `Dockerfile` even when it is in the `.dockerignore`

### Actual behavior
`skaffold dev` does not find the docker file, logs `WARN[0005] Skipping Deploy due to build error: running build for artifact: running build: docker build: Error response from daemon: Cannot locate specified Dockerfile: Dockerfile`

### Information

- Skaffold version: versio

[2018-05-25 13:28] dgageot commented on #518
@AkihiroSuda Nice! I'll take a look later today.

[2018-05-25 13:34] dlorenc commented on #596
Nice! A few overall questions.

What does cbi currently require to run in the cluster? Is there any type of daemon, or is the whole lifecycle managed during a single build?

The cbi types are currently v1alpha1. How much do you expect these to change?

[2018-05-25 14:27] AkihiroSuda commented on #596
Yes, there is a CRD controller daemon called `cbid`.
`cbid` watches creation of `BuildJob` CRD, and creates `batch/v1.Job` manifests correspondingly, using plugins.

Flow:

* Skaffold submits `BuildJob` CRD manifests to Kubernetes API server.
* `cbid` watches creation of the `BuildJob` CRD manifests, and transfers them to CBI plugins via CBI Plugin API (gRPC).
* CBI plugins generates `PodTemplateS

[2018-05-25 15:49] dgageot commented on #477
I've run some tests on platforms that support sharing files with the host: Docker for Desktop and minikube.

Let's say I'm developing a static website that runs with nginx. My original k8s manifest is:

[code]

We could have some kind of configuration at the artifact level in the `skaffold.yaml`:

[code]

On Docker for Desktop, Skaffold could then patch the yaml:

[code]

On minikube, Skaffold cou

[2018-05-25 17:14] Eronarn opened #598 "Skaffold should print Helm output in debug mode"
### Expected behavior

On a Helm failure, Skaffold provides information about what failed.

### Actual behavior

Skaffold only reports that Helm exited 1.

[code]

If I run that myself:

[code]

### Information

- Skaffold version: `v0.6.0`
- Operating system: OSX

[2018-05-25 17:35] r2d4 commented on #596
I like this idea. I think we'll have to think through our artifact-builder compatibility matrix finally (not all artifact types can be built with all builders) and how we reconcile our existing GCB and Kaniko integrations with the ones in the CBI, but I don't see those as blockers.

[2018-05-25 17:57] #593 closed

[2018-05-25 18:26] afrittoli opened #600 "Copyright statements"
Question more than an issue really.
When adding new files in a PR I was trying to add something like this:

'''
/*
Copyright 2018 IBM Corporation
Copyright 2018 Google LLC
'''

But that won't work because of the enforced boilerplate:
https://github.com/GoogleContainerTools/skaffold/blob/f91c91514fe6d2403df65784434a22f95712bda2/hack/boilerplate/boilerplate.go.txt#L2

Is this by design? Must every c

[2018-05-26 19:39] shanna commented on #587
@dlorenc I haven't really tested it yet but what about a general command executor for kubectl manifests? That way you can use kustomize, make or whatever to generate manifests.

https://github.com/GoogleContainerTools/skaffold/compare/master...shanna:manifest-commands

[code]

[2018-05-26 21:20] r2d4 opened #604 "`skaffold build` should support --output format flag"
`skaffold build --output {{.ImageName}}`

The output type should probably be `Build`. This will make `skaffold build` more usable in programmatic situations (scripts, CI).  We already have a `TemplateFlag` that does this behavior. Check out `skaffold docker deps --output` for a similar construction.

[2018-05-27 16:34] afrittoli commented on #600
Reading thought the corporate CLA https://cla.developers.google.com/about/google-corporate I understand that contributor in fact grant the Copyright License. This answers my question.

[2018-05-27 22:28] bhack commented on #348
Check also https://medium.com/solo-io/introducing-kubesquash-remotely-debug-your-kubernetes-pods-f3e3391eaf16

[2018-05-28 08:08] AkihiroSuda commented on #596
The existing Scaffold-native builders can be kept and are still useful for those don't want CBI dependency.

[2018-05-28 08:55] bhack commented on #348
/cc @ilevine

[2018-05-28 09:47] tossmilestone opened #611 "Add a `skaffold stop/destroy` command"
Hi, guys. Is there a plan to add `skaffold stop/destroy` command if someone want to stop the running services? Because sometimes the running services are high cpu/mem utilization.

Thanks

[2018-05-28 11:17] dgageot commented on #611
@tossmilestone master container a`skaffold delete` command that sneaked in in this [PR](https://github.com/GoogleContainerTools/skaffold/pull/589)