[2021-11-17 16:58] briandealwis commented on #6870
Steps to reproduce:
1. `cd examples/getting-started`
2. copy the manifest above into `echo.yaml`
3. `skaffold apply -vdebug echo.yaml`

[2021-11-17 17:32] gsquared94 commented on #6870
I can actually consistently repro this locally against a kind cluster. I was able to debug it to be a `skaffold apply` issue that isn't setting namespaces correctly. For instance, running `skaffold dev` on Edward's `manifest.yaml` file sets the namespace `"default"` in the [`status.Monitor`](https://github.com/gsquared94/skaffold/blob/main/pkg/skaffold/kubernetes/status/status_check.go#L112)

But

[2021-11-17 17:40] marzelwidmer commented on #3530
Hello I run in the same issues .. I don't get it.. what is wrong..

`oc whoami -t oc whoami -t | docker login -u kubeadmin --password-stdin  https://default-route-openshift-image-registry.apps-crc.testing
Login Succeeded`

`skaffold build -p os4`

`[INFO] Using credentials from Docker config (/Users/morpheus/.docker/config.json) for default-route-openshift-image-registry.apps-crc.testing/demo/demo

[2021-11-17 18:18] briandealwis commented on #4255
Closing: this was fixed by @verbanicm in #6616

[2021-11-17 18:18] #4255 closed

[2021-11-17 18:57] aaron-prindle opened #6872 "[Umbrella Tracking Issue] Overhaul Documentation for skaffold v2.0.0 changes"
Tracking issue for all work items related to overhauling skaffold's documentation to be consistent with the changes and best practices for the feature and schema changes in the upcoming v2.0.0 release of skaffold

[2021-11-17 19:09] gsquared94 commented on #6870
The difference between `apply` and `dev` is being caused in these lines:
https://github.com/GoogleContainerTools/skaffold/blob/9f56bbd6b90128c984d6fb6191dec948fc25822c/pkg/skaffold/deploy/kubectl/kubectl.go#L344-L346

In apply we don't run `kubectl create --dry-run` so the `ManifestList` doesn't have `metadata.namespace` populated.

[2021-11-18 16:17] ianbuilds commented on #6857
Here is my output with `-vdebug`:

[code]

[2021-11-18 17:59] #6689 closed

[2021-11-18 18:07] #6870 closed

[2021-11-18 19:18] #6843 closed

[2021-11-19 02:07] GeraldXv commented on #6521
+1

[2021-11-19 15:49] gsquared94 commented on #5856
I added this to our triage discussion list

[2021-11-19 15:57] gsquared94 commented on #6857
This seems to be failing when skaffold is pulling the image to check the digest.
https://github.com/GoogleContainerTools/skaffold/blob/af75d9e6ca558b4b9207c6ed0fab3016af7c68c9/pkg/skaffold/docker/remote.go#L54

did you use a self-signed certificate to setup the image registry? Can you try setting this registry as an [insecure registry](https://skaffold.dev/docs/environment/image-registries/#insecu

[2021-11-20 01:35] samgomena opened #6883 "`setValueTemplates` doesn't support nested arrays of objects"
### Actual behavior

Using `setValueTemplates` to override values that are an array of objects produces incorrect CLI flags for helm.

For instance, given the following yaml:

[code]

The `--set` flags passed to helm are:

[code]

### Expected behavior

I would expect that Skaffold should be able to handle this but I'm also curious if there was a decision to specifically _not_ handle this scenario

[2021-11-20 16:11] tonsV2 commented on #4633
Logs are printed only on first deploy. After the container has been rebuilt no logs are printed. If I manually delete the pod logs are once again printed to stdout but only until the container is rebuilt.

I've tested this with version 1.35.0 and 1.34.0.

[2021-11-20 18:44] ianbuilds commented on #6857
1. Not self-signed certs; repo =  harbor.io v2 instance with certs from godaddy.
2. Results from the `--insecure-registry flag`:

cmd: `skaffold dev --insecure-registry my-repo --default-repo my-repo -vdebug`:

[code]

This cmd is being run from an M1 iMac, btw. Not sure if that's relevant anyhow.

[2021-11-20 21:06] bdudelsack opened #6884 "Conditional requires"
I would like to add `requires` depending on a selected profile. As I understand at the moment it's only possible to patch the main pipeline stages but not the `requires` section.

Example:
[code]
I would like to include `skaffold.monitoring.yaml` only if i activated the `monitoring` profile.

Is this somehow possible?

[2021-11-21 08:20] riita10069 opened #6885 "Difference between the run command and the dev command"
### Expected behavior

If we use the skaffold run command, shouldn't the process start in the background?
If you thinks that starting in the background is undesirable, shouldn't it return an error?
It is understandable to me that doing PortForward in a background process leads to Port conflicts and is undesirable.

### Actual behavior

If we use the skaffold run command, it will still start as dev

[2021-11-21 17:25] gsquared94 commented on #6884
It isn't possible to add a conditional requires or override the `requires` stanza in a profile. A way to do this could be to have the main pipeline be empty in `skaffold.monitoring.yaml` and have a `monitoring` profile, and conditionally activate that:

In _skaffold.monitoring.yaml_ file:
[code]

and in you main _skaffold.yaml_ file:
[code]

[2021-11-21 22:29] hlacik opened #6889 "init container for dotnet6 debug is broken"
Init container gcr.io/k8s-skaffold/skaffold-debug-support/netcore , apparently latest (gcr.io/k8s-skaffold/skaffold-debug-support/netcore@sha256:4b871274583a647eea17e73ffe239eba650a131ee1cb739760981b77985374da)

has non functional vsdbg package which is mounted from install-netcore-debug-support

[code]

when i go to console of my container and try to run vsdb
[code]
seems like vsdbg was build usi

[2021-11-22 14:59] zodo opened #6892 "Skaffold generates 'latest' tag instead of the source files digest for some modules"
Greetings,

### Expected behavior

Tags for all submodules are generated with the `inputDigest` tagger

### Actual behavior

Skaffold uses `latest` tag instead of the digest hash for some modules

### Information

- Skaffold version: 1.35.0
- Operating system: running in docker
- Installed via: downloaded from https://storage.googleapis.com/skaffold/releases/v1.35.0/skaffold-linux-amd64
- Contents

[2021-11-22 16:26] #6693 closed

[2021-11-22 19:31] #6691 closed

[2021-11-22 21:05] davidxia commented on #3124
For anyone wondering why `*.swp* in `.dockerignore` isn't working, if you need to ignore all `*.swp` files in all directories, use `**/*.swp` instead.

[2021-11-23 16:38] #6694 closed

[2021-11-24 02:06] AndiDog commented on #5957
I have the same for `skaffold render --offline` which should not even require kubectl.

[2021-11-24 06:52] mikedld opened #6902 "No child with platform linux/amd64 in index openjdk:8u312-nanoserver-1809"
### Expected behavior

Building Windows container image on Linux (using `DOCKER_HOST`) succeeds.

### Actual behavior

[code]

### Information

- Skaffold version: 1.29.0, 1.35.0
- Operating system: Linux (alpine:3.13.6)
- Installed via: curl from https://storage.googleapis.com/skaffold/releases/v${SKAFFOLD_VERSION}/skaffold-linux-amd64
- Contents of skaffold.yaml:

[code]

- Contents of Dockerfil

[2021-11-24 08:24] kal93 opened #6903 "couldn't get kubectl minor version: strconv.Atoi: parsing "unknown": invalid syntax"
tldr: skaffold doesn't recognize minikube's kubectl add on

### Expected behavior
Should start dev mode deployment when skaffold dev is run with minikube

### Actual behavior
skaffold dev terminates with below error
[code]

### Information

- Skaffold version: v1.35.0
- Operating system: Ubuntu 21
- Installed via: skaffold.dev
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavi

[2021-11-24 21:48] JCzz opened #6907 "stderr: "ERROR: no nodes found for cluster"
### Goland Cloud Code: Kubernetes

Note: I can deploy anything else using kubectl. It look like it is missing sometig in the name of the context, as the context name is "kind-kind-internet", and the error is "ERROR: no nodes found for cluster \"kind-internet\"\n"

### Error
[code]

### Information

skaffold version
v1.35.1
brew install skaffold

kind version
kind v0.11.1 go1.16.4 darwin/amd64

- C

[2021-11-25 14:09] rstoermer opened #6908 "Skaffold Profile doesn't allow to patch /deploy/helm/releases/0/setValues/global/namespace"
### Expected behavior

Skaffold id patching the path

### Actual behavior

I get the following error:

parsing skaffold config: failed to apply profiles to config "" defined in file "/Users/rene/repos/project/service/skaffold.yaml": applying profile "remote": invalid path: /deploy/helm/releases/0/setValues/global/namespace. There's an issue with one of the profiles defined in config "" in file "/U

[2021-11-25 19:21] briandealwis opened #6909 "ShowAIError unwraps and discards additional error information"
#6126 involves a build failure occurring during a concurrent multi-artifact build, and the final error message does not indicate which artifact failed.  I changed our build code to wrap the build error with the failing artifact name intending that it should be emitted as part of the final error output from Skaffold:
[code]

To my susprise the "`build [%s] failed: `" text was discarded in the final

[2021-11-25 19:27] briandealwis commented on #6126
The issue here is that we don't report artifact failures directly but instead let the build error percolate back up.  For example, if I modify the `examples/microservices` to cause `leeroy-web` to fail (`RUN exit 1`) then I see the following build output:
[code]

There's no indication that leeroy-web failed, nor is it clear what artifact failed in the final error message (#6909).

[2021-11-25 19:55] briandealwis commented on #6126
Also reported to [the `skaffold-users@` mailing list](https://groups.google.com/g/skaffold-users/c/Hqf3xZmE7Wc/m/m1H-KTybBQAJ).

[2021-11-26 12:59] DGollings opened #6912 "Statefulsets need a moment to stabilize / not abort skaffold dev during launch"
### Expected behavior
Skaffold Dev starts, whilst allowing a little failure

### Actual behavior
Skaffold sees an error and terminates everything

### Information

- Skaffold version: 1.35

### Steps to reproduce the behavior

1. Have a statefulset (I can paste the contents of nats/stan if requested)
2. skaffold dev

 - statefulset/stan: container stan is backing off waiting to restart
    - pod/s

[2021-11-27 15:29] Ammce commented on #5144
Is there any solution to this issue? I am still unable to make it work? Each time I delete all pods/deployments/services, the data is gone forever? Also, where is Persistance Volume storing the data on my Windows Hard disk?

[2021-11-29 04:50] halvards opened #6916 "FR: `ko` builder to support envvars in `labels` config field"
### Desired behavior

When using Skaffold to publish a "releaseable" container image in a CI build, users often want to add image labels with information such as release tag, git SHA, and more.

Example: https://github.com/google/k8s-digester/blob/main/.github/workflows/release.yml#L136

### Current behavior

The `ko` builder [`labels` config field](https://skaffold.dev/docs/references/yaml/#build

[2021-11-29 17:23] JCzz opened #6917 "build in cluster support for BuildKit"
Will cloud build support BuildKit?

Would be nice to be able to use [BuildKit with driver for kubernetes](https://github.com/moby/buildkit#kubernetes).

Also maybe for tools like [kubectl-build-cli](https://github.com/vmware-tanzu/buildkit-cli-for-kubectl).

[2021-11-29 17:57] aaron-prindle commented on #6912
@gsquared94 can you add any information here regarding if this is intended behaviour from https://github.com/GoogleContainerTools/skaffold/pull/6828 and what any possible short-term/long-term fixes are for this issue?

[2021-11-29 18:11] aaron-prindle commented on #6917
Can you clarify, do you mean adding native support to skaffold for on cluster builds (kubernetes cluster + [BuildKit with driver for kubernetes](https://github.com/moby/buildkit#kubernetes)) or are you referring to using [Google Cloud Build](https://cloud.google.com/build) integration with skaffold BuildKit?  If it is the former I will update the issue text here and make label this a `feature requ

[2021-11-29 18:28] adawalli commented on #6713
I am seeing a similar issue to this one. I am running a PYTHON based container, however, some environment variables are set (like JAVA_HOME) for some commands we must exec. This causes skaffold debug to assume this is a JAVA based artifact, when in fact the primary workload is python.

[2021-11-29 18:50] aaron-prindle commented on #6885
Currently `skaffold run` under the hood is essentially `skaffold dev` but only for a single iteration of the build and deploy loop (no file watching hooks, etc.).  `skaffold run` is not meant to run in the background, it should return an error and does for certain error types (example of `skaffold run` returning an error below):
[code]

Can you specify which errors you believe should result in an

[2021-11-29 19:27] briandealwis opened #6918 "Report Skaffold panics through metrics"
The Cloud Code for VS Code team noticed that their interactive debugging tests were failing. The ultimate cause was that Skaffold was panicking as a channel was being closed multiple times (fixed in #6714).  This error had gone uncaught and made it into a release.

We should catch panics and report them through our metrics so that we can be alerted if there is a major error being encountered by ou

[2021-11-29 21:45] JCzz opened #6919 "unable to connect to Kubernetes: the server has asked for the client to provide credentials"
skaffold version
v1.35.1

KinD cluster using [local registry](https://kind.sigs.k8s.io/docs/user/local-registry/)

### Expected behavior

In Goland: Cloud Code: Kubernetes - a running example

### Actual behavior

skaffold dev --default-repo localhost:5000
[code]

[2021-11-30 10:32] JCzz commented on #6917
Yes I was thinking of:

BuildKit (kubernetes cluster + skaffold support for BuildKit with driver for kubernetes).

Thanks

Do you have any opinion on [BuildKit CLI for kubectl](https://github.com/vmware-tanzu/buildkit-cli-for-kubectl) ?

[2021-11-30 14:32] rstoermer commented on #3319
I ran into the same error and as the information here is a bit scattered around I will summarize the steps here.

1. Create proper credentials for your container registry. Example user123 / pass123
2. Create an auth string for your config.json: `echo "user123: pass123" | base64`
3. Create config.json as below
4. Create secret for dockerConfig: kubectl create secret generic skaffold-cfg --from-file

[2021-11-30 16:59] briandealwis opened #6920 "`tryImportMissing` should be on a per-artifact basis"
`tryImportMissing` is useful to avoid expensive image rebuilds, but it's currently an all-or-nothing decision.  For example, in a micro-service type app, where there may be an ML backends with a big model that might benefit from `tryImportMissing`, but the other services would still be better using our normal build-and-watch mechanism.

[2021-11-30 18:13] adawalli opened #6921 "Allow Reuse of Code Across Configs"
### Expected behavior
I would expect that blocks of code could propagate or be reused within "required" config modules.

### Actual behavior

When trying to break up a large skaffold config file into multiple configs (separate files), some of the reuse opportunities go away. Consider the following "monolith"

[code]
In this case, we can build two artifacts that share a common set of docker setting

[2021-11-30 18:31] adawalli commented on #6921
I think I would even consider using a patch `copy` command in a pinch, but I don't think you can reference a "required" configs section in that way

[2021-11-30 22:19] briandealwis opened #6922 "Add suggestions for err-image-pulled errors"
A user encountered an error where their GKE cluster was unable to pull the resulting image.  The logs offered no suggestions for how to remedy the issue.  Skaffold should offer a suggestion to check that the node account is able to retrieve the image; if the cluster is GKE, or if the image is from gcr.io or *-docker.pkg.dev, then we could recommend checking IAM.
[code]

[2021-12-01 11:51] tarrow commented on #6810
I believe I've also encountered this issue and can add some further details:
1. folders which are not empty but who "effectively" have empty contents because all the contents are ignored by `.dockerignore` seem to experience the same problem
1. a possible workaround appears to be adding `useDockerCLI: true` to the local build config section of the skaffold.yaml

This can be seen in the following t

[2021-12-01 14:06] SizZiKe opened #6924 "Skaffold File Sync - Subsequent Pod Deploy"
### Expected behavior
Skaffold resyncs files after a breaking change causes a pod to redeploy
### Actual behavior
Skaffold doesn't do anything - it will continue to sync files to the new pod when changes are made but previous changes are ignored.
### Information

- Skaffold version: v1.33.0
- Operating system: MacOS 11.6
- Installed via: Homebrew
- Contents of skaffold.yaml:

[code]

### Steps to

[2021-12-01 16:41] #6809 closed

[2021-12-01 17:55] adawalli commented on #6921
@briandealwis - let me know if I need to provide better clarification. Thanks!

[2021-12-01 19:02] adawalli opened #6925 "AutoPull Images in cacheFrom Should not be default Policy"
### Expected behavior
PR https://github.com/GoogleContainerTools/skaffold/pull/1495 introduced pre-pulling behavior as the default when the cacheFrom keyword is used (with no option to disable this, I believe).

In my humble opinion, this is a mistake and honestly can introduce security risks.

Let me explain. If the first or second command of a Dockerfile is something like `apt-get update && apt-

[2021-12-01 19:02] adawalli commented on #6925
@dgageot FYI

[2021-12-01 20:25] briandealwis commented on #6921
This is great @adawalli.  We've also heard people wanting to be able to:
- set a tag policy, or default-repo, across configs
- override the build-env across the configs (e.g., use GCB instead of local build)

[2021-12-01 22:06] kschaab commented on #6922
Is there a way/would it be helpful to also reference the service account?

[2021-12-02 05:01] iyosayi commented on #6072
This did the trick! After compiling the binaries myself, I just copied it over to `/usr/local/bin/skaffold` from my GOPATH binary location, and I can use it around from anywhere in my system by typing `skaffold` and it works! Thank you very much

[2021-12-02 10:11] uynap opened #6927 "Can't build the dockerfile correctly on macOS M1"
I have a dockerfile like below. I can build and run it by using `docker build -t spanner-emulator -f spanner.Dockerfile .` without any issue. I can also build and run it by using Skaffold on a non-M1 macOS(removing the `--platform=linux/amd64`) .
However, when I do skaffold build on macOS M1, it was successful, but when I try to use `docker run` to run the container, it gives me the following erro

[2021-12-02 17:24] adawalli commented on #6925
@briandealwis I believe this one should be considered a fairly high priority as it potentially introduces poor security postures into folk's images - and they will likely have no idea.

[2021-12-03 15:02] briandealwis opened #6929 "Docker builds with cliFlags should be build with docker CLI"
### Expected behavior

A skaffold.yaml with a docker build artifact specifying `cliFlags` should always use the `docker` CLI, overriding the `useDockerCLI` setting.
[code]

### Actual behavior
[code]

### Information

- Skaffold version: v1.34.0 (and still in HEAD)

[2021-12-03 17:01] briandealwis commented on #6927
I tried to reproduce your setup with a simple "hello world" program, the resulting container runs fine for me on my M1.  (I did encounter a lot of segfaults from the `go build` as your Dockerfile as defined causes `go build` to run under emulation, and amd64-emulated `go build` frequently breaks qemu in my experience.)

So I suspect that your app is causing `go build` to link in some additional sh

[2021-12-03 20:39] #6929 closed

[2021-12-03 21:32] aaron-prindle opened #6931 "Skaffold LSP Umbrella Tracking Issue"
Tracking issue for all Skaffold LSP related work:

- [ ] Currently if the skaffold lsp is started but does not have access to a cluster (for example, using `minikube` context but minikube is not started/accessible) the lsp will start but hang indefinitely - Bad UX

[2021-12-03 22:45] seankhliao opened #6932 "skaffold config subcommands don't use SKAFFOLD_CONFIG"
### Expected behavior

skaffold uses the same config file for `skaffold config` and `skaffold build`

### Actual behavior

`skaffold config` uses `~/.skaffold/config` while `skaffold build` uses the path set in the `SKAFFOLD_CONFIG` file

### Information

- Skaffold version: v1.35.0
- Operating system: `Linux eevee 5.15.5-arch1-1 #1 SMP PREEMPT Thu, 25 Nov 2021 22:09:33 +0000 x86_64 GNU/Linux`
- I

[2021-12-03 23:01] seankhliao opened #6933 "ko builder doesn't error when no default repo is set"
### Expected behavior

skaffold returns an error when it can't infer a proper registry / image name

### Actual behavior

skaffold hangs/eventually times out trying to contact an unresolvable host

### Information

- Skaffold version: v1.35.0
- Operating system: `Linux eevee 5.15.5-arch1-1 #1 SMP PREEMPT Thu, 25 Nov 2021 22:09:33 +0000 x86_64 GNU/Linux`
- Installed via: Arch Linux community repo
-

[2021-12-04 13:47] uynap commented on #6927
Thank you Brian. Appreciated your efforts.
The Buildkit solution enlightened me. I think the problem is when the Dockerfile contains some platform dependent libraries, if I hard code the platform information in the Dockerfile as `FROM --platform=linux/amd64`, then Skaffold will ignore it, instead, it continues using the information collected from the host machine which is M1(arm64).

I tried exact

[2021-12-04 15:02] kal93 commented on #6903
@aaron-prindle any idea when to expect a fix for this?

[2021-12-05 00:06] krrrr38 commented on #3217
I hope this feature will be available on [CloudDeploy](https://cloud.google.com/deploy).

[2021-12-05 01:36] dnguyenzd opened #6935 "Watch changes for a specific config in multiple configs setup"
### Expected behavior

I have a skaffold setup like following:

- `skaffold.yaml` contains setup for main application
[code]
- `skaffold.dependencies.yaml` contains dependencies for the application like mysql, vault etc:
[code]

When something's changed in my main application, I expect only the main application image is rebuilt and re-deployed. I understand that this behavior is desirable for some

[2021-12-05 12:32] manocormen opened #6936 "skaffold dev log tailing problem: doesn't output to terminal in real time"
### Expected behavior

Logs are streamed to the terminal line by line in real time.

### Actual behavior.

Logs are are streamed to the terminal all at once every ~4 minutes.

### Information

- Skaffold version: v1.35.0
- Operating system: macOS Big Sur 11.6 and Linux Ubuntu 20.04 (identical problem on both)
- Installed via: skaffold.dev
- Contents of skaffold.yaml:

[code]

### Steps to reproduc

[2021-12-05 13:04] ianbuilds commented on #6857
I posted logs above and answered. Any other insights?

[2021-12-05 20:00] manocormen commented on #6936
The problem wasn't with Skaffold nor Minikube. Python was buffering the output, and only writing it to stdout once the buffer was full. There are a number of [ways to avoid this](https://blog.finxter.com/what-is-python-output-buffering-and-how-to-disable-it/), including using the `-u` flag or `flush` parameter.

[2021-12-05 20:00] #6936 closed

[2021-12-05 21:15] JCzz commented on #6919
[--](https://stackoverflow.com/questions/70169066/unable-to-connect-to-kubernetes-the-server-has-asked-for-the-client-to-provide/70169651#70169651)

[2021-12-05 21:15] #6919 closed

[2021-12-05 23:25] drewp opened #6937 "k8s error formatting is hard to read"
k8s returns this mass (newlines added so it looks more like it does in a terminal:

![image](https://user-images.githubusercontent.com/104003/144768226-be886e2f-faac-472a-b7db-fd0520d07b95.png)

I wish something would, at minimum, do python-style indents at colons:

[code]

[2021-12-06 00:45] aaron-prindle commented on #6903
Hi @kal93.  The issue here is that currently skaffold expects a binary named "kubectl" to be in the path:
https://github.com/GoogleContainerTools/skaffold/blob/main/pkg/skaffold/kubectl/cli.go#L59-L63

[code]

Skaffold uses `exec.Command` under the hood to call `kubectl` and this does not respect bash aliases as bash is not used to execute this.  I don't believe there is a simple workaround for th

[2021-12-06 10:51] rstoermer commented on #3319
I just realized that I was logged in to my registry via docker login. After a logout the regcred isn't found properly anymore and I get ERRO[0144] No matching credentials were found for "******.azurecr.io". This part of the documentation is so confusing @tejal29 @tstromberg

Why is this happening? The image is pushed properly, however it can't be pulled:

[code]

Why does it help to login locally

[2021-12-06 13:59] rstoermer opened #6939 "Build in cluster which is not GCR via Kaniko throws an error: "No matching credentials were found""
### Expected behavior
It is clearly described how to build and run in a remote Kubernetes cluster. Afterwards I can build, push and pull images on the remote cluster. This is an amazing feature so I am just wondering why this is so confusingly documented?

### Actual behavior
While the push secret does work, the pull secret required by Kaniko is very unclear. I tried a lot of things on setting the

[2021-12-06 14:46] briandealwis commented on #6927
Thanks for putting up your app: that helped narrow down the problem.  The mistake was mine here (🤦 ): I forgot that to enable the use of `TARGETPLATFORM` and `BUILDPLATFORM`, you need to declare them with `ARG` directives.  So with the following diff, I get the right results, and the `go build` runs natively (so faster) but produces a binary for the right target:

[code]

Because the Dockerfile wa

[2021-12-06 15:14] ynouri commented on #2745
Curious if there is a workaround to this issue other than setting a fixed `skaffold.dev/run-id` label?
[code]
This method prevents redeployment of unchanged deployments resources (which is good), but it seems to interfere with Skaffold stabilization mechanism (issue mentioned in #6758), where Skaffold can't distinguish new pods from the terminating ones.

[2021-12-06 15:45] JCzz opened #6940 "Using build: useBuildkit - How do you specify useBuildkit to use kubernetes cluster"
[code]

[2021-12-06 15:49] JCzz opened #6941 "Examples: microservices and other. 'skaffold render' not working"
Running the example: `example/microservices`

skaffold render
`failed to resolve the digest of leeroy-web:6b3fc6f-dirty: does the image exist remotely?`

Tried using local builder:
[code]

Still same issue

[2021-12-06 15:59] Kollibri opened #6942 "Pods deployed by Skaffold are trying to pull image from incorrect registry"
### Expected behavior
The pod created by skaffoold attempts to pull the image from the correct repository: `registryname.azurecr.io/companyname`

### Actual behavior
The pod is attempting to pull the image from the wrong repository: `docker.io/registryname.azurecr.io/companyname`
### Information

- Skaffold version:  `v1.35.0`
- Operating system:  Ubuntu 20.04
- Installed via: skaffold.dev
- Conte

[2021-12-06 19:31] BenTheElder commented on #6927
The base image `gcr.io/cloud-spanner-emulator/emulator:1.3.0` is not multi-arch.

https://pantheon.corp.google.com/gcr/images/cloud-spanner-emulator/GLOBAL/emulator@sha256:ef0fd2ec74bb17b6c31e5010fb699fd0009b9829721d5159e6a11b6a40f881f1/details?tag=1.3.0&tab=pull

So building an arm64 image with buildkit is just building an arm64 layer on top of an amd64 layer.

You can run linux/amd64 images to a

[2021-12-06 19:38] Kollibri commented on #6942
So I figured out I needed to change the image strategy to "helm w/explicit repository" and ensure the name of the image "keys" match what is in the helm template.  It's working now.  Closing issue.

[2021-12-06 19:38] #6942 closed

[2021-12-06 21:15] charlesg99 opened #6943 "Helm 2 rebuild on requirements.lock change"
On Skaffold v1.35.0, when a Helm 2 deploy is used, as soon as the dependency's requirements.lock file is added or changes, a rebuild is launched. Seems like #4181 was aimed at fixing this but somehow this only prevents the rebuild for the tmpcharts folder and its content, not the requirements.lock file.

### Expected behavior
No rebuild on requirements.lock change

### Actual behavior
Rebuild on r

[2021-12-06 22:14] briandealwis commented on #6747
Fun!  This message is sent along in a `skaffoldLogEvent` and doesn't show up on the terminal:
[code]

<details>
<summary>details finding the problem</summary>

I ended up having to run with the following diff to see what was happening:
[code]

It only happens once the app has passed the status checks:

[code]

</details>

It happens because of the [`apiServerShutdownHook` post-run hook](https://gi

[2021-12-06 22:39] MarlonGamez commented on #6747
@briandealwis that seems like the best thing to do. I can open a PR to fix this

[2021-12-07 00:13] uynap commented on #6927
Thank you so much for you efforts. I will follow it up with the `gcr.io/cloud-spanner-emulator/emulator:1.3.0`.

@BenTheElder I don't have the access for the the URL you provided above. It seems it's the Google's intranet.
I found an equivalent URL https://console.cloud.google.com/gcr/images/cloud-spanner-emulator/global/emulator@sha256:ef0fd2ec74bb17b6c31e5010fb699fd0009b9829721d5159e6a11b6a40f88

[2021-12-07 00:38] BenTheElder commented on #6927
I found an equivalent URL https://console.cloud.google.com/gcr/images/cloud-spanner-emulator/global/emulator@sha256:ef0fd2ec74bb17b6c31e5010fb699fd0009b9829721d5159e6a11b6a40f881f1/details?tag=1.3.0&tab=pull

you're right, sorry. It automatically rewrites these on the intranet >.>, fixed it.

I reached this via http://gcr.io/cloud-spanner-emulator/emulator:1.3.0

You can view the "Manifest" tab an

[2021-12-07 02:33] uynap commented on #6927
Thanks @BenTheElder for the detail explanation. Great appreciated.

[2021-12-07 02:33] #6927 closed

[2021-12-07 03:32] briandealwis commented on #6927
Note: because you don't have `ARG BUILDPLATFORM` or `ARG TARGETPLATFORM`, your image layers are being built for the current architecture.  Because you're building on an M1 but gcr.io/cloud-spanner-emulator/emulator:1.3.0 is amd64, you end up with a mixed set of layers.

[2021-12-07 06:38] uynap commented on #6927
Unless the `gcr.io/cloud-spanner-emulator/emulator:1.3.0` supports ARM64, I will always end up with the same thing on M1.

[2021-12-07 19:34] briandealwis commented on #2745
@ynouri can you please open a separate issue?  Please make sure you are running the latest version of Skaffold as there was an issue where we were treating pods owned by a deployment as equivalent to standalone pods that was fixed by #6697 in Skaffold v1.33.0.

[2021-12-07 19:47] #6835 closed

[2021-12-08 02:21] briandealwis commented on #6941
I’m guessing you’re building to your local docker daemon. In this case your images aren’t addressable by digest. You can use `skaffold render —digest-source=local` to use Skaffold’s local digest-like tags.

[2021-12-08 02:23] briandealwis commented on #6940
I’m sorry but I don’t understand this question.

[2021-12-08 02:23] #6940 closed

[2021-12-08 02:28] briandealwis commented on #6937
Go builds up error objects by accretion. It’s possible that by installing then we might get to an object or at least recognize a YAML-like pattern that could be reformatted.

[2021-12-08 09:56] thiago4int opened #6946 "gcloud not updating skaffold properly"
### Expected behavior
Build
### Actual behavior
gcloud components install skaffold
All components are up to date.

### Information
skaffold dev
WARN[0000] Your Skaffold version might be too old. Download the latest version (1.35.0) from:
  https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.35.0  subtask=-1 task=DevLoop
parsing skaffold config: error parsing skaffold configuration fil

[2021-12-08 15:22] etanshaul commented on #6856
@briandealwis @tejal29 should we try and prioritize this for Dec / Jan ? This has been a point of friction for some time. If you look at the Cloud Run Java Cloud Code samples they currently emit Stackdriver formatted log output, so this happens even out of the box with our samples.

Additional thoughts:
- Cloud Code also streams container logs directly (from the k8s explorer, outside of a `skaffol

[2021-12-08 17:38] awesometown opened #6947 "Slow Rebuilds Using Gradle+Skaffold+Buildpacks"
### Expected behavior

When using "skaffold build" image rebuilds with buildpacks (after an initial successful build) should be fast (<10s ideally).

### Actual behavior

Image rebuilds take 1m+. When switching to use the Jib builder, builds are consistently sub 10s.

### Information

I have a Spring Boot-based application with a Gradle-based build process. The Spring Boot Gradle plug-in includes

[2021-12-08 22:32] djcass44 opened #6948 "Buildpack default launch type is no longer correct"
### Expected behavior

Buildpacks will set the correct launch type.

Using a custom build method that directly calls the Pack CLI:
[code]
[code]

As you can see it correctly sets the default process type to 'myapp' and the application starts up normally.

### Actual behavior

Buildpacks use the `web` launch type which is no longer set as of [Platform API 0.6](https://github.com/buildpacks/lifecycl

[2021-12-09 13:13] leoluk opened #6950 "v1.35.1 tag was force pushed"
Running `git fetch --tags` on my local checkout results in the following error:

[code]

My local checkout points to 4ec4a23aeac4eab0ec6eaefc5aff459cd59166ba, while the upstream repo points to bfc618edd22b577fff49a467588f0b87f3cac3e5.

Just leaving this here in case this is unexpected or indicating an account compromise.

[2021-12-09 14:56] briandealwis opened #6951 "Support user-provided post-renderer for filtering"
Tracking bug: #6706

#6949 changes our Helm deployer to use Skaffold as a post-renderer.  This change will break any users that had configured Helm to use their own post-renderer hooks via [`deploy.helm.flags`](https://skaffold.dev/docs/references/yaml/#deploy-helm-flags). We can have `skaffold filter` support a `--post-renderer` flag that then invokes the user-configured post-renderer.

[2021-12-09 15:11] briandealwis opened #6952 "Migrate Helm users using artifactOverrides"
Tracking bug: #6706

#6949 removes the `artifactOverrides` field and instead configured Helm to use Skaffold as a post-renderer filter for hydrating the Helm-rendered manifests.  One requirement for this to work is that the images in the rendered manifests must correspond to either the `build.artifacts[].image` or to the final locations of the images (post-default-repo).  This may be a breaking ch

[2021-12-09 16:19] briandealwis opened #6953 "Recognize Docker buildkit authorization error"
Seen on [StackOverflow](https://stackoverflow.com/questions/70288986/why-am-i-getting-this-error-error-internal-load-metadata): a user encountered an authorization error attempting to access GCR using a Buildkit build.  From the Skaffold output, it looks like we didn't recognize the authorization failure and may be marking it as an internal error.

[code]
### Information

- Skaffold version:
- Ope

[2021-12-09 16:30] dgageot commented on #3268
Sorry, it's been a year I haven't worked on Skaffold. I let the team respond to you :-)

[2021-12-09 16:57] emilecaron commented on #2536
Had the same issue.
If it can be of any use, I scripted the process of tagging artifact images again with `latest` tag and pushing them again

Get script here: https://gist.github.com/emilecaron/76f0a6816260bfc08d8edff0f8a8d245
Then add this extra step to your cloudbuild.yaml to run the script after `skaffold build`

[code]

[2021-12-09 18:24] briandealwis commented on #6947
@awesometown would it be possible to include some logs to compare a 1st and 2nd run with `skaffold build --timestamps`?

[2021-12-10 13:12] #6725 closed

[2021-12-10 13:14] #6747 closed

[2021-12-10 16:40] awesometown commented on #6947
I added three logs to the linked repository:

* firstbuild.log -> fresh build (to the best of my knowledge; if there's more I should clean out prior to running, let me know)
* secondbuild.log -> just re-ran the build right after the first one, no code changes
* thirdbuild.log -> results of the build after making a small code change

[2021-12-10 16:59] briandealwis opened #6957 "Skaffold artifact cache should not include image-name in hash calculation"
The container-debug-support images are published using two sets of names: a short-form like `go` as well as a longer-form like `skaffold-debug-go`.  This is done [with a profile using JSONPatch](https://github.com/GoogleContainerTools/container-debug-support/blob/970e571d526eb20b6a67cc525b349f617c0664d2/go/skaffold.yaml#L98-L110).  The idea was that long-form and short-form images can be built and

[2021-12-10 19:02] JCzz opened #6958 "re-build image after code change"
skaffold version
`v1.35.1`

Why is Skaffold not re-building image after code change?

I run `Skaffold build` after code changes. The best would be it it automatically started rebuilding when code changes is made in source code folder.

skaffold.yaml
[code]

[2021-12-10 21:08] JCzz opened #6959 "Skaffold how to build using dockerfile in subfolder - failed to solve: failed to read dockerfile"
Why is the following not working.

    skaffold.yaml
    ./docker/buildx.sh
    ./docker/Dockerfile

Error:

    error: failed to solve: failed to read dockerfile: open /tmp/buildkit-mount281120200/Dockerfile: no such file or directory

skaffold.yaml

    build:
      artifacts:
        - image: gcr.io/<projectid>/dockerfile-micro-depend
          custom:
            buildCommand: sh buildx.sh

[2021-12-10 21:09] macarr opened #6960 "Changes in files that should be captured by sync are triggering rebuild"
### Expected behavior

Given an application with a nested source directory, a dockerfile that contains `COPY appname /app/appname`, and `build.artifacts[].image.sync.infer` containing `- 'appname'`, When I update a file in, e.g., `appname/apis`, the file is synced to the pod.

### Actual behavior

A full docker rebuild is triggered

### Information

- Skaffold version: 1.35.1
- Operating system: U

[2021-12-10 21:25] #6959 closed

[2021-12-11 08:57] JCzz commented on #6941
Ahh Thanks @briandealwis

[2021-12-11 12:53] leoluk commented on #6950
... and again, this time from `23c144ea1` to `351898de4`. What's going on? :eyes:

[2021-12-12 15:45] #6941 closed

[2021-12-12 19:49] iMichka opened #6962 "Skaffold 1.35.1 source file checksum changed"
### Expected behavior

Checksum of the 1.35.1 version was 4ec4a23aeac4eab0ec6eaefc5aff459cd59166ba, 24 days ago.
But it changed to 6945c5b1cfcffc4a168f26673c0f6695f2088dd2 a few days ago.

We would like no checksum changes, and a confirmation everything is fine on your side.

### Actual behavior

There are two options here:
- Did you retag? This is "the insane thing to do" (from the official git d

[2021-12-12 20:06] iMichka commented on #6962
Looks like I was not the only one bitten by this: #6950

[2021-12-13 02:49] halvards opened #6963 "FR: Use Skaffold to set up registry authentication"
### Desired behavior

When running a pipeline on a CI build agent, I want to authenticate to the container image registry, so that Skaffold can push the image(s) that it builds.

If Skaffold provides this functionality, I can authenticate without relying on other CLI tools such as `docker`, `crane`, or `ko`, e.g.:

[code]

(or `skaffold auth login ...`)

### Current behavior

One of either the `do

[2021-12-13 12:20] ianbuilds commented on #6857
@briandealwis I'm kind of a sitting duck with this issue. Are there any more insights you can recommend? 🙏🏻

[2021-12-13 12:29] leoluk commented on #6962
It actually looks like there are _three_ different versions now :eyes:

- 4ec4a23
- 6945c5b
- bfc618e

[2021-12-13 13:38] #6916 closed

[2021-12-13 14:49] matt-carr commented on #6960
Fixed by switching over to using `manual` instead of infer and using, e.g., `src: **/*.py, dest: .`

Would be nice if this was documented a little better <3

[2021-12-13 15:33] briandealwis commented on #6857
I realize the Docker daemon normally returns the resulting image digest and so Skaffold doesn't need to query the remote registry explicitly like we do with the custom builder.  So I suspect you have an issue with your local certificate store — perhaps something to do with [Let's Encrypt's root expiry](https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/)?

Skaffold leverages bot

[2021-12-14 12:05] agpenton opened #6965 "Skaffold failed deleting resources before deployment."
### Expected behavior
[code]

### Actual behavior
[code]

### Steps to reproduce the behavior

The issue starts when we upgrade the cluster from version 1.18 to 1.20, the deployment was done from a branch and at the end of the day a schedule tried to delete the stack from the cluster from the main branch, which have different apiVersion in the manifests. So now skaffold is stuck trying to delete t

[2021-12-14 15:52] #4246 closed

[2021-12-14 15:57] #6126 closed

[2021-12-14 17:45] briandealwis opened #6966 "Update examples for log4j"
Many of our Java examples are using old versions of Spring Boot which include vulnerable versions of log4j.  These need to be updated.

[2021-12-14 17:47] briandealwis commented on #6966
You can see the dependencies list with `mvn dependency:tree`:
[code]

You can use `mvn -N versions:display-plugin-updates` to see recommendations for versions.

[2021-12-14 18:24] tejal29 commented on #6962
@leoluk Sorry. there was an manual error when running a github trigger due to which accidentally we published a v1.35.1 version.

This should be the right v1.35.1 release https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.35.1

[2021-12-14 18:25] tejal29 commented on #6962
Feel free to comment if this does not answer your issue

[2021-12-14 18:25] #6962 closed

[2021-12-14 18:31] tejal29 commented on #6965
@agpenton Can you please using the flag `--wait-for-deletions=false`. With this flag, skaffold will not wait for the resource to delete.
https://skaffold-latest.firebaseapp.com/docs/references/cli/#skaffold-deploy

Hope this answers your question. Feel free to comment to re-open

[2021-12-14 18:31] #6965 closed

[2021-12-14 18:35] briandealwis commented on #6966
oops, that should have been `versions:display-dependency-updates`

[2021-12-14 18:36] tejal29 commented on #6946
@thiago4int There is usually a lag between when skaffold new version is available Vs when it is available in gcloud. This is due to gcloud's weekly release schedule. This lag should not be more than 3-4 days.

We understand this is a bit confusing to users however at this time, we don't have the capacity to work on this.

We could potentially look into how user is managing skaffold i.e. via gcloud

[2021-12-14 18:36] #6946 closed

[2021-12-14 18:37] tejal29 commented on #6950
@leoluk Sorry, There was an error when manually testing new github trigger pipeline.
Things are now restored. Let us know if you still have issues.

[2021-12-14 18:37] #6950 closed

[2021-12-14 18:39] tejal29 commented on #6958
@JCzz you config only list `buildx.sh` as a build dependency. Are you changing `buildx.sh`?

If not, then please add your source code in `paths` section.

e.g.
https://github.com/GoogleContainerTools/skaffold/blob/main/examples/custom-buildx/skaffold.yaml#L9

[2021-12-14 18:40] tejal29 commented on #6958
please comment to re-open

[2021-12-14 18:40] #6958 closed

[2021-12-14 18:50] tejal29 commented on #6939
@rstoermer These are all valid questions and please find answers inline.

Skaffold needs to know what was the digest of the newly built image to replace the image name in your k8s manifests.
Skaffold does not deploy manifests with tags since tags are mutable. Also depending on the pod image pull policy, an image may or may not be pulled.
The way skaffold works is, once an image is built remotely o

[2021-12-14 18:50] iMichka commented on #6962
Thanks for the clarification. Just from a package manager point of view, best would have been to delete the 1.35.1 tags, and finally tag a correct 1.35.2 or even 1.35.2. This would have skipped 1.35.1 / 1.35.2 but it is perfectly fine to have a hole in the git tags, if it brings clarity that these releases have been withdrawn / were wrong.

[2021-12-14 19:18] tejal29 commented on #6943
@charlesg99 please feel free to add this missing file to this filter. The team can definitely help you with any pointers needed.

[2021-12-14 19:19] aaron-prindle commented on #6966
From the official `spring blog` post - `Log4J2 Vulnerability and Spring Boot` it seems that spring boot is not vulnerable using it's default logger (which we use in our /examples).  It is only vulnerable to the log4j2 0-day if you explicitly switch the default logging system to `log4j2`:

From the blog post:
[code]

In looking at our dependencies we only have the `log4j-to-slf4j` and `log4j-api` j

[2021-12-14 19:19] #6966 closed

[2021-12-14 19:22] tejal29 commented on #6935
@dnguyenzd have you tried the `-m` flag on the command like this
`skaffold dev -m my-application` ?

[2021-12-15 04:08] briandealwis commented on #6947
@awesometown I don't see 1 minute or more:
- secondbuild.org: 10:36:46 to 10:37:08 = 22s
- thirdbuildorg: 10:38:14 to 10:38:36 = 22s

[2021-12-15 04:30] tejal29 commented on #5424
sounds good!

[2021-12-15 04:30] #5424 closed

[2021-12-15 04:32] tejal29 commented on #6518
Closing this due to inactivity. Please comment to re-open

[2021-12-15 04:32] #6518 closed

[2021-12-15 04:32] tejal29 commented on #6579
Is this an issue on skaffold side or needs investigation?

[2021-12-15 04:44] tejal29 commented on #6932
Sorry for the annoying bug @seankhliao.

Can you please use `-c /tmp/config.yaml` and see if that works?

[2021-12-15 04:46] tejal29 commented on #6902
Skaffold does not support cross platforms builds yet. We will be working on this feature soon in Q2 2022.

[2021-12-15 04:48] tejal29 commented on #6907
@JCzz What does your `kubectl config current-context` say?

Maybe its pointing to the wrong cluster?

[2021-12-15 04:57] tejal29 commented on #6960
Can you please also send us skaffold verbose logs?
`skaffold <> -v=trace`,

A rebuild could be triggered in case skaffold is watching the entire workspace. From the config,  below looks like skaffold has listed the entire `.` as build dependency. A Log line indicating why rebuild was triggered will make things clear.
[code]

You can also use Cloud Code IDEs [VSC](https://cloud.google.com/code/docs

[2021-12-15 09:18] tejal29 commented on #6925
@adawalli Thanks for the issue and the explaining the security concerns here. I like your top 2 of your preferred options i.e. enable or disable it via config for two reasons
1) In dev loop, developers do want the subsequent builds to be faster.
2) For CI/CD purposes, skaffold should always build fresh or users should have an option  invalidate cache after X mins.

We will look into this as part o

[2021-12-15 09:21] tejal29 commented on #6924
Thanks for the bug @SizZiKe. Someone from the team will take a look. Lets us know if you are interested in contributing and we can get a team member to help you!

[2021-12-15 10:56] afoninsky opened #6968 "Support FederatedDeployment manifest type"
When application is deployed to federated clusters (with help of [kubefed](https://github.com/kubernetes-sigs/kubefed)) - deployment manifest should be wrapped with `FederatedDeployments`. Currently, skaffold is not aware about such deployment type.

### Expected behavior
Skaffold should update images for `FederatedDeployments `in the same way as it does with `Deployments` when using kustomize/kub

[2021-12-15 13:45] CrystalMethod commented on #6804
`_labels.tpl`:
[code]

With something like this we are now able to strip off the image digest when setting the `app.kubernetes.io/version` label.

[2021-12-15 13:45] #6804 closed

[2021-12-15 20:50] agpenton commented on #6965
I did it, and it works, but that wasn't the case, I can't change the deployment's pipeline because of that issue, and that occurs every day...
anyway, I found the cause and the solution for that.

[2021-12-15 21:46] samos123 commented on #3217
Any updates on this @briandealwis ? I would love to be able to use Cloud Run / Knative with Skaffold.

[2021-12-15 21:57] cgrotz commented on #3217
I started a simple implementation on my fork. I allows to deploy to cloud run.

But there are a few things that are a little alien, since skaffold is build more with k8s in mind.

https://github.com/cgrotz/skaffold/tree/main/pkg%2Fskaffold%2Fdeploy%2Fcloudrun

[2021-12-16 09:56] jfyne opened #6969 "Requires and required hooks, wrong cmd.Dir"
### Expected behavior

I have a top level skaffold file that requires all of my services, some of these services have before deploy hooks in them. I expect that running the top level skaffold file would sync the git repos and run each before deploy hook.

### Actual behavior

Skaffold appears to be running the before deploy hook in the directory of the top level skaffold file, not in the directory

[2021-12-16 17:06] tejal29 commented on #6968
@afoninsky We do have a hidden config way to configure additional objects.

https://github.com/GoogleContainerTools/skaffold/blob/e9c900fe353d50a536de042eca844e9ca4ed2ac7/pkg/skaffold/runner/v1/runner_test.go#L439

Would appreciate any help,
1) Making a change to unhide this config,
2) Complete this Design proposal https://github.com/GoogleContainerTools/skaffold/blob/a453306068dc34d7d65cec1ec50c4

[2021-12-16 20:00] EricRabil commented on #6969
Experiencing this as well on a fresh build of skaffold/main
[code]

[2021-12-16 21:50] seankhliao commented on #6932
Yes, passing the flag explicitly does make it use the specified config.

Side note: I have the environment variable set as part of my shell config, pointing it to `~/.config/skaffold/config.yaml`  because I don't like my `$HOME` littered with dot files/directories

[2021-12-16 22:35] dnguyenzd commented on #6935
@tejal29 thanks but unfortunately that doesn't help. It still redeploys dependencies and re-run hooks

[2021-12-19 07:49] gsquared94 commented on #6579
It's an issue on Skaffold side.

[2021-12-20 15:57] kubaw commented on #5703
You can forward socket file using `ssh` and `-L` option. For example:
[code]
Where `/var/run/docker.sock` is dockerd socket file on remote machine `docker-remote-host.example.com`

Then you can use this socket local socket to forward queries to remote docker:
[code]

[2021-12-20 19:38] awesometown commented on #6947
Hmm... you're right. Sorry; I'd run them in the background and not done the mental math myself.

I just re-ran two more builds, each after having made a single string change in the application. The logs are [here](https://github.com/awesometown/skaffold-boot/blob/master/rebuild-4.log) and [here](https://github.com/awesometown/skaffold-boot/blob/master/rebuild-5.log) and are more representative of

[2021-12-21 04:00] briandealwis commented on #6892
This looks the same as #4954.

Duplicate of #4954

[2021-12-21 04:00] #6892 closed

[2021-12-21 04:15] briandealwis commented on #6908
I've hit this situation before myself, and it is difficult to diagnose. The problem is that `setValues` is actually a flat map, a set of key-value pairs where both the key and value are strings.  Skaffold represents this with a helpful helper `FlatMap` which will rewrite your  nested object:
https://github.com/GoogleContainerTools/skaffold/blob/524a6b3914101af15fadf2eb3489e578a9c71f78/pkg/skaffold

[2021-12-21 04:15] #6908 closed

[2021-12-21 04:21] briandealwis commented on #6883
We would need some tests, but that's looks like a worthy patch!

[2021-12-21 13:22] honeyAndSw opened #6971 "SKIP_TEST env variable in custom build not set by skip-tests"
### Expected behavior
$SKIP_TEST updated along with --skip-tests flag in build.

* `skaffold build --skip-tests=true` sets $SKIP_TEST = true
* `skaffold build --skip-tests=false` sets $SKIP_TEST = false
* otherwise empty value.

This function introduced in https://github.com/GoogleContainerTools/skaffold/pull/6455

### Actual behavior
It seems like $SKIP_TEST is always true.

### Information

- Sk

[2021-12-21 16:48] JCzz opened #6972 "Skaffold local in Roland: "docker-credential-gcloud": executable file not found in $PATH"
Cloud Code: 21.12.1-213

Why is Goland producing the following error, when building:

[code]

Also debugging does not work and last image is not getting pulled.

Running:
`skaffold dev`

No error, but the image being pushed to registry is not getting pulled.

Skaffold.yaml
[code]

[2021-12-21 17:20] JCzz opened #6973 "skaffold - image can't be pulled - but kubectl run works"
Skaffold and Cloud Code -  image can't be pulled

Just to verify that the cluster can pule the image, this works
`kubectl run my-micro --image=localhost:5000/micro-one --port=8080 --restart='Always' --expose`

But Skaffold is not so happy:
[code]

Skaffold.yaml
[code]

[2021-12-21 17:24] JCzz opened #6974 "Setting skaffold.yaml build - "local: push: true" hangs in "Checking cache...""
Setting `local: push: true` make skaffold hang in "Checking cache..."

Setting to true, it builds - either way skaffold can not pull the image.

To verify that the cluster can pull the image, this works:
kubectl run my-micro --image=localhost:5000/micro-one --port=8080 --restart='Always' --expose

[code]

Buildx.sh
[code]

[2021-12-21 17:25] #6972 closed

[2021-12-21 19:38] mdolinin opened #6975 "Skaffold >=1.35 failed to finish deployment if user doesn't have access to list StatefullSets"
### Expected behavior
`skaffold run` successfully deploy pod or deployment when user doesn't have access to list stateful sets

### Actual behavior
If `skaffold run` executed by user that has no access to list stateful sets.
Then status check failed and exits with error message like this:
[code]

### Information

- Skaffold version: v1.35.1
- Operating system: macOS 11.6.1
- Installed via: Homebre

[2021-12-22 13:46] gsquared94 commented on #6973
can you specify the skaffold command that you're running? Can you please post the logs for `skaffold dev --default-repo=localhost:5000  --insecure-registry localhost:5000 -v DEBUG`

[2021-12-22 22:58] Don-CA commented on #1806
For those that find this comment via google, you need to use a specific a unit so try `m` for minutes

[code]

or `--timeout=30m`

[2021-12-23 11:46] dsamaey opened #6978 "Jib args for file listing (dev mode)"
Skaffold allows to add arguments to the Jib build, but not to list the files (in dev mode).

When your gradle.settings uses some flags to prune projects (-P buildX=true), Skaffold does not allow to pass those flags to the Gradle Jib plugin while calling _jibSkaffoldFilesV2

Could you please add support to pass args not only to the Jib build but also to the Jib listing ?

### Expected behavior

Whe

[2021-12-24 04:44] briandealwis commented on #6948
Skaffold is still linking with `buildpacks/pack` v0.18.1 due to https://github.com/buildpacks/pack/issues/1245.  It looks like that implements Platform API 0.4, whereas later versions of pack implements newer Platform API?

https://github.com/buildpacks/pack/issues/1245, and updating Skaffold to link with buildpacks/pack v0.23.0 seems to do the right thing.

[2021-12-24 05:18] bbhuston commented on #1692
@balopat  Would love to +100 the usefulness of skaffold support for terraform here as well.

To point to one immediate example use-case, the various [Google Cloud blueprint modules](https://github.com/orgs/terraform-google-modules/repositories) are currently a total mess when it comes to tooling.   Users are forced use multiple, disparate toolchains (e.g., `terraform`, `kubectl`, `helm`, `kustomiz

[2021-12-24 13:00] JCzz commented on #6973
Thanks @gsquared94

[code]

[2021-12-25 04:29] briandealwis commented on #6973
@JCzz note that Skaffold also replaces the image reference with the unique digest-like tag. So your deployment will reference a specific image, which you can see in the logging output:
[code]

Now you also have `imagePullPolicy: Always` which means that your cluster will always try to pull the image, regardless of whether it was already on the cluster.  But you're also explicitly specifying `local

[2021-12-25 04:31] briandealwis commented on #6975
Can we figure out the relevant stateful set instances from the deployed manifests? And save the need to list them?

[2021-12-25 04:34] briandealwis commented on #6978
@dsamaey would you be interested in submitting a patch?  The relevant code looks to be in `getDependenciesMaven()` and `getDependenciesGradle()` in [`pkg/skaffold/build/jib/jib.go`](https://github.com/GoogleContainerTools/skaffold/blob/main/pkg/skaffold/build/jib/jib.go).

[2021-12-25 04:53] briandealwis commented on #6971
_skip tests_ is determined by both the presence of the `--skip-tests` command-line flag as well as whether there are any test cases defined:
https://github.com/GoogleContainerTools/skaffold/blob/7ccebe58e2a62ec6e72e110a3e75ae46c3de0a94/pkg/skaffold/runner/runcontext/context.go#L161-L163

This last bit was brought in with #6527.  @MarlonGamez one side-effect is that builders that define their own t

[2021-12-25 04:55] briandealwis commented on #6974
@JCzz could you attach some logs with running Skaffold with `-v debug`?

[2021-12-25 12:39] briandealwis commented on #6974
@JCzz you can also use `kill -USR1` to cause Skaffold to output a stacktrace.

[2021-12-25 18:45] JCzz commented on #6974
Hi @briandealwis

Thank you for you message, unfortunatly I have to give up on Skaffold - it has been costing me too much time. I have moved on using Telepresence, and building containers manually for release.

Thanks again

[2021-12-25 18:45] #6974 closed

[2021-12-25 18:46] JCzz commented on #6973
Hi @briandealwis

Thank you for you message, unfortunatly I have to give up on Skaffold - it has been costing me too much time. I have moved on using Telepresence, and building containers manually for release.

Thanks again

[2021-12-25 18:46] #6973 closed

[2021-12-25 18:48] #6917 closed

[2021-12-25 18:49] JCzz commented on #6907
Hi @tejal29

Thank you for you message, unfortunatly I have to give up on Skaffold - it has been costing me too much time. I have moved on using Telepresence, and building containers manually for release.

Thanks again

[2021-12-25 18:49] #6907 closed

[2021-12-27 11:26] dominikbraun opened #6980 "GCP service account impersonation massively slows down Skaffold build"
When running `skaffold dev`, the build step is dramatically slowed down by a command related to GCP service account impersonation:

[code]

This output takes some minutes, and the command eventually fails:

[code]

**I don't have a GCP-related command in my `skaffold.yaml` file and don't know which particular command causes this error message.** Any ideas?

I'm running Skaffold 1.35.1 on macOS 11.

[2021-12-28 02:11] mm-e1 opened #6983 "skaffold does not handle tilde sign under kubectl > manifests"
Related to: https://github.com/GoogleContainerTools/skaffold/issues/2123 and https://github.com/GoogleContainerTools/skaffold/pull/2233

### Expected behavior

skaffold run should be able to use manifests from file in the home directory

### Actual behavior

skaffold fails with:

invalid skaffold config: skaffold config file "skaffold.yml" referenced file "~/.secrets/timescaledb/timescaledb-secret

[2021-12-28 16:25] gsquared94 commented on #6983
Although we did a fix for https://github.com/GoogleContainerTools/skaffold/issues/2123 there are several fields in the skaffold config schema that don't handle `~` sign for home directory. Instead of fixing these individually, I think we should either globally enable this behavior throughout the config or disallow it. Added it to triage discuss, unless there's a more authoritative answer from some

[2021-12-28 16:34] gsquared94 commented on #6971
it seems that the main purpose of #6527 was to avoid the log message for skaffold's test phase. The builder tests for Jib, Maven or custom would run as part of the build step directly and seem distinct from the test phase tests. Maybe we should revert #6527 and make the log line conditional to only skaffold test phase being defined.

[2021-12-28 17:36] gsquared94 commented on #6969
You can use the workaround of specifying absolute path to the hook script since relative paths are getting messed up (opened #6982).
[code]
You can refer to the available environment variables in the [docs](https://skaffold.dev/docs/pipeline-stages/lifecycle-hooks/#environment-variables)

[2021-12-28 17:59] gsquared94 commented on #6434
the `deploy.kubeContext` property only sets kubernetes context for the deploy phase. It cannot override the kubernetes context selected for the kaniko builder. We are having some discussions about making `kubeContext` a top-level property in the `skaffold.yaml` config but until that happens this is working as intended. You should be able to specify the cluster for the builder using the flag `--kub

[2021-12-28 17:59] #6434 closed

[2021-12-28 18:06] gsquared94 commented on #6980
can you provide your `skaffold.yaml` file and/or the output of running `skaffold dev -v DEBUG` after removing any sensitive info?

[2021-12-28 19:09] jfyne commented on #6969
Thanks, how will the fix look?

[2021-12-29 13:04] gsquared94 commented on #6980
`gcloud` is registered as the credential helper for Google-supported Docker registries in your Docker config file, which triggers this GCP command. I have no idea about the exact nature of this problem, however have you tried [this](https://stackoverflow.com/a/64949872/4540147) stackoverflow answer?

[2021-12-29 13:10] gsquared94 commented on #6969
In #6982 I'm adding `dir` field that can be set to specify the command execution directory explicitly. In your case, you can specify for the _child_ `skaffold.yaml` file:
[code]

This can be referenced in the parent skaffold.yaml file and the execution directory for the child hook command would be correct and not the process current directory.

[2021-12-29 13:10] dominikbraun commented on #6980
@gsquared94 Yes, I came across this answer in the meantime as well and it works. Thanks!

## Solution

Just deactivate service account impersonation for GCP:

[code]

[2021-12-29 13:10] #6980 closed

[2021-12-29 13:18] jfyne commented on #6969
@gsquared94 thanks for the explanation and the fix

[2021-12-29 15:14] honeyAndSw commented on #6971
Thank you for taking a look @briandealwis and @gsquared94 😃 I ended up adding a custom env variable. Looking forward to upcoming changes!

[2021-12-31 16:38] mecampbellsoup commented on #1566
I seem to also be having some inotify event misses...

[2022-01-02 11:47] dominikbraun commented on #4366
What about adding a Kubernetes annotation that tells Skaffold to not clean up the respective resource when hitting Ctrl + C?

[2022-01-03 14:58] jeusdi opened #6986 "maven local dependency"
### Expected behavior

Currently, this is my project structure:

[code]

As you can see, I managing two maven projects.

My host building steps are:

[code]

I mean, I first install `hes-spring-boot-core` into local repository and then I build `hes-mpi-fhir-mongodb`:

My `skaffold.yml` file is:

[code]

I'm getting this message, when I'm trying to build image:

[code]

It's getting me that maven b

[2022-01-03 20:27] furlongce commented on #4417
Is there a way to handle this? We're trying to use IntelliJ's Cloud Run integration w/ the GCR buildpacks and it's not a fan.

[2022-01-04 04:30] feliperyan opened #6988 "Build defaults to pushing images to docker.io"
### Expected behavior

Using `skaffold build` on https://github.com/GoogleContainerTools/skaffold/tree/main/examples/buildpacks-python builds a docker image locally.

### Actual behavior

Skaffold tries to push the newly built image to `docker.io` resulting in

[code]

### Information

- Skaffold version:   **v1.35.1**
- Operating system:  **Debian GNU/Linux 10 (buster)**
- Installed via:  **curl

[2022-01-04 06:15] halvards commented on #6988
Skaffold loads the built image to a Docker daemon only if the current kubecontext points to a local cluster: https://skaffold.dev/docs/environment/local-cluster/#auto-detection

Otherwise, Skaffold attempts to push the image to a registry. You can set a default prefix for images to tell Skaffold where to publish, to avoid repeating the registry name for each image: https://skaffold.dev/docs/enviro

[2022-01-04 09:19] snickell opened #6989 "Add tagPolicy: gitCommit: variant: Branches"
Since https://github.com/GoogleContainerTools/skaffold/pull/6904 has been merged, `cacheFrom` will automatically munge an not-explicitly-tagged image name to append the current tagPolicy. This makes it potentially very useful for easy layer-build-caching of dev branches..... if the gitCommit tagPolicy permitted a Branch variant.

In a dev context when building large docker build on a non-local mac

[2022-01-04 09:22] snickell commented on #6989
As an alternative approach, perhaps the set of "skaffold created special env vars" could be expanded to include git branch, git commit, etc: https://skaffold.dev/docs/environment/templating/

This would allow very nice control of git related tagging (including composite tags) using the `envTemplate` variant

[2022-01-04 10:19] jfyne commented on #6969
@gsquared94 Secondary question, will this approach work for deploy hooks?

[2022-01-04 14:58] amitm02 opened #6990 "missing concurrency field for custom build"
there are "concurrency" field for builds of type local, googleCloudBuild and cluster.
but there is not way to indicate how many parallel builds to perform for custom build: https://skaffold.dev/docs/pipeline-stages/builders/custom/

[2022-01-04 15:51] gsquared94 commented on #6990
the `concurrency` field is specified at the _build environment_ level i.e. `local`, `googleCloudBuild` or `cluster` which sets how many `artifacts` can be built in parallel. If you're running multiple builds within a single `custom` artifact definition then you can't control their concurrency, but if they are defined as individual skaffold _artifacts_ then you can set `local.concurrency` to contro

[2022-01-04 16:01] amitm02 commented on #6990
I do not think the custom build falls under either local, googleCloudBuild, or cluster.
that is the problem, the custom build is a different type of build and maybe just like we can have:

[code]

we should be able to have:

[code]

[2022-01-04 16:07] gsquared94 commented on #6990
oh, the `custom` builder should work with `build.local.concurrency`.

[2022-01-04 16:17] amitm02 commented on #6990
I see, in that case, I think there is a bug involved that caused me the be confused about it.
I've just tested with a custom build that all it does is run a bash script of `sleep 30`  and use build.local.concurrency=10.
It builds just the first artifact first, wait for 30 seconds. only after the first artifact is done, it run the rest of the artifacts in concurrency.

[2022-01-04 18:19] gsquared94 commented on #6990
So we are limited by not being able to show concurrent build outputs on the terminal which is why we write to a buffer and print them out altogether at the end. The actual builds are happening concurrently. You can get a better visualization of the concurrent builds if you're using [Cloud Code](https://cloud.google.com/code/docs/vscode/viewing-k8-logs) along with skaffold

[2022-01-04 22:18] snickell commented on #5703
In case it helps @briandealwis I've tested the different combinations with a Mac skaffold and a remote Linux docker_host.

The only combination that doesn't work is Skaffold+`DOCKER_HOST=ssh:`, with or without using buildkit in skaffold.yaml. Which is odd, I wouldn't have been surprised if Skaffold just didn't work with DOCKER_HOST, but specifically not working with the ssh transport only is unexp

[2022-01-04 22:34] snickell commented on #5703
This line appears to be from `docker/engine` in `http_helpers.go` (https://github.com/docker/engine/blob/8955d8da8951695a98eb7e15bead19d402c6eb27/errdefs/http_helpers.go#L103-L106):
`DEBU[0007] FIXME: Got an status-code for which error does not match any expected type!!!: -1  module=api status_code=-1`

[2022-01-05 04:31] briandealwis commented on #5703
Are you using Minikube as your cluster?
Does running with `—kube-context='“”'` make any difference?

[2022-01-05 07:33] snickell commented on #5703
I've tried with both minikube as my cluster, and with docker-desktop on mac's builtin kubernetes, same results

[2022-01-05 07:51] snickell commented on #5703
Running `skaffold build --kube-context='' -vdebug` also doesn't work with `DOCKER_HOST="ssh://ahi.local"

[2022-01-05 12:36] geoaxis commented on #167
I am sure there can be a way to do so. But how about if you design your applocation with failure detectuon and retry in mind. Even if your application starts before tge database, if it manages to connect a while later then all is fine. Its also realistic (database or database network can be down at any time)

[2022-01-05 15:37] delanni opened #6991 "SHA256 checksums of release 1.35.1 don't check out for the Mac releases"
### Expected behavior
The advertised sha256 checksums for the released binaries should be what we get for the binaries.

### Actual behavior
The advertised .sha256 files differ from what we get locally with `shasum -a 256` for the Mac releases

### Information

- Skaffold version: v1.35.1
- Operating system: Mac OSX Big Sur
- Installed via: curl
- Contents of skaffold.yaml: Not relevant

### Steps

[2022-01-05 15:49] briandealwis opened #6992 "Skaffold should rewrite imagePullPolicy when using a local cluster"
When using a local cluster like minikube, where the built images are loaded directly into the cluster's container runtime, a user will encounter see a deployment failure should they specify an [`imagePullPolicy: Always`](https://kubernetes.io/docs/concepts/containers/images/#image-pull-policy).  Skaffold should transform the manifests and either remove such pull-policies or possibly transform them

[2022-01-05 17:00] gsquared94 commented on #6988
Closing as https://github.com/GoogleContainerTools/skaffold/issues/6988#issuecomment-1004553525 addresses the issue raised and we don't intend to make any changes to this behavior. Let us know if you feel otherwise.

[2022-01-05 17:00] #6988 closed

[2022-01-05 17:20] #6971 closed

[2022-01-05 17:35] #6096 closed

[2022-01-05 21:04] #4954 closed

[2022-01-05 21:28] jeusdi opened #6994 "How to set local maven dependency using buildpacks"
### Actual behavior

I'm building my images using `pack` cli:

    pack build fhir-mongo --builder paketobuildpacks/builder:base --path target/hes-mpi-fhir-mongodb-service-0.0.1-SNAPSHOT.jar

This is my project structure:

[code]

As you can see, I managing two maven projects.

My host building steps are:

[code]

I mean, I first install `hes-spring-boot-core` into local repository and then I buil

[2022-01-05 21:32] #6986 closed

[2022-01-06 04:32] Mrhoho commented on #6072
This is my workaround

`node-setup-daemon-set.yaml`
[code]

[2022-01-06 09:39] amitm02 commented on #6990
can confirm. it's just a log buffer issue.

[2022-01-06 13:13] norbjd opened #6995 "Port forwarding does not work with ko builder"
### Expected behavior

When using [ko builder](https://skaffold.dev/docs/pipeline-stages/builders/ko/), any of the following commands:

[code]

should expose the debugging port (default 56268) locally, i.e. [port forwarding](https://skaffold.dev/docs/pipeline-stages/port-forwarding/) should work.

### Actual behavior

None of the previous commands port forwards the debugging port, nor deployment p

[2022-01-06 13:20] norbjd commented on #6995
Note that adding this in `skaffold.yaml`:

[code]

does the trick; but I think that this should not be done explicitly, like with docker builder where this is not required.

[2022-01-06 13:23] gsquared94 commented on #6990
closing this issue since we previously discussed this and aren't going to change the terminal output anytime soon and recommend the UX provided by Cloud Code for a better visualization of skaffold logs.

[2022-01-06 13:23] #6990 closed

[2022-01-06 16:07] ianbuilds commented on #6857
@briandealwis 🙏🏻

Running the `openssl` you suggested returned:
[code]

Even though Chrome accepts the ssl connection and deems it secure while browsing the <my-host>, it looks like I have a deeper problem. I'm guessing I have the wrong crt/chain in the wrong place on my registry?

[2022-01-06 16:11] ianbuilds commented on #6857
`openssl` did return the Certificate chain cert after the above output, but there's only one entry in it that I can see as compared to the three entries for `gcr.io:443`

[2022-01-06 18:55] #6969 closed

[2022-01-06 23:32] feliperyan opened #6996 "Incorrect use of google.CredentialsFromJSON?"
`google.CredentialsFromJSON` is being called with the equivalent of

[code]

Although no error is returned, it's constructing an _empty_ `google.Credentials` struct. I think this results on application default credentials always being called.

https://github.com/GoogleContainerTools/skaffold/blob/e1f52f45eed7de5708576a097eca0bb619d7c1ff/pkg/skaffold/gcp/auth.go#L64

[2022-01-07 11:14] solsson commented on #6991
Actual checksum for the darwin-arm64 binary is `ee26c4334bc787633aec6d4cbd8386d95a8cc6e34e2ef7cd37805ba98b28310d`

[2022-01-07 11:18] gsquared94 commented on #6884
Closing with https://github.com/GoogleContainerTools/skaffold/issues/6884#issuecomment-974859547 as a suggested approach, and no changes planned to this behavior any time soon.

[2022-01-07 11:18] #6884 closed

[2022-01-07 19:01] MarlonGamez commented on #6840
what kind of contents do you think an example `skaffold.yaml` should have? Should we just embed one that's used for the quickstart `gettting-started` example into the docs page?

[2022-01-07 19:03] MarlonGamez commented on #6740
Thanks for pointing this out, I think it's about time that we include this page, as we're currently generating and not including it as we wanted to have all things finalized and implemented. I think we're at that stage now and can go ahead with this

[2022-01-07 19:22] MarlonGamez commented on #6072
@briandealwis following up on your comment here, do you think that the recent changes to our build process should have resolved this issue ?

[2022-01-07 19:50] MarlonGamez commented on #6995
@halvards any chance you might have some more context on this? Nothing immediately comes to mind as to why this might be happening

[2022-01-07 19:56] MarlonGamez commented on #6989
@snickell thanks for opening up this issue, I don't know that this will be prioritized by the team but we're always open to PRs :)

[2022-01-07 20:11] MarlonGamez commented on #6996
hey @feliperyan , thanks for taking the time to open this. Do you have any more information into the issue here, e.g. debug logs/skaffold's output that's being caused by this issue?

[2022-01-07 20:20] MarlonGamez commented on #6991
@delanni thanks for pointing this out. We've recently changed our release process before doing this release and I believe we are now calculating checksums at the wrong time. This should be fixed for next release, and I'll work on getting the correct checksums into the release page for 1.35.1

[2022-01-07 21:46] halvards commented on #6995
Thanks for opening this issue @norbjd, and for including a repo that reproduces the issue!

It seems that if the image placeholder name uses the `ko://` prefix, the debug port isn't forwarded by default as it should. I'll look into why that's happening. I don't see anything obviously wrong when enabling debug level logging (`-vdebug`).

In the meantime, you can get the expected port forwarding beh

[2022-01-07 22:13] jeusdi opened #6997 "avoid to push image"
Here my `skaffold.yaml`:

[code]

I'm facing two problems:

1. I'm setting that image have to not be push up to registry.
2. I don't quite figure out why is trying to push up to docker.io. Shouldn't it be created on local repository as `fhir-mongo:tag`?

[2022-01-08 09:07] dinofizz commented on #6857
@ianbuilds does the cert chain as seen by Chrome match what you see when you run the openssl command?  What does the chain look like when viewed from the browser (i.e. by clicking on the lock icon and viewing the cert that way)? It would be interesting to see what Chrome sees and trusts for the root cert.

[2022-01-08 14:32] briandealwis commented on #6857
It sounds like either your Harbor certificate chain is missing an intermediary certificate, or one the chain’s roots or intermediates is [marked as untrusted](https://github.com/golang/go/issues/24147#issuecomment-370123411). If missing, you need to add this certificate to your configured Harbor certificate list.

Skaffold (via Golang) should uses the OS certificate store for its trusted roots, as

[2022-01-08 14:49] norbjd commented on #6995
@halvards Thanks for the help :raised_hands:

Actually, to make it work we only need to remove `ko://` prefix in `skaffold.yaml`, we can keep it in `deployment.yaml`.

To be fair, I don't know why I include `ko://` in `skaffold.yaml` in the first place :sweat_smile: because [in the ko builder docs](https://skaffold.dev/docs/pipeline-stages/builders/ko/#configuring-the-ko-builder) it does not appea

[2022-01-09 10:37] halvards commented on #6995
Great to hear @norbjd!

`ko://` is actually a valid prefix in `skaffold.yaml` when using the ko builder, so I'll leave this issue open while I work on a fix.

[2022-01-09 23:40] feliperyan commented on #6996
Hey Marlon, using `-vdebug` I get:

[code]

I think the json value being passed to `c, err := google.CredentialsFromJSON(context.Background(), body)` on line 77 is not sufficient to create a valid `google.Credentials` struct.

Later when `_, err = c.TokenSource.Token()` is called, I believe it's always failing and falling back to ADC when it's later used at https://github.com/GoogleContainerTools/

[2022-01-10 13:04] gsquared94 commented on #6997
what value are you getting for `$PUSH_IMAGE`?

[2022-01-10 16:30] afirth opened #6998 "Question: How to handle immutable tags?"
## Use case
One time `Job` in same repo as code
## Question
How can I force skaffold to not modify an image tag?

## Details
Rails service runs and is deployed with skaffold. A rake task exists for bulk import. This rake task should only be run once (without further manual intervention). Manifests look like:

[code]

## Options considered
1. Use a cronjob - doesn't support setting a year = will ru

[2022-01-10 18:09] MarlonGamez commented on #6883
hey @samgomena, did you ever end up creating a pr related to this functionality? If so, could you link it here?

[2022-01-10 19:21] samgomena commented on #6883
@MarlonGamez no, I haven't created a PR for this yet. I'm hoping to get around to it this week though, and will link it when I do so!

[2022-01-10 19:22] tejal29 commented on #5856
removing the triage/discuss. As part of v2 config re-design, an engineer will look into it

[2022-01-10 19:24] MarlonGamez commented on #6885
hi @riita10069 , i'm going to close this issue for now, but please feel free to get back and continue this discussion if you need further clarification on anything

[2022-01-10 19:24] #6885 closed

[2022-01-10 19:24] tejal29 commented on #6805
removing triage/discuss. Though this seems like a valid reasonable request, the team does not have the bandwidth to prioritize this now.  Adding a ci-cd label for future.

[2022-01-10 19:26] aaron-prindle commented on #6668
Sorry for the delay here.  @ngfgrant can you post the log output of the erroring skaffold command with the `-v debug` flag? (eg: `skaffold dev -v debug`).  It might be the case that your built images are in the wrong docker env (minikube has it's own docker daemon), looking at the logs will help us identify the issue.  Thanks

[2022-01-10 19:28] tejal29 commented on #6854
Removing the traige/discuss label. Right now, the team does not have bandwidth to work on this. Happy to accept contributions or DD.

[2022-01-10 19:37] tejal29 commented on #6856
/cc @marlon-gamez

Got it. Basically the ask is to try parse the application logs retrieved from `kubectl logs` into [LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry) and emit only the text.

[2022-01-10 19:39] MarlonGamez commented on #6777
hey @seivan , unfortunately this isn't really something we currently support, and I'm not sure we're going to support this in the future.

Skaffold typically requires some form of file input to process and apply to cluster, but this could be something that we discuss with the team more. I'll bring it up in our next issue discussion meeting

[2022-01-10 19:41] aaron-prindle commented on #6552
@briandealwis did you have any opinions on whether it makes sense to add more generfal `--post-deployment` flag support for helm through the skaffold CLI or if it not feasible as currently skaffold uses the `--post-deployment` flags?  Thanks.

[2022-01-10 19:43] MarlonGamez commented on #5365
hi all, I'll be closing this issue for now, as this doesn't seem like something we can do much to improve. It seems like the best option is to do what @ahmetb has suggested

[2022-01-10 19:43] #5365 closed

[2022-01-10 19:45] tejal29 commented on #6912
@DGollings thanks for the issue. We added Statefulsets status check recently.
Looks like the ask is to ignore this failure.
Does skaffold dev exit on the first occurrence of this failure?
If not, have you tries using the `statusCheckDeadlineSeconds` config field and bump the value ?

[2022-01-10 19:48] etanshaul commented on #6856
That’s right. That would be a great first step. A potential (to be discussed) follow up is outlined above in my comment under “additional thoughts”.

[2022-01-10 19:50] tejal29 commented on #6352
@gsquared94 Kaniko does not return the digest of the built image and hence in order for skaffold to replace the `image` in  deploy manifests skaffold needs to fetch the remote image build.

The other option is to add json output to kaniko which will return the digest of the built image. Since kaniko is in maintenance mode I don't see it happen.

Please re-open if you have any follow up questions.

[2022-01-10 19:50] #6352 closed

[2022-01-10 19:52] tejal29 commented on #6983
I feel we should support `~` elsewhere or nowhere. Since we already have partial support, we should resolve them in skaffold.yamls

[2022-01-10 19:54] tejal29 commented on #6992
I think it make complete sense. I would be in to transform the manifests in memory since skaffold already parses these.

[2022-01-10 20:02] tejal29 commented on #6777
Do you never store these generated manifests in any version control repository such as github?

Can you tell us more about your use case?
From the ask looks like you want to use `skaffold dev` to build images on source changes and update an already deployed resource on a cluster.

[2022-01-10 20:04] tejal29 commented on #1566
@mecampbellsoup Please open a new issue with your skaffold.yaml and skaffold logs.

[2022-01-10 20:13] tejal29 commented on #6638
@giladsh1 Please provide more details.
Thank you.

[2022-01-10 20:14] tejal29 commented on #6200
@HariSekhon Does that answer you question? Please reply to via comment to re-open the issue.

[2022-01-10 20:14] #6200 closed

[2022-01-10 20:17] tejal29 commented on #4870
@jaekook We have added `--continue` support for pydevd. Does that help you or you are using NodeJS?

[2022-01-10 20:24] ChrisGe4 opened #6999 "LTS image has OS vulnerability!"
gcr.io/k8s-skaffold/skaffold:v1.35.2-lts
gcr.io/k8s-skaffold/skaffold:v1.35.0-lts
gcr.io/k8s-skaffold/skaffold:v1.35.0-aplha-lts

[2022-01-10 20:35] MarlonGamez commented on #6856
@briandealwis @etanshaul I'm assuming this is something that we'd want to be toggleable ?

[2022-01-10 22:02] vikas027 opened #7001 "Feature Request - Allow Branch Name in customTemplate"
### Environment
Skaffold Version: 1.35.1
OS: Linux (Ubuntu)

### Problem
As of now, there is no easy way of getting the branch name which looks like a popular request in the [slack](https://kubernetes.slack.com/archives/CABQMSZA6) community

### Proposed
It would be good to have something like this

[code]

### Workaround
Use envTemplate as suggested [here](https://kubernetes.slack.com/archives/CA

[2022-01-10 22:21] briandealwis commented on #6856
Yeah, making it togglable as a deploy property in the skaffold.yaml?

[2022-01-10 22:24] briandealwis commented on #6072
Oh yes!  To all following this issue, this bug should be fixed in [Skaffold v1.35.1](https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.35.1).

[2022-01-11 00:45] snickell commented on #6989
I'd be up to implement a PR if there was Skaffold team consensus that (at least in principal) this was a desirable feature

[2022-01-11 16:06] gsquared94 commented on #6997
I'm not able to repro this either on release/v1.35.1 nor on main. Can you please share the ouput of running:
[code]

[2022-01-11 16:09] gsquared94 commented on #6989
I'd say go for it 👍

[2022-01-11 17:26] gsquared94 commented on #7001
seems like a duplicate of https://github.com/GoogleContainerTools/skaffold/issues/6989

[2022-01-11 20:17] vikas027 commented on #6989
Hey @snickell ,  This is indeed a popular request in the [slack](https://kubernetes.slack.com/archives/CABQMSZA6) community :)

[2022-01-11 20:25] vikas027 commented on #7001
Closing this ticket in favour of #6989

[2022-01-11 20:25] #7001 closed

[2022-01-12 00:27] aaron-prindle commented on #6999
Thanks for identifying this.  I am currently looking through the conatiner vulnerabilities identified by the `containerscanning` API.

[2022-01-12 00:36] snickell commented on #6989
See #7006 for a PR that implements the proposal here

[2022-01-12 01:38] vikas027 opened #7007 "Skaffold + Kaniko - Avoid pushing the image"
### Expected behavior
skaffold with kaniko to only build image, not push it

### Actual behavior
skaffold build and pushes the image

### Information

- Skaffold version:
[code]
- Operating system:
[code]

- Installed via:
GitHub Releases

- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. skaffold build --push=false

[2022-01-12 01:38] vikas027 opened #7008 "Skaffold + Kaniko - Not error when kaniko.noPush is true"
### Expected behavior
skaffold should not fail when `noPush` is true under kaniko

### Actual behavior
skaffold errors out with this error

[code]
Kaniko/Skaffold should not be checking whether the image has been pushed or not if `.build.artifacts.[0].kaniko.noPush` is `true`

### Information

- Skaffold version:
[code]
- Operating system:
[code]

- Installed via:
GitHub Releases

- Contents of sk

[2022-01-12 18:13] nkubala commented on #3268
@616b2f out of curiosity, are there limitations to the using buildah with the custom builder? of course having native support would be a better UX but I'd like to know if there are things you simply can't do using it.

podman has certainly become more popular recently, and it might be worth considering this again, but our team likely doesn't have the bandwidth to work on this at the moment. if any

[2022-01-12 18:18] nkubala commented on #6772
@itzmanish no, without a sync configuration stanza only rebuilds will be triggered.

[2022-01-13 02:52] aaron-prindle commented on #6998
Unfortunately there is no good solution currently for making skaffold respect an existing tag in this case.  Currently skaffold overwrites all subsequent "image" and "label" fields in nested spec objects.  The code where this is done is here:
- https://github.com/GoogleContainerTools/skaffold/blob/main/pkg/skaffold/kubernetes/manifest/images.go#L41

There is hardcoded allowlist currently which say

[2022-01-13 05:20] aaron-prindle commented on #6998
@briandealwis can you think of any workaround for this case?

[2022-01-13 05:51] itzmanish commented on #6772
ok. Thanks.

[2022-01-13 14:21] briandealwis opened #7012 "Client-side throttling error when using Skaffold"
From a report on [StackOverflow](https://stackoverflow.com/q/69872578/600339)

[2022-01-13 16:52] mecampbellsoup commented on #2492
You'd just have to compose shell commands e.g.:

[code]

[2022-01-13 20:19] #6933 closed

[2022-01-13 21:52] gmeans commented on #3217
I was just curious about this feature because using Cloud Code w/ the Cloud Run emulator, it appears behind the scenes `skaffold` is being used.

![image](https://user-images.githubusercontent.com/277741/149414546-ba36ad64-f5e4-46c7-b162-2a4778952068.png)

![image](https://user-images.githubusercontent.com/277741/149414774-80c3d82b-79ff-4508-b66e-5ea65234c4e7.png)

Is this just one of the approach

[2022-01-14 04:51] briandealwis commented on #3217
Cloud Run support has recently been added to [Config Connector](https://cloud.google.com/config-connector/docs/reference/resource-docs/run/runservice). Config Connector allows declarative configuration of GCP resources.

@gmeans the `gcloud code dev` creates and deploys a pod + service definition using Skaffold and Minikube.

@cgrotz that's nifty. It's unclear how to handle local development vs de

[2022-01-14 07:02] nvcnvn opened #7015 "skaffold run some time stop unexpected"
### Expected behavior
`skaffold run --kube-context=$MINIKUBE_PROFILE` successfully deploy to my local cluster.
### Actual behavior
Image build canceled and nothing else.
[code]
### Information

- Skaffold version: v1.35.1
- Operating system: Linux 5.11.0-46-generic
- Installed via: skaffold.dev
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
Actually I cannot reproduce th

[2022-01-14 07:51] 616b2f commented on #3268
@nkubala I am only aware of the limitation that you can't pass build args to the custom build script and I am not sure how to control the push behavior because the following works only with docker deamon:

![image](https://user-images.githubusercontent.com/7147208/149470796-75d8c12a-1a55-4990-93c5-a013bd4a6cc4.png)

I am new to golang (only did the tutorial some time ago) but I will try to dig int

[2022-01-14 10:23] cgrotz commented on #3217
Thanks for sharing the Config Connector link, I was waiting for this but wasn't aware that this was already in alpha. :smiley:

@briandealwis thanks, but I get why you recommended to hold off on it (I already had made that POC by then). For cloud run we wouldn't have a separate render phase.

I think your idea for `skaffold dev` and `skaffold debug` is great. I think going with `gcloud code dev` w

[2022-01-14 10:48] afbjorklund opened #7016 "Document changing to docker container runtime explicitly"
### Expected behavior

Since Kubernetes 1.24, the "docker" container runtime is no longer the default

This means that `minikube docker-env` _might_ no longer work, with the cluster,
unless it has been started with `minikube start --container-runtime=docker`

So this flag should be explicitly documented, in the **Quickstart** documentation.

### Actual behavior

`❌  Exiting due to MK_USAGE: The do

[2022-01-14 10:55] afbjorklund commented on #7016
@aaron-prindle @medyagh

[2022-01-14 18:25] briandealwis commented on #4870
@tejal29 this request to is provide some kind of indication to Skaffold as to whether `--continue` (or the equivalents elsewhere) should be used

[2022-01-14 19:54] lsoica commented on #2197
This one still reproduces on my end with latest skaffold:
[code]

Running a docker pull confirms the image is there in the registry and brings it locally. Next, running skaffold build it says: "Not found. Building"

[code]

The way that caching works with skaffold, is it documented somewhere ? I feel I'm misunderstanding something around it as this should be a basic scenario and still it's failing

[2022-01-14 22:00] arikkfir opened #7017 "Reference for skaffold.yaml is missing in website"
### Expected behavior

Reference of the `skaffold.yaml` to be shown in the URL: https://skaffold.dev/docs/references/yaml

### Actual behavior

No YAML reference shown. Small paragraph about YAML anchors and "Organizing multiple configurations" are shown, but that's it.

### Steps to reproduce the behavior

1. Navigate to https://skaffold.dev/docs/references/yaml/

[2022-01-15 13:18] lsoica opened #7018 "Required configs in git repositories cannot be referenced by commit or tag"
Note: this is not a bug but an improvement afaict as it is not documented as supported. My use case is: I have multiple git repositories, multiple support branches for each, so I would like to freeze the dependencies to a specific point in time than to have them on the tip of a "main" branch which is a moving target.

### Expected behavior
A required config like:
[code]
or
[code]
should checkout t

[2022-01-16 22:18] halvards commented on #7015
1. Are you able to build all three images from the Dockerfiles?

2. I notice that you don't have a "base" Skaffold config, everything is part of the `ci` profile. What happens if you move everything out of the profile (so `build` and `deploy` are top-level keys)?

[2022-01-17 09:47] nvcnvn commented on #7015
Let me check, need to add some debug code to see if any image built when the error happen, right now I just stop when the issue happen.

I tried that already, same issue happen.

[2022-01-17 13:32] Richard87 opened #7019 "Bug/feature req: Show errors from Lifecycle hook when it fails"
### Expected behavior
If a lifecycle hook fails, and the pod fails to start up, its "invisible" to the skaffold user, I expected it to log events from the lifecycle hooks.

### Actual behavior
Waiting, and then terminating without any obvious reason to why

### Information

- Skaffold version: 1.29.0
- Operating system: Fedora 32
- Installed via: gcloud components / package manager

### Steps to r

[2022-01-17 14:58] DGollings commented on #6912
Does skaffold dev exit on the first occurrence of this failure?
yes

was already 600 secs, but instantly dies

[2022-01-17 16:20] kaungmyat-htet commented on #6589
Hello @gsquared94, I would like to work on this issue but I am not sure whether just the `skaffold.yaml setup` parts have to move to `docs/content/en/samples` or not. Do I need to create new folder or file in the samples folder or not? Could you please give details about it? Thanks!

[2022-01-17 22:03] halvards commented on #7017
I can see the content. Do you still experience this issue?

![Screenshot 2022-01-18 09 01 37](https://user-images.githubusercontent.com/52342/149841606-4c286f25-620e-44fc-94a1-168bd64f1da7.png)

[2022-01-18 12:42] JustinCoded opened #7020 "skaffold.yaml"
There's no information or examples in https://skaffold.dev/docs/references/yaml/#build-artifacts-buildpacks-volumes for buildpack volume mounts to support buildpack bindings.

[2022-01-18 13:56] gsquared94 commented on #6589
Feel free to create folders and files under `docs/content/en/samples`. The target is any `skaffold.yaml` config yaml snippets defined directly in the markdown files like [this](https://github.com/GoogleContainerTools/skaffold/blob/a04528748d452b69dc6a5ecf9bc427d593589720/docs/content/en/docs/pipeline-stages/init.md?plain=1#L126-L140).

[2022-01-18 15:40] arikkfir commented on #7017
Yes I can see it too now - perhaps it was a momentary issue.
Closing.

Thanks!

[2022-01-18 15:40] #7017 closed

[2022-01-18 18:09] akitson-degreed opened #7022 ""skaffold debug" not working"
I cannot get "skaffold debug" to work.  I'm certain this is a configuration issue, but I don't know what's wrong.

### Expected behavior
Being able to connect to the debugger after running "skaffold debug".

### Actual behavior
The duct-tape container is never added, so there is no debugger, and the annotations for the debugging are not on the pods.
### Information

- Skaffold version: v1.35.1
- O

[2022-01-18 21:04] SkylerLutz commented on #3648
Experiencing this issue in my application -- logs correctly stream after the first invocation of `skaffold dev` but logs do not stream after I rebuild and redeploy.

@dgageot How can I verify that my deployment uses the image built by Skaffold? The name of the image that skaffold creates appears to match the image in my deployment 🤔

[2022-01-18 22:01] SkylerLutz commented on #4633
Same as @tonsV2 -- Experiencing issue in my application -- logs correctly stream after the first invocation of skaffold dev but logs do not stream after I make a change and Skaffold rebuilds and redeploys.

Skaffold 1.35.1

[2022-01-18 22:51] briandealwis commented on #6552
Skaffold doesn't yet use `--post-deployment`, but it will.  I think we can examine our `deploy.helm.flags` and daisy-chain to whatever is specified there.  This is tracked in #6951.

[2022-01-19 07:25] GrantBirki opened #7023 "`skaffold dev` fails but `docker-compose up --build` works"
### Expected behavior

I expect `skaffold dev` to start and correctly launch a process in minikube

### Actual behavior

`skaffold dev` fails when trying to build PyNaCl

### Information

- Skaffold version: v1.35.2
- Operating system: Windows and WSL2
- Installed via: skaffold.dev
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

I have the following Dockerfile:

[code]

[2022-01-19 13:21] ifalex opened #7024 "Skaffold does not cope well with buildkit used with --output (invalid reference format)"
### Expected behavior
When using buildkit in conjunction with --output skaffold should not expect that docker will tag the build.

### Actual behavior
Docker buildkit used with --output does not produce any tag for the build. Skaffold on the other hand is not aware about this behavior and expects a tag failing the process.
[code]
### Information

- Skaffold version:
[code]
- Operating system:
Runn

[2022-01-19 13:26] ifalex commented on #7024
This can be mitigated by setting "useBuildkit": False or by creating two different skaffold files and execute them in order.
One without output and then the other with --output.
If we set buildkit on False then we lose the benefits that buildkit introduces so wouldn't be the best decision.
The second option is a bit ugly because you wouldn't like to do this in 2 steps.

[2022-01-19 17:47] GrantBirki commented on #7023
Update:

Running the same command on my same repo works when on a Linux system and NOT using Windows + WSL. Still confused as to why its failing on WSL so hopefully this info can help with debugging

[2022-01-19 19:43] nkubala opened #7026 "Dockerfiles with quotes on base image tags fail to parse"
### Expected behavior
Dockerfile parses correctly and `skaffold build` builds container image

### Actual behavior
`skaffold build` fails with:
[code]

### Information

- Skaffold version: v1.35.2 (or any)
- Contents of skaffold.yaml:

[code]

Dockerfile:
[code]

This is happening because in our parsing logic, we remove quotes around base images provided in the `FROM` clause, but we only removing

[2022-01-20 00:06] #7026 closed

[2022-01-20 05:38] tejal29 opened #7029 "[V2] TestControlAPIManualTriggers integration test failing."
As per test logs for PR https://github.com/GoogleContainerTools/skaffold/pull/6949

Log: https://gist.github.com/tejal29/d147b48ead35f859b382110cd590e291#file-gistfile1-txt-L159

Steps to reproduce.
1) Check out GoogleContainerTools:v2-v1.35.0 : https://github.com/GoogleContainerTools/skaffold/tree/v2-v1.35.0
2) Run integration test `TestControlAPIManualTriggers`

[2022-01-20 05:44] tejal29 opened #7030 "[V2] TestDockerDebug integration test fail"
As per test logs for PR https://github.com/GoogleContainerTools/skaffold/pull/6949

Log: https://gist.github.com/tejal29/d147b48ead35f859b382110cd590e291#file-gistfile1-txt-L235

Steps to reproduce.
1) Check out GoogleContainerTools:v2-v1.35.0 : https://github.com/GoogleContainerTools/skaffold/tree/v2-v1.35.0
2) Run integration test mentioned

[2022-01-20 05:45] tejal29 opened #7031 "[V2] TestDeployTailDefaultNamespace failure on V2 branch"
As per test logs for PR https://github.com/GoogleContainerTools/skaffold/pull/6949

Log: https://gist.github.com/tejal29/d147b48ead35f859b382110cd590e291#file-gistfile1-txt-L263

Steps to reproduce.
1) Check out GoogleContainerTools:v2-v1.35.0 : https://github.com/GoogleContainerTools/skaffold/tree/v2-v1.35.0
2) Run integration test mentioned

[2022-01-20 05:46] tejal29 opened #7032 "[V2] TestDevPortForwardDefaultNamespace failing on V2 branch"
As per test logs for PR https://github.com/GoogleContainerTools/skaffold/pull/6949

Log: https://gist.github.com/tejal29/d147b48ead35f859b382110cd590e291#file-gistfile1-txt-L308

Steps to reproduce.
1) Check out GoogleContainerTools:v2-v1.35.0 : https://github.com/GoogleContainerTools/skaffold/tree/v2-v1.35.0
2) Run integration test `TestControlAPIManualTriggers`

[2022-01-20 05:48] tejal29 opened #7033 "[V2] TestFixStdout failing on v2 branch"
As per test logs for PR https://github.com/GoogleContainerTools/skaffold/pull/6949

Log: https://gist.github.com/tejal29/d147b48ead35f859b382110cd590e291#file-gistfile1-txt-L358

Tests failing:

1) TestFixOutputFile
2) TestFixStdout

Steps to reproduce.
1) Check out GoogleContainerTools:v2-v1.35.0 : https://github.com/GoogleContainerTools/skaffold/tree/v2-v1.35.0
2) Run integration test.

[2022-01-20 05:55] tejal29 opened #7034 "[V2] TestInspectBuildEnv failing on the v2 branch."
As per test logs for PR #6949

Log: https://gist.github.com/tejal29/d147b48ead35f859b382110cd590e291#file-gistfile1-txt-L462

Steps to reproduce.

1) Check out GoogleContainerTools:v2-v1.35.0 : https://github.com/GoogleContainerTools/skaffold/tree/v2-v1.35.0
2) Run integration test

[2022-01-20 05:56] tejal29 opened #7035 "[V2] TestModules_BuildDependency failing on v2 branch"
As per test logs for PR #6949

Log: https://gist.github.com/tejal29/d147b48ead35f859b382110cd590e291#file-gistfile1-txt-L556

Steps to reproduce.

1) Check out GoogleContainerTools:v2-v1.35.0 : https://github.com/GoogleContainerTools/skaffold/tree/v2-v1.35.0
2) Run integration test

[2022-01-20 09:45] lsoica commented on #6707
This is still an issue with skaffold although in buildkit it was addressed long time back

[2022-01-20 20:59] briandealwis opened #7036 "Skaffold should suggest authorizing specific regsitry on auth failure"
I was trying to push to an Google Artifact Registry repository which failed:
[code]

`gcloud auth configure-docker` wasn't helpful as it does not add entries for all of the `<region>-docker.pkg.dev` and `<multi-region>-docker.pkg.dev`.  Rather we should suggest: _"or try `gcloud auth configure-docker <registry>`"_

[2022-01-20 21:03] #6871 closed

[2022-01-21 11:38] palladius opened #7039 "Building Artifacts with a Custom Build Script"
Following these instructions: https://skaffold.dev/docs/tutorials/custom-builder/

Then, configure artifacts in your skaffold.yaml to build with build.sh:

### Expected behavior

build
### Actual behavior

doesnt build:

[code]

### Information

- Skaffold version: $ skaffold version
v1.35.1
- Operating system: Mac OS
- Installed via: $ which skaffold
/usr/local/bin/skaffold # so probably homebrew

[2022-01-21 11:40] palladius commented on #7039
For change management, attaching also `build.sh`  content which I believe is the culprit of the error (I'm not a go/ko expert):

[code]

[2022-01-22 14:24] palladius opened #7041 "Developer Journey with Buildpacks"
I never can get GKE deployments to work for my personal apps or for your examples/ apps:

I tried to use your `samples/ruby/` helloworld in ruby.
Build beautifully but when it tries to run on GKE it fails miserably.
My kubecontext is picjked up perfectly so it KNOWS where to push, it seems to fail to pull the images.
I have a feeling there are two problems here:

1. the IMAGE PUSH functionality is

[2022-01-24 06:49] ashconnell opened #7046 "Prevent rebuilds when using a global context"
We have an npm package that is used as a library in two separate pods. To use this with Skaffold we need to set the docker context to the root directory and then in each Dockerfile we copy in all the packages it needs and build them.

The issue is that while files sync correctly, because all artifacts have the same context the other images trigger a rebuild.

[code]

And here is one of the Dockerf

[2022-01-24 11:19] hown3d commented on #3268
@nkubala I'd be glad to work on this!

[2022-01-24 14:34] yurchenkosv opened #7047 "Helm flags not working via skaffold"
### Expected behavior
skaffold execute helm upgrade with flags
### Actual behavior
Error: unknown flag: --history-max 3
deploying "release_name": install: exit status 1
### Information

- Skaffold version:  v1.35.2
- Operating system:  MacOS 11.6.2
- Installed via:  Homebrew
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

Add flags to upgrade stage of helm
[code]
execute

[2022-01-24 14:41] yurchenkosv commented on #7047
I found out that a space in the flag leads to an error.
With the following I got no errors and all works as expected
[code]
I think, this could be added to documentation?

[2022-01-24 14:57] mxpaspa opened #7048 "Skaffold fails to find credentials for quay.io during check cache step"
### Expected behavior
Running skaffold-dev should run without errors
### Actual behavior
[code]
with `--verbosity trace`:
[code]
### Information

- Skaffold version: 1.35.0
- Operating system: macOS monterey 12.1
- Installed via: running binary inside a /bin folder of current project
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
- This is occurring on a redhat operator

[2022-01-24 20:01] lsoica opened #7050 "When cache is removed skaffold rebuilds the image although it is already available in the remote registry"
### Expected behavior
For this skaffold config:
[code]

With this dockerfile:
[code]
When running skaffold build, it should detect that the image tag is already available in the remote registry and skip rebuilding.

### Actual behavior
Every time the local cache is removed, skaffold rebuild the image although the tag is already available in the remote:
[code]

### Information

- Skaffold version:

[2022-01-24 21:50] ianbuilds commented on #6857
@dinofizz It looks like the Chrome browser and the openssl command:
* GoDaddy Root Certificate Authority = trusted and received
* GoDaddy Secure Certificate Authority (intermediate, i think) = not trusted
* <pvtdomain> = not trusted

[2022-01-24 21:53] ianbuilds commented on #6857
I think this is it, the intermediate certificate. I will see what I can do here.

[code]

[2022-01-24 23:36] Guillaume-Mayer opened #7051 "Skaffold last-prompted updated despite update-check is false"
Hi,

I turned update-check off, in Skaffold global settings, because I use my package manager to update.
I try to track my dot files with git and I added ~/.skaffold/config to them.

### Expected behavior

When update-check is false, update.last-prompted should not be updated (I think)

### Actual behavior

update.last-prompted is updated, I think each time I use Skaffold

### Information

- Skaff

[2022-01-24 23:44] ashconnell commented on #7046
I may have been thinking about this the wrong way. I can probably just use:

[code]

This would then sync ALL changes to ALL pods and never trigger a rebuild, but this might be okay.

[2022-01-24 23:44] #7046 closed

[2022-01-25 03:58] feliperyan commented on #6996
Hi @marlon-gamez I believe this issue is also causing https://github.com/GoogleContainerTools/skaffold/issues/6743

[2022-01-25 03:58] feliperyan commented on #6743
I think this issue (which I can reproduce) is related to https://github.com/GoogleContainerTools/skaffold/issues/6996

[2022-01-25 08:44] tomas-mota commented on #6598
I can give this a shot. Any examples of an application/framework that generates such files on build error @glennpratt ?

[2022-01-25 10:26] gaurav0107 opened #7053 "Skaffold image filter with -build-image does not work properly with requires."
Here is a sample skaffold in which, I only want to build IMAGE2, thus I use
`skaffold build -p test -b IMAGE2` but since image2 is dependent on image 1 this filter stops build 2 as well since it cannot find build 1 throwing an error

`FATA[0034] failed to resolve build result for required artifact "IMAGE1"  subtask=-1 task=DevLoop`

[code]

[2022-01-25 11:30] lsoica commented on #7050
Just figured out I forgot to provide tryImportMissing: true. Closing it as it's working as expected.

[2022-01-25 11:30] #7050 closed

[2022-01-25 12:18] tejal29 commented on #7047
Thanks @yurchenkosv for finding this out. We will update the docs to reflect this.

[2022-01-25 12:23] tejal29 opened #7054 "[v2] skaffold delete followed by skaffold run does not work."
Skaffold v2:

`skaffold delete` does not work after `skaffold run` on the v2 branch.

Steps to reproduce.
1) Run `skaffold run` on v2 branch
[code]

2)  Run `../../../out/skaffold delete`
[code]

3) There are no files in the kpt hydration directory.
[code]

The pod is getting deployed.
[code]

[2022-01-25 18:29] tejal29 opened #7055 "[v2] fix Skaffold v3 config duplication"
While going through the skaffold v3alpha1 config, I found a bit of redundancy

1) `manifests`, `helmReleases` and `kustomizePaths` is duplicated in  render config as well respective deploy config i.e. `KubectlDeploy`, `HelmDeploy` and `KustomizeDeploy`.

2) Remote manifests config should be moved from `KubectlDeploy` to `manifests` config section.

[2022-01-25 19:42] lsoica opened #7057 "Skaffold does not rebuild derived artifact after base artifact changes"
### Expected behavior
If a base artifact rebuilds, all the artifacts that depends on it should rebuild.

### Actual behavior
The base artifact is rebuild but the derived artifacts do not.
For this skaffold yaml
[code]

Dockerfile for base
[code]

Dockerfile for derived image
[code]

Changing the base image does not trigger a rebuild on the derived image
[code]

### Information

- Skaffold version:

[2022-01-25 19:43] kurczynski commented on #6908
Not exactly what this question is asking, but similar. If you try to patch an array value from `setValues` you'll need to quote the path. So if you have:
[code]

You would need to patch like this:
[code]

[2022-01-25 20:40] Guillaume-Mayer commented on #7051
This is really a minor issue obviously.
I could try to fix it myself if you confirm me that it is not the expected behavior.
Be fine

[2022-01-25 22:20] aaron-prindle opened #7058 "Seeing local `make test` failing from @HEAD at commit: 81dd394116acd59eed2515fda969d4c48e41c0bf"
Currently when attempting to run `make test` locally from current HEAD (81dd394116acd59eed2515fda969d4c48e41c0bf) I am seeing two failures.  Full `make test` output below:
[code]

I am currently using go version `1.18` btw in case someone here thinks it may be related.  Seems to be working in CI properly, not sure what env changes might be causing this atm. Is anyone familiar w/ any recent changes

[2022-01-26 16:03] tejal29 commented on #7051
Thanks @Guillaume-Mayer for finding this issue. You are right. The `last-prompted` should not be updated. Feel free to create a PR.

Thanks!

[2022-01-26 16:11] tejal29 commented on #7057
@lsoica Thanks for the issue. Looks like there is an issue computing the `Hash` for the derived images.

Can you please do me a favour and see if this also happens on `skaffold dev`

1) Run `skaffold dev -v=trace`
2) Open another terminal and change a base image file.
3) Verify the logs to see if both `derived` and `base` are built in the second iteration.

Thanks

[2022-01-26 16:13] tejal29 commented on #6997
@jeusdi friendly ping. Closing this issue as unable to reproduce. Please comment to re-open

[2022-01-26 16:13] #6997 closed

[2022-01-26 16:21] tejal29 commented on #6072
@cheslijones and @Mrhoho did v1.35.1 fix your issue?

[2022-01-26 16:32] #7036 closed

[2022-01-26 16:33] #5414 closed

[2022-01-26 16:37] tejal29 commented on #7039
Looks like skaffold is calling the custom build script as expected. Can you verify if the build script itself id working?

[2022-01-26 16:42] palladius commented on #7039
Clearly the error comes from this line:

    GO111MODULE=on go get -mod=readonly github.com/google/ko/cmd/ko@v0.4.0

Maybe go issues?

    $ go version
    go version go1.15.8 darwin/amd64

[2022-01-26 16:43] tejal29 commented on #7039
Do you want to instead use the newly added inbuilt ko builder ?
https://skaffold.dev/docs/pipeline-stages/builders/ko/

Or you were wanted to try custom builder using ko for a reason?

[2022-01-26 16:50] tejal29 commented on #7053
@gaurav0107 Please take a look at https://skaffold.dev/docs/tutorials/artifact-dependencies/ to see how to specify artifact dependencies.
Looking at your config, it does not look like you are using the `requires` stanza.

/cc Adding @gsquared94

[2022-01-26 17:08] tejal29 commented on #916
shd be closed by https://github.com/dgageot/skaffold/commit/c1708b4f4fc7e099992edc69b8d4831a224ca770

[2022-01-26 17:08] #916 closed

[2022-01-26 17:08] tejal29 commented on #6467
shd this be fixed by #6757 @aaron-prindle ?

[2022-01-26 17:21] tejal29 commented on #7019
@Richard87 We do look at Pod events from container. Can you please run `kubectl get events`

[2022-01-26 17:23] tejal29 commented on #7041
Thanks @palladius! Yes there is huge scope of improvements on our docs. Letcs chat more in person.

[2022-01-26 17:26] computerquip-work commented on #6845
I'm having a similar issue where the container's configured user isn't root. The kubectl invocation doesn't specify a user so the default configured user is used. If that user tries to extract into a directory they don't have access to, it will fail like this.

That's my current thought anyways.

[2022-01-26 17:30] tejal29 commented on #7007
kaniko pushes the image itself. Please refer to kaniko flags for no-push

[2022-01-26 17:30] #7007 closed

[2022-01-26 19:46] aaron-prindle commented on #6467
No, unfortunately that fix was specific to that test - `skaffoldyamls_test.go`.  I am not sure what the root cause is for this issue with these docker dial timeouts.

[2022-01-26 20:02] lsoica commented on #7057
@tejal29
Here's what happens if i do a skaffold dev when everything is committed:
Do a change in base -> only base is rebuilt:
[code]
Do another change on base -> nothing is rebuilt:
[code]
Do a change in derived -> derived is rebuilt:
[code]
Do another change in derived -> nothing is rebuilt:
[code]

The expected behaviour as far as I can tell should be that:
 - a local change in base should trig

[2022-01-26 21:07] briandealwis opened #7059 "Install gke-gcloud-auth-plugin plugin"
Kubernetes is deprecating provider specific code in Kubernetes code (https://github.com/kubernetes/kubernetes/issues/103498). Tools built with `client-go` 1.25 version (or later versions), will not have built-in support for GKE/GCP.

The new gcloud `gke-gcloud-auth-plugin` component will be required for accessing GKE for all customers in 2022 Q2.  We need to install this component in our `gcr.io/k

[2022-01-26 21:42] #5979 closed

[2022-01-26 21:53] #6948 closed

[2022-01-27 00:04] aaron-prindle commented on #6999
The images here:
gcr.io/k8s-skaffold/skaffold:v1.35.2-lts
gcr.io/k8s-skaffold/skaffold:v1.35.0-lts

have been updated and re-published removing the triggering vuln and
gcr.io/k8s-skaffold/skaffold:v1.35.0-aplha-lts

has been deleted.
Closing as it is fixed now

[2022-01-27 00:04] #6999 closed

[2022-01-27 05:39] gaurav0107 commented on #7053
@tejal29 even if I use the exact same example and build via

`skaffold build -b app` since app requires base but its not in -b filter, it gives error as

`FATA[0005] failed to resolve build result for required artifact "base"  subtask=-1 task=DevLoop`

[code]

[2022-01-27 09:52] #7059 closed

[2022-01-27 14:00] ChrisGe4 opened #7062 "LTS image has OS vulnerability!"
gcr.io/k8s-skaffold/skaffold:v1.35.0-lts
gcr.io/k8s-skaffold/skaffold:v1.35.2-lts
gcr.io/k8s-skaffold/skaffold:v1.35.0-aplha-lts

[2022-01-27 16:09] mxpaspa commented on #7048
Turned out to be an issue with our build process. Closing.

[2022-01-27 18:04] Mrhoho commented on #6072
I use the local compiled version `v1.35.2` and the problem persists @tejal29

[2022-01-28 05:08] briandealwis commented on #6072
@Mrhoho are you using a version that you compiled yourself? Or are you using the version from:

https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.35.2

[2022-01-28 10:11] Mrhoho commented on #6072
@briandealwis

[2022-01-28 11:24] Richard87 commented on #7019
Thanks for coming back to me!

I had some issues with the container beeing deleted before I could get the events, but running with --cleanup=false gave the expected output, so maybe there is a bug in there somwehere?

ANyway, check out this output and notice how the error from the init container is not included in the first part:
[code]

[2022-01-28 14:06] briandealwis commented on #6072
@Mrhoho interesting!  If you're willing, I'd like you try a few things to help us narrow the issue:

1. Could you try using the binary from the [v1.35.2 release](https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.35.2) just to rule out any local configuration issue?
2. Could you try using the darwin-amd64 binary from the [v1.35.2 release](https://github.com/GoogleContainerTools/skaff

[2022-01-28 14:50] Mrhoho commented on #6072
Macbook pro m1 max
k3d version v5.2.2
k3s version v1.21.7-k3s1 (default)

1.MacOS arm64
[code]

2.macOS amd64
[code]

3.File limits
[code]

@briandealwis

[2022-01-28 16:17] Mrhoho commented on #6072
I have another problem, after a few minutes of `skaffold dev --port-forward` and then lose all output but the cluster app is running fine, any ideas what's going on？🤔

[code]

[2022-01-28 20:08] briandealwis opened #7063 "Use gcloud for authenticating to AR's *-docker.pkg.dev"
Skaffold has special case logic to try to use GGCR's `gcloud`-based authenticator for `gcr.io` and `*.gcr.io`.  We should also do this for `*-docker.pkg.dev`.  ~This will simplify life for Cloud Deploy users.~ _(edit: this will only affect docker builds that use the docker daemon 😢 )_

https://github.com/GoogleContainerTools/skaffold/blob/a3164bbab70ec85cfa7f91fc577f8d0b380b25c4/pkg/skaffold/docke

[2022-01-28 20:36] briandealwis commented on #6072
Odd! Your file limits are an order of magnitude of my machine settings.

I should have asked two other things:
  1. what does `ulimit -a` show from your shell?
  2. what does `launchctl limit` show?

There are a number of reports similar to this with the M1, saying the default values for maxfiles are too low.  You may get further by running `ulimit -n 65536` (or higher!) before launching `skaffold

[2022-01-29 04:10] Mrhoho commented on #6072
1.ulimit -a
[code]

2.launchctl limit
	cpu         unlimited      unlimited
	filesize    unlimited      unlimited
	data        unlimited      unlimited
	stack       8372224        67092480
	core        0              unlimited
	rss         unlimited      unlimited
	memlock     unlimited      unlimited
	maxproc     10666          16000
	maxfiles    524288         524288

I modified the default valu

[2022-01-29 04:30] briandealwis commented on #6072
I’m wondering what process has these open files, and what these files may be.  Can you try running that `lsof` commands periodically during your `skaffold dev`? I’m curious if the problem is Skaffold or Docker. You could then try running lsof and diff the results to see what new files are opened.

[2022-01-29 05:12] Mrhoho commented on #6072
[diff](https://prickle-war-048.notion.site/Diff-0171ef1bd9634525b7dd0629782311f4)

[2022-01-30 04:40] briandealwis commented on #6072
Thanks for that lsof diff @Mrhoho.  Based on the diff `@@` markers, you look to have less than 15000 open files, which should be well within your limits.  It looks like there are 14 instances of kubectl running, presumably for `kubectl log` and `kubectl port-forward`.

Two observations:
1. You seem to be using `kubectl` from homebrew. We've had reports of very odd resource use from kubectl from ho

[2022-01-30 18:42] Mrhoho commented on #6072
Thank you for your help!

1.Doesn't work

2.Still doesn't work

Yes i did not apply this patch.

I don't know the exact reason. But this patch worked for me

Thanks again

[2022-01-30 20:21] fcrbe opened #7064 "Skaffold dev seems not to be picking up kubeContext"
When using kubeContext in my skaffold.yml, it does not seem to take this into account. I specified to use the kubeContext minikube (minikube running on my system), but while starting up `skaffold dev`, it says:

[code]

It seems to load my kube context of Digital Ocean (which is defaulted at that time).

After building it fails because it can't pull the image:

[code]

When running `skaffold dev -

[2022-01-31 04:17] briandealwis commented on #6072
@Mrhoho: I think you're hitting a different issue than what's described in this thread.  The symptoms described by others arise from executing commands by Skaffold within macOS [*] whereas your symptoms seem to be within the Docker containers.  Given that you're having to tweak the fs.inotify flags from within each node, there must be some component in one of your container images that's hitting r

[2022-01-31 06:55] tomas-mota commented on #6598
Can I get some feedback on this? Adding a new field will change the field to be a string instead of boolean as it is, so I am a bit confused as to whether this solution is viable.

[2022-01-31 07:12] tomas-mota commented on #7051
I'll try to fix it. Remember to label 'good first issue' for other new comers :)

[2022-01-31 08:28] ITD27M01 opened #7065 "skaffold build in cluster with AWS EKS and ECR"
I want to develop a workflow when developer makes changes to the code and this code continuously deployed to the test Kubernetes AWS EKS cluster.

Images are building in the EKS cluster by Kaniko because we are using ARM flavors.

[Skaffold][1] Looks like a good solution for such workflow, but I could not manage to start it to work in my environment.

I'm using the following skaffold.yaml:

[code]

[2022-01-31 09:27] CrystalMethod commented on #5418
With Helm 3.8 OCI support has become generally available.

https://github.com/helm/helm/releases/tag/v3.8.0

[2022-01-31 11:23] palladius opened #7066 "skaffold init/dev to support deployment-less configs"
### Expected behavior

[As agreed with Tejal, I'm going to dump my thoughts here].
As a developer, I would like to use skaffold as a iteration process for early building my dockerized application.
At early stages, I wouldn't want to run it on kubernetes, or even minikube, I would probably use a quick and simple
docker-compose kind of functionality. However, skaffold has way better functionalities,

[2022-01-31 18:33] Guillaume-Mayer commented on #7051
Thanks @tomas-mota I'm not familiar enough with Go, I tried to add an if but then test failed and I didn't investigate more

[2022-01-31 21:23] MarlonGamez commented on #2154
Closing this issue as we publish signed binaries for windows as of skaffold >= v1.35.1. Please let me know if similar issues are run into

[2022-01-31 21:23] #2154 closed

[2022-01-31 22:52] MarlonGamez commented on #6348
closing this since we've moved our release process and are using go `1.17+`

[2022-01-31 22:52] #6348 closed

[2022-02-01 15:48] gennadiycivil commented on #6856
@tejal29 Gentle ping, any updates on this thank you!

[2022-02-01 18:02] MarlonGamez commented on #6856
@gennadiycivil I'll be working on this this week

[2022-02-01 18:32] glennpratt commented on #6598
From my perspective, I'd absolutely be OK with forcing a reset just on true. You could use `git stash` to do it and document that, so users have a path to recover if they made some valuable changes to the repo, however unlikely that might be.

I'm not a maintainer though, just a user.

[2022-02-01 18:42] tomas-mota commented on #6598
Yeah, that also seems to me to be the intended behaviour of the flag. If it is safe for us to assume that the user is not going to make deliberate modifications to the cached repo directly, then we can skip the caching (good idea though!)

[2022-02-01 21:01] luchillo17 commented on #20
@nkubala can you elaborate? can't find any way to tell skaffold to ignore a specific folder, either that or the docs are not updated with it.

[2022-02-01 21:23] noyoshi commented on #6939
I am hitting this same issue - What is the definitive type the pullSecret should be configured as?

Everything else makes sense, but I am still in the dark as to what this `pullSecretName` should actually be.

[2022-02-02 10:20] Kvark900 opened #7070 "Cannot pull image from Harbor"
### Expected behavior
Skaffold should pull the image from insecure Harbor registry running on HTTP. I have tried everything from these docs:
https://skaffold.dev/docs/environment/image-registries/#insecure-image-registries
but without success.
### Actual behavior
Jib is pushing image to the insecure Harbor registry without a problem, but error is thrown when trying to pull the image and deploy mic

[2022-02-02 10:32] ham1 opened #7071 "Generating Tags runs in Parallel despite concurrency: 1 - causes issues when using jib with concurrent mavens"
### Expected behaviour

When using jib for multiple images, generating tags should not run more than 1 maven command at the same time.

At the very least the concurrency of this stage should be configurable either by matching `concurrency` or via another property.

This also causes excessive load if using `-T 1C` is used in the jib/maven config.

### Actual behaviour

All images run this in parall

[2022-02-02 16:37] imarian97 opened #7072 "Skaffold auto port forward not working when using Kustomize"
### Expected behavior
When I run  'skaffold dev --port-forward ' on a scaffold file that deploys using Kustomize I expect to have the ports of the services forwarded

### Actual behavior
When deploying with Kustomize (local minikube) the ports are not forwarded but if I change the deployment to kubectl (and keep everything else the same) the ports are automatically forwarded. If I mention the port

[2022-02-02 18:20] artur-jablonski opened #7073 "skaffold dev deployments never stabilize on Skaffold 1.35.2"
Using the manifest file `manifest.yaml`

[code]

`kustomization.yaml`:
[code]

and `skaffold.yaml`:

[code]

when executing:

`skaffold dev`

[code]

The pod is running fine:

[code]

Expected behavior
The deployment reports success

Actual behavior
The command times out

Information
Skaffold version: v1.35.2
Operating system: Linux
Installed via: skaffold.dev

This seems to be related to ticket #

[2022-02-02 23:46] MarlonGamez commented on #6856
I've opened a PR for this now. I made it so that the fields that get parsed out are user configurable, so that this can be used in any use case with json logs

[2022-02-03 09:36] tomas-mota commented on #7020
Isn't the documentation straight up missing a whole section on the volume properties? Is this normal?
![image](https://user-images.githubusercontent.com/25929015/152314816-58a67025-b146-421b-9491-ab29ab3d7192.png)

I would expect it to show these properties too:
![image](https://user-images.githubusercontent.com/25929015/152314983-23e0a38d-4247-4f7c-8fac-96fa6aab0b3c.png)

It seems like this secti

[2022-02-03 10:59] rahil-p opened #7075 "Files not included in Dockerfile `COPY` instructions trigger artifact rebuilds"
### Expected behavior

[code]

[code]

The following are working as expected:
- changes inside `packages/db/build` are synchronized
- changes to `packages/db/package.json` trigger a rebuild

Additionally expected:
- changes to files that are not included in any `COPY` instructions (e.g. `packages/db/tsconfig.json`) do not trigger a rebuild

### Actual behavior

Despite modifying a file that never

[2022-02-03 11:03] artur-jablonski commented on #7073
`git clone https://gist.github.com/cdbad24c233e6673e47344b733a2956b.git`
for repo to reproduce

[2022-02-03 14:31] etanshaul commented on #6856
That’s great! Thanks @MarlonGamez. That sounds reasonable to me.

cc @Alos as well for feedback on the approach.

[2022-02-03 15:49] MaxGrosshandler opened #7076 "Docker images with Java 17 JDK"
### Expected behavior
I would like to be able to select a Docker image of Skaffold, example: v1.35.2 with Java 17 JDK as there is a potential need to use the latest LTS version of Java for a project I'm working on

### Actual behavior
The image only works with JDK 11 currently. Would it be possibly to have images made with Java 17 JDK?
### Information

- Skaffold version: v1.35.2
- Operating syste

[2022-02-04 01:45] luchillo17 commented on #3050
Can this be reopened? global configs and env variables can't be committed to a repo, without this feature in the yaml file, the devs have to do an extra step to disable the artifactory cache check, in my case it delays the build by almost 3 minutes so I have to disable it through CLI (presumably because of the size of the image).

Also doing it as global and env variables disables it for all proje

[2022-02-04 14:55] agxs opened #7078 "Builds don't work if the docker socket isn't in `/var/run/docker.sock` location (using lima instead of Docker Desktop)"
### Actual behavior

It looks like running `skaffold run` fails when the docker socket isn't in the default location of `/var/run/docker.sock`. Even when setting the options in the `skaffold.yaml` to use `useDockerCLI: true` the build still fails.

### Expected behavior

That the docker socket file location is can be anywhere when the options in the skaffold.yaml file are set to use the docker cli

[2022-02-04 17:48] briandealwis opened #7079 "Document puzzling "File Exists" error when attempting to sync"
@veermuchandi was attempting to set up Skaffold to sync source files into a Docker container image.  His dockerfile looked something like:
[code]

But the sync failed:
[code]

It turns out that `/usr/src/app` was owned by `root:root`, and he needed to instead use:
[code]

The `USER` directive didn't affect the copy ownership or permissions.  We should document this in a troubleshooting section on

[2022-02-04 22:15] briandealwis opened #7080 "port-forward events should indicate user-defined forwards"
### Expected behavior

Running the `jib-sync` example, which includes a user-defined port-forward, should be visible from within Cloud Code.
[code]

### Actual behavior

The forward is not shown:
![Screen Shot 2022-02-04 at 5 11 31 PM](https://user-images.githubusercontent.com/202851/152610123-e6a3298b-4ac8-4499-8ab5-69a48febdda0.png)

The `portEvent` provides no indication that the port-forward w

[2022-02-04 22:23] briandealwis opened #7081 "port-forward events should indicate user-defined forwards"
### Expected behavior

Running the `jib-sync` example, which includes a user-defined port-forward, should be visible from within Cloud Code.
[code]

### Actual behavior

The forward is not shown:
![Screen Shot 2022-02-04 at 5 11 31 PM](https://user-images.githubusercontent.com/202851/152610123-e6a3298b-4ac8-4499-8ab5-69a48febdda0.png)

The `portEvent` provides no indication that the port-forward w

[2022-02-05 13:50] Kvark900 commented on #7070
I will close this issue. The problem was in the k8s cluster access to the private repository.

[2022-02-05 13:50] #7070 closed

[2022-02-06 01:47] snickell commented on #6120
Any sense what's required on this still after the merger of #7021?

[2022-02-07 01:21] salanki commented on #4702
+1 on this

[2022-02-07 01:35] gsquared94 commented on #6120
updated issue description.

[2022-02-07 02:21] gsquared94 opened #7082 "Enabling Multi-platform builds with Skaffold"
# Enabling Multi-platform builds with Skaffold

- [x] #7632
- [x] #7633
- [x]  #7634
- [x] #7635
- [x] #7636
- [x] #7637
- [x] #7638
- [x] #7661
- [x] #7757

[2022-02-07 07:24] HankieCoverGo commented on #7073
[code]

Having the similar issue while try following the example "getting-started", where it is only not able to determine the current service state of pod

[2022-02-07 19:18] aaron-prindle commented on #7062
This should be resovled now from #6999, marking closed hoping this is some kind time delay issues.  If the issue is posted again will investigate

[2022-02-07 19:18] #7062 closed

[2022-02-08 02:02] dinvlad opened #7083 "Gradle Jib task dependencies not respected"
### Expected behavior
Jib should respect task dependencies specified in `build.gradle`.

### Actual behavior
Jib appears to be using a "raw" `jibDockerBuild` task, without relying on its possible task dependencies (if those are defined in `build.gradle`).

### Information

- Skaffold version: `v1.35.1`
- Operating system: `Ubuntu 20.04.3 LTS`
- Installed via: `google-cloud-sdk-skaffold` Debian pac

[2022-02-08 09:45] talgat-ruby commented on #4780
I also had issue. Don't forget to check the context. If you are using docker desktop:
<img width="868" alt="Screen Shot 2022-02-08 at 15 43 34" src="https://user-images.githubusercontent.com/17277013/152960838-8c46c0c9-40d8-4425-8727-c63d0003f0d6.png">

[2022-02-08 12:27] vladimir-avinkin opened #7084 "Disabling profiles does not work"
### Expected behavior
According to documentation (in `skaffold --help`) prepending a minus sign before a profile name should disable it, instead, we get an error.
### Actual behavior
When trying to disable a profile we get an error that says that a profile with a prepended minus is not declared.

### Information

- Skaffold version: v1.35.2
- Operating system: Darwin MacBook-Pro-Vladimir.local 20.

[2022-02-08 14:00] ChrisGe4 opened #7085 "LTS image has OS vulnerability!"
gcr.io/k8s-skaffold/skaffold:v1.35.0-lts
gcr.io/k8s-skaffold/skaffold:v1.35.2-lts
gcr.io/k8s-skaffold/skaffold:v1.35.0-aplha-lts

[2022-02-08 15:15] artur-jablonski opened #7086 "When using gradle builder unit tests are not executed."
### Expected behavior
When using gradle as a builder skaffold should issue `gradle test jibDockerBuild` instead of just `gradle jibDockerBuild` to run unit tests before building container unless `--skip-tests` flag is passed.

### Actual behavior
skaffold issues `gradle jibDockerBuild` command and that doesn't run tests.
There's a partial workaround to add `jibDockerBuild.dependsOn test` to `build

[2022-02-08 15:48] artur-jablonski commented on #7083
It seems to be somehow related to issue I just logged #7086.

I've observed that when adding `tasks.jibDockerBuild.dependsOn test` `skaffold` was not picking up on those changes. Went through `gradle clean` cycles and it helped, so it seems that there's some sort of caching involved.

[2022-02-08 15:50] artur-jablonski commented on #7083
Also I don't think `skaffold` could bypass what's in `build.gradle` even if it wanted to. Skaffold runs a task, that task depends on another one as per `build.gradle` and I don't know how could that be ignored.... but then again I am no gradle expert.

[2022-02-08 19:55] briandealwis commented on #7080
Duplicate of #7081

[2022-02-08 19:55] #7080 closed

[2022-02-08 20:03] briandealwis commented on #7066
`skaffold init --generate-manifests` creates deployment+service combinations for found images.

[2022-02-08 20:19] #6856 closed

[2022-02-09 18:37] tejal29 commented on #7085
Would love to see some data on which packages are affected?

[2022-02-09 18:52] ChrisGe4 commented on #7085
Will update the script to add more detail. For now, you can find the packages in gcr, i.e for 1.35.2-lts: https://pantheon.corp.google.com/gcr/images/k8s-skaffold/global/skaffold@sha256:30ce624df15d4469a15d0a569733c7afc8fae77a1c434f8597391d17f4204f98/details?project=k8s-skaffold&tab=vulnz

[2022-02-09 21:49] #7051 closed

[2022-02-09 22:51] MarlonGamez opened #7092 "`TestBuildKanikoInsecureRegistry` Integration Test Timeout"
This test has been timing out in kokoro

[code]

[2022-02-09 23:25] 814HiManny commented on #7078
I have the same issue. Docker context is not honored by skaffold.

[2022-02-10 04:52] briandealwis opened #7096 "Use run-java.sh in Java debug detection"
Quarkus images use a `run-java.sh` script to launch the JVM.  I suspect it's [fabric8io-images/run-java-sh](https://github.com/fabric8io-images/run-java-sh).  We should either detect that script name and/or use the `JAVA_OPTIONS` environment variable.  The script also supports additional environment variables: JAVA_ENABLE_DEBUG, JAVA_DEBUG_ENABLE, JAVA_DEBUG, JAVA_DEBUG_PORT, JAVA_DEBUG_SUSPEND.

[2022-02-10 04:52] briandealwis commented on #7096
cc: @veermuchandi

[2022-02-10 06:57] tomas-mota commented on #7084
I'll take a look at this :)

[2022-02-10 08:09] tomas-mota commented on #7084
@vladimir-avinkin the error message should definitely be more clear, but it seems like you are trying to disable the 'test' profile, even though no profile was activated. As you can read [here](https://skaffold.dev/docs/environment/profiles/), no profile is enabled by default, you have to activate it either through the command or setting triggers in the yaml.

Perhaps what would make sense is that

[2022-02-10 16:33] davidjsanders opened #7101 "Render and Apply - different behaviour with Helm namespaces"
### Expected behavior
Supplying the following skaffold.yaml to Cloud Deploy, the render and apply stages would create the namespace(s) and include in the rendered manifests (as per https://skaffold.dev/docs/references/yaml/):
[code]

### Actual behavior
The namespace and create namespace fields are ignored during render and apply. Using `skaffold deploy ...` works (because it's using Helm to deplo

[2022-02-10 16:35] palladius commented on #7066
Brian, this is awesome I didn't know. Can I suggest, as a FR, that when i run skaffold init, when it dies as no manifest is there, it suggests to run the command you higlighted?

That would probably make the tool less frictionless.

[2022-02-10 20:29] briandealwis commented on #7101
This seems to be a mismatch between `skaffold deploy` and `skaffold render && skaffold apply`.  `helm template` does support `--namespace` so this seems an oversight.

[2022-02-11 22:00] dhodun opened #7103 "Skaffold Render is Non-obvious in Minikube workflow"
Affects v1, v2.

Most of the skaffold commands are supported in minikube when the minikube kubectl context is set, `skaffold render` is an exception and requires the non-obvious `--digest-source=local` to be added.

Use case:
- New user who is primarily learning all the steps using minikube (and thus no remote repo).
- A user who is trying to make their skaffold setup repo agnostic, setting the re

[2022-02-11 22:20] dhodun opened #7104 "[V2] Some minikube workflows break if they the command now involves render phase"
Related to: https://github.com/GoogleContainerTools/skaffold/issues/7103

Some skaffold commands break in minikube context using v2. From what I've debugged it's when they are hitting the render phase and render phase is defaults to 'remote' digest-source.

Repro (kubectl manifest):

1. Checkout v2-v1.35.2
2. Start minikube and set context
3. `cd integration/examples/getting-started`
4. `skaffold

[2022-02-11 22:23] dhodun commented on #7103
Also effects more workflows in v2 since render is more prevalent: https://github.com/GoogleContainerTools/skaffold/issues/7104

[2022-02-15 10:38] AndiDog opened #7111 "Skaffold 1.36 fails if config file named `skaffold.yml`, but still works for `skaffold.yaml`"
**Important:** I already have a fix for this ready soon. Just publishing the issue already for visibility. This seems to come from changes where `buildMapOfSchemaObjPointerToYAMLInfos` and eventually `config.ReadConfiguration` is called with an absolute path, not a filename (note that the term "filename" means the name, not the path of a file).

### Expected behavior

Skaffold works with existing

[2022-02-16 06:15] gsquared94 commented on #7103
IMO if we detect a _local_ cluster then we should also default to `digest-source=tag`.
We can remove the default value for the flag here:
https://github.com/GoogleContainerTools/skaffold/blob/20ae7f64ccdb9fcf40fb18e41f3cd9a86eb312ed/cmd/skaffold/app/cmd/flags.go#L593
and instead set it here:
https://github.com/GoogleContainerTools/skaffold/blob/16b931d138b6f10c18dfc04a4f8ca5057d612fe6/pkg/skaffold

[2022-02-16 06:17] gsquared94 commented on #7104
https://github.com/GoogleContainerTools/skaffold/issues/7103#issuecomment-1041146353 should work for this issue also.

[2022-02-16 06:19] #7111 closed

[2022-02-16 10:29] yhrn commented on #4081
@tejal29 Can you explain how #7102 addresses this general issue? It looks like that is just about supporting a few more Argo resources.

[2022-02-16 19:40] MarlonGamez commented on #7085
I've rebuilt
gcr.io/k8s-skaffold/skaffold:v1.36.0-lts
gcr.io/k8s-skaffold/skaffold:v1.35.0-lts
gcr.io/k8s-skaffold/skaffold:v1.35.2-lts
and they should no longer have these vulnerabilities.
I'll be deleting gcr.io/k8s-skaffold/skaffold:v1.35.0-aplha-lts as it shouldn't exist

[2022-02-16 19:40] tejal29 commented on #7085
thanks @MarlonGamez!!

[2022-02-16 20:10] #6598 closed

[2022-02-16 20:11] tejal29 opened #7121 "[Test Failure] TestBuildKanikoInsecureRegistry is timing our consistently"
The latest version of kaniko is broken due to auth issues.

1) Pinning our test to older version to see if it fixes the Test.
   - It did not fix the test.

`TestBuildKanikoInsecureRegistry` needs more investigation. Skipping it for now.

[2022-02-16 20:26] mm-e1 commented on #4081
#7102 does not address this general issue. It only addresses comment https://github.com/GoogleContainerTools/skaffold/issues/4081#issuecomment-632464048

[2022-02-16 21:28] #7024 closed

[2022-02-17 02:56] #7084 closed

[2022-02-17 12:44] briandealwis opened #7124 "Allow configuring env for Helm"
Some new experimental features in Helm are gated by certain environment variables. For example, using their new facility for referencing charts from an OCI registry requires setting `HELM_EXPERIMENTAL_OCI=1`.

Skaffold should allow configuring the environment, with templating, that is passed into Helm. The absence of this capability prevents users of Cloud Deploy from using experimental features.

[2022-02-17 13:18] todd-andrew-procore opened #7125 "The --default-repo flag no longer seems to be respected in 1.36.0"
### Expected behavior

On 1.35.0, 1.35.2, and previous versions; `skaffold run --default-repo localhost:5999` is able to push docker images to the local Docker registry running at `localhost:5999`

### Actual behavior

On 1.36.0, the `--default-repo` flag and the `SKAFFOLD_DEFAULT_REPO` environment variable seem to be ignored in favor of the global config.

`skaffold run --default-repo localhost:5

[2022-02-17 14:00] ChrisGe4 opened #7126 "LTS image has OS vulnerability!"
gcr.io/k8s-skaffold/skaffold:v1.35.0-lts
gcr.io/k8s-skaffold/skaffold:v1.35.2-lts
gcr.io/k8s-skaffold/skaffold:v1.36.0-lts

[2022-02-17 19:34] ekupershlak opened #7127 "Upgrade Helm to 3.8"
The Skaffold image includes Helm 3.7.1, which has [experimental support for OCI registries](https://helm.sh/docs/topics/registries/). Would it be possible to upgrade to Helm 3.8, which makes this support generally available?

[2022-02-18 02:06] carsondwilber commented on #7078
Also facing this issue trying to use Podman in place of Docker. On Mac, using a symlink to any Podman socket doesn't work either. There is ongoing discussion in the Kubernetes Slack server, channel #skaffold related to this issue.

#5739 and #5773 are both open issues that could easily provide an alternative via Minikube, but this has been deprioritized for unexplained reasons. The Minikube team a

[2022-02-18 06:28] halvards opened #7131 "Implement `ko` builder beta features"
Tracking issue for the `ko` builder beta features.

See the [release plan](docs/design_proposals/ko-builder.md#release-plan) in the design proposal for further details.

Related: #6041 (`ko` builder alpha tracking issue)

[2022-02-19 09:07] drewp opened #7132 "unexpected multiplatform error"
### Expected behavior
Build as with older skaffolds, with no 'platforms' required. If dev works; run should work.

### Actual behavior
[code]

`skaffold dev` was working fine; only when I switched to `run` did it break. vdebug is below.

As a workaround, I added `platforms: ["linux/amd64"]` to my artifact.

Note that I do have linux/arm raspberry pi computers in my cluster. I did not expect them t

[2022-02-19 21:07] ianbuilds commented on #6857
@briandealwis

Same results running `skaffold dev` after I've reissued the certificates to repair the intermediate cert of the chain.

I've reissued the ssl certificates from GoDaddy and installed them on the private image repository. While I've confirmed that both Chrome and Safari trust the entire cert chain via the lock gui, the `unable to get local issuer certificate` from the `openssl` cmd te

[2022-02-20 17:33] okgolove opened #7133 "Download tar artifact from kaniko pod"
### Expected behavior
I am able to get built docker image archived to tar from in cluster kaniko pod (to test it via container-structure-test and then push via crane)

### Actual behavior
Tar artifact is built but I am not able to get it

### Information

- Skaffold version: v1.36.0
- Operating system: Ubuntu 20.04
- Installed via: skaffold.dev
- Contents of skaffold.yaml:

[code]

### Steps to re

[2022-02-21 20:36] ianbuilds commented on #6857
Confirmed running with custom `buildx` cmd works as expected, post certificate alteration.

Thanks for all the help, esp since it wasn't a skaffold issue at all. 🙏🏻

[2022-02-21 20:36] #6857 closed

[2022-02-22 05:22] aaron-prindle commented on #7076
The JDK 11 import comes from this line here in the skaffold image Dockerfile:
https://github.com/GoogleContainerTools/skaffold/blob/main/deploy/skaffold/Dockerfile.deps#L154

As a potential workaround in the short-term, you could build your own image from skaffold source modifying the line above and then using the `release-build` Makefile rule to build the image locally (https://github.com/GoogleC

[2022-02-22 05:22] aaron-prindle commented on #7076
I've added this issue for discussion in our team's weekly meeting, I will update the thread here to see if updating our image to JDK 17 or possibly adding an additional image might make sense here to support use cases like yours

[2022-02-22 05:27] aaron-prindle commented on #7132
@gsquared94 is this related to the cross-platform build work?  Is this a known regression?

[2022-02-22 07:13] gsquared94 commented on #7132
@drewp yes this is working as intended. With Skaffold release v1.36.0 we check the kubernetes cluster node platforms, and build artifacts for that target platform if not explicitly specified.
From the [docs](https://skaffold.dev/docs/pipeline-stages/builders/#cross-platform-build-support):
[code]

If you're using mixed node clusters, then you'll have to specify the target platform for each artifac

[2022-02-22 08:04] afbjorklund commented on #7078
containerd doesn't even _have_ a docker socket...

[2022-02-22 09:01] tomas-mota commented on #7125
I'll look into this 🙂

[2022-02-22 14:53] j2udevelopment commented on #5216
Any update on this?  Should I maybe make a separate issue that explicitly mentions the helm deployer?

[2022-02-22 15:52] bartenra opened #7137 "noCache documentation confusing"
![image](https://user-images.githubusercontent.com/77667589/155168765-d16b96e2-faf3-4932-ba4c-ab6232c4c782.png)
Maybe this can be reworded to "set to `true` to pass in `--no-cache` to docker build, which will prevent caching."

The way it is written now, it looks like `noCache: false` will pass `--no-cache`.

[2022-02-22 19:45] giladsh1 opened #7139 "Skaffold does not find previously built images from remote repository (GCP - GCR)"
### Expected behavior
Do not rebuild the docker image when it is cached on a remote docker registry even you don't have the cached image on local
I saw the following old issue and PR, but the problem is still reproducible -
https://github.com/GoogleContainerTools/skaffold/issues/2197
https://github.com/GoogleContainerTools/skaffold/pull/2470
### Actual behavior
Rebuild the docker images regardless

[2022-02-23 04:36] #6733 closed

[2022-02-23 18:12] MarlonGamez commented on #7125
hi @tomas-mota, would you like this assigned to you? We'd like to have this fixed for our next release so please let me know if you want any help or want someone else to take this up :)

[2022-02-23 18:21] #7137 closed, assigned to nobody

[2022-02-23 20:34] tomas-mota commented on #7125
Hi, I have in fact been trying to track it down, let me know if you have any hints :D Think I'll figure it out before March, so you can assign it to me.

[2022-02-23 22:46] MarlonGamez commented on #7125
I think the piece of logic here basically shouldn't happen
https://github.com/GoogleContainerTools/skaffold/blob/1dbc7a2c8746201ccff73a54928a57d687eb020a/pkg/skaffold/config/util.go#L258-L262
Since cfg.DefaultRepo is the value from the global config, which is being given precedence over the cli value in this block of code (when it shouldn't). We already have a function for giving cli value priorit

[2022-02-24 02:14] aaron-prindle commented on #7101
I am still investigating the root cause of this issue but currently the `--namespace` flag is passed to the `helm template` call IIUC.  The code that adds `--namespace` to the `helm template` args:
https://github.com/GoogleContainerTools/skaffold/blob/main/pkg/skaffold/deploy/helm/deploy.go#L428-L434

From logs in my own repro attempt:
[code]

Should helm be adding a namespace?  When I run `helm t

[2022-02-24 02:17] aaron-prindle commented on #7101
Ah, I believe the issue is that we also need to add the `--create-namespace` flag.  Will attempt this and see if it fixes the issue

[2022-02-24 02:27] aaron-prindle commented on #7101
Here is my repro steps:

skaffold.yaml
[code]
commands:
[code]

I am able to reproduce this issue, the deployment (in this case `skaffold-helm`) is deployed to the default namespace, not the `skaffold-helm-dev` namespace as expected.  I am a bit confused though how this should work I am not able to actually get helm template to generate a manifest with a namespace, even when setting `--namespace`

[2022-02-24 02:32] aaron-prindle commented on #7101
Related helm issue:
https://github.com/helm/helm/issues/3553

I'm not sure if helm actually adds namespaces to the generated manifest, still trying to have it work for me locally via `helm`.  Trying to see if updating helm to latest supports this, there was one comment stating it might be supported there - https://github.com/helm/helm/issues/3553#issuecomment-843344586

[2022-02-24 03:07] gsquared94 commented on #6799
Closed in 6813

[2022-02-24 03:07] #6799 closed

[2022-02-24 14:15] msonnleitner commented on #7101
I don't think that Helm/Skaffold should add namespaces to the manifest, but `skaffold apply` should use the namespace given in the deploy section. It is possible to explicitly specify something like `skaffold apply manifest.yaml --namespace=skaffold-helm-dev`, but the default should probably be the one given in that config

[2022-02-25 06:02] #6120 closed

[2022-02-26 01:45] drewp commented on #7132
I think it's not great, since now every old repo I try to redeploy makes an error. I.e. for those of us using mixed-platform clusters and dockerfiles, you've introduced a breaking change.

Some options that would help:
* if my config says `apiVersion: skaffold/v2beta5`, Just Work Like Before
* do a major version bump, so I can decide if I want to upgrade to "skaffold 2.x"
* make `skaffold fix` do

[2022-02-26 05:48] aaron-prindle commented on #7101
skaffold issue #7101 notes

@msonnleitner I agree with the proposed solution of making `skaffold apply` honor `deploy:` related `namespace` configuration (the `helm` namespace configuration in this specific issue).

Currently `skaffold apply` only looks at namespace information from manifests directly and does not incorporate any namespace/deploy-configuration information from the skaffold.yaml fi

[2022-02-28 12:28] Richard87 commented on #5703
Hi! Just tried this myself on MacOS 12, M1 :)

# `useBuildkit: true`
Running this: `DOCKER_HOST=ssh://my-server skaffold dev` builds the container perfectly (on the remote machine).

But Push fails:
[code]

But if I copy the tag name, and execute `docker push eu.gcr.io/project-000000/container:dev-37c67436c17fd4f17f1e8b94d5ed4a5dadc48863` on the remote machine, it works great :)

#  `useDockerCLI`

[2022-02-28 19:24] aaron-prindle commented on #7076
Closing this as it is a duplicate of https://github.com/GoogleContainerTools/skaffold/issues/6012.  The suggestion there that resolved the issue was a user creating their own image - https://github.com/GoogleContainerTools/skaffold/issues/6012#issuecomment-865253244

[2022-02-28 19:34] calebdelnay commented on #7076
@aaron-prindle Not really sure I understand this choice. Is there no desire to provide both a JDK 11 container image and JDK 17 container image as two separate choices? If not, then when does the singular Skaffold image move from JDK 11 to JDK 17 as the default? Why even provide an image with any JDK at all?

[2022-02-28 22:40] tejal29 opened #7146 "Deprecating Skaffold's `pack` image (gcr.io/k8s-skaffold/pack)"
From @briandealwis buildpacks [deprecation](https://docs.google.com/document/d/1FRIlunAyxaY9FBOv3Jth9aruwTnoa_J1qN_gnZVelmU/edit#) doc,  please complete the top 2 P0 items

-  [ ] Change Skaffold to use the CNB `pack` image.
-  [ ] Warn users using [build.googleCloudBuild.packImage](https://skaffold.dev/docs/references/yaml/#build-googleCloudBuild-packImage) set to gcr.io/k8s-skaffold/pack

[2022-02-28 22:44] tejal29 commented on #5418
duplicate of #7127

[2022-02-28 22:44] #5418 closed

[2022-03-01 16:54] dhodun commented on #7103
As discussed on chat, I think this will work, particularly in v2 where Render should really be its own phase.

--digest-source=local seems to perform a silent auto-build for local contexts (silent meaning there is not stdout output for cache hits, etc)
--digest-source=tag assumes in all contexts that `skaffold build` will already have been run. And it should work for the contexts mentioned in the

[2022-03-01 16:56] dhodun commented on #7030
I've taken a look. The test is essentially a `skaffold build` followed by a `skaffold debug` and inspecting that the entrypoint is rewritten and a support container is attached.

Fixing missing Deployer schema entries for Docker deployer unblocks `skaffold build`. The `skaffold debug` command still seems to be blocked by: https://github.com/GoogleContainerTools/skaffold/issues/7104

[2022-03-01 19:33] aaron-prindle commented on #7101
For the short term, the plan is to due the following:
- When using `skaffold apply` for skaffold.yaml(s) that only have one deploy entry, that entry is `helm` (criteria met by the sample yaml in this issue) and there is one `release` - skaffold will automatically set the namespace flag to be the value of deploy.helm.releases.0.namespace - if the `namespace` value is set.
- When using `skaffold app

[2022-03-01 19:47] briandealwis commented on #5971
This `trustBuilder:` is no longer necessary now that the CNB project provides a `linux/arm64` image for the `lifecycle`.  But keeping it doesn't hurt as it causes the build to use the `lifecycle` binary packaged into the builder.

[2022-03-01 20:29] #7127 closed

[2022-03-01 22:13] aaron-prindle commented on #7101
NOTE: In the simple fix suggested above, the profile would have to be passed to `skaffold apply` as well to work as expected:
`skaffold apply -p dev --filename=skaffold.yaml manifest.yaml`

[2022-03-01 22:47] #7132 closed

[2022-03-01 23:36] mcg1969 commented on #7057
I'm seeing this same issue myself with Skaffold 1.35. Any more thoughts on how we can track down the issue? It simply is not rebuilding artifacts whose `requires` are changing.

[2022-03-01 23:59] mcg1969 commented on #7057
In hopes it might be limited to the `gitCommit` tag policy I tried `inputDigest`; no dice.

[2022-03-02 20:25] unj1m opened #7152 "Use operator kubectl manifests and the manifests that depend on them."
### Expected behavior

Execute two (or more, obviously) manifests:
- The first defines an operator.
- The remaining define resources defined by the operator.

The operator and the requested resources are defined.

Example:

skaffold.yaml:
[code]

`zclickhouse.yaml`;
[code]

Equivalent `kubectl` command (more or less):

[code]

I've tried disabling validation in both scaffold and `kubectl`, to no a

[2022-03-02 21:25] tejal29 commented on #4564
dupe of #7092

[2022-03-02 21:25] #4564 closed

[2022-03-02 21:25] tejal29 commented on #5326
closing as dupe of #6095

[2022-03-02 21:25] #5326 closed

[2022-03-02 21:27] tejal29 commented on #6154
Saw  this again on https://github.com/GoogleContainerTools/skaffold/pull/7148

[2022-03-02 23:57] #7101 closed

[2022-03-03 00:06] tejal29 commented on #7133
Unfortunately skaffold does not support downloading the tar. It will be a great feature to add but right now its not a priority for the team.

We would love to accept contributions!

[2022-03-03 00:07] tejal29 commented on #7126
@marlon-gamez This issue is fixed right?

[2022-03-03 02:45] #7125 closed

[2022-03-03 05:40] tejal29 commented on #7126
gcr.io/k8s-skaffold/skaffold:v1.35.2-lts is patched to gcr.io/k8s-skaffold/skaffold:v1.35.3-lts
gcr.io/k8s-skaffold/skaffold:v1.36.0-lts is patched to gcr.io/k8s-skaffold/skaffold:v1.36.1-lts

[2022-03-03 05:41] tejal29 commented on #7126
gcr.io/k8s-skaffold/skaffold:v1.24.0 is patched to gcr.io/k8s-skaffold/skaffold:v1.24.2

[2022-03-03 05:56] #7126 closed

[2022-03-03 14:00] ChrisGe4 opened #7155 "LTS image has OS vulnerability!"
gcr.io/k8s-skaffold/skaffold:v1.35.3-lts
gcr.io/k8s-skaffold/skaffold:v1.35.0-lts
gcr.io/k8s-skaffold/skaffold:v1.35.2-lts

[2022-03-03 15:16] briandealwis opened #7156 "Skaffold needs to propagate `minikube docker-env` to builders"
@ddobrin was attempting to use Skaffold and Jib with a Spring Boot project.  This project includes tests that use testcontainers.org to spin up emulators using docker containers from Java code.  The tests fail when run from Skaffold as Skaffold isn't propagating the `minikube docker-env` to the Jib build, and so the tests try spinning up containers with Docker Desktop's daemon rather than minikube

[2022-03-03 15:26] briandealwis opened #7157 "Skaffold should default to skipping tests (`--skip-tests` should default to true)"
@ddobrin reported an unexpected consistency with a Maven build when using the Cloud Run emulation in Cloud Code, which uses Skaffold under the hood:
1. Buildpacks explicitly disables tests executes [`mvn clean package -DskipTests ...`](https://github.com/GoogleCloudPlatform/buildpacks/blob/master/cmd/java/maven/main.go#L97), and doesn't offer the ability to actually run tests.
2. Jib uses our `--s

[2022-03-03 20:27] todd-andrew-procore opened #7158 "Don't see installers for any of the releases done on 3/2/22 (e.g. 1.36.1)"
### Expected behavior

Should see installers here: https://github.com/GoogleContainerTools/skaffold/releases/tag/v1.36.1

### Actual behavior

- No installers exist.
- Also, the windows release example reads `https://storage.googleapis.com/skaffold/releases/v1.36.1skaffold-windows-amd64.exe` (missing a slash after 1.36.1)

### Information

N/A

### Steps to reproduce the behavior

N/A

[2022-03-03 21:25] tejal29 commented on #7157
Build, Test Deploy is what we always envisioned. Failing fast and letting developers know their built containers don't pass test (before they deploy) is the right default I feel.
But yes, we could revisit the default and learn more about the  @ddobrin's use case especially

The `--skip-tests` flag is used as dual purpose for mvn and jib.  It skips the container tests or custom tests after build as

[2022-03-04 13:10] vladimir-avinkin opened #7161 "Skaffold configs are duplicated when you use a config dependency via git"
But if you use a local dependency (via `path`) it works fine
More context can be found in the discussion in kubernetes slack https://kubernetes.slack.com/archives/CABQMSZA6/p1645463031027819

### Expected behavior
I expect when ServiceA depends on ServiceB, and ServiceB depends on ServiceA via git and I run skaffold in either of those services they both came up online without issues
### Actual beh

[2022-03-04 16:51] Samuel-Schober-USU opened #7162 "Use environment variables in the path of external helm repos"
### Expected behavior
I would like to use environment variables in the path of external helm repos, so I can add the authorization there without commiting the credentials.

### Actual behavior
There is an error:
[code]

### Information

- Skaffold version: v1.34.0
- Operating system: Windows 10
- Installed via: Chocolatey | Snap | Homebrew | ...-->
- Contents of skaffold.yaml:

[code]
[code]

[2022-03-04 20:54] FsocietyDewit62 opened #7164 "Debugging With Skaffold"
### Expected behavior

### Actual behavior

### Information

- Skaffold version:
- Operating system:
- Installed via:
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
3. ...

[2022-03-04 21:16] JohnKDay opened #7165 "API repo releases information is missing "assets" since version v1.35.3"
Using ansible to download and install the latest version of skaffold, but since 1.35.3, the api does not contain the "assets" information anymore and my playbook is broken.

[code]
### Information

Last API release with "assets" information:
[v1.35.2](https://api.github.com/repos/GoogleContainerTools/skaffold/releases/tags/v1.35.2)

Missing "assets" information examples:
[v1.35.3](https://api.gith

[2022-03-05 03:51] briandealwis commented on #6072
Closing as the principal issue seems solved.

[2022-03-05 03:51] #6072 closed

[2022-03-07 15:50] bahodge commented on #4366
Hey everyone, I feel like there was no clear solution to using `skaffold dev` with persistent volumes you don't want to delete. I've been fighting this for a few days and came up with an ok solution.

tldr; use a hook to create a pv outside of helm and skaffold with kubectl. Then have helm PVC point to the new static PV.

Environment:
- skaffold: v1.35.2
- kubectl client: v1.21.5
- kubectl server:

[2022-03-07 20:53] kevin-hanselman opened #7166 "Release instructions for 1.36.1 are broken"
The `curl` instructions to install the 1.36.1 release appear to be broken. The links are returning "The specified key does not exist".

[code]

Outputs:
[code]

[2022-03-08 12:52] weltonrodrigo commented on #5703
Related #7078

[2022-03-08 16:06] briandealwis opened #7168 "`debug` should rewrite command-lines to remove 'exec'"
Motivated by [a problem on stackoverflow](), where the user's Dockerfile had `CMD exec gunicorn ...`.  The Python debug launcher does not strip out the `exec` and so the launch fails.

Normally this is somewhat self-evident from the logs:
[code]

But the logs are more hit-and-miss with the Cloud Run emulator in Cloud Code, where I usually see logs like:
[code]

### Strategy

We have some command-l

[2022-03-08 19:10] MarlonGamez commented on #7166
hi @kevin-hanselman , thanks for opening this issue. We had some issues with uploading these binaries, but they should be there now. I'm going to close this issue but please reopen if you continue to run into this :)

[2022-03-08 19:10] #7166 closed

[2022-03-08 19:14] MarlonGamez commented on #7162
Hi @Samuel-Schober-USU , unfortunately, `deploy.helm.releases.repo` isn't currently one of the fields that support templating in our skaffold config (See [our docs](https://skaffold.dev/docs/environment/templating/)).

This change should be relatively easy to make, so pull requests are always welcome!

[2022-03-08 20:00] tejal29 commented on #6935
Thanks @dnguyenzd for the reploy.
/cc @marlon-gamez

another issue regarding watching changes for deployment.
Potentially related issue https://github.com/GoogleContainerTools/skaffold/issues/5540

[2022-03-08 20:00] ChrisGe4 opened #7169 "feat: Automatically notify Cloud Deploy team when vulnerabilities are found in LTS images."
Add the workflow to do the automatic notification.

Ref: b/218699741

[2022-03-09 00:32] alanreynosov opened #7171 "skaffold run ignore kustomize flag timeout for deploy"
### Expected behavior

do not throw timeout errors before timeout seconds especified in deploy.kustomize.flags.apply

### Actual behavior

throw timeout error of 32s

### Information

- Skaffold version: v1.35.1
- Operating system: ubuntu
- Installed via: ```
curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && \
     install skaffold /usr/local/bin/

C

[2022-03-09 18:41] #6416 closed

[2022-03-09 22:44] #7058 closed

[2022-03-09 22:49] aaron-prindle commented on #7076
@calebdelnay sorry for the delay on the response here.  From the similar issue linked  - https://github.com/GoogleContainerTools/skaffold/issues/6012 the precendent here is that user's can build their own image that includes JDK 17.  Currently

[2022-03-10 02:12] datumest opened #7175 "Port Forwarding undocumented for Docker"
### Expected behavior

Documentation should specify what settings are required to forward ports when deploying to Docker.

### Actual behavior

Documentation does not include this information, and makes port forwarding for this use case difficult.

### Information

- Skaffold version: N/A
- Operating system: N/A
- Installed via: N/A
- Contents of skaffold.yaml: N/A

### Steps to reproduce the beha

[2022-03-10 02:13] datumest commented on #7175
I've also added a PR to fix this

[2022-03-10 03:20] ChrisGe4 commented on #7155
Closing for testing purpose. Will re-create the issue.

[2022-03-10 03:20] #7155 closed

[2022-03-10 03:22] cloud-deploy-bot opened #7177 "LTS image has OS vulnerability!"
Please patch the below images with instructions mentioned [here](https://docs.google.com/document/d/1gYJVoBCZiRzUTQs_-wKsfhHdskiMtJtWWQyI-t0mhC8/edit?resourcekey=0-NdLapTumfpzxH_bri0fLZQ#heading=h.p4mphzyz8m7y).

gcr.io/k8s-skaffold/skaffold:v1.35.3-lts

Once the patched images are available, please ping Cloud Deploy team until there is an automated way to notify (issue#7169).

[2022-03-10 10:37] johnmanjiro13 opened #7178 "statusCheck in the skaffold.yaml is not used without --status-check= flag"
### Expected behavior

`skaffold run` runs without status check only setting the `statusCheck` field of the deployment config stanza in the skaffold.yaml to false.

### Actual behavior

The statusCheck field in the skaffold.yaml is used only when value of the `--status-check` flag is nil.
https://github.com/GoogleContainerTools/skaffold/blob/v1.36.1/pkg/skaffold/runner/deployer.go#L53-L60

However

[2022-03-10 11:38] tomas-mota commented on #7178
I'll look into this

[2022-03-10 14:43] mecampbellsoup commented on #2492
@tejal29 any update on timing yet?

[2022-03-10 16:49] briandealwis opened #7180 "status-checks may miss the application log on failure"
In #7168 a status check failed, but the output was not useful:
[code]
As a result the user could not see what was the underlying cause.

Could we report the pod's [lastState.terminated.message](https://kubernetes.io/docs/tasks/debug-application-cluster/determine-reason-pod-failure/) instead?

[2022-03-10 17:13] todd-andrew-procore commented on #7166
I don't think this should have been closed. I tried installing 1.36.1 using `asdf`. `asdf` is looking to install from `https://github.com/GoogleContainerTools/skaffold/releases/download/v1.36.1/skaffold-darwin-amd64` and not `https://storage.googleapis.com/skaffold/releases/v1.36.1/skaffold-darwin-amd64` as stated above

[2022-03-10 19:42] ddobrin commented on #6584
@MarlonGamez
I do have the same experience for labs I am building.

Ex.:
I am generating a file for Jib and Maven - pom.xml with Jib is already configured.
The negative side-effect is that the Skaffold, as well as K8s manifests, auto-generate `pom-xml-image`, which a user must now change to their desired image

[2022-03-10 21:17] #7175 closed

[2022-03-10 21:44] ssmall opened #7181 "build concurrency from skaffold.yaml is not respected"
### Expected behavior

Build concurrency is set to 5

### Actual behavior

Build concurrency is set to 1

### Information

- Skaffold version: v1.36.1
- Operating system: macOS 12.2.1 (darwin/arm64)
- Installed via: Homebrew
- Contents of skaffold.yaml:

[code]

(this is just a modified version of https://github.com/GoogleCloudPlatform/cloud-code-samples/blob/v1/golang/go-guestbook/skaffold.yaml)

[2022-03-11 00:48] Mixka commented on #6743
Also had same kind of error when tried to use `skaffold build` through proxy. Have worked somewhere in January last time.

`HTTPS_PROXY=localhost:8888 skaffold build`

[code]

`HTTPS_PROXY=localhost:8888 gcloud auth print-access-token --format=json --verbosity=debug`

[code]

`gcloud auth print-access-token --format=json --verbosity=debug`

[code]

`HTTPS_PROXY=localhost:8888 gcloud info --run-dia

[2022-03-11 05:08] gsquared94 commented on #7146
We cannot yet deprecate the image `gcr.io/k8s-skaffold/pack` because using the image `buildpacksio/pack` results in the following error:
[code]

[2022-03-11 12:32] tomas-mota commented on #7178
I was not able to replicate your results. Adding statusCheck: false to the examples/buildpacks/skaffold.yaml worked as expected. Can you try that example too?

[2022-03-12 22:32] Forestsoft-de opened #7183 "Endless deploy loop on using before hooks which generate yaml value files"
My requirement is to generate the helm configuration based on certain Environment variables right before the helm deplyoment task starts.

### Expected behavior
Skaffold should deploy only once and skipped paths should respected
### Actual behavior
Regarding to the logs skaffold ignores my folder there a helm values file is autogenerated before the helm command is invoked
Skaffold recognize a chan

[2022-03-13 10:34] oversizedhat opened #7184 "All custom test commands seem to always be executed on file changes for a given image"
### Expected behavior
When declaring a list of custom test commands in skaffold yml its expected that commands only run if the changes are in files defined in their respective dependencies block.

### Actual behavior
When 2 or more commands in a custom block for a image are defined in the skaffold yml it seems that ALL commands are executed regardless if the file changes is defined in the specific

[2022-03-13 12:06] mruzekw opened #7185 "Add ability to disable watch-rebuild with custom builder"
I'm currently configuring a `skaffold dev` setup for a Clojure server, mainly to integrate easily with the VSCode CloudCode extension.

My current setup is using a custom build script using the `custom` config in skaffold.yml.

In the Clojure world, it's common to hot-reload code on demand via a REPL. Thus in the dev case, we sometimes explicitly don't want to rebuild the image when a dependency c

[2022-03-13 15:39] plasticnake2 commented on #3319
This worked for me, thank you for documenting it.

[2022-03-14 08:25] tomas-mota commented on #7178
I have tried cloning the repo from scratch, building and running the example with no statuscheck and it works fine for me. Are you sure that you don't have some global configuration messing things up? Perhaps try clearing out your config.

[2022-03-14 10:10] johnmanjiro13 commented on #7178
I check default value of the status-check flag in the main branch and it is nil.
This issue appears to be fixed in #7089.

I'll wait to release new version. Thank you!

[2022-03-14 17:05] MarlonGamez commented on #3268
update here, I've talked to @hown3d a bit more about this and we'd like to move forward with implementation. We don't have a set schedule on this work but will hopefully see it completed

[2022-03-14 17:10] MarlonGamez commented on #6314
@tejal29 do we currently have plans for docker deployer? This seems like a pretty important feature, but I'm not sure if we'd get the chance to prioritize it

[2022-03-14 17:12] MarlonGamez commented on #3150
Are there any opinions on what we should settle upon? I believe `--output` is used on some other commands to specify something other than file output. maybe we should use `--file-output`

[2022-03-14 17:14] MarlonGamez commented on #6281
<details>
  <summary>Ignore</summary>

Making triage party happy
</details>

[2022-03-14 17:15] MarlonGamez commented on #6282
Definitely seems like a simply but super useful win to be had here. What information exactly do we think needs to be surfaced? Just the fact that we're using the minikube docker daemon?

[2022-03-14 17:20] MarlonGamez commented on #6327
<details>
  <summary>Ignore</summary>

Making triage party happy
</details>

[2022-03-14 17:40] aaron-prindle opened #7186 "`make preview-docs` failing both locally and in CI"
Currently `make preview-docs` is failing both locally and in CI (currently in our `ci-skaffold-latest-docs` cloud build trigger).  Currently the docs page is still updated correctly but it is not possible to preview them locally.

The actual error snippet from the logs is below:
[code]

[2022-03-14 19:27] dhodun commented on #7030
Partial Fix created: https://github.com/GoogleContainerTools/skaffold/pull/7189

[2022-03-14 19:44] MarlonGamez commented on #7161
thanks for opening this issue @vladimir-avinkin

CC @gsquared94 , we can move discussion on this issue to this thread

[2022-03-14 21:10] #7186 closed

[2022-03-14 22:29] aaron-prindle opened #7191 "[Umbrella Tracking Issue] Skaffold Verify planning/H1-2022 priority/p1"
Tracking issue for all work items related to adding a post deployment verification phase to skaffold.  Currently this will be a a `verify` phase and related command with a schema like the following:
[code]

[2022-03-14 22:36] JohnnyD45 commented on #7047
Hi Folks, I'll work on this and submit a PR later.

[2022-03-15 06:31] aaron-prindle commented on #7164
@FsocietyDewit62 can you update the description here with information regarding the issue you encountered debugging with skaffold including:
- the error encountered
- the steps to reproduce the issue
- any configuration/project files that can be shared to help reproduce this

thanks

[2022-03-15 06:41] aaron-prindle commented on #6998
@afirth there is now a way to do this in the next release of skaffold (v1.37.0) using the `resourceSelector`

[code]

I will update this thread with the official docs once that release is out.

[2022-03-15 06:43] #6998 closed

[2022-03-15 07:09] 616b2f commented on #3268
@MarlonGamez great news thank you for letting us know, look forward to test it :)

[2022-03-15 10:25] kotapeter commented on #6686
Should the `lifecycle-hooks` also work in cloud deploy? I have the following `skaffold.yaml` but it does not trigger the hooks 🤔

[code]

[2022-03-15 15:19] jmaldon1 commented on #5175
Got a similiar issue when trying to port forward my postgres DB. It turns out that I had another postgres DB running as a service on windows which was blocking localhost port 5432. Skaffold didn't throw any errors that the port was already used.

I had to stop the postgres service on windows: https://serverfault.com/a/311570

I assume this can easily happen with other apps.

[2022-03-15 17:37] MarlonGamez opened #7194 "Fix issues with Kokoro Releasing"
### Information
There are currently a few issues with our release pipeline since migrating to kokoro that should be fixed
- [x] trigger internal build automatically on some tag push/other method
- [x] want to automate lts image version bumps

[2022-03-15 17:54] aaron-prindle commented on #7146
This is likely related to the DiND container not being able to access GCP's metadata server.  I believe setting the docker network for the DiND to - `cloudbuild` would resolve this.  See the Cloud Build docs [here](https://cloud.google.com/build/docs/build-config-file-schema#network) for more information

[2022-03-15 21:27] #7181 closed

[2022-03-16 09:20] JLeander85 opened #7196 "Cloud"

[2022-03-16 17:24] afirth commented on #6998
hey @aaron-prindle

I just wanted to say that you rock. thanks!

[2022-03-16 18:44] aaron-prindle commented on #7196
@JLeander85 can you describe the issue you encountered or feature request you are describing in more detail?  I'm going to close this issue here but feel free to open another with more information describing what Cloud support you desire or possible issue you have encountered.  Thanks

[2022-03-16 18:44] #7196 closed

[2022-03-16 18:45] aaron-prindle commented on #7164
@FsocietyDewit62 can you describe the issue you encountered or feature request you are describing in more detail? I'm going to close this issue here but feel free to open another with more information describing what `Debugging with Skaffold` support you desire or possible issue you have encountered. Thanks

[2022-03-16 18:45] #7164 closed

[2022-03-16 19:24] dhodun opened #7197 "Skaffold Delete fails if helm release can't be found"
v1.36.1
Macos

Skaffold delete will fail if the config includes a helm chart that isn't found on the cluster. This can easily happen if a deployment is only partially successful, and then the user wants to run `skaffold delete` to remove everything. In my case, I had to get to a state where `skaffold run` ran fully before I could run `skaffold delete`, which sort of defeated the purpose of using `

[2022-03-16 19:28] tejal29 commented on #7197
Looking at the example now. The expectation is that the `k8s` manifests should also be deleted right?

[2022-03-16 19:30] jmcudd opened #7198 "Installing Skaffold"
### Expected behavior
When downloading the `/latest/` binary, skaffold version should be 1.36.1
[code]
### Actual behavior
The Skaffold version is stale
[code]
### Information

- Skaffold version: N/A
- Operating system: Arch Linux
- Installed via: Standalone Binary https://skaffold.dev/docs/install/#standalone-binary
- Contents of skaffold.yaml: N/A

### Steps to reproduce the behavior

[code]

[2022-03-16 19:32] dhodun commented on #7197
Correct.

The main use case where I have used `skaffold delete` is failed deployments and looking to start afresh. Even if there is a slightly different version of the code, different SHA, etc., it generally has worked well unless names of deployments are changing, in which case the main thing that could go wrong is you have an orphaned deployment.

[2022-03-16 22:00] JLeander85 opened #7200 "Intrace"
#0: Your coordinates
lat/lng: (36.2304855,-93.113089)

#1: IP: jeff3@leander6.jlc9.one
Host: jeff3@leander6.jlc9.one
ISP: N/A
Ping:
* * *
N/A
lat: 0.0
lon: 0.0

[2022-03-17 03:06] tejal29 commented on #7198
Aah. This will be fixed by #7199 soon.
We had an error in our release process where we updated the latest bucket when patching old skaffold versions.
We should be fixing it.

[2022-03-18 11:32] darkolakovic opened #7203 "Error when calling skaffold delete on projects with dependent modules"
### Expected behavior
Cleaning up modules should start from the dependent modules followed by the modules previous modules depend on.

### Actual behavior
Cleaning up modules starts from the modules other modules depend on. Therefore cleaning up dependent modules throws errors since the modules other depend on are already deleted.

### Information

- Skaffold version: v1.36.1
- Operating system: M

[2022-03-18 12:21] nklmilojevic commented on #2197
I'm experiencing the same issue and cannot find why it is happening. The remote image is in Google's Artifact Registry.

[2022-03-18 12:26] nklmilojevic commented on #7139
I have the same issue, tho we are using local build and pushing to GCR and skaffold rebuilds each time.

[2022-03-18 14:21] kevin-hanselman commented on #7198
@tejal29 FWIW this is not fixed with the release of 1.37, at least not yet.

[code]

[2022-03-18 16:16] allstar-app[bot] opened #7204 "Security Policy violation Binary Artifacts"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Project is out of compliance with Binary Artifacts policy: binaries present in source code

**Rule Description**
Binary Artifacts are an increased security risk in your repository. Binary artifacts cannot be reviewed, allowing the introduction of possibly obsolete or maliciously su

[2022-03-18 23:10] wasd171 commented on #5159
Same with k3d cluster, images are not being imported into cluster
[code]
And afterwards image cannot be loaded within cluster (162ns also looks too optimistic)

Loading the relevant tag by hands via `k3d image import` works

[2022-03-19 17:55] mruzekw commented on #7185
Looks like this is possible with `skaffold dev --auto-build=false`, though it still would be nice to configure in `skaffold.yml`.

[2022-03-20 20:12] iamnoah opened #7206 "can I force a deploy to run with the api OR watch additional files?"
We use kustomize with custom plugins that help us generate ConfigMaps. The ConfigMaps are based on files not directly referenced from kustomization.yaml as they are loaded by convention and/or plugin config that skaffold will not know how to parse.

### Expected behavior

When running `skaffold dev` with the API enabled, and requesting a deploy via the execute service in response to file changes,

[2022-03-20 22:29] andyliangdong commented on #6922
Still meet the same problem. Any response?

[2022-03-21 04:28] jsok opened #7207 "ConfigConnector CRD status checking"
### Expected behavior

`skaffold apply` of a manifest which contains a `ConfigConnector` CRD should succeed once the resource becomes healthy.

i.e. https://cloud.google.com/config-connector/docs/how-to/install-upgrade-uninstall#addon-configuring

### Actual behavior

[code]

Checking the resource show's it's `Healthy` and up to date:

[code]

### Information

- Skaffold version: 1.35.2
- Operatin

[2022-03-21 04:29] jsok commented on #7207
It seems like #6766 didn't account for the top-level CRD to configure Config Connector itself. It doesn't look like this resource has a `Ready` status either which is probably why it's not able to status check.

[2022-03-21 10:10] JLeander85 opened #7208 "Jaca"
https://github.com/mdn/js-examples/blob/master/modules/package.json

[2022-03-21 10:11] JLeander85 opened #7209 "Jsva"
https://github.com/mdn/js-examples/blob/master/modules/package.json

[2022-03-21 13:14] Fdslk opened #7211 "Cannot file sync using helm to deploy"
### get new response context

### Syncing 1 files for skaffold-webflux-example:d9d9fb5066bd7a50e3b1e2290ed437e7fdd6d12f46b57fbc07873a6683fae4e8
Watching for changes... but get the former response context as well

### Information

- Skaffold version: v1.37.0
- Operating system:macOS 12.0.1
- Installed via: homebrew
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clon

[2022-03-21 13:27] johnmanjiro13 commented on #7178
This issue has been fixed in the v1.37.0 release.
So I close this.

[2022-03-21 13:27] #7178 closed

[2022-03-21 13:55] JLeander85 opened #7212 "Analist"
https://support.google.com/analytics/?hl=en

[2022-03-21 15:24] okgolove commented on #7133
I wish I could implement this but currently have no idea how to copy file after kaniko build because kaniko pod is stopped as soon as build process finishes.

[2022-03-21 17:33] #7209 closed

[2022-03-21 17:33] #7208 closed

[2022-03-21 17:33] #7212 closed

[2022-03-21 17:34] #7200 closed

[2022-03-21 18:39] aaron-prindle commented on #7204
@briandealwis do you have any opinion on the potential security risk of the *.jar files that are currently in the jib examples?  Can you weigh in on the potential risks/best-solutions here?  Thanks!

[2022-03-21 18:39] MikaelSmith opened #7214 "Latest release link is v1.35.2"
### Expected behavior

Downloading https://storage.googleapis.com/skaffold/releases/latest/skaffold-darwin-amd64 as recommended in https://skaffold.dev/docs/install should get the latest release, v1.37.0.

### Actual behavior

Downloading https://storage.googleapis.com/skaffold/releases/latest/skaffold-darwin-amd64 gets v1.35.2, not v1.37.0.

### Information

- Skaffold version: n/a
- Operating sy

[2022-03-21 21:53] briandealwis commented on #7204
These .jar files can be removed: the wrapper downloads them if they're not found ([docs](https://maven.apache.org/wrapper/#Usage_without_Binary_JAR)).  We can regenerate the wrappers since the [original maven-wrapper project](https://github.com/takari/maven-wrapper) has been archived and transitioned to the Apache Maven project as `mvn wrapper:wrapper`

[2022-03-21 22:39] #6991 closed

[2022-03-21 22:45] MarlonGamez commented on #7207
@jsok thanks for opening up this issue. I'll bring this up with the team so that we can have a fix out asap

[2022-03-22 16:17] kjurka opened #7216 "skaffold pre-build hook can't create input"
### Expected behavior

My understanding of the before-build hook was that it should be able to create the inputs used for the build.

### Actual behavior

Dependency checking happens before the before-build hook is run and fails as it can't find the data that hasn't been created yet.

### Information

- skaffold v1.35.2
- Operating system:  Ubuntu 18.04
- Contents of skaffold.yaml:

[code]

makeda

[2022-03-22 17:56] tejal29 commented on #7214
@MarlonGamez fixed the issue with the release. Thanks a lot @MarlonGamez

Thank yo @MikaelSmith for brining it to our attention

[2022-03-22 18:06] tejal29 commented on #7064
I think this got fixed in v1.29.0 https://github.com/GoogleContainerTools/skaffold/pull/6331

Will double check.
@tejal29 to try to reproduce.

[2022-03-22 19:37] tejal29 commented on #7171
@alanreynosov This is the timeout error thrown when skaffold is connecting to the cluster using the k8s client api.
This is not coming from any config and is thrown before skaffold runs the kustomize command.

Can you check if the cluster can be connected to using `kubectl`?

[2022-03-22 19:41] tejal29 commented on #7185
Currently, we dont plan to support this feature in skaffold.yaml.
We have some cool integration with Cloud Code IDEs to iteratively watch for changes.
https://cloud.google.com/code/docs/intellij/watch-modes

[2022-03-22 19:41] tejal29 commented on #7185
Please re-open if you have any more suggestions

[2022-03-22 19:41] #7185 closed

[2022-03-22 19:43] tejal29 commented on #7165
@JohnKDay , [v1.35.2](https://api.github.com/repos/GoogleContainerTools/skaffold/releases/tags/v1.35.2)  and [v1.35.3](https://api.github.com/repos/GoogleContainerTools/skaffold/releases/tags/v1.35.3) were released only for fixing vulnerabilities in the skaffold container image. The binaries had no effect on it and hence the assets were not included.

I am wondering if you have a process of consum

[2022-03-22 19:46] tejal29 commented on #7183
@Forestsoft-de as per the docs, can you set `skipBuildDependencies: false`
https://skaffold.dev/docs/pipeline-stages/deployers/helm/#helm-build-dependencies

Please let me know if it works

[2022-03-22 19:51] tejal29 commented on #7152
thanks @unj1m. This is an known issue where skaffold can't relies on kubectl.
There are couple of ways to solve this
1) Define modules and include your the operator definition in the module A. Module B will contain the resource and will depend on module B.

The other way is actually use `kpt` deployer. Kpt has the ability to detect dependencies and then apply the operator first and resource later.

[2022-03-22 19:51] tejal29 commented on #7158
Dupe of #7165

[2022-03-22 19:51] #7158 closed

[2022-03-22 19:53] tejal29 commented on #7086
Thanks you for the issue. We would appreciate any help from the community on this issue.

[2022-03-22 19:53] tejal29 commented on #7184
Thanks you for the issue. We would appreciate any help from the community on this issue.

[2022-03-22 19:54] tejal29 commented on #7083
@related to #7086
Thanks you for the issue. We would appreciate any help from the community on this issue.

[2022-03-22 19:54] tejal29 commented on #7078
Thanks you for the issue. We would appreciate any help from the community on this issue.

[2022-03-22 19:55] tejal29 commented on #7073
We will try to take a look at this

[2022-03-22 19:55] mruzekw commented on #7185
Okay, thanks for considering and for the doc.

`--auto-build=false` should work for the use-case I'm targeting along with the "On demand" feature in Cloud Code.

[2022-03-22 19:58] tejal29 commented on #7020
Looks like it a bug. We would love to fix and appreciate any help from the community on this issue.

[2022-03-22 20:08] emmanuelbaah commented on #7185
For other instances where Skaffold integrates with Cloud Code to provide watch mode you can also visit the following docs.
https://cloud.google.com/code/docs/shell/deploying-a-cloud-run-service
https://cloud.google.com/code/docs/vscode/deploying-a-cloud-run-service
(Step 12 for both, at the bottom of the docs)

[2022-03-22 20:34] tejal29 commented on #7018
Thanks you for the issue. We would appreciate any help from the community on this issue.

[2022-03-22 20:35] tejal29 commented on #7022
Sorry @akitson-degreed This fell off my radar. We will look into reproducing this at our end.

[2022-03-22 20:38] tejal29 commented on #7008
Unfortunately the way skaffold is designed, skaffold needs to know the sha of the image built to substitute.
Hence `--no-push` is not supported in skaffold.

We should definitely document this case.  I am keeping this ticket open to address the doc issue.

[2022-03-22 20:43] tejal29 commented on #7071
@ham1 Can you attach the debug logs for the latest version. We recently fixed #7181

Please re-open if the latest does not work

[2022-03-22 20:43] #7071 closed

[2022-03-22 20:43] tejal29 commented on #6607
making TP happy

[2022-03-22 20:43] tejal29 commented on #6344
Making TP happy

[2022-03-22 20:43] tejal29 commented on #5603
Thanks @nkubala

[2022-03-22 20:44] tejal29 commented on #5031
Making TP happy

[2022-03-22 20:45] tejal29 commented on #4908
Thanks Richard for the feedback.
We don't have this feature planned soon. Will update the ticket when team picks it up

[2022-03-22 20:45] tejal29 commented on #4818
Making TP happy

[2022-03-22 20:46] tejal29 commented on #4654
Making TP happy. Thanks @afbjorklund. We would appreciate any community help for getting this done!

[2022-03-22 20:46] tejal29 commented on #4773
Making TP happy

[2022-03-22 20:46] tejal29 commented on #3810
Making TP happy

[2022-03-22 20:47] tejal29 commented on #2898
Thanks @mustaphagit. I know we had some blockers on getting this done. The blockers are now resolved.

Let us know if you want us to take this home.

[2022-03-22 20:52] tejal29 commented on #6883
@samgomena Let us know how we can help! Would love to see the patch in!

[2022-03-22 20:54] tejal29 commented on #6743
hmm. I wasn't aware of the `HTTPS_PROXY=localhost:8888` trick.
Is this still an issue.
Please comment to re-open

[2022-03-22 20:54] #6743 closed

[2022-03-22 20:54] tejal29 commented on #6551
This is fixed now due to https://github.com/GoogleContainerTools/skaffold/pull/6756

[2022-03-22 20:54] #6551 closed

[2022-03-22 20:55] tejal29 commented on #5494
We would love get some community contributions arounds this!

[2022-03-22 20:59] tejal29 commented on #7216
aah. The current design does not support the use case you are using.
This looks like a legit case where a pre-hook generates files needed in the build.

[2022-03-22 21:02] tejal29 commented on #7211
@Fdslk Can you please provide more information and debug logs `skaffold dev -v=trace` for the issue.

[2022-03-22 21:06] tejal29 commented on #7206
the second approach which you mentioned is currently possible via Control API right?

[2022-03-22 21:09] tejal29 commented on #7203
Thanks for this issue. Seems like a reasonable approach.

[2022-03-22 21:10] tejal29 commented on #7139
decreasing priority due to low bandwidth.

[2022-03-22 21:11] tejal29 commented on #6994
decreasing priority due to low bandwidth.

[2022-03-22 21:11] tejal29 commented on #6361
decreasing priority due to low bandwidth.

[2022-03-22 21:11] tejal29 commented on #7023
decreasing priority due to low bandwidth.

[2022-03-22 22:17] kjurka commented on #7216
OK, that's kind of odd because the design doc explicitly states copying in a file (same as generating it) as a use case.  https://github.com/GoogleContainerTools/skaffold/blob/main/docs/design_proposals/lifecycle-hooks.md

I guess I'm not sure what you can do with a before build hook then as you can't rely on it to modify the inputs to the docker container.  If the cache check happens without runn

[2022-03-22 22:34] iamnoah commented on #7206
@tejal29 in my testing and looking at the code, no. I disabled auto-deploy, and sent execute deploy commands. The first triggers a deploy. The second does not trigger a deploy unless [a file in the computed dependencies](https://github.com/GoogleContainerTools/skaffold/blob/main/pkg/skaffold/deploy/kustomize/kustomize.go#L379) has changed. Without changed files, the execute request is a noop.

[2022-03-23 08:23] vikas027 commented on #7008
Hey @tejal29 ,
Is there an alternative to just build the image locally and not push it?

[2022-03-23 12:21] ham1 commented on #7071
Ok, thank you for replying!

After looking at the code I've managed to make `v1.37.0` "work" for us (i.e. generate one tag at a time) by setting `GOMAXPROCS=1`. e.g. `GOMAXPROCS=1 skaffold build` but this doesn't feel optimal and isn't documented/intended/stable?

https://github.com/GoogleContainerTools/skaffold/blob/1a431da621b45649473dcb9738680c6f3f03a0c4/pkg/skaffold/runner/build.go#L163

Could

[2022-03-23 12:53] yteraoka opened #7219 "skaffold v1.37.0 inserts skaffold.dev/run-id label in wrong place"
### Expected behavior

`skaffold.dev/run-id` label is inserted in the correct place

### Actual behavior

Inserted in the wrong place in some resources

Example

[code]

This will result in the following error

[code]

Another example

[code]

### Information

- Skaffold version: v1.37.0 (I had no problem with v1.36.0)
- Operating system: client: Linux on circle ci / macOS, Server GKE 1.21.9
- Ins

[2022-03-23 17:59] aaron-prindle commented on #7219
This issue was introduced in the change here #7056.  I have submitted a fix here #7221.  In the meantime unfortunately you will have to use skaffold v1.36.0 as there is no simple way to resolve this in v1.37.0.

[2022-03-23 18:12] aaron-prindle opened #7222 "Add CNRM deployment validation to skaffold integration tests"
Recently an issue occurred (#7219) in which some CNRM resources would fail when deployed by skaffold due to changes introduced in v1.37.0 (#7056).  This issue was caught quickly by a user in this case but there were no tests that caught this.  This issue tracks the work for adding an integration tests which deploys CNRM resources so that we have some tests that would catch issues like this in the

[2022-03-23 19:27] #6883 closed

[2022-03-23 21:40] sendev1 opened #7223 "Error checking cache."
### Expected behavior
Our gradlew build takes longer. So for local development we run gradlew build  only if there is change in the code that produces the war file then we start the skaffold deployment. But skaffold says

[code]
 2 issues
1. Why `Driver/` is appended infront of image name - could not figure it out.
2. Eventhough I set `docker: { noCache: true }` it still checks for cache and gets

[2022-03-24 03:51] yteraoka commented on #7219
I see, thanks

[2022-03-24 04:00] kschaab commented on #6922
@andyliangdong this bug is to fix to message we present to users to check iam when this fails.  Are you sharing your experience or are you looking for a solution?

[2022-03-24 11:18] rmane-vibrent commented on #5494
try doing::      local:
                            push: false

it helped me

[2022-03-24 14:48] briandealwis commented on #7204
Oops, forgot about the gradle wrapper 😊

[2022-03-24 14:58] briandealwis commented on #7204
Hmm, unlike the Maven Wrapper, the Gradle wrapper cannot download its support jar when missing.  Maybe we should remove these wrappers and update the README to say that Maven or Gradle is required. And then configure the GitHub Actions to install Maven and Gradle.

[2022-03-24 15:21] beastpu opened #7225 "skaffold debug command cause panic: reflect.Value.Interface"
### Information

- Skaffold version:  v 1.37.0
- Operating system: centos7
- go verison: 1.18

### Steps to reproduce the behavior
skaffold debug command causes panic when deploy helm charts. if i use skaffold with `v1.35` version it works well. I tested other commands like skaffold deploy, and no errors were reported.
[code]

[2022-03-24 18:42] tejal29 commented on #7225
@beastpu Can you please point us to your skaffold file or a small reproduction case?

[2022-03-24 18:44] tejal29 commented on #7225
/cc @aaron-prindle I see a bunch of TODO regarding errors Vs panic. Maybe this issue is exercising that code.

[2022-03-24 22:30] tejal29 commented on #3319
Thanks for the workaround @rstoermer

[2022-03-25 05:00] sashamor opened #7228 "Incompatible output directory with io_bazel_rules_docker v0.23"
### Expected behavior

`skaffold.yaml`

[code]

Expect that it builds & runs with `skaffold`.

### Actual behavior

`skaffold dev` gives:

[code]

It looks like it's expdecting `server_img` to be at `./bazel-out/k8-fastbuild/...`, but it's now at `./bazel-out/k8-fastbuild-ST-4a519fd6d3e4/...` since the latest `io_bazel_rules_docker` update.

### Information

- Skaffold version: v1.37.0
- Operating

[2022-03-25 10:27] beastpu commented on #7225
skaffold.yaml
[code]
If the comment of profiles is removed, panic error will be reported. `make build-gate-image-debug` just build docker image.

[2022-03-25 18:51] #7219 closed

[2022-03-25 20:42] dindurthy opened #7229 "Skaffold docker push does not stream progress"
When running `skaffold dev`, the docker push progress bar doesn't handle streaming updates. Instead, it incrementally outputs a new line whenever a layer's state changes.

### Expected behavior

`skaffold dev` implicit `docker push` shows streaming progress bar like an explicit docker push, e.g:
[code]
Note the `Pushing` line and the fact that every layer is represented exactly once.

### Actual b

[2022-03-26 01:02] Protek5150iworld opened #7230 "Installing Skaffold"
### Expected behavior

### Actual behavior

### Information

- Skaffold version:
- Operating system:
- Installed via:
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
3. ...

[2022-03-26 17:21] Forestsoft-de commented on #7183
Hey @tejal29

no its still the same problem. endless loop of deployments.

BR
Sebastian

[2022-03-27 14:16] Danialzz opened #7231 "Skaffold can't push to remote private registry."
### Expected behavior
The image should be built and pushed to the remote registry.

### Actual behavior
The output of `skaffold run` is as follows

### Information
- Skaffold version: v1.37.0
- Operating system: Ubuntu 20.04.4 LTS
- Installed via: skaffold.dev
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
I'm working with a private GitLab docker registry. I'm not sure w