[2019-07-08 18:26] priyawadhwa commented on #2408
Hey @cmoad -- so I merged #2215 recently which changed the functionality of port-forward for `skaffold dev`. Skaffold should now only automatically port forward _services_ upon `skaffold dev` (previously it was pods). If you need to port forward pods as well, you can define them specifically in the skaffold config, as described [here](https://skaffold.dev/docs/how-tos/portforward/). Does that solv

[2019-07-08 18:42] corneliusweig commented on #2426
Hey @priyawadhwa, thanks for highlighting this, I would probably have missed this.

@giladsh1 can you have a look at the design proposal and let me know if this would solve your problem? In particular, you could comment on the problem that multiple users may use different names for their contexts, so that putting that in `skaffold.yaml` is questionable (https://github.com/GoogleContainerTools/skaf

[2019-07-08 21:43] balopat opened #2433 "FATA[0268] listing files: listing files: file pattern [ ... ] must match at least one file"
### Expected behavior

Skaffold should just still respect the dependencies inferred from the Dockerfile and retry to watch again, even if the file/folder is temporarily deleted.

### Actual behavior

Currently we are failing:

[code]

### Information

- Skaffold version: 0.33.0
- Operating system: Linux
- Contents of skaffold.yaml:

[code]

`Dockerfile` has a COPY of a whole directory

### Steps t

[2019-07-08 21:43] balopat commented on #2433
cc @saturnism

[2019-07-08 21:58] poikilotherm commented on #2431
Sorry for the noise... I tried to search the issues for this but did not find that issue, maybe just overlooked it. Thx for pointing it out and adding the workaround :+1:

[2019-07-08 22:03] poikilotherm commented on #2282
You might be interested in reading rancher/k3s#590 and rancher/k3d#19 for image loading support.

[2019-07-09 06:48] twuttk commented on #2249
Was about to open a similar issue. We are using skaffold in combination with kaniko in our CI/CD pipeline.

Basically we are doing
[code]
This results in us being completely blind in regard to the actual build process which makes debugging super annoying.

[2019-07-09 07:42] dgageot commented on #2433
I've tried to reproduce and I'm not sure I understand the issue:

 + If `skaffold dev` is not able to find the dependencies on the first build than it's going to fail fast. The docker build will fail anyways.
 + If the files are deleted after the first build, then skaffold will just complain that it can't build but will continue to watch files for changes.

Is that correct? Do you think we should

[2019-07-09 10:26] sboardwell commented on #239
@dgageot - no, not yet, I will check and get back to you. Thanks for answering.

[2019-07-09 12:23] #1925 closed

[2019-07-09 12:23] #1975 closed

[2019-07-09 16:09] japsen commented on #2408
for me it looks like the port-forwarding is initiated while the pods that are linked to the service are still "terminating". Once the new pod is initiated, the port-forward command which is already/still running will not be updated to link to the new pod.

Maybe this could be solved by re-initiating the port-forward when the kubectl port-forward gives "No such container" or "Timeout occured" error

[2019-07-09 17:12] #2380 closed

[2019-07-09 17:18] priyawadhwa commented on #2408
Hey @japsen so we currently poll `kubectl port-forward` for one minute, waiting for it to connect successfully. How long does it typically take for your service to connect to a new pod?

[2019-07-09 18:34] botwhytho commented on #2200
@corneliusweig Thanks for chiming in. Yes, this is how we're using kustomize with skaffold: to merge multiple `skaffold.yaml` files. Unless there are plans on the roadmap for `skaffold.yaml` files to live inside a kubernetes cluster as k8s objects, then agreed, re-using a full `apimachinery/ObjectMeta` object might be a bit of overkill.

For my use case a `metadata.name` field that takes a string

[2019-07-09 18:53] quoctruong opened #2435 "RPC HTTP event endpoint is changed in the latest version of Skaffold"
### Expected behavior
Previously, if --rpc-http-port option is used, `localhost:<port>/v1/event_log` can be used to stream Skaffold events. However, this no longer works from Skaffold version 0.31 onwards.
### Actual behavior
The endpoint is now changed to `localhost:<port>/v1/events` instead
### Information

- Skaffold version: version...0.31 and above
- Operating system: ...Windows

### Steps to

[2019-07-09 19:53] priyawadhwa commented on #2358
Hey @tbarrella, are there any logs describing the failure of the other image?

[2019-07-09 20:27] balopat commented on #2433
@saturnism it must have been the first build. It is a 3 artifact (2 jib and 1 node + Dockerfile based) project running on kind and image loading was slow (~58 seconds to load the image to kind!)...I guess we didn't wait until it finished...? It definitely felt jarring as a UX :)

[2019-07-09 21:19] balopat commented on #2433
I reproduced it on 0.33 but it is fixed on master for some reason... :D

[2019-07-09 21:44] tbarrella commented on #2358
Hello, not any that were output by Skaffold. Unfortunately I don't have any persisted logs from or events about the pod

Sorry for the lack of detail/reproducibility... I was looking through the code in detail and couldn't imagine how this could happen unless Skaffold received a signal that interrupted it (due to `alwaysSucceedWhenCancelled`), although maybe it would be hard to interrupt it at exa

[2019-07-09 22:09] priyawadhwa commented on #2412
Hey @jaredbark, could you please provide a small project so that we can reproduce this bug?

[2019-07-09 22:12] priyawadhwa commented on #2379
blocked on #2142

[2019-07-09 22:13] tdickman commented on #2379
Not sure this needs to be blocked on helm 3 support since helm 3 is still prerelease.

[2019-07-09 22:14] priyawadhwa commented on #2341
Hey @haf, this is definitely weird behavior. We expected the number of replicas to be scaled down to 1 for `skaffold debug` but not for `skaffold dev`. Could you please provide some sample code so we can reproduce this bug?

[2019-07-09 22:23] nkubala commented on #2295
@jtlz2 any update on this issue? did upgrading your config to remove the `***` glob pattern fix it? can you try upgrading to the latest skaffold version and see if it fixes the issue?

[2019-07-09 22:29] priyawadhwa commented on #2204
With the new port forwarding redesign (#2215) I think this should be fixed now -- I'm going to go ahead and close this issue, but please reopen or comment if you still run into this.

[2019-07-09 22:29] #2204 closed

[2019-07-09 22:38] priyawadhwa commented on #1720
I'm going to close this issue due to inactivity; please reopen if you see this issue again!

[2019-07-09 22:38] #1720 closed

[2019-07-09 22:40] priyawadhwa commented on #193
I'd suggest trying out a more recent version of skaffold; we've fixed a bunch of bugs since `v0.2.0` :)

I'm going to go ahead and close this issue due to inactivity, but please comment or reopen if you continue to experience this issue!

[2019-07-09 22:40] #193 closed

[2019-07-09 22:44] nkubala commented on #239
@sboardwell I think you want to flag your registry as insecure when you run skaffold.

```skaffold dev --insecure-registry <your_registry>```

[2019-07-09 22:45] priyawadhwa commented on #1444
hey @matti unfortunately our pod selector will sometimes include old pods until they are completely deleted, and so those logs will show for a few seconds until the pod is terminated. This is expected behavior.

I'm going to close this issue, but if this isn't the issue you are facing please comment or reopen. Thanks!

[2019-07-09 22:45] #1444 closed

[2019-07-09 22:47] priyawadhwa commented on #1589
Hey @albertkang are you still facing this issue?

[2019-07-09 22:49] priyawadhwa commented on #1649
cc @GoogleContainerTools/java-tools-build , any chance these errors look familiar to you?

[2019-07-09 22:51] priyawadhwa commented on #1643
I'm going to close this issue due to inactivity; please comment or reopen if you continue to face this bug!

[2019-07-09 22:51] #1643 closed

[2019-07-09 23:46] priyawadhwa commented on #2379
Hey @tdickman, we're thinking of using the `helm template` subcommand and then adding the necessary label to the resources in the output to fix this issue. Before we choose to rely on that subcommand, helm 3 would have to be more mature, so we would want #2142 to be completed first.

[2019-07-10 00:01] jaredbark commented on #2412
@priyawadhwa , I cannot provide it. But the root cause of this issue is that the 'helm delete --purge' command not work with the helm release that installed with custom namespace of tiller. Because the default namespace of tiller is 'kube-system' and I've installed my release with '--tiller-namespace=devel' option. So, the helm cannot delete the release, and Skaffold has to provide an option to de

[2019-07-10 03:07] jmcclell commented on #2416
Closed by the merge of #2420

[2019-07-10 03:07] #2416 closed

[2019-07-10 08:38] japsen commented on #2408
@priyawadhwa In my case I have some simple k8s deployments consisting of 4 deployments (redis, elastic, postgres, our product) All 1 replica; having a service that exposes the ports (ClusterIP).
I'm using local useDockerCli build; after pushing to the repo it almost instantly shows the following.
It looks like "Waiting for the deployments to stabilize" doesn't do anything.

[code]

At that moment,

[2019-07-10 09:15] sboardwell commented on #239
The registry is not insecure (as in available over http), it is just private. I can try that as well but it would be an incorrect flag so not very intuitive IMO, if that is in fact the solution.

[2019-07-10 09:39] dgageot commented on #1907
Hi @hach-que, I've just tested it on Windows and it does the cleanup. Have you tried a more recent version of Skaffold?

[2019-07-10 09:41] dgageot opened #2440 "Pruning should happen after Cleanup"
Pruning currently happens before the cleanup. That makes it impossible to remove images that are used by the deployments.

[code]

[2019-07-10 10:06] dgageot opened #2442 "--no-prune-children is not working"
Wether this flag is used or not doesn't change how the pruning behaves

[2019-07-10 12:57] alnr commented on #2161
See [this comment](https://github.com/GoogleContainerTools/skaffold/issues/1937#issuecomment-509255138) which comes close to what OP wants, but does not quite work fully yet.

[2019-07-10 13:08] haf commented on #2341
Hi, I've moved on from this problem now. Sorry.

[2019-07-10 13:08] #2341 closed

[2019-07-10 13:09] lucasmpr commented on #1937
@alnr probably you could use the -o flag to output to a file using kustomize?

[2019-07-10 13:50] cmoad commented on #2408
@priyawadhwa On first run I can see the services getting successfully forwarded:
[code]
However, if the underlying pods change during a deployment update the service port forward becomes unresponsive.
[code]

[2019-07-10 14:01] alnr commented on #1937
Not possible unfortunately. `skaffold` first calls `kustomize` to render/build the manifest, modifies that output to adjust image tags, and passes that to `kubectl apply`. `kubectl` does not support writing to files directly (`-o`/`--output` in `kubectl` controls output format, not output destination).

[2019-07-10 14:05] alnr commented on #1937
Ref #2161

[2019-07-10 14:23] dgageot opened #2444 "Unable to print global command-line options"
Since we merged the new layout for `skaffold help`, printing the global command-line options like `-v` doesn't work:

[code]

ping @medyagh

[2019-07-10 16:58] #2440 closed

[2019-07-10 16:58] #2442 closed

[2019-07-10 18:42] #2435 closed

[2019-07-10 18:55] priyawadhwa commented on #2358
No worries, but I don't think we'll be able to make much progress here unless we're able to reproduce the bug. Could you provide the project you're working on, or a sample project where you see this bug?

[2019-07-10 18:56] dgageot commented on #2262
I'm going to close this one because it looks like it's fixed

[2019-07-10 18:56] #2262 closed

[2019-07-10 18:59] dgageot commented on #1907
I'm going to close this issue because it seems to work as expected

[2019-07-10 18:59] #1907 closed

[2019-07-10 19:00] dgageot commented on #1948
@tdickman @arshbot are you ok to close this issue? #2379 is still open. #2380 was fixed.

[2019-07-10 19:04] dgageot commented on #2412
You can use
[code]

I'm going to close this one as a duplicate of https://github.com/GoogleContainerTools/skaffold/issues/1183

[2019-07-10 19:04] #2412 closed

[2019-07-10 19:05] dgageot commented on #1183
Let's close this issue.

[2019-07-10 19:05] #1183 closed

[2019-07-10 19:56] tdickman commented on #1948
Yup, good to close this.

[2019-07-10 19:57] #1948 closed

[2019-07-10 20:00] tdickman commented on #2379
Helm 3 is still in alpha, so I would guess it's gong to be a while until it is out and well supported (this could very well be 6 months away). I'm not sure it makes sense to block on this.

Also interested to discuss the use of `helm template` - that command currently exists in helm 2, any specific reason you are moving to it / waiting on helm 3?

[2019-07-10 20:09] priyawadhwa commented on #2408
@japsen -- thanks for your detailed explanation, I'll take a look at it more closely and let you know what next steps would be.

@cmoad -- this is currently expected behavior. skaffold only establishes a connection after deploy and doesn't continuously check if the connection is valid. So, if a user manually changes the pod underneath the service that is being port-forwarded, skaffold won't pick u

[2019-07-10 20:36] priyawadhwa commented on #2379
For sure, so we actually had a PR open to fix this issue before (#2105), and the PR was ultimately [closed](https://github.com/GoogleContainerTools/skaffold/pull/2105#issuecomment-493189739) with the intention of waiting for helm 3. The discussion in that PR should answer your questions, but if not please let us know!

I think ultimately the issue was that patching live resources resulted in redep

[2019-07-11 04:57] tbarrella commented on #2358
Yeah, I totally agree. Unfortunately I can't... I really appreciate you asking me about this though

Also, I thought it would be good to report this when I encountered it, but haven't observed it happening since. Would it be best to close this?

[2019-07-11 05:52] dgageot commented on #2358
Let's close this issue then and reopen if there's a reproduction. Thanks a lot for reporting!

[2019-07-11 05:52] #2358 closed

[2019-07-11 06:38] tbarrella commented on #2168
I'd be happy to start a PR for this if no one else has

[2019-07-11 12:50] sergeytkachenko opened #2448 "How deploy with multi repositories of the microservices"
I have 20 repositories of the one business product.
Each microservice is in a separate repository.
What is the right approach to deploying in such an infrastructure using scaffold?

[2019-07-11 14:37] #2200 closed

[2019-07-11 16:04] dgageot commented on #2433
@balopat can the issue be closed then?

[2019-07-11 16:07] dgageot commented on #1164
I'm going to close this issue. It was seen 5 months ago and nobody complained since. Let's assume it was fixed!
Please feel free to reopen if the issue is still there.

[2019-07-11 16:07] #1164 closed

[2019-07-11 16:22] dgageot commented on #1566
So here's a recap of the situation:
 + all binaries have been cross compiled with CGO=1, using xgo, for a few releases.
 + `skaffold dev` tests have been running for days with both the notify trigger and the polling trigger.
 + I've just added an integration test for the sync feature to make sure it runs with both triggers: https://github.com/GoogleContainerTools/skaffold/pull/2449.
 + I've been d

[2019-07-11 16:26] dgageot commented on #1935
This can be closed. CGO=1 is use for releasing our binaries

[2019-07-11 16:26] #1935 closed

[2019-07-11 16:27] dgageot commented on #825
Duplicate of https://github.com/GoogleContainerTools/skaffold/issues/20

[2019-07-11 16:27] #825 closed

[2019-07-11 16:28] dgageot commented on #20
@hach-que Skaffold does try to honor existing .dockerignore files. Do you have an example of a failure?

[2019-07-11 16:30] dgageot commented on #1695
I'm going to close this issue. It was fixed with https://github.com/GoogleContainerTools/skaffold/pull/2382

[2019-07-11 16:30] #1695 closed

[2019-07-11 17:48] heltondoria commented on #1649
Same issue on Windows 10 PRO, Skaffold v0.33 and acr-docker-credential-helper.

[2019-07-11 18:08] nkubala opened #2451 "Switch to using go modules"
[Go modules](https://github.com/golang/go/wiki/Modules) are nicer than `dep` for handling dependency management. We should switch skaffold over to use them.

[2019-07-11 18:17] nkubala commented on #1566
I've also been using it intermittently just to see if it behaves differently and I don't notice any difference. I'm a +1 on switching it for the next release.

[2019-07-11 18:23] #2422 closed

[2019-07-11 18:25] priyawadhwa commented on #2168
@tbarrella that would be great, thanks!

[2019-07-11 18:28] nkubala commented on #2290
@dgageot I guess it just feels weird to me because we're still overwriting the `latest` tag on every build, so even though it is replacing the image in the yaml on every build it's not really a "tag" in the conventional sense. if I cared about all of the images built during a skaffold dev run then I'm out of luck because I only have the very last one that was built.

and in the skaffold logs I see

[2019-07-11 18:31] chanseokoh commented on #1649
@priyawadhwa as noted in many comments, Jib is succeeding. I think the error message `getting image: unsupported status code 401; body: ` is coming from the Skaffold side.

Jib has not been able to push to ACR with `docker-credential-acr-*` before Jib 1.0.2 (released in Mar 5th, 2019). I wonder if this is the same issue. Have you guys tested Skaffold against ACR with the Azure credential helper?

[2019-07-11 19:01] priyawadhwa commented on #1649
@chanseokoh we haven't tested against ACR with Azure credential helper as of now, so thank you for the documentation!

[2019-07-11 19:25] priyawadhwa commented on #2408
@japsen I think this issue should be fixed with #2359 -- the healthcheck will wait until deployments have stabilized, and then port forwarding will start, so the pods should be ready by the time port forwarding starts.

cc @tejal29

[2019-07-11 20:03] jmcclell commented on #2422
Thanks guys!

[2019-07-12 00:40] priyawadhwa commented on #2408
Hey @japsen  -- #2359 was just merged! Could you check and see if this solves your issue?

To download the latest bleeding edge binary, see instructions [here](https://skaffold.dev/docs/getting-started/#installing-skaffold)

[2019-07-12 07:31] dgageot commented on #2290
@seblegall @nkubala I understand your concerns. I like the simplicity of the current implementation of `sha256`:
 + It's as fast as it can get. It makes the dev loop super tight.
 + It's similar to Docker, used with `:latest` or without a tag. But it doesn't have the same issues since we use the digest in yaml manifests, not just the tag.

Maybe we should have both a `latest` and a `sha256` tagger

[2019-07-12 08:25] dgageot commented on #2451
@nkubala are you working on it or can I take the action?

[2019-07-12 09:08] japsen commented on #2408
hi @priyawadhwa thanks for being on this!

I just tested the bleeding edge bin.
On initial run on an empty cluster; after pushing it works as expected. It waits and creates the forwards once pods are ready.

Two breaking problems that occur:

- If I change a file, then file sync seems to be stuck in a loop. I changed a README.md file and it keeps syncing.
[code]

- If I change my skaffold.yaml, I

[2019-07-12 09:08] dgageot commented on #1649
This is a bug go-containerregistry https://github.com/google/go-containerregistry/issues/421

[2019-07-12 11:08] dgageot commented on #1649
And also in Skaffold because when Images are built with local Docker, go-containerregistry is not used

[2019-07-12 13:12] dgageot opened #2457 "tag policy has no effect on cached artifacts"
When an artifact is found in the cache, the tag that's computed by the tag policy is not used to reference it in yaml manifests. The sha256 digest is not appended either.

See here: https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/runner/build_deploy.go#L38

[2019-07-12 13:14] dgageot commented on #2457
@priyawadhwa I believe we should try to avoid tagging artifacts with their workspace hash. That would reduce the code complexity, avoid issues like this one and reduce the number of tags Skaffold produces.

Do see any important use case that would not be possible if we do that?

[2019-07-12 13:22] dgageot opened #2458 "push failure makes caching do weird things"
I run `skaffold build` from the `examples/jib` project where I forced pushing the images with `local: push: true`.
I'm not authorized to push to the gcr registry I use.

The logs are super strange:
 + Skaffold first says the image is found locally
 + Then it says it'f not found and tries to push it

[code]

[2019-07-12 13:28] dgageot opened #2459 "caching fails with Jib artifact"
I'm building the `examples/jib` artifact with caching enabled. I configured the local builder to push images.

Here's the error I see:

[code]

[2019-07-12 13:38] dgageot opened #2460 "Caching fails with horrific error"
This issue is a bit hard to reproduce but it very likely to happen to someone getting started with skaffold.

I'm working with a multi-artifact project. I've started building my artifacts locally, with caching enabled. Everything is fine. Now I switch to a remote cluster and I run `skaffold build` again to make sure the images are pushed to the registry. Here's what happens:

[code]

This happens

[2019-07-12 13:40] dgageot commented on #2460
To restore the conditions to trigger this issue, I had to delete all the images in my local docker

[2019-07-12 14:35] davidkarim commented on #1441
Would love to hear other comments regarding whether this type of feature would be desirable. In my case, I do have to add a few steps prior to running skaffold dev (such as retrieving secrets from Vault). I would definitely prefer having a way to add these pre-build hooks in the skaffold config file rather than having to build a separate wrapper script or asking developers to run a shell script pr

[2019-07-12 16:56] priyawadhwa commented on #2408
@japsen thanks for testing this out! Since both of these bugs seem unrelated to port forwarding, would you mind opening new issues for them? And if the port forwarding bug is fixed, we can go ahead and close this issue.

[2019-07-12 18:39] priyawadhwa commented on #2457
Nope, I think that should work.

[2019-07-12 18:53] demisx commented on #2408
Same issue here. Had to roll back to v0.31 for it to work.

[2019-07-12 19:05] demisx commented on #2408
Just tried it with the latest version `4c144df` and it didn't make any difference. Once skaffold rebuilds the image and restarts container, the previously working port times out.

[2019-07-12 19:07] nkubala commented on #2451
@dgageot I haven't started on it yet, if you wanna take it on go for it

[2019-07-12 19:21] nkubala commented on #239
ah sorry I misunderstood. I don't think this flag will fix your issue, it's just for flagging connections as insecure (http vs. https). try out the latest version of skaffold though and see if you're still seeing the issue

[2019-07-12 19:24] #2168 closed

[2019-07-12 19:25] #2444 closed

[2019-07-12 21:35] priyawadhwa commented on #2408
@demisx could you please provide logs for the bug you're seeing?

[2019-07-12 23:07] demisx commented on #2408
@priyawadhwa Hmm... There is really nothing different in the logs I am seeing. It's just, as others mentioned, the app no longer works on its port after skaffold updates the docker image and launches a new pod. The port is still open and listening, but any request to it simply times out. Again, this happens after the first update that requires skaffold to build a new image and launch it in  a new

[2019-07-13 02:05] zodiac1214 commented on #2379
I tried this with my own helm chart it doesn't work :(

`kubeclt port-forward TYPE/NAME -n NAMESPACE` works fine for me

[2019-07-13 11:00] jpetazzo opened #2463 "`skaffold init ; skaffold build/dev/run/...` fails if Kubernetes manifest references a tagged image"
I run `skaffold init` with the following files:

`---8<---deployment.yaml---`
[code]

`---8<---Dockerfile---`
[code]

This generates the following skaffold file:

[code]

Then I run `skaffold dev`.

### Expected behavior

Skaffold builds my image and stuff happens.

### Actual behavior

I get the following output:
[code]

It is trying to build the image `foo/bar:baz:dirty`, which fails.

If I remo

[2019-07-13 11:28] jpetazzo opened #2464 "When pruning images, Skaffold removes images that were created by Docker Compose"
### Expected behavior

Skaffold leaves my existing images alone.

(To clarify, I'm talking about images stored in my local Docker Engine.)

### Actual behavior

Skaffold removes images that I've built with Docker Compose. This defeats the build cache that I use with my other tools.

Note: it doesn't remove images that I've built manually (with `docker build`) but it does remove images that I've bu

[2019-07-13 11:50] corneliusweig opened #2465 "Improve documentation for `skaffold diagnose`"
When working with Skaffold profiles, it would be illustrative to see what the effective `skaffold.yaml` is that Skaffold works with. AFAIK Skaffold does currently not support this, but I think this is quite important for debugging.

For example, `skaffold fix` could have a `--flatten` mode and accept a list of profiles to show the effective yaml. WDYT?

**EDIT** It turns out, `skaffold diagnose` a

[2019-07-13 18:50] dgageot commented on #2465
@corneliusweig I think `skaffold diagnose` does that

[2019-07-13 18:53] dgageot commented on #2464
Thank you @jpetazzo for opening this issue. The rationale for pruning is that skaffold produces a lot of images in dev mode. That ends up filling the user's drive.
However, I think the current implementation of pruning is super sub optimal.
ping @nkubala

[2019-07-13 19:43] corneliusweig commented on #2465
@dgageot woops! Didn't know that. Thanks for nudging me in the right direction.

What do you think about mentioning this in the short description of `skaffold diagnose`? At the moment it just says

Maybe something like

Additionally, it could get a long description.

[2019-07-14 03:23] strikeout commented on #2161
This is super important for tight integration into existing CI/CD pipelines.
Please implement a render stage or a custom_script deployer (like the build stage already has)

[2019-07-14 06:03] giladsh1 commented on #2426
thanks @corneliusweig.
The design LGTM.

[2019-07-15 08:52] ianlewis opened #2466 "skaffold 0.33.0 sha for linux release does not match"
[code]

[2019-07-15 09:05] dgageot commented on #2466
We had an issue when we released 0.33. Let me check

[2019-07-15 09:14] dgageot commented on #2466
It should be fixed now. Thanks for reporting!

[2019-07-15 09:14] #2466 closed

[2019-07-15 10:51] corneliusweig opened #2468 "Skaffold config's flag `--config` is useless"
The subcommand `skaffold config {set,list,unset}` each have a flag `--config` which overrides the default location of the global skaffold config (`$HOME/.skaffold/config`).

Although this works nicely with `skaffold config`, none of the other Skaffold subcommands support to specify the location of the global config. Therefore, the flag is useless in its current shape.

I see two options:
1. Remove

[2019-07-15 11:21] corneliusweig opened #2469 "Schema upgrade mechanism fails to upgrade profiles by default"
Currently, the schema upgrade mechanism works by implementing the `VersionedConfig` interface:
[code]
The responsibility of `Upgrade` is to migrate the whole config from one version to the next. This opens the possibility for a class of bugs, where the main pipeline (`SkaffoldConfig.Pipeline`) is migrated to a new version, but none of the pipeline configs in the profiles `SkaffoldConfig.Profiles[*

[2019-07-15 13:12] dimovnike opened #2471 "Watch for changes in libraries?"
Hello,
I am new to kubernetes and skaffold. I have a question: what is the best way to organize a project that has 2 services using same library?

I have 2 services that use same library, and I need it to react to the changes in the library code (rebuild affected artifacts). Is this possible with skaffold?

I tried building the library as a separate docker image but i encountered following problem

[2019-07-15 13:34] cmoad commented on #2408
@priyawadhwa It seems like port forwarding the deployment has the same effect in v0.33.0. Is there any way to produce a reliable port forward as seen in v0.32.0? Thanks.

[2019-07-15 13:58] japsen opened #2472 "filesync loop"
### Expected behavior
When changing a file in a synced folder; it should be synced to the running pod **only once** per edit+save.

### Actual behavior
It looks like skaffold is getting stuck in a sync loop.
[code]
Not sure if it's relevant, but if I stop the process I get the following message just before cleaning up && pruning:
`time="2019-07-15T15:32:26+02:00" level=warning msg="Skipping deploy

[2019-07-15 14:20] japsen commented on #2464
@jpetazzo a workaround might be having a "base image" which contains installed packages, updates, etc.  and using a separate Dockerfile in your skaffold.yaml which only adds the latest code and/or does the really necessary things.
So just something like this:
[code]
 I'm using it like this and skaffold doesn't prune my base images.

[2019-07-15 16:36] hach-que opened #2475 "(Feature request) Support docker buildx build"
We're currently using skaffold with buildkit enabled. We found a bug in buildkit (https://github.com/moby/buildkit/issues/1072#issuecomment-511468942) and they've since fixed it, but now we need to use the new version of buildkit in our infrastructure.

The recommended way of using a newer version of buildkit than the one `DOCKER_BUILDKIT=1` provides is docker buildx: https://github.com/docker/bui

[2019-07-15 18:59] hach-que commented on #2475
Closing this for now as apparently you can use newer versions of Buildkit by just using the `# syntax` feature: https://github.com/moby/buildkit/issues/1072#issuecomment-511487993

[2019-07-15 19:57] priyawadhwa commented on #2408
I was able to reproduce the issue and have found a few different bugs -- I got started fixing them in #2477 which should being to improve port forwarding.

[2019-07-15 20:00] priyawadhwa commented on #2408
Hey @cmoad @demisx  I found some bugs in port forwarding and just opened #2477, once it's merged can you let me know if it fixes your issue?

[2019-07-16 01:52] kasvtv opened #2478 "Sync doesn't work with Helm: Skipping deploy due to sync error: copying files: didn't sync any files"
### Expected behavior
File sync works like it did before I configured Skaffold to use Helm
### Actual behavior
File sync fails to copy files:

[code]

What's also peculiar is the following error messages, since all of these resources are actually available in the default namespace:
[code]

<details>
  <summary>Full log (after building the images):</summary>

[code]
</details>

### Information
- Sk

[2019-07-16 06:59] igoooor opened #2479 "Skaffold fails to sync with helm and non root user"
### Expected behavior

Skaffold using Helm should sync files when using sync.manual configuration even with a non root container's running user.

### Actual behavior

Sync fails when the container is ran by a non root user.
It works though if the user of the Dockerfile is not changed (i.e. is root)

### Information

- Skaffold version: v0.33.0
- Operating system: mac os 10.14.5
- Minikube v1.2.0
-

[2019-07-16 10:54] kasvtv commented on #2478
I found out that right here:
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/sync/sync.go#L179

When using Helm, this expression is never true, because c.Image is the image that doesn't contain the tag, i.e.:
[code]
When not using helm, both values contain the tag and thus are equal when the correct pod is evaluated:
[code]

[2019-07-16 11:00] kasvtv commented on #2380
This is still an issue for me on a fresh build of master using Skaffold v0.33.0 on W10 Pro with the following repo:
https://github.com/kasvtv/skaffold-helm-issue

[2019-07-16 12:22] strikeout opened #2481 "Skaffold deploy does not replace images (even if default-repo and tag-policy are defined)"
### Expected behavior
`skaffold deploy` should take the artifacts from skaffold.yaml and replace the image names (in a kustomize deployment) accordingly when a tag-policy and a default-repo are defined.

Example:
[code]
[code]
### Actual behavior
`skaffold deploy` outputs the original, unmodified image-tags, eg.
[code]
### Information

- Skaffold version: v0.33
- Operating system: macOs / linux
-

[2019-07-16 12:41] dimovnike commented on #2471
There is also a problem that library image is built with a certain tag but that tag can not be passed into dependent images (in the FROM).

[2019-07-16 13:56] kasvtv commented on #2478
#2111 did not fix this for me by the way.
Furthermore I believe it would be unwise to take out the tag part, since that would lead to issues when one uses multiple images from the same repo, but with different tags

[2019-07-16 14:02] dgageot commented on #2451
@nkubala I tried a bit and failed! I've unassigned myself.

[2019-07-16 14:08] dgageot commented on #2469
I like that!

[2019-07-16 16:56] dgageot commented on #2481
@strikeout Is the problem still there if you inline the profile?

[2019-07-16 17:07] dgageot commented on #2481
Oh, you are using `skaffold deploy`. Maybe you should try `skaffold run`.

 + `skaffold run` will build artifacts, tag them, replace the tags in the yaml manifests and deploy the app
 + `skaffold deploy` will use the tags you provide with `--images=`. It assumes images are already built

[2019-07-16 17:14] dgageot opened #2484 "`skaffold deploy --help` should show usage examples"
It's currently hard to understand how to use `skaffold deploy`

[2019-07-16 17:15] dgageot opened #2485 "`skaffold build --help` should show example of using -o"

[2019-07-16 17:45] balopat commented on #1566
I'm down, let's do it!

[2019-07-16 17:45] #1566 closed

[2019-07-16 20:19] alejandrox1 commented on #1748
Came across the same issue, tested it on v0.28 - v.033
This issue came up whenever i specified a `namespace` value inside of `deploy.helm.releases[].values`.

[2019-07-16 20:33] balopat commented on #2468
Ah, facepalm, this is an ugly inconsistency indeed.
I think 2) is better, because it enables other tools like IDEs when integrate with Skaffold to store their own config file. Maven is an interesting example here, where you can have ~/.m2/settings.xml defined globally for interactive use cases but IDEs typically have their own settings.xml.

[2019-07-16 21:42] dkirrane commented on #2334
@seblegall  yes it think  deploy in order they appear in the skaffold would be enough.

[2019-07-16 22:18] balopat commented on #2295
@jtlz2 friendly ping, is this still causing an issue for you? I'd like to close this if it is solved! Thank you!

[2019-07-16 22:25] balopat commented on #2379
I do think this is pretty important to support with helm 2 as well, and has high priority as such given that we have a lot of users depending on it. Helm 2's `helm template` might be a viable solution now and that would be a benefit for other features too. @tejal29 do you want to give #2105 another go?

[2019-07-16 22:25] tejal29 commented on #2481
@strikeout @dgageot is right. `skaffold run` will build and replace the image with the newly built image.
Closing this for now.
Please re-open if you see this issue again.

Thanks
Tejal

[2019-07-16 22:25] #2481 closed

[2019-07-16 22:28] balopat commented on #887
@tejal29 this will be solved by swithcing over to helm template as well if we reopen/rebase #2105

[2019-07-16 22:44] balopat commented on #2432
Hi @poikilotherm, thanks for opening this!

1.) I'm not sure that hard coding excluding kustomize yamls is the direction we'd like to go - however if we'd support an `exclude: kustom*.yaml` would solve your problem.
2.) if you are using kustomize did you try using our kustomize deployer?

[2019-07-16 22:47] balopat commented on #2464
Hi @jpetazzo - Besides trying to optimize prune, I could see this included in the global skaffold config as a persistent user preference. What do you think?

[2019-07-16 22:58] balopat commented on #2479
We ran into this in here before: https://github.com/GoogleContainerTools/skaffold/issues/1950#issuecomment-484751969

I don't have a better idea currently how to support this in Skaffold for now besides having a dev profile with a root user.

[2019-07-17 01:07] strikeout commented on #2481
Thanks for your input, but I can **not** use the `run` stage: the images in my pipeline get build and pushed via an external worker container (gitlab-runner) plus some additional tests in between. I need skaffold _just_ for the local dev and deployment part in unison with kustomize.

To quote the homepage, this should be possible:

I have tested the `--images` flag as well, together with a `--defa

[2019-07-17 05:54] jpetazzo commented on #2464
@japsen Thanks for the suggestion; unfortunately, that's a bit too disruptive for me, as it makes my local development workflow way more complicated (but perhaps I can get some inspiration from that, so thanks!)

Apparently, if I manually tag the image, Skaffold doesn't remove it. (I will have to retry later, but when I tried to reproduce the issue by manually tag the image, Skaffold didn't remove

[2019-07-17 06:13] tejal29 commented on #2481
You are missing the project id in the default-repo parameter.
Can you try
[code]
The result-k8s-deployment.yaml shd be
[code]

Skaffold also provides `build` and `deploy` ad CI/CD build blocks. you could also use skaffold build if possible in your build phase.
You can try this in the example dirs:
[code]
If you the result pod spec has the right default repo substituted.
[code]

[2019-07-17 10:34] poikilotherm commented on #2432
Hi @balopat thanks for coming back to me.

Ad 1) an `exclude` option sound great, might be beneficial for others, too. Supporting arrays of globs would be a great enhancement.

Ad 2) I would like to keep things not depending on `kustomize` and I dislike the necessity to install it, as I wrote in #2431 which is a dup of #1781. So, no, I did not yet use the `kustomize` deployer... :wink:

[2019-07-17 14:53] daddz opened #2488 "Passing flags to kustomize"
### Expected behavior
I would like to pass a flag to the `kustomize build` call that skaffold uses but I can't find an option to do so.
The flag I try to pass in this case is `--load_restrictor none`.

### Actual behavior
Existing flags in `skaffold.yaml` are ignored when calling `skaffold dev/deploy`
Log: `DEBU[0001] Running command: [kustomize build ./k8s/test/] `
### Information

- Skaffold ver

[2019-07-17 19:36] nthypes commented on #1312
Maybe close in favor of #1441 ?

[2019-07-17 19:37] nthypes commented on #2425
Maybe close in favor of #1441 ?

[2019-07-17 19:56] nkubala commented on #2290
I'm fine with having a `latest` tag, and actually I think I'm a fan of defaulting to `latest` instead of `git`. thinking about it, probably many (the majority?) of users don't care about the intermediate image tags and only care about iteration speed, so that should help there.

in general my primary issue here is that `sha256` as a name is confusing, the functionality makes sense but `latest` see

[2019-07-17 20:15] #2460 closed

[2019-07-17 20:22] nkubala commented on #2448
one way you could do this is by cloning the repositories locally under a single parent directory, and then placing your skaffold.yaml in the top level of the parent directory. your skaffold.yaml can have an artifact per microservice, and the artifact workspace can point to the subdirectory containing the cloned repository corresponding to that microservice.

the directory structure can look someth

[2019-07-17 20:35] nkubala commented on #2464
regardless of the UX behind disabling skaffold's pruning by default, this behavior shouldn't be happening. I think because I was originally seeing hundreds of images cluttering my docker daemon after running skaffold many times per day, my initial approach to getting rid of the images skaffold builds was too aggressive, but skaffold definitely should not be removing images that it didn't build dir

[2019-07-17 20:51] priyawadhwa commented on #2197
Hey @zodiac1214 this should be fixed with #2470! I'm going to go ahead and close this issue, but if you're still seeing this bug please reopen or leave us a comment. Thanks!

[2019-07-17 20:51] #2197 closed

[2019-07-17 20:51] nkubala commented on #1312
@nthypes I don't think it's quite the same issue. this one refers to running a hook inside the container that the files were synced to - that issue is around running commands on the host that skaffold is running on.

[2019-07-17 20:54] dgageot commented on #2459
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/2470

[2019-07-17 20:54] #2459 closed

[2019-07-17 20:54] dgageot commented on #2458
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/2470

[2019-07-17 20:54] #2458 closed

[2019-07-17 20:54] dgageot commented on #2457
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/2470

[2019-07-17 20:54] #2457 closed

[2019-07-17 20:58] balopat commented on #1966
So, it looks like this is cropping up more and more for users and also gives an inconsistent experience in VSCode Cloud Code, that uses `gcloud config config-helper` to extract the token for the active account. At least for Cloud Code we should provide a way to call skaffold with "active user authentication" - with a "--gcloud-active-user-auth" flag. @redborian are you falling back to Active user

[2019-07-17 20:59] balopat commented on #2433
We can close this as it is fixed on master, we confirmed with @saturnism.

[2019-07-17 20:59] #2433 closed

[2019-07-17 21:08] dgageot commented on #2488
Actually, the flags are passed to `kubectl`. Passing flags to kustomize would be a new thing

[2019-07-17 21:11] redborian commented on #1966
@balopat we always use "active" user. If the user does not have an "active" account, we complain "Not logged in".

[2019-07-17 21:20] balopat opened #2492 "Two-way sync"
Syncing in Skaffold to the container works well. However, applications sometimes change files on the filesystem themselves.  If this happens inside the container, it is hard to get that change quickly during development.

There might be two types of file changes:
1) inside the code repository, e.g. under the project files in an IDE
2) outside of the code repo, e.g. in /var/log/, or somewhere else

[2019-07-17 21:46] nthypes commented on #1441
@dgageot we are open to ship this?

[2019-07-17 21:58] wstrange commented on #2492
Our use case: We have a complex application with 100+ json configuration files. These files are updated by the application UI running in the container. To save them in git we need to get them back out to the developers environment.  It would be super helpful if those files could be synced back out to the developers file system (typically a git repo).

We have tried using minikube volume mounts for

[2019-07-17 22:00] nthypes commented on #2492
Great to hear from you. We are facing the same challenge. The problem with the `kubectl cp` is that we need to give the `pod` name, which is dynamic.

So `kubectl cp` works only manually.

[2019-07-17 22:04] jgriff commented on #366
This looks like it's been addressed for the kubectl and helm deployers, but I'm still experiencing this with the kustomize deployer.

I have to omit the tag in my base manifest in order for skaffold to match the image.

I have a fairly standard `skaffold.yaml`, which is using jib to containerize my Spring Boot app:

[code]

If my k8s manifest specifies a tag for the image, skaffold will _not_ repl

[2019-07-17 22:11] tejal29 commented on #1441
@adrienjt Is it correct to say the script you have that copies the relevant/required libs to the micro-services folder is actually a way for maintaining python  dependency? Or does it do something more than that?

What would a pre-deploy hook ?

@davidkarim : The steps you mentioned, like retrieving secrets from Vault,  right now we expect them to be one time dev setup.

[2019-07-17 22:25] etanshaul opened #2493 "Skaffold grpc event api endpoints not working in 0.33"
Related to https://github.com/GoogleContainerTools/skaffold/issues/2435

As noted in the issue above, with skaffold version `0.31 - 0.33` (inclusive), the HTTP event API endpoint was changed from `event_log` to `event`. This required a workaround in VS Code which consumes the HTTP API.

IntelliJ uses the GRPC flavor of the API, and I'm noticing the following behavior (which does not match what I s

[2019-07-17 22:30] etanshaul commented on #2493
closing temporarily as I'm seeing inconsistent results. Will reopen once I can validate the information above.

[2019-07-17 22:35] balopat commented on #1441
I'm worried to make skaffold into a generic workflow execution engine and supporting the issues that come with that. Skaffold is meant to have a fast, opinionated local workflow and a building block for CI/CD use cases. Having completely arbitrary script calls starts to muddle things.

Also, the use cases mentioned here are interesting: I think I would very much so prefer helping explicitly with
-

[2019-07-17 22:46] etanshaul commented on #2493
Update: I was testing using `skaffold debug`. The reason I hesitated and closed the issue is because of an inconsistency in the API between `dev` and `debug`:

For the HTTP API:

**Setup**

Skaffold version 0.33
Command: `skaffold debug`

**Expected**
HTTP API is open on `localhost:{port}/events`

**Actual**
No HTTP API open on either `localhost:{port}/events` or `localhost:{port}/event_log`

By c

[2019-07-17 23:35] wstrange commented on #2492
We use selector labels on kubectl cp (`-l app=myapp`)- so the shell script is reasonably generic.

[2019-07-18 01:48] nthypes commented on #1312
Gotcha!

[2019-07-18 02:06] nthypes commented on #1441
@balopat I understand your fear and I agree with you in parts.

The point is that this *_ local workflow_* that you mentioned, nowadays is becoming more complex with a lot of tools that developers use during the development workflow. So, having this kind of **_hooks_** help us to keep skaffold as the main entry point for all the local build/test/deployment workflow.

 For example, in our case, we

[2019-07-18 05:15] balopat commented on #2493
Thank you for opening this, Etan, this is messy :/

[2019-07-18 05:29] dgageot commented on #2493
Do you pass the command line flags to activate the api? Or do you expect it to be on by default?

[2019-07-18 05:49] balopat commented on #2493
The renaming part is already in and will be released tomorrow with 0.34 - we closed https://github.com/GoogleContainerTools/skaffold/issues/2435.

[2019-07-18 07:03] #2485 closed

[2019-07-18 11:07] corneliusweig opened #2495 "Skaffold dev fails when user cannot list deployments at cluster scope"
The deployment status check from Skaffold tries to list all deployments at cluster scope, when running Skaffold without the `--namespace` flag. For example:

[code]

Fails with
[code]
On the other hand:
[code]
works as expected.

---

The reason for this is that `pkg/skaffold/deploy/status_check.go:80` does
[code]
with `ns==""` (due to not specifying a namespace), and that means _all namespaces_.

[2019-07-18 11:32] corneliusweig opened #2496 "Interference between status check of multiple Skaffold runs"
Skaffold now checks the deployment status. However, the checks for multiple runs can interfere.

For example, with this patch on master:
[code]
Skaffold prints the watched deployments.

When doing
[code]
It shows that the second run also watches the first deployment:
[code]

Deleting the first deployment with
[code]
will eventually (after the timeout) lead to a failure of the `skaffold dev` run.

[2019-07-18 13:01] etanshaul commented on #2493
I think the most immediate concern is if the grpc api works with skaffold debug (otherwise debugging won’t work); either out of the box as it was before, or with some workaround we can put in for the IDE.

I will check this as soon as I get into the office and report back.

[2019-07-18 13:49] etanshaul commented on #2493
I see the `--enable-rpc` flag now in the docs and that by default it the API is only enabled for `dev`. Looks like we weren't setting this previously.

Tentatively, it looks like adding this flag fixes the grpc api for all versions.

[2019-07-18 14:38] SantoshSah commented on #2451
Any work around using Skaffold in Go Module project till you natively support it? How can we ignore some files to be watched by Skaffold?

[2019-07-18 14:53] etanshaul commented on #2493
closing since I think everything is resolved via either setting the `--enable-rpc` flag or the fix in #2435 for the HTTP API. Also this issue is a bit messy, so will reopen a more focused one if needed.

[2019-07-18 14:53] #2493 closed

[2019-07-18 17:59] balopat commented on #2495
We should assume `default` namespace here if it's not given.

[2019-07-18 18:14] nkubala commented on #2468
`--config-file`?

[2019-07-18 18:50] corneliusweig commented on #2468
@nkubala I fear that `--config-file` may be too similar to `--config` and confuse people.

[2019-07-18 19:05] corneliusweig commented on #2495
There are further cases that should be accounted for. For example:
* the namespace can be configured per deployment in `deployment.metadata`
* and if there's no `metadata.namespace`, the default namespace is whatever is configured in kubeconfig
* if there's still no namespace, it defaults to `default`

[2019-07-18 20:22] etanshaul opened #2498 "port forwarding session not re-initialized on skaffold dev redeploy in 0.33+"
### Setup
Spring boot Java application. I.e. [java-hello-world](https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/java/java-hello-world)

Skaffold version 0.33 or higher (tested against master as well)

1) run `skaffold dev`
2) make a change in source so that it gets picked up

### Expected
Skaffold pipeline reruns and the redeploys to k8s and the port forwarding session is rec

[2019-07-18 21:17] etanshaul commented on #2498
Update: its not the JVM that is exiting. Its the pod.

However, it appears as the the port forwarding session is not re-initialized in 0.33+.

[2019-07-18 21:20] etanshaul commented on #2498
issue already known. closing

[2019-07-18 21:20] #2498 closed

[2019-07-18 21:43] balopat commented on #2495
We will turn the status check off by default #2499, that's going to downgrade this to `priority/p1`.
And then we can have a measured look at this.

I agree that there is a difference between leaving it empty - unconstrained vs setting it to `default` which would override resource and kubeconfig namespaces...

[2019-07-18 22:25] balopat opened #2500 "ERRO[0033] error running dev loop: configuration changed"
### Expected behavior

1. `skaffold dev`
2. change skaffold.yaml
3. Skaffold should restart the dev loop

### Actual behavior

[code]

### Information

- Skaffold version: 0.33
- Operating system: Linux
- Contents of skaffold.yaml: any of our examples

### Steps to reproduce the behavior

1. `skaffold dev`
2. change skaffold.yaml
3. Skaffold should restart the dev loop but instead fails

FYI @nkub

[2019-07-19 11:05] corneliusweig opened #2502 "Integration tests with reduced privileges"
Currently, integration tests always run with a user who has unconstrained privileges. This misses bugs that only manifest when a user has constrained privileges -- however enough privileges to reasonably expect a Skaffold run to succeed.

For example, https://github.com/GoogleContainerTools/skaffold/issues/2495 describes a problem which only manifests when a user cannot list deployments at cluster

[2019-07-19 18:06] priyawadhwa opened #2503 "Refactor GetAvailablePort to PortBroker"
Currently, we use [GetAvailablePort](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/util/port.go#L37) in two places:
1. To get local ports for port-forwarding
2. To get a port for the event API ([here](https://github.com/GoogleContainerTools/skaffold/blob/299c21389bb9cf413e494e334fb499cb7c543a74/pkg/skaffold/server/server.go#L57))

We pass in a generic map interface to w

[2019-07-19 18:36] giladsh1 commented on #2425
closing in favor of #1441

[2019-07-19 18:36] #2425 closed

[2019-07-19 18:42] giladsh1 commented on #1441
@balopat @tejal29 @nthypes
I've closed  #2425 in favor of this issue, but I'm copying some of the text I wrote there, in order to emphasize the need for this functionality.

IMHO These callbacks can have major befits for the development / deployment process, and make skaffold a true "one stop shop" tool.

#### some examples -

1. creating a beforeDev callback, which will allow the user to copy som

[2019-07-19 19:42] #2500 closed

[2019-07-19 19:49] priyawadhwa opened #2505 "release v0.34.0"

[2019-07-19 21:02] #2505 closed

[2019-07-19 21:26] jgriff commented on #366
I created my own workaround to this, by patching the target image from my skaffold `kustomization.yaml`.

My `kustomization.yaml` (that `skaffold.yaml` refers to):
[code]

And my `striptag.yaml` that "patches" the image with no tag:
[code]

Now, skaffold is able to manage my image.

While less than ideal, it at least allows me to keep my tags in my base manifests, and still have skaffold manage it

[2019-07-19 21:42] jgriff commented on #2082
Was there any resolution to this?

It seems `skaffold run` is fine with a git url (as a base in `kustomization.yaml`), but `skaffold dev` is not.

[2019-07-19 21:58] bitsofinfo opened #2507 "getting started: macos: unknown api version: 'skaffold/v1beta13'"
https://skaffold.dev/docs/getting-started/#installing-skaffold

Following the above instructions

I run `brew install skaffold` and then clone the project and go into the getting-started example, then do a `skaffold dev --default-repo [mycustomrepo]`

[code]

[code]

If the `brew install skaffold` command apparently doesnt get the correct version for this example

[2019-07-20 15:08] george-oakling opened #2508 "Helm deploy: difference between values and setValues parameters"
Hi guys,
coud not find the difference between those two params - from my point of view, values and setValues does the same. How they differ?

[2019-07-21 13:57] balopat commented on #2507
Thanks for opening this - there is a bit of lag between the github release and the brew package update: https://github.com/Homebrew/homebrew-core/pull/42199
When this happens, you can always download the latest release from the main GCS bucket: https://skaffold.dev/docs/getting-started/#installing-skaffold
Can you check now? It should be fine!

[2019-07-21 13:57] #2507 closed

[2019-07-21 18:12] corneliusweig commented on #2495
Can somebody re-open this issue please?  (I cannot)

There is a very similar bug when retrieving the services for automatic port-forwarding. The error happens in `pkg/skaffold/kubernetes/portforward/resource_forwarder.go:104`, specifically in
[code]

[2019-07-22 07:15] dgageot commented on #2370
Let's close this one

[2019-07-22 07:15] #2370 closed

[2019-07-22 07:18] dgageot opened #2511 "Activate caching by default"
At some point when we are confident that it's stable, we should activate artifact caching by default.

[2019-07-22 08:52] dgageot opened #2512 "skaffold init can't be interrupted with ctrl-c"

[2019-07-22 12:38] dgageot opened #2521 "Logs lines are sometimes mixed up"
When running skaffold with a lot of services, log lines are sometimes mixed up:

[code]

[2019-07-22 13:25] twuttk opened #2522 "Automated kaniko secret generation for docker configuration used to work in v0.30.0 and now fails in v0.34.0"
### Expected behavior
Building images using Kaniko as builder with automated secret generation should work.

### Actual behavior
[code]
### Information

We are using kaniko to build our images. Kaniko needs two secrets which contain the credentials for image pushing and the docker configuration. When used in conjunction with skaffold, one has the option to:
1. Create these secret manually and refe

[2019-07-22 13:37] Bastorx opened #2523 "Port forwarding doesn't work anymore since update 0.33.0 -> 0.34.0"
[code]

### Expected behavior

Port fowarding should work

### Actual behavior

Port fowarding doesn't work

### Information

- Skaffold version: 0.34.0
- Operating system: MacOS 10.14.5
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Create a node/typescript project. Doesn't share sources. Try to forwards port.
2. `skaffold dev --port-forwarding`

Would like to know

[2019-07-22 14:02] Bastorx commented on #2523
It always work one time. After a Ctrl + C and a `skaffold delete`. It seems doesn't work anymore.

I think Skaffold delete doesn't remove correctly pods and ports fowardings rules.

[2019-07-22 17:22] prokher commented on #2523
As for me `skaffold dev --port-forward` works until I change a source. Skaffold restarts services and that is it, port forwarding does not work anymore.

[2019-07-22 17:55] #1396 closed

[2019-07-22 17:55] #1520 closed

[2019-07-22 17:55] #1556 closed

[2019-07-22 23:14] balopat opened #2525 "Event API state is inconsistent with event log"
event log

[code]

state

[code]

[2019-07-22 23:31] balopat commented on #2523
This is a race issue: the old pod gets killed and the new pod gets started after `kubectl port-forward` is already started at the beginning of the new dev loop. The problem is that `kubectl port-forward` doesn't fail, it just logs things like:

[code]

this scenario could happen when the pod gets restarted behind the service due to a failure or manual pod deletion. I think we should restart `kubec

[2019-07-23 13:40] DKBgit opened #2528 "Allow specifying an explicit image tag when '--default-repo' option is used"
### Expected behavior
Skaffold to specify an explicit tag for an artifact image even when the '--default-repo' option is used.

This is similar to [#1623](https://github.com/GoogleContainerTools/skaffold/issues/1623).
WORKS :
If artifact image has an explicit tag (that includes the registry) _'[registry]/pytester2.test'_ and uses '_tagpolicy: sha256: {}'_
[code]

`skaffold build -o -q | grep "loca

[2019-07-23 13:58] briandealwis commented on #2170
This affects Skaffold's own [`examples/nodejs`](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/nodejs).

An alternative to providing a `node` wrapper is to instead provide a `nodemon` wrapper that just disables the file-watching and invokes `node` directly.  That works for when the debugger is connected, but prevents syncing from having an effect for any other time.

[2019-07-23 14:05] daddz opened #2529 "kaniko build never finishes"
### Expected behavior
Kaniko build finishes after uploading to registry.
### Actual behavior
The process never finishes after uploading the image to the registry.
I can see that the kaniko pod finished successfully but skaffold doesn't do anything after that.
The image is also successfully uploaded to the registry.

Tried with both `skaffold build -q > build_test.out` and `skaffold -v info --file-

[2019-07-23 14:59] dgageot opened #2530 "Logs should stay muted when a build fails in the dev loop"
Run `skaffold dev`. Wait for the app to be deployed. Break a Dockerfile. The user should see the error and the logs should be muted until the build is repaired.

Logs are currently unmuted.

[2019-07-23 15:33] briandealwis commented on #2170
Another thing we could do is look for a `package.json` file and:
  1. Examine the `package.json` to see if it has a special run-script for debugging and use it if found.  I came across [one example](https://github.com/remy/nodemon/issues/1557#issue-436134301) that uses a `"start:inspect": "nodemon --inspect src/index.js"`.
  2. Otherwise throw an error if it uses `nodemon` with pointers how to fix

[2019-07-23 15:38] dgageot opened #2531 "Too many flags"
I think we have way too many flags in Skaffold. We should try hard to move some of them to the skaffold.yaml.

[2019-07-23 17:52] balopat commented on #1928
Friendly ping @tuapuikia @slowr - is this still an issue? If not, I'd like to close the bug.

[2019-07-23 17:53] balopat commented on #2530
+1 and we should write tests for this.

[2019-07-23 17:56] #1166 closed

[2019-07-23 18:36] dgageot opened #2533 "Ship an official Cloud Build Builder"
We should have an official Cloud Builder here: https://github.com/GoogleCloudPlatform/cloud-builders

Maybe a *light* and an *heavy* version. The heavy would be our current image and the light would be one with only kubectl, docker cli and skaffold, for eg.

[2019-07-23 20:54] adrienjt commented on #1441
@tejal29 correct, it's a way to ensure internal Python dependencies (in the same repo but outside of the Docker build context) are present in the Docker build context to be copied to the image.

I can think of two use cases for a pre-deploy hook:

1) generate manifests with anything but Helm and kustomize, e.g., Jsonnet (not currently supported by skaffold) or a custom tool (will never be supporte

[2019-07-23 21:32] btardell opened #2534 "Applying tags on GCR with 'skaffold run' not working as expected"
I want to apply multiple tags on GCR with:

No error, but "tag-2" is the only tag applied.

v0.31.0

[2019-07-23 21:38] nkubala commented on #2530
@dgageot I'm not seeing this issue on the examples in the repo. can you tell me what you did to reproduce this?

[2019-07-23 21:55] tejal29 commented on #1937
@ItsLeeOwen, Recently @marlon-gamez added a functionality to output build output.
In #922, we actually separated `skaffold build` and `skaffold deploy`.

Now users can potentially do
1. skaffold build --file-output=build.out
2. skaffold deploy --build-artifacts=build.out

[2019-07-23 22:39] balopat commented on #2529
Thank you for filing this! Can you please attach logs from the `skaffold build`/dev output, maybe with `-v debug` so that we can see where the process hangs? Thank you!

[2019-07-23 22:41] marlon-gamez commented on #2249
We now have the `--file-output` flag to achieve this!

@twuttk, your flow can now be changed to this:
[code]

[2019-07-23 22:42] #2249 closed

[2019-07-23 22:43] balopat commented on #1589
Friendly ping @albertkang is this still an issue?
I would like to close this for now assuming that users can workaround by increasing the GCP quotas - which should be free AFAIK. If people are really interested in throttling builds in skaffold, please reopen this issue!

[2019-07-23 22:57] balopat commented on #1663
With helm the latest version still has some issues (https://github.com/GoogleContainerTools/skaffold/issues/2379) but you can workaround it with explicitly configuring port-forwarding of deployments:

https://skaffold.dev/docs/how-tos/portforward/#user-defined-port-forwarding

[2019-07-23 22:58] balopat commented on #1663
I would close this in favor for #2379. Let me know if there is anything else here that justify reopening this issue.

[2019-07-23 22:58] #1663 closed

[2019-07-23 23:01] tejal29 commented on #2508
@george-oakling , the setValues as the documentation [here](https://skaffold.dev/docs/references/yaml/) mentions  is pumped into  to helm as `--set` flag.
[code]

The `values` config can be list of images which will get resolved with the build output by skaffold.
Meaning in the case below:
[code]
The image value will be resolved to the digest of the image to the one built.

[2019-07-23 23:01] #2508 closed

[2019-07-23 23:02] balopat commented on #1978
Closing this issue it got fixed by https://github.com/GoogleContainerTools/skaffold/issues/2352.

Please let me know @prary if you still see the issue!

Thanks!

[2019-07-23 23:02] #1978 closed

[2019-07-23 23:49] balopat commented on #2534
Thank you for opening this! Skaffold behaves similarly to docker here - only a single tag and tagpolicy is available currently. If you're interested in multiple tags, there is an issue open for that: https://github.com/GoogleContainerTools/skaffold/issues/622 please comment on it too!

Apart from multi-tagging, I could see how this is confusing and maybe we should throw an error when a non-array v

[2019-07-24 06:24] twuttk commented on #2249
Thanks for letting me now @marlon-gamez, I tried moving to `--file-output` immediately after I read the release notes. Sadly we encountered an issue (https://github.com/GoogleContainerTools/skaffold/issues/2522) with v0.34.0, hopefully it's just me missing some documentation :)

[2019-07-24 07:56] yolkov commented on #1566
'notify' not working for Docker Desktop for Mac

[2019-07-24 08:00] dgageot commented on #2530
@nkubala I failed to reproduce with our samples. However, it's easy to reproduce with https://github.com/GoogleCloudPlatform/microservices-demo. What happens is that the [doDev](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/runner/dev.go#L35) code is sometimes called when there's no change. This mutes and unmutes the logs. Which is an error because by muting for no reas

[2019-07-24 08:01] dgageot commented on #1566
Hi @yolkov! Do you have more details to share? I use Docker Desktop for Mac and it works well for me.

[2019-07-24 08:56] lduparc opened #2535 "Multiple profiles - How to"
Hi all,

Skaffold documentation give option -p, --profile=[], but I'm not able to use multiple profiles.
I've tried command like this :

`skaffold deploy -p p1,p2`
`skaffold deploy -p p1 p2`
`skaffold deploy -p p1 -p p2`
`skaffold deploy --profile p1,p2`

but nothing is working. Can you give the way to use mutliple profile  and update documentation ?

Idea is to use a first profile de setup some c

[2019-07-24 09:53] Inkdpixels opened #2536 "Skaffold should push the built image with the latest tag on GoogleCloudBuild for faster cached builds"
### Expected behavior

Using skaffold with GoogleCloudBuild and a `cacheFrom` directive using the same image name, we expect skaffold to instruct GCB to push the built image not only with the `dirty-...` tag, but also with the `latest` tag so we can re-use the layers on consecutive builds.

### Actual behavior

Skaffold instructs GoogleCloudBuild to push the built image with the `dirty` tag, but n

[2019-07-24 14:55] prary commented on #2063
closing the issue since #2283 does the job.

[2019-07-24 14:55] #2063 closed

[2019-07-24 15:50] santigarcor commented on #1992
@dgageot I can confirm it, i'm having the same issue, the problem si related with helm, because https://github.com/helm/helm/issues/1707 if you pass `--set tag=20161216` it will convert it to scientific notation, it's better to use `--set-string`

[2019-07-24 16:40] #1876 closed

[2019-07-24 17:58] daddz commented on #2529
Sure thing, I didn't see there's a debug log level while looking at the CLI reference.

This is the end of the debug output where it's not progressing further:
[code]

`kubectl` displays the following:
[code]
The target registry is a private registry based on Harbor v1.8.0-25bb24ca secured with SSL.
I can also pull the built image without issues and it works as expected.

[2019-07-24 18:07] #2521 closed

[2019-07-24 20:29] priyawadhwa commented on #1961
Hey @jimanvlad we are now passing in insecure registries to kaniko as of #2266. Could you try with the latest release and see if it fixes your issue?

[2019-07-24 21:25] botwhytho opened #2542 "Allow kustomization folders as source for skaffold config"
This is a follow up to the work done for https://github.com/GoogleContainerTools/skaffold/issues/2200

We are using `kustomize` to merge multiple `skaffold.yaml` files with great results. We have centralized remote bases with profiles activated by `kubeContext` which centralizes and simplifies some CI logic. We then apply patches at the repo level to specify things that are more repo-specific: bui

[2019-07-25 01:15] tejal29 commented on #239
ok, i tried this on latest master and do see a failure. I am not sure if this is the original issue.

I made the following changes:
[code]

Here is the error i see
[code]

If, i remove the `push:true`, the build passes but fails in deploy.
[code]

[2019-07-25 06:59] daddz commented on #2529
I tried to find the problem myself by digging into the source. Please note that I have no clue about Go so I might be wrong.

File: `skaffold/build/cluster/kaniko.go`
After commenting out the `waitForLogs()` call the whole thing runs through without a problem:
[code]

Log output:
[code]

[2019-07-25 08:53] prokher commented on #2408
@priyawadhwa I am using `v0.34.0` which seems to have #2477 inside, but an issues is still here. I run `skaffold dev --port-forward` and when pod gets restarted (after changing a source file) browser is not longer able to connect to the forwarded port .(Actually, the connection is timed out.)

[2019-07-25 08:54] prokher commented on #2408
Could there be some workaround for this issue?

[2019-07-25 08:55] prokher commented on #2523
Could there be some workaround for this issue, until the fix released?

[2019-07-25 10:15] helmuthva opened #2545 "Custom Tester - similar to custom builder"
### Expected behavior

A custom tester for container structure tests can be defined similar to a custom builder.

This would be especially handy when triggering builds and deployments on architecture A that are built / run remotely  on architecture B.

### Actual behavior

The tester requires
a) the container-structure-test binary to installed locally
b) the container to run  locally

### Informat

[2019-07-25 12:18] dgageot opened #2546 "Skaffold can't use the latest gcr.io/cloud-builders/mvn to with with Jib on GCB"
The version of the `gcr.io/cloud-builders/mvn` builder that Skaffold uses on GCB to build jib artifacts was pinned a [while ago](https://github.com/GoogleContainerTools/skaffold/commit/e25305966453caf7d41bc6894315a534f0e5e275) to a version that contained `docker`.

The reason is that Skaffold runs `jib:dockerBuild` and lets Cloud Build push the result image. Instead, it could use `jib:build` and l

[2019-07-25 12:40] poikilotherm opened #2547 "Deployers need better documentation for tag behaviour"
### Expected behavior
Replace image tags, also "full qualified image" is used, at least when using `kubectl`. Maybe have a configuration option per image.

### Actual behavior
Working as designed in #565.

The behaviour described in #565 was very counter-intuitive to me. It is not described in [the docs](https://skaffold.dev/docs/how-tos/deployers). You will only see the error message
[code]
which

[2019-07-25 13:46] demisx commented on #2408
My workaround so far was to roll back to v0.31. The last version that just works for me.

[2019-07-25 17:18] priyawadhwa commented on #2408
@prokher @demisx we have a PR open to fix some more bugs in port forwarding (#2543) -- once that's in I'll comment here and we can see if it fixes your issues.

[2019-07-25 17:18] jpetazzo commented on #2464
OK, here is a tiny example to reproduce and illustrate the issue.

First, create a directory with the following files:
[code]

Then start a local registry:
[code]

Bring up the app with Compose:
[code]
(The container will exit immediately, that's normal.)

Bring up the app with Skaffold:
[code]
(It will push the app to the local registry; then possibly deploy it to your k8s cluster; then exit and

[2019-07-25 18:51] balopat commented on #2523
The fix is coming in #2543 and probably will be merged today. Then, we'll cut an emergency release.

[2019-07-25 20:15] nkubala opened #2551 "Release 0.34.1"
Minor/hotfix release for port forwarding issue

[2019-07-25 21:04] priyawadhwa commented on #2408
Hey @prokher @demisx the PR was just merged -- could you try again with skaffold @ master? Instructions for downloading the latest bleeding edge binary are [here](https://skaffold.dev/docs/getting-started/#installing-skaffold)

[2019-07-25 21:14] btardell commented on #622
I'm interested in being able to apply multiple tags too for tracking deployments. Putting everything in a single tag for traceability is not pretty. Individual tags will make this cleaner.

[2019-07-25 22:21] cbrintnall commented on #2531
I'm particularly interested in cleanup moving to the yaml file. Not everyone realizes cleanup is default behavior and could accidentally remove quite a bit. It'd be nice to have a `global` section with some of the flags living there.

[2019-07-25 22:26] #2551 closed

[2019-07-25 23:31] balopat commented on #2534
On second thought - this is not that different from for example how `git` or `docker` is handling multiple flags. Not sure we want to put extra validation on top of the CLI framework, cobra.
Thus, I'm closing this in favor for #622, and I'll add an extra comment there to support array valued flag version too.

[2019-07-25 23:31] #2534 closed

[2019-07-25 23:32] balopat commented on #622
Also, as @btardell mentioned in https://github.com/GoogleContainerTools/skaffold/issues/2534, supporting this as flags would be interesting.

[2019-07-26 04:01] briandealwis opened #2553 "`debug` should provide option to remove capping replicas to 1"
`skaffold debug` should offer some way to not cap replica counts to 1 instance.

[2019-07-26 08:59] Bastorx commented on #2523
Seems half resolved... In my example. It works only for only one service. Never both at the same time.
In logs I can see

[code]

When I check `sudo lsof -iTCP -sTCP:LISTEN -n -P`

Only port 3000 is listening. Or sometime. Only 8080...

[2019-07-26 09:01] Bastorx commented on #2523
It's not each time... Sometimes both works... It's hard to specify.

[2019-07-26 09:21] prokher commented on #2408
@priyawadhwa Triedthe latest bleeding edge binary, it seems to work. Thank you  very much!

[2019-07-26 10:40] corneliusweig opened #2554 "config: Merge insecure registries for context and global?"
The goal of this issue is to resolve the requirements around insecure registry configurations in the global config.

Given a global config such as
[code]

It is pretty clear that the allowed insecure registries is just `allowed-globally.io` when running
[code]

But what about:
[code]

Should that result in

1) only `allowed-for-my-context.io` (current behavior)
2) both `allowed-for-my-context.io`

[2019-07-26 10:47] corneliusweig commented on #2468
@nkubala I went with `--config` in #2555, because it is most consistent with `skaffold config`

[2019-07-26 11:09] yolkov commented on #1566
[code]

[code]

[code]

[code]

[2019-07-26 12:44] corneliusweig opened #2556 "init: Add default skaffold-config name?"
Since https://github.com/GoogleContainerTools/skaffold/pull/2437 the `skaffold.yaml` can have a `metadata.name` field. With upcoming changes for configurable kubecontext, this name-field needs to be set when creating a project-kubeContext relation (see https://github.com/GoogleContainerTools/skaffold/pull/2384#discussion_r303346094 for details).

So far, `skaffold init` is completely ignorant abou

[2019-07-26 13:56] yolkov commented on #1566
'notify' work only for rebuild docker image and ignore sync:      manual:

[2019-07-26 15:34] demisx commented on #2408
@priyawadhwa I've been using the latest bleeding edge binary `a1efe8c` and it's been working pretty good so far. Some issues I've noticed that may not be related to this one:

1. The first time I've started it, one of the ports for downloaded image wasn't forwarded, though I have port forwarding set up in `skaffold.yaml` (see below). However, subsequent runs seem to be OK so far. I'll keep an eye

[2019-07-26 17:23] demisx commented on #1749
Same problem for me:

* OS: MacOs Mojave 10.14.5
* minikube: 1.2.0
* skaffold: (bleeding edge master `a1efe8c`)

[2019-07-26 17:36] tejal29 commented on #2379
@priyawadhwa , since we are going to add new helm-template deployer which will use the **Manifest Labeller for helm** mentioned in #2105, i am adding a fix here to rely on "release=<release-name>" label that helm applies to all the resource deployed via `helm install`
See https://github.com/GoogleContainerTools/skaffold/pull/2557
On my branch
[code]

[2019-07-28 16:34] amurdock opened #2559 "skaffold helm sync fails with warning"
### Expected behavior
files sync to container without a rebuild when updated

### Actual behavior
skaffold fails to sync files, prints warn log

### Information

- Skaffold version: v0.34.1
- Operating system: macOS 10.14.5 (18F132)
- Kubernetes: v1.10.11
- Docker: 18.09.2
- Minikube: v1.2.0
- Helm: v2.13.1
- Contents of skaffold.yaml:

[code]

- Output:
[code]

### Steps to reproduce the behavior

[2019-07-28 16:37] matti opened #2560 "parallel builds"
Currently `skaffold build` (and `skaffold dev`) build images one by one.

Even when all layers have been cached, it's still slower than building images in parallel.

[2019-07-28 16:37] amurdock commented on #2559
I appreciate there's several of these _helm sync failure_ issues floating about but I've looked through each one and there's no indication that my configuration is incorrect or that what I'm trying to do isn't supported. Any help would be gratefully received.

[2019-07-28 16:59] amurdock commented on #2559
I've tried both `infer` and `manual` syncing approaches and both have the same symptomes.

[2019-07-28 17:49] dgageot commented on #2511
@GoogleContainerTools/container-tools How do you think we should get into that state of confidence? (I'm pretty confident myself)

[2019-07-28 17:52] dgageot commented on #2385
Let's close this one

[2019-07-28 17:52] #2385 closed

[2019-07-28 17:52] dgageot commented on #1580
This was fixed by #2324

[2019-07-28 17:52] #1580 closed

[2019-07-29 07:08] GavinOsborn commented on #2408
@priyawadhwa I too have this issue.
**Environment**
 - OS: Windows
 - Environment: Minikube (v1.2.0 & virtual box)
 - K8s Versions Tried: 1.12.8 1.15.0
   (with corresponding kubectl versions)
 - Skaffold Versions: 0.34.0 and 0.34.1
   (installed using chocolaty)

Have recreated using several of the sample applications.

**Observed Behaviour**
 - `skaffold dev --port-forward` successfully opens po

[2019-07-29 09:26] jimanvlad commented on #1961
Hi, happy to check. Is this in the released binaries or do I have to build from source?

[2019-07-29 09:30] daddz opened #2561 "Add integration-test phase"
I am trying to make use of skaffold for the whole CI/CD pipeline and a major thing that is still missing for me are integration tests.

Since I was already digging into the skaffold source due to another issue I thought why not try to get something running on this front.

The projects I mainly work on are python/django focused so my approach is coming from that perspective. I don't know how much s

[2019-07-29 12:27] yolkov commented on #2559
https://github.com/GoogleContainerTools/skaffold/issues/1566#issuecomment-515412465

[2019-07-29 13:09] prokher commented on #1358
@demisx I just wanted to say thank you. Indeed, saying that service must be load balanced (with `type: LoadBalancer`) makes Skaffold bind it to `0.0.0.0`, which helped me to run `skaffold` from inside Docker container we use for development.

[2019-07-29 14:24] dkirrane opened #2562 "Fail-fast on environment variable not set"
### Expected behavior

Fail fast if an environment variable is not set.

### Actual behavior

**\<no value\>** because `VERSION` environment variable is not set.

[code]

_sometime later ... after jib build:_

**Invalid image reference: eu.gcr.io/my-project/my-app:<no value>**
[code]

### Information

- Skaffold version: v0.34.1
- Operating system: Windows 10 64-bit PC
- Contents of skaffold.yaml:

[2019-07-29 17:08] priyawadhwa commented on #1961
The latest release should incorporate this change!

[2019-07-29 17:15] priyawadhwa commented on #2511
I was looking through the list of issues in #1740 and almost all of them are resolved, so I feel pretty good about turning on caching by default.

The ones I think we need to address at some point are:

1. store artifacts in cache as they are built (in case a user cancels in the middle of a long build, we don't want to start over)
1. tags provided with --images to skaffold deploy are kinda ignored

[2019-07-29 17:37] balopat commented on #2562
I think this is great to fail fast in general, and this would be relatively simple to implement.
However if we have users who want to have "empty var" in certain environments, that can be problematic on Windows for example where creating an empty variable means deleting the variable as far as I know.

[2019-07-29 21:03] tejal29 commented on #2379
So, @priyawadhwa i chose a wrong example.
The `helm-deployment` example add the label `{{.ReleaseName}}`
[code]
So the solution in PR #2557 wont work.
I opened another PR # where in we bring back adding labels to services.

[2019-07-29 21:03] mattnworb commented on #239
I think the problem is that, at least on my system, `GetAllAuthConfigs` is returning an empty map: https://github.com/GoogleContainerTools/skaffold/blob/4ba3d06e21ef9ca34c9e21c1550c177360013a4a/pkg/skaffold/docker/image.go#L136-L141

If I change the implementation to call `cf.GetAllCredentials()` instead of `cf.GetCredentialsStore("").GetAll()`, then my skaffold build - which needs to pull a priva

[2019-07-29 21:28] demisx commented on #2408
I've been testing with the latest bleeding version `4ba3d06` today and [all issues reported earlier](https://github.com/GoogleContainerTools/skaffold/issues/2408#issuecomment-515499548) still exist. The port forwarding seems got worse, though. I can't start `skaffold dev` with all of ports forwarded properly. Something is missing each time and I have to forward manually.

[2019-07-30 07:50] george-oakling commented on #2508
Okay, thanks :)

[2019-07-30 11:31] lduparc opened #2569 "inherit profile"
Is there a way to run skaffold command with multiple profiles. Use case is to have inherit profiles like this :

`skaffold deploy -p p1,p2`
or using yml with an `heritage property` on profile config

Where profile p1 is apply and then profile p2 override or add some configurations.
For now using multiple profiles skaffold do both, deploy with p1 config and deploy with p2 config.

[2019-07-30 12:44] jimanvlad commented on #1961
Thanks, I am getting a different error not but not sure if it's related or not.

`error checking push permissions -- make sure you entered the correct tag name, and that you are authenticated correctly, and try again: checking push permission for "artifactory.xx.xx.com:5000/data/peoject:bae7185-dirty": unrecognized HTTP status: 400 Bad Request`

This is with the following config:
[code]
And docker

[2019-07-30 15:30] mattnworb commented on #239
When `cf.GetCredentialsStore()` is called with an empty string, it uses a `fileStore` struct as the `credentials.Store` implementation:

https://github.com/docker/cli/blob/v18.09.0/cli/config/configfile/file.go#L259-L266

`fileStore.GetAll()` just delegates to `store.GetAuthConfigs()`:

https://github.com/docker/cli/blob/v18.09.0/cli/config/credentials/file_store.go#L49

which returns the AuthConf

[2019-07-30 17:37] nkubala commented on #2451
closed with https://github.com/GoogleContainerTools/skaffold/pull/2541

[2019-07-30 17:37] #2451 closed

[2019-07-30 17:54] briandealwis commented on #2553
Background: with Cloud Tools for Eclipse and IntelliJ, we forced the number of _module instances_ to 1.  A module (now known as a service) is somewhat like a deployment with an unlimited number of replicas: App Engine will automatically add new instances of a module/service as required.  In [(re-)enabling the cap](https://github.com/GoogleCloudPlatform/google-cloud-eclipse/issues/498), I noted:

A

[2019-07-30 17:59] balopat commented on #2408
@demisx - I'm sorry to see this and thank you for persisting in testing with us, we are focused on getting this stabilized asap. The `kubectl port-forward` issues were not calculated in the redesign of our port forwarding, we might have to move to yet another different design to get around them.

Can you share a bit more info? Are you on minikube? On linux/mac/windows?
It is surprising to hear it

[2019-07-30 20:56] AndiDog opened #2576 ".dockerignore whitelist rules not respected"
### Expected behavior

Skaffold calls `docker build` directly so that .dockerignore file is applied as expected, including whitelist rules like

[code]

which is the recommended approach – only sync what belongs to the build to avoid rebuilds.

### Actual behavior

In the above .dockerignore example, only

[code]

get transmitted in the Docker context. Far from expectation.

### Information

- Ska

[2019-07-30 21:07] AndiDog commented on #2094
@balopat can you please reopen? There is no solution. `cacheFrom` should not prevent Docker caching of other, locally existing layers.

[2019-07-30 22:02] #2379 closed

[2019-07-30 22:21] balopat commented on #2408
@demisx  - master contains one more port-forward fix, it should be all good now. After a couple of refreshes (while the new pod is coming up, and potentially `kubectl portforward` being restarted after a failed connection), it should work.

We noticed today a bug with the latest minikube - if you are on minikube 1.2.0 - make sure to wait until https://github.com/GoogleContainerTools/skaffold/pull/

[2019-07-31 03:57] demisx commented on #2408
@balopat I am happy to help where I can as Skaffold is one cool project that makes our development more efficient daily. I've been using the latest `cdffdad` bleeding version today and, indeed, the port forwarding issue seems to be resolved. Haven't had any problems yet. The other issues I've reported  earlier still exist, but probably are out of scope here.

Here is my environment:

* **OS:** 10.

[2019-07-31 06:19] #2546 closed

[2019-07-31 07:15] lduparc opened #2578 "skaffold Build - custom command"
Regarding some constraints on our infrastructure, we need to use custom buildCommand but we don't know how to use it. We got an error on build and we need to add hosts to build command. I think it is not possible using docker stage, we have to use custom build.

Can you give an example ?

See what we are doing :

[code]

Error :

[code]

[2019-07-31 09:46] benjamin-bergia opened #2581 "Skaffold dev not picking up remote kustomization.yml"
### Expected behavior
When running `skaffold run` the kustomization.yml file from my remote repository is used. I would expect `skaffold dev` to behave the same way.

### Actual behavior
Skaffold seem to interpret the path as a local directory path but only in `dev` not in `run`

### Information

- Skaffold version: v0.34.1
- Operating system: Fedora 30
- Contents of skaffold.yaml:

[code]

### St

[2019-07-31 10:28] lduparc commented on #1405
Using skaffold 0.34.1, issue still exist, it is not fixed.

[2019-07-31 11:55] corneliusweig commented on #2559
This looks like a configuration error. When trying sync with the helm deployment example, it works for me.

Can you try applying the following patch on your example:
[code]

With that, your example works for me.

[2019-07-31 12:08] corneliusweig commented on #1405
@lduparc Can you provide an example? This issue was closed, because it could not be reproduced.

[2019-07-31 14:37] briandealwis commented on #2578
You'll need to create a shell script: you need to process `$IMAGES` and `$PUSH_IMAGE`, and should also use `$BUILD_CONTEXT` to determine which directory to process.

https://skaffold.dev/docs/how-tos/builders/#custom-build-script-run-locally

[2019-07-31 14:45] balopat commented on #2523
@Bastorx can you try with current bleeding edge? We added some more error handling logic around kubectl portforward.

[2019-07-31 14:53] briandealwis commented on #2094
This seems to be a docker/moby issue: moby/moby#32612 moby/moby#34715

[2019-07-31 15:00] briandealwis commented on #2569
You can use `-p` multiple times: `-p p1 -p p2`.

[2019-07-31 16:24] gaetansnl opened #2583 "Skaffold rebuild image for no obvious reason"
### Expected behavior

I expect skaffold to sync files without a full rebuild

### Actual behavior
File change trigger rebuild (sometimes) for no obvious reason. It works most of the time

### Information

- Skaffold version: v0.34.1
- Operating system: Windows 10
- Contents of skaffold.yaml:

[code]

### Logs
[code]

I can't see any explanation for the rebuild in the logs

[2019-07-31 16:57] patflynn commented on #1018
+1. I feel like we should have consistent distribution strategy across CLI tools

[2019-07-31 17:08] priyawadhwa commented on #2569
@lduparc does that solve your issue?

[2019-07-31 17:35] priyawadhwa commented on #2576
Hey @AndiDog thanks for the detailed issue and for providing the example project, I was able to reproduce this bug really easily.

On first glance, I would guess that the issue is in our [WalkWorkspace](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/docker/dependencies.go#L112) function. It looks like this is failing for files specified in the .dockerignore as

[code]
an

[2019-07-31 17:37] priyawadhwa commented on #2578
You can also find an example project [here](https://github.com/GoogleContainerTools/skaffold/tree/master/integration/testdata/custom). Were you able to get the custom builds working?

[2019-07-31 18:17] priyawadhwa commented on #2581
Hey @benjamin-bergia thanks for submitting this bug. It looks like the bug is in the [findKustomizationConfig](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/kustomize.go#L222) function, where we only check if the file exists locally.

It's used when gathering dependencies, and we would basically want to read the remote manifest [here](https://github.com/GoogleCon

[2019-07-31 18:24] priyawadhwa opened #2584 "Add termination events for port forwarding"
Add termination events for port forward entries.

[2019-07-31 18:26] priyawadhwa opened #2585 "Clarify port forwarding log message"
Clarify the port forwarding log message to indicate we are attempting to port forward. If possible, move this log so that it happens when we can be more sure that port forwarding has worked.

Also, add logs when retrying port forwarding.

[2019-07-31 18:27] priyawadhwa opened #2586 "Stabilize port forwarding"
We've seen many issues around port-forwarding with the last few releases:

Port forwarding doesn't work anymore since update 0.33.0 -> 0.34.0 (#2523)
Port forwarding not work when pods recreated (#2408)

This issue will detail a plan to fix known issues and stabilize port forwarding.

1. **(In progress - #2374)** Implement pod health check. This way, we will wait for pods to be running before atte

[2019-07-31 18:46] corneliusweig commented on #2583
@gaetansnl It looks like this is a file owned by IntelliJ (or another JetBrains product). Do you also see spurious rebuilds when the IDE is not running? Also, you could try to add your `.idea` folder to the `.dockerignore` file.

Does that make a difference?

[2019-07-31 18:53] corneliusweig commented on #2554
cc @nkubala since you implemented insecure registries

[2019-07-31 19:05] corneliusweig opened #2587 "init: Automatically add .dockerignore file?"
When running `skaffold init`, Skaffold generates a ready-to-use `skaffold.yaml`. However, for IDEs this is not quite enough:

Consider a Dockerfile with a wildcard copy:
[code]
This will include all IDE-specific configuration files, such as the `.idea` folder. (This probably is a potential reason for #2583).

We could make our users' lives easier by also generating a `.dockerignore` file which ign

[2019-07-31 19:42] nkubala commented on #2554
sorry missed this originally. yeah I think in general we should try to merge global and context-specific values where appropriate, so that obviously applies here. the exception I think is for single values, such as strings (e.g. default-repo) and bools (e.g. push value). there, I think the context-specific value should always take precedence.

[2019-07-31 20:59] corneliusweig commented on #2554
Ok, that's great. Then I have a very simple solution for that.

[2019-07-31 22:00] nkubala commented on #2408
@demisx thanks for the info, and glad to hear you're seeing the issue fixed with the latest commits! this has obviously been a pain for us recently so any progress is good progress :) since this particular issue seems to be resolved I'm gonna close this issue, but if you are still seeing the other problems you reported here, please open them up in separate issues so we can track them :+1:

[2019-07-31 22:00] #2408 closed

[2019-07-31 22:28] nkubala commented on #2535
@lduparc your third option here should work: `skaffold deploy -p p1 -p p2`

can you try again and see if this works? and if not, what error you see? (along with your skaffold.yaml and OS/skaffold version info if possible)

[2019-07-31 22:31] demisx commented on #2408
@nkubala Got it. So, is it OK to create new GitHub issues for problems I am seeing in the latest `master` or should I report against the releases only?

[2019-07-31 22:36] nkubala commented on #2408
yes thats fine! the sooner we catch the issues the better :) just be sure and include the commit if you're seeing them at `HEAD`

[2019-08-01 05:12] gaetansnl commented on #2583
@corneliusweig The .idea folder is already in dockerignore. And in the logs it says it's ignored. So it should not trigger rebuild. I see no other indications of why it's rebuild in the logs.

When I try to edit a file in the `.idea` folder, it does not trigger rebuild.
The rebuild seems very random.

Is there a way to know what trigger the rebuild ?

[2019-08-01 06:19] corneliusweig commented on #2583
@gaetansnl If it worked before 0.34, that would be important to know. Can you check? Also, can you share the contents of your `Dockerfile` and `.dockerignore`? Or ideally, you can provide a repo with a minimal example demonstrating the bug.

[2019-08-01 07:03] benjamin-bergia commented on #2581
Hi @priyawadhwa,

I can have a try. By the way, why is the kustomization.yml read by skaffold instead of just passing the path to kustomize?

[2019-08-01 07:58] gaetansnl commented on #2583
@corneliusweig  I just tried on 0.33, the problem is present. But I think I found when it happens.

If I edit one file I get this in the logs :
[code]
Sync is skipped in 3 artifacts, and file is copied for 1 artifact. Skaffold sync the file, everything is OK.
But now if I quickly edit the file multiple time. The logs become
[code]
As you can see the last sync is missing, and it triggers a rebuild

[2019-08-01 08:39] amurdock commented on #2559
Brilliant, amazing ... thanks for you help 👍

[2019-08-01 08:39] #2559 closed

[2019-08-01 19:45] mattnworb commented on #239
I submitted a PR above that I think will solve the issue for pulls, but also wanted to mention that discovering https://skaffold.dev/docs/how-tos/builders/#dockerfile-locally-with-docker also fixes the problem for our use case.

[2019-08-01 20:32] priyawadhwa opened #2596 "Add port forwarding unit & integration tests"
Add integration tests for #2593 to cover:

1. (**Done with #2623**) deleting a pod after port forwarding has occurred
1. changing the skaffold config after a dev loop
1. (**Done with #2543**)making sure port forwarding works on the second dev loop

**(Done with - #2648)** Also, add constructor for `portForwardEntry`

Add unit tests for:
1. **(Done with #2661)** kubectl forwarder
1. **(Done with #2

[2019-08-01 20:33] #2584 closed

[2019-08-02 06:48] lduparc commented on #2578
yes it is working. thanks

[2019-08-02 06:48] #2578 closed

[2019-08-02 09:42] corneliusweig commented on #2432
Another approach would be to follow the semantics of dockerignore files, where a `!` prefix inverts the match. So for example:
[code]
Or is that too magic?

[2019-08-02 10:05] corneliusweig commented on #2351
That sounds good, however it can also be confusing: Sync has to be configured by supplying sync patterns. If a file gets changed which does not match any of the sync patterns, the container is usually rebuilt. Now if some changes get applied (via sync in debug-mode) and others are not (because they would require a rebuild in debug-mode), this can be a bit confusing.
Overall, I'm not sure if we do

[2019-08-02 11:24] benjamin-bergia commented on #2581
@priyawadhwa  Actually I took a deeper look and I don't think I will be able to fix it.

The parsing seems to fail for newer versions of kustomize (we are using 3.1.0). In addition the test for local or remote files is apparently not working at all, it simply canonicalize anything that is not a relative path including http urls.
One way to solve this would be to use to same lib than kustomize (htt

[2019-08-02 12:21] corneliusweig commented on #2547
If I understand correctly, you want to use your production manifests (with tagged images) as input to run your app with Skaffold. From a workflow perspective, this seems the wrong way to me. Here is why: when releasing new a new version, you need to apply new image tags in your prod manifests, so the input files get changed all the time.

It would be preferable to generate the production manifests

[2019-08-02 14:44] poikilotherm commented on #2547
Hi @corneliusweig,

thanks for coming back to me.

I somewhat disagree with your PoV, IMHO being Skaffold-centric. There are multiple places where the "best practice" of using tagged images for Kubernetes deployments is referenced. Some (strong?) examples:
* https://kubernetes.io/docs/concepts/configuration/overview/#container-images
* https://www.weave.works/blog/kubernetes-best-practices

My hum

[2019-08-02 14:57] ramukima opened #2599 "portForwarding requires access outside developer's namespace"
### Expected behavior
Resource search for port-forwarding must be scoped to the namespace specified in PortForwardResource.

### Actual behavior
Failed to port forward with k8s RBAC error - User does not have access to view resource at Cluster level.

### Information

- Skaffold version: 0.34
- Operating system: OSX
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Deve

[2019-08-02 15:05] corneliusweig commented on #2547
Hey @poikilotherm, if I gave the impression that you should run prod with untagged images, I'm sorry for that. This is not what I meant. Instead, what I was trying to say is that it should be preferred to generate the ready-to-use production manifests (_with_ tags) from static input manifests (_without_ tags).

As you said, kustomize is a tool which does that, but it can also be achieved with Skaf

[2019-08-02 17:41] balopat commented on #2586
we should address https://github.com/GoogleContainerTools/skaffold/issues/2599 as well here

[2019-08-02 17:46] balopat commented on #2599
Thank you for filing this!
I agree, this should work - the following way: user should be able to narrow Skaffold to a namespace via the namespace setting (`--namespace` or `SKAFFOLD_NAMESPACE` env var) - however on that exact line we don't pass the namespace currently.

[2019-08-02 17:46] #2576 closed

[2019-08-02 17:50] balopat commented on #2587
It's a cool idea, we can have a .dockerignore starter that has best practices.

[2019-08-02 17:53] balopat commented on #2587
on a second thought maybe `skaffold init` should only create skaffold specific stuff...this seems to belong to the bootstrapping phase of the module. WDYT?

[2019-08-02 19:21] briandealwis commented on #2351
It seems some language runtimes, like Python, do not support a debugger-controlled hot-swap capability.  VS Code and the Debug Adapter Protocol [do not support installing code-changes either](https://github.com/microsoft/vscode/issues/6930#issuecomment-420798612).

[2019-08-02 20:15] balopat commented on #2161
We are looking at implementing this feature this quarter for flows where we can.

[2019-08-02 20:31] balopat opened #2603 "release v0.35.0"

[2019-08-02 20:48] balopat opened #2606 "flake:TestPollDeploymentRolloutStatus"
This pops up time to time.
We should fix it.

[code]

[2019-08-02 21:06] corneliusweig commented on #2351
@briandealwis Do I understand you correctly, that this also speaks against enabling sync in debug mode?

[2019-08-02 21:12] corneliusweig commented on #2587
Yeah, the more I think about this, the less I like the idea myself. _If_ this gets implemented, it should probably be the responsibility of the IDE plugin, because the IDE knows more about the programming language being used, for example.

[2019-08-02 21:12] #2587 closed

[2019-08-02 21:32] balopat commented on #2599
Also related to https://github.com/GoogleContainerTools/skaffold/issues/2502

[2019-08-02 21:39] #2603 closed

[2019-08-02 22:12] tejal29 commented on #2606
Thanks.
This is removed in #2591

[2019-08-02 22:13] tejal29 commented on #2606
i think its evident because david reduced the time :)

[2019-08-02 23:01] corneliusweig commented on #2599
Also see https://github.com/GoogleContainerTools/skaffold/issues/2495#issuecomment-513575785

[2019-08-03 00:18] briandealwis commented on #2351
The opposite: Python's pydevd has some support for reloading changes from disk (`pydev_reload`). Haven't tried to figure out how to integrate it though.

[2019-08-04 11:17] gaetansnl commented on #2583
I updated to `0.35.0` and I watched file changes (with FolderChangesView on windows). All changing files are in dockerignore except the one I modify. And the rebuild seems very random anyway, so I don't think it's related to dockerignore.

How can I debug the reason of the rebuild ?

[2019-08-05 10:19] jmcclell commented on #2581
This is because `run` doesn't do any file watching  to check for changes. In `dev` mode, Skaffold traverses the Kustomize configuration starting at the root config under your `deploy` section and generates a list of all files referenced in the config tree. Once it has that list, it can setup file watching on them individually.

Of course, remote Kustomize configs really put a wrench in all of this

[2019-08-05 14:16] bruno-roussel opened #2612 "Run skaffold behind a corporate proxy"
### Expected behavior
Skaffold should run

### Actual behavior
Using  "getting started guide" and skafflod behind a corporate proxy, i get the following error:

skaffold dev

time="2019-08-05T16:10:02+02:00" level=fatal msg="watching files for artifact gcr.io/k8s-skaffold/skaffold-example: listing files: listing files: expanding ONBUILD instructions: parsing ONBUILD instructions: processing base i

[2019-08-05 14:58] corneliusweig commented on #2583
Sorry, I don't have a good idea here. The only thing you could try is if it happens with other projects as well. And if not, find a minimal example that demonstrates the problem.

Have you tried running your project without the IDE? Does the problem manifest there as well?

[2019-08-05 19:59] dbachrach commented on #366
Running into the same issue and using a similar workaround to @jgriff. My skaffold.yaml is now:

[code]

This is slightly cleaner than the striptag method but still not ideal. Should we open this problem with kustomize-based image tagging as a new issue?

[2019-08-05 20:21] NAlexPear commented on #2277
This is important for us as well, since we're using [`sops`](https://github.com/mozilla/sops) for secret decryption across environments. So even though we're happy using `kubectl` to apply changes to our clusters, the inability to hook into that deploy pipeline means that we can't currently use `skaffold`

[2019-08-05 21:17] doubliez opened #2613 "Watcher doesn't detect changes when artifacts are outside the directory from where skaffold is run"
### Expected behavior

When a file is changed in a workspace (directory specified in `build.artifacts[].context` option), a rebuild should be triggered automatically, even if the workspace is located outside the directory from where `skaffold dev` is run.

### Actual behavior

File change doesn't trigger a rebuild in this case. Note that this used to work but not sure in which version of Skaffold

[2019-08-05 22:22] demisx commented on #2019
I'm still experiencing this issue with the latest bleeding edge `f48e7dd`. I have no problems starting the app - it just fails to clean up when I hit `[CTRL]+C`. I ran it with `-v=debug` and don't see any errors. Works fine with v0.31, though.

[2019-08-06 03:05] tbarrella commented on #1441
Agreeing with what people have said above,
- Docker context composition before builds: Explicit skaffold.yaml configuration for this would be helpful, although supporting custom scripts to e.g. generate files would also be helpful to support migrations. Ideally multi-stage builds would prevent the need for generating files for the context, but not all builders have good support for multi-stage bui

[2019-08-06 17:34] JiaboHou commented on #2613
I'm also able to reproduce this in my own setup. I believe I have been encountering this issue since v0.34.0.

[2019-08-06 17:48] bjesus commented on #2613
Also seeing this issue with Skaffold 0.35 on Arch Linux

[2019-08-06 21:46] priyawadhwa commented on #2613
Hey @doubliez thanks for submitting this bug -- I have a PR open to fix this issue (#2614).

[2019-08-06 22:21] nkubala commented on #2569
@lduparc I'll close this issue for now, if you think there's an issue here feel free to reopen with more information.

[2019-08-06 22:21] #2569 closed

[2019-08-07 07:09] prary commented on #2612
Hi @bruno-roussel change the base image in your Dockerfile to any other base image which is accessible in your corporate and similarly change the target image also in skaffold.yaml
[code]

[2019-08-07 09:22] shqyking opened #2615 "Add watching folders that lives outside of artifact's directory"
### Expected behavior
I could specify watching folders that are not in artifact's directory. For example, I have a common lib directory used by various artifacts. When I change the code in common lib, skaffold triggers a rebuild

### Actual behavior
Can't find a place to specify such watching folders.

### Information
"context" doesn't work for me since that's the directory for application code. T

[2019-08-07 12:12] bruno-roussel commented on #2612
Thks, it helped !

Not sure to understand what happened exactly.
I changed the base image but than I had to manually call docker build before calling skaffold dev.

Works fine now.

[2019-08-07 12:12] #2612 closed

[2019-08-08 01:45] chainlink commented on #1737
Looks like this is stalled

[2019-08-08 07:36] absent1706 opened #2618 "Add possibility to run custom command after deploy to k8s"
It will be very useful to have a possibility to execute some script after deploying to cluster.
It cah be achieved by adding a section to `skaffold.yaml` like:

[code]
For example, I would like to run [kubefwd](https://kubefwd.com/) command after deploy, so, my services will always be available on fixed URLs like `http://<service_name>` even after re-deploy (I know skaffold has port-forwarding fea

[2019-08-08 09:32] krakowski commented on #1379
As @hoatle already mentioned, the `sha256` part does not exist if `imageStrategy: helm: {}` is used.

In addition to [file sync](https://skaffold.dev/docs/how-tos/filesync/) not working, all log messages are no longer displayed. Using `fqn`, log messages are printed again. I guess skaffold can't find the container if the `sha256` part is missing.

[2019-08-08 19:01] nkubala commented on #2556
yeah I think we should try and have as little user input in `skaffold init` as possible. i'm fine with putting a default in, your suggestion of the current directory basename seems reasonable to me.

[2019-08-08 19:20] priyawadhwa commented on #2618
Hey @absent1706 I've been working on improving port-forwarding in skaffold; would you mind opening up another issue about the port forward bugs you've been seeing so I can take a look? Also, what version of skaffold are you running?

In regards to this issue, this is a dupe of #1441, so you can find updates on this topic there! I'm going to go ahead and close this issue as a dupe.

[2019-08-08 19:20] #2618 closed

[2019-08-08 19:40] #2613 closed

[2019-08-08 19:59] alikor opened #2620 "Support for Operator-sdk / Operators"
I have recently been switching to the Operator-sdk with operator-lifecycle-manager to manage operator versions and i was wondering will you be supporting Operators as a Deployer?

https://github.com/operator-framework/operator-sdk
https://github.com/operator-framework/operator-lifecycle-manager

[2019-08-08 22:12] ramukima commented on #1312
Not sure about any milestone set for this. My use case as well requires a command to be executed within my container after sync has been performed.

If post-sync hooks are allowed, will the hook be called a single time or multiple times for each file change ? I believe, all changes at a given time are tar'ed and copied in one go into the container.

`
sync:
  infer:
  - 'workdir/compiled/packages/

[2019-08-08 23:07] #2581 closed

[2019-08-09 18:12] mekansm commented on #361
Food for thought? It might be nice to specify `--default-repo` in a `profile`.  I am currently working with microk8s and it is quite annoying to have to remember to add `-d` to the command line to point to my local repository.  If i could create a profile in the skaffold.yaml that was based on my kubeContext, then it could save some headache.

[2019-08-09 18:17] #1379 closed

[2019-08-09 18:32] tejal29 opened #2625 "Fix "GetAllCredentials()` from credential store which is slow."
In #2573, we reverted a part of @dgageot's #279 to send all credentials  to docker build `GetAllCredentials()` which is slow to fix #239

As, @mattnworb also mentioned, "correctness wins over performance".

This TODO is to address if we can fix this in docker.
See https://github.com/GoogleContainerTools/skaffold/issues/239#issuecomment-516471130
and
https://github.com/GoogleContainerTools/skaffold

[2019-08-09 18:34] #239 closed

[2019-08-09 20:48] marlon-gamez opened #2627 "Limit number of invalid inputs allowed when running generate-pipeline"
Reduce the number of times input can be invalid when running skaffold generate-pipeline. This is mostly to prevent the case where someone is automating their skaffold commands and mess up the input, causing it to be stuck indefinitely at the input loop.

[2019-08-10 15:12] DHBuild002 commented on #272
Hi Guys, After a lot of twoing and frowing I was able to fix this problem on my own personal project.

The issue it turned out for me atleast was due to an old version of babel-core that I had installed.

I removed that from my JSON file, then uninstalled it, and the next test I ran worked succesfully.

It did not complain there were two many files running. I think it was because I had conflicting

[2019-08-11 07:45] erandagan commented on #2277
More use cases:
- Using other configuration & templating solutions like [kapitan](https://github.com/deepmind/kapitan) or plain Jinja2.
- [Mixing helm and kustomize](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/chart.md) in all sorts of ways
- As @NAlexPear mentioned, handling secrets using a variety of mechanisms (Cloud KMS providers / sops / helm-secrets / ...). This is a re

[2019-08-11 08:11] cedrickring commented on #1470
@cabrinoob Do you have a `.dockerignore` file where you're ignoring the `node_modules` directory? My guess is that you're copying the whole folder from windows into the image when running `COPY . .` after the `npm install`.

Docker for Windows is applying `-rwxr-xr-x--` (**r**ead, **w**rite, e**x**ecutable) permissions to all files copied into the image. That's why the normal `docker build .` work

[2019-08-11 15:29] haf opened #2628 ".dockerignore behaviour delta: docker<->skaffold"
### Expected behavior

Full repro: https://github.com/haf/skaffold-dockerignore

### Actual behavior

Skaffold doesn't handle `**`—ignore everything patterns, with _include_ behaviour thereafter.

Why do I use `**`? Because it drastically simplifies the management of `.dockerignore` to be whitelisting build requirements, than blacklisting every single added file or binary.

### Information

- Skaf

[2019-08-12 07:16] prary opened #2629 "kubectl command should timeout if it take very long time to execute"
Running skaffold on windows is smooth until kubectl command are executed, kubectl version used is 1.13. Its takes almost 15 -20 minutes sometime to execute the kubctl deploy command

### Expected behavior
Should execute fast
### Actual behavior
Kubectl command execution are slow sometime, we should have timeout if it takes too long along with the message "kubectl responding slow" or if not timeout

[2019-08-12 09:04] emichaf opened #2630 "Image tag not injected into Helm value file"
Can't get the generated Image tag to be injected into the Helm value file:

**skaffold file:**
[code]
**Helm Value file:**
[code]

Is it possible to get the generated Image tag via any env var etc, and set i via setValues: ?

[2019-08-12 09:05] yoshwata opened #2631 "Image pull fail on helm deploy when sync is enabled"
### Expected behavior
Image pull as the settings of values.yaml on `skaffold deploy`.
`skaffold dev` is no problem.

### Actual behavior
ImagePullBackOff occurs to pull image name like `skaffold-helm:skaffold-helm`

When I try to sync with [this code](https://github.com/yoshwata/skaffold/pull/1/files)(This is also put as reproduction example too), syncing works well.

<details>
<summary>Logs of sk

[2019-08-12 14:40] ramukima opened #2633 "Private/Secured Docker Registry: Fails with error - x509: certificate signed by unknown authority"
### Expected behavior
Ability to work with a secured private docker registry
### Actual behavior
Fails with error - x509: certificate signed by unknown authority
### Information

- Skaffold version: v0.34
- Operating system: OSX Darwin
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

Looking at the comments https://github.com/GoogleContainerTools/kaniko/pull/169#issuecomm

[2019-08-12 15:45] dasmfm opened #2634 "Getting Started - broken link"
"Picking the Right Solution" link is broken - looks like page was remove from Kubernetes site since v1.13.

[2019-08-12 18:04] nkubala commented on #2530
this was fixed with #2592

[2019-08-12 18:04] #2530 closed

[2019-08-12 18:21] marlon-gamez opened #2635 "Create integation test for generate-pipeline to run generated tekton pipeline in cluster"
Current integration tests for generate-pipeline only check to see that the output into skaffold.yaml and pipeline.yaml is as expected.

There should be an integration test to check that the generated tekton pipeline runs properly and doesn't error when running on cluster.

[2019-08-12 18:52] priyawadhwa opened #2636 "Build events should be sent even when artifacts are cached"
Or we should have a cache event? When working on #2621 I noticed that `TestDevAPITriggers` was failing because build events aren't sent if images exist in the cache.

[2019-08-12 18:52] priyawadhwa commented on #2634
Thanks for pointing this out @dasmfm! Would you be interested in opening a PR?

[2019-08-12 19:18] giladsh1 opened #2637 "Google Cloud Build logging options"
It seems like Skaffold is hammering the
when running with google cloud build builder, I got the following error message -
[code]

### Expected behavior
implement a proper backoff when using google cloud build API.
Also, allow additional options for google cloud build logging such as -
[code]

### Actual behavior
the build crashes
### Information

- Skaffold version: v0.35.0
- Operating system: Mac

[2019-08-12 22:37] #2511 closed

[2019-08-12 23:19] tejal29 commented on #2599
Depends in #2640

[2019-08-12 23:24] #2009 closed

[2019-08-13 07:58] vdboor commented on #511
I ran into the same problem, sometimes I find skaffold pushing/deploying images to a remote cluster while I was de locally. Being able to set a kube-context would be a valuable option here.

Also, when the kube-context changes, it seems that `skaffold dev` responds to that. This means that running `skaffold dev` means that one can't never change the cluster to fix some other bug in the meantime.

[2019-08-13 14:52] nobleach commented on #1980
Is there an example of how to do this somewhere? Skaffold keeps attempting to pull from a repository for me.

[2019-08-13 15:03] cabrinoob commented on #1470
@cedrickring : Hi, thank you. I cannot test your solution, because as I said earlier, I switched to linux. But I'll try to find someone here who is under Windows to do the test.

[2019-08-13 16:56] balopat commented on #2637
Thank you for opening this!

Regarding the rate limit backoff request, that is a dupe of #https://github.com/GoogleContainerTools/skaffold/issues/1589, so I'll reopen #1589 to track that work.

I'll keep this issue as a feature request for GCB logging options.

[2019-08-13 16:58] balopat commented on #1589
Reopening.
The issue is at https://github.com/GoogleContainerTools/skaffold/blob/e80a637800d14f8ece314f63d8eca54515753463/pkg/skaffold/build/gcb/cloud_build.go#L118 where we should implement a proper error handling and back-off strategy.

[2019-08-13 17:03] balopat commented on #2636
I'd prefer sending a Build Succeeded event even when we have a cache hit.

[2019-08-13 17:04] priyawadhwa commented on #2636
Cool that's actually what I ended up doing in #2621 -- I'll close this issue.

[2019-08-13 17:04] #2636 closed

[2019-08-13 17:28] briandealwis commented on #2174
Pending release of Delve 1.3.0 (go-delve/delve#1631), which is blocked on Go 1.13 RC1.

[2019-08-13 17:35] balopat commented on #2615
hi @shqyking, thanks for filing this.
I see that you are using jib to build a maven project. Skaffold watches the files that jib lists. Theoretically in a multimodule setting this would take care of watching files that are part of a common lib. You can check the files listed as "dependencies" provided by jib to skaffold by running something similar to this:

[code]

This gives me the following on

[2019-08-13 17:58] loosebazooka commented on #2615
Yes we will work correctly if it's a proper maven multimodule (reactor) project, but this appears to not be set up that way. If there is no maven connection between the projects it's hard for us to know this in jib. Jib will watch for snapshots though, so you can try to install your common library as a snapshot if you chose not to associate the projects together via maven.

For example in your pro

[2019-08-13 20:07] nkubala commented on #2160
I'm going to close this since I believe it was fixed through https://github.com/tanner-bruce/skaffold/commit/467c496855dcad06a3041846c78a2904b7285e9e. if anyone is still seeing this issue please feel free to reopen!

[2019-08-13 20:07] #2160 closed

[2019-08-13 20:18] nkubala commented on #2290
after much discussion, I'm going to go ahead and close this issue because I'm convinced there isn't anything we *need* to address here. I think that changing the names of the tags to make a little bit more sense might be worth doing, but I don't think it's worth keeping an issue open over.

[2019-08-13 20:18] #2290 closed

[2019-08-13 20:26] nkubala commented on #1928
going to close this issue due to inactivity. if anyone is still seeing this, please feel free and reopen!

[2019-08-13 20:26] #1928 closed

[2019-08-13 20:32] balopat commented on #1749
I accidentally reproduced this with @haf's repro on a separate project: https://github.com/haf/skaffold-dockerignore - change the skaffold yaml to `useDockerCLI: true` creates this issue.

[2019-08-13 20:50] demisx commented on #1749
I also have it set to `true` to be able to pass env vars as build args, I believe. This is my skaffold YAML if it helps:

[code]

[2019-08-13 22:27] priyawadhwa commented on #2629
Hey @prary looks like there's a `--timeout` flag on `kubectl apply` that you pass in to skaffold via additional kubectl flags:

[code]

Does that solve your issue?

[2019-08-14 00:28] RicCu commented on #336
Does anyone have a viable workaround for this?

[2019-08-14 00:31] balopat commented on #2628
Thanks for the minimal repro!
I confirm that there is an issue with our .dockerignore parsing somewhere.

[code]

[2019-08-14 05:36] tbarrella opened #2642 "buildkit as a cluster builder?"
It would be helpful to support buildkit (ideally buildkit-rootless) as an in-cluster builder. The `buildctl-daemonless.sh` entrypoint from https://github.com/moby/buildkit/pull/1021 seems to make this achievable with logic similar to that for Kaniko. The shared logic, combined with the features and security of buildkit, is what helps this to seem worth it

Although, one potential drawback of using

[2019-08-14 07:47] jehowell opened #2643 "Port Forwarding ignores namespace constraints"
Start the same deployment in 2 different namespaces on 2 different machines
skaffold dev --port-forward --namespace ns1
skaffold dev --port-forward --namespace ns2

### Expected behavior
skaffold dev --port-forward --namespace=<ns> should only forward ports related to the deployment and the namespace.

### Actual behavior
The second skaffold call with forward ports from both ns1 and ns2

Currently

[2019-08-14 09:40] haf commented on #1749
@demisx You don't need to use the docker CLI for passing env vars: https://github.com/haf/skaffold-dockerignore/blob/master/skaffold.yaml#L6-L10 works.

[2019-08-14 10:36] woodcockjosh commented on #1749
I had this issue when I specified an image tag in the image property. I removed `:Tag_Name` and it stopped crashing. The problem seems to be with the error message which is quite vague rather than a bug in the code.

[2019-08-14 11:44] Zyqsempai commented on #2634
I will take this one.

[2019-08-14 12:56] gaetansnl commented on #2583
I reproduced ! Steps to reproduce :
- Replace your registry url/secret
- run skaffold dev
- Start editing `node1/src` and  `node2/src`. You might need between 10 and 50 save before it triggers a rebuild

I think maybe skaffold rebuild because the two images share code but only some of it is synchronized. But it should not randomly rebuild anyway I think ?

[hot-reload - Copie.zip](https://github.c

[2019-08-14 14:52] thomas-tabbaza opened #2645 "Manifests apply order"
## Manifests apply order
### Expected behavior
Skaffold should apply the manifests in the order they are supplied in the `manifests` property.
(see @briandealwis below for use case/context)

### Actual behavior
Uses (apparently) alphabetical order for everything.

### Information

- Skaffold version: v0.35.0
- Operating system: osx

### Steps to reproduce the behavior

[code]
Whatever the order th

[2019-08-14 15:07] briandealwis commented on #2645
Relevance here is that @thomas-tabbaza is trying to create and use namespaces within his manifests, but [these are required to be ordered to the top](https://github.com/kubernetes/kubernetes/issues/44511#issuecomment-294504592):

There is some more discussion in kubernetes/kubernetes#16448.  Skaffold's `kubectl` deployer should retain the manifest order specified.

Apparently [`kustomize` sorts re

[2019-08-14 15:17] balopat commented on #2643
Same root cause as #2599.

[2019-08-14 15:20] balopat commented on #2642
Thank you @tbarrella for opening this!
We have not experimented yet to run buildkit on cluster - but if that works and you can make it work on GKE as well, this might be an interesting route for us to support.

[2019-08-14 15:25] demisx commented on #1749
@haf Oh, nice! Thanks man. I [was told here it was necessary](https://github.com/GoogleContainerTools/skaffold/issues/543#issuecomment-502659678), but I guess no more. Maybe this was a requirement in an earlier version of skaffold.

[2019-08-14 15:26] ollieayre-oc opened #2646 "User defined port-forward context"
Apologies if this isn't the correct forum in which to ask this.

Would it be feasible to allow an overriding context to be declared per user defined port-forward rather than assuming all target resources will exist within a singe cluster?

A theoretical example:
[code]

[2019-08-14 15:43] demisx commented on #1749
Also, I'd like to confirm that removing `useDockerCLI: true` made the error go away. It's working with minikube now.

[2019-08-14 16:23] balopat opened #2647 "event API bug: /events and /state and /events stops working"
### Expected behavior

Event API should keep responding

### Actual behavior

Event API stops responding

### Information

- Skaffold version: latest master
- Operating system: Mac OSX
- Contents of skaffold.yaml: examples/microservices

### Steps to reproduce the behavior

1. http://localhost:8080/v1/events - works
2. http://localhost:8080/v1/state - works
3. http://localhost:8080/v1/events - sto

[2019-08-14 18:46] balopat commented on #2646
Hi @ollieayre-oc,

It is totally okay to ask questions here as we mainly follow Github Issues and the Slack channel.

Skaffold currently assumes that we are targeting a single cluster in a `skaffold dev` loop or a `skaffold run` execution.

Thus, for context specific port forwarding, I would use [profiles](https://skaffold.dev/docs/how-tos/profiles/), activated by different kube contexts. E.g.

[c

[2019-08-14 18:53] balopat commented on #2630
Hi @emichaf, thanks for filing!
Can you try with `explicitRegistry:true`?

From https://skaffold.dev/docs/references/yaml/:

[code]

[2019-08-14 19:08] balopat commented on #2620
Hi @alikor,

thank you for putting this on our radar, we haven't really thought about supporting Operator-SDK just yet. If there is enough adoption and demand from the community, it could become interesting.
However, just to manage expectations, unless something changes, based what I know today, this is not likely to be picked up anytime soon by our team.

In the meantime if you're interested to d

[2019-08-14 20:13] briandealwis commented on #2170
- Finding the `package.json` from the local disk is non-trivial; it's entirely possible for a Dockerfile to copy it from an arbitrary location.
- Finding the `package.json` from the remote image is non-trivial but more tractable as it's likely in the WORKDIR.

The node wrapper script may be the more robust implementation.

[2019-08-14 20:16] #2496 closed

[2019-08-14 20:49] #2468 closed

[2019-08-14 21:53] balopat commented on #2645
So, we create a single big list of manifests out of the manifest list and throw that at `kubectl apply` and kubectl doesn't sort resources.
Options:
1) instead of a single monolithic apply, apply per manifest entry  - can make things significantly slower on remote clusters
2) sort the manifests - reimplementing the wheel - also requires parsing the manifests. It's doable but not a small change.
3)

[2019-08-14 21:55] balopat commented on #2448
Hi @sergeytkachenko - I wonder if @nkubala's answer worked for you or not?

[2019-08-14 21:56] balopat commented on #2376
This is related to #916 - doable but not easy (=fun:)) to implement. PRs are welcome!

[2019-08-14 21:59] balopat commented on #2295
I'm going to close this due to inactivity. If the issue pops up, please comment and we'll reopen it!

[2019-08-14 21:59] #2295 closed

[2019-08-14 22:20] balopat commented on #2245
Thank you for filing this - it sounds reasonable expectation to me, as those dependencies don't change typically.

1. It would be worthwhile to ask this question on Slack as well to generate a bit more exposure. Not sure who's depending on this behavior.

2. Also Skaffold doesn't do change detection for deployment manifests, we redeploy everything and rely on the underlying tool to do the diffing.

[2019-08-14 22:26] balopat commented on #2114
friendly ping @tuananh did @corneliusweig 's suggestion work?

[2019-08-14 22:27] balopat commented on #2086
@etanshaul can we close this?

[2019-08-14 22:29] etanshaul commented on #2086
Yes! Thanks. Using the suggested flag fixed this.

[2019-08-14 22:29] #2086 closed

[2019-08-14 22:38] balopat commented on #2057
This is indeed not a GKE or Cloud Run related issue but an authentication issue described in #1966 as @Maziak2520 pointed out. Closing in favor for #1966. Current workaround is to do `gcloud auth application-default login`.

[2019-08-14 22:38] #2057 closed

[2019-08-14 22:54] balopat opened #2653 "`helm repo add` for skaffold init"
See #2039 for context.

This assumes that we can somehow detect the helm repos from the users helm charts and then try a `helm repo add` during `skaffold init`. We need to understand this better. Help wanted!

[2019-08-14 22:55] balopat commented on #2039
Let's split this into two - I opened https://github.com/GoogleContainerTools/skaffold/issues/2653 for adding `repo add` to `skaffold init`
I'll rename this to `helm repo update` that seems like we could run at the start of the dev loop / skaffold run.

[2019-08-14 22:59] balopat commented on #2019
This is very odd, I would love to see why it's happening.
We do have integration tests and test the cleanup flow daily. Can you share a minimal open source reproduction of this?

[2019-08-14 23:02] balopat commented on #1996
This feels like a docker for desktop issue - the k8s apiserver is not responding. Can you try to increase memory of your Docker For Desktop VM?

[2019-08-14 23:36] #2647 closed

[2019-08-14 23:38] thomas-tabbaza commented on #2645
Just passing the manifest files in the order listed in the `manifests:` property, and advising people to put namespaces first should do the trick without any downsides.

Example:
[code]

Currently, this is not the case, k8s would be first (alphabetical order). When referencing folder though `- folder/*` it should stay alphabetical, since this is the expected behaviour.

[2019-08-14 23:45] balopat commented on #1909
That sounds awesome. Would be great to add it in - do you want to demo it on a Skaffold office hour?

[2019-08-14 23:47] balopat commented on #2645
also related to https://github.com/GoogleContainerTools/skaffold/issues/1781

[2019-08-15 00:04] balopat commented on #1753
Apologies - this fell off my plate.
Retagging would be an option.
With artifact caching though even `skaffold run` might start to introduce this behavior ...
I think we should add the recently introduced runId to our pod selector logic. @corneliusweig  what do you think?

[2019-08-15 02:06] priyawadhwa commented on #2599
Hey @ramukima we just merged #2651 which should fix this issue -- would you be able to test the bleeding edge binary and see if that solves your issue? Installation instructions can be found [here](https://skaffold.dev/docs/getting-started/#installing-skaffold)

[2019-08-15 06:16] demisx commented on #1996
I recall this issue went away after I've decreased the log level for pods making them less chatty.

[2019-08-15 06:51] tbarrella commented on #2642
Hi @balopat, I was able to make rootful buildkit work on GKE without extra configuration on the cluster. This seems compatible with Skaffold, although it required using buildctl locally. According to https://github.com/moby/buildkit/issues/879 it sounds like rootless would work on Ubuntu nodes with some pod configuration changes (also see [example](https://github.com/moby/buildkit/blob/master/exam

[2019-08-15 07:07] tbarrella opened #2656 "Graceful termination for custom builder"
### Expected behavior
When cancelling skaffold build with a custom builder, it would be helpful if the build command process had time to clean up. For example, first sending SIGTERM, and then waiting before sending SIGKILL.

### Actual behavior
Cancelling CommandContext sends SIGKILL immediately, preventing the custom builder from cleaning up. An example of something that might need to be cleaned

[2019-08-15 07:34] tuananh commented on #2114
i cant remember but i checked my helm chart and i already use that. so it probably works and i forgot to update this issue.

[2019-08-15 07:34] #2114 closed

[2019-08-15 08:14] ollieayre-oc commented on #2646
Thanks @balopat

I didn't ask my question very well but you've somewhat answered it anyway with regards to the single cluster assumption.

My use case actually requires both port forwards to be active simultaneously to target dependencies in different contexts as opposed to running different port-forwards dependent on context.

Currently we deploy an application locally for development and then in

[2019-08-15 12:55] raniejade commented on #2630
Looks like the tag passed to `deploy` (helm) is not the one used during building.

[code]

Running `skaffold run -v debug --tail` yields:

[code]

So the tag used in build is `api-gateway:5eaaab7` while the image tag passed to helm during deploy is `api-gateway:c343e1672ced7f6a1d080353e4564e27a031cb73c8946d3a79268abe44fac9d0`.

[2019-08-15 16:42] balopat commented on #1765
We can close this as it was mainly around the plugin structure that got removed.

[2019-08-15 16:42] #1765 closed

[2019-08-15 17:21] balopat commented on #1714
Hi @haf - this issue is got stale - do you still see the problem?
If yes, can you share how you're configuring the docker build in your `skaffold.yaml` (useDockerCLI:true/false or buildkit)?
Thank you for your patience!

[2019-08-15 17:24] balopat commented on #1703
cc @nkubala this would be great to have - at least the proto level comments. An example well document proto: https://github.com/grpc/grpc/blob/master/third_party/nanopb/generator/proto/plugin.proto

[2019-08-15 17:24] balopat commented on #1703
we can do the generation of a reference doc into skaffold.dev later or skip it.

[2019-08-15 17:27] balopat commented on #1608
I'm not sure this makes sense. If there are merge conflicts - we can't merge the PR. If there are no merge conflicts, Travis CI merges master anyway before running it.

[2019-08-15 17:27] #1608 closed

[2019-08-15 17:28] balopat commented on #1571
I'm closing this due to lack of activity/more information. Please provide more info so that we can help more efficiently!

[2019-08-15 17:28] #1571 closed

[2019-08-15 17:40] balopat commented on #1519
Other approaches:

1. From Cloud Build - We could also do similar to what minikube is doing - just script up a commit status at the end of the build. For this we'll need a wrapper around the build steps and if they fail we need to report failure from the cloud build itself before returning. Showstopper: we could have a problem when Cloud Build jobs fail before running our scripts.
2. Use a Cloud F

[2019-08-15 17:41] #2634 closed

[2019-08-15 17:46] #1296 closed

[2019-08-15 18:19] balopat commented on #2523
Closing as these were addressed and now integration tested as well.

[2019-08-15 18:19] #2523 closed

[2019-08-15 18:20] #2522 closed

[2019-08-15 18:24] #2554 closed

[2019-08-15 18:26] briandealwis opened #2657 "RPC State for port forwards assumes unique container names"
The RPC `state` object lists the port-forwards using a map of _container-name &rarr; forwarded-ports.

https://github.com/GoogleContainerTools/skaffold/blob/3cc1e79689091e4c4474976718bb1cff0b52fbac/proto/skaffold.proto#L20-L24

But container names are only unique _within a pod_.

The test project in `integration/testdata/debug` creates 4 resources (pods or deployment), and each has a single contai

[2019-08-15 18:34] balopat commented on #1996
Great to hear, @demisx, thnanks for the update! I will close this for now as it is not a Skaffold bug. If you find that it is, please reopen. Thank you!

[2019-08-15 18:34] #1996 closed

[2019-08-15 19:10] balopat commented on #1519
![image](https://user-images.githubusercontent.com/635073/63119618-70f8f500-bf55-11e9-9b2e-7174ce4d8401.png)
This started working ... more work: setting it up with container-tools-bot + better build context name instead of "default"

[2019-08-15 19:22] balopat commented on #1519
But yeah, actually if we'd setup the GCB Github App to trigger the builds properly, instead of relying on the GCB cloned source repo functionality, then maybe we could get rid of the cloud function magic.

[2019-08-15 19:52] briandealwis opened #2660 "Cannot forwarding same port from different pods"
The _debug_ tests in `integration/testdata/debug` includes two NodeJS-based artifacts ([`nodejs`](https://github.com/GoogleContainerTools/skaffold/blob/master/integration/testdata/debug/nodejs/) and [`npm`](https://github.com/GoogleContainerTools/skaffold/blob/master/integration/testdata/debug/npm/)) that both expose port 3000 (HTTP) and 9229 (DevTools, exposed by transforms from `skaffold debug`)

[2019-08-15 19:58] briandealwis commented on #2660
The issue seems to be with `portForwardEntry.key()`:
https://github.com/GoogleContainerTools/skaffold/blob/1f086abda901338102e07d14199f26b92f873dbd/pkg/skaffold/kubernetes/portforward/port_forward_entry.go#L54-L62

In this case, the container names are the same.  Perhaps this code needs to instead trace the owner-reference links back to the defining resource (e.g., the pod's deployment name)?

[2019-08-15 20:54] balopat commented on #2660
We should fix this asap.
The problem is not the key - `pod-nodejs-default-3000 != pod-npm-default-3000` - the deployment name _is_ in there.
The problem is the port brokering logic before we start the dev loop: The desired behavior would be to broker a new port for the clashing one.

[2019-08-15 20:59] briandealwis commented on #2660
Two things to note:

  1. The log messages use `portForwardEntry.String()` and not `key()`, so the actual values used may not coincide with what is logged.
  2. This occurs with `skaffold debug` which sets `opts.PortForward.ForwardPods = true`, which I think enables `p.automaticPodForwarding`.

[2019-08-15 21:00] balopat commented on #2560
I would love to have this somehow.

Thoughts:

This is only for `local` builds.
On `cluster` and `gcb` builds we have parallel builds.

1. We experimented with this before for local builds but things were breaking back then . @dgageot maybe it's worth having another look now
2. There _are_ people who depend on sequenced builds - they use it as a poor man's dependency management solution.

[2019-08-15 21:11] nkubala commented on #887
I believe this is fixed with https://github.com/GoogleContainerTools/skaffold/pull/2568 - I'm not able to reproduce this locally on the latest version (v0.34.0). @thesandlord @ahmetb @balopat could one of you test out and make sure it's working for you as well?

[2019-08-15 21:13] briandealwis opened #2664 "Skaffold-Jib should propagate insecure-registries setting to Jib"
(From a report on the #skaffold channel on k8s slack.)

The user encountered an odd error as they were pushing to a local registry (`registry.local:5000`) that was marked as an insecure registry in Skaffold but not in Jib.  The Jib build failed as it refused to push to an insecure registry, but the error scrolled by and the user saw a puzzling error from Skaffold:
[code]

The Jib binding should in

[2019-08-15 21:15] balopat commented on #2646
Interesting!
Just to make sure that  understand correctly, is this your situation?
Run your app locally (let's say Service A) that depends on a  service (Service B) - for local development of Service A, you deploy service B to a cluster B, port forward it to localhost (let's say port 8080) and point Service A configuration to Service B as http://localhost:8080?

[2019-08-15 21:21] balopat commented on #2664
cc @GoogleContainerTools/java-tools

[2019-08-15 21:26] balopat commented on #346
@anarcher good news is, that we do have an issue open for that and we are planning to make this work:  https://github.com/GoogleContainerTools/skaffold/issues/2161

[2019-08-15 21:32] balopat commented on #887
confirmed, this should work now!

[2019-08-15 21:32] #887 closed

[2019-08-15 21:34] balopat commented on #2660
Hmmm...yeah I did get confused by `String()` and `key()`, the key might be the problem then.

[2019-08-15 21:56] balopat opened #2665 "Tag passed to `deploy` (helm) is not the one used during building"
Looks like the tag passed to `deploy` (helm) is not the one used during building.

[code]

Running `skaffold run -v debug --tail` yields:

[code]

So the tag used in build is `api-gateway:5eaaab7` while the image tag passed to helm during deploy is `api-gateway:c343e1672ced7f6a1d080353e4564e27a031cb73c8946d3a79268abe44fac9d0`.

_Originally posted by @raniejade in https://github.com/GoogleContainer

[2019-08-15 21:57] balopat commented on #2630
@raniejade I opened a separate issue for this.

[2019-08-15 22:10] vitobotta commented on #239
HI, I am having this problem right now and have downloaded the latest binary at https://storage.googleapis.com/skaffold/builds/latest/skaffold-darwin-amd64. Is there a workaround? Thanks

[2019-08-15 22:31] haf commented on #1714
Hi, I’m sorry but I’m no longer using minikube for this reason (and the startup issues it was having).

[2019-08-15 22:31] #1714 closed

[2019-08-15 22:43] priyawadhwa commented on #2660
So the issue is that `key()` doesn't include `podName` for pods, but this is by design so that when pods are recreated under different names, they are still forwarded to the same port.

Chatted with @balopat and we decided to include the top level owner of the object in the key which should solve this issue. I'll be working on this over the next couple days!

[2019-08-15 22:52] balopat commented on #2665
This is the most surprising line for me:
[code]
I can't reproduce this with out docker build based example in `examples/helm-deployment`.
@raniejade can you create a minimal example for this?

[2019-08-15 23:03] corneliusweig commented on #1980
@nobleach Not currently. But since this is popping up again, we should probably add an example in the docs.

[2019-08-15 23:10] corneliusweig commented on #1753
@balopat Yes, this will do exactly what we want. Selecting pods by labels is also something discussed in the (never finalized) design doc https://github.com/GoogleContainerTools/skaffold/pull/1911.

[2019-08-15 23:24] balopat commented on #2073
I think we should probably look into the `invalid reference format` but the rest with the `rpc error` shows that the nodes in your k8s cluster can't pull the image for the pod.

[2019-08-16 01:28] raniejade commented on #2665
I'm getting the same thing with `examples/helm-deployment`.
Some excerpts of the logs:

Build tag

Deploy tag

[2019-08-16 01:32] raniejade commented on #2665
huh, interestingly `a0b72844646c0614ad0317119414d593987549a3b4d26f081b4a7c96a762a1a2` is the id (sha256) of the docker image.

[2019-08-16 01:38] raniejade commented on #2665
Few infos about my environment:
Skaffold: `0.36.0`
Docker desktop version: `2.1.0.1 (37199)`
Kubernetes (provided by docker): `1.14.3`
Helm versions:
[code]

[2019-08-16 04:11] tbarrella opened #2669 "Jumbled logs from parallel builds"
### Actual behavior
When building images in parallel using Kaniko, the logs for the first artifact output well, but logs for other artifacts don't always. Example output:
[code]
It looks like jumbled up logs from the first artifact. Note that the last lines of logs look clean.

### Information

- Skaffold version: v0.35.0
- Operating system: Debian 9.9
- Contents of skaffold.yaml:

[code]

### Ste

[2019-08-16 08:00] yevgenypats opened #2670 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-16 13:24] jimanvlad commented on #2190
+1

` - name: oncluster
    build:
      artifacts:
        - image: artifactory.local:5000/data/image
          context: src
          kaniko:
            buildContext:
              localDir: {}
            cache: {}`

`time="2019-08-16T14:22:12+01:00" level=fatal msg="failed to build: build failed: build failed: setting up pull secret: checking for existing kaniko secret: secrets \"kaniko-secre

[2019-08-16 14:20] sergeytkachenko commented on #2448
@balopat @nkubala
Thank you for answer.

[2019-08-16 14:48] prary opened #2672 "docker-cfg secret should be suffixed with uuid"
Scenario 1
Sometime skaffold run fails after creating a docker-cfg secret when skaffold is re-run then it find the already created docker-cfg secret and hence fails. This can be avoided by generating random secret name and using that further.

Scenario 2
Skaffold run parallel doing different deployment in same namespace. In such scenario one out of two run fails since it find secret already create

[2019-08-16 15:54] prary commented on #2672
Hi @balopat what should be the approach to counter above problem, use existing secret or create a new one with uuid?

[2019-08-16 15:57] balopat commented on #2670
Hi Yevgeny, thank you for reaching out! This sounds interesting, would be cool to catch some bugs with it. First ideas where we could use: one obvious part would be the config parser. We also have a Control API that takes requests. There might be other places too, but this would be a good start to experiment with.

[2019-08-16 16:42] corneliusweig commented on #511
@vdboor can you check if the latest release still has the problem of responding to context changes? Context handling received some attention and that specific issue should be fixed now. BTW, further options to configure the kube-context are in the pipeline.

[2019-08-16 16:47] yevgenypats commented on #2670
hi @balopat the config parser sounds like a good candidate indeed. I think I'll start with that.

Also, I need to mention that we have a [reward program](https://fuzzit.dev/2019/08/12/announcing-rewards-for-go-rust-oss-projects/) in case you have time/want to implement this yourself I would be happy to reward you as well as get unbiased feedback on how smooth the integration was. Let me know what

[2019-08-16 16:50] ramukima commented on #2599
@priyawadhwa Thank you for the fix. I tried it on my mac and it works perfectly fine. This issue can be marked fixed.

The only follow up question is -

Do I have to explicitly specify --port-forward to skaffold, even if I have a portForward resource specified in skaffold.yaml ?

[2019-08-16 17:01] ramukima commented on #2599
Never mind - https://skaffold.dev/docs/how-tos/portforward/ clearly specifies - "Port forwarding is set to false by default; it is enabled with the --port-forward flag. If this flag is not set, no port forwarding will occur". Closing this issue.

[2019-08-16 17:01] #2599 closed

[2019-08-16 17:35] tejal29 commented on #2672
re-using the same secret if found should be better solution.

[2019-08-16 20:37] balopat commented on #2665
can you do a `docker images` list as well?
`examples/helm-deployment` tags using the sha256 tagPolicy - it tags the image as `latest` as well as using the image ID:

[code]

Now if you change the tagPolicy to `gitCommit` (which is the default - i.e. you can just remove it) that should still work.

But you are using jib, which I tried as well and even there I don't see an issue.
If you do `docker i

[2019-08-16 20:40] balopat commented on #2672
I'd think that the uuid suffix is better - mainly because if we want to support running multiple skaffold instances against the same namespace and if they use different docker configs - then the secrets would override each other. As we remove the secret after the build, this shouldn't create any extra issues.

[2019-08-16 20:50] balopat commented on #2669
Thanks for filing @tbarrella!
I thought we fixed this in https://github.com/GoogleContainerTools/skaffold/pull/2538. We should have a look at it.

[2019-08-16 21:01] balopat commented on #2583
Interesting - we are thinking about supporting bit more advanced sync workflows, to support Spring Dev Tools - that would require copying built libraries into the running container - this might fit in there too. cc @priyawadhwa

[2019-08-16 21:13] balopat commented on #2583
Instead of manual repro:

[code]
will start syncing nicely, after a while it rebuilds instead of sync.
For some reason on node2 the rebuild happens much faster.

[2019-08-16 22:21] #2657 closed

[2019-08-16 23:14] balopat commented on #2670
Thank you, good to know - for me finding a bug would be a sufficient reward - it's my job to make skaffold better. I don't have time to jump in right now but it looks interesting.

However, someone from the community might be motivated more by the reward program. I'm open to contributions either from you or others. Feel free to post this issue on our slack channel.

[2019-08-16 23:35] balopat commented on #1241
I think we can explore this as a feature if there is demand. I'm going to close this now. Some of the config values wouldn't make sense to be stored on cluster now.

[2019-08-16 23:35] #1241 closed

[2019-08-16 23:38] balopat commented on #84
Closing in favor for #1937

[2019-08-16 23:38] #84 closed

[2019-08-16 23:43] balopat commented on #372
I'm not sure if this idea of partial deployment applies here. We can now `skaffold build` and `skaffold deploy` separately based on the results in different stages. We are also going to work on a `skaffold render` phase for GitOps workflows.

This direction hasn't come up in more than a year. I'm going to close this down now. But if someone feels strongly about this direction, I'd be happy to see

[2019-08-16 23:43] #372 closed

[2019-08-16 23:45] balopat commented on #361
@mekansm you can do that with `skaffold config set default-repo xyz` -- it will set the default repo for the current kubecontext, then you can switch to your other context and  `skaffold config set default-repo abc` for that... see the context of it with `cat ~/.skaffold/config`.

See https://skaffold.dev/docs/concepts/#global-configuration-skaffold-config

[2019-08-16 23:47] balopat commented on #361
I'm going to close this issue - I believe the original issue is solved. Please reopen if that's not the case.

[2019-08-16 23:47] #361 closed

[2019-08-16 23:53] balopat commented on #2426
Thanks @giladsh1  - I'm closing this in favor for @corneliusweig's work! Stay tuned!

[2019-08-16 23:53] #2426 closed

[2019-08-16 23:56] balopat commented on #2325
Hi @braderhart - do you mind writing this up as a design proposal? It sounds like a larger effort that needs some thought.

[2019-08-17 00:02] balopat commented on #2264
I like `kindCluster: true` - @dgageot?

[2019-08-17 00:06] balopat commented on #459
We are working on relying on rollout status for determining the deployment success: https://github.com/GoogleContainerTools/skaffold/pull/2374

[2019-08-17 00:08] balopat commented on #955
closing, this got partially implemented and rethought multiple times definitely :)

[2019-08-17 00:08] #955 closed

[2019-08-17 05:02] raniejade commented on #2665
Okay so from what I understand, skaffold would:
1. build docker and tagging it using the images sha256 checksum
2. tag the image again using whatever tag policy you are using
3. deploy using tag from step 1.

Is that correct?

[2019-08-17 06:25] yevgenypats commented on #2670
Sounds good, can you send me an invite to slack to yp [at] fuzzit.dev

[2019-08-17 08:40] prary opened #2677 "--cache-artifacts fails when there is no local docker daemon"
I am trying to run skaffold debug mode but it fails with port-forwarding failure. I am using latest Cloud code plugin and a sample java application, mvn is builder used, Intellij version 19.x.x

### Expected behavior
Should be able to put breakpoints in live application
### Actual behavior
Not able to put breakpoints
### Information

- Skaffold version: 35( will uprade to latest and test)
- Operat

[2019-08-18 13:18] prary commented on #2677
Build complete in 31.3071002s
Starting test...
Test complete in 0s
time="2019-08-18T18:46:39+05:30" level=debug msg="FIXME: Got an status-code for which error does not match any expected type!!!: -1" module=api status_code=-1
time="2019-08-18T18:46:39+05:30" level=fatal msg="exiting dev mode because first build failed: adding artifacts to cache: inspecting image: error during connect: Get http://%

[2019-08-19 06:22] prary commented on #2672
Hi @balopat I don't remember reason for dokcer-cfg secret left around, will surely let you know reason for that. I had faced this issue multiple times.

Scenario 2: Its like people using two separate skaffold.yaml and running them in parallel.

[2019-08-19 08:04] ollieayre-oc commented on #2646
Yes thats about the size of it, for compliance reasons we have to separate certain dependant applications into different contexts and so in the 'context' of your example we may have one or two services like service B that need to be port-forwarded.

[2019-08-19 13:10] aeneasr opened #2678 "Add support for `--set-file` in helm deployer"
### Expected behavior

Right now there does not seem a way to use the `--set-file` feature of helm. This is useful where large files need to be ingested into a helm value config. This could be the case with e.g. binary files that need to be mounted using a configmap.

### Actual behavior

It does not seem to be possible to use `--set-file`.

### Information

- Skaffold version: v0.36.0
- Operating

[2019-08-19 14:17] briandealwis opened #2679 "Make skaffold-debug's duct-tape location configurable"
The location of the `duct-tape` images used by `skaffold debug` should be configurable, probably in the skaffold global config.  This may be required for pointing to internally-hosted variants.

[2019-08-19 14:50] aeneasr opened #2680 "EnvVarMap indices are non-deterministic"
### Expected behavior

When building multiple artifacts, the indices appended to `DIGEST(_*)` and `IMAGE_NAME` behave unexpectedly which makes it impossible to use multiple build artifacts in combination with e.g. `deploy.helm.releases.*.setValueTemplates`.

Unfortunately, I still have to rely on `setValueTemplates` because the `helm` imageStrategy seems to be broken (several issues open for it).

[2019-08-19 15:07] aeneasr opened #2681 "Setting Helm deployer `imageStrategy.helm` does not have any effect"
### Expected behavior

Using `helm.ImageStrategy.helm: {}` should set the right repository name and tag for `image.repository` and `image.tag` when using the helm deployer

### Actual behavior

It appears that #826 should have closed #360 . However, using `helm.ImageStrategy.helm: {}` does not work at all because neither `image.repository` nor `image.tag` are being overwritten - they just keep the

[2019-08-19 15:16] aeneasr commented on #2681
Wow, what an odysee trying to figure out the right combination of config values to get this working. Apparently, **explicitly setting `values.image`** resolves this issue.

**works**
[code]

**does not work**

[code]

[2019-08-19 16:20] balopat commented on #2681
Thank you for filing this and sharing the working solution. I agree, this is not intuitive. At least we should document it more clearly but it looks like maybe we can get rid of the requirement to set `values.image`.

[2019-08-19 16:23] aeneasr commented on #2681
Yes, that sounds like a good idea :) And `imageStrategy.helm: {}` should also be documented as the not-nil/nil of yaml is not very obvious for non-go devs.

[2019-08-19 16:33] balopat commented on #2680
Thank you for digging deep and writing all this up! We should look into this as soon as we can, this is definitely a bug that makes hard to build reproducibly if users depend on these values. I see in #2681 that you discovered `imageStrategy:helm` - we should fix this nevertheless but - if you use `helm` imageStrategy, do you still need this?

[2019-08-19 16:39] balopat commented on #2677
Thank you for filing @prary - we should look into this asap and try to reproduce on Windows. Can you try running with `--cache-artifacts=false` - we might have the bug there.

[2019-08-19 16:42] balopat commented on #2672
But the docker config is the same right?

[2019-08-19 16:44] aeneasr commented on #2680
No, since the helm imageStrategy works now I do not personally rely on this any more. I'm pretty sure it's being caused by either some map -> slice conversion (as maps are non-deterministic) or by the yaml decoder itself (although I kinda doubt that)

Thank you for the super-fast replies 👍

[2019-08-19 16:47] prary commented on #2672
Yes

[2019-08-19 18:50] briandealwis commented on #2677
I was able to reproduce on Windows.  This seems to be a byproduct of #2621 that enables Skaffold's artifact caching by default.  Running with `--cache-artifacts=false` (or setting environment SKAFFOLD_CACHE_ARTIFACTS=false`) should work around the issue.

[2019-08-19 18:51] briandealwis commented on #2677
(Oops, missed @balopat's reply)

[2019-08-19 19:16] tbarrella opened #2683 "Panic during skaffold diagnose with custom builder"
(doesn't seem high pri, but tracking this)

### Actual behavior
[code]
### Information

- Skaffold version: v0.36.0
- Operating system: Ubuntu 16.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Use any `build.sh`
2. `skaffold diagnose`

[2019-08-19 19:21] tbarrella opened #2684 "Custom cluster build is seen as invalid config?"
### Expected behavior
Able to build in parallel while passing in environment variables by using `custom` with `cluster`

### Actual behavior
[code]

### Information

- Skaffold version: v0.36.0
- Operating system: Ubuntu 16.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Use any `build.sh`
2. `skaffold build`

[2019-08-19 21:27] balopat commented on #2672
Hmm...I'm not convinced yet that we should be in the business of collision detection here.
The user can also redefine the colliding parts - i.e.

[code]
if they need different docker configs per different projects

[code]

If Skaffold re-creates the given secret - that should still be fine.

[2019-08-19 21:30] balopat commented on #2680
Great, thank you!

Bumping down to p1 as using `imageStrategy:helm` is probably satisfactory for most users, i.e. there is a workaround.

[2019-08-19 21:33] balopat commented on #2683
Thank you @tbarrella, yupp it looks like we missed something here.
I think we should add `skaffold diagnose` on all our examples.
That should cover most of our builders, deployers. Good first issue for someone interested in contributing to Skaffold!

[2019-08-19 22:29] balopat commented on #2660
Update: the fix is coming in #2675.

[2019-08-19 22:39] balopat commented on #1961
I think this fell through the cracks a little bit - #1977 got closed due to inactivity, and I can't see how https://github.com/GoogleContainerTools/skaffold/pull/2266 pipes insecure registries definition to kaniko - maybe I'm missing something, @priyawadhwa?

Also just a sanity check @jimanvlad - do you have the insecure registries defined in your global config?

[2019-08-19 23:14] priyawadhwa commented on #1961
Looks like we need to pass in the following flags to kaniko [here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/cluster/kaniko.go#L88) if we are pushing to one of the insecure registries listed [here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/cluster/types.go#L43):
- `--insecure`
- `--insecure-pull`
- `--skip-tls-verify`
- `-

[2019-08-19 23:19] priyawadhwa commented on #2190
Hey @prary -- so this field is definitely a bit misnamed. `pullSecretName` is used to pull base images and buildcontexts from GCS, but also to push the final image to a registry. Looks like you're using the docker config for that instead?

Perhaps we should change the logic to require either the `pullSecret` or the `dockerConfigSecret` be specified. If insecure registries are specified, then we do

[2019-08-20 09:44] jimanvlad commented on #2190
Agree that pullSecret is only needed for GCS (but naming is not very clear). AFAIK, dockerConfigSecret (or dockerConfigPath) have a completely different purpose, which is to authenticate to the artifact registry. I don't think "insecure registries" and this should be linked either because the former should just bypass the tls verification on the registry, but the latter may still be required for t

[2019-08-20 11:32] AndiDog commented on #1441
For https://github.com/GoogleContainerTools/skaffold/issues/1441
::

From the above comments, there seems to be a common requirement of **generating manifests before deploy**. I'd like to add another use case example and proposed solution:

In a GitOps scenario, the CI builds the image(s) through `skaffold build`, generates a manifest, fills in the built image tags and commits the full manifest to

[2019-08-20 14:02] giladsh1 opened #2687 "add option to override labels / not to apply labels"
### Expected behavior
The latest Skaffold release (v0.36.0) has set artifact caching on by default (awesome feature by the way!).
This means I don't need to repeat previous builds when changing / fixing k8s configs.
However, since Skaffold applies custom labels for each run, including the `skaffold.dev/run-id` label, this means that deployments will forced to be configured each run, and they won't

[2019-08-20 15:02] aeneasr opened #2689 "Helm deployer should re-deploy only changed deployments, not all of them"
### Expected behavior

When making a change that forces an image rebuild or a change that forces to update the deployment of a particular image, I would expect only that deployment to be triggered.

### Actual behavior

When an image is rebuilt and/or a deployment config changes, the helm deployer re-deploys **all** configured deployments.

This causes issues when e.g. a particular image was updat

[2019-08-20 15:07] aeneasr commented on #2689
Yeah well, setting `recreatePods: false` certainly helps.

[2019-08-20 15:07] #2689 closed

[2019-08-20 15:35] prary commented on #2677
Hi @briandealwis @balopat i didn't get the docker deamon error but port fawording failed

Here is kubectl describe -f hello.deployment.yaml

[2019-08-20 15:47] prary commented on #2677
**output** of kubectl get pod/........ -o yaml

[2019-08-20 16:03] prary commented on #2677
[code]

[2019-08-20 16:09] prary commented on #2677
Kubectl version through skaffold
[code]
Kubectl version through terminal
[code]

[2019-08-20 16:43] balopat commented on #2687
Thank you @giladsh1 for opening this issue! Can you try with `skaffold run --force=false`? We rely on the runId labels for portforwarding and deployment status checking.

[2019-08-20 17:12] samlevin opened #2690 "skaffold not cleaning up resources on termination"
### Expected behavior

When pressing Ctrl+C, skaffold will terminate all k8s resources outlined in the spec (skaffold.yml). It used to in the past.

### Actual behavior

The following output appears:
[code]
and the k8s object(s) remain.

### Information

- Skaffold version: version 0.36.0 (it happened in 0.35.0 as well)
- Operating system: Mac OSX
- Contents of skaffold.yaml:

[code]

### Steps to

[2019-08-20 17:27] #2469 closed

[2019-08-20 17:30] nkubala commented on #239
@vitobotta I think the fix for this went out in v0.36.0, you might have downloaded v0.35.0 right before we released. can you make sure you're on the latest version? if you are, can you provide a little more information about your issue?

[2019-08-20 20:07] balopat commented on #2690
Thank you for filing, @samlevin! This was reported in #2019 too - can you provide debug logs (`skaffold dev -v debug`)?

[2019-08-20 20:33] priyawadhwa commented on #2190
@jimanvlad it is pretty confusing, but `pullSecretName` can also be used for registry authentication (and I believe it is in a lot of cases, e.g. when pushing to GCR).

I do think it's reasonable to make it optional though. To me, the `cluster` configuration should be independent from the per-artifact specifications. I also agree that insecure registries shouldn't be considered in this situation.

[2019-08-20 21:41] balopat commented on #1217
This is possible now with the local cluster on [global config](https://skaffold.dev/docs/concepts/#global-configuration-skaffold-config)!

[2019-08-20 21:41] #1217 closed

[2019-08-20 21:44] balopat commented on #1200
@cliffburdick  friendly ping, is this something you are still having issue with?

[2019-08-20 21:48] balopat commented on #2161
I realized that this was already an issue opened in https://github.com/GoogleContainerTools/skaffold/issues/1187 - closing this - we are going to track it in #1187

[2019-08-20 21:48] #2161 closed

[2019-08-20 21:54] balopat commented on #1099
With the --force flag this is covered I believe.

[2019-08-20 21:54] #1099 closed

[2019-08-20 21:56] balopat commented on #996
We do have the Control API now, closing.

[2019-08-20 21:56] #996 closed

[2019-08-20 21:58] balopat commented on #490
We have annotated yaml reference on https://skaffold.dev/docs/references/yaml/ now. Closing.

[2019-08-20 21:58] #490 closed

[2019-08-20 22:33] balopat commented on #2633
Thank you for filing the issue! I believe this should work if you have the right docker config setup.
Can you please try with different `secretName`?

[2019-08-20 22:42] priyawadhwa commented on #2488
Hey @daddz thanks for opening this issue. We probably don't have the bandwidth to get to this for a while, but if you or anyone else is interested in opening a PR we would be happy to take a look.

We would need to add a `KustomizeFlags` field to the kustomize config [struct](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/latest/config.go#L410) and then we could p

[2019-08-20 22:52] balopat commented on #2562
We discussed this - let's get a design proposal in for this - there are a bunch of options how we can implement this. Our current thinking is that this should be optional behavior - some questions to explore:
- should this apply to all templated fields (https://skaffold.dev/docs/how-tos/templating/) or just this template.
- what should be the name of the field: `failFast:true` or `allowEmpty:false

[2019-08-20 22:54] priyawadhwa commented on #2377
Hey @ptone thanks for opening this issue.  This error is happening because kaniko doesn't accept a `--tag` tag (it uses `--destination`).

For this to work, I think we should add support for kaniko artifacts to GCB (currently, we have support for [Docker and Jib](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/gcb/types.go#L87)).

We would need to add logic for gett

[2019-08-20 23:03] balopat commented on #2171
For now we haven't had a place for this in our repo - but could be interesting - maybe a community folder? @crimeminister did you have a chance to look at this?

[2019-08-20 23:08] nkubala commented on #2561
hey @daddz thanks for the idea! integration testing in k8s is one of the biggest unsolved problem in cloud native CI/CD right now, and something that our team has thought quite a bit about in the past, but in practice it seems to always be harder than in principle. I think something like this would make sense to further the CI/CD story with skaffold, but I'm worried that it's difficult to extend t

[2019-08-20 23:35] demisx commented on #1688
I am seeing this warning in the latest skaffold v0.36 on Mac Os Mojave 10.14.6 running any skaffold command that reference a profile:

[code]

[2019-08-21 00:13] steren opened #2693 "Drop the dog, show me the product"
### Expected behavior
https://skaffold.dev shows me the Skaffold developer experience and what problem it solves with actual commands and or screenshots

### Actual behavior

https://skaffold.dev shows me a dog (a cute one, I agree)

[2019-08-21 00:58] balopat commented on #2693
Thank you @steren - we are working on this for our 1.0.0 release!

[2019-08-21 01:24] kurczynski commented on #1688
I'm also seeing this in version `0.36` on Fedora 30:
[code]

[2019-08-21 01:42] demisx opened #2694 "Wrong image is tagged on subsequent skaffold build"
### Expected behavior

Subsequent `skaffold build` executions upon unchanged codebase do not tag wrong images.

### Actual behavior
The first time I run `skaffold build -p dev` command I get 3 images built and tagged as expected. When I run the same command for the second time, wrong image gets retagged with "init-db" tag. Later when my app pulls these images from local repo it fails to bootstrap

[2019-08-21 03:06] demisx commented on #543
Are the environment variables currently supported  deploying plain YAML resources and not Helm releases?

[2019-08-21 03:07] cliffburdick commented on #1200
Hi @balopat I think you can close it. I meant to reply that it appears to be fixed.

[2019-08-21 03:07] #1200 closed

[2019-08-21 03:33] balopat commented on #2694
Thank you for filing, @demisx!
This looks like a bug in artifact caching. Is it an option for you turn it off with `--cache-artifacts=false`?

[2019-08-21 05:58] demisx commented on #2694
Hi @balopat. Thank you for your usual prompt response! I thought caching was off by default. Looking at the `skaffold build` output:

[code]

it sounds like I need to pass this option to enable caching. Am I reading it wrong?

[2019-08-21 07:56] daddz commented on #2561
hey @nkubala thanks for the feedback! If you don't mind I'd like to go into a little more detail to get a better understanding! :)

Do you have any notes/discussions somewhere I could read up on the issues that come up in practice? My use case is pretty small in scope and basic so it would be cool to see the bigger picture.

That's a good point, so far my approach is not extensible and not generic

[2019-08-21 08:41] ccll commented on #2334
I think this is a valid use case, in my setup I'd like to deploy MySQL or other 3rdparty/standard components through helm as there are already plenty charts around, for my own code container I'd like to deploy them through kubectl as this is quicker and easier (avoid writing my own helm chart files).

Unfortunately we can't mix multiple deployers now.

[2019-08-21 08:53] giladsh1 commented on #2687
thank you @balopat for you swift reply!
Running with `--force=false` doesn't solve the issue unfortunately.
I've changed[ this line](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/labeller.go#L65) to a static string, and compiled locally.
Everything seems to be working properly.
Not sure what other significance these tags have that I'm missing..

[2019-08-21 11:18] daddz commented on #2488
Hey @priyawadhwa, thanks for the suggestions. I'll take a look at it!

[2019-08-21 15:11] demisx commented on #2019
It's rock solid with v0.31 - never saw this issue. With the latest v0.36 or the bleeding edge skaffold either exits right away  upon clicking `[Ctrl]+C`, thus leaving running containers behind, or it occasionally cleans up with a bunch of warnings as such:

[code]

[2019-08-21 15:33] demisx commented on #2694
I've confirmed that this issue doesn't happen in v0.36 if I run with `--cache-artifacts=false` flag:

[code]

[2019-08-21 16:16] lsowen opened #2697 "Unexpected changes to helm.imageStrategy in 0.36.0"
### Expected behavior

In versions before v0.36.0, setting `deploy.helm.releases.imageStrategy.helm: {}` properly built and deployed the tag.

### Actual behavior

In v0.36.0, the same config generates an invalid image tag like `sftp-server:4d7ef00712b523d1e4236acb62b4f06eb2bc34efd05f5f4c2a02206ace8d5402`, so the image being deployed ends up being `sftp-server:sftp-server:4d7ef00712b523d1e4236acb6

[2019-08-21 16:22] lsowen commented on #2697
Interestingly, if I update my skaffold.yaml to the following it works properly is 0.35.0:

[code]

[2019-08-21 16:43] tejal29 commented on #2697
Thanks @lsowen for pointing us to the offending PR. I think we need to support both the scenarios gracefully.

Contributor Notes:
Please add a test cases for
1. #1379
2. #2697

[2019-08-21 17:26] tejal29 commented on #2325
@corneliusweig I remember your design proposal https://github.com/GoogleContainerTools/skaffold/pull/2384 addresses this?

[2019-08-21 17:28] tejal29 commented on #915
related to #2325.

[2019-08-21 17:40] haf commented on #915
I can also chime in that deploying everything with `kustomize` rather than `kubectl` does it right when multiple namespaces are involved, so IMO that could be documented and this issue closed.

[2019-08-21 17:43] tejal29 opened #2698 "skaffold dev should recover by itself when user internet connection is intermittent"
### Expected behavior
If user's internet connection goes on an off, `skaffold dev` should be able to recover gracefully.
Inspired from #1890, we should make sure

- port-forwarding should start listening on the same ports
- deploy healthcheck should recover if internet is back and it can now fetch the deploy health check.
- clean exit.

### Actual behavior

### Information

- Skaffold version: ver

[2019-08-21 17:43] tejal29 commented on #1890
@bartdeboer Thank you for opening this issue.
We would definably want a good user experience story around:-
-  When changing networks, skaffold will die or get into a bad state.

However, i am not sure if implementing it through a `skaffold watch` command is the solution.

Regarding port-forwarding:
This quarter in skaffold version 0.34 onwards we have a done a bunch of changes to port-foward to m

[2019-08-21 17:43] #1890 closed

[2019-08-21 17:47] tejal29 commented on #1273
@TadCordle, since you are the `init` expert, let us know if this is something you are planning to do soon.

[2019-08-21 17:50] tejal29 commented on #2357
@loosebazooka #1312 is something to consider when designing this.

[2019-08-21 17:53] tejal29 commented on #1312
@loosebazooka This could be addressed in #2357. adding same priority as #2357
Can we close this as dupe if it something we could implement as #2357

[2019-08-21 17:55] tejal29 commented on #1318
We can definately expose "GIT_COMMIT" and "DIGEST_HEX" as  built-in variable which you can use  in EnvTagger

[2019-08-21 17:58] tejal29 commented on #1419
Thank you for opening this feature. I don't we have plans to support this deployer in near future.
We would definitely want to solve #543 so users can use skaffold across all stages from dev to prod.
I am going to close this.

[2019-08-21 17:58] #1419 closed

[2019-08-21 18:00] tejal29 commented on #1328
This is addressed in #2280

[2019-08-21 18:00] #1328 closed

[2019-08-21 19:02] kwngo commented on #239
@nkubala Still getting this error in `v0.36.0`. It works fine with `v0.29.0`, so it must have been re-introduced at some point?

[2019-08-21 19:09] mattnworb commented on #239
@kwngo do you see the problem with pushes, or pulls, or both? I am not sure if the PR I submitted above fixes it for pushes.

[2019-08-21 19:18] loosebazooka commented on #2357
@tejal29 is the suggestion that the rebuild happens on the remote machine? instead of building locally and pushing intermediate artifacts over?

[2019-08-21 21:33] sujit-kamireddy opened #2699 "Add Support for --kubeconfig flag in skaffold run/dev commands"
Skaffold run/dev commands support the --kube-context flag to get the context name, but relies on the KUBECONFIG env variable to get the list of kubeconfig file(s).

The ask is below:
Like the kubectl, support --kubeconfig flag that takes a single kubeconfig file path and prefer this flag over the KUBECONFIG env variable when both are present.

Adding this flag will enable us to specify the exact k

[2019-08-21 22:47] balopat commented on #2699
this should be relatively easy to implement:

1.  kustomize/kubectl: we can pass the value of the flag directly to kubectl, probably here: https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kubectl/cli.go#L83
2.  helm: does not support it (https://github.com/helm/helm/issues/2219) so we need to set the env var - probably here: https://github.com/GoogleContainerTools/skaffold

[2019-08-21 22:56] balopat commented on #2357
interesting suggestion - #1312 would push compilation on the container side - that requires the container to have all the build toolchain. It is similar to what @ahmetb is experimenting with on https://github.com/ahmetb/rundev in a sense that compilation would happen inside the container.

[2019-08-21 23:09] #2660 closed

[2019-08-21 23:50] tejal29 commented on #1739
I think we should add a flag to deploy to dump the manifests generated as mentioned

[2019-08-21 23:53] tejal29 commented on #1698
@nkubala added this is p1. Feel free to change it to p0 if you plan to work on it this quarter.

[2019-08-22 00:00] tejal29 commented on #1629
@SMR39 the custom Builder plugin is now available. Can you try hooking up a custom build step which build via sbt?

Docs https://skaffold.dev/docs/how-tos/builders/#custom-build-script-run-locally

Thanks
Tejal

[2019-08-22 00:01] tejal29 commented on #1893
@sniederm Did you get a chance to try around the steps mentioned in https://github.com/GoogleContainerTools/skaffold/issues/1893#issuecomment-481057140

I am closing this for now. Please feel free to re-open this.

[2019-08-22 00:08] tejal29 commented on #1958
We should try to add an example for ko custom builder. Maybe we could add this for github.com/tektoncd/pipelines

[2019-08-22 00:09] tejal29 commented on #1958
@evankanderson please feel free to take a stab as per the docs mentioned  https://skaffold.dev/docs/how-tos/builders/#custom-build-script-run-locally

[2019-08-22 01:35] balopat commented on #2694
Yeah, we switched it on by default with v0.36 - thank you for verifying the behavior!

[2019-08-22 05:42] tejal29 commented on #1581
@alewis001 this is be fixed now with @2088 and #1812

[2019-08-22 08:27] corneliusweig commented on #2325
Hey @tejal29, thanks for highlighting this for me.

So to summarize the ideas listed here:
1. add CLI option to configure the kube-context
2. add CLI option to configure the kubeconfig file
3. add Skaffold config option to configure the kube-context per project
4. add Skaffold config option to configure the default profile per project
5. add skaffold.yaml config to configure the kube-context
6. ad

[2019-08-22 12:33] balopat commented on #2560
I realized that this is a dupe: I will close this issue and track it here: https://github.com/GoogleContainerTools/skaffold/issues/1380

[2019-08-22 12:33] #2560 closed

[2019-08-22 12:33] balopat commented on #1380
I would love to have this somehow.

Thoughts:

This is only for `local` builds.
On `cluster` and `gcb` builds we have parallel builds.

1. We experimented with this before for local builds but things were breaking back then . @dgageot maybe it's worth having another look now
2. There _are_ people who depend on sequenced builds - they use it as a poor man's dependency management solution.

[2019-08-22 12:57] prary commented on #2677
Logs with trace mode enabled, best thing is port forwarding is enabled even after failure message.

[code]

[2019-08-22 14:46] demisx commented on #2694
Got it. Maybe the help output should be updated globally as well to be a little more clear:

[code]

If this is just a matter of search & replace (I'm not a Go programmer yet), I can do it myself and submit a PR. Let me know

[2019-08-22 17:12] murm-github commented on #2282
https://microk8s.io/docs/working this link has detailed info to solve this problem for microk8s and i could resolve it using public registry method.

[2019-08-22 17:51] #2677 closed

[2019-08-22 17:56] balopat opened #2704 "idea: log masking"
To help our contributors share logs better in issues:

We could mask logs: it would be interesting to have a mode of skaffold - or a utility that could work on skaffold logs - to produce logs that mask out any sensitive information, for example but not covering all  cases:

- image names,
- variable names
- kubecontext names
- server urls
...

[2019-08-22 17:58] balopat opened #2705 "idea: open github issue with attachments"
to help our contributors on issues we could have a functionality to submit an issue from skaffold, e.g. `skaffold bug --attach-file buggy-skaffold.logs --attach-file screenshot.png` - which would take the files and attach them, and fill out the details of OS, skaffold version, and a masked version of skaffold.yaml in a draft issue that the user could edit.

[2019-08-22 18:07] balopat commented on #2694
I think that's a good idea to make the default value a bit clearer! ideally an automated way would be the best - i.e. the text should pick up the default value from the Flag and we should use that. It's a good first issue to tackle as a go programmer ;)

[2019-08-22 18:14] balopat opened #2706 "skaffold debug portforwarding not working on windows"
Hi @briandealwis

Logs with trace mode enabled, best thing is port forwarding is enabled even after failure message.

[code]

_Originally posted by @prary in https://github.com/GoogleContainerTools/skaffold/issues/2677#issuecomment-523894066_

[2019-08-22 18:15] balopat commented on #2677
I opened a new issue to track the port-forwarding conversation: #2706

[2019-08-22 18:47] balopat commented on #2706
@prary - what version of skaffold are you using?

[2019-08-22 18:52] balopat commented on #2643
This should be fixed now, please let me know if it doesn't work!

[2019-08-22 18:52] #2643 closed

[2019-08-22 19:02] #2606 closed

[2019-08-22 19:21] #1589 closed

[2019-08-22 23:23] demisx commented on #2694
Agreed. That would be nice. In the meantime, please see if this update is still better than the status quo GH-2711

[2019-08-23 00:23] prary commented on #2706
Version 36

[2019-08-23 06:49] morozov opened #2713 "sha256 tagpolicy always produces `latest`"
### Expected behavior

Images are tagged based on the image contents with a sha-256 hash

### Actual behavior

Images are tagged as "latest"

### Information

- Skaffold version: v0.36.0
- Operating system: Linux

### Steps to reproduce the behavior

#### Works in v0.21.1
Firstly, consider the behavior of `v0.21.1` where tagging works correctly. This is a copy of [examples/bazel/skaffold.yaml](htt

[2019-08-23 13:06] oscar-martin commented on #2681
I have similar situation to the one described here but when I try to apply the suggested workaround, the tag becomes the name of the image:

[code]

This is what helm is said to use:

[code]

So tag is the name of the image instead of being the actual tag.

@aeneasr I am wondering why I get different behavior from yours.

[code]

[2019-08-23 13:37] emichaf commented on #2630
explicitRegistry:true is working when using separeted registry in value file, but still the generated tag from my template is not used (injected) in the value files tag, the hash tag is used. even if both images exist in my docker daemon cache... maybe this is the way it should work, but it's confusing that the template tag is not used when pulling image in K8S pod..

[2019-08-23 13:46] emichaf opened #2714 "How to set Helm setValues via env vars"
How to set Helm setValues via env vars ?

Tried many variants:
ex:
[code]

[2019-08-23 14:08] devronhansen commented on #2714
Found this while searching for other things, hopefully it's still correct: https://github.com/GoogleContainerTools/skaffold/pull/347/commits/2da2629042c401fd901797db41506fd53e2c7aea
(not tested)

[code]

[2019-08-23 17:22] alewis001 commented on #1581
Sure, I will attempt to verify this as soon as I can.

[2019-08-23 23:26] balopat commented on #2694
Thanks for that, it's going in now!

[2019-08-24 02:57] demisx commented on #1749
Using `local.useBuildkit: true` will cause the same error too.

[2019-08-24 14:46] khrisrichardson opened #2715 "splitting manifests on apiVersion not resilient to antecedent fields in ascending lexicographical order"
### Expected behavior

A `ClusterRole` containing `aggregationRule` or a `StorageClass` containing either `allowVolumeExpansion` or `allowedTopologies` as top-level fields are created just like any other resource.

### Actual behavior

A `ClusterRole` containing `aggregationRule` or a `StorageClass` containing either `allowVolumeExpansion` or `allowedTopologies` as top-level fields are subject to

[2019-08-25 16:39] frejonb commented on #2547
I think the current behavior is based on the statement (from https://github.com/GoogleContainerTools/skaffold/issues/565#issuecomment-390097364):

which is too opinionated on what the user is actually intending to do. I think the correct solution is to allow the user specify the actual path (in the manifest) that skaffold should replace with the just built images.

[2019-08-25 21:22] gavinwilliams commented on #1470
i had the same issue, the .dockerignore soloution fixed it for me

[2019-08-26 07:08] emichaf commented on #2714
Tried that one also, did not work!

export MYVAR=Never
[code]
Error: release ms-backend-local-dev failed: Deployment.apps "ms-backend-dev" is invalid: spec.template.spec.containers[0].imagePullPolicy: Unsupported value: "${MYVAR}": supported values: "Always", "IfNotPresent", "Never"

[2019-08-26 11:21] corneliusweig commented on #2547
@frejonb Can you give an example of how you would imagine this matching procedure? One thing that works very nicely for the great majority of users is the automatic matching of images in manifests with artifacts built by Skaffold. Whatever option we provide must not impact this seamless user experience for most of Skaffold users.

[2019-08-26 13:26] strowi opened #2717 "Kaniko Build-Order/Dependencies"
### Expected behavior
Ability to specify some kind of build-order.
E.g. we have a base-image, on which all other in this repository depend. So this would need to be build first.

### Actual behavior
Image-build fails / Build uses old version of base.

### Information

- Skaffold version: v0.36.0
- Operating system: Ubuntu-18.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behav

[2019-08-26 13:30] asiragusa opened #2718 "Error parsing Dockerfile with multi-stage builds"
### Expected behavior
`skaffold dev` runs normally

### Actual behavior
[code]

### Information

- Skaffold version: v0.36.0
- Operating system: Darwin 18.7.0 x86_64 i386
- Contents of skaffold.yaml:

[code]

Dockerfile:
[code]

### Steps to reproduce the behavior

1. the pasted skaffold.yaml + Dockerfile
2. `skaffold dev`

I use a single Dockerfile to build two images with a binary built in the `

[2019-08-26 14:05] bjesus commented on #1688
Also seeing this on ArchLinux with Skaffold 0.36. Perhaps this issue should be reopened? @dgageot

[2019-08-26 15:31] dgageot commented on #2512
When I run `skaffold init` and press ctrl-c when a question is asked to me, I expect the whole process to be interrupted. It's not

[2019-08-26 16:26] dgageot commented on #2718
I see what's going on. Skaffold is trying to pull the `package-common` when it's just an alias for the previous stage. I'll fix that

[2019-08-26 16:57] prary commented on #2706
Hi @briandealwis @balopat ,

I used your release binaries, port-fowarding worked. There is some issue with my build binaries looks like, here are the logs

[code]

[2019-08-26 17:11] prary commented on #2706
Output of kubectl describe pod

[code]
Output of logs from container

[code]

[2019-08-26 17:26] dgageot commented on #2669
The issue is in the code that collects logs in parallel. I'm pushing a fix

[2019-08-26 18:23] frejonb commented on #2547
@corneliusweig One idea would be similar to the pod syncing API. Say we have `manual` and `infer (default)` options, then we could do something like

[code]
where `name` refers to the `image` under `/build/artifacts/<n>`, i.e. not including tags that skaffold might add during build.

[2019-08-26 22:49] asiragusa commented on #2718
Thanks for the quick fix! Does it work even if the base image is `FROM debian` or similar?

[2019-08-27 04:24] prary commented on #2706
It looks like problem is with my golang version which is 1.11 will try it out with 1.12.x and update it further

[2019-08-27 08:27] dgageot commented on #2628
That's unfortunate. We are supposed to have a couple of unit tests for this case [here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/docker/dependencies_test.go#L494). I'll see what is wrong with the code.

[2019-08-27 08:30] Ps3ud-0nym commented on #1178
When using this, it works well but doesn't seem to delete the decrypted secrets file automatically after deploy. Could someone look at this please?

[2019-08-27 08:39] dgageot commented on #2628
This was fixed in https://github.com/GoogleContainerTools/skaffold/commit/86100a74f5487f8f1db4f6a3fe2d7c91bbf58812#diff-6dd30f697422fcff1344c9b6a7110e51 and should seems ok with `skaffold 0.36.0`

[2019-08-27 08:39] #2628 closed

[2019-08-27 08:43] dgageot commented on #1688
@demisx @kurczynski @bjesus Could you provide a sample that shows the issue? Or maybe it happens with one of our samples?

[2019-08-27 08:49] dgageot commented on #1688
This has been fixed in 83b0f45bf3db659f942d1c0d40cd93bfdd44d3ad, just after the 0.36 release freeze.

[2019-08-27 08:49] #1688 closed

[2019-08-27 12:40] dgageot commented on #2715
I'm going to push a fix that uses the fact that `kubectl create --dry-run -oyaml` produces a lexicographically sorted output.

[2019-08-27 12:59] dgageot commented on #2694
Here's the issue:
 + two of the images are created from the same sources but built with a different target.
 + The caching uses the digest of the input files as a key
 + So, skaffold thinks the first and second images should be the same...

Let me fix that.

[2019-08-27 17:32] prary opened #2730 "Skaffold should throw the exact error"
In skaffold build using kaniko when skaffold tries to copies the context to init container. It tries to run
[code]
If a user does not have permission to exec into pod then above build simply fails with following error

[code]
### Expected behavior
Error message should contain exact error which was return by above command
### Actual behavior
Actual error is not tracked. We should have kubectl.RunEr

[2019-08-27 20:48] balopat opened #2732 "k8s clientset doesn't work when skaffold is ran from an pod"
### Expected behavior

When skaffold is executed from a pod, it should be able to build within the same cluster using kaniko (if the right credentials are provided).

### Actual behavior

Skaffold fails to build at first build with

[code]

### Information

- Skaffold version: 0.36
- Operating system: Linux (from pod)
- Contents of skaffold.yaml: examples/kaniko

### Steps to reproduce the behavio

[2019-08-27 21:47] cthatcher-cb opened #2733 "skaffold dev --port-forwarding with a profile does not forward specified ports"
### Issue
While attempting to create profiles for a local project where each profile would specify a specific port forwarding scheme, I found that while running `skaffold dev --port-forward -p p1` with a profile it wouldn't perform the port forwarding as it does when running `skaffold dev --port-forward`. Notice the example below using a modified version of the microservice example within master.

[2019-08-28 08:49] dgageot commented on #2019
@tejal29 Are you working on this issue?

[2019-08-28 09:02] dgageot commented on #2073
@Rundowner have you solved your issue?

For me, the solution is to:
 + Use the `skaffold dev --default-repo k8s-master-and-docker-registry:5000` syntax
 + Verify the way you've setup `registrypullsecret`. It should point at `https://k8s-master-and-docker-registry:5000`, not `http://k8s-master-and-docker-registry:5000`
 + Maybe you could push an image to this registry and use that image on k8s, wit

[2019-08-28 11:20] dgageot commented on #2687
I agree with @giladsh1 that it's a regression.
 + We used to be able to run `skaffold run` twice in a row and it would deploy nothing on the second run.
 + Now, the second run is faster, thanks to artifact caching, but, every object is redeployed because of the new `run-id.
I'm going to label this as a P1 bug

[2019-08-28 12:38] dgageot opened #2738 "Duration of a deploy is not displayed anymore"
`skaffold dev` used to display the duration of the deploy phase. It's not shown anymore.

[2019-08-28 13:07] dgageot opened #2740 "`skaffold dev` output is polluted with redundant information"
I expect `skaffold dev` to only show important information when a change is made.

For example, if I change a whitespace in a k8s manifest, I expect the output to be very minimal.

Here's what we currently have:

[code]

Add a whitespace -> Nothing needs to be rebuilt or redeployed.

[code]

Here's what the redeploy should look like:

[code]

See also #2739

[2019-08-28 13:15] quick-question opened #2741 "How to add additional images and helm deployments with override via patch?"
I'm attempting to use profiles to facilitate building and deploying multiple apps (using helm charts) at the same time. For example, `skaffold run -p app1,app2` but I can't seem to get it to work.

The profiles each look like this:
[code]

Can anyone tell me what I am doing wrong or provide an example?

[2019-08-28 14:33] dgageot commented on #2693
@steren Cats ftw!

[2019-08-28 14:49] dgageot opened #2742 "On a big project, `skaffold dev` starts with a long period with no logs"
When `skaffold dev` is used with https://github.com/GoogleCloudPlatform/microservices-demo, no log are displayed for 10 seconds.

[2019-08-28 14:51] dgageot commented on #2742
This period also can't be interrupted with ctrl-c

[2019-08-28 15:44] dgageot opened #2744 "TestPollDeploymentRolloutStatus is unstable"
See https://travis-ci.com/GoogleContainerTools/skaffold/jobs/228963982#L166-L171

[code]

[2019-08-28 16:18] #2683 closed

[2019-08-28 16:56] dgageot commented on #1749
Should be all good now

[2019-08-28 16:56] #1749 closed

[2019-08-28 17:05] balopat opened #2745 "Skaffold run is not idempotent anymore"
Since runId was introduced now k8s resources are recreated.
We should think about carefully how to enable idempotent behavior again.

[2019-08-28 17:20] dgageot commented on #2745
Idempotency is crucial if `skaffold run` is used in a git ops environment or if causing downtime is a no-go.

It's also important that running `skaffold dev` doesn't take what's already running down because it consumes time and can make the user think that something is broken on their code.

[2019-08-28 17:41] dgageot commented on #2687
See https://github.com/GoogleContainerTools/skaffold/issues/2745

[2019-08-28 17:50] dgageot commented on #2528
Thank you @DKBgit for opening this issue.

Skaffold will always ignore the tag part of the images given in the skaffold.yaml. That's one of the main features of Skaffold: it will handle the tags for you.

One thing you can do is use the `EnvTemplateTagger` instead of the `sha256`. This way you have more control on the tags.
One thing we can do in Skaffold is print a warning to help the users figur

[2019-08-28 17:50] briandealwis opened #2747 "`skaffold init --artifact` should use builder IDs"
`skaffold init --artifacts '{...json...}`'s JSON input object should use an identifier rather than the [human-oriented builder names](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/initializer/init.go#L273-L284) being used currently.  For example: `docker` and `jib-maven` instead of `Docker` and `Jib Maven Plugin`.

[2019-08-28 17:51] dgageot commented on #2528
I removed the `kind/bug` since it works as expected. Even though it could be made clearer to the users.

[2019-08-28 19:58] #2715 closed

[2019-08-28 19:58] #2645 closed

[2019-08-28 21:57] #1966 closed

[2019-08-29 02:52] edwin-zvs opened #2751 "Mailing list is not accessible"
<img width="432" alt="image" src="https://user-images.githubusercontent.com/43801454/63906554-0b811b80-c9cd-11e9-9d00-67ae1221a526.png">

"Skaffold mailling list" and mail icon on the footer does not work.

### Expected behavior

Able to access, subscribe mailing list. Or no broken link on the website.

### Actual behavior
<img width="586" alt="image" src="https://user-images.githubusercontent.com

[2019-08-29 08:40] Place1 commented on #176
I'd be happy to put up a PR that adds `rollout status` support for the kubectl deployer

[2019-08-29 08:43] strikeout opened #2753 "Add support for k3d"
### Use case
Im trying to leverage `k3d` for efficient local k8s development. k3d requires an extra command to import the build images into the k3d containerd file-system (`k3d import-images $images`) so I need to use the custom build spec - but just on the local profile. The number of artifacts is quite large so it is unfeasible to patch every single one by itself. What would be the best approach

[2019-08-29 09:24] corneliusweig commented on #2547
@frejonb Would you care to write this up in a design proposal? The current issue is not the right place to have this discussion, I think.
Design proposal are the best place to discuss alternatives and decide whether this is needed at all. You find a template and some examples in `docs/design_proposals`.

[2019-08-29 11:08] dgageot commented on #2733
@cthatcher-cb This is indeed an issue with the codebase. I'm working on it!

[2019-08-29 12:29] dgageot commented on #2073
I'm going to close this ticket because I don't think there's an issue in skaffold. Since I can be very wrong, feel free to reopen!

[2019-08-29 12:29] #2073 closed

[2019-08-29 12:40] dgageot commented on #2528
@DKBgit You are right that in some cases it is not ignored. But it should! That's a bug.
It fails for me and it works for you because you are working with a remote cluster and I'm working with a local cluster. That changes a bit how images are tagged and pushed.

I'm going to submit a PR to make sure tags in artifact image names are always an error.

What you can do is use the `EnvTemplateTagger`

[2019-08-29 14:47] balopat opened #2757 "Allow override of cluster builder namespace from flag"
Kaniko pods are always executed in `build.cluster.namespace`. This made integration testing awkward in https://github.com/GoogleContainerTools/skaffold/pull/2734#issuecomment-526217009 -  `skaffold build -n <namespace>`  should honor the namespace setting, but maybe we need a separate flag for that - `build-namespace`. We should think through the implications.

[2019-08-29 14:55] dgageot commented on #2744
The test is unstable and the way fake commands are created with the parent `t` instead of the child `testing.T` creates this funky error message.

[2019-08-29 14:55] andreassiegel commented on #2478
I'm experiencing the same issue with the latest version of skaffold (v0.36.0) on Mac with Docker for Mac when I use helm for the deployment.

The file change is detected, but the sync fails with the same warning:
[code]

[2019-08-29 15:01] briandealwis commented on #2706
Closing: problem appears to be due to local compilation issues.

[2019-08-29 15:01] #2706 closed

[2019-08-29 16:16] dgageot commented on #2680
OK, I found the issue. In dev mode, the order of the artifacts is changed based on which one was rebuilt. Let me fix that!

[2019-08-29 17:22] #1470 closed

[2019-08-29 18:09] nkubala opened #2762 "Release v0.37.0"

[2019-08-29 19:35] DKBgit commented on #2528
@dgageot for the explanation.
And also thanks for including the example of using EnvTemplateTagger. It was very useful.
Will close the issue now.

[2019-08-29 19:35] #2528 closed

[2019-08-29 19:47] #2733 closed

[2019-08-29 20:56] #2762 closed

[2019-08-29 21:13] balopat commented on #2751
Thank you for reporting this!! I'm not sure what happened here but it is definitely broken if I look at it from my personal account. The group permissions seem messed up - and the one who created is not with us anymore. I'll fix this soon - I'll try to take over the ownership, if that doesn't work out, by creating a new user list.