[2019-08-29 22:00] tbarrella opened #2767 "Logs from parallel custom builds are interleaved"
### Actual behavior
When building in parallel with a custom builder (by specifying "cluster:"), the logs are interleaved

### Information

- Skaffold version: v0.37.0
- Operating system: Ubuntu 16.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. `build.sh`
[code]
2. `skaffold build`

[2019-08-29 22:02] tbarrella opened #2768 "Custom cluster builder tries to retrieve kaniko secret"
### Expected behavior
Using a custom builder for in-cluster builds doesn't require a kaniko secret

### Actual behavior
If no kaniko secret exists, the build fails
[code]

### Information

- Skaffold version: v0.37.0
- Operating system: Ubuntu 16.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Use any `build.sh`
2. `skaffold build`

[2019-08-29 22:26] balopat commented on #176
cc @tejal29

[2019-08-29 23:44] tejal29 commented on #176
@Place1 Thank you for helping us out. I am working on a PR #2750 which does implement kubectl rollout

[2019-08-30 01:40] balopat commented on #2751
This is fixed now, thank you again for the notice!

[2019-08-30 01:40] #2751 closed

[2019-08-30 05:07] #2742 closed

[2019-08-30 05:08] dgageot commented on #2767
Thanks for the report. I'll take a look at it today

[2019-08-30 06:18] dgageot commented on #2687
Fixed with #2752

[2019-08-30 06:18] #2687 closed

[2019-08-30 06:18] dgageot commented on #2529
I spent some time trying to reproduce and failed.

[2019-08-30 07:16] dgageot opened #2770 "In-cluster custom build is not yet implemented"
Custom builds always run locally no matter if the user specified the `cluster` builder or the `local`builder.

[2019-08-30 07:16] dgageot commented on #2767
I'm going to fix the logging issue. The more important issue though is that in-cluster custom build is not really implemented yet. See #2770

[2019-08-30 07:47] tbarrella commented on #2767
Thank you! Yeah, it seems the differences are just that the script receives some more env variables (KUBECONTEXT, NAMESPACE, etc.) and the build scripts can be run in parallel. For me, so far I'm just trying out the cluster builder as a hack to build in parallel before #1380...

[2019-08-30 08:26] dgageot commented on #2767
Oh, that makes sense! I'm not familiar with this piece of code. I'll close #2770 then.

If you want to try local parallel build, there's a single lien to change in the codebase. I'd be interested in seing if that works well for you. Last time I tried, there were interesting race conditions in docker code.

[Here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/build/local

[2019-08-30 08:27] dgageot commented on #2770
Let's close this one. I thought the build script would run in-cluster but the current behaviour of running the script locally to pilot a remote execution makes a lot of sense.

[2019-08-30 08:27] #2770 closed

[2019-08-30 09:11] dgageot commented on #2714
@emichaf @devronhansen Have you tried `setValueTemplates` instead of `setValues`. This should support env variables interpolation.

[2019-08-30 10:52] dgageot commented on #2714
I'm going to close this issue. I've just checked that it works well with this syntax:

[code]

[2019-08-30 10:52] #2714 closed

[2019-08-30 11:05] dgageot commented on #2697
Hi @lsowen, I wonder if there's any way you can test https://github.com/GoogleContainerTools/skaffold/pull/2772 and see if solves your issue.

[2019-08-30 11:05] dgageot commented on #2681
Hi @aeneasr and @oscar-martin, I wonder if there's any way you can test https://github.com/GoogleContainerTools/skaffold/pull/2772 and see if solves your issue.

[2019-08-30 11:06] dgageot commented on #2162
Hi @elisiano, I wonder if there's any way you can test https://github.com/GoogleContainerTools/skaffold/pull/2772 and see if solves your issue.

[2019-08-30 11:07] dgageot commented on #2631
Hi @yoshwata, I wonder if there's any way you can test https://github.com/GoogleContainerTools/skaffold/pull/2772 and see if solves your issue.

[2019-08-30 11:07] dgageot commented on #2630
Hi @emichaf, I wonder if there's any way you can test https://github.com/GoogleContainerTools/skaffold/pull/2772 and see if solves your issue.

[2019-08-30 11:14] dgageot commented on #2665
Hi @raniejade, I wonder if there's any way you can test #2772 and see if solves your issue.

[2019-08-30 11:16] dgageot commented on #2478
Hi @kasvtv and @andreassiegel, I wonder if there's any way you can test #2772 and see if solves your issue.

[2019-08-30 11:18] dgageot commented on #2472
Hi @japsen, thanks a lot for opening this issue. Is there any way you could share a project on Github that would help us reproduce? I tried by myself and failed.

[2019-08-30 11:28] japsen commented on #2472
Hi @dgageot I'm sorry for getting back to this issue, I kind of forgot about it.
It seems that there have been changes already that fix my issue. I'm running v0.36.0 which does not have the issue described above.
The ticket can be closed.

[2019-08-30 11:28] #2472 closed

[2019-08-30 11:41] dgageot commented on #2472
Thanks a lot for getting back to us!

[2019-08-30 12:27] dgageot commented on #480
I'm going to close this issue as it's been inactive for a while and the default repo features solves the most important issue.

[2019-08-30 12:27] #480 closed

[2019-08-30 12:28] dgageot commented on #2411
Let's close this one. I believe integration tests are enough

[2019-08-30 12:28] #2411 closed

[2019-08-30 13:29] andreassiegel commented on #2478
I checked out that version and try to run my scenario with it. Unfortunately, the behavior is still the same:
[code]

I wonder if that's related to the behavior of the `sha256` tagger that always generates `latest` as the tag:
[code]

The log output from above clearly indicates that there is also another tag in play, but I don't know how I get skaffold to use a tag like that for the build.

I just

[2019-08-30 13:53] andreassiegel commented on #2478
I also double-checked it with the example provided by @kasvtv.

This example doesn't set an explicit tag policy, but seems to be using `gitCommit`:
[code]

After a file was updated, the change is detected, but the sync also fails:
[code]

Note that this time the sync fails because pods are not running.

So I checked the running pods, and saw them running just fine:
[code]

Then I wanted to check i

[2019-08-30 14:40] dgageot commented on #2478
:-( Let me take some time to read your comments

[2019-08-30 14:56] dgageot commented on #2478
OK, the first issue I see is that none of the Kubernetes manifests use templating to replace the image names. This means that the yams files are applied as is.
Those lines should use a variable for the image name:
 + https://github.com/kasvtv/skaffold-helm-issue/blob/110200e74015f3c1804ae4e56354117a2d88dd17/k8s/templates/client-deployment.yml#L19
 + https://github.com/kasvtv/skaffold-helm-issue/bl

[2019-08-30 15:03] andreassiegel commented on #2478
This could indeed be related to my problem as well: Even though my helm chart is using a variable for the image, I don't alter it in `skaffold.yaml`.

If it doesn't need to be overridden using some additional templating that's at least not a problem in my case.
Let me update the other example to see if that changes anything...

[2019-08-30 15:14] andreassiegel commented on #2478
Well, that probably can't be it, I guess...

At least there is now a set or variables in place, I updated the deployments using something like this: `image: {{ .Values.images.worker }}`, so that the `values.yaml` now includes these additional values:
[code]

However, unless skaffold does some analysis it probably doesn't know what variables are actually used for the image name.

Apologies if that

[2019-08-30 16:03] dgageot commented on #2478
@andreassiegel no worries. I don't know anything about helm myself.

Instead of adding those lines to `values.yaml`, could you use this syntax: https://github.com/GoogleContainerTools/skaffold/blob/master/examples/helm-deployment/skaffold.yaml#L16

with something like:
[code]

[2019-08-30 17:17] dgageot commented on #2478
I pushed more code to properly apply labels to all deployed resources

[2019-08-30 20:51] balopat opened #2775 "Better config versioning management"
Specs: https://docs.google.com/document/d/e/2PACX-1vRBN1vHjSGbs3ZmdvyzzhBn48NjeuP4OiTTG5mec_YrRzNDL63pFa1Xy1rgCUNiQXTjAE1QyvCr5yxX/pub

Based on the above, I have some recommendations around what to do with regards to version management, I believe these would simplify our lives:

TODO:
- [x] fail new_version script if current version is unreleased
- [x] we should mark a version released/unreleased

[2019-08-30 21:11] cconverse711 opened #2776 "skaffold dev fails on rolebinding yaml"
### Expected behavior
Skaffold dev starts up successfully.
### Actual behavior
[code]

### Information

- Skaffold version: 0.37
- Operating system: Ubuntu 19.04
- Contents of skaffold.yaml:

[code]
- Contents of service.yaml:
[code]

- Contents of role-binding.yaml:
[code]
If either manifest is commented out in skaffold.yaml, skaffold dev starts up successfully.
If manifest order is swapped in sk

[2019-08-30 21:23] #2732 closed

[2019-08-30 21:44] balopat commented on #2776
can you try indenting the array in your subjects? I think that might be the issue

[2019-08-30 21:52] #2767 closed

[2019-08-30 22:07] balopat commented on #2753
Thanks for opening the issue!
The bulk artifact type change doesn't sound like something we would support, not sure if there is a good generic way to do that.
To add k3d as a target platform - we could be convinced but we would need more evidence that a lot of users would benefit from it.  Also, I am not sure what k3d provides beyond `kind` that works seemingly similarly (docker based lightweight

[2019-08-30 23:12] balopat commented on #2776
the fix is coming soon in #2778

[2019-08-31 00:47] #2776 closed

[2019-08-31 01:21] Place1 commented on #176
Oh fantastic. Looks like your pr is doing what’s needed. Nice one.

On Fri, 30 Aug 2019 at 9:44 am, Tejal Desai <notifications@github.com>
wrote:

[2019-08-31 03:54] tbarrella commented on #2767
(Currently I'm trying to run buildctl in parallel rather than docker, but this is good to know; thank you!)

[2019-08-31 09:03] yoshwata commented on #2631
Thank you @dgageot. It seems that the problem still remaining.
[code]

[2019-08-31 09:24] daddz commented on #2529
Thanks for looking into this!
I just tried to dig into this a little more and so it happens that if you let it sit long enough it eventually finishes:
[code]
I also tried to reproduce it and it always ends up around 30 minutes. Is there a timeout?

After fiddling around in the source this line seems to cause the delay:
https://github.com/GoogleContainerTools/skaffold/blob/7a0f5f1d724316f840877a11a

[2019-08-31 11:51] daddz commented on #2529
The error seems to be related to the "Follow: true" option.
Stream seems like it never (only after ~30 minutes) gets closed after the pod has succeeded.
I hope this information helps.

[2019-08-31 11:55] daddz commented on #2529
Some more infos of last test setup:
[code]
[code]

[2019-08-31 12:34] dgageot commented on #2529
Oh, `v1.15.2`... This could be the issue. We use kubernetes client 1.12 to retrieve the logs. There might be something broken. I'll see what we can do

[2019-08-31 13:33] daddz commented on #2529
Ah I haven't thought about that. Glad to hear that you might have a lead.
FYI: when I first started running into this problem it was 1.14.x

[2019-08-31 14:11] daddz commented on #2561
I've put my ideas into some examples:

## Design variant 1 (old proposal)

See: [Design proposal for integrationtest command \#2671](https://github.com/GoogleContainerTools/skaffold/pull/2671)

Configuration:

[code]

## Design variant 2

Configuration:
[code]

### Comments

Unlike variant 1 this offers the possibility to solve the problem with different approaches like many other commands (e.g. b

[2019-09-01 15:01] corneliusweig opened #2779 "docs: Split concepts section into subpages"
The concepts section has accumulated a lot of loosely related information, such as

- Architecture
- Configuration of the Skaffold pipeline (skaffold.yaml)
- Global configuration (~/.skaffold/config)
- Workflow
- Image repository handling
- Operating modes
- Local development

I think it's time to break this up into several sub-pages, similar to the Howto section. This will allow more structure in

[2019-09-01 16:24] dgageot commented on #2529
@daddz Do you have a way to test https://github.com/GoogleContainerTools/skaffold/pull/2780 and see if it's better?

[2019-09-01 17:05] dgageot commented on #2631
Hi @yoshwata I'm afraid `skaffold deploy` only works with `--images` for each artifact.
Since `skaffold dev` is working for you, I think everything is configured well.
Maybe what you are looking for, for one-shot deployments, is `skaffold run`.

[2019-09-01 17:11] daddz commented on #2529
@dgageot I have just tested it and unfortunately it's still the same problem.

It seems to be a problem in kubectl as well.
I replicated the command and ran both in parallel and they both hang and don't return at the same spot.
1. I started: `skaffold build`
2. While build was running I retried `kubectl logs -n default -f kaniko-j8d4j -c kaniko` until it worked (pod ready)

[2019-09-01 19:28] dgageot commented on #2529
I’d love to be able to test the same kaniko build as you. Because now, I think it might be something on that side.

[2019-09-02 06:49] dgageot opened #2781 "TestBuildInCluster is flaky"
See https://source.cloud.google.com/results/invocations/1c52d230-1ca9-4487-a0e8-26582787dc11/targets/runtimes-common%2Fskaffold%2Fpresubmit/log

[code]

[2019-09-02 07:34] elisiano commented on #2713
@morozov I just received an answer to #2162 which might be relevant here as well.

[2019-09-02 07:35] elisiano commented on #2162
@dgageot if I read that correctly,  I should use the `{{.DIGEST}}` var in the template?

[2019-09-02 07:58] dgageot commented on #2162
@elisiano yes. That's more a Fully Qualified Name than a digest. We kept the name for compatibility reasons but we might want to revisit that.

[2019-09-02 11:53] dgageot commented on #2740
The only one remaining is the port forwarding message that is printed even if nothing was redeployed.

[2019-09-02 14:12] andreassiegel commented on #2478
Thanks a lot @dgageot! It is working with the latest version from master now.

However, in my setup some additional changes were required to make it work in the end. I'll list them here just in case they're helpful for someone else as well:

- As already pointed out, the image value needs to be set in `skaffold.yaml`, as illustrated above in comment https://github.com/GoogleContainerTools/skaffold

[2019-09-02 15:10] bagf commented on #1629
@tejal29 I've given this custom builder a try and it appears to be building and publishing the correct version tags. But the version does not get applied to my Kubernetes deployment.

As a result no k8s changes get applied after I run `skaffold run -p lagom-test-service-impl`

I believe sbt is using sbt-native-packager to build the docker image. This is my first attempt at using Skaffold so I migh

[2019-09-02 15:43] dgageot opened #2787 "TestDevPortForward is flaky"
https://travis-ci.com/GoogleContainerTools/skaffold/jobs/230109409

[code]

[2019-09-02 16:05] morozov commented on #2162
This is what I tried:
[code]

It seems like the digest is not replaced in the image name.

[2019-09-02 16:15] dgageot commented on #2162
Yeah, this whole `envTemplate/DIGEST/DIGEST_ALGO/DIGEST_HEX` thing is a mess.

`envTemplate` used to make sense and be useful. I'm not sure it's very useful now.
 + If you remove the `tagPolicy` config, everything should work out of the box.
 + One thing that `envTemplate` can do for you is to add a prefix/suffix to images. Fixed ones or from env variables. Something like:

[code]

The digest will

[2019-09-02 17:17] morozov commented on #2162
If I remove it entirely and use the same example as above, I get:
[code]
The image gets tagged with git-sourced attributes which is not what I want. In the case when I build multiple images from the same repo, I want images re-tagged only if their content has been changed by a given git commit (hence, I'm using the `sha256` tagger with skaffold v0.21).

Patching the same example with the above yie

[2019-09-03 02:19] samlevin commented on #2690
@balopat at long last, the relevant logs (sanitized to some degree):

[code]

[2019-09-03 02:26] samlevin commented on #2690
A few notes:
* The aforementioned behavior also occurs with `skaffold debug` (instead of `dev`)
* I changed the config file version from `skaffold/v1beta11` to `skaffold/v1beta13` - same result

[2019-09-03 04:59] dgageot commented on #2463
This PR #2773 should fix the issue

[2019-09-03 05:10] dgageot commented on #2162
@morozov Sorry, I should have said that in my `envTemplate` usage example, `SUFFIX` and `TAG` are two env variables.

These 3 examples should work:

[code]

[code]

[code]

[2019-09-03 06:56] dgageot opened #2791 "[skaffold dev] changing skaffold.yaml reprints all the logs"
While in a `skaffold dev` loop, I run `touch skaffold.yaml`. This resets the dev loop with no change and it should carry on with the logs where it left them.

Instead:
 + It reprints all the logs for every container involved in the deployment.
 + It print `WARN[0019] signal: killed` for every running pod (I assume it's the kubectl logs being killed)
 + It often prints `<Container was Terminated>`

[2019-09-03 09:50] daddz commented on #2529
@dgageot thanks for all the effort. You tipped me in the a new direction. The whole thing seems to be related to the way these clusters are deployed.
I tested this issue on other clusters and it does not appear. I'll post more details as soon as i have them.

[2019-09-03 13:15] dgageot commented on #2791
OK. Now, I can't reproduce the reprinting...
I'm fixing both spurious logs, `signal: killed` and `Container was Terminated` though

[2019-09-03 15:53] daddz commented on #2529
I have finally identified the issue:
All of the nodes were configured with logging driver `journald` for docker.
After switching to `json-file` everything worked without problems.

I checked twice to confirm I haven't gotten insane.
I swapped the node to execute kaniko back to using `journald` as log-driver for docker which results in the symptoms described above. Switch back to `json-file` and it

[2019-09-03 15:53] #2529 closed

[2019-09-03 16:40] #2791 closed

[2019-09-03 17:40] dgageot opened #2795 "Add more docs about digests and imageIDs"
Explain how this works and also link to the docs from the code.
See https://github.com/GoogleContainerTools/skaffold/pull/2792#discussion_r320354800

[2019-09-03 17:45] morozov commented on #2162
Thank you @dgageot. Unfortunately, neither of the examples above works as I'd expect:

1. ```yaml
   apiVersion: skaffold/v1beta13
   kind: Config
   build:
     tagPolicy:
       envTemplate:
         template: "{{.IMAGE}}"
     artifacts:
       - image: gcr.io/k8s-skaffold/skaffold-bazel
         bazel:
           target: //:skaffold_example.tar
[code]
   $ ../../out/skaffold build
   Generatin

[2019-09-03 17:50] balopat commented on #2562
As @dgageot pointed out in #2793 (and as I'm rereading the original post it is obvious that) I was completely wrong about this - the current version rendered unset env vars to `<no value>` - hence there is no way people depended on this behavior. @dgageot implemented this in #2793 - closing the issue.

[2019-09-03 17:50] #2562 closed

[2019-09-03 19:12] nkubala commented on #2741
hey @quick-question. this behavior should be supported in skaffold - can you try doing `skaffold run -p app1 -p app2` instead of a comma-separated list?

[2019-09-03 19:15] nkubala commented on #2779
agree for sure. I think our docs need an overhaul, there are a lot of nuanced concepts in Skaffold that deserve their own write-ups. we get lots of questions about things that **I** know are in the docs, but are very hard for users to find.

are you at all interested in taking a stab at restructuring/breaking out some of these concepts?

[2019-09-03 19:25] quick-question commented on #2741
That does not seem to work either. I am getting this error:
`time="2019-09-03T15:23:04-04:00" level=fatal msg="creating runner: applying profiles: applying profile app1: invalid path: /build/artifacts/-"`

I'll also mention that this is occurring on v0.35.0

[2019-09-03 22:09] balopat commented on #2690
This should be now fixed #2746. In case of `remoteManifests` issues might still exist, but you are not using those. Thanks for the logs they confirm that the fix in #2746 is the key (not "creating manifests while deleting")

[2019-09-03 22:10] balopat commented on #2019
@demisx this should be now fixed #2746. In case of `remoteManifests` issues might still exist, but you are not using those seemingly.

[2019-09-03 22:13] tejal29 commented on #1737
@chainlink yes. i will try to resurrect this this week.

[2019-09-03 22:18] tejal29 commented on #1748
We decided not to use #2105.  I am no longer working on this.

[2019-09-03 22:19] balopat commented on #1748
@alejandrox1 can you share your setup?

Also, we have merged some fixes since then, it would be worthwhile trying to reproduce this on master / bleeding edge (https://skaffold.dev/docs/getting-started/#installing-skaffold).

[2019-09-03 22:19] demisx commented on #2019
@balopat This is correct -- I am not using any `remoteManifests`. I am going to switch from v0.37 to the bleeding edge and let you know if I still see this issue. Thank you for staying on top of it.

[2019-09-03 22:21] balopat commented on #1160
I will start to look into windows bugs including this, as we are getting a windows machine now...

[2019-09-03 22:25] balopat commented on #1184
Hi @Miouge1, can you try to add `localhost:5000/api` to the release?

[code]

[2019-09-03 22:28] balopat commented on #1184
Also, we will now print a warning when an artifact is not used in the helm deployer: see #2782. I will close the original issue as I believe it is not a bug.
@Miouge1 if you still see an issue with the `imageStrategy`, please open a new one. Thank you!

[2019-09-03 22:28] #1184 closed

[2019-09-03 22:41] balopat commented on #1649
I'm wondering if this is now fixed as this was fixed in jib? https://github.com/GoogleContainerTools/jib/issues/1490

[2019-09-03 22:48] balopat commented on #2744
This is in progress, on her branch in #2750 this is going to be not a time based logic.

[2019-09-03 22:59] demisx commented on #2019
Bad news. I was using the latest `81c50fe` and just hit `[Ctrl]+C`. The skaffold process quit immediately leaving behind everything running in k8s cluster. Had to run `skaffold delete --kube-context=docker-desktop -p dev` again to clean things up.

[2019-09-04 01:39] demisx opened #2797 "Skaffold reports attempting to sync with wrong pods"
### Expected behavior
Skaffold will sync only with pods that the file sync is enabled for and disregard everything else.

### Actual behavior
Though, Skaffold  seems to sync with the correct destination pod, it also reports not being able to sync with many other pods and a job which I didn't even ask it to sync with. This even includes pods from different namespace, e.g. "kube-system". This is wha

[2019-09-04 04:27] balopat commented on #2781
This is very odd - it looks like the pod was deployed in `skaffold9dgv4` namespace - i.e. kustomization.yaml was using that namespace, while `skaffold.yaml` had `skaffoldfps2s`, a different namespace for `build.cluster.namespace` ...

[2019-09-04 05:01] dgageot commented on #2529
@daddz Thanks a lot for the investigation!

[2019-09-04 07:00] balopat commented on #2781
I found an example where it looks like two parallel builds overlapped in kokoro:

The first one fails as it gets a "dirty read" of the skaffold.yaml with `build.cluster.namespace=skaffoldnfmt8`:
https://sponge.corp.google.com/target?id=12520e7c-5373-40af-ba34-7320dc144ade&target=runtimes-common%2Fskaffold%2Fpresubmit&searchFor=

The second one deploys originally to `skaffoldnfmt8` and creates a di

[2019-09-04 07:57] balopat commented on #2797
Thank you @demisx this is definitely some confusing logging. We'll have to dig into it.

[2019-09-04 09:34] daddz commented on #2529
Funnily enough docker released a new version yesterday containing a fix for this: https://docs.docker.com/engine/release-notes/#19032

[2019-09-04 09:57] dgageot commented on #2797
I'll remove those logs since they are misleading. We wouldn't attempt to sync with those pods anyways since they are not using any image managed by Skaffold

[2019-09-04 10:01] Multiply commented on #1441
I might just be bad at reading the docs, but having the ability to run a command inside a container after file-sync would also be really amazing.

[2019-09-04 11:48] yoshwata commented on #2631
Hi @dgageot. I tried `skaffold run` and it works well. This means that it works well if pipeline has pre-builded artifact. My ideal is that pipeline uses value of `values.yaml` or `setValues: {}` of `skaffold.yaml` as image name when there is no pre-build image, but now it is thrown away because I specify it like [this](https://github.com/yoshwata/skaffold/pull/1/files#diff-d0e06e8e40332f8da67e5a8

[2019-09-04 12:24] dgageot commented on #2631
Hi @yoshwata, I'm not sure I understand what you're saying. I'll try to clarify what I meant.

`skaffold run` and `skaffold deploy` are two ways to deploy your application.
 + `skaffold run` will build the artifacts, tag them, update your k8s manifests with those tags and send the manifests to a Kubernetes cluster.
 + `skaffold deploy` does a bit less. It assumes you have built the artefacts befor

[2019-09-04 12:43] dgageot commented on #2162
Sorry @morozov, I made a type. Instead of `{{.IMAGE}}`, it should have been `{{.IMAGE_NAME}}`

Now, the feature you are asking is not currently possible. There's no tagger that gives you the digests of the inputs. Since it was asked many times, I'll write a proposal.

[2019-09-04 13:15] dgageot commented on #2162
See https://github.com/GoogleContainerTools/skaffold/pull/2804

[2019-09-04 13:17] dgageot commented on #2697
For me, this is fixed in @2772. Please reopen in case you disagree. Maybe there's more things to be fixed

[2019-09-04 13:17] #2697 closed

[2019-09-04 13:18] dgageot commented on #2681
For me, this is fixed in @2772. Please reopen in case you disagree. Maybe there's more things to be fixed

[2019-09-04 13:18] #2681 closed

[2019-09-04 13:18] dgageot commented on #2665
For me, this is fixed in @2772. Please reopen in case you disagree. Maybe there's more things to be fixed

[2019-09-04 13:18] #2665 closed

[2019-09-04 13:53] yoshwata commented on #2631
@dgageot Thank you for explanation. I understood and there is no problem for me. Let me close this issue.

[2019-09-04 13:53] #2631 closed

[2019-09-04 15:47] #2797 closed

[2019-09-04 17:29] briandealwis commented on #2561
So the approach I've been using in the [_Container Debugging Support_ images](https://github.com/GoogleContainerTools/container-debug-support) is to push the integration's tests into [separate testing containers](https://github.com/GoogleContainerTools/container-debug-support/blob/3d36e20ca615277e7a7591d321c84b76f7e8ecbf/skaffold.yaml#L21-L24) that are deployed alongside against the cluster.  This

[2019-09-04 17:30] balopat opened #2806 "Pause continuous deployment"
Add the ability to change the state of `autoBuild/autoDeploy/autoSync` with a single Control API call.

[2019-09-04 18:01] #2768 closed

[2019-09-04 18:10] balopat commented on #647
With the current, flexible [kustomize support](https://skaffold.dev/docs/how-tos/deployers/#deploying-with-kustomize) all these things can be expressed via profiles. I'm hesitant to introduce the name of the overlay to be the same as the 'command' by default as people might use `skaffold run` for multiple profiles - maybe  `overlays/profile_name` could be interesting  - but what if there are multi

[2019-09-04 18:10] #647 closed

[2019-09-04 18:16] balopat commented on #770
I think this could be interesting for CI/CD use cases. @tejal29 what do you think?

[2019-09-04 18:22] balopat commented on #500
This issue received no attention for a long time - I'm wondering if people are still interested in having nested values?

[2019-09-04 18:24] balopat commented on #627
This is something similar to what we are tracking as part of #2161.
I wonder if rendering the actual manifests would be satisfactory?

[2019-09-04 18:27] balopat commented on #783
Currently we publish `IMAGE_NAME` that you can use in `deploy.helm.releases.setValueTemplates`: https://skaffold.dev/docs/how-tos/templating/

I am going to assume that this is fixed. If somebody doesn't agree, please reopen the issue!

[2019-09-04 18:33] balopat commented on #330
I'm going to close this as we are tracking it on https://github.com/GoogleContainerTools/skaffold/issues/2277.
Also `skaffold build` is now a thing :)

[2019-09-04 18:33] #330 closed

[2019-09-04 18:43] balopat commented on #913
@bhack - we have now manual triggers - `skaffold dev --trigger manual` that requires a stdin new line to check for file changes - it still rebuilds & redeploys or syncs the changed files.
We are tracking execution of commands after file sync on https://github.com/GoogleContainerTools/skaffold/issues/1312.
I will keep this issue open to track Skaffold REPL related requests - I think that implementi

[2019-09-04 18:53] balopat commented on #2670
I see you managed to find it and post! Let me know if you need any help!

[2019-09-04 19:09] yevgenypats commented on #2670
@balopat help is appreciated, looks like there were more projects [interested](https://github.com/fuzzitdev/fuzzit) then I assumed and I'm working now on unrelated fuzzit release. if you have some spare time then this is this will be quicker.

we have a draft for two fuzzers https://github.com/dominikh/skaffold/commit/e88043cd576592fe8b8984e67daa1ed3225eecc6

maybe @bookmoons can help integrate

[2019-09-04 19:41] davidbIQ opened #2807 "azure.(*azureTokenSource).storeTokenInCfg: invalid memory address or nil pointer dereference"
I installed skaffold on windows 10 using choco (version 35), and ran the getting-started app using skaffold dev, and it was ok. I upgraded to version 0.37.0 and it throws this error (below). Reverting back to 35 fixes the issue. This is within azure, with a private repo:

- Skaffold version: 0.37.0 and 0.35.0
- Operating system: windows 10

Contents of skaffold.yaml:

[code]
### Steps to reproduce

[2019-09-04 20:32] corneliusweig commented on #2779
Yes, I will have a go at this. I don't have as much time as I used to, but I'll make room for it :)

[2019-09-04 21:01] balopat commented on #1961
I started looking into this stay tuned on #2809

[2019-09-04 21:15] balopat commented on #978
closing as a dupe of #40.

[2019-09-04 21:15] #978 closed

[2019-09-04 21:51] bookmoons commented on #2670
Thanks a lot @yevgenypats. Will dig into this soon.

[2019-09-04 22:20] balopat opened #2812 "TODO: Write up small PRs recommendations DEVELOPMENT.md"

[2019-09-04 22:24] balopat commented on #2807
Thank you for filing - this does look ugly!
We have limited access currently to test windows issues ... and azure ones too. So any help is appreciated with this. Thanks for posting the workaround of reverting back to v0.35.0.

[2019-09-04 23:18] balopat commented on #2807
Also, @davidbIQ can you provide a bit more of the stacktrace? It would be helpful for us to know where the program failed. Thanks!

[2019-09-04 23:24] balopat commented on #2807
A wild guess based on where the last failure is: can you read through this and see if you did everything here? https://github.com/kubernetes/client-go/tree/master/plugin/pkg/client/auth/azure

[2019-09-04 23:59] raniejade commented on #2665
@dgageot This fell out of my radar, I'll check it out sometime this weekend.

[2019-09-05 00:48] balopat opened #2814 "skip tests when not needed"
It would speed us up somewhat and save resources if our tests and checks would be smarter:

| change | tests to run | skip/autoPass |
|------- | -----| ---- |
| docs/ only change | checks | all unit and integration jobs + kokoro|
 | *.md only change outside of docs | none | all Travis jobs + kokoro |
 | any makefile or *.go change | all tests | none |

[2019-09-05 02:29] elisiano commented on #2162
@dgageot I had a look at the #2804 proposal and I think it's still missing what we're looking for.
The functionality you're describing for `sha256` should also be somehow available for the `envTemplate` tagger for the reason specified in https://github.com/GoogleContainerTools/skaffold/issues/2162#issuecomment-504312366.

[2019-09-05 04:24] dgageot commented on #2162
@elisiano Thanks a lot for the feedback! I'll update the proposal.

[2019-09-05 05:19] #2779 closed

[2019-09-05 09:42] giladsh1 opened #2816 "skaffold new version (0.37.1) deployment error - error converting YAML to JSON"
### Expected behavior
skaffold should deploy to minikube

### Actual behavior
fatal error
### Information

- Skaffold version: 0.37.1
- Operating system: MacOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
1. `skaffold dev`

[2019-09-05 13:19] quick-question commented on #2741
@nkubala Could you provide an example of how someone might have two profiles that add their artifacts and releases via override by patch? I haven't been able to find a good example in the docs.

[2019-09-05 13:59] balopat commented on #2816
Thank you for opening @giladsh1! We need more info: can you provide the actual error message/attach the logs (with `-v debug`)? Also, my guess is that this is somewhere during deployment so it would be great to know which profile triggers the error (all of them?) and as much as you can share from the kubernetes manifests would be helpful.

[2019-09-05 14:55] giladsh1 commented on #2816
Thank you @balopat for your swift reply!
unfortunately, the error message is not very informative, even in debug mode (tried that before opening the issue).

These are the logs in debug mode (redacted the actual k8s manifests, since there are a lot there) -
[code]
and this is deployment example (other deployment are somewhat similar) -
[code]

[2019-09-05 15:08] #834 closed

[2019-09-05 15:08] #2463 closed

[2019-09-05 15:27] nkubala commented on #2512
yeah I actually get something even worse when I run this on the `microservices` example:

[code]

[2019-09-05 15:35] dgageot commented on #2816
Hi @giladsh1 is that something you've seen with previous versions of Skaffold?

[2019-09-05 15:37] dgageot commented on #2816
This kind of error usually happens with yaml when a space is replaced with a tab.

[2019-09-05 15:38] dgageot commented on #2816
Can you run this command directly?

```kubectl --context minikube create --dry-run -oyaml -f /Volumes/riscale/go/src/eagle-server/k8s/local/apps/deployment-apps-backend-api.yaml -f /Volumes/riscale/go/src/eagle-server/k8s/local/apps/deployment-apps-devices-state.yaml -f /Volumes/riscale/go/src/eagle-server/k8s/local/apps/deployment-apps-files-service.yaml -f /Volumes/riscale/go/src/eagle-server/k8

[2019-09-05 17:18] briandealwis opened #2820 "Jib support for Gradle should look for Kotlin buildscripts (build.gradle.kts)"
We should search for Gradle buildscripts using Kotlin: `build.gradle.kts`

_Originally posted by @loosebazooka in https://github.com/_render_node/MDI0OlB1bGxSZXF1ZXN0UmV2aWV3Q29tbWVudDMyMTM4MjQ2Ng==/comments/review_comment_

[2019-09-05 17:23] giladsh1 commented on #2816
no, the exact same config works in v0.36.0

[2019-09-05 17:25] giladsh1 commented on #2816
hey @dgageot
This command return a 0 exit code with no issue.
I've removed the `--dry-run` flag, and the deploy is successfully applied to minikube (with ImagePullBackOff of course, since no image is supplied by skaffold).

[2019-09-05 18:05] giladsh1 commented on #2816
hey @dgageot,
Could not find a single tab in any yaml.
used multiple extensions in vscode to convert tabs into spaces + good old grep `grep -R $'\t' .`

[2019-09-05 18:11] jonjohnsonjr opened #2821 "skaffold init fails to recognize CRD as valid object"
### Expected behavior

`skaffold init` recognizes my knative service yaml and allows me to deploy it.

### Actual behavior

`skaffold init` fails because a knative service is not a built-in kubernetes object on this line:
https://github.com/GoogleContainerTools/skaffold/blob/93df0d222af5d76d0405d3c4a3689345ace76aad/pkg/skaffold/initializer/kubectl/kubectl.go#L104

### Information

- Skaffold versi

[2019-09-05 18:44] balopat commented on #2561
Thanks for writing these ideas up @daddz - as we discussed on the Skaffold Office Hours - I think we should find/tease out interesting workflows where we can leverage skaffold's knowledge about the project. The current shape of the proposals here doesn't add much value yet as it is only a "verb" for scripts.

Maybe we could document possible integration testing patterns:
- use `skaffold run -p <pr

[2019-09-05 22:49] nerual commented on #2816
I'm running into the same error, no changes to the YAML and it worked fine in v0.35.0, upgrading to v0.37.1 I get the YAML complaint.

[2019-09-05 23:09] bookmoons commented on #2670
There's a functional fuzz target for the config file. No obvious crashes in a local run.

https://github.com/GoogleContainerTools/skaffold/compare/master...bookmoons:f05b7d989fa770907e1d574f21569f465103cab3

Going to look into that Control API.

[2019-09-05 23:17] balopat commented on #2816
I would love to have a minimal reproduction of this - @giladsh1 the YAML you provided works for me still.
@nerual thanks for jumping in!

If someone could narrow this error down to 2 yamls that skaffold is showing this behavior, it would be fantastic. I suspect there might be a bug somewhere around multiple manifests that we somehow don't cover in integration tests...

[2019-09-05 23:47] balopat commented on #2816
Also, do you have `RoleBinding`s by any chance, or anything that contains a top level array?
I fixed an issue there in https://github.com/GoogleContainerTools/skaffold/pull/2778/files that is merged to master.

By top level array, I mean for example `subjects` in RoleBindings:

[code]

[2019-09-06 03:29] bookmoons commented on #2670
There's some fuzzing around the HTTP server in `pkg/skaffold/server`. Is this the kind of thing you were imagining for hitting the control API?

https://github.com/bookmoons/skaffold/blob/214ba72f3f8703027b90f08ee5a3da5602f79151/pkg/skaffold/server/server_fuzz.go

It has a target that fuzzes binary requests and one that decodes the fuzz into valid HTTP requests. So it will try to catch failures at

[2019-09-06 06:42] daddz commented on #2561
I really like that approach. I might dabble with this for my approach.

I agree, my idea so far doesn't leverage skaffolds knowledge. As I get more familiar with skaffolds codebase I'm sure I'll find better possibilities.

    * use skaffold run -p <profile> as a deployer within your tests
    * use skaffold run -p <profile> as a separate CI step and run integration tests as another...

You mean m

[2019-09-06 06:46] #2787 closed

[2019-09-06 09:48] jamiehannaford commented on #2816
@balopat Yes, that's what we're running into. The following file is breaking:

[code]

Another hindrance here is that I can't easily downgrade from v0.37, as it doesn't seem you publish n-1 versions on Homebrew. I had to run:

[code]

to install v0.36 and fix things. Which isn't documented anywhere.

[2019-09-06 11:30] #2781 closed

[2019-09-06 12:19] dgageot commented on #2583
I can't reproduce it either on `master` or on `v0.34.1`. @balopatm can you still reproduce?

[2019-09-06 12:24] dgageot commented on #2583
Wait! I've reproduced it by running `while true; do echo "" >> node1/src/index.js; sleep 1; done` and `while true; do echo "" >> node2/src/index.js; sleep 1; done` in two different windows.

[2019-09-06 12:40] dgageot commented on #2583
Even simpler, this triggers the bug:

[code]

[2019-09-06 13:20] dkirrane opened #2830 "Add template for {{.IMAGE_REPO}} to allow substitution for init containers"
I currently cannot get a handle for the repo used:
`skaffold deploy --default-repo=eu.gcr.io/my-project`
Could this be made available as a template so it can be used for substitution in the skaffold.yaml e.g. `{{.IMAGE_REPO}}`

I need access to it to use for main application container _but_ also for init containers.
e.g.

[code]

[2019-09-06 13:34] dgageot commented on #2583
So, I continued to play with your sample. And I ended up realizing that skaffold works as intended. Here's why:

 + Both `node1` and `node2` images depend on the same base image that copies both `node1/*` and `node2/*`
 + So when a change is made to both, `node1/index.js` and `node2/index.js`, both artifacts need to be updated.
 + The issue is that `node1` only knows how to sync `node1/**` files a

[2019-09-06 14:13] solsson commented on #2642
I've migrated a handful of services' dev loops to Skaffold with in-cluster rootless buildkitd (v0.6+).
It seems robust, performant and compatible with all our legacy dockerfiles.
While `BUILDKIT_HOST=kube-pod://` works I prefer `tcp://` with `kubectl port-forward service/builkitd` because it makes horizontal scaling easy.

My intermediate solution is to use a wrapper script in path, with skaffold.

[2019-09-06 16:32] balopat commented on #2816
Thanks @jamiehannaford - can you try bleeding edge? Also thanks for suggesting n-x releases - I think that's a great idea, I'll open an issue for it

[2019-09-06 17:39] gaetansnl commented on #2583
Yes thats what I thought but the rebuild isn't always triggered. It should always trigger rebuild, no  ?

[2019-09-06 18:26] balopat commented on #2830
Thanks for detailing your use case. We've been looking at the frictions with `default-repo` and will add this to the list. As a workaround could you try to use `SKAFFOLD_DEFAULT_REPO` env var and use that in the env templates?

[2019-09-06 18:44] balopat opened #2833 "publish the n-1, n-2, n-3 versions of skaffold to homebrew"
Context: https://github.com/GoogleContainerTools/skaffold/issues/2816#issuecomment-528790124

[2019-09-06 19:58] ikogan commented on #2217
Should a cluster build require a local docker install at all? I'm forced to do my development in a Windows VM on a machine that doesn't have nested virtualization support. This makes running Docker pretty difficult which is why cluster building is so appealing.

[2019-09-06 20:41] balopat commented on #1187
That sounds great @edwin-zvs - thanks for sharing your use case, I'm excited to see Skaffold in your product (FYI the link on your main page is pointing to buildpacks.io ;)).

[2019-09-06 21:48] tejal29 commented on #1739
Related to #1187
Closing this as its dupe

[2019-09-06 21:48] #1739 closed

[2019-09-07 00:26] edwin-zvs commented on #1187
Thanks @balopat for the feedbacks. I just fixed the link in our website. Internally, we even use Skaffold's custom buildCommand to build project with buildpacks. Works like a charm!
Thanks again.

[2019-09-07 08:19] jamiehannaford commented on #2816
@balopat How do I get the binary for master? I don't see any docs for that. It works for me on v0.36

[2019-09-07 10:52] giladsh1 commented on #2816
@balopat @dgageot I can confirm that after compiling from master, the problem is resolved.

@jamiehannaford if you want to compile from source, simple clone the repo, and run `make`.
the binary will be at `./out/skaffold` when compilation is done.

[2019-09-07 18:21] balopat commented on #2816
You can use the bleeding edge for the latest build described here: https://skaffold.dev/docs/getting-started/#installing-skaffold
Thank you for confirming! Closing the issue!

[2019-09-07 18:21] #2816 closed

[2019-09-08 13:18] giladsh1 opened #2837 "update skaffold google cloud build image in gcr.io"
### Expected behavior
This [community image](https://github.com/GoogleCloudPlatform/cloud-builders-community/blob/master/skaffold/Dockerfile) should contain the latest version of skaffold.

### Actual behavior
The actual skaffold version in this image is v0.34.1.

### Information
The latest skaffold version contains an important backoff implementation for cloud build, which is not included in the

[2019-09-08 19:21] Alksar commented on #2175
Rather useful feature because [the Draft project](https://github.com/Azure/draft) stopped developing actively and "scaffold" seems a good alternative in the dotnet world.

[2019-09-09 00:44] balopat commented on #2837
Thank you for letting us know - not sure that "latest" is the right thing there anyway.
I raised PR: https://github.com/GoogleCloudPlatform/cloud-builders-community/pull/295/files
And for now we'll stick with this - I'll add it to our release process to update this image.
Next release is coming on Thursday - v0.38.0!

[2019-09-09 00:46] balopat commented on #2837
Also, in the meantime, FWIW, as a workaround, you can build your own buildstep image and use that in your cloudbuild.yaml.

[2019-09-09 11:34] dkirrane commented on #2830
No joy with that unfortunately.
I tried `skaffold deploy eu.gcr.io/my-project` but see `<no value>` for `SKAFFOLD_DEFAULT_REPO` when running the helm command. My skaffold file
[code]

[2019-09-09 14:50] ikogan opened #2840 "Skaffold Kaniko builds with private registry require local Docker authentication but don't respect it"
### Expected behavior
Cluster builds on a machine require only skaffold, kubectl, and kustomize to be installed. A docker engine should not be required. Even if I do have one installed and `docker login`, the build still fails.

### Actual behavior
At the end of the build, we get the following error:

[code]

The build itself works fine and I can see the image in the registry. I've confirmed that

[2019-09-09 15:45] balopat commented on #2840
Thank you for filing this! I am working on Kaniko + registry setups - https://github.com/GoogleContainerTools/skaffold/pull/2809 - I'll have a look at this case too

[2019-09-09 15:45] balopat commented on #2633
We should also try to cover this in https://github.com/GoogleContainerTools/skaffold/pull/2809

[2019-09-09 15:49] chanseokoh opened #2842 "Remove --XXenableJibInit requirement for "skaffold init" once IDEs are ready"
`skaffold init` fails without the flag `--XXenableJibInit` for a project configured with Jib.

[code]

At some point, we should enable it by default. This should probably need to be coordinated with IDE plugins.

@GoogleContainerTools/java-tools-build

[2019-09-09 15:51] chanseokoh opened #2843 ""skaffold init" should generate the new unified Jib config"
Once #2808 is merged, we should use the new unified Jib block. Currently, I get

[code]

@GoogleContainerTools/java-tools-build

[2019-09-09 15:52] chanseokoh commented on #2842
@GoogleContainerTools/java-tools-build

[2019-09-09 15:58] balopat commented on #2830
Sorry, I wasn't clear: try `env SKAFFOLD_DEFAULT_REPO=eu.gcr.io/myproject skaffold dev`

[2019-09-09 16:29] chanseokoh opened #2844 ""skaffold init" generates incorrect config for Jib project"
In #2843, the config for a Jib project has `module: demo`

[code]

However, the project was a simple Spring Boot demo generated from the [Initializr](https://start.spring.io/) and not a multi-module project. I had to remove `module:` to make it work correctly. Seems like a bug.

@GoogleContainerTools/java-tools-build

[2019-09-09 16:35] chanseokoh commented on #2844
In #2843, the config for a Jib project has `module: demo`

[code]

However, the project was a simple Spring Boot demo generated from the [Initializr](https://start.spring.io/) and not a multi-module project. I had to remove `module:` to make it work correctly. Seems like a bug.

@GoogleContainerTools/java-tools-build

[2019-09-09 16:46] priyawadhwa commented on #1358
Nope, we don't have support for changing the listening address right now. It could be added to the `portForward` section of the skaffold config, and then passed in to `kubectl port-forward` in the code.

[2019-09-09 17:35] ikogan commented on #2840
Thanks for responding so quickly! I've attached a [debug log](https://github.ohio.edu/gist/kogan/be44e301f51b030b955d8d9ec738c4af) of a skaffold run (using `skaffold dev -p poc -v debug`) as well as the [access log](https://gist.github.com/ikogan/7f2c7bc18ddd86d42f4401a19defcfde) in our private registry just in case these are useful for your efforts.

Just FYI, the IP addresses and host names have

[2019-09-09 18:36] balopat commented on #2844
cc @GoogleContainerTools/java-tools

[2019-09-09 19:24] loosebazooka commented on #2844
@TadCordle

[2019-09-09 20:05] TadCordle commented on #2844
Ah, I think I see the issue. In `SkaffoldInitMojo.java` in Jib, we do this check:
[code]
i.e. if the goal is running on the root project, don't provide the module name to skaffold. The problem is that a spring initializr project is not actually the root project.

pom.xml:
[code]

So, it seems we need to find a different way of determining whether or not a module is the root project.

[2019-09-09 20:31] nkubala commented on #2741
it looks like the profile behavior is working as intended here - the problem is that `/build/artifacts/-` isn't a valid JSON path, so the patch applier can't update the object. can you try removing the `-` at the end of your paths and see if that fixes your issue?

[2019-09-09 20:34] TadCordle commented on #2844
Alternatively, we could fix this skaffold-side by just checking the number of modules that were output by Jib, and ignore the project if it's only one.

[2019-09-09 20:36] quick-question commented on #2741
Hmm according to http://jsonpatch.com/ that should be a valid:

Is that not supported in this case?

[2019-09-09 20:38] quick-question commented on #2741
Great, I'll give that a try tomorrow and see if that works!

[2019-09-09 21:08] nkubala commented on #1178
this should be fixed through #1617, thanks @RoryShively!

[2019-09-09 21:08] #1178 closed

[2019-09-09 23:56] #2377 closed

[2019-09-10 10:52] nashyeung opened #2848 ""skaffold deploy --force=false" still force updates deployments"
### Expected behavior
The command "skaffold deploy --force=false" should not recreate pods in the deployment.

### Actual behavior
The command "skaffold deploy --force=false" recreates pods in the deployment.

### Information

- Skaffold version: v0.37.1
- Operating system: ubuntu 18.04
- Kubernetes environment: minikube v1.3.1 (vm-driver=none)
- Kubectl version: v1.14.0
- Contents of skaffold.yam

[2019-09-10 12:48] dgageot commented on #2583
It should indeed. Let me take a look

[2019-09-10 12:56] dgageot commented on #2583
On master, it does rebuild each time. Wasn't the case on v0.34.1, so something has been fixed.

[2019-09-10 12:58] dgageot commented on #2583
I'm going to close this issue as it now works as expected.

[2019-09-10 12:58] #2583 closed

[2019-09-10 13:23] dgageot commented on #1748
I'm going to assume this was fixed with the most recent changes to the helm deployer. Please reopen this issue if that's not the case. Thanks a lot for your contribution!

[2019-09-10 13:34] giladsh1 commented on #2837
Yes, that's exactly what I did... thank you @balopat !

[2019-09-10 13:37] giladsh1 commented on #2848
@nashyeung I ran into the same issue...
see #2687 and #2752 on how to fix.

tl;dr -  to prevent skaffold from recreating resources which didn't actually change,
add `-l skaffold.dev/run-id=SOMETHING` to your skaffold command.

[2019-09-10 13:55] Markcial opened #2849 "Make valuesFiles field on helm templatable"
### Expected behavior

When i try to deploy with my helm configuration loading files depending on environment variables.

[code]

I expect the helm deployer to load the configuration file defined for that environment.

### Actual behavior

The templater doesn't apply environment variables to that field.

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/helm.go#L262

[2019-09-10 15:34] balopat commented on #2848
Thank you for filing @nashyeung  and @giladsh1 for jumping in!
@nashyeung can you confirm that adding the runid override solves the problem?

I'm thinking though whether we should turn off run-id labelling when `--force=false`?

[2019-09-10 16:18] #1740 closed

[2019-09-10 16:28] priyawadhwa commented on #1629
Hey @bagf -- skaffold will replace the images in your Kubernetes manifests with a new tagged image during deploy. So you'll need to do a

`docker push "$IMGNAME:$IMGTAG"` so that Kubernetes can pull that image later for this to work.

[2019-09-10 17:01] balopat commented on #2849
Hi @Markcial, thank you for filing the issue!

I would like to understand your use case more:

Would the following work for you: use separate profiles per environment and override the `valuesFiles` field in the profiles? You can also activate profiles by env vars. I know this will come with some repetition, but it makes the possible environments explicit, which is typically preferred in case of en

[2019-09-10 19:35] Markcial commented on #2849
Hi @balopat, thanks for your quick reply.

For my specific case it comes with a lot of boilerplate.

I.E.:

[code]

vs

[code]

Currently we have separated profiles but i was looking to trim down some lines for our several microservices.

In case the feature is approved i feel confident enough to make a PR with the changes to make this work.

[2019-09-10 19:55] woodcockjosh commented on #2325
Just accidentally wiped out my shared dev environment with skaffold because I forgot to update the kube context. Would love this feature to be completed soon.

[2019-09-10 21:09] #2844 closed

[2019-09-10 21:10] TadCordle commented on #2844
This should be fixed with the next release of Jib.

[2019-09-10 21:36] TadCordle opened #2852 "Skaffold init uses incorrect image with single jib config + single k8s manifest"
I have a single-module maven project setup with a k8s yaml that points to `gcr.io/k8s-skaffold/project1`:
[code]

I have Jib setup to point to a different image, `gcr.io/tcordle-test/abc`:
[code]

When I run `skaffold init --XXenableJibInit`, the prompt is skipped because there's only one image and one builder. However, the output has Jib building to its own target image, instead of what's defined

[2019-09-10 21:46] TadCordle commented on #2852
It might make sense to just always add the `-Dimage=` arg, even if the target image is already configured by Jib, so skaffold keeps working even if the user changes their Jib configs without changing the k8s yamls.

[2019-09-10 22:19] balopat commented on #2837
Actually I'm not sure I understand this - this was merged, however as per the main docs:

https://cloud.google.com/cloud-build/docs/cloud-builders#community-contributed_builders

"Pre-built images are not available for these builders; to use these builders, download the source code from the cloud builders community GitHub repository and then build the image."

[2019-09-10 22:26] corneliusweig commented on #2325
@woodcockjosh I presume you are referring to the context via `skaffold.yaml` or global config feature?

[2019-09-10 22:47] bagf commented on #1629
Sorry it appears I was wrong. I can confirm that the images are being pushed with the correct tag in my build script. it's working as expected after query `kubectl get pod -o yaml` the correct image tag is present!

[2019-09-10 23:21] #2852 closed

[2019-09-11 00:27] woodcockjosh commented on #2325
@corneliusweig I'm referring to the kube context. eg `kube config set-context mycontext`

[2019-09-11 04:22] nashyeung commented on #2848
Tried using the build "770ccce". Confirmed the run-id fix works.
All these use cases work as expected, the deployment remains unchanged.
* skaffold deploy -l skaffold.dev/run-id=asdf
* skaffold (dev or run or debug) -l skaffold.dev/run-id=asdf --force=false

Still a bit confused by the debug log, since I always see `Running command: [kubectl --context minikube apply -f - --force]`, even when I run

[2019-09-11 11:58] none-da opened #2856 "Skaffold is not injecting the autogenerated dateTime tag into Helm values"
### Expected behavior
Skaffold should inject the generated dateTime tag into Helm's values properly.

### Actual behavior
Skaffold is not injecting the generated dateTime tag into Helm's values, but instead taking the digest value always.

### Information

- Skaffold version: v0.37.1
- Operating system: MacOS Mojave 10.14.6
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

[2019-09-11 14:23] priyawadhwa commented on #1629
@bagf that's great! Unless you have any more questions, can this issue be closed?

[2019-09-11 14:54] mikesplainsonos commented on #2142
We've done some testing with skaffold and helm 3, the most important changes in terms of standard run / delete workflow are removing the --name flag from the install and --purge flag from delete.  In a private fork we've added a flag to switch between helm 3 and helm 2 mode but not sure the right way to implement this upstream.

We also made it configurable to switch helm binary names since, for t

[2019-09-11 14:55] mikesplain commented on #2142
We've done some testing with skaffold and helm 3, the most important changes in terms of standard run / delete workflow are removing the --name flag from the install and --purge flag from delete. In a private fork we've added a flag to switch between helm 3 and helm 2 mode but not sure the right way to implement this upstream.

We also made it configurable to switch helm binary names since, for te

[2019-09-11 16:13] tejal29 commented on #1737
re-opening,
Since implementation is not yet done.

[2019-09-11 17:27] alejandrox1 opened #2858 "Error parsing YAML"
### Expected behavior
Have this bit of yaml:
[code]

### Actual behavior
When I run skaffold (`skaffold dev -v debug`) it returns with the following error:
[code]

### Information

- Skaffold version: v0.37.1
- Operating system: Ubuntu 19.04

[2019-09-11 19:37] AndiDog commented on #2142
Maybe change the manifest? Deprecate the key `helm:` and instead use `helm2:`/`helm3:`.

Or make a field `helm:version` mandatory after warning about the change for a few releases.

[2019-09-11 20:01] AndiDog opened #2860 "idea: run script to generate files listed under `deploy:kubectl:manifests`"
What about supporting a workflow where
- CI calls a ~custom~ single-source-of-truth `generate-manifest.sh` to create a full manifest, commits it to another Git repo which is watched by a CD tool (Argo CD, Flux, ...) and deployed using kubectl+prune (typical usage of Argo CD) to production.
- Developers should be working closely to this production CI/CD pipeline, and use Skaffold for that (for obvi

[2019-09-11 20:11] saturnism commented on #2317
quick ping on this one. We are starting a new project, and the global default repo is not helping us to expand easily.

[2019-09-11 20:23] zhuzeng commented on #2317
Yes the global default repo is definitely causing us some debugging time and only find out it's not any mis-configurations in the project itself.

[2019-09-11 20:58] #1134 closed

[2019-09-12 01:07] bagf commented on #1629
Yip, I'm happy 👍

[2019-09-12 03:59] balopat commented on #2858
This is fixed on master!

We have merged some fixes since then, it would be worthwhile trying to reproduce this on master / bleeding edge (https://skaffold.dev/docs/getting-started/#installing-skaffold).

We are also releasing on Thursday 0.38.0 that will contain the fix.

[2019-09-12 03:59] #2858 closed

[2019-09-12 04:00] balopat commented on #2858
see https://github.com/GoogleContainerTools/skaffold/issues/2816

[2019-09-12 06:16] bookmoons commented on #2670
Made a submission to start this off in #2835. @balopat

[2019-09-12 21:48] Jonathan34 opened #2872 "Enhancement: Add tag to image on skaffold deploy"
Hi,

Context: I have one GCR, three clusters for 3 different environments (dev, staging, prod).

In CI, I build the image using `skaffold build -q > build.out`
-> images are tagged with gitCommitSha.

In CD, I deploy the images using `skaffold deploy -a build.out` using kustomize deploy.
I have an environment variable that tells me what to deploy (DEV, STG, PROD)
-> once deployed to dev: add a tag

[2019-09-12 22:10] tejal29 opened #2873 "Release Skaffold v0.38.0 Release"
### Expected behavior
skaffold v0.38.0 should be released.

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
3. ...

[2019-09-13 00:24] #2873 closed, assigned to nobody

[2019-09-13 09:06] taisph commented on #2848
The label override doesn't work for me on 0.37.1. It still adds a random UUID to run-id and redeploys everything.
[code]

[2019-09-13 12:12] kvokka opened #2875 "Unable to use 2 or more deploy tools in 1 skaffold file"
Following [k8s docs](https://kubernetes.io/docs/concepts/configuration/secret/#creating-a-secret-from-generator) want to create secrets with `kustomize` and use `kubectl` for other configs.

### Expected behavior

No error

### Actual behavior

[code]

### Information

- Skaffold version: v0.38.0
- Operating system: Mac Os 10.14.6
- Contents of skaffold.yaml:

[code]

[2019-09-13 14:30] kvokka opened #2876 "Pods created by Helm hooks are not removed in dev mode"
The pods, which were created by Helm chart hooks are not deleted after termination of `skaffold dev`.

### Expected behavior

Everything, created by the chart in dev move should be deleted

### Actual behavior

The product of Helm

[code]

hook is still in place.

### Information

- Skaffold version: version 0.38
- Operating system: MacOs 10.14.6
- Contents of skaffold.yaml:

[code]

[2019-09-13 14:33] kvokka opened #2877 "Can not push skaffold to re-create Helm hook resource"
### Expected behavior

With deploy helm option `recreatePods: true` expected, that all resources should be re-created.

### Actual behavior

[code]

### Information

[code]

[2019-09-13 17:45] balopat commented on #2848
Thank you for the update! Closing!

[2019-09-13 17:47] balopat commented on #2848
I think we should still look into this.

[2019-09-13 21:32] nkubala commented on #2860
hey @AndiDog thanks for the issue! CI/CD and GitOps are something that we're looking very closely at right now, definitely agree with you that supporting these types of workflows is important. the current plan right now is to start by implementing a feature in skaffold that outputs the rendered k8s manifests so they can be used in GitOps or similar workflows, and also optionally deploy them as nor

[2019-09-13 22:35] eswidler commented on #336
For anyone running into this issue on a Docker-optimized OS:

I also had this issue, and it was due to me messing around with permissions for the "Compute Engine default service account" on IAM.  By default, the service account has "Editor" permissions, and you may see this error if you revoke whatever permission gave the service account access to pull from the registry.

[2019-09-14 19:50] davinkevin opened #2885 "No reload with skaffold dev on Kotlin code when using Jib with Java + Kotlin"
## Expected behavior
I am expecting the `skaffold dev` to reload a new "version" of the app on each modification of a java + kotlin project built with Jib.

### Actual behavior
The `skaffold dev` doesn't detect any changes on the file system when I change code in the Kotlin part.

### Information

- Skaffold version: v0.37.1
- Operating system: macOS
- Contents of skaffold.yaml:

[code]

### Extra

[2019-09-15 19:43] AndiDog commented on #2860
That's a nice and much anticipated feature 👍

My idea here, however, would amend that feature. The example `generate-manifest.sh` script can use any template tool (helm/ytt/envsubst/${var}...) to generate any manifest, and Skaffold would use it as base for filling in the image tags, generating the final manifest and deploying.

[2019-09-16 02:03] marti1125 commented on #2678
Hi I am interesting in contribute with this. Could you tell me more, please?

[2019-09-16 09:05] aeneasr commented on #2678
Regarding the feature or the implementation?

[2019-09-16 10:44] siwyd commented on #1269
I would find it very handy to be able to push multiple tags: the git commit, a sha256 tag and a tag with the branch name (I can get that from BRANCH_NAME in Jenkins for instance). That makes it easy to locate an artifact in a registry in a multitude of ways. When it comes to deploying, personally I always want the sha256 to be used so I'm 100% sure of which artifact is actually up and running at a

[2019-09-16 12:53] marti1125 commented on #2678
@aeneasr the implementation, please

[2019-09-16 13:21] aeneasr commented on #2678
I can not help with that unfortunately (not a Skaffold maintainer)

[2019-09-16 17:35] prary opened #2888 "PullSecretName is never null"
https://github.com/GoogleContainerTools/skaffold/blob/a892d7910f74fab9ead9930da3e3c26b74771757/pkg/skaffold/build/cluster/secret.go#L33

PullSecretName is set to DefaultKanikoSecretName in case it is empty.

https://github.com/GoogleContainerTools/skaffold/blob/a892d7910f74fab9ead9930da3e3c26b74771757/pkg/skaffold/schema/defaults/defaults.go#L213

[2019-09-16 17:41] tejal29 opened #2889 "Fix hardcoded config version in `generate-pipeline` testing."
### Expected behavior
When generating a new skaffold version, all integration tests should pass as is.

### Actual behavior
On Pr #2881, the following integration test failed
[code]
We don't need to compare `skaffold.yaml` as there are other integration tests that do that.
### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to rep

[2019-09-16 18:02] nkubala commented on #2885
cc @GoogleContainerTools/java-tools

[2019-09-16 18:18] #2889 closed

[2019-09-16 18:27] loosebazooka commented on #2885
@davinkevin thanks for reporting this. We're probably querying the maven system incorrectly here, we'll see what we can do to fix this.

[2019-09-16 18:29] nkubala commented on #2875
hey @kvokka thanks for the issue. can you elaborate a little more on your use case? do you have separate deployments that are being create through a combination of kubectl/kustomize/helm? is there a particular reason why you're not trying to deploy them all using one deployer?

[2019-09-16 20:37] cedrickring commented on #2678
@aeneasr This would require changes at two locations:

1. Modify the config to accept `setFile` values in [`HelmRelease`](https://github.com/GoogleContainerTools/skaffold/blob/dd9b3b3f66555f65e21b1de41a87a8a8dc28e6e1/pkg/skaffold/schema/latest/config.go#L433)
2. Append the values to the `helm` command [like here](https://github.com/GoogleContainerTools/skaffold/blob/dd9b3b3f66555f65e21b1de41a87a8a

[2019-09-17 01:11] marti1125 commented on #2678
@cedrickring  please review my [PR](https://github.com/GoogleContainerTools/skaffold/pull/2895) thanks!

[2019-09-17 07:39] strikeout commented on #2492
Can we take some inspiration by how DevSpace solved bi-directional host<>pod sync?
They inject a small binary into the container which in turn scans and passes a list of files not present on the host?
https://github.com/devspace-cloud/devspace/tree/master/sync/inject

[2019-09-17 08:13] kvokka commented on #2875
Thank you, @nkubala, for the response.

At the moment I have existed application, which is already on GKE in production. Different components was created at different timeframes, so each of them you different tools (including self written).
Current goal is to move the development process to local cluster for ease integration testing. And i want to minimize the harts/manifests/configs changing as m

[2019-09-17 09:42] Multiply commented on #2142
@mikesplain Can the private repository be shared? We're very much interested in testing helm3 with skaffold. Currently we're manually running some scripts prior to running skaffold locally, since we're already on helm3 for local development.

[2019-09-17 13:10] quick-question commented on #2741
Sorry for the delay. I will be trying this out later today.

[2019-09-17 13:29] grantstephens opened #2898 "Allow Absolute paths for file sync"
It would be very useful to be able to use local absolute filepaths for sync, such as:
[code]
This is not possible via the docker image and symlinks also do not work. Open to any other suggestions if there is another way around this.

[2019-09-17 14:47] petr-buchyn commented on #1748
Please reopen this issue, I'm experiencing this issue with the newest bleeding-edge release.

[2019-09-17 16:39] NavyM commented on #2009
@priyawadhwa we are actually trying to pass "--ssh default" thro skaffold build args but it is not working. If we pass " --sh default"  to the docker build command it works. Is there any way /example where you can show how to pass "--ssh default " to the buildArgs  in skaffold.yaml .  Thanks.

[2019-09-17 17:13] ktarplee commented on #2142
@mikesplain Do you have a fork of skaffold with your changes to support helm v3?

Seems to me that modifying the skaffold.yaml file in anyway to support helm v3 is the wrong way approach.  You can simply detect helm v3 with `helm version --short` and then skaffold can do the right thing.

[2019-09-17 17:35] priyawadhwa commented on #2009
Hey @NavyM just to clarify, you're using the local docker builder and not the custom builder?

[2019-09-17 18:42] marti1125 commented on #2699
Could I work on this ?

[2019-09-17 18:46] wstrange commented on #2542
@botwhytho Would be interested in seeing a sample of how you combine multiple skaffold.yaml files with kustomize.

[2019-09-17 19:32] NavyM commented on #2009
@priyawadhwa thanks for ur prompt reply. Yes, we are using the local docker . Following  is the skaffold.yaml where we are trying to pass  " --ssh= default " in buildArgs and for some reasons it is not working.
[code]

[2019-09-17 20:30] priyawadhwa commented on #2009
@NavyM would you be able to share the Dockerfile you are trying to build?

[2019-09-17 21:02] NavyM commented on #2009
Yep, here it is :FROM node:10.16 AS nodeBuilder
COPY . /var/www/html
WORKDIR /var/www/html
RUN yarn install --frozen-lockfile --non-interactive --cache-folder yarn_cache
RUN yarn build

FROM php:7.1-apache-stretch
WORKDIR /var/www/html
COPY --from=nodeBuilder /var/www/html /var/www/html

[2019-09-17 21:11] priyawadhwa commented on #2009
Hey @NavyM -- you'll need to specify the build arg in the Dockerfile before it can be used

[code]

see [documentation](https://docs.docker.com/engine/reference/builder/#arg) for more info.

[2019-09-17 22:24] nkubala commented on #1649
bumping this one down in priority since we haven't seen much activity on it in a few months so it might not be having as much impact as we thought originally, but still leaving it on our radar.

[2019-09-18 00:39] balopat commented on #2699
Hi @marti1125, absolutely!

[2019-09-18 04:12] tbarrella commented on #2768
Looks like this is tracked at https://github.com/GoogleContainerTools/skaffold/issues/2888

[2019-09-18 05:09] #2556 closed

[2019-09-18 07:22] Markcial commented on #2849
it's been a week. This is something worth to look for or is something the skaffold team is not thinking about supporting? Thanks

[2019-09-18 13:56] MisterTimn opened #2902 "imageStrategy Helm broken since v0.38, possibly v0.37"
### Expected behavior
Skaffold dev or run resulting in deployed and running pods

### Actual behavior
InvalidImageName errors on pods because the imageStrategy: helm option on skaffold config isnt respected
Actual image name becomes: `imageName:imageName` instead of `imageName:tag`

Tested on multiple of my projects. I then reverted to 0.36 because I knew this was the last version on which my depl

[2019-09-18 17:04] sirber opened #2903 "build with useBuiltKit fails while docker build succeed"
using useBuildKit, scaffold build fails while docker build succeed

### Expected behavior
work as expected

### Actual behavior
[code]

### Information

- Skaffold version: 0.38.0
- Operating system: Ubuntu 18.04 x64
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

cannot provide repos...

[2019-09-18 17:28] sirber commented on #2903
The fix was merged 21 days ago, and version 0.38.0 released 6 days ago.
Shouldn't the fix be included in the latest release then?

[2019-09-18 17:52] forgo commented on #2902
My team is also experiencing this issue.

[2019-09-18 18:00] #2656 closed

[2019-09-18 18:20] tejal29 commented on #2903
yes it should be. i am going to try to reproduce this.

[2019-09-18 18:30] dmmatson commented on #2902
Can confirm that rolling back from 0.38.0 to 0.37.1 fixes this issue for me.

[2019-09-18 19:47] quick-question commented on #2741
Well sorry again for the delay!

@nkubala Unfortunatley, removing the hyphens did not work.
Here is the error I'm getting:
`time="2019-09-18T15:44:17-04:00" level=fatal msg="creating runner: applying profiles: applying profile app1: invalid path: /build/artifacts/"`

[2019-09-18 20:21] balopat opened #2904 "Add support to buildpacks docs"
This looks great!
One major feedback - I would move the tutorial part (which is great btw) into the example folder's README.md itself instead of having it in the `How-to` section,  to make it consistent with the rest of the sections.

_Originally posted by @balopat in https://github.com/GoogleContainerTools/skaffold/pull/2893#issuecomment-532850231_

[2019-09-18 20:37] #2744 closed

[2019-09-18 20:44] tejal29 commented on #2744
This test does not check for number of calls any more. It also is not time dependent.

[2019-09-18 21:24] tejal29 opened #2906 "Flake TestPollResourceStatus/resource_stabilizes"
### Expected behavior
Test should not be flaky.
### Actual behavior
Master was [broken](https://travis-ci.com/GoogleContainerTools/skaffold/jobs/236961462#L202) due to
[code]
### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <comman

[2019-09-18 21:33] tejal29 commented on #2902
Thanks @forgo and @dmmatson for confirming the issue. The team will look in to this soon. For now, please revert to 0.37.1

[2019-09-18 21:38] tejal29 commented on #2902
I was able to reproduce this bug on my end. Will work on a fix.

[2019-09-18 21:49] tejal29 commented on #2902
#2887 fixes this issue. I am going to add this to our integration test suite.

[2019-09-19 08:38] franxois commented on #2431
Hi,
Thanks for the workaround, but for me ["-","k"] did works. I had to use

[code]

Cleanup doesn't work, ends with :
`error: only one of -f or -k can be specified`

[2019-09-19 12:32] strikeout opened #2909 "`skaffold dev` breaks on kustomize new `patches:` field format"
### Actual behavior

Running `skaffold dev` with a kustomization.yaml file containing the `patches:` field to target multiple objects (https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins/builtins.md#field-name-patches) fails with:
[code]
In the skaffold kustomize example (https://github.com/GoogleContainerTools/skaffold/blob/master/examples/kustomize/kustomization.yaml) it is cle

[2019-09-19 12:47] georgekarrv commented on #2902
I had to go all the way back to 0.35.0 to get correct imagenames

[2019-09-19 12:56] MisterTimn commented on #2902
Might be unrelated/other issue then? I can also confirm that 0.37.1 works for me. Using it right now until next release.

Do you get the double name same as I had or other image names?

[2019-09-19 13:03] yoranvanoirschot commented on #1649
@nkubala Actually this bug is a big issue for our company. Thus we stopped our research in how to implement Skaffold within our company.

Since we are a Azure oriented company this feature is very important to us and the fallback method (using native docker login) is not a very scalable and safe solution.

[2019-09-19 13:50] loosebazooka commented on #1649
@yoranvanoirschot you might want to follow up here: https://github.com/google/go-containerregistry/issues/421 as that is where the issue can be fixed.

[2019-09-19 14:19] georgekarrv commented on #2902
well i checked out master and applied the diff of the above pr and it works for me so that's what I'll stick with until an actual release

[2019-09-19 14:51] briandealwis commented on #2174
Fixed by #2306

[2019-09-19 14:51] #2174 closed

[2019-09-19 14:53] briandealwis commented on #1583
`--color` for the win!

[2019-09-19 14:53] #1583 closed

[2019-09-19 18:30] tejal29 commented on #2902
Thanks @georgekarrv, Just an update, i am working with @michaelbeaumont to get his PR merged in soon.

[2019-09-19 18:48] tejal29 commented on #1581
This is fixed in #2008 and #1812. Please re-open if you still see this.

[2019-09-19 18:48] #1581 closed

[2019-09-19 18:57] tejal29 commented on #785
The team is moving towards adding support for `helm3`, a `Tillerless`
As @yeahphil mentioned, there is way to support this via env variables. I am going to rank this at lowest priority.

[2019-09-19 19:11] tejal29 commented on #997
Skaffold now supports control api with manual trigger mode, which can run a build via sending a request to Control api e.g. for build.
[code]
I am going to close this request.

[2019-09-19 19:11] #997 closed

[2019-09-19 19:14] tejal29 opened #2912 "[Documentation] Add Documentation for Control API"
Users can use Control API and set up manual sync triggers if needed.

This will close #1954

### Expected behavior

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
3. ...

[2019-09-19 19:23] tejal29 commented on #1696
Relates to #2912
i think the first part is already done.
@nkubala Can you assign priority for this feature (or close)? Are we planning to work on skaffold serve in next months.

[2019-09-19 19:43] nkubala commented on #1696
this is closed with the addition of both the event and control APIs.

[2019-09-19 19:43] #1696 closed

[2019-09-19 20:00] tejal29 commented on #2317
Thanks @saturnism. This is on our team's radar. Bumping priority to p1.

[2019-09-19 20:19] tejal29 commented on #1954
@saturnism We now have a control api which can trigger a maunal build via curl.
I will close this once #2912.

[2019-09-19 20:42] tejal29 commented on #2740
Assigning priority/p3 for the last remianing item.

[2019-09-19 20:50] #2912 closed

[2019-09-19 21:19] balopat commented on #1068
I'm not sure this still makes sense. I wonder if the  the git tagging policy be sufficient. Please reopen if it isn't.

[2019-09-19 21:19] #1068 closed

[2019-09-19 21:38] tejal29 commented on #622
This is dupe of #1269

[2019-09-19 21:38] #622 closed

[2019-09-19 21:53] maxres-fr commented on #2089
@priyawadhwa and @dgageot  I'd like to have this issue re-opened (I think). I'm working with OpenShift at the moment which uses `cri-o`. I did a little digging around and the [OCI spec][1] does state that the reference may be a "tag" (annotation) or a digest. Maybe somewhere else in the OCI spec there's something that would cover this behavior. I believe that the there's another issue opened w.r.t

[2019-09-19 22:15] timsayshey opened #2915 "Hot reloading not working on Linux Mint"
### Expected behavior

Expected Skaffold to hot reload on file changes like it does on my Mac.

### Actual behavior

Skaffold not hot reloading when files are updated on Linux.

### Information

- Skaffold version: v0.38.0
- Operating system: Linux Mint 19.2
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Install Linux and try updating a file in any application while

[2019-09-19 22:22] timsayshey commented on #2915
After posting this I noticed that it detects changes to the `skaffold.yaml` file. However, it's not detecting changes to the `js` files.

[2019-09-19 22:31] tejal29 commented on #2906
saw this again, here
https://travis-ci.com/GoogleContainerTools/skaffold/jobs/237388492#L274

[2019-09-19 22:58] #2820 closed

[2019-09-20 04:51] tejal29 commented on #2915
@timsayshey can you please share your dockerfile and tiny example to reproduce.
I run skaffold of linux and I havent seen this issue.

[2019-09-20 08:11] mxey commented on #1276
@tejal29 I can use `skaffold build` in a pipeline, but I think `skaffold dev` always wants to deploy?

[2019-09-20 08:22] gabor-boros commented on #1312
👍

[2019-09-20 10:13] zmarouf commented on #1737
Hitting the same issue. Is there a way to just not add skaffold labels at all?

[2019-09-20 13:19] hugoduncan opened #2918 "panic: interface conversion: interface {} is int, not string"
When running `skaffold run` with a helm release, skaffold panics.

The panic seems to be caused by a `ConfigMap` in the chart, that uses port numbers for keys (for nginx-ingress configuration).

[code]

### Expected behavior

`skaffold run` runs without error

### Actual behavior
[code]
### Information

- Skaffold version: v0.38.0
- Operating system: Mac OS X
- Contents of skaffold.yaml:

[code]

[2019-09-20 15:51] cpjolly commented on #2630
I have exactly the same issue. I have a local values file that overrides image.registry and image.repository of a remote Helm chart values file. Skaffold seems to be trying to append to rather than replace image.tag with the sha256 value. The only work-around I found so far is to set image.tag: latest and pullPolicy: Always in the local values file.

[2019-09-20 22:03] tejal29 commented on #2100
Saw this again on my a my PR.

[code]

[2019-09-20 23:01] balopat commented on #2875
I think this is reasonable. To bump the priority, it would be great to have a bit more clarity on whether this would help other users as well, or not. It is a medium to large size change in the code, although absolutely possible.

[2019-09-20 23:03] balopat commented on #1269
Thank you for sharing. I think this is reasonable and we could start looking into it in the next coming quarter.

[2019-09-20 23:08] balopat commented on #2542
This is very interesting, but I'm not convinced yet that we can tackle everything with this. Also profiles seem to collide a bit with this direction. Can you share a little bit more about the structure of your project and examples of what your overlays/kustomizations are?

[2019-09-20 23:14] balopat commented on #2325
Kubecontext can be passed already as a command line flag.
Setting kubecontext in skaffold.yaml is being worked on and soon will be merged. Follow https://github.com/GoogleContainerTools/skaffold/pull/2510 for updates.
For kubeconfig you can follow https://github.com/GoogleContainerTools/skaffold/issues/2699.

[2019-09-20 23:16] balopat commented on #1137
Based on usage data and feedback, currently the sync is performant enough, at least I am not aware of any performance issues.
Closing this for now.

[2019-09-20 23:16] #1137 closed

[2019-09-20 23:24] balopat commented on #1151
This is now obsolete in the light of the Control API. The git repo watching will be tracked in https://github.com/GoogleContainerTools/skaffold/issues/1192

[2019-09-20 23:24] #1151 closed

[2019-09-20 23:27] balopat commented on #1192
Just throwing out another idea: I could imagine this to be useful in a `skaffold dev` situation when working in a larger team, and then skaffold could warn the user, pull down changes based on new commits in the git repos and redeploy.

If this is still useful for someone please let us know.

[2019-09-20 23:28] balopat commented on #731
@priyawadhwa  can we add this to your Kaniko registry revamp todo list? :)

[2019-09-20 23:30] balopat commented on #550
Hi All, do we still think this is useful? I would like to collect more data / community support before we raise the priority on this feature. Thanks!

[2019-09-20 23:32] balopat commented on #521
This looks like a useful feature but not super high on our priority list. If somebody is interested in picking it up, please let us know, we welcome PRs!!!

[2019-09-20 23:34] balopat commented on #170
Closing this as a dupe of https://github.com/GoogleContainerTools/skaffold/issues/2277 where we will track this feature request.

[2019-09-20 23:34] #170 closed

[2019-09-20 23:35] balopat commented on #132
I'm going to close this due to lack of reactions. If somebody is interested, let us know!

[2019-09-20 23:35] #132 closed

[2019-09-20 23:38] balopat commented on #183
I think this is not entirely out of scope - given that we share the artifacts through pushing - helm charts publishing could be another type of CI/CD use case. It would be great to see if anyone else is interested in this in the community to bump the priority.

[2019-09-20 23:41] balopat commented on #503
I agree that this is counter-intutitive but we'll have to be careful not to break people who are already using path resolution the current way. It would be great to have more feedback/support from the community around this.

[2019-09-20 23:45] balopat commented on #2334
I am going  to close this as a dupe of https://github.com/GoogleContainerTools/skaffold/issues/528 where we will track this feature request. Thank you! Please put thumbs up there :)

[2019-09-20 23:45] #2334 closed

[2019-09-20 23:45] balopat commented on #528
This is a valid use case and we should support it soonish in my opinion.

[2019-09-20 23:47] balopat commented on #841
I am going to close this for now - please let me know if this is still interesting.

[2019-09-20 23:47] #841 closed

[2019-09-20 23:49] balopat commented on #927
Wow, it is fun to find your old moonshot ideas @ahmetb :)
This got mostly implemented now by artifact caching (`--cache-artifacts=true` by default!)

[2019-09-20 23:49] #927 closed

[2019-09-20 23:50] balopat commented on #939
Now that we have automated pruning, I think we can close this. Please reopen if needed!

[2019-09-20 23:50] #939 closed

[2019-09-20 23:55] balopat commented on #980
It think we can add this as a boolean option and use profile patches to set it up, that are activated by command names.

[2019-09-20 23:56] balopat commented on #1153
We support this now - `skaffold deploy` takes a list of images or a JSON output from `skaffold build`

[2019-09-20 23:56] #1153 closed

[2019-09-21 00:08] balopat commented on #2918
Thank you for filing! This seems to be a bug due to a falsy assumption on the type of the keys here:

https://github.com/GoogleContainerTools/skaffold/blob/43e326aaebc48a1d2c17b374ac77a84ac8a45b9e/pkg/skaffold/deploy/kubectl/visitor.go#L73-L74

It should be relatively easy to fix this, here's a rough outline if somebody wants to raise a PR:
- [ ] write a unit test to cover the case in visitor_test

[2019-09-21 10:05] dkirrane commented on #841
Still interested but I think I saw another discussion about allowing to run a command to generate the version? So that maybe a better approach

[2019-09-23 00:41] tigerquoll commented on #2875
It would certainly help me as well.  I have some kustomize, and some plain kubernetes manifests.

[2019-09-23 01:58] tigerquoll opened #2920 "Multi-stage docker builds with minikube"
Skaffold v0.38.0

skaffold run: Base image builds fine and gets deployed and tagged to minikube. Dependant image build fails getting base image, with UNAUTHORIZED: authentication required.

### Expected behavior
Build and deploy of multi-stage docker files finishes successfully

### Actual behavior
Docker build of dependant image fails, with docker daemon not being authorised to pull base image.

[2019-09-23 02:23] tigerquoll commented on #2920
Apologies, appears to be a minikube issue and not skaffold.

[2019-09-23 02:23] #2920 closed

[2019-09-23 08:00] Edke opened #2921 "Problems while using buildah as builder via custom, issues with $PUSH_IMAGE and reference parsing"
### Expected behavior

I'd like to use buildah for image building while keeping skaffold in it's current role, so handle image name for each environment, generate tags etc.

So far skaffold does not support buildah as another builder (would be good idea to create a feature request?) so custom script is only solution right now.

Skaffold no matter what sets PUSH_IMAGE to false, from docs I was not

[2019-09-23 12:49] Multiply opened #2922 "Cache hash does not change when using buildArgs"
### Expected behavior
When I run `skaffold dev`, I expect to get unique cache hashes, when my `buildArgs` change.

### Actual behavior
The build is using the same cache key, regardless of the `buildArgs`

### Information

- Skaffold version: v0.38.0
- Operating system: Ubuntu 19.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
1. Create a dockerfile to demonstrate that

[2019-09-23 16:15] priyawadhwa commented on #731
@balopat for sure!

[2019-09-23 17:10] KDvu opened #2923 "Correct Tag Policy for Helm Deployments"
Hi, I've been using the `envTemplate` tag policy with the `{{.DIGEST}}` tag in the `dev` profile of my `skaffold.yaml` file.

`skaffold run -p dev` would run successfully when I was using Skaffold version `v0.37.0`, but now that I've upgraded to Skaffold version `v0.38.0` I can see from the logs that tagging images with `{{.DIGEST}}`, `{{.DIGEST_ALGO}}` and `{{.DIGEST_HEX}}` have been officially d

[2019-09-23 18:06] tejal29 opened #2925 "Docs: Every feature page should mention the command(s) they belong to."
### Expected behavior
For every page in https://skaffold.dev/docs/how-tos/ guide we should mention what phases or command the feauture is available in
e.g. Its not clear from https://skaffold.dev/docs/how-tos/filesync/ page whether filesync works for `debug` and `dev`.
On the contrary, prot-forwarding page explicitly mentions tit.
[code]

### Actual behavior

### Information

- Skaffold version: v

[2019-09-23 18:26] priyawadhwa commented on #2922
@Multiply thanks for filing this bug, I have PR open to fix the issue.

[2019-09-23 18:31] Multiply commented on #2922
That was incredibly fast. Thanks!

[2019-09-23 18:39] tejal29 commented on #2923
@KDvu Sorry for the confusion. I have brought this to our team's attention and we will definitely do a better job around documenting such deprecation in the release notes.

First off, looks like your config is very old.
1.  Please run `skaffold fix` to upgrade to latest version.
    to overwrite the skaffold config use `overwrite` flag mentioned here https://skaffold.dev/docs/references/cli/#skaff

[2019-09-23 18:46] tejal29 commented on #2921
@Edke in your script, you do a `buildah push` in the script which is assume does the push?
Can you push if only `PUSH_IMAGE` is set?
https://github.com/GoogleContainerTools/skaffold/blob/master/examples/buildpacks/build.sh#L8

Can you also give us some feedback on how we can improve the docs around it?
Not your fault, but looks like our [docs](https://skaffold.dev/docs/how-tos/builders/#custom-bui

[2019-09-23 20:51] tejal29 commented on #2909
@strikeout thanks for opening the bug,. We should support new kustomize patch format.

[2019-09-23 21:08] tejal29 commented on #2860
@AndiDog Skaffold build provides now spits out the artifacts it built in a [format](https://github.com/GoogleContainerTools/skaffold/blob/15868fb4b5818c576208c4e05f0a14e1f3d3ee56/cmd/skaffold/app/flags/build_output.go#L36)
It would be easy for folks to use `skaffold build --output <>` and then parse the built images values and replace it them `generate-manifest.sh` instead of skaffold providing ho

[2019-09-23 21:11] tejal29 commented on #2860
I am going to close this as supporting a `generate Manifest` is a subset of `pre-deploy` hook #1441

[2019-09-23 21:11] #2860 closed

[2019-09-23 22:39] tejal29 commented on #2922
Thanks @Multiply

[2019-09-24 06:10] #2678 closed

[2019-09-24 08:22] errordeveloper commented on #550
I think this would still be very useful indeed.

On Sat, 21 Sep 2019 at 00:30, Balint Pato <notifications@github.com> wrote:

[2019-09-24 17:40] KDvu commented on #2923
@tejal29 Thank you for your help.

I applied your suggested actions and it fixed my problem.

1. Running the `skaffold fix --overwrite` command updated the `apiversion` from `v1beta2` to `v1beta14`.
2. Removing the `{{.DIGEST}}` from the `tagpolicy` now causes the `skaffold run -p dev` command to successfully execute.

---

I want to add that although my problem was fixed, I had another problem wh

[2019-09-24 18:45] tejal29 commented on #2923
Thanks for the explanation!

[2019-09-24 18:45] #2923 closed

[2019-09-24 19:37] frejsoya opened #2933 "status check fails after deployments are complete"
Skaffold status check fails to find deployments, this only happens in the ci/cd pipeline not locally.
What stands out below is the --context parameter without any value.
[code]
- Skaffold version: version 0.38

Log of deployment:
[code]

[2019-09-24 20:22] tejal29 opened #2935 "Flake TestGetSetFileValues"
### Expected behavior
Test should not rely on order.
### Actual behavior
[code]
### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
3. ...

[2019-09-24 20:46] tejal29 commented on #2933
@frejsoya Thanks for opening this issue.

From the debug logs, looks like we are not passing the context correctly. Do you set context somewhere explicitly like in the command flag `--kube-context`?
I know we re-wired the `kubecontext` a little bit and maybe we are reading empty value somewhere.

[2019-09-24 21:00] #2922 closed

[2019-09-24 21:02] priyawadhwa commented on #2922
Hey @Multiply I just merged the fix. It should be in the next release; here's a link to download the [bleeding edge binary](https://skaffold.dev/docs/getting-started/#installing-skaffold) which should incorporate the fix now.

[2019-09-24 21:06] tejal29 commented on #2877
@kvokka the helm flag, `recreate-pods` applies to `helm upgrade` to restart pods when updating chart.
[code]
Skaffold uses `helm install` for installing a chart for the first time.  Hence this is expected.
Please perform `skaffold delete` and re-run.

I raised a PR to https://github.com/GoogleContainerTools/skaffold/pull/2937 to make it more clear on the docs.

[2019-09-24 21:06] #2877 closed

[2019-09-24 21:10] #2902 closed

[2019-09-24 21:13] tejal29 commented on #2915
@timsayshey i just realized you have not specifed sync files.

Please add a stanza like this https://github.com/GoogleContainerTools/skaffold/blob/master/examples/hot-reload/skaffold.yaml#L14 and update your config to latest version using
[code]

Thanks
Closing this for now. Please re-open if this does not work.

[2019-09-24 21:13] #2915 closed

[2019-09-24 21:16] tejal29 commented on #2876
hmm we actually rely on `helm delete` to delete the helm installation and do not provide the `--no-hooks` flag.

[2019-09-24 21:20] tejal29 commented on #2876
Please see https://github.com/helm/helm/issues/4434.
The hooks don't get deleted as per the design.
Please use the annotation mentioned in this doc to delete the hooks https://github.com/helm/helm/blob/49fc49ecb82a8cd9cbb9d8ba7ce85db2fc355893/docs/charts_hooks.md#hook-resources-are-not-managed-with-corresponding-releases

[2019-09-24 21:20] #2876 closed

[2019-09-24 21:22] tejal29 commented on #2478
@andreassiegel looks like you were able to get this work.
I am going to close this now. Please re-open if you need to address anything more.

[2019-09-24 21:22] #2478 closed

[2019-09-24 21:26] tejal29 commented on #2840
Thanks! Just an update, we are looking in to it.

[2019-09-24 21:27] tejal29 commented on #2162
Waiting for the proposal to get in.

[2019-09-24 21:28] tejal29 commented on #1961
Thank you @jimanvlad. we are actively working on this issue and share an update soon.

[2019-09-24 21:29] tejal29 commented on #2807
@davidbIQ friendly ping!

[2019-09-24 21:41] Multiply commented on #2922
@priyawadhwa Thanks! I'll test it first thing in the morning.

[2019-09-24 22:07] jimanvlad commented on #1961
Thanks for your help, I stand ready to test further updates.

[2019-09-24 22:15] balopat opened #2938 "Clear up {{.DIGEST}} env var support"
Context: https://github.com/GoogleContainerTools/skaffold/issues/2923
Currently we have failure if `.DIGEST` is in the `tag.envTemplate` but seemingly resolves in helm templates?

Let's check this out ... it is confusing. Also it seems with PR https://github.com/GoogleContainerTools/skaffold/pull/2793 we removed support for these however, we forgot to include it in the release notes...

[2019-09-24 22:31] tejal29 commented on #2282
Looks we need to follow up with some docs and user journey example on this. I am going to lower the priority on this

[2019-09-24 22:32] priyawadhwa commented on #1651
Closing as a dupe of https://github.com/GoogleContainerTools/skaffold/issues/1726, please follow there for more information about this feature.

[2019-09-24 22:32] #1651 closed

[2019-09-24 22:40] tejal29 commented on #1511
That is correct. We don't have trigger API documented so keep it open.

[2019-09-24 22:42] balopat commented on #2169
The "build once & deploy multiple places" is an interesting use case for CI/CD.
We could implement it in a way that skaffold deploy / tagging / repushing is a separate phase.
If people are interested in this, please thumbs up.

[2019-09-24 22:42] balopat commented on #2169
Also related to https://github.com/GoogleContainerTools/skaffold/issues/1269

[2019-09-24 22:42] #2935 closed

[2019-09-24 22:44] priyawadhwa commented on #1595
We added support for [localDir](https://skaffold.dev/docs/how-tos/builders/#dockerfile-in-cluster-with-kaniko) which uses an init container to untar the buildcontext & doesn't require any credentials.

Closing this as we have an alternative!

[2019-09-24 22:44] #1595 closed

[2019-09-24 23:48] balopat commented on #1395
This is interesting, for ephemeral environments we don't have a good answer for this.
I just ran into this in one of our integration tests and in the end ended up with templatizing the kustomization yaml.

As we discussed with @nkubala we could do something like `generateName`  behavior (https://kubernetes.io/docs/reference/using-api/api-concepts/)  in kubernetes for certain transformations in kus

[2019-09-25 10:48] frejsoya commented on #2933
I did a run with debug enabled on skaffold as the deployment (kubectl apply) works perfectly.

You can finde a line below in the logs that does:
[code]
Which works, so an empty context is apparently fine.

We are setting the namespace for all our deployments directly in yaml, thus kubectl apply works just fine as it is already set. However for the rollout watch command, you have to add the namespa

[2019-09-25 10:57] Edke commented on #2921
That is what I understand, was not able to figure it out how to configure skaffold so it sends PUSH_IMAGE=true.

In docs in table for custom builder it states:

What I don't understand is how can I configure custom builder so it sends PUSH_IMAGE=true.

But more on my problem:

- I'm using custom builder so I can drop my dependancy on Docker, so I can use other way to build image, for example `podm

[2019-09-25 11:07] Edke opened #2939 "Unable to use skaffold builder - archive/tar: invalid tar header"
### Expected behavior

`skaffold dev` uses `bazel` for image build, than image is re-tagged according to `skaffold.yaml`

### Actual behavior

It fails with message:
```FATA[0002] exiting dev mode because first build failed: build failed: build failed: building [project-dev1]: build artifact: loading image into docker daemon: reading from image load response: Error processing tar file(exit status

[2019-09-25 16:18] tejal29 commented on #2512
Bumping down the priority since, we are not actively working on this at the moment.

[2019-09-25 17:13] tejal29 opened #2940 "Reset Skaffold State when Build is started in dev loop"
### Expected behavior
Currently, the deploy state is "Complete" (from previous loop) when a new build loop started.
We should reset the state for `deployState` and `statusCheckState` added in #2929

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the

[2019-09-25 17:27] tejal29 commented on #2933
From the logs, looks like, the first time it finds the deployment.
[code]

Can you check if the deployment is getting deleted?  If will try this and add some debug lines here.

[2019-09-25 17:35] frejsoya commented on #2933
Yeah I checked earlier but I don’t have logs on my phone right now.

Deployment works fine. So objects do not appear to deleted. Ie deployment
already works fine. Also the empty context is also passed to kubectl apply.

What ‘kubectl rollout watch rollout’ does not have is a namespace parameter
and when we do ‘kubectl apply’ objects have the right namespace in yaml.

On Wed, 25 Sep 2019 at 19.27,

[2019-09-25 17:56] balopat commented on #1961
Thanks @jimanvlad - @priyawadhwa took over - she is our local kaniko expert.

[2019-09-25 23:31] dahovey commented on #2245
I agree. What I did was change `deployRelease` to check if

[2019-09-26 14:05] andreassiegel opened #2947 "skaffold deploy -p fails because of missing tag for build even with build: null"
I'm using a profile in my `skaffold.yaml` that is supposed to just deploy some general infrastructure components, like databases, nothing related to my application.
Therefore, I don't want to build anything.

As far as I remember, this used to work fine:
[code]

### Expected behavior

Nothing is built, regardless of what is defined in the main config.

### Actual behavior

`skaffold deploy -p infr

[2019-09-26 15:01] dkirrane commented on #1781
Fyi: at the moment this config throws `no matches for kind \"Kustomization\"`

[code]

1. `git clone https://github.com/dkirrane/strimzi-skaffold-kustomise`  (See README)
2. `skaffold depoy`
3. `no matches for kind \"Kustomization\" in version \"kustomize.config.k8s.io/v1beta1\"\n, err: exit status 1: exit status`

[2019-09-26 17:51] balopat opened #2948 "add -y to `choco install skaffold`"
`choco install skaffold -y` works better as it doesn't wait for a prompt, which can cause choco to hang.

[2019-09-26 18:08] priyawadhwa opened #2949 "Add port forwarding to skaffold run"
We have `--tail` for logs, so we should enable `--port-forward` for `skaffold run` the same way we do it for `skaffold dev`

[2019-09-26 18:31] priyawadhwa opened #2950 "Artifact caching should specify if image was found locally or remotely"
Current output:

[code]

Expected Output;
[code]

or,  if exists remotely,
[code]

[2019-09-26 19:33] frejsoya commented on #2933
I'm 99% percent sure nothing is getting deleted. Skaffold is doing everything and only skaffold.
If you have a tip on how to detect if they are deleted let me know :)

[2019-09-26 20:34] priyawadhwa opened #2951 "Add "Getting started with your project" to Getting Started"
At the end of our [getting started docs](https://skaffold.dev/docs/getting-started/) we should add in `Getting started with your project` which details `skaffold init` and points to the docs about Builders, Taggers and Deployers.

We should also link to:
- example repo in Github
- setting up file sync
- setting up port forwarding

[2019-09-26 20:36] priyawadhwa opened #2952 "Add simple file sync and port forwarding to getting started"
Or, to the tutorial in our getting started docs, so that these useful features are more visible.

[2019-09-26 22:09] priyawadhwa commented on #2947
Hey @andreassiegel would you be able to provide the project you are working on? I tried to reproduce this bug with the following skaffold.yaml:

[code]

and a simple helm chart deploying a Pod with a busybox container. Both `skaffold run -p deploy` and `skaffold deploy -p deploy` worked as expected. Could you provide your project, or provide one with the same bug, so that we can reproduce this iss

[2019-09-26 22:38] balopat opened #2953 "release v0.39.0"

[2019-09-26 23:49] #2953 closed

[2019-09-26 23:58] priyawadhwa commented on #2840
Hey @ikogan -- just to confirm, the Secret `kaniko-secret` is mapping `config.json` to the contents of your docker config, correct?

and does
[code]
work?

[2019-09-27 05:47] Edke commented on #2939
Re-tested on latest v0.39.0, no change, same results.

[2019-09-27 06:04] Edke commented on #2939
Wanted to be sure it's not Arch specific, tested on Bionic, problem is the same. Also updated git clone to http so it works for everyone.

[2019-09-27 11:07] andreassiegel commented on #2947
Unfortunately, I can't share the actual project, but I'll try to reproduce the problem with a sample project I can share. I'll update the issue once I got the chance to set that up.

[2019-09-27 16:26] prary commented on #2672
hi @balopat, how about the idea of copying .docker/config.json to emptydir instead of creating a secret and mounting it. It will negate the stale docker-config-UUID secret in case of ungraceful shutdown? And this will support parallel builds and hence can be used in build pipelines.

[2019-09-27 18:53] wstrange opened #2957 "Enhancement: Enable skaffold build to output kustomize edit set image instructions"
This is related to #1187.

I'm not sure how the Kustomize deployer fixes up docker image names before deployment.

The "kustomize" way of setting image names is documented here: https://github.com/kubernetes-sigs/kustomize/blob/master/examples/image.md

If the `build` phase of skaffold could output a file that contains a series of `kustomize edit set image` transformations, this largely solves the

[2019-09-28 22:12] ReDucTor opened #2959 "Additional helm flags per release"
Currently additional helm flags can only be specified that apply to all releases, it would be ideal to be able to specify per-release helm flags this would provide better flexibility for workarounds such as issue #1665 where `--repo` could be added as an install flag

[2019-09-30 01:50] kooyear opened #2960 "Trigger customised script after Deployment"
### Expected behavior
Is it possible for me to run some scripts after the Deployment step with kubestl. The problem I have is I try to deploy `Replicaset` with Skaffold. But it seems that the `Replicaset` doesn't support rolling update, so I want to delete the old Pods with my script and make sure the pods are created by the latest `Replicaset`, or any better solution I can apply?
### Actual behav

[2019-09-30 12:56] MisterTimn opened #2961 "N"
### Expected behavior

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command>`
3. ...

[2019-09-30 13:04] MisterTimn opened #2962 "No logs being tailed (Helm deployment + skaffold v0.39)"
### Expected behavior
Logs get tailed after skaffold dev|run

### Actual behavior
No logs are tailed.
I reported the same issue a while ago in #2040
Im now running v0.37b again (v0.38 had issue #2902 which made me already revert).

### Information

- Skaffold version: version 0.39
- Operating system: Manjaro Linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

Run skaff

[2019-09-30 13:06] #2961 closed

[2019-09-30 16:09] sryabkov commented on #785
Try `export HELM_TLS_ENABLE=true`

[2019-09-30 17:43] priyawadhwa commented on #2957
Hey @wstrange thanks for opening this issue!

cc @nkubala -- this seems related to `skaffold render`, do you know if we have any plans to add this feature?

[2019-09-30 17:52] priyawadhwa commented on #2959
Hey @ReDucTor thanks for opening this feature request. It seems reasonable to have per-release flags. The easiest way to implement this would probably be to add [HelmDeployFlags](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/latest/config.go#L412) to the [HelmRelease](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/latest/config.g

[2019-09-30 17:56] priyawadhwa commented on #2960
Hey @kooyear -- this is related to #1441. Right now, we don't have any support for scripts after deploy, but we are currently looking into it.

Is there any reason you are using a `ReplicaSet` instead of a `Deployment`? A`Deployment` can do a rolling update. From the Kubernetes docs [here](https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/):

**To update Pods to a new spec in a

[2019-09-30 17:56] #2960 closed

[2019-09-30 18:05] priyawadhwa commented on #2962
Hey @MisterTimn thanks for opening this issue. I just tried to reproduce this bug with our [helm-deployment](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/helm-deployment) example and with Skaffold built @ HEAD, but logs seems to be working as expected.

Would you be able to provide your project repo, or a sample project which can help us reproduce this bug?

[2019-09-30 18:30] priyawadhwa commented on #2933
Hey @frejsoya, looks like we set the [--namespace](https://github.com/GoogleContainerTools/skaffold/blame/4145d76cbccd0ea46ee31541f5f550368e257fa3/pkg/skaffold/deploy/resource/deployment.go#L74) flag for getting the rollout status, so I'm not sure why that isn't showing up in the logs.

It looks like the value of [--namespace](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffo

[2019-09-30 18:37] priyawadhwa commented on #2909
Hey @strikeout my guess is that `skaffold dev` is failing because it tries to determine file dependencies for the file watcher, which `skaffold run` and `skaffold deploy` don't have to do.

The fix for this would lie somewhere in [dependenciesForKustomize](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/kustomize.go#L175); we would need some way of applying the pat

[2019-09-30 18:38] priyawadhwa commented on #2807
Hey @davidbIQ are you still seeing this issue?

[2019-09-30 20:17] davidbIQ commented on #2807
Sorry for the delay, I am still seeing the issue.  It fails with versions 37.0, 37.1, 38.0, and 39.0  it works with 35.0.
I didn't go through the Azure Active Directory plugin steps because it looked like alot of work, and version 35.0 didn't need it.  I do the az and az acr logins from the powershell where I'm running the skaffold dev which i think provides the needed access (or 0.35 couldn't wor

[2019-10-01 07:26] none-da commented on #2856
Issue is still there in the recently released v0.39.0 version. 👇
[code]

[2019-10-01 14:39] briandealwis opened #2963 "Jib configuration block should allow explicitly setting type"
With #2808 we merged the `jibMaven` and `jibGradle` blocks into a single `jib` block where we determine the plugin-type based on the presence of [key files like `build.gradle`](https://github.com/GoogleContainerTools/skaffold/blob/4145d76cbccd0ea46ee31541f5f550368e257fa3/pkg/skaffold/jib/jib.go#L110-L129).  This isn't fool-proof and we should allow setting the value explicitly.

[2019-10-01 14:45] briandealwis commented on #2963
Note: #2808 uses an internal enum to represent the plugin type:
https://github.com/GoogleContainerTools/skaffold/blob/4145d76cbccd0ea46ee31541f5f550368e257fa3/pkg/skaffold/jib/jib.go#L45-L52

I had originally placed this enum definition inside the `schema` package, with appropriate `MarshalYAML()` and `UnmarshalYAML()` functions.  This supported validation during the unmarshalling phase, but the s

[2019-10-01 16:42] anarcher commented on #10
But, we have Tanka as ksonnet drop-in replacement.  :->

[2019-10-01 19:21] tejal29 opened #2965 "Fix linter on master"
### Expected behavior
Linter should pass on master.
### Actual behavior
Linter fails on master,
See here https://travis-ci.com/GoogleContainerTools/skaffold/builds/129910839
### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <command

[2019-10-01 19:25] tejal29 opened #2967 "Change "Completed" status to "Succeeded" for event API"
### Expected behavior
Currently we have "Build Complete", "Deploy Complete" as status messages when a build or deploy successfully complete.

While "Deploy Failed" and "Build Failed" when build or deploy failed.

After discussion with IDE teams, they mentioned we could change it to "Succeeded" instead of "Complete" to be in sync with "Failed".

### Actual behavior

### Information

- Skaffold vers

[2019-10-01 19:50] #2965 closed

[2019-10-01 19:52] priyawadhwa opened #2968 "Move default-repo documentation to a more visible place"
maybe getting started? I stumbled upon the default-repo docs in the [tutorials](https://skaffold.dev/docs/tutorials/) section, but it should be somewhere more visible for first time users.

[2019-10-01 19:53] priyawadhwa opened #2969 "Point users to helm/kustomize examples in skaffold init"
If we can somehow guess that users are using helm/kustomize during skaffold init, we can point them to helpful examples on the github page.

[2019-10-01 20:22] tejal29 opened #2970 "[Friction Log] Review and redesign streaming all output or `helm install` and `helm update`."
### Expected behavior

During on our internal dog- fooding workshops, I realized, if a  `helm` chart has a service defined, `helm install` output contain these lines on how to port-forward the service deployed.
[code]

Skaffold portforwards all services by default in `dev` with `--port-forward` flag. This lines are confusing and not needed.

### Actual behavior
Skafflold should not stream all the

[2019-10-01 21:48] nkubala opened #2971 "<Container was Terminated> logs on every pod restart"
These logs show up on every redeploy, since k8s will show them whenever a pod dies. On redeploys we expect pods to die, so these logs are spammy and unhelpful. We should filter them out whenever we do a redeploy, but not any other time, since they could actually be useful to see during normal monitoring.

[2019-10-01 21:52] nkubala opened #2972 "`skaffold init` erroneously thinks there are unused builder configs"
Running `skaffold init` on a modified version of the k8s Guestbook example, I'm prompted for the Dockerfile/k8s.yaml pairing as usual, and the skaffold.yaml I get at the end is what I want. However, I'm also getting a warning:

[code]

[code]

[2019-10-01 21:57] nkubala opened #2973 "Remove `gcr.io/k8s-skaffold` from examples"
All of the images built in the examples we provide are using the `gcr.io/k8s-skaffold` registry. We originally did this because our examples stemmed from the integration testing examples we were running, and our justification for leaving this was that users can use the default repo functionality to run them as is.

While the default repo can (and probably should) still be used to run these example

[2019-10-01 22:21] priyawadhwa commented on #2933
Hey @frejsoya could you try with the latest release [v0.39.0](https://github.com/GoogleContainerTools/skaffold/releases/tag/v0.39.0) and let us know if you are still seeing this issue?

[2019-10-01 22:23] tejal29 commented on #2957
@wstrange We have a PR in progress. Please track #2943

[2019-10-01 22:29] tejal29 commented on #2921
@Edke ah, ok.
For question 1:
please use
[code]
in your skaffold config to configure local push.

[2019-10-01 22:32] balopat commented on #1436
Hi @hach-que, thanks for opening this issue!
1. Filesync does work with Deployments, Skaffold syncs to the first pod of a deployment
2. Kustomize / kubectl & `hostPath`: can you explain your use case? Does the hostPath change per environment?

I don't think full manifest interpolation is something we would like to support.

[2019-10-01 22:33] balopat commented on #2888
This is resolved in #2910.

[2019-10-01 22:33] #2888 closed

[2019-10-01 22:34] tejal29 commented on #2921
@Edke Can you try again with this config and see if it fixes your issue?

[2019-10-01 22:48] nkubala commented on #2939
@Edke thanks for the issue. I was able to repro this on my machine, I'll dig in and see if I can figure out what's going on.

[2019-10-02 16:13] DrDonk commented on #2947
I am also having this same issue. Not using the profile switch but all my projects no longer deploy even if I specify the image tag. I can't share the project either as it is proprietary contract I am working on.

[2019-10-02 17:01] ikogan commented on #2840
Hi, yes, here's the redacted and decoded value of `kaniko-secret`:

[code]

[2019-10-02 17:12] #2596 closed

[2019-10-02 19:30] priyawadhwa commented on #2840
@ikogan sounds good, please let us know if you see the issue on Windows.

[2019-10-02 19:38] ikogan commented on #2840
@priyawadhwa just to be clear though, is it expected that a docker engine is required on the client machine to do builds in the cluster? The Linux machine I tried it on is one that's been doing local builds so it's got a configured docker engine.

[2019-10-02 19:45] priyawadhwa commented on #2840
@ikogan you shouldn't need Docker for this to work.

I just tried to reproduce this error with a private registry but wasn't able to, with the following steps:

1. kubectl create secret generic kaniko-secret --from-file ~/.docker/config.json -n middleware-poc
2. skaffold build -d <my private registry>

[2019-10-02 19:55] tejal29 commented on #2471
@dimovnike Thank you for your question.
Currently, we don't have a way to specify artifact dependency. Its on our radar and we are looking to implement it as part of https://github.com/GoogleContainerTools/skaffold/issues/2717

right now you can achieve build order in locally.
- Use local builder.
[code]

[2019-10-02 20:00] tejal29 commented on #543
Related to #2849

[2019-10-02 20:05] tejal29 commented on #783
Related to https://github.com/GoogleContainerTools/skaffold/pull/2804/files#diff-81b7c8fde9b80eacae6769099d68df32R49
And closing this for real.

[2019-10-02 20:05] #783 closed

[2019-10-02 20:07] tejal29 commented on #543
I am going to close this and we should track this in #2849

[2019-10-02 20:07] #543 closed

[2019-10-02 20:11] tejal29 commented on #2947
I think this was introduced by #2784

[2019-10-02 20:26] tejal29 commented on #2947
These `skaffold.yaml` works:

1.  no profiles and no build config
[code]

2. profile with null build config.
[code]

Also, this deploy does not work anymore on this config which is expected
[code]
[code]

[2019-10-02 20:53] tejal29 commented on #1753
I think should be fixed now since we use `RunIdLabel` to tail logs in deploy and run.

[2019-10-02 21:29] tejal29 commented on #2933
So, i tried to reproduce this on latest version of skaffold.
[code]

I also inspected the debug logs to determine if we are passing the `--namespace` and `--kubecontext` correctly.
the logs confirmed both were correct
[code]
@frejsoya Can you please confirm if the problem exists on [v0.39.0](https://github.com/GoogleContainerTools/skaffold/releases/tag/v0.39.0)

[2019-10-02 22:46] cliffburdick commented on #1753
@tejal29 which version do you think this was fixed in?

[2019-10-02 23:20] wstrange commented on #2957
@tejal29 Thanks. That PR looks like it is for kubectl. Does it also work with Kustomize?

[2019-10-02 23:36] frejsoya commented on #2933
It works. Thanks!

[2019-10-02 23:41] #2933 closed

[2019-10-03 09:11] andreassiegel commented on #2947
Cool, I'm glad you were able to reproduce the issue.

I ran into it again when I was working with another machine that still had an older skaffold version installed yesterday, so I can confirm that the issue must have been introduced recently.

I also was about to set up a sample project I can share to help reproduce the problem. This doesn't seem necessary anymore. Otherwise, just let me know.

I

[2019-10-03 16:30] nkubala commented on #2957
@wstrange kustomize implementation in the works, it'll go out with the next release. will having rendered manifests solve this issue for you?

[2019-10-03 16:39] loosebazooka opened #2979 "Add includeTar/includeTools in sync block"
This would allow containers that otherwise do not have the necessary container side tooling to use the skaffold sync features.

[code]

more context: https://github.com/GoogleContainerTools/skaffold/pull/2901#discussion_r325428048

[2019-10-03 16:48] wstrange commented on #2957
Rendered kustomize manifests definitely solves our most pressing issue for CD integration.

It would be really neat if skaffold could output `kustomize edit` commands that set the image names and tags.  I think this is the canonical way of setting image/tags in kustomize deployments.  I'm wondering if that file could be output in the build phase? So the CD process becomes something like:

[code]

[2019-10-03 19:43] tbarrella opened #2980 "Not able to keep idempotency when using the status check?"
I'm not sure about the best way to handle this, or if it should be supported (it might be strange if for example the label override affected the logic of the status check), but it would be nice to be able to do both.

### Expected behavior
Able to use `--status-check` with `-l skaffold.dev/run-id=` to use the status check while preserving idempotency to avoid unnecessary rollouts.

### Actual beha

[2019-10-03 20:06] #2906 closed

[2019-10-03 20:51] #1961 closed

[2019-10-03 21:35] cliffburdick commented on #2962
I'm seeing this issue as well @priyawadhwa. I was running 0.20.0 for a long time, and just updated to 0.39.0. With no other changes, the logs stop tailing in skaffold deploy --tail.

[2019-10-03 21:55] cliffburdick opened #2981 "--tail No Longer Works in Deploy Mode"
I was previously running v0.20.0, and running the following command:

`skaffold-0.20.0 deploy --tail -f skaffold-96eb58.yaml  --images myimage:1.0`

This worked fine, and the logs would tail properly, except for this bug: #1753

In that thread it was mentioned that 0.39.0 fixes this, so I tried it. Now, --tail no longer gives any output, even though I can see it in kubectl log. I'm also not sure i

[2019-10-03 22:18] tbarrella opened #2983 "Status check uses progressDeadlineSeconds in an unexpected way"
### Expected behavior
Potentially, either `--status-check` doesn't take a Deployment's progressDeadlineSeconds into account, or progressDeadlineSeconds is interpreted similar to the existing Deployment controller, allowing the status check to continue until the deployment is fully rolled out (or until statusCheckDeadlineSeconds). From [docs](https://github.com/kubernetes/kubernetes/blob/a3ccea9d87

[2019-10-03 22:37] martinhoefling commented on #2875
I would like to combine helm, e.g. some ready made charts off the shelf with some custom parts (ingress resources or PVC). So far, I create dummy helm charts for those parts.

[2019-10-03 22:51] priyawadhwa commented on #1961
Hey @jimanvlad I just merged #2976 -- could you try installing the [bleeding edge binary](https://skaffold.dev/docs/getting-started/#installing-skaffold) and adding the new `skipTLS` field to your skaffold config:

[code]

please let us know if this does or doesn't resolve your issue!

[2019-10-03 22:53] priyawadhwa commented on #731
Hey @azaiter , I added `PullSecretMountPath` as an option to `ClusterDetails` in #2975. Please comment here if this doesn't resolve your issue & we can reopen this one.

[2019-10-03 22:56] priyawadhwa commented on #2962
@cliffburdick would you be able to provide a sample to reproduce this error?

[2019-10-04 00:13] azaiter commented on #731
Hey @priyawadhwa, The MR looks good and should do the job, I've been using the build from [this MR](https://github.com/GoogleContainerTools/skaffold/pull/1700) for the longest time and the only difference is the environment variable setting for ECR region (in which I think it defaults to [us-east-1](https://github.com/GoogleContainerTools/kaniko/blob/4ce8b8db817047f0be7a78c0fdffab71f797e8f8/vendor

[2019-10-04 02:42] balopat commented on #2980
Thanks for opening! I'm surprised that this is not working, we should have a look at it.

[2019-10-04 02:53] balopat opened #2985 "skaffold run should work without docker on minikube"
On a machine that has no Docker for Desktop installed, I expect skaffold to be able to build and deploy against minikube using the Docker daemon hosted inside minikube.
It seems like it fails on trying to find the desktop credential helper - not sure why need that - we should check it out if it's fixable or not:

[code]

[2019-10-04 03:07] cliffburdick commented on #2962
Hi @priyawadhwa , I opened another ticket at #2981 . I posted the skaffold file there as well. I also tried version 0.37.0, and it didn't work, but 0.20.0 did. Did you need more than that to try to reproduce it, or do you want me to try something on my end?

[2019-10-04 03:07] balopat commented on #2985
Ignore, this was an error on my end, I had an old ~/.docker/config.json lying around

[2019-10-04 03:07] #2985 closed

[2019-10-04 05:25] tejal29 commented on #2983
@tbarrella Thanks for opening the issue. The `statusCheckDeadlineSeconds` overrides the `deployment.Spec.ProgressDeadlineSeconds` if it's greater than `statusCheckDeadlineSeconds`.
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/status_check.go#L106

This is intentional, so deploy errors out  when user expect them to stabilize within what was specified in the `skaf

[2019-10-04 05:47] tbarrella commented on #2983
Hi @tejal29, thank you for you reply! Before you posted it I reread what I wrote and was just about to clarify some of my thoughts.

When I saw `statusCheckDeadlineSeconds` in the Skaffold API it sounded exactly like something I wanted and so was eager to try it. Without the code, the way I interpreted it was that it would poll for up to `statusCheckDeadlineSeconds` and error if the rollout wasn't

[2019-10-04 08:46] #2918 closed

[2019-10-04 10:09] raul1991 commented on #1781
For me,

This configuration leads to an error

[code]

**Error**

`kubectl --context <my-context> create -k --dry-run -oyaml -f <some-path>/kustomizer/dev/kustomization.yaml`

Since I added the -k it seems only logical that it appears after the kubectl create but why does it appends -f when -k is already given ?

[2019-10-04 10:38] NicklasWallgren commented on #1732
This issue has reappeared in v0.39.0

[code]

[2019-10-04 10:48] NicklasWallgren opened #2986 "[Reappeared] Build and push to an insecure registry completes unsuccessfully"
Expected behavior
A Skaffold driven build should complete successfully even if the image is pushed to an insecure registry.

Actual behavior
Skaffold errors on building/pushing the new image.
[code]

Works as expected in v0.35.0.

See https://github.com/GoogleContainerTools/skaffold/issues/1732 for more information.

[2019-10-04 12:45] jimanvlad commented on #1961
Hi @priyawadhwa,

I get an error that the syntax is not correct. Do I need to change the apiVersion?

`time="2019-10-04T13:43:54+01:00" level=fatal msg="creating runner: parsing skaffold config: unable to parse config: yaml: unmarshal errors:\n  line 28: field skipTLS not found in type v1beta13.KanikoArtifact"`

[2019-10-04 14:29] jimanvlad commented on #1961
Thanks, @priyawadhwa! The processes progressed past the verification stage, but it errored out at another step, later in the pipeline:
[code]

Not sure if this is related to the above, or whether I need to open another ticket?

[2019-10-04 17:21] balopat commented on #2981
I found the bug - here's a sketch of the solution:  https://github.com/GoogleContainerTools/skaffold/pull/2987
If anybody wants to help out finishing it, I'm more than happy to give up the code there.

[2019-10-04 17:27] balopat commented on #2962
hey @cliffburdick can you check if https://github.com/GoogleContainerTools/skaffold/issues/2981#issuecomment-538486920 fixes this too or not?

[2019-10-04 17:40] balopat commented on #2986
Hi @NicklasWallgren did you try using `insecureRegistry` in either the CLI / skaffold.yaml / global config? https://skaffold.dev/search/?q=insecure%20registry

[2019-10-04 18:29] balopat commented on #511
This is now implemented both as a flag and as `deploy.kubeContext` in the YAML.

[2019-10-04 18:29] #511 closed

[2019-10-04 18:48] ivanporty commented on #511
Curios, does flag takes precedence?

[2019-10-04 23:49] priyawadhwa commented on #731
Sounds good, thanks @azaiter ! If the env variable is necessary I think it makes sense to support that in the pod.

[2019-10-05 04:32] prary opened #2990 "Support for Ephermal Storage for Kaniko pod"
This is a feature request for adding support for Ephermal Storage for Kaniko pod.
Presently we can specify CPU and memory for kaniko pods but not Ephermal storage.

[2019-10-05 22:30] corneliusweig commented on #2699
@marti1125 Are you still working on this? If you need input or support feel free to ping me.

[2019-10-06 15:47] marti1125 commented on #2699
yes please I need help @corneliusweig at slack

[2019-10-06 17:35] corneliusweig commented on #2699
I found your message in the #skaffold channel and pinged you. If feasible, I would keep the conversation on github though.

[2019-10-07 01:18] theEndBeta opened #2994 "helm: overrides should override passed valuesFiles"
### Expected behavior

Values passed to `overrides` in the helm deployer should override values passed in via `valuesFiles`.

### Actual behavior

`valuesFiles` overrides `overrides`.

### Information

- Skaffold version: 0.38.0
- Operating system: macos 10.14.6
- Contents of skaffold.yaml:

[code]

As far as I can tell, adding `-f overrides.yaml` after the `valuesFiles` files (rather than before

[2019-10-07 05:37] botwhytho commented on #2542
Hi, the idea behind the feature request is centralizing best practices and 'shared config' while keeping project/repo specific details where it belongs (in a specific repo). I think this works in tandem with profiles (and now yaml anchors, as I saw the merged PR), and not against it.

Currently we have a central repo that has some kustomize and scaffold config. We might have a base skaffold file s

[2019-10-07 13:29] atrujillofalcon commented on #1649
@loosebazooka @nkubala This is a big stopper in my company project that use AKS . https://github.com/google/go-containerregistry/issues/421 is already merged and close. How I can integrate the fix into my skaffold project?

[2019-10-07 13:46] dgageot commented on #1649
I'm going to try an use the latest version of google/go-containerregistry. However, it looks like it's going to be a go modules hell.

[2019-10-07 17:30] atrujillofalcon commented on #1649
@dgageot I'm a Go newbie, but if I can help with something I would be happy.

[2019-10-07 18:08] balopat commented on #2990
Thanks for this @prary, it should be relatively easy to implement [local ephemeral storage](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#local-ephemeral-storage) requests. PRs are welcome!

[2019-10-07 18:55] balopat commented on #2994
This makes sense to me. Mostly because overrides is finer grained but also because "overrides" as a term is more suggestive towards higher precedence. Yes, flipping the order of these two blocks should do the trick:

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/helm.go#L244-L265

However, as Helm deployer is in beta, I would take care, because this might break p

[2019-10-07 19:46] #2812 closed

[2019-10-07 19:51] balopat commented on #2938
We should still add a skaffold fix for this. However I did add this to the release notes. Bumping down to p2.

[2019-10-07 19:53] balopat commented on #2940
As there is not much dependency on this just yet, I am bumping it down to p2

[2019-10-07 20:20] tejal29 opened #3010 "Users get prompted by Skaffold with NPS, CSAT form links"
### Expected behavior
Skaffold users should see a prompt to fill in CSAT survey
 - Once every two weeks until they fill the survey
-  Once per 3 months.

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sample skaffold project
2. `skaffold <comman

[2019-10-07 20:39] corneliusweig commented on #511
@ivanporty Yes, CLI _always_ takes precedence. The docs for this are in the making: https://github.com/GoogleContainerTools/skaffold/pull/2992/files?short_path=3223dfc#diff-3223dfc377d418dcd1f5839d0235685b

[2019-10-07 22:32] corneliusweig commented on #1173
In addition to the example I have also created a small demo application with a step-by-step guide to get started with `create-react-app` and Skaffold: https://github.com/corneliusweig/skaffold-create-react-app

[2019-10-08 01:09] prary commented on #2990
I raise a PR for it, can you assign it to me @balopat

[2019-10-08 21:07] briandealwis opened #3020 "Spurious port-forwarding failures causing debug failure"
### Expected behavior

### Actual behavior

CloudCode for VS Code is reporting frequent failures where they try to connect to a port-forwarded debug port only to have it torn down.  They see text like the following:

[code]

I've been able to reproduce this with the [nodejs-guestbook example](https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/nodejs/nodejs-guestbook) with `skaff

[2019-10-08 21:58] tejal29 commented on #3020
Events stream https://docs.google.com/document/d/14MBOsdOcQHLLFqDxUJQDwnnQvju7TY3IqTidmVNGr5A/edit

[2019-10-08 23:11] tejal29 commented on #3020
After discussing with the team, i think this is expected until #176 is resolved i.e. we wait for pods to stabilize.
@tejal29 already has some prs #3016 #2932 in progress. Lets check this back in when pod Stability is finished.

[2019-10-09 07:10] prary opened #3022 "Cross-compiling for Darwin amd64 fails on rhel linux"
VERSION=0.38.0 GOOS=darwin make FAILS
### Expected behavior
It should build skaffold binary
### Actual behavior
[code]
### Information
Go version
[code]
- Skaffold version: 38

Somewhere I  read to try with CGO_ENABLED=0 but it fails

[2019-10-09 09:07] harshanarayana commented on #2994
@balopat Would you lease assign this over to me?

[2019-10-09 17:22] prokher commented on #2741
I suppose I have an issue very close to this one. Consider the following `skaffold.yaml`:

[code]

When I run:

[code]

The output is the following:

[code]

As a result I simply cannot make Skaffold profiles work. What I am trying to achieve is to have different tagging strategies in different profiles.

[2019-10-09 18:03] prokher commented on #2717
It looks somewhat related to #889 .

[2019-10-09 18:04] prokher commented on #2717
BTW, don't you guarantee the build order to be the same as items in the `artifacts` list? Cause if so, someone could you this as a workaround, at least for `skaffold build` invocation.

[2019-10-09 18:29] strowi commented on #2717
@prokher at least with the cluster-build there is no build-order, since this will start all builds in parallel.

[2019-10-09 19:49] tejal29 opened #3023 "[EPIC] Skaffold docs"
This issue is an EPIC for tracking all the docs work.

Docs:
-  #2465 - Skaffold diagnose docs ( Cancelled for this EPIC)
- [x] #1703  ( event api + control api)
  lets break it into 2
   - [x] Event API docs ( in progress @tejal29)
   - [x] Trigger api docs
- [x] #3024 ( skaffold dev, run, debug docs)
- [x] Make "Insecure Registries title linkable" here https://skaffold.dev/docs/concepts/image_re

[2019-10-09 20:59] tejal29 opened #3024 "[Docs] Operating modes page should describe skaffold dev, run, debug modes."
### Expected behavior
Improve  https://skaffold.dev/docs/concepts/modes/ page to
- Add links to `dev`, `run` mode
- Mention `debug` and link to debug page. ( we already have it on how-to guides)

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the sa

[2019-10-09 21:18] tejal29 opened #3025 "Flake: 403 API rate limit exceeded"
### Expected behavior
This is a tracking issue to track jib failures due to Github Rate limit.
Test should pass all the time.
### Actual behavior

We saw our first Github API limit error
[code]
Since We introduced #2864
### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. a clonable repository with the

[2019-10-10 11:31] FredericLatour commented on #2019
@balopat Should not this issue be re-opened?

Clean up on ctrl-c does not work for me either

with
- skaffold 0.39.
- minikube v1.3.1 (hyper-v)
- windows 10

It says "Cleaning up...' on Ctrl-c but nothing happens

[2019-10-10 14:36] demisx commented on #2019
Confirming this issue still exists in the latest `v0.39.0`. It happens so often, that I made a separate npm script to clean up leftover k8s resources after stopping skaffold.

[2019-10-10 14:46] dgageot commented on #2019
@demisx @FredericLatour could you share a detailed log?

[2019-10-10 15:17] cliffburdick commented on #2981
@balopat would you still like me to compile a custom version and test this? It seems like you already wrote the tests and merged it.

[2019-10-10 15:31] demisx commented on #2019
@dgageot Any suggestions on how to capture what you are were looking for? Because my skaffold immediately exits as soon as hit `[Ctrl]+C`.  Thank you.

[2019-10-10 15:33] dgageot commented on #2019
Sure. I would try skaffold dev -vdebug

[2019-10-10 21:15] #3025 closed

[2019-10-10 22:18] balopat opened #3035 "cut 0.40.0"

[2019-10-10 22:35] balopat commented on #3022
can you try `make cross` and show all the logs?
We cross compile on linux on every commit to master.

[2019-10-10 22:38] balopat commented on #2994
sure @harshanarayana - how are you planning to go about this?

[2019-10-10 23:25] balopat commented on #2837
I am going to revert back to `latest` policy. This adds an extra manual step in our release process.
We are planning to release the coming quarter or so an official Cloud Build Step image - in that case you don't have to rebuild it all the time - in the meantime it is a good idea to just build it and cache it based on the community `Dockerfile`.

[2019-10-10 23:25] #2837 closed

[2019-10-10 23:57] saturnism commented on #1954
I feel curl/api is a very different use case than a file trigger though. I.e., file based trigger is the most natural/integratabtle w/ existing toolings.

[2019-10-11 02:21] demisx commented on #2019
@dgageot I've tried with the debug flag and skaffold wrote tons of info upon startup. The environment started normally. I then hit `[Ctrl]+C` and all skaffold resource got cleaned up as expected. No issues. I then started skaffold for the second time. It started environment without any issues again. However, this time when I hit `[Ctrl]+C` after it's being up for a few mins, the skaffold simply qu

[2019-10-11 02:51] demisx commented on #2019
On another laptop, I've got some messages written after hitting `[Ctrl]+C`:

[code]

[2019-10-11 11:37] dkirrane opened #3037 "[Feature Request] skaffold-config option to always create and use build_result.json"
When using `skaffold build` followed by `skaffold deploy` I always find that I require the `build_result.json`.

[code]

To reduce the number of flags to remember it would be good if `skaffold build` always created a `build_result.json`. And then `skaffold deploy` just always use `build_result.json` if it exists.

I think this is a sensible default behavior but if not maybe a `skaffold config` opt

[2019-10-11 12:21] harshanarayana commented on #2994
@balopat instead of just altering the ordering, I was actually considering of merging the data provided by each means and generate one final values file and use that. This way, there won't be any confusion on what value would be used.

The order would be

1. valuesFiles array where each of them are processed in the order and the next one overrides the previous one if there are duplicates
2. Overri

[2019-10-11 13:17] balchua commented on #1961
@priyawadhwa im also getting the x509 unknown authority.  The strange thing is, the error pops up before the kaniko pod starts.  It looks like skaffold is doing some sanity check on the repositories defined in the Dockerfile.  Such as cache.
All my base images are from a https self signed certs registry.

[2019-10-11 15:16] jimanvlad commented on #1961
This fix worked for me, thank you!

[2019-10-11 17:14] nkubala commented on #1511
@etanshaul you should be able to start skaffold with the `--auto-deploy=false` flag, which will still trigger builds/syncs when source files are changed but will skip the deploy phase. the `--trigger` flag is to control the notification mechanism in the file monitor so you probably don't want to use this, unless you want to skip builds and syncs as well.

i'm gonna close this issue for now, let me

[2019-10-11 17:14] #1511 closed

[2019-10-11 17:30] priyawadhwa commented on #1961
Great, thanks @jimanvlad !

[2019-10-11 18:19] ikogan commented on #2840
It seems like at this point, setting up the correct docker config on my local machine works so I'll go ahead and close it, but is it possible to just have it use the kaniko-secret in the cluster rather than having to manually configure docker locally?

[2019-10-11 18:19] #2840 closed

[2019-10-11 18:45] priyawadhwa commented on #2840
@ikogan you can specify

[code]

if the docker config already exists as a secret in your cluster.

[2019-10-11 19:03] ikogan commented on #2840
Yes, but until I _also_ create a `~/.docker/config.json` on my local machine, The build fails as I described above:

[code]

Here's the `skaffold.yaml` I had when I got that error:

[code]

[2019-10-11 20:22] priyawadhwa commented on #2840
Hey @ikogan this looks like it could be a separate bug -- could you open another issue for it? Thanks.

[2019-10-11 20:35] #3035 closed

[2019-10-11 22:36] balopat commented on #2807
Thanks for the details! I am still working out getting a test account for this...sorry for the delay...

[2019-10-11 22:57] balopat commented on #3037
Thanks for opening @dkirrane!
I'm okay with having that as a default for `skaffold build`.
PRs are welcome!

In the meantime: Even though not perfect but you could use `skaffold build --file-output=built.json` or the corresponding env var `env SKAFFOLD_FILE_OUTPUT=built.json skaffold build`

[2019-10-11 23:32] balchua commented on #1961
@jiminvlad does your base images that you have used in your Dockerfile are in the same registry with self signed certs?
Thanks.

[2019-10-12 09:29] balchua opened #3039 "Improve support for registries with self-signed certs (x509: certificate signed by unknown authority)"
### Expected behavior
Skaffold should allow the use of private registries using self signed certificates.

### Actual behavior
Skaffold complains about the certificate being signed by unknown authority.

### Information

- Skaffold version: tested with bleeding edge (the version with `skipTLS` option)
- Operating system: RedHat 7.5.
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the

[2019-10-12 15:18] jimanvlad commented on #1961
Yep, base image pulled in from a private artifactory registry.

On Sat, 12 Oct 2019 at 00:32, balchua <notifications@github.com> wrote:

[2019-10-14 02:08] balchua commented on #1961
Thanks @jimanvlad.  I wonder where could i be wrong.

[2019-10-14 06:26] solsson commented on #2466
The 0.40.0 release looks strange too:

[code]

[2019-10-14 08:32] dgageot commented on #2466
@solsson This should be good now!

[2019-10-14 09:20] dgageot commented on #2947
The real issue here is that `build: null` doesn't clear the default build section out. `skaffold deploy` used to kinda work because, before #2784, we weren't testing for missing tag (which was introducing a whole set of errors).

You can check the final `skaffold.yaml` with `skaffold diagnose -o profile`. You should see that the default build section is still there.

One way to actually remove it

[2019-10-14 09:45] dgageot opened #3044 "Unable to remove a section with a Profile using a `remove` patch"
### Expected behavior

Profiles can be used to remove values in `skaffold.yaml`.
For example, this `no-build` profile can be used to remove the `build` section:

[code]

### Actual behavior

`op: remove` never removes any value.

[2019-10-14 09:47] atrujillofalcon commented on #1649
@dgageot @nkubala any progress? :(

[2019-10-14 09:48] prary commented on #3022
Here is the output
[code]

BTW I am using rhel image and facing issue in bsd.go file

[code]

[2019-10-14 09:51] dgageot commented on #2947
When #3045 is merged, you will also be able to use this shorter and clearer syntax:

[code]

[2019-10-14 11:45] prary opened #3047 "auth/oidc.(*oidcAuthProvider).idToken: invalid memory address or nil pointer dereference"
Facing random error with .kubeconfig file, it goes on relogin to cluster

### Actual behavior
[code]

### Information

- Skaffold version: 38
- Operating system: linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

Its a continous random error which goes after relogin. AuthToken expiry is not the reason coz it when token is valid.

[2019-10-14 12:15] prary opened #3048 "kaniko pod exist on cancelling skaffold"
### Expected behavior
Kaniko pod is not killed it should be deleted from user namespace
### Actual behavior
Run skaffold build, cancel the build in middle.
### Information

- Skaffold version: 38
- Operating system: linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
Run a skaffold build
Kill the build after kaniko pod is scheduled and before pod has killed itself.

[2019-10-14 12:34] dgageot commented on #2986
@NicklasWallgren you are using Jib, right?

[2019-10-14 12:42] prary opened #3050 "Add cache-artifacts setting to skaffold.yaml"
### Expected behavior
Skaffold should use caching when enabled in yaml by default it should be disabled
### Actual behavior
Skaffold is using cache
### Information

- Skaffold version: 38
- Operating system: linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
Run a skaffold build
It looks for image in remote cache.

Logs

[code]

[2019-10-14 12:58] dgageot commented on #2986
@NicklasWallgren Can you try without artifact caching? It was activated by default in 0.36.0, I think. Something like `skaffold build --cache-artifacts=false`

If that works, I think it's because you now have to configure skaffold to handle insecure registries too. See https://skaffold.dev/docs/concepts/image_repositories/#insecure-image-registries.

Before 0.36.0, Skaffold would let Jib tag the i

[2019-10-14 13:00] dgageot opened #3051 "Should skaffold configure insecure-registries from ~/.docker/deamon.json?"
In order to use insecure registries with Docker, users will have to edit `~/.docker/deamon.json`.
Maybe Skaffold could read that file to configure its list of insecure registries.

[2019-10-14 13:01] dgageot commented on #2986
Maybe Skaffold could read the list of insecure registries from `~/.docker/deamon.json`
See https://github.com/GoogleContainerTools/skaffold/issues/3051

[2019-10-14 14:21] demisx commented on #2019
@dgageot Got it. Most often, there is nothing written to the log at all - the process simply quits and exits back to my shell. I'll post it here if I notice anything different.

The same issue exists in the latest v0.40.0

[2019-10-14 14:25] FredericLatour commented on #2019
@dgageot same thing for me. Not a show stopper though as I can run a skaffold delete command.

[2019-10-14 14:55] dgageot commented on #1649
@atrujillofalcon Could you try https://github.com/GoogleContainerTools/skaffold/pull/3053 and see if that's better?

[2019-10-14 15:00] dgageot commented on #2971
I think I'd rather remove those logs. I thought it would be a good idea but in reality it's, as you say, super annoying

[2019-10-14 15:03] dgageot commented on #1753
@cliffburdick If https://github.com/GoogleContainerTools/skaffold/issues/2981 brings back the logs, will you be able to check that is issue is fixed too? Thanks a lot!

[2019-10-14 15:07] cliffburdick commented on #2962
@balopat sure! I'll compile and let you know if it worked.

[2019-10-14 15:19] cliffburdick commented on #1753
@dgageot , do you know if the latest binary here has it included? https://storage.googleapis.com/skaffold/builds/latest/skaffold-linux-amd64

I tried to compile from scratch, but go build fails. I'm assuming it's just a versioning issue.

[2019-10-14 15:27] dgageot commented on #1753
@cliffburdick I don't think it's available until it's merged

[2019-10-14 15:27] quick-question commented on #2741
Can we at least get an example of how to use profiles in the documentation?

[2019-10-14 15:28] cliffburdick commented on #1753
@dgageot ok, thanks. I won't be able to test it out unless I can get go build working. I'll try a couple more things.

[2019-10-14 15:29] dgageot commented on #1753
@cliffburdick which OS are you using? I can produce a binary for you

[2019-10-14 15:33] cliffburdick commented on #1753
@dgageot Ubuntu 18.04

[2019-10-14 15:33] NicklasWallgren commented on #2986
I'm not using `jib` for this particular project, and I have specified the insecure registries in `skaffold.yaml `as well as in `deamon.json`.

I'll provide additional information tomorrow.

[2019-10-14 15:49] dgageot commented on #2981
@cliffburdick I've just built this one from commit 3907a07b5f70a73a5aadf56d9d1d21dca0d88bae:
https://storage.googleapis.com/skaffold-debug/skaffold-linux-amd64

sha256: aa46eb3d4e625618e7165f8135540421449f76a97f279597cc35957aacd94231

[2019-10-14 16:06] dgageot commented on #1753
@cliffburdick I've just built this one from commit 3907a07:
https://storage.googleapis.com/skaffold-debug/skaffold-linux-amd64

sha256: aa46eb3d4e625618e7165f8135540421449f76a97f279597cc35957aacd94231

[2019-10-14 16:21] dgageot commented on #2939
There's something fishy with the image tar produced by Bazel. Here's what I tried, without having Skaffold involved:

[code]

[2019-10-14 16:22] dgageot commented on #2939
On the other hand, this worked:

[code]

[2019-10-14 16:40] dgageot commented on #2939
Oh, I think I know why. Can you try changing the targets to:
`//:app-img.tar` and `//app:app-img.tar` instead of `//:app-img` and `//app:app-img`. It should work.

(I can't be sure because it's a python2/python3 mess on my laptop.)

[2019-10-14 16:56] dgageot commented on #2909
@tejal29 @priyawadhwa I wonder if we should try to support both latest and older kustomization files. Or maybe it's of to just support the latest format.

[2019-10-14 17:00] dgageot commented on #2909
My preference would be to support only the latest format and print a warning when the file can't be parsed. This won't break deployments but if users want to skaffold dev to detects changes to referenced files, they would have to upgrade to a more recent kustomize.

[2019-10-14 17:22] cliffburdick commented on #1753
@dgageot that seems to have fixed it. Thanks!

[2019-10-14 18:39] balopat commented on #2971
Also in some cases it gets printed when the container is not even terminated (nodejs-guestbook sample app for Cloud Code):

[code]

[2019-10-14 18:47] balopat commented on #2019
@demisx - you are using the same skaffold.yaml as in the opening comment right?
@FredericLatour - can you share your skaffold.yaml?

[2019-10-14 19:04] #2972 closed

[2019-10-14 19:22] demisx commented on #2019
@balopat Give it or take. Here is the latest, though:

[code]

[2019-10-14 19:31] #3044 closed

[2019-10-14 20:28] #2971 closed

[2019-10-14 21:41] cheslijones opened #3056 "Erratic and slow behavior with create-react-app"
### Expected behavior
I have Skaffold working well with local development server and database deployments. I'm trying to get working on the `create-react-app front-end`, but the behavior is incredibly slow and erratic.

### Actual behavior
1. It takes upwards of five minutes from running `skaffold dev --port-forward --tail` for it finally start spinning up. Running just a docker build takes less t

[2019-10-15 02:04] cheslijones commented on #3056
Ok. Disregard. Started with one replica and it worked fine. Two worked fine. Three worked if skaffold was already running, but not from a fresh `skaffold dev --port-forward --tail`.

`skaffold ssh` and then did a `top`. Was running out of RAM... well was at 86% utilization. Increased it from the default 2GB to 8GB and now it works fine.

First deleted the VM with `minikube delete` and then created

[2019-10-15 02:04] #3056 closed

[2019-10-15 08:53] prary commented on #3050
ohkay I got it, before building image it is checking whether image exists in artifactory. Is there a way to disable this check through some flag?

[2019-10-15 09:04] NicklasWallgren commented on #2986
@dgageot Worked fine without artifact caching enabled `--cache-artifacts=false`

[2019-10-15 09:08] dgageot commented on #2986
@NicklasWallgren Thanks! So there must be an issue. Do you have a small project we could use to reproduce?

[2019-10-15 10:04] NicklasWallgren commented on #2986
Hmm, it works as expected if I remove `insecureRegistries` from the skaffold.yaml.

@dgageot https://asciinema.org/a/f9bbw5cH94a5AoTCkaLNb2wAt

[2019-10-15 11:06] FredericLatour commented on #2019
@balopat Here you are

[code]

My dev env:
* skaffold 0.39.
* minikube v1.3.1 (hyper-v)
* windows 10

[2019-10-15 11:53] dgageot commented on #2939
I've created a PR to enforce a compatible target: https://github.com/GoogleContainerTools/skaffold/pull/3058

[2019-10-15 12:33] dgageot commented on #2807
I've tried to reproduce on osx, with acr and it worked well with every version I've tried...

[2019-10-15 12:43] dgageot commented on #1649
I've tested with acr, without or without #3053 and the PR fixes the issue for me \o/. I'm going to close this issue. Feel free to reopen if the problem is not fixed for you.

[2019-10-15 12:43] #1649 closed

[2019-10-15 13:05] dgageot commented on #2807
Same for windows. I can't reproduce your issue...

[2019-10-15 16:00] ivanporty opened #3060 "Skaffold init with Jib init behaves differently in analyze mode"
Skaffold v0.40

Project has Dockerfile and skaffold.yaml already present. We assume the generation of the Skaffold YAML is not necessary at this point. However:

`skaffold init --analyze`:
[code]
(expected)

`skaffold init --analyze --XXenableJibInit`:
[code]
(unexpected, we would notify user about skaffold YAML generation possibility although skaffold.yaml already present).

[2019-10-15 16:37] prary commented on #3022
Hi @balopat
tried on my ubuntu machine
[code]

[2019-10-15 16:47] TadCordle commented on #3060
What does the project structure look like? Is the `skaffold.yaml` in the same directory as the `pom.xml`? I think what might be happening is that it searches for an existing `skaffold.yaml` and for build files in the same pass, and skaffold finds a Jib config first, so it returns `filepath.SkipDir` and stops searching the current directory before finding `skaffold.yaml`.

[2019-10-15 16:50] ivanporty commented on #3060
It's `cloud-code-samples/java/java-hello-world`, so
[code]

[2019-10-15 16:52] TadCordle commented on #3060
Hmm yeah, I suspect that's the case then. The correct behavior should probably be to continue walking at the current level without entering any nested directories after a Jib config is found, rather than just skipping the rest of the current directory.

[2019-10-15 19:12] ghost opened #3061 "Additional contexts for an artifact, shared directories that parent/siblings relative a Dockerfile"
Not a bug. Skaffold is working as intended. My use case is probably not standard so really just seeing if there is a work around or existing functionality.

### Expected behavior
My project structure is the following:
[code]
`/shared` are some React contexts and hooks that will be shared between React and React Native using the directory as a local npm dependency. This is done by doing the followi

[2019-10-15 20:20] balopat commented on #3050
Hey @prary, yes, can you try `--cache-artifacts=false`?

[2019-10-15 20:28] balopat commented on #2019
On windows I'm seeing this. Not sure it ever worked though... @demisx have you ever seen it working on Windows?

On Mac I still can't reproduce it.

[2019-10-15 21:11] demisx commented on #2019
@balopat No, I was lucky not to touch Win in a long time. :) I've noticed this started happening around v0.27 update and it's been on and off ever since. Never had a problem with prior versions. I am seeing this on multiple Mac laptops and another developer just confirmed he's having the same issue on his Mac laptop as well.

[2019-10-15 21:45] balopat commented on #3051
I do think that the daemon.json is interesting and that it can be helpful in a lot of cases.
What would be a good UX?
- I'd think having the ability to add more registries on top of the daemon's insecure registries list is fine - or is there a case where we want to fully override it? I can't think of a use case.
- clear logging of what insecure registries Skaffold is using after the daemon.json +

[2019-10-15 22:17] tejal29 commented on #3047
@prary Can you please verify if when you see this random error, you can connect to cluster using `kubectl`?

[2019-10-15 22:50] FredericLatour commented on #2019
I have a virtual machine on linux ... I will give it a try when I have some time.

[2019-10-16 01:22] prary commented on #3047
@tejal29 I am able to use kubectl

[2019-10-16 02:13] fabio-rigato commented on #336
Hi all,
I have the same issue.
Any news about that?
Regards
Fabio

[2019-10-16 07:14] dgageot commented on #2947
I'm going to close this issue as the behaviour is correct and, now that #3045 is merged, there are two ways to remove the build section with a profile.

[2019-10-16 07:14] #2947 closed

[2019-10-16 07:16] dgageot commented on #2939
I'm going to close this issue because there's no bug: the bazel target should end with `.tar`.
#3058 adds some validation and some documentation

[2019-10-16 07:16] #2939 closed

[2019-10-16 12:11] dgageot commented on #2856
@none-da This is totally expected when running with a local cluster. Skaffold has to make sure k8s is using the exact same image that you just built. The way to do that is to use an immutable reference. Tags are not immutable. So, in general, it uses the image's digest in addition to the tag. But this can't be done with a local cluster. With local clusters, images are not pushed, so we don't have

[2019-10-16 12:11] #2856 closed

[2019-10-16 13:05] dgageot commented on #2848
There’s indeed an issue. There are two flags to enable/disable force. One is used for dev and default to true. The other is used for run and deploy and defaults to false. The code assumes —force if any of those two is true —> bug

[2019-10-16 15:35] dgageot commented on #2903
@sirber I'm going to assume this is fixed. It's that's not the case, please reopen.

[2019-10-16 15:35] #2903 closed

[2019-10-16 15:51] Markcial commented on #2849
I see there is an open discussion about the same topic, do the maintainers have decided if this feature is worth a contribution? i do not mind spend some time on this

[2019-10-16 16:30] sfxworks commented on #1668
Hi! This issue occurs with our config for a user on MacOS 10.14.6

[code]

[2019-10-16 17:04] tejal29 commented on #1668
@sfxworks Are you using the latest version of skaffold?

[2019-10-16 17:08] tejal29 commented on #3047
Tanks @prary. we need more information to re-produce it. We will probably start with a
- invalid kubecontext.
- try skaffold
- see if we see the error.

[2019-10-16 17:13] tejal29 commented on #3048
These pods are short lived pods. It would be great to delete the kaniko pod if build is cancelled. Assigning p3 priority.

[2019-10-16 17:13] prary commented on #3047
@tejal29  Great, meanwhile if I encounter this again I will try to share mine kubecontext as much as possible.

[2019-10-16 17:15] prary commented on #3048
that's definitely a solution actual problem is they are consuming resourcequota of the namespace i.e resource getting stalled

[2019-10-16 17:22] tejal29 commented on #3022
Can you try this solution https://github.com/golang/go/issues/22510

[2019-10-16 17:27] tejal29 commented on #2983
@tbarrella thank your reply and sorry for the delay.
so, i think the intention is not ignore `progressDeadlineSeconds`  if set for a deployment.
And a deployment spec does not have `progressDeadlineSeconds`, then  wait for deployments to stabilize for `statusCheckDeadlineSeconds`

[2019-10-16 17:28] sfxworks commented on #1668
Yes, we just tried 0.40.0 and the bleeding edge binary. Same results.

[2019-10-16 17:33] #2983 closed

[2019-10-16 17:45] sfxworks commented on #1668
https://gist.github.com/sfxworks/a6541a5767889bb44915393f071807df

Above is a `skaffold dev -v  debug --port-forward` for the dev with the dev doing a file modification to one that is suppose to be synced.

[2019-10-16 18:39] raul1991 commented on #3039
I am getting the same error as well. Is there any workaround yet ?

[2019-10-16 19:18] #3048 closed

[2019-10-16 19:27] tbarrella commented on #2983
I guess I understand the intention and how it works, but I think it would be good to reconsider the behavior.

`progressDeadlineSeconds` is often going to be a relatively small value; it only needs to be long enough for a new pod to roll out. This is how it's interpreted by the Deployment controller. If the status check uses this as a timeout for the status check, it will time out for deployments

[2019-10-16 20:32] balopat commented on #2699
ping @marti1125 @corneliusweig are you looking at this? It would be important for us to move forward with it. Let me know!

[2019-10-16 20:41] corneliusweig commented on #2699
@marti1125 Would you be ok if I send a PR and you do a review round on it? Given the priority of the issue this might be a good alternative. WDYT?

[2019-10-16 21:40] atrujillofalcon commented on #1649
@dgageot Its works for me too. Thanks!!

[2019-10-16 21:48] dolsem commented on #1749
I'm having the same problem on version 0.40.0 of Skaffold.
<details><summary>skaffold.yaml</summary>

[code]
</details>
<details><summary>Dockerfile.dev</summary>

[code]
</details>

[2019-10-16 22:24] balopat opened #3073 "Windows + minikube + skaffold + non-elevated shell = fail"
### Expected behavior

When skaffold detects that minikube's docker daemon can't be resolved (as the warning shows as well) it should either:
- fail when `build.local.push = false` is setup
- force `build.local.push =true` when it is not setup

### Actual behavior

Skaffold fails to find the minikube docker daemon and hence creates a deployment inside minikube that relies on a non-existent image (

[2019-10-16 22:29] balopat commented on #3039
Hi, thanks for opening, can you share logs please?

[2019-10-16 22:59] nkubala opened #3074 "Complete skaffold workflows documentation"
Issue to track finishing the docs for skaffold workflows

[2019-10-16 23:07] balopat commented on #2019
@demisx - not sure why (I'll investigate soon) but it looks like that the bleeding edge on Windows https://storage.googleapis.com/skaffold/builds/latest/skaffold-windows-amd64.exe is working now with Ctrl+C - can you try that?

@FredericLatour thanks! let me know how it goes!

[2019-10-16 23:25] balchua commented on #3039
@balopat its a bit tricky to provide the logs.  Company policy restricts it.  Maybe @raul1991 can help provide logs.

[2019-10-17 00:08] demisx commented on #2019
@balopat Sorry, but I only have access to Macs here. Will be happy to test on a Mac when ready.

[2019-10-17 00:20] marti1125 commented on #2699
@corneliusweig yes please

[2019-10-17 00:55] tejal29 commented on #3020
So, i did a bit of debugging and found out the reason why this is happening.

Right, the `podForwarder` will port forward all containers in a pod if the pod is Added or Modified
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/kubernetes/portforward/pod_forwarder.go#L93
[code]

For the cloud code example, i added log statement on how many pod "Modified" events we see.
Afte

[2019-10-17 01:29] tejal29 commented on #3020
@briandealwis and @sujit-kamireddy can you please verify this patch
[code]

Open VS code plugin and try debug.

Thanks
Tejal

[2019-10-17 01:39] raul1991 commented on #3039
Ill have a problem sharing the complste logs too. Let me clean them a little and I'll post it then.

[2019-10-17 06:48] raul1991 commented on #1650
In my case the exported variable is not being picked up skaffold and shows the following error

[2019-10-17 10:45] dgageot commented on #1749
@dolsem It looks like you are using another builder, the `custom` builder. Could you please create another issue?

[2019-10-17 13:30] ikogan commented on #2840
There are really two distinct issues here as we're discovering, should I create two of them? I feel like fixing one would fix the other though:

1. skaffold expects to have a local docker config during cluster builds.
2. When there _is_ a local docker config, skaffold doesn't seem to know how to get keys from the Windows key store so a config generated by `docker login` does not work on Windows.

[2019-10-17 15:42] dolsem opened #3077 "Custom builder: docker build of new image fails with "" is not a valid repository/tag"
I am trying to build a docker image with a custom build command (side note: I use custom builder instead of docker because docker builder doesn't seem to support `--ssh` option yet, which is available with Docker BuildKit).

### Expected behavior
Build succeeds.

### Actual behavior
Build fails with:
[code]

### Information

- Skaffold version: v0.40.0
- Operating system: Linux
- Contents of skaff

[2019-10-17 15:52] briandealwis commented on #3020
I didn't try from VSC but the command-line results look good @tejal29!

[2019-10-17 17:53] tejal29 commented on #3020
The Pods modified objects
[code]

If you compare the text, the `OwnerReferences` field is different.

[2019-10-17 17:54] tejal29 commented on #3020
Thanks @briandealwis

[2019-10-17 18:01] tejal29 commented on #1668
Since this is working on windows and specific to mac Mojave, decreasing its priority to p2.

[2019-10-17 20:03] briandealwis commented on #3020
I apologize @tejal29 — I didn't test thoroughly.  I saw some nice forwarding messages and no failures.  But reviewing your change and looking deeper and at the code, I realized that only some of the ports are forwarded.  This is what I see when I run the [`java-guestbook`](https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/java/java-guestbook) with your change:

[code]

But both

[2019-10-17 20:41] #2512 closed

[2019-10-17 20:42] balopat commented on #3039
@raul1991 I see that these are minikube docker daemon logs - can you try following https://minikube.sigs.k8s.io/docs/tasks/registry/insecure/ to setup the insecure registry for the daemon? Unfortunately this is not something Skaffold can do currently to reconfigure the daemon inside minikube.

@balchua would you be able to send the exact error message at least? That can help identify which part of

[2019-10-18 06:06] balchua commented on #3039
Hi @balopat im taking some screenshot and upload it here.

But i got it working somehow.  Strangely enough if i have an environment variable `DOCKER_CERT_PATH` set to the same location where i keep certs needed to talk to docker daemon i get past the point where kaniko pods starts and builds successfully.
I digged through the code and it actually goes thru the code path where the docker api is use

[2019-10-18 07:11] dgageot opened #3081 "[Custom builder] $IMAGES is always a single image"
We currently pass the build script the `IMAGES` env variable. This variable contains the list of images to build. However, this variable always contains a single tag.

I think we should deprecate this value and use `IMAGE` instead.

[2019-10-18 07:29] dgageot opened #3082 "[Custom builder] Support build command with env variables"
When the custom builder is configured with such command:
`docker build -t $IMAGES -f Dockerfile --ssh default .`,
it should run `sh -c "docker build -t $IMAGES -f Dockerfile --ssh default ."`

This allows using env variables.

[2019-10-18 08:07] dgageot commented on #3077
Hi @dolsem, the issue come from the fact your custom build command always builds an image with tag `nest` instead of the tag provided by Skaffold.

The [doc](https://skaffold.dev/docs/how-tos/builders/#custom-build-script-run-locally) says that the custom build command should build an image with the tag passed as the `$IMAGES` env variable.

So you should edit your `skaffold.yaml` with:

[code]

H

[2019-10-18 12:34] dgageot opened #3088 "Base Image name produced by envTemplate is ignored for local deployments"
(I'm deploying to a local cluster, so images are not pushed)

Here's the configuration:

[code]

When I run `skaffold run`, I can see that tags used in deployments ignore the image names produced by `envTemplate`:

[code]

We should see:

[code]

[2019-10-18 12:41] dgageot opened #3090 "`skaffold build` should not print the tags used in deployments"
`skaffold build` shows:

[code]

It should show:

[code]

[2019-10-18 12:42] balchua commented on #3039
![before-kaniko-pod-starts](https://user-images.githubusercontent.com/28750768/67094954-670aa100-f1e7-11e9-98dd-8094ce95bcff.jpg) - This screenshot is the error i get before adding the `DOCKER_CERT_PATH` environment variable.  The kaniko pod was not started.

![after kaniko-build-completes](https://user-images.githubusercontent.com/28750768/67095065-9f11e400-f1e7-11e9-81ec-bbd1a1bf45cd.jpg) - This

[2019-10-18 15:08] dolsem commented on #3077
@dgageot oh I see, I missed that part in the docs. Good to know there's already a PR to fix the issue, thanks!

[2019-10-18 15:08] #3077 closed

[2019-10-18 17:46] briandealwis opened #3094 "Warn when `debug` skips a deprecated workload API object"
Although documented behaviour, it would be nice if `debug` warned that it was skipping deprecated Workload API objects in `apps/v1beta1` and `apps/v1beta2`.

[2019-10-18 18:27] #2848 closed

[2019-10-18 18:27] #3020 closed

[2019-10-18 18:49] #3090 closed

[2019-10-18 19:59] briandealwis commented on #3094
Already done in #2138 🤔

[2019-10-18 19:59] #3094 closed

[2019-10-18 20:07] tejal29 opened #3096 "[Idea] Persist Event Logs for skaffold CI/CD for auditing."
### Expected behavior
To provide better auditing for CI/CD persist the skaffold event which the pipeline can then store.
Our events are interesting things that happened during skaffold run. They are structured and easy to consume.

### Actual behavior

### Information

- Skaffold version: version...
- Operating system: ...
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

[2019-10-18 20:48] demisx commented on #2019
Well, @balopat was cool enough to take his time and review together what I have going on here locally. It appears that this issue is not in the skaffold per se, but in this npm script that I use to start skaffold in dev mode:

[code]

Our initial thought is that even though `npm` may be  passing `[Ctrl]+C` event to the child skaffold process, but it is not waiting on it to finish before it bails o

[2019-10-18 21:30] acannon828 opened #3097 "Why is skaffold called skaffold?"
Sorry, just curious. Is it somehow nautical themed like Helm or Tiller? Or is it just as in "scaffolding"?

[2019-10-18 22:56] tejal29 commented on #3081
Can you please add these to current Deprecation notices  to the Deprecation policy as well ?
https://skaffold-latest.firebaseapp.com/docs/references/deprecation/#current-deprecation-notices

We shd make sure this is captured in Release notes. Added Deprecation to the title.

[2019-10-19 12:58] dsebastien commented on #2492
I don't know if my use case is valid as I'm just starting to use K8S, but I currently have a multi-stage docker build for two micro-services which need to be deployed to K8S.

I'm using Minikube and plan to deploy the "dev" stage of my dockerfiles to K8S. That "dev" stage's goal is to provide me with an environment in which I have all the necessary dependencies and tools to build (node, npm, etc).

[2019-10-19 16:26] demisx commented on #2019
I was able to get rid of this npm related issue by starting skaffold in a subshell. Closing.

[code]

[2019-10-19 16:26] #2019 closed

[2019-10-19 16:34] feloy opened #3098 "Default namespace of port forwarding"
### Expected behavior

When I define a port forward in my skaffold.yaml file without defining a namespace on which to find the resource to port forward, I expect that skaffold look in the *current* namespace.

### Actual behavior

If the namespace is not specified, the "default" namespace is used.

### Discussion

This behavior seems useless to me, because it is easy for the user to specify the "d

[2019-10-20 17:53] prary commented on #3050
thanks @balopat It helped, currently there isn't a way to configure this through skaffold.yaml

[2019-10-20 18:02] prary commented on #2190
#2910 closed

[2019-10-20 18:02] #2190 closed

[2019-10-21 11:52] prary commented on #3047
hi @tejal, faced the issue again

[code]

[2019-10-21 11:54] prary commented on #3047
./kube/config

[code]

[2019-10-21 11:55] prary commented on #3047
./kube/config

[code]

[2019-10-21 16:19] #3060 closed

[2019-10-21 17:34] tejal29 commented on #3097
its the last one.  Inspired from "scaffolding".

[2019-10-21 17:34] #3097 closed

[2019-10-21 18:21] #3081 closed

[2019-10-21 20:37] cyrildiagne commented on #731
Thanks a lot @priyawadhwa for adding the `PullSecretMountPath` property.

I'm still facing an issue when trying to build with Kaniko on an EKS cluster pushing the image to ECR. I can see the logs of the image building in the Kaniko pod but as soon as the build is complete skaffold returns an error: `getting image: unsupported status code 401; body: Not Authorized`.

I don't see any specific refere

[2019-10-21 21:35] priyawadhwa commented on #731
Hey @cyrildiagne we probably need to add configuration for additional `env` in the skaffold config for the kaniko pod.

We could add an `Env` field in the kaniko config [here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/latest/config.go#L713) and then add it to the pod template [here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/bui

[2019-10-21 22:10] cyrildiagne commented on #731
Hi @priyawadhwa, thanks a lot for the rapid feedback and pointers.
Yes I'll give it a try.

[2019-10-21 23:45] dahovey opened #3109 "Skaffold dev does not rebuild or deploy after file changes (macOS Catalina)"
### Expected behavior
Running `skaffold dev` should rebuild docker images and re-deploy after local file changes.

### Actual behavior
After first deployment, and after making any local file changes nothing happens.

### Information

- Skaffold version: 0.40.0
- Operating system: macOS Catalina 10.15

### Steps to reproduce the behavior

1. Cloned this repository.
2. cd into an `examples` folder
3

[2019-10-21 23:54] dahovey commented on #3109
I discovered that if run `skaffold dev` as root, skaffold properly rebuilds/re-deploys on file changes. Appears to be disk access permission issue with skaffold and Catalina but not sure how to resolve.

I cloned skaffold repository into `~/projects/temp/skaffold`.

[2019-10-22 04:47] #2990 closed

[2019-10-22 16:24] aeneasr commented on #2680
This is still broken on 0.40.0. While it's true that the indices no longer randomly switch around _while skaffold is watching/rebuilding images_, they are still randomly chosen when skaffold is started.

[2019-10-22 16:32] aeneasr commented on #2680
Nevermind - I think it was related to a messy/broken cleanup. I can't seem to be able to reproduce the issue any more :)

[2019-10-22 17:17] aeneasr commented on #2680
Sorry for the spam, but this is indeed still an issue. I believe that if you start `skaffold dev` with one of the images requiring a rebuild, then the order is messed up. If no image requires a rebuild on boot, then the order is correct.

[2019-10-22 17:21] dgageot commented on #2680
Let me reopen the ticket.

[2019-10-22 19:32] aeneasr commented on #2680
Thank you for the quick response - happy to provide more context if required, but we've observed this issue now several times so I'M fairly confident that rebuilding the image on skaffold start up causes the order issue. My gut says that changes applied in #2761 are probably missing in the initial build phase.

To make things a bit more clear, assuming the config from the opening post:

1. Make ch

[2019-10-22 23:30] gbird3 opened #3113 "skaffold dev --tail=true doesn't tail logs when using remoteManifest"
### Expected behavior
When adding --tail=true to skaffold dev, it should tail the logs for the pod

### Actual behavior
It doesn't tail the logs. Doesn't seem like it even attempts to.
### Information

- Skaffold version: v0.40.0
- Operating system: MacOS Catalina
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. In skaffold, instead of using a k8s file, use remoteManif

[2019-10-23 06:38] dgageot commented on #2680
OK, thanks a lot for all the details! I think I found the issue. Can you run with `--cache-artifacts=false` and see if it's better? I'll push a fix today

[2019-10-23 08:31] slowr opened #3116 "x509: certificate signed by unknown authority when using Jib (MacOS)"
Most of the issues that talked about this error was using kaniko, so I decided to make a separate one for Jib.

While the certificate is loaded on Java (for Jib) and OS's CA I still get x509 certificate error after Jib build. Seems that the error comes when skaffold tries to pull the image from the registry after jib has successfully pull, build and push the image.

[code]

I already tried some wo

[2019-10-23 09:39] aeneasr commented on #2680
Awesome! I will try with cache set to false over the day today and see if the issue is fixed :)

[2019-10-23 12:20] guilhem commented on #2745
I'm quite surprise to see this issue as "closed".

`skaffold run` is not idempotent, there is just a workaround to make it possible with a flag that must be set carefully by user.

Right now this behavior is dropping all my statefulset at each `run`... not really a good default behavior...

[2019-10-23 12:36] chanseokoh commented on #3116
I think this is it: https://github.com/GoogleContainerTools/skaffold/issues/1961

It is recently fixed. I am not sure if Skaffold made a release after the fix, but you can try the bleeding edge binary as mentioned in that issue.

[2019-10-23 13:18] slowr commented on #3116
This issue seems to be more `kaniko` oriented.

I tried with the bleeding edge binary with providing the certificates
[code]
and without and did not have any success. Insecure registries will not work in my case as HTTPS is forced and `SkipTLS` is only an option in `kaniko` builder.

[2019-10-23 14:24] slowr commented on #3116
Seems that the issue is limited to MacOS since I got it working correctly on CentOS 7:
1. Copy cert to `/etc/pki/ca-trust/source/anchors/`
2. Run update-ca-trust
3. Import certificate on Java with `keytool -importcert -file $PEM_PATH -keystore $JAVA_HOME/lib/security/cacerts -alias "sscert" -storepass changeit`

Anyway to debug further the MacOS installation?

[2019-10-23 14:48] aeneasr commented on #2680
I can confirm that `--cache-artifacts=false` results in predictable builds, so IMO your analysis is correct :) Thank you for investigating! Since disabling caching is fairly slow I would be super happy to see this in the next Skaffold release!

And honestly, so nice to see super quick responses and bug fixes. Skaffold is beyond anything we've imagined 3-4 years ago!

[2019-10-23 16:39] arashbi opened #3117 "skaffold example fails on start"
When I try to run the example, I get an error. The `skaffold dev` command doesn't work.

### Expected behavior
I expect the behavior to be like described in https://skaffold.dev/docs/getting-started/

### Actual behavior
~/s/s/e/getting-started ❯❯❯ skaffold dev                                        ✘ 127 master ◼
Listing files to watch...
 - gcr.io/k8s-skaffold/skaffold-example
FATA[0000] watchin

[2019-10-23 16:48] chanseokoh commented on #3116
Ah, sorry. I thought your registry is insecure and jumped to the conclusion too early by just looking at the issue title. I see Skaffold should verify the server in this case.

[2019-10-23 16:58] AndiDog opened #3118 "`skaffold dev -w/--watch-image` should only build the specified artifacts (or have an option to do so)"
### Expected behavior

Assume a skaffold.yaml of a monorepo application that has multiple components, and each of them takes a few minutes to build. As developer, if I only want to work on one of those components, I'd expect that `skaffold dev -w component1` will only build artifacts matching the `component1` pattern.

### Actual behavior

`skaffold dev -w foo` will build all images at first, but

[2019-10-23 18:32] dgageot commented on #2680
Thank you @aeneasr!

[2019-10-23 20:45] ivanporty opened #3121 "Skaffold Jib: Multi-module Maven project with Maven wrapper cannot find Maven"
Project: https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/java/java-guestbook
Skaffold: 0.40
Jib: 1.7.0

Make sure you don't have Maven on PATH.

Add Maven Wrapper at the root project directory (`\some-location\mvn -N io.takari:maven:0.7.6:wrapper`)

Run `skaffold dev`:
`
FATA[0000] watching files for artifact java-guestbook-backend: listing files: listing files: getting jib-m

[2019-10-23 21:35] briandealwis commented on #3121
In a [Jib multimodule project](https://skaffold.dev/docs/how-tos/builders/), the `context` directory should point to the root and the `project` should be the subproject location.

[2019-10-24 12:57] balchua commented on #3116
@slowr what if you create an environment variable `SSL_CERT_FILE=<your ca cert>` then try again.

[2019-10-24 13:01] balchua commented on #3039
Although this issue https://github.com/GoogleContainerTools/skaffold/issues/3116 is talking about jib, i think it could be related.

[2019-10-24 13:43] rjshrjndrn commented on #2753
for me, k3d is blazingly fast than kind, lightweight

[2019-10-24 15:10] ivanporty commented on #3121
Should I file an issue for `cloud-code-samples` repo instead then to fix this?

[2019-10-24 15:17] ivanporty commented on #3121
https://github.com/GoogleCloudPlatform/cloud-code-samples/issues/152

[2019-10-24 15:20] #3121 closed

[2019-10-24 15:40] slowr commented on #3116
Unfortunately it doesn't seem to work

[2019-10-24 21:38] balchua commented on #3116
@slowr thats a bummer.  This symptom is very similar to what I've been seeing with kaniko builder.  The image is successfully pushed to the registry and yet towards the end skaffold fails.
What im doing now is ignoring this error.  So i do 2 command instead of 1.

[code]

[2019-10-24 22:42] balopat commented on #3118
Thanks for opening!

My first thoughts:

**Scoping to a component**

If I understand correctly, with these commands and this skaffold.yaml, you are scoping down to a single component both the images to be built & watched and the manifests

A cleaner solution for this whole would be to give the ability for users to represent components / modules, where a "module" is a combination of artifacts and m

[2019-10-24 22:44] balopat commented on #3117
Hi @arashbi - can you try running `docker build .` in that same folder?

[2019-10-24 22:52] balopat commented on #3109
Thanks for opening this @dahovey - can you provide some logs for us with `-v trace` if you can reproduce it?

[2019-10-24 22:56] nkubala commented on #3109
@dahovey i'm also curious if running `skaffold dev --trigger polling` fixes your issue

[2019-10-24 23:05] balopat commented on #3039
@balchua thanks for sharing the screenshots!!!
As a workaround - can you try if `--cache-artifacts=false` helps with the post-failure - I think that is code path that is trying to get the remote config from the registry and fails...

[2019-10-24 23:05] balopat commented on #3116
@slowr As a workaround - can you try if `--cache-artifacts=false` helps with the post-failure - I think that is code path that is trying to get the remote config from the registry and fails...

[2019-10-24 23:16] balchua commented on #3039
@balopat will give this a go. Thanks

[2019-10-24 23:25] balopat commented on #3113
Thank you for opening, @gbird3!

For dev you shouldn't need `--tail=true` as that is the default.
I tried to reproduce it but couldn't!

Here's what I did:

1. With the [microservices example ](https://github.com/GoogleContainerTools/skaffold/tree/master/examples/microservices) first `skaffold run`
2. edit the yaml file to replace the manifests to remoteManifests and added some extra logs to the w

[2019-10-25 00:26] dahovey commented on #3109
Ran below from `~/projects/temp/skaffold/examples/nodejs`
So it appears skaffold is not working when:

- Watching files that should be synced
- Watching files to trigger re-build/deploy

**If I run `skaffold dev --trigger polling` rebuild and deploy works as expected**

Hope the below helps in some way.

[code]

[2019-10-25 00:29] dahovey commented on #3109
Also I can consistently reproduce this with all projects I my machine.
For the time being is it possible to set the default `trigger`?

[2019-10-25 02:13] mbarlow opened #3124 "disable skaffold watch on *.swp files"
### Expected behavior
when using skaffold dev if I edit a file with vim (creates a swp file) it should not trigger the build

### Actual behavior
editing a file with vim triggers rebuild. I've tried looking through the docs to configure this, I don't see a way to exclude *.swp from the watch

[2019-10-25 02:15] mbarlow commented on #3124
to clarify, I mean if I open vim to edit a file it shouldn't trigger the build. If I save a file that has been modified I do expect the build to happen.

[2019-10-25 02:16] balchua commented on #3039
@balopat, same error `x509: certificate signed by unknown authority`

[2019-10-25 06:40] AndiDog commented on #3118
Are modules on the roadmap? I'm getting more and more experience using Skaffold in monorepos – both for developer workflow and CI/CD, both heterogenous and homogenous modules; and such a feature would be very helpful.

I agree that `-p` would do for now, and am actually using profiles in the meantime.

Feel free to close this PoC PR.

[2019-10-25 07:38] igoooor commented on #2478
is it released already? because I'm still facing this issue, using skaffold 0.40.0

[2019-10-25 08:03] andreassiegel commented on #2478
Yes, it is released and working fine. If I remember it correctly, the fix was included in v0.38.0.

[2019-10-25 09:03] igoooor commented on #2478
@andreassiegel do you have recommendations to follow to make it work? I saw your previous message, but I was not able to reproduce that

[2019-10-25 09:13] slowr commented on #3116
The problem with this approach is that you loose the tag. Do you have this issue on MacOS as well or different OS? Because for me it seems that MacOS (Sierra) is the only setup I have issues with (tried with Centos and Ubuntu successfully).

Same error, maybe it doesn't load the MacOS keychain correctly?

[2019-10-25 10:16] balchua commented on #3116
@slowr i have this issue on a rhel. I dont have a mac to test with.   With regards to the tag, i use the tagger envTemplate.

[2019-10-25 13:27] balopat commented on #3124
Hi @mbarlow thanks for opening the issue.
What builder are you using? If you are using Dockerfile, adding *.swp rule to a `.dockerignore` file should help.

[2019-10-25 13:31] balopat commented on #3118
We've been thinking about it - it could be for next year!

[2019-10-25 14:11] igoooor opened #3125 "Document if a feature (e.g. sync) is only for 'skaffold dev'"
### Expected behavior

`skaffold run` watches for files changes defined in `build.artifacts[0].sync.manual` and sync them inside the container

### Actual behavior

Files are not sync. It only works if I run `skaffold dev`

### Information

- Skaffold version: v0.40.0
- Operating system: macOS Mojave
- Contents of skaffold.yaml:

[code]

Nowhere in the documentation is says that sync should be ran

[2019-10-25 14:23] null93 commented on #1748
@petr-buchyn I am experiencing this issue as well. Setting my values with the `setValueTemplates` property rather than the `values` property seemed to serve as a good temporary workaround for me.

[2019-10-25 14:40] chanseokoh commented on #3124
Ever since this, I put the following in my `.vimrc` to create swap files in a central location. Very happy about it, as crashing vim doesn't leave dangling swap files in places I can't remember.

[code]

But most people don't know about this trick.

And note it is usually `*.swp`, but if you open vim windows, the next file is `*.swo`.

[2019-10-25 16:43] mbarlow commented on #3124
@balopat yes, using Dockerfile. I adding the *.swp to .dockerignore. @chanseokoh that's a good tip. Thanks to both of you!

[2019-10-25 16:43] #3124 closed

[2019-10-25 18:47] NicklasWallgren commented on #2986
@dgageot @balopat

It fails on https://github.com/google/go-containerregistry/blob/7683b4ee5f6150cb47a791309f781c522b95a58f/pkg/v1/remote/transport/transport.go#L43

Called from https://github.com/GoogleContainerTools/skaffold/blob/6236f7f2c6ba1b06abb37965e3afe9a996275c4a/pkg/skaffold/docker/remote.go#L48

[2019-10-25 19:04] NicklasWallgren commented on #2986
`reg.insecure` is false in transport.go.
[code]

[2019-10-25 19:05] igoooor commented on #1766
I have one case where the blacklist would be really useful.
I have a php project, with composer and vendor.
I have my vendor locally, and copy them into my container with the Dockerfile.
Of course the vendor may change in the container, then I want to retrieve those changes, kubectl cp, but then the vendor copied locally will trigger the watcher, and it will sync back into the container those vend

[2019-10-25 20:57] sujit-kamireddy opened #3128 "Skaffold init --analyze returns duplicate image name"
### Expected behavior
"skaffold init --analyze" should dedup image names. Expected output below.

{"dockerfiles":["src\\backend\\Dockerfile","src\\frontend\\Dockerfile"],"images":["node-guestbook-backend","mongo","node-guestbook-frontend"]}

### Actual behavior
"skaffold init --analyze" returns the "mongo" name twice in the "images". Actual output below.

{"dockerfiles":["src\\backend\\Dockerfile"

[2019-10-25 21:40] balopat commented on #3125
Hi @igoooor, thank you for opening!

`skaffold run` is not intended to do file sync, file watching is only featured in `skaffold dev`.
 I think this is a clear documentation issue, we should mention in features what commands they apply to!!

[2019-10-25 21:42] balopat commented on #3128
Thanks for opening @sujit-kamireddy - we should fix this, I agree!

[2019-10-25 21:46] balopat opened #3129 "Release v0.41.0"

[2019-10-25 22:23] balopat opened #3131 "Flake: TestBuild/buildpacks"
[code]

[2019-10-25 23:18] #3129 closed

[2019-10-26 06:26] igoooor commented on #3125
ha ok, then you can't really have it as a background task, like the `skaffold run`, that's what I miss with the `skaffold dev`.
is there any way to have the output of `skaffold dev` until the deployment, to see that everything started correctly, and then it goes background like the `run` and it keeps watching the files in the background?

[2019-10-26 11:08] corneliusweig commented on #1766
@igoooor Can you explain how your project folder is structured? At the moment, you can only define inclusion rules, e.g.
[code]
If your `vendor` folder is on the root level, this could already work.

[2019-10-26 12:10] igoooor commented on #1766
@corneliusweig If I follow the inclusion rule you defined, and manage to exclude the vendor folder this way, then a change in the vendor would then rebuild the whole container, which is also not I want to achieve.
I would like my vendor folder to be copied into my docker container, but not sync, and without rebuild.
For example:

Project structure:
[code]

Dockerfile:
[code]

Now if I do that:
ska

[2019-10-26 15:53] corneliusweig commented on #1766
@igoooor I'm a bit puzzled here. You don't want a rebuild, but also no sync (aka copy). So how should the container be updated?

[2019-10-26 15:56] igoooor commented on #1766
You got it, it should not update, that’s why I want to completely ignore it, even though they are copied by the Dockerfile

[2019-10-26 16:19] demisx opened #3132 "Error decoding parsed error when deploying helm chart"
I see an error message related to YAML parsing written to the log when I deploy a basic helm chart. The linter says YAML is valid. Am I missing something?

### Expected behavior
No error messages

### Actual behavior
[code]

### Information

- Skaffold version: v0.40.0
- Operating system: MacOS Mojave 10.14.6
- Contents of skaffold.yaml:

[code]

[2019-10-26 17:11] demisx commented on #528
We'd love to see this happen as well. Our deployment is always a combination of `helm` charts along with plain k8s manifests.

[2019-10-27 14:41] avloss opened #3133 "Updating Skaffold breaks redeploys since it changes `labels`"
[code]

If I now try to update this with another version of skaffold, I would get following exception
[code]
https://github.com/kubernetes/kubernetes/issues/26202

Downgrading skaffold to the version which was used for original deploy does resolve the issue.

[2019-10-27 20:21] adjavaherian commented on #2672
Does anybody know of a workaround to this problem?  I'm evaluating a tekton, skaffold, kaniko solution for continuous integration, so this problem would make the whole thing unreliable.

[2019-10-28 14:35] andreassiegel commented on #2478
@igoooor Is there any chance you can share your project or provide a minimal sample to reproduce your issue?

[2019-10-28 15:42] igoooor commented on #2478
I fixed my issue by reading all the messages again, sorry about that

[2019-10-28 23:26] balopat commented on #3132
Hi @demisx - so this seems to be working for me at least.
That message is just info level and it turns out to be not an error.
Skaffold attempts to retrieve version info about the release that is not always a valid yaml (in this case it isn't).

If you run `skaffold dev --port-forward` and then ` helm get redis > test.yaml` - you will see something similar:
<details>
REVISION: 1
RELEASED: Mon Oct

[2019-10-28 23:28] balopat commented on #3132
Let me know if you have any issues!

[2019-10-28 23:28] #3132 closed

[2019-10-28 23:38] balopat commented on #3133
Thanks for opening @avloss - can you share more about your setup?
What is the version of skaffold you are using and upgrading to?
Can you share more logs? I'm not sure where this error message is coming from. Is this a `skaffold run` or `deploy` or `dev`?

I tried, but I can't reproduce it with our examples - skaffold redeploys the resources nicely with a new label.

[2019-10-29 16:23] cliffburdick commented on #1753
@dgageot I misspoke originally. The problem with tail not working was indeed fixed by your patch, but I can still reproduce the problem where tailing the same image from two containers gives output mixed from both of them. Is there something I need to enable to fix that?

[2019-10-29 17:41] willmorgan opened #3136 "Infer sync and locally built Docker artifacts targeting a stage do not sync"
### Expected behavior

Using infer sync and Docker stages, I'd expect a file sync to happen and see this in the logs:

### Actual behavior

With this excerpt of a skaffold file, I'm seeing container rebuilds and restarts across all services, instead of syncing over the files as they change:

I tried disabling buildkit, changing the infer paths, and finally using manual syncing to check that my con

[2019-10-29 18:10] Sewci0 commented on #3136
The issue seems to be caused by passing true as the argument to the following function:
[code]
[code]

https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/docker/syncmap.go

We are utilising multiple stages for testing. Here's an example:
[code]

Is there a reason why that would be set to true?

[2019-10-29 21:53] balopat commented on #3136
Thanks for opening!
Can you workaround it with manual mapping?

@corneliusweig - what do you think?

My gut feeling is that tracking inference across stages can get tricky.

[2019-10-29 21:56] balopat commented on #3125
Yes! If you use it with `skaffold dev --cleanup=false` it will do everything you want, and then won't cleanup your deployment. Does that work for you?

[2019-10-30 07:19] willmorgan commented on #3136
@balopat Thanks for picking this up, I've picked out the important bits of our use case and put it into this reproduction repo: https://github.com/willmorgan/skaffold-infer-repro

[2019-10-30 20:48] sujit-kamireddy opened #3142 "Error message for outdated version of Skaffold directs to invalid download link"
Upon running
skaffold run --enable-rpc -v info --rpc-http-port 51328 --filename skaffold.yaml
time="2019-08-07T11:51:11-07:00" level=info msg="Skaffold &{Version:v0.27.0 ConfigVersion:skaffold/v1beta8 GitVersion: GitCommit:6e9c61df6336540325b927071d62947b261a77bf GitTreeState:clean BuildDate:2019-04-12T17:58:53Z GoVersion:go1.11.8 Compiler:gc Platform:darwin/amd64}"

### Expected behavior
The erro

[2019-10-30 22:32] tejal29 opened #3143 "[DOCS] Add docs for control API"
### Expected behavior
Add docs for control api.
### Actual behavior
No doc right now.

[2019-10-30 23:57] corneliusweig commented on #3136
@willmorgan @Sewci0 Thanks for this detailed bug report!

Copying across docker stages was not considered so far, because it is pretty difficult to implement. For example:

* Say we have two stages, called `first` and `second`. We do a `COPY example.txt /tmp` in stage `first` followed by `COPY --from=first /tmp/example.txt /`. This is the easiest case.
* This also needs to work across multiple sta

[2019-10-31 11:56] willmorgan commented on #3136
Thanks, this is a great explanation and there do seem to be a few tricky edge cases.

I think as a user of this I'd be okay with the "target stage as final relevant stage" approach, and even for `COPY --from` to not be possible (this could always be mocked as this is a dev tool).

We might experiment locally and see what we can come up with.

[2019-10-31 17:42] tomweston commented on #1967
@balopat We currently pass in environment variables in to the corresponding pods by defining a list of them for each environment. These usually live in a dir in the project repo and are passed into the helm command during the corresponding CI pipeline stage. This currently works great, but we would ideally like to eliminate the need for the separate values files for each environment, and bring eve

[2019-10-31 18:18] tejal29 commented on #3143
Belongs to #3023

[2019-10-31 19:09] manofthepeace commented on #3133
Hi, I cannot really redo it, but I can say I got the same issue while doing a gcp lab on qwiklabs. Basically the labs tells you to fetch latest skaffold, which fetches 0.41. Then we clone  https://github.com/blipzimmerman/microservices-demo-1, run skaffold run, works, then we modify the "image" in one of the yaml, than skaffold run refuses to run because of the label change. I fetched an older ver