[2019-04-30 20:32] tejal29 opened #2045 "Add Kubernetes Label managed-by for skaffold metrics"
### Expected behavior
Skaffold should use[ K8 Recommended label ](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels)style to add "app.kubernetes.io/managed-by"

This label is parsed by GKE internal team to infer tool which manages GKE pods.

The expected label should look like
[code]
### Actual behavior
Right now, we add labels where keys do not follow the rec

[2019-04-30 21:10] botwhytho opened #2046 "Port forwarding is working with build artifacts defined in the skaffold.yaml, but not with additional containers in pods defined in the k8s manifests yaml."
I think this is legitimately a different bug than all the other related port-forward bugs. Either this is a bug, or expected behavior, where there is a discrepancy between the documentation (slim to none) and user's expectations.

Using skaffold version 0.23 (because of this other port-forward bug https://github.com/GoogleContainerTools/skaffold/issues/1815), and kubectl as the deploy mechanism, p

[2019-04-30 22:07] priyawadhwa commented on #2038
@corneliusweig makes sense to me, we could log at the debug level.

[2019-04-30 22:07] tejal29 commented on #1996
Thanks @demisx. We will try to reproduce this on our end.

[2019-04-30 22:10] tejal29 commented on #1594
Related to #1815

[2019-04-30 22:20] demisx commented on #1996
I have a strong feeling this happens when there are multiple pods actively streaming logs (like Stolon) into skaffold output. Since then, I've decreased Postgres' and other app's default log verbosity and I don't recall seeing this error anymore.

[2019-04-30 22:22] tejal29 commented on #2019
Maybe related #1737
Can you run your command with `-v=debug` and see if skaffold deploy is successful.

[2019-04-30 22:27] tejal29 commented on #2040
@MisterTimn  Is the file that is in the error logs "/home/jveessen/ibcndevs/dyversify/data-processor/src/main/resources" present ?
Looks like Jib is watching this file.

[2019-04-30 22:29] tejal29 commented on #2042
Thanks @tdickman for this issue.
`skaffold` should definitely force a rebuild and redeploy in case when pods crashed.

[2019-04-30 22:49] tejal29 commented on #1992
interesting, skaffold uses the following command:
[code]

Can you print the output of this command ?

[2019-04-30 23:29] #1619 closed

[2019-05-01 00:03] #1950 closed

[2019-05-01 01:25] demisx commented on #145
Guys, the streaming logs from init containers have red container name prefixes (see attached) which make them appear as errors. Is this something that's controlled by skaffold or something else? I would love to change this so red is only reserved for error messages, yellow for warnings etc. My apologies if this question is not exactly on topic of this issue.

![Screen Shot 2019-04-30 at 6 22 00 PM

[2019-05-01 01:52] tejal29 commented on #1998
Thanks @panitaxx. We were not aware `gcloud build submits` includes the contents of .gitignore.
It seems reasonable to duplicate the behavior. Do you want to submit a PR for the same?

Thanks
Tejal

[2019-05-01 01:54] tdickman opened #2050 "Dev build cleanup deletes all layers"
### Expected behavior

Skaffold dev should only cleanup layers it created.

### Actual behavior

Skaffold dev cleans up all layers for a given image (even layers that already existed before it started).

For example, if I run skaffold run once, then run skaffold dev to start developing my application, and later hit control-c to stop the process, skaffold deletes all layers of the image it used, ev

[2019-05-01 02:01] nkubala commented on #348
with the release of [Cloud Code](https://cloud.google.com/code/), I think this issue can be closed! @bhack and others please go give it a try, it has awesome native skaffold integration which we're actively developing and improving on.

any cloud code specific issues can be opened on their issues repo, or improvements in skaffold that you think would benefit cloud code can of course be opened here

[2019-05-01 02:01] #348 closed

[2019-05-01 02:16] tejal29 commented on #2039
adding `helm repo add` would also involve supporting authentication and secure connection.
[code]

`Skaffold` assumes your deploy tool is set up correctly and you can develop you app  and continuously iterate.
Adding helm repositories is a one time set up which you can done once.
This feature could be something we might pick up later for `skaffold init` where you set up your cluster correctly.

[2019-05-01 06:11] shavo007 commented on #1966
I get this issue also. I followed the vs code cloud extension setup. I use the skaffold profile cloudbuild.

Error is :
[code]

[2019-05-01 16:30] jschaf opened #2051 "Override k8s yaml file location for Bazel generated k8s configs"
### Expected behavior

**myapp/skaffold.yaml**
[code]

**myapp/BUILD.bazel**
[code]

I want to run to specify the location of the k8s files on the command line, since they're generated by bazel from a Jsonnet file.

[code]

### Actual behavior

Errors with:

[code]

### Information

- Skaffold version: v0.28.0
- Operating system: MacOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce t

[2019-05-01 18:12] nkubala commented on #2002
@corneliusweig good point, unfortunately we don't really have insight into who is using these labels currently or what they're being used for. it would be pretty trivial to keep the old labels around for a while though, so I'd say being safe here doesn't really cost us anything. we could document it in the release notes, and then give a deprecation period (maybe two releases) after which the old l

[2019-05-01 18:15] nkubala commented on #2031
I definitely think we should prioritize consistency over trying to steer users away from error here. differences in the way flags are set would not be immediately obvious to users, and would probably lead to confusing results. with #2032 the resulting values consumed by skaffold should be pretty clear when set through multiple vehicles, so I think this issue can be closed.

[2019-05-01 18:46] priyawadhwa commented on #1815
I just removed the podname from the key in #2047  -- could someone please confirm if this fixes their issue? You can find instructions for installating the latest version  of skaffold at HEAD [here](https://skaffold.dev/docs/getting-started/#installing-skaffold) under `Latest bleeding edge binary`

[2019-05-01 18:47] priyawadhwa commented on #1594
I just removed the podname from the key in #2047 -- could someone please confirm if this fixes their issue? You can find instructions for installing the latest version of skaffold at HEAD [here](https://skaffold.dev/docs/getting-started/#installing-skaffold) under `Latest bleeding edge binary`

[2019-05-01 19:37] bhack commented on #348
@nkubala Do you know if it solve also https://github.com/GoogleContainerTools/skaffold/issues/1396?
Or is it still in the Skaffold perimeter?

[2019-05-01 20:38] robertrbruno opened #2053 "Ability to disable all docker build caching"
Is there currently a way to turn off all caching in skaffold while building a docker image?  I want the equivalent of docker build --no-cache flag.  Is this already available?  If not could this option be added.

[2019-05-01 20:58] priyawadhwa commented on #2053
Hey @robertrbruno, currently this isn't an option available in skaffold, but it wouldn't be too hard to add support for the flag.

You would have to add a `NoCache` field to the docker config [here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/latest/config.go#L611), and then pass it in [here](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaf

[2019-05-01 21:19] robertrbruno commented on #2053
I'll give it a whirl!

[2019-05-01 21:52] tejal29 commented on #2031
re-opening this.
I feel by allowing users to set any flag value via env is a error prone. There should be whitelist of options which could be set via env.

[2019-05-01 22:02] corneliusweig commented on #2031
@tejal29 maybe this can be resolved by better documentation?
I think it is quite valuable to have env variables for all flags for the IDE integration (because env flags can be provided to skaffold, whereas custom flags cannot). Besides, I don't know of any issues, where users ran into problems with env vars.

[2019-05-01 22:08] tejal29 commented on #2002
except for this one #2045

[2019-05-01 22:45] tejal29 commented on #2031
ah, i just looked in the issue you pointed out.
Makes sense!

[2019-05-01 22:45] #2031 closed

[2019-05-01 22:46] #922 closed

[2019-05-01 22:59] tejal29 commented on #2051
you can do that right now by specifying deploy config which points the manifests to the directory they are generated to .
Skaffold by default uses "KubeCtl" deployer with path as "k8s/". The examples use that feature.

Please add the following diff and you be fine.
[code]

[2019-05-01 23:31] tejal29 opened #2056 "Infer deployables from git tagger in skaffold deploy flow"
Context: This is left over idea up issue from #922
In #922, we added a flag to `--build-artifact` to `skaffold deploy` which is json representation of the build output. This is an explicit way of connecting build to deploy.

### Current behavior

User has to explicitly generate the json file and feed that to deploy, even when using git tagger.

### Expected behavior

If users are using the **GitTa

[2019-05-02 02:18] panitaxx commented on #1998
Ok give a couple of a days. This is my first PR ever.

[2019-05-02 04:17] shavo007 opened #2057 "Issue deploying to GKE with cloud build / skaffold run"
### Expected behavior
Deploy sample application to GKE with cloud run

### Actual behavior
Get error:

[code]

### Information

- Skaffold version: version v0.28.0
- Operating system: macOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Setup a project with vs code extension Cloud code
2. Create GKE cluster
3. Try and run the application with cloudbuild profile

My d

[2019-05-02 06:11] jschaf commented on #2051
Thanks, that did the trick.  Looks like:

[code]

[2019-05-02 06:11] #2051 closed

[2019-05-02 08:20] MisterTimn commented on #2040
No but I've never added a resources folder or a jib folder... Is this something that skaffold jib adds perhaps?

[2019-05-02 16:02] tejal29 commented on #1998
Looking forward to it!

[2019-05-02 16:06] tejal29 commented on #2051
great you can also use file glob pattern like "bazel-out/darwin-fastbuild/bin/myserver/**"

[2019-05-02 16:07] tejal29 commented on #2051
e.g :
[code]

[2019-05-02 17:12] nkubala commented on #348
@bhack I don't think this issue addresses #1396 unfortunately. that will require a separate change to the way we trigger syncs and isn't really IDE specific. an API for controlling specific skaffold components is still on the table though, and we'll look into how we can leverage it to sync to non-skaffold targets.

[2019-05-02 17:23] nkubala commented on #1978
@prary thanks for the issue. are you seeing this with all kaniko build failures? maybe I'm misunderstanding the issue but I'm surprised we didn't catch this earlier.

I wonder if we can use something like [terminationGracePeriodSeconds](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/) in the pod spec to control the lifecycle a bit so we can grab some info from the pod bef

[2019-05-02 17:37] bhack commented on #348
Ok thanks. I will stay subscribed to #1396 for updates.

[2019-05-02 18:01] priyawadhwa commented on #1998
cc @tejal29 @panitaxx

I'm not sure if we actually want to add support for this -- `gcloud build submit` is meant for running an arbitrary cloudbuild.yaml, but skaffold is using GCB specifically as a hosted docker build (we don't even run `gcloud build submit`). Personally, I think it only makes sense to support the `.dockerignore` in this case.

[2019-05-02 18:22] priyawadhwa commented on #2053
This can be closed now that #2054 has been merged. Thanks @robertrbruno !

[2019-05-02 18:22] #2053 closed

[2019-05-02 18:38] priyawadhwa commented on #1594
Cool, thanks @arshbot. Added a unit test in #2059.

I'll go ahead and close this issue then, and if anyone sees more errors please comment here and I'll open it up again.

[2019-05-02 18:38] #1594 closed

[2019-05-02 21:02] priyawadhwa commented on #1948
Hey @arshbot I tried to reproduce this as follows:

1. Switched context to docker for desktop
2. Added `namespace:test` [here](https://github.com/GoogleContainerTools/skaffold/blob/master/integration/examples/react-reload/app/k8s/pod.yaml) in our [react-reload](https://github.com/GoogleContainerTools/skaffold/tree/master/integration/examples/react-reload) example
3. Ran `skaffold dev`

& both logs

[2019-05-02 23:06] oceaneer commented on #1649
Any progress made on this issue? I'm experiencing the same.
osx 10.14.4
credHelper acr-darwin
jib-maven-plugin 1.1.2 (package jib:build)
skaffold 28.0
---
apiVersion: skaffold/v1beta9
kind: Config
build:
  artifacts:
    - image: <image name>
      jibMaven: {}
  local: {}

....
[INFO] Built and pushed image as <image name>
[INFO]
[INFO] ------------------------------------------------------------

[2019-05-02 23:13] shavo007 commented on #2057
command is
`skaffold run --profile cloudbuild -v=debug`

[2019-05-03 06:22] danielsonjh opened #2061 "Use image name from jib configuration"
Hi, is it possible to make the `image` field optional when using jib, and use the image property from the jib config instead?

Definitely a nitpick, but it would be nice to not have to repeat the image name

[2019-05-03 11:11] prary commented on #1978
@nkubala I guess terminationGracePeriodSeconds works when pod is failing to respond for health check and kubernetes sends a signal to shut down but if Pod terminates itself like in present case. It would do graceful shutdown and wait for terminationGracePeriosSeconds.

In our case internal error occurs due to invalid config and container stops normally hence for pod its a normal termination, so it

[2019-05-03 15:31] charlyx commented on #1677
`kubeContext` actually supports "equals" AND "not equals" by prefixing with `!`.
Shall we add a `kubeContextRegexp` so we don't mix things with current behaviour?

[2019-05-03 16:30] prary opened #2063 "HTTP/HTTPs Proxy for kaniko pod while running in isolated environment"
### Expected behavior
Run skaffold in lab environment where access to internet is via proxy and use kaniko as image builder. Now skaffold spins up kaniko pod which doesn't have proxy set which results in base image pull failure, hence both kaniko and skaffold fails

### Actual behavior
skaffold should run seamless irrespective of environment.

### Possible Solution
Kaniko config should have http_p

[2019-05-03 20:11] #2045 closed

[2019-05-03 21:51] demisx opened #2066 "Port forwarding not working when official image is referenced"
### Expected behavior
Port forwarding should work no matter if the image is pulled directly from Docker hub or built locally

### Actual behavior
Port forwarding works only if image is build locally.

### Information

- Skaffold version: version: v0.28.0
- Operating system: MacOS 10.14.4
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
[code]

[code]

[code]

[2019-05-03 22:35] tejal29 commented on #1998
Thanks @priyawadhwa. Makes sense what you just mentioned.
@panitaxx skaffold is not trying to provide GCB builder functionality but uses GCB to do a remote docker build.
So, we only respect ".dockerignore".
Is there a reason why you don't want to not add node_modules and git in doeckerignore ?
https://nodejs.org/en/docs/guides/nodejs-docker-webapp/

[2019-05-03 22:41] panitaxx commented on #1998
I guess it's just a little programmer's laziness and the fact that you would have to maintain two very similar files (plus the whole skaffold setup). It's no biggie. Maybe it should be explained in the docs only?

[2019-05-03 23:09] dbolkensteyn opened #2067 "Git tagging failing with: Not a git repository (or any parent up to mount point /workspace)"
### Expected behavior
Images get tagged with the commit SHA1

### Actual behavior
Images get tagged as `dirty`.

### Information

I am triggering Skaffold from Google Cloud Build through the GitHub app, using Google Cloud Build to build the various Docker images in parallel.

`cloudbuild.yaml`
[code]

`skaffold.yaml`
[code]

If I download the .tar.gz sources for the Google Cloud Build dedicated to

[2019-05-03 23:16] dbolkensteyn commented on #2067
So the build step received the following arguments:

[code]

So Skaffold somehow already determined that the tag was dirty from the main dispatching Cloud Build.

[2019-05-03 23:19] dbolkensteyn commented on #2067
And there are a bunch of such warnings in the logs of the main dispatching Cloud Build run:
[code]

[2019-05-03 23:37] dbolkensteyn commented on #2067
So I am seeing the error about with both `latest` and `v0.28.0` tags of the `gcr.io/k8s-skaffold/skaffold` image.

Now, if I downgrade to `v0.27.0`, I am hitting error #1979 instead (`exec: \"git\": executable file not found in $PATH`).

I'll try to find a SHA1 for the image that includes https://github.com/GoogleContainerTools/skaffold/pull/1987, prior to the migration to go-git to try to see if

[2019-05-04 00:16] dbolkensteyn commented on #2067
Meanwhile, as a workaround, one can rely on Google Cloud Build's `$REVISION_ID` environment variable in the `skaffold.yaml` to force the tag:

[code]

and by forwarding the `$REVISION_ID` environment variable from the `cloudbuild.yaml` file:
[code]

[2019-05-05 09:54] dbolkensteyn commented on #2067
Note that this might actually be a problem with the Google Cloud Build GitHub app itself instead of Skaffold, which seem to fetch the repo sources from downloading a tarball rather than performing a Git clone, and hence not recreate a properly formed Git repository.

[2019-05-05 14:59] prary commented on #1978
@nkubala @balopat Right now we manually fetch the kaniko logs like in this [issue](https://github.com/GoogleContainerTools/skaffold/issues/1307#issuecomment-443355078) where kaniko pod failed before logger was attached.

[2019-05-05 18:26] ljani opened #2068 "Binaries for linux-arm"
### Expected behavior

Find a `skaffold-linux-arm` binary from [the releases page](https://github.com/GoogleContainerTools/skaffold/releases).

### Actual behavior

There is no `skaffold-linux-arm` binary.

### Information

- Skaffold version: v0.28.0
- Operating system: Arch Linux ARM on Raspberry Pi 3B+ (armhf)

Thanks.

EDIT: cross compiling `skaffold` with `GOOS=linux GOARCH=arm GOARM=5` seems

[2019-05-05 19:12] corneliusweig commented on #2038
@dkirrane So I was just looking into this, but I don't understand what exactly you are missing here.
- The actual command that Skaffold uses for install/update is already logged with `-v debug` (as you showed above).
- Values files are static files provided by the user, so you already know their content.
- Overrides are static yaml snippets from the `skaffold.yaml` and therefore also known.
- Addi

[2019-05-05 19:21] dkirrane commented on #2038
@corneliusweig where is the helm install/upgrade logged. I don't see it in the output

[2019-05-05 19:33] corneliusweig commented on #2038
@dkirrane So when I run `skaffold run -v debug 2>&1 | grep -i 'Running command'`, this shows
[code]
The `helm install` should be what you are looking for, right? Can you show what this yields for your example?

[2019-05-06 05:19] jschaf opened #2070 "Bazel doesn't rebuild images when files change in subdirectories"
### Expected behavior

Skaffold detects changes in a Bazel workspace and triggers a rebuild and upload.

### Actual behavior

Skaffold doesn't see the change.

### Information

- Skaffold version: v 0.28.0
- Operating system: MacOS
- Contents of skaffold.yaml:  https://github.com/jschaf/bazel-skaffold-bug/tree/474a1c5e9184970a9490bd19acfc232f3a01e711/foobarbaz

[code]

### Steps to reproduce the b

[2019-05-06 05:53] jschaf opened #2071 "Bazel example uses external image instead of locally built image"
### Expected behavior

Building `examples/bazel` should use the local `main.go` binary.

### Actual behavior

I think Docker downloads gcr.io/k8s-skaffold/skaffold-bazel and uses that instead.

Interestingly, skaffold will detect changes and update the container.  But I'm not sure what's updating.  I don't see any connection between the bazel `go_image` and `gcr.io/k8s-skaffold/skaffold-bazel`.

#

[2019-05-06 06:08] jschaf commented on #2071
Hmmm, it works now so probably configuration error on my end.  I don't understand how skaffold maps the bazel `go_image` to the `gcr.io` repo.

Some other notes

1. ~~There's no output from the `examples/bazel` repo.  It appears to hang after displaying:~~

2. I can use the local image directly by changing the image references in `skaffold.yaml` and `k8s-pod.yaml` to the image generated by `go_ima

[2019-05-06 06:13] jschaf commented on #2071
I misunderstood the docs.  https://skaffold.dev/docs/references/yaml/

`build.artifact.name` is naming the output of `bazel build` which is in turn used by the Kubernetes config.

[2019-05-06 06:13] #2071 closed

[2019-05-06 06:29] jschaf commented on #2070
I think the issue is that the watcher isn't recursing into subdirectories.  If I recreate the example in the root directory, everything rebuilds as expected.

[2019-05-06 09:15] pbriet commented on #891
Hi.

I'm still having this issue, with GKE 1.12.7 & Skaffold 0.28.0

[code]

Same context : a Job, with `restartPolicy: Never`,  that is already deployed.

Am I missing something?  Does this fix also applies to `skaffold run` or only `skaffold dev`?
Thanks,

[2019-05-06 16:21] Rundowner opened #2073 ""Error response from daemon: invalid reference format" for --default-repo with port"
### Expected behavior

- `getting_started` example works when running `skaffold dev --default-repo k8s-master-and-docker-registry`, assuming `k8s-master-and-docker-registry` is a bare metal server with K8S and a private docker registry running (https://www.digitalocean.com/community/tutorials/how-to-set-up-a-private-docker-registry-on-ubuntu-18-04).

### Actual behavior

- `getting_started` exampl

[2019-05-06 16:23] Rundowner commented on #2073
It seems that the only approach(es) that get skaffold (partially) up and running fail to actually pull the container image.

[2019-05-06 16:25] corneliusweig opened #2074 "Helm deployments do not add labels to PodTemplates"
### Expected behavior
Skaffold should also label pods created via Deployment resources.

### Actual behavior
Skaffold adds labels to the `deployment.metadata.labels` but not to `deployment.spec.template.metadata.labels`.

### Information

- Skaffold version: HEAD

This clearly comes from this function where the live api-resource is patched: https://github.com/GoogleContainerTools/skaffold/blob/25f

[2019-05-06 17:19] priyawadhwa commented on #1998
Definitely think it should be clarified in the docs. Would you be open to submitting a PR @panitaxx?

[2019-05-06 18:15] tejal29 commented on #2073
@Rundowner Our tutorials mention, how to run the examples in your own private repository.
https://skaffold.dev/docs/tutorials/

Can you try that?

[2019-05-06 18:26] tejal29 commented on #2068
Great! Can you give it try by adding linux-arm to the Makefile [SUPPORTED_PLATFORMS](https://github.com/GoogleContainerTools/skaffold/blob/master/Makefile#L31)? and see it works?

[2019-05-06 18:35] priyawadhwa commented on #2066
Hey @demisx this behavior is currently expected -- only containers that contain images specified as skaffold artifacts will be port forwarded.

We're working on adding user defined port-forwarding, which would allow you to specify additional containers to port-forward. Until that feature is fleshed out and merged, unfortunately this will continue to work as you've experienced.

[2019-05-06 19:01] tejal29 commented on #2067
The way skaffold with GCB works is
1. From the config, skaffold will create GCB builder
2. From the config, it will create the Tagger to use (in your case Git Tagger)
3. Skaffold will call GCBBuilder.Buildr(ctx, out, tags, artifactsToBuild)
   where
   1. ctx is the context
   2. out is where output is written
   3. tags: is calculated images tags as per the Tagging  Policy.
In short, tags are com

[2019-05-06 19:14] corneliusweig commented on #2074
@tejal29 would you like to assign yourself?

[2019-05-06 19:25] ljani commented on #2068
[code]

So, it does not work. However the following works for `skaffold-linux-arm`, but obviously it's not the correct patch:

[code]

[2019-05-06 19:58] demisx commented on #2066
Got it. Thank you very much for your explanation. Would be really helpful if documentation page https://skaffold.dev/docs/how-tos/portforward/ mentioned this too. 👍 Shall I close this issue then?

[2019-05-06 20:37] priyawadhwa commented on #2066
Agree that documentation would be helpful, would you be interested in submitting a PR?

Feel free to close the issue as well, as it's effectively a dupe of #1311

[2019-05-06 20:39] markkohdev commented on #336
We're experiencing the same issue.  Has anyone found a viable solution to this?

[2019-05-06 21:45] demisx commented on #2066
Sure. I'll take a stab. I've created https://github.com/GoogleContainerTools/skaffold/pull/2078 this PR with clarification added. Let me now if I need to add anything else.

[2019-05-06 22:02] balopat commented on #1566
@dgageot  was working on an xgo based cross compilation in https://github.com/GoogleContainerTools/skaffold/pull/2006 - if that works out we can have `fsevents` on Mac, but no one else is working on this actively currently. It is definitely high priority for us this quarter.

A reproducible load testing suite would be nice to create for this, one that we could just kick off manually (maybe at one

[2019-05-06 22:25] tejal29 commented on #2068
Thanks for trying,
The makefile generates,
"out/skaffold/%-{GO-ARCH} rule [here](https://github.com/GoogleContainerTools/skaffold/blob/master/Makefile#L55)

Can you add an explicit rule for
[code]
With the flags you mentioned?

[2019-05-06 22:26] tejal29 commented on #2068
if that works, we can try introducing 2 archs for linux by creating a map of platforms to archs

[2019-05-06 23:40] demisx commented on #2066
I can definitely take a stab at the PR.

[2019-05-06 23:40] #2066 closed

[2019-05-07 00:21] demisx commented on #1815
I've just ran into the same issue with v0.28 on MacOS. I checked the latest build and this port changing issue seems to be fixed. 👍

One thing I've noticed with the latest build, though unrelated to this issue, is that my current file sync results in error for me:

[code]

Looks like  it's still referencing the original pod ` dl-org-api-7b87dcbcf6-rqnlq ` that is now in "Terminating" status after

[2019-05-07 00:27] Mavericktx2 commented on #1815
What is provided for
Sent from Yahoo Mail on Android

  On Mon, May 6, 2019 at 7:22 PM, Dmitri Moore<notifications@github.com> wrote:
I've just ran into the same issue with v0.28 on MacOS. I checked the latest build and this port changing issue seems to be fixed. 👍

One thing I've noticed with the latest build, though unrelated to this issue, is that my current file sync results in error for me:
S

[2019-05-07 00:57] demisx commented on #1815
Hmm... I'm no longer seeing the sync error reported above. Seems to be working OK after restart.

[2019-05-07 09:55] ljani commented on #2068
Success:

[code]

`GOARM` seems to default to `GOARM=5` for me at least. I'm not sure if it's needed, I'm not really familiar with `go`.

[2019-05-07 14:02] panitaxx commented on #1998
yes. will do.

[2019-05-07 15:14] demisx opened #2081 "Publish latest master on brew"
Would it be possible to start publishing the latest `master` build on brew as `skaffold@latest` maybe? Would be helpful to be able to quickly switch to this version sometimes to confirm bug fixes instead of downloading and installing the binary each time.

Thank you for such an excellent tool!

[2019-05-07 15:30] dkirrane commented on #2039
Yip makes sense to do the `repo add` part in `skaffold init`

The other commands are probably already run during skaffold deploy?
[code]

[2019-05-07 15:38] dkirrane commented on #2038
@corneliusweig - ah not sure how I missed that. It does print install:
[code]
Question, where can I get the `skaffold-overrides.yaml`?

[2019-05-07 16:37] rgoodwin opened #2082 "Unable to use kustomize deploy with kustomize base coming from remote git repository"
### Expected behavior

I should be able to run `skaffold -p airflow-dev  and get my deployment to work (in this case deploying airflow. Which is fully working when I do not use a git repo for the kustomize base).

### Actual behavior

I run `skaffold dev -p airflow-dev -v debug` and this error (not i have masked the actual domain and org as its an internal enterprise repo)

[code]
### Information

[2019-05-07 17:21] priyawadhwa commented on #1815
Thanks @demisx

Since this should be fixed in the next release, I'm going to go ahead and close this issue. If anyone continues to see any issues feel free to comment here and we can open it up again.

[2019-05-07 17:21] #1815 closed

[2019-05-07 17:27] tejal29 commented on #2082
Thanks @rgoodwin. Right now skaffold does not support git repo.
We need to check if `base` is a local path here "https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/deploy/kustomize.go#L159" and fetch dependencies only if its local path.

Would you up to submitting a PR for this?

Thanks
Tejal

[2019-05-07 17:31] tejal29 commented on #2039
I don't think we do that right now.
We run `helm upgrade --force` and `helm dep build`

[2019-05-07 17:36] tejal29 commented on #1706
This should be fixed.

[2019-05-07 17:36] #1706 closed

[2019-05-07 17:37] tejal29 commented on #1393
I have verified, --tail runs as expected for `skaffold run`.
Please feel free to re-open if this exists.

[2019-05-07 17:37] #1393 closed

[2019-05-07 17:37] tejal29 commented on #1352
This is fixed as part of #922

[2019-05-07 17:37] #1352 closed

[2019-05-07 17:56] rgoodwin commented on #2082
Hi, thanks for reviewing this. I will contact you directly about doing a PR.

[2019-05-07 18:39] nkubala commented on #1966
dug into this one a little bit, it looks like there's problems on both ends here. in skaffold we're creating the oauth client for making cloud build requests using the default credentials only, which obviously isn't right. but it turns out that the flow for creating a client from authenticated user credentials from the oauth stdlib is broken, because it's hardcoded to use a `credentials` file whic

[2019-05-07 20:33] nkubala commented on #2081
@briandealwis to confirm but I believe all of our brew packages are published through manual PRs made to the homebrew project, so it would be impossible to do on every merge to master :( maybe there is a way to automate publishing to brew?

[2019-05-07 20:42] nkubala commented on #1738
closed via #2076

[2019-05-07 20:42] #1738 closed

[2019-05-07 20:48] andsens commented on #1738
Awesome stuff. Thanks @pyaillet!

[2019-05-07 21:12] tejal29 commented on #2082
@rgoodwin, the documentation [here](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/kustomization.yaml#L130) mentions
[code]

You can check if a path is a local file path by using the following utility function
[code]

[2019-05-07 21:13] corneliusweig commented on #2038
@dkirrane the overrides are written to a temporary file which is automatically removed after deployment. But the file content is literally what you have in `skaffold.yaml` already. So there's no point in making this temporary file permanent.

Can this issue be closed then?

[2019-05-07 21:21] tejal29 commented on #2050
The quick fix for you would be to use `--no-prune` flag on your command line.
You can also set environment variable
"SKAFFOLD_NO_PRUNE=false"

I was digging in to the cleanup code and i think that is the intended behaviour.
We delete images which are built by skaffold. So all layers mentioned in your global skaffold config will be deleted.
If you want to iterate a specific layer, then i would sugg

[2019-05-07 21:26] tejal29 commented on #2057
Thanks @shavo007, We have not yet explored skaffold  -> cloud run . This is on our team radar.

[2019-05-07 21:30] priyawadhwa commented on #1597
Hey @khrisrichardson , do you still need this feature, or does knative solve this issue for you now?

[2019-05-07 21:42] balopat commented on #2008
I'll close this for now, please reopen if you need more information.

[2019-05-07 21:42] #2008 closed

[2019-05-07 21:45] balopat commented on #2040
can you please attach in a comment the full log, including build logs?
I _think_ the stat error is a red herring - that should be fine not to have those dirs, jib just lists them as standard places for the watcher to look for files.

[2019-05-07 21:49] balopat commented on #1980
This could be a good candidate to document in our local envs section, @corneliusweig what do you think?

[2019-05-07 21:49] etanshaul opened #2086 "Investigate issues with shared grpc channel and multiple skaffold processes"
The Skaffold Event API seems to have unexpected behavior when multiple skaffold processes are executed.

I'm still investigating exactly what is happening, but I'm opening this issue to start the discussion on what actually is intended to happen.

Overview:

the grpc channel is shared across all running skaffold processes. It appears as though only the first Skaffold process is reporting events vi

[2019-05-07 21:55] balopat commented on #1978
Thanks for filing this.
When skaffold detects the kaniko pod failure, we should provide more information - e.g.
- pod logs if they exist
- the output of `kubectl describe` for the kaniko pod

[2019-05-07 22:01] nkubala commented on #2050
skaffold does its pruning through the `Force` and `PruneChildren` options passed to the docker client call (or the `--force-rm` flag passed to `docker build` if building through the CLI). I think the majority of users iterating with `skaffold dev` don't want to see dozens or even hundreds of images stacking up in their docker daemon when they're done using skaffold, though I could be wrong.

I don

[2019-05-07 22:11] #1347 closed

[2019-05-07 22:27] priyawadhwa commented on #2046
Hey @botwhytho thanks for submitting this. I've been working on fixing up port forwarding and this is super helpful. Some thoughts:

I just merged a fix for #1815, so the next release (scheduled for this week) should solve this problem. If you'd like to test it out now, you can find instructions for installing the latest version of skaffold at HEAD [here](https://skaffold.dev/docs/getting-started/

[2019-05-07 22:28] khrisrichardson commented on #1597
Hi @priyawadhwa. Tekton pipelines solves the abusive thing I was trying to coerce skaffold to do. Closing. Thanks!

[2019-05-07 22:28] #1597 closed

[2019-05-07 22:30] nkubala opened #2087 "Fix test for undefined artifact type in local_test.go"
https://github.com/GoogleContainerTools/skaffold/pull/2077#discussion_r281789563

[2019-05-07 22:34] corneliusweig commented on #1980
@balopat I think it's worth to be mentioned, but I would not add a new example. My feeling is this would unnecessarily bloat the docs and not add much.

[2019-05-08 03:06] prary commented on #1978
Design doc proposal #2083

[2019-05-08 03:09] prary commented on #1978
wondering why do we need to describe the kaniko pod?

[2019-05-08 05:53] sfxworks opened #2089 "Trouble with pulling image vs manual pull"
I am trying to build my image locally and pull it with crio on the cluster so I can dev.

### Expected behavior
The image pulls and pod starts so I can start dev.

### Actual behavior
Image fails to pull

### Information
When trying to troubeshoot this,

`kubectl run --image docker.io/quantomworks/git-to-k8s:2019-05-08_01-30-59.487_EDT@sha256:8119b054b57e8624644ba3f1db71913990c75d4965bff6866e4a3c2

[2019-05-08 07:15] sfxworks commented on #2089
No, upon further investigation, that theory is wrong.
@sha isn't the cause. For some reason, I still cannot pull okay though. Maybe something to do with dirty images and dockerhub?

[2019-05-08 08:23] MisterTimn commented on #2040
[code]

[2019-05-08 08:36] corneliusweig commented on #1980
@sbhardwaj-mt Can you confirm that `kind` is working with the above instructions?

Further, the title also talks about docker-for-mac not working correctly. Do you still have problems with that?

[2019-05-08 15:17] charlyx commented on #2050
@nkubala I'm interested in sending a PR, if that's OK 😄

[2019-05-08 17:43] dkirrane opened #2092 "Doc defect - Templated fields in Helm packaged section"
Skaffold [currently states](https://skaffold.dev/docs/how-tos/templating/) that Templated fields are allowed in:
-  `build.tagPolicy.envTemplate.template`
-  `deploy.helm.releases.setValueTemplates`

But, I've checked skaffold version `v0.28.0`. It also allows Templated fields in:
- `deploy.helm.releases.packaged`

**For example:**
[code]

[2019-05-08 18:35] priyawadhwa commented on #2092
Thanks for pointing this out @dkirrane ! The docs would need to be updated [here](https://github.com/GoogleContainerTools/skaffold/blob/da0ce3ba4b2bd64843a4e767a79fb2f3c3ef6a1d/docs/content/en/docs/how-tos/templating/_index.md). Would you be interested in submitting a PR?

[2019-05-08 18:39] priyawadhwa commented on #1978
Hey @prary, if the kaniko pod fails before it starts to run (say, a secret was unable to mount), then the output of `kubectl describe` will provide that information. This is useful since there won't be any logs in that scenario.

[2019-05-08 18:50] tejal29 opened #2093 "skaffold image does not have version."
### Expected behavior
In #2055, we added version string to label value like "skaffold-<version>"
This was to get some metrics on which versions of skaffold are in used.
However, that is breaking users who use skaffold image which does not have version set
See [here](https://github.com/GoogleContainerTools/skaffold/pull/2062#issuecomment-490602117)

### Actual behavior
skaffold image shd have versi

[2019-05-08 19:01] corneliusweig commented on #2093
@tejal29 As said in #2062, I don't think this is actually the case. Take a look at
[code]
which prints
[code]

The version is therefore set with value a117236.

[2019-05-08 19:28] Jonathan34 commented on #2093
docker image tagged v0.28.0 works fine btw.

[2019-05-08 19:28] corneliusweig commented on #2093
Btw, the reason why the version is not formatted as `v0.28.0-125` is that cloudbuild does a shallow checkout (without tags, of course) from the Skaffold repo. Thus the whole `git describe --tags` does not work as expected, but prints the abbreviated commit sha instead. Probably not worth to fix this, as it would cause a lot of complexity.

[2019-05-08 19:38] balopat commented on #2086
Can you try with `--rpc-port`?

[2019-05-08 19:54] corneliusweig commented on #2093
@tejal29 So I tested this locally with
[code]
When I run the getting-started example inside this container, I get the label `app.kubernetes.io/managed-by: skaffold-a117236` as expected and not an error as reported by @Jonathan34 .

@Jonathan34 I think this must be a different problem, maybe connected to istio?

[2019-05-08 20:42] expz opened #2094 "`skaffold dev` always rebuilds container from base image"
### Expected behavior

If nothing has changed in the repository or base image, then the build images have the same SHA digest and hence can use the cache. (If the current behavior is a feature and not a bug, then perhaps a skaffold dev --use-cache flag could be added?)

I have a huge container that takes ~15 minutes to build on my laptop with most of it spent installing python libraries, etc that

[2019-05-08 21:29] demisx commented on #1311
Would be also very helpful if skaffold could bind to any interface, not just localhost. Similar to `--address` param in `kubectl`:

[code]

 Unless this is already possible and I just can't figure out how. Default skaffold port forwarding in v0.28 seems to map to `127.0.0.1` only and I have outside SNS service that's doing POST to a local IP address instead.

[2019-05-08 21:37] priyawadhwa commented on #1311
Hey @demisx , thanks for the suggestions. We have an issue open for this at #1358 which you can track. We're currently working on developing a solution.

[2019-05-08 22:02] balopat commented on #2094
Can you try [`--cache-artifacts`](https://skaffold.dev/docs/references/cli/)?

[2019-05-08 22:10] demisx commented on #1311
Great! Sorry, didn't notice it.

[2019-05-08 22:20] Jonathan34 commented on #2093
@corneliusweig I saw that error happening for a standard deployment too using 0.29:
[code]

[2019-05-08 22:24] priyawadhwa commented on #2089
Hey @sfxworks, just to clarify, the issue is that if you build an image yourself the cluster is able to pull it, but when skaffold builds the image the cluster is not able to pull it?

[2019-05-08 22:30] etanshaul commented on #2086
thanks @balopat, as discussed, this definitely sounds like what we want to be using. Will report back.

[2019-05-09 02:53] sfxworks commented on #2089
@priyawadhwa Almost. When I use skaffold to build it, calling my local docker engine on my PC, it can push it just fine. Where the issue splits is after that. Skaffold cannot automatically spin up a pod to build the image, but deploying the pod.yml manually it can pull the image just fine.

[2019-05-09 04:24] sfxworks commented on #2089
After further testing, this may be related to my config somehow as I can get the node example to run okay.

[2019-05-09 04:35] sfxworks commented on #2089
Pulling to grc.io yields okay using the node example, but pulling from docker.io does not.

[2019-05-09 05:59] sfxworks commented on #2089
Going into the node itself, crio does seem to not like the SHA tag when I try to pull it with it vs without.

[code]

[2019-05-09 14:41] expz commented on #2094
Thanks for your quick reply! The `--cache-artifacts` flag does solve the problem as I stated it, but it only caches the final built image. Yes, if I run `skaffold dev --cache-artifacts --no-prune` twice in a row now, it does not rebuild the container.

However, if I modify that last line of the Dockerfile, then it rebuilds from the base image:
[code]
Docker's behavior is to use the cache for the i

[2019-05-09 15:21] corneliusweig commented on #2093
@Jonathan34 is that deterministic or does it only happen once in a while? It would also help, if you could provide a minimal example where this happens.

[2019-05-09 15:27] Jonathan34 commented on #2093
It happens every time. Can we do a hangout/zoom (or whatever else) ? That might be easier to illustrate and run some live debugging.

[2019-05-09 16:48] tejal29 commented on #2093
@corneliusweig I didnt make it clear on #2062, i am fixing the bug where skaffold should not append a "-<version>" if version is empty.

Regarding why version is empty for @Jonathan34 i am not yet sure.

[2019-05-09 16:52] tejal29 commented on #2093
I also saw another bug
[code]
We should fix

[2019-05-09 16:52] balopat commented on #2093
1. the issue with the skaffold image versions is the following:
 a.) `gcr.io/k8s-skaffold/skaffold:latest` is the bleeding edge, built by `deploy/cloudbuild.yaml` on every push to master. This is unusual, typically `latest` points to latest stable version. I think we should fix that: have `latest` point to last version at release time and have an `edge` version instead that is published on every p

[2019-05-09 17:08] dkirrane opened #2098 "Add Jib tagPolicy"
Allow using pom.xml as the version for the Docker Image tag. Maybe Jib can provide this?

For example:
[code]

The Jib equivalent would be
[code]

[2019-05-09 17:11] expz commented on #2094
Perhaps someone could retag this as a feature request?

[2019-05-09 17:21] priyawadhwa commented on #2050
@charlyx that would be great!

[2019-05-09 17:24] Jonathan34 commented on #2093
agree with 1.

i pulled latest (yesterday) and put the sha in that comment: https://github.com/GoogleContainerTools/skaffold/pull/2062#issuecomment-490597054

[2019-05-09 17:35] demisx commented on #936
Can some one please explain how `skaffold dev --cache-artifacts` is different from `cacheFrom:` used in skaffold YAML files? Maybe I can help to improve the docs. I've read them few times, but still don't get when to use one vs. the other:

[code]

[code]

[2019-05-09 17:45] priyawadhwa commented on #2089
@sfxworks I see, so crio doesn't support pulling an image specified by both tag and digest.

I would recommend opening up an issue in their [repo](https://github.com/cri-o/cri-o) and seeing if they would be willing to add this feature. It's supported by other runtimes (like docker) and I think it would be useful for other developers as well. If not, we can consider adding an option to skaffold to

[2019-05-09 17:49] priyawadhwa commented on #936
Hi @demisx

The `--cache-artifacts` flags is for caching skaffold artifacts. Skaffold stores its own cache in `~/.skaffold/cache`, and allows skaffold to skip rebuilding artifacts it has built before.

`cacheFrom` is a docker CLI flag specifically for artifacts built by docker, and is used by docker to determine images to consider as cache sources when building a new docker image.

[2019-05-09 18:12] demisx commented on #936
Hi @priyawadhwa. Thank you so much for your explanation. Would you say these would be the best practices for a common dev environment in order to speed up the experience?

1. Pass `--cache-artifacts --no-prune` to `skaffold dev` on each run
1. In `skaffold.yaml` reference the built image in `cacheFrom`
[code]

[2019-05-09 18:44] corneliusweig commented on #2093
:man_facepalming: I should have checked more thoroughly: when using the _exact_ image as @Jonathan34, the version is indeed emtpy:
[code]
yields
[code]
So the version is indeed unset.

Commit 63f353f05f is a merge with two parents, but that does not break `git describe` so that it outputs "".
Could there be any chance that the `VERSION` env variable is set to an empty string for the non-release cl

[2019-05-09 19:04] balopat commented on #2093
Looking at the logs it looks like it was resolving to empty for some reason...
still looking, it's a bit puzzling:

[code]

[2019-05-09 19:13] corneliusweig commented on #2093
@balopat I even tried a shallow git checkout, but that worked as expected (so no empty version string)

[2019-05-09 19:21] priyawadhwa commented on #936
1. I would definitely recommend `--cache-artifacts` to speed up the dev loop. Whether or not `--no-prune` is a good option really depends on each use case, and whether a user can afford to store images locally.

2. You could do that if there's a chance the image has been built for, but really any images that may share layers with the artifact you're trying to build would make sense here.

[2019-05-09 19:36] balopat commented on #2093
yeah, this is completely related to our cloudbuild/dockerfile mishap...
more info as I'm debugging:

on a "good" latest build we have:
[code]
I.e. somehow the Dockerfile build picks up the result of the previous cross compilation (btw which is correctly copied to GCS with the correct version info in both the cases)

In the "wrong" version we have

[code]

because [this line in the Dockerfile ](htt

[2019-05-09 19:58] demisx commented on #936
If I remove `--no-prune` option, won't that force skaffold to build images on each run? I have a feeling that I am misunderstanding what kind of artifacts skaffold builds and what skaffold relies on docker daemon to build.

[2019-05-09 21:07] balopat commented on #2093
the fix is in: https://github.com/GoogleContainerTools/skaffold/pull/2099

[2019-05-09 21:23] priyawadhwa commented on #936
Ah sorry I didn't clarify, images built for the artifact cache aren't deleted locally during prune!

[2019-05-09 21:55] #2093 closed

[2019-05-09 23:22] #1180 closed

[2019-05-09 23:26] balopat opened #2100 "Flake: `TestGetStateRPC`"
[code]

https://source.cloud.google.com/results/invocations/da264594-6ab4-48fe-b761-e8510853853a/targets/runtimes-common%2Fskaffold%2Fpresubmit/log

[2019-05-09 23:39] balopat opened #2101 "Release v0.29.0"

[2019-05-10 00:38] priyawadhwa commented on #2007
Hey @ojhughes -- the initial custom builder implementation is out now, if you're interested in trying it out right now with buildpacks.io! Here's an [example](https://github.com/GoogleContainerTools/skaffold/tree/master/integration/testdata/custom) using a custom build script and associated [docs](https://skaffold.dev/docs/how-tos/builders/#custom-build-script-run-locally). If you end up trying it

[2019-05-10 00:42] priyawadhwa commented on #1262
@roychowdhuryrohit-dev we just added support for custom builders with skaffold, which should solve your use case.

 Here's an [example](https://github.com/GoogleContainerTools/skaffold/tree/master/integration/testdata/custom) using a custom build script and associated [docs](https://skaffold.dev/docs/how-tos/builders/#custom-build-script-run-locally). If you end up trying it out, please open an is

[2019-05-10 01:05] tbarrella opened #2103 "Panic during Kaniko build"
I was running `skaffold build` (using Kaniko), and looking at event logs, it seems like a node issue caused the build to fail with a panic. I don't have enough logging to be sure how to reproduce, although hopefully the [code reference](https://github.com/GoogleContainerTools/skaffold/blob/1bbf9a3f13094e58c90399a4bd7e07250e0d2da5/pkg/skaffold/kubernetes/wait.go#L93) might be enough...

### Expecte

[2019-05-10 09:08] blue-user-poz commented on #1649
Same issue occurs on Windows 10, skaffold 28.0, jib-maven-plugin 1.0.2

[2019-05-10 09:36] Joostvanderlaan commented on #1358
@matti You can use a remote cluster to deploy, also your container builds can run in a remote cluster or Google Cloud build. No need to run anything in Cloud Shell as far as I can see...? Also, you would not want to run Minikube in Cloud Shell, it is not made for that. Think about the performance... If it would even start up at all.

[2019-05-10 10:10] ojhughes commented on #2007
Thank you @priyawadhwa I will try this out soon

[2019-05-10 10:10] #2007 closed

[2019-05-10 14:03] levkov opened #2106 "Can't build and deploy with Skaffold Release v0.29.0"
Trying to deploy helm-deployment from examples.
https://github.com/GoogleContainerTools/skaffold/tree/master/examples/helm-deployment

It was working in the past releases.

### Expected behavior
Successfully build the image locally and deploy helm chart.

### Actual behavior
Skaffold exits with error:
[code]
### Information

- Skaffold version: 0.29.0
- Operating system: Ubuntu 18.10
- Contents of

[2019-05-10 14:27] matti commented on #1358
@joostvanderlaan yes I could, but I has training/classroom scenarios in mind

[2019-05-10 15:58] priyawadhwa commented on #2101
Done 🍿

[2019-05-10 15:58] #2101 closed

[2019-05-10 16:00] priyawadhwa commented on #2103
Hey @tbarrella thanks for submitting this issue! This is definitely a bug.

We should have a check right before:
[code]

Would you be interested in submitting a PR?

[2019-05-10 16:09] priyawadhwa commented on #2106
Thanks for submitting this @levkov.

@tejal29 could this be because the build/deploy flow was changed?

[2019-05-10 16:51] balopat commented on #2106
Hi @levkov -

Yes, this did change - I will add this to the release notes:

`skaffold deploy` now require built images first. It was kind of confusing that `deploy` was building.

You can try this flow:

1. `skaffold build -q > built.json`
2. ` skaffold deploy -a built.json`

Or if you want a single command that builds and deploys, you can run `skaffold run`.

[2019-05-10 17:12] levkov commented on #2106
Hi @balopat

Thank you for your answer.

Indeed `skaffold run` is working correctly and doing builds and deploys in a single command, same as `skaffold deploy` before.
As I understand, it means that starting from Skaffold Release v0.29.0 `skaffold run`  should be used instead of `skaffold deploy`.

[2019-05-10 17:37] balopat commented on #2106
Yes, your understanding is correct!
Thank you again for opening the issue.

[2019-05-10 17:37] #2106 closed

[2019-05-10 21:30] tejal29 commented on #1748
I am seeing this same error now on my branch where i am testing helm.
Assigning this to me

[2019-05-10 21:48] sasso commented on #2082
Having the same issue, is there any workaround for this?

[2019-05-10 22:03] #1998 closed

[2019-05-10 23:14] hoatle commented on #1379
I guess this could be the error from the imageStrategy

- default using `fqn` => notice that the `sha256` part exists => sync works

`
DEBU[0026] Running command: [helm --kube-context gke_teracy-iorad_us-central1-a_dev install --name teracy-dev-docs-dev helm-charts/teracy-dev-docs-dev --namespace hoatle -f override.yaml --set image=docker.io/hoatle/teracy_teracy-dev-docs-dev:v0.6.0-a6-59-ge9cbde7-

[2019-05-10 23:31] majelbstoat opened #2110 "feature request: more control over the docker build context"
I have a monorepo with shared code. Because docker doesn't follow symlinks and never will, I have to copy that shared code into the right place before building the image for each service. There's currently no facility for doing that with skaffold. I'm using VSCode's Cloud Code extension, so running a wrapper script isn't straightforward, but in any case, I'd like the build to be fully described in

[2019-05-11 01:46] tbarrella commented on #2103
Sure, I'd be happy to! There isn't an existing wait_test.go and I'm not sure if there's a very quick way to add a test as well, but I'll start with just that change.

[2019-05-11 16:34] hoatle commented on #1379
PR sent https://github.com/GoogleContainerTools/skaffold/pull/2111

[2019-05-12 12:22] prksu commented on #2056
Hi @tejal29

why don't we make `skaffold deploy` use the latest tag by default?

[2019-05-12 16:16] michaelbeaumont commented on #1156
I can't reproduce this bug anymore, if I write the following it works:

[code]

[2019-05-13 01:59] tuananh opened #2114 "creating a cronjob"
i want to create a cronjob with schedule is every 10 minutes so i put this as schedule value : `*/10 * * * *`. However, this will fail with error

    error converting YAML to JSON: yaml: line 14: did not find expected alphabetic or numeric character

when I use it with value `0 2 * * *` (every 2 hours), it seems fine however.

### Expected behavior
cronjob created
### Actual behavior
deploy faile

[2019-05-13 17:06] corneliusweig commented on #2110
Would it be an option to create hard links instead of soft links?

[2019-05-13 17:11] corneliusweig commented on #2114
Have you tried putting quotes around the schedule template variable, like
[code]

[2019-05-13 17:14] steevee commented on #336
I had the same issue, and upgrading from `v0.26` (via snap) to the `v0.29` as per [release info](https://github.com/GoogleContainerTools/skaffold/releases/tag/v0.29.0) did the trick.

[2019-05-13 17:43] priyawadhwa commented on #969
***Plan for stabilizing port forwarding***

As discussed with the team, the plan is as follows:

- [ ] Turn port forwarding off by default
- [ ] Refactor current port forwarding code such that:
1. Temporary services are created for forwarded pods
2. Those services are forwarded to the local host
for `skaffold debug`.
3. Remove port forwarding for pods from `skaffold dev`.
- [ ] Add logic to forwar

[2019-05-13 18:09] majelbstoat commented on #2110
Hard links cannot be created for directories, so unfortunately not.

[2019-05-13 21:08] balopat opened #2116 "integration tests leak pods to cluster"
we have a bunch of pods in our integration_test cluster...
I suspect leakage from our integration tests.
If not, then let's close this.
I'll clear these up manually now...

[code]

[2019-05-13 23:26] #2116 closed

[2019-05-13 23:26] balopat commented on #2116
this was a result of a manual testing - it turns out.

[2019-05-13 23:32] hipstern opened #2117 "Bazel build target is not parsed correctly resulting in "required value not set: target""
Since attempting to upgrade to skaffold 0.28/0.29 i'm getting "required value not set: target" on what seems like a failed validation. however the field "target" does indeed exist and does indeed have a string value which maps to a real bazel target. not sure what's up with that!

In fact, the official bazel example from this repo produces the same error:
https://github.com/GoogleContainerTools/sk

[2019-05-13 23:41] #2117 closed

[2019-05-13 23:50] tejal29 commented on #1748
Should be fixed in #2105.
We use to enforce Build in deploy flow. Somehow if the build result did not have the tag for the artifact in images, we would end up seeing this error.
I will verify this again on my branch to make sure this is fixed!

[2019-05-14 11:19] corneliusweig commented on #2110
So recursively creating hard links is also not an option?
[code]

[2019-05-14 14:53] MagicShoebox opened #2119 "File sync nesting documentation ambiguity"
The documentation at https://skaffold.dev/docs/how-tos/filesync/ is ambiguous.
(Source file: docs/content/en/docs/how-tos/filesync/_index.md)

The documentation states:

It then provides two relevant examples (# 2 and # 4) that seem to conflict:
[code]
[code]

In the second example, why are the files not placed in <WORKDIR>/static/static-html/? If the hierachy is only transplanted when using `**`,

[2019-05-14 15:37] mxey opened #2120 "Partial apply interferes with pruning"
`skaffold dev` only passes modified resources to `kubectl apply`. If using `--prune` as a kubectl flag, that will remove all matching resources but the modifies ones.

### Expected behavior

kubectl does not delete unmodified resources if using pruning

### Actual behavior

kubectl deletes unmodified resources if using pruning

[code]

### Information

- Skaffold version: v0.29.0
- Operating syste

[2019-05-14 16:30] majelbstoat commented on #2110
The code is shared to multiple different locations in the monorepo, and the benefit of symlinks is whenever a new shared library is added, it is immediately available to all the services. Running a script each time a new file is added complicates the developer workflow. I already have a hacky script to glue bits and pieces together, replacing it with another isn't an improvement :)

[2019-05-14 16:47] MagicShoebox commented on #2009
As a piece of feedback: I found it confusing that `custom.buildCommand` didn't depend on `context` the way `docker.dockerfile` did.

[code]

runs `./build.sh` NOT `./static/build.sh`.

In contrast:
[code]

builds `./static/Dockerfile`.

I would also echo the desire to pass command-line arguments.

[2019-05-14 17:53] balopat commented on #2103
yeah, we'll add a wait_test.go soon - for now this should be sufficient

[2019-05-14 17:54] #2103 closed

[2019-05-14 22:04] niftyhoot opened #2123 "skaffold helm valuesFiles does not handle tilde sign"
### Expected behavior
skaffold run should be able to use and supply values from file in the home directory
### Actual behavior
skaffold run fails with an error of "no such file or directory"
### Information

- Skaffold version: version...v0.29.0
- Operating system: ...Ubuntu
- Contents of skaffold.yaml:

[code]

[2019-05-14 22:39] balopat commented on #2081
Hi, yeah, just checked and brew is very PR oriented - even having a nightly build would be a stretch for that model. We can make the skaffold upgrade command more accessible / easier to run potentially. I'm closing this. Thank you for the discussion!

[2019-05-14 22:39] #2081 closed

[2019-05-14 22:51] priyawadhwa commented on #2061
Hey @danielsonjh, thanks for starting this discussion. We are not yet convinced that this would be worth the effort. The current model is that skaffold passes in the expected image name to jib, and this would be the other way around. We could be potentially convinced if we see a larger need for this feature.

 I'm going to go ahead and close this issue, but if anyone is passionate about it please

[2019-05-14 22:51] #2061 closed

[2019-05-14 22:52] priyawadhwa commented on #2063
Design doc here: https://github.com/GoogleContainerTools/skaffold/pull/2064

[2019-05-14 23:01] balopat commented on #2067
1. I'd like to understand if the Github App is really the culprit in getting the repo without the .git directory - or if there is a filtering in place somewhere maybe? Do you have any.gitignore, .dockerignore, .gcloudignore files?
2. Currently you have GCB that kicks off another GCB process through skaffold - you could just use use a simple docker builder in skaffold (without the `-p cloud-build`

[2019-05-14 23:25] GavinOsborn opened #2124 "skaffold debug reference applications"
I feel it would be extremely valuable to have a reference project that demonstrates how to get up and running with `skaffold debug`.

Things I would hope to see:
 - A project per supported language/runtime
 - `git clone <repo> && skaffold debug` is all I should need to run it.
 - Supporting documentation that explains they key parts that make the feature tick
 - Include a screenshot/video of how y

[2019-05-14 23:38] priyawadhwa opened #2125 "Custom artifact build command should run in the artifact context"
As described in this [comment](https://github.com/GoogleContainerTools/skaffold/issues/2009#issuecomment-492317902), the `buildCommand` for a custom artifact should be run in the context of that artifact.

From the comment:

[code]

[code]

[2019-05-14 23:40] priyawadhwa commented on #2009
@MagicShoebox thanks for pointing that out, I think it makes sense that the buildCommand should be run within the context. I've opened #2125 to track that issue.

By command-line arguments, do you mean you would like to be able to specify arbitrary flags to pass in to the build command? Or, would the environment variables described in my comment [here](https://github.com/GoogleContainerTools/skaff

[2019-05-15 04:43] botwhytho commented on #2046
@priyawadhwa Thank for the great work on PRs and triaging tickets. Will be updating to 0.29.

The documentation change from #2078 definitely makes current functionality clear now.

Can you elaborate a bit on how an `--images` flag would work? How would skaffold translate a list of images into port-forwarding? Would it detect pods/deployments depending on those images and check for ports/containerP

[2019-05-15 06:14] yfei1 opened #2126 "Skaffold couldn't find local image artifacts"
I have a project with a base-image and a few application images based on that. I am working on migrating from my current building workflow to skaffold.

The base build dockerfile is responsible for downloading my project's dependency
[code]
The application image will then build an executable file based on the dependencies.
[code]
I tried to let skaffold understand the dependency between these imag

[2019-05-15 09:06] RSWilli opened #2127 "File sync Ignoring Files"
I'm using Skaffold filesync with NodeJS hotreload and its working pretty fine, except that the image gets rebuild even if I didn't change any files.

I suppose the reason for that is that VSCode does a git fetch in the background, and updates the .git folder (as shown by the mtime of ls -la)

is there any way of a "blacklist" of files that should not be watched?

### Information

- Skaffold versio

[2019-05-15 14:27] MagicShoebox commented on #2009
I meant arbitrary flags, rather than having the entire build command considered as a single executable.

I'm working on Windows and wanted to run a PowerShell script rather than a .bat script. Since the build command is always run using Windows CMD, I was hoping I could simply make it a call to PowerShell, e.g.
`buildCommand: powershell -ExecutionPolicy Bypass -File %BUILD_CONTEXT%\build.ps1`

Whe

[2019-05-15 18:25] tequilarista opened #2129 "Skaffold examples should incorporate container healthcheck eval"
Upon completion of [#176](https://github.com/GoogleContainerTools/skaffold/issues/176), we should also add use of the success state (and failure conditions) to the skaffold/examples for best practice examples.

[2019-05-15 19:33] briandealwis commented on #2044
The [`npm run` docs](https://docs.npmjs.com/cli/run-script) say that:
   - `npm run xxx` looks up the `xxx` script in the `package.json`
   - `any arguments after a `--` is passed appended to the script
   -  it adds `node_modules/.bin` to the PATH
   - the shell used can be customized with the `shell-script` configuration
   - executed from the root of the module

So trying to emulate `npm run`to

[2019-05-15 20:10] priyawadhwa commented on #2009
@MagicShoebox ah I see, flags should definitely work.  I have a fix in to separate the executable from additional arguments (#2130). Once that goes through, would you be willing to try it out and let us know if it fixes your issue?

[2019-05-15 20:51] priyawadhwa commented on #2127
Hey @RSWilli , thanks for submitting this! Skaffold will watch all dependencies in your Dockerfile, so if you have something like `COPY . .` in your `Dockerfile` then the .git directory will be watched.

Could you try adding  a `.dockerignore` file to your workspace, and adding `.git` to it?

[2019-05-15 22:02] nkubala commented on #2050
closed through #2113

[2019-05-15 22:02] #2050 closed

[2019-05-15 22:19] #2125 closed

[2019-05-15 22:20] #2126 closed

[2019-05-15 23:05] ItsLeeOwen commented on #1872
Following the example @tejal29 linked to I organized overlays to differentiate service `environments` such as development, staging, production, sre-playground, but used fully separate kustomized directories per service.

[code]

So my initial thought was that'd it'd be nice if I could just point skaffold at both paths `api/k8s` & `ui/k8s`.  I'm not sure what restructuring the manifests in the mann

[2019-05-15 23:07] nkubala commented on #2040
yeah that error you're seeing isn't related. I'm unable to recreate this locally, when I run the helm-deployment example on my local machine I can see logs just fine.

maybe this is somehow related to the provided namespace? skaffold grabs all the pods for all provided namespaces on deploy and matches them with images it build through a pod selector, but if it's not looking in the right namespace

[2019-05-15 23:46] ItsLeeOwen commented on #488
Using skaffold profiles for production feels strange.  Someone accidentally runs `dev -p production`, later stops dev thereby deleting the namespace, and then goes to lunch.  At least skaffold makes it super easy to redeploy 😃

[2019-05-16 04:37] adrienjt commented on #1737
FWIW, this is a regression. No problem with v0.14.0.

(I've had no reason to upgrade for a long time, decided to upgrade to v0.29.0 to avoid too many changes at once when I do need to upgrade... no luck, I'm going to stick with v0.14.0 a little longer.)

[2019-05-16 07:00] RSWilli commented on #2127
thanks for your response

yeah that worked like a charm, would have been nice to have something like this mentioned in the docs (maybe it is, but i didn't find it)

[2019-05-16 07:01] #2127 closed

[2019-05-16 07:16] Aisuko commented on #488
I think that profiles include all things make sense for me

[2019-05-16 09:23] MisterTimn commented on #2040
Everything is deployed in correct namespace and namespace added to skaffold.yaml so it should be looking in the right place. I guess it could have something to do with the names or labels of the container/pod maybe? Maybe the jib+helm combo in my setup doesnt mix wel...

I can read logs of all my pods, using kubectl logs, so everything is deploying fine. Yet no log streamed in my skaffold dev term

[2019-05-16 10:28] adrienDog opened #2134 "Getting started with Docker does not work"
### Expected behavior
Following the tutorial [Getting Started](https://skaffold.dev/docs/getting-started/) with Docker:
[code]
Should have the same behaviour as `skaffold run`

### Actual behavior
**ERROR**
[code]

### Information

- Skaffold version: 0.29.0 (latest)
- Operating system: linux
- Contents of skaffold.yaml: not relevant

[code]

### Steps to reproduce the behavior

1. Run `docker run

[2019-05-16 15:24] ItsLeeOwen opened #2137 "Deploying to GKE with Cloud Build + Kustomize"
### Expected behavior
The following cloudbuild.yaml config, which works as expected using `dev` or `run` on a local machine, to also build & deploy to GKE from Cloud Build as seen on [Priya Wadhwa's demo](https://www.youtube.com/watch?v=TYx0BTyFtmc?t-17m)

[code]

### Actual behavior
The build succeeds, however deployment fails with a kustomize manifest error.
[code]

### Information

- Skaffold v

[2019-05-16 17:25] ivanporty opened #2139 "Allow using environment variable for force color option"
Related to https://github.com/GoogleContainerTools/skaffold/issues/2021

This way we can avoid using incompatible CLI option (`--force-colors`) and checking for Skaffold version before using it. I believe now it's not possible to specify it with an environment variable (`SKAFFOLD_FORCE_COLORS` doesn't seem to work)

[2019-05-16 18:42] briandealwis commented on #2044
So it turns out we cannot use `NODE_OPTIONS` as it's picked up by `npm`'s node as well as the underlying app's node too.
[code]

[2019-05-16 19:12] nkubala commented on #2134
hey @adrienDog. just running `docker run gcr.io/k8s-skaffold/skaffold:latest skaffold run` won't work for a few reasons:

1) there's no skaffold.yaml or project in the provided skaffold image. the image we provide is for use in CI pipelines, so the smaller the better. we don't bundle in any of our examples because they would add extra size to the image. you'll need to mount in your project into th

[2019-05-16 19:27] briandealwis commented on #2044
We can use `npm run xxx --node-options=--inspect=nnn`, but it suffers from the same problem if the npm script uses `nodemon` since the inspect is first take up by `nodemon`'s `node`.  Sadly our `examples/nodejs` does this :-(
https://github.com/GoogleContainerTools/skaffold/blob/14436d7ca3026238132e6b06d5bc3d5c781906a8/examples/nodejs/backend/package.json#L6-L8

[2019-05-16 20:05] nkubala commented on #145
@demisx yes we're just picking colors from a pool, nothing smarter than that. it would be tough to do different colors for different log levels across multiple pods, but we're open to ideas for improvements!

[2019-05-16 20:38] demisx commented on #145
Maybe as a  work around just get rid of the red color? It's usually used for errors and every time I see a bunch of red in the skaffold log my heart drops. :)

[2019-05-16 21:12] corneliusweig opened #2142 "Support helm 3"
### Expected behavior
Skaffold should work with helm 3. The pre-release for helm3 was published today (May 16).

As long as Skaffold does not support helm3, there should be an error message with a recommendation to downgrade.

### Actual behavior
When trying the `helm-deployment` example, `skaffold run` failed with
[code]
So it seems that helm 3 does not support the `--name` flag anymore.
### Info

[2019-05-16 22:56] priyawadhwa commented on #2139
Thanks for opening this @ivanporty, I have a fix open in #2143 :)

[2019-05-17 09:36] dgageot commented on #2134
I'm going to close this one as it's not a bug in Skaffold

[2019-05-17 09:36] #2134 closed

[2019-05-17 17:41] #1823 closed

[2019-05-17 17:57] priyawadhwa commented on #2139
This should be fixed now!

[2019-05-17 18:09] c410-f3r commented on #2073
This also happens with me whenever I explicit declare a port, e.g., `--default-repo some.domain:5000`

[2019-05-17 19:31] nkubala commented on #2142
thanks @corneliusweig, yeah I'll try playing around with this more next week and see what needs to be done. I'm all for trying to support it, just need to see what kind of changes we need to make.

[2019-05-17 19:36] briandealwis commented on #2124
I've started this as a set of integration tests in #2141.

[2019-05-17 22:16] priyawadhwa commented on #2046
Hey @botwhytho for sure, I'm working on finishing up my plan for user defined port-forwarding & can definitely open up a PR with a design doc. Once it's ready would really appreciate your feedback, hopefully I'll have it open in the next few days.

re: the `--images` flag, skaffold would port forward any containers that ran one of the images passed in. However, I think it's unlikely we will procee

[2019-05-18 09:11] adrienDog commented on #2134
Thank you very much for the explanations!

I am trying to use skadfold from a CI (GitLab) yes so I will explore Kaniko :)

[2019-05-18 20:12] r0bj opened #2150 "kaniko: error building image: error building stage: waiting for process to exit: signal: killed"
### Expected behavior

Image is build and pushed to repo.

### Actual behavior

Images are not build, error message is generated:
[code]

### Information

- Skaffold version: v0.29.0
- Operating system: Ubuntu 18.04
- Contents of skaffold.yaml:

[code]

Dockerfile:
[code]

### Steps to reproduce the behavior

[code]
Building finished with error, no image is created.

Building the same image direct

[2019-05-18 22:28] r0bj commented on #2150
It was caused by too low memory resources set for a container, OOM killed container.

[2019-05-18 22:28] #2150 closed

[2019-05-19 02:11] Maziak2520 commented on #2057
well explained here https://github.com/GoogleContainerTools/skaffold/issues/1966

[2019-05-19 13:13] r0bj opened #2153 "kaniko buildArgs env variable not properly interpolated"
### Expected behavior

kaniko buildArgs env variable is interpolated to kaniko executor parameter.

### Actual behavior

kaniko buildArgs env variable is not interpolated to kaniko executor parameter and it's passed literally.

### Information

- Skaffold version: v0.29.0
- Operating system: ubuntu 18.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

Execute:
[code]

Th

[2019-05-20 13:28] cmosguy opened #2154 "Produce signed binaries"
### Information

- Skaffold version: latest version
- Operating system: Windows 10

### Steps to reproduce the behavior

1. Clicked on the link for getting the binary for windows:  https://storage.googleapis.com/skaffold/releases/latest/skaffold-windows-amd64.exe

2.  Both the Windows Defender and Symantec Endpoint protection both are prompting me that this .exe can put my system at risk:

![image

[2019-05-20 16:53] etanshaul commented on #2139
Thanks Priya!

[2019-05-20 17:42] nkubala commented on #2154
hmm. I wonder if this is happening because we're not signing the binary when we build it? @dgageot any ideas?

[2019-05-20 22:23] #407 closed

[2019-05-21 00:28] GavinOsborn commented on #2124
As well as some of the above suggestions I think this project would benefit from a clear understanding of its relationship with Cloud Code.

[2019-05-21 04:45] Hudsonzp opened #2158 "Skaffold sync unable to parse config"
### Expected behavior
Yaml file parses correctly and directory syncing works.

### Actual behavior
Parse error on the latest version.  No more directory sync.

### Information
A little while ago I approached skaffold with an issue syncing entire directories.  I was instructed to use an undocumented pattern `***/*.js`.  That worked, but it appears that pattern has been removed on the latest version

[2019-05-21 13:01] giorgioazzinnaro opened #2159 "Error creating kaniko pod because of resource quotas"
I am facing this issue where my build using Kaniko w/ localDir fails. The issue is with quotas, however, I think while #1683 addresses part of the issue, the one I have is because my K8s cluster has mandatory resource quotas and in the Kaniko pod an init container is not defining any limits/requests.

### Expected behavior

Kaniko build starts

### Actual behavior

Build fails

[code]

### Informa

[2019-05-21 13:15] ItsLeeOwen commented on #1937
In particular I'm curious how one uses skaffold to commit the built k8s manifests to a target repo or branch when using `skaffold deploy`.  Is there a way to get the manifests built output similarly to `kustomize build` or otherwise?

[2019-05-21 13:26] giorgioazzinnaro commented on #2159
Yes, can confirm that by applying this ugly patch it works.

[code]

What would be the best option? To have this configurable from skaffold.yaml? Or just apply some sane defaults in the code?

[2019-05-21 14:01] meatherly commented on #1749
I can confirm I get this issue on Linux using buildkit. If I delete m minikube instance it gets past the build but fails on deployment because their is no minikube instance but if I spin up minikube it breaks right after the build is finished.

@nkubala I was looking at the debug logs for skaffold and it looks like it pulls the docker env from minikube?
[code]

[2019-05-21 15:40] corneliusweig commented on #2158
The sync config was improved with version v1beta10. The easiest fix is to change your config version to `v1beta9` and call `skaffold fix`. Skaffold will update your sync config for you.

[2019-05-21 17:37] gbird3 opened #2160 "Skaffold remoteManifests doesn't work as documented"
### Expected behavior
Adding remoteManifests to the skaffold.yaml should allow you to replace an already deployed k8s resource with the locally built version.

### Actual behavior
Skaffold doesn't use the remoteManifests section in the yaml and instead just looks for the manifests in the default k8s/*.yaml location.

### Information
This feature would be critical for us to start using skaffold. We

[2019-05-21 17:44] #1615 closed

[2019-05-21 18:11] lucasmpr opened #2161 "Is there a way to deploy to files?"
I'm trying to create a CI/CD flow with kubernetes and skaffold. I still dont have a way to have the history of the deployed versions, or do a simple callback.

What I was thinking about  is to export the tagged yaml generated by skaffold deploy to commit them and finally trigger the CD process.

Is there a way?

[2019-05-21 20:03] elisiano opened #2162 "Add support for unique-per-image tag (was DIGEST_HEX)"
In #1482 the tagging mechanism changed.
### Expected behavior
with a tagging policy like this:
[code]
I was expecting to see the digest appended automatically to the name.
### Actual behavior
The digest is not appended
### Information

- Skaffold version: v0.29
- Operating system: macOS/Linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. start minikube
2. make sure

[2019-05-21 20:21] briandealwis commented on #2162
For example, I applied the following change to `examples/getting-started` to use `{{.DIGEST_HEX}}`:
[code]

`skaffold dev` then produces a warning
[code]

But the images are tagged as my username and do not have a digest appended.

[2019-05-21 21:56] nkubala commented on #1737
turns out this is happening because skaffold is adding labels to **all** sections in any manifest that use `metadata` as the key, including those in the `validation` section for a CRD. obviously this is bad because we should never be touching the CRD validation section.

a fix for this would be checking for `validation` sections when we're recursively parsing the manifest, and skipping those secti

[2019-05-22 05:36] Hudsonzp commented on #2158
@corneliusweig thank you!  Very help and solved my issue.

[2019-05-22 05:37] Hudsonzp commented on #2158
@corneliusweig

So this is the proper approach now for the triple star?
[code]

Just checking that "dest" is meant to be empty?

[2019-05-22 06:00] corneliusweig commented on #2158
Yes this is expected. Please see https://skaffold.dev/docs/how-tos/filesync/ for details.

[2019-05-22 17:02] matti commented on #2082
why do I have a memory that skaffold with remote git repo worked a few months ago? maybe I just used kustomize directly

[2019-05-22 19:02] tejal29 commented on #1737
I have a PR out for this which is in draft right now. https://github.com/GoogleContainerTools/skaffold/pull/2060

[2019-05-22 20:47] balopat commented on #2161
Thanks for opening this @lucasmpr - it might be interesting to explore this direction - it seems to me that it would require a `skaffold render` phase rather than `deploy` to file - as deploy is implicitly a "render" & "kubectl apply" operation. If there is a lot of interest we could expose this - for `helm` we could use [`helm template`](https://helm.sh/docs/helm/#helm-template) for the final dep

[2019-05-22 20:54] tejal29 commented on #2082
@rgoodwin is working on a branch. Let us know if its urgent.

[2019-05-22 21:22] balopat commented on #2154
I'll have a look at this - we can probably get this sorted out with some internal workflows.

[2019-05-22 21:30] #2139 closed

[2019-05-22 22:12] lucasmpr commented on #2161
#1937 has a similar question.

I don't see another way to do GitOps inside skaffold without this step.

I can try to build something if you need me.

[2019-05-23 14:11] VVKot commented on #167
@ahmetb @d11wtq
I have a setup like so - say, 3 microservices `serviceA`, `serviceB`, `serviceC` in separate repos and another repo with ESB.

If I want to change `serviceA`, is it correct that the best I can do with skaffold at the moment is like so?
[code]

[2019-05-23 19:41] #1681 closed

[2019-05-23 21:28] #2044 closed

[2019-05-23 23:20] balopat opened #2164 "Release v0.30.0"

[2019-05-23 23:54] #2164 closed

[2019-05-24 00:05] balopat opened #2166 "CustomArtifact builder panics if no dependencies specified"
We should fail a bit more gracefully and/or have meaningful defaults.

[code]

[2019-05-24 13:46] bmcstdio opened #2167 "skaffold run --tail not working as of 0.30.0."
### Expected behavior

Running `skaffold run --tail` should block while streaming logs from deployed object.

### Actual behavior

Running `skaffold run --tail` exits with the following message:

[code]

### Information

- Skaffold version: 0.30.0.
- Operating system: Linux.
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Run `skaffold run --tail -f skaffold.yaml -p g

[2019-05-24 14:27] twuttk opened #2168 "Documentation for use of named kaniko flags unclear"
The current documentation for the use of kaniko additional flags states

https://skaffold.dev/docs/references/yaml/

In the documentation it's not clear how e.g. the --reproducible flag for kaniko can be used in a non deprecated way. An approach like "reproducible: true" does not work

Skaffold version used: 0.29
apiVersion: skaffold/v1beta10

[2019-05-24 16:32] demisx commented on #97
Currently, if I change a value in a config map, skaffold (v0.30) does neither rebuild/apply the updated value. I have to restart it manually for new values to take effect. Is this related to this issue  (or https://github.com/kubernetes/kubernetes/issues/22368) or is there something wrong with my skaffold configuration? I've confirmed that I am not manually syncing my `k8s/` folder.

[2019-05-24 16:47] dkirrane opened #2169 "Feature request: allow skaffold build once and tag&push Image to multiple repos"
I'd like to use Skaffold+Jib to build my container image and push it to both an in-house Nexus Docker Registry and also push to eu.gcr.io

Currently I'm having to rebuild the Image for each repository using skaffold profiles.
Could Jib build the image once and tag it with each repo name I need (same tag version) and then push it to each repo.

Benefit:
Build once, push to different repos I use and

[2019-05-24 18:27] briandealwis commented on #2169
Unfortunately this isn't possible.  Basically Skaffold+Jib ends up running something like
[code]

Maven supports invoking plugin goals with [different `<execution>` IDs](https://maven.apache.org/guides/mini/guide-configuring-plugins.html#Using_the_executions_Tag), so I wondered if you could use the `args` field to add additional `jib:build` to that command-line (e.g., `jib:build@id2`).  Unfortunat

[2019-05-24 18:54] tejal29 commented on #960
I created a local docker registry,  and changed the getting-started example to push it to local registry

[code]
These were the logs from docker daemon.  Looks like, the user agent is set to "UpstreamClient(skaffold-v0.29.0-134-gab46e0d6-dirty)"
[code]

[2019-05-24 19:05] lucperkins commented on #97
@demisx The issue is still open. Skaffold does not yet support this desired behavior.

[2019-05-24 19:07] dahovey commented on #2039
+1 for `helm repo update`

This is related to #1665

[2019-05-24 19:11] dahovey commented on #1665
Could we also have a bool flag to update repositories? I have private repository of internal helm charts for shared components. I'm using `remote: true` property for these helm releases, but it would be nice to update repositories before installing.

[2019-05-24 19:14] demisx commented on #97
@lucperkins Got it. Sorry, I wasn't sure if this was the issue I was experiencing or not. I'll be watching!

[2019-05-24 19:40] briandealwis commented on #2124
Projects have been merged with #2141 into [`integration/testdata/debug/`](https://github.com/GoogleContainerTools/skaffold/tree/master/integration/testdata/debug).

[2019-05-24 19:40] #2124 closed

[2019-05-24 20:25] briandealwis opened #2170 "`skaffold debug`: support npm-nodemon"
#2141 has one caveat:

This npm-nodemon style of launch seems useful, but it's unclear if `nodemon` makes sense with use with a debugger as DevTools seems to be able to upload and install file changes on the server.

If we do need to support npm invoking nodemon, I think we'll need to take a different approach where we would wrap `node` with a script that would determine whether it is launching an

[2019-05-24 20:58] crimeminister opened #2171 "Support GitHub Actions for building"
### Expected behavior

Skaffold should allow building with the [local build tool](https://github.com/nektos/act) for GitHub Actions.

### Actual behavior

The GitHub Actions local build tool isn't supported.

[2019-05-24 21:42] dkirrane commented on #2169
@briandealwis I tried with duplicate artifacts but only 1 image `foo` is passed to Maven:

[code]

[code]

[2019-05-24 22:22] briandealwis commented on #2169
Hmm it worked for me with `skaffold dev`

[2019-05-25 02:17] briandealwis commented on #2169
`skaffold run` from `examples/jib` works fine for me with the following change:
[code]

Note that grepping for 'Running' as you're showing above will mask any build failures as I learned when trying to reproduce  :-)
[code]

And I see similar things when I build against a remote cluster with `jib:build`.

[2019-05-25 03:03] briandealwis commented on #2170
I've attached [a proof-of-concept `node`-wrapper script](https://github.com/GoogleContainerTools/skaffold/files/3219061/node-wrapper.sh.txt) here that propagates an `--inspect`-style argument to a child `node` that invokes an application script, skipping intermediate `node` executions of library scripts like `nodemon`.  The `--inspect` argument is propagated via a `NODE_DEBUG` environment variable

[2019-05-25 03:05] briandealwis commented on #2044
Follow-up in #2170.

[2019-05-25 03:08] briandealwis commented on #1877
Fixed by #2043

[2019-05-25 03:08] #1877 closed

[2019-05-25 03:19] briandealwis opened #2173 "Add support for Python for `skaffold debug`"
Add support for debugging Python 2.7 and 3.7 applications.  These language runtimes require additional debugging support files that will be installed via the "duct-tape" image defined by the [`container-debug-support` project](https://github.com/GoogleContainerTools/container-debug-support/tree/duct-tape/skaffold-duct-tape).

The Python language debugging support currently installs [`ptvsd`](https

[2019-05-25 03:22] briandealwis opened #2174 "Add support for Go for `skaffold debug`"
Add support for debugging Go applications.  This language runtime requires additional debugging support files that will be installed via the "duct-tape" image defined by the [`container-debug-support` project](https://github.com/GoogleContainerTools/container-debug-support/tree/duct-tape/skaffold-duct-tape).

The Go debugging support currently installs [Delve](https://github.com/go-delve/delve), b

[2019-05-25 03:52] briandealwis opened #2175 "Add support for C#/.NET for `skaffold debug`"
Add support for debugging .NET-based applications.  This language runtime requires additional debugging support files that will be installed via the "duct-tape" image defined by the [`container-debug-support` project](https://github.com/GoogleContainerTools/container-debug-support/tree/duct-tape/skaffold-duct-tape).

The .NET debugging support currently installs VSDBG, which is [not open-source an

[2019-05-27 04:51] #1011 closed

[2019-05-27 07:51] #2167 closed

[2019-05-27 12:44] corneliusweig opened #2184 "Should `skaffold debug` be configurable per artifact?"
Maybe this is not a real concern. But if somebody has many microservices and wants to debug exactly one, there is currently no way to tell Skaffold that all the other containers should run conventionally.

My concern is that debug requires more resources and makes applications slower. If I already know which part I want to debug, I don't like all other microservices being run in debug mode as well

[2019-05-27 12:45] corneliusweig commented on #2002
This issue was fixed with #2062.

[2019-05-27 12:50] trenslow opened #2185 "Image repo handling strategies don't work for EU repos"
### Expected behavior
A push to default repo eu.gcr.io/{PROJECT_ID}/example-directory should overwrite the image name, not create a new repo/directory within default repo

### Actual behavior
Image is pushed to eu.gcr.io/example-project/example-directory/eu_gcr_io_example-project_example-directory

### Information
My guess is that this functionality only works for repositories beginning with 'gcr.

[2019-05-27 15:26] rugwirobaker commented on #1749
I too can confirm the same behavior as @meatherly on Linux. My builds(building the skaffold examples without any change to the Dockerfiles) fail when Minikube is running like:

`FATA[0057] build failed: building [guestbook-backend]: build artifact: docker build: Error response from daemon: client version 1.39 is too new. Maximum supported API version is 1.38`

When I stopped minikube the build wen

[2019-05-27 16:26] briandealwis commented on #2184
I think it makes sense.  Perhaps the command line can be extended to allow specifying the specific artifacts to be debugged.

[2019-05-28 01:23] rugwirobaker opened #2187 "Skaffold craches when building with the docker daemon inside minikube"
### Expected behavior
`skaffold dev` or `skaffold  build` is supposed to work with my current docker context which in this case is the minikube docker daemon when it's running.
### Actual behavior
My build fail with the following error when I run the above commands with minikube running which I believe is due to my laptop's docker client being newer :

`FATA[0057] build failed: building [guestbook

[2019-05-28 01:38] Hudsonzp commented on #2158
@corneliusweig thanks for the info and link.

I've noticed now that I'm back to the problem I had previously when files get flattened.

- Here is the original issue: https://github.com/GoogleContainerTools/skaffold/issues/1896
- Looks like you solved it with the triple asterisk: https://github.com/GoogleContainerTools/skaffold/issues/1837
- It was then superseded by this: https://github.com/Google

[2019-05-28 01:46] Hudsonzp commented on #2158
Oh...perhaps I can still use that triple asterisk pattern even though it isn't documented?

[code]
To
[code]

[2019-05-28 02:05] Hudsonzp commented on #2158
I updated my skaffold version to v1beta11 and it seems to be working better now...tough to confirm though.  On v1beta10 this was definitely an issue though.

[2019-05-28 03:09] rugwirobaker commented on #2187
A little visit to the skaffold slack and it seems the problem is due to the minikube virtual machine using an old ISO. `minikube delete` and `minikube start` solved the issue for me

[2019-05-28 03:09] #2187 closed

[2019-05-28 03:15] rugwirobaker commented on #1749
This thread seemed a little to quite so I opened this issue: #2187 and referenced it in the skaffold slack channel: https://kubernetes.slack.com/archives/CABQMSZA6/p1559010140012200. The issue was due to my minikube VM using an old ISO so `minikube delete` followed by `minikube start` which downloaded a new ISO solved it for me.

[2019-05-28 06:00] prary commented on #1978
Hi @priyawadhwa @balopat
kindly review following comment.
https://github.com/GoogleContainerTools/skaffold/pull/2083/files#r287750800

[2019-05-28 07:42] corneliusweig commented on #2158
The directory structure will always be preserved. Flattening is completely gone.

Are you still experiencing an issue with sync or does everything work as expected? I lost track of what you are trying to accomplish.

[2019-05-28 12:00] prary opened #2190 "kaniko pull secret should be optional"
Right now PullSecretName is created while building image using kaniko with buildcontext of localdir.

### Expected behavior
When build context is set to localdir, then there is no need to create a pull secret.
### Actual behavior
Secret is getting created
### Information

- Skaffold version: 30
- Operating system: linux
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1.

[2019-05-28 16:41] briandealwis commented on #2175
Found a document describing how to [configure vsdbg for k8s](https://blog.quickbird.uk/debug-netcore-containers-remotely-9a103060b2ff).  It looks to be a bit involved, with its communication going across stdin/stdout.  It's not immediately clear how to leverage port-forwarding to connect.  We might need to use [netcat or socat](https://stackoverflow.com/a/36312514/600339).

[2019-05-28 18:27] briandealwis commented on #2173
Although IntelliJ/PyCharm does use `pydevd`, which is wrapped by `ptvsd`, `ptvsd` doesn't seem to expose its `pydevd` and may have some problems co-existing with another version of `pydevd` installed alongside.

We likely will need to support some kind of runtime _flavour_.  So IntelliJ could launch `skaffold debug --flavour ij` and match a `python-ij` runtime.  Perhaps the `dab` (_Debug Adapter P

[2019-05-28 19:14] briandealwis opened #2191 "`skaffold debug` should allow specifying imagePullPolicy for debug helpers"
Currently we configure the debug runtime support image(s) with an implicit `:latest` which means [the helper images will always be pulled](https://kubernetes.io/docs/concepts/containers/images/#updating-images).  We should add a flag to configure the pull-policy to be used.

[2019-05-28 19:16] briandealwis commented on #2173
NB: for `ptvsd`, I needed to configure a [path mapping in my launch parameters](https://github.com/microsoft/ptvsd#attach-request-arguments):
[code]

[2019-05-28 20:08] #2002 closed

[2019-05-28 22:32] balopat commented on #2040
Do you mind sharing an open source / minimal version that we can run ourselves?

[2019-05-28 22:36] balopat commented on #2067
I'm closing this for now, please reopen it if you think there is something else we can improve.

[2019-05-28 22:36] #2067 closed

[2019-05-28 22:47] balopat commented on #2094
@expz I'm a little bit confused. Can you clarify a little bit more what your problem is?

1. "skaffold will rebuild from the base image (~15 minutes)" what takes 15 minutes? In your examples everything is much smaller.
2. skaffold uses docker under the hood - so `skaffold dev` does make use of docker layer caching. Can you provide explicit example where the SHA digest changes for the intermediate

[2019-05-28 23:00] balopat commented on #2094
Ignore my previous comment:

@nkubala managed to reproduce the SHA change in the layer.
I think we understand the issue now and we should have a look at this. Any more help / debugging and PRs are appreciated :)

[2019-05-28 23:07] nkubala commented on #2094
ok sorry for the flurry of responses, figured this one out. when you specify images in `cache-from` to docker, it will use those images for matching cached images/layers, but crucially it will **only use those images**, ignoring everything else in your daemon. so in your case, you specified

[code]
in your skaffold.yaml, which was passed to docker normally, and told the docker daemon to ignore all

[2019-05-28 23:07] #2094 closed

[2019-05-28 23:16] balopat commented on #2171
Hi @crimeminister - thank you for the recommendation - have you tried hooking it up with our [Custom Artifact builder](https://skaffold.dev/docs/how-tos/builders/#custom-build-script-run-locally)? I don't think we will implement and maintain `act` as part of the Skaffold codebase unless there is a lot of demand for it.

[2019-05-28 23:30] balopat commented on #2110
I think it would be interesting to provide support for a flexible Docker context creation.
Skaffold could assemble the tar file based on the context spec and pipe it to `docker build`.
It is big enough though that I think a good design proposal would be beneficial before someone jumps in to implement it.

[2019-05-29 11:02] zodiac1214 commented on #1740
Is `--cache-artifacts` checking cache on local only?
Step to reproduce:
1. `skaffold build --cache-artifacts`, i can see the cache image has been pushed to my remote registry
2.`docker rmi -f $(docker images -aq)`
3. `skaffold build --cache-artifacts` again:
[code]
in step 3, i can see that a new cache image with the same tag has been pushed to my remote registry again

[code]

[2019-05-29 12:45] zodiac1214 opened #2197 "Skaffold --cache-artifacts should check remote registry instead of local"
### Expected behavior
Do not rebuild the docker image when it is cached on remote docker registry even you don't have the cached image on local

### Actual behavior
Rebuild the docker images regardless of the state on remote registry. If you have the cached image removed from your local, skaffold will trigger a full build

### Information

- Skaffold version: version0.28 and 0.30
- Operating syste

[2019-05-29 15:00] reegnz commented on #2161
I would welcome for skaffold to just dump the patched manifests without doing anything with it.
I am doing GitOps with ArgoCD and I would definitely want skaffold to just dump the  patched manifests somewhere predefined, so that I can commit them automatically if the version matches a given rule.

I'd like to achieve something similar to what (https://github.com/weaveworks/flux)[flux] does with wa

[2019-05-29 16:09] dbolkensteyn commented on #2067
Sorry for the late follow-up @tejal29 @balopat

There seems to be some confusion because:
1. Skaffold can call Cloud Build: From my local machine, I want to offload builds to the cloud
2. Cloud Build can call Skaffold: I want a CI/CD pipeline on every push to GitHub

From my local machine, running Skaffold with a `googleCloudBuild` build works as expected and images get tagged with the right Git c

[2019-05-29 19:45] botwhytho opened #2200 "Add 'metadata' field to skaffold schema"
My team is using kustomize with skaffold, we've moved common config to centralized repos and are using kustomize's 'remote base' feature. We have taken this further and centralized a generic `skaffold.yaml` which we modify by repo to specify the artifact details. So during CI/CD the `skaffold.yaml` file is dynamically created from remote bases and local kustomizations.

I've added a
[code]
block t

[2019-05-29 20:52] botwhytho commented on #2200
Realized I can make my local patch a json patch and add:
[code]
to the list of patches and thus not need `sed` or an additional outside tool.

I consider this _less_ hacky but still not close to ideal.

Considering the `skaffold.yaml` schema is kubernetes-like by having `apiVersion` and `kind`, still think a `metadata` section would be a great addition.

[2019-05-29 20:57] crimeminister commented on #2171
Hi @balopat, I will go ahead and wire things up using Custom Artifact builder as you suggest. Would examples of this sort of extension be useful contributions, or are they better kept outside of the `skaffold` repo? I would also be keen to have an example of wiring up `cloud-build-local` in a similar fashion and would be happy to contribute either / both.

[2019-05-29 21:46] tejal29 commented on #2067
You can make use of [profiles](https://skaffold.dev/docs/how-tos/profiles/) to use [environment tagger](https://skaffold.dev/docs/how-tos/taggers/#envtemplate-uses-values-of-environment-variables-as-tags). for Step 3.
Step 3 will now be `skaffold build -p env_tagger_gcb_build`

Google cloud build also specifies a way to clone your git repo and it can be done via [cloud build  step](https://cloud.g

[2019-05-29 21:59] tejal29 commented on #2067
on wait, you are already doing what i mentioned as the first solution.

[2019-05-30 02:33] demisx commented on #2153
I am experiencing the same issue passing environment var to dockerfile as buildArgs:

[code]

[code]

[2019-05-30 05:28] hanoisteve commented on #361
This looks interesting. I also have a local image repository.  Could you clarify how this would work with multi-module mvn project? Where there is an image per module.

[2019-05-30 05:45] Hudsonzp commented on #2158
@corneliusweig seems to be working a little more fluidly today.  Perhaps there was something going on with my cache or I didn't have something setup properly.  Will continue to watch it, but we can consider this closed for now!

Thanks for your help.

[2019-05-30 05:45] #2158 closed

[2019-05-30 14:45] demisx commented on #543
This is a highly desirable feature for our team as well. Using the good old `envsubst` as a workaround in the meantime:

[code]
[code]

[2019-05-30 14:47] briandealwis opened #2202 "`skaffold debug` may need to apply IDE-specific language runtime bindings"
Different IDEs may require different combinations of language runtime support packages.  For example, IDEA/PyCharm does not support the _Debug Adapter Protocol_, so `ptvsd` for Python will not work out of the box.  Instead it needs to use a separate package, [`pydevd-pycharm`](https://pypi.org/project/pydevd-pycharm/) to enable [remote debugging](https://www.jetbrains.com/help/pycharm/remote-debug

[2019-05-30 15:28] briandealwis opened #2203 "Provide mechanism to indicate language runtime type for an artifact"
`skaffold debug` currently uses [a set of heuristics](https://github.com/GoogleContainerTools/skaffold/pull/1702) to guess the language runtime used in a container image:

These heuristics fail for Go and C++ programs.  Although Go does have some [runtime environment variables](https://golang.org/pkg/runtime/), they aren't always used.  And these heuristics may result in false-positives for mixed-

[2019-05-30 15:29] etanshaul opened #2204 "Skaffold duplicating port forwarding events"
See https://github.com/GoogleCloudPlatform/cloud-code-intellij/issues/2572 for context and screenshots.

**What I'm seeing:**
Using Skaffold with the [Cloud Code NodeJs Sample Guestbook Application](https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/nodejs/nodejs-guestbook) in debug or continuous dev mode, I'm noticing multiple repeat port forward events (to the same local port)

[2019-05-30 18:09] osmar2008 commented on #2126
@yfei1 so, I'm having a similar issue here, how did you solve this?

[2019-05-31 08:57] ymahajan98 opened #2206 "'skaffold dev' does not work with multiple jibGradle builds"
### Expected behavior
'skaffold dev' starts.

### Actual behavior
I get this error message regarding the version of jib although I am using jib version 1.2.0.
[code]

### Information
With multiple images 'skaffold dev' fails to run. However, it does work if I use jibGradle for one image and use a dockerfile/custom script to build the other image.
Using two different .yaml files to build the images

[2019-05-31 23:46] arichards215 commented on #1649
same issue occurring on Centos 7 and Skaffold 0.29.0

[2019-06-01 02:29] #1936 closed

[2019-06-01 13:33] dbolkensteyn commented on #2067
Thank you @tejal29 , I was not aware of the possibility to use an explicit git build step.

Consider this solved 😄

[2019-06-01 15:52] cymarechal commented on #1852
It interests me as well. @casret, how do you manage to do it? Here is how I would like it to look like:
[code]

Sadly, kustomize's path does not accept "**"...

[2019-06-01 22:26] corneliusweig commented on #1936
I'm curious: why is CGO the better option here?

[2019-06-02 17:22] balopat opened #2208 "panic on cleanup after Ctrl+C during pushing large image"
### Expected behavior

clean exit on Ctrl + C

### Actual behavior

Skaffold panics.

### Information

- Skaffold version: master
- Operating system: MacOSX
- Contents of skaffold.yaml:

  - one docker artifact
  - one job that uses that artifact

### Steps to reproduce the behavior

Not sure how reproducible it is, might be a weird race condition, but wanted to make a not of it:

1. I ran a `skaf

[2019-06-02 18:09] anarcher commented on #346
But, If I'm right, Skaffold modifies manifests during deployer works. It means that Skaffold doesn't keep image tag information in manifests in file and git. ArgoCD or Flux can't get the image tag information (modified in POD ) from Skaffold's modified. Is it right?

My small idea is to make ArgoCD deployer in Skaffold. Maybe this deploy do just customize manifests and then commit , push with git.

[2019-06-03 11:12] corneliusweig commented on #2208
What kind of artifact is that? With a docker artifact, I could not reproduce this on Linux.

[2019-06-03 11:29] corneliusweig commented on #2203
Sounds like a good idea. Some thoughts:
- An environment variable can only be set once, so for multi-artifact projects with different technologies per artifact, this would fail miserably. If the env variable would be extended to `SKAFFOLD_RUNTIME_<IMAGENAME>` this could work, but I think this is too complicated. In essence, I would not support that setting via env variable (and also via command li

[2019-06-03 11:31] corneliusweig commented on #2202
Could that be handled together with #2203?

[2019-06-03 14:23] briandealwis commented on #2202
IDEs shouldn't need to modify the `skaffold.yaml`.

[2019-06-03 14:27] briandealwis commented on #2203
Environment variables are on a per-artifact basis (well, per-container really), so that's not really a concern.  `skaffold debug` should allow any of these approaches so that the developer can do whatever is most convenient for them; the recommended practice though is the skaffold.yaml.

[2019-06-03 15:11] briandealwis opened #2211 "`skaffold debug` should issue event with artifact debug configuration details"
Use the eventing system to notify IDEs and other consumers of the artifacts and debugging configuration details.

[2019-06-03 15:15] kryptt commented on #1470
Same problem here on Windows 10...

[2019-06-03 16:54] etanshaul commented on #2203
I think I also interpreted it like @corneliusweig, where the env var would be set on the Skaffold process. Whereas I think here you mean to set it in the k8s config.

[2019-06-03 17:23] nkubala commented on #1936
@corneliusweig using CGO in our binaries allows us to use the `fsnotify` watch trigger, which is orders of magnitude faster in some cases (particularly projects with lots of files).

https://github.com/GoogleContainerTools/skaffold/pull/2213 will make this trigger the default for skaffold

[2019-06-03 17:23] etanshaul commented on #2203
My intuition is that adding this to `skaffold.yaml` makes most sense as well. This is a configuration option specifically intended for Skaffold, and as such, seems like it belongs in the skaffold configuration.

The easiest solution from an IDE perspective would be to have this as a command flag - but given that it needs to be on a per artifact basis, it's probably infeasible?

@iantalarico for co

[2019-06-03 17:27] nkubala commented on #2184
we could also mark the artifacts in the `skaffold.yaml` as `debug: false` if we know that we don't want to debug them. that might be easier for users than specifying `--debug-artifact=gcr.io/debug/container` on the CLI, though I don't see any reason why we can't have both.

[2019-06-03 17:41] briandealwis commented on #2203
Ah sorry.  I meant either [Dockerfile ENV](https://docs.docker.com/engine/reference/builder/#env) or [k8s container env](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#container-v1-core) flags.

I think a command-line flag can be done, and `debug` needs to support something like that for #2184.  I think specifying a path to the artifact should be sufficient:
[code]

[2019-06-03 17:43] balopat commented on #2208
It's a docker artifact - it did not happen consistently, but definitely ran into it multiple times.

[2019-06-03 17:45] priyawadhwa commented on #1740
Hey @zodiac1214, that's correct, the cache only exists locally as of now.

[2019-06-03 17:46] etanshaul commented on #2203
ah right. that would work. Just to be explicit event though it was probably clear - this would be the easiest option from the IDE perspective because it wouldn't involve modifying any configuration. Instead we could just pass this "runtime type" at command execution time.

Side question: if a runtime type isn't supplied, _and_ `skaffold debug` fails to do its inference, presumably entire skaffold

[2019-06-03 17:59] briandealwis commented on #2203
I haven't looked into how to hook into the events yet, but I figured I'd just return a map of artifact &rarr; debug configuration (runtime-type + debug ports). And indeterminate artifacts would be a null mapping.

[2019-06-03 18:46] priyawadhwa commented on #2204
Hey @etanshaul, so the port forwarder runs whenever it receives a "pod added" or "pod modified" event. From the logs, it does seem like this this bug is related to the monogodb connection failure, but I'm guessing this doesn't modify the pod spec in any way?

[2019-06-03 19:29] etanshaul commented on #2204
afaik, the podspec is not modified in any way. This particular app seems to get stuck in an infinite loop of mongo db failure followed by reforwarding the ports.

+ @briandealwis in case he encountered this before during testing `skaffold debug`

[2019-06-03 20:45] corneliusweig commented on #2203
That makes perfectly sense.

I think the standard way to identify an artifact in Skaffold is to use the image name and not the path. That has the advantage of being stable wrt. refactorings (unless the image name is changed :/), so what do you think about:
[code]

[2019-06-03 21:10] corneliusweig commented on #2203
While looking at #2184 I just had another idea how the runtime type could be specified elegantly on the cmdline: the switch to enable debugging could also be used to specify the runtime
[code]
This would save typing/pasting of the image name and is equally expressive (the separator may be up to debate).

One drawback: it will no longer be possible to specify the runtime without restricting the deb

[2019-06-03 21:14] corneliusweig commented on #2184
If `debug=true/false` is also added in the `skaffold.yaml`, why not open up a new group such as:
[code]
See #2203 for details about `runtimeType`

[2019-06-04 00:17] gbates101 opened #2217 "skaffold fails to retrieve digest when building in remote cluster using kaniko"
### Expected behavior
Skaffold should be able to build and deploy in a remote cluster using kaniko and an insecure registry. The insecure registry is hosted within the same cluster, and is not exposed to the internet (only available to pods within the cluster).

### Actual behavior
When building in and deploying to a remote cluster using kaniko with an insecure registry hosted in said remote clust

[2019-06-04 15:05] iantalarico commented on #2203
Jumping in a little late but I agree that passing the information to skaffold would be the easiest from the IDE side.

[2019-06-04 15:33] briandealwis commented on #2203
You're right @corneliusweig the image tag is better since several artifacts can be mapped to the same location, as happens with Jib multi-module projects.

[2019-06-04 15:37] etanshaul commented on #2203
using the image tag should work fine from the IDE perspective.

[2019-06-04 15:41] etanshaul commented on #2203
That works. Having it return a null mapping, but still have the artifact information, will be helpful for the client.

[2019-06-04 17:30] nkubala commented on #1156
going to close this one for now, please feel free and reopen if you're still seeing the issue.

[2019-06-04 17:30] #1156 closed

[2019-06-04 18:34] nkubala commented on #1937
currently the only way to see them is by running with `-v DEBUG`, but we could also accomplish this with a `--dry-run` flag. see https://github.com/GoogleContainerTools/skaffold/issues/1739

right now in skaffold we don't support multiple tagging strategies, this has been discussed in https://github.com/GoogleContainerTools/skaffold/issues/1269. maybe it's worth revisiting different solutions for

[2019-06-04 21:32] briandealwis commented on #2204
I haven't looked at the code, but if the container is failing that will cause it's pod status to be updated, which will kick a watcher event. Right?

[2019-06-04 21:35] etanshaul commented on #2204
what do you mean by "watcher event" exactly?

Seems like it might be based the podspec's `restartPolicy` which seems to be defaulted to `Always`: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy

[2019-06-04 22:30] nkubala commented on #2211
what information would the event contain besides the artifacts being debugged? maybe the port the debugger is being exposed on?

PRs welcome for this :)

[2019-06-04 22:30] balopat commented on #2098
thanks for opening this! In general this flow would break the contract between how Skaffold works with Builders: skaffold creates a tag based on the tagpolicy for _each_ of the artifacts and asks the builders (e.g. jib) to build an image and tag it/push it under that tag. Maybe we could think about a command based tagPolicy? If there is enough interest we can think more about this. For now I don't

[2019-06-04 22:31] priyawadhwa commented on #2137
Hey @ItsLeeOwen, sorry for the delayed response. In my demo, I was running my cloud build trigger and Kubernetes cluster under the same GCP project. Is that the case for you as well? If so, does your cloud build service account have permissions to deploy to your Kubernetes cluster?

I gave my cloudbuild service account `Kubernetes Engine Admin` permissions so it could deploy to my cluster for the

[2019-06-04 22:41] balopat commented on #2119
This should be the way it behaves: `static/*.html` matches _files_ in a directory, `content/en/**/*.md` matches all paths, including folders, preserving the folder structure.
We are open to have a clearer doc always :) If you have a good idea how to explain this better, please raise a PR!
Thank you :)

[2019-06-04 22:41] #2119 closed

[2019-06-04 22:51] balopat commented on #2123
Our guess is that we might have to implement the expansion of the ~ in the watcher.
PRs are welcome!

[2019-06-04 22:57] balopat commented on #2153
This is not possible just yet unfortunately, we don't support env var expansion in these fields. For the list of fields that support env vars see: https://skaffold.dev/docs/how-tos/templating/

[2019-06-04 23:03] balopat commented on #2159
It seems like the kaniko container definition gets the resource limits but not the init container.
This should be an easy fix. PRs are welcome!

[2019-06-04 23:33] briandealwis commented on #2204
Oh! That makes more sense and would explain why the port can be bound to the same local port.

[2019-06-05 01:28] etanshaul commented on #2204
Yeah.

I’m not sure if Skaffold can do much here as this can be considered intended behavior, I suppose.

I wonder though - with the move to port forwarding services instead of pods, perhaps the port forward session will survive these container reboots?

[2019-06-05 07:55] tbarrella commented on #1937
I'm also pretty curious about this... maybe I should just be patient, but related to this, do you think Skaffold is meant to be a good building block for supporting using artifacts from one workflow in another? (Sorry if this isn't the best place to ask this, although I wasn't able to access the skaffold-users mailing list.)

- Workflow 1 builds image A; workflow 2 builds image B and deploys lates

[2019-06-05 10:55] pepjo commented on #2056
Hi,

I am not sure if this is the right place to mention this. If I should open a new issue please tell me and I would gladly do so.

We are running `skaffold build --quiet > build.out` and  `skaffold deploy --build-artifacts build.out` as different stages in our CI. Build happens when a pull request is created and integration tests run against that. Deploy only happens when the branch is merged.

[2019-06-05 12:33] rosscdh commented on #1749
osx too
minikube version: v1.1.0
skaffold version: v0.30.0

[2019-06-05 16:09] balopat commented on #2160
Hi, thank you for opening this, this does look like a bug.

[2019-06-05 20:39] r0bj commented on #2153
Hey @balopat, I just read about it on the documentation site: https://skaffold.dev/docs/references/yaml/

<img width="931" alt="Screenshot 2019-06-05 at 22 39 07" src="https://user-images.githubusercontent.com/1297747/58988811-c8a31380-87e2-11e9-9c57-e425663b4739.png">

[2019-06-06 14:59] dgageot commented on #2100
Let's close this one since it hasn't happened for a while

[2019-06-06 15:00] dgageot opened #2226 "Flake: TestDev"
The test waits 10 minutes for a new version to be redeployed. This never happens.
It's maybe due to the new watch trigger

[2019-06-06 18:30] sujit-kamireddy opened #2229 "[Feature Request] API to get the list of skaffold configuration files in a given directory"
In order to support multiple skaffold.yaml files from IDEs, it would be good to have an api that returns the list of skaffold configuration files in a given directory.

[2019-06-06 18:46] balopat commented on #2229
This would be relatively easy to implement a `skaffold find-configs -d <dir>` which would find in a given directory all files that are parseable or upgradeable. It would give back a list of skaffold yamls but also indicating the version and whether they'll need upgrade or not.

[2019-06-06 19:23] sujit-kamireddy commented on #2229
It would be great. Thanks @balopat .

[2019-06-06 21:38] priyawadhwa commented on #2204
@etanshaul I'll do some testing and get back to you!

[2019-06-06 21:51] priyawadhwa opened #2231 "Release v0.31.0"

[2019-06-07 01:40] #2231 closed

[2019-06-07 06:47] cabrinoob commented on #1470
I resolved my problem! I switched to Ubuntu :trollface:

[2019-06-07 09:15] sandhose opened #2234 "Templated Docker buildArgs work with useDockerCLI but not with the Docker Engine"
### Expected behavior

Templated field should work with `build.artifacts[].docker.buildArgs.*` for docker builds.

### Actual behavior

They only work if `build.local.useDockerCLI` is set to `true`.

### Information

- Skaffold version: 0.31.0
- Operating system: macOS 10.14.5
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Have a docker image that use build args
2. S

[2019-06-07 15:30] ivanporty opened #2235 "Skaffold init in force mode may still run interactively"
Cloud Code IJ uses `skaffold init --force` to silently generate configuration in default mode. Here is what we have for one of the project configurations (this is actually not a real K8s project, rather a random bunch of pseudo Dockerfiles and K8s resources for testing, but detection in principle is correct), but --force mode still runs interactively for some reason:

[code]

skaffold version: v0.

[2019-06-07 16:37] gbates101 commented on #2217
@balopat Gentle bump on this. If this is reproducible and should be fixed, could I take a crack at a PR for this one?

[2019-06-07 17:38] derekjanni commented on #2056
My interpretation from #922 was that we want the actual behavior to look like this:
[code]

Presumably, 1 & 2 could happen at different times, or on different machines and deploy would still work as expected. If there is only local context, 2 should act in accordance with [build's default behavior](https://skaffold.dev/docs/how-tos/builders/).

I would also go as far as to say that `deploy` should

[2019-06-07 18:09] levkov commented on #2039
+1 for helm repo update

[2019-06-07 18:10] guram-sigua commented on #2039
+1 for 'helm repo update'

[2019-06-09 10:23] math-nao opened #2243 "Skaffold not working anymore on Alpine Linux with v0.31.0 release"
### Expected behavior
Skaffold v0.31.0 commands should work on Alpine Linux as it is working with Skaffold v0.30.0 and below.

### Actual behavior
skaffold: not found

### Information

- Skaffold version: v0.31.0
- Operating system: Alpine Linux v3.9
- Contents of skaffold.yaml: N/A

### Steps to reproduce the behavior

1. `docker run --rm -it alpine:3.9`
2. This should return an error: `apk add -

[2019-06-10 16:33] dahovey opened #2245 "Remote helm chart shouldn't be upgraded on code changes"
### Expected behavior

A remote helm chart shouldn't be upgraded on code changes. In my workflow `skaffold.yaml` is configured with several remote helm charts (i.e. `stable/mssql-linux`, `stable/redis`, `internal/shared-component`). I run `skaffold dev` which builds images, deploys remote helm charts as well as local helm chart. When code changes in the current project, I don't expect to re-deploy

[2019-06-10 18:34] priyawadhwa commented on #2204
So turns out port forwarding does not survive container reboots, since the connection is broken a new one must be started with `kubectl port-forward` to connect to the new container (I was hoping Kubernetes would just connect the new container automatically, but looks like it doesn't do that).

[2019-06-10 18:57] #2123 closed

[2019-06-10 19:28] etanshaul commented on #2204
Thanks for investigating @priyawadhwa

So just to confirm - this is even in the case of port forwarding services, instead of pods, right?

[2019-06-10 19:30] etanshaul commented on #2204
And follow up point:

It seems to me that, for now, there is nothing Skaffold can reasonably do here to improve the experience. Do you agree?

That being said, I think the health check effort would be a great place to explore how we can improve this in the future.

[2019-06-10 19:41] briandealwis commented on #2243
Maybe from #2006?

[2019-06-10 21:04] priyawadhwa commented on #2204
Yah that's the case for services as well, since forwarding a service really just is forwarding to one of the pods attached to the service.

Yah, agreed. For now, skaffold will just port-forward pods/services on each dev loop. If the forwarding fails, it won't be restarted until the next loop.

I definitely think integrating the health check effort with port forwarding would be the right way to han

[2019-06-10 21:06] priyawadhwa commented on #2243
@dgageot do you think this could be related to the CGO change that was merged in this release?

[2019-06-10 21:16] dgageot commented on #2243
@priyawadhwa yes, I'm pretty sure it's due to the CGO thing.

[2019-06-10 21:19] dgageot commented on #2243
[code]

Maybe there are options to make sure it's statically compiled.

[2019-06-10 21:36] dgageot commented on #2243
It looks like we are missing `-ldflags '-extldflags "-static"'`. The Makefile has `GO_LDFLAGS += -extldflags \"${LDFLAGS}\"` but `LDFLAGS` is not configured...

[2019-06-10 22:23] nkubala commented on #2235
@ivanporty the documentation for the `--force` flag is a little misleading here. if skaffold finds multiple images and Dockerfiles when running `init`, it can't know which Dockerfile is meant to build which image, so it has no choice but to prompt the user for this before it can generate a skaffold.yaml. so in the case you provided, `skaffold init --force` shouldn't really work.

I guess the quest

[2019-06-10 23:00] nkubala commented on #2217
hey @gbates101 thanks for the issue. you make a good point that we don't technically need the remote digest when we're running on cluster builds since we won't be retagging for the local cache anyway, but I'm wondering if there's a way we could fix that call instead of working around that logic for cluster builds. I don't know too much about kube DNS resolution but maybe you could proxy your clust

[2019-06-11 02:19] balopat opened #2249 "Skaffold build logs while `--quiet`"
### Expected behavior

It would be great to be able to see the output of the build logs as well, not only the build result json. It would be useful both in a CI/CD and an interactive setting. I'm thinking about the ability to channel the build result to a json file when `--quiet` is not defined.

### Actual behavior

`skaffold build --quiet` just outputs the build results.

### Information

- Skaf

[2019-06-11 07:26] pepjo commented on #2056
Hi @derekjanni ,

That would indeed be even better. My comment was just meanwhile this does not happen.

Also, it would be nice if there is a way to parse the output of `skaffold build` like the current JSON. This is useful to perform end to end testing with the docker images generated by skaffold.

[2019-06-11 12:36] steevee commented on #2137
Hey @priyawadhwa, same issue here when submitting my `cloudbuild.yaml` that is applying `kustomize` to our `deployment.yaml` via a `skaffold` build step.

1. I can confirm `@cloudbuild.gserviceaccount.com` has the role `Kubernetes Engine Admin`
2. Interestingly, if I remove `kustomize` config from `skaffold.yaml` and default to using `kubectl` (on a manually created `k8s/deployment.yaml`), then it

[2019-06-11 13:00] dkirrane opened #2255 "[feature request] Support defaults in template fields"
I'm looking for something like the following.
If `VERSION` env variable isn't set use `USERNAME` env variable otherwise use `latest` as the default for the image tag.

This is for a developer workflow where Jenkins would set the `VERSION` but the developer on their machine would user their own `USERNAME` as the image tag. And if the developer doesn't have `USERNAME` variable (like on a Mac) it wil

[2019-06-11 15:59] balopat commented on #2229
@sujit-kamireddy can you check #2244 and comment?

[2019-06-11 16:04] dahovey opened #2256 "Changes after v0.31.0 release not working on Windows"
Checking out current master, building, and running `skaffold dev` outputs the following. _image name replaced with <app>_

[code]

If I checkout tag `v0.31.0` and rebuild, `skaffold dev` works as expected.

### Information

- Skaffold version: v0.31.0-dirty
- Operating system: Windows 10 Pro

Appears to be from:
https://github.com/GoogleContainerTools/skaffold/blob/e8302bbe633059e68079c6954cf7649d

[2019-06-11 16:46] sujit-kamireddy commented on #2229
@balopat , I am reviewing it. Thanks.

[2019-06-11 18:01] saturnism commented on #1954
more or less, the trigger file may not be a source file at all, but a designated file that can user or IDE can `touch`

[2019-06-11 21:14] derekjanni commented on #2056
@pepjo I believe your issue is separate from this one and warrants another ticket. You're either asking for a new parameter (`-o / --out`) or for error traces to be logged to files on completion. This issue specifically deals with a suggestion for using the tagger to infer build output from a previous step instead of generating new images when using `deploy`

[2019-06-11 22:37] tanner-bruce commented on #2160
We fixed this up and also updated the semantics of how the Delete function works on RemoteManifests to ensure it works correctly. Previously, after cancelling `skaffold dev` the image of the deployment would be left with the latest deployed tag, which then caused the next run of skaffold dev to no longer match that image, since the tags were off.

We made the initial run of KubeDeploy.Apply save t

[2019-06-12 03:52] #2243 closed

[2019-06-12 09:15] kri5 commented on #1872
@ItsLeeOwen @paultiplady  I'm facing the same issue, did you manage to work around?

If so, what does your hierarchy looks like?

@tejal29 @corneliusweig  Kustomize has now some load restrictions that prevents by default to include something else in overlays other than a base, so it forces some kind of hierarchy iirc.

[2019-06-12 10:18] pepjo commented on #2056
Hi @derekjanni , yes it is asking for a new parameter. I will open a different issue.

Is there any timeline for implementing the behavior described in this issue?

best,
Pep

[2019-06-12 12:20] pepjo opened #2261 "Add new `--out` parameter to `skaffold build`"
### Actual behavior
This is a feature request.
`skaffold build --quite > build.out` generates the docker images and an output file used by `skaffold deploy`. This methodology however prevents displaying the normal console output and makes it difficult to debug, especially if this command runs in a CI.

### Expected behavior
It would be amazing if, instead of using the output to generate the `build

[2019-06-12 15:31] Yerhabe opened #2262 "Sync does not sync to other namespaces"
### Expected behavior
Skaffold should be able to successfully sync across multiple namespaces. Skaffold should be aware what namespace pods are deployed to and ensure that the syncing is applied within that namespace so that it succeeds.

### Actual behavior
Skaffold is only able to sync to the currently set namespace (whether it was set via kubectl, helm or the skaffold `-n` flag). If the files w

[2019-06-12 16:24] alnr commented on #2261
Duplicate of #2249

[2019-06-12 22:26] priyawadhwa commented on #2137
Hey @steevee that's interesting. I don't think there's any specific reason why we are on this version of `kustomize`, we probably just haven't gotten around to updating it. Does a more recent version work with your build step? If so, would you be interested in submitting a PR to [update](https://github.com/GoogleContainerTools/skaffold/blob/master/deploy/skaffold/Dockerfile#L42) to that version?

[2019-06-13 01:02] #2229 closed

[2019-06-13 09:18] vasu1124 opened #2264 "Support for custom push, e.g. for use with kind load"
Would be nice if you could support local testing with [kind](https://kind.sigs.k8s.io/).

Currently, you can skip pushing to a registry when detecting kind, I use
[code]
but now you still need to be able to call a custom cmd to "push" the image, in particular with `kind load docker-image $IMAGE.`

[2019-06-13 15:13] steevee commented on #2137
@priyawadhwa yep, fixed it for me. I just dropped #2265 in for review. Thanks!

[2019-06-13 15:22] derekjanni commented on #2056
@pepjo I'm not sure when this will be finished, I'm hoping to personally get around it soon but I need to learn `go` first.

[2019-06-13 15:45] sujit-kamireddy commented on #2229
Thanks @balopat for the quick resolution of this issue.

[2019-06-13 22:05] #2159 closed

[2019-06-13 22:30] #2137 closed

[2019-06-14 05:21] tbarrella opened #2268 "One Kaniko artifact build failure can stop other pod(s) from being cleaned up"
### Expected behavior
When building two artifacts with Kaniko, if building the first artifact fails, the pod for building the second artifact is eventually cleaned up

### Actual behavior
Skaffold exits with a fatal error after the first build failed, and (sometimes?) the second pod stays around (whether in a "Completed" or "Failed" status)
[code]
It seems like pods for both builds are launched at

[2019-06-14 13:25] JavierGlzFdz commented on #1470
same error here

or this probably going to be fix or should we try to find another solution?

[2019-06-14 16:27] hypnoglow commented on #789
@balopat Yes, thanks! I'm already using patches and it works fine. I think it is safe to close the issue.

For anyone interested: to solve the original problem, I use patches like this:

[code]

[2019-06-14 16:27] #789 closed

[2019-06-14 17:45] tbarrella commented on #2268
Sorry for not including the error before, I just updated the behavior

[2019-06-15 05:35] braderhart opened #2273 "Support Docker Build secret mounts (--mount=type=secret)"
### Expected behavior
skaffold.yaml to support new Docker Build secrets
- https://docs.docker.com/develop/develop-images/build_enhancements/

### Actual behavior
[code]

### Information

- Skaffold version: v0.31.0
- Operating system: Arch 5.1.9-arch1-1-ARCH
- Contents of skaffold.yaml:

[code]

- Contents of Dockerfile:

[code]

### Steps to reproduce the behavior

1. `skaffold build`

### Sugges

[2019-06-17 12:20] reegnz commented on #543
@demisx you dont need envsubst for that anymore, skaffold can already template buildArgs. It's been in 0.29.0: https://github.com/GoogleContainerTools/skaffold/releases/tag/v0.29.0:

Only restriction is that you will have to build through the docker cli, not the docker API:
[code]

[2019-06-17 18:56] tdickman commented on #2262
This might be related to https://github.com/GoogleContainerTools/skaffold/issues/1948, which is an issue I have been experiencing.

[2019-06-17 22:03] dkirrane commented on #2098
Makes sense thanks. Closing

[2019-06-18 09:49] ojhughes opened #2277 "Custom script as a deployer"
### Expected behavior
Ability to provide a custom script as a deployer,  using the same pattern [that allows a custom build script to be used as a builder](https://skaffold.dev/docs/how-tos/builders/#custom-build-script-run-locally). This will enable other Kubernetes deployment tools to be leveraged within a Skaffold workflow, such as [Kapp](https://get-kapp.io) or [Spinnaker pipeline triggers](ht

[2019-06-18 09:50] dgageot commented on #2264
@vasu1124 have you tried master branch? It should automatically run 'kind load' when you use kind. It still needs improvements though

[2019-06-18 09:52] dgageot opened #2278 "Changing skaffold.yaml stops `skaffold dev`"
Changing the content of `skaffold.yaml` used to restart the dev loop. Now, it exits with this error:

[code]

[2019-06-18 11:01] dgageot opened #2280 "Old sync config stops working"
I had this sync config working with skaffold beta8:

[code]

It stopped working with `v0.31.0`. Looks like when I change a file under `public`, it's synced to `/app/public/public/`.

To fix it, I changed the skaffold.yaml to:

[code]

Can we do something to fix the backward compatibility?

ping @corneliusweig @balopat

[2019-06-18 11:04] matti commented on #2262
also, sometimes logs are not streamed from the other namespace - don't know if related to this or not.

[2019-06-18 11:12] dgageot opened #2281 "server.Initialize() returns a nil callback on second call"
See https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/server/server.go#L87

The second time we call `Initialize()`, for e.g. when a runner is recreated, instead of getting a shutdown callback, we get a `nil` callback. It'll cause a panic [here](https://github.com/GoogleContainerTools/skaffold/blob/master/cmd/skaffold/app/cmd/dev.go#L93).

In fact, I think we should initiali

[2019-06-18 11:30] corneliusweig commented on #2280
The root cause of this issue is that the former default for sync was to flatten nested directories at the destination, e.g. for `public/*: /app/public`:
[code]
or when using double-star `public/**: /app/public`:
[code]

The latter behavior was a bit surprising for most users.

---

We do give a warning about this breaking change when encountering a double-star pattern. However, I was not aware, th

[2019-06-18 12:39] kohlerm opened #2282 "k3s local deployment without docker registry not working"
### Expected behavior
Running kubernetes with k3s it should be possible to run skaffold dev with the need for a registry
changed the image names and some congurations:

### Actual behavior
I tried running
https://github.com/GoogleContainerTools/skaffold/tree/master/examples/jib
against a local k3s cluster (all on on Linux machine).
[code]

### Information

- Skaffold version: v0.31.0
- Operating s

[2019-06-18 15:52] dgageot opened #2284 "Load images in kind only if nodes don't have it yet"
We currently load every image built by Skaffold into kind's nodes.
Skaffold should first check if the nodes already have this image.

[2019-06-19 10:10] briandealwis commented on #2282
Skaffold's "local cluster" support has the builders build directly to the *cluster's* docker daemon. You're building to your machine's docker daemon.  k3s uses containerd rather than docker, and I don't believe containerd supports loading images like the docker daemon.

From what I read, k3s does support using docker instead of containerd but that seemed more involved.

[2019-06-19 10:52] briandealwis commented on #2282
There's an article describing [what's required to setup a local registry for micro k8s](https://itnext.io/working-with-image-registries-and-containerd-in-kubernetes-63c311b86368) which should be equally applicable for k3s.

I personally found it easier to use minikube or Docker's k8s :-/

[2019-06-19 12:12] #2280 closed

[2019-06-19 17:20] loosebazooka opened #2289 "Ability to validate tooling/version/etc before "skaffold build""
Validating things in the `skaffold build` code would also affect the `skaffold dev` code on every build (which could be expensive).

If there was a way to do validation before a `skaffold build` or validation of builds a single time before any `skaffold xyz` we could verify our builds without slowing down the `skaffold dev` loop.

[2019-06-19 17:47] nkubala commented on #2162
this is the intended behavior of the tagger. the envTemplate tagger will generate a tag based exactly on what is provided in the skaffold.yaml: it won't append anything else on there without being explicitly specified by the user.

we compute the tags for image BEFORE we build them, so there's no image ID for us to use when generating the tag. we can't use the image digest for local images anyway,

[2019-06-19 18:03] nkubala opened #2290 "sha256 tagger doesn't actually compute checksum"
### Expected behavior

`sha256` tag policy computes checksum of workdir contents, and uses this to tag images

### Actual behavior

`sha256` tagger either uses a user provided tag, or uses `latest`.

### Information

this tagger just isn't doing what it's advertised as doing. https://github.com/GoogleContainerTools/skaffold/pull/1482 reworked the tag mechanism to tag BEFORE we build images (which

[2019-06-19 18:39] nkubala commented on #2200
hey @botwhytho thanks for the issue. I'm not sure I totally understand your use case here, can you explain what kustomize is actually doing with this metadata?

and you're proposing that this field live in the top level of the skaffold.yaml right? not in the kustomize stanza? I guess I'm not inherently opposed to this, just wondering exactly why we need it and if there might be a way to embed it i

[2019-06-19 18:41] max-shch commented on #1649
Same issue on Windows 10, skaffold 0.31.0, jibGradle
time="2019-06-19T14:35:49-04:00" level=fatal msg="build failed: building [<>.azurecr.io/<>/<>]: build artifact: getting image: unsupported status code 401; body: "

[2019-06-19 18:47] nkubala commented on #361
@hanoisteve do all your images live in the same local repository? could you not just do something like

[code]

the image names get handled by skaffold, and all tags will get generated from the template you provide.

[2019-06-19 18:55] nkubala commented on #2255
would it make more sense to just use different profiles here? evaluating env vars is pretty different than evaluating logical statements when generating the envTemplate tags.

[code]

[2019-06-19 18:59] nkubala commented on #2256
hey @dahovey, can you give us a little more information about your project? are you using a private/insecure registry to push your images? I'm not able to reproduce this.

[2019-06-19 20:04] nkubala commented on #2281
I guess we're recreating the runner whenever the skaffold config changes? seems a little weird to me but I guess that's the way we have to handle it. could we memoize the `shutdown()` callback in the server package and return that once we've started up the first time?

[2019-06-19 20:49] nkubala commented on #1470
unfortunately I don't think anyone on our team has been able to reproduce this one yet. any help digging into this one further and coming up with a fix would be greatly appreciated, we'd love to get it fixed but not sure we'll be able to prioritize this at the moment.

[2019-06-19 21:40] #2173 closed

[2019-06-19 22:29] dahovey commented on #2256
Using local K8s cluster from Docker Desktop Version: 2.0.5.0

![image](https://user-images.githubusercontent.com/22330242/59805617-a6ab9580-92a6-11e9-938e-7a0672aea24a.png)

Skaffold.yaml:
[code]

Output at command prompt:
![image](https://user-images.githubusercontent.com/22330242/59805726-effbe500-92a6-11e9-954d-7b914c41361b.png)

[2019-06-19 22:51] balopat opened #2294 "write tests for protobuf generation"
We should have tests to ensure that the Event API proto is in sync with the generated grpc code.
Also we should remove the protobufs from codecov.

[2019-06-19 22:53] balopat commented on #2290
dupe of #1884?

[2019-06-19 23:46] demisx commented on #543
@reegnz Thank you! Worked like a charm!

[2019-06-20 04:58] #2278 closed

[2019-06-20 04:58] #2281 closed

[2019-06-20 06:02] ymahajan98 commented on #2206
I found the commands which were being run by skaffold to build the docker image using the debug flag, put those in a custom build script and ran that. The dev mode worked with that too.
Any ideas why this is happening?

[2019-06-20 06:54] jtlz2 opened #2295 "skaffold run - python code not updating"
### Expected behavior

When I execute `skaffold run`, I expect the very next deployment to contain the python flask code changes that I have just made in PyCharm.

### Actual behaviour

Sometimes (but not always), the code changes are not reflected in the new container when I do this.

A fix is to do a git commit and rerun.

### Information

- Skaffold version: 3f0dab6
- Operating system: macOS Hi

[2019-06-20 06:56] jtlz2 commented on #2295
@Hudsonzp Perhaps you can assist as per our stackoverflow discusson? Thanks!

[2019-06-20 07:06] dgageot commented on #2290
The `sha256` tagger was indeed changed to basically always use `latest` as a tag. It works because when images names are replaced in yaml files, they are in the form `name:tag@sha256`

[2019-06-20 07:20] seblegall commented on #2290
@nkubala What do you think of the following function to generate the checksum ?

[code]
If you are ok with that I could make a PR (even if I don't know yet how I'm going to test that...)

[2019-06-20 07:28] dgageot commented on #1992
I'm going to close this issue since it can't be reproduced. @thejasn if you are still facing this issue, it would be useful to have the smallest possible `skaffold.yaml` that shows the bug. Right now, the config contains two profiles so we don't know if it's the git tagger or the env tagger that's used. For what it's worth, the git tagger doesn't seem to have the bug and the env tagger was complet

[2019-06-20 07:31] dgageot opened #2296 "Remove the `config version... out of date` warning"
This warning is annoying and doesn't bring any value since the configuration is auto upgraded to the latest known to skaffold.

[2019-06-20 12:49] dgageot commented on #2087
Looks like it was fixed

[2019-06-20 12:49] #2087 closed

[2019-06-20 13:04] dgageot commented on #2162
Skaffold builds the image then tags it with `{{.IMAGE_NAME}}:something-` with, in your case resolves to `quay.io/somecompany/someimage:something-`.

If you run `skaffold dev` or `skaffold run`, it won't put this value in the yaml files though because that would be the same value no matter what the content of the image is -> Kubernetes would never update the running container.

So here's what Skaff

[2019-06-20 13:07] dgageot commented on #2261
Closing as a duplicate of #2249

[2019-06-20 13:07] #2261 closed

[2019-06-20 13:09] dgageot commented on #2206
cc @briandealwis @loosebazooka

[2019-06-20 13:20] loosebazooka commented on #2206
Weird. I'll take a look today

[2019-06-20 13:51] dgageot commented on #2262
I've just tested and it works well for me. Can you share the logs after you run `skaffold dev -v debug`. That would be super useful!

[2019-06-20 14:09] loosebazooka commented on #2206
It appears we might be reusing some exec object (in go) where we shouldn't be.

[2019-06-20 14:31] loosebazooka commented on #2206
@dgageot could this be because things are running in parallel?

[2019-06-20 14:38] briandealwis commented on #2206
@ymahajan98 could you provide the full logs with `skaffold dev -v debug`?  Is this a project you can share?

[2019-06-20 14:45] dgageot commented on #2206
@loosebazooka locally, builds are always sequential.

[2019-06-20 20:16] #2296 closed

[2019-06-20 20:37] #2185 closed

[2019-06-20 20:37] nkubala opened #2304 "Release v0.32.0"

[2019-06-20 20:59] kohlerm commented on #2282
Thx for the hint! Tried with microk8s, but does not work either.
Learned from https://stackoverflow.com/questions/55297278/how-to-use-local-docker-images-with-microk8s that it also switched to containerd. I guess I have to setup a local registry ...

[2019-06-20 21:17] #2304 closed

[2019-06-20 22:08] #2284 closed

[2019-06-20 22:21] #2234 closed

[2019-06-20 22:21] #2153 closed

[2019-06-21 02:15] ymahajan98 commented on #2206
@briandealwis
[code]

[2019-06-21 04:16] #2206 closed

[2019-06-21 06:47] elisiano commented on #2162
what I'm looking for is an alternative to the old `{{DIGEST_HEX}}` (available before pushing).
It would need to be something unique per image (dependent on the content). Doesn't matter if it's a real digest or not.

@dgageot how would I go about using the immutable tag in skaffold config? I tried `{{.IMAGE_ID}}` but it doesn't contain any value.

[code]

if interested, our use case is to have a co

[2019-06-21 13:18] dgageot commented on #1884
Closing as a duplicate of #2290

[2019-06-21 13:18] #1884 closed

[2019-06-21 13:24] dgageot commented on #2290
@nkubala @seblegall I don't really understand what this feature would bring. Can you share examples of how that would be used?

[2019-06-21 13:32] yoranvanoirschot commented on #1649
I also have the same issues on Windows 10, Skaffold 0.31.0, jibMvn. The build completes but then it throws a 401, causing the process to stop.

[code]

[2019-06-21 16:08] #1658 closed

[2019-06-21 16:10] dgageot commented on #1695
It should be kept alive right now

[2019-06-21 16:17] dgageot commented on #1980
I'm going to close this issue because Skaffold supported kind now. We run our integration tests on it.

[2019-06-21 16:17] #1980 closed

[2019-06-21 17:06] dgageot commented on #1778
Haven't seen that one failing for a long itme

[2019-06-21 17:06] #1778 closed

[2019-06-21 18:10] demisx opened #2314 ""UNAUTHORIZED: authentication required" error after upgrade to v0.32"
After upgrading to 0.32.0 `skaffold dev` can no longer start. It errors out with the following error(see below). Please note I am only building local images - not using any registry of any kind for my docker images.

[code]

### Information

- Skaffold version: 0.32
- Operating system: MacOs 10.14.5
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Run `skaffold dev -v=

[2019-06-21 18:26] braderhart opened #2315 "Multi stage build not working in v0.32.0 but work fine in v0.31.0"
### Expected behavior
Kaniko (and possibly Docker) targets to work like in v0.31.0

### Actual behavior
Kaniko targets don't work as expected when building and instead gives an error

### Information

- Skaffold version: 0.32.0
- Operating system: Arch 5.1.11-arch1-1-ARCH
- Contents of skaffold.yaml:

[code]

Dockerfile for context `docker/aws`:

[code]

### Steps to reproduce the behavior

1. Run

[2019-06-21 19:59] demisx commented on #1358
We need this as well, because current port forwarding (v0.31) opens up forwarded port on `127.0.0.1` (localhost) address only and we need it to be on all, so services outside localhost can still connect to the exposed port.

[2019-06-21 20:48] braderhart commented on #2314
This has to do with targets, please see:

https://github.com/GoogleContainerTools/skaffold/issues/2315

I tried warning @dgageot about this yesterday on Slack.

[2019-06-22 01:14] saturnism opened #2317 "ability to set default repo from profile"
currently, the default repo can be associated w/ a kubecontext and is stored in `$HOME/.skaffold/config`. It would be useful if the default repo is configured from skaffold profile.

[2019-06-22 03:27] balopat commented on #2056
@pepjo not sure if you opened an issue, but I did independently: https://github.com/GoogleContainerTools/skaffold/issues/2249
@derekjanni let us know if you're stuck, feel free to open a PR while in progress! :)

[2019-06-22 03:41] balopat commented on #360
@enriched can you open a separate issue for that?
@afrittoli I'm wondering if we can close this issue given that the helmConvention config is in place now?

[2019-06-22 04:26] balopat commented on #1925
This would be more about documentation than anything then.
The last time I ran it on minikube it failed. I'll try this out again and report back.

[2019-06-22 05:05] afrittoli commented on #360
Yes, thank you

[2019-06-22 05:05] #360 closed

[2019-06-22 16:22] balopat commented on #1934
We removed AppVeyor from our CI pipeline in https://github.com/GoogleContainerTools/skaffold/pull/2219

[2019-06-22 16:22] #1934 closed

[2019-06-22 16:22] balopat commented on #1933
We started using KIND in https://github.com/GoogleContainerTools/skaffold/pull/2196.

[2019-06-22 16:22] #1933 closed

[2019-06-22 16:37] balopat opened #2320 "flake: TestWatch"
Context:

#2319
https://travis-ci.org/GoogleContainerTools/skaffold/jobs/549038397

[2019-06-22 16:39] balopat commented on #2317
cc @tejal29

[2019-06-22 16:50] balopat commented on #2282
I think in theory it should be possible to load images to containerd?  https://github.com/containerd/cri/blob/master/docs/crictl.md#directly-load-a-container-image
Not sure how this applies to k3s though

[2019-06-23 05:15] niftyhoot commented on #2123
Thanks for addressing this.

[2019-06-23 06:34] braderhart opened #2322 "kubectl deploy URL manifests not working as expected"
### Expected behavior
According to https://github.com/GoogleContainerTools/skaffold/pull/1408, a URL for a `kubectl` manifest should work

### Actual behavior
[code]

### Information

- Skaffold version: v0.32.0 & v0.31.0
- Operating system: Arch 5.1.12-arch1-1-ARCH
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. `skaffold deploy`
2. Get the following error:

[code]

[2019-06-23 08:48] dgageot commented on #2322
Hi @braderhart, you should use this config:

[code]

[2019-06-23 20:26] braderhart commented on #2322
@dgageot That is what I tried initially and I got this error:

[code]

It looks like `remoteManifests` is possibly used for something else. I could be wrong, but it isn't working either way.

[2019-06-24 05:30] braderhart opened #2325 "Support kube.config and kube.context for specifying alternative Kubernetes config file or context"
### Expected behavior
Allow setting an alternative kube.config file for an alternative Kubernetes config file and kube.context for specifying context without having to modify global flags for every step or setting manually

### Actual behavior
Currently have to add global flags for everything or manually set context or rename config file before running skaffold

### Information

- Skaffold version

[2019-06-24 08:08] trenslow commented on #2185
Hi David,

Thanks so much for this fix! I tried it out this morning and it worked great.

Best regards

[2019-06-24 12:27] MarkBennett opened #2326 "`skaffold dev` fails with `retrieving image config: getting image: UNAUTHORIZED: authentication required`"
### Expected behavior

`skaffold dev` should create and deploy resources to `minikube` for local dev.

### Actual behavior

Running `skaffold dev -v debug` produces:

[code]

### Information

- Skaffold version: v0.32.0
- Operating system: Mac OS Mojave (10.14.5 (18F132))
- Contents of skaffold.yaml:
- Cluster: minikube version: v1.2.0

[code]

I've also confirmed that running a raw Docker build w

[2019-06-24 12:36] MarkBennett commented on #2326
I just tried cloning this repo and running [the getting started steps](https://skaffold.dev/docs/getting-started/) from the docs and can confirm that `skaffold dev` works on this machine.

[2019-06-24 13:52] seblegall commented on #2325
Why would you like to specify both a kubectl config file and un context?

In my understanding, kubectl config file may be managed with 2 strategy  :
* One big config file with multiple context and a default context set
* One config file by context

The ability to specify a file (where a default context is set) should be enough, right?

[2019-06-24 14:35] seblegall commented on #2322
@dgageot it seems the `RemoteManifests` field is never used except in the configuration declaration.

[code]

The code reading remote manifest was present in the `v0.21.0` but disappear in the `v0.22.0`.

It seems to come from this PR : https://github.com/GoogleContainerTools/skaffold/pull/1451/files

[2019-06-24 14:44] seblegall commented on #2290
@dgageot I've tested it and it seems to work find without that, indeed. My only concern is about the pushed image on a remote registry. I've tested it using docker-for-desktop so I couldn't see the effect on a remote registry. But it's possible that the image is pushed with a tag `latest` on the registry. I'm not sure if it could have an impact other than the impossibility to find an older build o

[2019-06-25 00:12] priyawadhwa commented on #2120
Hey @mxey what is your use case for adding the `--prune` flag? It seems like the only way to fix this is to apply everything, but I don't love that solution.

[2019-06-25 04:37] William-Yeh commented on #1470
I also encounter this issue, and write an article to re-produce it:
https://william-yeh.net/post/2019/06/docker-file-permissions/

[2019-06-25 06:58] prary opened #2330 "skaffold run failing"
Skaffold run fail's after upgrade

### Expected behavior
Should build and deploy
### Actual behavior
But skaffold fails with following error

### Information

[code]
### Steps to reproduce the behavior

1. Use latest skaffold and run with above yaml.

looks like

is the culpit

[2019-06-25 08:33] prary commented on #2326
Its failing abruptly for me, twice it re-run worked and twice it failed with following error.

[2019-06-25 08:53] dgageot opened #2331 "Master branch can't parse `v1beta11` format"
[code]

[2019-06-25 14:53] gong4494 commented on #1996
+1 for this issue

[2019-06-25 14:54] ItsLeeOwen commented on #2326
[code]

[2019-06-25 15:00] MarkBennett commented on #2326
@ItsLeeOwen Crazy Cat Lady, eh? 😉 🐱

[2019-06-25 15:29] ItsLeeOwen commented on #2326
Downgrading to 0.31 is a workaround:

Archive releases:  https://github.com/GoogleContainerTools/skaffold/releases

[2019-06-25 15:30] MarkBennett commented on #2326
Thanks. I'll give that a try when I'm back on that machine. Might be time for some `git bisect`.

[2019-06-25 15:47] dkirrane opened #2334 "only one element in set deploy can be set"
### Expected behavior
This worked in previous versions I believe. And it is a good feature.

I was using it do deploy extra yaml not included in Helm Chart. In my case I'm using kubectl to add a Istio VirtualService yaml for keycloak since its not in Helm chart.

### Actual behavior
[code]

### Information

- Skaffold version: version. v0.32.0
- Operating system: windows
Contents of skaffold.yaml:

[2019-06-25 16:06] dahovey commented on #2326
This is related to #2256. This was occurring for me as well, using local K8s cluster with Docker Desktop on Windows 10.

[2019-06-25 16:23] derekjanni commented on #2295
@jtlz2 I'm curious about your use of that triple star in your `sync` section as well as the interaction between `sync` and your Dockerfile - is there a particular reason for using `sync` instead of just building a new container on edit?

It'd be nice to clear up how related this issue is to `sync` itself by trying builds without using `***` in there (if that's not just a placeholder) and by removi

[2019-06-25 16:24] vaidik commented on #97
Configmaps get updated but not the deployments referencing them.

[2019-06-25 17:48] #2331 closed

[2019-06-25 20:32] balopat commented on #2203
We need to enrich the heuristics in runtimes/artifacts so that skaffold can detect what language runtime an artifact is using, so that `skaffold debug` can do the right "magic" of rewriting the manifests.

Another way I would phrase this: With this feature set we start a set of standard mechanisms to make a runtime image Skaffold compatible?

+1 on env vars. I think this is a natural fit with the

[2019-06-25 20:38] balopat commented on #2203
A crazy idea: we could have a set of known image names -> runtimes mapping themselves listed explicitly somewhere as well as another source of heuristics.

[2019-06-25 22:00] braderhart commented on #2325
@seblegall I personally don't have a use for that currently, but I could see how other users may have multiple config files with multiple contexts for let's say home and work accounts. Maybe they are using separate profiles in Minikube, or have multiple clusters setup for work and then a different .kubeconfig for a personal GKE cluster and Minikube.

[2019-06-25 22:57] balopat commented on #169
I'm going to close this for now due to lack of activity.

[2019-06-26 06:34] Hudsonzp commented on #2295
I had the same problem where sometimes it would update and sometimes it wouldn't. However, that was before I updated to a later version and removed the triple star.  Previously, scaffold was flattening everything which was the reason for the undocumented *** pattern to exist.

@jtlz2 I noticed you're on v1beta11 which should mean that the *** has been removed based on what I heard from others on t

[2019-06-26 08:06] dgageot commented on #2315
I'm working on it. This is not specific to Kaniko. Something is broken with the way we handle targets.

[2019-06-26 08:08] dgageot commented on #2256
@dahovey Can you confirm you have a multi-stage build? If the answer is yes, then this is a duplicate of #2315

[2019-06-26 08:08] dgageot commented on #2314
@demisx Can you confirm you have a multi-stage build? If the answer is yes, then this is a duplicate of #2315

[2019-06-26 08:09] dgageot commented on #2326
@MarkBennett  Can you confirm you have a multi-stage build? If the answer is yes, then this is a duplicate of #2315

[2019-06-26 11:17] michaelkruglos commented on #2314
Here's what I get after the upgrade:

[code]

[2019-06-26 11:42] dkirrane commented on #543
Hi, Looking to use Env variables in side Helm deployment

This currently doesn't work for `var1` & `var 2` below
[code]

[2019-06-26 11:53] haf opened #2341 "Avoid scale down upon rebuild image"
I have a deployment registered in Skaffold and am running `skaffold dev`. When I change a file, it updates the docker image, but while it's updating the docker image, Skaffold scales down the number of replicas. I was hoping to avoid this behaviour, since I'm working with the site in between compiles. Otherwise I have to wait one minute every time I save a file, which is bad for productivity, to s

[2019-06-26 12:06] dgageot commented on #2315
Can anyone try with this PR? https://github.com/GoogleContainerTools/skaffold/pull/2340

[2019-06-26 12:11] dgageot commented on #2330
Hi @prary, thanks for reporting and finding where the bug comes from. I'll try to fix it

[2019-06-26 12:38] MarkBennett commented on #2326
Here's my `Dockerfile` @dgageot...

[code]

[2019-06-26 12:39] MarkBennett commented on #2326
The only other information I can think that might be related is that I'm running this on `minikube version: v1.2.0`.

[2019-06-26 13:26] dgageot commented on #2326
So, yes, you are using a multi stage build Dockerfile. And latest release of Skaffold broke the support of it. I'm going to close this issue because it's a duplicate of #2315
This should be fixed with #2340

[2019-06-26 13:26] #2326 closed

[2019-06-26 13:29] mxey commented on #2120
The use case for prune is to remove resources from the cluster that were removed from the input. Especially with Kustomize hashing ConfigMaps and Secrets, there can be a lot of churn.

What is the use case for Skaffold to apply only partially?

[2019-06-26 13:30] reegnz opened #2344 "skaffold dev with kustomize doesn't pick up patchesStrategicMerge changes"
### Expected behavior

When I use a kustomize v2.x manifest, skaffold dev should pick up changes to any of the changes to files kustomize is working with.

### Actual behavior

If I am using patchesStrategicMerge the changes to the patches aren't picked up.
If I use 1.x format (patches) the patch changes are picked up by skaffold dev properly.

### Information

- Skaffold version: v0.32.0
- Operat

[2019-06-26 13:54] dgageot commented on #2314
@michaelbeaumont Can you share your Dockerfile?

[2019-06-26 14:05] dgageot commented on #2322
@seblegall Thank you for digging. I'm taking a look at it right now

[2019-06-26 14:06] dgageot commented on #2322
So, it looks like those are two different issues. I'm going to create one to bring back the remoteManifests

[2019-06-26 14:08] dgageot opened #2346 "RemoteManifests support is broken"
see https://github.com/GoogleContainerTools/skaffold/issues/2322#issuecomment-505037365

the `kubectl` deployer used to support `RemoteManifests`. This has been broken with `v0.22.0` with this PR: https://github.com/GoogleContainerTools/skaffold/pull/1451/files

[2019-06-26 14:08] dgageot commented on #2322
see https://github.com/GoogleContainerTools/skaffold/issues/2346

[2019-06-26 14:12] demisx commented on #2314
@dgageot This is correct. I have multi-stage Dockerfile. Once I make it a single-stage the error goes away.

[2019-06-26 14:25] dgageot commented on #2314
@demisx Thanks a lot for your feedback!
Closing as a duplicate of #2315

[2019-06-26 14:25] #2314 closed

[2019-06-26 14:26] demisx commented on #2315
@dgageot I was going to try it, but I can't seem to find instructions on how to build the binary from your PR branch. This may be trivial, but I am not a GO developer yet. If you could please point me out to the "build from source" instructions, I'll be more than happy to see if it  fixes the current error on my end.

[2019-06-26 15:07] MarkBennett commented on #2326
Thanks @dgageot. I'll follow that issue. 👍

[2019-06-26 15:08] dahovey commented on #2256
@dgageot Yes I am using multi stage builds.

[2019-06-26 15:14] dgageot commented on #2346
Duplicate of https://github.com/GoogleContainerTools/skaffold/pull/2258

[2019-06-26 15:14] #2346 closed

[2019-06-26 16:18] dgageot commented on #2315
If you really want to do it (I would understand if you didn't!), you have to install go 1.11 or 1.12 and run `make install` at the root of skaffold folder

[2019-06-26 16:18] dgageot commented on #2256
Duplicate of #2315

[2019-06-26 16:18] #2256 closed

[2019-06-26 16:33] dgageot commented on #1938
I'm going to close this one because it should be ok. If it's not ok, please reopen with a detailed error log.

[2019-06-26 16:33] #1938 closed

[2019-06-26 16:43] dgageot commented on #2004
Let's close this issue then!

[2019-06-26 16:43] #2004 closed

[2019-06-26 16:55] dgageot commented on #1313
I'm going to close this issue since this can be handled with RBAC or with auto-activated profiles

[2019-06-26 16:55] #1313 closed

[2019-06-26 17:16] briandealwis opened #2350 "Support `debug` for Helm"
Support debugging applications using Helm.  Difficulties here are:
  - Helm charts use Go templating in all its glory: it's difficult to parse and manipulate, and can even result in loops to generate resource objects
  - Helm chart templates can be evaluated on both client- and server-side (by tiller)
  - Helm 3 is purely client-side

With Helm 3, our life is a bit easier as it seems to be entirel

[2019-06-26 17:25] briandealwis commented on #2350
Issue around general Helm 3 sport #2142

[2019-06-26 17:30] dahovey commented on #2315
Your PR #2340 works for my setup using multi-stage docker dockerfiles.

Thanks!

[2019-06-26 17:36] briandealwis opened #2351 "Enable filesync with debug"
`debug` currently disables the Skaffold watcher to prevent Skaffold from redeploying artifacts on file changes: having a debug session ripped out when in progress is a suboptimal user experience!  And many runtimes support installing changes, normally handled by the IDE.

But a side-effect is that this also disables the filesync functionality.  We should be able to forego artifact redeployment whi

[2019-06-26 18:39] priyawadhwa commented on #2120
I see, I think the main benefit of only applying resources that have changed would be speed. Perhaps we could add an `applyAll: true` (default `false`) field to the kubectl deployer. Would you be interested in submitting a PR?

[2019-06-26 19:17] hach-que opened #2355 "UNAUTHORIZED authentication required as of 0.32.0"
### Expected behavior

`skaffold dev` should work like it does in `0.31.0`.

### Actual behavior

`skaffold dev` outputs (hidden the GCP project name):

[code]

### Information

- Skaffold version: version 0.32.0
- Operating system: Windows
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

1. Upgrade to 0.32.0.
2. Find out you can't run `skaffold dev` any more without it c

[2019-06-26 21:49] #2344 closed

[2019-06-26 22:58] #2315 closed

[2019-06-26 23:12] dgageot commented on #2355
This was fixed with https://github.com/GoogleContainerTools/skaffold/pull/2340

[2019-06-26 23:12] #2355 closed

[2019-06-26 23:39] braderhart commented on #2315
Thanks. Curious if there will be a 0.32.1 release for this?

[2019-06-26 23:44] balopat opened #2357 "Spring Boot DevTools support"
[Spring Boot DevTools](https://docs.spring.io/spring-boot/docs/current/reference/html/using-boot-devtools.html) came up a couple of times as a feature to support for Skaffold's filesync. This requires some more advanced workflows because of syncing compiled files to the container that we could invest into if there is enough demand.

I'm opening this issue to see if there is any interest in this fr

[2019-06-26 23:45] balopat commented on #2357
cc @GoogleContainerTools/java-tools

[2019-06-26 23:59] tbarrella opened #2358 "Kaniko build returned success after building only one of two images"
### Expected behavior
`skaffold build` builds and pushes two images using Kaniko, or exits with failure if either build fails
### Actual behavior
Only one image was built but `skaffold build` still returned 0. Build output:
[code]
### Information

- Skaffold version: v0.32.0
- Operating system: Ubuntu 18.04
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
(not sure if easi

[2019-06-27 03:23] MarkBennett opened #2360 "sync to compeleted job fails, terminating the rest of the sync"
### Expected behavior

Given I've got a few pods running in my cluster and using the same build (such as Rails webserver, worker, and rspec job), then when I make a change to synced file skaffold to restart the job rather than try to sync files to a completed/terminated pod. Alternatively, as a less ideal outcome skaffold could ignore the completed job and not do anything.

### Actual behavior

Cu

[2019-06-27 07:40] seblegall commented on #2325
@braderhart I see. It seems to me that the use case of having multiple config files and multiple context in each is a little bit particular.

Maybe we could start by taking in consideration a specified config file as a first step and see later if there is a need for specifying a context.

Then, you've suggested to add this feature in the configuration file `skaffold.yml`. But kube config files and

[2019-06-27 09:08] dgageot commented on #1272
Let's close this one since there's not a lot of activity on this issue and there's nothing in the short term roadmap

[2019-06-27 09:08] #1272 closed

[2019-06-27 09:10] dgageot commented on #1783
Let's close this one because it was never reproduced. If the problem is still there, please reopen

[2019-06-27 09:10] #1783 closed

[2019-06-27 16:27] bjoberg commented on #2142
Hey, is Helm 3 support in the road map?

[2019-06-27 19:24] reegnz commented on #2344
Thanks for the insanely fast fix! You're awesome!

[2019-06-27 21:14] AndiDog commented on #1806
The value must be a separate command line argument, e.g.

[code]

(or use single argument `--timeout=30`)

[2019-06-28 05:29] seblegall commented on #2360
@MarkBennett I'm not sure to understand the expected behavior.

[code]
Do you mean :
apply the change to the files in the container (sync) and then restart the worker (pod) ?
or just restart the worker (pod) ?

[2019-06-28 05:48] braderhart commented on #2325
I did realize later on that specifying the `KUBECONFIG` environment variable should work for kubectl and Helm. Specifying the `KUBECONFIG` environment variable requires that you either export it (not ideal when switching between configs frequently), or set it on the CLI for each command, or create a wrapper script and likely lose access to bash completion. This is also an extra step for the CI/CD

[2019-06-28 05:56] seblegall commented on #2334
@dkirrane just to be sure, have you seen it works yourself in previous version?

Because the code of the first config seems to says it as always been only on of possible deploy type :
https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/v1alpha1/config.go#L75

How should this work? Deployment should be done iteratively in the order they are declared in the  config file?

[2019-06-28 07:19] corneliusweig commented on #2200
So I think the idea is to use kustomize to merge multiple `skaffold.yaml` files into one. For that, kustomize needs the `metadata.name` field to identify the resources.

I think it's a neat trick to use kustomize for this job. Adding an optional `metadata.name` field overall makes sense to me. However, I would argue against re-using the `apimachinery/ObjectMeta` object which contains a lot more fi

[2019-06-28 09:40] mxey commented on #2120
I'm not sure how much we want to change the configuration for this, since prune is being redesigned anyway. Since Skaffold profiles can be enabled based on the command, it would be most sensible for me to create a prune profile that is only enabled if running `deploy`, not `dev`.

[2019-06-28 09:48] cmeury commented on #2161
Just ran into the same issue, would also love to see an option to only render manifests. Or move towards Helm v3 which is tiller-less anyway?

[2019-06-28 15:06] priyawadhwa commented on #2120
I see, but `deploy` should run `kubectl apply` on all manifests, so the `--prune` flag should work as expected anyway, correct?

[2019-06-28 15:31] afirth commented on #1737
borks kubebuilder :(

[2019-06-28 15:39] yoshwata opened #2366 "Sync does not work because the image string is not match"
### Expected behavior
Sync works properly.

### Actual behavior
Sync do not work by this error.
[code]

### Information

- Skaffold version:
[code]
- Operating system: ...
mac OS Mojave 10.14.5
- Contents of skaffold.yaml:

[code]

- Workaround
The workaround is this [PR](https://github.com/GoogleContainerTools/skaffold/pull/2365).
I find that image string of skaffold includes sha, but `Spec.Conta

[2019-06-28 16:25] dgageot commented on #2366
Which version of k8s are you using? Could you share the output of `kubectl get pod [THEPOD] -oyaml` and the output of `skaffold dev -vdebug`? That would be awesome!

[2019-06-28 16:41] MarkBennett commented on #2360
@seblegall I think I'd want sync to update running pods without restarting, however in the case of finished jobs it should update the image and then restart them.

[2019-06-28 16:53] priyawadhwa commented on #1988
This is done now, closing.

[2019-06-28 16:53] #1988 closed

[2019-06-28 16:56] priyawadhwa commented on #1245
Hey @harrisjoseph I just merged #2215, which now automatically port forwards services for `debug` and `dev` when the `--port-forward` flag is set. Additional resources to port forward can be defined in the skaffold config as of #1311.

Does this solve your use case?

[2019-06-28 16:59] priyawadhwa commented on #1564
Hey @haf as of #2115 port forwarding is off by default. Additionally, skaffold will automatically port forward services instead of pods for `skaffold dev` (#2215) and additional resources for port forwarding can be specified in the skaffold config (#1311). These changes should be available in the next release, so I'm going to go ahead and close this issue. Please comment or reopen if you need!

[2019-06-28 16:59] #1564 closed

[2019-06-28 17:00] #2003 closed

[2019-06-28 17:04] priyawadhwa commented on #2046
Hey @botwhytho I just merged a PR for user defined port forwarding in the skaffold config (#1311) which should be available in the next release. Since this seems to solve your use case, I'm going to go ahead and close this issue, but please comment or reopen if you need!

[2019-06-28 17:04] #2046 closed

[2019-06-28 17:05] priyawadhwa commented on #1311
Done with #2336 !

[2019-06-28 17:05] #1311 closed

[2019-06-28 17:09] priyawadhwa commented on #1948
Hey @arshbot I recently redesigned port forwarding so hopefully this shouldn't be an issue anymore. As of the next release:

1. `skaffold dev` only automatically port forwards services instead of pods (#2215)
2. you should be able to specify a deployment to port forward (including the namespace) in the skaffold config (#2336)

I'm going to go ahead and close this issue, but please comment or reope

[2019-06-28 17:09] priyawadhwa commented on #1916
Done in #1311, #2353 , and #2336.

[2019-06-28 17:09] #1916 closed

[2019-06-28 17:13] priyawadhwa commented on #1189
Hey @eaceaser -- I recently redesigned port forwarding so this should no longer be an issue. As of the next release:

1. `skaffold dev` only automatically port forwards services, instead of pods (#2215)
2. users can specify additional resources to port-forward in the skaffold config  (#2336)

I also added in polling logic to see if a resource can be port forwarded for up to 10 seconds, so hopefull

[2019-06-28 17:13] #1189 closed

[2019-06-28 17:14] priyawadhwa commented on #1193
After redesigning port forwarding (#2215) I don't think we will make this change anymore. I'm going to go ahead and close this issue!

[2019-06-28 17:14] #1193 closed

[2019-06-28 17:34] dgageot opened #2370 "The new multi-stage integration image breaks `--cache-from`"
This makes the build on kokoro and Travis slower than it should be. I'll check what we can do. It could be that we have to push/pull every stage individually (which is not fun)

[2019-06-28 17:35] dgageot commented on #2370
See https://andrewlock.net/caching-docker-layers-on-serverless-build-hosts-with-multi-stage-builds---target,-and---cache-from/

[2019-06-28 18:31] tejal29 opened #2372 "Fix microservices example to deploy to healthy state"
### Expected behavior
Running `skaffold deploy` on example/micro-services should create valid deployments
### Actual behavior
On master run
[code]
The deploy command succeeds, but if you look the the deployment, it never stabilizes.
[code]

[2019-06-28 19:51] wstrange commented on #2161
Would also like to see a kustomize manifest output option.  Could be the entire manifest, or optionally, a list of kustomize edit commands to "fix" up the images for deployment?

[2019-06-28 20:35] tejal29 opened #2373 "Investigate skaffold debug failures for deploy healthcheck."
### Expected behavior
Skaffold debug integration tests are failing on my PR #2359
Raw log : https://api.travis-ci.org/v3/job/551517933/log.txt

However, when i run `skaffold debug` on the integration/testdata/debug, it executes correctly.

[code]
### Actual behavior

Not sure, which i am not able to reproduce this. Looking at the tests log here:
https://gist.github.com/tejal29/1550ec08a8e9b9760821

[2019-06-29 00:51] yoshwata commented on #2366
Thanks @dgageot, I wrote it.

[code]

<details>
  <summary>kubectl get po -oyaml</summary>
  I delete some elements manually like [manually deleted].
  <pre>
  <code>
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2019-06-29T00:25:10Z"
  generateName: test-file-sync-774d6d6b4c-
  labels:
    app: sync
    app.kubernetes.io/managed-by: skaffold-v0.32.0-100-g5be1fa24
    pod-template-hash:

[2019-06-29 06:50] harrisjoseph commented on #1245
It does. Thanks!On 28 Jun 2019 17:56, priyawadhwa <notifications@github.com> wrote:Hey @harrisjoseph I just merged #2215, which now automatically port forwards services for debug and dev when the --port-forward flag is set. Additional resources to port forward can be defined in the skaffold config as of #1311.
Does this solve your use case?

—You are receiving this because you were mentioned.Reply

[2019-06-30 08:18] giladsh1 opened #2376 "cancel googleCloudBuild on SIGINT"
### Expected behavior
When supplying Ctrl + C (SIGINT) to the `skaffold run` command with googleCloudBuild builder, skaffold should cancel the builds in the cloud.
### Actual behavior
skaffold crashes and returns an error  -
[code]
### Information

- Skaffold version: v0.31.0
- Operating system: MacOS
- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior
1. run - `skaffold run

[2019-06-30 14:09] ptone opened #2377 "Support kaniko builder in googleCloudBuild"
### Expected behavior

Set gcr.io/kaniko-project/executor:latest as the builder image in cloud build

### Actual behavior

Status: Downloaded newer image for gcr.io/kaniko-project/executor:latest
Error: unknown flag: --tag

### Information

- Skaffold version: version...

v0.32.0

- Operating system: ...

OSX Mojave

- Contents of skaffold.yaml:

[code]

### Steps to reproduce the behavior

Run wi

[2019-06-30 16:28] tdickman commented on #1948
@priyawadhwa I'm able to reproduce this issue with logging when adding `namespace: default` [here](https://github.com/GoogleContainerTools/skaffold/blob/master/examples/helm-deployment/skaffold.yaml#L18), and running `skaffold dev` from a non-default namespace. This was tested with the latest version from master.

I believe this error might be caused by specifying a namespace in the `deploy.helm.r

[2019-06-30 17:19] tdickman opened #2379 "Port forwarding broken for helm releases"
### Expected behavior

Port forwarding works properly for helm releases.

### Actual behavior

Port forwarding does not occur for helm releases

### Information

- Skaffold version: [latest version](https://github.com/GoogleContainerTools/skaffold/commit/734e5e3aee4611445237fd34f1abd03e36fdfb64) built from master
- Operating system: ubuntu
- Contents of skaffold.yaml:

[code]

### Steps to reprodu

[2019-06-30 17:31] tdickman opened #2380 "No logging output when running skaffold dev on helm release"
### Expected behavior

`skaffold dev` should output logs when a release (`deploy.helm.releases[0].namespace`) is specified that differs from the namespace of the current context.

### Actual behavior

No logs are displayed if `skaffold dev` is run on a skaffold.yaml file that references a helm release in a namespace that does not match the current context.

### Information

- Skaffold version: v0.

[2019-06-30 17:32] tdickman commented on #1948
Created 2 tickets related to this:

* bug in portforwarding when using helm: https://github.com/GoogleContainerTools/skaffold/issues/2379
* bug in logging when using helm: https://github.com/GoogleContainerTools/skaffold/issues/2380

[2019-06-30 17:54] Ilyes512 commented on #2264
@dgageot: I think your talking about this change (of yours) specifically? https://github.com/GoogleContainerTools/skaffold/blob/master/cmd/skaffold/app/cmd/config/util.go#L236-L238

That should only improve the current feature, so no need for skaffold from `master`.

I was surprised this feature was already built in. It took me a while to figure out how to use this, cause it wasn't working as expe

[2019-06-30 20:40] vasu1124 commented on #2264
Nice. I had not tested with master (or now with v0.32) yet. That's what I was looking for.

(Although your fix is for `kind` specifically, a way to patch a "push" with a custom cmd and connect it with a profile, might be the more generic path. For every distro still out there, like microk8s and whatnot).

@Ilyes512 also points to more direct customisability in a profile.

[2019-07-01 02:22] andremoeller opened #2381 "Microservices example: i/o timeout"
### Expected behavior

Going through https://github.com/GoogleContainerTools/skaffold/tree/master/examples/microservices,

`curl $(minikube service leeroy-web --url)`

should give

`leeroooooy app!`

### Actual behavior

`curl $(minikube service leeroy-web --url)`

Gives
`curl: (52) Empty reply from server`, and server says:

[code]

### Information

- Skaffold version: version: v0.32.0
- Operatin

[2019-07-01 03:18] andremoeller commented on #2381
Closing this: hostnames weren't resolving because coredns pod detected a loop and crashed -- deleted "loop" from coredns config fixed this:

https://stackoverflow.com/questions/52645473/coredns-fails-to-run-in-kubernetes-cluster

[2019-07-01 03:18] #2381 closed

[2019-07-01 08:49] mxey commented on #2120
Correct.

[2019-07-01 12:22] #1245 closed

[2019-07-01 13:58] #2330 closed

[2019-07-01 14:30] dgageot opened #2385 "TestFlake: TestRun/jib_in_googlecloudbuild"
[code]

[2019-07-01 15:56] priyawadhwa commented on #2379
Hey @tdickman I just looked into it -- looks like automatic port forwarding of services isn't working with helm because we don't add a skaffold label after deployment (the port forwarding determines which services to port forward by filtering by this label).

I'll look into adding the label post helm deploy, otherwise user defined port forwarding does still work as exptected (I added

[code]

to m

[2019-07-01 20:48] priyawadhwa commented on #2120
So current functionality should be alright as is then?

[2019-07-01 22:07] balopat commented on #1480
I think we can close this now: we are reporting PortForwarding events. Please reopen if you think we need this to track something.

[2019-07-01 22:07] #1480 closed

[2019-07-01 22:08] balopat commented on #969
We can close this epic now! Great job @priyawadhwa!

[2019-07-01 22:08] #969 closed

[2019-07-01 23:46] balopat opened #2387 "Cut v0.33"
Bringing this week's release forward due to 4th July + https://github.com/GoogleContainerTools/skaffold/issues/2355.

[2019-07-01 23:50] #2322 closed

[2019-07-02 05:21] dgageot commented on #2074
@corneliusweig Is this PR still active? I'd like to close stalled PRs so that we have a better idea of which PR needs a review

[2019-07-02 12:48] dgageot commented on #1307
This should have been fixed by #2352

[2019-07-02 12:48] #1307 closed

[2019-07-02 12:50] dgageot commented on #2089
I'm going to close this one since it's crio related

[2019-07-02 12:50] #2089 closed

[2019-07-02 13:00] dgageot commented on #2208
I'm going to close this one because I'm almost sure it's a duplicate of #2281 that's been fixed with https://github.com/GoogleContainerTools/skaffold/commit/ee24699e931b30ae03aee74b7e9659fc11e14e01.

[2019-07-02 13:00] #2208 closed

[2019-07-02 13:11] leahneukirchen commented on #635
It would be very nice if this was documented.

[2019-07-02 13:22] sfxworks commented on #2089
@dgageot I don't see crio allowing SHA along with tags. It would be cool if there could be an exception coded in when it detects crio as container runtine.

[2019-07-02 13:44] #2098 closed

[2019-07-02 15:30] dgageot commented on #1403
This is fixed

[2019-07-02 15:30] #1403 closed

[2019-07-02 15:35] dgageot commented on #546
I'm going to close this issue. Lots of changes since then!

[2019-07-02 15:35] #546 closed

[2019-07-02 15:37] dgageot commented on #1134
Let's close this one. This is not something considered in the near future.

[2019-07-02 17:22] #2166 closed

[2019-07-02 17:31] #2070 closed

[2019-07-02 18:35] #2387 closed

[2019-07-03 06:10] s3than opened #2395 "No Linux build of v0.33.0 on release page"
### Expected behavior
Download of linux v0.33.0 should not return 404
### Actual behavior
No linux build
### Information
https://github.com/GoogleContainerTools/skaffold/releases/tag/v0.33.0

No linux assets present

- Skaffold version: v0.33.0

### Steps to reproduce the behavior

1. Go to releases https://github.com/GoogleContainerTools/skaffold/releases/tag/v0.33.0
2. No linux version, however

[2019-07-03 07:54] mxey commented on #2120
Yes.

[2019-07-03 07:54] #2120 closed

[2019-07-03 09:23] vcorr commented on #2366
Most likely same problem here (using Helm)

Docker build ends with:
`Successfully built 9141b05a9637
Successfully tagged gcr.io/my-docker-image:dirty`

Kubectl describe pod:
`Image:          gcr.io/my-docker-image:dirty`
`Image ID:      docker://sha256:9141b05a9637b3b16b...`

Skaffold dev -v debug:

`
Syncing 1 files for gcr.io/my-docker-image:9141b05a9637....
INFO[0106] Copying files: map[src/ind

[2019-07-03 10:55] dgageot commented on #2366
@vcorr Which version of k8s are you using?

I can't find a way to reproduce that issue...

[2019-07-03 16:08] dgageot commented on #2226
Turns out this test is not flaky. It often runs at the end of the test suite and is stopped because the test suite times out.

[2019-07-03 16:08] #2226 closed

[2019-07-03 16:08] dgageot opened #2398 "TestDebug is too long and flaky"
Here are the integration tests durations on a random PR:
[code]

[2019-07-03 16:10] dgageot commented on #2398
Those two tests often time out too:  see https://travis-ci.org/GoogleContainerTools/skaffold/jobs/553635701

[2019-07-03 16:27] vcorr commented on #2366
@dgageot I was using just Docker for Desktop to test out Skaffold.

Docker version: 2.0.5.0 (35318)

`"osImage": "Docker Desktop",`
`"containerRuntimeVersion": "docker://19.3.0",`
`"kubeletVersion": "v1.14.3",`
`"kubeProxyVersion": "v1.14.3"`

[2019-07-03 16:49] dgageot commented on #2395
ping @balopat

[2019-07-03 16:57] sasso opened #2400 "skaffold dev - bootstrap scripts"
I am working with Skaffold and there are a couple of things that need to be set up in minikube or remote cluster before you can start developing (helm, CRDs, local routes, ...). Would it make sense to extend the skaffold config and add support to execute some custom scripts to bootstrap the development environment when calling `skaffold dev`?

Example:
[code]

[2019-07-03 17:11] dgageot opened #2401 "hack/test-generated-proto.sh takes a long time on the CI"

[2019-07-03 17:17] dgageot commented on #2401
On my machine, with an empty docker cache, it takes 2 minutes.

[2019-07-04 05:39] seblegall commented on #2360
Hello again @MarkBennett .

I've looked for a way to deal with jobs/workers container and I have a few questions.

From what I understand of your issue, you are using the same artifact / container in different deployments/pod? Where each is running a different command?

There is 2 things we could do :

1. Check the status of the pod and skip pods which are in a non-running state in order to avoid

[2019-07-04 06:49] #2082 closed

[2019-07-04 12:41] MarkBennett commented on #2360
Bonjour @seblegall!

My sense is that option 1, skipping pods in a non-running state, is the best option for now. It maintains the existing behaviour with respect to crashed pods so users would know what to expect but also ensures that the sync failing for one pod won't impact the success of the sync for another.

Merci! :)

[2019-07-04 14:31] gaetansnl opened #2407 "Sync not working with profiles"
### Expected behavior
I expect sync to work when it's configured in a profile
### Actual behavior
Skaffold trigger full rebuild

### Information

- Skaffold version: 0.33.0
- Operating system: Windows 10

### Steps to reproduce the behavior

1. Sync Working
[code]
2. Sync not working (skaffold trigger full rebuild)
[code]

[2019-07-04 15:28] cheung-chifung opened #2408 "Port forwarding not work when pods recreated"
I'm making a simple golang app and trying to use skaffold for local development with`skaffold dev --port-forward`.

However, it only works for the first time, then fails to open ports again when files changed and pods recreated. I even tried v0.33.0 and the latest version `2f2a6f4`, neither works.

I checked issue  #1594 #1815 and tried v0.29.0, and it works as I expected.

I notice that when I us

[2019-07-05 06:46] dgageot opened #2410 "TestFileMonitor is flaky"
https://travis-ci.org/GoogleContainerTools/skaffold/jobs/554538507

[2019-07-05 06:49] dgageot opened #2411 "Triggers are not tested anymore by unit tests"
Triggers are not tested anymore by unit tests. We should test their `Start` function. I think this was broken with https://github.com/GoogleContainerTools/skaffold/pull/2354

[2019-07-05 07:01] jaredbark opened #2412 "The deployed pod did not deleted in 'dev' option"
### Expected behavior
The deployed pod should be deleted when stopping the process which launched in 'dev' option

### Actual behavior
The deployed pod did not deleted from the cluster.

Log
DEBU[0025] Running command: [helm --kube-context eks-dev-cluster delete configmgmt --purge]
release "configmgmt" deleted
Cleanup complete in 3.989216938s
FATA[0029] exiting dev mode because first deploy failed

[2019-07-05 07:46] dgageot commented on #2407
@gaetansnl Sorry, there's an issue with the schema upgrade process.

When your config file is upgraded from `v1beta7` to `v1beta12`, it loses the sync information that are carried by the profiles. If you manually migrate to `v1beta12` and use the new syntax for sync, it should be all good.

ping @corneliusweig [This](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/schema/

[2019-07-05 08:22] corneliusweig commented on #2407
Sorry, my blunder. Will be fixed by #2415.

Thanks @gaetansnl for reporting!

[2019-07-05 08:46] jmcclell opened #2416 "Add support for Kustomize Kustomization resources"
As of version 2.1, Kustomize has deprecated the concept of "bases" in favor of combining the concept into the "resources" array by enforcing merge order. This means that as of 2.1, a resource can refer to a Kustomization (a directory containing a kustomization config at its root) rather than simply a file. This means that Skaffold's Kustomization support needs to be expanded to treat resources as

[2019-07-05 09:40] #2410 closed

[2019-07-05 09:52] dgageot commented on #1746
This test has not been failing for quite some time. Let's close this issue

[2019-07-05 09:52] #1746 closed

[2019-07-05 09:54] dgageot commented on #2398
This should have been fixed with https://github.com/GoogleContainerTools/skaffold/pull/2399 and https://github.com/GoogleContainerTools/skaffold/pull/2406. Let's close this issue

[2019-07-05 09:54] #2398 closed

[2019-07-05 11:29] #2407 closed

[2019-07-05 12:17] dgageot commented on #2373
Closing as a duplicate of https://github.com/GoogleContainerTools/skaffold/issues/2398

[2019-07-05 12:17] #2373 closed

[2019-07-05 12:20] jmcclell commented on #2416
@dgageot This is probably actually a bug rather than a feature request, because today if you use version 2.1 and opt to use the new resource functionality rather than bases, Skaffold won't properly watch all the files as it won't follow the dependency tree. I'm putting a PR together now.

[2019-07-05 12:23] dgageot commented on #2372
@tejal29 I assume you meant to run `skaffold run`, not `skaffold deploy`. For `skaffold deploy` to work without any additional argument, you have to make sure both the `gcr.io/k8s-skaffold/leeroy-web` and `gcr.io/k8s-skaffold/leeroy-app` docker images exist.

[2019-07-05 12:25] dgageot commented on #2416
great

[2019-07-05 13:01] dgageot commented on #2395
I've updated the GitHub release page

[2019-07-05 13:01] #2395 closed

[2019-07-05 13:02] matti opened #2421 "support kustomize remote resources"
issue #2082 was closed with https://github.com/GoogleContainerTools/skaffold/pull/2269, but while doing it bases were removed from kustomize. code in that pr needs to be somehow :tm: mangled to support the :latest of the :latests.

opening this issue on behalf of @dgageot  https://github.com/GoogleContainerTools/skaffold/pull/2269#issuecomment-508515009 who owns me a :beer: now

[2019-07-05 13:03] dgageot commented on #2360
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/2403

[2019-07-05 13:03] #2360 closed

[2019-07-05 13:04] dgageot commented on #1405
I'm going to close this issue since it seems to be fixed in master

[2019-07-05 13:07] jmcclell opened #2422 "Add support for alternative Kustomization config names"
### Expected behavior
When using `kustomization.yml` or `Kustomization` config files (as  opposed to the more common `kustomization.yaml`) Skaffold should function normally and watch all files in dev mode.

### Actual behavior
Skaffold fails to recognize these files as Kustomization configurations and it produces an error since the code expects `kustomization.yaml` to exist at the root of any Kust

[2019-07-06 00:54] jmcclell commented on #2421
@matti Duplicate of #2416, which is addressed in #2420

[2019-07-06 02:21] yoshwata commented on #2366
The mismatching of `image` is occurred in my environment at line [here](https://github.com/GoogleContainerTools/skaffold/blob/69a1e64502b8e010cedb713e468baba65da79633/pkg/skaffold/sync/sync.go#L179). `numSynced` never incremented, so files never synced.

`c.image` is gotten from kubernetes client, so it is always like `docker.io/yoshwata/yoshwata_test-file-sync:v0.32.0-86-g6bcaa54e-dirty`

`image`

[2019-07-06 06:36] dgageot commented on #2366
@yoshwata Thanks for the investigation! What I don't understand is why Kubernetes client gives you the image name without the digest (sha256). It doesn't happen on minikube, Docker Desktop, GKE, kind... I use the exact same version of Docker Desktop as you and I don't have this problem. Can you show me your `deployment.yaml`? Is there any way you could share a small project that has the issue?

[2019-07-06 10:23] #2421 closed

[2019-07-06 13:10] yoshwata commented on #2366
@dgageot I pushed all of my test project.
https://github.com/yoshwata/skaffold-file-sync-test

[2019-07-07 01:05] yoshwata commented on #2366
@dgageot I found the cause of the problem. `ImagePullPolicy: Always` disturbing to append digest of image.  I'll close this issue.

Sorry for bothering you.

[2019-07-07 01:05] #2366 closed

[2019-07-07 17:05] giladsh1 opened #2425 "feature request: support callback for custom actions"
It would be awesome if skaffold would support callbacks for lifecycle hooks.
Skaffold will publish lifecycle events, and allow the user to hook into these events by running a custom command/script when they occur.

IMHO These callbacks can have major befits for the development / deployment process, and make skaffold a true "one stop shop" tool.

some examples -

1. create a `beforeDev` callback, w

[2019-07-07 17:27] giladsh1 opened #2426 "feature request: support forcing a context and a namespace for a profile / command"
It would be awesome if skaffold will support forcing a kube context and/or namespace for a specific profile and/or command.
For example, when running the `skaffold dev` command make sure the current context is Minikube or otherwise exit with error.

I suggest adding to the `deploy` section the following keys -
[code]

We use skaffold to develop and deploy applications with Minikube and GKE.
Unfort

[2019-07-08 06:14] dgageot commented on #1928
@tuapuikia @slowr Have you tried with a recent version of Skaffold?

[2019-07-08 06:14] dgageot commented on #1720
@scottwilson312 Have you tried a recent version of Skaffold? It contains a few bug fixes to the logs

[2019-07-08 06:17] dgageot commented on #239
@dcherniv @tjerkw @sboardwell Have you tried with a recent version of Skaffold?

[2019-07-08 13:22] dgageot commented on #1677
Fixed with #2065

[2019-07-08 13:22] #1677 closed

[2019-07-08 13:31] dgageot commented on #2320
There's no more TestWatch test

[2019-07-08 13:31] #2320 closed

[2019-07-08 14:14] poikilotherm opened #2431 "Add support for "kubectl apply -k" in addition to "kustomize""
This is a feature request, not a bug report.

Currently, with v0.33.0 you can use either `kubectl` or `kustomize` deployer.
When a `kustomization.yaml` file is present, the `kubectl` deployer fails, as validation is failing (see also kubernetes-sigs/kustomize#738).

On the other hand, I need to install standalone `kustomize` binary for kustomize deployer, when I could as well use `kubectl apply -k

[2019-07-08 14:22] poikilotherm opened #2432 "Ignore kustomization.yaml when using kubectl deployer"
### Expected behavior
When using a `kubectl` deployer with
[code]
or similar, deploymens should succeed, as `kustomization.yaml` files are filtered from the glob match.

### Actual behavior
When a `kustomization.yaml` is present in the manifests, validation will fail due to kubernetes-sigs/kustomize#738. This will fail deployment, too, while `kubectl` is otherwise only printing warnings, but deplo

[2019-07-08 14:44] alnr commented on #1937
You can get a step close by passing the `--dry-run` and `--output=yaml` flags to your deployer (specify in `skaffold.yaml`):

    deploy:
      kustomize:
        path: Infrastructure/dev
        flags:
          apply:
            - --dry-run
            - --output=yaml

Unfortunately, the output is interleaved with skaffold logging. The global `-v` flags to skaffold don't work as expected.

[2019-07-08 15:05] alnr commented on #1739
Note you can pass the `--dry-run` flag to your deployer of choice, but output is interleaved with skaffold logging (see https://github.com/GoogleContainerTools/skaffold/issues/1937#issuecomment-509255138)

[2019-07-08 15:05] alnr commented on #1435
Note you can pass the `--dry-run` flag to your deployer of choice, but output is interleaved with skaffold logging (see https://github.com/GoogleContainerTools/skaffold/issues/1937#issuecomment-509255138)

[2019-07-08 15:05] alnr commented on #1187
Note you can pass the `--dry-run` flag to your deployer of choice, but output is interleaved with skaffold logging (see https://github.com/GoogleContainerTools/skaffold/issues/1937#issuecomment-509255138)

[2019-07-08 15:06] dgageot commented on #1909
@balopat @corneliusweig I have a prototype working with https://github.com/chromedp/chromedp. The idea is to run the docs site and ask chrome headless to grab the page and wait until some content is displayed.

[2019-07-08 15:10] #2268 closed

[2019-07-08 16:31] #2401 closed

[2019-07-08 16:40] dgageot commented on #2294
Fixed with https://github.com/GoogleContainerTools/skaffold/pull/2419

[2019-07-08 16:40] #2294 closed

[2019-07-08 16:41] dgageot commented on #2372
I'm going to close this one because `skaffold run` does the job

[2019-07-08 16:41] #2372 closed

[2019-07-08 16:52] cmoad commented on #2408
I'm seeing this exact issue after upgrading from 0.32.0 to 0.33.0.

Skaffold command:
[code]

[2019-07-08 17:31] priyawadhwa commented on #2426
cc @corneliusweig, this is related to your work on configuring kube contexts!

design proposal: #2384

[2019-07-08 17:38] priyawadhwa commented on #2431
Hey @poikilotherm thanks for opening this feature request, you make some good points and I definitely agree it's an important feature to add.  We have an open issue for this (#1781) and we are planning on getting to this soon! I'm going to close this issue as a dupe of the other one, but until we add this feature in you can work around it by specifying `-k` as an additional flag to pass to kubectl

[2019-07-08 17:38] #2431 closed

[2019-07-08 17:50] #1919 closed

[2019-07-08 18:04] priyawadhwa commented on #2168
Hey @twuttk --the field `reproducible: true` would need to be added to the `KanikoArtifact` for this to work. Would you be interested in submitting a PR?